[2014-07-01 13:55] mikefantini commented on #1083
yeah that makes sense to me

[2014-07-01 13:55] #1083 closed, assigned to nobody

[2014-07-01 15:42] #2721 closed, assigned to nobody

[2014-07-01 15:53] tjrosario commented on #1195
@mikefantini @barryclark, without getting hacky, the markup for modals would have to appear after these two columns.  Is there any other reason why these links appear in the 'Problem' column other than to even out white space?  This is how it would look if it did:
![image](https://cloud.githubusercontent.com/assets/1566749/3445469/d60fb8f2-0137-11e4-8a0d-5131e92510c7.png)

[2014-07-01 15:54] barryclark commented on #1372
Sounds good, thanks @mikefantini

[2014-07-01 15:54] #1372 closed, assigned to nobody

[2014-07-01 15:57] marahml commented on #2686
@jonuy that works! as long as the RB keyword isn't being advertised anywhere, we can deactivate and use for other flows.

[2014-07-01 15:59] mikefantini commented on #1195
@tjrosario yeah it's just to even out white space. when there is a PSA those flip over to the solution side (and then on mobile are below the solution).

![image](https://cloud.githubusercontent.com/assets/6330971/3445545/6bee78b8-0138-11e4-8e0c-ffb2b4a8b014.png)

![image](https://cloud.githubusercontent.com/assets/6330971/3445553/7a1c1882-0138-11e4-97c6-bfa6953f6941.png)

But @tjrosario if this i

[2014-07-01 15:59] #1195 closed, assigned to tjrosario

[2014-07-01 16:02] aaronschachter commented on #2686
Sounds good. This should then become part of the process for closing a campaign... which we should add to the wiki we need to build for administering the site.  Once the keyword is de-activated, this issue can be closed.  @marahml Is that something to handle on your end?

[2014-07-01 16:30] DFurnes commented on #1862
Fixed by removing alternate button sizes from Neue.

[2014-07-01 16:30] #1862 closed, assigned to tjrosario

[2014-07-01 16:31] DFurnes commented on #2266
Fixed by removing alternate button styles from Neue.

[2014-07-01 16:31] #2266 closed, assigned to DFurnes

[2014-07-01 16:38] DFurnes commented on #1784
Will be updated in the next Neue release alongside some other code cleanup.

[2014-07-01 16:38] #1784 closed, assigned to DFurnes

[2014-07-01 16:39] DFurnes commented on #2445
Fixed by removing alternative button styles in the latest Neue release.

Leaving this issue open as a reminder to remove those classes from the markup so we don't get any surprises if we reuse those class names later on.

[2014-07-01 16:40] DFurnes commented on #2429
Fixed in the latest Neue release. Leaving #2445 open to address the leftover classes in the markup.

[2014-07-01 16:40] #2429 closed, assigned to tjrosario

[2014-07-01 16:55] DFurnes commented on #1769
Fixed this up in DoSomething/neue#315.

[2014-07-01 16:55] #1769 closed, assigned to nobody

[2014-07-01 17:00] DFurnes commented on #1376
Removed in DoSomething/neue#315 and everything seems good. Closing.

[2014-07-01 17:00] #1376 closed, assigned to nobody

[2014-07-01 17:35] aaronschachter commented on #2579
I need to add to this function to support an alternate header image override.  I can clean this stuff up -- it's happening because we need to check to see if a node exists before checking its type, and also not every Image will have a dark image field value set, since it was introduced after we started adding Image nodes.

[2014-07-01 18:14] #2579 closed, assigned to aaronschachter

[2014-07-01 18:25] aaronschachter opened #2726 "Campaign: Refactor custom vars"
- [x] Drop the newly created `field_variables` field collection and the `field_variable_name` and `field_variable_value` tables.
- [x] Update `dosomething_campaign` feature accordingly.
- [x] Create a `dosomething_helpers_variable` table, which will hold all of the non-content variables, such as Alternate Cover Image nid, Alternate BG fid, Mailchimp Grouping ID.  Schema:
  - [x] entity_type
  - [x

[2014-07-01 18:40] aaronschachter opened #2727 "Creative team role"
- [x] Add new permission "edit campaign overrides"
- [x] Implement `dosomething_campaign_form_alter` to only display the Variables field if the user has permission to edit overrides
- [x] Create "creative team" role which is granted the "edit campaign overrides" permission

[2014-07-01 19:30] #2727 closed, assigned to nobody

[2014-07-01 20:06] deezone commented on #2718
@aaronschachter I'll need to sit down with to you as I'm not able to get a `fids` value out of `$reportback = reportback_load($entity->rbid);` in `dosomething_reportback_entity_insert($entity, $type)`. WIthout the `fids` value I'm blocked on this issue.

[2014-07-01 20:31] crystalruthbell opened #2729 "Campaign Close - Funky arrow in header"
![arrow](https://cloud.githubusercontent.com/assets/6550604/3448865/bf67af48-015e-11e4-81dd-7f094e835aab.png)

Screenshot above is from campaign closed state for comeback clothes

[2014-07-01 20:32] DFurnes opened #2730 "Homepage still shows cached old version for logged-out users"
Varnish seems to be caching an old version of the homepage (v0.2.114), rather than the updated version v0.2.120 that is served to logged in users (or shown if bypassing Varnish).

![screen shot 2014-07-01 at 4 29 41 pm](https://cloud.githubusercontent.com/assets/583202/3448861/b9329250-015e-11e4-9987-4c883778c903.png)

![screen shot 2014-07-01 at 4 30 11 pm](https://cloud.githubusercontent.com/ass

[2014-07-01 20:33] crystalruthbell opened #2731 "Closed Campaign - Center participants"
Both the left and right columns featured below should be vertically centered on either side of the vertical rule.

The image below shows that happening on the right but not left. Page = COMEBACK CLOTHES

![screen shot 2014-07-01 at 4 32 20 pm](https://cloud.githubusercontent.com/assets/6550604/3460375/b9f1f4e8-0216-11e4-9e91-b8159e93c8ed.png)

[2014-07-01 20:38] DFurnes commented on #2730
Fixed with help from @mshmsh5000!

[2014-07-01 20:38] #2730 closed, assigned to nobody

[2014-07-01 20:39] crystalruthbell opened #2733 "Campaign Close - Duo Gallery Padding"
The duo gallery in comeback clothes seems to have too much white space at the end of the design.

PAGE = COMEBACK CLOTHES

![screen shot 2014-07-01 at 4 38 02 pm](https://cloud.githubusercontent.com/assets/6550604/3448956/d2df841e-015f-11e4-9c11-f97d7f7509aa.png)

[2014-07-01 20:42] #2711 closed, assigned to aaronschachter

[2014-07-01 20:45] aaronschachter opened #2734 "Add campaign class properties"
Blocks #2712

Add properties for:
- [x] `$campaign->is_staff_pick`
- [x] `$campaign->image_cover['src']`

Should unset the `$campaign->variables` property when outputting content to endpoint.  Possibly pass a parameter to `dosomething_campaign_load($node, $public = FALSE)`.  If `$public` is TRUE, hide non-content variable data type stuff.

[2014-07-01 21:00] jonuy commented on #2210
@aaronschachter @mikefantini Tested just now. On SMS it's still just asking for how many you shared with and why. Report back went through successfully and I verified it showed up on our backed. If we're cool with still just asking that instead of "who did you share with, etc", then we're good.

[2014-07-01 21:01] aaronschachter commented on #2712
This will be up on prod upon our next prod deployment -- it's currently live on staging:

[code]

[2014-07-01 21:05] aaronschachter commented on #2583
This is another instance where a redirect has been created to itself, most likely because an editor changed the title from A to B, and then changed it back to A again (the system is configured to create alias redirects upon any title change)

![screen shot 2014-07-01 at 5 03 30 pm](https://cloud.githubusercontent.com/assets/1236811/3449245/72857430-0163-11e4-940f-cbcc7090912e.png)

I've manually d

[2014-07-01 21:05] #2583 closed, assigned to nobody

[2014-07-01 21:12] aaronschachter commented on #2306
@DFurnes @barryclark This was more for a cleaner way to track the user's browser information when we submit to Zendesk.  If what we have now is sufficient, I'm happy to close this one - thoughts?

[2014-07-01 21:29] mikefantini commented on #2210
@jonuy estimate on how long it would take to add this in?

[2014-07-01 21:31] DFurnes commented on #2306
That sounds fine to me. It doesn't seem like we'll be dealing with too many tickets like this, and it's easy enough to copy and paste the User Agent string into something like http://www.useragentstring.com manually when we do.

[2014-07-01 21:37] #2306 closed, assigned to nobody

[2014-07-01 22:28] #2734 closed, assigned to aaronschachter

[2014-07-02 11:49] barryclark commented on #2306
:+1:

[2014-07-02 13:28] aaronschachter commented on #2718
My apologies @DeeZone  -- tested this out for a new reportback and indeed there are no `$fids` present when the Reportback is loaded in `dosomething_reportback_entity_insert`.  What's the timeline on this one?

[2014-07-02 13:36] deezone commented on #2718
This functionality comes out of  a request from @joshcusano and the real-time dashboard project. I'll leave it to Joe to define the timeline for this functionality.

[2014-07-02 13:40] aaronschachter commented on #2718
Actually I see why it's failing -- working on a fix.

[2014-07-02 13:41] itsjoekent commented on #2718
Thanks @aaronschachter

[2014-07-02 13:50] aaronschachter commented on #2718
Hm, not as easy as I thought. When do you need this by @deadlybutter ?

[2014-07-02 13:53] itsjoekent commented on #2718
Sooner is better than later, it's one of the few things left thats blocked

[2014-07-02 13:58] aaronschachter commented on #2714
Update issue description and title.

[2014-07-02 14:39] tjrosario commented on #2729
@crystalruthbell are you still able to reproduce this?  I've checked staging and prod and can't seem to.

[2014-07-02 14:49] jonuy commented on #2210
@mikefantini Probably a day.

@marahml ^^^

[2014-07-02 14:54] aaronschachter commented on #2726
Chatted with @blisteringherb about the best way to keep non-contenty settings like Alternate Colors, or Header Image fids, or Mailchimp ID's without using Drupal fields.

The `field_variables` field collection just feels too crazy and tough to get variables out of.  Updating this issue with the steps we discussed for a content-type agnostic solution moving forward.

[2014-07-02 15:20] aaronschachter commented on #2706
Seems like this is good to go on production, i've flagged my own reportback, which seemed to cause the wrong files to show up in the gallery -- and all closed galleries look good now.

cc: @mikefantini

[2014-07-02 15:24] tjrosario commented on #2731
Missing screenshot :)

[2014-07-02 15:24] joolaay commented on #2646
@barryclark there are 3 static content pages waiting on this. Can we get it assigned to a bender soon? cc  @mikefantini

[2014-07-02 15:30] #2733 closed, assigned to tjrosario

[2014-07-02 15:50] aaronschachter commented on #2607
Noooooo!  I've seen this now.  I ran a `drush updb` locally on a branch I'mw orking on, and get

Fatal error: Unsupported operand types in /var/www/vagrant/html/profiles/dosomething/modules/contrib/flag/includes/flag/flag_flag.inc on line 132

I ran drush cc all, and then it found some stuff I did wrong (was including a wrong file).  Fixed that stuff and the error went away.

[2014-07-02 15:58] barryclark commented on #2646
@tjrosario Did you already port the thumbnail gallery (I'm assuming that's the social gallery) into neue. Any update on the ETA of that? cc @DFurnes

[2014-07-02 16:41] mikefantini commented on #2646
hey sorry late to the game on this..

@julielorch so the way we have this set up now on campaign runs is that a user selects which type of gallery they want to display. Currently the options are Press, Celeb Mention, and Celeb in Action. Celeb Mention is the one that gets put into the two column display.

Does this "Celeb Mention" distinction work for you or are there any other gallery types you'd

[2014-07-02 16:52] crystalruthbell opened #2738 "SMS Games Page - Floating Arrow"
Can we tighten the space between this arrow and this text? It may look better with it centered while you are at it. Just ping me on hipchat with your recommendation.

On BACKSEAT DRIVER:
![screen shot 2014-07-02 at 12 50 33 pm](https://cloud.githubusercontent.com/assets/6550604/3459132/31104e16-0209-11e4-8e26-c8c682067ace.png)

Mocks:
![screen shot 2014-07-02 at 12 52 49 pm](https://cloud.githubus

[2014-07-02 16:54] aaronschachter commented on #2676
Implementing a table in DS Helpers called `dosomething_helpers_variable` to store this information. See #2726

[2014-07-02 16:59] crystalruthbell opened #2739 "The Hunt - Unreadable arrows"
It seems like this arrows and handwritten text have started to cause a lot of trouble so just grab me if you think we should talk through a better system for this stuff.

Here is how the header image on the hunt is overlapping text and making it less readable.

![screen shot 2014-07-02 at 12 56 46 pm](https://cloud.githubusercontent.com/assets/6550604/3459207/28e90574-020a-11e4-9fea-a867b2805979.p

[2014-07-02 17:06] crystalruthbell opened #2741 "Search - Photos are coming up as results"
They link off to a 404 page.

![screen shot 2014-07-02 at 1 05 24 pm](https://cloud.githubusercontent.com/assets/6550604/3459302/39ac6166-020b-11e4-9a19-b01c1f65c02e.png)

[2014-07-02 17:49] #2445 closed, assigned to tjrosario

[2014-07-02 17:52] barryclark commented on #1427
Shooting over to @sergii-tkachenko to take a look at when he has time. Dave mentioned that bower often complains about us using an old version of git. And git 2.0 is out now too.

[2014-07-02 17:58] barryclark commented on #1448
Passing on this one for now. :hand:

[2014-07-02 17:58] #1448 closed, assigned to nobody

[2014-07-02 17:59] #2676 closed, assigned to aaronschachter

[2014-07-02 18:04] barryclark commented on #1507
Was there any progress on this one @DeeZone?

[2014-07-02 18:05] aaronschachter commented on #1483
Updating this to drop connecting to Mailchimp to verify valid values.  The dropdown for Grouping ID is still valid though and should be handled along with #2258.

[2014-07-02 18:20] aaronschachter commented on #2676
This can be set in the Custom Settings form by entering the Node nid of the desired Image node.

![heaer-image-form](https://cloud.githubusercontent.com/assets/1236811/3460257/58479b4a-0215-11e4-90d3-ad5376978f7e.png)

Working on porting over all variables into this form to keep it all in one place / table per #2726

[2014-07-02 18:29] crystalruthbell commented on #2731
the trickery. @tjrosario I have included for your eyeballs benefit.

[2014-07-02 18:30] blisteringherb commented on #2587
For the /campaigns page, we're using a hardcoded xml file in the solr conf to make sure that certain campaigns are listed first and in a specific order.  Any boosts or weighting we add doesn't give us the control the product owners wanted over which items appear first on that page.

Setting the campaign status to 'closed' should remove the item from the finder.

[2014-07-02 18:39] crystalruthbell opened #2744 "Action Page - Styling Error"
Styling is getting weird in step two (spacing and header style coloring)
https://www.dosomething.org/campaigns/hunger-games

![screen shot 2014-07-02 at 2 37 59 pm](https://cloud.githubusercontent.com/assets/6550604/3460524/0daed8e8-0218-11e4-9f0c-590ebaa054d0.png)

[2014-07-02 18:42] marahml commented on #2686
I think so - unless its in an mdata. @jonuy what is the keyword? I don't see a CC campaign in mobile commons anymore.

[2014-07-02 18:49] barryclark commented on #2587
@blisteringherb Great that setting it to closed will remove it from the finder!

Follow up question on /campaigns: Deluca is currently the QB of specifying which campaigns he'd like to appear on the homepage. https://beta.dosomething.org/node/1141/edit

Is there a way to use this, or create another similar node that the campaigns team could administer for /campaigns? Then maybe the first set of ca

[2014-07-02 19:36] blisteringherb commented on #2587
We can definitely do something like that.  For purposes of prioritizing that work, we currently have 2 campaigns left that are hardcoded, so once those are closed there won't be any more manual tasks, unless we need to add more to that list in the interim.

[2014-07-02 19:47] #2673 closed, assigned to nobody

[2014-07-02 20:08] barryclark commented on #2587
Chatted with @blisteringherb about this. Next step is on me to speak with Deluca and check if the campaigns team will be happy with pulling in the same order as the homepage and using that as the display order of the campaigns on /campaigns.

If so then we could display the 10 campaigns from the homepage first, then the rest of the campaigns after. Using a filter on the view to remove duplicate ca

[2014-07-02 20:12] #2726 closed, assigned to aaronschachter

[2014-07-02 20:16] aaronschachter opened #2746 "Campaign: Refactor signup form button text"
There's a lot of different ways we're implementing this:
- For a standard campaign, there is a variable to override.
- For Grouped Campaigns, it's a field `field_signup_form_button_text`.
- For a SMS Game, they all use the the variable set on the Campaign Configuration form.

Cleanup:
- [x] Implement a `dosomething_helpers_variable` for a Signup Form label. If not set, a Campaign / Grouped Campaig

[2014-07-02 20:23] aaronschachter commented on #1517
Older than but duplicate of #2561 -- which seems to have been fixed by a dev commit of Field Collection https://github.com/DoSomething/dosomething/commit/e8075e3692be2b41eff3dfd66b4dff04fbe9a238

[2014-07-02 20:23] #1517 closed, assigned to nobody

[2014-07-02 21:02] crystalruthbell opened #2747 "Campaign Close - New scholarship winner background"
We want to add a background to the background of the action page's scholarship winner section at the bottom. .

DEFAULT FOR ALL CLOSED PAGES
![stars_purple300-01](https://cloud.githubusercontent.com/assets/6550604/3462297/0b5ab1a2-022c-11e4-9c50-4f1415d96e01.jpg)

CORPORATE PARTNER CUSTOMIZATION FOR COMEBACK CLOTHES
![stars_red300-01](https://cloud.githubusercontent.com/assets/6550604/3462302/1fe6

[2014-07-02 21:18] aaronschachter commented on #2646
Meeting w @julielorch and @mikefantini:

We need to add a `field_gallery_style` field added to the `field_gallery`, which determines how a Gallery will be rendered (2 column or 3 column, or whatever styles we want).

The Gallery Type (Press, Celeb Mention, Action) is more around categorizing the type of data we're displaying.  We don't need to worry about it for Static Content -- it's a data point

[2014-07-02 21:22] aaronschachter opened #2748 "Static Content gallery: Gallery Style field"
Refs #https://github.com/DoSomething/dosomething/issues/2646#issuecomment-47838136

[2014-07-02 21:23] barryclark commented on #1540
@mikefantini I don't think this is a problem any more as BIG buttons are gone from the site completely. Happy to close this out?

[2014-07-02 21:24] aaronschachter opened #2749 "Static Content gallery: Theme based on Gallery Style field value"
Refs #2646 - blocked by #2748

`dosomething_static_content_preprocess_gallery_vars` is now adding a `style` variable for each Gallery.

`default`: Should be rendered as is.

`2col`: The 2 column style as per the Closed Campaign

`3col_short`: The 3 column style per the Press gallery

These values are defined on the `field_gallery_style` content type.

[2014-07-02 21:27] crystalruthbell opened #2750 "Scholarships - Updated Language"
We need to update all handwritten scholarship call outs to say:
Win a $10,000 scholarship!

Below are the three locations where this needs to be updated. Please grab me to help with where line breaks could should/go.

SMS GAME TEMPLATE

![screen shot 2014-07-02 at 12 56 30 pm](https://cloud.githubusercontent.com/assets/6550604/3462622/631b817a-022f-11e4-8d56-0f70d6947f8a.png)

GROUPED CAMPAIGN TEM

[2014-07-02 21:27] aaronschachter commented on #2646
@julielorch @mikefantini what should the options read as for the Gallery Style select list?

[2014-07-02 21:30] barryclark commented on #2749
For my own reference: Need to be able to use the 3 different gallery types used here https://www.dosomething.org/campaigns/comeback-clothes

[2014-07-02 21:49] #2731 closed, assigned to tjrosario

[2014-07-02 21:56] barryclark commented on #2750
Shooting over to @tjrosario, thanks!

[2014-07-02 22:03] mikefantini commented on #2646
@aaronschachter let's go with:
- three column
- short three column
- two column

[2014-07-02 23:45] aaronschachter commented on #2221
Fixed by https://github.com/DoSomething/dosomething/commit/da245d19280919f806fae2e0ad700a351fa52f67#diff-4853f3bfe84346585812ac00c3a356e3

[2014-07-02 23:45] #2221 closed, assigned to nobody

[2014-07-02 23:46] aaronschachter commented on #2388
Assigning to @blisteringherb

[2014-07-02 23:50] aaronschachter commented on #2209
Related to work I'm doing for #2746. Css overrides have already been moved.

[2014-07-02 23:54] aaronschachter opened #2753 "User username not always saved as UID"
Inconsistent usernames -- not only for legacy imported users, but for new users which are  as well, sometimes they still have a random string set as their username (see #2632).

Makes it difficult to select users within the Winners field collection.

[2014-07-02 23:58] aaronschachter commented on #2632
What we need to do for this one is override this string to NOT display the username, as it could be a UID, a password (see #2753), or an actual name (Aaron Schachter3).  Unfortunately I don't think we have access to user tokens like email or first name here, because the quickest solution would be to add a replacement string to our settings.php: https://github.com/DoSomething/dosomething/blob/dev/c

[2014-07-03 00:03] aaronschachter commented on #2096
@blisteringherb -- This is still an open issue as we could use some documentation for local setup, so other devs can jump in when needed.  Changing priority to label to "low" though.

[2014-07-03 00:11] aaronschachter commented on #1783
I haven't seen this in so long, I don't even remember creating this issue. Closing.

[2014-07-03 00:11] #1783 closed, assigned to nobody

[2014-07-03 00:12] aaronschachter commented on #1711
@DFurnes Is this still valid?  This should be resolved by the Home node's `field_campaigns`, no?

[2014-07-03 00:16] aaronschachter commented on #1566
@blisteringherb @desmondmorris Going thru old issues - is this one still valid?

[2014-07-03 00:19] aaronschachter commented on #1553
@desmondmorris Do we still need this?

[2014-07-03 00:22] aaronschachter commented on #1061
Seems we've all been ok with the image files living in the directories they've been living in (the default). Can always re-open if anyone feels otherwise.

[2014-07-03 00:22] #1061 closed, assigned to nobody

[2014-07-03 00:25] aaronschachter commented on #1509
This one's been open for a while, and doesn't seem to have caused too much pain, since it's really only an internal issue.  Since we're getting way close to completely ditching the live legacy site, I think it's fine to close this one out too.

[2014-07-03 00:25] #1509 closed, assigned to nobody

[2014-07-03 00:37] aaronschachter commented on #1659
@blisteringherb -- Is this still an issue?

[2014-07-03 00:38] aaronschachter commented on #1573
We do this. Except for the whole master branch thing. But who needs that.  We have releases and so far so good. Closing.

[2014-07-03 00:38] #1573 closed, assigned to nobody

[2014-07-03 00:39] aaronschachter commented on #2314
This one is definitely still valid. Updated issue with forms to update.

[2014-07-03 00:42] aaronschachter commented on #1325
The File Entity module has already added Image Alt and Image Title fields to the database, we just haven't exported them to features yet.  Perhaps it makes sense to add them to the Image content type as well, in the interest of sharing fields / less tables.

[2014-07-03 00:43] aaronschachter commented on #1325
So -- it's not too quick but not super difficult either. we'll need to add the existing fields to the content type, and then update the`dosomething_image_get_themed_image` function to use those fields when it loads the Image node.

[2014-07-03 01:30] DFurnes commented on #1711
Yup, been fixed for a long time. Closing!

[2014-07-03 01:30] #1711 closed, assigned to nobody

[2014-07-03 12:24] aaronschachter commented on #2362
@marahml Just following up on this.  I want to avoid calling it something like "Transactional Email Copy" in the database because I can see us possibly using this content in other places as well, like on the User Profile where a user can view the campaigns they have signed up for but not reported back yet.  Would it be safe to say that this is kind of like a "Getting Started Overview" ?  or is it

[2014-07-03 13:14] #2209 closed, assigned to aaronschachter

[2014-07-03 13:14] #2746 closed, assigned to aaronschachter

[2014-07-03 13:23] aaronschachter commented on #2646
Just to confirm: "three column" is the standard style that's applied now right?

Because none of these galleries will have a `field_gallery_style` value present, I suggest we build this such that if a value is not set, it defaults to "three column", assuming that's the style we currently have site-wide.

So, we actually only need two options to choose from in the select list: the "short three colu

[2014-07-03 13:29] aaronschachter opened #2755 "File usage: Alt BG Fid"
If a File fid is set as an Alt BG Fid, update its usage within `dosomething_helpers_variable_form_submit`.

[2014-07-03 13:41] aaronschachter commented on #2646
Also if we need any help text for this field, can you pls provide.

[2014-07-03 14:09] joolaay commented on #2646
Looks good to me. Help text "This gallery defaults to the standard row of three squares. For a row of three short rectangles, please use 'short three column'. For a row of two small squares with text to the side, please use 'two column'. Any questions, see Julie."

[2014-07-03 14:25] marahml commented on #2362
@mikefantini sweet. love that it could have multiple uses.

I think there are really 2 needs:
1. a getting started overview - that has a starter statement for your campaign that could be used in email and other places
2. a dynamic field that can override the content in emails (and maybe sms in the future) with updates about the campaign

Thoughts?

[2014-07-03 14:43] blisteringherb commented on #1575
Here's a link to the Jenkins job that enables Stage File Proxy in QA - http://cerebro.dosomething.org:8080/job/Enable%20Development%20Tools

@aaronschachter

[2014-07-03 14:44] aaronschachter commented on #2362
They sound like two different fields then. Is the immediate need for the first, for better copy within the signup transactional?

[2014-07-03 14:52] blisteringherb opened #2757 "Refactor settings.php files"
There's a lot of overlap in the settings.php files that should be eliminated.

[2014-07-03 14:53] aaronschachter commented on #1575
Gotcha... looks like it's working correctly in QA.  Is there anything else we need to do on this one, or can we close this @blisteringherb ?

[2014-07-03 14:54] aaronschachter commented on #1575
Oh. Part of the issue description is to enable in Vagrant.... eliminating the need for `ds pull stage --files` anymore.

[2014-07-03 15:03] #2748 closed, assigned to aaronschachter

[2014-07-03 15:11] mikefantini opened #2758 "[campaign template] - add markdown to field_solution_support"

[2014-07-03 15:52] #2750 closed, assigned to tjrosario

[2014-07-03 15:56] #303 closed, assigned to nobody

[2014-07-03 16:04] aaronschachter commented on #2747
This will require bender work too if each campaign can have a customized background.

[2014-07-03 16:07] blisteringherb commented on #2741
Fixed this yesterday, for some reason the image and other content types that shouldn't show up in search were selected in the settings.  They are set correctly in the exported solr settings, but it appears that those settings weren't respected for some reason.

[2014-07-03 16:09] barryclark commented on #2749
Shooting you over this one, @tjrosario. @aaronschachter will connect with you on the details of it. cc @mikefantini

[2014-07-03 16:11] crystalruthbell opened #2761 "Campaign Close - Additional call out"
Add an additional handwritten call out to the campaign close template for an OPTIONAL custom text field that would give content creators the opportunity to celebrate their wins.

We we can offer this for both sides that would be GREAT but if we can only build on one side then please format as mocked below on comeback clothes.

![screen shot 2014-07-03 at 12 09 15 pm 1](https://cloud.githubusercont

[2014-07-03 16:12] crystalruthbell commented on #2761
@mikefantini this is a new request so I just wanted to loop you in to prioritize.

[2014-07-03 16:38] aaronschachter commented on #2758
We will have the same issue here as we do for #2562. We'll want to remove the leading `<p>` tags from the template, since the copy will be entered as Markdown, but the older field values will need it since they were saved as Plain text.

[2014-07-03 18:18] DFurnes opened #2762 "Subtitle is missing on pitch page"
The subtitle field seems to be missing on the pitch page.

![screen shot 2014-07-03 at 2 14 25 pm](https://cloud.githubusercontent.com/assets/583202/3473997/68cd7920-02de-11e4-952e-514581327783.png)

[2014-07-03 18:19] #2762 closed, assigned to nobody

[2014-07-03 18:22] DFurnes opened #2764 "Gallery display issue"
Galleries on static content look wonky.

![screen shot 2014-07-03 at 2 22 13 pm](https://cloud.githubusercontent.com/assets/583202/3474053/087ec532-02df-11e4-9c8b-a17ff247e872.png)

[2014-07-03 18:23] DFurnes commented on #2764
![screen shot 2014-07-03 at 2 22 51 pm](https://cloud.githubusercontent.com/assets/583202/3474058/1337863a-02df-11e4-9340-adf2156aa1da.png)

[2014-07-03 18:28] #2764 closed, assigned to nobody

[2014-07-03 19:09] mikefantini opened #2765 "[campaign template] - Do It image not showing up on mobile"
On mobile, the field_image_step_gallery from the Do It gallery is not being pulled in properly.

It should be pulling in the landscape crop that is uploaded.

[2014-07-03 19:15] barryclark commented on #2765
@tjrosario Could you take a look at this one please? We need to get a fix on prod by EOD Monday. Thanks!

[2014-07-03 19:20] #2741 closed, assigned to blisteringherb

[2014-07-03 19:57] #2562 closed, assigned to aaronschachter

[2014-07-03 19:57] #2758 closed, assigned to aaronschachter

[2014-07-03 22:02] blisteringherb commented on #1566
All of the Solr settings are either in environment variables, settings.php or both.  The issue is that the apachesolr environments.inc file defines the host, port, and path, and while those are set to use variables, they do end up cached in the db.  Clearing cache should fix the issue, but if not, we might to implement something more heavy handed to make sure it's always using the right solr urls.

[2014-07-03 22:19] aaronschachter opened #2771 "Campaign object caching"
Implement a custom cache table to store the Campaign object returned by `dosomething_campaign_load`.
- [ ] Insert/update cache record upon node insert/update
- [ ] Return cache record within `dosomething_campaign_load`
- [ ] Add extra param to `dosomething_campaign_load` to bypass cache

[2014-07-03 22:21] deezone commented on #2771
Perhaps insert on node create - type "campaign" or "grouped campaign"?

[2014-07-03 22:23] aaronschachter commented on #2771
Needs both insert and update.  Right now there is no class / endpoint for a Grouped Campaign.. but we can add that in.  I guess we need it for transactionals?  Or is that a separate transaction (campaign vs campaign_group)

[2014-07-03 22:28] deezone commented on #2771
In terms of the Message Broker they're the same - a user campaign activity can be either. Ideally they would both be available in a request to /api/v1/content/<nid>

[2014-07-03 23:16] deezone opened #2772 "Create Active Campaigns Endpoint"
The real-time dashboard crew would like an endpoint to get the currently active campaign nids.

@aaronschachter suggests to "configure a Views resource for services, and return the view that powers /campaigns"
or
@blisteringherb
"morgan said possibly just querying SOLR directly"... "use the view thats configured via apachesolr_views module (which i think is just an add on to the Views UI) or possi

[2014-07-03 23:25] aaronschachter opened #2773 "Move Zendesk Group ID variables into DS Helpers Variables"
Move the `dosomething_zendesk` variables out of the `variable` table and into the DS Helpers variable system.

[2014-07-03 23:46] aaronschachter commented on #877
Related trello card https://trello.com/c/bFbddyup

[2014-07-03 23:53] deezone commented on #1507
@barryclark Nope but I hope to have some extra bandwidth next week. I'll add this to my list.

[2014-07-04 00:03] aaronschachter opened #2774 "API - Reportback endpoint"
Add an endpoint to submit a user reportback for a campaign.  Needs to support passing a URL to a file, and then creating a file from it.

@jonuy mentioned this could be a stepping stone toward removing the `dosomething_sms` module out of the repo to live elsewhere.

For now, access rules are as follows:

Users with administrator access should be able to create reportbacks for any UID.  SMS Reportb

[2014-07-04 00:06] aaronschachter commented on #2772
Any objections to just defining this as **GET** `api/v1/campaigns` ?

[2014-07-04 00:15] aaronschachter opened #2775 "Reportback fid not accessible after insert"
Blocks #2718

The entity's fids array is not populated at the time that the MBP request is called, even though a `reportback_load` is called.

[2014-07-05 19:14] deezone opened #2776 "Campaign type and status not set"
The Message Broker system uses the **campaign type** and campaign **status** field values to determine if a user campaign signup should be included in their weekly digest message. It appears that many of the non staff pick campaigns do not have values in these fields even though the Campaign type field is required.

Do all of the campaigns need to be reviewed to set the values for these fields? Cu

[2014-07-05 23:32] aaronschachter commented on #2776
Ideally we should change the MB system to use values `$campaign->status` and `$campaign->type` from the Campaign class introduced by `dosomething_campaign_load`: https://github.com/DoSomething/dosomething/blob/dev/lib/modules/dosomething/dosomething_campaign/dosomething_campaign.helpers.inc#L66

The class handles the fact that not all campaigns have been saved with the default values by calling `d

[2014-07-06 03:33] deezone commented on #2776
The Message Broker system has made the switch to using the `api/v1/content/<nid>` endpoint for all campaign details. Once it's in production I'll start the process of removing the `mb-campaign-cache` code from `dosomething_mbp.module`.

I'm not sure what has changed but it appears more of the campaigns are returning values for `$campaign->status` and `$campaign->type` when the `api/v1/content/<nid

[2014-07-06 14:20] aaronschachter commented on #2776
It's do-able but we currently don't have any open issues for it (exporting prod db to stage).  However using QA to test should unblock you, since it has prod data.  I believe QA is only available while connecting to VPN though

Re: more values returned for status and type using the Campaign class:  https://github.com/DoSomething/dosomething/blob/dev/lib/modules/dosomething/dosomething_campaign/dos

[2014-07-07 11:19] #2775 closed, assigned to aaronschachter

[2014-07-07 13:27] aaronschachter commented on #2718
@DeeZone Per #2777, I've added an `$inserted_fid` variable into the `dosomething_reportback_mpb_request` function. The `dosomething_image_get_themed_image_by_fid` function takes a File fid and style/size params... if you need to get the image URL you may need to investigate some of the functions it calls.

[2014-07-07 13:41] aaronschachter opened #2779 "Move dosomething_helpers_preprocess_html to dosomething_metags"
Keep all the `drupal_add_html_head` stuff in one module, move this guy into `dosomething_metatags`, which I don't believe existed at the time we built this module.

[2014-07-07 15:49] mikefantini commented on #2765
photo should be displayed like this:

![image](https://cloud.githubusercontent.com/assets/6330971/3497729/3e56ef4c-05ee-11e4-82ed-38f7868e2960.png)

[2014-07-07 16:00] #1427 closed, assigned to sergiitk

[2014-07-07 16:33] aaronschachter opened #2781 "DS Helper migration cleanup"
Last of the DS Helper / Signup variable cleanup stuff for now.
- [x] Update the read-only subscribe variables to use DS Helpers values, move into custom-settings form and get rid of `dosomething_helpers_form_extras`
- [x] Rename general mobilecommons variables to use `opt_in_path`:
  - [x]  `dosomething_mobilecommons_general` => `dosomething_mobilecommons_opt_in_path_user_register`
  - [x]  `dosom

[2014-07-07 17:56] #2765 closed, assigned to tjrosario

[2014-07-07 18:12] #2258 closed, assigned to aaronschachter

[2014-07-07 18:39] aaronschachter opened #2783 "Campaign custom settings autocomplete"
Drupal core only ships with default autocomplete paths for taxonomy and users.

Ideally add two new paths to provide autocomplete Form API elements for:
- Image nodes, for the Alt Header image nid variable
- Files, for the Alt BG File fid variable

[2014-07-07 20:00] #2781 closed, assigned to aaronschachter

[2014-07-07 20:04] crystalruthbell commented on #1786
@weerd, I like it! what do you think?

[2014-07-07 20:05] weerd commented on #1786
I like it too :) I'll make the change globally. So it'll happen to all lists as you mentioned in the initial description and then check and see if it looks funky anywhere; but I think it should work ;)

[2014-07-07 20:33] #2298 closed, assigned to weerd

[2014-07-07 20:43] aaronschachter commented on #2776
@DeeZone Is this still a valid issue?

[2014-07-07 20:58] aaronschachter opened #2786 "Expose campaign_group nodes to Content API"
Refs https://github.com/DoSomething/dosomething/issues/2771#issuecomment-47991700

Create a similar class for Grouped Campaigns to return clean data if a `campaign_group` node is requested from the `/content` endpoint.

[2014-07-07 21:58] aaronschachter opened #2788 "Delete Helpers variables upon node delete"
Missed this when refactoring all the DS Helper custom var prefix stuff.
- [x] Quick fix -- Fatal error: Call to undefined function dosomething_helpers_get_custom_var_prefix() in /var/www/vagrant/lib/modules/dosomething/dosomething_campaign/dosomething_campaign.module on line 198
- [ ] Implement `dosomething_helpers_entity_delete`.  If an entity to be deleted has helpers variables present, delete t

[2014-07-07 23:23] mikefantini opened #2790 "[campaign template] - Do It image in wrong location on mobile/tablet"
Related to #2765 the image should be _above_ Snap a Pic, not below:

Live:
![image](https://cloud.githubusercontent.com/assets/6330971/3503246/8b809900-062d-11e4-912c-f28b20262549.png)

Mock
![image](https://cloud.githubusercontent.com/assets/6330971/3503248/938ca062-062d-11e4-9cc6-4f39cee55209.png)

[2014-07-07 23:26] mikefantini commented on #2790
Also on mobile/tablet it should be pulling in the landscape crop not the square crop

[2014-07-07 23:27] #2776 closed, assigned to nobody

[2014-07-08 00:19] aaronschachter opened #2791 "Facts: Refactor Sources copy field into separate fields"
Nice to have.

[2014-07-08 13:41] weerd commented on #1786
So once the new version of Neue is pushed up this should be updated! Here's the Neue fix for reference https://github.com/DoSomething/neue/pull/319 :tropical_drink:

[2014-07-08 13:41] #1786 closed, assigned to weerd

[2014-07-08 14:13] #2388 closed, assigned to blisteringherb

[2014-07-08 14:18] aaronschachter commented on #2230
Updated description. Going thru the confusion for the 5th Harmony campaign definitely reminded me of where this issue came from. Once we RIP Legacy, this should no longer be needed.

[2014-07-08 14:47] mikefantini opened #2792 "[SMS game] - don't make alpha and beta opt-in required"
we shouldn't have alpha and beta opt-in required on SMS games on http://beta.dosomething.org/admin/config/dosomething/optins

we should however still have that error message appear when a user is on an SMS game and the opt-in paths have not been set up

[2014-07-08 15:13] aaronschachter opened #2793 "Testing: Create a campaign node from json file"
Drush command which will read a JSON file, consisting of Campaign properties (per #2732) and values, and creates the node.

The capser.js test will also read from this file and test values against it for various fields.

[2014-07-08 15:59] weerd opened #2794 "[Static Content] Outputting empty gallery container if no galleries present"

[2014-07-08 16:05] #2296 closed, assigned to tjrosario

[2014-07-08 16:42] weerd commented on #2794
Turns out there was a single gallery image added that wasn't actually meant to be a gallery image within the CMS. Just updated and removed it. Solved the spacing issue.

[2014-07-08 16:42] #2794 closed, assigned to nobody

[2014-07-08 17:25] weerd commented on #2790
(Moving my comment from the PR into this issue)

@mikefantini or @crystalruthbell I'd argue that this isn't a content image and more of a design element and thus not required for mobile... might be something to address in future. It doesn't detract from the content message if missing on mobile. But probably a discussion for another day ;)

[2014-07-08 17:31] weerd commented on #2790
Also if we're calling landscape image on mobile as well as storing the square crop for the polaroid for desktop, then we're downloading 2 images on mobile; one of which isn't used unless viewing afterwards on desktop. Something to consider since it's an extra image download that can affect performance for mobile.

If performance is a concern, easiest solution is to not show an image on mobile and

[2014-07-08 17:41] DFurnes commented on #2790
+1 to using the same crop (square) on mobile for now.

Best solution would be adding `<picture>` support with something like [Picturefill](http://scottjehl.github.io/picturefill/) imo.

[2014-07-08 17:43] weerd commented on #2790
Yeah def. Picturefill would be ideal, and we could start harnessing it for other image needs throughout the site :)

[2014-07-08 17:43] mikefantini commented on #2790
@weerd @DFurnes including the image on mobile is mainly focused on breaking up all the text (which can get both a. boring and b. overwhelming especially on mobile).

Ideally it does also provide value as generally it is meant as another way to show the user others taking action (visually showing people how to do the campaign).

In terms of whether to call the square crop on both I totally hear the

[2014-07-08 17:47] weerd commented on #2790
Gotcha. Thanks for the input! Might be we add this to a refactor process once we take the plunge to using Picturefill throughout the site and start applying its awesomeness to different images across the site. :sun_with_face:

[2014-07-08 19:41] tjrosario commented on #2790
Closing since the issue above re: responsive images will be addressed in another ticket.

[2014-07-08 19:41] #2790 closed, assigned to tjrosario

[2014-07-08 19:42] #2616 closed, assigned to sergiitk

[2014-07-08 20:33] aaronschachter commented on #2674
Deploying to stage failed, because the `field_fact_collection` did not exist when running 7002, suggesting that the code added to manually revert the feature did not work.  This is kinda crazy because it worked for both me and @sergii-tkachenko.

[code]

[2014-07-08 22:49] #2718 closed, assigned to deezone

[2014-07-08 22:53] deezone commented on #2772
@aaronschachter @blisteringherb Does it make sense to add the "Services Views" https://www.drupal.org/project/services_views module to allow the use of views in service endpoints? I've created the view on my local, could it be as simple as pointing the view to a service entry?

[2014-07-08 22:59] aaronschachter commented on #2772
It's definitely a possible way we can implement it., that's what i was thinking along the first suggestion i had made in the comment above.. but we rarely use views on the site -- really only for /campaigns, which is where I hesitate on adding another module into the mix for just this single purpose....

I'd be tempted for us to create our own endpoint (The Drupalize me videos have great tutorials

[2014-07-09 14:30] deezone commented on #2772
Currently the dash board project is using a scraping script of the front page of the production site to get the info they need. This takes care of their immediate needs but I think it would be a good idea to create a more robust solution for the long term. No rush but there's a need.

I'm guessing you're referring to the Drupalize me video: http://drupalize.me/videos/writing-custom-services-resour

[2014-07-09 14:44] angaither commented on #2753
For some reason the `db_update` in `dosomething_user_user_insert` isn't always running, maybe we can add logging in there to see what's going on?

[2014-07-09 16:01] apatheticslacker opened #2800 "[Campaign Close] Search Bug"
I was running through some testing on prod when I noticed while searching for the Mind on my Money campaign, I noticed part of the search seems to be broken... ![image](https://cloud.githubusercontent.com/assets/7773483/3527138/f8cb93e8-0781-11e4-83e4-70c245906692.png)

[2014-07-09 17:04] weerd opened #2801 "[SSHFS] Creating new files creates additional "._filename.ext" files in same directory."
[code]

@sergii-tkachenko mentioned it's a SSHFS issue and will need to look into it.

[2014-07-09 17:05] aaronschachter commented on #2772
Yip that's the video / series.

[2014-07-09 17:09] sergiitk commented on #2801
Few references to investigate in future:
- http://stackoverflow.com/questions/21825237/how-to-prevent-dot-underscore-files
- https://code.google.com/p/macfusion/issues/detail?id=146

[2014-07-09 17:47] #2674 closed, assigned to aaronschachter

[2014-07-09 18:10] aaronschachter commented on #2793
@DFurnes - a heads up that i started on a function that creates a campaign based on json with keys per the `dosomething_campaign_load` definitions: https://github.com/aaronschachter/dosomething/compare/json_node

I plan to continue on it when i'm back in office next week ,but if you or anyone else interested in helping out with testing stuff has any interest before then, feel free to use that as a

[2014-07-09 21:47] #877 closed, assigned to nobody

[2014-07-09 21:48] mikefantini commented on #877
+1 I can't wait to never create a partner again

[2014-07-10 16:59] crystalruthbell commented on #2526
@mikefantini sorry for the delay on this. My notifications aren't properly set up.
1. I agree that primary button should get more space as secondary button. Let me now if I can review when a new spacing has been decided on (@weerd has a good eye so he can frame up, I just want to take a look when its done).
2. Official rules feels very low in this design. Is the coding that it comes after the last

[2014-07-10 17:01] crystalruthbell commented on #2747
@aaronschachter sorry, I was under the impression the functionality for customizing backgrounds here was already built. Yes, we would need that for certain.

[2014-07-10 18:24] weerd opened #2806 "[Global] Abstracting Info-Bar pattern markup into a template theme."
Turn the markup for the info-bar pattern footer that shows up on all campaign types and static pages into a template theme call, so the markup is defined in one place and another templates can call it via Drupal's theme function.

[2014-07-10 18:44] #2806 closed, assigned to weerd

[2014-07-10 19:02] mikefantini commented on #2747
@aaronschachter do we have to make it customized? Could we instead use one image and just use the alt color to customize as needed since it seems like only the color would change.

[2014-07-10 19:04] mikefantini commented on #2761
@tjrosario do you have any thoughts on character count for this?

@crystalruthbell what types of callouts would we want here? We need to have a few more guidelines here before we can built it out.

[2014-07-10 19:15] mikefantini opened #2808 "[campaign close] - too much space in Buzz section"
We should keep the spacing consistent in The Buzz section regardless of what content begins the section:

![image](https://cloud.githubusercontent.com/assets/6330971/3543751/40881330-0865-11e4-8161-ac727ecde39e.png)

![image](https://cloud.githubusercontent.com/assets/6330971/3543743/2eca7a98-0865-11e4-8bf0-8fc5c6195673.png)

cc: @crystalruthbell not sure if you have any other thoughts or guidance

[2014-07-10 20:08] mikefantini commented on #2526
sweet. @weerd want to update this issue when you get a chance to add some spacing for primary button on the action page? Would this affect the pitch page at all?

and yes @crystalruthbell without doing a bunch of fucker-y official rules needs to clear the image as well. as part of the revamp we may be adding more content to call out the value proposition to reporting back, which could help, but it

[2014-07-10 21:59] weerd opened #2810 "[Global] Cleanup variables"
Unify the way the variables are set so that it's easier to pass them along to the `theme()` function for templating and fix a bug with Zendesk introduced in prior pull request update.

[2014-07-10 22:09] #2810 closed, assigned to nobody

[2014-07-10 22:11] deezone commented on #2772
I'm working on building this. Expect a review request tomorrow (Friday). Interesting stuff!

[2014-07-11 14:54] weerd commented on #1916
I'm working on this issue. I had a quick thought though, and most cameras that user's would be using for taking a picture (likely their mobile phones or a digital camera) all take landscape photos. So Drupal will be auto-cropping these, and will potentially cut parts of the image off to square it... just something to consider.

[2014-07-11 14:55] weerd commented on #1916
Sample of what it looks like as square on tablet-y size:
![screen shot 2014-07-11 at 10 54 18 am](https://cloud.githubusercontent.com/assets/105849/3554264/6363b822-090b-11e4-84ef-d7dd80cb0966.png)

[2014-07-11 14:56] weerd commented on #1916
Sample of what it looks like as square on desktop at full width:
![screen shot 2014-07-11 at 10 54 29 am](https://cloud.githubusercontent.com/assets/105849/3554275/79167be6-090b-11e4-9f71-5227d03fa917.png)

We should probably limit the height of the fluid image at a certain point otherwise it looks kinda weird... @mikefantini @crystalruthbell let me know if examples above look good and I can move

[2014-07-11 14:58] mikefantini commented on #2790
@weerd do you want to create an issue for the refactoring so it's documented or do you want to hole off until we're actually doing the refactoring?

[2014-07-11 15:01] weerd commented on #2790
Sure, I can create an issue. Label is as "backlog"?

[2014-07-11 15:02] mikefantini commented on #1916
@weerd we may want to hold on this right now. As part of the template re-vamp we will be giving users the ability to crop their image into a square (a la instagram). This will limit the grossness of how the images look.

We then can take a look at the images we have currently in the galleries and decide if it is worth the effort to re-crop them and re-upload them to fit the square layout or if we

[2014-07-11 15:02] mikefantini commented on #2790
yeah sounds good

[2014-07-11 15:04] weerd commented on #1916
Okie doke. Sounds good. I'll hold off on this. Can we unlabel this as high priority then? :sun_with_face:

For future dev reference, need to adjust the pixel values specified in:

[code]

Line exists in the **dosomething_campaign** module, in **dosomething_campaign.theme.inc**.

[2014-07-11 15:28] weerd commented on #2649
This is working now after @DFurnes fixed up the polyfill issues in IE8. Only problem now is that IE8 doesn't support `background-size` property so the arrows don't show, which seems like it's been the case for some time :sun_with_face: . Will close this issue and create a new one to address that!

[2014-07-11 15:29] #2649 closed, assigned to weerd

[2014-07-11 15:33] weerd opened #2813 "[Refactor] Implement the use of Picturefill polyfill across site for responsive image solution."
Using picturefill JS polyfill, we can use the technology of tomorrow today!

![ep19](https://cloud.githubusercontent.com/assets/105849/3554834/b54e48a0-0910-11e4-96bb-db193c564722.jpg)

Implement the use of picturefill and how images should be marked up throughout the site for content images.

[2014-07-11 15:34] weerd commented on #2790
All set: https://github.com/DoSomething/dosomething/issues/2813

[2014-07-11 15:37] weerd opened #2814 "[Global] Apply fallback images for callout arrows in IE8"
IE8 doesn't support `background-size` property, so the arrows on callouts aren't showing up. We need to provide some fallback images for IE8.

[2014-07-11 16:29] weerd commented on #2043
Resolved now that we're using the new `.container` module :dancer:

[2014-07-11 16:29] #2043 closed, assigned to weerd

[2014-07-14 15:10] #1078 closed, assigned to nobody

[2014-07-14 15:10] #1673 closed, assigned to DFurnes

[2014-07-14 15:14] aaronschachter opened #2815 "PHP Undefined index in Preprocess Klout Gallery"
Notice: Undefined index: und in dosomething_campaign_run_preprocess_klout_gallery() (line 183 of /var/www/vagrant/lib/modules/dosomething/dosomething_campaign_run/dosomething_campaign_run.module).

[2014-07-14 15:16] aaronschachter opened #2816 "PHP Undefined index in paraneue_dosomething_preprocess_node"
Go to a campaign without sponsors:

Notice: Undefined index: sponsors in paraneue_dosomething_preprocess_node() (line 149 of /var/www/vagrant/lib/themes/dosomething/paraneue_dosomething/includes/preprocess.inc).

Notice: Undefined index: formatted_partners in paraneue_dosomething_preprocess_node() (line 150 of /var/www/vagrant/lib/themes/dosomething/paraneue_dosomething/includes/preprocess.inc).

[2014-07-14 15:19] weerd commented on #2104
I believe this was fixed when I refactored the hero banner header and all its components :sun_with_face:

![screen shot 2014-07-14 at 11 18 33 am](https://cloud.githubusercontent.com/assets/105849/3572662/3c53e8fe-0b6a-11e4-980d-409949ea20a2.png)

[2014-07-14 15:19] #2104 closed, assigned to weerd

[2014-07-14 15:22] weerd opened #2817 "[Campaign Finder] Refactor campaign tiles to use the new establish Neue patterns."
The gallery and campaign tiles on the home page are using old code. Need to update them to use the new gallery pattern and the campaign tile pattern.

[2014-07-14 16:49] aaronschachter commented on #2169
This has been closed by moving the Footer into a tpl file in #2807

[2014-07-14 16:49] #2169 closed, assigned to aaronschachter

[2014-07-14 17:39] #2792 closed, assigned to aaronschachter

[2014-07-14 17:42] aaronschachter commented on #2747
I'm pretty sure we would still need to use a separate file to display the image with a different color, unless @DFurnes @weerd can work some kind of crazy css magic to apply a hex value to change the color the image...

[2014-07-14 17:46] aaronschachter commented on #2051
@DeeZone just checking on this -- is this still a relevant issue?

[2014-07-14 18:01] aaronschachter commented on #1678
Guessing the reason this isn't working is because we're missing the Image #2193.  #2189 sets up Summary cards, I can see us potentially using the https://dev.twitter.com/docs/cards/types/product-card

[2014-07-14 18:43] DFurnes commented on #2747
I think a transparent PNG overlaid over the hex color would do the trick - @weerd, thoughts?

[2014-07-14 19:21] #2431 closed, assigned to aaronschachter

[2014-07-14 19:21] #2816 closed, assigned to weerd

[2014-07-14 19:51] #2193 closed, assigned to nobody

[2014-07-14 19:59] aaronschachter opened #2822 "Pinterest metatag"
Needed to get a "Official" checkmark thingie on our Pinterest page.

[code]

[2014-07-14 20:13] aaronschachter commented on #1678
Seems like we're not approved by Twitter :(

Asking Calvin to submit for approval as the DS Twitter account:

![screen shot 2014-07-14 at 4 11 27 pm](https://cloud.githubusercontent.com/assets/1236811/3576559/6064651a-0b93-11e4-830e-60e11c15376b.png)

[2014-07-14 20:21] aaronschachter commented on #2343
Umm this stuff is not present anymore.  Need to check if the `dosomething_metatags` feature is overriding this.

[2014-07-14 20:23] aaronschachter commented on #1678
I've applied for the application as the administrator of Twitter cards.  The response:

Thanks for applying to be part of Twitter's cards service. We'll review your request as soon as possible. Expect a few weeks for turn-around time. You will receive an email when your request has been reviewed.

[2014-07-14 22:19] mikefantini opened #2825 "Automating Campaign Scholarships on /scholarships"
@angaither:

We want to make it so that /scholarships automatically updates our campaign specific scholarships.

Ideally for the "Campaign Scholarships" section it would pull in:
- hero image
- campaign title
- call to action
- link

for any campaigns that are active AND have a value set for field_scholarship_amount

I know you had worked on a prototype that did something similar. Thoughts on impl

[2014-07-14 23:16] crystalruthbell commented on #2761
@mikefantini it would likely be a remark about what our goal was if the goal was crushed.

[2014-07-15 13:23] aaronschachter opened #2826 "Campaign template preprocess variable purge"
Replace variables with `$campaign` properties where we can, to move towards having one solitary source for a campaign's data.

Ideally this would go along with #2375
- [x] end date
- [x] sponsors
- [x] scholarship
- [ ] psa
- [ ] partner_info
- [ ] faq
- [ ] starter
- [ ] location finder
- [ ] action guides
- [ ] reportback_copy
- [ ] reportback_image
- [ ] official rules

[2014-07-15 13:40] #2343 closed, assigned to aaronschachter

[2014-07-15 14:18] sergiitk opened #2827 "Technical Debt: refactor logo overriding."
Use drupal `logo` theme feature.
Reference: PR #2824

[2014-07-15 16:41] mshmsh5000 commented on #2827
The reason to use `ASSET_PATH` here would be if we were concerned about versioning and asset caching: If the logo were something that could change often, then we'd prefer `ASSET_PATH` because that provides a built-in cache invalidation mechanism (the path changes with the version bump).

I don't think that's the case for `logo`; typically, we should be setting this once for each affiliate.

[2014-07-15 22:01] #2779 closed, assigned to nobody

[2014-07-15 22:01] #2822 closed, assigned to nobody

[2014-07-16 13:35] aaronschachter commented on #2686
The last reportback received was 6/24, so it seems that this has been closed out on SMS.  @jonuy can you confirm?

[2014-07-16 13:41] aaronschachter commented on #2686
This should be closed out once we have an Editors Guide published for how to close out a campaign cc @mikefantini

[2014-07-16 13:58] aaronschachter commented on #2825
The prototype has been moved into a block which can be embedded into Static Content -- so this is pretty close to being done, it just needs to be themed.

If we want it to look like the typical campaign block, using `campaign-block.tpl.php` -- changing the block to output those templates instead of a row may be all that's left to do. cc @angaither

[2014-07-16 15:11] mikefantini commented on #2686
editors guide on closing a campaign has already been distributed to the campaigns team so we're good on that front.

@julielorch is putting together a more comprehensive editors guide this quarter for all editorial needs

[2014-07-16 15:16] mikefantini commented on #2825
@aaronschachter when you say "typical campaign block" you mean like we have on the finder and grouped campaigns?

[2014-07-16 15:35] aaronschachter commented on #2825
Yep thats what i was referring to.  I'm not sure if we use them on the Reportback Confirmation page too.. but can check.

[2014-07-16 16:07] mikefantini commented on #2825
Yeah we don't right now but we probably should.

I'm down for using this block again on on this page as well. @crystalruthbell do you have thoughts on this? Depending on what campaign specific scholarships we have live at any given time it may mess with your preferred # of campaigns for this block.

[2014-07-16 18:41] mikefantini commented on #2646
closing this as this is more of the parent issue for reference

[2014-07-16 18:41] #2646 closed, assigned to barryclark

[2014-07-16 18:45] mikefantini commented on #2749
@tjrosario when trying to add the 3 column short gallery to static content, the gallery isn't pulling in images that are uploaded as the thumbnail crop.

see http://staging.beta.dosomething.org/about/fantiniz-partnerz as an example

using this issue since it's still open to report the bug rather than creating a new issue

let me know if you need any other info

[2014-07-16 21:26] deezone opened #2838 "Reportback mbp image markup missing"
The payload for reportbacks is missing the reportback image markup in the payload.

[2014-07-16 21:27] sergiitk opened #2839 "[Critical] Drupal core vulnerability — Access bypass, Cross-site scripting"
## Drupal core – Multiple vulnerabilities

Drupal.org report: [SA-CORE-2014-003](https://www.drupal.org/SA-CORE-2014-003)
DoSomething.org update queue: #2466
- Advisory ID: DRUPAL-SA-CORE-2014-003
- Project: Drupal core [1]
- Version: 6.x, 7.x
- Date: 2014-July-16
- Security risk: Critical [2]
- Exploitable from: Remote
- Vulnerability: Multiple vulnerabilities
### Versions affected
- Drupal core

[2014-07-17 12:00] #2793 closed, assigned to nobody

[2014-07-17 14:51] #2838 closed, assigned to deezone

[2014-07-17 18:46] #2817 closed, assigned to nobody

[2014-07-18 15:30] #2815 closed, assigned to angaither

[2014-07-18 16:37] weerd opened #2850 "[Campaign Finder] Update to fix missing links on default homepage finder tiles"
After home page refactor, the campaign tiles for the initial state on the finder are missing links to their respective campaigns.

[2014-07-18 17:00] #2850 closed, assigned to nobody

[2014-07-18 19:16] mikefantini commented on #2813
@weerd once you're done with SEO stuff and MCC work let's check in on this guy.

If other work is blocked, it'd be great to get to this since it looks pretty whack on mobile right now:

![photo 20](https://cloud.githubusercontent.com/assets/6330971/3630839/caed597c-0eaf-11e4-93ef-7e632f23c62c.PNG)

[2014-07-21 14:12] aaronschachter commented on #2774
This endpoint should renamed as `reportbacks` instead of `reportback` to make Obama happy: https://github.com/WhiteHouse/api-standards#good-url-examples

[2014-07-21 14:25] mshmsh5000 commented on #1882
Two things:
1. We're going to move the Salt provisioning logic out of this repo, which will remove this as a blocker for taking the platform code public.
2. I don't think we need to manage this hash at all. I will confirm before closing this issue.

[2014-07-21 19:10] aaronschachter opened #2858 "PHP Notice: Paraneue DS Preprocess page"
Notice: Trying to get property of non-object in paraneue_dosomething_preprocess_page() (line 126 of /var/www/vagrant/lib/themes/dosomething/paraneue_dosomething/includes/preprocess.inc).

Git blaming you, @DFurnes
https://github.com/DoSomething/dosomething/commit/ff53418b6202e425ae0255b4dafe302194171d34

[2014-07-21 19:23] DFurnes commented on #2858
:no_good:

[2014-07-21 19:59] aaronschachter commented on #2375
Discussed with @weerd today -- there's so many various permutations of the actual `<header>` markup that it's too complex to move into its own themeable function.  Instead we'll create snippets of code to make the template much more manageable, e.g.

[code]

[2014-07-21 23:21] aaronschachter commented on #2858
This is the code that checks is for a string int he query string after the MCC Google Form is submitted and displays a message.  I suggest we close this issue by just removing that snippet of code compltely, as the Google Form has since been removed from the site (but available as a page callback).

It would help cleanup the error logs.

[2014-07-22 01:59] DFurnes commented on #2858
Totally, perhaps emoji wasn't the best form of acknowledgement. Will take care of tomorrow.

[2014-07-22 14:08] aaronschachter opened #2863 "Campaign API: Signups, hi-res cover image"
For the Real Time Dashboard:
- [x] # of signups
- [ ] hi res cover image.

[2014-07-22 14:31] srikarg commented on #2863
:+1:

[2014-07-22 17:02] aaronschachter commented on #1986
Our features are still overridden on production. I'd like to vote for changing our ds script to just `drush -y fra --force` to avoid manual intervention by devs upon every deployment.

[2014-07-22 17:22] sergiitk commented on #1986
Additionaly, I would also apply `--status=enabled` do [`drush fl`](https://github.com/DoSomething/dosomething/blob/dev/bin/ds#L168):
`drush fl --status=enabled | grep 'Overridden' | awk '{print ($(NF-3))}' | xargs -i drush fr {} --force -y`

It's unlikely that disabled feature is overridden, but still.

[2014-07-22 17:24] aaronschachter commented on #1986
What seems to happen in "Needs Review" is that a field base will be reverted, creating the tables (in this instance `field_created_by`), but then whatever reason the field instance is not reverted, so the field doesn't exist in the Campaign node.  I'm not sure what sets it to "Needs Review" vs Overridden but my suspicion is that a regular drush -y fra would fix this scenario.  QA was broken, ran a

[2014-07-22 17:30] sergiitk commented on #1986
Here's some more shell black magic
`drush fl --status=enabled | awk '$(NF-1) == "Overridden"  {print $(NF-3)}' | xargs -n1 drush -y fr --force`

[2014-07-22 18:26] sergiitk commented on #1986
On the other hand, i'd rather use `drush -y fra` instead. Reasoning:
- It follows module dependencies
- Without `--force` argument (simply `drush -y fra`) it's already reverts overridden features only:
  `--force Force revert even if Features assumes components' state are default.`
- `drush fl | grep ...` command eventually passes input to `awk` to determine a module name.
  It is very unsafe, its

[2014-07-22 19:12] #1986 closed, assigned to angaither

[2014-07-22 19:42] aaronschachter opened #2867 "DS build: Backup DB before DS build"
This is a nice to have.  Could use some guidance on where this should be written and how to make sure to cleanup afterwards.

[2014-07-22 19:56] aaronschachter opened #2868 "Campaign API: Return timestamps for season values"
Need to coordinate with @DeeZone but ideally the data returned should be timestamps and not date strings, to keep consistent with the `end_date` property.

[2014-07-22 19:57] aaronschachter commented on #2774
The `save` endpoint should also be refactored to accept an object instead of individual parameters.

[2014-07-22 20:29] #2863 closed, assigned to aaronschachter

[2014-07-22 20:33] aaronschachter opened #2870 "DS Image Helper function for loading URL array"
Move `dosomething_campaign_load_image_url` into `dosomething_image` module per https://github.com/DoSomething/dosomething/pull/2869#discussion_r15253804

[2014-07-22 20:58] #2858 closed, assigned to DFurnes

[2014-07-22 21:18] barryclark commented on #2587
cc @aaronschachter

[2014-07-22 21:38] crystalruthbell commented on #2761
@mikefantini can you update me what the status of this is? https://trello.com/c/eK33LZZc/635-update-campaign-close-template-with-locations-for-handwritten-text

[2014-07-23 13:49] aaronschachter opened #2872 "Field Collection revision bug"
Trello card: https://trello.com/c/pih0Toue

Details:
Nid: 2427
`field_step_pre` (During Tips) contains three `field_collection_item` values. Field Collection Item id 1279 is the one in particular is displaying an old revision.

When I first opened up the QA db to inspect, the revision_id was set to 22476, which contains the correct text "Play your fun, upbeat, and energetic playlist as you trash y

[2014-07-23 13:54] aaronschachter commented on #2872
On beta, I deleted the faulty field_collection_item (1279) and recreated it, and it's displaying the correct data.  Keeping this open for now to investigate further to see if it can be replicated.

[2014-07-23 16:48] aaronschachter opened #2874 "Refactor: Sponsor logos for non-campaign nodes"
Use new functions introduced in #2873 to use the `sponsor-logos.tpl.php` in:
- [ ] Static Content tpl
- [x] Campaign Group tpl

[2014-07-23 16:50] #2375 closed, assigned to nobody

[2014-07-23 19:47] tjrosario commented on #2749
@aaronschachter @angaither the `image_url` field is returning blank for the gallery photos on static pages.  Would one of you be able to take a look or point me in the direction for a fix?

[2014-07-23 20:02] angaither commented on #2749
@tjrosario which field are you trying to use? what the nid?

[2014-07-23 20:08] tjrosario commented on #2749
![image](https://cloud.githubusercontent.com/assets/1566749/3679516/185873f6-12a5-11e4-9e05-371a4319e235.png)

NID is 1292

[2014-07-23 20:10] angaither commented on #2749
That image only has something in the `field_thumbnail` is that what you're trying to grab?

[2014-07-23 20:23] aaronschachter commented on #2749
For the "3column short" gallery - it is supposed to display the Thumbnail field. So, we need to alter the prrocess, right now it's hardcoded to use Square:

https://github.com/DoSomething/dosomething/blob/dev/lib/modules/dosomething/dosomething_static_content/dosomething_static_content.module#L109

If the gallery style is default, keep this code as is, passing `'square'` as the `'ratio'` parameter

[2014-07-23 22:50] mikefantini commented on #2749
@aaronschachter so is this issue on you now?

[2014-07-24 13:57] aaronschachter commented on #2749
Opened up #2875 to unblock @tjrosario on grabbing the Thumbnail field for the non-default galleries.  Per https://github.com/DoSomething/dosomething/pull/2875#issuecomment-49960715 there seemed to be css issues preventing us from closing out the issue, need @tjrosario to give a look.

[2014-07-24 14:13] aaronschachter commented on #2872
This is occurring for me on http://staging.beta.dosomething.org/about/fantiniz-partnerz

I added and edited a bunch of the Gallery images using the Entity Connect module... and it's making me think that it's actually Entity Connect which seems to be messing up the revisions here.  It would explain this weirdness https://trello.com/c/89TsXoUe

Noticed the AARP image description did not display anym

[2014-07-24 14:26] aaronschachter commented on #2749
@tjrosario I've added Images and different Galleries / Gallery Styles to http://staging.beta.dosomething.org/about/fantiniz-partnerz to give examples of the CSS bug.  Seems there's also a bug in my code that's rendering the 3rd standard gallery i've added in the 2 column style: investigating.

[2014-07-24 16:23] aaronschachter opened #2877 "Static Content Gallery: PHP Notices"
Lots of Notice: Undefined index messages in `dosomething_static_content_preprocess_gallery_vars` which need to check for existence of fields before setting.

[2014-07-24 16:43] aaronschachter commented on #2749
The bug in my code has been fixed, but @tjrosario there are still CSS issues with the `-duo` gallery: http://staging.beta.dosomething.org/about/fantiniz-partnerz

[2014-07-24 21:16] sergiitk commented on #2801
For history: created an issue, that, I believe, will help resolve this
https://github.com/fabiokr/vagrant-sshfs/issues/23

[2014-07-24 22:13] deezone opened #2879 "Add BirthdayMail2014 Prove Config"
`keywords` and `workflow` config settings for BirthdayMail2014

[2014-07-25 18:02] #2879 closed, assigned to nobody

[2014-07-25 20:43] deezone opened #2886 "Adjust BirthdayMail2014 workflow for testing"
Adjust Drupal nid assignment for Birthday Mail 2014 campaign to test configuration on `staging.beta`.

[2014-07-25 20:47] #2886 closed, assigned to nobody

[2014-07-27 21:21] deezone opened #2888 "User creation via Drupal Service"
When a user account is imported via a CSV supplied file (niche.com) a Drupal user account needs to be created via a service call to: `/user` (admin based user creation) or `/user/register` (anonymous user creation). The following needs to be available for the cURL call to work:
- [x] add a `source` field to user accounts that will be set when a user account is created via a service call rather tha

[2014-07-28 14:23] deezone commented on #2888
@aaronschachter Thoughts on the `source` field being added to user accounts?

[2014-07-28 14:27] aaronschachter commented on #2888
I'm not opposed, we could potentially store this information as serialized data in the `data` property on the User as well, but creating a new field would be useful if we wanted to query.

[2014-07-28 15:01] aaronschachter commented on #2888
I'd name it something like User Registration Source... because naming it something too general like "Source" will be super confusing with regards to the Fact Sources field.

[2014-07-28 15:40] mshmsh5000 commented on #2888
+1 on adding a Source field. Will come in all kinds of handy. And a no-brainer when we're talking about MongoDB.

[2014-07-28 15:54] aaronschachter commented on #2888
@DeeZone Open for discussion but re: the data in the User Registration Source, we may want to store this as a text field to make it easier. Maybe it just defaults to NULL for web registrations, since this field will be NULL for all Users to begin with.  And could get to set to something like `import_niche` for this batch, and `import_[source_name]` for other batch imports.  @angaither @mshmsh5000

[2014-07-28 15:58] DFurnes commented on #2888
+1 to using human-readable strings.

[2014-07-28 16:06] aaronschachter commented on #2888
@DeeZone Re the 2nd item, enabling `create` will not resolve this, `create` and `register` both call the same endpoint `_user_resource_create` which submits the User Register form. Since the `field_user_registration` will not be added to the registration form, this default Services endpoint won't cut it for us.  I believe our best bet here may to create a custom resource, which would resolve the 3

[2014-07-28 16:52] aaronschachter commented on #2888
Assigning to myself.  @DeeZone will keep you posted.

[2014-07-29 03:19] deezone commented on #2888
Huge thanks for all your effort on this item! Thanks also for your input on items 2 & 3 as it would have taken some head bang in my part before coming to your suggested custom resource solution. I've updated the issue description to match your input.

Ideally I can finish up all the parts in the Message Broker apps leading up to and after the user creation call and meet you in the middle if you're

[2014-07-29 03:31] #2888 closed, assigned to aaronschachter

[2014-07-29 04:01] deezone opened #2896 "More config SMS adjustments for Birthday Mail 2014"
Finial config adjustments to support MMS image uploads.

[2014-07-29 04:18] #2896 closed, assigned to nobody

[2014-07-29 14:18] aaronschachter commented on #2888
The custom resource build is already done @DeeZone via #2894 .  Documentation for the custom resource is here: https://github.com/DoSomething/dosomething/wiki/API#users

[2014-07-31 19:41] angaither commented on #2827
If we do this with the drupal `logo` we cannot set the default logo in neue. The actual logo file would need to be added to Paraneue.  this means that the logo cannot be served through the CDN.
Unfortunately, the default logo path is set in core

[code]

We would have a logo in neue and a logo in paraneue.

cc @DFurnes @aaronschachter

[2014-07-31 19:43] mshmsh5000 commented on #2827
The default logo will be able to get served through Akamai once we integrate the [CDN](https://www.drupal.org/project/cdn) module or similar logic that allows us to specify a separate URL for assets. So don't worry specifically about CDN integration here.

[2014-08-04 14:44] #2827 closed, assigned to sergiitk

[2014-08-04 18:37] #1575 closed, assigned to blisteringherb

[2014-08-07 15:10] aaronschachter commented on #2839
Closed by #2948

[2014-08-07 15:10] #2839 closed, assigned to nobody

[2014-08-07 15:10] aaronschachter commented on #2466
Core updated by #2948. Preparing a PR for contrib updates.

[2014-08-07 20:08] barryclark commented on #2218
Moved to Jira, closing. https://jira.dosomething.org/browse/DS-214

[2014-08-07 20:08] #2218 closed, assigned to nobody

[2014-08-07 20:39] barryclark commented on #2584
@tjrosario It'd be great if after selecting a cause, it immediately made the other causes inactive.

Any additional thoughts on this @DFurnes ?

[2014-08-07 20:41] DFurnes commented on #2584
We should probably just block making any other selections until the server responds with updated facets.

[2014-08-07 20:51] barryclark commented on #2584
Related: If you quickly click a Cause, then a Time that should be unavailable (before the filters update) you're able to select a combo that there are no results for too.

![image](https://cloud.githubusercontent.com/assets/692762/3848920/71352e9e-1e74-11e4-99bb-65e6fc7b396c.png)

[2014-08-13 02:07] aaronschachter commented on #2064
The Zendesk issue I filed has been closed: https://github.com/zendesk/zendesk_api_client_php/issues/14#issuecomment-50951605

It's questionable whether or not to update our commit.  There's the good argument of "if-its-not-broke", but... potentially could provide security fixes or new functionality.

[2014-08-13 14:32] angaither commented on #2064
We could always try it on stage, it's probably better to keep things as updated as possible if we can.
That way we aren't behind when major versions come out.

[2014-08-14 19:50] mikefantini commented on #2749
@tjrosario @weerd re-opening.

Gallery Style is working properly on campaign runs (when done in conjunction with Gallery Type?) but is not working on Static Content pages on it's on.

Working: http://staging.beta.dosomething.org/campaigns/comeback-clothes
Not Working: http://staging.beta.dosomething.org/about/fantiniz-partnerz

[2014-08-15 16:31] #2749 closed, assigned to tjrosario

[2014-08-18 17:39] angaither commented on #2872
We are kind of far behind on the field collection module.
It looks like [this commit](https://www.drupal.org/node/2125017) might be the issue we are experiencing.
Might be worth a shot upgrading the module locally and on stage to see if it fixes the issue.

[2014-08-19 18:06] #1537 closed, assigned to nobody

[2014-08-21 14:58] lkpttn opened #3000 "Search Bug: HTML encoding not recognized in search results"
Doing a search for The Hunt returned this suggestion
![screen shot 2014-08-21 at 10 54 37 am](https://cloud.githubusercontent.com/assets/1865372/3997911/7554b34e-2943-11e4-9cbb-983dd955f9f3.png)

Which was based off the predominance of &quot; in other search results.
![screen shot 2014-08-21 at 10 54 45 am](https://cloud.githubusercontent.com/assets/1865372/3997912/7b55a488-2943-11e4-9490-f8c29e70

[2014-09-03 19:43] aaronschachter commented on #1746
This issue still lives.  This d.o. issue seems to give a clue https://www.drupal.org/node/1011314#comment-8187693

[2014-09-03 19:50] aaronschachter commented on #1746
Actually, this thread suggests caching: http://drupal.stackexchange.com/questions/66708/simpletest-fails-to-create-the-field-config-table

[2014-09-03 20:18] aaronschachter commented on #2607
FYI I'm seeing this as I'm trying to debug #1746 by commenting out various cache configurations in the settings.php and settings.local.php file.

[2014-09-12 15:58] barryclark opened #3075 "An awesome new readme for this repository"

[2014-09-12 18:27] barryclark commented on #2587
This is done :dancers:

[2014-09-12 18:27] #2587 closed, assigned to blisteringherb

[2014-09-12 18:40] barryclark commented on #1847
@DFurnes We can close this old one now, right?

[2014-09-12 18:40] barryclark commented on #1814
Fixed

[2014-09-12 18:40] #1814 closed, assigned to nobody

[2014-09-12 18:43] DFurnes commented on #1847
Yep! Fixed in #3037 and [DS-303](https://jira.dosomething.org/browse/DS-303).

[2014-09-12 18:43] #1847 closed, assigned to barryclark

[2014-09-12 18:48] aaronschachter commented on #2872
Field Collection is still actively being developed, new commits as of this week. https://www.drupal.org/node/947174/commits

This is still an open issue.

[2014-09-12 18:49] aaronschachter commented on #2772
Closed by https://github.com/DoSomething/dosomething/pull/2974

[2014-09-12 18:49] #2772 closed, assigned to deezone

[2014-09-12 18:50] aaronschachter commented on #2712
Closed by https://github.com/DoSomething/dosomething/commit/0451b0e22d310f2f006cbf8dc5a5d4310eca870a

[2014-09-12 18:50] #2712 closed, assigned to deezone

[2014-09-12 18:52] #2466 closed, assigned to nobody

[2014-09-12 18:52] aaronschachter commented on #2362
@DeeZone @marahml Has this been closed by the additional field `field_recent_updates` that was added to the campaign form?

[2014-09-12 18:57] DFurnes commented on #1667
Fixed.

[2014-09-12 18:57] #1667 closed, assigned to nobody

[2014-09-12 18:58] barryclark commented on #2442
Moved this to the Jira infrastructure board

[2014-09-12 18:58] #2442 closed, assigned to mshmsh5000

[2014-09-12 21:15] marahml commented on #2362
Yas. But is it live on campaign pages? Correlating issue in Jira says that
its built but not live.

On Fri, Sep 12, 2014 at 2:52 PM, Aaron Schachter notifications@github.com
wrote:

##

Marah Lidey

Director of Mobile Product & Messaging
@dosomething http://twitter.com/dosomething @marahml
https://twitter.com/marahml
(212) 254-2390 x215

[2014-09-12 21:33] aaronschachter commented on #2362
Ok - closing this for discussions to continue in Jira.

[2014-09-12 21:33] #2362 closed, assigned to nobody

[2014-09-16 19:22] sergiitk commented on #1746
I also faced this issue. The only way to make simpletests work is to comment line `$conf['cache_default_class'] = 'Redis_Cache';` of the settings file. I successfully ran DoSomething User tests with it.

Unfortunately, there's no way to fix it. It's due to Drupal design, see Redis [`README.testing.txt`](/omega8cc/redis/blob/7.x-2.x/README.testing.txt):

We can only find a workaround to omit redis

[2014-09-17 17:59] tjrosario commented on #2739
This has been resolved.

[2014-09-17 17:59] #2739 closed, assigned to nobody

[2014-09-17 19:57] tjrosario commented on #1790
@lkpttn Since the smallest font size is 13px, we can make the superscript be inline with the content.  Any objections on this proposed design?  Created space between the superscript and content, else it looks pretty tight.  Open to other suggestions.
![image](https://cloud.githubusercontent.com/assets/1566749/4310253/b8d3fb04-3ea4-11e4-884f-b2789d15f2c1.png)

[2014-09-18 15:06] lkpttn commented on #1790
Looks good, no objections.

[2014-09-18 16:28] #1790 closed, assigned to nobody

[2014-09-18 16:39] weerd commented on #1790
Yeah, this sounds good to me. Chat w/ @DFurnes too, cause the styles for it might affect somewhere else too and he might know better if it affects anything else :)

[2014-09-18 18:16] #3075 closed, assigned to barryclark

[2014-09-23 16:16] tjrosario commented on #2372
This doesn't seem to be an issue anymore.

[2014-09-23 16:16] #2372 closed, assigned to nobody

[2014-09-23 16:24] tjrosario commented on #2744
This is resolved.

[2014-09-23 16:24] #2744 closed, assigned to nobody

[2014-09-23 19:54] #1540 closed, assigned to nobody

[2014-09-23 21:52] #2738 closed, assigned to nobody

[2014-09-24 14:57] #1688 closed, assigned to nobody

[2014-09-24 15:05] tjrosario commented on #2808
This is no longer an issue.

[2014-09-24 15:05] #2808 closed, assigned to nobody

[2014-09-24 19:35] tjrosario commented on #2729
This is not an issue anymore.

[2014-09-24 19:35] #2729 closed, assigned to tjrosario

[2014-09-25 14:42] aaronschachter commented on #1746
Curious if we remove `redis` from `dosomething.info` if this could fix tests.  Will test once my `vagrant up` finishes.

[2014-09-25 14:45] sergiitk commented on #1746
I think, you'll still have to to remove redis backends settings from `settings.php`.

[2014-09-25 14:48] aaronschachter commented on #1746
:(

[2014-09-25 18:26] deezone opened #3102 "Include messagebroker-config in site build"
`message_broker_producer.module` <-> `dosomething_mbp.module` refactoring.

`message_broker_producer.module` requires access to the Message Broker (RabbitMQ) configuration settings in the `messagebroker-config` repo.

`Adjust`.make`file to include the github repo for`messagebroker-config`.

[2014-09-25 19:18] aaronschachter commented on #1746
Confirmed that simply removing the `redis` module from the .info file in https://github.com/DoSomething/dosomething/issues/1746#issuecomment-56828729 does not work.  Looks like we are kinda screwed with simple tests for a while, as long as we're using Redis... :frowning:

[2014-09-25 19:49] aaronschachter commented on #1746
.. unless maybe these caching variables were set via `ds build` and not in settings.php..

[2014-09-25 20:41] aaronschachter commented on #2791
@barryclark will we ever do this? worth keeping open?

[2014-09-25 20:42] aaronschachter commented on #2774
New endpoint exists at `campaigns/[nid]/reportback`

[2014-09-25 20:42] #2774 closed, assigned to aaronschachter

[2014-09-25 21:02] barryclark commented on #2791
I don't think we really need a GitHub Issue for it. It's on the product backlog.

[2014-09-25 21:02] #2791 closed, assigned to nobody

[2014-09-25 21:27] #1788 closed, assigned to nobody

[2014-09-26 16:40] #1739 closed, assigned to nobody

[2014-09-29 14:46] DFurnes opened #3111 "Add test for secondary campaign signup button."
References #3110.

[2014-09-29 23:21] #3102 closed, assigned to deezone

[2014-10-01 16:36] blisteringherb commented on #3000
This seems to have been fixed by removing the offending fields from being indexed in another issue.  Feel free to reopen if this issue pops up again.

[2014-10-01 16:37] #3000 closed, assigned to blisteringherb

[2014-10-01 16:39] blisteringherb commented on #2096
Since search is automatically included in the developer setup, the docs for how Solr works apply to the developer setup.

[2014-10-01 16:39] #2096 closed, assigned to blisteringherb

[2014-10-03 17:18] deezone opened #3126 "Add revision setting to .make for message_broker_producer"
Until the `message_broker_producer` is ready for a production release builds of the DoSomething.org site should be locked to a specific release. Add:

[code]

to `/html/profiles/dosomething/drupal-org.make`.

[2014-10-03 17:36] barryclark opened #3127 "Testing adding new issues to a Milestone"

[2014-10-03 17:41] #3127 closed, assigned to barryclark

[2014-10-03 18:04] DFurnes commented on #3127
:fireworks: :tada: :balloon: :boom: :bow:

[2014-10-06 15:06] deezone opened #3132 "ds pull does not wipe local db"
In working with @tz-earl on refactoring the `message_broker_producer` module we were working on `.install` and the addition of a new database table. This involved rebuilding the ds database several times.

The use of `sql-sync` in `ds pull stage --db` does not wipe the local db with the staging database but rather merges the databases together, thus the "sync" in `sql-sync` - duh!. Any local speci

[2014-10-06 15:07] deezone commented on #3132
@aaronschachter @sergii-tkachenko ^^ Thoughts?

[2014-10-06 15:11] sergiitk commented on #3132
I think local db must be wiped during `ds pull stage --db`.

[2014-10-06 15:12] aaronschachter commented on #3132
Currently this is the intended behavior, this has come up before.  @sergii-tkachenko and I discussed that it should be up to the developer whether or not to delete the db, as it's easy enough to run `drush sq-drop` to drop your DB (http://drush.ws/#sql-drop).

But if everyone is in favor of dropping the DB as part of a `ds pull` i'm ok with that.  We'd just add the drush command into the `ds` scri

[2014-10-06 15:17] DFurnes commented on #3132
+1 dropping DB. Thought this was already expected behavior.

[2014-10-06 15:18] DFurnes commented on #3132
Or if not, we should add a disclaimer to the `ds pull` command, and an option `ds pull --force` or something like that to do a real "reset".

[2014-10-06 15:21] aaronschachter commented on #3132
I'm ok with dropping DB as part of regular behavior.  @DeeZone wanna give this one a shot?

[2014-10-06 15:37] deezone commented on #3132
@aaronschachter Yep, I got this one.

Related:
https://jira.dosomething.org/browse/INF-41

[2014-10-06 16:01] DFurnes opened #3133 "School Finder endpoint CORS issue"
The school finder endpoint isn't set to allow cross-origin access from our site, so we're getting errors on making AJAX requests. Two potential fixes that come to mind:
1. Set `Access-Control-Allow-Origin` on the [lofi-schools app](https://github.com/desmondmorris/lofi).
2. Put the API behind Varnish and set `Access-Control-Allow-Origin` header there. Side benefit of taking some load off the API f

[2014-10-06 20:10] blisteringherb commented on #3133
Putting Varnish in front might be the quicker/easier lift and I agree there would be an added benefit to adding some caching.  I'm not sure where this app lives at the moment though.

[2014-10-06 20:11] DFurnes commented on #3133
@blisteringherb It's on Heroku. I can add you to the app if you have an account with them.

[2014-10-06 20:31] aaronschachter commented on #3126
@DeeZone I am re-opening this as signing up for a campaign on staging is still not working.. displaying the "Failed to create MessageBroker library (messagebroker-phplib) instance. Check configuration settings in administration interface."

This is a blocker.

[2014-10-06 20:37] aaronschachter commented on #3126
Works now... Staging settings needed to be reset?

[2014-10-06 20:37] #3126 closed, assigned to nobody

[2014-10-06 20:37] deezone commented on #3126
Issue resolved - it's the same problem with the module needing a admin form submission to setup the needed system `variable` entries. This issue will be resolved in the next release of the module.

[2014-10-06 21:26] #1936 closed, assigned to nobody

[2014-10-07 18:15] aaronschachter opened #3140 "Grant communications team clear cache access"
Needed to get workflows to show up after adding them in `/admin/config/dosomething/dosomething_sms`

[2014-10-07 18:20] #3140 closed, assigned to aaronschachter

[2014-10-08 17:20] mikefantini opened #3144 "[collections] - users who sign up for a campaign collection are not receiving an email or being subscribed to mailchimp"
see http://staging.beta.dosomething.org/volunteer/grandparents-gone-wired

Things that do work:
- my signup is recorded in the signups table
- I am subscribed to mobile commons
- I receive a text message
- I get a notification message

[2014-10-08 17:40] mikefantini commented on #3144
message broker was delayed. this works.

[2014-10-08 17:40] #3144 closed, assigned to aaronschachter

[2014-10-09 05:29] blisteringherb commented on #3133
I've added the changes to Varnish, but unfortunately it looks like Heroku doesn't support Varnish because it's using AWS's Elastic Load Balancer that changes IPs dynamically, and Varnish requires that you only have one IP.  https://discussion.heroku.com/t/proxying-heroku-app-with-varnish/123.

I'm going to give adding this header to the lofi schools app a go so we can try to get this solved.

[2014-10-09 13:31] mikefantini opened #3148 "Redirects from legacy to beta"
need the following redirects set up. sounds like we are trying to do this all in varnish.
- /403.html?page=/social-scholarship/smoking&from=http://www.zinch.com/scholarships -> /about/scholarships
- /att -> /about/scholarships
- /causes -> /campaigns
- /scholarships/\* -> /about/scholarships (note: /scholarships already goes to /about/scholarships; also please verify /scholarships/info and /schola

[2014-10-09 15:05] mikefantini opened #3150 "Hide timezone so users can't change it"
Causes issues with campaign dates documented here: https://trello.com/c/pnzlbUt8

[2014-10-09 20:08] mikefantini opened #3153 "Member counter token for additional page types"
Need [site:member-count-readable] to register on the following pages:
- [ ] cause collections
- [ ] action type collections
- [ ] issue collections
- [ ] fact pages
- [ ] static content pages

For fact pages copy will be updated in http://staging.beta.dosomething.org/admin/config/dosomething/dosomething_fact_page

Static content examples:
- copy here https://beta.dosomething.org/about/donate-prett

[2014-10-10 20:44] barryclark commented on #1882
Prittay sure we can close this @mshmsh5000 ?

[2014-10-10 20:47] barryclark commented on #2167
Closey close close @DFurnes ?

[2014-10-10 20:52] DFurnes commented on #3133
I think this is all working now. @blisteringherb Safe to close?

[2014-10-10 20:53] DFurnes commented on #2167
:boom:

[2014-10-14 16:16] aaronschachter opened #3156 "Enable DS Shipments module for TFJ Canada"
Canada requires the DS Shipments module to be enabled, in order to create Banner Shipments for TFJ.

We can manually enable the module, but we're getting closer towards crazy town with keeping track of what modules should be turned on for what sites.

If we choose not to handle international module listing now, this issue can be closed by manually enabling the module on Canada.

[2014-10-14 16:36] aaronschachter commented on #3156
Related to https://jira.dosomething.org/browse/INF-16 and https://github.com/DoSomething/dosomething/pull/2976

[2014-10-14 16:54] mikefantini opened #3157 "3M logo needs to be added to the homepage"
Need to add 3M to the homepage

partner term is here: https://beta.dosomething.org/taxonomy/term/948

@DFurnes let me know if you need anything else on this.

[2014-10-14 18:40] aaronschachter opened #3159 "Taxonomy term template"
- [x] Create a tpl file for viewing a taxonomy term.
- [x] Currently when viewing certain terms, the page dies:

[code]
-  [x] Only display Campaign and Grouped Campaign nodes (currently Images can be tagged with Cause, so they show up in the default view)
- [x] CSS Paint

[2014-10-14 18:47] DFurnes opened #3160 "Canada School API sending incorrect headers"
The School API is not sending the correct headers to [allow AJAX access through the browser](https://developer.mozilla.org/en-US/docs/Web/HTTP/Access_control_CORS#Access-Control-Allow-Origin). It should return `Access-Control-Allow-Origin: *`.

[2014-10-14 18:57] aaronschachter opened #3161 "New vocabularies"
New vocabularies:
- [ ] Campaign Collection
- [ ] Celebrities
- [ ] Holidays

Rename the `campaign_group` content type to Grouped Campaign.

[2014-10-14 19:01] aaronschachter opened #3162 "Vocabulary fields"
All user facing vocabularies need the following fields added:
- [x] `field_image_campaign_cover`
- [x] `field_subtitle`
- [x] `field_video`
- [x] `field_partners`
- [x] `field_facts`
- [x] `field_intro_title`

[2014-10-14 19:28] aaronschachter commented on #3160
The Canada School Finder can be tested on https://canada.dosomething.org/node/1227 by clicking on the "Update your school" link.

To test the form, you'll need to be signed up for the campaign though, which can you do via https://canada.dosomething.org/node/1227/pitch

[2014-10-14 19:52] aaronschachter opened #3163 "Taxonomy term URL pattern"
URL Pattern for all Cause and Campaign Collection terms should be `volunteer/[term-name]`

[2014-10-14 20:06] mfurdyk commented on #3160
That header is now added! @DFurnes @aaronschachter

[2014-10-14 20:09] DFurnes commented on #3160
Confirmed working on our end! Thanks @mfurdyk!

[2014-10-14 20:09] #3160 closed, assigned to nobody

[2014-10-14 20:34] aaronschachter commented on #3159
@mikefantini Should Grouped Campaign nodes be displayed on a Cause page?  Or only Campaign nodes.

[2014-10-14 20:35] aaronschachter commented on #3159
@mikefantini Also - what is the desired sort for how campaigns should be listed?

[2014-10-14 23:41] mikefantini commented on #3159
@aaronschachter yeah I think it makes sense for grouped campaign nodes to be displayed as well. It gets a little funny because we sign you up for the group when you sign up for an individual campaign anyways, but I could see someone wanting to navigate to the group landing page from this page to learn more about the group.

Ideal sort is:
- status = active
- staff pick
- sponsored
- in high season

[2014-10-15 03:45] mikefantini opened #3165 "Don't need Submit Button Label field on shipment form"
![image](https://cloud.githubusercontent.com/assets/6330971/4640291/b77ba69c-541d-11e4-827c-c893d3861f92.png)

[2014-10-15 14:13] mikefantini opened #3166 "[shipments] - need to add configuration to prevent old ppl from submitting the form"
On the shipment form we need to add the configuration that allows an editor to toggle whether an old person can submit the shipment form or not.

For Teens for Jeans Aria and Nami said that they want old people to be able to get the physical mailings we're sending.

[2014-10-15 16:05] #3133 closed, assigned to nobody

[2014-10-15 16:47] aaronschachter opened #3168 "Term view: General copy variables"
Variables to store copy for
- [x] What You Get
- [x] Scholarships and Contests
- [x] About DS

This copy will be displayed on each Taxonomy Term view.

If we ever need to hide these sections, we can build additional helper variables to hide them.  Product Backlog Trello card: https://trello.com/c/l2DdzSoR

[2014-10-15 17:08] aaronschachter opened #3169 "Upgrade Drupal core to 7.32"
https://www.drupal.org/SA-CORE-2014-005

[2014-10-15 17:13] DFurnes opened #3170 "Video tile A/B test"
We need to A/B test videos in campaign tiles! :movie_camera: Creating an issue to keep documentation and discussion in one place, but code changes required for this are done. (See DoSomething/neue#359.)
#### Video resources:

Video 1: https://dosomething-a.akamaihd.net/sites/default/files/downloads/AB-video.mp4
Video 2: https://dosomething-a.akamaihd.net/sites/default/files/downloads/AB-video2.mp4

[2014-10-15 18:59] aaronschachter commented on #3159
As we dscussed today, i'm going to attempt to use the existing campaigns view, filtering it by the term being viewed.

[2014-10-15 19:24] aaronschachter commented on #3159
@mikefantini Assuming that for Cause, we want to filter by `field_cause` , not `field_primary_cause`.

[2014-10-15 19:55] #3169 closed, assigned to aaronschachter

[2014-10-15 20:37] mikefantini commented on #3159
yeah let's go with field_cause @aaronschachter

[2014-10-15 21:11] aaronschachter commented on #3159
Finding issues with `dosomething_taxonomy_taxonomy_term_view` ... specifically `hook_taxonomy_term_view` in core.  Thinking that overriding the menu callback per http://www.appnovation.com/blog/custom-taxonomy-term-pages may be the way to implement this.

[2014-10-16 14:45] mikefantini commented on #3162
@aaronschachter we also need:
- title
- facts

[2014-10-16 16:06] aaronschachter commented on #3159
Per https://github.com/DoSomething/dosomething/issues/3159#issuecomment-59257451 -- too crazy to try to pass multiple taxonomy fields as arguments to the /campaigns view.  Using a simplified Taxonomy view, `campaigns_by_term`, for now (which allows the the same view to be used for all terms).  Current view is all published campaign and campaign groups, with prioirty:
- Staff pick first
- Date crea

[2014-10-16 16:21] DFurnes commented on #3157
Waiting on a few other sponsor logos to batch with this update.

[2014-10-16 21:38] DFurnes commented on #3170
Will be uploading a new video in a sec!

[2014-10-16 21:56] DFurnes commented on #3170
@Bladt Updated with new video & poster image!

[2014-10-16 22:50] deezone opened #3177 "Add member_count merge_var"
The footer of transactional email message contains the text:

The "2.9 million" needs to be a `merge_var` that can be dynaically updated based on the results of a cURL call to `POST https://beta.dosomething.org/api/v1/get_member_count`.

See:
https://github.com/DoSomething/dosomething/wiki/API#get-member-count
- [x] Add `['merge_vars']['MEMBER_COUNT']` to payload of messages sent via `dosomething_

[2014-10-17 13:23] aaronschachter commented on #3177
@DeeZone Note that the API is only needed for external apps.  If you're within the `dosomething_mbp` module, use the `dosomething_user_get_member_count` function: https://github.com/DoSomething/dosomething/blob/v0.3.50/lib/modules/dosomething/dosomething_user/dosomething_user.module#L1181

[2014-10-17 13:56] aaronschachter commented on #3162
For title, we'll just be using the Term name.  Does Fact appear on every vocabulary?

[2014-10-17 16:31] #3166 closed, assigned to aaronschachter

[2014-10-17 17:39] barryclark commented on #3156
@blisteringherb @mshmsh5000 @sergii-tkachenko Thoughts on manually enabling the module, or tackling international module configuration?

[2014-10-17 17:43] aaronschachter commented on #3156
International config is the better option, but a quick way to do this programatically could be through an install hook, which @sergii-tkachenko has been doing in the UK and Canada modules for the External Auth module.

[2014-10-17 18:10] DFurnes opened #3183 "International sites need to be able to customize phone number format placeholder"
Validation for the phone number field (such as on user login) currently validates any domestic or international number with any country code. The placeholder `(555) 555-5555` that we give to users, however, is not always country-appropriate.

We need a way for each site to use country-appropriate date placeholders, either through translation (which is what we're doing on the UK site through the "U

[2014-10-17 19:31] #3170 closed, assigned to Bladt

[2014-10-17 20:44] #3168 closed, assigned to aaronschachter

[2014-10-17 20:58] #3163 closed, assigned to aaronschachter

[2014-10-17 21:00] aaronschachter opened #3187 "Taxonomy feature UUID conflict"
The UUID Features are exporting all fields, which means Taxonomy terms will be forever overridden.  My guess is that we either ditch UUID... or rebuild collections as a different entity, which, doesn't seem very logical.

![screen shot 2014-10-17 at 5 00 40 pm](https://cloud.githubusercontent.com/assets/1236811/4686036/b845d8de-5640-11e4-96d7-705cef915e9e.png)

[2014-10-17 21:16] blisteringherb commented on #3156
It seems like we don't really lose anything by putting these into install hooks for the time being since we can programmatically get a list of the the modules that are installed if we need to do that at some point.  The install hooks will also give us an idea of when things were enabled.

@aaronschachter

[2014-10-17 21:20] aaronschachter opened #3189 "Taxonomy Term access"
Add a `field_is_published` in order to determine what Term pages should be user facing.

This is sad but we are not in a spot to globally publish all terms, and Drupal does not have any other properties on terms which we could use to fake it.

[2014-10-17 21:22] aaronschachter commented on #3156
Yah, it's a good short term solution.  Will wait to begin this until #3176 is merged, to avoid conflicting install hooks.

[2014-10-17 21:24] #3187 closed, assigned to aaronschachter

[2014-10-17 21:41] #3189 closed, assigned to aaronschachter

[2014-10-17 21:44] aaronschachter opened #3191 "Admin Term table view"
New table view which lists all terms, with links to edit:
- Vocabulary
- Name
- Published
- Edit link

Grant access to editors, to allow for easy navigation / editing.

[2014-10-17 21:48] aaronschachter commented on #3159
Closing this issue, although we'll still need to theme each new field we add to the terms.

[2014-10-17 21:48] #3159 closed, assigned to aaronschachter

[2014-10-19 15:04] aaronschachter opened #3194 "Taxonomy Term view: Zendesk form"
For terms in the Cause vocabulary, create ticket with its corresponding Zendesk Group id.

For all other terms, create ticket without a group.

[2014-10-20 13:47] aaronschachter commented on #3183
@DFurnes Is the string wrapped in a `t` function?  If so, this can just be done via the admin translate UI.

[2014-10-20 14:52] DFurnes commented on #3183
@aaronschachter Yep, that's what we're doing on the UK site:

![translation interface on UK](https://cloud.githubusercontent.com/assets/583202/4703148/5d9603e4-5868-11e4-8f31-de9ffbc8a26e.png)

The string for the placeholder `(555) 555-5555` isn't showing up as translatable on other English-speaking sites, such as Canada, presumably because they don't have any other languages set up to translate t

[2014-10-20 15:04] aaronschachter commented on #3183
Hmmm. That I'm not sure of.  I don't see a English (Canadian) language to set as the default language, which would be ideal.

It's possible that this could be an override within the Canada settings.php, like this: https://github.com/DoSomething/dosomething/blob/v0.3.55/config/settings.php#L114

.. but not sure if that gets too into crazy town either (or.. is it just the cleanest?)

@sergii-tkachen

[2014-10-20 15:06] sergiitk commented on #3183
@aaronschachter confirming that there's no `en-ca` language in Drupal.

[2014-10-20 15:10] sergiitk commented on #3183
@aaronschachter let's try with settings override. I think there shouldn't be too much translation exceptions and the fact there's no special language in Drupal proves this point.

[2014-10-20 15:11] aaronschachter commented on #3183
@blisteringherb @sergii-tkachenko  Any thoughts as to how to add this to Canada's settings.php particularly?  And to keep it tracked within code?

[2014-10-20 15:12] #3191 closed, assigned to nobody

[2014-10-20 15:19] blisteringherb commented on #3183
@aaronschachter Maybe we can have an additional include statement in the settings.php that includes a settings file that's kept in version control.

[2014-10-20 15:25] sergiitk commented on #3183
@blisteringherb maybe we should put intl settings.php files to a private repo? I mean sometimes it's difficult to find something in those and I think it'd be better to have at one place.

[2014-10-20 15:27] aaronschachter opened #3197 "DS Build script no longer clears cache"
I've had to do it manually upon each deployment.

[2014-10-20 15:51] barryclark commented on #3183
Sounds good. @blisteringherb or @sergii-tkachenko would one of you be able to tackle that?

[2014-10-20 16:43] aaronschachter commented on #3162
@mikefantini Confirming: Assuming we want to display the Partner modals (e.g. Why we <3 Toyota) as well? with the video/image/copy fields?

[2014-10-20 17:02] mikefantini commented on #3162
@aaronschachter let's start with facts just on cause and issue for now.

and yeah we'll want the partner modals on collections that have partners. If you want we can just add that to the campaign collection vocabulary and then add it to other vocabularies as needed.

I could see us wanting it for issue and holiday as well potentially.

[2014-10-20 17:31] aaronschachter opened #3199 "Staff view of campaign as active while closed"
If a campaign is closed, there's no way to view its active state without setting its status to "Active".  This is problematic for Teens For Jeans, where the campaign is currently set to a closed state but we'll want to be able to test the active state.

[2014-10-20 17:54] #3156 closed, assigned to aaronschachter

[2014-10-20 18:31] aaronschachter opened #3200 "Views Export displays"
Refs https://jira.dosomething.org/browse/DS-304 -- Adding Views Data Export to contrib.

Add and export a new Export views display for each view listed:
- [ ] `user_search`
- [ ] `node_signups`
- [ ] `node_reportbacks`

Ensure that if Views Data Export module is creating the files somewhere, that its someplace non public.

[2014-10-20 18:41] aaronschachter commented on #3200
Views Data Export generates the exported file as a regular Drupal file, but does not set the status to permanent, so it will be deleted upon next cron run.

[2014-10-21 14:18] #3199 closed, assigned to aaronschachter

[2014-10-21 15:17] mikefantini opened #3204 "remove "Did you mean" suggestions on search"
Creates more confusion than help as is:

![image](https://cloud.githubusercontent.com/assets/6330971/4721017/47e43570-5935-11e4-817a-c0d36d279a0b.png)

[2014-10-21 15:34] mikefantini commented on #3162
Facts should be listed immediately after the display of campaigns. They should be under the header Facts About [Title].

The display of these facts should use this style: http://neue.dosomething.org/#typography---unordered-lists.

We should also have the Sources animation that we use on the action page and on facts pages.

[2014-10-21 16:00] aaronschachter commented on #1980
Closed by https://github.com/DoSomething/dosomething/pull/3065

[2014-10-21 16:00] #1980 closed, assigned to nobody

[2014-10-21 16:01] aaronschachter commented on #3161
@mikefantini and I met to discuss this -- we're going to keep Collections as `campaign_group` nodes.  Notes with pros/cons here: https://gist.github.com/aaronschachter/c0723b0b8908129fcceb

[2014-10-21 16:01] #3161 closed, assigned to aaronschachter

[2014-10-21 16:40] mikefantini opened #3206 "facts, action guides, campaign runs, and the homepage shouldn't show up in search results"
we're currently having individual facts show up in search results. These should be removed from possible results (user gets 404'd when they try to access the pages).

Fact pages and campaigns that have facts on them however should remain.

![image](https://cloud.githubusercontent.com/assets/6330971/4722525/ccc25780-5940-11e4-8f0f-4a070062d45c.png)

The homepage is also showing up and shouldn't:

!

[2014-10-21 16:43] mikefantini commented on #3206
ideally the content on an action guide would get associated with the campaign(s) it is associated with and help that campaign's search rank

[2014-10-21 16:51] mikefantini opened #3207 "change variables that are displayed on search results"
should look like this (with Search in purple header as is):

![image](https://cloud.githubusercontent.com/assets/6330971/4722895/2181e9c8-5943-11e4-82e1-12ddc750c0b9.png)

We would no longer display results as numbered, we would no longer pull in the snippets that contain the phrase that is searched, and we would pull in the cover image for campaigns and use our logo thumbnail for pages that don't

[2014-10-21 16:58] mikefantini commented on #2121
closing this since we're killing legacy soon anyways..

[2014-10-21 16:58] #2121 closed, assigned to barryclark

[2014-10-21 16:59] mikefantini commented on #2800
closing this issue since other search updates will resolve this.

[2014-10-21 16:59] #2800 closed, assigned to blisteringherb

[2014-10-21 17:12] mikefantini commented on #3207
Display the following content for the following content types:
- Campaigns
  -- Title
  -- Call to action
  -- Cover Image
- Static content
  -- Title
  -- Subtitle
- Fact page
  -- Title
- Campaign Collection
  -- Title
  -- Call to Action
  -- Cover Image

[2014-10-21 17:15] mikefantini commented on #3207
Also @blisteringherb let's chat in person about out ability to pull in taxonomy terms.

We're doing work to have displays of Taxonomy Campaign Collections. It would be sweet to pull these into search too but only if published (it's not drupal core published though, so may be more difficult).

If we are able to pull these in it'd be sweet to include:
- Title
- Cover Image
- Description (ideally cut

[2014-10-21 17:52] mikefantini commented on #3206
Ideally the content on a campaign run would get associated with the campaign it is associated with and help that campaign's search rank.

[2014-10-21 18:00] mikefantini opened #3209 "improvements to search results"
Here are a few examples of searches that don't return ideal results
- when searching for "apply scholarships", /scholarships should be my first result, not 20th
- when searching for "Nancy Lublin", top results should be /about/our-team
- when searching for "donate", /donate should be one of the top results
- when searching for "animal testing", bully text shows up and displays this content, even t

[2014-10-21 19:04] mikefantini commented on #3162
@aaronschachter design team wants there to be a field_intro_title for these to break up page a little bit so that it's not just full bleed image above our campaign tiles. can you add this to the fields needed above?

[2014-10-21 19:36] aaronschachter commented on #3162
We can add it, but there's always going to be a description in the text, which would prevent said situation...

[2014-10-21 19:37] mikefantini commented on #3162
right sorry they wanted this purple header to further break up the page. The 1-2 lines of text between the header and the campaigns didn't feel like enough.

[2014-10-21 19:45] aaronschachter opened #3211 "International build - features not reverting"
QA itnl currently broken because features not reverted, and new fields not created.  Production sites show quite a few features are not reverted as well.

[2014-10-21 20:00] aaronschachter commented on #3211
I'm wondering if these varnish errors are a clue?  Copied from http://admin.dosomething.org/jenkins/job/Beta-Deploy/568/consoleFull -- after this deployment (to QA International), the `field_sponsors` was not created, causing massive WSOD outages per #3210

[code]

[2014-10-21 20:50] aaronschachter opened #3212 "Address Form API form element needs dynamic country code"
For Shipment Form, the country code is hardcoded to US.  Check to see if `dosomething_user_get_address_administrative_area_options` returns results, if so, use them.  If not, default to `'US'`

[2014-10-21 20:50] aaronschachter commented on #3212
Note: This is different from the default User `field_address` features instance, which sets the default field value to country `US`

[2014-10-21 21:29] aaronschachter commented on #1876
This is a nice to have, that we don't really need or have designs for.

[2014-10-21 21:29] #1876 closed, assigned to nobody

[2014-10-22 18:16] aaronschachter opened #3214 "Grant communications team view unpublished access"
Useful for testing unpublished campaigns.

[2014-10-22 18:37] #3214 closed, assigned to aaronschachter

[2014-10-22 18:46] #3212 closed, assigned to aaronschachter

[2014-10-22 20:28] aaronschachter opened #3217 "Save CA as address country for DS Canada User Registration"
Discussed TFJ Canada with @sergii-tkachenko .  For now, we'll keep the User Address default country to US, and the DS Canada SSO classes (#3205) will set the User's country.

This should allow the Shipment Form to collect User addresses.  Current functionality is that User's `field_address` value is set to US upon account creation, so when you access the Shipment Form (via `dosomething_user_addres

[2014-10-22 20:37] mikefantini commented on #3207
we'll be using this gallery just for reference: http://neue.dosomething.org/#gallery---duo

[2014-10-23 14:52] aaronschachter commented on #3157
@DFurnes Closey close?

[2014-10-23 14:53] DFurnes commented on #3157
Oof. Yup! Closed by #3202.

[2014-10-23 14:53] #3157 closed, assigned to DFurnes

[2014-10-23 16:23] aaronschachter opened #3219 "Cleanup Partners preprocessing"
The `dosomething_taxonomy_get_partners_vars` is the first function written, which preprocesses `field_partners` into the `partners`, `partners_info`, and `sponsors` arrays.

The `dosomething_taxonomy_get_partners_data` is used by the Content API and the Campaign class (`dosomething_campaign_load`).  This function exists more for just a better output of the data (instead of a Drupal Field Collectio

[2014-10-23 17:29] aaronschachter commented on #3165
@mikefantini Just confirming: Default label is "Submit" ?

[2014-10-23 17:33] mikefantini commented on #3165
@aaronschachter yup

[2014-10-23 17:50] mikefantini opened #3220 "need pitch tab to show active state pitch page for closed campaigns, not the closed campaign view"
https://beta.dosomething.org/node/1144/pitch

[2014-10-23 18:01] barryclark opened #3221 "Fix Canada User Registration"
Details in Laravel API project below.

[2014-10-23 18:05] barryclark commented on #3221
Linked to dosomething/laravel-user-api#8

[2014-10-23 18:26] mikefantini opened #3222 "[submitted] token doesn't work on shipment form"
![image](https://cloud.githubusercontent.com/assets/6330971/4758771/ef72d5a0-5ae1-11e4-97d0-7d23ae5d55d7.png)

![image](https://cloud.githubusercontent.com/assets/6330971/4758776/f9bfd6e8-5ae1-11e4-9116-8ad46fe020bb.png)

Check out http://staging.beta.dosomething.org/campaigns/sandbox-campaign where everything is set up.

[2014-10-23 18:45] sergiitk opened #3223 "UK SSO: newly registered users has wrong country"
![image](https://cloud.githubusercontent.com/assets/672669/4759081/9db5bcca-5ae4-11e4-8974-c191f68d1a2e.png)

[2014-10-23 19:45] DFurnes opened #3225 "Footer expands outside of container on campaign group page"
The footer is expanding to the full width of the viewport on the campaign group page. It seems like this is the only page type where this is happening.
#### Screenshot:

![screen shot 2014-10-23 at 3 44 19 pm](https://cloud.githubusercontent.com/assets/583202/4760108/fdacc512-5aec-11e4-9e39-0e8616a5433d.png)
#### Expected behavior:

![screen shot 2014-10-23 at 3 44 47 pm](https://cloud.githubuserc

[2014-10-23 19:54] DFurnes commented on #3225
It looks like this is due to an unclosed tag in [node--campaign_group.tpl.php](https://github.com/DoSomething/dosomething/blob/dev/lib/themes/dosomething/paraneue_dosomething/templates/campaign_group/node--campaign_group.tpl.php).

/cc @aaronschachter

[2014-10-23 20:37] DFurnes commented on #3225
Fixed by #3227.

[2014-10-23 20:37] #3225 closed, assigned to nobody

[2014-10-23 20:58] aaronschachter opened #3228 "Add "Image Video" field to Image content type"
For the 404 page, we want to display a Video on desktop but an Image on mobile.  We are also experimenting with Video Cover images.  It seems useful to add a new field to the Image content type to render an Image node as a video file.
- Add a "Image Video" File field to the Image content type, which allows all video formats.  The resulting machine name should be `field_image_video`.
- Export the n

[2014-10-23 21:06] #3223 closed, assigned to sergiitk

[2014-10-23 21:13] aaronschachter opened #3229 "Notfound content type / template"
- [x] Create a new `notfound` content type, to create instances of 404 pages.  Should contain a `field_images` which contains Image nodes.
- [x] Create new module, `dosomething_notfound` to export content type to.
- [x] Add new module to the`dosomething.make` file, a la https://github.com/DoSomething/dosomething/blob/v0.3.63/lib/profiles/dosomething/dosomething.make#L7
- [x] Create a `node--notfou

[2014-10-24 13:50] aaronschachter opened #3231 "Campaign Group not outputting Source query string"
See boosomething.org -- unable to track signup source when users click through from the Group page.

[2014-10-24 14:29] #3231 closed, assigned to aaronschachter

[2014-10-24 14:31] #3217 closed, assigned to sergiitk

[2014-10-24 15:28] #3220 closed, assigned to aaronschachter

[2014-10-24 17:10] aaronschachter commented on #3211
Inspecting the log further shows this familiar error:

[code]

[2014-10-24 18:47] #3162 closed, assigned to aaronschachter

[2014-10-24 18:47] #3194 closed, assigned to aaronschachter

[2014-10-24 19:49] aaronschachter commented on #2264
@DeeZone I'm assuming we can close this?

[2014-10-24 20:41] #3222 closed, assigned to aaronschachter

[2014-10-25 00:43] #2264 closed, assigned to nobody

[2014-10-25 00:44] deezone commented on #2264
@aaronschachter Yes, this was a logistics issue on the campaign entry side.

[2014-10-26 21:23] deezone opened #3239 "Integrate message_broker_producer update"
The `message_broker_producer.module () has been updated to v0.2.0.`dosomething_mbp,module` needs to updated to integrate the new functionality.
- [ ] "Unpin" release version in `drupal-org.make` by removing:

[code]
- [ ] Add `hook_update` function to `dosomething_mbp` to create `message_broker_producer` production entries. The "production" entries will define exchange, queues and routing_keys val

[2014-10-27 14:44] mikefantini opened #3241 "sources treatment on collections should match other places on the site"
The spacing is off around sources for collections, especially between Sources and What You Get.

Let's replicate spacing on the campaign template:
![image](https://cloud.githubusercontent.com/assets/6330971/4792480/c0f7e654-5de6-11e4-9aad-60a02d08fde7.png)

Here is what it looks like now on collections:
![image](https://cloud.githubusercontent.com/assets/6330971/4792487/d0116a34-5de6-11e4-816c-382

[2014-10-27 15:00] aaronschachter opened #3242 "Update Canada User addresses"
Users currently imported have US stored in their `field_address`, which mean they'll be presented with the US states dropdown in the Shipment Form for Canada TFJ.

Update relevant Users to save `'CA'` to their `field_address` country, and confirm that the Shipment Form (test on https://canada.dosomething.org/node/1227) displays Canadian states.

[2014-10-27 15:09] aaronschachter commented on #2439
I'm fairly certain this was because of the original file uploaded.  Uploading into the GH comments actually adds it as a new file.  Closing because this hasn't come up since (afaik)

[2014-10-27 15:09] #2439 closed, assigned to nobody

[2014-10-27 15:10] aaronschachter commented on #2210
We are no longer supporting custom fields in Reportbacks.

[2014-10-27 15:10] #2210 closed, assigned to jonuy

[2014-10-27 15:11] DFurnes opened #3243 "School Finder can show submission errors multiple times"
From Trello reported bug [In Internet Explorer Sandbox Campaign window, error message is repeated twice.](https://trello.com/c/egqKlPf3/119-in-internet-explorer-sandbox-campaign-window-error-message-is-repeated-twice)

![sandbox_campaign_double_error_message](https://cloud.githubusercontent.com/assets/583202/4793100/62c2fda8-5deb-11e4-9813-2509eef0df00.jpg)

[2014-10-27 15:15] aaronschachter commented on #1678
This works!

![screen shot 2014-10-27 at 11 14 29 am](https://cloud.githubusercontent.com/assets/1236811/4793194/1db3e4ce-5dec-11e4-8db0-f27b8d2cdee5.png)

[2014-10-27 15:16] #1678 closed, assigned to nobody

[2014-10-27 15:16] #3243 closed, assigned to nobody

[2014-10-27 15:48] aaronschachter opened #3245 "Wipe User activity upon User delete"
Refs https://github.com/DoSomething/dosomething/pull/3095#issuecomment-56827783

Call `dosomething_user_clean_slate` and possibly rename function to something like `dosomething_user_delete_all_data` within a `hook_user_delete`.

[2014-10-27 16:10] aaronschachter commented on #3241
@tjrosario Collections here ==  taxonomy terms.

Here is a sample URL -- http://staging.beta.dosomething.org/volunteer/animals.  It's a template for a taxonomy term, which can be found in paraneue's `taxonomy` directory.  You'll also find theme preprocessing going on here: https://github.com/DoSomething/dosomething/blob/v0.3.66/lib/themes/dosomething/paraneue_dosomething/includes/preprocess.inc#L4

[2014-10-27 16:22] #3245 closed, assigned to aaronschachter

[2014-10-27 16:28] aaronschachter opened #3248 "Canada State label"
Request from @mfurdyk -- For school modal, label should read as "Province" instead of "State" in the first part of the select school modal.

Not sure if the Addressfield module makes this change on the User Profile field.  This is a similar request to #3183... where the ideal solution would be a Canadian language to use to translate variables to.

Setting this to low priority for now.

[2014-10-27 19:02] mikefantini opened #3250 "need config variable for "Need help locating your school" copy"
we'll want a config variable for this copy for the school finder in case it updates frequently as we're trying to react to questions and user confusion

wires: https://a0465d35-a-5d563b7e-s-sites.googlegroups.com/a/dosomething.org/dosomethinguxwiki/home/product-archive/school-finder/School%20Finder%20Wires%201.0.png?attachauth=ANoY7cpeKk4nt8wkj2e1iJd7IQv3zS_ByO1bU9RIjwK4pmNryd8w99ignAfWnUardavbnzJ

[2014-10-27 19:11] aaronschachter opened #3251 "Remove Pitch Page optimizely templates"
Pitch Page SEO updates have been worked into the main template.

Remove extra templates, eg. `pitch--content--pineapplepushups.tpl.php`  and any additional code added for the Optimizely tests.

[2014-10-27 19:17] aaronschachter commented on #2757
Why is this closed?  this still seems very relevant. cc @blisteringherb

[2014-10-27 19:29] aaronschachter opened #3252 "Hide User Profile tabs from non-staff"

[2014-10-27 19:47] joolaay opened #3253 "Add intro text field below gallery titles"
A few static content QBs are asking for a text field to be added to the galleries. They want to write a brief intro to the images under the title.  It would be awesome to have this feature before the Advisory Committee static page launches this sprint.

[2014-10-27 19:52] joolaay opened #3255 "Trim 11-facts spacing between intro & first fact"
Whoa - there's way to much spacing here.

![screen shot 2014-10-27 at 3 51 55 pm](https://cloud.githubusercontent.com/assets/6331017/4798344/cac86a6a-5e12-11e4-9344-627aba5ef4bf.png)

[2014-10-27 20:02] barryclark commented on #3253
@julielorch Under http://neue.dosomething.org/#gallery-triad ?

@weerd Could you tackle this one w/ Julie?

[2014-10-27 20:10] joolaay commented on #3253
yo yo, it's actually for the duo: http://neue.dosomething.org/#gallery-duo

But might make sense to stick an intro field on both

[2014-10-27 20:22] barryclark commented on #3253
Sweet, would be great if you and @weerd could iron out how that would look/work.

[2014-10-27 20:46] mikefantini commented on #3253
we should add this as a field to the field_gallery field collection. this will make it available to any and all galleries.

I think the new field added should be:

machine name: field_gallery_description
user facing form name: Gallery Description
help text: This description will be appear between the gallery title and the images in the gallery. Only include this if you think context is _really_ ne

[2014-10-27 21:04] aaronschachter opened #3257 "Refactor build script to pull from dosomething-dist repo"
The `hubot release` command runs the dosomething make file, and pushes the built HTML directory to the https://github.com/DoSomething/dosomething-dist repo.

Refactor `ds build` to pull from the repo instead of running the make.  will greatly improve time it takes to deploy.

[2014-10-27 21:17] aaronschachter commented on #3211
Our last prod deploy was 555: http://admin.dosomething.org/jenkins/job/Beta-Deploy/555/consoleFull.  Only one instance of the field already exists error:

[code]

[2014-10-27 21:20] aaronschachter commented on #3211
Also:

[code]

[2014-10-27 21:24] aaronschachter commented on #3211
Same errors occur in http://admin.dosomething.org/jenkins/job/Beta-Deploy/549/consoleFull.  `field_data_field_weight` table exists, and all of the `blocked_ips` table doen't exist errors.  Last 2 production deployments.

[2014-10-27 21:30] aaronschachter opened #3258 "DS Build should fail upon Drupal errors"
e.g. "Table already exists", "Table does not exist" errors should cause a build to fail, helping us catch them as they occur.

Refs https://github.com/DoSomething/dosomething/issues/3211#issuecomment-60418814

[2014-10-28 01:46] mikefantini opened #3259 "autocomplete on school finder doesn't work on production"
when a user goes to find his school and starts typing the school name, no options appear in the autocomplete on production so a user can't sign up his school

video: http://screencast.com/t/IxzMELN7W

this works fine on staging

@aaronschachter not sure if this is you or @DFurnes

I assume it's not @joshcusano since it works fine on staging.

[2014-10-28 01:53] DFurnes commented on #3259
API endpoint in settings needed to be set to HTTPS to work on production. Fixed.

[2014-10-28 01:53] #3259 closed, assigned to DFurnes

[2014-10-28 12:22] aaronschachter opened #3260 "Remove "User Profile Link" theme setting / conditionals"
Cleanup task for once we're ready to go live with the Profile. We don't need the theme setting or the conditional logic in the template anymore.

[2014-10-28 13:11] aaronschachter opened #3261 "Profile template v1.0"
New User Profile sections for v1.0: https://sites.google.com/a/dosomething.org/dosomethinguxwiki/home/product-archive/profile-template
- [x] You're Doing
  - Displays active standard campaigns which the user has signed up for (Campaign Type == 'campaign' && Campaign is not closed)
  - If no campaigns, displays copy variables
- [x] You Did -- Displays all user reportbacks.
  - If no reportbacks, th

[2014-10-28 13:12] aaronschachter commented on #3261
@mikefantini @lkpttn The mocks show inconsistent header for the Prizes section between the empty and filled designs.  Is the header to be "My Swag" ?

[2014-10-28 13:33] #3252 closed, assigned to aaronschachter

[2014-10-28 13:39] aaronschachter commented on #3250
@DFurnes I can add a new variable for this into the DS User admin config form and pass the variable to the `dosomething_user_preprocess_page` function... (which i'm thinking actually would be cleaner to move into paraneue preprocess instead) .. but where is the copy displayed?  Would you be able to pick this up once I set up the variable?

[2014-10-28 14:22] #3250 closed, assigned to aaronschachter

[2014-10-28 14:24] aaronschachter commented on #3250
@mikefantini The copy can be overwritten by an admin at `admin/config/dosomething/dosomething_user`.  If no variable is present, the current copy on the site will be used.

[2014-10-28 14:32] blisteringherb commented on #3204
The "Did you mean" has been removed from the search results.

[2014-10-28 14:41] lkpttn commented on #3261
These will all be "Your _____" and swag should be prizes. So "Your Prizes".

[2014-10-28 14:42] aaronschachter opened #3264 "Refactor dosomething_user_address_country variable"
The function introduced in #3249 adds some duplication, we need just one place to check for a country code.

This issue is to replace the calls using the variable `dosomething_user_address_country` with the new `dosomething_settings_get_affiliate_country_code` function.

Also the `dosomething_settings_is_affiliate` function can now be refactored to use `dosomething_settings_get_affiliate_country_c

[2014-10-28 14:42] mikefantini commented on #3204
sweet thanks! so can we close this out?

[2014-10-28 14:43] mikefantini commented on #3250
awesome thanks

[2014-10-28 14:59] mikefantini opened #3265 "update display of campaigns on taxonomy collections"
let's have the following view of campaigns on taxonomy collections:
- if 4 campaigns, goes 4 across
  ![image](https://cloud.githubusercontent.com/assets/6330971/4810332/8d904302-5eb2-11e4-9531-c1c7823a0625.png)
- if 5 campaigns, featured + 4
  ![image](https://cloud.githubusercontent.com/assets/6330971/4810344/9cacd026-5eb2-11e4-883d-5eba3da88050.png)
- if 6+ campaigns, 5 treatment plus show more

[2014-10-28 15:04] mikefantini opened #3266 "need field_intro_image added to taxonomy collections"
display should be the same as grouped campaigns

![image](https://cloud.githubusercontent.com/assets/6330971/4810483/a7671d4a-5eb3-11e4-9972-9d51060df756.png)

[2014-10-28 15:06] aaronschachter commented on #3265
This gallery is using the same template as the Campaign Group node template.  Is this treatment the same for Campaign Groups?  (the answer should be yes)

[2014-10-28 15:21] mikefantini commented on #3265
yeah that's the plan.. having some debate with campaigns and data on the ideal solution.. will update this issue once we're able to come to a consensus

[2014-10-28 15:23] blisteringherb commented on #3209
As I'm going through the examples it looks like the content itself may need to be tweaked to be more relevant in the search results.  I'll make notes as I go through on what I'm seeing and we can experiment with making changes.
-  when searching for "apply scholarships", /scholarships should be my first result, not 20th
  - The word "apply" doesn't appear at all on the /scholarship pages, so boost

[2014-10-28 15:25] aaronschachter commented on #3265
FYI -- Ideally we should refactor the Homepage node template to use this same shared gallery as Taxonomy Terms and Campaign Groups.

[2014-10-28 15:27] blisteringherb commented on #3204
Yup!

[2014-10-28 15:27] #3204 closed, assigned to blisteringherb

[2014-10-28 15:27] aaronschachter commented on #3204
@blisteringherb What was done to remove it?

[2014-10-28 15:27] mikefantini opened #3267 "featured campaign on collections is super pixelated"
## The fix:

See #3474 - We need JS which handles mobile / desktop transition; on desktop, dynamically switch the image src to the data-attribute src defined to replace the 400x400 with the 768x768
## The bug:

Using `400x400` preset for all Campaign Galleries makes the Featured image pixellated.

![image](https://cloud.githubusercontent.com/assets/6330971/4810900/ba407dd2-5eb6-11e4-8f1a-7a216968f

[2014-10-28 18:41] sergiitk opened #3269 "Vagrant international build: affiliate sites use wrong database settings."
When vagrant build with international affiliates support, affiliate sites use `dosomething` database instead of `dosomething_{country}`. Example:
### Example

[UK affiliate](http://dev.uk.dosomething.org:8888/) should be using `dosomething_uk`, but is uses `dosomething` DB instead, even though `sites/uk/settings.php` is loaded.
#### Wrong

Here's the result of the following code execution:

[code]

[2014-10-28 19:34] aaronschachter opened #3270 "Broken page layout for User Password Reset"
Somehow I borked this today.

![](https://s3.amazonaws.com/uploads.hipchat.com/34218/899995/MczbyI6ODu7blbd/why.png)

[2014-10-28 21:41] mikefantini opened #3273 "editors and admins should see action page on campaign pages even if not signed up"
might be related to pitch and active tab work from earlier, but if an editor or admin is not signed up for a campaign she should still see the action page without having to sign up for the campaign

[2014-10-28 21:44] mikefantini commented on #3273
happening on staging and production:
- http://staging.beta.dosomething.org/campaigns/momm-o-grams
- https://beta.dosomething.org/campaigns/game-box

[2014-10-28 21:50] barryclark commented on #3273
How tricky is this @aaronschachter?

[2014-10-28 22:36] mikefantini commented on #3267
happening on the homepage too

[2014-10-28 22:51] mikefantini opened #3275 "Update field name on Confirm password to Confirm Password on user registration"
Update field name on Confirm password to Confirm Password.

It's the only field that doesn't capitalize first letter of both words:
![image](https://cloud.githubusercontent.com/assets/6330971/4818545/d7d4881e-5ef4-11e4-850e-270285e7391f.png)

[2014-10-28 22:57] mikefantini commented on #3275
@DFurnes super low priority obviously but super small too and just noticed this inconsistency. thoughts?

[2014-10-29 14:43] #3270 closed, assigned to aaronschachter

[2014-10-29 14:44] #3273 closed, assigned to aaronschachter

[2014-10-29 15:32] barryclark commented on #3273
:raised_hands: :beers: @aaronschachter

[2014-10-29 15:55] #3266 closed, assigned to aaronschachter

[2014-10-29 17:05] mikefantini opened #3279 "user never gets logged in on firefox on staging"
When I try to create an account, one gets created, I'm just not logged in.

When I try to log in, it says it works, but I'm still not logged in.

This also happens why trying to sign up for a campaign by logging in or creating an account. Instead of being logged in and taken to the action page, the pitch page just reloads and I'm still logged out. When looking at the signups for that campaign, the

[2014-10-29 17:14] aaronschachter commented on #3279
What campaign / user ? Just tested http://staging.beta.dosomething.org/campaigns/hunt-day-2-trash-scavenger-hunt logging with an existing account in Firefox, and it worked for me.  Also works with creating a new account on campaigns/hunt-day-2

[2014-10-29 17:16] mikefantini commented on #3279
mfantini+banners@dosomething.org was the user

happened when trying to log in on the homepage and trying to log in to /campaigns/sandbox-campaign

also happened when created an account with mfantini+mozillanotworking@dosomething.org

I'm on firefox 33.0.2

[2014-10-29 17:20] aaronschachter commented on #3279
I'm able to login and create account ok with sandbox campaign too. Firefox 32.0.3.  Will update and test again.

[2014-10-29 17:49] aaronschachter commented on #3279
Upgraded to 33.0.2, and upon creating a new account, I was directed to homepage after sign in on the Sandbox pitch page.  The new user was not signed up. :crying_cat_face:

[2014-10-29 17:57] mshmsh5000 commented on #3279
:fire: :dog2: == :sob:

[2014-10-29 17:58] mikefantini commented on #3279
yeah even if I'm just on the homepage and try to log in it doesn't work. the page just reloads and I'm still logged out.

[2014-10-29 18:01] mikefantini commented on #3279
same with creating an account. the page just reloads and I'm still logged out. but the user gets created -> user 1702369

[2014-10-29 18:09] mshmsh5000 commented on #3279
This is usually about page caching and headers. Firefox has always behaved differently w/r/t honoring page caching headers than has Webkit and other engines.

[2014-10-29 18:35] mshmsh5000 commented on #3279
The inconsistent behavior has been an issue for many years: https://bugzilla.mozilla.org/show_bug.cgi?id=428916

[2014-10-29 19:21] aaronschachter opened #3280 "Campaign Confirmation page links don't work"
Yeahhh. Click on those links, they bring you to the homepage.

[2014-10-29 20:10] mikefantini commented on #3279
still experiencing this issue even after @aaronschachter cleared cache

[2014-10-29 20:23] lkpttn commented on #3279
I was able to create accounts, log in and out with a new account and my admin account.

Firefox 29.0.x
Firefox 30.0
Firefox 33.0.2

[2014-10-29 20:39] mikefantini commented on #3279
OS X version 10.9.5

[2014-10-29 20:40] mikefantini commented on #3279
And I'm getting transactional emails

[2014-10-29 20:41] mikefantini commented on #3279
others in the office can't seem to replicate it but the specialist guild flagged the issue initially

[2014-10-29 21:17] angaither commented on #3279
I also can't replicate, but trying to debug with @mikefantini
Some fun facts
- the session is being created for the user
- the POST for `/login` returns a 302 error (but it does that on successful logins as well???)
- I put debug statements into the `dosomething_user` module and it shows everything correctly for the `form_alter` but it never prints debug info from 'user_validate`or`login_submit`

[2014-10-29 21:33] #3280 closed, assigned to nobody

[2014-10-29 21:47] mikefantini commented on #3279
the specialist guild is seeing it on windows 7 pro, Firefox 33

[2014-10-29 22:01] mikefantini opened #3282 "action guide list margin cleanup"
In Action Guide modal, if a `<p>` occurs after a `<ul>` add a top margin on the `<p>`.

[code]

currently using non-breaking spaces, remove them from the cms example: https://beta.dosomething.org/campaigns/speak-out-week

[2014-10-29 22:29] aaronschachter commented on #3279
it would be helpful to know if the same behavior happens without the modal, if they (and others who can replicate) could test:

http://staging.beta.dosomething.org/user/login

http://staging.beta.dosomething.org/user/register

[2014-10-30 02:10] mshmsh5000 commented on #3279
Unable to replicate with FF 33.0.2 on OS X or Windows 8.

_Request to anyone who can replicate:_
1. Start in unauthenticated state
2. Log in
3. Verify you're experiencing the issue (i.e., header link still says "Log in")
4. Reload the page

Does step 4 resolve the issue?

[2014-10-30 02:16] mshmsh5000 commented on #3279
Also unable to replicate with FF 33.0.2 on Windows 8.1.

[2014-10-30 13:56] angaither commented on #3279
When I was testing on @mikefantini's computer yesterday
@mshmsh5000 Step 4 doesn't resolve the issue

[2014-10-30 13:59] aaronschachter opened #3283 "Paraneue Gallery theme functions"
- [x] Create function to return a Neue Gallery `<ul>`: http://neue.dosomething.org/#gallery.   Pseudo code:

[code]
- [x] Create function to return a Neue Gallery tile: http://neue.dosomething.org/#tile.  Pseudo code:

[code]
- [x] Use functions within the User Profile.  We'll want to add a `paranaue_dosomething_preprocess_user_profile` hook to set the function outputs as variables, and then print

[2014-10-30 14:02] DFurnes commented on #3279
Unable to replicate as well. Tested logging in from homepage through the modal on Firefox 34.0, 33.0, 32.0, 31.0, and 30.0 on Windows 7 through Browserstack. Also unable to replicate on Firefox 33.0 and 32.0 on OS X 10.9 through Browserstack.

We're not doing anything special in the modal that should be causing unique issues there (as compared to the `/user/login` page). It's just a traditional HT

[2014-10-30 15:32] mikefantini commented on #3279
@aaronschachter trying on http://staging.beta.dosomething.org/user/login and http://staging.beta.dosomething.org/user/register results in the same issue

and yeah @mshmsh5000 like @angaither said refreshing the page does not resolve the issue

[2014-10-30 15:38] aaronschachter opened #3284 "Add Reportback Caption field"
- [x] Add new `caption` column to the `dosomething_reportback_file` table
- [x] Add caption form element to the `dosomething_reportback_form`, and save to Reportback table accordingly.

[2014-10-30 16:26] ArielSD commented on #3177
@DeeZone @barryclark Fantini told me to connect with you about the member count auto-updating at the bottom of the email template. How can I help?

[2014-10-30 18:07] mikefantini commented on #3279
The specialist guild can no longer replicate the issue since their firefox version updated.

Having them look into it more later today. But after they test, if I'm the only one who can replicate then let's just close this issue.

[2014-10-30 18:25] aaronschachter opened #3285 "Reportback Gallery View"
- [x] Displays all Reportback Images and their captions.
- [x] Should be accessible via endpoint to make paginated Ajax requests.
- [x] Filter by Reportback File status (see #3389)
- [x] Allow random sort

[2014-10-30 18:40] #3211 closed, assigned to blisteringherb

[2014-10-30 18:44] mshmsh5000 commented on #3279
:+1: Closing. This smacks of FF bug, not DS bug.

[2014-10-30 18:44] #3279 closed, assigned to mshmsh5000

[2014-10-30 18:46] aaronschachter opened #3286 "Reportback Form cropping"
After User has uploaded an image, present Square cropping tool to save a Square image.

The Reportback Form should save the original file as the `fid` and the processed file as `fid_processed`.  The options selected (x, y, width, height) should be saved as a serialized array within `options_processed`.

[2014-10-30 19:04] aaronschachter opened #3287 "Multiple images reportback flow"
If User has not reported back, the form is displayed within the Prove It section (sans modal).  The User can upload a photo, rotate it, crop it, and add a caption within a modal on the form.

If User has reported back, the Reportback is displayed as read-only.  Clicking the "Update Submission" button will display the Reportback Form, with all fields populated with the reportback values.
- An "add

[2014-10-30 19:13] aaronschachter opened #3288 "Prove It theming"
- [x] Yellow BG
- [x] Display Reportback Form on page (no more modal)
- [x] Gallery, with show more (blocked by #3285)

[2014-10-30 19:19] aaronschachter opened #3289 "404 page callback"
- [x] Create a menu callback `notfound` which will be set as the Drupal 404 path
- [x] Use `hook_install` to set the 404 page variable to `notfound` -- look at `variable_set` for how to do this programmatically. Also create a default notfound node populated with variables for default title, copy, image.
- [x] The page callback needs to find a random published and promoted `notfound` node nid, load

[2014-10-30 20:38] #3282 closed, assigned to sbsmith86

[2014-10-30 20:39] sbsmith86 commented on #3282
Please remove non-breaking spaces!! @mikefantini

[2014-10-30 20:44] angaither commented on #3286
@mikefantini @DFurnes do we have a pixel size we should crop to?

[2014-10-30 20:54] mikefantini commented on #3286
@kerigoff @julielorch thoughts ^?

[2014-10-30 21:04] DFurnes commented on #3286
I think that's going to depend a lot on what share sheet ends up looking like (since we're using these cropped photos there too, right?). Something like `400x400` seems safe though if you want an estimate.

[2014-10-30 21:41] aaronschachter opened #3293 "Admin reportback create/edit form"
Allow administrators ability to create a reportback entity, selecting the User Uid and the Campaign node nid that the reportback should be associated with.

Also expose these fields on the Reportback Edit form.

This will be used to add Reportbacks to the Closed state of Legacy Campaigns for which we'll be creating new beta campaign nodes.

[2014-10-31 00:44] deezone commented on #3177
@ArielSD On my to-do for the start of next week, This issue needs to be closed and deployed to production before making the Mandrill template update.

[2014-10-31 15:24] mikefantini commented on #3286
yes @DFurnes we will be using these on share cards as well.

@angaither can you start with 400x400? hopefully it's something that's not tough to update if we have to later?

[2014-10-31 15:26] aaronschachter commented on #3286
I'm guessing the ideal here is we keep a high-res file but also a separate cropped fid.  If we're only storing the cropped fid, we'd be in trouble if we ever wanted to display a bigger pic later (like for the instagram style permalink)

[2014-10-31 15:30] aaronschachter commented on #3165
I'd prefer to leave this variable intact in case we ever want to change the label.  Perhaps its just used instead as an Override, and if a value is not set, it will default to "Submit".

[2014-10-31 15:33] mikefantini commented on #3165
ok fine. but just let the record show i was trying to get rid of a field and @aaronschachter made the call to keep it.

[2014-10-31 15:33] #3165 closed, assigned to aaronschachter

[2014-10-31 15:47] mikefantini opened #3297 "add copy as intro to all 11 facts pages"
"Welcome to DoSomething.org, one of the largest orgs for young people and social change! After you’ve browsed the 11 facts (with citations at the bottom), take action and volunteer with our millions of members. Sign up for  [a campaign](https://www.dosomething.org/campaigns) and make the world suck less."

[2014-10-31 15:49] aaronschachter commented on #3297
Style?  Just display as the Intro?  Do we still want to keep the Intro field? If so - What does this look like if the intro is also filled out - just 2 paragraphs?

[2014-10-31 16:33] angaither commented on #3286
Based on [research](http://media.tumblr.com/tumblr_mee2p7e1Yc1row2y8.gif) on the [imagefield crop](https://www.drupal.org/project/imagefield_crop) module, this does not seem like a good way to go.
Here's why:
- It uses the [jcrop](http://deepliquid.com/content/Jcrop.html) plugin, but it [uses an old version that does not support mobile](https://www.drupal.org/node/1961334)
- since the reportback f

[2014-10-31 17:28] sbsmith86 commented on #3283
@aaronschachter Hey Aaron - What do you mean by "Use functions within User Profile"? This hook needs to live in template.php or is there a User Profile module it should be in?

[2014-10-31 17:48] #2051 closed, assigned to deezone

[2014-10-31 17:48] #3239 closed, assigned to nobody

[2014-10-31 17:55] aaronschachter commented on #3283
Hi @sbsmith86 !  In this `dosomething_user_preprocess_user_profile` function --  https://github.com/DoSomething/dosomething/blob/v0.3.78/lib/modules/dosomething/dosomething_user/dosomething_user.theme.inc#L62, the user's reportbacks are collected as the `$reportbacks` variable in the theme template: https://github.com/DoSomething/dosomething/blob/v0.3.78/lib/themes/dosomething/paraneue_dosomething

[2014-10-31 17:57] aaronschachter opened #3299 "User Profile: Theme "I'm Doing" items as different tile"
Currently themed using `campaign_block`.  Should be rendered as a tile with functions in #3283

[2014-10-31 18:12] sbsmith86 commented on #3283
@aaronschachter Ah ok. So this new `paranaue_dosomething_preprocess_user_profile` hook can live in template.php and use the `$reportbacks` variable to generate the tiles using the new theme functions?

[2014-10-31 18:13] aaronschachter commented on #3283
yup!

[2014-11-03 15:51] aaronschachter opened #3300 "User Profile displays logged in user info for all profiles"
Seems like a buggy bug in preprocessing somewhere.

[2014-11-03 17:27] mikefantini commented on #3286
hmm ok.

@weerd i know you had some ideas for this as well. any thoughts on other solutions that might work better?

[2014-11-03 17:38] aaronschachter commented on #3297
Assigning to @mikefantini for more details.

[2014-11-03 17:39] mikefantini commented on #3297
Let's kill the intro field and replace it with this default copy, so we'd never have a case where we have both.

The style should display at 2/3 width (although can't find it on neue.dosomething.org). @lkpttn thoughts?

[2014-11-03 17:43] aaronschachter commented on #3255
This is related to #3297.  cc: @mikefantini @julielorch @lkpttn

[2014-11-03 17:45] mikefantini commented on #3255
copying over from #3297 The style should display at 2/3 width (although can't find it on neue.dosomething.org). @lkpttn thoughts?

[2014-11-03 17:49] mikefantini commented on #3209
All of these ones look good with one exception:

now when searching for Nancy Lublin the only result is Heart on your Sleeve

thoughts @blisteringherb?

[2014-11-03 17:54] aaronschachter commented on #3297
@mikefantini Just confirming we'll also want to kill the Intro Title field too, as well as Intro:

![screen shot 2014-11-03 at 12 52 57 pm](https://cloud.githubusercontent.com/assets/1236811/4887164/50278aa0-6382-11e4-8d34-ccadc590a4c4.png)

Also the Fact Page hero image field is not used within the template.  Should we also remove this field as well while we're cleaning this up?

[2014-11-03 17:59] mikefantini commented on #3297
yeah let's remove these variables.

clicking around I can't find any instances in which we use them.

I could see the argument for having an intro title, but probably more as a config variable that is put on all pages rather than as a field on the node

cc: @julielorch

[2014-11-03 18:05] #3248 closed, assigned to nobody

[2014-11-03 18:09] aaronschachter commented on #3297
Deleting the `field_hero_image` as well.

[2014-11-03 18:10] joolaay commented on #3297
Hhmmm - was there talk about testing gifs in the hero?

[2014-11-03 18:11] aaronschachter commented on #3297
The hero image field is currently not displayed at all within the Fact Page template.  There is an "intro image" which is the image to the right of the copy, as per screenshot in https://github.com/DoSomething/dosomething/issues/3297#issuecomment-61518673.  Is that what you are referring to, @julielorch ?

[2014-11-03 18:14] mikefantini commented on #3297
@julielorch I was pretty sure we squashed testing gifs in the hero for now since we don't have a call to action for the header that makes sense given the context of the user looking for facts

[2014-11-03 18:15] aaronschachter opened #3303 "Message Broker / DS MBP errors"
Per @DeeZone on 10/31:

Something funky going on with message_broker_producer_update_7002 not being built on staging when doing a deploy. As a result dosomething_mbp_update_7002 fails as the database table is missing.

[2014-11-03 18:16] joolaay commented on #3297
Great! I can, however, imagine requests for header images.

On Mon, Nov 3, 2014 at 1:14 PM, mikefantini notifications@github.com
wrote:

[2014-11-03 19:27] weerd commented on #3286
This is a possibility: http://www.croppic.net/

Work "ok" on mobile. Would probably have to add dragging ability to photo within the container box...  Looking for other plugins as well.

[2014-11-03 19:52] deezone commented on #3303
For the record, it's a race condition as @aaronschachter suspected. `dosomething_mbp_update_7002` runs first and fails as it's looking for the `message_broker_producer_productions` database table that's created in `message_broker_producer_update_7002`.

[2014-11-03 20:10] mikefantini opened #3304 "update results not found copy on search"
assigning to me for now as I'm waiting on feedback from Ben

[2014-11-03 20:16] mikefantini commented on #3304
suggested copy here: https://docs.google.com/a/dosomething.org/document/d/1qzPPflSebgzjQih_c_IVPOptwqkCKG_xgwpJmdTwGK0/edit

[2014-11-03 20:17] weerd commented on #3286
The demo for this actually works rather well on mobile: http://tympanus.net/Tutorials/ImageResizeCropCanvas/

Likely means we handle all the cropping on the client side (front-end) and then just pass the original and cropped images to Drupal, with some :sparkles:  magic :sparkles:  in between :dancer:

[2014-11-03 21:27] #3297 closed, assigned to aaronschachter

[2014-11-03 21:29] mikefantini commented on #3304
@blisteringherb is this a cofig variable anywhere where I can just update the copy?

[2014-11-03 21:32] #3300 closed, assigned to aaronschachter

[2014-11-03 21:34] #3293 closed, assigned to nobody

[2014-11-03 21:48] aaronschachter commented on #3293
@mikefantini Reportbacks can be created from `admin/users/reportbacks/add`.  This has been deployed to staging and probably on prod tomorrow 11/4/2014

[2014-11-03 21:57] aaronschachter opened #3307 "Canada Users are still created with US address"
Created an account on Canada prod, but when I go to edit my profile, I am still presented with the US states.  needs investigation but my guess is that the `field_address` value stored is using US and not CA.

[2014-11-03 22:29] mikefantini commented on #3293
sweet thanks man

[2014-11-03 23:00] aaronschachter opened #3308 "Track Action Page views vs Pitch Page views"
**ISSUE:** We need to track unique "Action Page" views in Google Analytics.  Current limitation is that we don't have a way to distinguish page views between the Pitch Page and Action Page, since both have the same URL.

**UPDATED:** Fire a GA tracking event for every action page view, in order to specifically track action page views.  We could fire one for Pitch Page views too, for the hay of it.

[2014-11-03 23:04] aaronschachter commented on #3308
One thing that kinda sucks about this is that if a user shares the action page, this screws the analytics up.

[2014-11-04 13:44] aaronschachter commented on #3303
Re-opening per @DeeZone comment in chat:

[2014-11-04 15:04] weerd commented on #3308
Anything we could do with HTTP headers? Not even sure if that would solve anything, but just throwing it out there.

[2014-11-04 15:07] DFurnes commented on #3308
Can we check for `?signedup` query string when rendering the pitch page and redirect user to a URL without it if they aren't authenticated & signed up?

Something like this?

[code]

[2014-11-04 15:08] angaither commented on #3308
We could have the pitch page url we use internally be exposed (or have a pretty version of it exposed)
That way that can be shared, or the main url can be shared and application logic already handles redirecting depending on the user's status.

[2014-11-04 15:14] DFurnes commented on #3308
Also there's probably a more appropriate Drupal-y way to do that, so ignore my PHP. :sheep:

[2014-11-04 15:19] aaronschachter commented on #3308
Yeah I'm into the redirect (its `drupal_goto` btw @DFurnes )

@angaither The separate pitch page URL is a good idea too... but it feels like a bigger lift here if the redirect gets us what we'd need.  We'd to need to figure out the pretty version of the pitch page URL, and staff / users might get a little tripped up by having 2 separate URLs...

[2014-11-04 15:26] deezone commented on #3303
No need to roll back, https://github.com/DoSomething/dosomething/pull/3309 and https://github.com/DoSomething/message_broker_producer/compare/0.2.2...master address all of the issues.

[2014-11-04 17:29] mshmsh5000 commented on #3308
@aaronschachter @DFurnes @angaither The redirect will only work if the app gets hit...just thinking through this.

`?signedup` pages will always be generated by authenticated users who sign up, which means they won't get cached in Varnish (because of the session cookie).

So if an authenticated user shares the `?signedup` link with an unauthenticated user, the new user will hit `?signedup`, which

[2014-11-04 20:19] aaronschachter opened #3311 "DS Build is broken"
New unseen error, occurring in `ds build` as of Tuesday afternoon 11/4

cap aborted!
SSHKit::Command::Failed: cd '/var/www/beta.dosomething.org/releases/20141104201434'; /var/www/beta.dosomething.org/releases/20141104201434/bin/ds build stdout: Nothing written
cd '/var/www/beta.dosomething.org/releases/20141104201434'; /var/www/beta.dosomething.org/releases/20141104201434/bin/ds build stderr: Noth

[2014-11-04 20:33] tjrosario opened #3312 "Donate Page: New UI Requirements"
**Updated description** - by @aaronschachter 11/12

No new hero pattern, just basic form modal.  I've added checklist for all items needed below.

**Original issue**

Overview:

We will need add the ability to support a new Hero pattern that includes:
- Input field for donate amount
- CTA that links to opening a Stripe payment form modal

Other page requirements:
- [x] Include a Stripe payment for

[2014-11-04 20:34] aaronschachter commented on #3311
@sergii-tkachenko 's eagle eyes have spotted that builds seem to have started failing as a result of:

[code]

which is grabbed automatically by including Services in our make file.

[2014-11-04 20:39] aaronschachter commented on #3311
Confirmed that commenting out Services from the make file runs a `ds build` successfully, locally:

[code]

[2014-11-04 21:04] #3311 closed, assigned to nobody

[2014-11-04 21:25] aaronschachter commented on #3303
Re-opening until we're fixed

[2014-11-04 21:35] lkpttn commented on #3255
The 3/4 view isn't explicitly defined in Neue as a pattern we use (yet). It has markup support in production already but I don't know how it would be triggered on the back-end.

[2014-11-04 21:57] mikefantini opened #3315 "remove I <3 null from state field"
![image](https://cloud.githubusercontent.com/assets/6330971/4908801/8d4be782-646d-11e4-93dd-562900c39f24.png)

if state=null we shouldn't have a validation message

[2014-11-04 21:59] DFurnes commented on #3315
Isn't this an edge case?

[2014-11-04 21:59] mikefantini opened #3316 "can't select a state in the school finder"
Looks like select field doesn't have any options.

https://s3.amazonaws.com/uploads.hipchat.com/34218/363821/Bfhyz1XY7UvyDHu/Screen%20Shot%202014-11-04%20at%204.57.52%20PM.png

[2014-11-04 22:00] mikefantini commented on #3315
closing because once we fix #3316 this won't be an issue

[2014-11-04 22:00] #3315 closed, assigned to DFurnes

[2014-11-04 22:04] mikefantini commented on #3316
also @aaronschachter can we remove Puerto Rico and Virgin Islands (if VI is there, or if any other non-50 states are there)? I can open a separate issue for this if you want

[2014-11-04 22:06] aaronschachter commented on #3316
Can we also remove them from the states dropdown in the Address field?  It would be best to keep in sync.

[2014-11-04 22:12] mikefantini commented on #3316
ah yeah i get that.. only thing that is a bit frustrating is that here we won't have any schools for them so we're kind of giving them false hope

so if it needs to stay synced I would say just keep PR/virgin islands

just feels kind of crappy because we're giving the user the allusion that it won't fail when we know it will

[2014-11-04 22:30] aaronschachter commented on #3303
I've added a `watchdog` into the `message_broker_producer_request` : https://github.com/DoSomething/message_broker_producer/pull/85

and get this output: https://gist.github.com/aaronschachter/a57d6e06888f69daaf99

[2014-11-04 23:09] aaronschachter commented on #3316
I don't think its worth filtering this list based on whether or not we have schools there.  This can constantly be changing.

Note to self: I visited Yeah Science and the options were present on stage.  Went to sandbox and they went away. Then saw this error that @mikefantini was also seeing too:

Warning: Invalid argument supplied for foreach() in form_select_options() (line 2723 of /var/www/beta

[2014-11-04 23:44] mikefantini commented on #3316
yeah i'm fine with not changing the options based on context

[2014-11-04 23:48] mikefantini commented on #3228
@aaronschachter would this set us up to have video tiles on the homepage like we ran that test for as well?

[2014-11-04 23:50] aaronschachter commented on #3228
Yes - It gives us the place to upload the video.  Need a separate issue to style the homepage title as video if it exists.

[2014-11-04 23:50] mikefantini commented on #3228
yeah figured; just checking

[2014-11-05 00:01] mikefantini commented on #1392
@aaronschachter can we close this one out at this point?

[2014-11-05 00:20] mikefantini opened #3317 "Path-specific 404 page suggestions"
As we kill the legacy app, it will be important to have a few bits of preset copy to provide context for the user depending on which section of the legacy app they were coming from.

For example, if a user is coming from /projects/123, we'll want to provide them with copy that is projects specific.

**Updated description**

Since we only need suggestions for 2 URL patterns, we will just add 2 copy

[2014-11-05 00:24] mikefantini opened #3318 "search results on 404 page"
We'll want to split up parts of the URL, run a SOLR query, and display the results to the user.

Ex. /blog/puppies-running should do a SOLR query of "puppies running" and provide the user the top 4 search results for that query.

Mocks:
![image](https://cloud.githubusercontent.com/assets/6330971/4910640/2ad6b504-6482-11e4-8453-b12018472ea3.png)

[2014-11-05 00:24] mikefantini commented on #3318
from @blisteringherb:

Information about the MLT (more like this) blocks for solr:
/dosomething/html/profiles/dosomething/modules/contrib/apachesolr/apachesolr_search.module

You can create MLT blocks in the UI here - admin/config/search/apachesolr/search-pages and then load them with apachesolr_search_mlt_block_load($block_id). I believe those blocks are exportable through Features, but I'd have

[2014-11-05 00:34] mikefantini commented on #3318
also we'll want to exclude certain words in the path from the search.

unfortunately these paths we're set up so great to start with but to start the list of terms we'll want excluded:
- actnow
- actionguide
- tipsandtools
- background
- blog
- category
- tags
- news
- page
- quiz
- who
- what
- where
- which
- why
- when
- a
- an
- the
- to
- how
- your

filtering https://docs.google.com/a/dosome

[2014-11-05 00:49] mikefantini opened #3319 "change display of search results"
need to make fender updates once #3207 is set

should look like this (with Search in purple header as is):

![image](https://cloud.githubusercontent.com/assets/6330971/4910878/7c922e66-6485-11e4-9703-821da86ff554.png)

We would no longer display results as numbered, we would no longer pull in the snippets that contain the phrase that is searched, and we would pull in the cover image for campaigns

[2014-11-05 00:49] mikefantini commented on #3319
also note for taxonomy collections that show up in search we'd want to display:
- Title
- Cover Image
- Description (ideally cut off after x characters to fit display).

[2014-11-05 02:45] mikefantini commented on #3265
chatted about this in person with both of you, but unfortunately that won't be the case

we'll want to keep Campaign Groups and the homepage as they are and make the updates above for Taxonomy Collections

[2014-11-05 03:18] mikefantini opened #3320 "change select state label on canadian school finder to select province"
![image](https://cloud.githubusercontent.com/assets/6330971/4912229/69ac5faa-649a-11e4-8741-a876c5bee934.png)

[2014-11-05 03:25] mikefantini opened #3321 "Update "still having issues?" language on school finder"
Still having issues? Contact us [link] with your school name and state/province.

![image](https://cloud.githubusercontent.com/assets/6330971/4912296/573263be-649b-11e4-80a8-df7f768a67c9.png)

[2014-11-05 03:27] mikefantini opened #3322 "get Zendesk set up on Canada"
**UPDATE:**

The approach is to set up Zendesk for Canada to avoid all more affiliate-only logic.

Once #3351 is merged and `dosomething_zendesk` is uninstalled on all affiliate sites (per #3349), the steps will be to:
- [x] manually enable DoSomething Zendesk module on Canada
- [x] set up its auth variables
- [x] set its dosomething_zendesk_group_id to the Canada Zendesk group.

**ORIGINAL ISSUE:

[2014-11-05 03:29] mikefantini commented on #3321
since we're going to try adding zendesk to Canada's site per #3322 I updated the copy we want above to be state/province rather than just state

[2014-11-05 03:30] mikefantini commented on #3322
one possible route (although no idea how hard this is) would be to flag the "Still having issues..." bit to not display for Canada and then we can just include the text above in the admin copy config variables

[2014-11-05 14:24] aaronschachter opened #3323 "MBP 7002 update never completes"
[code]

[2014-11-05 14:48] aaronschachter commented on #3323
Current state of staging DB on 11/5 (rolled back from Friday's 6am DB)

message_broker_producer is 7002.
dosomething_mbp schema is 7001.

However the `message_broker_producer_productions` table does not exist, suggesting that `message_broker_producer_update_7002` did not create the table.

[2014-11-05 14:51] aaronschachter commented on #3323
Ugh. Fresh DB pull and I see this:

Performed update: dosomething_fact_page_update_7005                  [ok]
Performed update: dosomething_user_update_7005                       [ok]
Performed update: dosomething_fact_page_update_7006                  [ok]
Performed update: dosomething_mbp_update_7002

So maybe this is just because I forgot to drop tables.  See https://github.com/DoSomething/doso

[2014-11-05 14:51] #3323 closed, assigned to nobody

[2014-11-05 14:54] #3132 closed, assigned to deezone

[2014-11-05 15:00] aaronschachter commented on #3311
Per @sergii-tkachenko  -- This may have been caused because of https://github.com/blog/1917-github-pages-legacy-ip-deprecation

[2014-11-05 16:17] DFurnes opened #3326 "Add "Show More" results button to School Finder"
Add a "Show More" button to load more results (say, 50 rather than 10?) if JSON response has a `more_results` flag set. See DoSomething/lofi-schools-flask#2.

[2014-11-05 16:53] sbsmith86 commented on #3283
@aaronschachter For the `paraneue_get_gallery($items, $type = 'duo')` function, were you envisioning a theme function & tpl for every gallery type, similar to the get_tile() function? Or something else?

So we would have a .tpl for every gallery type and this function would choose the tpl to use based on type and then we pass the template an array of themed items.

[2014-11-05 16:59] mikefantini commented on #3322
from standup the plan is to investigate turning on zendesk for Canada and have all questions from Canadian users go into the one Canadian group

[2014-11-05 17:04] aaronschachter commented on #3283
Yup, that's what I was thinking... but totally open to other ideas too.

[2014-11-05 17:05] sbsmith86 commented on #3283
@aaronschachter my thought as well! just wanted to make sure I was on the same page.

[2014-11-05 17:35] sergiitk commented on #3307
Are you sure guys that new users have `US` in `field_address`?
Here's last user registered on DS Canada production:

[code]

[2014-11-05 17:36] sergiitk commented on #3307
As I see last 12 users has `CA` country.

[2014-11-05 17:41] sergiitk commented on #3307
Here's [user #1732915](https://canada.dosomething.org/user/1732915/edit) I just created. It has `CA` set as country:

[code]

However, the address field still shows US states:
![image](https://cloud.githubusercontent.com/assets/672669/4922541/dd8f0f1c-6512-11e4-8c28-536b00903aba.png)

@aaronschachter, could you please check if field display set right?

[2014-11-05 17:49] aaronschachter commented on #3307
Is this because of the settings on the `field_address` feature?   it prevents you from having a CA address?

[2014-11-05 17:49] aaronschachter commented on #3307
Also, do you see Canada states in the "Send me stuff" form on https://canada.dosomething.org/campaigns/canada-schools-test ?   I am, which I actually don't understand how that's happening (I'm logged in as my admin account)

[2014-11-05 17:53] mikefantini commented on #3286
ok great so should we try to get basic implementation of this up to test it out?

@weerd @angaither?

[2014-11-05 17:59] sergiitk commented on #3307
On page https://canada.dosomething.org/campaigns/canada-schools-test new users see states of Canada!
![image](https://cloud.githubusercontent.com/assets/672669/4922849/87dab690-6515-11e4-8f97-b4818cd52135.png)

[2014-11-05 18:00] sergiitk commented on #3307
@mikefantini Does it make this ticket closed?

[2014-11-05 18:01] aaronschachter commented on #3307
Yeah this is weird.  I definitely saw this bug 2 days when I opened it.  yeah @mikefantini can you test too?

[2014-11-05 18:04] sergiitk commented on #3307
@aaronschachter I think we should report new bug with country field on user edit form.

[2014-11-05 18:05] aaronschachter commented on #3307
Yeah that makes sense, @sergii-tkachenko .  Can you please open it?  That issue will def not be critical for TFJ for launch.

[2014-11-05 18:08] blisteringherb commented on #3207
I've created a branch, https://github.com/blisteringherb/dosomething/tree/search-appearance, that removes the numbers, and adds the cover image as a thumbnail to campaigns in search results.  I've added the HTML from the pattern library, but it doesn't seem to be working properly, so I'm hoping a fender might be able to help with that.  I was also unsure where the 100x100 logo should come from sin

[2014-11-05 18:10] sergiitk opened #3328 "US states are shown on users profile page on Canada"
On Canada [user #1732915](https://canada.dosomething.org/user/1732915/edit) has `CA` (Canada) country in address field:

[code]

However, the address field still shows US states:
![image](https://cloud.githubusercontent.com/assets/672669/4922541/dd8f0f1c-6512-11e4-8c28-536b00903aba.png)

Related issue: #3307
CC @aaronschachter

[2014-11-05 18:23] mikefantini commented on #3307
i'm still seeing state on https://canada.dosomething.org/campaigns/canada-schools-test for a user I _just_ created on production email mfantini+canada1@dosomething.org

![image](https://cloud.githubusercontent.com/assets/6330971/4923222/cf9c6bf6-6518-11e4-8bb3-a2e39fe7fe48.png)

[2014-11-05 18:26] aaronschachter commented on #3303
Closed by https://github.com/DoSomething/messagebroker-config/pull/42 !!

[2014-11-05 18:26] #3303 closed, assigned to deezone

[2014-11-05 18:31] sergiitk commented on #3307
@mikefantini I think the issue is in the way you save the user when making it an administrator. I assume, thats when your country got reset to `US`. See issue #3328
Let me just grant you admin role using drush.

[2014-11-05 18:37] mikefantini commented on #3307
yup you're right @sergii-tkachenko closing this out now

[2014-11-05 18:37] #3307 closed, assigned to sergiitk

[2014-11-05 18:40] sergiitk commented on #3328
Additional: when the form is saved, country field gets reset back to `US`.
For example, user [user #1732917](https://canada.dosomething.org/user/1732917/edit):

[code]

[2014-11-05 19:13] mikefantini commented on #3207
ok let's touch base on this before it gets shipped to production because we don't want incomplete stuff getting pushed live

@lkpttn @DFurnes can we get that 100x100 logo you guys recommended up on paraneue?

[2014-11-05 19:20] mikefantini opened #3329 "remove data-validate='zip' attribute on address collection for international sites"
![image](https://cloud.githubusercontent.com/assets/6330971/4924160/b97cdd26-6520-11e4-909c-74c59445286c.png)

[2014-11-05 19:22] DFurnes commented on #3329
@mikefantini Removing `data-validate` on the zip code field will stop it from trying to validate based on US zip code rules. If UPS validation is failing, we'll need to remove that too.

[2014-11-05 19:27] aaronschachter opened #3330 "Zendesk admin form tweaks"
- [x] Don't make Zendesk ID mandatory.  Currently there's a lot of `campaign_group` nodes in there that shouldn't have their own Zendesk Group Id's
- [x] Confirm `member support` role has access to Zendesk admin form.  If not, grant permission in order for Member Support to associate Zendesk groups with `campaign_group` nodes.

[2014-11-05 19:43] aaronschachter commented on #3316
This is because we rolled back the database on staging to debug Message Broker issues, and the codebase didn't match because an update wasn't executed.  Options now live.

[2014-11-05 19:43] #3316 closed, assigned to aaronschachter

[2014-11-05 20:04] aaronschachter commented on #3320
Deploying International QA v0.3.84.  Current version was v0.3.78

`dosomething_canada_update_7006` is not being executed on deploy because of Message Broker table issues:

[code]

Current Canada schema is 7005, which is causing this bug.

[2014-11-05 20:16] aaronschachter commented on #3320
This may be because the modules are disabled but not uninstalled (module updates still run if a module is disabled).  What's a bit more concerning here is if our US deploy will bork upon next deploy.

[2014-11-05 20:22] aaronschachter commented on #3320
Testing. Uninstalled MBP and Message Broker on QA, manually updated at update.php, and it ran the updates. The dropdown label and options have been updated on QA... uninstalling the modules on Canada prod may fix this.

[2014-11-05 20:57] lkpttn commented on #3207
This should duplicate the Gallery - Duo pattern.

http://neue.dosomething.org/#gallery---duo

[2014-11-05 21:03] DFurnes commented on #3207
:+1: to what Luke said. Duo Gallery with Media tiles inside it.

[2014-11-05 21:04] DFurnes commented on #3207
For the image, we can use the same image as our [touch icon](https://github.com/DoSomething/neue/blob/dev/assets/images/apple-touch-icon-precomposed.png). It's in `paraneue_dosomething/bower_components/neue/dist/assets/images/`.

[2014-11-05 21:11] itsjoekent commented on #3229
done https://github.com/DoSomething/dosomething/pull/3331

[2014-11-05 21:11] #3229 closed, assigned to itsjoekent

[2014-11-05 21:11] itsjoekent commented on #3289
done https://github.com/DoSomething/dosomething/pull/3331

[2014-11-05 21:11] #3289 closed, assigned to itsjoekent

[2014-11-05 21:12] mikefantini commented on #3319
as @blisteringherb mentioned, fender work on this should be done on this branch: https://github.com/blisteringherb/dosomething/tree/search-appearance

[2014-11-05 21:18] aaronschachter opened #3333 "Render Image video in header if Image video field exists"
~~Blocked by #3228~~

Preprocessing should be done within`dosomething_helpers_preprocess_hero_images` and `dosomething_helpers_add_inline_css` so it can be used by the various templates which call that function.

[2014-11-05 21:29] barryclark commented on #3329
@sergii-tkachenko This seems like a really quick one to tackle when you're working on Canada schools/address functionality. Holler if you have any questions.

Thanks @DFurnes!

[2014-11-05 21:33] sergiitk commented on #3329
@barryclark  Ok, I will fix this.

[2014-11-05 21:38] aaronschachter opened #3334 "Notfound module needs to include features"
Module file is missing `include_once 'dosomething_found.features.inc';`

[2014-11-05 21:52] #3334 closed, assigned to itsjoekent

[2014-11-05 22:57] mshmsh5000 commented on #3308
@joshcusano @Bladt This is looking a little more complicated than it needs to be.

What if the action view always fires off a GA event like "Teens For Jeans - Signup" gets fired? Then you can just track how many of those events occur. They'll never fire on the pitch page because the JS code for this will only be in the action view template.

The event label can be determined in the action template

[2014-11-05 22:59] aaronschachter commented on #3320
This is because https://github.com/DoSomething/dosomething/commit/ccb7e184b45dec7869fca3b50abbd1d9d5a26079 has not been deployed to Canada production yet.

I've deployed to QA Canada to test and confirmed there are correct label/provinces:https://qa.canada.dosomething.org/node/1227 although this will be overwritten tomorrow when the QA Canada DB is refreshed.

We'll deploy international tomorrow A

[2014-11-05 22:59] #3320 closed, assigned to aaronschachter

[2014-11-05 23:02] aaronschachter commented on #3308
cc @DFurnes -- I know you guys were chatting GA events.

[2014-11-05 23:06] DFurnes commented on #3308
The issue that we were seeing is that events that were hooked up form submission were firing inconsistently. My best guess is that browsers (and from the data, it seems like in particular mobile browsers) were canceling the analytics event HTTP request when the page changes since we submit this request right before a new page is loaded.

[2014-11-05 23:08] aaronschachter commented on #3308
So the idea here is we just simply send it when specifically the Action Page template -- not trying to tie any of the events to form submission.

[2014-11-06 14:24] mikefantini commented on #3286
hey @sbsmith86 passing this over to you right now, @mshmsh5000 will help clarify what's needed

[2014-11-06 15:23] aaronschachter opened #3337 "Allow staff to reset a user's Signup Data Form submission"
Build a form on the Signup view (e.g. `/signup/[sid]`) which allows staff to reset the `dosomething_signup.signup_data_form_timestamp` to NULL.

Although it will be a manual process for staff to do, his will allow for any users who want to re-select their school ability after they've already submitted the form with a "I am unaffiliated"

[2014-11-06 15:42] #3242 closed, assigned to sergiitk

[2014-11-06 16:02] sergiitk opened #3339 "Setup cron to run drush command to cleanup US users on affiliates"
When v0.3.87 is on production, we need to setup cron to run drush command every minute on every affiliate: `drush cancel-us-users`.

It will remove ~ 1,600,000 users in batches of 1000 per minute.
It takes ~30 seconds to process one batch. However, even if old process is still running, it'll just exit and wait the process to finish. In total it will take ~30 hours.

Details in #3095.

[2014-11-06 16:03] sergiitk commented on #3339
CC @aaronschachter @mshmsh5000 @mikefantini

[2014-11-06 16:08] DFurnes commented on #3308
Oh, I totally misread that. Oops. :sweat_smile:

We can do that if that's simpler. So the plan is to conditionally include the code to fire the GA event when a user sees the action page for the first time?

[2014-11-06 16:09] sergiitk opened #3340 "Setup a cron job to update users address country"
We need to create a cron job that runs  `drush update-users-country` every minute on each affiliate. It works same as `drush cancel-us-users`, but it will fix users countries. Details in #3338 and #3242.

[2014-11-06 16:10] sergiitk commented on #3340
CC @aaronschachter @mshmsh5000 @mikefantini

[2014-11-06 16:11] aaronschachter commented on #3308
I think it can just be every time the action page is loaded, fire the GA event for Action page, if we just want to track Action Page views. (vs first page views)

Could do the same for a different Pitch page event, if we wanted to, to keep it similar.

[2014-11-06 16:13] DFurnes commented on #3308
That's fine too. Didn't we want to be able to specifically track signups (first action page view, as opposed to all action page views) though?

[2014-11-06 16:14] sergiitk commented on #3340
It'd also be great to forward stdout and stderr to log file to follow progress.

[2014-11-06 16:19] sergiitk opened #3341 "Create permanent solution that fixes users country"
- [ ] Alter user insertion on DS affiliates that will change address country to user ones
- [ ] Stop cron created in #3340

Function that detects affiliate country code created in #3249

[2014-11-06 16:26] aaronschachter commented on #3308
@Bladt can you chime in here? sounded like tracking just the Action Page would give us 90% of what we need, which sounds pretty good for Tuesday's launch.

[2014-11-06 17:13] DFurnes opened #3342 "Optimizely snippet is causing script errors on production"
See Web Inspector console on www.dosomething.org:

![screen shot 2014-11-06 at 12 10 54 pm](https://cloud.githubusercontent.com/assets/583202/4940154/fd18475c-65d7-11e4-94b0-134c7134fd5d.png)

Seems to be coming from the Optimizely module.

/cc @DeeZone

[2014-11-06 17:14] #3326 closed, assigned to DFurnes

[2014-11-06 17:15] DFurnes commented on #3342
Seems to mostly be coming from an `optly.Cleanse` method.

[2014-11-06 17:34] mikefantini opened #3344 "turn off address validation on canadian site"
![image](https://cloud.githubusercontent.com/assets/6330971/4940529/26e56058-65db-11e4-869d-76ae044f1b1f.png)

@DFurnes @sergii-tkachenko

[2014-11-06 18:04] DFurnes commented on #3308
From discussion at standup: we'll be triggering `[CAMPAIGN TITLE] - Action Page View` event on every page view on the Action Page for a given campaign.

[2014-11-06 19:07] Bladt commented on #3308
@DFurnes what will the resulting url structure be? (working on setting up automatic reporting)

[2014-11-06 19:24] sergiitk opened #3347 "Stop users cleanup cron task and cleanup code"
When US users are removed from all affiliates, stop cron created in #3339 and remove code introduced in #3095. Expected to be processed on week 46.

CC @Bladt @barryclark

[2014-11-06 19:29] sergiitk opened #3349 "Create bin script to run drush commands at every affiliate"
Reference #3339, #3340.

CC @aaronschachter

[2014-11-06 19:31] sbsmith86 commented on #3286
ok! @mshmsh5000 Do you have a sec to go over this issue?

[2014-11-06 19:46] aaronschachter commented on #3286
I walked through this with @sbsmith86. @DFurnes We need the thumbnail back on the form, in order to crop it.  What happened to it?  Can you point @sbsmith86 in the right direction for JS land.

[2014-11-06 20:04] #3349 closed, assigned to sergiitk

[2014-11-06 20:09] DFurnes commented on #3308
The URL will be the same, but we'll be firing a Custom Event on each page load of the action page (rather than triggering it on pitch page form submission as we were before).

[2014-11-06 20:13] sergiitk opened #3353 "Provide the common source of the affiliates list"
The list must be easy to include in shell, PHP and JS scripts. Everything containing hardcoded scripts must be refactored. Examples:
- [bin/ds](/DoSomething/dosomething/blob/34afed32afc47814f3cfc54ae9846befba262e60/bin/ds#L143)
- [bin/drush-intl](/DoSomething/dosomething/blob/34afed32afc47814f3cfc54ae9846befba262e60/bin/drush-intl#L19)
- [config/sites.php](/DoSomething/dosomething/blob/34afed32afc

[2014-11-06 21:05] mikefantini opened #3354 "school finder doesn't work on ie8/ie9 operating system windows 7"
never actually shows results, just spins searching for matches

[2014-11-06 21:07] itsjoekent commented on #3317
Quick questions -
- Is the results coming from search results? Or manually set?
- Is there a relation between the results copy and the header? If not than I don't see a reason to supply a specific node like in your example, just the bottom results would change depending if it's path specific or not.

[2014-11-06 21:11] mikefantini commented on #3354
happening in ie9 as well

[2014-11-06 21:21] mikefantini commented on #3354
works in ie10 and safari and firefox

[2014-11-06 21:29] DFurnes commented on #3354
Looks fine on [Firefox 32 in BrowserStack](https://cloud.githubusercontent.com/assets/583202/4944250/e6261ab4-65fb-11e4-8982-d501657fd254.png). Continuing to investigate.

[2014-11-06 21:36] #3228 closed, assigned to itsjoekent

[2014-11-06 21:38] itsjoekent commented on #3333
Unblocked

https://github.com/DoSomething/dosomething/pull/3355

[2014-11-06 21:42] aaronschachter commented on #3322
Up and running on Canada prod.

[2014-11-06 21:42] #3322 closed, assigned to aaronschachter

[2014-11-06 21:49] Bladt commented on #3308
Ok. ETA what this change will make it to production?

[2014-11-06 21:50] aaronschachter commented on #3329
@sergii-tkachenko I am still experiencing this error on the Canada site, on https://canada.dosomething.org/node/1227.

![screen shot 2014-11-06 at 4 49 14 pm](https://cloud.githubusercontent.com/assets/1236811/4944564/e4696c8c-65fe-11e4-8b4d-5c1b0a97456a.png)

I think that https://github.com/DoSomething/dosomething/issues/3344 will fix anyway though.. because we shoudln't have any validation at al

[2014-11-06 21:51] aaronschachter commented on #3329
Wait, I had to turn off the JS setting :smile:

[2014-11-06 21:51] #3329 closed, assigned to sergiitk

[2014-11-06 21:52] sergiitk commented on #3329
Ups, forgot to do it by myself.

[2014-11-06 21:57] sergiitk commented on #3340
Added to crontab on intl production:

[code]

[2014-11-06 21:57] #3340 closed, assigned to sergiitk

[2014-11-06 23:03] mikefantini commented on #3209
this is resolved now

[2014-11-06 23:03] #3209 closed, assigned to blisteringherb

[2014-11-06 23:16] mikefantini commented on #3206
still seeing fact about homelessness as first result when searching homelessness

![image](https://cloud.githubusercontent.com/assets/6330971/4945745/e6337678-660a-11e4-983b-c698732edb37.png)

[2014-11-06 23:36] mikefantini commented on #3317
1. @deadlybutter sorry what "results" are you referring to here? do you mean the campaigns that we recommend to them? if so, these are coming from our recommendation system @aaronschachter put together
2. the header will always be the same regardless if it's a "path specific" 404 or a "search results" 404. there only difference is what shows up below the header. what I was recommending was that we

[2014-11-07 00:06] DFurnes commented on #3308
Will be up with next deploy, which is slated to go out tomorrow morning.

[2014-11-07 00:15] #3354 closed, assigned to DFurnes

[2014-11-07 01:05] #3308 closed, assigned to DFurnes

[2014-11-07 14:38] #3344 closed, assigned to aaronschachter

[2014-11-07 16:33] aaronschachter opened #3364 "Cleanup DS User variables"
Weird PHP things happening but the `if (!dosomething_settings_is_affiliate()) {` checks in the DS User install hooks are returning TRUE.

We can manually set things right via drush, but should change the code in these update hooks so people don't copy/paste this funkyness.

`dosomething_user_update_7006` set the `dosomething_user_validate_address` variable for all affiliates.

And apparently, `dos

[2014-11-07 16:35] sergiitk commented on #3364
Note: it's easier to use `bin/drush-intl vget` and `bin/drush-intl vset -y`.

[2014-11-07 16:38] sergiitk commented on #3364
QA's dosomething_is_affiliate should work fine:
![image](https://cloud.githubusercontent.com/assets/672669/4956498/8ac457c0-669c-11e4-948d-9e5d9a38a616.png)

[2014-11-07 17:16] aaronschachter opened #3365 "User Email Opt-in preferences"
Build ability for users to opt-out of:
- User Digest (Here’s the campaigns youre signed up for and here’s the details that are new this week).  Currently weekly
- Campaign updates (Emails specific to a campaign)
- User Events (Your birthday, your anniversary)

Upon user registration, users should saved with all of these values set as "subscribed".
- [ ] Message Broker needs preferences stored in M

[2014-11-07 19:25] #3337 closed, assigned to aaronschachter

[2014-11-07 19:27] aaronschachter commented on #3364
Right, but I think the trick here is the usage of the function.. particular the negative of the function... `!dosomething_settings_is_affiliate()`...

[2014-11-07 19:33] aaronschachter commented on #3328
This one is nasty. I suspect it's because the `field_address` feature is configured to US:

https://github.com/DoSomething/dosomething/blob/v0.3.96/lib/modules/dosomething/dosomething_user/dosomething_user.features.field_instance.inc#L24

and

https://github.com/DoSomething/dosomething/blob/v0.3.96/lib/modules/dosomething/dosomething_user/dosomething_user.features.field_instance.inc#L55

This woul

[2014-11-07 19:36] aaronschachter commented on #3283
Closed by #3343

[2014-11-07 19:36] #3283 closed, assigned to sbsmith86

[2014-11-07 19:40] sergiitk commented on #3364
@aaronschachter why would you think it would work wrong?

[2014-11-07 19:42] aaronschachter commented on #3364
Well, because it has been.  All the US only variables have been set on the affiliate sites.  Still haven't looked into how the heck to replicate though.

[2014-11-07 19:42] sergiitk commented on #3364
As expected...
![image](https://cloud.githubusercontent.com/assets/672669/4959210/344a6168-66b6-11e4-8a25-1ef253a17351.png)

[2014-11-07 20:25] #3321 closed, assigned to aaronschachter

[2014-11-07 20:40] deezone commented on #3365
New production entry "transactional-user_profile_update" to reference when sending `message_broker_producer_request() when user profile is updated.
https://www.dosomething.org/admin/config/services/message-broker-producer/add-edit-production/transactional-user_profile_update

[2014-11-07 20:43] aaronschachter commented on #3365
Shouldn't best practice for us be to add production entries via MBP install hook?  That way we have a record of it (and its populated in staging), and can add inline comments to better document why we're adding it.

[2014-11-07 20:45] deezone commented on #3365
Good point!

[2014-11-07 20:47] aaronschachter commented on #3365
Do you mind deleting the entry and adding it via install hook then?

[2014-11-07 20:52] deezone commented on #3365
Done and on my way...

[2014-11-07 20:55] aaronschachter commented on #3365
Just checking / making sure I understand: you don't need to update the mb-config.json, because it's using all existing exchanges/queues, right?

[2014-11-07 20:55] #3330 closed, assigned to nobody

[2014-11-07 20:57] deezone commented on #3365
Yep, that update is in the works too: https://github.com/DoSomething/messagebroker-config/issues/43 as it will require a new queue off of the transactionalExchange.

[2014-11-10 13:00] itsjoekent commented on #3317
I think you answered what I was looking for, thanks!

[2014-11-10 16:06] mikefantini opened #3370 "all paragraph/bulleted list text should be 3/4 length"
![image](https://cloud.githubusercontent.com/assets/6330971/4978891/2367c306-68f3-11e4-8b4d-feee5b3d67a7.png)

![image](https://cloud.githubusercontent.com/assets/6330971/4979018/0dd8a2f2-68f4-11e4-8103-3b909a549083.png)

uses the same container as the Do It section on the campaign template

![image](https://cloud.githubusercontent.com/assets/6330971/4978916/639356c0-68f3-11e4-9f99-3fce699ab7c8.pn

[2014-11-10 16:09] DFurnes commented on #3370
@tjrosario This may need to done case-by-case by just setting these containers/paragraphs to span 9 columns. We'll be thinking about how we want to adjust our layout patterns to work better in an upcoming sprint.

[2014-11-10 16:51] aaronschachter opened #3372 "Paraneue Gallery: "Show more" functionality"
The `paraneue_get_gallery` should support an option to specify whether or not a "Show more" link should display.

If set to display, the gallery should hide/display additional items within the template.

[2014-11-10 17:00] #3299 closed, assigned to aaronschachter

[2014-11-10 17:06] aaronschachter commented on #3261
Closing this and creating separate issues for remaining Profile sections.

[2014-11-10 17:06] #3261 closed, assigned to aaronschachter

[2014-11-10 17:07] aaronschachter opened #3373 "User Profile: Redeem T-Shirt Form"
- [ ] Create a separate TPL for the Redeem Copy / Form, to easily allow it to be embedded in the User Profile
- [ ] Displays Reward Redeem Form if a redeemable reward exists, else displays copy around T-Shirts.
  This section should only displayed if the `dosomething_reward` module exists.

[2014-11-10 17:10] aaronschachter opened #3374 "User Profile: Campaign Status bender"
Add a section to the Profile which lists all Campaigns a user has signed up for.
- If the user has reported back, link to the campaign should read as "Update"
- If the user has not reported back, link to the campaign should read as "Prove It"

[2014-11-10 17:10] aaronschachter opened #3375 "User Profile: Campaign Status fender"
Blocked by #3374

Requires a new Neue pattern, according to Team Fender.

[2014-11-10 17:13] aaronschachter commented on #1861
@julielorch @lkpttn Is this issue still valid?  The new mocks show a pipe character.

[2014-11-10 17:15] aaronschachter opened #3376 "User Profile: I'm Doing buttons"
Add "Prove It" buttons to each Figure for the "I'm Doing" section.

@weerd suggested that these be added as a separate `<div>` instead of including within the `description`.  @weerd -- are there Neue updates needed for this?

[2014-11-10 17:21] aaronschachter opened #3377 "User Profile: My Scholarships"
Scholarship section should list all Scholarships the User has been entered for, including past scholarships.  This can contain Campaign nodes with Scholarships, but desired functionality is also for Seasonal Scholarships to be listed as well.

Best approach would be to create a table for Scholarship entities.  A Scholarship would have a start and end date range. These dates would be used to determ

[2014-11-10 17:44] weerd commented on #3376
No need for a `<div>` if not needed. A simple `<a>` with appropriate button classes should be fine. Just need to likely add updates to center button in pattern.

[2014-11-10 19:59] aaronschachter opened #3378 "PHP Warning in Paraneue Gallery"
Warning: Invalid argument supplied for foreach() in paraneue_get_gallery() (line 50 of /var/www/vagrant/lib/themes/dosomething/paraneue_dosomething/includes/patterns.inc).

[2014-11-10 20:19] #3378 closed, assigned to aaronschachter

[2014-11-10 20:25] mikefantini opened #3380 "add title field to taxonomy collections"
please add to cause, action type, and issue

[2014-11-10 20:28] mikefantini opened #3381 "add facts header field to taxonomy collections"
again add this to cause, action type, and issue terms

[2014-11-10 21:36] aaronschachter opened #3382 "Fix Signup page access"
Signup `signup/*` page needs to check for `view any signup` and not `administer modules`

[2014-11-10 21:43] mikefantini opened #3383 "add call to action to taxonomy collections"
## Tasks
- [x] Add existing field `field_call_to_action` to the Cause, Issue, and Action Type Taxonomy vocabularies, and `drush fu dosomething_taxonomy` to export the fields into the DoSomething Taxonomy feature.
- [x] Template changes:  (`taxonomy-term.tpl.php`)
  - [x] New cta div like Static Content, where the button is hardcoded to say "Do it" and links to the Campaign Gallery on the page (e.g

[2014-11-10 22:58] mikefantini opened #3384 "get rid of jump when clicking on "Need help finding your school?" for school finder modal"
should be a small one similar to the "show more results" solution yeah @DFurnes?: #3363

ideally the user stays on screen where they are when using this accordion

[2014-11-11 03:18] deezone opened #3386 "Adjust tag values in mbp payload"
Related:
https://github.com/DoSomething/mbc-transactional-email/issues/11

Adjust "tag" value in mbp payload to support multi tags based on Mandrill `send-template` API documentation: https://mandrillapp.com/api/docs/messages.JSON.html#method=send-template

[2014-11-11 14:45] aaronschachter opened #3388 "User Profile: Your Prizes (various states)"
Refs #3373

Different copy based on how many reportbacks you've submitted, or if you've already gotten a T shirt.

Still should only display when `dosomething_reward` module is enabled.

[2014-11-11 14:54] #1882 closed, assigned to mshmsh5000

[2014-11-11 15:02] aaronschachter opened #3389 "Approved Reportback File flag + Bulk Approval"
- [x] Use a new Reportback Files status field instead of Flag module to store Reportback Image status
- [x] Add admin views to allow Editors to approve/promote/flag Reportback Files
  - [x] Add admin tab to a Campaign node, and filtering by the nid. Don't display Campaign Title
  - [x] Add admin tab to a Cause term tid, filtering by all nodes with the primary_cause as tid.  Display Campaign Title

[2014-11-11 15:29] mshmsh5000 commented on #3353
I am really into the idea of providing a central config service with a RESTful endpoint like `/config/platform/instances` or `/config/platform/instances?exclude=usa` that could provide

[code]

Consumers can opt to cache for performance or as a fallback if the service fails.

[2014-11-11 15:34] mikefantini commented on #1861
yes this is still a valid issue

[2014-11-11 15:36] joolaay commented on #1861
@mikefantini and I chatted yesterday - I don't remember this being approved but he says we're good to go

[2014-11-11 15:40] deezone commented on #3353
For what it's worth, recent efforts refactoring `message_broker_producer` with @aaronschachter as well as discussions with @jonuy brought us to the same conclusion. A RESTful endpoint would provide a great way to keep connection configuration settings in sync in the RabbitMQ based system. All of the producers and consumers could get their exchange/queue configuration settings from the endpoint.

I

[2014-11-11 15:42] aaronschachter commented on #3353
A very quick / easy place to add this for now could be the existing DS API in the Drupal app also.

[2014-11-11 15:44] barryclark commented on #3319
We should change on both the 404 page and the search page. We can chat over this shortly @sbsmith86 :)

[2014-11-11 15:45] mikefantini commented on #2632
Yeah this should just be "You're logged in! Please change your password." Let's also update link of "Please change your password." from /user/[uid]/edit to /user/[uid]/edit?pass-reset-token=[token_value]. This would mimic the link that the user is taken to after she uses her one-time login.

[2014-11-11 15:46] itsjoekent commented on #3319
@barryclark I was holding off on search results for this reason, figured it would be better to reuse the work done here

[2014-11-11 15:46] mikefantini commented on #3319
yeah not yet implemented on the 404 page, but @deadlybutter and @blisteringherb will start talking through this today

[2014-11-11 15:48] #3382 closed, assigned to aaronschachter

[2014-11-11 15:59] mikefantini commented on #2753
@aaronschachter @angaither is this issue still valid?

[2014-11-11 16:00] mikefantini commented on #3260
@aaronschachter is this duplicate of #1861 or just related?

[2014-11-11 16:03] aaronschachter commented on #3260
It is related, not a duplicate. #1861 is for theming, this is to remove the code that's checking for a theme setting for whether or not display the Profille (and to just always display)

[2014-11-11 16:06] mikefantini commented on #3150
this will be done with profile v1.0 updates, but will be part of a bigger /user/[uid]/edit updates.

once those updates are finalized, we may want to reference and close this one

[2014-11-11 16:17] angaither commented on #2753
Yeah, this for sure still happens. It's very inconsistent

[2014-11-11 16:24] mshmsh5000 commented on #3353
+1 @aaronschachter but I'm first going to try a generalized Consul.io installation as a proof of concept. Assigning this to myself while I experiment.