[2015-11-13 17:37] jonuy commented on #5729
Both #187 and #4571 are important. IMO maybe #187 would take priority? #187 might also help find out if this bug (#5729) is actually more widespread or just somehow only affects Bladt's staging account.

[2015-11-13 17:39] chloealee commented on #5729
okay thanks @jonuy ! I'll jump back on https://github.com/DoSomething/northstar/issues/187 now.

[2015-11-13 20:43] #5773 closed, assigned to angaither

[2015-11-16 01:26] namimody commented on #5582
Hi @angaither and @deadlybutter -- I was just looking at https://www.dosomething.org/us/campaigns/treat-yo-friends (node 5646 on prod) and saw a discrepancy between the header photo and hot module date again. However, this time around, the hot module shows the correct end date (Dec 31 -- per the backend setting and the header photo shows Dec 30. Clearing browser cache did not fix the issue. Additi

[2015-11-16 01:27] namimody commented on #5582
(Let me know if this warrants creating a new issue and I can do that!)

[2015-11-16 02:34] namimody commented on #5412
@angaither what does nofollow or disallow mean? :innocent:

[2015-11-16 14:29] angaither commented on #5412
https://support.google.com/webmasters/answer/96569?hl=en

https://support.google.com/webmasters/answer/6062596?hl=en

[2015-11-16 14:34] angaither commented on #5620
@deadlybutter can you take a look at this one?

[2015-11-16 14:39] #5392 closed, assigned to sergiitk

[2015-11-16 15:42] sergiitk commented on #5392
Chat log of @sheyd and myself:

​[11:32 PM] I did enable and tuned up csp
​[11:32 PM]  it took more rules to make it work
​[11:33 PM]  but it turned out that `frame-src` is a directive that regulates frames embedded into our page
​[11:33 PM]  not pages our page is embedded into
​[11:34 PM]  withregard X-Frame-Options
​[11:34 PM]  https://developer.mozilla.org/en-US/docs/Web/HTTP/X-Frame-Options
​[

[2015-11-16 15:44] blisteringherb commented on #5620
@deadlybutter I started trying to figure a related issue out. It seems that the apachesolr_multilingual module indexes unpublished translations. I believe line 131 of the apachesolr_multilingual module does this:

`if ($langcode != $original_langcode && LANGUAGE_NONE != $langcode)`

when it should be doing this

`if ($langcode != $original_langcode && LANGUAGE_NONE != $langcode && $entity_translat

[2015-11-16 15:49] itsjoekent commented on #5620
awesome, if you can fix the solr issues I'll keep focusing on the redirect problem.

I've made the logic which fixes the problem itself, but consequently made a redirect loop. workin on a solution to that now.

EDIT: fix is here: https://github.com/DoSomething/phoenix/compare/dev...deadlybutter:5620?expand=1#diff-359ccdb85a973fa7f0b7f6677e963466

[2015-11-16 16:15] angaither commented on #2067
@sheyd @DFurnes what do we think about this :older_man: guy?

[2015-11-16 16:18] angaither commented on #949
seeing video collections still appear on campaign pages after the video id is removed

refs #5773

[2015-11-16 16:19] #1927 closed, assigned to nobody

[2015-11-16 16:20] angaither commented on #1553
done!

[2015-11-16 16:20] #1553 closed, assigned to nobody

[2015-11-16 16:22] #1799 closed, assigned to DFurnes

[2015-11-16 16:23] angaither commented on #1867
going to close and assume this isn't something we want to do, but @DFurnes you can re-open if I'm wrong

[2015-11-16 16:23] #1867 closed, assigned to nobody

[2015-11-16 16:26] #2584 closed, assigned to tjrosario

[2015-11-16 16:29] angaither commented on #2513
since legacy is now well murderd, I'm closing under the assumptions either
1. we've done this
2. we didn't need this

cc @sergii-tkachenko feel free to re-open if I'm wrong

[2015-11-16 16:29] #2513 closed, assigned to mshmsh5000

[2015-11-16 16:29] angaither commented on #2632
closing, duplicate of #2753

[2015-11-16 16:29] #2632 closed, assigned to nobody

[2015-11-16 16:31] angaither commented on #2353
this is now showing the word `email`!
![image](https://cloud.githubusercontent.com/assets/645205/11187726/8d6dbd7e-8c55-11e5-8c69-8d656af2bb59.png)

[2015-11-16 16:31] #2353 closed, assigned to nobody

[2015-11-16 16:34] angaither commented on #3200
I don't think we want/need this anymore

[2015-11-16 16:34] #3200 closed, assigned to nobody

[2015-11-16 16:43] DFurnes commented on #2067
Should definitely still try to do it. We have the `george version` stuff hooked up to get the latest tag, so running that through something like [node-semver](https://github.com/npm/node-semver) to automatically increment that value for the new release should be pretty easy!

[2015-11-16 16:46] angaither commented on #2761
hmm, closing because hot module?

[2015-11-16 16:46] #2761 closed, assigned to nobody

[2015-11-16 16:55] mikefantini commented on #5274
This is happening again in the finder if:
- GL EN translation is published
- BR PT translation exists, but is unpublished

Go to thor as a user from BR and filter by cause "Meio ambiente"

![image](https://cloud.githubusercontent.com/assets/6330971/11188454/e75dda14-8c58-11e5-9dbe-b6a5a4dcdd89.png)

[2015-11-16 17:01] mikefantini commented on #5274
To be clear, for Bookmark Climate Change, since GL EN is the published content that should be accessible for the user, we would want the Title and CTA to appear in GL EN.

[2015-11-16 17:39] aaronschachter commented on #2513
FYI - I don't believe we ever imported legacy signups and reportbacks... it doesn't sound like anyone's been asking for them.

[2015-11-16 18:21] angaither commented on #1507
@DeeZone did you get a chance to look at this? is it done? I don't see anything in the build script about this, but I'm not sure if it happened elsewhere

[2015-11-16 18:29] angaither commented on #2376
@mikefantini is this something we still want to do?

[2015-11-16 18:39] angaither commented on #3904
@weerd @lkpttn we have a limit in the box, so going to close this for now, feel free to re-open if there was a different functionality desired here.
![image](https://cloud.githubusercontent.com/assets/645205/11191082/5d80aff6-8c67-11e5-99a7-86e6b8dc7be2.png)

[2015-11-16 18:39] #3904 closed, assigned to nobody

[2015-11-16 18:40] angaither commented on #3836
@DFurnes I think this one was done, we are compressing to jpegs down to 75%

[2015-11-16 18:40] #3836 closed, assigned to nobody

[2015-11-16 18:41] #3759 closed, assigned to nobody

[2015-11-16 18:43] angaither commented on #3402
closing, this was done on those static content pages!

[2015-11-16 18:43] #3402 closed, assigned to aaronschachter

[2015-11-16 18:47] angaither commented on #3275
boom, it's in caps!
![image](https://cloud.githubusercontent.com/assets/645205/11191296/955c72ce-8c68-11e5-8e26-958f084972d9.png)

[2015-11-16 18:47] #3275 closed, assigned to nobody

[2015-11-16 18:50] angaither commented on #3845
closing!
@sheyd re-open if I'm wrong here, but I haven't seen this behavior anymore

[2015-11-16 18:50] #3845 closed, assigned to nobody

[2015-11-16 18:57] angaither commented on #3257
we don't use that repo anymore, additionally we can probably remove that repo!

[2015-11-16 18:57] #3257 closed, assigned to nobody

[2015-11-16 18:58] angaither commented on #4301
t-shirts are dead

[2015-11-16 18:58] #4301 closed, assigned to nobody

[2015-11-16 19:02] angaither commented on #4058
we love old people now.

[2015-11-16 19:02] #4058 closed, assigned to sergiitk

[2015-11-16 19:06] angaither commented on #1411
@mikefantini is this still happening?

[2015-11-16 19:07] mikefantini commented on #5753
@angaither can you please assign out when you have a chance?

[2015-11-16 19:07] angaither commented on #2219
we can safely close this out, since we are moving to one site eventually, we probably don't need to invest time in this.

[2015-11-16 19:07] #2219 closed, assigned to nobody

[2015-11-16 19:08] angaither commented on #5753
@DFurnes wanna take a stab at this?

[2015-11-16 19:16] mshmsh5000 opened #5780 "All campaigns 404 from GB, CA"
Most likely related to behaviors based on the [language-map Strongarm settings](https://github.com/DoSomething/phoenix/blob/dev/lib/modules/dosomething/dosomething_global/dosomething_global.strongarm.inc#L16).

[2015-11-16 19:17] angaither commented on #2157
@weerd is this still something we need to look into?

[2015-11-16 19:20] #2199 closed, assigned to nobody

[2015-11-16 19:25] angaither commented on #2181
we should be able to use `trim()` and remove those spaces before validating the number

[2015-11-16 19:29] #2200 closed, assigned to nobody

[2015-11-16 19:33] angaither commented on #2868
closing, them seem to still be date strings, but both values are consistant
![image](https://cloud.githubusercontent.com/assets/645205/11192417/09628f72-8c6f-11e5-9e93-2aac625f0bed.png)

[2015-11-16 19:33] #2868 closed, assigned to nobody

[2015-11-16 19:36] angaither commented on #2330
@sheyd wanna take a look at this?

[2015-11-16 19:43] angaither commented on #129
could also use style ci
DoSomething/voting-app/pull/453
https://styleci.io/

cc @DFurnes

[2015-11-16 19:46] angaither commented on #3353
I think maybe we can close this out as well, because of #global work and the one site for us all rule

[2015-11-16 19:46] #3353 closed, assigned to mshmsh5000

[2015-11-16 19:46] DFurnes commented on #129
Awwww yiss! We've been using it on the Voting App and I've really liked it. Super super quick test results, slick interface, one-click to create fix PRs... what's not to like? Potential gotcha is that it seems intended for object-oriented projects, so I'm not sure if it'd have trouble with Drupal-style code.

[2015-11-16 19:53] DFurnes commented on #4083
This was fixed! :hammer:

[2015-11-16 19:53] #4083 closed, assigned to DFurnes

[2015-11-16 19:59] namimody opened #5782 "Center "Add your photo here!" Text on Step 4"
Without "join the cool kids!" copy, the "add your photo here" text is uncentered and should point at the plus sign.

![image](https://cloud.githubusercontent.com/assets/12396076/11193055/71e50b94-8c72-11e5-8097-cf6aca4acd2b.png)

[2015-11-16 20:28] angaither commented on #4579
@DFurnes if we don't want to fix this, should we close this issue out?

[2015-11-16 20:29] angaither commented on #4559
@sergii-tkachenko @mikefantini going to close this out, feel free to re-open if we are still seeing this

[2015-11-16 20:29] #4559 closed, assigned to sergiitk

[2015-11-16 20:32] DFurnes commented on #4579
I think so. :white_check_mark:

[2015-11-16 20:32] #4579 closed, assigned to mikefantini

[2015-11-16 20:34] angaither commented on #5690
duplicate of #5704

[2015-11-16 20:34] #5690 closed, assigned to mikefantini

[2015-11-16 20:43] #4378 closed, assigned to sergiitk

[2015-11-16 20:46] sergiitk opened #5783 "Check CSP (Content-Security-Policy) reports, adjust its settings and turn on"
Now Content-Security-Policy is working in Report-Only mode. After a while, we need to parse its reports to see if we missed anything that needs to be unblocked. Then adjust rules according to that and turn off the report mode.

cc @sheyd

[2015-11-16 20:47] angaither opened #5784 "Documentation and code style"
We need to decide on tools and standards for the following things
### Documentation
- [x]  decide on standards
- [ ]  function lookup thing
### Clean up
- [x] php linter

see #129 and #149

[2015-11-16 20:49] #5526 closed, assigned to sergiitk

[2015-11-16 20:54] angaither commented on #3679
closing in favor of #4465

[2015-11-16 20:54] #3679 closed, assigned to nobody

[2015-11-16 20:58] angaither commented on #4996
we can do this on thor now

[2015-11-16 20:58] #4996 closed, assigned to nobody

[2015-11-16 21:04] angaither commented on #4383
literally don't care.

[2015-11-16 21:04] #4383 closed, assigned to weerd

[2015-11-16 21:05] weerd commented on #4383
![IE is forever alone](http://cdn.ymaservices.com/editorial_service/media/images/000/057/356/original/internetexplorer.jpg-3.jpg?1407190137)

[2015-11-16 21:06] angaither commented on #4387
closing, I don't think this is an issue anymore cc @sergii-tkachenko

[2015-11-16 21:06] #4387 closed, assigned to nobody

[2015-11-16 21:16] angaither commented on #4049
@weerd is this something that you did with the reportback api already?

[2015-11-16 21:18] angaither commented on #4584
this looks :ok_hand:

[2015-11-16 21:18] #4584 closed, assigned to nobody

[2015-11-16 21:19] angaither commented on #4819
we moved to paypal. :credit_card: :x:

[2015-11-16 21:19] #4819 closed, assigned to nobody

[2015-11-16 21:20] angaither commented on #4645
boom, already done.

[2015-11-16 21:20] #4645 closed, assigned to nobody

[2015-11-16 21:49] angaither commented on #4610
we can close this, we have functions that handle this, if we need this on more pages we can open up more specific issues

[2015-11-16 21:49] #4610 closed, assigned to nobody

[2015-11-16 21:50] angaither commented on #4916
fixed with #4917

[2015-11-16 21:52] angaither commented on #4892
I think we are ok with this one too, @namimody re-open if this is not true

[2015-11-16 21:52] #4892 closed, assigned to nobody

[2015-11-16 21:53] sergiitk commented on #4916
@angaither It's not fixed with #4917 you decided we need to find better solution.

[2015-11-16 22:01] angaither commented on #4867
@DFurnes was the fix we created a fix we feel ok with, or do we still want to look into a more long term solution?

[2015-11-16 22:04] angaither commented on #4948
going to close until/if we switch back to stripe

[2015-11-16 22:04] #4948 closed, assigned to itsjoekent

[2015-11-16 22:06] angaither commented on #5015
closing this, it only is caused if there isn't an image set

[2015-11-16 22:06] #5015 closed, assigned to angaither

[2015-11-16 22:11] angaither commented on #4838
closing this until we switch back from paypal

[2015-11-16 22:11] #4838 closed, assigned to itsjoekent

[2015-11-16 22:14] angaither commented on #5554
closed with #5555

[2015-11-16 22:18] angaither commented on #5439
@mikefantini are we still seeing this issue?

[2015-11-16 22:26] weerd commented on #4049
Not the "excluding" portion of it. We could close this and re-open an issue for that feature alone if it's something we want later on?

[2015-11-16 22:27] sergiitk commented on #5554
No, it hasn't been merged yet.

[2015-11-16 22:35] aaronschachter commented on #4049
Didn't we want the exclusion for preventing duplicates on the web gallery? e.g. reportback item 23 is promoted and selected for the 6. it can easily show up agian in the approved section (displayed chronologically after the 6 random promoted)

[2015-11-16 23:45] namimody commented on #5392
@sheyd just circling back and making sure you don't need me to test anything -- thanks!

[2015-11-16 23:53] sergiitk commented on #5392
@namimody We're good for now, it's enabled in Report-Only mode. It will be enabled in #5783.

[2015-11-16 23:53] sergiitk commented on #5783
Remaining tasks before pushing to Prod:
- [ ] Deploy to Staging
- [ ] Create an Optimizely test in for staging that includes use of a frame element
- [ ] Test Optimizely A/B test, and confirm all functionality
- [ ] Coordinate testing with @namimody

[2015-11-17 00:00] namimody opened #5787 "Content Disappears from "Hot Module progress override copy" Backend"
You can fill out the "Hot Module progress override copy" field, save, and see the content appear in the speech bubble of the hot module. However, when you return to https://www.dosomething.org/us/node/2091/custom-settings, no content appears in the "override copy" field.

![image](https://cloud.githubusercontent.com/assets/12396076/11198555/96615510-8c93-11e5-8fab-a829775f04ed.png)

[2015-11-17 00:04] namimody opened #5788 "Extra Space in Between Copy and State Selector Dropdown Menu"
The extra space appears on https://staging.dosomething.org/us/campaigns/teens-jeans (or any campaign with a school finder) like so:

![image](https://cloud.githubusercontent.com/assets/12396076/11198682/c6884da6-8c94-11e5-9997-56c917e9bdef.png)

[2015-11-17 00:41] deezone commented on #1507
Ha! A 1.5 year later and...

Is true once again. I'm working on a `7.x.-3.x` release of the module. I'll take a look and close this issue out this week.

[2015-11-17 00:48] namimody opened #5789 "Markdown Not Appearing For Tips In School Finder"
Help text appears like this in the front end:
![image](https://cloud.githubusercontent.com/assets/12396076/11199265/06809d28-8c9a-11e5-8b9e-9d1a685e6975.png)

But should be numbered, as the content is numbered in the Do Something config.

Not sure if this is helpful/expected behavior, but markdown is also not possible in the "form copy" field. **Bolding** words does not work.
![image](https://clou

[2015-11-17 14:02] angaither commented on #5787
@deadlybutter mind taking a stab at this one?
I don't think you can use `variable_get` [here](https://github.com/DoSomething/phoenix/commit/63755498f7fe7400fe99555058c714a131af6e5c) since it's a custom dosomething config var, not a drupal default variable.

[2015-11-17 14:15] angaither commented on #2523
don't think we are going this route, closing (cc @aaronschachter)

[2015-11-17 14:15] #2523 closed, assigned to nobody

[2015-11-17 14:23] angaither commented on #2449
@mikefantini @marahml is this still something we should have open?

[2015-11-17 14:24] angaither commented on #2181
@sbsmith86 mind knocking this one out?

[2015-11-17 14:29] #2826 closed, assigned to aaronschachter

[2015-11-17 14:37] angaither commented on #5140
closing, duplicate of #4068

[2015-11-17 14:37] #5140 closed, assigned to namimody

[2015-11-17 14:41] angaither commented on #3800
@sergii-tkachenko is this still an issue? will it be once we merge the sites together?

[2015-11-17 14:43] mikefantini commented on #5789
The priority culprit is the copy that can be found here https://www.dosomething.org/admin/config/dosomething/dosomething_user:

![image](https://cloud.githubusercontent.com/assets/6330971/11214501/a1b88f10-8d0f-11e5-8f04-705e214dc422.png)

[2015-11-17 14:43] sergiitk commented on #3800
Now we don't know, it's possible.
It will not be when the sites are together.

[2015-11-17 14:44] mikefantini commented on #5789
@angaither mind assigning this one out?

[2015-11-17 14:47] mikefantini commented on #5788
@angaither it would be good to assign this one out as well as a backlog issue to be picked up.

[2015-11-17 14:49] itsjoekent commented on #5780
Alright this is weird, unable to reproduce on my local?

[2015-11-17 14:50] angaither commented on #4277
@aaronschachter do we need this, we aren't doing invite codes, are we?

[2015-11-17 14:51] angaither commented on #3800
okay, going to close this out since we aren't doing anything but bug fixes for affiliate sites

[2015-11-17 14:51] #3800 closed, assigned to sergiitk

[2015-11-17 15:11] angaither commented on #5031
@namimody can you give us a couple mcc campaign nids?
perhaps this is happening if a user goes in a updates her profile?

[2015-11-17 15:24] DFurnes commented on #4867
There's an improved fix open in #4936. It's blocked on a little bug in Forge, and some review/discussion with other people on the team. Definitely worth trying to wrap up during this milestone.

[2015-11-17 15:30] mikefantini opened #5791 "POEditor language should be based on URL"
As a user in Brazil, if I go to a GL EN translation of a campaign, the text in POEditor should be in English not Portuguese.

Content should be based on URL - https://thor.dosomething.org/campaigns/cleanup-drills.

![image](https://cloud.githubusercontent.com/assets/6330971/11215694/89d60ade-8d15-11e5-9ddc-95773983dc59.png)

[2015-11-17 15:34] mikefantini commented on #5685
@DeeZone @blisteringherb do you have an update on this?

Just tested on thor and received an email in Portuguese for a campaign that is in GL EN as a Brazilian user:

![image](https://cloud.githubusercontent.com/assets/6330971/11215954/b422f59e-8d16-11e5-8e30-2702b88835a2.png)

cc: @marahml

[2015-11-17 15:40] mikefantini commented on #5791
... this seems to work properly sometimes. Not sure what the pattern is.

[2015-11-17 15:44] mikefantini opened #5792 "When any non-US user creates an account and simultaneously signs up for a GL EN the URL changes to /us/"
Recreating this consistently. When a Brazilian user is already logged in and signs up for a campaign, they remain on the GL EN URL.

http://screencast.com/t/QrrJw6wt

[2015-11-17 15:48] angaither commented on #3111
was for casper js stuffs, that no longer works

[2015-11-17 15:48] #3111 closed, assigned to DFurnes

[2015-11-17 15:48] namimody commented on #5140
Hey @angaither -- just want to clarify on this -- this issue is about how archiving activity affects the appearance of a published closed state, while #4068 is about displaying archived photos of an old run in the PROVE IT section of a published open campaign. Is the code the same in these instances?

[2015-11-17 15:50] marahml commented on #2449
HAI @angaither @mikefantini. Yes, would love to revisit this. The 'notify me' promise that we offer users on closed campaigns doesn't actually ever happen.

I'd make more sense for the experience to be:
- BEST FOR UX: Button pushes to an existing campaign that's related OR just to /campaigns
- BEST FOR CONVERSION: Change the copy from "Notify Me" to something around "join our email list & hear abo

[2015-11-17 15:52] angaither commented on #5140
@namimody yup, should be! in both cases the reportbacks don't show up because they are no longer associated with the original campaign nid, they get tied to the run.

[2015-11-17 15:52] namimody commented on #5031
@angaither that was your hypothesis a while ago! here are a few:

https://www.dosomething.org/us/campaigns/doggie-diy (NID: 3585)
https://www.dosomething.org/us/campaigns/smiles-soldiers (NID: 2933)
https://www.dosomething.org/us/campaigns/patient-playbooks (NID: 2930)

[2015-11-17 16:10] namimody commented on #5140
Ahh! Okay thanks for clarifying @angaither. I'm just going to add that when we fix 4068 we should check that the closed state also works.

Perhaps unrelated -- but when we archive activity, all the example RBs get wiped from the PROVE IT section of the campaign, like below (Derrius added one photo just now, which is why 1 photo is showing, but after archiving activity the space next to the photo u

[2015-11-17 16:11] namimody commented on #4068
When this is fixed, we should also check that published closed states of campaigns with archived activity continue to show member RBs.

[2015-11-17 16:15] #5570 closed, assigned to blisteringherb

[2015-11-17 16:26] namimody commented on #4892
All good on this @angaither!

[2015-11-17 16:50] itsjoekent commented on #5780
Apparently I accidentally fixed this. WOO HOO

[2015-11-17 16:50] #5780 closed, assigned to itsjoekent

[2015-11-17 16:51] mikefantini commented on #5792
This happens consistently for every user outside of the US.

[2015-11-17 16:52] aaronschachter commented on #4277
@jonuy Are we good to start killing all of the signup id / source code we had built for the initial Invites?

[2015-11-17 16:59] mikefantini commented on #5274
@blisteringherb I think when you fixed #5570 you resolved this issue as well:

![image](https://cloud.githubusercontent.com/assets/6330971/11218346/987ee670-8d22-11e5-9f19-f2bd6e7b1424.png)

[2015-11-17 16:59] mikefantini commented on #5274
(see Bookmark Climate Change which was the offending campaign previously)

[2015-11-17 16:59] blisteringherb commented on #5274
Yay!

[2015-11-17 17:02] #5274 closed, assigned to blisteringherb

[2015-11-17 17:09] mikefantini opened #5793 "GL EN translations should show up in /campaigns"
If a campaign has a GL EN translation published but no Regional translation published (i.e. MX SP), then GL EN translation should show up on /campaigns after all of the campaigns that do have MX SP translations published.

I.e. /campaigns should follow the same rules as the finder.

![image](https://cloud.githubusercontent.com/assets/6330971/11218611/f04a6fe0-8d23-11e5-87df-c3b6e4491039.png)

[2015-11-17 17:18] jonuy commented on #4277
We're still sending a `source` (`letsdothis_ios`, `letsdothis_android`), but the stuff where we're using invite ids for groups and such, there are no current plans to bring that back.

[2015-11-17 17:28] mikefantini commented on #5791
Is it because of this?

https://thor.dosomething.org/admin/config/regional/language/configure

![image](https://cloud.githubusercontent.com/assets/6330971/11219096/79d79ace-8d26-11e5-89f5-c868226a8bbc.png)

Is following the user's language preference causing this inconsistency with POEditor?

cc: @angaither @mshmsh5000

[2015-11-17 17:31] aaronschachter commented on #4277
@angaither So we def don't need this issue, but it'd be good housekeeping to get rid of the code that #4243 introduces -- there's no more need for the [`dosomething_signup_get_target_nid_for_source($source_string)`](https://github.com/DoSomething/phoenix/blob/68aa5497391f7bde7364f9b710136d94fd984c9e/lib/modules/dosomething/dosomething_signup/dosomething_signup.module#L945)

[2015-11-17 17:32] DFurnes commented on #5753
Sure! :hocho:

[2015-11-17 17:53] mikefantini opened #5794 "User registration emails are in old template for users from Canada and Great Britain on thor"
![image](https://cloud.githubusercontent.com/assets/6330971/11219718/0c578708-8d2a-11e5-8491-9bcfdf5d7)

@marahml assigning to you to assign out.

cc: @angaither

[2015-11-17 19:10] angaither opened #5796 "malformed urls on campaigns with special chars"
try with `/node/2259` on thor/prod

clicked view from the node edit page
![image](https://cloud.githubusercontent.com/assets/645205/11221675/5e45d768-8d34-11e5-97c1-52d40c8830cd.png)

clicked on the campaign from the homepage
![image](https://cloud.githubusercontent.com/assets/645205/11221686/6ff62a12-8d34-11e5-9707-655fd8df4e87.png)

hit the url dosomething.org/node/2259
also got a 404

[2015-11-17 19:41] #5698 closed, assigned to katiecrane

[2015-11-17 19:46] angaither commented on #5718
@sheyd is this still happening?

[2015-11-17 19:59] #2181 closed, assigned to sbsmith86

[2015-11-17 20:13] weerd commented on #5791
@mikefantini I'm reasonably certain that the `t()` that uses the PO translations can't be otherwise controlled apart from the language settings. How it works is dictated on what Drupal thinks is the correct language to use and that's based on the above language config.

[2015-11-17 21:33] deezone commented on #5685
@mikefantini @blisteringherb

Still a "BLOCKER". I'll take a look and give a status report. The key is getting the campaign language into the request to Message Broker. In terms of campaign signups this should not be difficult. Report backs might be harder as the "reportback object" does not currently contain the campaign language.

I'll make additional issues as / if needed.

[2015-11-17 22:02] #5763 closed, assigned to weerd

[2015-11-17 22:21] tongxiang commented on #5718
I think we can probably close this issue.

We weren't able to access the prod API from within the office.

It seems like a lot of [these issues](https://github.com/DoSomething/LetsDoThis-iOS/issues/612) were caused because of some namespacing issues from an old windows server in our office also named "dosomething.org". We fixed this by changing the default DNS server used by our local machines.

[2015-11-17 22:21] #5718 closed, assigned to sheyd

[2015-11-18 00:15] deezone opened #5799 "Optimizely Module Upgrade to 7.x-2.18"
In preparation for the Optimizely 7.x-3.x release, upgrade the Optimizely module to the latest 7.x-2.x (7.x-2.18) release. Changes from the `7.x-2.14` to `7.x-2.18` releases are:

[code]

[2015-11-18 02:33] deezone opened #5802 "dosomething_settings_get_geo_country_code()` defaults to "IS""
When testing on local (https://github.com/DoSomething/phoenix/pull/5801) with TorGuard not running, `dosomething_settings_get_geo_country_code()` returns "IS" as the country code.
- Is it possible that the default when the user geo location is unknown is not working?

Example `user_register` payload with user language and country settings:

[code]

[2015-11-18 03:20] deezone opened #5803 "Reportback Entity Include Reportback Language"
When a user reports back, the submission generate a `reportback` entity. The entity is sent to `dosomehting_reportback_mbp_request($entity)` which needs the language of the campaign to define what language the report back transactional email template and related merge_vars should be in.

**Related / Blocking**:
- https://github.com/DoSomething/phoenix/pull/5801

cc @mikefantini

[2015-11-18 20:35] DeeZone commented on #5799
@angaither Looking for a :+1:

[2015-11-18 20:38] deezone opened #5804 "Campaign Reportback Transactionals in Campaign Language"
When a user reports back the transactional email message should be in the language of the campaign not in the language of the user.

**BLOCKED by**:
- https://github.com/DoSomething/phoenix/issues/5803

**Related**:
- campaign_language in campaign signup transactions: https://github.com/DoSomething/phoenix/issues/5685
- Reportback Entity Include Reportback Language: https://github.com/DoSomething/

[2015-11-18 20:43] deezone commented on #5803
@angaither @mikefantini Any thoughts on who can work on this? I've never done custom entity work within Drupal 7. Happy to take a shot if you're good with my bumbling.

[2015-11-18 20:58] namimody opened #5805 "Clicking to Campaign from User Profile 404s"
Clicking on a campaign photo, campaign title, or PROVE IT button on a user profile should bring you to the campaign action page (and clicking on the photo or PROVE IT button should bring you directly to the PROVE IT section of the campaign).

Currently, clicking on an image or clicking on the PROVE IT button brings the user to a 404. The URL after clicking the image or the PROVE IT button is somet

[2015-11-18 20:59] mikefantini commented on #5805
@angaither it would be great to get a fix pushed to prod this sprint if possible.

[2015-11-18 21:22] namimody opened #5806 "Some Edit Links on Content Search View Don't Work"
In the content search view (https://www.dosomething.org/admin/content/search?title=&type=All&field_cause_tid=All&status=All&language=All&page=1), some of the edit links simply refresh the view instead of loading the /edit tab of a campaign.

For example, experience is borked for "Senseless Attacks" and "Happy Scrappy Holidays" and "Let's DO This" but works for "Paris peace sign" and the wrapping p

[2015-11-18 21:30] #5799 closed, assigned to nobody

[2015-11-19 14:44] namimody opened #5807 "RB Photo Caption Cannot Be Edited"
Sometimes, campaign leads need to edit campaign reportbacks. They do so using this view (https://www.dosomething.org/reportback/87623/edit). While the impact # and "response to "why is this campaign important to you?" can be edited and saved, the caption can be edited, but the changes do not save.

[2015-11-19 15:11] namimody commented on #5140
@angaither just circling back on this :)

[2015-11-19 15:20] angaither commented on #5802
@DeeZone that's the country code from iceland
where were you coming from in torguard?
I haven't noticed this issue and have seen country codes coming in correctly

[2015-11-19 15:22] angaither commented on #5805
@deadlybutter mind taking a look at the double country code in the profile here?

[2015-11-19 15:29] angaither commented on #5806
@deadlybutter looks like the `?desination=` string isn't getting removed from the `view_alter`
that might still be what's causing these to reload the page?

[2015-11-19 15:32] itsjoekent commented on #5806
weird I thought we fixed that

[2015-11-19 15:34] deezone commented on #5802
@angaither

so in effect I was coming from the "US". I'll keep an eye on this to see if it keeps happening with other tests I'm running today.

[2015-11-19 15:52] itsjoekent commented on #5805
the href is broken, not a redirect problem

gonna checkout the preprocessing logic for this

[2015-11-19 15:55] angaither commented on #3799
closing, [we provide a default for this now](https://github.com/DoSomething/phoenix/blob/7e41a841473246036100a90f7f8914844c1a6a39/lib/modules/dosomething/dosomething_reportback/dosomething_reportback.forms.inc#L189)

[2015-11-19 15:55] #3799 closed, assigned to aaronschachter

[2015-11-19 16:05] angaither commented on #5802
@DeeZone when you test locally, you have to manually set the headers [with the mod headers chrome tool](https://github.com/DoSomething/phoenix/wiki/Fastly-Global-Header-Setup#fastly-headers-and-mappings)

[2015-11-19 16:15] angaither commented on #4051
closing since dashboards have been down for a bit, and with data 2.0, this approach will probably change

[2015-11-19 16:15] #4051 closed, assigned to angaither

[2015-11-19 16:30] deezone commented on #5802
Cool, good to know. Thanks.

[2015-11-19 16:30] #5802 closed, assigned to deezone

[2015-11-19 16:30] #1507 closed, assigned to deezone

[2015-11-19 17:25] angaither commented on #5803
@DeeZone you should be able to call `dosomething_global_get_language()` with the correct params to get the node language

[2015-11-19 17:32] aaronschachter commented on #2523
Makes sense not to re-engineer this in Phoenix if nothing is broken -- we do go this route in the Northstar API via the Campaign Activity object returned in `users/_id/:id/campaigns`.

One thing to keep in mind if/when we ever look to support multiple Campaign Runs in Northstar -- it could be tricky since the current Phoenix process for archiving a Campaign updates the Campaign id of all of its Si

[2015-11-19 18:20] sergiitk opened #5810 "Fix global links generated by url() function"
Urls and links, generated by `url` function with appear to be broken:

Examples: #5796, #5474, #5423, #5808

cc @angaither

[2015-11-19 18:23] angaither opened #5811 "disable optimizely halts ds build"
@DeeZone just noticed this when I rebuilt

the command should have a `-y` with it
`drush dis optimizely -y`

https://github.com/DoSomething/phoenix/pull/5798/files#diff-38f75dde0b5d5fcc10326bb75fab555dR473

[2015-11-19 18:26] #5788 closed, assigned to weerd

[2015-11-19 18:26] #5805 closed, assigned to itsjoekent

[2015-11-19 18:40] itsjoekent commented on #5806
oh this is on admin/content/search and we fixed just admin/content

[2015-11-19 18:57] deezone commented on #5803
@angaither The tricky thing about `dosomething_global_get_language($account, stdClass $node = NULL, $respect_url = TRUE)` is the `$node` is not the campaign node but rather the reportback object when it comes time to trigger the transactional request. I think @blisteringherb ran into this as well.

Perhaps `dosomething_global_get_current_prefix()` could be used?

[2015-11-19 19:03] angaither commented on #5803
@DeeZone the reportback entity should have `nid` attached to it, you can pass that through

`dosomething_global_get_language($account, node_load($entity->nid))`

[2015-11-19 19:29] angaither opened #5814 "global english links display on regional homepages"
from @namimody on slack

refs #5810

[2015-11-19 19:32] angaither commented on #5762
@blisteringherb @jonuy are we :ok: to close this issue out?

[2015-11-19 19:37] blisteringherb commented on #5762
I think we should be good on this.

[2015-11-19 19:37] #5762 closed, assigned to blisteringherb

[2015-11-19 19:57] marahml commented on #5685
Hey @sergii-tkachenko! @DeeZone tackled the signup email portion of this issue. For onboarding + debugging, are you able to tackle the reportback email? cc @sheyd

[2015-11-19 19:58] sergiitk commented on #5685
Yes!

[2015-11-19 20:03] angaither commented on #5685
refs #5803
maybe even duplicate of?

[2015-11-19 20:07] marahml commented on #5685
Awesome - thanks @sergii-tkachenko!

[2015-11-19 21:06] #5789 closed, assigned to weerd

[2015-11-19 21:14] angaither commented on #4277
thanks @aaronschachter I'll create a new issue for removing that code!

[2015-11-19 21:14] #4277 closed, assigned to aaronschachter

[2015-11-19 21:15] angaither opened #5816 "Remove signup by promo code"
@aaronschachter is it safe to revert the [entire pr](https://github.com/DoSomething/phoenix/pull/4243/files)?

[2015-11-19 21:15] namimody opened #5817 ""Registration Successful" Translation Not Appearing When New Acct is Created via Homepage"
On /br and /mx, creating a new account results in the confirmation "registration successful. you are now logged in."  message at the top of the page. However, the message is untranslated when the account is created via the homepage (vs. on a campaign pitch page).

From @weerd in Slack (https://dosomething.slack.com/archives/global/p1447433402000280):

[2015-11-19 21:16] #4462 closed, assigned to weerd

[2015-11-19 21:19] angaither commented on #5750
@mikefantini should it be only on campaign nodes? not campaign groups, or just not on static content nodes?

[2015-11-19 21:22] namimody opened #5818 "Campaign Titles w/ a ' Appear Incorrectly in User Profile"
"Don't Be a Sucker" and "Re-poppin' Bottles" campaign titles appear incorrectly in the user profile "You're Doing section. Linked here (https://www.dosomething.org/us/user/1193105) and as shown below:

![image](https://cloud.githubusercontent.com/assets/12396076/11284753/89db07b2-8ed9-11e5-83ac-faf382879ddd.png)

![image](https://cloud.githubusercontent.com/assets/12396076/11284776/b0c440fa-8ed9-1

[2015-11-19 21:33] aaronschachter commented on #4277
#5816

[2015-11-19 21:34] aaronschachter commented on #5816
I _think_ so, but I don't know for sure -- I remember work some was done in Northstar to support querying by signup source, so it may use this code (and should also be removed) cc @jonuy. The iOS app def isn't hitting any of those endpoints.

[2015-11-19 21:42] angaither commented on #5818
I feel like we've fixed this :100: times.

[2015-11-19 21:57] angaither commented on #5818
i can't find user profile ones, but checcck it
#1694
#4286
#4287

[2015-11-19 22:18] weerd opened #5819 "CMS admin form content getting escaped each time form is saved."
Drupal keeps escaping `&` every time you hit save on the CMS form @_@... so it goes from `&quot;` to `&amp;quot;` to `&amp;amp;quot;` for example, after 3 saves... :scream:

![image](https://cloud.githubusercontent.com/assets/105849/11286115/29a2017c-8ee1-11e5-8c19-8607e6f7a0a6.png)

Occurring on form here: `admin/config/dosomething/dosomething_user` (within the **School** section), but doesn't ha

[2015-11-20 15:25] namimody opened #5821 "Editors are 404'd When Trying to Add Reportback"
Sometimes campaign leads need to add a reportback for a user because the member is having trouble with the form or the campaign has already closed.

However, when leads (Lizzy, UID 2806506, editor and member support role designations) try to add a reportback via the flows shown below (at https://www.dosomething.org/admin/users/rb/add), they can't. They can access the "add reportback" URL and add a

[2015-11-20 15:47] #5792 closed, assigned to itsjoekent

[2015-11-20 19:00] angaither commented on #5821
@namimody I'm seeing this work on stage/thor as an editor/member support role

I think the reason you would get 404'ed is when you don't select a user from the autocomplete and it can't associate it with a user
then you would get taken to `/reportback/?fid=XXXX`

[2015-11-20 19:00] #5821 closed, assigned to angaither

[2015-11-20 19:04] sergiitk opened #5824 "Bug with disabling Optimizely"
Ref #5798.

1) This code block is never being executed on staging, only on local
2) This code won't work, because it asks for for the confirmation interactively

[code]

3) You also need to uninstall the module

cc @angaither

[2015-11-20 19:05] angaither commented on #5824
https://github.com/DoSomething/phoenix/pull/5813

[2015-11-20 19:08] sergiitk commented on #5824
Duplicate of #5811.

[2015-11-20 19:08] #5824 closed, assigned to deezone

[2015-11-20 19:49] #5811 closed, assigned to deezone

[2015-11-20 20:25] #5759 closed, assigned to weerd

[2015-11-20 20:26] weerd commented on #3253
Is this still a thing? @mikefantini @angaither

[2015-11-20 20:36] weerd commented on #2814
Seems like this is still a thing:

![image](https://cloud.githubusercontent.com/assets/105849/11311215/6820058c-8f9c-11e5-9880-cb618b4d388b.png)

@mikefantini @DFurnes not sure how much we care since IE8... but we're #global now...

[2015-11-20 20:40] DFurnes commented on #2814
IE 8 accounts for 0.31% of our traffic since August 1st according to Google Analytics. Personally, I don't think this is worth fixing.

[2015-11-20 20:44] weerd commented on #2814
@namimody any insight on global numbers w/ IE8? I vote to close as well, but wanted to just double-check!

[2015-11-20 20:53] namimody commented on #2814
@weerd as of June 2015:

Did some research on IE8 and while currently only 1.02% of sessions are on IE8 or below, the most reliable looking source I could find noted IE8 still has 16.04% of the global market share (desktop only). There are a couple of other sources that suggested worldwide usage was much less (around 3%), but these seem far less reliable. Because of this, I think we should continu

[2015-11-20 20:55] weerd commented on #2814
hmmm, alright. Good to know! Thanks for all the info @namimody :+1:

[2015-11-20 20:56] namimody commented on #2814
Sure thing @weerd!

I say we hold on this -- feel free to close. I'll put a reminder on my cal to look at GA at the beginning of Jan in case the single site has drastically changed traffic sources.

[2015-11-20 21:14] weerd commented on #2814
Righty-o!

[2015-11-20 21:14] #2814 closed, assigned to mikefantini

[2015-11-20 21:15] namimody opened #5827 "Add toggle to enable/disable Hot Module per campaign"
Currently, the hot module is switched on when the current date is between the high season dates set on the back end of a campaign.

While we will be using the hot module more ubiquitously going forward, there are instances where we would like to set a hot season to get the perks of inputting a high season (like appearing higher in the finder) but without showing the module (because the campaign is

[2015-11-22 01:19] namimody commented on #5821
Yep, that was it @angaither! Thanks!

[2015-11-23 15:35] #4701 closed, assigned to weerd

[2015-11-23 18:26] itsjoekent commented on #5814
I think this was partly intentional, otherwise we'd need to duplicate the redirect logic when making the homepage.

I guess we can further abstract that logic out? @angaither ?

[2015-11-23 19:02] #4702 closed, assigned to weerd

[2015-11-23 20:34] angaither opened #5832 "zendesk form not appearing on GL campaigns"
action page on gl english campaigns are not displaying the zendesk form
https://www.dosomething.org/campaigns/veggie-surprise?noredirect=true

![image](https://cloud.githubusercontent.com/assets/645205/11349041/0cdf7fdc-91f8-11e5-8d2c-2d7028780da6.png)

[2015-11-23 22:00] #5832 closed, assigned to itsjoekent

[2015-11-24 16:19] itsjoekent opened #5837 "Extra slash being added to url"
Was fixed before by https://github.com/DoSomething/phoenix/pull/5831 but something must have changed since and re-broke it

@namimody

[2015-11-24 16:27] namimody opened #5838 "Delete RB Button Not Working on UK Site"
Images can be deleted via marking as flagged and then checking "delete this image"
![image](https://cloud.githubusercontent.com/assets/12396076/11372962/2680600e-929e-11e5-8b17-2efc1681f348.png)

but entire RBs cannot be deleted via https://uk.dosomething.org/reportback/338%3Ffid%3D790/edit and the delete tab at the top.
![image](https://cloud.githubusercontent.com/assets/12396076/11372987/3ce21c8

[2015-11-24 16:30] namimody commented on #5838
As a note, this button is working on the US site.

[2015-11-24 18:35] namimody opened #5840 "Recorded Birthday One Day Early in Mailchimp"
For some reason, if you look at the recorded birthdays in Drupal vs. in Mailchimp, Mailchimp shows a date one day before the birthday listed in Drupal.

I'm not sure how long this has been happening for (my admin account appears correctly in Mailchimp, or example), but the discrepancy can be viewed by searching for the emails of the most recent users shown here (https://www.dosomething.org/admin/u

[2015-11-24 19:10] namimody commented on #5411
This was not working for a long time because the campaign (2805) would not disassociate with the 2014 run (3494) despite the run (3494) being associated with a different campaign node.

@angaither did some magic, allowing the campaign (2805) to be associated with a new campaign run (the 2015 run, node 5828), and I deleted the redirect.

Notes from Shawn 2014 is now associated with Coupon Clipping

[2015-11-24 19:10] #5411 closed, assigned to namimody

[2015-11-24 19:40] itsjoekent commented on #5837
never mind this is fixed

[2015-11-24 19:40] #5837 closed, assigned to itsjoekent

[2015-11-25 15:55] marahml commented on #5840
Oof good to know @namimody. Thanks for flagging! Assigning to Dee to investigate as something that is low priority but we def want to figure out

[2015-11-25 17:46] deezone commented on #5840
**Note to self**:
- https://www.dosomething.org/us/user/3335148
  - Birthdate in Drupal: 01/12/1993
  - Birthdate in MailChimp: 01/11/1993
  - Birthdate in `mb-users` database: 1993-01-12T00:00:00.000Z

Looks like the issue is specific to the submission of the date to MailChimp specifically. This supported by the Message Broker user database having the correct date.

**Theories**:
- A time zone di

[2015-11-30 14:39] mshmsh5000 opened #5846 "Apply bounce rate fix to international branch"
Remember #5119? It's still a problem on the international sites. Let's please apply the PRs (#5536 and #5478) to that branch.

[2015-11-30 14:45] DFurnes commented on #5846
Whoops, should've left a comment on this. The relevant commits (d55d3083e83f9a7049a282d54c37b1149aff09d2, 349cef918dbdff34de2679060e1b1cc885388122, and cd5073cd3b3cc471c657a88e9f09e56141734ca0) have been cherry-picked to the [`intl-sites`](https://github.com/DoSomething/phoenix/tree/intl-sites) branch and should be ready to deploy.

[2015-11-30 14:49] mshmsh5000 commented on #5846
:+1:

[2015-11-30 15:07] DFurnes commented on #5814
It's not ideal. The current implementation (with the redirect) adds an extra ~150ms to loading those campaign pages, which is an unnecessary performance penalty. :grimacing:

[2015-11-30 15:11] sergiitk commented on #5846
International release tag created: https://github.com/DoSomething/phoenix/releases/tag/intl-v1.0.1

[2015-11-30 15:30] itsjoekent commented on #5814
this is only happening for anonymous users, confirmed locally and on prod. authenticated users (with correct language set in profile) do not have this bug.

i currently cannot test the anonymous behavior on my local because of an odd bug im experiencing

[2015-11-30 16:44] sheyd opened #5848 "Password Reset Link Sent in the Clear - Needs TLS"
https://cobalt.io/dosomething/reports/65

Sergii, feel free to get @weerd or @deadlybutter help on this so we can expand our App level security coverage under your watch.

[2015-11-30 16:46] mikefantini opened #5849 "Make additional fields translatable on the campaign template"
We've run into a few instances in which we wanted to create translations for campaigns (GL EN or otherwise) but couldn't because certain fields weren't translatable. It seems like this was mainly caused by:
1. campaign had a scholarship
2. campaign had a file in the Plan It Section in English
3. campaign was in high season (and that content is not ready for POEditor)

So because of this, it seems

[2015-11-30 17:24] #5814 closed, assigned to itsjoekent

[2015-11-30 18:43] angaither commented on #5714
@sergii-tkachenko @mikefantini is this still an issue?

[2015-11-30 18:57] #5846 closed, assigned to nobody

[2015-11-30 19:19] mikefantini commented on #5711
@namimody I believe the link is https://www.dosomething.org/about/submit-your-campaign-idea and that redirect seems to work fine.

If you can verify this please close this out. Thanks!

[2015-11-30 19:52] namimody commented on #5112
Hate to bring this back from the dead, but this photo https://thor.dosomething.org/admin/reportback/107783 is rotated on the back end and the user profile, but not on the action page. I cleared cache and it still appears unrotated. Is this relate to the separate issue you noted @sbsmith86?

[2015-11-30 19:52] DFurnes commented on #5783
Via Slack, some warnings that are occurring on prod right now:

![screen shot 2015-11-30 at 2 48 33 pm](https://cloud.githubusercontent.com/assets/583202/11482647/fc11780c-9771-11e5-8c34-d29ac2d9d323.png)

[2015-11-30 20:12] sbsmith86 commented on #5112
@namimody  Hmm this looks good on the action page to me.... am I looking at the right thing (https://thor.dosomething.org/us/campaigns/50-cans) ?

![screen shot 2015-11-30 at 3 11 11 pm](https://cloud.githubusercontent.com/assets/1700409/11483102/a2ea9076-9774-11e5-8859-1114c81d11aa.png)

and by "looks good" I mean it looks the same in all places.

[2015-11-30 20:25] angaither commented on #129
closing, done with styleci

[2015-11-30 20:25] #129 closed, assigned to nobody

[2015-11-30 20:27] mikefantini commented on #5112
@sbsmith86 to answer your question here https://github.com/DoSomething/phoenix/issues/5112#issuecomment-146672599 I think we should probably resolve this for older reportbacks because I can see this being quite confusing for editors if they are looking at old reportbacks. Your call on whether you'd like to create a new issue for it or not.

[2015-11-30 20:54] sergiitk commented on #5714
@angaither I believe it's not an issue anymore: https://www.dosomething.org/volunteer/old-school-impact

[2015-11-30 20:56] angaither opened #5854 "resusitate casper js tests"
these used to work, they died, someone call an :ambulance:

[2015-11-30 21:12] angaither commented on #5827
this should be a custom setting in the `goals setting` section on `/node/[nid]/custom-settings`

[2015-11-30 21:15] mikefantini commented on #5714
Yeah we should be good on this.

[2015-11-30 21:15] #5714 closed, assigned to sergiitk

[2015-11-30 21:26] angaither commented on #5170
planning for @weerd to take a look at this within this sprint, but not merge until Jan

[2015-11-30 21:26] mikefantini opened #5855 "Add pw reset help text to POEditor"
String to add to POEditor via POT files: "Enter your current password to change the E-mail address or Contraseña. Request new password." - on /user/[uid]/edit

Ref #5517

[2015-11-30 21:31] aaronschachter commented on #5170
Possibly related to #5653

[2015-11-30 21:33] namimody commented on #5112
OY i see it rotated on the action page now, @sbsmith86! Is there a delay that should be expected? Would be helpful to relay to editors if so!

[2015-11-30 22:14] namimody commented on #5711
@mikefantini yep, we've switched out the link in the MCC macro to https://www.dosomething.org/about/submit-your-campaign-idea. Should we be concerned that the link didn't auto redirect? might there be other edge cases -- or not something to worry about?

[2015-11-30 22:32] mikefantini commented on #5517
Closing this out since remaining work is represented in #5855

[2015-11-30 22:32] #5517 closed, assigned to weerd

[2015-11-30 23:18] namimody opened #5856 "Hot Module Ignores Month When Counting Down"
For example, https://www.dosomething.org/us/campaigns/treat-yo-friends ends on Dec 31. However, the page shows:

![image](https://cloud.githubusercontent.com/assets/12396076/11486593/15fb9584-9788-11e5-8702-9a15a0197236.png)

with the correct date in the header photo, the correct x-axis on the graph, but the dark blue banner (showing 30 hours left) is counting down from the date only -- as if tomo

[2015-12-01 14:32] mikefantini commented on #5810
@angaither is this one we should add to 2.1 milestone?

[2015-12-01 14:43] mikefantini commented on #5596
@marahml what are all the different phrases that need to be translated? "DID IT? PROVE IT!" and "News from the team" seem to need translation anything else?

@DeeZone @weerd do either of you have any thoughts on how we would do this?

Also can some of the content be translated on the template itself? I.e. the content that appears here on the MX template:

![image](https://cloud.githubusercontent.c

[2015-12-01 14:55] mikefantini commented on #5557
@angaither is this still an issue/something we want to add to 2.1?

[2015-12-01 14:58] mikefantini commented on #5151
@sheyd should this move to the Phoenix release 2.1 milestone?

[2015-12-01 14:59] mikefantini commented on #5150
@sheyd should this move to the Phoenix 2.1 release milestone?

[2015-12-01 15:06] deezone commented on #5596
@mikefantini From the tech perspective, translated is needed for:

As you suggested...
- DID IT?
- PROVE IT!
- "News from the team"

These three are in the Drupal app which are sent to Message Broker as `merge_vars` in the request payload.

Any text in the banner, in this case:
- Here's how to crush it - even harder than you already are.
- Ready to rock your campaigns?
- You signed up for these ca

[2015-12-01 15:09] mikefantini commented on #5596
Hmm ok thanks @DeeZone. @DeeZone or @weerd do either of you have any idea where these are located off the top of your heads?

Also do we know how we would get the translations to appear properly in the digest?

cc: @angaither

[2015-12-01 15:12] namimody commented on #5617
@mikefantini I'm going to close this -- looking back, I think it addressed two "issues":
- unpublished content being accessible to non admin/inauthenticated users, which is now fixed
- campaign titles not updating in search was just because it needed to be reindexed

[2015-12-01 15:12] #5617 closed, assigned to mikefantini

[2015-12-01 15:21] deezone commented on #5596
Correction, not in the Drupal app at all, my bad!
- **"News from the team"** - https://github.com/DoSomething/mbc-digest-email/blob/master/src/MBC_DigestEmail_MandrillMessenger.php#L153
- **"Did It. Prove It"** - https://github.com/DoSomething/mbc-digest-email/blob/master/templates/campaign-markup.inc#L26

The changes will have to be managed / applied at the template / HTML / CSS / code level.

Th

[2015-12-01 15:25] sheyd commented on #5151
@mikefantini It occurs to me this isn't just one ticket. I'll put a pin in this to break it out into actionable steps, and add some of the tickets to 2.1.

[2015-12-01 15:26] sheyd commented on #5150
Same for this ticket. It's not just one thing, more of a milestone. I'll break out tickets and assign them to milestone.

[2015-12-01 15:41] mikefantini commented on #5596
Wait but so @DeeZone do you know how/where to create translations for "News from the team" and "Did It? Prove It!"

Also is @mnelson338 aware that translated content is needed for this?

[2015-12-01 15:43] weerd commented on #5596
Don't know off hand. Are these items that could be POT-ified?

[2015-12-01 15:48] mikefantini commented on #5827
Also note I _think_ we'd want the rule to be if the current date is within the high season _and_ hot module is enabled, then display the hot module.

Otherwise we'd have to manually shut off the hot module every time which we don't want.

This may also impact the win module, we'd only want that to display for 30 days after the high season end date _if_ the hot module is enabled.

[2015-12-01 15:55] deezone commented on #5596
_Yes_, just need the actual translated text. It will be managed in files here:
https://github.com/DoSomething/mbc-digest-email/tree/master/templates

Something @marahml and / or @ArielSD are coordinating.

@weerd Sorry, no "POT-ified" magic available here.

[2015-12-01 15:59] mikefantini commented on #5849
cc: @julielorch @mnelson338

Also @mnelson338 I can't remember, but did we need to make any/many translations unpublished because they were MCC?

[2015-12-01 16:02] mikefantini commented on #5596
Ok so @DeeZone I'm going to assign over to you then since it seems like we just need the actual copy translated.

@mnelson338 can you please work to get translations for "News from the team", "Did It? Prove It!", and all content this template translated?

https://us4.admin.mailchimp.com/templates/edit?id=56757

[2015-12-01 16:10] itsjoekent commented on #4128
please ping me (and @DeeZone ?) before you change this as we'll need to update our applications accordingly when this is deployed.

[2015-12-01 16:25] deezone commented on #4128
Due to "All things global" there's a need for this endpoint to return translated text in the supported Drupal app languages. Currently Message Broker makes use of this endpoint with a need to support each of the language types.

Perhaps it would be better for the endpoint to just returned the number. The translation of the surrounding text could be managed in the requestor? I don't see the amount

[2015-12-01 16:31] itsjoekent commented on #4128
yeah I see nothing wrong with that

[2015-12-01 16:38] sbsmith86 commented on #5112
@namimody @mikefantini I will look into any caching logic around this and see if we can clean it up so the change is quicker. If I can't fix, it at very least we will know exactly what to expect. I'll let you know!

[2015-12-01 17:16] weerd commented on #5653
Something got borked with the query and it is no longer returning the `status` in the returned query object. Looking into it and will provide a fix to restore.

[2015-12-01 18:01] weerd commented on #5653
Ok, so the query isn't borked it's a permission thing. Do we want to expose `status` for anonymous `GET` requests? And what about `flagged` and `why_participated`? Were we being prematurely cautious or is there legit reasons why we shouldn't expose those?

https://github.com/DoSomething/phoenix/blob/be73e4c425d986f71174c17393c7e61695ccf5dd/lib/modules/dosomething/dosomething_reportback/dosomething

[2015-12-01 18:04] weerd commented on #5653
Technically, it should still be filtering the queries by the specified status (if one is supplied other than the default of `approved`, it's just not showing what the status is for each item when it's an anon request.

[2015-12-01 18:15] weerd commented on #5653
One option to help is that we could make it so anon requests will reveal the status, but items with a status of `excluded` and `flagged` are not included in the response?

[2015-12-01 18:20] aaronschachter commented on #5653
That sounds logical to me, it does bring up a minor question of whether or not we want to expose what's published vs. approved publicly though... to those h8ck0rz out there who are trying to determine if their Reportback Item made the grade. I would be fine with it being public.

[2015-12-01 18:25] weerd commented on #5653
LOL. we could add `pending` to the list of stuff to not show for anons ;)

[2015-12-01 18:44] weerd commented on #5653
Ok, so @aaronschachter and I discussed it further and these are the updates to address how results are returned for items based on `status`:

**Default request:**
- will now return both `approved` AND `promoted` items.

**Anonymous `GET` requests:**
- will _not_ include `pending`, `excluded`, and `flagged` items
- will ignore requests with query params asking for above mentioned statuses: `?status

[2015-12-01 19:22] itsjoekent commented on #5787
oh yeah, i think this needs to use the $vars

[2015-12-01 19:33] itsjoekent commented on #5582
I think I know why this is happening, standby

[2015-12-01 19:38] chloealee opened #5859 "User activity sync script"
I am working on an update to sync user activity data between pheonix and northstar so every time a user signs up or submits a reportback on the web, the mobile device will also be aware of this and all user activity will be up-to-date (https://github.com/DoSomething/phoenix/issues/4571).

However, this will only sync activity after the code is merged so we'll need to run a script that transfers/sy

[2015-12-01 20:08] #5787 closed, assigned to itsjoekent

[2015-12-01 20:11] mnelson338 commented on #5596
Translations:
Did it? Prove it!
Spanish: ¿Lo hizo? Prov él!
Portuguese: Fez isso? Prov-lo!

News from the team
Spanish: Noticias del personal
Portuguese: Notícias da equipe

@mikefantini I don't have a log in to mailchimp, so can't access the template. If you can direct me to the right person I can get it set up. Thanks!

[2015-12-01 20:34] #5582 closed, assigned to itsjoekent

[2015-12-01 20:50] mnelson338 commented on #5849
Not a pressing need right now for MCC @mikefantini

[2015-12-01 20:58] #5827 closed, assigned to itsjoekent

[2015-12-01 22:45] mikefantini opened #5862 "Campaign Collections are missing content on front end"
Content is not being output properly on Campaign Collections. The following fields/field collections aren't working as intended:
- `field_intro_title`
- `field_intro`
- `field_faq`
- `field_gallery`

Not sure if other content is being displayed properly or not.

example: https://www.dosomething.org/volunteer/step-game

Potentially related to #5714

[2015-12-01 23:05] tongxiang opened #5863 "display error message if quantity is more than a 32 bit integer"
The largest 32 bit integer is `2147483647`. Submitting `2147483648` as a reportback quantity fails uninformatively, and leads Phoenix to direct the user to the 404 page with no error message.

Discovered while working on [this issue](https://github.com/DoSomething/LetsDoThis-iOS/issues/668) in the mobile app. @aaronschachter

[2015-12-01 23:38] deezone commented on #5596
@mnelson338 Do you have access to LastPass? There's an entry for MailChimp access or you can come poke me for the password.

@ArielSD can coordinate the template work for Global Digest. The templates of interest are:
- **Brazil: mb-digest-v1_0-br**: https://us4.admin.mailchimp.com/templates/edit?id=56757
- **Mexico: mb-digest-v1_0-mx**: https://us4.admin.mailchimp.com/templates/edit?id=56749
- **G

[2015-12-02 15:50] #5818 closed, assigned to angaither

[2015-12-02 15:57] #5685 closed, assigned to sergiitk

[2015-12-02 16:02] itsjoekent commented on #5024
I'm not seeing this occurring right now, but there are other important dblog errors that have to be resolved. I'll make another issue, @angaither should we close this until we see these errors popup again?

edit; new issue: https://github.com/DoSomething/phoenix/issues/5866

[2015-12-02 16:04] itsjoekent opened #5866 "Resolve global log errors"
These are spamming the crap out of the log

MESSAGE Notice: Trying to get property of non-object in locale_language_url_rewrite_url() (line 429 of /var/www/dev.dosomething.org/html/includes/locale.inc).
LOCATION    http://dev.dosomething.org:8888/us/user/1700226
REFERRER    http://dev.dosomething.org:8888/us

LOCATION    http://dev.dosomething.org:8888/us/user/1700226
REFERRER    http://dev.dosome

[2015-12-02 16:17] angaither commented on #5024
@deadlybutter seeing the klout gallery and winner errors on thor
along with plenty undefined notices
https://thor.dosomething.org/us/campaigns/dont-be-sucker
https://thor.dosomething.org/us/campaigns/comeback-clothes

[2015-12-02 16:19] angaither commented on #5556
so I tried the checkbox to disable language fallback and it seems to work now?

[2015-12-02 16:24] #5556 closed, assigned to itsjoekent

[2015-12-02 16:25] mikefantini opened #5868 "Issues with markup for Birthday Field"
Occurring both in auth modal and on /user/uid//edit. It appears that both the font of "Birthday" is too large and that there is extra space below the Birthday field.

Auth:
![image](https://cloud.githubusercontent.com/assets/6330971/11536633/4aee332c-98e7-11e5-97f1-c95c7515d1f3.png)

/user/[uid]/edit:
![image](https://cloud.githubusercontent.com/assets/6330971/11536614/34ab7912-98e7-11e5-8a34-72ee

[2015-12-02 16:27] itsjoekent commented on #5024
importing tor content on my local to see if i can reproduce

[2015-12-02 16:39] angaither commented on #4565
sounds like we don't want to go this way anymore `¯\_(ツ)_/¯`

[2015-12-02 16:39] #4565 closed, assigned to angaither

[2015-12-02 17:00] #5849 closed, assigned to angaither

[2015-12-02 18:19] #5601 closed, assigned to deezone

[2015-12-02 18:59] marahml opened #5870 "Mobile App Merge Tag Bug"
K couldn't find the other issue, so here are the details:
- When reporting back on the mobile app, users receive the email below
- The campaign name is not coming through, instead they are seeing CAMPAIGN TITLE

![image](https://cloud.githubusercontent.com/assets/6784628/11541484/7d2be6ea-9900-11e5-9da5-89dc65f01d9a.png)

cc @DeeZone

---

There's another issue referencing this that I'm going to d

[2015-12-02 19:07] sheyd opened #5871 "Document Global Content Setup and Backend Details"

[2015-12-02 19:43] #5715 closed, assigned to sergiitk

[2015-12-02 19:43] #5758 closed, assigned to sergiitk

[2015-12-02 20:46] deezone opened #5872 "Mobile App Transactionals"
Transactional email messages triggered by the mobile application are not resulting in the expected email messages.

The request process is **Mobile App** -> **NorthStar** (UserAPI) -> **Drupal API** -> **Message Broker**. Somewhere in this flow the needed values are not being passed to result in a complete request to Message Broker.

**Issue Summary**:
- **`user_registration`**: Message not sent
-

[2015-12-02 21:01] namimody opened #5873 "Page Layout Breaks When Translation is Unpublished"
**What happened? What steps did you take before it happened?**
When a previously published GL EN version of a campaign is unpublished, the translation is correctly no longer accessible, but the page looks like the screenshot below.

To reproduce, publish both a GL EN and EN translation of a campaign, and unpublish the GL EN version. Using Torguard from Japan, try to access the campaign, you should

[2015-12-02 21:26] #5653 closed, assigned to nobody

[2015-12-02 21:33] weerd opened #5874 "Calculation issue with total property in pagination object for API response"
![image](https://cloud.githubusercontent.com/assets/105849/11544904/69906bee-9912-11e5-81ac-74c4721ba701.png)

`retrieved_count` is 25 but the `total` is 0? :confused:

[2015-12-02 23:25] namimody opened #5876 "Add node status to translate tab"
Currently the translate tab shows original translation as published, even if the node is not
Add node status to that tab, to make it less confusing

![image](https://cloud.githubusercontent.com/assets/12396076/11547383/5bb106d2-9921-11e5-8316-5efc0b8023cc.png)
### Original report

**What is happening?**
When a campaign is created in x language, saved, and then the "translate" tab is viewed, the tr

[2015-12-02 23:35] namimody opened #5877 "Associating Multiple Runs with Campaign, Prioritizing One Run to Show"
**Problem/Requirement:**
Campaigns open and close multiple times. Each time a campaign closes, a run is created, and signups/reportbacks are archived to the run. When the campaign reopens and runs again, we should be able to associate multiple runs with the same campaign. Then, we should be able to choose which one should display when the campaign closes again.

**Feature Summary:**
Currently, mul

[2015-12-02 23:37] namimody opened #5878 "Change Help Text Under Campaign Run Title Field"
![image](https://cloud.githubusercontent.com/assets/12396076/11479483/3fa7f940-9760-11e5-98cd-231b1c908976.png)

[2015-12-03 15:04] weerd opened #5879 "Do not return flagged Reportbacks to anonymous user in API response"
Similar to the filtering down in PR #5864 to stop RB items with statuses of `pending`, `flagged`, `excluded` from being return with an anonymous request to the API response, we want to black Reportbacks with a `flagged` property of `true`. Only admins should be able to request those.

cc @aaronschachter

[2015-12-03 15:22] itsjoekent commented on #5871
@sergii-tkachenko do you want me to take care of the redirect documentation?

[2015-12-03 15:27] #4027 closed, assigned to katiecrane

[2015-12-03 15:36] sergiitk commented on #5871
Yes please! Thank you.

[2015-12-03 16:23] #5024 closed, assigned to itsjoekent

[2015-12-03 17:21] jonuy opened #5881 "Improve campaigns response validation in Runscope test"
This is particularly helpful for the mobile app and ensuring the content it displays is setup properly.

**Runscope test:** https://www.runscope.com/radar/5tt8kuiumbfl/047608f5-3f9e-45d8-88f2-b02ae9f43b5b/overview

Currently, among other things, the validation setup will check if 12 campaigns are returned by the endpoint. But we're sometimes also finding campaigns that are tagged incorrectly. So w

[2015-12-03 17:53] namimody commented on #5878
Mmm never mind. Closing.

[2015-12-03 17:53] #5878 closed, assigned to nobody

[2015-12-03 17:56] itsjoekent commented on #5587
Unable to reproduce

![screen shot 2015-12-03 at 12 55 17 pm](https://cloud.githubusercontent.com/assets/897368/11568983/34f9f28c-99bd-11e5-9979-49c40ef9b518.png)

[2015-12-03 18:03] sergiitk opened #5883 "Notice: Undefined variable: _SESSION in dosomething_global_init() line 22"
Open https://thor.dosomething.org/us/volunteer/animals as an anon.
Looks like the session hasn't been started yet at `dosomething_global_init()`.

[2015-12-03 18:05] jonuy opened #5884 "Update validation on reportback-items Runscope test"
**Runscope test:** https://www.runscope.com/radar/5tt8kuiumbfl/4eca9485-82fc-4ded-9f5d-00b766f627b1

All users on Phoenix should have a corresponding user on Northstar. So when a GET /reportback-items call is made, the `user` object should be populated with an id and first name at the very least. Yet, sometimes we'll see bugs where this is returned instead:

[code]

The current validations on the

[2015-12-03 18:15] namimody commented on #5587
@deadlybutter I can't reproduce either (was in NZ via TorGuard and still saw Contact Us when I resized the window. Closing.

[2015-12-03 18:15] #5587 closed, assigned to nobody

[2015-12-03 18:15] jonuy opened #5885 "User object in GET /reportback-items response is null"
#### Example call

https://www.dosomething.org/api/v1/reportback-items
#### The result

[code]

This seems to currently be happening on both staging and production.
#### The expectation

There should at least be a value for `id` and `first_name`.
#### What've we looked into so far
- Checked Northstar settings and they seem :ok: (/admin/config/services/northstar)
- Flushed Redis cache on staging. D

[2015-12-03 18:16] itsjoekent commented on #5587
:+1:

[2015-12-03 18:23] itsjoekent commented on #5883
Not getting this locally? Its simple to fix

[code]

but weird I can't reproduce

https://gist.github.com/deadlybutter/65f0c22da5927e0f8423

[2015-12-03 18:25] sergiitk commented on #5883
Do you see the error at https://thor.dosomething.org/us/volunteer/animals?
![image](https://cloud.githubusercontent.com/assets/672669/11569700/f5e14dfe-99fb-11e5-9ba9-14181f200903.png)

[2015-12-03 18:26] itsjoekent commented on #5883
Yep!

[2015-12-03 18:28] sergiitk commented on #5883
But not locally?

[2015-12-03 18:29] itsjoekent commented on #5883
Nope.

And it looks like we should just call this at the top

https://api.drupal.org/api/drupal/includes!session.inc/function/drupal_session_start/7

it will preserve the existing session and its more drupal-y

[2015-12-03 18:33] sergiitk commented on #5883
Makes sense.

[2015-12-03 18:37] sergiitk commented on #5883
Also, use `if (!empty($_SESSION['dosomething_global_redirected']))`.

[2015-12-03 18:41] #5883 closed, assigned to itsjoekent

[2015-12-03 18:51] mikefantini opened #5888 "Cover image isn't displaying for non-admin users on taxonomy terms"
See thor.dosomething.org/volunteer/animals

[2015-12-03 19:01] namimody opened #5889 "Campaign Names Disappear From Profile When Activity is Archived"
**What is happening?**
When activity is archived, a user who has reported back for that campaign no longer sees the campaign name associated with their reportback on a their profile.

**What should be happening?**
The name of the campaign run should show instead on a profile once the campaign activity is archived onto that run.

**How can someone replicate it?**
Report back for a campaign, create

[2015-12-03 20:04] angaither commented on #5885
@weerd mind taking a look at this one?

[2015-12-03 20:10] weerd commented on #5885
righty-o

[2015-12-03 20:10] weerd commented on #5885
"The depths of Diego's eyes. It's magical." :eyes: :wink:

[2015-12-03 20:11] mshmsh5000 commented on #5878
:turtle: :icecream:

[2015-12-03 20:13] mshmsh5000 commented on #5885
![diego-clip-art-diego_pulando](https://cloud.githubusercontent.com/assets/149811/11572657/59e5502e-99d0-11e5-90e9-485339d60705.gif)

[2015-12-03 20:29] weerd commented on #5885
LOL

[2015-12-03 21:36] mikefantini opened #5893 "More errors on thor"
![image](https://cloud.githubusercontent.com/assets/6330971/11574838/eee3e888-99db-11e5-9aff-73ffcc917431.png)

[2015-12-03 21:43] itsjoekent commented on #5871
https://github.com/DoSomething/phoenix/wiki/DoSomething-Global#redirect-logic

If you need me to document other global things let me know

[2015-12-03 22:04] mikefantini opened #5894 "Need translation redirects based off of base URL for taxonomy terms"
Redirect logic should mimic that of campaign nodes.

Let me know if you have any questions.

Main issue right now, currently US users who go to thor.dosomething.org/volunteer/animals remain on the base URL rather than getting redirected to thor.dosomething.org/us/volunteer/animals

[2015-12-03 23:25] deezone commented on #5872
**Note to self**:
- User registration: dlee@dosomething.org, 347xxxzzzz
  - no transactional received.
- Second user registration: dlee+mobileApp-151203-01@dosomething.org
  - no transactional email received
  - no log entry for `dlee+mobileApp-151203-01@dosomething.org` in Mandrill or `mbc-transactional-email`.

**Assumptions**:
- A call from the mobile app is made to the userAPI (Northstar) to c

[2015-12-04 15:29] mikefantini commented on #5889
@namimody I updated the desired behavior slightly. We actually want it to pull in the campaign run name. This is how it was working previously and is probably the easiest dev solution that also works from a UX perspective.

We may have to update campaign run titles to account for this (plus help text possibly?).

[2015-12-04 16:01] mikefantini commented on #5876
@namimody I assume this happens because the node itself is unpublished. It's a bit confusing I guess because once the node itself is published, there's no real action that needs to be taken to get the English translation itself published.

I'm wondering if instead of worrying about this potential complexity we can just add to the top of this view the published status on the node itself? Not even s

[2015-12-04 16:06] angaither commented on #5876
@namimody @mikefantini yeah, it looks like by default the translation is published even if the node isn't

[2015-12-04 16:07] mikefantini commented on #5876
Yeah @angaither do you think it's possible to add published status of the node to the /translate view or is that v. hard?

[2015-12-04 16:09] mikefantini commented on #5582
@namimody can you please confirm this is working as expected?

[2015-12-04 16:09] angaither commented on #5876
it's probably not too difficult, though it might be a bit confusing with all the different ~published stati~
though in this :earth_asia:al life, what isn't confusing

[2015-12-04 16:10] mikefantini commented on #5876
![image](https://cloud.githubusercontent.com/assets/6330971/11594366/9605bb6e-9a77-11e5-8542-6181a7327257.png)

[2015-12-04 16:12] mikefantini commented on #5876
I think it's worth adding published status of the node to the top of this view. Either in the table itself or just above. And then we'll just have to educate people that if the node itself isn't published, it doesn't matter if translations are or not.

I do think this will clear things up especially for testing purposes.

[2015-12-04 16:21] angaither commented on #5893
on `node/add/campaign`

[code]

[2015-12-04 16:27] mikefantini commented on #3253
@julielorch this is a question for you. Do you think this is still something we need?

[2015-12-04 16:30] mikefantini commented on #5750
Yeah you're right @angaither sorry for the confusion. It just shouldn't show up on static content nodes.

It should only show on campaign nodes, campaign group nodes, and taxonomy terms.

[2015-12-04 16:30] tongxiang commented on #5884
Added this line to the script section: `item.user.id !== null && item.user.first_name !== null`. (Within a for loop, we're iterating through all the reportback items and checking the user object.

However, it seems like no staging reportbacks have valid user objects. Hence, this test for staging will always fail. Is that meaningful to us? @jonuy

[2015-12-04 16:32] mikefantini commented on #5838
@namimody has this come up recently? Personally I don't really think it's a huge deal and not worth fixing, especially because there are work around (i.e. delete image upon flagging and edit quantity). Thoughts?

[2015-12-04 16:53] ArielSD commented on #5596
@mnelson338
We need to translate the subject lines as well. Please let me know how I can help:

[code]

[2015-12-04 17:20] marahml commented on #5596
Just catching up here - and looks like everyone's on it. Thanks for handling team and let me know if you need anything!

[2015-12-04 17:37] mikefantini commented on #5711
@namimody it might be worth keeping an eye out for this on the 404's monitoring. But I think for now we can close this out.

If you want to add in the redirect from /campaigns/submit-your-campaign-idea go for it. But I think we should just keep using the /about/submit-your-campaign-idea moving forward when we market this.

[2015-12-04 17:37] #5711 closed, assigned to mikefantini

[2015-12-04 17:53] mikefantini commented on #4942
@lkpttn @sbsmith86 are we good on this issue? Did you two ever sync on this?

[2015-12-04 18:20] sbsmith86 commented on #4942
@mikefantini nope, but i can test some stuff out and we send screenshots to see if it works @lkpttn

[2015-12-04 18:23] itsjoekent commented on #5893
related https://github.com/DoSomething/phoenix/issues/5028

[2015-12-04 19:14] #5879 closed, assigned to weerd

[2015-12-04 19:25] jonuy commented on #5884
@tongxiang Yea, it's actually what prompted the need for this test. There should always be valid user objects and the previous validation rules didn't fail. The failures we're seeing now are things we should fix.

[2015-12-04 19:28] sergiitk commented on #5888
I can't reproduce it anymore @mikefantini.

[2015-12-04 19:28] sergiitk commented on #5888
It works both on Thor and locally.

[2015-12-04 19:52] mikefantini commented on #4942
Great thanks @sbsmith86!

[2015-12-04 19:54] mikefantini commented on #5888
Hmm yeah neither can I. Ok I'll close out for now then @sergii-tkachenko and I'll just keep an eye out for it.

[2015-12-04 19:54] #5888 closed, assigned to sergiitk

[2015-12-04 19:55] sergiitk commented on #5888
I think, as I suspected in Slack, this could be related to some of @deadlybutter's fixes for PHP notices that were on that page.

[2015-12-04 20:01] itsjoekent commented on #5888
:tada:

dance

[2015-12-04 20:10] mikefantini commented on #5439
@angaither just getting to this.

Yeah this is still an issue. Definitely something we should look at soon. If you don't want it in for 2.1 (which I get) then we should try to fix it early January.

Seeing issues on https://www.dosomething.org/us/campaigns/say-it-stars which was just recently created.

This is what I get when I share that:

![image](https://cloud.githubusercontent.com/assets/63309

[2015-12-04 20:41] #5033 closed, assigned to katiecrane

[2015-12-04 21:14] namimody commented on #5889
@mikefantini that works!

I actually found this issue because I (thought I) saw that the campaign run name was being pulled onto user profiles, but the help text for creating a campaign run titled noted that the title was not user facing. I'll go ahead and make that issue.

[2015-12-04 21:19] angaither commented on #5862
It looks like it's because the fields are translatable and I disabled fallback, was this displaying correctly before @mikefantini?

[2015-12-04 21:23] namimody commented on #5838
@mikefantini I'm fine with that. this came up on 11/24, and all I said is that I would make an issue, but no timeline. happy to just communicate the workaround if that works best.

[2015-12-04 21:23] angaither commented on #1483
@aaronschachter do you know if this issue is still needed?

[2015-12-04 21:23] mikefantini commented on #5862
Hmmm @angaither I actually think it may be because that node is unpublished. @sergii-tkachenko didn't you run a script to fix this for published nodes?

It's working properly on https://www.dosomething.org/volunteer/seniors-and-smartphones

[2015-12-04 21:24] angaither commented on #1386
I think we are ok with this one

[2015-12-04 21:24] #1386 closed, assigned to nobody

[2015-12-04 21:24] namimody commented on #5876
:100: agreed!

[2015-12-04 21:26] mikefantini commented on #5862
This issue also exists on thor:

https://thor.dosomething.org/volunteer/step-game

[2015-12-04 21:28] angaither commented on #652
I don't know what I was thinking here, looking back into this library it doesn't look like it even validates phone numbers.
We could use something else @DFurnes found this https://github.com/giggsey/libphonenumber-for-php

but I'll close this for now

[2015-12-04 21:28] #652 closed, assigned to angaither

[2015-12-04 21:31] angaither commented on #2535
going to close this one out (cc @aaronschachter)

[2015-12-04 21:31] #2535 closed, assigned to nobody

[2015-12-04 21:34] angaither commented on #2155
@weerd did this with reportbacks, it's much cleaner

[2015-12-04 21:35] tongxiang commented on #5881
Added a check that each of the four term IDs is represented by three campaigns each, and that no one campaign has been registered with more than one term ID.

[2015-12-04 21:35] #5881 closed, assigned to tongxiang

[2015-12-04 21:35] #5884 closed, assigned to tongxiang

[2015-12-04 21:37] angaither commented on #1756
as tests aren't running, these test def aren't :new_moon_with_face:

[2015-12-04 21:37] #1756 closed, assigned to nobody

[2015-12-04 21:38] mikefantini commented on #5838
Yeah let's please do that @namimody

[2015-12-04 21:38] #5838 closed, assigned to mikefantini

[2015-12-04 21:40] mikefantini commented on #5862
Ok so for Collection nodes the fix @sergii-tkachenko did was this: https://github.com/DoSomething/phoenix/pull/5691 and he executed it here: https://github.com/DoSomething/phoenix/issues/5724.

It seems like this just needs to be done again for unpublished nodes.

Are you able to take this on @sergii-tkachenko?

cc: @angaither

[2015-12-04 21:40] #2333 closed, assigned to nobody

[2015-12-04 21:41] angaither commented on #1562
I'm going to assume this is done, or is no longer needed (cc @mshmsh5000)

[2015-12-04 21:41] #1562 closed, assigned to nobody

[2015-12-04 21:42] angaither commented on #2226
closing, this isn't possible with the UPS api

[2015-12-04 21:42] #2226 closed, assigned to DFurnes

[2015-12-04 21:42] sergiitk commented on #5862
@mikefantini Ah, sorry again for the confusion. It did not excluded unpublished nodes, that was a fix FOR unpublished nodes.

[2015-12-04 21:44] #5028 closed, assigned to itsjoekent

[2015-12-04 21:44] #5893 closed, assigned to itsjoekent

[2015-12-04 21:57] #3197 closed, assigned to blisteringherb

[2015-12-04 21:58] angaither commented on #2663
going to close this one, unless you have specific functions you want moved @DFurnes

[2015-12-04 21:58] #2663 closed, assigned to nobody

[2015-12-04 22:01] angaither commented on #2714
this is a lie
https://www.dosomething.org/admin/content/search?title=trea&type=All&field_cause_tid=All&status=All&language=All
![image](https://cloud.githubusercontent.com/assets/645205/11602495/ab5f6e02-9aa8-11e5-8e00-dc5eea4d449a.png)

[2015-12-04 22:01] #2714 closed, assigned to nobody

[2015-12-04 22:02] mikefantini commented on #2376
@angaither this has come up in the past. It's honestly probably worth doing if we're looking to make things more explicit and less hacky.

[2015-12-04 22:04] #2773 closed, assigned to aaronschachter

[2015-12-04 22:06] #2594 closed, assigned to nobody

[2015-12-04 22:09] weerd opened #5899 "Change name of dosomething_helpers_isset()"
Related to conversation in #5896

Look into changing the name of the function from `dosomething_helpers_isset()` to `dosomething_helpers_get_value()` to avoid confusion with core PHP function `isset()`

[2015-12-04 22:09] angaither commented on #2136
we are going to have to refactor all the address stuff with :earth_asia: this is probably not worth it

[2015-12-04 22:09] #2136 closed, assigned to nobody

[2015-12-04 22:11] angaither commented on #4077
@mshmsh5000 is this still a priority?

[2015-12-04 22:12] angaither commented on #4074
@mikefantini oh really?

[2015-12-04 22:13] angaither commented on #3264
this has been refactored and will be deprecated once we are ~one site~

[2015-12-04 22:13] #3264 closed, assigned to sergiitk

[2015-12-04 22:23] angaither commented on #4855
probably another thing we will need to refactor once we are ~one site~
[currently this is set as a prefix](https://github.com/DoSomething/phoenix/blob/75ce57a6b816369f6ec682092551e4fd244ac5ee/lib/modules/dosomething/dosomething_campaign/dosomething_campaign.features.field_instance.inc#L2519) in the scholarship field, but we will probably need to POTify it

[2015-12-04 22:27] sergiitk opened #5900 "Campaign Collections: Intro title and text are showing only when intro image is present"
Example:
https://thor.dosomething.org/us/volunteer/step-game

W/ intro image:
![image](https://cloud.githubusercontent.com/assets/672669/11602902/a7085920-9ae6-11e5-9224-1de678a52926.png)

W/o intro image:
![image](https://cloud.githubusercontent.com/assets/672669/11602911/b75f05b2-9ae6-11e5-8946-21ca3f7a3a96.png)

We need to display this fields even if intro image isn't set.

CC @mikefantini

[2015-12-04 22:27] angaither commented on #4828
@mikefantini have people still seen this? I haven't heard about it in a while. no news is good news

[2015-12-04 22:29] sergiitk commented on #5900
We actually thought it's a translation issue #5862, but turned out to be just a layout thing.

[2015-12-04 22:29] #5862 closed, assigned to sergiitk

[2015-12-04 22:37] mshmsh5000 commented on #4077
I wouldn't want to add this to the redirect logic we've been working on. At least, not a priority. We'll open a fresh issue if SEO considerations ever force us into it.

[2015-12-04 22:37] #4077 closed, assigned to nobody

[2015-12-04 22:38] angaither commented on #5439
I think this is a duplicate of #5096

[2015-12-04 22:39] angaither commented on #5399
let's break this out somewhere else, eh?

[2015-12-04 22:39] #5399 closed, assigned to mikefantini

[2015-12-04 22:41] angaither commented on #5656
omg, duplicate of this old THANG #2783

[2015-12-04 22:41] #5656 closed, assigned to nobody

[2015-12-04 22:41] angaither commented on #2783
They are just normal fields. Which is kinda sucky from an admin UX perspective.

#### Example

Setting the "Who We Are" link for US visitors in Theme Settings:

<img width="354" alt="screen shot 2015-10-28 at 3 55 53 pm" src="https://cloud.githubusercontent.com/assets/583202/10801163/637e8566-7d8c-11e5-9dc6-589c7afe3210.png">
:speech_balloon: _Help where's my autocomplete???_

<img width="354" alt

[2015-12-04 22:42] mikefantini commented on #4828
Not that I've heard. Let's close it out.

[2015-12-04 22:42] #4828 closed, assigned to nobody

[2015-12-04 22:45] mikefantini opened #5901 "Gallery isn't showing up on campaign collection nodes"
https://www.dosomething.org/node/4965/edit -> https://www.dosomething.org/volunteer/sports

I believe this is what's causing the random white space at the bottom of the page as well:

![image](https://cloud.githubusercontent.com/assets/6330971/11603281/b9b0aed4-9aae-11e5-9d93-b672be548a26.png)

[2015-12-04 22:46] deezone commented on #5596
@ArielSD @mnelson338 We'll also need the From settings for the global digest emails (BR & MX) as well:
- From name: ("DoSomething.org" in US digest)
- From address: ("help@dosomething.org" in US digest)

[2015-12-04 22:46] angaither commented on #4339
darkness is better for the soul

[2015-12-04 22:46] #4339 closed, assigned to nobody

[2015-12-04 22:51] angaither commented on #4252
closing duplicate of #4849

[2015-12-04 22:51] #4252 closed, assigned to nobody

[2015-12-04 22:58] mikefantini commented on #5023
@namimody have we heard instances of this recently?

[2015-12-04 23:09] mikefantini commented on #4610
@Bladt if there are things you think you're missing please let us know/create issues.

[2015-12-04 23:14] mikefantini commented on #4049
@weerd is looking into this as he tackles #5170

[2015-12-07 15:46] #5901 closed, assigned to sergiitk

[2015-12-07 16:11] angaither commented on #5400
@namimody where are you seeing this happen? I'm not able to replicate
looking at the test campaign on stage everything seems to be :ok:
https://staging.beta.dosomething.org/us/campaigns/test-campaign

[2015-12-07 16:54] weerd commented on #5885
So this is a simple fix!

`https://www.dosomething.org/api/v1/reportback-items?load_user=true`

Because we were dealing with expensive calls, we decided to use the `load_user` URL param and pass `true` if we wanted user data included in index collection views; otherwise it's ignored and `null` is passed since we want to keep the properties present. ;)

So the following will load with users:
https:

[2015-12-07 16:59] #5885 closed, assigned to nobody

[2015-12-07 17:39] aaronschachter commented on #5872
Just replicated the reportback bug getting a _CAMPAIGN TITLE_ email on staging: It was a PBJ Slam reportback transactional for `aschachter+20151207@dosomething.org`

@DeeZone Yes - no emails for an existing user. Not sure where / who should be looking into the user registration emails issue.

[2015-12-07 17:46] aaronschachter commented on #5872
Same email (missing the title merge tag) when reporting back with the same user for Mirror Messages.

[2015-12-07 18:07] angaither commented on #5899
@weerd see [`dosomething_user_get_field()`](https://github.com/DoSomething/phoenix/blob/dev/lib/modules/dosomething/dosomething_user/dosomething_user.module#L1023) as a comp/help for this type of function

[2015-12-07 18:10] aaronschachter commented on #5872
Also worth noting the Signup transactionals I received for these two campaigns worked ok -- the Campaign title was displayed properly in the copy

[2015-12-07 18:13] weerd opened #5903 "Kudos API request is missing fallback logic for failed Northstar request"
Just need to update it with the same logic used in RB and RB items requests.

If the request to get user info via Northstar fails, the logic still continues assuming something was found, so we get a bunch of undefined variable errors cause the object returned is an error object and not an object with expected user data.

[2015-12-07 18:19] #5903 closed, assigned to weerd

[2015-12-07 18:28] angaither commented on #2877
actually of all the notices we have, I'm not seeing this static content stuff anymore ;)

[2015-12-07 18:28] #2877 closed, assigned to nobody

[2015-12-07 18:32] angaither commented on #879
oh interesting, check out this issue.
@chloealee @jonuy @DFurnes

looks very similar to #5184

[2015-12-07 18:45] mikefantini opened #5905 "Timing data missing on campaign nodes"
`field_high_season`, `field_display_end_date`, and `field_low_season` seems to have been wiped from campaign nodes.

Happening on both thor and prod.

Examples: https://thor.dosomething.org/us/node/2900/edit and https://thor.dosomething.org/us/node/2710/edit

[2015-12-07 18:52] angaither commented on #5905
related #5869

those fields were recently converted to translatable

[2015-12-07 18:57] angaither commented on #1055
@aaronschachter blast from the past, do you know if we do this field collection references on other node types? is that [`dosomething_helpers_get_entityref_parent_list()`](https://github.com/DoSomething/phoenix/blame/dev/lib/modules/dosomething/dosomething_helpers/dosomething_helpers.module#L307)?
is this still something we should build?

[2015-12-07 18:58] weerd commented on #5899
@angaither I'll take a looksee, but overall aiming to _not_ use `entity_metadata_wrapper()`. It's the :japanese_ogre:

[2015-12-07 18:59] angaither commented on #5899
oh wasn't suggesting that, more so [this](https://github.com/DoSomething/phoenix/blob/dev/lib/modules/dosomething/dosomething_user/dosomething_user.module#L1032-L1037)

[2015-12-07 19:09] sergiitk commented on #5905
Fixer script executed on thor:

[code]

[2015-12-07 19:11] weerd commented on #5899
Ah, ok! Will do :)

[2015-12-07 19:18] sergiitk commented on #5905
And on production:

[code]

[2015-12-07 19:28] aaronschachter commented on #1055
`dosomething_helpers_get_entityref_parent_list` i believe is just used when an editor is viewing an Image node, to see what nodes reference it via the given `field_name`. I don't remember where the need came from though.. there may have not been one. If no one is looking for this functionality, I don't think we'd need to build it. If no one actually uses that internal view either as is , I'd vote

[2015-12-07 19:33] mikefantini opened #5907 "Hot module time left way off"
Everything says 9 hours left regardless of amount of time left:

https://thor.dosomething.org/us/campaigns/grandparents-gone-wired-0

https://thor.dosomething.org/us/campaigns/superstressface

[2015-12-07 19:34] sbsmith86 commented on #5907
It works on my Dev, so something is off between environments.

[2015-12-07 19:40] mikefantini commented on #5907
Works for:
- https://www.dosomething.org/us/campaigns/grandparents-gone-wired-0
- https://www.dosomething.org/us/campaigns/50-cans

Doesn't work for:
- https://www.dosomething.org/us/campaigns/reelwomen

[2015-12-07 19:48] angaither opened #5908 "lobby dashbord js errors"
![image](https://cloud.githubusercontent.com/assets/645205/11637760/4832c446-9cf1-11e5-8888-86a4c7f7e64b.png)

seeing this on all pages on prod

[2015-12-07 19:49] mikefantini commented on #5907
Actually no campaigns are working. They just appeared to be working because of optimizely tests that are running

[2015-12-07 19:51] deezone commented on #5872
@aaronschachter Any comments to address the outstanding "Question" above?

https://github.com/DoSomething/phoenix/issues/5872#issuecomment-161822247

[2015-12-07 20:09] mikefantini commented on #5907
Note for myself to set these as hot again once this is pushed to prod: https://docs.google.com/spreadsheets/d/1uOMlmIle58u5h0XkKWQhSAsJA9Ehqwtjs3wZVexqLpc/edit#gid=0&vpid=A1

[2015-12-07 20:36] mikefantini commented on #5905
I think this can be closed out @sergii-tkachenko yeah?

[2015-12-07 20:41] sergiitk commented on #5905
Yes!

[2015-12-07 20:41] #5905 closed, assigned to sergiitk

[2015-12-07 22:03] #5751 closed, assigned to sbsmith86

[2015-12-07 22:45] mshmsh5000 commented on #5700
**N.b.** We reverted this behavior on 2015-12-07, once we launched GGW as a campaign collection.

[2015-12-07 22:46] #5700 closed, assigned to sheyd

[2015-12-07 23:43] mikefantini opened #5913 "Add mGage integration into phoenix"
We have mGage for UK, Brazil, and Mexico. We need to add this integration into drupal so that users in those countries are able to have a similar transactional text message experience as US users receive.

Ideally we could find a way to add these configurations to https://www.dosomething.org/admin/config/dosomething/opt_in for each country.

Something else to consider, I believe that currently as

[2015-12-07 23:49] mikefantini opened #5914 "Campaign Collection Redirects Needed"
We need redirects for the following campaign collections:
- [ ] https://www.dosomething.org/volunteer/globalgoals -> https://www.dosomething.org/us/volunteer/globalgoals
- [ ] https://www.dosomething.org/volunteer/suspended-what -> https://www.dosomething.org/us/volunteer/suspended-what
- [ ] https://www.dosomething.org/volunteer/tune-and-take-action -> https://www.dosomething.org/us/volunteer/tun

[2015-12-07 23:50] mikefantini commented on #5914
Also to be clear, the reason this is important is because currently users who try to go to that page get taken to
![image](https://cloud.githubusercontent.com/assets/6330971/11643637/509cfeea-9d13-11e5-9fa6-e7e6b81d26ce.png)

[2015-12-08 05:32] namimody opened #5915 "Additional Materials Appear on Back End but Not Front End"
#### Current Behavior

Additional materials that have previously appeared and have been correctly uploaded to back end no longer appear on front end.
#### Desired Behavior

Additional materials uploaded on the back end of a campaign appear as hyperlinks in the Stuff You Need Section of campaign.
#### Steps to Replicate

Check the active and edit views of different campaigns with additional materia

[2015-12-08 14:41] itsjoekent commented on #5908
this was being covered in https://github.com/DoSomething/phoenix/issues/5783 as there are multiple content security policies to resolve

[2015-12-08 14:41] #5908 closed, assigned to itsjoekent

[2015-12-08 14:41] mikefantini commented on #5915
Possibly related to #5849 @angaither mind assigning out?

[2015-12-08 15:08] itsjoekent commented on #5863
I'm running on the assumption a user will never reportback a quantity of 2147483648

In that case we just need to build validation which prevents the user from doing this / handles the resulting error.

@mikefantini sound correct?

[2015-12-08 15:18] angaither opened #5917 "running cron to errors out"
Due to #5916 and #5910 the hot module cron shares error out

refactorrrr

[2015-12-08 15:21] angaither commented on #5917
`DateTime::diff() expects parameter 1 to be DateTimeInterface, null given dosomething_campaign.helpers.inc:630    [warning]`

[2015-12-08 15:23] #5868 closed, assigned to nobody

[2015-12-08 15:35] angaither commented on #5915
@deadlybutter mind taking a look here, looks like it's pulling `[LANGUAGE_NONE]' in [campaign_helpers](https://github.com/DoSomething/phoenix/blob/6e17bb9fcd4af5ded35a05288c369608dc185bfb/lib/modules/dosomething/dosomething_campaign/dosomething_campaign.helpers.inc#L208-L216)

[2015-12-08 15:36] itsjoekent commented on #5915
was just looking at this! sure thing

[2015-12-08 15:38] jonuy commented on #5872
@DeeZone

I don't think there are any easily accessible logs at least to see. Would ssh'ing into the mongo db itself and checking out the documents there be enough? What sort of info are you interested in finding?

If we've got the user in Northstar and that user's already got an assigned Drupal id (which I suspect should be the case in a majority of these scenarios) [we don't forward the call](ht

[2015-12-08 15:56] mikefantini commented on #5412
@blisteringherb mind taking a look at this one this week? cc: @mshmsh5000

[2015-12-08 16:02] mikefantini commented on #5863
@deadlybutter I think this assumption is fine. I guess the other question is if any other large quantities fail.

In terms of validation error, I think a client side error of "Hmmm that seems a bit high" or something like that would be appropriate.

[2015-12-08 16:03] itsjoekent commented on #5863
:+1:

[2015-12-08 16:03] tongxiang commented on #5863
any quantity greater than `2147483647` will fail.

[2015-12-08 16:14] angaither opened #5919 "update hot module query that outputs the json"
when the hot module runs for more than a month, the dates on the graph get all sorts of funky
![image](https://cloud.githubusercontent.com/assets/645205/11660817/dcdde5ac-9d9c-11e5-9f6f-fe60536e86a3.png)

[this query](https://github.com/DoSomething/phoenix/blob/dev/lib/modules/dosomething/dosomething_campaign/dosomething_campaign.theme.inc#L295-L298) needs to be updated to grab only the current mo

[2015-12-08 16:24] #5915 closed, assigned to itsjoekent

[2015-12-08 16:30] jonuy commented on #879
It does sorta have that same feel of syncing info from one service to another. We can close this particular one out though. There hasn't been talk of doing any special personalization like this for SMS since probably May 2014.

[2015-12-08 17:07] aaronschachter commented on #1483
Seems like this one is okay to close -- I'm trying to connect the pieces through the various linked issues, I think this was for when we had hardcoded 2 List ID's for Old People and Members -- making those variables (and then possibly moving storage into the Helpers table to keep things in one place?). I've been out of the loop on what our Mailchimp configuration looks like these days, but this on

[2015-12-08 17:10] angaither commented on #1483
great, thanks @aaronschachter

[2015-12-08 17:10] #1483 closed, assigned to nobody

[2015-12-08 17:29] deezone commented on #5872
@jonuy vv ?

Queries on the Mongo db would work.

What's the Mongo server and db name? I seem to only be able to get at `mongo4` for the Message Broker stuff. Perhaps I need more rights once I know where to look. What Mongo server do you use for the mobile app / Northstar?

[2015-12-08 17:34] deezone commented on #5872
Thanks @jonuy , my response and question for perhaps you or @aaronschachter :

That makes sense.

What about user password resets? The transactional email that provides a reset link in an email is not sent. Does that make sense in the case of the app? Can you reset your password via the mobileApp or perhaps that's on the roadmap?

[2015-12-08 17:38] aaronschachter commented on #5872
On the roadmap for version WayLater -- right now we direct users to the web in order to reset password.

[2015-12-08 18:02] mikefantini opened #5920 "Global redirects are behaving erratically"
#### Current Behavior

When I go to www.dososomething.org/stress I'm correctly redirected to www.dosomething.org/us/campaigns/less-stress-text and www.grandparentsgonewired.com I'm correctly redirected to www.dosomething.org/us/campaigns/grandparents-gone-wired-0.

However, I have seen Adam have an inconsistent experience where sometimes he is redirected to the /us/ version correctly but sometimes

[2015-12-08 18:06] sergiitk commented on #5920
Hi! I think it's related to the origin country of the user accessing this short urls. I'm not getting redirected either.

[2015-12-08 18:07] mikefantini commented on #5920
He is also not being redirected when he goes to www.dosomething.org/campaigns/grandparents-gone-wired-0 to the /us/ translation.

Also he is being sent to the GL EN homepage in Safari and Chrome when he goes to www.dosomething.org (instead of being taken to /us)

[2015-12-08 18:08] sergiitk commented on #5920
cc @deadlybutter. Can you give it a look?

[2015-12-08 18:08] itsjoekent commented on #5920
ok thats really weird

[2015-12-08 18:09] itsjoekent commented on #5920
maybe dumb question -- should I check adams computer for anything funky? maybe some privacy setting or incorrect language is enabled?

[2015-12-08 18:09] mikefantini commented on #5920
@deadlybutter give it a shot

[2015-12-08 18:17] itsjoekent commented on #5920
found this on adams computer in the request headers

![image](https://cloud.githubusercontent.com/assets/897368/11664113/dc44f250-9dad-11e5-9c04-978c22348408.png)

shouldnt that be X-Fastly-Country-Code (not -Client) ??

Also it works ok on chrome, but not chrome incognito and safari

[2015-12-08 18:18] itsjoekent commented on #5920
NOPE WAIT I FIGURED IT OUT SORTA KINDA.

Okay in the Request-Headers portion in the network inspect tab, there was nothing related to Fastly, the screenshot above is from the Response headers.

However on my computer (where it works) the Request Headers are present.

[2015-12-08 18:19] mikefantini commented on #5920
@mshmsh5000 might this have anything to do with the Fastly updates that were made last night?

[2015-12-08 18:21] mikefantini commented on #5920
Or @blisteringherb @sergii-tkachenko do either of you have any thoughts on this?

[2015-12-08 18:25] sergiitk commented on #5920
@deadlybutter Do you have ModHeader enabled?

[2015-12-08 18:38] sergiitk opened #5921 "Cleanup build errors"
##### `ds build --install`
- [x] `WD Apache Solr: HTTP Status: 404; Message: Not Found: Not Found; Response: [error]
  Error 404 Not Found`
- [x] `WD Apache Solr: HTTP 404; Not Found: Not Found in apachesolr_cron [error]`
- [x] `WD Apache Solr: No Solr instance available during indexing. [error]`
- [ ] `WD varnish: Unable to connect to server socket 127.0.0.1:6082: Connection refused [error]`
- [x

[2015-12-08 18:42] marahml commented on #5913
Great, thanks @mikefantini! A couple of questions for the group:
- Can we just take the CGG functionality and replicate it for the BR + MX auth forms?
- @DeeZone @angaither I believe as of yesterday, all prev. phone numbers from AGG were pushed to mGage?

Looping in @classicfreddie here too

[2015-12-08 18:44] itsjoekent commented on #5920
oh I do, and I just confirmed those variables are coming from mod header.

never mind!

[2015-12-08 18:48] angaither commented on #5907
fixed with #5910

[2015-12-08 18:48] #5907 closed, assigned to namimody

[2015-12-08 18:50] angaither opened #5922 "Display only days left"
on the hot module, instead of saying date it ends, just display number of days
- [x] Display days left
- [ ] add help text (TBD) to say it ends x day in EST

cc @mikefantini @lkpttn

[2015-12-08 19:07] mikefantini commented on #5922
Reopening so we wrap up the second part of this issue once we have designs.

[2015-12-08 19:11] jonuy commented on #5872
@DeeZone I'll DM you with info about connecting to the db

[2015-12-08 19:31] angaither commented on #5856
oh, doi, when we get difference back, we [literally ignore the month](https://github.com/DoSomething/phoenix/blob/dev/lib/modules/dosomething/dosomething_campaign/dosomething_campaign.helpers.inc#L634-L635)

![image](https://cloud.githubusercontent.com/assets/645205/11666009/41f5fa9a-9db8-11e5-8736-9cfb1e5195b0.png)

[2015-12-08 19:43] mikefantini opened #5924 "Fatal error upon log in"
#### Current Behavior

When I log as an existing user on a campaign pitch page I see a fatal error.
#### Desired Behavior

I should be logged into my account and taken to the action page.
#### Steps to Replicate
- Go to thor.dosomething.org
- Click on Explore Campaigns
- Click Just Because
- Taken to Pitch Page
- Go to log in as an existing test user and received the following error "Error. Error

[2015-12-08 19:57] namimody commented on #5920
As a note, Marissa is also seeing the global homepage at dosomething.org and dosomething.org/stress is showing her the broken "global translation available for" page. cc @blisteringherb

[2015-12-08 20:08] mikefantini commented on #5924
Possibly related to https://github.com/DoSomething/phoenix/commit/c8cdad599a5938381b44600fcc905e23688ab036?

@sergii-tkachenko mind taking a look?

[2015-12-08 20:11] sergiitk commented on #5924
Yes, I can do that.

[2015-12-08 20:37] mshmsh5000 commented on #5920
`X-Fastly-Country-Code-Client` is what's returned by Fastly in the browser response. If a user is not getting redirected, then you need to look at that header. If it's registering `US`, then the issue is probably with the app. If it's not registering `US`, then the issue is probably with Fastly.

[2015-12-08 20:38] itsjoekent commented on #5920
hmmm interesting, thanks Matt!

[2015-12-08 20:38] mshmsh5000 commented on #5920
FWIW, I'm in Brooklyn on an LTE connection and am not getting redirected on the home page.

[2015-12-08 20:39] sergiitk commented on #5920
I also tried to request homepage with US headers and hasn't been redirected to `/us/`.

[2015-12-08 20:40] itsjoekent commented on #5920
works fine for me on laptop (chrome) and my mobile device (android, chrome)

[2015-12-08 20:42] sergiitk commented on #5924
So attempted fix #5925 didn't help.
@mikefantini Could you please find the same flow on staging?

[2015-12-08 20:44] sergiitk commented on #5924
Note, I'm able to reproduce the bug directly without going through Explore Campaigns. It also doesn't matter if I have a signup for this campaign.

[2015-12-08 20:51] itsjoekent commented on #5920
| Name | Redirected Chrome | Redirected Chrome Incognito | Redirected Safari | Redirected Mobile |
| --- | --- | --- | --- | --- |
| Joe | Yes | No | No | Yes |
| Sergi | No? | No? | ? | ? |
| Matt LTE | Yes | Yes | Yes | No (Only for Safari, other browsers work) |
| Matt wifi | Yes | Yes | Yes | No (Only for Safari, other browsers work) |
| Adam | Yes | No | No | ? |
| Marissa | Yes | No | ? | ?

[2015-12-08 20:53] mikefantini commented on #5924
@sergii-tkachenko I don't believe it's just happening on `Just Because` based on @namimody's comment in slack re: GGW https://dosomething.slack.com/archives/phoenix/p1449605593002216

[2015-12-08 20:56] sergiitk commented on #5866
We're still receiving a bunch of `Notice: Trying to get property of non-object in locale_language_url_rewrite_url() (line 429 of /var/www/www.dosomething.org/releases/20151208192456/html/includes/locale.inc).` on every page.

[2015-12-08 20:56] itsjoekent commented on #5866
this ones been around for a while, was planning on looking into it

[2015-12-08 21:02] sergiitk commented on #5924
Good Find. So we need to found out what's common between `Just Because` and `Grandparents Gone Wired`.

[2015-12-08 21:04] mshmsh5000 commented on #5920
The only place I've been able to reproduce the bug has been mobile Safari. I even tried another mobile browser, and the home page redirect to `/us` worked.

[2015-12-08 21:05] itsjoekent commented on #5920
Gotcha, thanks!

[2015-12-08 21:06] sergiitk commented on #5920
@deadlybutter Good table. Could clarify though, what url we should test and to what page we should be redirected?
www.grandparentsgonewired.com -> www.dosomething.org/us/campaigns/grandparents-gone-wired-0?

[2015-12-08 21:06] mikefantini commented on #5920
Do we know if `X-Fastly-Country-Code-Client` is registering `US` or not per @mshmsh5000's comment?

https://github.com/DoSomething/phoenix/issues/5920#issuecomment-163010832

[2015-12-08 21:07] mikefantini commented on #5920
@sergii-tkachenko I don't think you'd be redirected outside of the US, but yes that's the intended behavior for users in the US

[2015-12-08 21:09] itsjoekent commented on #5920
@sergii-tkachenko wwww.dosomething.org

im assuming you were testing via vpn

[2015-12-08 21:09] itsjoekent commented on #5920
@mikefantini on Adams it was "US"

[2015-12-08 21:10] itsjoekent commented on #5920
@mshmsh5000 I think I just overrided your previous edit with the LTE vs WIFI, ill fix sorry! (and dammit github!). someone tell github to make there comments use git

[2015-12-08 21:11] DFurnes commented on #5920
Oh, interesting. This seems very similar to the [header issues we're having on the voting app](https://github.com/DoSomething/voting-app/issues/482). We saw similar wonkiness where incognito sessions on mobile browsers seemed to sporadically not send the country code header.

Sena sent a support request to Fastly, but I don't believe we've heard back yet.

[2015-12-08 21:11] mikefantini commented on #5920
@deadlybutter also note though sometimes Adam is getting the error and sometimes he's having the desired behavior. i.e. in Safari he'll try and won't get redirect and and then he'll try again and he will get redirected. Although again, it will happen sporadically.

[2015-12-08 21:12] mshmsh5000 commented on #5920
The question with Adam is still whether his browser's receiving `X-Fastly-Country-Code-Client: US` when it's _not_ redirecting. We need to know that to narrow down the behavior.

[2015-12-08 21:13] itsjoekent commented on #5920
@DFurnes maybe related? this is happening for people on wifi/desktop as well

also @mikefantini this is the error marissa had earlier.

clicked on the first DS Link here http://www.fastweb.com/content/fastweb-volunteers

and got brought to https://www.dosomething.org/about/easy-scholarships?utm_campaign=scholarships&utm_medium=link&utm_source=fastweb

(the global english page).

Ill re-check adams

[2015-12-08 21:21] mikefantini commented on #5924
@sergii-tkachenko I just recreated this on prod with my admin log in on https://www.dosomething.org/us/campaigns/reelwomen?source:

![image](https://cloud.githubusercontent.com/assets/6330971/11668912/b75f524a-9dc7-11e5-92ae-4091ee615067.png)

[2015-12-08 21:22] mshmsh5000 commented on #5412
1. This site is a Classic Of The Web: http://www.robotstxt.org/
2. Since the `drush build` will include the Drupal distro `robots.txt`, we likely need a step in `cap` or `ds` that replaces this in non-prod builds with a highly-restrictive version.

[2015-12-08 21:30] itsjoekent commented on #5920
checked his machine with fantini, in chrome incognito (not redirected) his request X_Fastly-Country-Client header was "US"

I know @mshmsh5000 said this was a bug earlier with the app, and it might be, but I'm not sure how to even debug a problem only a small fraction can reproduce?

also i pointed out earlier to fantini and Dave, in the error take a look at the actual message.

![image](https://c

[2015-12-08 21:30] sergiitk commented on #5412
Wr can do it [here](https://github.com/DoSomething/phoenix/blob/9a88d55fc47386e454363a8cdefd47009753e119/bin/ds#L241).

[2015-12-08 21:33] DFurnes commented on #5920
The placeholder for generating that string calls that a "label", so perhaps it's a missing label on an entity? If that's even a thing? (Keep in mind I have next to no idea about how Drupal works.)

[code]

[2015-12-08 21:42] sergiitk commented on #5924
I can't reproduce locally even with thor DB...

[2015-12-08 21:43] sergiitk commented on #5924
Just signed in to prod with no errors:
![image](https://cloud.githubusercontent.com/assets/672669/11669450/6804423a-9e05-11e5-8232-1f1eea1b1f6f.png)

[2015-12-08 21:43] mikefantini commented on #5924
@sergii-tkachenko is there any way to know how often this is occurring on prod?

[2015-12-08 21:50] mikefantini commented on #5920
Is there any way to know how often this message is occurring on prod?

[2015-12-08 21:53] sergiitk commented on #5924
402 times since this morning :sob:

[2015-12-08 22:02] namimody opened #5927 "Temporary Fix for 5915"
#### Related Issue

https://github.com/DoSomething/phoenix/issues/5915
#### Affected Pages

All campaign pages with additional materials hosted on the site, but hacked on Naughty or Nice, Say it with the Stars, Not Stuck in Traffick, Treat Yo Friends, and #ReelWomen -- both their GL EN and EN translations.
#### Hack Explanation

Downloads were not displaying despite being uploaded on the back end,

[2015-12-08 22:08] mikefantini commented on #5927
Also documented here https://docs.google.com/a/dosomething.org/spreadsheets/d/1ryBMOw05mMYtK49Gms20QZHfAbnqze5wkykyylvyc_E/edit?usp=sharing

[2015-12-08 23:37] mikefantini commented on #5920
Updated the description because obviously this isn't just happening for vanity URLs.

[2015-12-08 23:51] mikefantini commented on #5924
Updated description because happening in prod as well.

[2015-12-09 01:42] deezone commented on #5872
@aaronschachter
- The transactional email to reset a password is required functionality - got it.
- As opposed to the current state of transactional email for user registration not being sent for existing Drupal users is acceptable? Perhaps there should be a different transactional email sent for mobile app registration? Not to complicate the process but perhaps in fact make the process easier / m

[2015-12-09 01:45] deezone commented on #5872
@aaronschachter

Odd, testing by Eva suggested the password reset from the app was not triggering a transactional email. If the user is simply provided a link to the password reset page this is something different. I'll make a point of walking through the process with the test app to better understand the process / experience / expectations / results.

[2015-12-09 14:41] blisteringherb commented on #5412
I've added `return 200 "User-agent: *\nDisallow: /\n";` to the robots.txt location block in Nginx on staging and Thor which seems to do the trick.

[2015-12-09 17:12] weerd opened #5929 "Revise API Reportback Item accessibility based on user permissions + status"
For the mobile app, want to allow users to see their RBs (including pending, flagged, excluded) and other user's public profiles (which includes excluded). Thus the API needs to allow more fine-grained permissions access to reportback items.

Part of the issue seems to be that Northstar uses a single authenticated admin user to hit the Phoenix API, which complicates the capacity to determine prope

[2015-12-09 17:19] blisteringherb commented on #5920
Per Matt's comments in the meeting, let's look at things in this order:
1. Fastly inconsistency - Sena has reached out to them
2. Varnish redirect inconsistency
3. Session issues
4. Cached redirects in Varnish and Fastly (specifically look at anonymous 301s)

[2015-12-09 17:19] mikefantini commented on #5920
For Fastly let's also look at logentries.com.

If Fastly is behaving consistently and Varnish config is correct, then we need to know what session behavior is in prod and how it may be affecting behavior.

We want only two classes of users:
- not logged in, no sessions
- logged in, with sessions

[2015-12-09 17:30] deezone commented on #5913
@mikefantini The Message Broker mbc-registration-mobile app keys on `user_country` and `application_id`. The mobile number is added to the appropreate SMS service (Mobile Commons (2 accounts: US / CA) - mGage: 2 lists, MX / BR)) based on these two key values.
- Users from `user_country` 'US', 'CA', 'BR" or "MX" and the `CGG` `application_id` are processed.
- Users from `user_country` 'US' and 'CA'

[2015-12-09 18:09] mshmsh5000 opened #5930 "UK: WSOD with vInspired user credentials"
From Victoria:

Possibly a user API integration issue?

[2015-12-09 18:16] DFurnes commented on #5929
Can we only authorize against the currently logged-in user, or is it possible to provide a UID with the request?

[2015-12-09 18:17] mikefantini commented on #5920
FWIW neither Marissa nor Adam (who are seeing these issues on prod) can reproduce on thor.

[2015-12-09 18:19] weerd commented on #5929
For the currently logged-in user, you'd need to have Northstar authenticate with Phoenix using that user for such calls, but there are other calls that I suspect NS would need to make as an authenticated admin... so it would have to be able to flip-flop between calls to Phoenix as user or admin.

[2015-12-09 18:33] #5752 closed, assigned to sbsmith86

[2015-12-09 18:40] DFurnes commented on #5929
So the only way to authorize a request is against the current session token? Bummer, that makes things a bit more complicated.

[2015-12-09 18:42] mikefantini commented on #5920
Update:

Adam is now able to produce three distinct experiences by going to www.dosomething.org/stress:
1. He gets redirected properly to the US translation https://www.dosomething.org/us/campaigns/less-stress-text
2. He gets redirected to a GL EN translation that does not exist https://www.dosomething.org/campaigns/less-stress-text and gets the following error
   ![image](https://cloud.githubuser

[2015-12-09 19:13] namimody commented on #5927
Reverted now that the fix has been deployed to prod. Closing.

[2015-12-09 19:13] #5927 closed, assigned to mikefantini

[2015-12-09 19:18] mikefantini commented on #5922
Ok so currently on thor the number of days/hours left is dependent on the user's timezone. However, 11:59pm EST is the same number of hours away regardless of what timezone you are in and so it should be displayed the same regardless of whether you are in Sydney, Berlin, New York, or LA.

On thor.dosomething.org/us/campaigns/dont-be-sucker the High Season End Date is set for December 10th 2015. 11

[2015-12-09 19:20] itsjoekent commented on #5922
is UTC the only one that is broken?

[2015-12-09 19:22] mikefantini commented on #5924
@sergii-tkachenko are you able to see how often this has occurred since we deployed #5928?

[2015-12-09 19:27] mikefantini commented on #5922
@deadlybutter I spot checked a few:
- NY 33 hours left
- LA 33 hours left
- UTC 9 hours left
- Melbourne Australia 9 hours left
- Paris, France 9 hours left
- Sao Paulo, Brazil 33 hours left

[2015-12-09 19:28] itsjoekent commented on #5922
interesting, thanks!

[2015-12-09 20:17] sergiitk commented on #5930
@mshmsh5000 I just created an account on vinspired and was able to log in with it on DS UK:
![image](https://cloud.githubusercontent.com/assets/672669/11697513/93a14100-9ec2-11e5-9b28-1b1007550d54.png)

[2015-12-09 20:24] sergiitk commented on #5924
We're good. 0 matches.

Technical note: `sudo grep "Dec  9 12:50:.." /var/log/syslog | grep drupal_session_regenerate | wc -l`

[2015-12-09 20:24] #5924 closed, assigned to sergiitk

[2015-12-09 20:38] mnelson338 commented on #5596
@DeeZone @ArielSD  Here are the digest translations: https://docs.google.com/spreadsheets/d/1r_qsX6xZqiwZ1ze3K-V4AXjDOnpjOs0skK5VOat58Ng/edit#gid=0

Let me know if there is anything else

[2015-12-09 20:50] deezone commented on #5596
@mnelson338 Thanks for the translations, they look good.

Any thoughts on the Digest message settings for:
- From name: ("DoSomething.org" in US digest)
- From address: ("help@dosomething.org" in US digest)

Should the same values be used for the other languages?

[2015-12-09 21:16] #5620 closed, assigned to itsjoekent

[2015-12-09 22:34] mnelson338 commented on #5596
@DeeZone

From name should remain the same for all translations
From address:
US + Global -- help@dosomething.org
Brazil -- ajuda@dosomething.org
Mexico -- ayuda@dosomething.org

[2015-12-09 22:37] mikefantini commented on #5620
Hmmm ok @deadlybutter documenting here:

It seems to be working properly from US testing. One thing I noticed however is that when I went to create a GL EN only campaign with my admin account, after I published it I was redirected to https://thor.dosomething.org/us/campaigns/gl-en-test and got the following error message.

![image](https://cloud.githubusercontent.com/assets/6330971/11701021/2e7640

[2015-12-09 22:54] #4557 closed, assigned to sergiitk

[2015-12-10 15:01] deezone commented on #5596
@mnelson338 : ayuda@dosomething.org is functional? Do we need to poke someone to let them know the digest is using it?

[2015-12-10 15:23] mikefantini commented on #5620
Just wrapped up testing and it all looks good to me.

One thing I'll note though is that there is an inconsistency between Brazilian visitors and French visitors when visiting the unappended URL of a campaign that only has a US EN translation.
- Anonymous user in Brazil goes to thor.dosomething.org/campaigns/thumb-wars gets redirected to thor.dosomething.org/us/campaigns/thumb-wars
- Anonymous use

[2015-12-10 15:28] itsjoekent commented on #5620
@mikefantini anonymous or authenticated?

[2015-12-10 16:02] lkpttn commented on #5922
![hot module l](https://cloud.githubusercontent.com/assets/1865372/11720463/5da1976a-9f2d-11e5-815e-0a5eb7465c04.png)
![hot module s](https://cloud.githubusercontent.com/assets/1865372/11720462/5d9ba1b6-9f2d-11e5-98fe-c2dc3d806703.png)

New designs. What you can't really see is the forced line break before the date so it always shows up on one line.

[2015-12-10 16:07] itsjoekent commented on #5922
@mikefantini am I doing ^ or is @DFurnes ?

[2015-12-10 16:08] mikefantini commented on #5922
@deadlybutter this is @angaither's call.

[2015-12-10 16:14] marahml commented on #5913
@angaither thoughts on who best to take this on, on the Phoenix side?

[2015-12-10 16:14] angaither commented on #5922
@deadlybutter go for it!

[2015-12-10 16:16] sergiitk commented on #5913
I can take this if @angaither is OK with that.

[2015-12-10 16:17] angaither commented on #5913
:+1: I believe the bulk of this is already done, will just need an addtional op in field here
https://www.dosomething.org/admin/config/dosomething/opt_in

[2015-12-10 16:47] mikefantini commented on #5920
@mshmsh5000 @blisteringherb @deadlybutter any updates on this?

[2015-12-10 17:00] mshmsh5000 commented on #5914
This is super lame to do in Fastly because of the interface: you have to set up a Content (request) rule with a condition, then a Response rule with a duplicate, identical condition.

Content rule:

![content-rule](https://cloud.githubusercontent.com/assets/149811/11722008/a8ac55f4-9f34-11e5-9fb8-9e24bef72919.png)

Content condition:

![content-condition](https://cloud.githubusercontent.com/assets

[2015-12-10 17:00] mshmsh5000 commented on #5914
Aaaand didn't mean to close that, sorry.

[2015-12-10 17:03] deezone opened #5935 "Campaign Signup transactional in campaign not user language"
When a user signs up for a campaign, the language of the campaign should be used to determine the contents of the transactional email. An example scenario:
- User from Brazil signs up for campaign from Mexico that's only in English and Spanish.

The `campaign_language` should be used to define the `merge_var` content values for the signup email:

[code]

not the current:

[code]

[2015-12-10 17:07] angaither commented on #5935
refs #5804 #5803

[2015-12-10 17:16] blisteringherb commented on #5914
Since we're doing a bunch of redirects in Varnish, it seems like for consistency's sake, we should keep edge redirection all in once place. I'll look into getting this in Varnish.

[2015-12-10 17:22] sbsmith86 opened #5936 "Run URLs through Facebook Debug endpoint"
We have a lot of issues with Facebook not crawling new or updated content fast enough. For example, if a campaign is just published, then we have to wait for the page to be shared at least once before Facebook will pull in the data. Another example is permalink pages where each page is a new url custom to the user, and when the user goes to share it, the data isn't ready for Facebook.

Good news i

[2015-12-10 17:30] angaither commented on #5936
@sbsmith86 I'm down for this but maybe the permalink call should be a non-blocking js solution? I don't want to slow requests for the user before showing them the permalink page

on publishing a campaign we need to call it for problem shares/hot module, right?
we could run that as a post publish hook, or as a part of the cron that creates the shares

[2015-12-10 17:51] sbsmith86 commented on #5936
@angaither Hot shares and problem shares are a little different because they aren't dependent on the meta tags on the page, instead we explicitly pass the data as a query string in the link used to create the facebook share dialog, so we should be fine there. This is specific for when you like, copy a url, and paste it into facebook to share it.

Issue #5096 is for changing the permalink Facebook

[2015-12-10 17:56] itsjoekent commented on #5920
PR that removes session logic was merged yesterday, appears to have fixed https://github.com/DoSomething/phoenix/issues/5620

Nothing else related to the app layer

[2015-12-10 18:47] deezone opened #5938 "Missing function: dosomething_helpers_get_variable()"
`dosomething_helpers_get_variable()` does not exist. The `general_campaign` setting is always being used:

[code]

https://github.com/DoSomething/phoenix/blob/dev/lib/modules/dosomething/dosomething_signup/dosomething_signup.module#L593-L595

User campaign signups to campaigns with a specific `opt_in` are not used.

**Related**:
- https://github.com/DoSomething/phoenix/issues/5939

[2015-12-10 18:47] angaither commented on #5412
@blisteringherb if that doesn't get overwritten on deploy & it works, wanna close this out then?

[2015-12-10 18:53] sergiitk commented on #5938
[Does it?](https://github.com/DoSomething/phoenix/blob/dev/lib/modules/dosomething/dosomething_helpers/dosomething_helpers.variable.inc#L293-L302)

[2015-12-10 19:03] deezone opened #5939 "Expand third party subscription to include Mobile Commons and mGage"
**Important**:
- Read discussion in https://github.com/DoSomething/phoenix/issues/5913

When a user signs up, the Mobile Commons `opt_in` value is included in the request message sent to Message Broker.  `opt_in_id` and `opt_in_keyword` need to be added to transactional request sent to Message Broker.
- [ ] Adjust `dosomething_signup_third_party_subscribe()`:
  https://github.com/DoSomething/phoen

[2015-12-10 19:07] angaither commented on #5939
@DeeZone isn't this the same as #5913
I don't think that drupal should care if we are sending and mGage opt_in or a mobile commons opt_in, it should just get the id.

[2015-12-10 19:07] angaither commented on #5913
@DeeZone can you explain what the `opt_in_keyword` is?

[2015-12-10 19:28] mshmsh5000 commented on #5920
With the fix for #5620 in production, I'm unable to reproduce this issue on Adam's machine, on any browser.

[2015-12-10 19:29] namimody opened #5941 "11 Facts CTAs not Appearing on Front End"
#### Current Behavior

While CTA content exists on the back end for 11 Facts pages, CTAs do not appear on the front end between facts 5 and 6 or at the bottom of the page.
#### Desired Behavior

If CTA content exists on the back end of an 11 Facts page, it should appear on the front end of the facts page. If it helps: on Thor v2.0.48, CTAs were working correctly. On prod v2.0.46, they were not wor

[2015-12-10 19:30] blisteringherb commented on #5920
:+1:

[2015-12-10 19:40] mshmsh5000 commented on #5920
![6a0120a85dcdae970b0128776ff992970c-pi](https://cloud.githubusercontent.com/assets/149811/11726272/e4f253a8-9f4b-11e5-9095-6e04b42dff98.png)

[2015-12-10 19:41] angaither commented on #5920
time for my fav
![](http://cdn2.hubspot.net/hub/228391/file-745508197-jpg/blog-files/devopsevil.jpg)

[2015-12-10 19:58] sbsmith86 commented on #5439
@mikefantini update on this one. This seems to be working for the most part, although it is inconsistent. When I try to share a URL and it doesn't pull the right info, I run it through the [Facebook URL Debugger](https://developers.facebook.com/tools/debug/) and it seems to fix things.

I found a way for us to do this programmatically and we are discussing in #5936

I also made some updates in #59

[2015-12-10 20:17] angaither commented on #5412
confirmed

![image](https://cloud.githubusercontent.com/assets/645205/11727291/130bcfbc-9f51-11e5-83ce-0c7b6cc78add.png)

[2015-12-10 20:17] #5412 closed, assigned to blisteringherb

[2015-12-10 20:21] marahml commented on #5596
@DeeZone we're also using that for member support. Hannah is monitoring!

[2015-12-10 20:25] angaither commented on #5920
we are like 99% sure this is :ok: now

[2015-12-10 20:25] #5920 closed, assigned to blisteringherb

[2015-12-10 20:32] sergiitk commented on #5920
Wait, so it's actually fixed by #5928, right?

[2015-12-10 20:38] itsjoekent commented on #5920
I think?

[2015-12-10 20:41] sergiitk commented on #5920
:dancer:

[2015-12-10 20:48] deezone commented on #5939
@angaither

#5913 was a "#discussion" which felt like it was getting long. This issue is my effort to define the tech. Once the tech solution is clear we can close #5913.

Perhaps the solution is:

[code]

[2015-12-10 20:51] deezone commented on #5913
@angaither

Details on what needs to be done: https://github.com/DoSomething/phoenix/issues/5939 The additional fields but adjustments in several other locations.

A value mGage requires in addition to the `opt_in_id` value. Unlike Mobile Commons  opt in which has a default keyword, mGage mimics the user sending an actual keyword to a shortcode.

[2015-12-10 21:43] angaither commented on #5913
is that per campaign? or do we have a default one that can get overridden per campaign?

[2015-12-10 21:44] angaither commented on #879
bam :hammer:

[2015-12-10 21:44] #879 closed, assigned to nobody

[2015-12-10 21:46] angaither commented on #1055
totally, going to get rid of this issue then @aaronschachter

also @mikefantini do you know if people look at these views?
https://www.dosomething.org/image/6133

[2015-12-10 21:46] #1055 closed, assigned to nobody

[2015-12-10 21:47] angaither commented on #5557
I think we can close this out, we turned it on manually in prod, but we should investigate if this continues to happen

[2015-12-10 21:52] #1566 closed, assigned to nobody

[2015-12-10 22:03] mikefantini commented on #1055
I don't believe anyone does but I'll ask in design and campaigns-team channels

[2015-12-10 22:08] angaither commented on #3258
pretty sure this happens now

[2015-12-10 22:08] #3258 closed, assigned to nobody

[2015-12-10 22:20] angaither commented on #5251
@namimody @mikefantini are we still seeing this issue?

[2015-12-10 22:29] mikefantini commented on #5920
Currently as an admin when I go to www.dosomething.org/jobs I get taken to www.dosomething.org/about/were-hiring rather than www.dosomething.org/us/about/were-hiring.

And as an admin when I go to www.dosomething.org/stress I get taken to www.dosomething.org/campaigns/less-stress-text rather than www.dosomething.org/us/campaigns/less-stress-text.

I want to do a bit more digging into this before I

[2015-12-10 22:35] mikefantini commented on #5920
Here is the user: https://www.dosomething.org/us/user/329195/edit.

I'm able to replicate this for this user on:
- Chrome
- Chrome Incognito
- Safari
- Safari Private Window
- Safari mobile browser
- Firefox
- Firefox Private Window

It's working for me as an anonymous user on these browsers

[2015-12-10 22:44] mikefantini commented on #5920
Also spot checking authenticated with my non-admin test account everything is working as anticipated.

It just seems to be that one admin user that I'm having issues with. Also with my admin user, when I go to www.dosomething.org I get redirected properly to www.dosomething.org/us. It just seems to be URL redirects like /jobs that seem to be giving me an error while I'm logged in as an admin.

Is

[2015-12-10 22:48] mikefantini commented on #4397
Yeah we already did this...

[2015-12-10 22:48] #4397 closed, assigned to nobody

[2015-12-10 23:35] deezone commented on #5913
Both the `opt_in_id` and `opt_in_keyword` (mGage) values should have a default value by country (MX/BR).

The default values could be overridden at the campaign level just like the current Mobile Commons setting. The campaign specific `opt_in_id` / `opt_in_keyword` settings should only be available in campaigns with MX/BR language versions.

Campaigns with a US English version should only have the

[2015-12-11 00:15] namimody commented on #5251
@angaither it is still happening, but I think the question now is if we want to fix it or not. It's all technically working, its just that in the particular use case where a member submits multiple photos, not all of them have been reviewed yet, and a campaign lead looks at the /admin/reportback view of a particular reportback, it _appears_ that the unreviewed photos have been reviewed and have th

[2015-12-11 00:24] namimody commented on #5023
@mikefantini not since the 2nd when i posted the video -- and Adam just confirmed that he hasn't heard about/seen it in a while. added to the tech/campaigns sync agenda for next week, so we can confirm then. closing for now.

[2015-12-11 00:24] #5023 closed, assigned to mikefantini

[2015-12-11 01:55] deezone commented on #5938
I was wondering how that was possible. An include file!

[2015-12-11 01:55] #5938 closed, assigned to sergiitk

[2015-12-11 14:43] itsjoekent commented on #5920
One of the original specifications for redirects was that admins were to be unaffected by the redirect logic (so they could access any page without interference).

Do you want to change this?

[2015-12-11 14:47] mikefantini commented on #5920
Hmm ok. @deadlybutter I'm 99.99% sure I've been getting redirected as an admin this whole time, but this is definitely the more desired behavior. I just wanted to make sure that everyone else was seeing this behavior.

[2015-12-11 14:48] itsjoekent commented on #5920
Yeah I'm not really sure why it decided to just start working

[2015-12-11 14:55] mshmsh5000 commented on #5920
I actually don't see the "user is admin" exception in the [init hook](https://github.com/DoSomething/phoenix/blob/dev/lib/modules/dosomething/dosomething_global/dosomething_global.module#L16), but it is in the [node redirect function](https://github.com/DoSomething/phoenix/blob/dev/lib/modules/dosomething/dosomething_global/dosomething_global.module#L592) for `302` responses.

So this should be av

[2015-12-11 15:11] mshmsh5000 commented on #5914
:+1:

[2015-12-11 15:12] mshmsh5000 commented on #5914
And @blisteringherb when you do, let's please remove the two I implemented in Fastly. Let me know how I can be helpful.

[2015-12-11 15:28] deezone commented on #5596
Application of translations will be tracked on the related Trello card: https://trello.com/c/YsQDnoEp

[2015-12-11 15:29] #5596 closed, assigned to deezone

[2015-12-11 15:32] mshmsh5000 commented on #5796
Clicking through from the search results [works fine for me](http://cl.ly/3A1U2n3b0Z2G). This version of the URL works fine when pasted directly into Chrome, for instance:

https://www.dosomething.org/br/voluntario/bandeira-de-espa%C3%A7o-seguro

Chrome substituted the appropriate character, and then successfully makes the request: http://cl.ly/1X2x39351n04

In fact, I'm unable to reproduce this o

[2015-12-11 15:40] angaither commented on #5796
hm, also unable to reproduce coming from br
though when I clicked `view` from `/node/2259/edit/pt-br` I get taken to the english url with a redirect loop
![image](https://cloud.githubusercontent.com/assets/645205/11747864/8d5e4608-9ff3-11e5-848b-3a73a078e32d.png)

[2015-12-11 15:42] deezone commented on #5803
General functionality working. Possible bug in #5935 still to be resolved.

[2015-12-11 15:42] #5803 closed, assigned to deezone

[2015-12-11 15:47] deezone commented on #5804
Related: #5935

[2015-12-11 16:01] angaither commented on #4417
going to close this for now, we can revisit in vLater (when NS is our auth system)

[2015-12-11 16:01] #4417 closed, assigned to sbsmith86

[2015-12-11 16:12] mikefantini commented on #1055
Yeah seems like no one is using these. We should get rid of these.

[2015-12-11 16:12] mikefantini commented on #1055
Also there is a similar view for Facts that we can kill as well @angaither

[2015-12-11 16:59] namimody opened #5942 "Campaign Template Tabs"
![image](https://cloud.githubusercontent.com/assets/12396076/11749936/94471a0c-9ffe-11e5-9997-c4b6a882f65a.png)

[2015-12-11 17:00] #5942 closed, assigned to nobody

[2015-12-11 17:34] joolaay opened #5943 "Product process"

[2015-12-11 17:34] #5943 closed, assigned to nobody

[2015-12-11 17:44] itsjoekent commented on #5943
well that was quick

[2015-12-11 17:52] angaither opened #5944 "remove node reference logic/views"
no one uses the image fact node view that pulls all references of where the image/fact is viewed
- [ ] [helper code](https://github.com/DoSomething/phoenix/blob/dev/lib/modules/dosomething/dosomething_helpers/dosomething_helpers.module#L274-L375)
- [ ] [image view code](https://github.com/DoSomething/phoenix/blob/dev/lib/modules/dosomething/dosomething_image/dosomething_image.module#L106-L122)
- [

[2015-12-11 19:07] namimody commented on #5684
Hi Squad, unfortunately this still seems to be a problem :( -- reopening

![image](https://cloud.githubusercontent.com/assets/12396076/11752961/82b9c638-a010-11e5-9506-73d47e98b698.png)

[2015-12-11 19:27] blisteringherb commented on #5914
I've added these redirects to the redirects.vcl file which gets included by the default.vcl. This version is 2015-12-11, and I've loaded and turned it on on both Varnish servers.

[2015-12-11 19:31] blisteringherb commented on #5914
Hm, actually it seems like none of our redirects in redirects.vcl are working. Looking into it.

[2015-12-11 19:50] #5917 closed, assigned to itsjoekent

[2015-12-11 19:50] #5922 closed, assigned to itsjoekent

[2015-12-11 21:36] #5096 closed, assigned to sbsmith86

[2015-12-11 21:47] sergiitk commented on #5871
Images for wiki:

[2015-12-11 21:48] sergiitk commented on #5871
![image](https://cloud.githubusercontent.com/assets/672669/11756288/9dd4cc64-a061-11e5-9745-a94f81d39b27.png)

[2015-12-11 22:10] sergii-tkachenko commented on #5871
![image](https://cloud.githubusercontent.com/assets/672669/11756718/b3c1af62-a064-11e5-95f5-02f9f4f10cbb.png)

[2015-12-11 22:10] sergiitk commented on #5871
![image](https://cloud.githubusercontent.com/assets/672669/11756728/caedd1e8-a064-11e5-9079-07dbb5ef203b.png)

[2015-12-11 22:29] sergiitk commented on #5871
Heredoc: https://github.com/DoSomething/phoenix/wiki/Making-content-translatable

[2015-12-14 16:01] itsjoekent commented on #5796
unable to reproduce redirect loop above ^ ?? should my torgaurd be enabled to test that?

[2015-12-14 16:01] deezone commented on #5939
@deadlybutter Updated issue description to reflect what was discussed in https://github.com/DoSomething/phoenix/issues/5913. Please let know if you have any questions.

[2015-12-14 16:03] itsjoekent commented on #5939
will do!

[2015-12-14 16:11] angaither commented on #5796
@deadlybutter yeah, was testing on thor, with torguard

[2015-12-14 16:11] angaither commented on #5796
as a br editor, with my lang set ;)

[2015-12-14 16:24] itsjoekent commented on #5796
connected to brazil via tor gaurd, set user lang to br, clicked edit, went to the /edit/pt-br, clicked view, went to https://www.dosomething.org/br/voluntario/bandeira-de-espa%C3%A7o-seguro (worked on, no redirect loop error).

da fuq is happening

[2015-12-14 17:58] #5856 closed, assigned to nobody

[2015-12-14 18:38] #5944 closed, assigned to nobody

[2015-12-14 19:15] angaither commented on #5796
malformed is no longer an issue, opening a new one for the redirect loop

[2015-12-14 19:15] #5796 closed, assigned to itsjoekent

[2015-12-14 19:17] itsjoekent commented on #5796
:repeat:

[2015-12-14 19:17] angaither opened #5952 "clicking view on campaign edit without prefix, causes redirect loop"
if an editor navigates from the backend directly to a node/edit link, when clicking `view` on the node they are taken to the global english url and in a redirect loop.
this happens when you have a translation, are using torguard, and you are and editor of that county with user language set to match

when I clicked `view` from `/node/2259/edit/pt-br` I get taken to the english url with a redirect l

[2015-12-14 19:45] angaither commented on #5859
before any of this happens, we need a way to mass migrate this info, without logging in each user.
we will also need to override the `created_at` attributes and submit the timestamps from the signups and reportbacks

### migrate signups
1. will need a way to force send a timestamp
2. timestamp should be converted to mongo date format

[code]

### migrate reportbacks

[code]

this above query will

[2015-12-14 20:18] aaronschachter commented on #5929
Any update on this? If anything, returning all statuses would at least unblock any Profile development in LDT. cc @marahml @jonuy

[2015-12-15 01:41] weerd commented on #5929
I believe @jonuy had mentioned the possibility of, for the time being, on the app to just have both an NS auth user and then the anon user (possibly managing two tokens) and using the NS auth user to get all the RB items regardless of status... but not sure if that was going to be an attempted experiment first?

[2015-12-15 15:00] chloealee commented on #4571
@DFurnes here are my branches that have the code to sync signups! Last time I was working on this, I was double checking that I was sending the correct information from phoenix to the mobile app so just flagging that. Otherwise, signups sync should be functional and just need to sync reportbacks now. Thank you for wrapping this up!!!

https://github.com/chloealee/northstar/tree/user-activity
https

[2015-12-15 15:36] itsjoekent commented on #5952
cant reproduce locally, ill try again on Thor

[2015-12-15 15:39] itsjoekent commented on #5952
on thor I got this one
![screen shot 2015-12-15 at 10 39 13 am](https://cloud.githubusercontent.com/assets/897368/11815070/1d67a844-a318-11e5-90bf-a7eb8d9f63be.png)

[2015-12-15 15:40] angaither commented on #5952
@deadlybutter right, do it on a node that has a translation in the language you're looking at

[2015-12-15 15:43] itsjoekent commented on #5952
made the global translation for it

went to https://thor.dosomething.org/node/843/edit

clicked view

got brought too https://thor.dosomething.org/campaigns/pregnancy-text-gl

[2015-12-15 16:14] angaither commented on #5112
@namimody @sbsmith86 yeah, this stuff is cached, and clears when you do a cache clear!

[2015-12-15 16:14] #5112 closed, assigned to sbsmith86

[2015-12-15 19:37] namimody commented on #5400
On Thor put this in at 2:35 PM EST:

![image](https://cloud.githubusercontent.com/assets/12396076/11821768/2912d7e2-a339-11e5-84c7-17736bbad770.png)

Front end correctly showed:

![image](https://cloud.githubusercontent.com/assets/12396076/11821776/3de3a282-a339-11e5-93ea-08b7518ae3e3.png)

Going to run CRON...

[2015-12-15 19:46] angaither commented on #5952
@deadlybutter I was seeing it for BR admins/translations, not sure why/how it would be specific to them

[2015-12-15 19:50] namimody commented on #5400
After running CRON, front end showed:

![image](https://cloud.githubusercontent.com/assets/12396076/11821918/eba1070c-a339-11e5-9329-0c2f92cd47ab.png)

Back end showed:
![image](https://cloud.githubusercontent.com/assets/12396076/11821927/f4650bd6-a339-11e5-8cd1-ced8509f141d.png)

The front end should be showing a total of 611 items wished for. The back should be showing a total approved quantity

[2015-12-15 19:52] angaither commented on #5400
@namimody back end shows 611 + 100, isn't that 711 correct then?

[2015-12-15 20:46] namimody opened #5956 "Borked Behavior for MX Admin"
#### Current Behavior

When an MX admin (using TorGuard to simulate MX experience) clicks on the "edit" link under OPERATIONS in the content view of the site, they get brought to a page that shows the campaign but with a header that indicates it is the English translation of the campaign, however content is in Spanish. If they click on the "view" tab, they are brought to the URL of another campaig

[2015-12-15 20:48] namimody commented on #5956
@mikefantini this is not always consistent campaigns. could this behavior be because some campaigns were created with English as a source language before country-specific admin user roles existed?

[2015-12-15 20:48] mikefantini commented on #5941
Important to note that the content appears when the URL is preappended with /us/: example https://thor.dosomething.org/us/facts/11-facts-about-bullying.

@mshmsh5000  can we undo https://github.com/DoSomething/phoenix/issues/5699 so that this at least works for US users? Are there any SEO implications?

[2015-12-15 20:55] namimody commented on #5400
@angaither it should be 611. 711 means that the # in the "progress update" field was doubled -- did you see both comments? When I added 100 to the "progress update" field, the total approved quantity was 511, so the front end showing 611 initially was correct.

From there, the logic should be that only new reviewed reportbacks are added to the impact quantity.

 Thoughts?

[2015-12-15 21:02] mshmsh5000 commented on #5941
We should be able to, yes.

We're specifying the `/us/` URL as the canonical:

![canonical-facts](https://cloud.githubusercontent.com/assets/149811/11823942/f4485d46-a344-11e5-8056-8dfffe515732.png)

So, if we remove the redirect from #5699, we should see the `/us/` URL appear in search results. This will make sense until we provide translations of 11 Facts pages, at which point we'll need to chec

[2015-12-15 21:25] itsjoekent commented on #5952
I was doing it as a US editor, I can try doing it as a BR admin as well

[2015-12-15 22:18] #4049 closed, assigned to weerd

[2015-12-15 22:27] angaither commented on #5400
I think the issue is [this cron](https://github.com/DoSomething/phoenix/blob/dev/lib/modules/dosomething/dosomething_reportback/dosomething_reportback.cron.inc)
the variable shouldn't ever be set to the total + override, since the override is always added in after

[2015-12-16 14:59] chloealee commented on #5729
@jonuy finally finished the dedupe script! I don't think we'll run it until after the holidays but wanted to keep you updated for this bug.

[2015-12-16 16:03] #2771 closed, assigned to nobody

[2015-12-16 16:30] jonuy commented on #5929
To get to our ideal solution for this, it sounds like we'll need to revamp our user authentication so that user's can auth against Northstar and Phoenix in a similar manner.

I think the work involved for that is [here](https://github.com/DoSomething/northstar/issues/202) @DFurnes? And it could take a while until we get to that point.

In the meantime, from the mobile app, we really might just hav

[2015-12-16 16:59] jonuy commented on #5729
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;9polXi8V&#x2F;317-user-dedupe-script"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> User dedupe script</a>

[2015-12-16 18:19] itsjoekent commented on #5952
went to http://dev.dosomething.org:8888/br/node/1485/edit/pt-br as BR admin, clicked view, worked fine

this is so weird

[2015-12-16 19:01] DFurnes commented on #5929
@jonuy Yup, that's probably the best course of action for now.

[2015-12-16 19:15] aaronschachter commented on #5929
The big blocker right now in mobile app is the self can't see their own reportbacks regardless of status. Isn't this just a bug since the Northstar endpoint the mobile app is using should be authenticated as an admin?

I'm wondering if a compromise would be to just keep the reportbacks public regardless of status for now as far as the public profile, instead of each mobile app maintaining two sepa

[2015-12-16 19:21] itsjoekent commented on #5866
I'm currently exceeding my backtrace limit, workin on fixing that.

so far all of the calls to this function _that I can see right now_ are coming from core.

![screen shot 2015-12-16 at 2 17 35 pm](https://cloud.githubusercontent.com/assets/897368/11851299/f205182e-a3ff-11e5-84fd-9c59c1c1b336.png)

The common theme I'm noticing is this:

24  0.2469  5816728 url( )  ../common.inc:4240
25  0.2469

[2015-12-16 19:49] namimody commented on #5112
@angaither to clarify, a cache clear of the site or of an individual's internet browser?

thanks!

[2015-12-16 19:51] angaither commented on #5112
@namimody site cache clear

[2015-12-16 20:09] jonuy commented on #5929
@aaronschachter Hm, maybe we can dive into it a little more offline, but I think the Android app is at least able to get a user's own reportback by going straight to the Phoenix API with the `rbid`. I'm assuming this is the case after a test where I logged out, cleared the local cache of data for the app, and then signed in again with that user to find the reportback info and photo listed in the u

[2015-12-16 20:19] angaither commented on #5956
@namimody I think this is a duplicate of #5952

[2015-12-16 20:40] weerd commented on #5929
I had thought that on the mobile app we were only authenticating as the user to log them in, but from that point on keeping a record of their `user_id` and then the rest of the activity on the app is done as the NS Admin user...

I'd like to avoid having to backtrack on all of the security stuff I recently added to the RBs & RB Items access for the Phoenix API. I fear changing it up will lead to o

[2015-12-16 21:23] angaither opened #5959 "Campaign run data manual cleanup"
- [ ] fix old runs so that they are associated with real campaigns (not Fantini Testing Always)
- [ ] make sure old runs have proper start and end dates
- [ ] update titles on runs for campaigns that have been opened/closed multiple times (i.e. Teens for Jeans run 1 should really be Teens for Jeans run 3, and Teens for Jeans 2014 should really be Teens for Jeans run 1)
- [ ] Update current run on

[2015-12-16 21:24] angaither opened #5960 "Automatically create runs on campaign creation"
- all signups and reportbacks go to the run

[2015-12-16 21:25] angaither opened #5961 "Create campaign runs in a script"
Create campaign run nodes for all open campaigns (published or unpublished)

[2015-12-16 21:25] angaither opened #5962 "When a campaign re-opens it needs a new run"
this could be a manual task for a campaigns team member?

[2015-12-16 21:33] angaither opened #5963 "Reviewing reportbacks on a run"
- does this even work?

[2015-12-16 22:48] aaronschachter commented on #5929
Sounds like it'd be good to have a meeting on the minds on this one. The iOS app isn't ever pinging at Phoenix `reportbacks` endpoint for the sake of keeping API requests to a minimum - a single request to `user/:user_id/campaigns` Northstar endpoint returns all of the data we need to display a user's profile.

[2015-12-17 16:13] jonuy commented on #5929
Oh right! I'd forgotten that endpoint's what's available. And... from what I can tell from briefly looking at code, it looks like that's what the Android app is doing. But you're saying this endpoint isn't giving you the reportback data?

[2015-12-17 17:38] aaronschachter commented on #5929
In the Northstar `user/:user_id/campaigns` endpoint, `reportback_data` is only included for Reportback Items which are `approved` or `promoted` - which seems to suggest that Northstar user isn't logged in as an admin (or something's buggy somewhere)

[2015-12-17 19:35] sheyd commented on #5941
Reverted the changes in Varnish.

[2015-12-20 23:29] mikefantini opened #5964 "Create varnish redirect for Old School Impact"
We are closing the campaign collection for Old School Impact. However, because collections cannot be closed, we have to do a hack where we create a dummy campaign for the collection and close that.

Here are the [action steps](https://docs.google.com/document/d/1FzY0xPaxg2lL6puTgyDxFmcfJLYg7rxauvF2d1Qb0Z8/edit) for "closing" Old School Impact. Once those are completed, we'll then need to enable a

[2015-12-21 15:37] #5400 closed, assigned to angaither

[2015-12-21 15:51] deezone opened #5966 "Image style: 300x300 Access Change?"
`mbc-image-processor` is a Message Broker consumer requested by @aaronschachter that makes requests for report back images right after they're submitted to trigger generation for caching of the 300x300 image style.

A typical request would be `https://www.dosomething.org/sites/default/files/styles/300x300/public/reportbacks/3501/uid_3139619-nid_3501-0.png`. This requests produces a `403` "Access D

[2015-12-21 16:28] deezone commented on #5966
Issue resolved, the `itok=<random string>` parameter needs to be included in the request.

[2015-12-21 16:28] #5966 closed, assigned to sergiitk

[2015-12-21 20:13] angaither commented on #5941
@namimody seeing CTAs here
![image](https://cloud.githubusercontent.com/assets/645205/11940246/5e663d92-a7f5-11e5-8997-03893ac7d82e.png)

[2015-12-21 20:30] #5806 closed, assigned to itsjoekent

[2015-12-21 20:32] mikefantini commented on #5941
@angaither it's not the "Sign up for a campaign and make the work suck less." CTA that's in question, that is appearing on both US and GL EN versions.

See the button and call out difference here:

US:

![image](https://cloud.githubusercontent.com/assets/6330971/11940641/fae4094a-a7f7-11e5-8bec-4e0585a8e43a.png)

GL EN:

![image](https://cloud.githubusercontent.com/assets/6330971/11940648/031ffec0

[2015-12-21 20:45] angaither commented on #5941
ah, ok, removed my inane comment then

[2015-12-22 20:37] angaither commented on #5941
trying different variations of, the problem is when you view it on `/us/` the lang code is not in the vars array, but it is when viewing the global base url

[code]

[2016-01-01 20:42] namimody commented on #5964
Collection: https://www.dosomething.org/us/volunteer/old-school-impact (now unpublished)
Campaign: https://www.dosomething.org/us/campaigns/old-school-impact (now published in closed state)

[2016-01-01 20:48] blisteringherb commented on #5964
I've set up that redirect in Fastly and activated it. It's working as expected.

[2016-01-01 20:48] #5964 closed, assigned to blisteringherb

[2016-01-01 23:10] namimody opened #5968 "Removing Sponsor Logo Results in Error Page"
#### Current Behavior

When a campaign's sponsor is removed from the "name" field of a campaign (under edit > sponsors and partners), the "view" tab shows an error like the one shown below, for both logged in admins and unauthorized users.
#### Desired Behavior

Removing content from any previously populated field should not produce an error.
#### Steps to Replicate

Go to a campaign with a sponso

[2016-01-01 23:15] namimody commented on #5968
Currently seen on prod on:
https://www.dosomething.org/campaigns/not-same-old-story and https://www.dosomething.org/us/campaigns/past-picture-perfect

[2016-01-01 23:26] namimody commented on #5968
Possibly related to: https://github.com/DoSomething/phoenix/issues/4916 and https://github.com/DoSomething/phoenix/pull/4917

[2016-01-02 22:39] angaither commented on #5968
also potentially related to this bug we have with video fields #949

when field collection fields are removed the actual values in the db remain causing a an `is_empty` check to pass when it shouldn't

[2016-01-04 15:42] angaither opened #5970 "modals broken on thor"
modernizer?
![image](https://cloud.githubusercontent.com/assets/645205/12093244/d8b06214-b2cf-11e5-8769-6b84e6edd000.png)

[2016-01-04 15:53] itsjoekent commented on #5952
I created MX translation on space jam

![screen shot 2016-01-04 at 10 49 02 am](https://cloud.githubusercontent.com/assets/897368/12093419/d0c0b9fe-b2d0-11e5-80aa-0ee33fca7ee4.png)

and new MX editor with correct lang

![screen shot 2016-01-04 at 10 49 54 am](https://cloud.githubusercontent.com/assets/897368/12093452/075b0f46-b2d1-11e5-8ffb-94c5741e48d2.png)

I set my mod header to MX

I went to s

[2016-01-04 16:36] weerd commented on #5941
@angaither @namimody So just to make sure, the CTA applies and should be display for both US and Global, correct?

[2016-01-04 16:38] angaither commented on #5941
@weerd yup!

[2016-01-04 17:05] angaither commented on #5970
our leader @mshmsh5000 says

and bam, things work :bomb:

[2016-01-04 17:05] #5970 closed, assigned to nobody

[2016-01-04 17:16] weerd commented on #5941
Ok, so I've traced it back to the Facts module... something happened where the fields containing the CTA infoz are no longer in the `$vars['content']` array, but sit outside of it in the general `$vars` array. That is the main issue. Also need to add some logic so that it uses the language info as well.

[2016-01-04 18:48] sergiitk commented on #5968
So the issue there was that @namimody should've clicked 'Remove' button instead of just deleting everything in the "Name" field, see at the bottom of the screenshot:

https://staging.dosomething.org/us/node/1173/edit/
![image](https://cloud.githubusercontent.com/assets/672669/12097292/90317b28-b323-11e5-9afc-f6c8bc9376e0.png)

However, now when few nodes are broken and I can't fix the partners fie

[2016-01-04 19:13] itsjoekent commented on #5952
just did the exact same this time, but used Torgaurd and Treat Yo Friends.

No redirect loop, no error.

Here is the URL I went too: https://thor.dosomething.org/mx/node/5646
Here is the URL I got brought to by clicking edit: https://thor.dosomething.org/mx/node/5646/edit/es-mx
Here is the User: https://thor.dosomething.org/mx/user/2632038/edit

[2016-01-04 19:46] #5968 closed, assigned to sergiitk

[2016-01-04 19:59] angaither commented on #5941
I think it's not in the content array, when the language doesn't match?

[2016-01-04 20:21] angaither commented on #5952
@deadlybutter the error is when you go from the edit page to view page

[2016-01-04 20:23] itsjoekent commented on #5952
yeah im a doof

[2016-01-04 20:34] angaither opened #5973 "change signup logic"
signups should be associated with the current campaign run, not the campaign node.

signups should still be displayed in the signup tab on nodes `node/10/signups`

[2016-01-04 20:34] sbsmith86 commented on #5919
This is appears to be happening when a campaign has a hot module running on it for a month, and then the hot module timing gets extended another month. However, I am not sure that should cause any issues with the graph.

From an array of data (from the query above) over all time, the JS creates a separate array of dates and quantities between the start and end date specified in the CMS. To create

[2016-01-04 20:35] angaither opened #5974 "update reportback logic"
reportbacks need to be associated with a campaign run instead of the campaign node

things to update
- [ ] gallery on action page
- [ ] api
- [ ] node/10/reportbacks

[2016-01-04 20:39] angaither opened #5975 "user profile campaign title updates"
ensure the user profile pulls correct campaign titles in 'doing' and 'done' sections

![image](https://cloud.githubusercontent.com/assets/645205/12099865/42781dee-b2f9-11e5-8c78-eec0464a50fc.png)

[2016-01-04 20:51] angaither commented on #5877
this should be a node reference field (perhaps a dropdown) `field_current_run` on the campaign node

the field should display only campaign run types
in the campaign module form alter, we can scope this to display only runs that have the current campaign nid in the field.

[2016-01-04 21:24] angaither commented on #5877
this field should be required!

[2016-01-04 22:11] weerd commented on #5941
Yep, you are correct! Is it a problem if I'm not grabbing the data from within the content array anymore?

[2016-01-04 22:31] mshmsh5000 opened #5977 "Seckit blacklisting good URIs"
Seckit settings ( https://www.dosomething.org/admin/config/system/seckit ) currently blocking
- https://cdn.optimizely.com
- https://js-agent.newrelic.com
- https://bam.nr-data.net
- https://dsrealtimefeed.herokuapp.com

Super blowing up our logs.

(a) Can we please fix this?
(b) Do we want to enable the dsrealtimefeed connection from prod?

/cc @deadlybutter @sergii-tkachenko @angaither

[2016-01-04 22:33] sergiitk commented on #5977
Yes, I will whitelist these as part of #5783.

[2016-01-05 01:24] itsjoekent commented on #5977
thats odd. i can promise you the connection is already going through and has been for some time (so im not sure what you mean by "blocking").

it doesn't pass any sensitive user data or receive anything back from the dsrealtimefeed, so i dont think theres any security risk in allowing it? its essentially a "ping" with the users country code.

[2016-01-05 14:14] angaither commented on #5973
potentially this https://github.com/DoSomething/phoenix/pull/4127#issuecomment-77596408

[2016-01-05 14:14] angaither commented on #5974
potentially this https://github.com/DoSomething/phoenix/pull/4127#issuecomment-77596408

[2016-01-05 14:20] mshmsh5000 commented on #5977
This is what I mean:

![blocked](https://cloud.githubusercontent.com/assets/149811/12117220/5770593e-b38d-11e5-8ced-99cd40f340b1.png)

Some connection to that app is being blocked.

[2016-01-05 14:46] #5941 closed, assigned to weerd

[2016-01-05 14:57] sbsmith86 commented on #5877
Should this field (should all fields?) be translatable?

![screen shot 2016-01-05 at 9 56 39 am](https://cloud.githubusercontent.com/assets/1700409/12118109/b9753a00-b392-11e5-86d0-52b4fd53ac32.png)

@angaither

[2016-01-05 14:58] itsjoekent commented on #5977
Right but on my end its working just fine? (see the dots on the globe below) Could it just be a warning that doesn't actually block?

http://lobby.dosomething.org/module/static#globe

[2016-01-05 15:03] DFurnes commented on #5977
@deadlybutter Yep, it's [currently in "report only" mode](https://github.com/DoSomething/phoenix/issues/5783).

[2016-01-05 15:04] itsjoekent commented on #5977
gotcha

[2016-01-05 15:21] itsjoekent commented on #5952
so i was right yesterday, this is the line of code causing the bug

https://github.com/DoSomething/phoenix/blob/dev/lib/modules/dosomething/dosomething_global/dosomething_global.module#L610

the problem is that this is technically intentional functionality now. I can change the permission so it only applies to US admins & editors maybe?

edit: for example `Administer content` is only given to glob

[2016-01-05 15:31] angaither commented on #5952
maybe an easier solution would be to edit those view links in the content search to have the county code pre-appeneded?
so you always go to `/mx/node/231/edit/es-mx`

[2016-01-05 15:58] angaither commented on #5877
@sbsmith86 great question. currently campaign runs are not translatable. So I suppose yes. so we can have different runs for different translations of the node.

cc @namimody @mikefantini @mnelson338

[2016-01-05 16:29] #5952 closed, assigned to itsjoekent

[2016-01-05 17:05] aaronschachter commented on #5874
@weerd I'm seeing this occur in the `campaigns` index endpoint when a count is not specified. Seems to work ok when a count is specified though.

![screen shot 2016-01-05 at 9 04 47 am](https://cloud.githubusercontent.com/assets/1236811/12121718/a368277e-b38b-11e5-9aa2-56e505f6291d.png)

![screen shot 2016-01-05 at 9 05 45 am](https://cloud.githubusercontent.com/assets/1236811/12121699/8d437714-b3

[2016-01-05 17:07] weerd commented on #5874
@aaronschachter ok. I'll reopen then and take another look. thanks for the heads up!

[2016-01-05 18:59] weerd opened #5980 "Remove old Showcase Header Gallery code"
The code to add the Showcase Gallery in the header on both campaign pitch and action pages still exists and should be removed; currently the gallery is getting added, but hidden from CSS :scream:

![](https://slack-files.com/files-tmb/T024GV2BW-F0HP6GAA0-c02a6d2ca7/pasted_image_at_2016_01_05_01_29_pm_1024.png)

[2016-01-05 19:09] angaither opened #5981 "script to autofill campaign current run field"
this should maybe be a db update

query for all campaigns that are closed
get the current run nid
put that value in the `field_current_run` on the campaign node

fill in the `field_current_run` for all active campaigns based on the run nodes that were created

cc @namimody we can do this work, but I know it won't be correct for the ones that you have edited yourself. that's #5959

[2016-01-05 19:46] sergiitk commented on #5783
So here's drupal log parse results:

[code]

[2016-01-05 19:50] sergiitk commented on #5783
Top domain only:

[code]

[2016-01-05 20:57] mshmsh5000 commented on #5783
OK, so let's compile our whitelist additions:
- optimizely.com
- herokuapp.com
- nr-data.net
- newrelic.com
- youtube.com
- akamaihd.net
- googleapis.com
- gstatic.com

Questions on these? Any others?

[2016-01-05 20:59] sergiitk commented on #5783
Note: tool to figure out which rules has been violated by domain:

[code]

Retrieving effective directives for default-src reports:

[code]

[2016-01-05 21:01] deezone commented on #5921
`$ ds build`

[code]

[2016-01-05 22:20] namimody commented on #5959
Thanks @angaither! When does this need to happen in the order of operations?

[2016-01-05 22:47] #5977 closed, assigned to sergiitk

[2016-01-06 00:43] deezone opened #5985 "Blank CAMPAIGN_TITLE for campaign_reportback on Mobile App reportbacks"
Transactional email request for `campaign_reportback` on the Grandparents Gone Wired campaign is sending blank values for the `CAMPAIGN_TITLE. I've confirmed that it appears no other campaign reportbacks have the same issue.

Perhaps related, the Grandparents Gone Wired campaign has two languages:
- English: https://www.dosomething.org/us/node/5775/edit/en
- English, Global: https://www.dosomethin

[2016-01-06 14:28] angaither commented on #4855
I was wrong, we don't actually use the prefix, it's hard coded [in the theme](https://github.com/DoSomething/phoenix/blob/e76692b89862573821aaed53f70e709f8c679ddd/lib/themes/dosomething/paraneue_dosomething/templates/campaign/partials/campaign-scholarship.tpl.php)

[2016-01-06 15:27] itsjoekent commented on #5956
Can we verify this is no longer an issue/was a duplicate of ^? #5952 was fixed yesterday

[2016-01-06 16:49] angaither opened #5986 "update goal variables to rely on the run"
hot module
reportbacks
signup counts

this stuff needs to be tied to the run

[2016-01-06 19:50] #5962 closed, assigned to nobody

[2016-01-06 19:50] #5963 closed, assigned to namimody

[2016-01-06 19:50] #5973 closed, assigned to weerd

[2016-01-06 19:50] #5974 closed, assigned to weerd

[2016-01-06 19:50] #5986 closed, assigned to nobody

[2016-01-06 19:53] angaither opened #5987 "make campaign run nodes translatable"
https://github.com/DoSomething/phoenix/wiki/Making-content-translatable

[2016-01-06 19:54] angaither opened #5988 "Create open and close date field to campaign run nodes"
create a date field on run nodes (with a collect end date checked)

this should not be required
the default open date should be 'today'
the close date default should be empty

[2016-01-06 19:57] angaither opened #5989 "update campaign status field"
- disable the field in the ui
- auto calculate the field on campaign run node save
- create a cron job to auto calculate the field
- make the field translatable

`field_campaign_status` would be `open` when the run has a start date and no end date
`field_campaign_status` would be `closed` when the run end date is before `now`

[2016-01-06 20:02] angaither opened #5990 "add campaign run nid to schema"
`dosomething_reportback` and `dosomething_signup` should have a new column (after `nid`) called `run_nid`

to store the run id that the signup/reportback is attached to

[2016-01-06 20:07] angaither opened #5991 "add run id to api responses"
The `field_current_run` id needs to be exposed in the api in the following responses
- [ ] ~~get signups~~
- [x] get reportbacks
- [x] get campaigns

[2016-01-06 20:08] namimody opened #5992 "Varnish Redirect for Designated Texter"
#### Current Behavior

Title of https://www.dosomething.org/us/node/5359/edit was changed back to "Don't Booze and Cruise". The links on Fastweb are: https://www.dosomething.org/us/campaigns/designated-texter?utm_source=partner&utm_medium=scholarship_listing&utm_campaign=fastweb AND https://www.dosomething.org/campaigns/designated-texter. If people click this link, they are brought to a page with

[2016-01-06 20:09] angaither opened #5993 "un-unique uid/nid combo in signup and reportback tables"
Currently the uid/nid combo in both the `dosomething_signup` and `dosomething_reportback` tables need to be unique

we need to update this combo to be `uid`/`nid`/`run_id`

[2016-01-06 20:11] angaither opened #5994 "JS to require campaign run id"
Add JavaScript to force a campaign run relationship before allowing a campaign node to be published

the field should not be required in the db

[2016-01-06 20:14] itsjoekent commented on #5994
can we make sure to include a warning of some kind so the user knows to do this? maybe even make it an anchor so they can just click straight to the campaign run creation page

[2016-01-06 20:14] angaither opened #5995 "Script to un-archive run activity"
write a db_update to move all signups and reportbacks from run nodes back to the original campaign node

make sure to save the run id to the sign up and reportback as well

[2016-01-06 20:22] angaither commented on #5981
can't be done without #5961

[2016-01-06 20:23] #5960 closed, assigned to nobody

[2016-01-06 20:26] angaither commented on #5961
@mikefantini we will need to know what we should set the open date to, as well as what the title of the nodes should be

[2016-01-06 20:45] itsjoekent commented on #5988
99.9% sure but want to confirm this should be translatable

[2016-01-06 21:11] #5987 closed, assigned to itsjoekent

[2016-01-06 21:43] sheyd commented on #5992
DONE! In Varnish.

[2016-01-06 21:43] #5992 closed, assigned to sheyd

[2016-01-07 03:27] mshmsh5000 opened #5997 "Reportback display: Mask usernames that are actually email addresses"
If username matches an email regex, mask the string.

![username-email](https://cloud.githubusercontent.com/assets/149811/12161510/7866499a-b4c4-11e5-82e0-5e740a2b56af.png)

[2016-01-07 04:39] aaronschachter commented on #5997
I discovered this earlier today when testing the mobile app -- would it make sense to add the same filtering in our API?

[2016-01-07 14:31] mshmsh5000 commented on #5997
My $0.02: I'd rather we pass around accurate data, and filter/mask per client.

[2016-01-07 15:05] mshmsh5000 opened #5998 "Module update: Field Group"
https://www.drupal.org/node/2644832

Security update.

[2016-01-07 15:19] sbsmith86 commented on #5981
Just putting this note here, cause I think I can handle this in this issue. But I just realized that unpublished campaign runs are being shown as options in the select dropdown for this field. I should probably update that so only published campaign runs can be selected.

[2016-01-07 15:37] #5994 closed, assigned to sbsmith86

[2016-01-07 15:38] itsjoekent commented on #5975
Should I be updating `dosomething_campaign_get_campaign_block_vars` to use campaign run titles or this _just_ for the user profile? @angaither ?

[2016-01-07 15:39] angaither commented on #5981
@sbsmith86 hm, I'm not sure published/unpublished matters that much for the run

[2016-01-07 15:43] sbsmith86 commented on #5981
@angaither oh ok! thought cause we were using it to figure out active/closed state, it should be published

[2016-01-07 15:46] angaither commented on #5981
@sbsmith86 from my understanding, the campaign is active when it has a run node that does not have an end date, and the end date is greater than today

[2016-01-07 16:14] angaither commented on #5995
### signups

[code]

### reportbacks

[code]

[2016-01-07 16:18] mikefantini commented on #5988
Sorry late to the party @deadlybutter @angaither but yes this needs to be translatable.

[2016-01-07 16:18] DFurnes commented on #5921
These can both safely be ignored (especially since they're browser packages), although we should really remove the version constraint from each of these.

This is an [optional dependency](https://www.npmjs.com/package/fsevents) (of one of our build tools) for an OSX-specific file watching API, so it's expected to fail on Linux. I don't think there's much we can do to "prettify" this.

We're includ

[2016-01-07 16:26] itsjoekent commented on #5975
blocked: https://github.com/DoSomething/phoenix/pull/6001#issuecomment-169714999

[2016-01-07 17:56] angaither commented on #5993
refs #6002

[2016-01-07 18:01] angaither commented on #5998
@sergii-tkachenko mind taking a look at this when you get a chance?

[2016-01-07 18:09] sergiitk commented on #5998
OK

[2016-01-07 18:09] sergiitk commented on #5998
https://www.drupal.org/node/2645350

[2016-01-07 18:37] #5998 closed, assigned to sergiitk

[2016-01-07 18:52] sergiitk commented on #5985
That's because you need to access US page, https://www.dosomething.org/us/node/5775

[2016-01-07 19:46] angaither opened #6004 "update goals counters"
custom settings page on nodes, have a goals section where it runs totals for impact and reportbacks, these need to we re-written to only include the impact of the current run
it also needs to be updated to deal with multiple translations of the node. see #6065

[2016-01-07 20:04] deezone commented on #5985
Shouldn't /node/5775 forward to the default language for the campaign? From the Czech Republic, it looks like it's trying to forward to a global english version.

![image](https://cloud.githubusercontent.com/assets/2119264/12181139/7535d9c2-b54e-11e5-8c69-6484348b024b.png)

![image](https://cloud.githubusercontent.com/assets/2119264/12181224/f6945e12-b54e-11e5-8fcd-a7b0ad15206b.png)

![image](http

[2016-01-07 20:05] itsjoekent commented on #5985
node 5775 has no global translation @DeeZone

https://www.dosomething.org/us/node/5775/translate

[2016-01-07 20:07] angaither commented on #5961
@mikefantini When we automatically create runs for each campaign, we should create one run per campaign, with multiple translations, correct?
as many translations as the original content?

[2016-01-07 20:16] deezone commented on #5985
@deadlybutter Yep, that's my point... as a global user, why does accessing the base node not redirect me to:
1. Global Campaign
2. or if it doesn't exist, the default language, in this case English.

As a Global Admin user, the edit form is kinda funky:

![image](https://cloud.githubusercontent.com/assets/2119264/12181662/96d12944-b551-11e5-9397-3feca018fea2.png)

[2016-01-07 20:18] sergiitk commented on #5985
Should we move this discussion to its own ticket?

[2016-01-07 20:26] mikefantini commented on #5961
Re: translations yes one run per campaign with multiple translations.

This may get tricky though re: title because the title should be in the actual language of the translation. A bit behind at the moment but I'll get you answers re: title and date first thing tomorrow.

[2016-01-07 20:27] itsjoekent commented on #5985
you're logged in as an administrator. for non admins you'd be redirected

continue discussion re: this here --> https://github.com/DoSomething/phoenix/issues/6005

[2016-01-07 20:31] itsjoekent opened #6005 "Not redirecting admin users to proper translation"
moved into new issue from: https://github.com/DoSomething/phoenix/issues/5985#issuecomment-169793434

@mikefantini I think this keeps causing confusion / needs some kind of change. I like the idea of not redirecting for when your testing/QA'ing/Global admining, but for everyday admins this tends to be more of a pain than anything (as dee is currently experiencing for example)

Can we make this glo

[2016-01-07 20:35] mikefantini commented on #5985
@DeeZone @deadlybutter @sergii-tkachenko this is intended behavior right now. Ideally we are avoiding this behavior for the most part by using country specific URLs in situations where campaigns don't exist in multiple translations. I.e. if a campaign only exists in US English we should _never_ advertise an unappended URL (i.e. we should always use www.dosomething.org/us/node/5775 and never use ww

[2016-01-07 20:39] mikefantini commented on #6005
@deadlybutter here's why I'm hesitant to go this route. Everyone who is experiencing this pain (for the most part) will need to be able to view the GL EN translation of a campaign at some point. Whether it's Ben or a campaign lead (to verify for editing purposes) or @mnelson338 / @namimody for testing/regular admin work.

I'm open to other solutions but 1. I don't want to over-engineer this and 2.

[2016-01-07 20:41] itsjoekent commented on #5985
ah I was looking at the second screenshot in the admin menu

[2016-01-07 20:42] itsjoekent commented on #6005
if thats the policy then that settles it!

[2016-01-07 20:42] #6005 closed, assigned to nobody

[2016-01-07 20:47] namimody opened #6006 "Varnish Redirect for Help Center"
#### User Story

As a user in the US, I'd like to see the Help Center. As a user outside of the US and not in BR or MX, I'd like to see the most relevant static content FAQ page. As a US user who hits https://www.dosomething.org/us/about/faq, I'd like to instead be brought to: https://help.dosomething.org/hc/en-us
#### Additional Information

Currently, people who Google "do something faq" are bro

[2016-01-07 21:00] #5990 closed, assigned to sbsmith86

[2016-01-07 21:36] angaither opened #6007 "Add run filtering to admin views"
signup and reportback (reviewed only) needs to be able to filter by run

the default should be to display the current run
the run_nid should also be exposed in those tables

[2016-01-07 22:03] deezone commented on #5985
@mikefantini Thanks for the clarification. I don't work on the Drupal site on a regular basis. I'm often not aware of the current "intended behavior". Your explanation makes sense.

@sergii-tkachenko

I'll leave this issue open as the original issue of a blank CAMPAIGN_TITLE transactional bug can't currently be explained. I had hoped I had uncovered a scenario with the discussed global redirect fu

[2016-01-08 14:33] angaither commented on #5988
@deadlybutter to keep things consistent with high and low season, can you make the default be to 'collect the end date'
so that both start and end date fields are open by default

[2016-01-08 14:48] itsjoekent commented on #5988
![screen shot 2016-01-08 at 9 46 25 am](https://cloud.githubusercontent.com/assets/897368/12200421/c6144506-b5ec-11e5-9004-b1dc3320bbaf.png)

is it not working as intended? the only thing not checked is 'required'

[2016-01-08 14:50] angaither commented on #5988
currently you have to check show end date to see the second date field
![image](https://cloud.githubusercontent.com/assets/645205/12200507/29a7f266-b5ed-11e5-9f07-fb9bb09170d9.png)
![image](https://cloud.githubusercontent.com/assets/645205/12200511/2fbbbe12-b5ed-11e5-9e3a-eb25e0fadce0.png)

in high/low season both options are available
![image](https://cloud.githubusercontent.com/assets/645205/122

[2016-01-08 14:53] itsjoekent commented on #5988
I thought in our meeting thats what we decided to do (since not all campaigns need an end date)

[2016-01-08 14:54] angaither commented on #5988
correct, it shouldn't be required, but the option should be displayed

[2016-01-08 15:01] angaither commented on #5959
@namimody also need need to set end dates on campaign runs that should be closed

[2016-01-08 15:04] itsjoekent commented on #5988
when I make collect and end date required 2 things happen

![screen shot 2016-01-08 at 10 01 12 am](https://cloud.githubusercontent.com/assets/897368/12200803/d3823d90-b5ee-11e5-8db1-adb4e07c1bae.png)

1) I cant save it without any value. selecting the blank options in the list cause it to turn red as seen above.

2) the "no default" value will default to "now", even though I told it not too.

![s

[2016-01-08 15:05] angaither commented on #5988
hmm, so it only displays the option if it's required?

[2016-01-08 15:07] itsjoekent commented on #5988
yea, thats how the high season field is configured

[2016-01-08 15:08] angaither commented on #5988
bummer, ok. re-closing

[2016-01-08 15:08] #5988 closed, assigned to itsjoekent

[2016-01-08 15:35] angaither opened #6008 "Associate signups/reportbacks to runs"
currently when a user signsup or reportsback the campaign nid is stored, the current run nid needs to be stored to this row as well.

[2016-01-08 15:39] namimody commented on #2814
Hello! Since Nov 8th, a hot .22% of traffic is coming from IE8. Not to worry :)

[2016-01-08 16:27] namimody opened #6009 "Sponsor Logo Not Appearing Correctly Based on Backend Inputs"
#### Current Behavior

When a sponsor with a logo is added or removed from the sponsors and partners field on the /edit backend, the logo does not get added or disappear from the header photo.

Example campaign w/ problem: https://thor.dosomething.org/us/campaigns/teens-jeans
#### Desired Behavior

The logo should correspond to the status of the sponsors/partners field in the backend.
#### Steps t

[2016-01-08 18:02] sergiitk opened #6010 "Improve Session Management"
https://cobalt.io/dosomething/reports/78

cc @sheyd

[2016-01-08 18:23] angaither commented on #5889
closing in favor of #5975

[2016-01-08 18:23] #5889 closed, assigned to nobody

[2016-01-08 19:46] sergiitk opened #6012 "Invalidate old sessions / reset password links on email or password change"
Good practice suggested here: https://cobalt.io/dosomething/reports/79

[2016-01-08 20:11] namimody opened #6013 "Pitch Page Scholarship Callout Not Appearing Correctly Based on Backend Inputs"
#### Current Behavior

When a scholarship amount is added or removed from the incentives field on the /edit backend, the pitch page scholarship call out is not changed. TFJ had a $10K scholarship, then it was changed to $1K in the backend. The header photo on the pitch page still showed $10K.

Example campaign w/ problem: https://thor.dosomething.org/us/campaigns/teens-jeans
#### Desired Behavior

[2016-01-08 20:54] angaither commented on #5993
also note, there are functions that exist when creating new signups and reportbacks vs updating current ones, those need to be updated accordingly as well

[2016-01-11 16:59] angaither opened #6014 "Add run nid to current signups and reportbacks"
after (or at the same time as) #5981
all signups and reportbacks should have run id added to the col
currently they all default to 0
![image](https://cloud.githubusercontent.com/assets/645205/12240301/a1529112-b85a-11e5-9077-3fdcd3cd1c90.png)

refs #5995 #5993

[2016-01-11 17:49] mikefantini commented on #6009
@sbsmith86 FYI I think @katiecrane is going to be taking a look at this. We think it might be related to caching issues from #5945

[2016-01-11 18:30] itsjoekent commented on #6014
how do we make sure that #5981 happens first?

[2016-01-11 18:53] #6009 closed, assigned to sbsmith86

[2016-01-11 18:53] #6013 closed, assigned to nobody

[2016-01-11 19:40] sbsmith86 commented on #5989
@angaither an issue I am running into is that `field_campaign_status` is not translatable, but `field_run_date` is. How do we determine which `field_run_date` values to use to populate the `field_campaign_status` field?

Or is campaign status supposed to be translatable as well? I forget...

[2016-01-11 19:53] angaither commented on #5989
@sbsmith86 I believe `field_campaign_status` is supposed to be translatable, right @mikefantini?

[2016-01-11 20:23] mikefantini commented on #5989
Correct @sbsmith86 @angaither

[2016-01-12 14:12] angaither opened #6016 "Translate title field on campain run node"
Use the title module to translate the title of campaign run nodes

refs #5987

[2016-01-12 14:24] mikefantini commented on #5961
Ok so let's do this:

Title:
- Make the title of the campaign run "campaign_title run 1". Let's do the translated title for each translation of run (so "Limpieza de calles por la tortuga marina run 1" for the Mexican Spanish run of node 3624). This will require #6016 to be done first.
- Since many campaigns we're writing this script for will be on their second (or third) run, I will manually updat

[2016-01-12 14:26] mikefantini commented on #5975
@deadlybutter for this, let's make sure we're sticking to campaign title and not showing campaign run title to users in the profile: https://github.com/DoSomething/phoenix/issues/5961#issuecomment-170926109

[2016-01-12 14:51] sergiitk commented on #6016
Technical notes:
- Replace title builtin with field provided by title module
- Save it to the features
- Create a helper to replace title values. See `ds-global`

[2016-01-12 15:44] namimody commented on #5171
I've not heard of this happening since. Closing.

[2016-01-12 15:44] #5171 closed, assigned to namimody

[2016-01-12 15:55] namimody commented on #5137
@angaither was just going through FRUGS and noticed this issue. I think I can close as we will no longer be archiving activity with the new runs configuration. And there isn't anything we need to change re: site permissions for this reconfig -- as from what I understand, editors already have permission to create and edit runs. If that's all correct, I'll close!

[2016-01-12 16:05] angaither commented on #5137
bam perf

[2016-01-12 16:05] #5137 closed, assigned to mikefantini

[2016-01-12 16:06] namimody commented on #5137
:raised_hands:

[2016-01-12 16:41] itsjoekent commented on #6008
update
- query is done
- problem: update hook behind weirdly. running drush updb only works once, and even if i edit the system table i still have to reimport the entire DB. Going to use a snapshot plugin for Vagrant that sergii suggested.

[2016-01-12 16:59] angaither commented on #6008
@deadlybutter the update hook only runs once intentionally, to test locally you either have to update the hook number by one, or update the latest hook run in for that module in that table

[2016-01-12 17:21] itsjoekent commented on #6008
right thats what im doing, and it works once but then it never works again. i talked with sergii about it and he wasnt sure what was goin on either

[2016-01-12 19:36] #5684 closed, assigned to katiecrane

[2016-01-12 19:49] sergiitk commented on #5870
Closing this as a duplicate of #5872.

[2016-01-12 19:49] #5870 closed, assigned to sergiitk

[2016-01-12 19:50] sergiitk commented on #5985
Closing this as a duplicate of #5872.

[2016-01-12 19:50] #5985 closed, assigned to sergiitk

[2016-01-12 19:55] weerd commented on #5874
PR #5983 updates the total for RB items, but this is likely still off for campaigns. However, the fix for RB items sets up the approach to fix for other endpoints. Update coming as soon as Campaign run updates are done!

[2016-01-12 20:17] joolaay opened #6021 "Static Header image spacing"
What happened to this spacing? Needs substantially more whitespace.
![screen shot 2016-01-12 at 3 16 35 pm](https://cloud.githubusercontent.com/assets/6331017/12275698/7fb33878-b93f-11e5-8801-2444e5c5e063.png)

[2016-01-12 20:19] joolaay opened #6022 "Static content text leading needs improvement"
H1 & text & captions have the same Leading, it's difficult to understand what text goes with which elements. @lkpttn should take a run through.
![screen shot 2016-01-12 at 3 19 03 pm](https://cloud.githubusercontent.com/assets/6331017/12275759/e1919382-b93f-11e5-8422-076ec367247d.png)

[2016-01-12 20:23] joolaay opened #6023 "Where did all the whitespace go?"
@lkpttn can you have a look? @mikefantini any idea how we got here?

![screen shot 2016-01-12 at 3 19 40 pm](https://cloud.githubusercontent.com/assets/6331017/12275776/f9a8fa3c-b93f-11e5-9377-5d2e9b608557.png)

[2016-01-12 20:33] joolaay opened #6024 "Call to action button triggers Auth Flow"
@mikefantini we discussed this as a way to test one-click onboarding on the about page.

Call to action: Become a Member today
Button: Join
Behavior: Auth Flow modal appears

[2016-01-12 20:57] mikefantini commented on #6023
@joolaay I'm not sure, @lkpttn and/or @DFurnes should though.

[2016-01-12 20:59] DFurnes commented on #6023
As far as I know, spacing is all the standard multiples of `24px` from all the Neue 6 updates. It might be worth sitting down to figure out specific problem areas?

[2016-01-12 21:12] namimody commented on #5138
Need a solution that allows us to create redirects that account for the country appendix -- closing this issue.

[2016-01-12 21:12] #5138 closed, assigned to mikefantini

[2016-01-12 21:21] #5170 closed, assigned to weerd

[2016-01-12 21:21] #5980 closed, assigned to weerd

[2016-01-12 21:25] sergiitk commented on #5872
Note: I tried to reproduce this on staging using `https://northstar-qa.dosomething.org/v1/user/campaigns/1283/reportback` API, but the campaign title seems to be there. I will try to do the sane on Production.

[2016-01-12 22:06] #5872 closed, assigned to sergiitk

[2016-01-12 22:10] sergiitk commented on #5872
Additional investigation showed that Production is affected and staging is not.
I followed the same flow using northstar API on prod and staging:
- Login `/v1/login`
- Signup `/v1/user/campaigns/5779/signup`
- Reportback `/v1/user/campaigns/5779/reportback`

Only on production MB payload lacked `CAMPAIGN_TITLE` merge var.
I suspect that Northstar <-> Phoenix connection works through Fastly, which

[2016-01-12 23:13] mikefantini commented on #6006
Yeah @namimody this should be a request for DevOps

[2016-01-12 23:15] deezone opened #6028 "Campaign signup - language / country switched"
When a user signs up for a campaign, the transactional email request to Message Broker has `campaign_country` and `campaign_language` values in the payload. Currently the values are flipped.

[2016-01-12 23:44] deezone commented on #5872
@sergii-tkachenko Thoughts on next steps?

Is it possible to track down the code that's affecting the enduser language? Perhaps there's defaults missing when the headers values are NULL?

[2016-01-13 15:24] weerd opened #6030 "ES6ify the Reportback.js file"
Update the Reportback.js file to use ES6 goodness so it can be properly linted.

[2016-01-13 15:29] weerd opened #6031 "Update ApiCache class to allow passing a custom expiration time"
Allow passing a custom expiration time in hours to the `set()` method of the ApiCache class.

Once this is complete, update the reportback items tally caching to have a much longer caching period.

[2016-01-13 15:31] weerd opened #6032 "Clear ApiCache for reportback tally during RB events"
To maintain an accurate count of the Reportbacks in the system, we need to make sure the cache clears for the RB items tally during `save`, `update`, and `delete` of reportback.

Sample call:

[code]

[2016-01-13 15:33] weerd opened #6033 "Remove all old code for the /campaigns/gallery.json endpoint"
With the updates in #5983, the old `/campaigns/gallery.json` relationship endpoint in Services is no longer needed, so we should remove all that old code.
- [x] Turn off the endpoint in services
- [x] Remove the code for the resource.

[2016-01-13 15:44] itsjoekent commented on #5975
https://github.com/DoSomething/phoenix/pull/6001#issuecomment-171330591

[2016-01-13 15:49] angaither commented on #5975
we still want to remove the campaign run titles that are currently shown on the profile

[2016-01-13 15:53] itsjoekent commented on #6016
field exported, going to make the helper now

[2016-01-13 16:23] DFurnes opened #6036 "Lodash v4"
We should update to [Lodash v4](https://github.com/lodash/lodash/releases/tag/4.0.0), which was just released yesterday. We're currently locked to `3.6.x`.

Here's the [upgrade guide](https://github.com/lodash/lodash/wiki/Changelog#v400). We already use [es5-shim](https://github.com/es-shims/es5-shim) so the dropped IE 6-8 compatibility is a non-issue. I think most of the other changes should be v

[2016-01-13 16:24] sbsmith86 commented on #5981
@angaither we should also populate this field for active campaigns, now right?

[2016-01-13 16:50] sergiitk commented on #5872
So I think #6019 should fix it. Let's deploy this to prod and test.

[2016-01-13 17:00] deezone commented on #5872
:+1:

[2016-01-13 17:44] angaither commented on #5981
we should be good to go once work for #6037 is merged in. but you could probably get started writing this :+1:

[2016-01-13 17:48] sbsmith86 commented on #5981
@angaither yep, im on it. just clarifying the issue description, where you say to query only for closed campaigns. @chloealee 's script created campaign runs for all active campaigns, so should we fill this field out for closed, active, or both?

[2016-01-13 17:51] angaither commented on #5981
@sbsmith86 great question.
@chloealee's script just created run nodes, it didn't actually fill out the `current_run` on campaign nodes

so I think this should probably do both things.

[2016-01-13 17:57] #6016 closed, assigned to itsjoekent

[2016-01-13 21:19] angaither opened #6039 "Reportback fails with mbp errors"
Looks like updates to reportback merge vars are causing a fatal error on reporting back

https://github.com/DoSomething/phoenix/commit/e1f20fdcce9b4cda3e9f374065d5a130d57fbecd

![](https://files.slack.com/files-pri/T024GV2BW-F0JCPA48M/pasted_image_at_2016_01_13_04_07_pm.png?pub_secret=2a14db8e6e)

[2016-01-13 22:10] #5961 closed, assigned to chloealee

[2016-01-13 22:40] angaither commented on #6033
bold.

[2016-01-13 23:24] #6028 closed, assigned to sergiitk

[2016-01-13 23:28] #5804 closed, assigned to deezone

[2016-01-13 23:30] #5935 closed, assigned to sergiitk

[2016-01-13 23:31] #5487 closed, assigned to blisteringherb

[2016-01-13 23:33] angaither commented on #6039
still seems related to mbp

[code]

[2016-01-13 23:36] sergiitk commented on #6039
This is not the fatal error anymore, this is another exception.
Please create separate ticket and report which page is affected.

[2016-01-14 01:06] angaither commented on #6039
It's not a fatal anymore, but it's still a related issue according to the dblog

[2016-01-14 15:11] #6039 closed, assigned to sergiitk

[2016-01-14 15:22] sergiitk commented on #6039
@angaither Oh, yes, I see now, it was actually related. Sorry.

[2016-01-14 18:59] chloealee commented on #5995
@angaither just to double check, would the `s.run_id` be the `s.sid` that is returned from the query?

[2016-01-14 19:01] angaither commented on #5995
@chloealee `run_nid` should be set to the campaign run nid.

[2016-01-14 19:08] chloealee commented on #5995
@angaither ah I see now! Got confused because I forgot to add it to the query. Thank you!

[2016-01-14 19:17] namimody commented on #5673
Seeing this happen again -- clicking on any of the campaigns on the confirmation page results in a 404:

![image](https://cloud.githubusercontent.com/assets/12396076/12334644/0a4606de-bac9-11e5-8e28-7e83bfde050f.png)

Part of the reason for this could be the insertion of an additional "/us/" - for example:
- https://www.dosomething.org/us/us/campaigns/teens-jeans%3Fsource%3Dcampaigns/6054/confirma

[2016-01-14 19:22] weerd opened #6044 "Campaign endpoint failing when not cached"
This is due to the location of where a variable is set.

[2016-01-14 19:25] mikefantini opened #6046 "Campaign Run Titles Are Missing on Prod"
#### Current Behavior

Titles for campaign runs got wiped when we made that field translatable #6016. Example https://www.dosomething.org/us/node/5439/edit
#### Desired Behavior

The original information that was stored in those fields returns (i.e. Comeback Clothes 2015 for node 5439). Previously @sergii-tkachenko has written scripts to restore similar missing information.
#### Why This Matters

[2016-01-14 19:25] #6044 closed, assigned to weerd

[2016-01-14 19:28] angaither commented on #6046
also it's plain illegal in drupal to not have titles. think of the law.

[2016-01-14 19:28] itsjoekent commented on #5673
No I think it's because of this bit in the URL `%3Fsource%3Dcampaigns`

actually the entire URL seems borked, double US, node nid and alias...

[2016-01-14 19:30] itsjoekent commented on #6046
i think i found one

https://github.com/DoSomething/phoenix/pull/4943

[2016-01-14 19:37] sergiitk commented on #6046
[code]

Fixed

[2016-01-14 19:37] #6046 closed, assigned to itsjoekent

[2016-01-14 19:37] angaither commented on #6046
![image](https://cloud.githubusercontent.com/assets/645205/12335269/495e833e-bacc-11e5-8b00-401bb346abda.png)
scriptzzz

[2016-01-14 19:40] itsjoekent commented on #6046
:sweat_smile:

[2016-01-14 19:45] sergiitk commented on #5872
Fix confirmed on prod:
![image](https://cloud.githubusercontent.com/assets/672669/12335488/1d22675e-bb08-11e5-9d59-61be75ce7937.png)

[2016-01-14 20:01] deezone commented on #5872
Which means our system very dependent on the FASTLY headers working? Is this an issue or simply a technical fact? Is there a solution at the code level to provide feedback on the status of the headers? Should there be defaults when they're not working?

[2016-01-14 20:02] sergiitk commented on #5872
Actually, Fastly is the primary source of user geopositioning right now.

[2016-01-14 20:03] itsjoekent commented on #5872
yes, current implementation is very Fastly dependent. We do have some places in the code that null check its response however and i believe it uses english as the default in that case (as most of our users are english speaking)

[2016-01-14 20:10] chloealee commented on #5995
@angaither I keep running into this error: `SQLSTATE[23000]: Integrity constraint violation: 1062 Duplicate entry '10-362' for key 'uid-nid' [error]` and I found on google to do this: https://www.drupal.org/node/2073317 (bottom of page, axel.rutz's comment). Is it okay to do this?