[2015-08-25 19:25] angaither commented on #4904
I think we are ok to set things to english. my only concern would be all the things we have set to check `[und]` (undefined language) in the code. some classes and checking for variables _might_ break

https://github.com/DoSomething/phoenix/search?utf8=%E2%9C%93&q=und

[2015-08-25 19:28] sergiitk commented on #4904
@angaither Good catch. However, this is inevitable since most of campaign are English, not neutral already.

[2015-08-25 19:29] sergiitk commented on #4904
![image](https://cloud.githubusercontent.com/assets/672669/9477015/ac8871c2-4b78-11e5-942e-a03f79224f46.png)

[2015-08-25 19:29] sergiitk commented on #4904
CC @DFurnes: see last 3 comments.

[2015-08-25 19:33] #4907 closed, assigned to sergiitk

[2015-08-25 19:35] angaither commented on #4904
@sergii-tkachenko what will `[und]` be when the language is set? is there a way to scope it for all languages?

[2015-08-25 19:39] sergiitk commented on #4904
It depends. If that's field's class and field is not translatable, it'll stay `[und]`. If translatable: I suppose it will be set to current language.

[2015-08-25 19:39] sergiitk commented on #4904
We need to work out a way to use different language-independent CSS class names.

[2015-08-25 19:46] DFurnes commented on #4904
The CSS file referenced in the search above is for the admin theme, if that makes any difference. The Casper tests could probably be rewritten to use the more human-readable `name` attributes on each field, rather than the crazy IDs that Drupal generates.

[2015-08-25 20:14] sergiitk commented on #4904
Renamed 47 to 54 (including not published).

[2015-08-25 20:58] itsjoekent opened #4908 "Last reportback item overrides all the items"
Let's say theres 3 reportback items, you flag the first two and promote the third. If you check the database for that reportback, FLAGGED = 0 and FLAGGED_REASON = NULL

Example: http://staging.beta.dosomething.org/admin/reportback/3069
- Flagged second RB item
- Promoted third RB item

What the DB shows

![screen shot 2015-08-25 at 4 57 27 pm](https://cloud.githubusercontent.com/assets/897368/9479

[2015-08-25 21:24] itsjoekent commented on #4879
alright, this actually seems to have no relation to the setFlaggedFunction and is a much deeper problem.
- I had **3** items (3 is important), top was flagged rest were approved.
- I change the flagged to promoted and print out the reasons for each item. This is a screenshot of that output.

![screen shot 2015-08-25 at 5 21 27 pm](https://cloud.githubusercontent.com/assets/897368/9479919/ca4c0244-

[2015-08-25 21:37] ghost opened #4910 "Research CCtld domain availability and SEO implications"
Shire trip note, using ccTLD's has a large impact on SEO potentially. Research viability of ds domains available in other countries and actual impact.

[2015-08-25 22:06] DFurnes commented on #4417
Some questions raised at our check-in earlier this afternoon:

**How do we trigger the second modal on the backend?**
Because the login modal has side-effects (and depending on whether the user entered the right login/register information, may not be successful), we can't know for sure the contents of the second modal at page load.

The simplest solution seems to be dynamically loading either the

[2015-08-25 22:35] sergiitk commented on #4869
The output has been updated (line 22 added): `Processed 53 nodes.`, see https://github.com/sergii-tkachenko/phoenix/commit/2ae08e65bb9de27f68d9e167170215b3d1082720#diff-496fd49ca8452ab97ccc26cc4e43212eR124.

[2015-08-26 13:17] angaither commented on #4908
duplicate of #4847

[2015-08-26 13:39] #4904 closed, assigned to sergiitk

[2015-08-26 13:39] #4906 closed, assigned to sergiitk

[2015-08-26 13:45] #4834 closed, assigned to sergiitk

[2015-08-26 14:44] angaither commented on #4417
@DFurnes I think we can separate the login/signup forms but it might be kind of complex, since the sign up form still needs to act as a login form for unauthenticated users.

[2015-08-26 14:45] sergiitk opened #4911 "Global: Add Global English language"
Plus, think of better name for it.

CC @sheydari-ds @mikefantini

[2015-08-26 14:55] angaither commented on #4887
closing this out, ran the script on prod 8/25
confirmed that no reportbacks have been reviewed and have a `null` flagged/promoted status anymore.

if we see issues from this point forward, there's a new bug :new_moon_with_face:

[2015-08-26 14:55] #4887 closed, assigned to angaither

[2015-08-26 14:56] mikefantini commented on #4911
@sergii-tkachenko sorry can you please clarify why you think we need a better name for it than "Global English"?

The idea is that the content that would be in those fields would meet two criteria:
1. they are in English
2. all information is globally relevant

The only distinguishing factor between this and US English is that US English would have some content that is more locally specific (i.e.

[2015-08-26 15:01] sergiitk commented on #4869
Staging output:

[code]

[2015-08-26 15:08] #4896 closed, assigned to nobody

[2015-08-26 15:08] ghost opened #4912 "Bring Up Message-Broker App Server"

[2015-08-26 15:09] ghost opened #4913 "Bring Up Rabbit MQ Server for Thor Environment"

[2015-08-26 15:10] ghost opened #4914 "Bring Up Mongo Server for Message Broker in Thor"

[2015-08-26 15:11] ghost opened #4915 "Bring Up Mongo Server for Northstar in Thor"

[2015-08-26 16:22] angaither commented on #4829
I think we are good to close this issue out, I've confirmed after the script + editor/member support permissions were added we are no longer seeing this

[2015-08-26 16:22] #4829 closed, assigned to weerd

[2015-08-26 16:22] angaither commented on #4815
I think we are good to close this issue out, I've confirmed after the script + editor/member support permissions were added we are no longer seeing this

[2015-08-26 16:22] #4815 closed, assigned to weerd

[2015-08-26 16:24] angaither commented on #4828
Haven't heard reports of this happening after we switched the order of the inbox from oldest -> newest

[2015-08-26 17:04] mikefantini opened #4916 "using an image w/o a landscape crop in the sponsor image field on /node/add/campaign results in error page"
went to create a new campaign on staging (http://staging.beta.dosomething.org/campaigns/please-dont-break-anything) and got the following error page

![image](https://cloud.githubusercontent.com/assets/6330971/9500356/e3eadbd0-4bf2-11e5-99ae-72db7fc73579.png)

[2015-08-26 17:06] mikefantini commented on #4916
@sergii-tkachenko if i don't include an entry in the image field here it works as intended

![image](https://cloud.githubusercontent.com/assets/6330971/9500402/3ee2eb68-4bf3-11e5-93bc-d47d246adacb.png)

[2015-08-26 17:07] sergiitk commented on #4916
Great catch. Looking into it on local.

[2015-08-26 17:08] mikefantini commented on #4916
@sergii-tkachenko also when i add a different image it works properly

[2015-08-26 17:09] sergiitk commented on #4916
Could you add the one that fails?

[2015-08-26 17:09] mikefantini commented on #4916
yeah weird it just seems to be this image that's causing it to fail http://staging.beta.dosomething.org/node/1634

[2015-08-26 17:10] mikefantini commented on #4916
yeah weird it just seems to be this image that's causing it to fail http://staging.beta.dosomething.org/node/1634

[2015-08-26 17:12] mikefantini commented on #4916
yeah it was breaking with that node because there is no landscape crop for that node.

added a landscape crop and it works properly now @sergii-tkachenko

[2015-08-26 17:15] sergiitk commented on #4916
So for some reason partner image is passed as an object sometimes, rendered img tag expected.

[2015-08-26 17:57] namimody opened #4918 "Problem Shares on Hot Module Campaigns Misaligned"
![image](https://cloud.githubusercontent.com/assets/12396076/9501613/45848da8-4bfa-11e5-9240-40f84e6cf1ce.png)

[2015-08-26 18:05] DFurnes commented on #4918
I believe this is fixed by #4900.

[2015-08-26 18:09] sergiitk commented on #4918
Hm... #4900 fix Is on staging...

[2015-08-26 18:13] #4894 closed, assigned to sergiitk

[2015-08-26 18:17] sergiitk commented on #4918
Looks like Deploy-Assets job hasn't been working for past 3 Release jobs.

[2015-08-26 18:17] sergiitk commented on #4918
Maybe that's the reason.

[2015-08-26 18:28] sergiitk opened #4920 "NPM install fails during staging deploys sometimes"
Here's an example:
https://jenkins.dosomething.org/job/Deploy-Staging/192/console

But it's not. The disc space is more than sufficient.
We've seen it twice for now. Let's keep an eye on it.

CC @DFurnes @sheydari-ds @blisteringherb

[2015-08-26 18:29] sergiitk commented on #4894
Tested on staging:

![image](https://cloud.githubusercontent.com/assets/672669/9502382/8da20ea0-4c39-11e5-96fd-34a101a664c9.png)

[2015-08-26 18:30] DFurnes commented on #4920
Grunt does fail, but only because NPM never gets a chance to install the local dependency correctly.

[2015-08-26 18:30] sergiitk commented on #4920
Yes, thanks for fixing the title @DFurnes!

[2015-08-26 18:32] sergiitk commented on #4920
More specifics from the log:

[code]

[2015-08-26 18:38] ghost commented on #4920
Once we're done testing on staging, I'll increase the root volume size on this instance.

[2015-08-26 18:40] sergiitk commented on #4920
@sheydari-ds Yes, looks like it's the disc space after all.

[code]

[2015-08-26 19:05] #4911 closed, assigned to nobody

[2015-08-26 19:09] #4897 closed, assigned to nobody

[2015-08-26 19:10] sergiitk opened #4922 "Translatable fields are missing from API exports"
Reported by @aaronschachter:
http://dev.dosomething.org:8888/api/v1/campaigns.json?mobile_app=true&term_ids=669,667,668,670

Related #4834.

cc @mikefantini @sheydari-ds

[2015-08-26 19:13] aaronschachter commented on #4922
I believe Message Broker still uses the older `content` endpoint, which calls a different callback function than the `campaigns` endpoint does. Something to double check as well.

[2015-08-26 19:19] sergiitk commented on #4922
So the thing is that `LANGUAGE_NONE` language is used by default for extracting data:

Call_for_action/tagline loaded here: https://github.com/DoSomething/phoenix/blob/76c82fb77b1accdf015642588b75916e88c13791/lib/modules/dosomething/dosomething_campaign/includes/Campaign.php#L528

Function [`dosomething_helpers_extract_field_data()` ](https://github.com/DoSomething/phoenix/blob/2b6cf2c850c5e2b0fa9

[2015-08-26 19:21] sergiitk commented on #4922
@aaronschachter I believe we need to extend API with mandatory `$language` param, like
http://dev.dosomething.org:8888/api/v1/campaigns.json?mobile_app=true&term_ids=669,667,668,670&langauge=en

[2015-08-26 19:39] sergiitk commented on #4922
@aaronschachter and I just had a chat and decided the following:
1. For now quickest and easies fix would be using `en` language as a new default for `dosomething_helpers_extract_field_data()` function. If the english value isn't there, fall back to `LANGUAGE_NONE`
2. Long term solution is API extension that makes it possible to render output in different languages, using `?language` URL parameter

[2015-08-26 19:44] namimody commented on #4918
Note: the reason for this is because there wasn't sufficient information for the campaign lead's bio. With name and position and photo, the problem shares appear correctly.

[2015-08-26 20:15] weerd opened #4924 "Campaign Gallery should be showing promoted and approved items for single reportback"
On this campaign: http://staging.beta.dosomething.org/campaigns/please-dont-break-anything, only `promoted` reportbacks are showing from a Reportback that contains multiple reportback-items with both `approved` and `promoted` statuses, and may be an issue across other campaigns.

[2015-08-26 20:17] sbsmith86 opened #4925 "Hot Module: Handle graph when there is only one data point"
The hot module graph is a line graph. Line graphs require at least two points to draw a line between. We are seeing a case arise when a new campaign is launched in the hot phase and there is only one day worth of reportback data. The graph doesn't plot anything because there are not two points to draw a line between.

The proposed solution is that, when there is only one point of data, adding in a

[2015-08-27 00:35] mikefantini opened #4926 "hot module not showing despite being in range"
[This campaign](http://staging.beta.dosomething.org/node/1656/edit) created by [uid 8](http://staging.beta.dosomething.org/user/8) has a high season that ends on August 27th 2015. However, on August 26th 2015 at 8:24pm EST the hot module is not showing up for me as [this new user - uid 1705230](http://staging.beta.dosomething.org/user/1705230) I just created.

For [uid 8](http://staging.beta.dosom

[2015-08-27 00:58] mikefantini opened #4927 "no approved reportbacks showing up in gallery at all"
only promoted reportbacks are showing up, no promoted are showing up at all

see http://staging.beta.dosomething.org/campaigns/hot-module

potentially related to #4924

[2015-08-27 01:13] mikefantini commented on #4643
this sounds good to me @DFurnes @sbsmith86

one other question:

is there anything we can do about the hierarchy of information?

It would be great to elevate the "800 modules hottened by August 27th? Let's make it happen." and the "DoSomething.org | Largest organization for teens.." switched if possible

I'm know we discussed this at some point, but can you remind me why we aren't going this rout

[2015-08-27 01:33] mikefantini commented on #4638
@deadlybutter this was added to the DoSomething Campaign Configuration. It needs to be added to the campaign node itself under the Custom Settings tab.

The goal of this is that a campaign lead could override the global progress copy for copy specific to that campaign, which is why it needs to be on the node itself.

Also I'm not sure if @sbsmith86 would need to do any work to have this override t

[2015-08-27 01:35] mikefantini opened #4928 "editors need access to Goal Settings group of custom settings tab on campaign nodes"
I'm fine with giving them access to all of the fields within that group

related to #4638

@angaither assigning to you to assign out

[2015-08-27 01:52] mikefantini opened #4929 "Progress Update value not reflected in hot module graph"
when I enter a value in the Progress Update field on custom settings it updates the number displayed above the graph but not the graph itself.

see [node 1283](http://staging.beta.dosomething.org/campaigns/patient-playbooks)

![image](https://cloud.githubusercontent.com/assets/6330971/9510659/7c4b8746-4c3c-11e5-8fac-a3a2751f1e53.png)

![image](https://cloud.githubusercontent.com/assets/6330971/951

[2015-08-27 01:57] mikefantini commented on #4927
hmmm actually i take it back.

that campaign is acting funny, but http://staging.beta.dosomething.org/campaigns/patient-playbooks looks good.

self assigning for now, will dig in more later

[2015-08-27 13:35] angaither commented on #4929
in [`dosomething_reportback.cron.inc`](https://github.com/DoSomething/phoenix/blob/f9d8acb18317e51ec4c06ed56071dfcc81e9cd53/lib/modules/dosomething/dosomething_reportback/dosomething_reportback.cron.inc#L24) before setting the variable it should also get the progress override and add the two together

[2015-08-27 13:47] mikefantini opened #4930 "some copy from campaign fields were wiped from production in translation deploy"
it seems like the "What You Get" section has been wiped from production

example [node 2930](https://www.dosomething.org/node/2930/edit)

[2015-08-27 13:57] sergiitk commented on #4930
This is one of translatable fields. Let's wait for the script to finish and clean cache. This may help.

[2015-08-27 13:57] mikefantini commented on #4930
got it thanks @sergii-tkachenko

[2015-08-27 13:59] sergiitk commented on #4930
Looks like it hasn't been erased from Thor, I expect this to be on same on prod: https://thor.dosomething.org/node/2930/edit

[2015-08-27 14:01] sergiitk commented on #4930
Hm, it looks like the field exists in other nodes on prod: https://www.dosomething.org/node/74/edit?destination=admin/content.
Could it be somebody removed it by an accident earlier?

[2015-08-27 14:28] mikefantini commented on #4930
i'm seeing a few fields that seem to be wiped right now @sergii-tkachenko

[node 1508](https://www.dosomething.org/node/1508/edit) is missing:
- What You Get
- Secondary Call to Action
- Time and Place

[2015-08-27 14:41] sbsmith86 commented on #4638
@mikefantini @deadlybutter as long as the variable we send to the template has the correct copy, it should be fine.

[2015-08-27 14:43] sbsmith86 commented on #4929
^^ Si, if the value gets added there, it will be reflected in the graph.

[2015-08-27 14:54] sergiitk commented on #4930
@mikefantini Script executed 100%. Yes, it looks like some fields have been lost. Don't know why yet, there was no errors during the execution. Plus, I ran it over thor db (created from prod) and it was fine...

[2015-08-27 14:55] sergiitk commented on #4930
I'll re-run the deployment procedure to make sure everything is on.

[2015-08-27 15:04] sergii-tkachenko commented on #4930
Regarding 1508: field value is in the db, figuring out why it's not displayed:

[code]

[2015-08-27 15:06] sergiitk commented on #4930
What You Get field of 1508 doesn't exist in db:

[code]

cc @sheydari-ds

[2015-08-27 15:17] mikefantini commented on #4930
sorry @sergii-tkachenko a bit confused, I expect node 1508 to have each of
- What You Get
- Secondary Call to Action
- Time and Place

which of these are you saying don't exist in the db?

[2015-08-27 15:41] namimody opened #4931 "Campaign Images Not Appearing on Campaign Collections"
![image](https://cloud.githubusercontent.com/assets/12396076/9525086/5f0508fa-4cb0-11e5-9988-4ecaff5e0aa5.png)

![image](https://cloud.githubusercontent.com/assets/12396076/9525119/8a0ff190-4cb0-11e5-875d-99e0831df635.png)

Appearing on Old School Impact, /bullying, boosomething.org

[2015-08-27 16:15] mikefantini opened #4934 "br admin and mx admin should only have access to br and mx fields"
As a brazil admin or mexico admin, I should only have access to Brazilian Portuguese fields or Mexican Spanish fields respectively (i.e. I shouldn't be able to create a campaign in the English fields nor should I be able to edit any content in the English fields).

Currently, when I go to create a campaign as a brazil admin I:
1. default am presented with English fields
2. have access to non trans

[2015-08-27 16:23] sergiitk commented on #4930
So it looks like that for **some** fields records in data database got missed. I will create a script that restores it from the last data revision. Agreed with @sheydari-ds.

[2015-08-27 16:59] mikefantini opened #4937 "add stripe zip code verification on /donate"
@deadlybutter please sync with @namimody or @sheydari-ds with any questions, but I believe you have all of the info/documentation you need on this

[2015-08-27 17:01] angaither commented on #4926
@deadlybutter can you take a look at this?

[2015-08-27 17:02] #4931 closed, assigned to sergiitk

[2015-08-27 17:03] mikefantini opened #4938 "add more copy to error message if cc doesn't go through on /donate"
can't find existing error message copy but please add to it "Having problems with donating? Please try again or email donate@dosomething.org."

@deadlybutter please post what full copy of error message would be here just to make sure it all makes sense together.

related to #4937

[2015-08-27 17:28] mikefantini opened #4939 "taxonomy collections displaying too many capaigns"
/volunteer/animals should show 9 campaigns and then with view more load in 2 rows of campaigns at a time (so 8 more at a time)

instead right now all campaign tiles are displaying

[2015-08-27 17:43] mikefantini opened #4940 "query of campaigns where high season end date is on or after August 31st 2015"
need query of campaigns where high season end date is set any time on or after August 31 2015? b/c of the way that we set up hot module, but without wanting _all_ campaigns to have it just yet we need to take high season off for any campaigns that end Aug 31 (and also end Sept 30 and Oct 31 just in case)

[2015-08-27 18:00] ghost commented on #4920
Disk space increased to 60GB.

[2015-08-27 18:00] #4920 closed, assigned to nobody

[2015-08-27 18:01] ghost commented on #4869
@sergii-tkachenko Ran this this morning. Closing.

[2015-08-27 18:01] #4869 closed, assigned to nobody

[2015-08-27 18:04] DFurnes commented on #4920
:tada: :floppy_disk:

[2015-08-27 18:05] mikefantini opened #4941 "adding win module image borks the win module"
http://staging.beta.dosomething.org/campaigns/hunt-day-1-superstressface?source=node/1165

image node is http://staging.beta.dosomething.org/node/1696

![image](https://cloud.githubusercontent.com/assets/6330971/9528794/8c1196ec-4cc4-11e5-83cf-54449c4142e4.png)

[2015-08-27 18:09] mikefantini opened #4942 "need a solution for win module w/ impact number in millions"
rare, but could happen

@lkpttn please advise. do we use a smaller font?

![image](https://cloud.githubusercontent.com/assets/6330971/9528895/232350ca-4cc5-11e5-9816-b2f3ed1bc9c7.png)

[2015-08-27 18:12] namimody commented on #4930
Campaign specific starter statement copy also seems to have disappeared from front end and back end for some campaigns:

https://www.dosomething.org/campaigns/get-lucky?source=node/1141
https://www.dosomething.org/campaigns/lead-stampede?source=campaigns

Seems to appear fine on:
https://www.dosomething.org/campaigns/birthday-mail
https://www.dosomething.org/campaigns/school-standstill?source=camp

[2015-08-27 18:16] mikefantini commented on #4918
even in some instances where all info is there, the spacing seems off.

i think the share prompt is supposed to be on the line below the campaign lead info.

see http://staging.beta.dosomething.org/campaigns/patient-playbooks?source=node/1165

when viewing full screen on my macbook air in chrome looks off:

![image](https://cloud.githubusercontent.com/assets/6330971/9528979/b177b0c8-4cc5-11e5-96d6

[2015-08-27 18:17] mikefantini commented on #4918
@sbsmith86 do you mind taking a peek when you have a sec?

not a huge rush

[2015-08-27 19:26] namimody commented on #4930
Yellow staff pick label on homepage also seems to have disappeared:

![image](https://cloud.githubusercontent.com/assets/12396076/9530808/0bd7af00-4cd0-11e5-868a-ffb427462a77.png)

[2015-08-27 19:33] mikefantini opened #4944 "staff pick label missing from homepage"
Yellow staff pick label on homepage also seems to have disappeared. happening on staging and prod.

working properly on both staging and prod on /volunteer/

also working properly when i filter campaigns on the homepage

![image](https://cloud.githubusercontent.com/assets/12396076/9530808/0bd7af00-4cd0-11e5-868a-ffb427462a77.png)

[2015-08-27 19:33] mikefantini commented on #4930
@namimody created an issue for your comment as it appears to be unrelated. #4944

[2015-08-27 19:33] sergiitk commented on #4944
Hey, already worked out the fix.

[2015-08-27 19:34] sergiitk commented on #4930
@mikefantini actually #4944 is not related.

[2015-08-27 19:37] mikefantini commented on #4944
@sergii-tkachenko - :speedboat:

[2015-08-27 19:37] #4944 closed, assigned to sergiitk

[2015-08-27 19:55] sergiitk commented on #4869
Thanks!

[2015-08-27 20:04] sergiitk opened #4946 "ds pull stage --db doesn't work"
The command fails with ssh error like this:

[code]

This happens because we replace the staging server and vagrant doesn't recognize its ssh key.

Temporary fix: log into vagrant and remove everything from  `/home/dosomething/.ssh/known_hosts`.
Permanent fix will be release the new vagrant box version.

cc @sheydari-ds

[2015-08-27 20:07] mikefantini commented on #4941
@sbsmith86 once this fix is up on staging can you and @lkpttn please review together on desktop and mobile and make sure you're both good with how everything looks on win module?

[2015-08-27 20:10] #4937 closed, assigned to itsjoekent

[2015-08-27 21:01] angaither commented on #4940
[code]

[2015-08-27 21:27] namimody opened #4948 "CSS Not Applying on Donate Module"
![image](https://cloud.githubusercontent.com/assets/12396076/9533540/bd49dca8-4ce0-11e5-8ef2-e623eb9d0916.png)

ZIP and postal code field should be shorter.

[2015-08-27 22:15] mikefantini opened #4949 "Global Admin Role"
Some of this is TBD conversation with Micah and Bladt but starting a list.

I also want us to finalize a real definition of the purpose of the Global Admin
### New requirements
- [x] Access to admin menu

---

---
##### Old requirements

Global Admin should have access to:
- [x] fields in all languages
- [x] config -> DS config -> DS campaign
- [x] publish content
- [x] publish translations
- [x]

[2015-08-28 13:22] #4929 closed, assigned to angaither

[2015-08-28 13:22] #4928 closed, assigned to angaither

[2015-08-28 13:33] itsjoekent commented on #4938
I found where the error is being set (Line #415 in payment module),

[code]

There is error messages depending on what went wrong (Italic text is the current error message),

_Your card was declined._ Having problems with donating? Please try again or email donate@dosomething.org.

_Your card's security code is incorrect._ Having problems with donating? Please try again or email donate@dosomething

[2015-08-28 13:50] mikefantini commented on #4938
@deadlybutter looks good to me. Only edit would be for the last one to read "Your zip or postal code does not match the card provided. Having problems with donating? Please try again or email donate@dosomething.org."

[2015-08-28 13:51] itsjoekent commented on #4938
Hm, I can do that but the code's gonna be a little funky since thats the copy Stripe provides in its API response

[2015-08-28 13:53] mikefantini commented on #4938
oh ok nevermind then @deadlybutter - super annoying that they provide such whack copy.

not worth doing funky code to change it

[2015-08-28 13:53] itsjoekent commented on #4938
alrighty

[2015-08-28 14:05] mikefantini opened #4951 "Brazil Admin/Mexico Admin should see edit tab on campaign view page"
As a logged in user with the Brazil Admin or Mexico Admin role when I'm on a campaign page that I created I should:
1. see the action page, not the pitch page
2. see the edit tab when viewing the action page (same as an editor role would see it)

![image](https://cloud.githubusercontent.com/assets/6330971/9547931/8bab928c-4d6b-11e5-8592-2c585b5578fb.png)

[2015-08-28 14:32] #4938 closed, assigned to itsjoekent

[2015-08-28 14:34] itsjoekent commented on #4838
all of the current ideas & things we've tried to counter this

https://trello.com/b/F6UrBLr1

[2015-08-28 14:38] namimody commented on #4838
Update: changed DONATE CTA to link to Paypal (V. Stripe modal) at 10:35 AM EST on 8.28. Will monitor PayPal backend to see if "donations" continue.

[2015-08-28 14:48] sergiitk commented on #4934
Here's few thoughts on technical implementation:
- Alter node edit form
- Check if the content type being edited is translatable. You can do this by checking corresponding `language_content_type` variable, e.g. `language_content_type_campaign`.
- Check if user editing the content is in restricted local groups (Brazilian or Mexican admin, or we can assign a common group to this users, like Regional

[2015-08-28 14:51] itsjoekent commented on #4948
Because we switched back to Paypal (https://github.com/DoSomething/phoenix/issues/4838#issuecomment-135792333) I'm going to assume this is low priority for now @mikefantini ?

[2015-08-28 14:52] mikefantini commented on #4948
yup definitely. thans @deadlybutter

[2015-08-28 14:55] itsjoekent commented on #4926
I'll see if Drupal has anyway built in way of converting time zones / getting the differences

[2015-08-28 15:08] weerd commented on #4926
Adding here for reference:
 For Campaign class ended up creating a custom helper function to deal w/ the dates in Droops that might help:

https://github.com/DoSomething/phoenix/blob/d0f9f0b20bfe6973f527ab52af984eeddc9bc373/lib/modules/dosomething/dosomething_helpers/dosomething_helpers.module#L66

[2015-08-28 15:27] mikefantini commented on #4905
@angaither these resolve issues once they appear yeah?

is the idea that we remove them so that if there are issues still remaining or new ones that pop up we're able to catch them?

or is it more just that since we think everything is fixed we no longer need these running?

[2015-08-28 15:33] angaither commented on #4905
@mikefantini yeah, I think this could be stopping us from catching issues if there are more, and hopefully we don't need them

[2015-08-28 15:40] joolaay commented on #4934
![country partner admin view v2](https://cloud.githubusercontent.com/assets/6331017/9550589/3d11b34a-4d7a-11e5-950a-3f507a3a7cda.jpg)
![country partner admin view v22](https://cloud.githubusercontent.com/assets/6331017/9550593/3d16dbe0-4d7a-11e5-8fae-e35b025d9f58.jpg)
![country partner admin view v23](https://cloud.githubusercontent.com/assets/6331017/9550590/3d12661e-4d7a-11e5-9610-365ab0fe5808.j

[2015-08-28 15:46] #4941 closed, assigned to sbsmith86

[2015-08-28 15:56] mikefantini commented on #4905
ok great let's remove that shiz @angaither

[2015-08-28 16:07] #4905 closed, assigned to mikefantini

[2015-08-28 16:15] mikefantini commented on #4934
@blisteringherb @angaither would love if you two could weigh in here as well with any thoughts

[2015-08-28 16:23] mikefantini opened #4955 "Global User Registration Emails"
When a Brazilian/Mexican user creates an account, s/he should receive a welcome to DS email in Brazilian Portuguese/Mexican Spanish.
- [x] Brazilian Portuguese user registration email
- [x] Mexican Spanish user registration email

Note: I don't think we have to add anything for the "Global English" users, because our default US English transactional email should trigger and should be good to use.

[2015-08-28 16:26] sergiitk commented on #4955
cc @sheydari-ds. How are we going to detect user county? Fastly headers?

[2015-08-28 16:40] ghost commented on #4955
@sergii-tkachenko Yes, it's going to be via Fastly Country-code headers.

[2015-08-28 16:40] angaither commented on #4934
@sergii-tkachenko your solution sounds :+1:

[2015-08-28 16:44] sergiitk commented on #4955
Ok, we can implement custom language detection strategy and just pass current language code to the templates.

[2015-08-28 16:44] deezone commented on #4955
@sergii-tkachenko Can I assume that the Fastly header / user country will be set in the Drupal user profile?

The goal is user registration and password reset transactionals use the country templates (thus language) based on the initial Fastly detected user origin.

[2015-08-28 16:45] mikefantini opened #4956 "Global Campaign Signup Transactional Email"
When a user signs up for a campaign, s/he should receive a campaign signup email in the same language as the translation of the campaign s/he signed up for. i.e. if I sign up for the Brazilian Portuguese translation of node 123, I should receive a Brazilian Portuguese campaign signup email
- [x] Brazilian Portuguese campaign signup email
- [x] Mexican Spanish campaign signup email

Also note that

[2015-08-28 16:48] deezone commented on #4955
@sergii-tkachenko @mikefantini Is there an issue to build the "custom language detection strategy" functionality into the Drupal code base? This functionality could then be referenced when generating the transactional message request for Message Broker.

[2015-08-28 16:55] sergiitk commented on #4955
I don't think so. @sheydari-ds?

[2015-08-28 16:57] ghost commented on #4955
@sergii-tkachenko @DeeZone I don't think so. We're doing detection on that header for a number of other things in Drupal anyways, so I don't see this as being a huge lift.

[2015-08-28 16:59] mikefantini opened #4957 "Global Report Back Transactional Email"
When a user reports back on a campaign, s/he should receive a report back transactional email in the same language as the translation of the campaign s/he reported back on. i.e. if I report back on the Brazilian Portuguese translation of node 123, I should receive a Brazilian Portuguese report back transactional email
- [ ] Brazilian Portuguese report back transactional email
- [ ] Mexican Spanish

[2015-08-28 17:04] mikefantini commented on #4955
@sheydari-ds do you mind creating an issue for this just to make sure all the work that's needed is documented?

[2015-08-28 17:11] mikefantini opened #4958 "Global Password Reset Emails"
When a user forgets her/his password, s/he should receive a password reset email in the same language as the version of the site s/he is viewing. i.e. if I am located in Brazil, I should receive the Brazilian Portuguese reset password email.
- [x] Brazilian Portuguese password reset email
- [x] Mexican Spanish password reset email

Note: I don't think we have to add anything for the "Global Englis

[2015-08-28 17:11] ghost opened #4959 "Ensure Unified Drupal Detection Mechanism for All Fastly Countries Codes"

[2015-08-28 17:11] ghost commented on #4955
@mikefantini Referenced here: https://github.com/DoSomething/phoenix/issues/4959

[2015-08-28 17:35] #4918 closed, assigned to sbsmith86

[2015-08-28 17:45] #4946 closed, assigned to nobody

[2015-08-28 18:09] mikefantini commented on #4828
we just got a new one @angaither @sheydari-ds

![image](https://cloud.githubusercontent.com/assets/6330971/9553635/5c971868-4d8e-11e5-9921-ea190268d3ec.png)

[2015-08-28 18:23] mikefantini commented on #4930
it looks like https://www.dosomething.org/node/3501/edit had all of it's content wiped too. Sam says that she saw it all there on tuesday.

[2015-08-28 18:23] mikefantini commented on #4930
@sergii-tkachenko @sheydari-ds

[2015-08-28 18:41] mikefantini commented on #4930
@sergii-tkachenko another example https://www.dosomething.org/node/1536/edit

I think it might be any campaigns that were unpublished did not get updated in your last fix for this.

[2015-08-28 19:26] #4940 closed, assigned to angaither

[2015-08-28 19:47] sergiitk commented on #4930
@mikefantini I found easy way to fix this. When you see such campaign, just click `Translate` tab, then `Edit` again. Missing fields will be restored automatically: https://www.dosomething.org/node/1536/edit

[2015-08-28 19:50] sergiitk commented on #4930
It looks like the translation module didn't create translations for unpublished nodes. It does it automatically on the `Translate` tab.

[2015-08-28 19:50] #4930 closed, assigned to sergiitk

[2015-08-28 19:54] mikefantini commented on #4930
hmm ok thanks @sergii-tkachenko

[2015-08-28 20:09] sergiitk opened #4961 "PHP Fatal error: Call to undefined function dosomething_helplers_get_variable()"
Looks like #4932 introduced a fatal error to cron.
https://github.com/DoSomething/phoenix/pull/4932/files#diff-2d1b303ca6382c39cae8107a1095602eR24

`dosomething_helplers_get_variable()` has a typo in `helplers`.

cc @mikefantini @sheydari-ds

[2015-08-28 22:39] deezone commented on #4959
Country Code value for the current user needs to be available to `dosomething_mbp.module` here: https://github.com/DoSomething/phoenix/blob/dev/lib/modules/dosomething/dosomething_mbp/dosomething_mbp.module#L218-L233

Currently `dosomething_settings_get_affiliate_country_code()` takes care of defining the value.

[2015-08-28 22:43] deezone commented on #4957
@mikefantini @blisteringherb Is QB on the campaign signup and reportback transactions. Assigning this issue to him.

[2015-08-28 22:53] deezone opened #4962 "User language in registration / password reset transactional message payload"
When a transactional message request is sent to Message Broker the user language preference needs to be included in the request payload. The user language preference / country code is defined by user location (Fastly) at time of registration and saved in the user profile.
- [x] User Registration
- [x] Password Reset Request

The user transactionals need to be sent using the language template defin

[2015-08-28 23:23] deezone commented on #4958
Related Trello card on Message Broker board: https://trello.com/c/HT3AuNGA

[2015-08-30 21:54] namimody opened #4964 "Time Off on Hot Module Countdown"
![image](https://cloud.githubusercontent.com/assets/12396076/9569674/f1fa68a8-4f3f-11e5-8081-e8533cb0492d.png)

At 5:52 PM EST on Aug 30, the hot module showed 2 hours left, when the back end is set for the campaign to end on Aug 31. (In UTC, it is still only 9:52 PM EST on Aug 30 -- not sure where time is being counted from.)

[2015-08-31 13:35] angaither commented on #4964
@namimody I think this might be a duplicate of #4926 which @deadlybutter fixed on friday, but we haven't deployed yet

[2015-08-31 13:47] #4961 closed, assigned to angaither

[2015-08-31 14:12] DFurnes commented on #4417
Follow-up on this from an offline discussion the other day –– this may be something that's worth revisiting if/when we refactor our Drupal login system to use Northstar (instead of Dr00p's stock authentication).

[2015-08-31 14:16] namimody commented on #4964
Thanks for the update @angaither!

[2015-08-31 14:23] #4964 closed, assigned to mikefantini

[2015-08-31 14:37] mikefantini opened #4966 "meta data on campaign nodes need to be translated w/ a default"
- Page Title
- Description
- Abstract
- Keywords
- Twitter Card Title
- Twitter Card Description
- Google News Keywords

Brazil Admin and Mexico Admin should not have access to these, but we need to make sure we're pulling in the corresponding fields and using translated defaults.

i.e. instead of the description being "Volunteer and take action! [node:field_call_to_action]" for a mexican version

[2015-08-31 14:51] itsjoekent commented on #4838
update

https://dosomething.slack.com/archives/donate/p1441029627000012

[2015-08-31 14:53] itsjoekent commented on #4638
@mikefantini ah gotcha, Ill change to be Node based!

[2015-08-31 15:32] #4638 closed, assigned to itsjoekent

[2015-08-31 16:17] mikefantini opened #4968 "need BR, MX, and Global versions of homepage"
we decided we're going to be translating the home content type just like we did with campaign content types.

---

Would include the 9 campaigns we want featured to BR, MX, and global users + majority of copy needs to be in appropriate language.

I think it makes most sense to give Brazil Admin, Mexico Admin, and Global Admin access to create/edit a home node and then just serve up the appropriate

[2015-08-31 17:13] blisteringherb opened #4969 "Remove language from search snippet"
When apachesolr indexes the nodes it uses the 'search_index' node view to which language links are added. This causes the wrong language to be added to the beginning of the search snippet. No language should be added to the node content/snippet.

[2015-08-31 17:45] itsjoekent commented on #4879
_okay_ I figured out why this is happening. Since I broke the logic out in  https://github.com/DoSomething/phoenix/pull/4909 it was much easier to debug this.

(Doing same test case as above)

I added this bit of debug logic to setFlaggedPromoted

[code]

and got the following output

[code]

This means that the reportback item is still marked as flagged when the call to review the reportback is m

[2015-08-31 17:49] itsjoekent commented on #4879
Adding the entity save before the call to setFlaggedPromoted resolved the issue,

[code]

new output from the test logic is correct

[code]

and verified in DB

<img width="954" alt="screen shot 2015-08-31 at 1 47 15 pm" src="https://cloud.githubusercontent.com/assets/897368/9585805/071ce5a6-4fe7-11e5-83ce-e24839fe7a5a.png">

cleaning up and making PR

[2015-08-31 18:00] blisteringherb commented on #4826
This is no longer necessary.

[2015-08-31 18:00] #4826 closed, assigned to blisteringherb

[2015-08-31 18:13] #4880 closed, assigned to itsjoekent

[2015-08-31 18:13] #4908 closed, assigned to itsjoekent

[2015-08-31 18:33] blisteringherb opened #4973 "Adding a translated title overwrites original language title"
When adding a new translation and title or when modifying the title of an existing translation, the title of the original translation is overwritten with the translation when the node/translation is published. The original language title can be fixed, but it will be overwritten again any time a new translation and title are added or when an existing translation title is modified.

This seems to on

[2015-08-31 19:02] blisteringherb commented on #4934
I'm wondering if a simpler solution might be to hide the 'Translate' tab, and then only allow users to see the translation that applies to them on the node edit page. I'm thinking that putting in a hook_menu_alter for node/%/edit that triggers the add translation chain if the allowed translation hasn't yet been created for that node and if it already exists it will send the user to node/%/edit/es-

[2015-08-31 19:19] mikefantini commented on #4934
@blisteringherb - thanks for the comments!

The way the Brazil/Mexico Admin roles are structured right now are that these editors can only edit their own content, not edit content another user created. But given that we may need to change this permission moving forward, this solution would make me feel more comfortable with that because the bottom line is that we only want a Brazilian Admin intera

[2015-08-31 20:28] #4879 closed, assigned to itsjoekent

[2015-08-31 21:13] #4643 closed, assigned to DFurnes

[2015-08-31 22:14] namimody commented on #4926
Hey guys, not sure if I'm missing something but here is what I am seeing around 6 PM EST on 8.31. I believe I should be seeing about 6 hours left?
![image](https://cloud.githubusercontent.com/assets/12396076/9591752/94bcd55a-500b-11e5-8cee-81e0cebaf3c7.png)

[2015-08-31 22:22] itsjoekent commented on #4926
:rage: :tableflip: I'll look again tomorrow first thing, I dont understand why timing logic gives us so many problems

[2015-08-31 22:45] namimody opened #4975 "Photo Not Appearing with RB"
![image](https://cloud.githubusercontent.com/assets/12396076/9860031/9d45a80e-5af7-11e5-8d2b-2a3ba1bfba04.png)

Backend looks like photo has been deleted, user profile shows black DS logo where RB photo should be shown. According to user through ZD (https://dosomethingorg1.zendesk.com/agent/tickets/88207), she submitted her RB and got 404'd and upon returning to the campaign page sees her response

[2015-09-01 13:39] itsjoekent commented on #4926
weee this is interesting, hot module is off and win module is displaying now, and it's not been 21 hours since you posted that

https://www.dosomething.org/campaigns/lead-stampede?source=node/1141

[2015-09-01 13:59] angaither opened #4976 "win module reportback image"
the win module is showing a random reportback image, but it isn't from that campaign.

it should be a random reportback image from the campaign that was hot

[2015-09-01 14:00] itsjoekent commented on #4976
[code]

from the win module preprocess, don't see anything wrong at a glance. Maybe campaigns should be campaign, or the vars[nid] should be encased in an array?

[2015-09-01 14:53] weerd opened #4977 "URI property in Reportback response object broke and only outputting ".json""
Figure out how it broke and fix it!

[2015-09-01 15:02] itsjoekent commented on #4976
apparently 'campaigns' is supposed to be nid

shamelessly inserting suggestion we need another documentation day

[2015-09-01 15:02] weerd commented on #4976
hehe :book:

[2015-09-01 15:34] DFurnes commented on #4643
Live on staging! See example share from the [test campaign](http://staging.beta.dosomething.org/campaigns/test-campaign?source=node/1165):

![screen shot 2015-09-01 at 11 34 14 am](https://cloud.githubusercontent.com/assets/583202/9608624/68980c00-509d-11e5-8fa4-cdfb48bea41c.png)

[2015-09-01 17:53] mshmsh5000 opened #4980 "Create & maintain a changelog"
We need a public, easily-scannable history of changes and releases.

Try the [GitHub Changelog Generator](https://github.com/skywinder/github-changelog-generator) or a similar project for automatic CHANGELOG.md creation.

[2015-09-01 17:55] itsjoekent commented on #4980
This is something Vision could do, https://github.com/DoSomething/vision -- sergii suggested doing this when I first presented the project https://github.com/DoSomething/vision/issues/2

[2015-09-01 18:01] mshmsh5000 commented on #4980
That's a great idea! [The current PR for this issue](https://github.com/DoSomething/phoenix/pull/4981) uses that generator gem, and I think is sufficient for now.

[2015-09-01 18:03] itsjoekent commented on #4980
for generation its probably better to use that, the solution I was going to build would just live on the vision site and wouldn't create an actual file.

[2015-09-01 18:55] mikefantini commented on #4976
on http://staging.beta.dosomething.org/campaigns/hunt-day-2-trash-scavenger-hunt?source=node/1165 which would show the win module I get the following error

![image](https://cloud.githubusercontent.com/assets/6330971/9613469/8a5b033a-50b9-11e5-866a-434235622a72.png)

[2015-09-01 19:02] itsjoekent commented on #4976
yeah theres no promoted report backs
http://staging.beta.dosomething.org/node/1286/rb/reviewed?status=2&flagged_reason=All&promoted_reason=All

Ill add a safety check but on prod I dont think we will really ever have this

[2015-09-01 19:40] mikefantini commented on #4934
related issue: #4835

[2015-09-01 20:13] angaither opened #4982 "sms campaigns attempt to display hot module"
in `dosomething_campaign_preprocess_node` it’s checking if it’s hot before it’s checking if it’s an sms campaign. the checks for `is_hot` and `is_win` should probably be at the end of the preprocess (along with `preprocess_common_vars`

[2015-09-01 20:13] mikefantini commented on #4934
one thing that should be done here is that on /admin/config/regional/entity_translation:
- [ ] default language should be set to "Author language"
- [ ] hide language selector should be selected
- [ ] exclude language neutral from the available languages should be selected

basically it should look like this:

![image](https://cloud.githubusercontent.com/assets/6330971/9615147/623f33b6-50c4-11e5-9

[2015-09-01 21:07] angaither opened #4986 "Allow for mobile only campaigns"
Some campaigns are only going to be displayed in the mobile app and not in the web app at all.
The easiest solution is to leave campaigns unpublished, and return unpublished campaigns with the `on_mobile_app` field checked via the api.

Things to check for unpublished campaigns
- [x] users can signup
- [x] users can reportback
- [x] kudos work

[2015-09-01 21:11] #4976 closed, assigned to itsjoekent

[2015-09-01 22:14] mikefantini commented on #4797
yeah just to document on the issue as well, chatted w/ some campaigns folks about this and we're going to stick with what we've got:
- approve not pre-selected
- status required

we'll continue to monitor with them and readdress if this is slowing them down too much moving forward

[2015-09-02 13:35] namimody commented on #4866
Hey @DFurnes! For some reason, this code snippet isn't acting as it did on Bully Text. Could we sync on this when you have a chance this morning? Thanks!!

[2015-09-02 14:07] #4926 closed, assigned to itsjoekent

[2015-09-02 14:35] namimody opened #4987 "Adjust Sharing Button Alignment on Win Module"
![image](https://cloud.githubusercontent.com/assets/12396076/9634069/08ee8d4e-515e-11e5-8415-694600bfe82e.png)

![image](https://cloud.githubusercontent.com/assets/12396076/9634100/37e888f2-515e-11e5-854f-413abb5864cb.png)

![image](https://cloud.githubusercontent.com/assets/12396076/9634107/3d84ca5a-515e-11e5-98ed-4f38dc3c7c25.png)

Seems that because of the varying length of the job titles, shar

[2015-09-02 14:53] mikefantini opened #4988 "pull out copy that is currently hardcoded"
@julielorch @mnelson338 are currently working on a draft of this list.

Includes everything from "Step One: Know It" on the campaign page to "Log In" button on authentication modal

this should all be put into the DoSomething Configuration -> Do Something Campaign

[2015-09-02 14:56] mikefantini opened #4989 "Make DS Campaign Config translatable"
need to make all copy that's in DoSomething Configuration -> DoSomething Campaign translatable

related to #4988

[2015-09-02 15:01] angaither commented on #4902
add entity connect permissions for br/mex admins `Allows users to see add button`

[2015-09-02 15:07] angaither commented on #4989
we might need to turn on `variable_translate` and hook into that for dosomething helpers config variables.

we also might want to create custom forms per language we are translating to (depending who is doing the translation)

[2015-09-02 15:15] DFurnes commented on #4988
Out of curiosity, why not just handle this with built-in translation via `t()`?

[2015-09-02 15:17] mshmsh5000 commented on #4988
@DFurnes +1, that's what @sergii-tkachenko did in our first translation pass for Congo and Indonesia. This would be the [POTX method](https://www.drupal.org/project/potx) of extracting translatable phrases into a translation template.

[2015-09-02 15:23] mikefantini commented on #4988
@DFurnes @mshmsh5000 - do you know why there is still so much English on indonesia.dosomething.org? is it that we just didn't add in the proper translation in these instances or did this method miss things?

i.e. Log In in header, authentication modal, tos and privacy policy, campaign "footer" on pitch page, headers on action page

[2015-09-02 15:27] namimody opened #4990 "Clarify Fields on SMS Game Backend"
![image](https://cloud.githubusercontent.com/assets/12396076/9635569/1651224c-5165-11e5-994a-1e878c5aec17.png)

The field labels on the opt-in paths under configuration > dosomething config > third party opt ins > sms games are unclear, and have resulted in the wrong fields being filled out for multiplayer v. single player games.

[2015-09-02 15:28] mikefantini opened #4992 "make static content fields translatable"
all static content fields _except_ for the following need to be translatable:
- hero image
- video provider
- video ID
- blocks

everything else though on static content should be translatable

[2015-09-02 15:30] DFurnes commented on #4990
Discussed this with my good friends @namimody and @tongxiang, and we're just going to throw an error if all four fields are filled in on an SMS game (rather than silently accepting the single player config and ignoring the other two fields).

[2015-09-02 15:32] mikefantini opened #4993 "make Not Found in DS config translatable"
`/admin/config/dosomething/dosomething_notfound`

configured in the `dosomething_notfound.admin.inc`
should be translatable with the `variable_translate` module

[2015-09-02 15:38] #4990 closed, assigned to DFurnes

[2015-09-02 15:47] DFurnes commented on #4988
There's probably some extra work (a la #4989) for things that we are exposing from the admin interface, but anything that's "hard-coded" should be translatable via the built-in translation interface. I just did a quick check and "Step One: Know It", "Log In", TOS & Privacy policy footer and links, and the campaign footer should all be translatable already.

[2015-09-02 15:48] mikefantini opened #4994 "make DoSomething Search config translatable"
`/admin/config/dosomething/dosomething_search`

configured in the `dosomething_search.admin.inc`
should be translatable with the `variable_translate` module

[2015-09-02 15:57] angaither commented on #4988
Soooo, there's an admin interface to translate things passed through `t()` (new news to me)
but it's v overwhelming.
check this out on Indonesia there's 198 pages of strings to translate.

`https://indonesia.dosomething.org/admin/config/regional/translate/translate/admin/config/regional/translate/translate`

we can use `t()` but I think we will need to do some work on that page before exposing to

[2015-09-02 15:58] mikefantini opened #4995 "make fields in Do Something Settings config translatable"
`/admin/config/dosomething/dosomething_settings`

configured in the `dosomething_settings.admin.inc`
should be translatable with the `variable_translate` module

[2015-09-02 16:06] chloealee opened #4996 "Test User Deduplication Script"
Spin up a duplicate of prod and test script to make sure it runs correctly.

Code available here: https://github.com/DoSomething/northstar/pull/194/files

[2015-09-02 16:10] mshmsh5000 commented on #4988
Here's [a sample POT extraction](https://gist.github.com/mshmsh5000/a59a40b0acfa12f5e86c) from the Paraneue theme files. I think breaking this out by component should provide a better method of tackling the work.

[2015-09-02 16:11] mshmsh5000 commented on #4988
@mikefantini re: [incomplete Indonesian translation](https://github.com/DoSomething/phoenix/issues/4988#issuecomment-137128847), I think we just didn't complete all of the interface translation.

[2015-09-02 16:20] mikefantini commented on #4988
@mshmsh5000 thanks!

can you just clarify if this list is everything that should be hardcoded on US prod?

because one thing we can do is run through this and see if there is copy that we think is missing from this list

[2015-09-02 16:22] mikefantini opened #4997 "make DoSomething User in DS config translatable"
`/admin/config/dosomething/dosomething_user`

configured in the `dosomething_user.admin.inc`
should be translatable with the `variable_translate` module

not all fields need translating though, more detail needed before work is picked up.

[2015-09-02 16:25] angaither opened #4998 "problem share copy not in t()"
[this copy](https://github.com/DoSomething/phoenix/blob/4934d70f3d69508146c4fb7cb9abdf77b25b4594/lib/modules/dosomething/dosomething_campaign/dosomething_campaign.theme.inc#L142) should be wrapped should be in the t function

@mikefantini found this by searching from the [sample list of things to translate](https://github.com/DoSomething/phoenix/issues/4988#issuecomment-137147053)

[2015-09-02 16:25] #4982 closed, assigned to angaither

[2015-09-02 16:49] blisteringherb opened #4999 "Set default language for brazil and mexico admin"
When a user is created with the role of "Brazil admin" or "Mexico admin" set the default language for the user to pt-br and mx-es respectively.

[2015-09-02 16:53] blisteringherb opened #5000 "Set language detection to honor user's language preference"
At admin/config/regional/language/configure, you can enable which type of language detection is enabled and change the weight for which detection gets priority. The user's language preference in their settings should take precedence for both interface and content translation. The variables to export are `locale_language_providers_weight_language` and `locale_language_providers_weight_language`.

[2015-09-02 17:01] mshmsh5000 commented on #4988
It's worth a manual double-check, yes. But one of the benefits of our v1 translation effort should be that this is a complete or nearly complete set of UI strings.

We need to do the same for our custom modules.

[2015-09-02 17:08] mikefantini opened #5001 "create socks proxy in Brazil"

[2015-09-02 17:19] mikefantini opened #5002 "get campaigns translated in thor so we can test different content in different language"
let's sketch this out before we pick up this work

[2015-09-02 17:42] mikefantini opened #5005 "look into mgage API tracking and pulling user data"

[2015-09-02 17:52] mikefantini opened #5006 "figure out canonical URL strategy for fact pages"
if we have en-us.dosomething.org/facts/11-facts-about-giraffes we need to make sure google knows to hit this page

[2015-09-02 18:01] sbsmith86 commented on #4942
@lkpttn @mikefantini Did we make a decision on how to handle this situation? I can't remember.

[2015-09-02 18:25] mikefantini opened #5008 "figure out how to proxy Mexico and Non-US/BR/MX user experience"
related to #5001
- [ ] Mexico user
- [ ] non-US/BR/MX user

[2015-09-02 20:09] angaither commented on #4934
@mikefantini @blisteringherb I actually don't see those config options in the strongarm variables to export... in the db i see one setting for each node types eg `entity_translation_settings_node__campaign`

but (maybe I'm being dense) it doesn't look like it's exportable??

@mikefantini that means it won't get overriden when we deploy, but we should probably still figure out a way to capture/expo

[2015-09-02 20:14] #4998 closed, assigned to sbsmith86

[2015-09-02 20:17] mikefantini commented on #4934
got it thanks @angaither. mind creating an issue for that?

[2015-09-02 20:20] mikefantini commented on #4934
also @angaither do you want me to make sure prod/thor are configured like this then?

[2015-09-02 20:23] angaither opened #5010 "global tranlastion campaign content setting -> features"
export campaign translation settings to features
`entity_translation_settings_node__campaign`

on `/admin/config/regional/entity_translation`:
- [ ] default language should be set to "Author language"
- [ ] hide language selector should be selected
- [ ] exclude language neutral from the available languages should be selected

those should be checked and exported via `dosomething_global` feature
b

[2015-09-02 20:23] blisteringherb commented on #4934
@angaither You're right, I don't see it in the possible Strongarm exports from Features, but I'm wondering if you manually set up the strongarm export if it will work.

[2015-09-02 20:31] #4977 closed, assigned to weerd

[2015-09-02 20:42] namimody opened #5011 "Static Image on Win Module Update: Spacing and New Image"
Hi @sbsmith86! Per our conversation in Slack re: the centering of text in the win module -- I was talking to Julie about it and she noted that it seems there is an extra space in the code to place the static image -- there is more space between the header image and the static win image than there is between the image and the campaign lead's speech bubble -- which is contributing to the text in the

[2015-09-03 13:57] #5010 closed, assigned to nobody

[2015-09-03 14:05] #4987 closed, assigned to sbsmith86

[2015-09-03 14:44] itsjoekent commented on #4934
PR to fix this was merged https://github.com/DoSomething/phoenix/issues/5004 but keeping open until its verified on Thor

[2015-09-03 15:19] weerd opened #5013 "PHP Warning: array_flip bug in API"
Keep getting a warning in PHP related to an incorrect parameter being passed to `array_flip()` function in entity controller.

[2015-09-03 15:33] DFurnes commented on #4417
References #1289.

[2015-09-03 15:34] DFurnes commented on #1024
This was spruced up when we cleaned up the default page templates. Closing.

[2015-09-03 15:34] #1024 closed, assigned to nobody

[2015-09-03 15:35] DFurnes commented on #1859
Closing this, since it won't likely happen until a redesign of the navigation pattern.

[2015-09-03 15:35] #1859 closed, assigned to weerd

[2015-09-03 15:40] DFurnes commented on #2244
This doesn't seem to be an issue any longer.

[2015-09-03 15:40] #2244 closed, assigned to nobody

[2015-09-03 15:40] #2456 closed, assigned to nobody

[2015-09-03 15:40] weerd opened #5015 "Language related bug on Home page"
Keep getting this PHP notice popping up in logs:

[code]

Likely to do with language/translation stuffs.

[2015-09-03 15:41] #2747 closed, assigned to nobody

[2015-09-03 15:42] DFurnes commented on #3569
This was done in #4710.

[2015-09-03 15:42] #3569 closed, assigned to weerd

[2015-09-03 15:43] DFurnes commented on #3618
This was fixed when we updated the Figure pattern a while back.

[2015-09-03 15:43] #3618 closed, assigned to nobody

[2015-09-03 15:45] DFurnes commented on #2172
This was fixed in #2169. Closing.

[2015-09-03 15:45] #2172 closed, assigned to weerd

[2015-09-03 15:49] #5013 closed, assigned to weerd

[2015-09-03 16:02] weerd commented on #2747
Agreed! :dancer:

[2015-09-03 16:17] weerd commented on #4395
I believe this is was completed.

[2015-09-03 16:17] #4395 closed, assigned to weerd

[2015-09-03 16:40] #4902 closed, assigned to itsjoekent

[2015-09-03 16:42] itsjoekent commented on #4949
@mikefantini Is this still being decided on or can I start workin on this?

[2015-09-03 16:45] mikefantini commented on #4949
@deadlybutter this can be worked on, it's just an incomplete list, so please just mark off boxes rather than closing the issue

[2015-09-03 16:46] itsjoekent commented on #4949
sure thing, ill also make sure the PR says not to merge until you tell me the list is complete

[2015-09-03 16:46] mikefantini commented on #4949
@deadlybutter i believe we can merge it, we may just need to add permissions in the future

[2015-09-03 16:47] itsjoekent commented on #4949
gotcha

[2015-09-03 16:47] #4939 closed, assigned to nobody

[2015-09-03 16:47] weerd opened #5019 "Drupal Admin menu keeps disappearing"
You can clear the cache and see it again, but only for that one cleared-cache load and then it reappears.

Might be related to the gzipping... see following links:

http://stackoverflow.com/a/14040312

http://drupal.stackexchange.com/a/35075

---

@angaither @blisteringherb @DFurnes

[2015-09-03 16:48] DFurnes commented on #5019
This happens to me all the time on my local dev.

[2015-09-03 17:33] mikefantini opened #5020 "BR/MX admin need to to be able to edit content not created by them"
We'll need to add these permissions to BR/MX admin roles:
- [ ] Campaign: Edit any content
- [ ] Static content: Edit any content

keep in mind though, that Brazil admins should only have access to Brazilian Portuguese fields and Mexico admins should only have access to Mexican Spanish fields from @blisteringherb's [comment](https://github.com/DoSomething/phoenix/issues/4934#issuecomment-136467741

[2015-09-03 17:44] DFurnes commented on #4579
This seems to be an Internet Explorer bug, and probably not worth fixing. It works properly in Edge:

<img width="1275" alt="screen shot 2015-09-03 at 1 43 59 pm" src="https://cloud.githubusercontent.com/assets/583202/9666054/d9563598-5241-11e5-8d22-798e97705128.png">

[2015-09-03 18:14] mikefantini opened #5022 "translate certain types of nodes or create new ones?"
this kind of makes my head hurt and is maybe overthinking it on some of these but here we go..

types of nodes that i have questions on (ranked in order of what I think matters):
- homepage
- not found
- facts
- images

homepage:

per #4968:
- I think it makes most sense to give Brazil Admin, Mexico Admin, and Global Admin access to create a home node and then just serve up the appropriate homepag

[2015-09-03 18:45] mikefantini commented on #4828
another one reported @sheydari-ds @angaither

![image](https://cloud.githubusercontent.com/assets/6330971/9667562/760f5db2-524a-11e5-9a49-75c028e9e1bf.png)

[2015-09-03 18:54] mikefantini commented on #4934
@deadlybutter meta tags and revision information should be hidden as well for Brazil admin and Mexico admin
![image](https://cloud.githubusercontent.com/assets/6330971/9667721/88fd6f3a-524b-11e5-976b-711feeb53ea0.png)

[2015-09-03 21:57] mikefantini opened #5023 "illegal choice detected on inbox occurring with inbox >25"
which contradicts the summary [here](https://github.com/DoSomething/phoenix/pull/4858#issuecomment-132351644)

the offending nid: 2805

![image](https://cloud.githubusercontent.com/assets/6330971/9672024/193d84cc-5265-11e5-9ece-523958ecc59a.png)

cc: @weerd @deadlybutter

[2015-09-04 02:13] mshmsh5000 commented on #4988
I've done a test integration of [POEditor](https://poeditor.com/) and Phoenix, enabled BR and MX, and invited a few of you as contributors.

![poeditor](https://cloud.githubusercontent.com/assets/149811/9675229/c1adaf2e-5288-11e5-8853-046d2d7933a2.png)

One obvious pro is that this auto-extracts all 3200+ translatable terms from the platform.

One obvious con is that this is everything from the en

[2015-09-04 13:46] angaither commented on #4934
@deadlybutter in permissions

[2015-09-04 13:50] angaither opened #5024 "Langauge index errors on dosomething_campaign"
`Notice: Undefined index: und in dosomething_campaign_get_hot_time_left() (line 622 of /var/www/dev.dosomething.org/lib/modules/dosomething/dosomething_campaign/dosomething_campaign.helpers.inc).`

[2015-09-04 13:51] itsjoekent commented on #4934
The meta-tag permission worked fine but the revisions aren't going down as easy

<img width="1351" alt="screen shot 2015-09-04 at 9 51 01 am" src="https://cloud.githubusercontent.com/assets/897368/9685179/91d19de4-52ea-11e5-8862-be7a6b4546a8.png">

[2015-09-04 13:53] angaither commented on #5015
this is caused if there's no cover image and it's on the campaign node
not likely going to happen in prod, but defense! :football:

[2015-09-04 14:58] angaither commented on #5024
also seeing
`Notice: Undefined index: 0 in dosomething_campaign_is_hot_module()`

[2015-09-04 14:58] angaither commented on #5024
`Notice: Undefined index: und in dosomething_campaign_run_preprocess_winners() (line 133 of /var/www/dev.dosomething.org/lib/modules/dosomething/dosomething_campaign_run/dosomething_campaign_run.module).`

[2015-09-04 14:59] angaither commented on #5024
`Notice: Undefined index: und in dosomething_campaign_run_preprocess_klout_gallery() (line 153 of /var/www/dev.dosomething.org/lib/modules/dosomething/dosomething_campaign_run/dosomething_campaign_run.module).`

[2015-09-04 15:04] itsjoekent commented on #5024
I can look at the hot module stuff, might be related to recent changes I made

[2015-09-04 15:08] ghost commented on #4914
Server setup.

[2015-09-04 15:08] #4914 closed, assigned to nobody

[2015-09-04 15:09] ghost commented on #4915
Server setup and running.

[2015-09-04 15:09] #4915 closed, assigned to nobody

[2015-09-04 15:22] namimody opened #5026 "ZenDesk Tickets Not Going Through SIte"
![image](https://cloud.githubusercontent.com/assets/12396076/9687364/0c22001e-52f7-11e5-861b-0cdac2040c01.png)

Myself, Hannah, and at least one other member got this error message when trying to submit a help ticket via the Contact Us link at the bottom of the site. The questions do not go through to ZD.

[2015-09-04 15:31] blisteringherb commented on #5002
I've written a module, dosomething_auto_translate that uses the google translate API to translate campaign nodes. I've run it on Thor with some success, and if you change your language preferences you should see search results in your language.

[2015-09-04 15:38] blisteringherb commented on #5000
I've set this up in Thor for testing.

[2015-09-04 15:43] blisteringherb commented on #4885
For this functionality to work properly before we create Fastly driven language-detection, the language detection settings in Drupal have to be set to respect a user's language choice.  The user must also then select a default language choice. After that, when a user searches for content, they should see content listed in their preferred language, and if there is no content, the suggested content

[2015-09-04 15:44] weerd opened #5027 "Add new option for "Mobile" Campaign"
References #4986

[2015-09-04 16:23] DFurnes commented on #5026
Can verify that these are broken on production. Frustratingly, the same settings (subdomain, account email & API key) work fine when testing on my local. Continuing to investigate. :mag:

[2015-09-04 16:29] DFurnes commented on #5026
Creating a new API key seems to have cleared things up.

[2015-09-04 16:38] DFurnes commented on #5026
Closing this since the issue seems to have been solved, but we should keep an eye on things. :eyes:

[2015-09-04 16:38] #5026 closed, assigned to DFurnes

[2015-09-04 16:49] angaither opened #5028 "closed campaign undefinded index errors"
`Notice: Undefined index: und in dosomething_campaign_run_preprocess_winners() (line 133 of /var/www/dev.dosomething.org/lib/modules/dosomething/dosomething_campaign_run/dosomething_campaign_run.module).`

`Notice: Undefined index: und in dosomething_campaign_run_preprocess_klout_gallery() (line 153 of /var/www/dev.dosomething.org/lib/modules/dosomething/dosomething_campaign_run/dosomething_campai

[2015-09-04 17:08] namimody opened #5031 "MCC Campaigns lose member photo"
Seems that some MCC campaigns have creators without photos now (at one point, they had a photo). Would be great to pull a SQL query of all campaigns with a member listed in the "Created By" field and correlate that with if there is an image in their profile. The CSV should have: campaign node ID, campaign title, content in "created by" field," that corresponding member's UID, whether or not there

[2015-09-04 17:18] weerd commented on #4986
So I think there are going to be some inherent issues with doing some hacky code to make these work w/ the whole `unpublished` approach, and users being able to sign up for it. There's core drupal access stuff that I'm concerned is going to be a major hassle to hack around to make it work :\

[2015-09-04 17:24] weerd commented on #5027
No longer needed.

[2015-09-04 17:24] #5027 closed, assigned to weerd

[2015-09-04 17:40] weerd commented on #4986
@angaither @jonuy I'm adding steps below for how to think about approaching this and would appreciate feedback!

1) mobile app user signs into mobile app
- authentication via Northstar API

2) mobile app user clicks to view mobile only campaign
- request to Drupal API to obtain `unpublished/on_mobile_app` campaign data

3) mobile app user signs up for mobile only campaign
- request to Northstar AP

[2015-09-04 17:44] namimody opened #5032 "Ryan's Playbooks and Suspended for WHAT?: Advocate Missing Majority of Content"
For some reason, https://www.dosomething.org/campaigns/suspended-what-advocate and https://www.dosomething.org/campaigns/ryans-playbooks are missing the majority of content.

Need to revert to a previous revision for these two, determine if this is happening on any other campaigns, and if so, why it happened.

[2015-09-04 17:51] namimody opened #5033 "Monitoring ZenDesk Functionality on Production"
As per https://github.com/DoSomething/phoenix/issues/5026, ZD tickets were once again not going through site via the Contact Us link at the bottom of the campaign pages. This was fixed quickly by creating a new API key, but should not have happened in the first place. Additionally, the error was only occurring on prod, not local or staging environments. How can we monitor this functionality on pro

[2015-09-04 17:52] namimody commented on #5026
Created a discussion issue to figure out how to monitor this on prod so it doesn't happen again: https://github.com/DoSomething/phoenix/issues/5033

[2015-09-04 17:58] namimody opened #5034 "Changing Name of Existing Campaign Resulted in Redirect Loop Error"
Shower Songs (node 3059) was changed to Shower with Beyonce for a stunt on 9/4. The campaign name, CTA, photo, and some content was changed, and the campaign was highlighted on the homepage, but clicking on it intermittently caused:

![image](https://cloud.githubusercontent.com/assets/12396076/9690814/a72baf96-530c-11e5-9f6b-c312ea71e353.png)

OR (see second banner notification)

![image](https://

[2015-09-04 18:11] mshmsh5000 commented on #5034
Drupal is sometimes overly clever when you update a content title -- it updates the URL based on the title, and then creates a redirect from the old URL to the new URL.

The problem we had in the past was update a campaign title would (a) update the campaign URL, and (b) create a redirect from the old URL to the new one. Manually created redirects would sometimes cause a redirect loop by redirecti

[2015-09-08 14:02] #4934 closed, assigned to itsjoekent

[2015-09-08 14:07] DFurnes commented on #5033
We should attach StatHat monitoring on any errors during the Zendesk ticket process if we don't already have it, and trigger alerts if any of those occur.

[2015-09-08 14:08] angaither commented on #4986
@weerd sounds good, and I think we will be ok with unpublished content since the singup/reportback function isn't in drupal core and doesn't care about the status of the node.

The only other thing is step 4 can be to the [northstar api](https://github.com/DoSomething/northstar/wiki/Spec#submitting-a-campaign-report-back)

[2015-09-08 14:22] angaither commented on #4951
@deadlybutter mind knocking this one out?
the action page access is because the user roles need to be added to the `dosomething_user_is_staff()` check
though, can you check that function and post here what else that is called by/what that gives the editor access to?

[2015-09-08 14:25] itsjoekent commented on #4951
sure thing

[2015-09-08 14:54] itsjoekent commented on #4951
`dosomething_user_is_staff` has an array of user roles which it uses for verification
- administrator
- editor
- communications team
- member support

that function is called in a few places
- Gives them access to a few extra user fields (filed_partner, field_school_id, field_user_registration_source, picture, field_under_thirteen, field_job_title)
- Allows them to view all term pages https://gith

[2015-09-08 14:57] deezone opened #5035 "Confirm Support for Mexican and Brazilian Characters"
Confirm support for UTF-8 characters in user registrations that will result in transactional email messages.
- [x] Drupal app
- [x] Message Broker system
- [x] MailChimp / Mandrill
  to support passing Latin characters through the system to support user input at the time of user registration.

Examples of characters that need to be supported:
- José Luis
- María de Jesús
- Jesús
- Adrián
- Leocádi

[2015-09-08 14:57] angaither commented on #4901
## config
- [x] translation config interface

## users
- [x] user search
- [x] clean slate
- [x] shipments

[2015-09-08 14:58] angaither commented on #4901
@deadlybutter this stuff might be exposed in the `dosomething_user_is_staff` function

[2015-09-08 15:10] weerd commented on #4986
After some digging, I'm going to add a `?published=false` parameter to the URL for the `/campaigns` endpoint, so we can filter by `?mobile_app=true&published=false` and thus be able to select for the campaigns we want on mobile app only.

---

I'm just going to reiterate that I feel this solution will end up causing more problems than it solves. It'll make it work for the short run, but I feel we'

[2015-09-08 15:17] angaither commented on #4951
@deadlybutter what is tabs?

[2015-09-08 15:20] deezone opened #5036 "Campaign Language value in transaction message request"
Campaign signup / reportback transactionals:
- [x] Campaign Signup
- [x] Campaign Reportback

The language of the specific campaign the user signed up for or reported back to defines what language the transactional message should be in.

**Also**: The country code value for the user needs to be available to `dosomething_mbp.module` here: https://github.com/DoSomething/phoenix/blob/dev/lib/modules/

[2015-09-08 15:20] angaither commented on #4951
@deadlybutter perhaps we should just add `dosomething_global_is_regional_admin` as a check to action page access, because it looks like we won't want regional admins to have access to all those things.

[2015-09-08 15:23] itsjoekent commented on #4951
@angaither I was assuming 'tabs' are the tabs above a node "edit view etc". its in the preprocess file (not module specific) so it makes sense I guess?

and yeah I was thinking thats probably the best route to go (re: pitch page)

[2015-09-08 15:24] angaither opened #5037 "static content partner logo"
for the yahoo partnership we need the ability to add partner logo on static content
this field is already there, but needs to be output on the template

[2015-09-08 15:25] angaither opened #5038 "fact page partner logo"
- [x] add partner logo field as an option to fact page
- [x] output partner logo on the fact page

[2015-09-08 15:28] angaither opened #5039 "Homepage fact tile"
@blisteringherb and @DFurnes what did you do to get the Charleston as the main tile on the homepage?

we need to do a similar thing for the yahoo partnership, where the main tile doesn't link to a campaign node (@mikefantini remembers creating a dummy campaign node and changing the redirect on it)
The image should link to an 11-facts page.

[2015-09-08 15:29] angaither commented on #4951
:+1: let's go the `regional_admin` test then

[2015-09-08 15:30] DFurnes commented on #5039
Yep, dummy campaign (which lets us set the title, description, and tile image), which is then set to redirect to another URL. Kinda hacky, but it works.

[2015-09-08 15:32] mikefantini commented on #5039
ah yeah ok we just created a redirect in the drupal interface. i can just have @ArielSD make this happen.

[2015-09-08 15:32] #5039 closed, assigned to sbsmith86

[2015-09-08 16:14] mikefantini opened #5040 "add revisions to fact pages"
same functionality as we have on campaign nodes so that we can easily see revision history and revert to previous revisions

[2015-09-08 16:18] jonuy commented on #4986
It doesn't sound like we actually need the `?published` flag. Not all campaigns shown on the mobile app are exclusive to just the mobile app. I'd say a majority would actually be available on the web. So if `?mobile_app=true` gets us both published and unpublished campaigns already, I think we've got our workaround solution in place as far as querying for campaigns.

We do still want to test if si

[2015-09-08 16:29] jonuy opened #5041 "Campaign API query parameter to return mobile campaigns valid for a given date"
Campaigns can be set with an `mobile_app` flag along with mobile app start and end dates. Currently through the API we're only able to query against `mobile_app=true` which gives all campaigns that have the flag set regardless of dates they should be available.

We'd like to also query campaigns that are available for a given date.

For example, if I have a campaign with a mobile app start of 3/1/

[2015-09-08 16:39] #4925 closed, assigned to sbsmith86

[2015-09-08 16:44] aaronschachter commented on #4986
From what I recall too, I do think there's code in the Signup/Reportback entity classes that doesn't allow activity on unpublished campaigns.

I agree with @weerd's concerns above. Could we add a boolean field like `field_mobile_app_only` instead of using "published/unpublished" ? I like this approach better than a different `campaign_type` value, since a campaign could be available on the web for

[2015-09-08 16:45] sbsmith86 commented on #5037
@angaither Do you know where it is supposed to display on the page? Is it the same as campaign pages?

[2015-09-08 16:57] angaither commented on #4986
The reason @mshmsh5000 suggested we go this route is because we don't want the campaign to display on the site at all. We would have to do some trickery to hide it from solr and `/campaigns`

[2015-09-08 17:01] mikefantini commented on #5037
@sbsmith86 yup same as campaign pages

[2015-09-08 17:02] angaither commented on #5040
@sbsmith86 all we should have to do here is to check `create a new revision` on the content type manage page. (in the publishing option section)
then export that new option to features

let me know if you need help with this!

[2015-09-08 17:13] mshmsh5000 commented on #4986
We have to do trickery on one side (activity against unpublished campaigns) or the other (hide some published campaigns from the web & Solr). My bet in the abstract was what @angaither described, but I will obv defer to reality here.

Just try submitting a signup and reportback against an unpublished campaign and see what happens. If it doesn't work for reasons that are difficult to address, then

[2015-09-08 17:15] weerd commented on #4986
@aaronschachter just to clarify, the idea w/ `campaign_type` would be adding a new type, something like `Mobile Campaign` so there's 3 options:
- Campaign
- SMS
- Mobile Campaign

Selecting type of `Mobile Campaign` means it only shows up on mobile... **if** a campaign is available on both web and mobile, then you'd select a type of `Campaign` and rely on the `on_mobile_app` checkbox, so it applie

[2015-09-08 17:16] weerd commented on #4986
@mshmsh5000 yep yep! I'm doing some testing on trying to submit w/ unpublished campaigns and will let you all know what I find...

[2015-09-08 17:35] weerd commented on #4986
Doesn't look like you can sign up for an unpublished campaign. Is there a difference between `active` and `published`?

![image](https://cloud.githubusercontent.com/assets/105849/9742330/6ed93d06-562d-11e5-95bb-bc4caa895b1a.png)

_Node 1698 is a new campaign I created on local that is unpublished._

[2015-09-08 17:46] aaronschachter commented on #4986
Yes -- `active` is a value in the`field_campaign_status`, which is set to `closed` when a campaign has been closed.

[2015-09-08 17:49] weerd commented on #4986
Checked that and on the campaign the status is set to `active` but I'm getting the `403` code above.

[2015-09-08 18:02] angaither opened #5042 "save on a new campaign dies!"
![](https://slack-files.com/files-pub/T024GV2BW-F0AAPFLLF-4f72c8a74e/pasted_image_at_2015_09_08_01_52_pm.png)

[2015-09-08 18:12] sbsmith86 commented on #5040
@angaither it's just `drush fu feature_name` right?

[2015-09-08 18:38] namimody opened #5044 "Campaign Finder Intermittently Only Showing 1/2 of Causes and 1/2 of Types"
The campaign finder dropdown should look like this:

![image](https://cloud.githubusercontent.com/assets/12396076/9743935/febc9784-5636-11e5-864b-8e73da7255ca.png)

But it looks like this for some users:
![image](https://cloud.githubusercontent.com/assets/12396076/9743993/4850af8e-5637-11e5-8e57-5c403ece4fd9.png)

As a note, these screenshots were pulled from different comps within minutes of each

[2015-09-08 18:43] DFurnes commented on #5044
Do you have any details on the computers where it is and isn't working (i.e. browser, browser version, operating system)?

[2015-09-08 19:12] #5040 closed, assigned to sbsmith86

[2015-09-08 19:53] angaither opened #5045 "Add menu tab for editing reportback for editors"
@deadlybutter so looks they don't have the `view tabs` permission, but they do have the ability to navigate to `reportback/[id]/edit`

[2015-09-08 20:01] angaither commented on #5042
this is because the default language is set to `author language` in `/admin/config/regional/entity_translation`
I have a feeling our users don't have a default language set.
We can do one of two things here
1. Set the language for everyone with admin status, might be a pain
2. Set the default to be `default` which would then be english for campaigns and the override a the language on a node_save d

[2015-09-08 20:02] weerd commented on #5042
hmmm, #2 seems more ideal

[2015-09-08 20:03] blisteringherb commented on #5042
It sounds like #2 would be a good solution, but we can always run a script to change the default language for all users for a quick and dirty solution.

[2015-09-08 20:04] angaither commented on #5042
we could do some sort of script to set everyone in the `dosomething_user_is_staff` language to english
and then anyone who is a regional admin to whatever the language needs to be.
but would need to make sure that new staff users get their language set properly

[2015-09-08 20:12] DFurnes commented on #5044
@namimody Are you communicating in morse-code via issue assignments?

[2015-09-08 20:14] namimody commented on #5044
@DFurnes hahahha just trying to resolve a confusion...by creating confusion.

[2015-09-08 20:39] namimody commented on #5044
@DFurnes not working on: Chrome Version 45.0.2454.85 (64-bit) / Yosemite

Working on: 0S X version 10.9.5 and chrome Version 44.0.2403.157 (64-bit)

[2015-09-08 20:40] mikefantini commented on #5044
worked for me as both an admin and anonymous user in the "working" versions above

[2015-09-08 20:47] weerd commented on #4986
So in _**dosomething_campaign.module_\* there's a function that checks for both whether a campaign is active and published which gets called when signing up a user for a campaign:

[code]

By commenting out the check for `$node->status == 1` we can side-step it....

[2015-09-08 20:57] DFurnes opened #5046 "Registration form client-side validation"
As we enter the wider global world, we should make sure that our validation isn't too US-centric! For example, we currently offer suggestions for common misspellings on email addresses. Do we need to offer additional suggestions for common mail providers in other countries?

(Making this issue as follow-up to an offline conversation with @mikefantini.)

[2015-09-08 20:58] DFurnes commented on #5046
International phone numbers currently validate correctly on the client-side, and we can use translation to offer region-specific placeholders:

![screen shot 2015-09-08 at 4 57 41 pm](https://cloud.githubusercontent.com/assets/583202/9747265/bb580802-564a-11e5-99d5-f3cce43411f6.png)

Regional email addresses also seem to validate correctly:

![screen shot 2015-09-08 at 4 58 11 pm](https://cloud.gi

[2015-09-08 20:58] angaither commented on #4986
@weerd  we could can update that check to say (warning: pseudo code)

[code]

[2015-09-08 21:00] DFurnes commented on #5046
Here's the list of domains we currently use for "suggestions":

It looks like we already have some common international domains, but perhaps it'd be good to look into any that we're missing?

[2015-09-08 21:01] DFurnes commented on #5046
Also pinging @julielorch, because I heard you've been giving this some thought! :smile:

[2015-09-08 21:04] angaither commented on #4986
If we go the route of publishing and excluding from search/sitemap

from what I can tell... we can't just disallow it in `dosomething_search_apachesolr_query_alter` with `dosomething_search_filter_types` because we don't have the node at that point.

it looks like there's a `hook_apachesolr_exclude` which has the node and we can check values to exclude the node from that point.

as far as exluding

[2015-09-08 21:04] namimody commented on #5011
@mikefantini seems we can't upload SVGs to the site, so while we have the correct file from creative, we can't change it out on the backend (https://www.dosomething.org/admin/config/dosomething/dosomething_campaign) and this is the only type of file that will reliably work.

Do we know how difficult it is to change the settings to allow for SVGs?

[2015-09-08 21:05] DFurnes commented on #5011
Is there a reason this is being set in the admin form, rather than as part of the theme?

[2015-09-08 21:06] sbsmith86 commented on #5011
@namimody We will have to update it to be set in code, rather then in the admin form.

[2015-09-08 21:41] aaronschachter opened #5047 "Reportback Count totals don't update"
I'm generating Reportbacks for [Yeah, Science](http://staging.beta.dosomething.org/campaigns/yeah-science) and checking the pagination numbers in the API (and on the RB dashboard, /admin/users/rb).

Looks like the count totals (e.g. # of approved, promoted) never update upon reviewing reportbacks, which I believe is preventing the API response from updating with new reportbacks.

[2015-09-08 21:56] namimody commented on #5011
Oh okay @sbsmith86! So you do just need the SVG?

I thought it was set here: https://www.dosomething.org/admin/config/dosomething/dosomething_campaign

[2015-09-08 22:01] mikefantini commented on #5011
totally defer to you two @namimody @sbsmith86 on the best way to resolve this issue.

let's just be mindful of the ds campaign config @namimody mentioned and remove it if it's no longer needed

[2015-09-08 22:47] sbsmith86 commented on #5011
@namimody yep at the moment it is set in the config but we would remove that config and just include it in the theme. So just the SVG is needed and like @mikefantini said, I will make sure to remove the config field.

[2015-09-09 13:52] namimody commented on #5011
Sweet thanks @sbsmith86! Will get the SVG to you ASAP.

Do you want me to make a new issue re: removing the config field?

[2015-09-09 13:56] angaither opened #5048 "Errors on campaign node_save() as admin"
`Warning: array_key_exists(): The first argument should be either a string or an integer in drupal_array_get_nested_value() (line 6774 of /var/www/dev.dosomething.org/html/includes/common.inc).`

when you save a campaign node as a brazil/mexico admin getting tons of these errors on the global branch.
this seems to be the offending code

[code]

[2015-09-09 14:23] sheydari-ds commented on #4910
I got a response back from Rank Above. Full response below, but TLDR: we should use hreflang tags instead of ccTLD's, since management overhead for ccTLD's is fairly high.

"ccTLD are a great signal to Google that a specific site is targeting a specific area, but you can achieve that same result using the hreflang tag. For example, you could tag www.dosomething.com/br to target Portugese speakers

[2015-09-09 14:25] sbsmith86 commented on #5011
@namimody we can take care of it in this issue.

[2015-09-09 14:29] weerd commented on #4986
@angaither related to the pseudo code you suggested above, we could actually go a level above to the function that calls that functions which is the `_campaign_resource_access_alt()` which actually turns out to be a function that I've indicated is meant to be deprecated to begin with:

https://github.com/DoSomething/phoenix/blob/d70a566f4cca97aff4a2ce981128c630abb02ad9/lib/modules/dosomething/doso

[2015-09-09 14:35] angaither commented on #5000
@blisteringherb is this issue taken care of, or do these vars still need to be exported to the global branch?

[2015-09-09 14:39] angaither commented on #4850
guessing this is blocked based on the comments @sergii-tkachenko left

[2015-09-09 14:55] angaither commented on #4949
blocked on deciding which new permissions we need to give regional admins

[2015-09-09 15:00] angaither commented on #5046
waiting on recs from @julielorch

[2015-09-09 15:01] blisteringherb commented on #5022
@mikefantini In terms of facts, on the one hand I'm thinking about translated facts as localized versions of the same fact which would then mean they were grouped in a logical way together, but OTOH, I think we'd need to do some more discovery to figure out how node references work with translations.  I'd love it if at some point we could continue to streamline translating campaigns and even maybe

[2015-09-09 15:01] joolaay commented on #5046
@DFurnes @angaither reviewing auth flow ideas at this week's tech sync, this is part of it. Here's some more info: https://docs.google.com/document/d/1BvhHRUy7KkiZ2AgtfhtvHNtUGjubCnbGYuPtZGRXevU/edit#

[2015-09-09 15:05] joolaay commented on #5046
@angaither sorry, which recs?

[2015-09-09 15:10] angaither commented on #5046
@julielorch based on the doc you linked, but it looks like, other than content changes, there's no dev work to be done on the auth flow

[2015-09-09 15:14] joolaay commented on #5046
@angaither at the least we have to expand validation for SMS + Email. The rest depends on whether we show the same auth to all users globally or show different auth flows to partner countries w SMS programs. cc @mikefantini we can discuss at this week's tech sync?

[2015-09-09 15:16] angaither commented on #5046
@DFurnes mentioned in the comments above validation for phone numbers international emails currently work

[2015-09-09 15:18] joolaay commented on #5046
word.

[2015-09-09 15:19] itsjoekent commented on #5020
Just to clarify/update after talking w/ Fantini

The problem this issue needs to solve is how the URL redirects when you click 'Edit' as a regional admin. Fields are already hidden on the node edit page due to this PR: https://github.com/DoSomething/phoenix/pull/5004

Also, the sub header fields need to display properly. EG: I'm currently a MX admin and I can click the PT/EN translations (should n

[2015-09-09 15:31] angaither commented on #5046
@DFurnes @julielorch cool, looks like we are good to close this issue out, I'll open a different one for discussion re: different modals

[2015-09-09 15:33] mikefantini commented on #5046
@angaither sorry reopening for two things:
1. may need to add more suggestions for email addresses
2. what about date field? currently help text is in MM/DD/YYYY which is obviously counter to how most people write out the date. what does facebook do about date fields for different users?

[2015-09-09 15:33] angaither opened #5051 "Login modals vary per country code"
Do we show the same auth to all users globally or show different auth flows to partner countries w SMS programs?
#### relevant docs
- https://docs.google.com/document/d/1BvhHRUy7KkiZ2AgtfhtvHNtUGjubCnbGYuPtZGRXevU/edit

[2015-09-09 15:35] DFurnes commented on #5046
Oh, good catch @mikefantini! We do have some support for `DD/MM/YYYY` validation (in the DoSomething UK config, I believe), but it'd be an extra build if we wanted that to toggle dynamically.

[2015-09-09 15:38] mikefantini commented on #5046
also a data question in terms of storing the different variations properly @DFurnes @sheydari-ds @angaither

[2015-09-09 15:40] angaither commented on #5046
we will always sanitize the date and store the same way no matter what the user gives us :wink:

[2015-09-09 15:42] DFurnes commented on #5046
Aye, Drupal stores all birthdates as `YYYY-MM-DD` so no issues there.

[2015-09-09 15:42] mikefantini commented on #5046
:+1:

[2015-09-09 15:43] itsjoekent commented on #5020
~~Mapping the URL's will be based on the variables soon to be created in this PR:~~

~~https://github.com/DoSomething/phoenix/pull/5050#discussion-diff-39051771~~

Never mind, thats not happening yet. Just going to hardcode the values for now.

https://github.com/DoSomething/phoenix/pull/5050#discussion_r39073166

[2015-09-09 16:04] namimody commented on #5034
Thanks @mshmsh5000!! I chatted about this a bit with @mikefantini as well, and it seems this issue is pretty specific to this campaign and instance. It seems that the campaign name was changed twice -- once to say "Beyonce" and once to say "Beyoncé" and since the site can't distinguish between the URLs having an e with an accent vs. just an e, the change created a redirect loop. We determined that

[2015-09-09 16:04] #5034 closed, assigned to namimody

[2015-09-09 16:06] mikefantini opened #5052 "hide address field for non-US users"
currently shows up on the profile and any campaigns where we collect address.

right now we have US-centric fields (state, zip code). obviously we've resolved this issue on individual international sites, but need a solution for the one site to rule them all **TM**
#### solution

one fine solution is punting for now on this by hiding these fields on the user profile for non-US users and not enabli

[2015-09-09 16:54] mikefantini commented on #5044
now that i updated my chrome to 45.0.2454.85 (64-bit) seeing this as well both logged in and logged out

![image](https://cloud.githubusercontent.com/assets/6330971/9768458/d83b63ae-56f1-11e5-90e5-cb2c3279defd.png)

[2015-09-09 17:25] namimody commented on #5044
Unsure of how helpful this, but seems like it things appear correctly on
Safari 8.0.6

On Wed, Sep 9, 2015 at 12:54 PM, mikefantini notifications@github.com
wrote:

##

Namita (Nami) Mody

Junior Product Manager
@dosomething http://twitter.com/dosomething @imanami13
https://twitter.com/imanami13
(212) 254-2390 x255

[2015-09-09 17:40] #4951 closed, assigned to itsjoekent

[2015-09-09 17:43] #5042 closed, assigned to angaither

[2015-09-09 17:51] angaither opened #5054 "create a strongarm langage/role switcher"
I've been thinking that since we're eventually going to have to point to language definitions in a bunch of places, maybe we should have a strongarm variable with something like this:

[code]

And then retrieve the values with variable_get() and maybe a helper function or two for transformation purposes like these:

[code]

So then when we can use these language definitions as a sort of one-stop r

[2015-09-09 17:54] ghost commented on #4910
I got a response back from Rank Above. Full response below, but TLDR: we should use hreflang tags instead of ccTLD's, since management overhead for ccTLD's is fairly high.

"ccTLD are a great signal to Google that a specific site is targeting a specific area, but you can achieve that same result using the hreflang tag. For example, you could tag www.dosomething.com/br to target Portugese speakers

[2015-09-09 18:04] ghost commented on #4913
Up and running.

[2015-09-09 18:04] #4913 closed, assigned to nobody

[2015-09-09 19:54] angaither opened #5057 "Update query that creates hot module json"
Currently the query that creates the json gets the max timestamp from a day, and the max value from that date.
This will cause issues if a reportback with a giant quantity is accidentally approved, and the quantity goes up, and then back down.

I _think_ we need to write a subquery that grabs the max timestamp from the date, and then from there get the corresponding quantity.

example node on prod

[2015-09-09 20:30] #4986 closed, assigned to weerd

[2015-09-09 21:31] DFurnes commented on #5044
This seems to be related to a [new CSS column implementation bug](https://code.google.com/p/chromium/issues/detail?id=409063) that landed in Chrome 45. Looking into what we can do to fix things on our end.

[2015-09-09 21:52] mikefantini opened #5059 "searching "doe" on thor as BR gives broken results"
I'm not sure exactly what the issue is here (it may be multiple issues), but one thing that appears to have happened is that in the translation:
1. not all fields were translated over
2. the Google Translate script attempted to translate images as well (meaning drupal would be looking to reference images that don't exist and so there would be no image associated with the translation)

I believe th

[2015-09-09 21:56] namimody commented on #5045
Hi @angaither -- hate to be more of a pain but is this a quick fix? Causing a few problems for leads with hot module campaigns (They want to approve certain RBs but can't because the quantities are ridiculous).

[2015-09-09 22:26] mikefantini opened #5060 "BR Portuguese version of campaign not showing to BR Admin"
I just created a Brazilian Portuguese translation of node 5613 on Thor.

However when I go to view that campaign as a Brazilian Admin, I don't see the Brazilian Portuguese version I created. Instead I see the US English version.

the node view links to
https://thor.dosomething.org/campaigns/enlgish

[2015-09-09 22:29] mikefantini opened #5061 "Thor not saving content in BR Portuguese"
I just created a translation for Brazilian Portuguese of node 5613 with Title "Pretend this is Portuguese" and CTA "Pretend this is Portuguese" and saved it.

However, when I go back to edit it, I see this:

![image](https://cloud.githubusercontent.com/assets/6330971/9775846/9e242974-5720-11e5-8725-cec5f9df691f.png)

[2015-09-10 14:31] mshmsh5000 opened #5063 "Enable direct data access for UK and Canada"
Disintermediate Micah from their data pulls.

[2015-09-10 14:57] namimody commented on #4626
(Regardless of whether the new photo is approved or not, running CRON changes the total reportback quantity (total approved quantity) to the new quantity; the first file associated with the RBID has already been classified as reviewed.)

[2015-09-10 15:04] DFurnes commented on #5044
The fix is deployed to staging! Closing this issue.

[2015-09-10 15:04] #5044 closed, assigned to DFurnes

[2015-09-10 15:41] #5011 closed, assigned to sbsmith86

[2015-09-10 15:46] weerd commented on #5047
@aaronschachter

So part of the issue may be that in the API I'm setting a default value for RB items to return as `approved`. So if no `status` url parameter is passed it defaults to `approved`. Not sure if @uy and I had made a decision to go with that as the default, but that's the current case.

However, instead of making two API calls, the endpoint allows you to pass a CSV of statuses (stati?)

[2015-09-10 15:49] weerd commented on #5047
At least the above may be part of the issue and not the whole solution...

[2015-09-10 15:54] ghost commented on #5063
Adding Canada per Jeff Bladt's request.

[2015-09-10 16:30] angaither commented on #5061
it seems that when you edit/add translation content as an `admin` it works correctly
however when you do it as a regional admin, it doesn't save the content... permissions?

[2015-09-10 16:42] namimody opened #5067 "RBs Submitted Via App Do Not Appear in RB Inbox"
Doing some testing on staging and noticed that reportbacks via the app don’t appear in the reviewing inbox currently. For example: http://staging.beta.dosomething.org/admin/reportback/3067 appears as PENDING in a SQL pull, but doesn't appear in the inbox (http://staging.beta.dosomething.org/node/955/rb). @aaronschachter notes this sounds like its a northstar/phoenix api issue.

![image](https://cl

[2015-09-10 16:53] jonuy opened #5069 "Campaigns API returns solutions.support_copy as string instead of object"
I've only noticed it on one campaign:

http://staging.beta.dosomething.org/api/v1/campaigns/1261.json

Haven't seen it on any others, but I also haven't gone searching for problematic ones.

A typical response would be like from: http://staging.beta.dosomething.org/api/v1/campaigns/1663.json

[code]

[2015-09-10 17:03] namimody commented on #4828
![image](https://cloud.githubusercontent.com/assets/12396076/9794997/44471f0a-57bc-11e5-92c5-13e0e5048d87.png)

Just had an intern report another error appearing. The RBs she reviewed seem to have been saved though. Is there a status update on this?

[2015-09-10 17:38] deezone opened #5072 "Global MailChimp Settings"
Currently a MailChimp list ID (`mailchimp_list_id`: f2fab1dfd4) is set in the Drupal Third Part Opt-In -> General form: https://www.dosomething.org/admin/config/dosomething/opt_in.
![image](https://cloud.githubusercontent.com/assets/2119264/9795878/21ab40e8-57c1-11e5-83c7-75303253a850.png)

This value is included in user_registration transactional message requests sent to Message Broker as a part

[2015-09-10 18:30] #4989 closed, assigned to weerd

[2015-09-10 19:14] itsjoekent commented on #5048
weird, thats the same code sergii wrote in the strong-arm, figured it would work :ok:

Ill investigate in a few minutes!

[2015-09-10 19:20] #5038 closed, assigned to sbsmith86

[2015-09-10 20:20] mikefantini opened #5078 "BR/MX users should see email address instead of contact us modal"
Instead of "Questions? Contact Us" which then links to a modal, users in Brazil and Mexico should be directed to email us.
- [x] BR users - "Questions? Email ajuda@dosomething.org"
- [x] MX users - "Questions? Email ayuda@dosomething.org"

and we decided global users should still have the same Zendesk flow as US users currently have.

---

@mnelson338 can you please edit this comment to have the e

[2015-09-10 20:41] namimody opened #5081 "Pull all 11 Facts Edit Links"
Hi! To make the lives of Felicia and Gabe easier for this yahoo partnership, would be great to get a CSV of all edit links of published 11 facts pages on production. Not sure who has time to help with this, so leaving that up to you @angaither! Thanks!

[2015-09-10 20:57] mnelson338 commented on #5078
@mikefantini

BR users: ajuda@dosomething.org
MX users: ayuda@dosomething.org

I agree - global users should go to zendesk.

[2015-09-10 21:01] #4997 closed, assigned to weerd

[2015-09-10 21:03] mikefantini commented on #5046
@mnelson338 assigning over to you. can you please add in any email client suggestions we'd want to add to @DFurnes's list? i'm just not sure what other popular international email addresses we may or may not want to add.

[2015-09-10 21:12] #5037 closed, assigned to sbsmith86

[2015-09-10 21:14] mikefantini opened #5083 "Admin w/ English Language set seeing Brazilian campaigns"
uid 329195

![image](https://cloud.githubusercontent.com/assets/6330971/9801150/543b4404-57df-11e5-9005-52af88f19cfc.png)

[2015-09-10 21:21] mikefantini opened #5084 "need dd/mm/yyyy birthday field for non-US users"
non-us users (so BR, MX, and global users) should get presented with a different birthday field that accepts dates as mm/dd/yyyy. All birthday fields regardless of how they are input should obviously be stored the same way in the same column in the db.

@mnelson338 does anyone else use the mm/dd/yyyy format besides :us:?

related to #5046

[2015-09-10 21:24] mikefantini opened #5085 "hide cell phone field on auth flow for global users"
- If US, MX, BR, Ca, UK then all auth fields show
- If global, then suppress SMS
- If we anticipate building an SMS program in a specific country, then will will show SMS field 6 mos. ahead of time

related to #5046

[2015-09-10 21:40] mnelson338 commented on #5084
@mikefantini Majority of the world uses dd/mm/yy. I think this should be our default, and what we use for the Global experience.
The only major outlier to flag is China who uses: yyyy-mm-dd

[2015-09-10 21:43] mikefantini commented on #5048
@angaither @deadlybutter is this possibly related to #5061?

[2015-09-10 21:51] mikefantini commented on #4988
made a high priority, because this is one of the major things blocking @mnelson338 from getting a quote from a translator.

getting everything (including variable copy in configs) in the POEditor and separating out things like Drupal core terms will help @mnelson338 have a sense of how much translating needs to be done.

[2015-09-10 22:01] #4995 closed, assigned to weerd

[2015-09-10 23:51] blisteringherb commented on #5083
For some reason the global finder code that I merged in earlier got un-merged so I re-merged it. That fixed the issue with the broken images and seeing multiples of the same campaign after filtering.

[2015-09-11 13:23] ghost commented on #4912
Setup. Need to confirm with Dee full functionality.

[2015-09-11 13:23] #4912 closed, assigned to nobody

[2015-09-11 14:26] DFurnes commented on #5085
This is hopefully something we can do when building the form with Dr00ps. We should know the user's country via their Fastly country code header, and will be varying the cache by country code (just like we did in CGG & AGG!).

[2015-09-11 14:27] DFurnes commented on #5084
Makes sense to me! We currently have `DD/MM/YYYY` support configured on our UK international site, so we can probably use the same approach in the global world but vary the experience based on the user's country code header.

[2015-09-11 14:47] angaither commented on #5045
@namimody checking in prod, that [permission is already enabled.](https://www.dosomething.org/admin/people/permissions)
who is having trouble with this? maybe they don't have the correct roles?

[2015-09-11 14:48] #5020 closed, assigned to itsjoekent

[2015-09-11 14:50] mikefantini commented on #5032
@namimody see #4930 for what happened with unpublished campaigns.

perhaps we can have @sergii-tkachenko take a look at this when he is back, but I don't think dev on this should be prioritized right now since we do have a fix and it's pretty rare we republish unpublished content.

[2015-09-11 14:50] #5032 closed, assigned to nobody

[2015-09-11 14:51] mikefantini commented on #4534
@weerd is this still high priority?

[2015-09-11 14:55] mikefantini commented on #5060
hmm actually is this expected behavior because we don't have the Brazilian socks proxy set up and I'm in the US? #5001

cc: @angaither @sheydari-ds

[2015-09-11 14:59] itsjoekent commented on #5048
Commented that part of the code out, getting a different error instead now?

[code]

EDIT: Actually ignore that, the line which seems to be the problem is line 65 $form[$field_name]['#access'] = FALSE;

EDIT: Logged the is_string($field_name) value and it was true for each field. Hmm...

EDIT: Even doing this causes the error $form['field_action_type']['#access'] = FALSE;

So its something with th

[2015-09-11 15:18] marahml commented on #4956
For separate Global transactionals, we currently don't have any new work slotted for v1. Only BR & MX.

So a total of 8 new templates (4 per country) that are translated and match to new fields is our current focus.

If steps will be different for Global vs. US campaigns - is that something we can solve for on the content side? @mikefantini @DeeZone

[2015-09-11 15:20] marahml commented on #4957
Same question as on this issue (https://github.com/DoSomething/phoenix/issues/4956). I'd love to not create any new templates / dev for launch if possible.

Can you elaborate a bit more on how campaign titles will differ @mikefantini ?

[2015-09-11 15:41] mikefantini opened #5090 "Global English Report Back Transactional"
When a user reports back on a campaign that is translated in Global English, s/he should receive a report back transactional email in Global English. This is needed because content could potentially be different in |campaign_title|.

Also note that we need to make sure we're pulling in the proper fields for this since technically the Global English content are in different fiends than the US Engli

[2015-09-11 15:47] mikefantini commented on #4957
created a new one for global english #5090.

I could see a situation where a title doesn't make sense globally but we'd want to keep the saying locally

i.e. a campaign that has Gym in the title vs. P.E.

[2015-09-11 15:50] mikefantini opened #5091 "Global English campaign signup transactional email"
When a user signs up for a campaign that is translated in Global English, s/he should receive a campaign signup transactional email in Global English. This is needed because content could potentially be different in |STEP_ONE| and |STEP_THREE|

Also note that we need to make sure we're pulling in the proper fields for this since technically the Global English content is in different fields than th

[2015-09-11 15:50] angaither commented on #5048
@deadlybutter normally caused by trying to get a field that doesn't exist.
1. make sure your features are all reverted
2. check out [old issues, we've seen this quite a bit](https://github.com/DoSomething/phoenix/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aclosed+EntityMetadataWrapperException)

[2015-09-11 15:52] mikefantini commented on #4956
created a new issue for Global English in case we can't get all templates up for launch: #5091

[2015-09-11 15:53] itsjoekent commented on #5048
the field has to exist though, these are the fields which have been marked as translated. I can double check this but I dont think its the problem.

Ill check the old issues you linked and see how people closed em!

[2015-09-11 15:58] angaither commented on #5060
@mikefantini yeah, we haven't done work to redirect the user to the correct content based on local yet (afaik)

[2015-09-11 15:59] angaither commented on #5081
@namimody they can be accessed in prod via content search. is a CSV still needed?
https://www.dosomething.org/admin/content/search?title=&type=fact_page&field_cause_tid=All&status=1

[2015-09-11 16:12] angaither commented on #5054
@blisteringherb is this finished with #5086?

[2015-09-11 16:14] #4993 closed, assigned to weerd

[2015-09-11 16:15] #4994 closed, assigned to weerd

[2015-09-11 16:17] mikefantini opened #5095 "deploy to thor whenever prs merged to global branch"

[2015-09-11 16:28] namimody opened #5096 "Change Permalink Facebook Share Functionality from Meta Data to Explicit Call"
@sbsmith86 poor attempt at an issue...

During staging tests, noticed that the RB photo is only intermittently shared from a reportback permalink to Facebook. This is because the photo being pulled in is referenced through metadata, not explicitly. Pulling it in explicitly should eliminate the problem.

![image](https://cloud.githubusercontent.com/assets/12396076/9820225/91cd4564-5880-11e5-8d96-c1

[2015-09-11 16:30] weerd commented on #5069
So this happens because a format isn't used on the field AND Drupal hasn't created a `safe_value`, which it should have for the field in this campaign. The campaign has a **Text Format: Markdown** selected, but Drupal doesn't seem to have processed it properly; checking the returned node indicates it's set to `null`.

The logic [here](https://github.com/DoSomething/phoenix/blob/8c2abfe6f457187c9fc

[2015-09-11 16:32] namimody commented on #5045
Hmm which role should they have @angaither? Adam https://www.dosomething.org/user/2752150/edit) has member support and editor roles. He doesn't see the gray striped bar when visiting this page though: https://www.dosomething.org/reportback/74013

![image](https://cloud.githubusercontent.com/assets/12396076/9820328/2ebb1234-5881-11e5-9a36-d0b0273ca413.png)

[2015-09-11 16:40] weerd commented on #5069
If this happens more often on other campaigns, might need to look into why when specifying **Markdown**, Drooops isn't registering that properly.

[2015-09-11 16:41] angaither commented on #5045
ahhhh, got it got it.
@deadlybutter so looks they don't have the `view tabs` permission, but they do have the ability to navigate to `reportback/[id]/edit`

[2015-09-11 16:45] itsjoekent commented on #5045
Oh I didnt even know there was a button

[2015-09-11 16:46] mikefantini commented on #5095
goddamn champion

[2015-09-11 16:46] #5095 closed, assigned to nobody

[2015-09-11 16:46] angaither commented on #5054
actually we still need to update the get_language function to use this...ignore meeeee

[2015-09-11 17:59] #5069 closed, assigned to nobody

[2015-09-11 18:42] mikefantini commented on #5022
thanks @blisteringherb do you have any thoughts on homepage?

@angaither @mshmsh5000 would love if either of you have thoughts on these too.

[2015-09-11 18:56] itsjoekent commented on #5048
all of those issues involved a EntityMetadataWrapperException but seemed to be unrelated :/

also logged all of the field names, none of them are null/non existing (even though as I said before, I doubt any of these specific ones are because this code is only running on fields marked as translatable, so recently modified).

the only major discrepancy I see one of the field names is #parents instea

[2015-09-11 19:37] mshmsh5000 commented on #4988
@weerd and I have figured out a workflow that should eliminate all core Drupal terms. Assigning to him, since he'll have the next updates.

After he does initial setup, the next task will be to audit what's in POEditor to see whether we're missing anything (e.g., copy stored as config variables).

[2015-09-11 19:37] mshmsh5000 commented on #4988
(Oh right, he's already assigned... :tada:)

[2015-09-11 19:38] ghost commented on #5001
Done! Wiki Entry forthcoming.

[2015-09-11 19:38] #5001 closed, assigned to nobody

[2015-09-11 19:45] itsjoekent commented on #5048
Yeah I'm not entirely sure whats going on here @angaither -- can we walk through this when you're in the office on Monday? Maybe I'm missing something

[2015-09-11 19:47] angaither commented on #5061
did some initial research on this.. there's two permissions that I _thought_ were blocking the save
`Translate entities of type Content` or `Translate any entity` but it's still not saving locally after adding those.
-_-

[2015-09-11 19:51] mikefantini commented on #5001
wiki entry: https://github.com/DoSomething/phoenix/wiki/Using-Brazil-Socks-Proxy-in-OS-X

[2015-09-11 20:27] #5054 closed, assigned to angaither

[2015-09-11 20:37] deezone commented on #4956
@marahml What is the difference between the expected email message sent to users who defined as "GLOBAL" vs "US"?

Is the only difference the MailChimp account / list assignment?

[2015-09-11 20:40] marahml commented on #4956
I think the main difference would be the merge tags we pull in -- but just basing that off of the issue #5091.

This is lowest priority of all templates - so focus is still on Registration & PW reset currently, then Signup and RB.

[2015-09-11 20:46] #4556 closed, assigned to sbsmith86

[2015-09-11 21:06] mikefantini commented on #4956
yup lowest priority. the key difference is we'll just need to literally pull from different fields because the content will be stored in different fields for users from US/BR/MX/everywhere else

[2015-09-14 14:38] mikefantini commented on #5061
assigning over to @deadlybutter to take a peek

[2015-09-14 14:46] namimody commented on #5023
HI @mikefantini -- Micah reported that Indonesia encountered this problem (see screenshot below). I'm not too familiar with this bug, but "Approved" is not pre-selected on their site, and it seems like the campaign in the screenshot doesn't have any RBs in the inbox -- so I'm not sure if their selections went through or the bug pushed unreviewed RBs to reviewed. They have a big partnership coming

[2015-09-14 14:47] namimody commented on #5023
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;6B4PVTok&#x2F;1479-ds-indonesia-can-t-approve-report-backs"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> DS Indonesia can&#39;t approve report backs</a>

[2015-09-14 14:51] itsjoekent commented on #5061
yeah was only able to reproduce as a regional admin. have an idea, i think

In addition to the two you tried I also tried adding `Translate content` but still didn't save properly.

[2015-09-14 14:51] DFurnes opened #5101 "Partner modal styles are wonky"
Noticed that the "Why we <3 ___" partner modal has some styling issues when lists are included in the copy field, or an image/video is set. This is a simple fix.

<img width="361" alt="screen shot 2015-09-14 at 10 47 10 am" src="https://cloud.githubusercontent.com/assets/583202/9852857/78824348-5ace-11e5-806f-8ee912b72a09.png">

[2015-09-14 15:18] itsjoekent commented on #5061
_phew_ @mikefantini you we're right, these issues are related https://github.com/DoSomething/phoenix/issues/5048#issuecomment-139387489 (thank you for pointing that out, thats what led to me just testing for it)

Can confirm when you remove the bug inducing code from ^ that issue, this issue no longer occurs. :tada:

[2015-09-14 15:31] namimody commented on #4838
PayPal account was looking fine until 9/12. (Screenshot in Trello > FRUGS > DONATE Button Activity)

Refunding this and continuing to check daily.

[2015-09-14 16:33] blisteringherb commented on #4999
I'm looking at this more closely, and this ticket might be irrelevant since we're creating users with these roles manually. This should be more of a procedural step than having it in code. The user creation form allows for the selection of the user's language, and I can't think of a scenario in which brazil and mexico admins won't be created manually.

[2015-09-14 16:34] #4999 closed, assigned to blisteringherb

[2015-09-14 16:34] #5083 closed, assigned to blisteringherb

[2015-09-14 16:39] blisteringherb commented on #4886
@julielorch Is the logic for #2 necessary for this iteration since we'll only have global campaigns in English for the launch?

[2015-09-14 16:41] #4884 closed, assigned to blisteringherb

[2015-09-14 16:43] #5002 closed, assigned to blisteringherb

[2015-09-14 16:45] namimody commented on #4625
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;AFtA0OHx&#x2F;1417-do-updated-reviewed-reportbacks-fall-back-into-review-queue"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> Do updated reviewed reportbacks fall back into review queue?</a>

[2015-09-14 17:01] blisteringherb opened #5107 "Add language filter to /campaigns"
Right now /campaigns is displaying repeats of campaigns. The view needs a language filter for the current lang.

[2015-09-14 17:16] weerd commented on #4988
POEditor seems to do a rather nice job and will immensely help the effort in these translations.

#### Capabilities

The POTX module allows us to _extract_ **.po** files for modules/themes individually. We can then import them into POEditor and I'd recommend clicking on the _advanced options_ when importing so you can tag the import (e.g. _campaign_, _reportback_) which then lets you filter by the

[2015-09-14 17:17] namimody opened #5108 "# of People Participating Doesn't Show Up on RB Backend"
When this box is checked:

![image](https://cloud.githubusercontent.com/assets/12396076/9856438/bbb5c216-5ae2-11e5-865a-0fc815cb8b44.png)

under campaign > custom settings > reportbacks, then the # of participants should appear on the backend of a reportback -- this view:

![image](https://cloud.githubusercontent.com/assets/12396076/9856461/ea009240-5ae2-11e5-9e3d-05e1324d6f6b.png)

[2015-09-14 17:18] namimody commented on #5108
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;A4x0fnb2&#x2F;1474-of-people-participating-doesn-t-show-up-on-rb-backend"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> # of People Participating Doesn&#39;t Show Up on RB Backend</a>

[2015-09-14 17:28] namimody opened #5109 "Affiliate Instances Do Not Have Updated Member Count"
![image](https://cloud.githubusercontent.com/assets/12396076/9856626/cfd4478a-5ae3-11e5-89cf-bb19fc6a4195.png)

^ on uk.dosomething.org, canada.dosomething, etc.

[2015-09-14 17:29] namimody commented on #5109
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;zQE6FDgp&#x2F;1459-of-members-not-updated-on-affiliate-instances"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> # of Members Not Updated on Affiliate Instances</a>

[2015-09-14 18:22] ghost commented on #5008
@mshmsh5000 I think the easiest route is to sign up for a month to month account on TorGuard (https://torguard.net/anonymoustorrentvpn.php). Their VPN services are available in a lot of countries, and we can mimic a lot using their services. They're one of the more trusted VPN services, and give us a lot of flexibility. If you want to setup an account and add the credentials to LastPass, or I can

[2015-09-14 18:38] #5061 closed, assigned to itsjoekent

[2015-09-14 18:38] #5048 closed, assigned to itsjoekent

[2015-09-14 18:39] namimody opened #5112 "RB Image Rotation Functionality Not Saving"
![image](https://cloud.githubusercontent.com/assets/12396076/9858335/1e9f4068-5aee-11e5-8bf4-e21497f22943.png)

If I click 90 and save, the banner notification at the top will say updated, but the image on the back end and front end will remain in its initial orientation.

[2015-09-14 18:40] namimody commented on #5112
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;bgqbusNA&#x2F;1480-rb-image-rotation-functionality-not-saving"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> RB Image Rotation Functionality Not Saving</a>

[2015-09-14 19:11] itsjoekent commented on #4973
Interesting discovery, this only impacts the translation you're editing and the original source. So MX Spanish is unaffected.

<img width="830" alt="screen shot 2015-09-14 at 3 10 27 pm" src="https://cloud.githubusercontent.com/assets/897368/9859130/c2b6a854-5af2-11e5-9027-42a0aa1f4790.png">

I wonder what happens when I edit Spanish then...

update: it overrides the source still as expected

[2015-09-14 19:21] itsjoekent commented on #4973
also just tested making a brazil campaign as a brazil admin and then updating it as MX admin, same effect as ^

[2015-09-14 19:22] mikefantini opened #5113 "hide language tabs on campaign edit from BR/MX admins"
logged in as a Brazil Admin I shouldn't see tabs for English Global; Portuguese, Brazil; Spanish, Mexico; or English

Because I can view them, I can also click into them and actually edit the US English fields, which I shouldn't have access to.

Hiding these for BR/MX admins should do the trick.

![image](https://cloud.githubusercontent.com/assets/6330971/9859360/2d40ffc0-5af4-11e5-9d79-2b7d62248a

[2015-09-14 19:25] mikefantini opened #5114 "can't create a translation for a campaign from /admin/content"
When a user is on /admin/content and she clicks on edit for a campaign that does not have a translation added in her language, the page just refreshes. This happens regardless of whether the user is an admin, a BR/MX admin, editor, etc.

instead, it should behave the same as it would if I went to /node/[nid]/edit for a given node, essentially the work that was done in #5020

[2015-09-14 19:46] mshmsh5000 opened #5115 "Country code hashing in Fastly"
Update Fastly config, first for Thor, to hash on country codes. While we're add it, use this space to discuss what else, if anything, we should be hashing on.

[Drupal-specific VCL docs](https://fourkitchens.atlassian.net/wiki/display/TECH/Configure+Varnish+3+for+Drupal+7) are a good place to look for other ideas.

[2015-09-14 19:49] mikefantini commented on #4885
related to #4959

[2015-09-14 19:50] namimody commented on #4975
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;NS9azBbk&#x2F;1469-user-reported-bug-reportback-issue"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> User Reported Bug: Reportback Issue</a>

[2015-09-14 19:58] mshmsh5000 commented on #4959
Let's put this in somewhere central like [dosomething_settings](https://github.com/DoSomething/phoenix/blob/dev/lib/modules/dosomething/dosomething_settings/dosomething_settings.module). There should be a function for each header we're passing from Fastly:

![fastly-headers](https://cloud.githubusercontent.com/assets/149811/9860236/d002dd4c-5af8-11e5-9b8e-9390404b0842.png)

So
- `dosomething_setti

[2015-09-14 20:01] mshmsh5000 commented on #4959
Then for the comment from @DeeZone above, we can update the MBP logic to check `dosomething_settings_get_geo_country_code()` first and let that value override, if it exists. This should take care of the dedicated affiliate sites where this code also needs to work, and where the affiliate value is hard-coded.

[2015-09-14 20:11] itsjoekent opened #5116 "Editing title as regional admin saves the title but does not update when viewing as a regional admin"
Created new campaign as MX admin with the title `test mx title`
https://thor.dosomething.org/node/5617/

Under the same user, updated campaign title to be `test mx titleeeeeee` and saved it.

Under the same user, went to view the campaign, but the old title `test mx title` was still there.

Possibly related too https://github.com/DoSomething/phoenix/issues/4973

[2015-09-14 20:13] namimody commented on #5081
@angaither Unfortunately it seems the edit links from there don't work when pasted into a Google Sheets or Excel, so we'd really like someone to pull this (or show me how to not be an idiot with copy and paste).

Basically, for the partnership with Yahoo, we are changing all calls to actions on 11 Facts pages to go to Yahoo search instead of a related campaign. The partnership doesn't launch until

[2015-09-14 20:16] itsjoekent commented on #5116
Weird, the title is correct up top

<img width="551" alt="screen shot 2015-09-14 at 4 15 21 pm" src="https://cloud.githubusercontent.com/assets/897368/9860729/ddd5d70a-5afb-11e5-9792-623b573931d9.png">

And it saves right, cause under the same user / translation I just edited the plan it section and it worked

<img width="308" alt="screen shot 2015-09-14 at 4 15 26 pm" src="https://cloud.githubuse

[2015-09-14 20:18] mshmsh5000 commented on #5008
:+1:

[2015-09-14 20:30] mikefantini opened #5117 "hide language settings from all users except for admins/global admins"
authenticated users can change their language currently. we don't want this to be the case right now.

currently being set on https://thor.dosomething.org/user/2987552/edit

![image](https://cloud.githubusercontent.com/assets/6330971/9860981/6853468c-5afd-11e5-8054-c2370bbd5e91.png)

this should block merging the global branch to dev

admins and global admins should be able to see this on other us

[2015-09-14 20:30] namimody commented on #5032
https://ghana.dosomething.org/campaigns/would-you-rather-0
https://ghana.dosomething.org/campaigns/anti-bullying-checklist

Thanks @mikefantini! Was just checking something else and noticed that these two campaigns on Ghana seem to be missing content as well, but don't have a translate tab. Do you think the issue is related? (Revision history on these campaigns doesn't turn up any more content, un

[2015-09-15 14:34] itsjoekent commented on #5114
guessing this is because the init() logic only runs on a node edit page. I can add in a check for this page as well

[2015-09-15 14:47] namimody opened #5119 "Turn Off Login Event Fire on Page Load"
We released a code change around 21 July that has been automatically firing a “login” event on every page load, resulting in incorrect bounce rate stats.

![image](https://cloud.githubusercontent.com/assets/12396076/9879411/4be52c66-5b95-11e5-8479-436e5d9c8298.png)

It is likely due to:

https://github.com/DoSomething/phoenix/commit/83d934114f5b9328637dae87e1d836a20b68a71b
and
https://github.com/D

[2015-09-15 14:48] namimody commented on #5119
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;GHcI3oFW&#x2F;1481-bounce-rate"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> Bounce Rate</a>

[2015-09-15 14:51] angaither commented on #4959
@sheydari-ds how do we test fastly settings locally?

[2015-09-15 14:53] itsjoekent commented on #4959
not @sheydari-ds but he picked out a VPN/Proxy we're gonna use http://torguard.net/

oh shit that won't work locally will it?

hey @sheydari-ds how do we test fastly settings locally?

EDIT: Possible solution I just though of. Use a tool like ngrok (https://ngrok.com/) to map our local URL to a public one on the internet. When developing hide behind a proxy via torguard and hit the public URL I ju

[2015-09-15 15:22] angaither commented on #5081
@namimody if you do a query for all fact pages with a `status = 1`, with the node id... the edit link would just be node/[id]/edit

you could also `copy link address` with copy/paste

[2015-09-15 15:22] mikefantini commented on #4886
@blisteringherb just chatted with @julielorch and let's just focus on:
1. campaigns that exist in user language (regardless of source language)
2. campaigns that exist in Global English

since it seems harder to add an extra layer of prioritization (campaigns that have source language as MX SP prioritized over campaigns with source language US EN that are translated into MX SP) let's just leave th

[2015-09-15 15:28] itsjoekent commented on #5072
@DeeZone Do you also need me to add these new values into the MB payload or is that a separate issue?

[2015-09-15 15:50] angaither commented on #5119
for context of why this was added #4589

[2015-09-15 15:54] ghost commented on #4959
@angaither @deadlybutter For individual requests you can forward the headers manually using Postman (e.g. X-Fastly-Country-Code: BR), @mshmsh5000 Is going to comment on more Dev friendly approaches for bigger workflow testing.

[2015-09-15 15:57] mikefantini commented on #5072
@deadlybutter let's group them all with in general, and then have have subgroups within that for
- Global
- US
- Mexico
- Brazil

I'll make a separate future issue for Canada/UK because that's not within this first version of Global.

Let's also leave the Global, Mexico, and Brazil fields as unrequired for now (keep US ones required) and I'll make a separate issue for those to be required after we

[2015-09-15 15:58] mikefantini opened #5121 "make Global, BR, and MX mailchimp fields required in third-party opt-ins"
related to #5072

blocked by having values for these

[2015-09-15 16:00] mikefantini opened #5122 "Add MailChimp List ID for Canada/UK to Third Party Opt-Ins"
https://www.dosomething.org/admin/config/dosomething/opt_in needs to be expanded to support `mailchimp_list_id` values for:
- CA (Canada)
- UK (United Kingdom)

related to: #5072

[2015-09-15 16:43] mshmsh5000 commented on #4959
The easiest solution for local testing would be to modify https headers within the browser, so you can browse as a Brazilian, Mexican, etc., user. Try a popular extension like ModHeader:

https://chrome.google.com/webstore/detail/modheader/idgpnmonknjnojddfkpgkljpfnnfcklj?hl=en

[2015-09-15 16:47] blisteringherb commented on #4886
Based on the solution I put into #5123, adding the other global languages shouldn't be too heavy of a lift, but we will need to add "pt-global" and "es-global" as languages. The testing will probably be the hardest part because we'll have to have significant numbers of campaigns that are only translated into certain languages. I can expand on the dosomething_auto_translate() module to facilitate t

[2015-09-15 18:25] aaronschachter opened #5124 "Reportback Items endpoint returns NULL users"
This was working great, but suddenly stopped working -- very soon after a staging deploy. I have a hunch that cache clear wipes out the cached Northstar User info?

Refs: https://github.com/DoSomething/LetsDoThis-iOS/issues/345#issuecomment-140480156

![Null Users](https://cloud.githubusercontent.com/assets/1236811/9885875/5b1ef1ba-5b9c-11e5-9db3-bad3f8d24956.png)

[2015-09-15 19:08] mikefantini opened #5125 "hide campaign type from regional admins on /node/add/campaign"
![image](https://cloud.githubusercontent.com/assets/6330971/9887046/95b8e3c0-5bbb-11e5-827f-a704ed086277.png)

[2015-09-15 19:09] itsjoekent commented on #5125
is this the only field which is no longer being hidden? if thats the case can we verify that the field is marked as translatable

[2015-09-15 19:10] mikefantini commented on #5125
hmm actually @deadlybutter everything looks good on thor. staging seems to be missing a lot of the global stuff.

[2015-09-15 19:11] itsjoekent commented on #5125
gotcha and yeah that makes sense, most of the global work isn't on the dev branch and we only deploy dev to staging.

but based on that meeting i imagine this is changing soon

[2015-09-15 19:19] joolaay commented on #4886
@mikefantini @blisteringherb ^ "pt-global" would be a global campaign, in portuguese, that hasn't yet been localized?

[2015-09-15 19:33] mikefantini commented on #5125
yeah https://github.com/DoSomething/phoenix/pull/5120 was meant to be merged in but wasn't before staging was deployed. looking all good now.

[2015-09-15 19:33] #5125 closed, assigned to itsjoekent

[2015-09-15 19:46] mikefantini opened #5126 "nothing but title saves first time i create a campaign as regional admin"
http://staging.beta.dosomething.org/node/1701/edit

![image](https://cloud.githubusercontent.com/assets/6330971/9888032/c8c715ca-5bc0-11e5-9e89-8944b84cc559.png)

cc: @angaither

[2015-09-15 19:47] mikefantini commented on #5126
it still works properly for editors FYI

[2015-09-15 19:54] mikefantini opened #5127 "auth modal doesn't appear after logging out"
to recreate:
- log in to the site
- log out
- try to log back in

the modal never appears

[2015-09-15 19:55] mikefantini commented on #5127
worked in firefox, but issue is occurring in chrome Version 45.0.2454.85 (64-bit)

[2015-09-15 19:59] DFurnes commented on #5127
`ReferenceError: Can't find variable: Modernizr`

Looks like the Modernizr build failed when building assets (and therefore modals aren't working, since we depend on Modernizr to do feature detection for CSS3 animations).

[2015-09-15 20:00] DFurnes commented on #5127
From the [Jenkins staging build](https://jenkins.dosomething.org/job/Deploy-Staging/213/console):

![screen shot 2015-09-15 at 4 00 14 pm](https://cloud.githubusercontent.com/assets/583202/9888407/ec562772-5bc2-11e5-909f-5874b5db9bbd.png)

[2015-09-15 20:06] DFurnes commented on #5127
It looks like the Modernizr team pushed a new version of [their website](https://modernizr.com) with the release of Modernizr 3.0, which [broke their grunt-modernizr plugin](https://goo.gl/tLPr46). Looking into a good quick fix.

[2015-09-15 20:08] blisteringherb commented on #4886
@julielorch Yes, that sounds right to me.

[2015-09-15 20:11] mikefantini commented on #5127
nevermind, it broke on firefox for me too

[2015-09-15 20:14] angaither commented on #5117
I cannot for the life of me find where this is set.
[according](http://drupal.stackexchange.com/questions/55299/disable-user-language-setting-in-user-edit-page) to the [internet](https://www.drupal.org/node/1049282)
it _should_ be in `$form['locale']` but that doesn't seem to exist.

[2015-09-15 20:22] DFurnes commented on #5127
@mikefantini Yep, it will be broken for any browsers. What happened is that one of the dependencies that we use for feature detection on the front-end was broken, so it wasn't creating functioning builds. Since modals depend on this component, they were silently failing when they tried to load.

[2015-09-15 20:22] #5127 closed, assigned to DFurnes

[2015-09-15 20:22] lkpttn commented on #4942
@sbsmith86 When you get back we can take a look at it, but I think we scaled everything down with the breakpoints to take care of it.

[2015-09-15 20:24] mikefantini commented on #4886
as we talked about IRL let's hold on adding anything for pt-global or es-global. that will be work for future iterations when we decide we want to serve portuguese/spanish speakers globally

[2015-09-15 20:31] DFurnes opened #5129 "Update Modernizr to newest release"
The Modernizr team released the long-awaited [version 3.0](https://modernizr.com/news/modernizr-3-new-release-site). We should look into updating our build process when [grunt-modernizr](https://github.com/Modernizr/grunt-modernizr) is officially updated, and also using official versions of tests that we had previously manually included, like the [CSS3 :checked selector](https://github.com/DoSomet

[2015-09-15 20:32] DFurnes commented on #5127
Verified that this is fixed now on staging. Closing!

Opened a [follow-up issue](https://github.com/DoSomething/phoenix/issues/5129) to update Modernizr when we have some time.

[2015-09-15 20:34] blisteringherb opened #5130 "Display country-specific content at URLs with country prefix"
#### Dosomething.org
- Friendly to Global users
- Available in Global English, Spanish, Portuguese translations
- Surfaces when there isn’t a country specific URL
#### DoSomething.org/us
#### DoSomething.org/br
#### DoSomething.org/mx
- Country specific redirects with native content + global content

Basic Fastly flow here - https://drive.google.com/a/dosomething.org/file/d/0BwVjZK9CrAH_VGMyeXphU0

[2015-09-15 21:16] angaither commented on #5117
oy, the ol' `['#after_build']` trick

[2015-09-16 13:25] mikefantini opened #5132 "no info getting pulled into permalink page as owner or non-owner"
items missing from owner:
- caption
- author name
- why participated

items missing from non-owner:
- problem
- solution (fact OR statement)
- caption
- author name

owner on staging:

![image](https://cloud.githubusercontent.com/assets/6330971/9905652/366ca2fa-5c54-11e5-9ddd-2a5771972fdd.png)

owner on prod:

![image](https://cloud.githubusercontent.com/assets/6330971/9905763/d636f678-5c54-11e5-8

[2015-09-16 14:31] angaither commented on #5132
this actually isn't broken for me locally (with the latest code and the database from stage)
I think it might be a cache issue --since the results of are stored in a custom cache table.
@sheydari-ds how are custom cache tables dealt with on stage? is it on redis, can I log into a client and look?

[2015-09-16 14:34] chloealee commented on #5124
Weird! Isn't the cache clear supposed to wipe out the northstar user info. since we don't want to keep that info. in phoenix?

Does this mean that it's not making the call correctly anymore (from phoenix to northstar) to get the user info?

[code]

[2015-09-16 14:36] ghost commented on #5132
@angaither Redis is run on staging. You can use this client here: http://redisdesktop.com/ for browsing. Ping me when you have time and I can help get it set up for you.

[2015-09-16 14:41] weerd commented on #4988
**¡Update-o Numero 2, OLÉ!**

So the POEditor module seems to work for the most part, but Drupal needed an initial kick in the :peach: to get it to accept the translations.

Within the POEditor module, you can "Get all translations from POEditor", so Drupal will pull them all, however the interface wasn't showing the interface. I ended up Exporting the Spanish-MX translations from POEditor site, a

[2015-09-16 15:07] #5117 closed, assigned to angaither

[2015-09-16 15:11] #5059 closed, assigned to blisteringherb

[2015-09-16 16:04] angaither commented on #5132
Actually the `caption/user name/why participated` is all there... the text is just white
cc @DFurnes

[2015-09-16 16:12] angaither commented on #5132
as far as the non owner stuff
it looks like the majority of content is missing from  `dosomething_campaign_load()` probably from translation stuffs

[2015-09-16 16:19] angaither opened #5133 "Query to get total chars on a specific campaign node"
pull the total word count from a given campaign node
field list tbd...

[2015-09-16 16:34] angaither commented on #5132
the problem fact and solution are also there, they are just showing up as white text

[2015-09-16 16:38] angaither commented on #5132
@DFurnes I think the issue is from the most recent forge changes (since that's the last time the file was touched) https://github.com/DoSomething/phoenix/commit/7e15f5fdb5d96165d466cc052816f27eb32ef74d

[2015-09-16 17:40] jonuy commented on #5124
@chloealee Yea, while cache probably does and should clear info out, if it has been cleared out we should be retrieving it again. It does potentially mean that call isn't working in some fashion. Are the environment variables for this function set on staging and prod?

[code]

[2015-09-16 17:48] #5132 closed, assigned to DFurnes

[2015-09-16 18:09] chloealee commented on #5124
@jonuy I believe they are already on staging and prod because this function already existed (I didn't add when I created the `dosomething_northstar_get_northstar_user` function. I'll do some more digging to see what the issue might be!

[2015-09-16 18:31] #4969 closed, assigned to blisteringherb

[2015-09-16 18:33] #4886 closed, assigned to blisteringherb

[2015-09-16 18:34] #4885 closed, assigned to blisteringherb

[2015-09-16 18:35] weerd commented on #4988
**¡Update-o Numero 2, OLÉ!**

Something to note within template and with translations outputting properly...

This works:

[code]

This does not work:

[code]

[2015-09-16 19:02] angaither commented on #5133
I think a super quick and dirty way we can get this is on stage
from `dosomething_campaign_load` on a specific campaign

[code]

but this ignores facts, steps and faqs

cc @fantini @mnelson338

[2015-09-16 19:04] angaither commented on #4988
:clap: :clap: :clap:

[2015-09-16 20:52] itsjoekent commented on #5133
If we're getting hacky I have an even hackier idea... I can make a simple node script that crawls every campaign page and counts all of the words on it

[2015-09-16 20:57] mshmsh5000 commented on #5130
Every variation of this needs to be represented in the doc that @namimody is putting together.

[2015-09-16 21:08] weerd commented on #4988
**¡Update-o Numero 3, OLÉ!**

Ok, so found some more stuff out. @angaither suggested trying to use the `t()` within the preprocess functions instead of the template, which as it turns out is actually better! And here's why... content that is formatted as markdown gets processed as such prior to being sent to the template, and if it gets changed, that means that the **.po** `msgid` (so the referenc

[2015-09-16 21:23] ghost commented on #5008
@namimody @mshmsh5000 @mikefantini @angaither @blisteringherb
Wiki link: https://github.com/DoSomething/phoenix/wiki/VPN-Server-for-Testing-International-Sites

[2015-09-16 21:23] #5008 closed, assigned to nobody

[2015-09-16 21:24] ghost commented on #4910
I think we're pretty sure we know what to do from here. @mikefantini do we want to capture this as another implementation ticket anywhere (making sure hreflang tag) is on every affected page?

[2015-09-16 21:25] ghost commented on #4910
Actually, assigning to @mshmsh5000 to farm out to the engineering side.

[2015-09-16 22:11] mshmsh5000 commented on #5130
These tests (in red) are meant to relate to this issue. We'll need to agree on these as a group, how they get implemented, and in what layers (app vs. Fastly)

![redirect-tests](https://cloud.githubusercontent.com/assets/149811/9919949/33eaf0fa-5c9e-11e5-8b57-df6111e9c313.png)

[2015-09-16 22:16] mshmsh5000 commented on #4910
https://www.drupal.org/project/hreflang

[2015-09-16 22:25] mshmsh5000 opened #5136 "SEO: Ensure proper hreflang and canonical URL markup"
Relates to #4910 and this article:

https://support.google.com/webmasters/answer/189077?hl=en

Two principles I think we can agree on:
1. If a page has variations in other languages, they should be noted in the header as `<link rel="alternate" hreflang="es-mx" href="https://www.dosomething.org/mx/my/url" />`
2. If a page has no variations in other languages, but is accessible by multiple URLs, the

[2015-09-17 00:33] namimody opened #5137 "Give Site Admins Ability to Archive Activity"
Currently site admins (ex: Michaela) do not have the ability to archive activity and need it to re-run campaigns. Can we allow them to see and use the second to last tab on the campaign admin options?

![image](https://cloud.githubusercontent.com/assets/12396076/9922068/2f3e08c6-5cb2-11e5-906c-a878cc6dfa67.png)

[2015-09-17 00:34] namimody commented on #5137
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;PlUP19tJ&#x2F;1482-archive-activity-ability"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> Archive Activity Ability</a>

[2015-09-17 00:41] namimody opened #5138 "Give Editors Ability to View and Create Redirects"
Editors currently can't see this tab at the bottom of a campaign backend:

![image](https://cloud.githubusercontent.com/assets/12396076/9922150/3488c202-5cb3-11e5-95c5-ee92935b68ee.png)

and can't create redirects, here: https://www.dosomething.org/admin/config/search/redirect

[2015-09-17 00:42] namimody commented on #5138
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;5rzblWSP&#x2F;1483-view-and-create-redirect-ability"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> View and Create Redirect Ability</a>

[2015-09-17 01:16] namimody opened #5139 "Campaign Lead Name Alignment Off on Some Hot Module Campaigns"
Lizzy and Sam's names are just to the right of their photos, like so:

![image](https://cloud.githubusercontent.com/assets/12396076/9922551/0e625ff2-5cb8-11e5-8ad9-d9df5c846cde.png)

![image](https://cloud.githubusercontent.com/assets/12396076/9922581/6819768e-5cb8-11e5-9881-f971fddcdde6.png)

But Michaela and Adam's are moved over, like this:
![image](https://cloud.githubusercontent.com/assets/12

[2015-09-17 01:28] namimody opened #5140 "Archiving Activity Makes Default RB Examples + Featured Members on Live Closed State Disappear"
![image](https://cloud.githubusercontent.com/assets/12396076/9922784/794df8ce-5cba-11e5-81eb-858837b3ff77.png)

![image](https://cloud.githubusercontent.com/assets/12396076/9922805/d5844b98-5cba-11e5-868f-47673e7c2c30.png)

If activity is archived, default RB images should still show on active tab, and featured member photos should still appear if campaign activity is archived to a published run.

[2015-09-17 01:34] namimody commented on #5140
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;mIUHWsJz&#x2F;1485-archiving-activity-makes-default-rb-examples-featured-members-on-closed-state-disappear"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> Archiving Activity Makes Default RB Examples + Featured Members on Closed State Disappear</a>

[2015-09-17 01:46] namimody opened #5141 "Trying to Submit RB without Photo Should Result in Banner Error"
Currently, if you try to submit an RB without a photo, the page shifts a bit, but no error message is provided as to why the RB is not submitting. Perhaps a banner error message could read, "Oops! Try submitting again when you've added a photo of you taking action."

[2015-09-17 01:47] namimody commented on #5141
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;zBqzRoag&#x2F;1486-trying-to-submit-rb-without-photo-should-result-in-banner-error"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> Trying to Submit RB without Photo Should Result in Banner Error</a>

[2015-09-17 02:39] mikefantini commented on #4534
removing high priority label now

[2015-09-17 13:40] angaither opened #5142 "Ensure banner notifications are wrapped in t()"
All [drupal set message results]([https://github.com/DoSomething/phoenix/search?p=1&q=drupal_set_message&utf8=%E2%9C%93)

looks like standout ones we need to update
- [x] [reward confirmation*](https://github.com/DoSomething/phoenix/blob/98ee1bc76940a4a70db1ddd501bbe8ecb4a3ce3f/lib/modules/dosomething/dosomething_reward/dosomething_reward.forms.inc#L61)
- [x] [shipment confirmation](https://github

[2015-09-17 13:50] angaither commented on #2580
closing, duplicate of #1289

[2015-09-17 13:50] #2580 closed, assigned to nobody

[2015-09-17 13:54] angaither commented on #4070
closing we are currently using [entity 7x.1.6](https://github.com/DoSomething/phoenix/blob/f14e685f90f3b0c878195748841985c5a0d70861/lib/profiles/dosomething/drupal-org.make#L55)

[2015-09-17 13:54] #4070 closed, assigned to nobody

[2015-09-17 13:55] angaither commented on #3995
closing #global

[2015-09-17 13:55] #3995 closed, assigned to sergiitk

[2015-09-17 13:57] DFurnes commented on #5139
Oooof, I know what's going on here. :grimacing:

[2015-09-17 13:57] angaither commented on #4402
closing duplicate #4068

[2015-09-17 13:57] #4402 closed, assigned to weerd

[2015-09-17 13:59] angaither commented on #4526
cc @DFurnes

[2015-09-17 14:05] #5124 closed, assigned to chloealee

[2015-09-17 14:48] ghost commented on #5115
I've thought of a whole lot of exotic things we could do with this going forward, but for v1, hashing on geoip.country_code, and since we're using unique URL structure per country-language, this should be the right way to go without making everything too complicated.

Hashing on req.url, req.http.host, and geoip.country_code is now live in Thor.

[2015-09-17 15:13] namimody commented on #5081
Perfect, thanks Andrea! Copy link address led me to the Google Chrome Extension Link Clump -- where you can bulk copy links. :D

[2015-09-17 15:13] #5081 closed, assigned to namimody

[2015-09-17 16:59] DFurnes commented on #5139
This was fixed in [Forge 6.6.1](https://github.com/DoSomething/forge/releases/tag/v6.6.1), which is now deployed to staging.

#### Before:

![screen shot 2015-09-17 at 12 55 37 pm](https://cloud.githubusercontent.com/assets/583202/9940140/f309f538-5d3b-11e5-9d19-d2f499319011.png)

#### After:

![screen shot 2015-09-17 at 12 57 48 pm](https://cloud.githubusercontent.com/assets/583202/9940143/f86e55

[2015-09-17 16:59] #5139 closed, assigned to DFurnes

[2015-09-17 17:38] angaither opened #5144 "Query to pull out hardcoded content"
to help with #5007 we need to upload the content that is currently in these settings into the POEditor
#### custom copy in variable table

[code]
#### custom copy in dosomething_helpers

[code]

[2015-09-17 17:39] angaither commented on #5144
@weerd @mikefantini I've attached the queries above, not sure what the next step is to export/upload? this to be checked against the list @julielorch created

[2015-09-17 17:41] weerd commented on #5144
[code]

This is the one I used last night.

[2015-09-17 17:51] ghost commented on #5005
Marah is going to setup a meeting for Dee and I with the mGage technies. From the mGage documentation, it looks like you can create an API endpoint in their infrastructure to interact with their data however you want (which seems odd).

Further clarification post-meeting.

Current documentation here: https://mgage.app.box.com/s/urbfvapzk61fyxxmhr9y3mywlxqijl5c

[2015-09-17 18:18] weerd opened #5145 "Create function/script to assemble custom PO file based on queried items."
After refining the query established in #5144, need to use that query to output a custom file formatted as a PO file ready to be imported into POEditor.

[2015-09-17 18:23] angaither commented on #5133
closing @mnelson338 got it already :ok_hand:

[2015-09-17 18:23] #5133 closed, assigned to angaither

[2015-09-17 18:29] angaither commented on #5130
things we talked about
- [ ] url alias per language
- [ ] translation redirect module

[2015-09-17 19:05] weerd opened #5146 "Update/add preprocess functions to use t() on config field items"
Need to scour the code where ever the config setting field values are used and make sure there's a preprocess function that handles them first and we wrap `t()` around the items before they're passed through to the template.

[2015-09-17 19:05] weerd opened #5147 "Update/add code to use t() on config field items"
Need to scour the code where ever the config setting field values are used and make sure there's a preprocess function that handles them first and we wrap `t()` around the items before they're passed through to the template.
- [x] campaign config: standard campaigns
- [x] campaign config: sms games
- [x] campaign config: closed campaign
- [x] campaign config: permalink
- [x] campaign config: goals

[2015-09-17 19:38] ghost opened #5148 "Ensure All Servers are Patched Properly"

[2015-09-17 19:39] ghost opened #5149 "Secure Data Segmentation per Country and User"

[2015-09-17 19:40] ghost opened #5150 "Server Log Aggregation, Monitoring, and Notifications"

[2015-09-17 19:57] ghost commented on #4825
This is a pre-requisite for https://github.com/DoSomething/phoenix/issues/4996, which has been blocked for a while now.

[2015-09-17 19:58] ghost commented on #4996
Blocked by https://github.com/DoSomething/phoenix/issues/4825

[2015-09-17 20:07] #5000 closed, assigned to blisteringherb

[2015-09-17 20:21] ghost opened #5151 "Ensure Secured User Access"
Expire old SSH keys, segment users, etc.

[2015-09-17 20:35] mikefantini commented on #5022
we decided that any nodes that are referenced on other nodes and not accessed by URL individually we would not translate and instead would just reference a new node in the appropriate language.

so we _won't_ be translating facts or images.

we will need to translate homepage (v1.0) and not found (v1.1).

one potential downside (?) to this is that facts will be in multiple languages and if we ever

[2015-09-17 20:35] #5022 closed, assigned to nobody

[2015-09-17 20:36] mikefantini opened #5152 "translate not found nodes"
refs #5022

[2015-09-17 20:44] mikefantini commented on #5078
@angaither this can get the ol fender label yeah? :art:

[2015-09-17 21:38] mikefantini commented on #5144
@angaither i'm not sure what the next step is either.

@weerd thoughts?

also here is the doc that needs to be checked against just for reference (obviously tab 2 isn't in droops)

https://docs.google.com/spreadsheets/d/1N94cbs30GZxJvZvzoGszekhI1YOcGzwkRO9AwwguwBo/edit#gid=0

[2015-09-17 21:40] weerd commented on #5145
Looks like we're not going the route of a custom script, etc... just going to use good ole MySQL and run a query to grab the handful of items and manually setup the POT file.

So closing this issue.

---

@angaither @mikefantini

[2015-09-17 21:40] #5145 closed, assigned to weerd

[2015-09-17 21:40] angaither commented on #5144
@mikefantini so this is what I was going to talk to you about.
we have to
- [x] [export the content from prod](https://gist.github.com/angaither/71aba87edb95b1fd588b)
- [x] [convert it from a CSV -> POT file](https://gist.github.com/angaither/c8ecab944f7a0dd49d46)
- [x] upload it
- [ ] Check it against that doc

[2015-09-17 21:41] weerd commented on #5146
Duplicate of #5147. Weirdness

[2015-09-17 21:41] #5146 closed, assigned to weerd

[2015-09-17 21:42] weerd commented on #5144
And I'm working on this part #5147, based on same data pulled from prod to update the code.

[2015-09-17 21:49] mikefantini commented on #5137
@namimody we might want to limit this to site admins since this can't be undone. this would create a sort of +1 process for this. thoughts?

[2015-09-17 22:23] namimody commented on #5137
Hmmm I see @mikefantini. Are any leads currently site admins? I think giving one lead the power to do so, so that ability and responsibility is housed with the team, would be good. What do you think?

[2015-09-18 00:33] angaither commented on #5144
did the first two steps of this

[2015-09-18 13:38] #5072 closed, assigned to itsjoekent

[2015-09-18 14:04] mikefantini commented on #5137
@namimody yeah it would be great if you could do a permissions audit here https://www.dosomething.org/admin/people. but yes at least one campaign lead Ben, and Felicia should be site admins

[2015-09-18 14:06] angaither commented on #5126
caused by `dosomething_global_presave()`

when I commented that function out, everything saved correctly

[2015-09-18 14:22] mshmsh5000 opened #5154 "Return Fastly geo headers to the client"
At least while we develop. Maybe just the country code?

[2015-09-18 14:29] mshmsh5000 opened #5155 "Route Thor Fastly debug logs to external source"
S3, or somewhere else devs and QA can easily access.

[2015-09-18 14:30] mshmsh5000 commented on #5155
Will greatly help dev and debug #4959 and similar.

[2015-09-18 15:22] ghost commented on #5154
Setup and tested. With Mexico TorGuard Proxy:

`mocha:hubot-george sheydari$ curl -Iv thor.dosomething.org
- Rebuilt URL to: thor.dosomething.org/
-   Trying 23.235.40.65...
- Connected to thor.dosomething.org (23.235.40.65) port 80 (#0)

  < HTTP/1.1 301 Moved Permanently
  HTTP/1.1 301 Moved Permanently
  < Server: Varnish
  Server: Varnish
  < Retry-After: 0
  Retry-After: 0
  < Location: https

[2015-09-18 15:22] #5154 closed, assigned to nobody

[2015-09-18 15:52] ghost commented on #5115
Confirmed working in Thor env. Enabled in Prod.

[2015-09-18 15:52] #5115 closed, assigned to nobody

[2015-09-18 16:17] DFurnes opened #5157 "Remove first name fields from SMS game form"
The first name fields tested in #4247 and implemented in #4710 are unfortunately being reverted! :fire: Although they increased completion rate for games, they decreased conversion rates significantly. Therefore, we're going to remove those fields and return styles to how they were previously.

/cc @mikefantini @namimody

[2015-09-18 16:18] DFurnes commented on #5157
According to Freddie, there are no changes needed on the Node backend for this change & he's working on updating the language used in the games to not reference player names.

[2015-09-18 17:29] mikefantini opened #5158 "translations should not be auto-published"
currently when a user goes to create a translated version of a node, the translation defaults to being published.

these translations should be default unpublished

basically this option should be default unselected:

![image](https://cloud.githubusercontent.com/assets/6330971/9966184/474063bc-5e09-11e5-824f-485afd637391.png)

[2015-09-18 17:44] mikefantini commented on #5130
URL alias per language: http://thor.dosomething.org/admin/config/search/path/patterns

seems like we'll have to add in https://www.drupal.org/project/pathauto_i18n to apply alias to each translation

cc: @blisteringherb

[2015-09-18 17:51] #4959 closed, assigned to itsjoekent

[2015-09-18 18:12] ghost commented on #5155
Fastly logs for thor now being sent to "ds-fastly-streaming-logs" S3 bucket once an hour.

[2015-09-18 18:12] #5155 closed, assigned to nobody

[2015-09-18 18:15] DFurnes commented on #5157
@mikefantini This is ready to go once #5160 is merged. Just waiting on confirmation that we're okay for these changes to go live.

[2015-09-18 18:17] mikefantini commented on #5157
we will be by the time we deploy to prod yeah. thanks @DFurnes

[2015-09-18 18:55] weerd commented on #5147
Leaving some notes of things for me to look into that aren't currently working:
- [ ]  permalink page share copy translation in share popups
- [ ] hot module shares
- [ ] win module shares
- [ ] problem shares
- [x] need way to better test non-owner permalink copy is properly translated
- [ ] need to confirm value for **Closed Campaign:Presignup Form Callout Copy** is not escaped in the input othe

[2015-09-18 18:56] weerd commented on #5144
Should this be closed @angaither?

[2015-09-18 19:08] #5157 closed, assigned to DFurnes

[2015-09-18 19:11] angaither commented on #5144
I think we should wait close it till we find if other content is missing

[2015-09-18 19:14] mikefantini opened #5162 "copy is showing in user's language regardless of URL structure"
if you go to the direct path https://thor.dosomething.org/br/voluntario/notas-de-shawn-pt the content should be in BR PT regardless of the user's language settings.

However, what's happening currently is drupal is determining what content to display to the user based on the user's language settings.

Language settings should really only determine what URL to take the user to, not what copy to dis

[2015-09-18 19:33] mshmsh5000 opened #5163 "Thor: pathauto_18n language variant paths 404 instead of showing translated content"
Probably related to #5162.

As an admin user with my language set to English,
1. Enabled pt-br translation for an existing campaign (node/5620).
2. Specified source language as English.
3. Edited title and call to action in pt-br variant.
4. Saved with the translation published.
5. Confirmed that all language-variant aliases were created:

[code]

_Problem 1_

Something created redirects for all o

[2015-09-18 19:36] mshmsh5000 commented on #5130
Current bad behavior: #5163

[2015-09-18 19:57] angaither commented on #5130
hm
I also just found this setting

`https://thor.dosomething.org/admin/config/regional/language/edit/en`
![screen shot 2015-09-18 at 3 56 08 pm](https://cloud.githubusercontent.com/assets/645205/9969660/d986bbae-5e1d-11e5-960b-35471ad25664.png)

[2015-09-18 20:19] mshmsh5000 commented on #5130
BLARGH -- good find @angaither -- I don't think we've configured this at all correctly yet:

![detection](https://cloud.githubusercontent.com/assets/149811/9970102/0a773632-5e21-11e5-8fb3-3c75c518522b.png)

[2015-09-18 21:27] aaronschachter commented on #5067
@namimody The latest release of the iOS app posts reportbacks to staging, and I have confirmed they appear in the inbox. It seems reportbacks @jonuy is submitting from Android are making it there too.  Looking at the timestamps in your screenshot, it looks like this data could possibly be off because the submissions were made while we were developing functionality (could be a number of reasons, AP

[2015-09-19 21:04] mshmsh5000 commented on #5130
This is set up correctly, i.e., to obey path prefix and not domain:

https://thor.dosomething.org/admin/config/regional/language/configure/url

I changed [the detections settings](https://thor.dosomething.org/admin/config/regional/language/configure) to simplify:

![url-first](https://cloud.githubusercontent.com/assets/149811/9978084/2a3ddfac-5eee-11e5-822a-8f1567c2aed0.png)

For both interface an

[2015-09-21 14:13] angaither commented on #5060
@mikefantini closing this one in favor of #5130

[2015-09-21 14:13] #5060 closed, assigned to angaither

[2015-09-21 14:35] #5126 closed, assigned to angaither

[2015-09-21 14:44] mikefantini opened #5166 "global footer needed"
not sure exactly how we're doing this work, but want to make sure we have a place to discuss how we'll be doing this work.

[2015-09-21 15:57] itsjoekent opened #5168 "Set user language based on fastly header when registering"
When a user signs up we should read the Fastly headers and set there language appropriately. Functions in dosomething_settings can be found to read the data embedded in the headers.

cc: @DeeZone @mikefantini

**Related**:
- https://github.com/DoSomething/phoenix/issues/4955 - User Registration transactional email
- https://github.com/DoSomething/phoenix/issues/4958 - Password reset transactional

[2015-09-21 18:39] namimody opened #5170 "RB Gallery Not Showing Photos Using Correct Logic"
The first 6 photos of the gallery ​_should_​ pull from first promoted and then if less than 6 promoted, approved photos.

Additionally, when no photos were promoted on the back end, but were approved, the gallery should pull the approved ones in rather than show placeholder images.

Currently, on Suspended for What, 6 photos are approved and only 5 are showing:
![image](https://cloud.githubusercon

[2015-09-21 18:40] namimody commented on #5170
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;c0Txakv7&#x2F;1488-rb-gallery-not-showing-photos-using-correct-logic"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> RB Gallery Not Showing Photos Using Correct Logic</a>

[2015-09-21 18:44] namimody opened #5171 "RBs Never Reviewed By Leads Appear in "Reviewed" Bucket"
Jess reported the following reviewed RBIDs looking unfamiliar: 95673, 94792, 93321, 93263, 94792, 95595, 95650 despite the site showing that she had reviewed them. Some appear as flagged, some excluded. (Note: interns may have helped review this inbox, but they would have logged in with their own account).

[2015-09-21 18:45] namimody commented on #5171
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;tY2X2JYz&#x2F;1489-rbs-never-reviewed-by-leads-appear-in-reviewed-bucket"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> RBs Never Reviewed By Leads Appear in &quot;Reviewed&quot; Bucket</a>

[2015-09-21 18:48] namimody commented on #4828
Today Jess reviewed a page of 25 reportbacks, submitted, and encountered a 503 error. Then, she found one of the photos in this batch (RBID: 96549) still in the inbox, but also appearing in the "reviewed" bank of RBs. (I need to gain access to prod DB to figure out status according to SQL.)

[2015-09-21 18:49] namimody commented on #4828
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;C1UNq2rS&#x2F;1490-503-error-while-reviewing-rbs"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> 503 Error While Reviewing RBs</a>

[2015-09-21 19:00] mikefantini commented on #5006
see #5130 and #5136

[2015-09-21 19:00] #5006 closed, assigned to nobody

[2015-09-21 19:12] namimody commented on #5109
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;zQE6FDgp&#x2F;1459-of-members-not-updated-on-affiliate-instances"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> # of Members Not Updated on Affiliate Instances</a>

[2015-09-21 19:13] namimody commented on #5109
@angaither any thoughts on this? Thanks!

[2015-09-21 19:15] namimody commented on #5119
Check here when we believe this is fixed: https://www.google.com/analytics/web/?hl=en&pli=1#report/content-landing-pages/a493209w819276p798164/%3F_u.date00%3D20150901%26_u.date01%3D20150914/

[2015-09-21 20:50] angaither commented on #5052
@mikefantini are we going with disabling this for non-US users for now?

[2015-09-21 21:10] weerd opened #5174 "Campaign index needs to allow unpublished in collection"

[2015-09-21 21:14] sbsmith86 commented on #5084
@mikefantini  Want to make sure I got the breakdown correct, see below. Are we breaking out China? or would those users get the global experience?

_US_: MM/DD/YYY
_BR, MX, Global_: DD/MM/YYYY
_CHINA(?)_: YYYY/MM/DD

[2015-09-21 21:16] mikefantini commented on #5084
@sbsmith86 looks good to me, except Chinese users will get the global experience, so no need to do work for Chinese users for launch

[2015-09-21 21:26] mshmsh5000 opened #5176 "Thor: Language updates require Solr updates"
While implementing changes for #5130, we needed to set Global English as the default site language:

![default-lang](https://cloud.githubusercontent.com/assets/149811/10005530/b82e06a0-6085-11e5-8a18-3818226ee20f.png)

Note the Solr warning:

Maybe we do, maybe we don't.

[2015-09-21 21:38] mshmsh5000 commented on #5130
## Settings implemented on Thor

### Language detection

![lang-detect](https://cloud.githubusercontent.com/assets/149811/10005461/66f27082-6085-11e5-92a0-58d77d8db3c0.png)

_N.b._ The first section, _User interface text language detection_, should only apply for non-entity content. My theory is that, for Phoenix, it will only apply to admin-side menus, which is why I made **User** the primary det

[2015-09-21 21:47] angaither commented on #5144
based on [this doc](https://docs.google.com/spreadsheets/d/1N94cbs30GZxJvZvzoGszekhI1YOcGzwkRO9AwwguwBo/edit#gid=0)

things missing

### header footer content
- [header content](https://github.com/DoSomething/phoenix/blob/98ee1bc76940a4a70db1ddd501bbe8ecb4a3ce3f/lib/themes/dosomething/paraneue_dosomething/paraneue_dosomething.info#L23-L27)
  - theme settings needs t()
- [footer content](https://gi

[2015-09-21 21:52] ghost commented on #4828
@namimody @mikefantini I've upped the timeouts in Fastly (which had the lowest settings). Let's see if we can re-create/see if this still happens on large data reportback pages.

[2015-09-21 21:55] ghost commented on #4828
@namimody Can you confirm testing on this, and close if it's looking good?

[2015-09-21 23:05] angaither commented on #5144
lots of this stuff is in module files, so looks like we will have to export those for POE cc @weerd

[2015-09-21 23:14] angaither commented on #5109
@namimody uhm, it's a variable set in each database separately. not sure if/how it gets updated automatically....
(cc @deadlybutter)

[2015-09-21 23:31] angaither opened #5178 "fatal error from ds user module"
[`( ! ) Parse error: syntax error, unexpected '{' in /var/www/dev.dosomething.org/lib/modules/dosomething/dosomething_user/dosomething_user.module on line 463`](https://github.com/DoSomething/phoenix/blob/dev/lib/modules/dosomething/dosomething_user/dosomething_user.module#L463)

[2015-09-22 02:29] marahml opened #5179 "Update password reset copy on site"
Per a convo with @DFurnes. Small copy tweak to improve the UX of pw reset on site.

Add this copy to forgot pw screen: Forgot your password? We’ve all been there. Reset by entering your email.

This is low priority.

[2015-09-22 13:38] itsjoekent commented on #5109
No I don't think the affiliate sites would be updated. I can update the script however to do this, would be trivial.

_BUT_ if we're migrating everyone to one site, is there really any point?

[2015-09-22 13:39] itsjoekent commented on #5178
missing a second )

[2015-09-22 13:48] #5174 closed, assigned to weerd

[2015-09-22 14:20] #5178 closed, assigned to itsjoekent

[2015-09-22 14:34] mshmsh5000 commented on #5130
Updated the PT/ES "campaign" path patterns to something less...militaristic, pending review by actual translators:

![path-patterns](https://cloud.githubusercontent.com/assets/149811/10021292/76a54190-6115-11e5-95da-b004de8dd96b.png)

[2015-09-22 14:35] #5113 closed, assigned to itsjoekent

[2015-09-22 14:44] mshmsh5000 opened #5183 "Redirect a global URL request to translated version, if available"
### User story (primary): anonymous -> 301
- If I am an anonymous visitor,
- and I am making a request from a country where we provide translated content (e.g., Mexico),
- and I request a bare URL (e.g., `/campaigns/sample`),
- and there is a translation available (e.g., `/voluntario/ejemplo`),
- then issue a `301 redirect` to the translation's URL.
### User story (secondary): authenticated -> 302

[2015-09-22 14:44] mshmsh5000 commented on #5130
I'm splitting off the redirect behavior into a different issue (#5183).

[2015-09-22 14:53] #5158 closed, assigned to angaither

[2015-09-22 15:09] chloealee opened #5184 "Campaign Activity to Sync to Northstar"
Sync campaign signups and reportbacks from Phoenix to Northstar.

Right now, when a user signs up and/or reportsback for a campaign on the web, and then logs into the mobile app, they won't see their signups/reportbacks.

Phoenix needs to tell Northstar that a signup/reportback has happened.

Possible solution - since Northstar already has a signup/reportback endpoint that forwards information ont

[2015-09-22 15:11] angaither commented on #4571
@chloealee

[2015-09-22 15:13] chloealee commented on #4571
just chatted with @uy and thought of a possible solution - since Northstar already has a signup/reportback endpoint that forwards information onto Phoenix, make Phoenix web submissions go through Northstar instead of straight into it's own database. @angaither @weerd would love your insight if this is the best way to proceed!

[2015-09-22 15:13] #5184 closed, assigned to chloealee

[2015-09-22 15:14] chloealee commented on #5184
This is a duplicate of #4571. Moving discussion and work there.

[2015-09-22 15:17] angaither commented on #4571
I'm not sure if we are quite at the point that we can remove drupal as a backend for these requests

@DFurnes might have more input on this when he returns...
but another possible solution is I have a [message broker campaign activity repo](https://github.com/DoSomething/mbc-logging) that takes campaign signups and reportbacks and stores them in mongo. since we already queue everything with mb, th

[2015-09-22 15:30] angaither commented on #4968
- only edit any home page node (so they don't create more than one)
  - also this will allow for us to not have different node ids per homepage
- make `subtitle` field translatable
- make `campagins` field reference translatable

[2015-09-22 15:32] mikefantini commented on #4968
@angaither we need `title` field to be translatable too

[2015-09-22 15:33] weerd commented on #4968
I believe `title` is auto translated... like Drupal just auto assumes it needs to be translated, and if there's a translation for it and language selected, then it'll substitute. But should confirm :grimacing:

[2015-09-22 15:33] angaither commented on #4968
since it's translatable on other content types, it already is translatable :wink:

[2015-09-22 15:34] weerd commented on #4968
what @angaither said ;)

[2015-09-22 15:40] chloealee commented on #4571
@angaither awesome, thanks! Should I get started via that direction or wait for Dave's input?

[2015-09-22 15:47] angaither commented on #4992
blocked by #4850

[2015-09-22 15:53] mikefantini commented on #4968
well that's just swell.

also just documenting here, we may need to translate sponsors field reference in the future but will not be doing this for this first implementation

[2015-09-22 16:01] mshmsh5000 opened #5186 "Extract translatable entity content into structured format (XML, JSON)"
Need for an external translation service. This extraction should be for any content that's normally managed by editors, and that's not stored in special config vars:
- Campaign content
- Facts
- Static content

[2015-09-22 18:26] #5121 closed, assigned to nobody

[2015-09-22 18:28] mikefantini commented on #5052
hide for non-US. make issue to deal with for realz in 1.1

[2015-09-22 18:29] mikefantini commented on #5051
@julielorch can you please add comments

[2015-09-22 18:32] mikefantini commented on #4949
closing. will open new issues as new permissions are needed

[2015-09-22 18:39] mikefantini commented on #5186
ideally only pulling out this content: https://trello.com/b/HWVvUsxW/translation-pipeline

[2015-09-22 18:39] joolaay commented on #5051
@angaither @mikefantini
- If US, MX, BR, Ca, UK then all auth fields show
- If global, then suppress SMS
- If we anticipate building an SMS program in a specific country, then will will show SMS field 6 mos. ahead of time

More: https://docs.google.com/document/d/1BvhHRUy7KkiZ2AgtfhtvHNtUGjubCnbGYuPtZGRXevU/edit#

[2015-09-22 18:42] mshmsh5000 commented on #5186
First thought is to construct a View that outputs to RSS.

Sample extraction, just to show what we get with a five-minute effort:

http://www.feedbucket.com/?src=http://phantomclick.com/campaigns.xml&start=20

[2015-09-22 18:47] mikefantini opened #5189 "add internal taxonomy for which content we're translating"
needs to be added to static content and campaigns

[2015-09-22 19:12] mshmsh5000 commented on #5186
At least two problems with the Views RSS approach:
1. [The output itself](https://gist.github.com/mshmsh5000/ad345e6ee001048f5aa9) is messy.
2. Doesn't provide an ingestion method for translated content.

[2015-09-22 20:10] mikefantini opened #5191 "only administrators and global admins should have access to Translate Tab"
![image](https://cloud.githubusercontent.com/assets/6330971/10030180/5dd22550-6144-11e5-9fad-757d6bc8fe3c.png)

[2015-09-22 20:14] angaither commented on #5191
this was added when I granted regional admins the ability to translate content in #5180

[2015-09-22 20:25] sbsmith86 commented on #5051
@angaither @mikefantini I am working on hiding cell phone fields in #5085. I will update that issue to use the ruleset Julie outlined. What else work needs to be done for this issue? Or is this just a discussion?

[2015-09-22 20:27] #5084 closed, assigned to sbsmith86

[2015-09-22 20:28] angaither commented on #5051
@sbsmith86 I think we are good to go with this one, just didn't remove the labels. right @mikefantini?

[2015-09-22 21:03] mikefantini commented on #5051
@angaither we can close this one now yeah? because won't #5085 do the work we need for this? is there any other work that this issue represents?

[2015-09-22 21:04] angaither commented on #5051
:+1:

[2015-09-22 21:04] #5051 closed, assigned to sbsmith86

[2015-09-22 21:06] weerd commented on #5144
@mikefantini @angaither

https://github.com/DoSomething/phoenix/blob/98ee1bc76940a4a70db1ddd501bbe8ecb4a3ce3f/lib/themes/dosomething/paraneue_dosomething/paraneue_dosomething.info#L49-L67 These don't seem to match what's actually in footer on prod...

[2015-09-22 21:14] mikefantini commented on #5144
@weerd footer copy seems to be located here https://www.dosomething.org/admin/appearance/settings/paraneue_dosomething

[2015-09-22 21:20] #4968 closed, assigned to angaither

[2015-09-22 21:27] mikefantini opened #5193 "need a global solution for address collection"
related to #5052

need to:
1. swap out US-centric fields for Global ones when users are non-US (i.e. no state, zip)
2. figure out a solution for address validation

[2015-09-22 21:59] mikefantini commented on #5179
we should account for this copy in the POT file @angaither @weerd

[2015-09-22 22:31] namimody commented on #5109
Thanks @angaither and the @deadlybutter! Call is up to @mikefantini!

[2015-09-22 22:32] namimody commented on #5067
Thanks for following up on this @aaronschachter! Good to go ahead and close then?

[2015-09-22 22:46] #5067 closed, assigned to mikefantini

[2015-09-23 14:11] mikefantini opened #5195 "no campaigns show up on homepage node edit view"
oddly though campaigns still show up on the homepage.

note: this is the US-English translation.

These nodes should also show up when starting a translated version (same as how the copy from fields copies over into a translation on campaign nodes).

![image](https://cloud.githubusercontent.com/assets/6330971/10047190/e83793f6-61da-11e5-869d-4e07c281a216.png)

[2015-09-23 14:13] angaither commented on #5195
I noticed this, if you click 'add' they showed up for me, are you seeing the same thing?

[2015-09-23 14:14] mikefantini opened #5196 "regional admins shouldn't have access to the translate tab of the homepage"
only administrators and global admins should have access to this tab

[2015-09-23 14:17] itsjoekent commented on #5114
Interestin, this bug occurs when the campaign source language and the user language do not match, also confirmed user roles have no effect on the bug.

[2015-09-23 14:18] mikefantini commented on #5196
apparently all same permission as #5191.

closing this as a duplicate

[2015-09-23 14:18] #5196 closed, assigned to nobody

[2015-09-23 14:20] itsjoekent commented on #5114
did some digging, the languages are loaded fine but the URL isn't being constructed properly from this page.

[code]

that node on my local has no existing es-mx translation, but the URL construction logic thought there was

EDIT: Never mind this is working fine, I just forgot to refresh or something

[2015-09-23 14:24] mikefantini commented on #5195
hmm this didn't work for me. I went to add a the Global English translation, which I saved, and I'm still seeing both the Global English translation blank AND the US English translation blank for the campaign field reference.

Also as a BR Admin, when I go to click Edit on the homepage, it also shows me the edit form with blank fields for the campaign field reference.

Added Global English transla

[2015-09-23 14:24] mikefantini commented on #5195
also note that subtitle is also blank in all situations. Only Title and Sponsors (which isn't translatable currently) are populated.

[2015-09-23 14:25] weerd opened #5197 "Update paraneue_dosomething POT file with additional translateable strings"
Add the following items to the **paraneue_dosomething.pot** file which were not extracted with the POTX module:
- [x] header content from paraneue_dosomething.info
- [x] footer content from paraneue_dosomething.info (doesn't match what's on the site; went with content from the database)
- [x] "My Account" link from navigation.tpl.php
- [x] JS error copy for registration

[2015-09-23 14:26] mikefantini commented on #5195
@angaither I think @sergii-tkachenko did something special for the content in the fields to be copied over when creating a translation. Since you mentioned that Title field is all the same regardless of the node perhaps this is why Title is the only field that has copied content over?

[2015-09-23 14:28] itsjoekent commented on #5114
Added in base URL to the front of the redirect url,

'http://dev.dosomething.org:8888/node/1716/edit/es-mx'

nothin. hmm, what else could be doing this

[2015-09-23 14:36] deezone commented on #4958
`dosomething_user_user_pass_submit()` $params:

[code]

`message_broker_producer_request()` payload to RabbitMQ server:

[code]

[2015-09-23 14:44] #5197 closed, assigned to weerd

[2015-09-23 14:44] mshmsh5000 commented on #4973
@deadlybutter Can you try to reproduce on Thor as it's currently (properly) configured? I just tried on Veggie Surprise, and was able to edit titles of translations without overriding the original English title.

https://thor.dosomething.org/us/node/2535/edit/en

The translations have generated the right URLs as well:
- https://thor.dosomething.org/campaigns/veggie-surprise
- https://thor.dosometh

[2015-09-23 14:48] itsjoekent commented on #4973
@mshmsh5000 Ill give it a try now, but what user role were you when you edited the titles?

[2015-09-23 14:50] mshmsh5000 commented on #4973
Admin, which I realize is a major factor. But the behavior's pretty
different when the language detection logic is configured correctly, so
worth a shot.

CTO
@mshmsh5000 http://twitter.com/mshmsh5000 @dosomething
http://twitter.com/dosomething

On Wed, Sep 23, 2015 at 10:48 AM, Joe Kent notifications@github.com wrote:

[2015-09-23 14:50] mnelson338 opened #5198 "Campaign Content added by DS Mexico only appearing in Active view - not in Admin/Edit"
The content for Do Something Mexico campaign: Noche De Monopoly (https://www.dosomething.org/node/5757 ) in the active view of the campaign ![screen shot 2015-09-23 at 10 48 34 am](https://cloud.githubusercontent.com/assets/14057906/10048409/af6bb862-61e0-11e5-93ce-56fe80fa233f.png)
but is not reflected in the Admin/Edit view of the campaign
![screen shot 2015-09-23 at 10 46 44 am](https://cloud.g

[2015-09-23 14:50] itsjoekent commented on #4973
Yeah I wasn't able to reproduce it on Thor either... Odd?

[2015-09-23 14:53] mnelson338 opened #5199 "Clicking on campaign title re-directs to explore campaigns"
Clicking the titles of new campaigns created by DS Mexico admin in "Search Content," redirects to explore campaigns. ![screen shot 2015-09-23 at 10 52 28 am](https://cloud.githubusercontent.com/assets/14057906/10048524/5130da4c-61e1-11e5-81d4-321e09bff5cf.png)

![screen shot 2015-09-23 at 10 54 12 am](https://cloud.githubusercontent.com/assets/14057906/10048556/74d840f2-61e1-11e5-840c-c0ae2c068580

[2015-09-23 14:59] ghost commented on #4825
Done!

api-thor.dosomething.org

[2015-09-23 14:59] #4825 closed, assigned to nobody

[2015-09-23 15:19] itsjoekent commented on #4973
The only thing I can immediately think of is the system language changing from en to global-en (which isnt the case on my local)

But, why would that fix it?

[2015-09-23 15:21] weerd opened #5200 "Add dosomething_user module POT"
Need to extract the POT for the dosomething_user module, add it to the main repo, and clean out any terms that are not being translated.

[2015-09-23 15:28] mikefantini commented on #5199
possibly related to #5114

cc: @deadlybutter

[2015-09-23 15:36] deezone opened #5201 "Password Reset web page in user language"
When a user is sent a password reset link in a transactional email message the message is sent in a language that's dependent on the country / DS affiliate the user signup at:
- MX (Mexico: Spanish)
- BR (Brazil: Portuguese).

The password reset web page is currently only in English.

![image](https://cloud.githubusercontent.com/assets/2119264/10049721/bb52ab76-61e6-11e5-94c9-a1682a181360.png)

It

[2015-09-23 16:18] mikefantini commented on #5201
@DeeZone ok so when a user comes to this page they would have to be anonymous, so in that case we'd be relying on their location to determine what content to show them.

Given that, I _think_ if we just send the user the normal link, the content will be translated into the appropriate language for the user once we inject the translated POT files.

In any case, once everything else is set up let's

[2015-09-23 16:22] angaither opened #5203 "Yahoo 11 facts prototype"
The basic functionality should remain the same for larger (desktop sized) screens
On mobile sized screens we want to serve a different yahoo-theme CTA, as well as the 'explore campaigns button' point to a yahoo link with a [pre-filled search query](https://search.yahoo.com/do?p=animals)

![desktop](https://slack-files.com/files-pub/T024GV2BW-F0B56R1PD-3cb5b03471/big-screen.png)

![mobile](https://

[2015-09-23 16:23] mikefantini commented on #5198
also note:

when @mnelson338 was on /admin/content logged in as the user who created node 5757 and she copied the link address of the edit button on /admin/content and then removed "?destination=admin/content" from the end of the copied URL, she saw the content in the edit view that was supposed to be there.

however, just now when trying to recreate those steps, we are still seeing no content in

[2015-09-23 16:25] angaither commented on #5198
@mnelson338 @mikefantini what's the url of the node/edit page they are seeing?

[2015-09-23 16:43] angaither commented on #5198
from the db

| nid | type | language | title |
| --- | --- | --- | --- |
| 5757 | campaign | es-mx | Noche de Monopoly |

| entity_type | bundle | entity_id | language | field_call_to_action_value |
| --- | --- | --- | --- | --- |
| node | campaign | 5757 | en | Organiza una agradable noche familiar de juegos con un clásico juego de mesa |

[2015-09-23 16:53] mikefantini commented on #5198
@angaither as a Mexican Admin I see a blank view on https://www.dosomething.org/node/5757/edit

[2015-09-23 16:54] mikefantini commented on #5198
@mnelson338 should be able to include the link she is seeing when logged in as the user who created the node

[2015-09-23 16:55] mikefantini commented on #5198
i'm also now seeing this campaign page with no content on the stylized view again as a Mexican Admin:

![image](https://cloud.githubusercontent.com/assets/6330971/10051996/6b9ca742-61f2-11e5-9e74-8cd379e9d353.png)

[2015-09-23 16:57] mikefantini commented on #5198
but logged in as an administrator i do see the content on https://www.dosomething.org/campaigns/noche-de-monopoly:

![image](https://cloud.githubusercontent.com/assets/6330971/10052016/8f0b636c-61f2-11e5-88bc-71253649e573.png)

[2015-09-23 16:58] mikefantini commented on #5198
but I'm not seeing content in the fields in the backend of https://www.dosomething.org/node/5757/edit/es-mx when logged in as an administrator

![image](https://cloud.githubusercontent.com/assets/6330971/10052036/b2b446da-61f2-11e5-902e-9e15089e4b0b.png)

[2015-09-23 17:15] itsjoekent commented on #5199
yeah I originally thought this was related to the URL logic I added a few days ago, but I tested that and it worked fine. something else is going on... hm

[2015-09-23 17:23] mnelson338 commented on #5198
@angaither For node/edit page:
English: https://www.dosomething.org/node/5757/edit/add/es-mx/en
![screen shot 2015-09-23 at 1 26 22 pm](https://cloud.githubusercontent.com/assets/14057906/10052839/e9230e82-61f6-11e5-815e-5b5f7cfdd212.png)

Spanish: https://www.dosomething.org/node/5757/edit/es-mx?language=es-mx
![screen shot 2015-09-23 at 1 26 04 pm](https://cloud.githubusercontent.com/assets/1405

[2015-09-23 17:27] mikefantini opened #5204 "campaign finder unresponsive in thor"
working for me on staging and prod

[2015-09-23 17:34] namimody commented on #5203
Hi @angaither! Behavior sounds correct. Just a couple of clarifying points because I just want to make sure I fully understand --

this will only happen on staging for tomorrow and both the top and bottom CTA link will change on the smaller screen?

Thanks!

[2015-09-23 18:10] namimody commented on #5045
Thanks @angaither and @deadlybutter -- for now, leads will just use the workaround where they can access the edit page by going to dosomething.org/reportback/RBID/edit. We can take the up the tab piece of it at another time.

[2015-09-23 18:26] angaither opened #5205 "add other affliates to lang map"
for auth flow needs to hide/show certain fields based on country codes.

UK and CA should be added to the lang map variable
should they be global english as language?

refs #5052 #5085
cc: @blisteringherb @mshmsh5000

[2015-09-23 18:26] #4955 closed, assigned to deezone

[2015-09-23 18:27] #5041 closed, assigned to chloealee

[2015-09-23 18:28] sbsmith86 commented on #5203
@namimody yep. it will be up on staging by tomorrow and we will switch out the top and bottom CTA's on mobile.

One question - what's the rule for the pre-populated search link, is it the cause term?

[2015-09-23 19:02] namimody commented on #5203
Amazing -- thanks for the clarification @sbsmith86! The rule for the pre-populated link is a bit up in the air because a few approvals have yet to be given -- but what is guaranteed is that we'll know which keyword is associated with each facts page (they vary based on what keyword will yield results with few ads) and how all the URLs are configured. Is that helpful?

[2015-09-23 19:07] sbsmith86 commented on #5203
@namimody hmm i guess i mean how do i know how to build out the custom cta link for this prototype i.e. https://search.yahoo.com/do?p=animals

Does the `p=animals` correlate to the cause term on the node? So if we do volcanos, it would be `https://search.yahoo.com/do?p=environment`?

[2015-09-23 19:11] weerd opened #5206 "Add dosomething_signup module POT"
Need to extract the POT for the dosomething_user module, add it to the main repo, and clean out any terms that are not being translated.

[2015-09-23 19:50] blisteringherb commented on #5204
I'm not able to reproduce this. Was the finder unresponsive as an anonymous user or logged in? What's the user's language?

[2015-09-23 20:10] #4962 closed, assigned to deezone

[2015-09-23 20:13] mikefantini commented on #5204
anonymous user @blisteringherb

[2015-09-23 20:14] mikefantini commented on #5204
also happening for me logged in as a BR admin and logged in as an administrator

[2015-09-23 20:15] mikefantini commented on #5204
![image](https://cloud.githubusercontent.com/assets/6330971/10057444/55c18eee-620e-11e5-8fa2-48cd7f5c3a38.png)

[2015-09-23 20:22] deezone opened #5212 "Mailchimp list ID in user registration"
When a user registers a new user account on the Drupal site:
- [x] a MailChimp list ID value needs to be include in the transactional request to Message Broker.
- [x] The MailChimp list ID will be used by the `mbc-registration-email` application to add the user to the appropriate MailChimp account (API key) and related list.

**~Blocked by~**
- Not able to install on Thor due issues detailed here:

[2015-09-23 20:27] mikefantini opened #5213 "rb noun/verb translated in hot module but not reportback form"
I think this will be resolved with some of the work that @weerd is doing, but just want to document here. Assigning to myself for now until after we get some of @weerd's stuff in.

hot module:

![image](https://cloud.githubusercontent.com/assets/6330971/10057739/c5ca558a-620f-11e5-97b3-5fa4dfcb8274.png)

reportback form:

![image](https://cloud.githubusercontent.com/assets/6330971/10057752/d61cbe2

[2015-09-23 20:27] #5200 closed, assigned to weerd

[2015-09-23 20:29] #4958 closed, assigned to deezone

[2015-09-23 20:43] #5206 closed, assigned to weerd

[2015-09-23 20:59] itsjoekent commented on #5199
clarified with Micah and learned, this is only happening on prod...? and seems to be only affecting MX content. weird

[2015-09-23 21:19] blisteringherb commented on #5204
moved this comment to #5217

---

I'm seeing this for an anonymous user, but I can't replicate the behavior above. The issues I'm seeing are related to the fact that there are no en-global translated campaigns for several of the tags. If we switch the default language to 'en-global' it will break the finder, because the initial loading of the finder doesn't make any calls (from what I can tell) to

[2015-09-23 21:23] namimody commented on #5203
@sbsmith86 for the prototype, you can link to: https://search.yahoo.com/search;_ylt=A0LEV1PdFwNW2ukAuyel87UF;_ylc=X1MDOTU4MTA0NjkEX3IDMgRmcgMEZ3ByaWQDMHVnUmhsV0lSMi5WWFZ1NWhWQVE2QQRuX3JzbHQDMARuX3N1Z2cDOQRvcmlnaW4Dc2VhcmNoLnlhaG9vLmNvbQRwb3MDMARwcXN0cgMEcHFzdHJsAwRxc3RybAM3BHF1ZXJ5A3ZvbGNhbm8EdF9zdG1wAzE0NDMwNDMyOTg-?p=volcano&fr=sfp&fr2=sb-top-search&iscqry=

for the entire partnership, we'll hav

[2015-09-23 21:26] sbsmith86 commented on #5203
@namimody makes sense. thankkks!

[2015-09-23 21:28] #5085 closed, assigned to sbsmith86

[2015-09-23 21:34] weerd opened #5215 "Add dosomething_helpers module POT"
Need to extract the POT for the dosomething_helpers module, add it to the main repo, and clean out any terms that are not being translated.

[2015-09-23 21:42] mikefantini commented on #5204
@blisteringherb hmmm I don't totally understand why not having Global-En translations would be an issue since we're located in the US (so wouldn't anonymous see US-English content?) and since I'm seeing the same behavior as a MX Admin.

this is the error that i'm getting when trying to use the finder:

![image](https://cloud.githubusercontent.com/assets/6330971/10059623/17027720-621a-11e5-9ce5-7d6

[2015-09-23 21:46] mikefantini commented on #5204
from @mshmsh5000 "If it resolves for you, @blisteringherb, then this is a missing DNS entry from doserver2."

[2015-09-23 22:22] mikefantini opened #5217 "no campaigns appearing in thor when make filter choices in finder"
@blisteringherb is seeing this for an anonymous user, but can't replicate the behavior in #5204. The issues he's seeing are related to the fact that there are no en-global translated campaigns for several of the tags. If we switch the default language to 'en-global' it will break the finder, because the initial loading of the finder doesn't make any calls (from what he can tell) to Solr to find ou

[2015-09-24 01:10] mshmsh5000 commented on #5204
[This request to Thor Solr](https://search-thor.dosomething.org/solr/collection1/select?fq=-sm_field_campaign_status:%28closed%29%20bundle:[campaign%20TO%20campaign_group]%20ss_language:%28en-global%20OR%20en-global%29&wt=json&indent=false&facet=true&facet.field=fs_field_active_hours&facet.field=im_field_cause&facet.field=im_field_action_type&rows=8&fl=label,tid,im_vid_1,sm_vid_Action_Type,tm_vid_

[2015-09-24 01:11] blisteringherb commented on #5204
@mshmsh5000 I added it earlier today to Akamai. I forgot that I'd added it in my /etc/hosts but neglected to add it on dososerver2.

[2015-09-24 02:35] blisteringherb commented on #5204
It should now also be resolving in the office as well.

[2015-09-24 03:34] mshmsh5000 commented on #5186
Here's sample RSS output [cleaned up into an array](https://gist.github.com/mshmsh5000/5e9c12c1cc57cb5d4c0e).

It's not bad. A few awkward missing spaces from stripping tags out of the default RSS output.

...And missing Facts. Looking into that.

[2015-09-24 10:46] mshmsh5000 commented on #5205
I'm not clear on why this is a Global 1.0 task, since UK and CA are out of scope and still have their own sites.
- en-gb
- en-ca
- fr-ca

Especially given Canada's two languages, I don't think we want to touch this right now.

[2015-09-24 13:15] angaither commented on #5205
@mshmsh5000 If we want to hide/show specific fields in the auth flow, I think it will be easier to have this stuff in the strongarm so @sbsmith86 can call one function to check countries, [instead of creating an array of country codes](https://github.com/sbsmith86/dosomething/commit/75aed93bde496350645ec49a01e38afde482c227#diff-b4b14fec58a66c7539097ce097603450R82)
I don't think we need to define r

[2015-09-24 13:29] angaither commented on #5203
@namimody looks like it's just searching for the title, correct?

[2015-09-24 13:41] blisteringherb commented on #5217
@DFurnes said that "we just made sure each opt had at least 1 result then let facets handle it from there."  So if we have global english as the default language, we have to have a campaign for each one of the options translated into global english or else we'll get that blank result.

[2015-09-24 13:45] namimody commented on #5203
@angaither for the title of the 11 Facts page? not always. generally, the Yahoo team suggests querying things like "facts about volcanoes" because that yields searches with less ads. Then, there are some pages, like ones about women in tech (oh heyyy) which are going to throw to search results for Megan Smith. Long and short -- the logic will need to consult the list for each fact page.

[2015-09-24 14:10] itsjoekent commented on #5114
This bug is only occurring for non-published campaigns

[2015-09-24 14:12] #5204 closed, assigned to blisteringherb

[2015-09-24 14:14] deadlybutter commented on #5199
okay just tried doing this again this morning and the bug isn't occurring, I'll try as a global admin

[2015-09-24 14:16] blisteringherb commented on #5107
This is handled by apachesolr_multilingual and is unnecessary.

[2015-09-24 14:16] #5107 closed, assigned to blisteringherb

[2015-09-24 14:23] #5215 closed, assigned to weerd

[2015-09-24 14:33] #5203 closed, assigned to sbsmith86

[2015-09-24 14:42] itsjoekent commented on #4949
Created a new global admin on prod, tried going to /admin/content, got a 404

This is blocking me from testing what issues are / aren't working on prod & thor (which is now a thing I need to look for)

[2015-09-24 14:55] sheyd commented on #5063
Instructions sent to Damien in the UK for PC connectivity. UK RDS readonly user credentials in LastPass.

@mshmsh5000 or @Bladt Who's our CA contact(s)?

[2015-09-24 15:03] #3599 closed, assigned to mshmsh5000

[2015-09-24 15:22] mshmsh5000 commented on #5205
Got it, got it. :+1:

[2015-09-24 15:29] mshmsh5000 commented on #5063
That would be the esteemed @mfurdyk!

[2015-09-24 15:31] itsjoekent commented on #5114
HAH, found it, right click and copy the URL from the 'edit' button. Paste that into a new tab, it should end with something like this,

[code]

if you hit enter in the current state, you'll go back to admin/content. _However_ if you remove that bit from the URL, you'll goto the correct edit page.

I'm not sure why it worked on the few published campaigns I tried earlier though...?

EDIT: Yeah, thi

[2015-09-24 15:35] mfurdyk commented on #5063
![image](https://cloud.githubusercontent.com/assets/244123/10077877/4f30a6f8-62b0-11e5-8f5b-1fc798d5ca25.png)

I'm at mfurdyk@takingitglobal if you want to send any details directly!