[2016-01-14 20:12] angaither commented on #5995
@chloealee ah, tricky. you're now waiting for an upstream pull request #6038

[2016-01-14 20:18] chloealee commented on #5995
@angaither ah makes sense, okay thanks! I'll keep an :eyes: on that and rebase when it's merged.

[2016-01-14 20:50] DFurnes opened #6048 "API formatting updates"
From a quick offline conversation, thinking of updating some Phoenix reportback formatting to match the changes that were [recently made in Northstar](https://github.com/DoSomething/northstar/pull/253#issuecomment-170603713).
#### Proposed Changes:
- [x] Update dates to be returned as ISO-8601 string rather than UNIX timestamps
- [x] Consider moving `pagination` into a `meta` object, and formattin

[2016-01-14 21:03] sbsmith86 commented on #5877
Closed with #5979

[2016-01-14 21:03] #5877 closed, assigned to sbsmith86

[2016-01-14 21:20] jonuy commented on #6048
+1 to consistent formatting even across different platforms

[2016-01-15 16:07] sergiitk commented on #5866
@deadlybutter  Was this fixed?

[2016-01-15 16:07] itsjoekent commented on #5866
I didnt see it when I loaded Thor, are you?

[2016-01-15 16:08] itsjoekent commented on #5866
nevermind i apparently didnt click around enough, found it again

[2016-01-15 16:09] #5989 closed, assigned to sbsmith86

[2016-01-15 16:10] sbsmith86 commented on #5981
Closed via #6047

[2016-01-15 16:10] #5981 closed, assigned to sbsmith86

[2016-01-15 16:15] namimody commented on #5732
@DeeZone fixed this last night -- will close @marahml!

[2016-01-15 16:15] #5732 closed, assigned to marahml

[2016-01-15 16:24] #6008 closed, assigned to itsjoekent

[2016-01-15 16:32] weerd opened #6050 "Reportbacks endpoint URL generation in response object is broken"
Update the broken url:

**from**
`/api/v1/reportback/1234"`

**to**
`/api/v1/reportbacks/1234"`

[2016-01-15 16:35] #6050 closed, assigned to weerd

[2016-01-15 16:39] namimody commented on #5956
This no longer seems to be an issue! Closing! cc @mnelson338

[2016-01-15 16:39] #5956 closed, assigned to mikefantini

[2016-01-15 16:53] sbsmith86 opened #6052 "Update campaign status on campaign save"
When a campaign node is saved, we should update the campaign status. A user could change the campaign run on the campaign node, and we need to update the status to reflect the status based on the new campaign run and dates.

I think we might be able to do this only when the campaign run changes.

[2016-01-15 17:13] itsjoekent commented on #5956
yay :tada:

[2016-01-15 19:10] angaither commented on #5993
fixed with #6038

[2016-01-15 19:22] weerd commented on #5993
@angaither Should we have an issue for updating the functions for creating/editing/deleting signups & reportbacks. I was considering it part of this issue but since closing it could be separate new one?

[2016-01-15 19:23] angaither commented on #5993
bah, appoligies

[2016-01-15 20:12] #5993 closed, assigned to weerd

[2016-01-15 20:16] weerd opened #6054 "Update any create/edit/delete functions for SignUps & Reportbacks to account for run_nid"
Refs #5993

Need to go through the signup and reportback processes (DS App & API) and update each function to now also account for the new `run_nid` and the unique combinations with `uid` and `nid` when creating entitites.

[2016-01-19 17:22] angaither commented on #6054
refs #6004

[2016-01-19 18:45] mikefantini opened #6057 "Campaign status and actual view of campaign not matching up"
#### Current Behavior

If a campaign has a run associated with it that has an end date that has already passed, then the campaign status will be set to closed and the view of the campaign will be in the closed state. If I change the end date on the run so that it is a date in the future, the campaign status will be set to active. However, the view of the campaign remains in the closed state.
####

[2016-01-19 18:49] mikefantini commented on #6057
@sbsmith86 so actually this does appear to be a bigger issue.

When a campaign goes from status = active to status = closed the view doesn't change either.

See how on https://thor.dosomething.org/us/campaigns/fantini-run-test the status is set to closed, but the view is still in the active state.

[2016-01-19 19:07] mikefantini opened #6058 "Campaign Run end date should set campaign status to closed at midnight EST the following day"
#### Current Behavior

If the end date on a campaign run is set for 1/31/16, then the campaign status of the associated campaign gets set to closed on 1/31/16.
#### Desired Behavior

If a campaign run end date is set for 1/31/16, then on 2/1/16 at 00:00:00 EST the campaign status should be set to closed. So whether you are in New York, LA, Beijing, or anywhere else, regardless of the timezone on y

[2016-01-19 19:10] itsjoekent commented on #5975
i just checked on my user profile in Thor https://thor.dosomething.org/us/user/2632038 and I don't see where campaign run titles are being used. I even edited the run for Incognito cleanup and Trashy Treasure to make sure.

[2016-01-19 19:27] angaither commented on #5975
@deadlybutter I believe it's when a campaign has been closed

[2016-01-19 19:37] angaither opened #6059 "Sql support for manual cleanup"
refs #5671
- find all campaigns that have a run (not created with @chloealee's script)
- get the first and last signup from each campaign to find the start/end date of that campaign
- export a CSV of data

| run_id | run_title | campaign_id | campaign_title | run_edit_link | start_date | end_date |
| --- | --- | --- | --- | --- | --- | --- |
| 12 | comeback clothes q1 | 362 | comeback clothes | do

[2016-01-19 21:37] angaither commented on #5929
@aaronschachter @jonuy the is to pick this issue up after campaign run stuff is all buttoned up, which I would imagine to be next sprint!

[2016-01-19 21:54] itsjoekent commented on #6059
dumping progress in the event i accidentally loose it

[code]

[2016-01-19 21:56] mikefantini commented on #6057
Just a note: let's not deploy this to prod until #5959 is completed.

[2016-01-19 22:11] sbsmith86 commented on #6057
@mikefantini opened a PR for this #6061

[2016-01-19 22:12] mikefantini opened #6062 "Add campaign FAQs to Contact Us modal on action page"
#### User Story

As a user, when I go to submit a question through the Contact Us modal, I want to see the FAQs before submitting my question to see if it can be answered without waiting for a response from a campaign lead.
#### Additional Information (optional)

In my mind the approach is to:
1. Edit the copy here https://www.dosomething.org/admin/config/dosomething/dosomething_zendesk so that we

[2016-01-19 22:13] itsjoekent commented on #6059
[code]

[2016-01-19 22:20] itsjoekent commented on #6059
two problems with above query...

1) Only returns 1 item in the output (I assume thats because it only ran for the signups i introduced in the join...?)

2) Returns 1970 for min and 2016 (today, this second) for max. something in the timestamp isnt being passed correctly.

[2016-01-20 00:35] mikefantini opened #6064 "Multiple Campaigns Runs Were Created"
#### Current Behavior

Multiple runs were created for some campaigns in  #5961. See https://www.dosomething.org/admin/content/search?title=senior+socials&type=campaign_run&field_cause_tid=All&status=All&language=All as an example. Note Senior Socials the campaign only exists in US English, so this doesn't appear to be a translation issue.

This doesn't seem to have occurred on thor, only productio

[2016-01-20 01:04] mikefantini opened #6065 "Total reportback quantity is being reported differently on the site than what the DB is showing"
#### Current Behavior

Total reportback quantity is off for some campaigns - the amount being displayed on /rb/reviewed and on the hot module do not match what you'd expect given the results from a SQL query. It seems to have jumped after today's deploy.

It seems to only be affecting older campaigns? I can't figure out why some campaigns are effected and why some aren't. For example https://www.d

[2016-01-20 01:05] mikefantini commented on #6065
Possibly related to #6004?

Also query for steps to replicate that I was using is:

`select rb.rbid, rbf.fid, rbf.status, rb.quantity, rb.flagged, from_unixtime(rb.created)
from dosomething_reportback rb
inner join dosomething_reportback_file rbf on rb.rbid = rbf.rbid
where rb.nid = 10`

[2016-01-20 14:06] chloealee commented on #6064
Thanks, Mike!

@angaither since #5961 was only meant to run once (versus a script we use over and over), I'm thinking the best way to approach this is to make another function in the `dosomething_campaign_run.install` file to query for all the duplicate runs for a campaign and delete all but one. Let me know if this is the correct path to go down and I'll get on it!

[2016-01-20 15:55] #4520 closed, assigned to katiecrane

[2016-01-20 16:14] angaither commented on #6064
@chloealee no, this did not happen on thor, and the same code ran it doesn't make sense on why it would work differently on production.

cc @sheyd @blisteringherb
is there any reason you can see why this would happen?

query that ran on thor & prod

[code]

it produces the same results in both environments.
for each row returned, it creates a campaign run node.
for node id = 10, one row is returne

[2016-01-20 16:34] angaither commented on #6065
@mikefantini this is not related to the duplicate run nodes.

because the campaign has multiple languages (in the case of nid 10, it's `language_none` and `en`
the total is getting doubled.

here is what is running to aggregate the totals

[code]

which returns 3978 for node 10
if you remove the join on active campaigns it returns the correct amount 1989

[2016-01-20 16:36] angaither commented on #6065
this happened when we translated the campaign status field

[2016-01-20 16:52] angaither commented on #6065
from @sergii-tkachenko

we could also remove the active campaign join and run totals for all campaigns until this is fixed.

[2016-01-20 17:47] mikefantini commented on #6065
@angaither if we're able to run the fix and get that out today then that seems like the best course of action so we don't have to do additional unnecessary work.

But if you don't think the real fix can get deployed to prod today then I'm down to remove the join and run totals if you think that makes the most sense.

[2016-01-20 19:24] itsjoekent commented on #6059
https://docs.google.com/a/dosomething.org/spreadsheets/d/1Ir16wQCvIxtWmS5Y8ZvdedHXMj20T-qpuvbguvPYNrw/edit?usp=sharing

[2016-01-20 19:24] #6059 closed, assigned to itsjoekent

[2016-01-20 20:32] sheyd commented on #6064
@chloealee @angaither For clarification, is this the order of operations that happened to get us to this state:
- Prod Snapshot to Thor
- Deploy Campaign Run Test Code (v 2.??)
- Test run of `dosomething_campaign_run.install` code to create campaign runs on Thor
- Thor has 1 campaign as tested via query
- Deploy to Prod
- Prod has 3 campaigns instead.

[2016-01-20 20:37] angaither commented on #6064
@sheyd correct and it looks like it was v2.1.19

[2016-01-20 20:39] angaither commented on #6065
@mikefantini
Sergii is running the fix on thor, and then will run it on production.
this will work fine for campaigns that are in one language only (like node 10)
but the query will need to be updated to deal with content that is translated

refs #6004

[2016-01-20 20:39] sheyd commented on #6064
@angaither Thanks for version! Backtracking to see what could have caused this.

[2016-01-20 20:40] sergiitk commented on #6065
Thor's ready, please ensure it works as we expect now.

[2016-01-20 20:42] sergiitk commented on #6065
Ref #6026: we needed to run the translations script after translating `field_campaign_status` field:

`drush ds-global-field-fix field_campaign_status`

As explained here:
https://github.com/DoSomething/phoenix/wiki/Making-content-translatable#enable-field-translation

[2016-01-20 21:02] sergiitk commented on #6065
Also we need to run:

1.

[code]

2.

[code]

[2016-01-20 21:14] sergiitk commented on #6065
@angaither @mikefantini Need your green light and I'm ready to run this on prod.

[2016-01-20 21:24] sergiitk commented on #6065
Going for prod. Before:

[code]

[2016-01-20 21:28] sergiitk commented on #6065
[code]

[code]

[2016-01-20 21:30] sergiitk commented on #6065
[code]

[code]

[2016-01-20 21:30] sergiitk commented on #6065
[code]

[code]

[2016-01-20 21:30] sergiitk commented on #6065
Done.

[2016-01-21 15:56] sheyd commented on #6064
@angaither @mikefantini This was caused by an issue in our deployment process where `updb` ran multiple times (Sergii is testing a fix for this now). The number of campaigns that have multiple run creations I don't currently know.

Next steps:
1. Track down all campaigns with multiple runs
2. Have someone strip them out via script?

Sound like a good course ^^ @angaither @mikefantini ?

[2016-01-21 16:27] mikefantini commented on #6064
@sheyd that course of action makes sense to me.

[2016-01-21 16:36] mikefantini commented on #6004
Note https://github.com/DoSomething/phoenix/issues/6065#issuecomment-173263557 from @angaither

[2016-01-21 16:37] mikefantini commented on #6065
Closing out as this is now resolved on prod for the campaigns in question and #6004 will address the rest of the issue.

[2016-01-21 16:37] #6065 closed, assigned to angaither

[2016-01-21 16:39] weerd commented on #6065
FYI, I have some stuff in the works that should help with this in the future and storing the counts in Redis and not the DB during my Campaign Gallery updates. Part of the issue is that we only store the count on creation and review, but not on deleting or updating RB items (or something like that)...

[2016-01-21 16:51] angaither commented on #6064
It might be easier to just manually delete them.
duplicates can be easily seen with this query

[code]

[2016-01-21 18:08] chloealee commented on #6064
thanks, @angaither! I'll hop on this and finish the above.

@sheyd when you get a chance, would you mind helping me get the prod database set up?

[2016-01-21 18:38] angaither commented on #6065
@weerd actually this issue was caused because we translated a field that we were joining on so the results were getting added multiple times (depending on how many translations of the node there are)

[2016-01-21 18:42] weerd commented on #6065
Ah, hokay!

[2016-01-21 19:07] itsjoekent commented on #5975
I ended the run for Trashy Treasure (heres the run https://thor.dosomething.org/us/node/6292) and the profile still doesn't display it https://thor.dosomething.org/us/user/2632038

[2016-01-21 19:36] itsjoekent commented on #6007
The problem I'm running into on both views is that I can't grab the current run, these are my options

![screen shot 2016-01-21 at 2 34 25 pm](https://cloud.githubusercontent.com/assets/897368/12492032/3485cdd4-c04c-11e5-8024-1c218eb1252f.png)

A textbox that has an option to input the NID, or a dropdown that checks if we have a run for that language.

Is there a way to "force" the current NID int

[2016-01-21 21:25] angaither commented on #6007
@deadlybutter you might have to views_alter is
check out what @sbsmith86 did [here](https://github.com/DoSomething/phoenix/blob/dev/lib/modules/dosomething/dosomething_campaign/dosomething_campaign.module#L36) with the current run field on the campaign node

[2016-01-22 15:32] weerd commented on #5991
@angaither Would the `current_run` for a reportback actually be the current run or the run it's actually associated with?

[2016-01-22 15:59] angaither commented on #5991
whaaa

[2016-01-22 16:04] itsjoekent commented on #6007
Not having much luck with any of the view alters here https://api.drupal.org/api/views/views.api.php/group/views_hooks/7

I'm able to change the exposed inputs value, but it never reflects in the view itself (regardless of which hook I use in the execution order). :js: solution maybe?

[2016-01-22 16:05] angaither commented on #6064
@mikefantini closing, I removed the duplicates.
there's some that _appear_ to still be duplicates, but it's because the actual campaign node has a bunch of duplicates

[2016-01-22 16:05] #6064 closed, assigned to sheyd

[2016-01-22 16:24] weerd commented on #5991
If you're doing a GET request for `/reportbacks` what does "current_run" mean in that context? Wouldn't it just be "campaign_run" that the reportback corresponds to? I don't think it has anything to do with what the current run is... the only place that matters with a reportback is when submitting one and needing to apply the current run id to that uploaded file.

[2016-01-22 16:38] angaither commented on #5991
you are correct good sir!

[2016-01-22 18:38] angaither opened #6068 "Closed campaigns are displaying signup buttons"
[the check for closed campaigns](https://github.com/DoSomething/phoenix/blob/eaa7df6ba637e7795d23ac7aa41babd559f6a587/lib/modules/dosomething/dosomething_campaign/dosomething_campaign.module#L858) are checking for `LANGUAGE_NONE` instead of the language the campaign is in

[2016-01-22 19:35] itsjoekent commented on #6004
sorry I'm not entirely sure what you are asking for @angaither

[2016-01-22 19:48] namimody commented on #6057
record of which campaigns were unpublished: https://dosomething.slack.com/archives/phoenix/p1453492102005064 + science sleuth, 50 cans, treat yo friends + no bull

[2016-01-22 20:01] #6057 closed, assigned to sbsmith86

[2016-01-22 20:21] sheyd opened #6069 "Expose Campaign type in api"
add field `field_campaign_type` to the get campaign endpoint

[2016-01-22 20:27] angaither opened #6070 "Closed campaign notify me breaks pages"
on closed campaigns this happens
https://thor.dosomething.org/us/node/362

[code]

[2016-01-22 20:37] weerd opened #6071 "Campaign class reporting incorrect prefix for language properties"

[2016-01-22 20:41] #6071 closed, assigned to weerd

[2016-01-22 20:54] angaither opened #6073 "Allow unpublish without a run"
[some](https://www.dosomething.org/us/campaigns/50-cans) [campaigns](https://thor.dosomething.org/us/node/3478) are already published without a run and they can't be unpublished
we should only disallow that box from being checked, not unchecked
Refs #5994

[2016-01-22 20:56] angaither opened #6074 "Why can't I select a run node?"
[here](https://www.dosomething.org/us/campaigns/50-cans) [and here](https://thor.dosomething.org/us/node/3478)

from https://www.dosomething.org/us/node/3271/edit
![image](https://cloud.githubusercontent.com/assets/645205/12522812/be9963a8-c120-11e5-8902-0740ae1ca206.png)

there are runs, and they are associated to the campaign, but it doesn't display them as options in the dropdown

[2016-01-22 21:02] sheyd commented on #6069
Currently, API returns `mobile_commons` with `opt_in_path_id` and `friends_opt_in_path_id`, which can be used by ETL scripts to import campaigns to the Data 1.0 warehouse in an automated way. Part of the campain_loader script looks for whether campaign is SMS campaign or not. Having the SMS component exposed via API will help campaign ingestion pipeline be automated instead of manual.

[2016-01-22 21:07] angaither commented on #6070
we should probably discuss the proper solution to this since adding run_nid to that table doesn't make a lot of sense

@mikefantini

[2016-01-22 21:27] sheyd commented on #6006
In place.

[2016-01-22 21:27] #6006 closed, assigned to sheyd

[2016-01-22 21:47] namimody opened #6075 "Monitoring: Sign Up Via Permalink"
#### Experience to Test:

Signing up via permalink.
#### Proxy:

No POST requests occur.
#### System:

StatHat

[2016-01-22 22:11] itsjoekent commented on #6070
Context- What are pre signups?

[2016-01-22 23:33] deezone opened #6077 "Missing fields from /api/v1/campaigns/:nid response"
**BLOCKED**
Currently with both the `/api/v1/content/:nid` to `/api/v1/campaigns/:nid` endpoints are not providing the fields listed below. It's currently not possible to generate digest messages.

**Reason**:
`/api/v1/content/:nid` is set to be depreciated based on the documentation (https://github.com/DoSomething/phoenix/wiki/API#retrieve-a-campaign-will-be-deprecated) and currently has bugs in

[2016-01-25 14:29] angaither commented on #6070
@deadlybutter it's essentially a signup button for campaigns when they are closed, so an option to get on the mailing list and be notified when the campaign opens again
![image](https://cloud.githubusercontent.com/assets/645205/12553551/2a470408-c346-11e5-8c5f-02c2a3730ecb.png)

[2016-01-25 14:37] angaither commented on #6077
@DeeZone the `/campaigns` endpoint doesn't have all the node data currently, and we have no plans to depreciate the `content` endpoint currently. What kinds of bugs are you seeing in that response?

[2016-01-25 14:42] itsjoekent commented on #6070
I think I found a simple fix, let me try this

[2016-01-25 14:44] angaither commented on #6070
@deadlybutter mind if I ask what?

[2016-01-25 14:45] itsjoekent commented on #6070
we already check in the function causing the error if its a presignup or not, https://github.com/DoSomething/phoenix/blob/80c0ebe55d80069267563a964783c4c2e735fd70/lib/modules/dosomething/dosomething_signup/dosomething_signup.module#L305

we just need to make sure that in that case, run nid isnt added as a condition if its a presignup

[2016-01-25 14:52] itsjoekent commented on #6070
so something like this...

[code]

I think this will work? ill try it now

[2016-01-25 14:54] itsjoekent commented on #6070
ok nevermind that doesn't compile...

[2016-01-25 14:56] itsjoekent commented on #6070
this works though, just not as DRY

[code]

[2016-01-25 14:58] itsjoekent commented on #6070
and confirmed the notify me button worked with that code

[2016-01-25 15:18] namimody opened #6079 "Solr not automatically re-indexing"
### Problem

Solr indexing doesn't seem to be happening automatically
When just checking there were~200 items that needed to be indexed,
This should automatically happen every hour, or to anything that's new
### OG ticket

Correct image sizes are uploaded on the back end for Less Stress Text: https://www.dosomething.org/node/6114/edit?build_cache_id=entityconnect-form-ZmJgDLH2xTBUxpijIgjbhzRx9gaih

[2016-01-25 15:23] deezone commented on #6077
@angaither  Last week the `/campaigns` endpoint was returning NULL values when the digest ran on Thursday afternoon. Perhaps a larger intermittent issue as I can no longer reproduce it.

"Retrieve a campaign (will be deprecated)"
https://github.com/DoSomething/phoenix/wiki/API#retrieve-a-campaign-will-be-deprecated

Based on the title and discussions with @weerd I was under the impression the endp

[2016-01-25 15:31] angaither commented on #6077
@DeeZone it would make sense if it had all the fields/translations that message broker uses
but currently `campaigns` endpoint doesn't expose content in other languages is not supported and it doesn't have all the fields you need.
we can certainly keep this issue open and address it, but I don't think the most loved api has everything you need

[2016-01-25 15:34] #6070 closed, assigned to itsjoekent

[2016-01-25 15:45] deezone commented on #6077
Thoughts on going forward?

There's a need to support global digest which will require an endpoint that allows requesting campaign details by translation. Rather than add features to an endpoint that's marked for depreciation would it not make sense to focus efforts on a single endpoint?
1. Add the two missing fields (detailed above)
2. add support for language parameter in request

[2016-01-25 15:53] angaither commented on #6077
sorry, what features. I was under the impression that the `content` api has what you need?

support for language is a large task and we probably won't get to it this quarter.

[2016-01-25 16:36] deezone commented on #6077
@angaither Regardless of the language support:

Detailed in the issue description. If `/campaigns` had the following three fields:
- DO IT: During Tip Header - step_pre[0]->header
- DO IT: During Tip Body - step_pre[0]->copy
- latest_news
  then `/content` could be depreciated as Message Broker would no longer need it.

@weerd @deadlybutter For what it's worth, `/content` use to return values in `

[2016-01-25 18:03] #6073 closed, assigned to sbsmith86

[2016-01-25 18:11] #6068 closed, assigned to katiecrane

[2016-01-25 18:16] angaither commented on #6004
@deadlybutter the things that calculate the total quantity [here](https://github.com/DoSomething/phoenix/blob/6b5a9db99de9725ced28ea70527236e4e26fa234/lib/modules/dosomething/dosomething_reportback/dosomething_reportback.cron.inc#L11)

@mikefantini I think the progress update is the only place the campaigns team checks for impact, correct?

[2016-01-25 18:25] angaither commented on #5991
this can be closed now, right?

[2016-01-25 18:25] mikefantini commented on #5975
@deadlybutter see Teens for Jeans 2015 as an example where the profile is using the campaign run title in the profile you linked below.

![image](https://cloud.githubusercontent.com/assets/6330971/12560139/0ace6226-c367-11e5-9aa8-b7c404e8bdfe.png)

https://thor.dosomething.org/us/user/329195

[2016-01-25 18:26] mikefantini commented on #6004
@angaither I think they actually mainly look at it in the /rb/reviewed section

[2016-01-25 18:34] angaither commented on #6004
ok, that's fine I think `dosomething_reportback_get_reportback_total_plus_override` still gets the total from that cron function above

[2016-01-25 18:51] weerd opened #6083 "/reportbacks & /reportback-items user data broken"
While working on campaign runs and checking Runscope, user data retrieval for the `/reportbacks` and `/reportback-items` endpoints is broken. Turns out the recent upgrades made to Northstar response structure changed the structure Phoenix was expecting, and thus was breaking the Phoenix user retrieval methods.

---

cc: @DFurnes @jonuy

[2016-01-25 18:51] angaither commented on #6079
it's not referencing that image you linked. that's called freddie says relax and this is looking for CampaignSquare4
![image](https://cloud.githubusercontent.com/assets/645205/12560807/a52d2bec-c36a-11e5-8b37-63ee6a2331f6.png)

[2016-01-25 18:57] #6083 closed, assigned to weerd

[2016-01-25 19:02] namimody commented on #6079
Is that because the image was changed while the campaign was live @angaither?

[2016-01-25 19:03] angaither commented on #6079
perhaps, it's probably just a solr index problem

[2016-01-25 19:50] sbsmith86 commented on #6074
@angaither I think this is an issue with translations lining up. For the examples you gave on Thor:

**Science Sleuth**
The Science Sleuth campaign only has a english translation.

There are two campaign runs for science sleuth:
**Science Sleuth 2015** - Only published translation is english global, so the english version of the campaign isn't showing it.
**Science Sleuth 2014** - Only publish tra

[2016-01-25 19:52] angaither commented on #6074
That would make sense (cc @mikefantini)

[2016-01-25 19:55] angaither commented on #6069
@sheyd what fields are you looking to have exposed? it looks like `opt_in_path_id` and `friends_opt_in_path_id` are currently exposed

[2016-01-25 19:57] mikefantini commented on #6074
Works for me @sbsmith86. I can go ahead and give that a shot now.

[2016-01-25 20:06] weerd commented on #6069
The `Campaign` class does have a type property exposed to the class but doesn't get passed along to the API. This could be something we expose.
https://github.com/DoSomething/phoenix/blob/dev/lib/modules/dosomething/dosomething_campaign/includes/Campaign.php#L16

[2016-01-25 20:12] mikefantini commented on #6074
Fixed both on prod: [50 cans](https://www.dosomething.org/us/campaigns/50-cans) and [Science Sleuth](https://www.dosomething.org/us/campaigns/science-sleuth).

We can close this out then yeah @sbsmith86 @angaither? cc: @namimody

[2016-01-25 20:13] #6074 closed, assigned to sbsmith86

[2016-01-25 20:58] itsjoekent commented on #6004
I thought using DISTINCT might fix it but no luck there. Regardless I've fixed the run issue, just need to get the other half (duplicates due to translations)

[2016-01-25 20:59] angaither commented on #6004
@deadlybutter you can join on two things so both id & language
you can just do the source language of the node since we aren't totally different totals for different translations

[2016-01-25 21:01] itsjoekent commented on #6004
ok

[2016-01-25 21:04] itsjoekent commented on #6004
that did it

[code]

[2016-01-25 23:45] mikefantini commented on #5959
We also need to figure out what to do with members who signed up for campaigns that were temporarily opened but should have been closed: https://docs.google.com/a/dosomething.org/spreadsheets/d/1-lrnWtY7C9h0m_vGwRd1e9zUGPb-oLXgv-RsIH-r0Qs/edit?usp=sharing

[2016-01-26 14:34] angaither commented on #5959
@mikefantini from the bug last week?

[2016-01-26 15:46] sheyd commented on #6069
@angaither Specfically looking for if a campaign is an SMS game or not.

[2016-01-26 15:47] sheyd commented on #6069
Updated title to better reflect what looking for.

[2016-01-26 17:20] chloealee commented on #6077
@weerd @deadlybutter I'm playing around in `Transformer.php` and did `print_r($data);` on line 204. Would these be the new equivalents?

`step_pre[0]->header` is now `field_pre_step_header`
`step_pre[0]->copy` is now `field_promoting_tips`
`latest_news` is now `field_latest_news_copy`

[2016-01-26 18:26] angaither commented on #6062
@mikefantini faqs are often pretty long, do you see them getting pulled into the question modal? or just a link to them?

[2016-01-26 18:40] mikefantini commented on #6062
Yeah I worried about that. Simply linking to the FAQs could be a quick fix, although I worry it might not drop the number of questions that dramatically. We could try to be pretty persuasive with copy though - something like "Get your question answered right away by first checking our FAQs which are updated regularly." And at the very least it'd be an incremental improvement over what we have righ

[2016-01-26 18:43] angaither commented on #6062
all bold **READ THE FAQs**
Just in lookin at the TFJ one, it's like three scrolls down to see them all
![image](https://cloud.githubusercontent.com/assets/645205/12590812/bd68cc3e-c432-11e5-8288-cca4a2219583.png)

[2016-01-26 18:47] mikefantini commented on #6062
@angaither yeah which is why the expand/collapse might not be the worst idea anyways.

But again, in the sake of small incremental improvements I'm down with linking for now.

Maybe add it below the current text in that modal as a new paragraph:

"Or get your question answered right away by first [checking our FAQs](www.dosomething.org) which are updated regularly."

[2016-01-26 20:49] mikefantini commented on #5959
@angaither yeah this was from when campaigns that were supposed to be closed were actually active for a few days last week.

[2016-01-26 21:43] #6077 closed, assigned to chloealee

[2016-01-26 21:45] angaither commented on #6069
@chloealee if you enjoyed #6077 you'll LOVE this one

[2016-01-26 21:53] #6054 closed, assigned to weerd

[2016-01-26 21:55] chloealee commented on #6069
@angaither yes, keep these coming! Was just telling Dave how much I liked these :)

[2016-01-26 22:33] #6069 closed, assigned to chloealee

[2016-01-26 23:29] mikefantini opened #6092 "High season end date appears in header photo on campaigns in the closed state"
#### Current Behavior

High season end date is showing on header photo when a campaign is in the closed state if "Show End Date on Pitch & Action Page" is enabled.
#### Desired Behavior

Since the campaign is closed, this end date should no longer appear.
#### Steps to Replicate
- View a campaign that is closed
- Make sure "Show End Date on Pitch & Action Page" is enabled
- Verify that end date ap

[2016-01-27 15:24] angaither commented on #6092
we are calling `dosomething_campaign_get_campaign_status` to get the campaign status on the node, which is essentially the same function as `dosomething_campaign_is_closed`
the latter was refactored to deal with that field no longer being language_none, while the former was not.

[2016-01-27 16:35] #6092 closed, assigned to nobody

[2016-01-27 16:54] angaither commented on #6014
nodes to check
https://dosomething.slack.com/archives/G0KH8RRST/p1453912394000009

checking for duplcates
https://dosomething.slack.com/archives/G0KH8RRST/p1453913240000010

[2016-01-27 18:27] weerd commented on #6033
Go big or go home :dancer:

[2016-01-27 18:44] weerd commented on #5991
Not yet. I need to update the old GET signups endpoint

[2016-01-27 18:44] weerd commented on #5991
working on it...

[2016-01-27 19:13] weerd commented on #5991
@aaronschachter is the GET `/signups` endpoint used anywhere? I can't find any documentation on it in the API wiki, so not sure what parameters it's implying I can pass, but all I get is:

[code]

when I hit `/api/v1/signups`

[2016-01-27 19:20] aaronschachter commented on #5991
Kill it with fire. It's code I added before we were using Northstar for the mobile app for Signup Groups, which we've since abandoned:  https://github.com/DoSomething/phoenix/pull/4243

[2016-01-27 19:27] weerd commented on #5991
@angaither I think we can close this one now. The only signup related stuff w/ `run_nid` happens in `/campaigns/:id/signup` and the `run_nid` stuff accounted for in the function called `dosomething_signup_create()` from within the endpoint callback :)

[2016-01-27 19:27] #5991 closed, assigned to weerd

[2016-01-27 19:27] itsjoekent opened #6095 "Cleanup duplicate signups"
- [ ] update `dosomething_signup_exists` to check for a signup without the run nid
- [ ] reconcile all duplicate signups
- [ ] reconcile all signups attached to the wrong run id

To find duplicate signups use this query

[code]

This is blocking https://github.com/DoSomething/phoenix/issues/6014 as duplicates need to be removed before we can associate run nids on signups.

[2016-01-27 19:28] weerd opened #6096 "Remove old code for deprecated /signups endpoint"
- [x] Turn off the endpoint in services
- [x] Remove the code for the resource.

[2016-01-27 19:29] deadlybutter commented on #6095
questions @angaither

1. after this is done, are we re-merging https://github.com/DoSomething/phoenix/issues/6020 ?
2. I'm assuming we're making an update hook for this, how are generating the new ID's to make them unique? Is there a drupal function for this?

[2016-01-27 21:00] weerd opened #6097 "locale_language_url_rewrite_url Notices!"
We're getting a bunch of notices in the Log Report regarding:

[code]

Problem occurs in this function ``locale_language_url_rewrite_url(&$path, &$options) { ... }` in Drupal core **local.inc**.

The issue seems to be with the `$options` array that gets passed into the function, in one of the conditionals it's hitting, it's trying to find a nested object called language `$options['language']->lang

[2016-01-27 21:36] chloealee commented on #5750
@mikefantini @angaither It looks like this has already been fixed? I can't seem to replicate and the below doesn't have the bar anymore!

https://thor.dosomething.org/mx/sobre/%C2%BFqu%C3%A9-es-dosomethingorg

[2016-01-27 21:48] chloealee commented on #5750
I mis-understood. Looks like this isn't popping up because @sbsmith86 's code got reverted somehow? Ref #5078

[2016-01-27 22:23] chloealee commented on #5750
@sbsmith86 came by and walked me through this! We added back her code that got reverted somehow and made a fix for this. PR coming in the next few min!

[2016-01-27 23:26] namimody opened #6103 "CSS for Mobile App Optimizely Test"
More details to come -- just getting this logged.

[2016-01-28 14:53] #6033 closed, assigned to weerd

[2016-01-28 15:14] #5750 closed, assigned to chloealee

[2016-01-28 15:15] chloealee commented on #5078
Closing with fix from #6101

[2016-01-28 15:15] #5078 closed, assigned to sbsmith86

[2016-01-28 15:37] #6096 closed, assigned to weerd

[2016-01-28 15:41] #5807 closed, assigned to chloealee

[2016-01-28 15:50] sbsmith86 opened #6105 "Fix campaign run cron"
Currently, there is a campaign run cron job that gets all campaign runs and updates the campaign status.

But this isn't right.

Getting all the campaign runs and updating the status of the campaign their tied to doesn't work because not all campaign runs are the current run. So the status is being updated based on old runs sometimes.

Not sure what I was thinking with that one.

Anyway....I need

[2016-01-28 17:46] mikefantini commented on #6004
Hmmm @deadlybutter I'm a little confused by some of the stuff i"m seeing here:

Obviously the data is a bit out of sync at this point, but I find it odd that thor and prod are so off between, especially because for 3755 and 1144 have the same number of rb images:
- https://www.dosomething.org/us/node/3755/rb/reviewed and https://thor.dosomething.org/us/node/3755/rb/reviewed
- https://www.dosomethi

[2016-01-28 17:53] chloealee commented on #5975
I'm also having a hard time replicating this one. Went to the same URL in @mikefantini 's screen shot and not getting those campaigns anymore: https://thor.dosomething.org/us/user/329195

[2016-01-28 17:57] itsjoekent commented on #6004
talked w/ Fantini -- problem is we didn't add run nid's to all the signups / reportbacks

this line in the code in the cron job

[code]

was added because we assumed all reportbacks would have a run_nid by now.

the reason prod has higher numbers than Thor is because since the DB import on Thor, people have been reporting back on Prod whereas Thor has remained unchanged. The numbers are low becaus

[2016-01-28 18:45] #6105 closed, assigned to sbsmith86

[2016-01-28 19:35] chloealee commented on #5975
The only reason I can think of why it pops up as "Teens for Jeans 2015" is based on the placeholder I was working with before we decided on what the title of the nodes should be (https://github.com/DoSomething/phoenix/issues/5961#issuecomment-170926109).

The placeholder was title of campaign + current year (which is also outdated in [this comment](https://github.com/DoSomething/phoenix/blob/dev/l

[2016-01-28 20:44] blisteringherb commented on #5793
I've got this mostly working, with one caveat. The global campaigns show up interspersed with all of the other campaigns instead of "filling in" at the end. This is because /campaigns is using Views, and we don't have quite as much control as we would with the campaign finder.

@mikefantini Is it fine to ship this with the global campaigns interspersed with all other campaigns on the /campaigns pa

[2016-01-29 15:08] itsjoekent commented on #6004
yeah, now that I know this code is only on thor, this makes a lot of sense.

[2016-01-29 15:29] angaither commented on #5975
@chloealee there's a show more to view older reportbacks, and when you click that as many times as it lets you, these campaigns appear and the title is the run title, not the campaign title.
![image](https://cloud.githubusercontent.com/assets/645205/12679609/0fd12e16-c673-11e5-90d6-8884219867ef.png)

[2016-01-29 15:43] angaither opened #6110 "Expose GET signup endpoint"
We're thinking that syncing all user activity data into Northstar is probably going to create more headaches for us in the future than it's worth. It seems like the best path forward is to expose this information from the Drupal API and let Northstar act as a authentication "proxy" for accessing those endpoints from the mobile app.

(In the future, the Northstar proxy code could be removed once we

[2016-01-29 15:43] chloealee commented on #5975
ah I see now - thanks for the clarity @angaither !

[2016-01-29 15:43] angaither commented on #5859
Instead of syncing data to northstar, which will probably get out of sync, we can call to get this info from NS so we are going #6110 route instead

[2016-01-29 15:43] #5859 closed, assigned to DFurnes

[2016-01-29 15:45] angaither commented on #6110
@weerd if you could work with @chloealee on this that would be :ok_woman:

[2016-01-29 15:59] weerd commented on #6110
¡OLÉ! @chloealee lets have an endpoint creation party :tada:

[2016-01-29 15:59] chloealee commented on #6110
@weerd yay can't wait!

[2016-01-29 16:00] mikefantini opened #6111 "SMS reportbacks need to include run ID"
#### Current Behavior

We're now associating a run ID with every reportback. In order to properly calculate the impact for a campaign run we need all reportbacks to have run ID associated with it. Each campaign node has a current run ID field set. This is the run ID that new reportbacks should be assigned.

Currently SMS reportbacks have run ID set to NULL.
#### Desired Behavior

SMS reportbacks w

[2016-01-29 16:01] classicfreddie commented on #6111
@jonuy is this something we should update when we're configuring the reportbacks in compose? if so, how?

[2016-01-29 17:08] aaronschachter commented on #6110
This might be overkill, but here goes: if the main data source is Phoenix, any thoughts on embedding a  campaign object, like we do for the `reportbacks` and `reportback-items` endpoints?  If we also add a `reportback` property - a user's profile could be displayed in a single API request. (`user/:id/signups`)

Refs https://github.com/DoSomething/northstar/issues/210

[2016-01-29 17:46] weerd commented on #6110
Yeah, I was gonna say I'd prefer a structure like this that follows along with what we're doing in our newer endpoints and Northstar:

[code]

Including the Campaign object would give us more info apart from the `title` for the response if using the `teaser` view like the RB endpoints use.

[2016-01-29 17:52] weerd commented on #6110
I'd also like to aim to maintain the RESTful style routing we've been establishing across our APIs with our newer endpoints, so I'd suggest the endpoint for a specific user on a specific campaign via the signups endpoint user url parameters like:

[code]

Plus, similar to how the RB Items endpoint can pass multiple campaign ids `/reportback-items?campaigns=1321,362` it could be something similar w

[2016-01-29 18:07] jonuy commented on #6111
@classicfreddie yea, it sounds like we'll need to update the SMS node app to allow us to set a run ID that gets sent along with an SMS reportback.

@mikefantini do you know if the Phoenix reportback endpoint is setup to receive this run id? The [wiki section](https://github.com/DoSomething/phoenix/wiki/API#campaign-reportback) doesn't seem to mention it.

@DFurnes not sure if this is already an is

[2016-01-29 18:13] aaronschachter commented on #6111
@jonuy I opened https://github.com/DoSomething/LetsDoThis-iOS/issues/757 in iOS, as we'll need to refactor Signups and Reportbacks once the Campaign's Current Run is integrated into the API

[2016-01-29 18:45] mikefantini commented on #6111
@weerd did you update the Phoenix reportback endpoint to receive the run id/do you know if there an issue for it? I wasn't able to find anything about this, but might have missed something.

[2016-01-29 19:01] weerd commented on #6111
Yep! Just need to keep in mind that it's within the `campaign` object in the `/reportbacks` or `/reportback-items` endpoint response: https://thor.dosomething.org/api/v1/reportback-items/171037

[2016-01-29 19:20] aaronschachter commented on #6111
@weerd I think the issue here is for a `POST`ing a Reportback to the Current Run. Ideally the `POST` reportback endpoint knows how to get the current run and set the new Reportback's `run_nid` accordingly.

[2016-01-29 19:29] weerd commented on #6111
Oh, gotcha. Well for POSTing it uses the old endpoint that is actually a targeted action on the `/campaigns` endpoint (not ideal, but need to update `/reportback` endpoint with POST requests which will be a while). Anyhoo, the only thing I addressed with it is that all the functions that get called by the callback in the POST action related to reportbacks handle having a `run_nid`; which just mean

[2016-01-29 19:45] aaronschachter commented on #6111
I don't think we should be able to pass a `run_nid`: you should only be able to reportback for the current run. It think it's awesome that you don't have to - but from what you say it, it sounds like the SMS Reportbacks which submit to the endpoint should have their Current Run set already and this original issue is a bug?

[2016-01-29 19:48] weerd commented on #6111
yeah, potentially sounds like it. Could it be possible that the campaign being reported-back on via SMS doesn't have a current run id?

[2016-01-29 20:03] mikefantini commented on #6111
All active campaigns have a current run id. Verified with my own :eyes:.

[2016-01-29 20:30] weerd commented on #6111
Ok, so then what are all the "avenues" that an SMS reportback can happen from? Just this endpoint?

[2016-01-29 20:58] angaither commented on #5975
Oy, there's been an understanding with this one.
The title only updates to the run title when campaign data is archived. So, since we are unarchiving all data, this won't be a problem anymore.
closing this issue meowt.

[2016-01-29 20:58] #5975 closed, assigned to chloealee

[2016-01-29 21:05] angaither commented on #6110
@weerd I don't think multiple users is helpful, but multiple campaigns for sure.
but if you leave that blank, does it default to sending all campaigns?

[2016-01-29 21:10] weerd commented on #6110
Makes sense. Not sure yet about what happens if left blank. Maybe it defaults to grab all campaigns for the user passed. Otherwise the general index collection of `/signups` can just be a paginated list from most recent to oldest or something.

[2016-01-29 21:11] weerd commented on #6110
We'll see where the road takes us! :car:

[2016-02-01 15:24] #6062 closed, assigned to katiecrane

[2016-02-01 18:59] #6031 closed, assigned to weerd

[2016-02-01 19:27] jonuy commented on #6111
Had an IRL chat with @weerd because I couldn't really understand what was going on above. Here's what I've got after that...
- SMS reportbacks are submitted through the Phoenix /campaigns/:nid/reportback API endpoint. [[src](https://github.com/DoSomething/ds-mdata-responder/blob/dev/app/lib/ds-content-api/index.js#L323)]
- From looking at the code, it doesn't seem like a run id needs to be submitt

[2016-02-01 19:28] angaither commented on #6111
@jonuy yeah, mobile reportbacks are coming in with `NULL` as the `run_nid`

[2016-02-01 19:42] classicfreddie commented on #6111
@jonuy Do we need to include the run_nid in compose?

{
  _id: ObjectId("56abc38e606241001b000000"),
  campaign_completed_id: 200191,
  campaign_nid: 6621,
  campaign_optout_id: 141607,
  endpoint: "yoteach2016",
  message_caption: 200187,
  message_complete: 200191,
  message_not_a_photo: 200181,
  message_quantity: 200183,
  message_why: 200185,
  message_quantity_sent_invalid: 200189
}

[2016-02-01 20:04] jonuy commented on #6111
If @weerd and I were looking at [this code](https://github.com/DoSomething/phoenix/blob/dev/lib/modules/dosomething/dosomething_reportback/dosomething_reportback.module#L705) and [this code](https://github.com/DoSomething/phoenix/blob/dev/lib/modules/dosomething/dosomething_reportback/dosomething_reportback.module#L666) correctly, we shouldn't need to submit a `run_nid` with the SMS reportback. Ph

[2016-02-01 20:06] angaither commented on #6111
right, and those functions are returning null, so I guess there's some reason those aren't working

[2016-02-01 20:20] angaither commented on #6111
cc @deadlybutter

[2016-02-01 20:21] itsjoekent commented on #6111
:cry:

[2016-02-01 22:29] mikefantini commented on #5793
@blisteringherb yup that works for me. Thanks!

[2016-02-01 23:52] mikefantini commented on #6004
Before we deploy this to prod we need to remove the progress override on https://www.dosomething.org/us/node/1144/custom-settings

[2016-02-02 14:17] angaither commented on #6004
@mikefantini the fix for this is already on prod

[2016-02-02 14:21] mikefantini commented on #6004
@angaither there is a discrepancy between what I'm seeing in SQL and what the site is showing.

Are you saying that we fixed in prod that all reportbacks have a run_nid by now?

[2016-02-02 14:25] angaither commented on #6004
@mikefantini I'm saying the cron that gets the numbers is correct, and is in production.
But reportbacks don't all have `run_nid`s so it appears lower.
I think this issue can be closed

[2016-02-02 15:02] angaither opened #6116 "Update the signup view on nodes to support languages"
https://www.dosomething.org/us/node/6620/signups
![image](https://cloud.githubusercontent.com/assets/645205/12753096/8ad83104-c993-11e5-9ee7-969d007c7364.png)

signups are appearing to be duplicates, it's probably because the view needs to be updated to deal with joining on node id and language id (same issue as #6065)

[2016-02-02 15:03] #6004 closed, assigned to itsjoekent

[2016-02-02 15:55] mikefantini opened #6117 "Queries Needed to Double Check Manual Run Cleanup"
- [x] Need a query to find any runs without start date. Run nid and run title are needed.
- [x] Need a query that shows all runs with run title and run nid AND associated campaign title and campaign nid - to double check that all runs are associated with the correct campaign
- [x] Need a query to see if any runs with multiple translations have different dates from one translation to another. Run n

[2016-02-02 16:25] angaither commented on #6117
#### runs without start date

[code]

### runs with run id, run title and campaign id and title

[code]

### runs with multiple translations and the dates

[code]

[2016-02-02 17:53] weerd commented on #6111
@jonuy when a reportback gets submitted via SMS, is the `file` sent through or a `file_url` based on the properties passed in the [body](https://github.com/DoSomething/phoenix/wiki/API#campaign-reportback) of the POST request?

If using the `file` property instead of the `file_url`, there may be an issue with the logic here, since it would also require a `filename` property which we haven't specif

[2016-02-02 18:04] jonuy commented on #6111
@weerd SMS reportbacks send a `file_url` [[src](https://github.com/DoSomething/ds-mdata-responder/blob/dev/app/lib/ds-content-api/index.js#L294)]

[2016-02-02 18:15] weerd commented on #6111
cool, ok. good to know!

[2016-02-02 18:41] weerd commented on #6111
@mikefantini my tests are coming out fine, with correct submission and actual integers assigned to the `run_nid` without issue. If the reportbacks are not getting assigned a `run_nid` when submitting from SMS, not sure what is causing it then. The functions in the endpoint and those that were updated to account for `run_nid`s even if no `run_nid` is passed via the body properties of the POST reque

[2016-02-02 18:51] angaither commented on #6111
@weerd looking meow, there is a chance we might have fixed this with the latest deploy. it looks like we haven't gotten any null run nids since yesterday

[2016-02-02 18:59] weerd commented on #6111
oh sweet! :lollipop: cool. I'll hold off further testing then, since we might just be able to close this :dancer:

[2016-02-02 19:46] angaither commented on #6111
@mikefantini sending this one over to you for now, we can keep an eye on it over the next few days and see if it continues to be an issue

[2016-02-02 20:58] angaither opened #6119 "Add ability to close campaign groups"
#### Current Behavior

Currently there is no way to close a Campaign Group. Instead, in order to summarize what happened while a Campaign Group was live we unpublished the group, create a dummy campaign, close the dummy campaign, and create URL redirects.
#### Desired Behavior

The ideal is that we could summarize what happened while the group was live by closing the group itself. It would look ex

[2016-02-03 00:04] sergiitk opened #6121 "Fatal error on services API page: node content response is shown only once"
### Steps to reproduce on local with staging database:
- `drush cc all`
- Open http://dev.dosomething.org:8888/api/v1/content/1424:
  ![image](https://cloud.githubusercontent.com/assets/672669/12768653/ee608d08-ca19-11e5-90a0-0a5593649ded.png)
- Refresh page:
  ![image](https://cloud.githubusercontent.com/assets/672669/12768658/f53bf13a-ca19-11e5-9aee-d81d5eaf38fc.png)

To see the response page yo

[2016-02-03 02:43] mikefantini commented on #6111
Sweet! Sounds good to me. @angaither do you have a query I can pull to check on this later in the week?

[2016-02-03 04:36] mikefantini commented on #6119
#### Current Behavior

Currently there is no way to close a Campaign Group. Instead, in order to summarize what happened while a Campaign Group was live we unpublished the group, create a dummy campaign, close the dummy campaign, and create URL redirects.

#### Desired Behavior

The ideal is that we could summarize what happened while the group was live by closing the group itself. It would look e

[2016-02-03 14:23] #6121 closed, assigned to nobody

[2016-02-03 14:31] sergiitk commented on #6121
Staging fixed: https://staging.beta.dosomething.org/api/v1/content/1266

[2016-02-03 15:05] sbsmith86 commented on #6058
@angaither does cron run at midnight? I can certainly make sure the end date is set to midnight EST of the date specified but the status will only actually get updated when the cron job runs again.

[2016-02-03 15:06] angaither commented on #6111
@mikefantini haven't had any since feb 1, I think we are ok to close, since we have had signups since then and they've all not been `NULL`

![](https://media.giphy.com/media/xTiTnlOUSSDKH3jr5C/giphy.gif)

[code]

[2016-02-03 15:06] #6111 closed, assigned to mikefantini

[2016-02-03 15:22] weerd commented on #6111
:tada:

[2016-02-03 16:03] angaither opened #6123 "Run End date set to start date"
in the `field_data_field_run_date` on campaign runs, when you set a start date for a campaign, the end date gets set in the database to the start_date, even if you don't select "Show end date"

dear drupal, this is not ok.
https://www.drupal.org/node/874322

[2016-02-03 16:06] angaither commented on #6058
@sbsmith86 it runs every hour at :05 so, yes at 12:05am it'll run

[2016-02-03 16:08] sbsmith86 commented on #6058
cool cool. thanks.

[2016-02-03 16:15] #6014 closed, assigned to itsjoekent

[2016-02-03 16:23] angaither commented on #4324
I think since this isn't possible going to close this me-ouwt

[2016-02-03 16:23] #4324 closed, assigned to nobody

[2016-02-03 16:26] #5959 closed, assigned to mikefantini

[2016-02-03 16:27] angaither commented on #6095
closed with #6108

[2016-02-03 16:27] #6095 closed, assigned to itsjoekent

[2016-02-03 16:29] angaither opened #6124 "Clean up signups and reportbacks on the wrong run"
Some signups and report backs are associated with the wrong run_nid

[2016-02-03 16:39] #1085 closed, assigned to nobody

[2016-02-03 16:40] angaither commented on #149
replaced with style ci

[2016-02-03 16:40] #149 closed, assigned to sergiitk

[2016-02-03 16:41] angaither commented on #2786
closing, since we aren't going to make enhancements to the `/content` api

[2016-02-03 16:41] #2786 closed, assigned to nobody

[2016-02-03 16:41] angaither commented on #2755
no idea

[2016-02-03 16:41] #2755 closed, assigned to nobody

[2016-02-03 16:42] angaither commented on #1638
not a #priority

[2016-02-03 16:42] #1638 closed, assigned to angaither

[2016-02-03 16:44] angaither commented on #1822
this doesn't seem to cause us too much trouble, also we need to rethink with #5451

[2016-02-03 16:44] #1822 closed, assigned to angaither

[2016-02-03 16:47] angaither commented on #4068
we can close this because of #6056

[2016-02-03 16:47] #4068 closed, assigned to nobody

[2016-02-03 16:51] #4048 closed, assigned to nobody

[2016-02-03 16:54] angaither commented on #4465
doi, replaced with #6118

[2016-02-03 16:54] #4465 closed, assigned to nobody

[2016-02-03 16:59] angaither commented on #4942
NOPE

[2016-02-03 16:59] #4942 closed, assigned to sbsmith86

[2016-02-03 17:28] #6052 closed, assigned to sbsmith86

[2016-02-03 18:22] #93 closed, assigned to jonuy

[2016-02-03 18:22] #294 closed, assigned to nobody

[2016-02-03 18:22] #1746 closed, assigned to nobody

[2016-02-03 18:29] #456 closed, assigned to nobody

[2016-02-03 18:43] #2867 closed, assigned to nobody

[2016-02-03 18:45] #4487 closed, assigned to weerd

[2016-02-03 18:45] #4581 closed, assigned to nobody

[2016-02-03 18:45] #4583 closed, assigned to nobody

[2016-02-03 18:48] angaither commented on #4927
closed with #6081 #6102

[2016-02-03 18:48] #4927 closed, assigned to mikefantini

[2016-02-03 18:49] angaither commented on #3619
from @sheyd

[2016-02-03 18:49] #3619 closed, assigned to nobody

[2016-02-03 18:52] angaither commented on #4571
going to request the data from here instead

[2016-02-03 18:52] #4571 closed, assigned to chloealee

[2016-02-03 18:58] #5387 closed, assigned to sheyd

[2016-02-03 18:58] #5352 closed, assigned to weerd

[2016-02-03 19:00] #5784 closed, assigned to nobody

[2016-02-03 19:01] #5664 closed, assigned to itsjoekent

[2016-02-03 19:03] #2825 closed, assigned to nobody

[2016-02-03 19:04] #3364 closed, assigned to nobody

[2016-02-03 19:05] angaither commented on #4168
we vaguely do this

[2016-02-03 19:05] #4168 closed, assigned to nobody

[2016-02-03 19:07] #5057 closed, assigned to nobody

[2016-02-03 19:07] #5919 closed, assigned to sbsmith86

[2016-02-03 19:09] #5512 closed, assigned to mikefantini

[2016-02-03 19:10] #4534 closed, assigned to weerd

[2016-02-03 19:10] angaither commented on #5151
i

[2016-02-03 19:10] #5151 closed, assigned to sheyd

[2016-02-03 19:11] #5150 closed, assigned to sheyd

[2016-02-03 19:11] #5149 closed, assigned to sheyd

[2016-02-03 19:21] #5152 closed, assigned to nobody

[2016-02-03 19:21] #5193 closed, assigned to nobody

[2016-02-03 19:21] #5280 closed, assigned to mikefantini

[2016-02-03 19:24] #5725 closed, assigned to nobody

[2016-02-03 19:24] #5693 closed, assigned to sergiitk

[2016-02-03 19:27] weerd opened #6125 "Clear API cache when a campaign is updated."
To have the latest data available, we need to clear the campaign cache when a campaign is updated.

[2016-02-03 19:30] angaither commented on #6125
this should already be happening https://github.com/DoSomething/phoenix/blob/c0f4a50612d19d416c88a14b90f7408022a0d553/lib/modules/dosomething/dosomething_campaign/dosomething_campaign.module#L1263

[2016-02-03 19:31] #5746 closed, assigned to nobody

[2016-02-03 19:33] #5562 closed, assigned to angaither

[2016-02-03 19:33] #5485 closed, assigned to sergiitk

[2016-02-03 19:33] #5356 closed, assigned to nobody

[2016-02-03 19:34] #5709 closed, assigned to sheyd

[2016-02-03 19:40] #5358 closed, assigned to weerd

[2016-02-03 19:40] #5421 closed, assigned to joolaay

[2016-02-03 19:41] angaither commented on #5913
vNext

[2016-02-03 19:41] #5913 closed, assigned to sergiitk

[2016-02-03 19:42] angaither commented on #5355
no one knows

[2016-02-03 19:42] #5355 closed, assigned to nobody

[2016-02-03 19:45] angaither commented on #5863
that's unreasonable anyways

[2016-02-03 19:45] #5863 closed, assigned to nobody

[2016-02-03 19:51] angaither commented on #5873
I just tested this, it works meow!

[2016-02-03 19:51] #5873 closed, assigned to mikefantini

[2016-02-03 19:54] angaither commented on #4789
seems like this was fixed, but never closed.

[2016-02-03 19:54] #4789 closed, assigned to nobody

[2016-02-03 20:02] sergiitk commented on #4789
:+1:

[2016-02-03 20:40] namimody commented on #5522
@angaither is the decision just to expose all four options for less complexity?

[2016-02-03 20:56] sergiitk commented on #6121
Production works: https://www.dosomething.org/api/v1/content/2535

[2016-02-03 21:04] angaither commented on #5522
yaaa, for now

[2016-02-03 21:04] #5522 closed, assigned to nobody

[2016-02-03 21:25] namimody opened #6128 "Add Automatic Running of Ghost Inspector Tests to Thor Deploy Jenkins Job"
RUN ALL TESTS:

https://api.ghostinspector.com/v1/suites/56980f16812f6dd51bc172f2/execute/?apiKey=[...]

GET SUITE DETAILS:

https://api.ghostinspector.com/v1/suites/56980f16812f6dd51bc172f2/?apiKey=[...]

LIST SUITE TESTS:

https://api.ghostinspector.com/v1/suites/56980f16812f6dd51bc172f2/tests/?apiKey=[...]

[2016-02-03 22:02] #6058 closed, assigned to sbsmith86

[2016-02-03 22:04] namimody commented on #5873
@angaither what're you seeing if you go to the GL EN URL of a US EN only campaign as an anon user? I'm still seeing the page as shown above?

As an aside, the expected behavior noted above is likely incorrect. I think @mshmsh5000 and @mikefantini and I talked and thought the ideal UX for someone should be: if a user ends up on a campaign URL that is not translated for their country/language, they

[2016-02-03 22:21] mshmsh5000 commented on #5873
I am +1 on the "choose an available translation" option, because it gives
the user a clear choice to make and eliminates any assumptions we would
otherwise make in this situation.

CTO
@mshmsh5000 http://twitter.com/mshmsh5000 @dosomething
http://twitter.com/dosomething

On Wed, Feb 3, 2016 at 5:04 PM, Nami Mody notifications@github.com wrote:

[2016-02-03 22:42] #6125 closed, assigned to weerd

[2016-02-04 15:47] weerd opened #6130 "Cache single Campaign calls to the API"
We are caching calls to index collection of `/campaigns`, but we currently are not caching calls to a single campaigns via the endpoint `/campaigns/:id`.

[2016-02-04 15:55] #6130 closed, assigned to weerd

[2016-02-04 16:21] mikefantini commented on #5793
@blisteringherb can we ship this to prod and close this out?

[2016-02-04 16:26] mikefantini commented on #6116
@angaither is this doubling the actual signup count as well or just the view?

i.e. Do 4 entries appear for 2 signups, but the system is reporting 2 signups or do 4 entries appear for 2 signups and we're reporting 4 signups?

[2016-02-04 17:41] namimody opened #6133 "Can't "Add Another Item" on Our Team page"
#### Current Behavior

If you click "Add Another Item" on the "our Team" page, the page layout breaks and images cannot be referenced.
#### Desired Behavior

Adding another item does not cause the page to break...
#### Steps to Replicate
1. Go to: https://thor.dosomething.org/us/node/556/edit
2. Scroll to the bottom and click the "Add another item" button
3. Watch layout break.
#### Why This Matte

[2016-02-04 19:12] namimody commented on #6133
This doesn't seem to be a problem on static content pages like "Our Partners" https://thor.dosomething.org/us/node/532/edit

[2016-02-04 19:29] namimody commented on #6079
![image](https://cloud.githubusercontent.com/assets/12396076/12827009/af36612e-cb4b-11e5-8b2e-61a59e7ca20a.png)

happening now for Yo Teach

[2016-02-04 19:39] weerd opened #6137 "NS -> Phoenix -> NS Api zig-zagging data!"
So currently, when hitting the `/reportbacks` endpoint, a call is typically made to Northstar to get the user data. When Northstar makes a request to get a particular user's reportback from Phoenix, it hits the same endpoint `/reportbacks/:id` with the id of the RB item, and then Phoenix calls back to Northstar to go get the user again, and then send the response of the RB data back to Northstar.

[2016-02-04 19:39] namimody commented on #6079
@blisteringherb do you have thoughts on this? Noticed that the Yo Teach photo is not showing up on /campaigns, and it was changed at least a couple of hours ago, so Solr should have reindexed at least once? Thanks!

[2016-02-04 19:43] namimody commented on #6133
Anddddd Luke made a video: https://trello.com/c/mhxEsXYc/1528-drupal-bug-adding-new-item-to-gallery-stops-page-functions

[2016-02-04 19:57] namimody opened #6139 "Image Tags Sporadically Disappear from Image Upload Page"
#### Current Behavior

Currently there are checkboxes next to nonexistent image tags on the "image upload" page.
#### Desired Behavior

There should be text next to each checkbox on the image upload page.
#### Steps to Replicate
1. Go to a campaign page.
2. go to the edit tab.
3. click the yellow pencil or green "+" sign next to the "cover image" field.
4. scroll down to see the image tags section

[2016-02-04 20:18] namimody opened #6141 "Allow Editors to Add Files to the Site"
#### User Story

Editors (campaign leads) need to add images and files to the site to reference in things like SMS games. They should be able to access the "file types" on the menu:

![image](https://cloud.githubusercontent.com/assets/12396076/12828376/6df1e3e4-cb52-11e5-8de7-86e34f702709.png)
#### Additional Information (optional)

Currently, their admin menu looks like this:
![image](https://clo

[2016-02-04 20:42] weerd opened #6143 "Remove the cache parameter from the campaigns endpoint"
The `/campaigns` endpoint currently has a `cache` boolean url parameter that can be passed. This used to be necessary with helping to clear the cache for the campaigns index endpoint, since there was no other way to properly clear the cache if a campaign was edited.

However, with #6109 & #6126 in place, the cache (if set to "temporary") can be cleared either on a general cache clear, or if set to

[2016-02-04 20:43] chloealee commented on #5995
@angaither can I close this now that #6136 has been merged?

[2016-02-04 20:50] chloealee commented on #5995
Closing with #6136 merge.

[2016-02-04 21:01] mikefantini opened #6144 "campaigns with current runs w/o end dates closed on Thor"
Example: https://thor.dosomething.org/us/campaigns/baby-its-cold-inside

refs: https://github.com/DoSomething/phoenix/pull/6127

[2016-02-04 21:33] #6123 closed, assigned to sbsmith86

[2016-02-04 21:33] #6144 closed, assigned to sbsmith86

[2016-02-05 14:40] angaither commented on #6139
@namimody i noticed this too, but I don't think it's only image tags

[2016-02-05 14:53] namimody commented on #6139
@angaither where else have you seen it?

[2016-02-05 15:04] angaither commented on #6124
DONE.

[2016-02-05 15:04] #6124 closed, assigned to angaither

[2016-02-05 15:05] angaither commented on #6117
we goood hereeee

[2016-02-05 15:05] #6117 closed, assigned to mikefantini

[2016-02-05 15:43] aaronschachter commented on #6143
Haven't been using `cache` param anywhere in iOS.

[2016-02-05 17:07] #5782 closed, assigned to sbsmith86

[2016-02-05 17:44] mikefantini opened #6149 "FAQs line appears in Contact Us Modal even if there are no FAQs"
See https://thor.dosomething.org/us/campaigns/shower-songs as an example

Refs: #6062 and #6091

[2016-02-05 17:47] mikefantini commented on #6149
![image](https://cloud.githubusercontent.com/assets/6330971/12854263/a512ece2-cc06-11e5-8429-9b0094f1a50c.png)

May need to view as a non-admin to see the line?

[2016-02-05 18:07] weerd commented on #6143
Ok, good to know :) @jonuy ?

[2016-02-05 18:53] itsjoekent commented on #5995
just leavin this here for reference https://dosomething.slack.com/archives/deploys/p1454697879000883

[2016-02-05 18:54] angaither commented on #5995
running these shows data is still on run nodes.

[code]

[2016-02-05 19:08] itsjoekent commented on #6149
just verified with @katiecrane ^ being an admin blocks this bug from happening _on thor_, however on local it doesn't make a difference for me. just pulled the latest changes ~5 minutes ago

[2016-02-05 19:17] weerd opened #6150 "Intro container image bug"
![image](https://cloud.githubusercontent.com/assets/105849/12856456/0e4c2640-cc13-11e5-9f06-bb31162ae3db.png)

Bug where the template is incorrectly thinking there is an image for the intro block and forcing the text to only within the half column.

[2016-02-05 19:17] aaronschachter opened #6151 "Embed Reportback and Reportback Items within Signup response"
Now that we're using Phoenix as the source of a new Signups endpoint (#6110), it'd be great to include a Signup's corresponding Reportback if it exists.

This could allow a client to render a User Profile in a single API request (like how the `user/:id/campaigns` Northstar endpoint currently does).

[2016-02-05 19:25] aaronschachter opened #6153 "Include Campaign Run property in Signup response object"
### Updated description

Include the Signup's Campaign Run id as well as whether Campaign Run is the Campaign's current Run. This will allow us to query for a user's "Prove it" campaigns (current campaigns which they need to complete / reportback on)
### Original description

Refs #6110

Discussed how the GET `signups` index will work with @weerd, he mentioned ability to filter by a User ID and by

[2016-02-05 19:46] #6150 closed, assigned to weerd

[2016-02-05 19:47] katiecrane commented on #6149
For me it was happening only for non-admins, but I just submitted a PR to fix it for all users

[2016-02-05 19:53] #5995 closed, assigned to angaither

[2016-02-05 20:03] #6149 closed, assigned to katiecrane

[2016-02-05 20:10] #6116 closed, assigned to katiecrane

[2016-02-05 20:23] #6023 closed, assigned to weerd

[2016-02-05 20:25] jonuy commented on #6143
Not using this anywhere in code, but have used it multiple times to manually clear. As long as we've got another method to clear cache, then this is fine.

[2016-02-05 20:44] weerd commented on #6021
@angaither according to @lkpttn

So I'm going to close this one.

[2016-02-05 20:44] #6021 closed, assigned to weerd

[2016-02-07 19:27] mikefantini opened #6158 "Address fields no longer show up when collecting user address on campaign"
Address fields no longer show up when you configure a campaign to collect user address via the Custom Settings on the campaign.

Example: https://thor.dosomething.org/us/node/1508/custom-settings

![image](https://cloud.githubusercontent.com/assets/6330971/12874702/ce65cbea-cda6-11e5-8ab2-91e9687bc029.png)

![image](https://cloud.githubusercontent.com/assets/6330971/12874692/859bc93c-cda6-11e5-8cc

[2016-02-07 19:31] mikefantini commented on #6158
Only seems to work if you configure the shipment form in custom settings, not the signup data form. I guess that's ok if we want to exclusively use the shipment form for sending things to users instead of the signup data form.

If that's the case though then we should remove address collection option from the signup data form.

[2016-02-07 19:32] mikefantini commented on #6158
And actually if we went this route we'd have to add "prompt after signup" option to the shipment form.

[2016-02-08 16:04] #6110 closed, assigned to chloealee

[2016-02-09 00:38] namimody opened #6159 "Ensure GL EN Users Should Be GL EN"
#### Current Behavior

It seems like some US members have their language set as Global English.
#### Desired Behavior

Want to make sure that all users have the correct language set on their profile based on their actual location.
#### Steps to Replicate

First we need to just figure out if the GL EN language setting is actually incorrect. I think we can do this by pulling users with addresses in

[2016-02-09 19:51] marahml commented on #5929
Hey @DFurnes and @weerd. After following up w/ @jonuy and @aaronschachter post-API convo last week, this seems to be most pressing / high-priority launch-blocker. Based on our estimates, looks like wrapping this up by EOD thursday would allow us to hit our target launch week w/ app store submission happening in 1.5 weeks from now.

I know the first next step was discussing a solution in person. Ha

[2016-02-09 20:54] DFurnes commented on #5929
@marahml I'm going to try to wrap up work on DoSomething/northstar#269 today (which should handle Northstar's part in all this). Then @weerd, @chloealee and I are going to sync tomorrow morning to make sure everything's :sparkles: stellar :sparkles:.

[2016-02-10 16:45] aaronschachter commented on #6153
Updated this issue title per discussions with @chloealee @DFurnes and @weerd . As long as we have the information we need, we don't need a query parameter, a client can just filter the records by traversing through the response:

[code]

[2016-02-10 16:58] aaronschachter commented on #5929
Deep dive into code with @weerd, @DFurnes, @chloealee, and @jonuy today uncovered that Northstar User Campaigns endpoint (`user/:id/campaigns`) was making anonymous requests to Phoenix, which is why the `reportback_items` wouldn't exist for non-approved/promoted RB items (https://github.com/DoSomething/northstar/issues/270).

The Northstar `user/:id/campaigns` endpoint is now deprecated (https://g

[2016-02-10 16:58] #5929 closed, assigned to weerd

[2016-02-10 17:05] aaronschachter commented on #6151
We'll need to make sure admin's have access to all Reportback Items regardless of status, so clients can render an authenticated user's Self Profile when accessing this endpoint (non-approved Reportback Items like `pending` or `excluded` or anything should be visible). (refs #5929)

Example response:

[code]

[2016-02-10 17:08] aaronschachter commented on #5552
Not necessary for launch, API clients can filter campaigns by traversing through the response results and inspecting each Campaign `status` property.

[2016-02-10 17:08] #5552 closed, assigned to nobody

[2016-02-10 17:18] aaronschachter commented on #5047
This doesn't block us from launching on iOS because we didn't have time to build out infinite scroll. I haven't had time to investigate if it's a bug in pagination, but it sounds like the issue may have been because I wasn't passing a `status` parameter through the endpoint.

Closing this for now if it doesn't seem to be affecting anything on the web. We can revisit if we get to building out infin

[2016-02-10 17:18] #5047 closed, assigned to weerd

[2016-02-10 17:55] aaronschachter commented on #6153
@weerd @chloealee Might be sweet to additionally include the Run's End Date if possible... That way we'll be able to know whether the user's current signups are for active campaigns (when a date doesn't exist, or when a date in the future exists -- we can display a message like "5 days left").

[code]

cc @angaither

[2016-02-10 18:25] chloealee commented on #6153
@aaronschachter ah good idea!
@weerd to double check, is the `end` in `high_season` the correct value to include?

[code]

[2016-02-10 18:31] weerd commented on #6153
I'm not 100% positive but I don't think the timing dates are the actual campaign dates, but more for that whole hot module type stuff... but not entirely sure :\  @mikefantini?

[2016-02-10 18:33] weerd commented on #6153
We could do a timing object as well with just the `start` and `end` properties to follow the pattern and use the standard ISO-8601 format that we're pushing towards for our API responses (cc: @DFurnes)

[code]

[2016-02-10 18:35] chloealee commented on #6153
ah I think you're right, @weerd ! I'm looking at the API documentation right now - I don't think that the `start` and `end` dates for the campaign runs are exposed?

[2016-02-10 18:37] aaronschachter commented on #6153
I was under the impression (but actually can't confirm since I haven't been in the code or reviewing PRs) that Start and End dates should be defined on Campaign Run node (not the Campaign node's High Season field).

cc @angaither @deadlybutter

[2016-02-10 18:38] itsjoekent commented on #6153
correct, the high season is only being used for the hot module, but that is going away from what i understand.

[2016-02-10 18:43] mikefantini commented on #6153
High season date is also what currently shows on the header photo if we want to display when a campaign is going to end.

[2016-02-10 18:47] chloealee commented on #6153
ah cool, thanks all! So high season date can should be the same value as the current run's dates then?

Also, if it isn't the current run, do we want the `start` and `end` in `timing` to both return `null`?

[2016-02-10 18:53] aaronschachter commented on #6153
It makes sense to still display `timing` regardless of whether the run is current, we may want to display the start/end dates once Users have multiple runs they participated in and we wanted to build out profiles accordingly.

[2016-02-10 18:57] mikefantini commented on #6153
Also @chloealee it would make sense if they were the same, but just note that this is not always the case currently.

[2016-02-10 18:57] chloealee commented on #6153
gotcha, makes sense!

[2016-02-10 19:00] weerd commented on #6153
Yeah, lets defs always show the `timing` even if not current run, so we can see timing on all runs of a campaign. If a campaign run (old ones) don't happen to have a date then `null` seems appropriate.

[2016-02-10 20:04] weerd opened #6160 "Issue with missing dependencies on resource transformer classes"
[code]

[2016-02-10 20:52] #6160 closed, assigned to weerd

[2016-02-10 22:17] namimody commented on #6159
2553817

[2016-02-11 16:14] aaronschachter opened #6163 "API requests with no results should return empty array instead of error message"
The request is successful, but we get an error message. TouchLab had asked for an empty array instead, this may make error handling in a little easier, as this isn't an actual error.
- [x] signups
- [x] reportbacks
- [ ] campaigns

e.g. https://staging.dosomething.org/api/v1/reportback-items?campaigns=1

![screen shot 2016-02-11 at 11 12 15 am](https://cloud.githubusercontent.com/assets/1236811/12

[2016-02-11 20:38] aaronschachter opened #6164 "Reportback Items User.id is a Northstar ID, not Phoenix"
The issue is that we need to pass the Phoenix ID to the `signups` endpoint in order to request the campaign activity for a specific user (https://github.com/DoSomething/northstar/pull/273), and we don't have access to it from within the `reportback-items` response.

This blocks us from being able to navigate to a User Profile from a Campaign Reportback gallery.

[2016-02-11 21:33] aaronschachter commented on #6164
We'll handle this in Northstar instead, which is great because now we still use the Northstar ID as the canonical User ID. :raised_hands: (vs https://github.com/DoSomething/northstar/pull/273, which required passing the Phoenix ID)

[2016-02-11 21:33] #6164 closed, assigned to nobody

[2016-02-12 19:21] aaronschachter commented on #6153
Lets create a separate issue for `timing`, as its not critical for mobile app.

[2016-02-12 19:24] aaronschachter opened #6166 "Include timing within Signup.Campaign Run property"
Refs https://github.com/DoSomething/phoenix/issues/6153#issuecomment-182519054.

This informs a client if the Signup for a Current Run is for a closed campaign (which is when `timing.end` is in the past).

Sample response:

[code]

[2016-02-12 19:24] #6153 closed, assigned to nobody

[2016-02-12 20:17] aaronschachter commented on #6163
Commenting out [this `if` block](https://github.com/DoSomething/phoenix/blob/ef7021a8e89835acd6b21cb5e559b2dbce183b12/lib/modules/dosomething/dosomething_reportback/includes/Reportback.php#L126) seems to fix, it's throwing an exception when we don't really have an error here, just empty `data`.

Testing with @chloealee on `signups` endpoint by removing that `throw Exception` gives us desired behav

[2016-02-16 00:07] angaither opened #6167 "💯 Emoji RB Support"
Adding emoji kills the reportback submission

![image](https://cloud.githubusercontent.com/assets/645205/13063428/fd2fe6c0-d415-11e5-873a-00b30a588977.png)

submitting that returns a 404 for me.

I _think_ this will require us to not use UTF-8 encoding in the db.

https://dosomethingorg1.zendesk.com/agent/tickets/149465
http://www.jeffgeerling.com/blogs/jeff-geerling/solving-emoji-problem-drupal-7

[2016-02-16 15:44] namimody commented on #6150
OH BRILLIANT @weerd!

[2016-02-16 15:57] weerd commented on #6150
:smile:

[2016-02-16 16:35] sbsmith86 commented on #5936
#5096 was done, so I think we can close this.

[2016-02-16 16:35] #5936 closed, assigned to nobody

[2016-02-16 16:36] sbsmith86 commented on #5439
I think we can close this because #5096 was done.

[2016-02-16 16:36] #5439 closed, assigned to sbsmith86

[2016-02-16 16:43] angaither commented on #5793
closed with #6147

[2016-02-16 16:43] #5793 closed, assigned to blisteringherb

[2016-02-16 17:02] angaither opened #6169 "Competitions signup popup"
### signup form updates
- add 'competition' type to signup data form
- don't display this link in the from `stuff you need section` if competition, by making link text not required
- add fields to customize the submit and skip button text
### db updates
- add a col to `dosomething_signup` to have competition

this could be either boolean value, or a boolean and when the user actually gets divided

[2016-02-16 17:06] aaronschachter commented on #6166
This won't block our 1.1 release, as we should be able to use the `campaign.status` property to determine whether the Campaign is closed.

[2016-02-16 19:28] angaither opened #6170 "forward users to gladiator"
after #6169 we need to send an HTTP request to send the user who opted into the competitions #4616
this might be a chance to get guzzle working in this repo
#4594

[2016-02-16 19:57] namimody commented on #2753
Hey @angaither could you pop a t-shirt label on this one? Thanks!

[2016-02-16 19:59] namimody commented on #4074
This isn't a thing now because of IE 11 ruling them all, right @angaither?

[2016-02-16 20:00] angaither commented on #4074
SURE

[2016-02-16 20:00] #4074 closed, assigned to nobody

[2016-02-16 20:57] sheyd commented on #6167
@angaither Adding this in case (and I think we should for sanity of mind), change to actual UTF8 (i.e. utf8mb4) across the :globe_with_meridians:
https://mathiasbynens.be/notes/mysql-utf8mb4

[2016-02-16 21:33] angaither commented on #6169
Here's what the signup data form looks like without any work for my beautiful competition.

At minimum we need to be able to customize the `submit` and `skip` text
![image](https://cloud.githubusercontent.com/assets/645205/13091711/83b956a4-d4ca-11e5-98ef-16bc795b1ec9.png)

we also probably need to add a 'competition' type to the data form so we can do #6170

because it's impossible to tell that t

[2016-02-16 21:45] angaither opened #6173 "Emoji support on the frontend"
in addition to #6167 we need to handle what emoji looks like for devices that do not natively support emoji
explore this! :mag: :haircut: :100:

[2016-02-16 22:20] DFurnes commented on #6173
I haven't looked into this too closely, but it looks like something like [heyupdate/emoji](https://github.com/heyupdate/Emoji) might do the trick.

[2016-02-17 00:32] namimody opened #6175 "Content Appearing on Front End Sometimes Disappears from Back End"
https://www.dosomething.org/us/campaigns/naughty-or-nice

![image](https://cloud.githubusercontent.com/assets/12396076/13095939/7aed6916-d4e3-11e5-914b-080e45c247a3.png)

![image](https://cloud.githubusercontent.com/assets/12396076/13095943/80fcd896-d4e3-11e5-9e47-75d81c3bfd94.png)

[2016-02-17 14:55] DFurnes opened #6176 "Allow admin API users to see all reportbacks on index endpoint"
References discussion in DoSomething/northstar#279 and "background context" from #6174:

While updating the "show" endpoint should fix the biggest issue here, it'd be good to get around to updating the `/reportbacks` index so we don't have the weird UX situation of a user submitting a reportback and not seeing it on their profile gallery.

/cc @weerd @aaronschachter

[2016-02-17 15:08] namimody commented on #6150
Hii @weerd! Was just poking around the site and noticed that a couple of static content pages still have alignment like this -- did you want the content to go all the way across, or is this correct?

![image](https://cloud.githubusercontent.com/assets/12396076/13113581/9b3f0eb6-d55d-11e5-9411-1891c58a6d6b.png)

![image](https://cloud.githubusercontent.com/assets/12396076/13113589/a6c009e8-d55d-11e

[2016-02-17 15:18] DFurnes commented on #6150
@namimody We usually use the three-quarters width Container for text blocks because otherwise the line-width would be super long and difficult to read. :smile:

[2016-02-17 15:22] weerd commented on #6150
@namimody yep yep, what @DFurnes said. The issue addressed where it was suuuuper compact like on the International page and was due to a bug where it was inserting an empty image tag on the right even though visually it seemed empty.

[2016-02-17 15:25] namimody commented on #6150
Ahhh thanks @DFurnes and @weerd! #expectedbehavior :raised_hands:

[2016-02-17 15:25] angaither commented on #5819
this is because we are using a token replace in those values
https://www.drupal.org/node/1446350

[school text](https://github.com/DoSomething/phoenix/blob/d47f12091b8e8da378b1e0fb3a5f593a68aeac00/lib/modules/dosomething/dosomething_user/dosomething_user.admin.inc#L190)

[code]

[vs about text](https://github.com/DoSomething/phoenix/blob/d47f12091b8e8da378b1e0fb3a5f593a68aeac00/lib/modules/dosomet

[2016-02-17 15:28] angaither commented on #5819
@weerd this may be a larger issue than just that form it's anytime we use a `system_settings_form` with the token replace

`htmlspecialchars_decode` seems to fix the issue, but I'm not sure if the translation will still work
`'#default_value' => htmlspecialchars_decode(t("@value", ['@value' => variable_get($var_name)])),`

[2016-02-17 15:35] namimody opened #6177 "Add More Help Text to Runs"
RE: dates, galleries, winner section logic.

More details coming soon, just documenting so we pull in as an enhancement.

[2016-02-17 15:46] angaither commented on #6133
@namimody this actually does allow you to add new things, not sure what's wrong with the admin theme when you add a new gallery item, but if you save without an image and go back it works fine

before a save, you can still insert content, the theme just looks a little strange
![image](https://cloud.githubusercontent.com/assets/645205/13114913/9c001fb0-d563-11e5-81ef-a63d926267d6.png)

this is afte

[2016-02-17 16:13] namimody opened #6178 "Redirect for Nickelodeon Partnership"
Vanity URL: dosomething.org/halo

Should redirect to: https://www.dosomething.org/us/campaigns/treat-yo-friends

Thanks!

[2016-02-17 17:06] sbsmith86 commented on #6169
@angaither just double checking this "type" field that we need to add doesn't exist right?

[2016-02-17 17:08] angaither commented on #6169
@sbsmith86 correct

[2016-02-17 17:09] sbsmith86 commented on #6169
@angaither sorry one more ?.. are there any other types of forms besides competitions?

[2016-02-17 17:17] angaither commented on #6169
there's currently no type on the signup form. I think the type doesn't really need to be a dropdown, it could just be a checkbox
![image](https://cloud.githubusercontent.com/assets/645205/13117995/2b1b9b6e-d570-11e5-8b43-28603a9a5cf5.png)

[2016-02-17 17:26] blisteringherb commented on #6178
I've added this redirect into Fastly, and it appears to be working.

[2016-02-17 17:30] sbsmith86 commented on #6169
got it got it . thanks.

[2016-02-17 17:36] angaither commented on #6169
@aaronschachter do the changes outlined in this issue above make sense?
we need most of the functionality of the signup form, but it's a different type.

[2016-02-17 18:14] sbsmith86 commented on #6169
I actually have some more Q's:
- autofill form header and copy based on a formula
  Is this formula created already or coming soon?
- maybe save `why_signed_up` to `competition` ?
  I see the option to add a sign up reason field. But not sure what is meant by save it to `competition`

[2016-02-17 18:14] aaronschachter commented on #6169
Makes sense :+1:. What would the default `type` be set to?

@weerd and I were chatting about adding a Competition ID column to the `dosomething_signup` table too - but maybe that's a separate issue? To store whatever competition the user is in. Although not sure if we need that in Phoenix

[2016-02-17 18:23] sheyd opened #6180 "Create Global Content in Staging After DevOps Tasks"

[2016-02-17 18:46] sbsmith86 commented on #6169
@aaronschachter @angaither maybe the default type is `campaign`?

[2016-02-17 18:59] angaither commented on #6169
@aaronschachter @sbsmith86 maybe the term `type` is misleading, I mostly just meant a checkbox under `prompt after signup` that says `competition signup`

as far as a comp id on the signup, the way we are building it now, I don't _think_ it will be needed in phoenix

[2016-02-17 19:01] sbsmith86 commented on #6169
@angaither ya ya just talked with @aaronschachter and we are all on the same page now

[2016-02-17 20:18] jonuy commented on #6151
@weerd @chloealee @aaronschachter Thoughts on also including the tagline/call-to-action in the `campaign` object that's returned in the signups call? Asking because it looks like we should be including it when displaying campaigns in a user's profile on the mobile app.

![screen shot 2016-02-17 at 3 08 54 pm](https://cloud.githubusercontent.com/assets/696595/13123202/30a52d34-d589-11e5-9b9a-afeca7

[2016-02-17 21:47] namimody commented on #6178
Thanks so much @blisteringherb!

[2016-02-17 22:27] namimody commented on #6133
Hi @angaither -- wait so you're saying that a new item can't be added with both an image and content at once, but can be added piecemeal?

[2016-02-17 23:17] aaronschachter commented on #6151
:+1: for adding `campaign.tagline`! That us gets closer to avoiding loading all 250+ campaigns upon app startup in iOS (which is only way we're currently able to display it -- unless we made more queries to GET  `campaigns` :no_good:  )

[2016-02-17 23:51] sbsmith86 commented on #6169
@angaither @mikefantini  I'm trying to think of a solution for the use case when we run a competition on a campaign like thumb wars, were we need the competition prompt as well as a form to collect user data.

I think we can either

a) make the competition sign up form a separate form from the signup_data_form so that we can like link from one form to another. i.e. a user is prompted to enter a co

[2016-02-18 01:26] aaronschachter commented on #6163
@weerd I'm still seeing the "No signup data found" for `signups: http://staging.beta.dosomething.org/api/v1/signups?user=56c50367a59dbf994e8b456d

![screen shot 2016-02-17 at 8 26 38 pm](https://cloud.githubusercontent.com/assets/1236811/13130787/cd3f1b7a-d5b4-11e5-93c4-316fe441d2d2.png)

[2016-02-18 01:31] weerd commented on #6163
The signups stuff hasn't been merged in yet... it's in #6168.  Also, you're querying w/ a Northstar ID to Phoenix which isn't going to do much good. Didn't @DFurnes setup a proxy via NS for that shiz?

[2016-02-18 01:35] aaronschachter commented on #6163
Ah ok. Yep, i was querying northstar but just tested phoenix as a sanity check and forgot to switch to a phoenix ID. Technically makes sense to keep this open until we get #6168 in but good to know it's on the way!

[2016-02-18 01:37] weerd commented on #6163
But yeah, makes sense to leave open. Even w/ NS id (or random string) should still be empty array so didn't really matter that it was an NS id. :)

[2016-02-18 06:13] aaronschachter commented on #6151
While we're in the `campaign` object -- we need the Campaign `status` as well in order to render the User profile within a single API request. We need to filter any Doing campaigns that have a status of `closed`.

Actually, we'd need the Campaign `type` exposed as well so we can filter out SMS games too: On the web, we write a Signup to the database if an authenticated user signs up for a SMS game

[2016-02-18 14:21] angaither commented on #6133
@namimody yeah, you could technically paste in the correct image thing, but it's easier to save and wait for the autocomplete.
I don't see any errors or js or otherwise when it happens, I'm not sure it's worth investing a lot of time into fixing.

[2016-02-18 14:53] chloealee commented on #6151
Great, will work on adding that too! @aaronschachter I think it makes sense to create a new issue and PR for the additions? I'll create the issue now and tag you and @jonuy to make sure I got everything correct!

[2016-02-18 14:55] mikefantini commented on #6169
@sbsmith86 @angaither we actually have something sort of for this already because for Teens for Jeans previously we needed to both collect school and user address so @aaronschachter added the Shipment Form to Custom Settings as well. This may still need to be reworked a bit from an experience stand point and refactored accordingly, but we should have most of the pieces in place to allow for this.

[2016-02-18 15:00] namimody commented on #6167
- [ ] edit Thor DB structure
- [ ] edit Thor web app
- [ ] edit prod DB structure
- [ ] deploy
- [ ] change data warehouse to ensure slave replication process still continues to work
- [ ] edit quantum DB

[2016-02-18 15:00] mikefantini commented on #6169
Also for the sake of trying to keep things simple I'm ok with just using the Shipment Form in this scenario without any refactoring and the user won't be prompted to give their address so much as the option will just be available to them in the Stuff You Need section.

If this eventually becomes an issue we can always try to address it then?

[2016-02-18 15:01] mikefantini commented on #6158
@angaither I assume the route you want to go with this is actually just having address show up when an admin tries to collect user address from the Sign Up Data form?

[2016-02-18 16:19] angaither commented on #6169
okay, we will want to test for that and refactor if needed

[2016-02-18 16:55] namimody opened #6184 "Add Help Text to Admin Add Reportback Form"
#### User Story

Sometimes, leads need to manually add reportbacks for users who have missed the campaign deadline or are having trouble uploading their photo. They use this link: dosomething.org/admin/users/rb/add. However, the form is tricky and doesn't provide a lot of clarity about how to use it.
#### Additional Information (optional)

FIELD :: Additional Help Text

NODE :: The campaign node t

[2016-02-18 17:03] chloealee opened #6185 "Embed additional campaign information within Signup response"
#### Current Behavior

/signups endpoint is working but needs additional campaign information exposed.
#### Desired Behavior

/signups endpoint should also return the following information in the campaign object:
-campaign tagline
-campaign status
-campaign type

cc @aaronschachter and @jonuy - let me know if I missed anything!

[2016-02-18 17:31] #6169 closed, assigned to sbsmith86

[2016-02-18 18:05] #6007 closed, assigned to itsjoekent

[2016-02-18 18:35] #6151 closed, assigned to chloealee

[2016-02-18 18:52] katiecrane commented on #6141
@namimody I've got it now so editors have the "file type" menu item, but as far as I can tell that just gives them access to edit/add file types, not the actual files. Is that what you wanted? If not, can you tell me where the actual file adding happens to make sure that is working?

[2016-02-18 20:03] mikefantini commented on #6159
Yeah so for https://www.dosomething.org/us/user/2553817/edit she is 100% located in the US and yet her language is set to GL EN

[2016-02-18 20:16] namimody commented on #6167
https://www.dosomething.org/admin/reportback/128124 -- dunno what those recycling signs are (emojis?), but interesting they show up in back end and in the caption on the front end...

[2016-02-18 20:27] namimody commented on #6141
Oh dear @katiecrane -- this was my mistake...they need access to: https://www.dosomething.org/file/add :see_no_evil:

Which is housed under
![image](https://cloud.githubusercontent.com/assets/12396076/13157077/dbf651ac-d653-11e5-8bb5-1721eb4e063f.png)

They actually probably don't need access to adding file types. I'm so sorry!!

[2016-02-18 20:45] katiecrane commented on #6141
@namimody should they just be allowed to view all the files and add new ones? Any editing or deleting?

[2016-02-18 20:52] namimody commented on #6141
View, add, edit I think @katiecrane! Unless not allowing them to delete is very complex, in which case you can allow them to delete.

cc @mikefantini in case he has any thoughts here.

[2016-02-18 20:55] katiecrane commented on #6141
@namimody It's no problem, there are checkboxes for everything. Turns out there is also a download option, thoughts on that?

[2016-02-18 20:59] angaither opened #6188 "Update hooks are blocked"
noticed on [this deploy](https://jenkins-thor.dosomething.org/job/Deploy-Thor/326/consoleFull)
that all db_update hooks didn't run, and it's because earlier ones were failing causing all others to fail

[2016-02-18 21:13] #6188 closed, assigned to angaither

[2016-02-18 21:50] blisteringherb commented on #6159
@angaither We store the user's country in Northstar, correct? Would you be able to give me a hint on how to query Northstar so I can cross check users with global english set as their profile language in Drupal with US users?

[2016-02-18 21:51] angaither commented on #6159
@blisteringherb yeah, we for sure store country, but not language in NS.
lemme think about this query hereeeeeeee

[2016-02-18 21:53] DFurnes commented on #6159
@blisteringherb If you want anything (other than language!) from Northstar, [Aurora](https://aurora.dosomething.org) is probably your best bet. If you log in & then ping me in Slack, I can give you admin privileges.

[2016-02-18 21:56] blisteringherb commented on #6159
@DFurnes Thanks!

[2016-02-18 21:57] angaither commented on #6159
@blisteringherb also, duh it's mongo so query like
`db.users.find({drupal_id:"100001"});`
`db.users.find({country:"US"});`
etc etc

[2016-02-18 22:47] mikefantini commented on #6141
Let's not let them delete for now. Reduces the risk of someone incidentally deleting something @katiecrane @namimody

Download seems like a safe option though.

[2016-02-18 22:48] katiecrane commented on #6141
@mikefantini okay I"ll add downloads to the PR tomorrow

[2016-02-19 15:26] katiecrane commented on #6141
@mikefantini adding downloads doesn't seem to alter the code or the site so I'm not sure if those checkboxes really do anything

[2016-02-19 15:27] #6141 closed, assigned to katiecrane

[2016-02-19 16:57] #6185 closed, assigned to chloealee

[2016-02-19 18:25] angaither opened #6192 "Reviewed reportbacks tab broke"
from @agardner in slack

probably due to changes in #6172

[2016-02-19 19:03] katiecrane commented on #6158
@mikefantini @angaither Okay so currently the option to collect addresses from sign up data form is more broken than the "shipment form" option. I'm confused about if we want to kill one of those and fix the other one or fix both?

[2016-02-19 19:22] chloealee opened #6193 "/signups index doesn't return data - breaking at an error message"
#### Current Behavior

`/signups` index returns no data - breaking at `no reportback data found` and `no campaign data found` error messages.

`https://thor.dosomething.org/api/v1/signups/23` returns

[code]

and `https://thor.dosomething.org/api/v1/signups/1` returns

[code]
#### Desired Behavior

If the signup is not for a campaign, should not be included in the response.
If there is no reportba

[2016-02-19 19:25] mikefantini commented on #6158
@katiecrane I think we should not touch the Shipment Form and fix the Sign Up Data Form for now.

Let me know if that makes sense/if you have any other questions.

[2016-02-19 20:16] katiecrane commented on #6158
@mikefantini makes sense and I think it's all fixed, just doing a couple more tests

[2016-02-19 20:21] mikefantini commented on #6158
Amazing thanks @katiecrane

[2016-02-19 21:33] #6192 closed, assigned to itsjoekent

[2016-02-22 13:49] namimody commented on #6133
Hmm @angaither trying to understand -- when you say you don't see any errors in Js or anywhere else you can't see what's going wrong in the code, so fixing will be really difficult?

(By the way, is there any thing different about this page vs. other static content pages? Curious why we're not seeing this happen more places...)

[2016-02-22 14:30] angaither commented on #6133
correct

there's just the most items on this page

[2016-02-22 14:50] namimody commented on #6133
Alright thanks @angaither. I'll close and let Sam know.

[2016-02-22 14:50] #6133 closed, assigned to itsjoekent

[2016-02-22 16:25] sbsmith86 commented on #4616
@angaither Was working on #6170 and it looks like this error was happening because we were using

`'base_url' => array($base_url . '/{version}/', array('version' => $version))`

but it should be `base_uri` and the value has to be a string, but it looks like it was trying to assign it to an array to do the string replacement.

Reference: http://docs.guzzlephp.org/en/latest/quickstart.html#creating-

[2016-02-22 16:27] angaither commented on #4616
@sbsmith86 ahh, awesome

[2016-02-22 16:33] DFurnes opened #6197 "Integrity constraint violation after merging #6196"
#### Current Behavior

Things explode if you log in using an account where the username is neither email nor password.

![screen shot 2016-02-22 at 11 32 15 am](https://cloud.githubusercontent.com/assets/583202/13224771/134b06c8-d958-11e5-8a3b-a9b9588ff78c.png)
#### Desired Behavior

Things should not explode.
#### Steps to Replicate

Log in to an account where the username is one of those randoml

[2016-02-22 16:37] #6197 closed, assigned to nobody

[2016-02-22 16:48] chloealee commented on #6193
@angaither @DFurnes I'm noticing that some reportbacks that are in the database are breaking with the error message `No reportback data found.` - could this be because of issue #6176 and why the index of `/signups` is breaking?

[2016-02-22 16:52] DFurnes commented on #6193
That's probably the root cause. I think a quick fix for now would be to see if you can catch that exception and return an empty array, rather than letting it bubble up to wherever that's reporting with that message.

/cc @weerd

[2016-02-22 17:00] weerd commented on #6193
@DFurnes @chloealee We had changed this to a [`try/catch` here](https://github.com/DoSomething/phoenix/pull/6168/files#diff-13b03397f87da0a2d3c8d9a98c71ae68R94) to address this issue earlier, but then in a later PR got changed to an [`if/else`](https://github.com/DoSomething/phoenix/pull/6191/files#diff-13b03397f87da0a2d3c8d9a98c71ae68R94)

[2016-02-22 17:02] weerd commented on #6193
Looks like you'll need a combo of first an `if/else` to check if you have an `rbid` to test and then the `try/catch` to see if it actually returns something with the one it tries.

[2016-02-22 17:04] chloealee commented on #6193
We changed it to an `if/else`[in this PR](https://github.com/DoSomething/phoenix/pull/6191) because the `try/catch` for some reason was sending back the incorrect reportback that wasn't associated with the correct signup.

Would something like this be too messy to do?

[code]

[2016-02-22 17:10] weerd commented on #6193
Not sure why the `try/catch` would have been breaking that though, since you're just passing it a specific `rbid`? That would likely be due to the query returning the wrong data regarding the reportback for the signup... all the `Reportback::get()` knows is the `id` of the item it's being asked to retrieve and if it was the wrong RB then that would be because the wrong `rbid` was passed...

Unless

[2016-02-22 17:10] DFurnes commented on #6193
I don't think that's too messy, but we should plan to refactor those exceptions sometime soonish.

[2016-02-22 17:12] DFurnes commented on #6193
Could it have been casting a falsey value to `0` and trying to fetch that reportback ID perhaps?

[2016-02-22 17:14] chloealee commented on #6193
Yeah it was strange! It seemed to be just grabbing a random reportback and returning it - wasn't associated with the `sid` or the `uid`.

[2016-02-22 17:16] angaither commented on #6193
The way the reportback query is written if no rbid is passed it grabs all reportbacks
So that was returning the first reportback for everyone who didn't reportback

[2016-02-22 17:18] weerd commented on #6193
oh, so we were passing a non-existent `rbid` to the `Reportback::get()`. Yeah, there should def be a logic check there then if no `rbid` exists to pass along.

The `try/catch` was necessary, because we had some faulty data in the DB where a Reportback existed but NO Reportback Item was associated with it and the system would fail, given that all Reportbacks _must_ have at least 1 Reportback Item.

[2016-02-22 17:19] DFurnes commented on #6193
:boom: Ah ha!

[2016-02-22 17:21] chloealee commented on #6193
:mag: thanks for clarifying, team!

[2016-02-22 17:21] weerd commented on #6193
As an alternative to the not so pretty `if/else/try/catch` we could start by indicating that the `reportback` property is `null` and assign it something later if it fits the criteria... so:

[code]

not sure if that's actually better, haha

[2016-02-22 17:31] chloealee commented on #6193
@weerd that does look better than what I have in the PR! But should I just clean it up/update once I fix #6176 ?

[2016-02-22 18:40] #6193 closed, assigned to chloealee

[2016-02-22 19:18] #6158 closed, assigned to katiecrane

[2016-02-22 20:23] angaither opened #6202 "paraneue image note found notices"
#### Current Behavior
- all sorts of theme errors in the admin section when placing the `no-image-found` placeholder
#### Desired Behavior
- no errors
- [`dosomething_image`](https://github.com/DoSomething/phoenix/commit/aa2197da29f9109c8391acdcbbe8992804eeab4c) needs to find a not found image regardless of theme
#### Relevant Screenshots + Links

![](https://files.slack.com/files-pri/T024GV2BW-F0

[2016-02-22 20:31] DFurnes commented on #6202
The problem is that we're using the `PARANEUE_PATH` constant that's defined in the theme from a module, so when that module is used outside of the theme it has no idea what that constant is.

We should probably move the "theming" of not-found images into the theme.

[2016-02-22 22:17] angaither opened #6203 "Admin/Content/Search returns an error page"
#### Current Behavior
- admin content search return error page
#### Desired Behavior
- no errors :smirk:
#### Steps to Replicate
1. Go to: https://thor.dosomething.org/admin/content
2. Click on "search content" "search facts" "search images" "taxonomy terms" or "translation status"
3. Chrome will ask you to kill the page or show the screen below.
#### Relevant Screenshots + Links

![](https://file

[2016-02-23 15:16] #6203 closed, assigned to itsjoekent

[2016-02-23 15:37] angaither opened #6205 "Expose competition in campaign api"
To support DoSomething/gladiator/issues/14 the api needs to expose if the campaign has a competition on it.

[2016-02-23 16:35] weerd opened #6206 "Expose flagged property in Reportback response"
#### Current Behavior

Prior to filtering reportbacks in the response for the `/reportbacks` endpoint, we would only show certain properties `why_participated` and `flagged` if the requester had access to view those items. However, now that we do some filtering ahead of time and don't show RBs that should only be visible to admin users, we should be able to expose the `flagged` property.
#### Desi

[2016-02-23 17:04] #6206 closed, assigned to weerd

[2016-02-23 17:48] chloealee commented on #6176
@weerd sorry I think I'm getting a little confused again for this! Is it correct to change [this](https://github.com/DoSomething/phoenix/blob/dev/lib/modules/dosomething/dosomething_reportback/dosomething_reportback.query.inc#L49-56) block to something like:

[code]

[2016-02-23 18:02] weerd commented on #6176
I don't think so. user access shouldn't affect which statuses they can request, just which get shown... I think the logic is getting a bit convoluted there and having trouble following. Can we chat through in comments in this issue what we're trying to achieve again? I think I'm lost and might help chatting it through...

[2016-02-23 18:16] chloealee commented on #6176
@weerd yeah I think I'm misunderstanding as well! Looping in @DFurnes who might be able to help clarify?

As I understand, we want admins to be able to view `flagged` and `pending` reportbacks on the index view of `/reportbacks` - is this correct?

I'm also confused why this would only work for the `show` since it looks like the `index` follows the same rules that was made in @weerd 's previous fi

[2016-02-23 18:30] weerd commented on #6176
I was going to look into that this morning and then had the whole `global $language` fiasco... I know there's a very specific reason; will look again during lunch! :smile:

[2016-02-23 18:31] chloealee commented on #6163
@angaither I think we can close this with #6168 merged in, correct?

Looks like [campaigns](https://github.com/DoSomething/phoenix/blob/dev/lib/modules/dosomething/dosomething_campaign/includes/CampaignTransformer.php#L46) and [reportbacks](https://github.com/DoSomething/phoenix/blob/dev/lib/modules/dosomething/dosomething_reportback/includes/ReportbackTransformer.php#L31) also already return an e

[2016-02-23 18:32] chloealee commented on #6176
thanks @weerd !

[2016-02-23 18:50] chloealee commented on #6205
@angaither this isn't already a field on the cms, I'll have to add and also expose in the `/campaigns` endpoint, right?

[2016-02-23 18:52] angaither commented on #6205
@chloealee yes, but it's not a field, it's a custom-setting on the signup data form
![image](https://cloud.githubusercontent.com/assets/645205/13262782/9bf04880-da34-11e5-8fdd-0f76a132f172.png)

[2016-02-23 19:05] chloealee commented on #6205
ooohh thank you! I'm assuming that there should be a column for this in the `dosomething_signup_data_form` table but not seeing it there. Do I have to do anything to make sure the boolean value reflects in the database?

[2016-02-23 19:14] sbsmith86 commented on #6205
@chloealee you probably need to run `drush updb -y`

[2016-02-23 19:17] chloealee commented on #6205
thanks, @sbsmith86 ! Hmmm just did that and refreshed Sequel Pro and still don't see it :-/

Only seeing these fields:
![screen shot 2016-02-23 at 2 17 15 pm](https://cloud.githubusercontent.com/assets/9019452/13263600/2fccb0b8-da38-11e5-8762-d617b27baa8b.png)

[2016-02-23 19:24] sbsmith86 commented on #6205
that's weird cause there should be a few new fields in there. [This is the hook](https://github.com/DoSomething/phoenix/blob/dev/lib/modules/dosomething/dosomething_signup/dosomething_signup.install#L680-L696) that sets them up. Are you sure it ran?

[2016-02-23 19:30] chloealee commented on #6205
weird! Is it skipping over `function dosomething_signup_update_7023()`? I don't think I've run `drush updb -y` in awhile and it looks like it just did `function dosomething_signup_update_7024()`?

![screen shot 2016-02-23 at 2 28 01 pm](https://cloud.githubusercontent.com/assets/9019452/13263952/ece7e702-da39-11e5-8bd9-aeab0ec6269e.png)

Is there a way to update on `function dosomething_signup_upd

[2016-02-23 19:33] sbsmith86 commented on #6205
yea you can rollback your drush updates in sequel pro

Get the current schema version you are on

`SELECT * from system where name = 'dosomething_signup'`;

Update the schema version to the one right before the one you want to run:

`UPDATE system SET schema_version = 7022 WHERE name = 'dosomething_signup';`

and then try running drush updb again.

Also[ this is another way](https://www.deeson.co.

[2016-02-23 19:35] chloealee commented on #6205
ah this is awesome - thanks so much @sbsmith86 !! It worked!!

[2016-02-23 21:03] weerd commented on #6176
ok, so I think it actually turns out to be much simpler than I thought entirely @_@

[2016-02-23 21:09] weerd commented on #6176
The issue was that on index collections we have to account for other things in the url params etc. On the show method, we only deal with one parameter the specified `rbid` and then if we want to restrict flagged ones from showing up, we add an extra params before the query starts to indicate `$params['flagged'] = FALSE;` which is nice and simple.

But on the index, there's a bunch of params set, i

[2016-02-23 21:13] weerd commented on #6176
A couple side notes:

It's a little confusing that Reportbacks have a `flagged` status and ReportbackItems have a `pending,flagged,excluded,approved,promoted` (which includes flagged also)...

@DFurnes @chloealee upon further inspection I don't actually know how this issue would have actually affected the own user's gallery. The `/reportbacks` endpoint index collection doesn't actually let you do

[2016-02-23 21:15] angaither commented on #6176
@_@

[2016-02-23 22:05] angaither commented on #6163
@chloealee great!

[2016-02-23 22:05] #6163 closed, assigned to chloealee

[2016-02-23 22:49] mshmsh5000 opened #6209 "hreflang can refer to unpublished campaign translations"
#### Current Behavior

Detected by Google's WMT. A campaign that's published in one language (say, `en-us`) may have an alternate URL specified via `hreflang` to translation that's not actually published.

WMT crawls that alternate URL, which is actually a 404 page, and dings us because it doesn't see a reciprocating `hreflang` link that points back to the original `en-us` campaign.
#### Desired B

[2016-02-24 14:34] angaither commented on #6209
i don't think it's related to the translation tab, the [code that adds the link](https://github.com/DoSomething/phoenix/blob/ad3ddbb5a6e198fa84a6574e9f0477e3616c2237/lib/themes/dosomething/paraneue_dosomething/includes/preprocess/preprocess_node.inc#L6) doesn't actually check if the translation is published before adding the link

[2016-02-24 15:24] chloealee commented on #6176
@weerd thank you for doing all of this investigating and describing things so clearly! Makes sense what you're saying about `/reportbacks` and how you can't actually query by `user`.

So in order to close this issue, do we just need to add the fix you mentioned in [this commen](https://github.com/DoSomething/phoenix/issues/6176#issuecomment-187906285)t?

[2016-02-24 16:12] namimody commented on #4510
From @mshmsh5000: https://boompayments.com/

[2016-02-24 16:28] namimody opened #6210 "Cloning Campaign Nodes for Rapid Response"
#### User Story

Leads/Calvin would like to duplicate existing campaigns with one click for news response and white label.
#### Additional Information (optional)

I found this but don't know much about the nuance of it: https://www.drupal.org/project/node_clone especially re: reportbacks, translations, and field collections.

Obviously, this isn't a huge priority, but wanted to start a discussion

[2016-02-24 18:45] #6205 closed, assigned to chloealee

[2016-02-24 18:55] chloealee commented on #5451
I’ve been researching a little and it seems like we might not need to change the code? Seems like it has to do with the browser or at a lower level than the actual application but not sure if I'm understanding correctly. http://www.vbforums.com/showthread.php?806289-TLS-1-2-security-protocol

@sheyd do you have any insight to this?

[2016-02-24 18:56] angaither commented on #6079
@blisteringherb and I were looking at this on thor today.
- it seems 267 items consistently remain unindexed
- queue all, reindex, it goes down to 0, then back up to 267
- tried deleting the index, down to 0, then back to 267

[2016-02-24 18:56] angaither commented on #6079
prod is doing the same thing, though the index there remains at 269

[2016-02-24 19:23] angaither commented on #5451
ooo! they now have a JSON api available. that might be interesting
https://www.ups.com/upsdeveloperkit/downloadresource?loc=en_US

[2016-02-24 19:47] angaither commented on #6079
it seems every time cron runs it has that number (267) of things remaining unindexed.

[2016-02-24 19:59] #6075 closed, assigned to itsjoekent

[2016-02-24 20:00] angaither commented on #4510
duplicate of #1003

[2016-02-24 20:03] sheyd commented on #5451
@angaither @chloealee We need to do some testing to see if our current code will work or not. I'd recommend a short code snippet using `drupal_http_request` to a website that has the same security restrictions (like... Google or something, I'll come up with a better list), and see if we get errors back or not.

I don't have better visibility into this, as TLS negotiation seems to depend on PHP ver

[2016-02-24 20:09] sheyd commented on #5451
@angaither @chloealee Found a website that exists solely for testing this sort of thing. The URL to request is this: `https://fancyssl.hboeck.de/`

[2016-02-24 20:11] chloealee commented on #5451
Thanks, @sheyd ! I'll check now.

[2016-02-24 21:11] angaither opened #6213 "contextual filters missing from rb views"
reportback views used to have contextual filters to add which node or tax term they were viewing, and are missing now

refs #6172

![image](https://cloud.githubusercontent.com/assets/645205/13301134/662c4842-db11-11e5-8e12-2c4e15b2c4f9.png)

![](https://i.imgur.com/jgzMhTF.png)

[2016-02-24 21:36] angaither opened #6214 "address on 'update my profile' not validating"
#### Current Behavior

you can update an address to say whatever you want, it doesn't validate
#### Desired Behavior
- address validate like on the signup data form
#### Steps to Replicate
- go to user/XXX/edit and update the address
- put in something that doesn't make sense
#### Relevant Screenshots + Links

no errors on user/edit
![image](https://cloud.githubusercontent.com/assets/645205/133017

[2016-02-24 21:56] chloealee commented on #5451
@sheyd do we have to make sure we can hit that url specifically in `dosomething_user_valid_address.inc` or can it be any file in the app?

[2016-02-24 21:58] #6213 closed, assigned to itsjoekent

[2016-02-24 22:02] angaither commented on #6214
@chloealee i also noticed the address is probably not validating when admins change the page at `http://dev.dosomething.org:8888/us/user/10/edit` because[ it's checking for `user/id/edit` without the us prefix](https://github.com/DoSomething/phoenix/blob/0dae77850b1124ea7e12b12adc36dd465fb68ab9/lib/modules/dosomething/dosomething_user/dosomething_user.module#L261)
since we are only validating us a

[2016-02-24 22:12] chloealee commented on #5451
@angaither @sheyd yay confirmed that we got a `200` code when hitting this URL `https://fancyssl.hboeck.de/`! Should I close out this issue?

Popped this in `Transformer.php`
![screen shot 2016-02-24 at 5 11 20 pm](https://cloud.githubusercontent.com/assets/9019452/13302773/a9e4e8de-db19-11e5-9536-43368e61eb18.png)

And hit the `http://dev.dosomething.org:8888/api/v1/campaigns` endpoint with the f

[2016-02-24 22:14] angaither commented on #5451
:+1: awesome!

[2016-02-24 22:14] #5451 closed, assigned to chloealee

[2016-02-24 22:18] angaither commented on #6214
I forgot that the info form recently added address #6027, so it's probably as simple as adding validation to it.

cc @katiecrane

[2016-02-24 22:26] katiecrane commented on #6214
Oooo whoops yeah I just had it updating the values and didn't do anything special to validate it it looks like. Sorry!

[2016-02-24 22:27] chloealee commented on #6214
@angaither on my local when I go to edit, it doesn't have the country code - `http://dev.dosomething.org:8888/user/1704953/edit` but still allows it to save (I didn't update the `preg_match` to include the us prefix`).

Also, should I be adding this validation again in `dosomething_user.module` even though it's already [here](https://github.com/DoSomething/phoenix/blob/0dae77850b1124ea7e12b12adc36

[2016-02-24 22:30] angaither commented on #6214
it's two issues
- the user info [edit form](https://github.com/DoSomething/phoenix/blob/dev/lib/modules/dosomething/dosomething_user/dosomething_user.module#L1204) needs to have validation added
- admin update form
  the country code only gets set locally if you [manually set fastly headers](https://github.com/DoSomething/phoenix/wiki/Fastly-Global-Header-Setup#quick-setup-for-local-testing)

[2016-02-25 00:13] chloealee commented on #6214
ah, thanks for clarifying, @angaither !

[2016-02-25 03:50] mshmsh5000 commented on #6079
Here's what the syslog looks like on the Thor web server during cron -- and a sample of the Solr log during a cron run.

https://gist.github.com/mshmsh5000/a7b7ab69dd852254ac6b

So, Drupal is indexing things and then deleting a lot of them. I wonder if these get queued up again. The numbers don't match up (Thor deletes 112 nodes, not 267), so I don't want to go too far down the rabbit hole. But, j

[2016-02-25 04:19] blisteringherb commented on #6079
Thanks for this @mshmsh5000. I think it might be this patch that I put against the apachesolr multilingual module. The reason I put it in was because unpublished translations were showing up in the finder and in search. The trick now is to figure out if Solr is just reporting the wrong number or if this patch needs to be removed and I need a different solution to the issue.

[2016-02-25 15:35] weerd commented on #6176
@chloealee yep, I think so. But make sure to throughly test. It _seemed_ to work when I tried it, but I didn't do extensive test. I was just trying to remember what the core issue was :)

[2016-02-25 15:36] chloealee commented on #6176
cool, thanks @weerd !

[2016-02-25 15:57] #6214 closed, assigned to chloealee

[2016-02-25 18:42] angaither opened #6219 "Signup view not displaying runs correctly"
Filter by run nid is not done correctly, it's not searching for the `run_nid` on the signup
`/node/1144/signup`

[2016-02-25 19:22] #6219 closed, assigned to angaither

[2016-02-25 20:00] #6176 closed, assigned to chloealee

[2016-02-25 20:19] chloealee commented on #5481
@namimody @angaither how are people writing fractions in the proper form in this field? I'm trying to replicate but having a difficult time.

Also - how do new facts get assigned an id? It looks like the number behind the fact is an id of some sort and then it saves the fact to be edited elsewhere? I'm trying to edit slightly and it says it saves but when I go to edit again, it reverts back to wha

[2016-02-25 20:23] namimody commented on #5481
Here is one example @chloealee! https://www.dosomething.org/us/campaigns/out-closet-cards

And new facts get created on their own nodes on this form: https://thor.dosomething.org/us/node/add/fact

[2016-02-25 20:25] chloealee commented on #5481
Thanks @namimody ! Looks like that one is working now?
![screen shot 2016-02-25 at 3 24 50 pm](https://cloud.githubusercontent.com/assets/9019452/13333237/01d86ba0-dbd4-11e5-82f8-82baf3c13576.png)

[2016-02-25 20:26] namimody commented on #5481
Oof, well that's great/sucks! I'll close then @chloealee -- so sorry you spent time on this!

[2016-02-25 20:26] #5481 closed, assigned to chloealee

[2016-02-25 20:27] chloealee commented on #5481
No worries @namimody! Glad it works :)

[2016-02-25 20:36] namimody commented on #4510
Hi @angaither! I don't think this is a duplicate. From what I understand, #1003 deals with allowing a user with _only_ a cell phone number to set a new password, assuming they signed up with a cell number, no email address, and a password. This ticket more deals with the case where an SMS-only member would like to create an account on the web with their associated phone number. They don't even hav

[2016-02-25 20:42] angaither commented on #4510
@namimody that's what the comments in #1003 say

[2016-02-25 20:45] namimody commented on #4510
I take it all back @angaither :speak_no_evil:

[2016-02-25 20:45] #4510 closed, assigned to mikefantini

[2016-02-25 20:47] angaither commented on #1003
see https://dosomethingorg1.zendesk.com/agent/#/tickets/6648 for real life users

[2016-02-25 21:03] angaither opened #6222 "Send User Lang to NS"
For DoSomething/northstar/issues/208
`user->language` needs to be added to [the array](https://github.com/DoSomething/phoenix/blob/e17d966117e37e2629dea39a6627ef62a359d064/lib/modules/dosomething/dosomething_northstar/dosomething_northstar.module#L193) we send to NS

[2016-02-25 21:14] chloealee commented on #6048
@DFurnes @jonuy do we want dates returned as an ISO-8601 only for the API or available for the app too? Trying to decide where to put this logic (in `Transformer.php` or `Reportback.php`). cc @weerd

[2016-02-25 22:09] DFurnes commented on #6048
@chloealee I think we'd want to use a `Date` object for within the app (since that has some handy methods for working with dates built-in), and only serialize to a string when formatting into JSON.

[2016-02-25 22:20] chloealee commented on #6048
@DFurnes got it - thanks for clarifying!

[2016-02-26 15:11] chloealee commented on #6048
@weerd @DFurnes it looks like `/reportbacks` doesn't have pagination right now (but `/reportback-items` does. Should I add pagination to `/reportbacks` as well?

[2016-02-26 15:53] weerd commented on #6048
yeah! not sure why I left it off before... but it should have it :)

[2016-02-26 16:04] chloealee commented on #6048
no problemo - thanks for clarifying! On it now :)

[2016-02-26 16:30] chloealee commented on #6048
@DFurnes one more question! If we're going to update to namespacing filters in query-strings, should we be doing this for all endpoints, not just `/reportbacks`?

[2016-02-26 16:38] DFurnes commented on #6048
@chloealee Yep!

[2016-02-26 16:42] chloealee commented on #6048
@DFurnes cool! Would it make sense to separate that into it's own issue since it'll be more of a beast?

[2016-02-26 16:54] DFurnes commented on #6048
Makes sense to me. :japanese_ogre:

[2016-02-26 17:06] chloealee commented on #6048
cool I'll make a separate issue now!

[2016-02-26 17:12] chloealee commented on #6048
actually - keeping one issue but two PRs :)

[2016-02-26 17:23] weerd commented on #6048
I'm a little worried that the whole filters change approach, while useful is cutting it a little close to the launch of the mobile app. Maybe these are updates we make but hold onto for now to deploy later...? It's a rather significant change to all the URL params for all endpoints and w/out the testing coverage in place feels like a big rewrite with lots of potential for breaking coming up close

[2016-02-26 17:25] weerd commented on #6048
@DFurnes can you update the example in the description? Isn't that the current method for the filters and not what's proposed for the change with the namespacing?

[code]

[2016-02-26 19:02] DFurnes commented on #6048
@weerd Doh, updated the example!

Good point on the potential danger of changing the query strings so close to launch... my fear was just making sure we get the API into a "feature freeze" of where we want it to be before we're stuck maintaining compatibility with any client apps using it in the wild (and then stuck with maintaining old branching code paths or anything like that).

I'm up for hold

[2016-02-26 19:25] jonuy commented on #6048
Thanks for flagging @weerd. Yea, it does feel iffy making a breaking change like this as we get closer to launch. But if it's a change that you feel _needs_ to happen, then I'd lean towards getting it in now. I'm _pretty_ sure on the Android side I'd just need update the query strings in [here](https://github.com/DoSomething/LetsDoThis-Android/blob/master/app/src/main/java/org/dosomething/letsdoth

[2016-02-26 19:29] DFurnes commented on #6048
Northstar changes would be pretty minimal since we basically pass the unaltered request directly to Phoenix. Would just need to change the logic where we transform Northstar IDs to Phoenix IDs in signup & reportback index's `user` filter parameter.

[2016-02-26 20:30] angaither commented on #6170
@sbsmith86 i just thought of something, for now you can test this with forwarding to gladiator from local to local, then switch out the url's for each env

[2016-02-26 20:32] angaither commented on #71
I think we can actually close this one out, if we aren't gong to be moving QA into dev. and stage is mainly good enough for dev

[2016-02-26 20:32] #71 closed, assigned to sheyd

[2016-02-26 20:36] aaronschachter commented on #6048
In theory it sounds like all we need to do on iOS is make the change [here](https://github.com/DoSomething/LetsDoThis-iOS/blob/d0ec9c176ee60a92c30ffd15920cac6af3d8b53b/Lets%20Do%20This/Controllers/Campaign/LDTCampaignViewController.m#L69) -- the only other endpoint we're using to display Reportbacks is via `signups?user=:id`.  So, doesn't sound like a big lift on the iOS side ...

[2016-02-26 21:17] sbsmith86 commented on #6170
@angaither yea, definitely wouldn't send people to prod from my dev. But I'm not sure what endpoint im supposed to be hitting. I think @weerd was gonna set something up?

[2016-02-26 21:18] angaither commented on #6170
@sbsmith86 you can use `gladiator.app:8000`!

[2016-02-26 21:18] angaither commented on #6170
oh, but to the actual ENDPOINT. doi

[2016-02-29 15:58] angaither opened #6225 "Create cron to set up competitions"
in order to only have one place to configure competitions
phoenix can ping gladiator to get the info and set the proper variables to set up a competition

[2016-02-29 16:26] namimody opened #6226 "Scholarship Winner Not Appearing on Naughty or Nice Closed State"
#### Current Behavior

Despite having all the necessary winner fields filled out on the run node (6601), the front end of the closed state is still saying that we are sifting through applications.
#### Desired Behavior

When a campaign has a number in the incentive field of the /edit view of the campaign node and has winner information filled out on the associated run node, the front end of the cl

[2016-02-29 16:34] angaither commented on #6226
@namimody is this only on one specific campaign or all campaigns?

[2016-02-29 16:37] namimody opened #6227 "New Images/Facts are Not Immediately Referenced By Field"
#### Current Behavior

If a backend site user adds a fact or image using the green plus sign, the fact or image gets created but the field they would like to input it in is not autopopulated with the new item.
#### Desired Behavior

Newly created facts or images should autopopulate in the field after they are created.
#### Steps to Replicate

Go to a campaign or static content page. Add a fact or

[2016-02-29 16:38] namimody commented on #6226
Only on this specific campaign @angaither. @mikefantini and I can't figure out why.

[2016-02-29 16:40] weerd commented on #6048
@aaronschachter the changes to how we use query params would technically affect any and all Phoenix endpoints... not just `/reportbacks`. Not sure if that was clear or not :\

[2016-02-29 16:42] angaither commented on #6226
@namimody is there other content that should be getting pulled in that isn't, or is it just winner content?

[2016-02-29 16:45] angaither commented on #6227
my hunch is the field is translatable and images/facts are not so they aren't automatically referenced.
again, since this is a module we use but didn't build the fix for this will probably take a while

Refs #5523

[2016-02-29 18:02] angaither commented on #6226
@namimody the winner content is pulling from the run node referenced in the global english version of the campaign
I think this might be because en global is the default language of the node, so it's pulling form the run in that language

see https://thor.dosomething.org/node/6153

I'm going to close this issue out, and we can open a different one if we find runs aren't working across multiple lan

[2016-02-29 18:02] #6226 closed, assigned to angaither

[2016-02-29 20:49] mshmsh5000 commented on #6128
- Added the [Notifications plugin](https://wiki.jenkins-ci.org/display/JENKINS/Notification+Plugin) to Thor Jenkins
- Added a job, _Ghost Inspector Suite_, which makes the HTTP call to the _Phoenix Core Experiences (Thor)_ suite using the Notifications plugin
- Added a post-build step to the _Deploy-Thor_ Jenkins job to call this GI job
- Configured the Thor suite in GI to notify Slack (in #deploy

[2016-02-29 21:47] mshmsh5000 commented on #6128
Working on the best notification configuration for this.

Ghost Inspector integrates with Slack, but doesn't have sparse notifications of the kind that we'd be okay with seeing on a regular basis. For instance, there's no polite "this test suite has passed" message, only verbose messages with the final screenshot.

I'm going to try piping verbose GI messages into a dedicated Slack channel (#ghost-

[2016-02-29 21:49] mshmsh5000 commented on #6128
The remaining problem is that the Jenkins job isn't actually notifying #deploys -- not sure what's going on there.

[2016-02-29 22:54] namimody opened #6228 "Guns Out Redirect"
NEED:
dosomething.org/flex and dosomething.org/gunsout

TO REDIRECT TO:
https://www.dosomething.org/us/campaigns/guns-out

By EOD Wednesday, 3/2. Thanks!!

[2016-03-01 04:40] sheyd commented on #6228
@namimody Re-direct is in place!

[2016-03-01 04:40] #6228 closed, assigned to sheyd

[2016-03-01 14:49] namimody commented on #6228
THanks @sheyd!!

[2016-03-01 17:08] aaronschachter opened #6229 "Funky Signups data - possibly only on Thor."
#### Current Behavior

Some Campaign data from the `signups` API endpoint is not associated with a Campaign (but instead what seems to be a Campaign Run node). These Signups have a Campaign Run value 0.
#### Desired Behavior

The Campaign property should reference a valid Campaign, and the Campaign Run property should reference a valid Campaign Run.
#### Steps to Replicate

https://northstar-thor.

[2016-03-01 22:08] aaronschachter opened #6230 "Support for count query param in GET signups index endpoint"
#### Current Behavior
- The Signups endpoint only returns 25 results, regardless of any `count` query parameter passed.(https://northstar-thor.dosomething.org/v1/signups?user=554c2f3f469c64ed7d8b6061&count=500). The signup in particular i'm looking for is here: https://northstar-thor.dosomething.org/v1/signups?user=554c2f3f469c64ed7d8b6061&campaigns=6621 and is not returned by the GET `signups?use

[2016-03-01 22:18] aaronschachter commented on #6229
Another example:
https://thor.dosomething.org/api/v1/signups/588786 has a Campaign of 3547, Campaign Run = 0.
https://thor.dosomething.org/node/3547 is a Campaign Run node (Birthday Mail Run 1)
https://thor.dosomething.org/api/v1/reportback-items?campaigns=3547

[2016-03-02 14:43] angaither commented on #6229
@aaronschachter I was thinking we can do another thor/prod refresh and see if things look better, does that sound ok?

[2016-03-02 14:45] #6222 closed, assigned to chloealee

[2016-03-02 14:51] angaither commented on #6128
@mshmsh5000 doesn't look like there's a downstream event to notify slack on that job

[2016-03-02 16:19] mshmsh5000 commented on #6128
Aaaaaahaaaaaaaa :eyeglasses: :custard:

[2016-03-02 16:19] #6128 closed, assigned to mshmsh5000

[2016-03-02 16:30] angaither opened #6231 "Password reset flow"
some testing leads us to believe that when going through the password reset flow doesn't trigger
- [x] password length validation
- [x] updating password in NS

[2016-03-02 16:36] aaronschachter commented on #6229
Sounds good - we'll just need to coordinate with @marahml and @jonuy to schedule the downtime.

The 2nd example looks good on prod too https://www.dosomething.org/api/v1/reportback-items?campaigns=3547 vs https://thor.dosomething.org/api/v1/reportback-items?campaigns=3547

A sanity check would could run in the meantime on prod is just a query to see if we see any Signups or Reportbacks with a `run

[2016-03-02 16:39] angaither commented on #6229
oh, i know the answer to that.
on prod:
there's about ~40 reportbacks with `run_nid` as 0
~200k signups with `run_nid` as 0

[2016-03-02 16:40] blisteringherb commented on #6079
Solr is indexing appropriately, the issue is that the number being reported as "not indexed" is actually the number of unpublished translations where the node itself is published. The patch I included removes unpublished translations from the index, but the Apachesolr module just looks at whether the node is published, not the translation  publish state.

[2016-03-02 16:44] angaither commented on #6079
@blisteringherb still seeing quite a few instances of the search not updating titles correctly

for instance elephant task force was chanced to elephant tusk force on the 26th and the results still show the old title.
https://www.dosomething.org/us/campaigns/elephant-tusk-force
https://www.dosomething.org/us/search/apachesolr_search/elephant

[2016-03-02 16:59] angaither opened #6232 "clean up straggler signups"
- signups on homepage node
- signups on other content types ['image', 'fact', 'campaign_group', 'campaign_run']
- duplicate (?) signups with a run_nid of 0

[2016-03-02 17:00] angaither commented on #6232
state of the union:
![image](https://cloud.githubusercontent.com/assets/645205/13467903/51f01b62-e06e-11e5-9b39-784a168133c3.png)

[code]

[2016-03-02 17:15] blisteringherb commented on #6159
I've set up Fastly logging to S3 to make sure we're getting what we expect at the edge.

[2016-03-02 17:33] aaronschachter opened #6233 "Campaigns API: return closed status if the node is unpublished (or don't return campaign at all)"
## _BUG_
#### Current Behavior
- An unpublished campaign node can exist with `active` campaign status, resulting in a 500 error upon signup. I think this is possible as hack to allow for "mobile app" campaigns only -- campaigns that exist in the app but not on the web. That's no longer a thing.
#### Desired Behavior
- The campaign.status should be returned as `closed` because the node is unpublish

[2016-03-02 17:37] angaither commented on #6233
probably easiest to remove unpublished campaigns from the api

https://github.com/DoSomething/phoenix/pull/5175

[2016-03-02 17:59] aaronschachter commented on #6230
@DFurnes Do we need to make changes on the Northstar side to accept the `count` query string?

[2016-03-02 18:01] DFurnes commented on #6230
@aaronschachter Nope, all query strings on the request are just forwarded directly to Phoenix (aside from `user`, since we do a little processing on that).

[2016-03-02 18:22] angaither commented on #6229
@aaronschachter besides the issues covered in #6232 I think the examples you provided here are fixed.
closed if you agree!

[2016-03-02 18:50] angaither opened #6235 "Retire campaigns"
- is this a new (? translatable) field on campaigns
- or maybe a new `active/closed/retired` state
- what happens when a user visits a retired campaign they signed up for
- retired campaigns don't show up in solr results

[2016-03-02 19:02] #6233 closed, assigned to angaither

[2016-03-02 19:03] angaither opened #6236 "Remove mobile app fields on campaign"
seems these aren't being used, kill em!
- [x] [mobile_app bool](https://github.com/DoSomething/phoenix/search?utf8=%E2%9C%93&q=mobile_app)
- [x] [mobile_app_dates](https://github.com/DoSomething/phoenix/search?utf8=%E2%9C%93&q=mobile_app_date)
- [x] [update wiki](https://github.com/DoSomething/phoenix/wiki/api#optional-query-parameters)

[2016-03-02 19:08] aaronschachter commented on #6229
New data set looks good!  Open question of how'd it get so funky in the first place? :guitar: Will keep an eye out.

[2016-03-02 19:08] #6229 closed, assigned to nobody

[2016-03-02 19:21] angaither commented on #6232
it looks like signups haven't happened on a non-campaign node since dec 2015.
so _I think_ that bug is fixed, I certainly haven't been able to replicate it locally.

[2016-03-02 19:33] mikefantini commented on #6235
Other questions to consider:
- What are the different reasons we'd retire a campaign? Unimpactful CTA, unpopular CTA, controversial/offensive campaign, celeb takeover.
- What content would we want the user to see for a retired campaign? Does it change depending on the reason it was retired?

[2016-03-02 19:38] angaither commented on #6232
there are also reportbacks on non-campaigns, but they appear all to be done by nefarious staff members

[2016-03-02 19:45] mikefantini opened #6237 "Migrate We Are Able activity so it's all on one campaign"
#### Current Behavior

Multiple campaigns were created for We Are Able and both have signups and reportbacks.
#### Desired Behavior

All of the activity on node 2931 should be migrated over to 5438. We'll need to associate the runs of 2931 to 5438 as well.
#### Why This Matters

Because we shouldn't have two of the same campaign

[2016-03-02 19:49] mikefantini commented on #6235
Campaigns we should :eyes: once we decide what to do:
- 24
- 45
- 1536

[2016-03-02 21:45] angaither commented on #6232
after the script  #6238
we will have 219 signups where `run_nid = 0`
I checked those, and they can be removed safely after, since all of those users signed up again, and the signup with a 0 run is just a duplicate

[2016-03-02 22:36] angaither commented on #6232
okay. there are 219 signups that have a `run_nid` of 0 and are still on a node.
but there's more signups with a `run_nid` of 0 with no node.
whaaa

[2016-03-03 15:01] angaither commented on #6237
@mikefantini which run should signups on `2931` be migrated to?

[code]

[2016-03-03 15:04] angaither commented on #6227
tried a bunch of debugging on this one, disabling translations and adding debug statements to the `entity_connect` module, but it couldn't get anywhere

[2016-03-03 15:05] mikefantini commented on #6237
@angaither I was thinking we would just keep the signups on the same run but just associate the runs with 5438 instead of 2931. Does that make sense?

[2016-03-03 15:07] angaither commented on #6237
:+1:

[2016-03-03 15:07] mikefantini commented on #6237
So 5438 would have 4 runs instead of 2

[2016-03-03 15:08] angaither commented on #6237
instead of doing the change in the db, then those campaign runs will need to be updated to point to `5438`

[2016-03-03 16:20] angaither commented on #6232
removed the duplicate (219) duplicate signups from thor.

the remaining signups with a `run_nid` of 0 are on nodes that have been deleted

@aaronschachter do you think leaving those orphaned signups will cause problems?
we should maybe be removing activity from nodes that are removed?

[2016-03-03 17:09] mikefantini commented on #6237
@angaither let's coordinate this then because I don't want 2931 to be unpublished and not closed. Should I just move those over now and create a placeholder run for 2931?

Also you still need to update the campaign nid for the signups no?

[2016-03-03 17:22] aaronschachter commented on #6232
There's a chance they can could potentially cause problems on the profile -- sounds sensible to delete all of a node's activity if we're deleting the node.  A minor UX thing we could add to hopefully avoid this in future is a delete confirmation that indicates there is activity which exists (and then potentially a `hook_delete` to delete correspond activity... although hopefully we won't be in the

[2016-03-03 17:30] angaither opened #6240 "Remove Restfull module "stuff""
from @weerd

[2016-03-03 18:02] angaither commented on #6236
mobile app fields were not actually removed with features revert.
I think they need to be manually removed with `field_delete_field`

[2016-03-03 18:11] #6236 closed, assigned to angaither

[2016-03-03 18:45] lkpttn opened #6242 "Change Campaign Template date to "X hours/days remaining""
## FEATURE
##### User Story

Users can become confused with dates that end on a specific day without time zone context. Chris brought us stories of users who thought they missed the Teens For Jeans deadline because it ended on Eastern time and they were thinking in terms of Pacific time.
##### Additional Information

We should emulate the now-defunct Hot Module and change how the date is displayed

[2016-03-03 18:46] angaither commented on #6242
not a small.

[2016-03-03 21:08] angaither commented on #6232
this was done on prod as well

[2016-03-03 21:12] angaither commented on #6232
with a few exceptions that are all staff members
the only remaining signups with `run_nid = 0` is the mysteriously removed node `3251`

I'm going to leave them... in case we ever figure that out.
Also the signups and reportbacks don't show up anywhere (api or profile) so I think we are ok.

closing this b.

[2016-03-03 21:12] #6232 closed, assigned to angaither

[2016-03-03 22:56] namimody opened #6244 ""New Users Get Added to Mailchimp"Test"
## _FEATURE OVERVIEW_
#### User Story

We want to test if newly registered users are added to MailChimp. We'll need a test that pings the MailChimp API, asks if "userx@example.com" exists, and then if so, deletes them so test users aren't inadvertently added to our member count.
#### Why This Matters

Automated testing is _the very best_ and it's important that users are immediately added to our M

[2016-03-04 15:26] angaither commented on #6231
this should be on the issue
some stuff isn't getting sent over to NS correctly

working
- first name
- birthday
- mobile

not working
- address fields

[2016-03-04 15:27] angaither commented on #4526
@DFurnes :heavy_check_mark:ing in on this, how is the verify creds working? are we getting :white_check_mark: or :x:

refs #6231

[2016-03-04 15:41] DFurnes commented on #4526
Just took a peek. There are quite a few where validation failed and `NONE` was set in the Northstar ID profile field... but yeah, there's a good chance this is because of #6231 so not totally unexpected.

[2016-03-04 16:14] itsjoekent commented on #6225
talked with @weerd about this in Slack --

@weerd has additional thoughts I think

cc: @angaither

[2016-03-04 16:16] angaither commented on #6225
@deadlybutter I don't think we should try to build that for the first version, there's trickyness with the skip and the modal popping up after another modal that already works with the signup data form.

[2016-03-04 16:19] itsjoekent commented on #6225
@angaither I guess I dont fully understand what the signup data form is then, where is it used? (as in, example on the site right now)

[2016-03-04 16:23] angaither commented on #6225
@deadlybutter after a user signs up for a campaign and there's potentially additional information needed
(address/school/otherquestions) a second modal pops up that collects this info and stores responses with the signup. it allows for a skip and there's UX rules around when it shows up. since it's built it seems easiest to use what we already have
the fields are already set up to allow for compet

[2016-03-04 18:48] #6231 closed, assigned to chloealee

[2016-03-04 21:35] chloealee commented on #6048
Following up here - is the decision to hold on this until after the mobile app is launched? cc @DFurnes @weerd @jonuy @aaronschachter

[2016-03-04 21:41] DFurnes commented on #6048
Yeah, I think that's the safe choice since launch is so soon.

[2016-03-04 22:04] chloealee commented on #6048
cool, sounds good!

[2016-03-07 17:00] chloealee commented on #6230
@weerd Do you think it'd also be a good idea to add pagination and all the other API updates I made for `Reportbacks` in this [PR](https://github.com/DoSomething/phoenix/pull/6223)?

[2016-03-07 17:37] weerd commented on #6230
Yeah, defs add pagination w/ the count stuff taking action :)

[2016-03-07 17:38] chloealee commented on #6230
Cool, thanks @weerd !

[2016-03-07 21:03] angaither commented on #5557
I added `dosomething_gladiator` and it didn't automatically enable with [this script](https://github.com/DoSomething/phoenix/blob/dev/bin/enable_modules.php)

[2016-03-07 22:12] angaither commented on #5557
The problem was `apachesolr_confgen` wasn't enabling because it requires a dependency we don't have installed, so all other were failing

[code]

fixed by removing that module, since we don't seem to need it

[2016-03-07 22:12] #5557 closed, assigned to nobody

[2016-03-08 16:22] aaronschachter commented on #5069
Just got an iOS app crash in v1.0.9(1) for Babysitters Club, nid 57, because i removed the conditional checking for a non-markdown value (https://github.com/DoSomething/LetsDoThis-iOS/pull/915/files)

@weerd -- What do you think about a long term fix where we return `raw` and `formatted` regardless of whether a `safe_value` exists? As a consumer of the API, it's seems weird that the format for the

[2016-03-08 17:12] aaronschachter opened #6250 "Standardize API Markdown properties"
## _BUG_
#### Current Behavior
- Fields on a Campaign node can be saved as Markdown (and returned in API as an object with `raw` and `formatted` values) or as Plain Text (returned as just a string).
#### Desired Behavior
- Always return API property of a text field as an object with `raw` and `formatted`, regardless if the format is Markdown or Plain Text
#### Why This Matters

Complicates buildin

[2016-03-08 17:21] #6230 closed, assigned to chloealee

[2016-03-08 17:21] aaronschachter commented on #5069
Created #6250 which should resolve.

[2016-03-08 18:39] aaronschachter commented on #6250
This gets a little tricky for something like `tagline` or even `title`, where we'd never store the value as Markdown... it brings to mind just simply returning the `raw` value for all fields as a string instead an object vs knowing which properties are strings and which are objects.  If we went this route, it'd make sense for a v2 as it would break apps referencing the `raw` property (or make the

[2016-03-08 18:43] aaronschachter commented on #6240
Refs #4360

[2016-03-08 19:25] angaither commented on #6240
Ahh, thanks @aaronschachter

[2016-03-08 22:11] aaronschachter opened #6251 "500 Error when posting signup to Treat Yo Friends"
## _BUG_
#### Current Behavior
- i’m getting a 500 error when posting a signup to Treat Yo Friends on prod (ID 5646). shot in the dark is that maybe it’s because there are two different Run id values for `global-en` and `en`: https://www.dosomething.org/api/v1/campaigns/5646. Only campaign i’ve been getting the 500 error on.

Signing up for Yo Teach worked fine (has a `global-en` and `en` — but bo

[2016-03-08 22:17] aaronschachter commented on #6251
cc @jonuy (or any Android users) -- as a sanity check -- do you get same error?

[2016-03-09 00:08] aaronschachter commented on #5997
Now that we're exposing the User's first name publicly in the LDT apps (if their Reportback has been approved), might be worth displaying in the rows on the Review Reportbacks webform, next to the email

cc @mikefantini @angaither

[2016-03-09 14:54] angaither commented on #6251
@aaronschachter I think the language of the admin user that posts the request from NS was set to the wrong thing. [global english]
I set it to english please try again!

[2016-03-09 15:00] angaither commented on #6251
actually, I just tried this and still got the "oops" message :cry:

[2016-03-09 15:13] chloealee commented on #6250
@aaronschachter if we just returned the `raw` value for all fields as a string instead of an object, everything would read like `tagline` or `title` does, getting rid of `raw` and `formatted` entirely?

[2016-03-09 16:01] angaither commented on #6170
refs #6246
but needs more error protection
as well as potential api updates DoSomething/gladiator/issues/54

[2016-03-09 16:08] namimody commented on #6184
Hey @chloealee -- looks like the admin help text for the reportback form is showing up in the user-facing view as well :(

https://www.dosomething.org/us/campaigns/elephant-tusk-force

![image](https://cloud.githubusercontent.com/assets/12396076/13641565/e774d768-e5e6-11e5-850f-451c3360a1da.png)

[2016-03-09 16:15] jonuy commented on #6251
Sanity check confirmed. We get the 500 on Android too.

[2016-03-09 16:37] DFurnes commented on #6250
Yeah, I think returning either the unformatted text or the raw Markdown source is the way to go here. It also feels like returning the processed HTML is making an assumption that it'll be displayed in a web browser, which is not always the case.

[2016-03-09 17:50] angaither commented on #6251
Northstar sends requests as the api user. (northstar-api)
that [user's lang was `global english`](https://thor.dosomething.org/us/user/2800057/edit)
the [global english run of yo teach was closed](https://thor.dosomething.org/node/6621/edit/en-global)
the signup failed in the access check if the node is active [here](https://github.com/DoSomething/phoenix/blob/9abb92e54f08fe7849f694f201a16bdb19dc6

[2016-03-09 17:53] #6251 closed, assigned to angaither

[2016-03-09 18:13] blisteringherb commented on #6159
@sergii-tkachenko Would you happen to have any ideas about why this might be happening?

[2016-03-09 18:22] sergiitk commented on #6159
Wrong Fastly headers for mobile users? cc @deadlybutter

[2016-03-09 18:26] itsjoekent commented on #6159
hmmm, im not even sure how to test that one. also seems weird thats the cause.

i get if the phone location is quite a distance off, but i feel like it should be getting country right?

[2016-03-09 18:30] sergiitk commented on #6159
As I understand, Fastly doesn't actually locate the phone, it traces back phone IP. Which, for mobile phones, is always dynamic and also often is out of known range. So it's getting detected incorrectly or even not detected at all.

[2016-03-09 18:33] itsjoekent commented on #6159
well the only other options I can think of then

1) base it on browser language setting
2) give user ability to change language

[2016-03-09 18:35] sergiitk commented on #6159
I agree with 2).

[2016-03-09 18:35] blisteringherb commented on #6159
@mikefantini @namimody Do we have any sense of how widespread the issue is?

[2016-03-09 18:38] #6250 closed, assigned to chloealee

[2016-03-09 19:51] mikefantini commented on #6159
@blisteringherb not sure. Can you pull how many users have language as GL EN and we can see if that tracks with non-us traffic to campaign pages in a significant way or not?

[2016-03-09 22:54] mikefantini opened #6257 "Clicking view more on the report back gallery doesn't display more photos"
#### Current Behavior
- Clicking view more on the reportback gallery of campaign causes an endless spinner and no additional photos to appear. Note: there are more than 6 approved/promoted reportbacks.
#### Desired Behavior
- Clicking view more will display the additional promoted/approved reportback images according to previously logic.
#### Steps to Replicate
- Sign up for https://thor.dosomethi

[2016-03-09 22:56] mikefantini commented on #6257
According to @weerd:

"The only error I’m seeing being reported is this one.. a varnish related one. I don’t know enough about varnish to comment on it tho

![image](https://cloud.githubusercontent.com/assets/6330971/13653505/18571b46-e620-11e5-8855-7f30f9b55fe2.png)

The call that it makes does work: https://thor.dosomething.org/api/v1/reportback-items?campaigns=6690&status=promoted,approved&excl

[2016-03-09 23:12] chloealee commented on #6257
@mikefantini @weerd nothing has changed with any `theme_wrappers` yet but might potentially in the future - I'll let both of you know if/when they do!

[2016-03-10 15:29] namimody opened #6258 "Automation of Migrating Campaign Activity to Runs"
## _FEATURE OVERVIEW_
#### User Story

As a site admin, I'd like to be able to retroactively associate campaign sign ups and reportbacks with the correct run, without having to make an issue/bother a dev.
#### Additional Information (optional)

Refs: https://github.com/DoSomething/phoenix/issues/6237 and discussion here: https://dosomething.slack.com/archives/campaign-template/p1457449052000240
##

[2016-03-10 15:30] namimody commented on #6227
Ahh thanks so much for looking into this @angaither! What's the next step if debugging efforts so far haven't been fruitful?

[2016-03-10 15:48] angaither commented on #6227
@namimody not sure, we could check for patches/write a patch
anywho, giving this a :x:L label

[2016-03-10 15:59] #6184 closed, assigned to chloealee

[2016-03-10 16:27] angaither commented on #6257
console looks a bit angry @weerd @chloealee
![image](https://cloud.githubusercontent.com/assets/645205/13676223/f4a60872-e6b2-11e5-97cf-c403d3fc7551.png)

[2016-03-10 18:22] chloealee commented on #6257
@angaither @DFurnes I'm not sure if this is related but I got an error in the logs saying `Notice: Trying to get property of non-object in ReportbackItem->build() (line 116 of /var/www/dev.dosomething.org/lib/modules/dosomething/dosomething_reportback/includes/ReportbackItem.php).`

When I `print_r($northstar_response);` [here](https://github.com/DoSomething/phoenix/blob/dev/lib/modules/dosomethin

[2016-03-10 19:18] namimody commented on #6226
Ooof thanks @angaither. This is fun: there are two "Naughty or Nice run 1"s with very similar time frames. The two translations of the campaign are associated with different runs. Both runs are translated.

![image](https://cloud.githubusercontent.com/assets/12396076/13675833/656faec0-e6b1-11e5-89bd-0e4e940ab272.png)

For now, I added the scholarship winner information to the run associated with t

[2016-03-10 19:25] angaither commented on #6257
@chloealee i don't think that's related.
check out Reportback.js
I think what's going on is the api response changed, and it's trying to grab something that has moved or no longer exists.

try to `console.log(response);` in the `done` function of the request

![image](https://cloud.githubusercontent.com/assets/645205/13676223/f4a60872-e6b2-11e5-97cf-c403d3fc7551.png)

[2016-03-10 19:26] angaither commented on #6257
@chloealee also, when making front end changes, to see updates to the JS make sure to run `ds grunt --watch` and wait till the files compile.
it's the drush cc all of the fender world!

[2016-03-10 19:30] chloealee commented on #6257
ah awesome, thanks @angaither ! I think I just found it actually! I changed the API in #6223 to have `prev_uri` and `next_uri` be nested under `links`. Trying to add that structure in now and hopefully this will be the fix! Thanks for the hints to lead me here :)

[2016-03-10 20:05] weerd commented on #6257
@chloealee Ah! That makes total sense! Nice find :dancer:

[2016-03-10 20:11] chloealee commented on #6257
thanks @weerd !

[2016-03-10 20:59] #6257 closed, assigned to chloealee

[2016-03-10 21:15] DFurnes opened #6260 "Users are not successfully being "mock" authenticated against Northstar"
## _BUG_ :bug:
#### Current Behavior

We're currently running "mock" authentication against Northstar's `auth/verify` endpoint with each user's credentials when they log in to Phoenix. This is a dry run for authenticating users against Northstar sometime in the future (rather than the local Phoenix DB).

Frustratingly, a lot of users (62%) are being authenticated against Phoenix but failing when w

[2016-03-10 21:19] aaronschachter commented on #6163
We should add this logic into individual resources: going to a non campaign at `api/v1/campaigns/[id]` results in a 200 if the ID doesnt exist.

![screen shot 2016-03-10 at 1 16 49 pm](https://cloud.githubusercontent.com/assets/1236811/13684892/b7d297fc-e6c2-11e5-9e1b-0758f3a98f55.png)

[2016-03-10 21:23] DFurnes commented on #6163
If we want this to be  :sparkles: RESTful :sparkles:, any resources that don't exist should return a `404` status code.

[2016-03-10 22:03] angaither commented on #6260
let's go the log all the things route.

it's hard to find a discernible pattern in why this isn't working.
make a `dosomething_user_northstar_log` table that can be turned on
we can log when a request is sent to both auth & update a user

store something like

| uid | op | user_lang | user country | json_encode($values) | northstar response | json_encode(ns data) |
| --- | --- | --- | --- | --- |

[2016-03-10 22:35] aaronschachter opened #6261 "API individual resources should return error code 404 when not found"
## _BUG_
#### Current Behavior
- Requesting a non existing campaign from the `campaigns/:id` endpoint results in a 200 with an `error` object.
#### Desired Behavior
- A 404 response should be returned
#### Why This Matters

It's RESTful best practice :stars: and makes it easier to build apps with our API.  This is not critical for app launch as we have a [workaround for this in the iOS repo](https

[2016-03-11 17:23] #6209 closed, assigned to chloealee

[2016-03-12 19:20] aaronschachter opened #6266 "Signups API - Join bug on Reportbacks?"
## _BUG_
#### Current Behavior
- Unsure if this is a bug in the JOIN in the Signups query, or if it's a data issue. Ran into this while testing mobile app with my DS account (user id 1176550)-- My reportback (ID 60) shows up in each of my 2 signups (id's 896000 and 44209): https://www.dosomething.org/api/v1/signups?user=1176550&campaigns=362

![screen shot 2016-03-12 at 11 12 21 am](https://cloud.

[2016-03-14 14:02] angaither commented on #6266
@aaronschachter I think this is a problem with the join in the query, there's actually only one record for the reportback
![image](https://cloud.githubusercontent.com/assets/645205/13746877/de409630-e9cb-11e5-9e7b-9cd77fecdcd9.png)

[2016-03-14 15:02] angaither commented on #5854
:ghost:

[2016-03-14 15:02] #5854 closed, assigned to nobody

[2016-03-14 15:19] angaither commented on #6260
bugs so far
- [ ] user failed with invalid credentials
  - (uid 2881255) used mobile number to log in
  - uid 1506487 email
- [x] user failed with invalid email
  - uid 2881255 (extra space after email)

known & accepted
- a bunch of people are getting a 404 on registering, it seems the update hook is called before the register hook and the first request is failing b/c the user doesn't exist yet,

[2016-03-14 15:20] angaither commented on #6260
we are also seeing quite a few user country's not saving, even though the fastly country code is set.

[2016-03-14 15:21] angaither commented on #6159
some users are getting `en-global` set even though their county both fastly & drupal is US
![](https://i.imgur.com/RS7Sq1M.png)

[2016-03-14 15:36] namimody commented on #3253
@mikefantini @lkpttn should we do this? I think yes?

[2016-03-14 15:41] namimody commented on #5141
@mikefantini @angaither thoughts on adding this?

[2016-03-14 16:00] mikefantini commented on #3253
Makes sense to me.

[2016-03-14 16:10] mikefantini commented on #5141
Seems like a worthwhile enhancement to have. I'd just adjust the copy slightly to read: "Oops! Make sure to upload a photo of you completing the campaign before submitting."

A little clearer error message IMO.

[2016-03-14 16:20] lkpttn commented on #3253
Do we want to fold it into Forge 6.7?

[2016-03-14 16:32] mikefantini commented on #6159
Information that would be helpful to know to understand scope of the problem:
1. # of users with language set to GL EN (again if this is way out of whack with non-US traffic it will tell us something)
2. # of users who have country set to US and language set to anything other than EN.

[2016-03-14 18:10] chloealee commented on #6266
@angaither I think I fixed the query issue but still seeing the `Notice: Trying to get property of non-object` error in the logs for [this line](https://github.com/DoSomething/phoenix/blob/dev/lib/modules/dosomething/dosomething_reportback/includes/ReportbackItem.php#L116) and [this line](https://github.com/DoSomething/phoenix/blob/dev/lib/modules/dosomething/dosomething_reportback/includes/Report

[2016-03-14 18:12] angaither commented on #6266
@chloealee the lines above don't check that `$northstar_response->data` exists

[2016-03-14 18:28] chloealee commented on #6266
@angaither doesn't that get checked in the lines above before it enters that if block?

https://github.com/DoSomething/phoenix/blob/dev/lib/modules/dosomething/dosomething_reportback/includes/ReportbackItem.php#L115

https://github.com/DoSomething/phoenix/blob/dev/lib/modules/dosomething/dosomething_reportback/includes/Reportback.php#L166

[2016-03-14 18:29] chloealee commented on #6266
ohhh i see what you mean! Just updated it.

[2016-03-14 20:01] aaronschachter commented on #6266
@chloealee -- Testing this on thor:
https://thor.dosomething.org/api/v1/signups?user=1176550&campaigns=362

I see 2 signups, but no reportback 60 - `reportback` is now NULL for both. Does RBID 60 have a valid run ID?

![screen shot 2016-03-14 at 1 01 59 pm](https://cloud.githubusercontent.com/assets/1236811/13758113/00d58282-e9e5-11e5-85af-e3aa1a2d3eeb.png)

[2016-03-14 20:14] chloealee commented on #6266
hmm @aaronschachter you're right - I'm seeing that too. Looks like it was `created_at` and `updated_at` a long time ago too so it should be the same data in thor and prod, right?

[code]

From @angaither 's screen shot it looks like there is a run ID (`2341`)?

[2016-03-14 20:21] chloealee commented on #6266
@aaronschachter actually, just tried to hit `https://thor.dosomething.org/api/v1/reportbacks/60` and it looks like that reportback doesn't exist on thor. That might be the issue here?

@angaither is it okay to signup and reportback for a campaign on thor, then create a new campaign run and signup and reportback for that one to test? I know that thor is supposed to be as close to production as poss

[2016-03-14 20:30] chloealee commented on #6266
ah interesting I think I found something - signups aren't included in the `/signups` response if you've already reported back.

[2016-03-14 20:32] aaronschachter commented on #6266
That does sound interesting. Confirmed RB 60 exists by viewing my Thor web profile:  https://thor.dosomething.org/us/user/1176550 -> https://thor.dosomething.org/admin/reportback/60

[2016-03-14 20:38] chloealee commented on #6266
but wait - that's not consistent with what is showing up on your profile on thor because your signups are showing up if you've reported back but just the reportback isn't showing up, right? @aaronschachter

[2016-03-14 20:41] mshmsh5000 commented on #6170
This endpoint (`/api/v1/users/`) is crapping out with a 500 on QA with a POST payload, but only when you add the `Accept: application/json` header.

[2016-03-14 20:49] #6170 closed, assigned to angaither

[2016-03-14 21:00] aaronschachter commented on #6266
Reportback 60 is flagged -- https://thor.dosomething.org/api/v1/reportbacks/60 is returning the "No reportback data" message. This is actually getting returned as a 200 with an `error` object, which isn't right (same issue as #6261) -- seems appropriate to throw an error code here (403?) with a message like "Access denied" for when we're denying access to view an individual Reportback. cc @DFurnes

[2016-03-14 21:05] aaronschachter commented on #6261
It'd be good to audit all of these individual resources -- finding the same behavior for the `reportbacks` endpoint in https://github.com/DoSomething/phoenix/issues/6266#issuecomment-196519104. This reportback in particular should indicate access denied  -- it [does exist](https://thor.dosomething.org/admin/reportback/60) -- its just flagged.

![screen shot 2016-03-14 at 2 13 19 pm](https://cloud.

[2016-03-14 21:26] chloealee commented on #6266
@aaronschachter ahh great find! I can update that now.

[2016-03-14 23:12] aaronschachter commented on #6266
I wasn't seeing a `reportback` returned in browser because I wasn't logged in as an admin. When I am, hitting https://thor.dosomething.org/api/v1/signups?user=1176550&campaigns=362 in browser contains a `reportback` for id 60 as we'd expect. Seems like we need to make this request as the authenticated user.... which I'm not sure will work yet by just passing the headers to the request on the app c

[2016-03-14 23:12] #6266 closed, assigned to chloealee

[2016-03-15 00:09] aaronschachter opened #6269 "POST Signup seems to overwrite signups from the 1st run"
## _BUG_
#### Current Behavior

This one's a doozy. Testing #6268 and https://github.com/DoSomething/LetsDoThis-iOS/issues/956 on Thor:
- My user 1176550 reported back on Run 1, I see the reportback
- Upon signing up for Run 2, my Signup created date is set to my Run 1 Signup created date (in 2014)
  https://thor.dosomething.org/us/signup/388008 and the API is returning just 1 signup for me, not 2

[2016-03-15 14:03] DFurnes commented on #6260
The issue with not removing the extra space was fixed in DoSomething/northstar#311. A bunch of other issues where duplicate user accounts could be created were fixed in DoSomething/northstar#309.

I tested logging in with my mobile number and it validated correctly, so my _guess_ is the remaining users are failing due to actual invalid credentials stored in Northstar. It also looks like any users

[2016-03-15 14:23] namimody opened #6270 "Elephant Task Force Redirect"
#### Request

dosomething.org/us/campaigns/elephant-task-force should redirect to dosomething.org/us/campaigns/elephant-tusk-force
#### Additional Information (optional)

The campaign's name was changed, but "task force" still lingers on search and could easily be searched for. /campaigns/elephant-task-force redirects, but the /us/ URL does not.

![image](https://cloud.githubusercontent.com/assets

[2016-03-15 14:30] chloealee commented on #6266
@aaronschachter @angaither made the fix above that @aaronschachter caught. Should I make a PR for that and merge, then test on Thor to see if that clears up the issue?

[2016-03-15 14:32] chloealee commented on #6266
@aaronschachter @angaither ah didn't refresh and see the message above! Disregard the above unless I should still change the error code to a 404 above [line 96](https://github.com/DoSomething/phoenix/blob/dev/lib/modules/dosomething/dosomething_reportback/includes/Reportback.php#L96)?

[2016-03-15 15:01] namimody commented on #6210
Hey @angaither! Any thoughts on this?

[2016-03-15 15:26] aaronschachter commented on #6266
@chloealee -- We still need a 404 but technically thats a separate issue #6261 (which I opened to address all individual resources, not just the campaigns/:id)

[2016-03-15 15:29] chloealee commented on #6266
okay cool, thanks @aaronschachter ! I'll get on that :)

[2016-03-15 15:30] aaronschachter commented on #6266
For reportback ID 60 in particular we should throw an access forbidden error if the user doesn't have access (403 i think) and then 404 for when there is no reportback that exists. This isn't necessary for app launch -- its just general API improvements that we'll want to get to eventually if not now.

cc @weerd @DFurnes

[2016-03-15 15:34] chloealee commented on #6266
@aaronschachter that makes sense. Want me to create a separate issue for that one?

[2016-03-15 15:35] DFurnes commented on #6266
Yep, 403 for permissions issues & 404 for when no reportback exists. :+1:

[2016-03-15 15:43] #4488 closed, assigned to katiecrane

[2016-03-15 15:48] angaither opened #6272 "drush updates won't run"
#### Current Behavior

`drush updb` is stuck with northstar update 7002
#### Why this matters

all future update hooks won't run
#### Steps to Replicate

run `drush updb`
#### Relevant Screenshots + Links

[code]

it says the update ran, but if you look at the `system` table you see both highlighted rows are stuck at `7001`
![image](https://cloud.githubusercontent.com/assets/645205/13784004/fc4d34

[2016-03-15 15:49] angaither opened #6273 "drush updates won't run"
#### Current Behavior

`drush updb` is stuck with northstar update 7002
#### Why this matters

all future update hooks won't run
#### Steps to Replicate

run `drush updb`
#### Relevant Screenshots + Links

[code]

it says the update ran, but if you look at the `system` table you see both highlighted rows are stuck at `7001`
![image](https://cloud.githubusercontent.com/assets/645205/13784004/fc4d34

[2016-03-15 15:50] angaither commented on #6273
this is a duplicate #6272

[2016-03-15 15:50] #6273 closed, assigned to nobody

[2016-03-15 15:52] angaither commented on #6210
@namimody yeah seems like this convo might be related to #6235 in the sense that if we are creating duplicate nodes, what happens to the original?
but, we can certainly try this module and see how it works with translation and cloning

[2016-03-15 16:02] aaronschachter commented on #6266
@chloealee Could re-open #6261 or create new issue, up to you. Technically the 403's are a different issue than the 404's in #6261. I'm not sure if there's a `reportback-items` individual resource, `reportback-items/:id`, but thatd be another endpoint this would apply to

[2016-03-15 16:57] angaither commented on #6260
from @DFurnes

[2016-03-15 17:10] chloealee commented on #6266
@aaronschachter sounds good! I'll re-open #6261 to fix `/signups` and then create another issue (#6274) for `/reportback-items` and `/reportbacks`

[2016-03-15 17:16] chloealee opened #6274 "/reportbacks and /reportback-items individual resources should return error code 403 404 when not found"
## _BUG_
#### Current Behavior

Requesting a non existing reportback or reportback item from the `reportbacks/:id` or `reportback-items/:id` endpoints result in a 200 with an error object.

Requesting a reportback from the `reportbacks/:id` endpoints result in a 200 with an error object when accessed with non-admin account and if flagged reportback exists.
#### Desired Behavior

If there is no rep

[2016-03-15 17:16] chloealee commented on #6261
Re-opening to fix `/signups`.

`/reportbacks` and `/reportback-items` `403` and `404` errors to be fixed in #6274

[2016-03-15 17:32] angaither opened #6275 "Use a mongo id to get to a user profile"
#### User Story

As an admin I should be able to view user profile in other apps and copy the link with the mongo id, and phoenix knows to take me to the user profile page
#### Additional Information (optional)

dosomething.org/user/[crazymongoid] shows user profile
#### Why This Matters

as we rely more on mongo ids, that should mean something in phoenix
#### Current Workaround w/o Feature (if ap

[2016-03-15 17:37] DFurnes commented on #6275
Yes!! :+1:

[2016-03-15 17:46] DFurnes commented on #6272
QQ, I assumed Drupal would take care of marking migrations as run for me. :sob:

[2016-03-15 17:49] angaither commented on #6272
it does, but it looks like that migration didn't run successfully so it tries to run every time

[2016-03-15 17:56] DFurnes commented on #6272
Oh yeah, just checked and it did seem to have correctly tracked it as run on my local.

Aaaaanyways, fix incoming!

[2016-03-15 18:03] chloealee commented on #6274
@aaronschachter I feel like I'm over thinking this but can't think of a simple solution of how to write this and getting confused. To determine if it should be a `403` or `404` error, I'm using this check:

[code]

I'm having trouble thinking through this scenario - if it's a non-admin user, how will we know there are flagged reportbacks/reportback items that exist since as a non-admin, you can't

[2016-03-15 18:40] namimody commented on #6210
Awesome, thanks @angaither! Yea that's a great point -- this is definitely connected to #6235, so let's see what comes out of tech/campaigns sync next week re: retiring campaigns and then we can discuss this with some more concreteness?

[2016-03-15 18:43] chloealee commented on #6274
oohh I think I mis-understood - looks like you _are_ able to view flagged reportbacks as an non-admin user but aren't able to query by `rbid` and `flagged` at the same time!

[2016-03-15 18:56] #6272 closed, assigned to DFurnes

[2016-03-15 21:07] #6269 closed, assigned to nobody

[2016-03-15 21:54] chloealee commented on #6274
@aaronschachter figured out a way around this and should have a PR soon!

[2016-03-16 00:17] angaither commented on #6261
after the merge of #6276

DoSomething/northstar/issues/313 issue started to happen

[2016-03-16 13:46] katiecrane commented on #6227
@angaither @namimody I dug around in this too, focusing on the entity connect module and the fact module and I was unable to find anything helpful. Most of the variables in the entity connect module were too big to print out too.

[2016-03-16 14:52] chloealee commented on #6261
Chatted about this IRL with @angaither and @DFurnes. When debugging, we found that it was throwing a `404` status code but also returning the signup object because there was a signup but it couldn't find any kudos.

In order to throw accurate response codes, @DFurnes suggested to add response codes at the transformer level.

[2016-03-16 18:29] angaither opened #6281 "Opt people out of the gladiator competition"
Update `signup_data_form_response` for people who signed up before the competition prompt was turned on for everyday superheros

The form was turned on 03/15/2016 - 19:04 or `1458068640`

[2016-03-16 18:29] angaither commented on #6281
Get everyone who has signed up for the campaign

[code]

[2016-03-16 18:30] angaither commented on #6281
Get everyone who signed up for the campaign before the prompt was turned on, but REPLIED to the form.
this results in 43 users

[code]

[2016-03-16 18:32] angaither commented on #6281
everyone who signed up before the prompt and has not yet replied
this is the bucket that the `signup_data_form` column should be updated from `null` to `0`
about ~5k users

[code]

[2016-03-16 18:43] angaither commented on #6281
the update command

[code]

[2016-03-16 19:14] namimody commented on #6227
Oh bummer, thanks a ton for looking though @katiecrane! I guess let's de-prioritize for now then, @angaither?

[2016-03-16 19:16] angaither commented on #6281
done

[2016-03-16 19:16] #6281 closed, assigned to angaither

[2016-03-16 20:26] #6261 closed, assigned to chloealee

[2016-03-16 20:53] angaither opened #6283 "Missing migrated users phoenix->gladiator"
#### Current Behavior

user count in gladiator doesn't match the number of people who opted in to the comp
#### Desired Behavior

duh, people should be migrated in there
#### Steps to Replicate

no idea
#### Why This Matters

people won't get emails and stuff
#### Relevant Screenshots + Links

we can users are failing in stathat
![image](https://cloud.githubusercontent.com/assets/645205/13828353/7

[2016-03-16 21:50] angaither commented on #6283
seeing `usernotfound exception` in gladiatior /var/www/current/storage laravel.log

[2016-03-16 21:52] angaither commented on #6283
data too long to enter into response code in phoenix

[2016-03-17 14:01] namimody opened #6284 "URL Redirect for Four Legged Finisher"
Could dosomething.org/finisher redirect to https://www.dosomething.org/us/campaigns/four-legged-finisher (node 6692, currently unpublished)?

We'd need it set up by Tuesday, 3/22.

Thanks!!

[2016-03-17 14:56] angaither commented on #6227
@katiecrane the other place that might be helpful to look is for [bugs in the module](https://www.drupal.org/project/issues/entityconnect) and see if there are any patches for this

[2016-03-17 14:57] angaither commented on #6227
if that isn't fruitful :apple: :banana: :watermelon: then, yes we should de-prioritize

[2016-03-17 15:16] angaither opened #6287 "Cron to migrate people in the failed task log"
#### User Story

As a user I want to be entered into a competition.
#### Additional Information (optional)

When users don't get entered into the gladiator app, they are stored in the `dosomething_gladiator_failed_task_log`
We should have a check for that on each cron, and migrate users over who are still in that log.
#### Current Workaround w/o Feature (if applicable)

Manually make post requests

[2016-03-17 15:44] katiecrane commented on #6227
@angaither I didn't find any :strawberry: :green_apple: there. Some of the issues are close to what we're seeing, but I don't think any of them are the same.

[2016-03-17 18:33] angaither commented on #6283
this pr #6285 fixed the issue, and all users who weren't in the log, are now migrated in correctly.

[2016-03-17 18:33] #6283 closed, assigned to angaither

[2016-03-17 20:55] namimody opened #6289 "BR and MX Explore Campaigns Are Missing BR and MX Campaigns"
## _BUG_
#### Current Behavior

Only GL EN campaigns are showing up on BR and MX "Explore Campaigns" pages.
#### Desired Behavior

For translated Spanish and GL EN campaigns to appear on dosomething.org/br/campaigns and for translated Portuguese and GL EN campaigns to appear on dosomething.org/mx/campaigns.
#### Steps to Replicate

Go to https://www.dosomething.org/mx/campaigns or https://www.doso

[2016-03-17 21:24] #5179 closed, assigned to katiecrane

[2016-03-17 22:04] namimody commented on #4319
Unnecessary fields (PITCH PAGE ADDITIONAL INFO and DO IT) are back: :(

https://www.dosomething.org/us/node/6163/edit
![image](https://cloud.githubusercontent.com/assets/12396076/13862573/9f79bf84-ec6a-11e5-887e-38041ce624ed.png)

[2016-03-17 23:02] namimody opened #6290 "No Search Results View Broken on GL EN, BR, and MX"
## _BUG_
#### Current Behavior

If you search the site for a word that isn't there, the page looks like this -- pulling in campaigns that aren't translated or, are translated, but not published.

![image](https://cloud.githubusercontent.com/assets/12396076/13863373/acdd5fd2-ec6f-11e5-8e53-6dce2e380f1d.png)

Quitters Always Win (shown as DS logo) is translated in US EN and GL EN, but only published

[2016-03-17 23:08] namimody opened #6291 "Adding Member Age to Profile"
## _FEATURE OVERVIEW_
#### User Story

There are many occasions where a campaign lead needs a member's age for a wrap report, sponsor updates, the gala, conference, or social post. It would be great if member age could be part of their admin-facing profile.
#### Additional Information (optional)

This age will need to always consider the current date so it is not static.
#### Why This Matters

Wil

[2016-03-18 13:15] angaither commented on #6291
trés fanc, v ok.

[2016-03-18 14:34] namimody commented on #6291
YAY @angaither! Is this a small / medium / large? Maybe we try for next sprint?

[2016-03-18 15:06] itsjoekent commented on #6287
@angaither from what I understand you already wrote the code for this (not the cron part, the POST request part)

[2016-03-18 15:47] angaither commented on #6287
@deadlybutter I didn't write anything special for people in the queue used the code that's already in the module.

[2016-03-18 20:51] mikefantini commented on #4319
Looks like Do It group came back. We should hide those again if type = SMS game

[2016-03-18 21:23] sergiitk commented on #5876
@angaither @chloealee Sound like a legit bug. Should we report it to `entity_translations` [issues](https://www.drupal.org/project/issues/entity_translation)?

[2016-03-18 21:24] angaither commented on #5876
@sergii-tkachenko I mean, depends, it's showing the status of the translation, which is published

[2016-03-18 21:30] sergiitk commented on #5876
Looks like it is confusing not just to us: https://www.drupal.org/node/2428565
They propose to change the wording from "Published" to "Translated" to avoid confusion. Makes sense actually.

We easily make a patch and post it there. If not accepted, we can just use it by applying this patch via the installation profile.

Thoughts?

[2016-03-18 21:41] chloealee commented on #5876
@sergii-tkachenko that does make more sense! I'll work on making the patch to change the wording and submitting with your patch as a reference. Thank you!

[2016-03-18 21:42] sergiitk commented on #5876
Awesome. Let me know if you need any help on this. Also you're welcome to assign the PR to me if  you wish.

[2016-03-18 21:42] chloealee commented on #5876
Great, thanks so much! Will do. This is SO helpful - I would be very lost otherwise!

[2016-03-19 00:44] aaronschachter commented on #6251
@angaither We're requesting the GET campaigns as an anonymous user in iOS, and use the `status` value returned to render a closed state if `closed`.  What language does the API use to determine the Campaign status for anonymous requests?

Question came up while documenting this convo in the [iOS wiki](https://github.com/DoSomething/LetsDoThis-iOS/wiki/DS-API#current-user-language--campaign-status)

[2016-03-21 13:13] angaither commented on #6251
@aaronschachter the API returns all content in `english`

[2016-03-21 15:32] #6225 closed, assigned to itsjoekent

[2016-03-21 19:02] mshmsh5000 commented on #6270
Closed via Fastly redirect (Fastly v63).

[2016-03-21 19:02] #6270 closed, assigned to mshmsh5000

[2016-03-21 19:07] namimody commented on #6270
Thanks so much @mshmsh5000! :elephant:

[2016-03-21 19:28] mshmsh5000 commented on #6284
Closed via Fastly redirect (Fastly v64).

[2016-03-21 19:29] namimody commented on #6284
Thanks for this too @mshmsh5000! :dog: :cat:

[2016-03-21 20:06] namimody opened #6297 "Optimize Optimizely Snippet"
## _BUG_
#### Current Behavior

When Optimizely is running on a page, sometimes the original version of the page we are testing on flickers before showing the test version. This could mean that an entirely different hero image shows for a second, or that text we want to remove/amend shows briefly.
#### Desired Behavior

The test should load without looking glitchy.
#### Why This Matters

If we run

[2016-03-21 20:10] angaither commented on #6297
@namimody not sure there's much we can do about this...

[2016-03-21 20:13] DFurnes commented on #6297
One thing we can do (which they mention on the support page you linked) is cut down the number of tests we have active at any given time. Our Optimizely snippet is 375kb (100kb gzipped) right now, which is probably one of the biggest reasons you're seeing lag. (For context, all of the other scripts we bundle with our site are only 97kb gzipped). :hourglass:

[2016-03-21 20:17] DFurnes commented on #6297
But, like @angaither said, there's always going to be _some_ lag since the changes are only happening locally on the user's computer once the Optimizely snippet fully loads and renders the A/B test. The best we can do is try to make that "flash" as brief as possible.

[2016-03-22 13:38] mshmsh5000 commented on #6270
Just a note that Google has picked up the 301.

<img width="711" alt="task-tusk" src="https://cloud.githubusercontent.com/assets/149811/13953324/c241cb9c-f011-11e5-86e4-97f51117295e.png">

[2016-03-22 14:09] namimody commented on #6284
@mshmsh5000 sorry about this -- could we also have dosomething.org/finishers redirect to https://www.dosomething.org/us/campaigns/four-legged-finisher? Last minute change in campaign title -- apologies again!

[2016-03-22 15:04] #6287 closed, assigned to itsjoekent

[2016-03-22 16:20] angaither opened #6300 "Include api key in gladiator calls"
Add api key to gladiator settings form
and to all requests
DoSomething/gladiator/issues/69

[2016-03-22 16:24] aaronschachter opened #6301 "Signups index endpoint is not sorted"
## _BUG_
#### Current Behavior
- Our Signups index endpoint returns data in random order, because it's missing an [`ORDER BY`](https://github.com/DoSomething/phoenix/blob/ffe9863131196a65e355adc3c2e7b265aa19a0c7/lib/modules/dosomething/dosomething_signup/dosomething_signup.query.inc#L54)
#### Desired Behavior
- Sort by descending Signup ID at a minimum. Don't believe we have a current need for asc

[2016-03-22 16:56] angaither commented on #6300
add header
`X-DS-Gladiator-API-Key = [KEY]`

[2016-03-22 17:56] mshmsh5000 commented on #6284
@namimody The existing redirect rule actually catches that variation already:

http://dosomething.org/finishers

:beers: :cake:

[2016-03-22 18:15] weerd commented on #6300
@joe Extra task!

Change the url query param for the `/contest` endpoint in the cron check from `run_nid` to `campaign_run_id` :dancer:

[2016-03-22 18:49] #5673 closed, assigned to itsjoekent

[2016-03-22 19:02] itsjoekent commented on #6300
Apparently it was already campaign_run_id. (OOPS)

[code]

[2016-03-22 19:52] DFurnes opened #6304 "Disable Northstar module after pulling DB from staging."
## _FEATURE OVERVIEW_

Is this a feature? A bug? A bit of both? :bug: :dancer:
#### User Story

When I pull the staging database to my local machine, it should disable the Northstar module so it doesn't continue syncing "dev" changes to Northstar QA.
#### Additional Information (optional)

…
#### Why This Matters

When all of our local environments are hooked up to a single Northstar QA instance,

[2016-03-22 19:55] angaither commented on #6304
we can add this to the list of drush command that are run [here](https://github.com/DoSomething/phoenix/blob/dev/bin/ds#L509)

[2016-03-22 19:57] angaither commented on #6304
I'm also okay with setting this to `dev.dosomething.org`

[2016-03-22 21:16] #6300 closed, assigned to itsjoekent

[2016-03-23 02:17] mshmsh5000 opened #6306 "Variable checking in dosomething_helpers.variable.inc"
## _BUG_
#### Current Behavior

Notices for unchecked array references abound.
#### Desired Behavior

Check whether these array members are set before using them.
#### Steps to Replicate

Load a `node/%nid/custom-settings` page, and enjoy the variations on

[code]
#### Why This Matters

Nice to clean things up.
#### Countries Affected (optional)
#### OS/Browser (optional)
#### Relevant Screenshots

[2016-03-23 13:56] #6306 closed, assigned to mshmsh5000

[2016-03-23 14:13] namimody commented on #6284
@mshmsh5000 I'm _so_ sorry about this again -- but I just realized that since the title of the campaign actually changed to "Four Legged Finishers" the destination URL is actually: https://www.dosomething.org/us/campaigns/four-legged-finishers and so the redirects are currently routing to /campaigns. :no_smoking: :cat: :dog: :see_no_evil:

[2016-03-23 14:48] #5045 closed, assigned to itsjoekent

[2016-03-23 15:21] itsjoekent commented on #5939
unless you object @angaither I talked with Dee & he said to close this out for now

[2016-03-23 15:21] #5939 closed, assigned to itsjoekent

[2016-03-23 17:55] DFurnes opened #6309 "User data issues"
While :mag_right: looking into :recycle: [re-syncing users to Northstar](https://github.com/DoSomething/phoenix/issues/6260), @angaither & I stumbled upon a few issues:
- A couple of people have `xxxxxx@mobile` generated emails, but nothing set in the mobile field on their profile. We should clean up this data. :mobile_phone_off:
  - **Next Steps:** :white_check_mark: Set the right `field_mobile_v

[2016-03-23 17:56] DFurnes commented on #6309
Emoji credit: @angaither :information_desk_person: :art:

[2016-03-23 18:39] DFurnes commented on #6260
We're currently re-running the migration, and things seem to be chugging along. :steam_locomotive:

Out of 24,866 users migrated so far, 7,362 haven't been migrated because they have neither an email or password. And 125 users haven't been migrated because they have invalid email addresses (e.g. they have a space in their email, trailing period, completely random nonsense...)

See #6309 for more d

[2016-03-23 18:41] DFurnes commented on #6309
We also have a subset of users that have invalid data in their email field... for example, a trailing period `name@example.com.`, a space `first last@example.com`, or just random stuff like web domains or semicolons (my favorite) `a;ljsgh;klajfg@hotmail.com`.

**Next Step:** Ignore these for now. (Don't sync to Northstar.)

[2016-03-23 19:20] angaither opened #6310 "Non admin login is 404'ed"
#### Current Behavior

After a non-admin logs in, the user is 404'ed
#### Desired Behavior

user is taken to profile
#### Steps to Replicate

log in as a non-admin user, or create a new account and try to view your profile
#### Relevant Screenshots + Links

![image](https://cloud.githubusercontent.com/assets/645205/13997904/a8da90ea-f10a-11e5-86d6-37ca4202e165.png)

[2016-03-23 19:35] katiecrane commented on #6310
pretty sure this is caused by messing with the access arguments with our menu_alter [here](https://github.com/DoSomething/phoenix/pull/6294/files#diff-ad30a5d569ca2ae6d2e04223aa501104R114)

[2016-03-23 21:21] DFurnes opened #6312 "Warnings when pulling from staging"
## _BUG_
#### Current Behavior

When you pull updates from the staging database, some warnings are fired because null is given as the second argument to `array_key_exists` [on line 80 in `preprocess_node.inc`](https://github.com/DoSomething/phoenix/blob/8fc28b63d4657d6a71ce6d79a9b2e38a1a1a7085/lib/themes/dosomething/paraneue_dosomething/includes/preprocess/preprocess_node.inc#L80), since the Fastl

[2016-03-23 23:39] aaronschachter opened #6314 "Campaigns API index endpoint doesn't contain meta.pagination"
## _BUG_
#### Current Behavior

**GET** `campaigns` doesn't contain a `meta` object, as the Signups and Reportbacks do. (introduced in #6223)
![screen shot 2016-03-23 at 4 35 06 pm](https://cloud.githubusercontent.com/assets/1236811/14004191/7a2a158a-f115-11e5-9102-7bbb7891b5da.png)
#### Desired Behavior

Consistent response per other endpoints:
![screen shot 2016-03-23 at 4 37 32 pm](https://clou

[2016-03-23 23:59] aaronschachter opened #6315 "API returns invalid JSON if count is large enough"
## _BUG_
#### Current Behavior
- When testing signing up for as many campaigns possible in iOS app, discovered that if the count is large enough on the GET Signups index -- we get a `200` response back but with invalid JSON data. In this example, our returned response breaks in the middle of a campaign's `reportback_info.copy`:

https://northstar.dosomething.org/v1/signups?user=56eab76e469c6444628

[2016-03-24 13:38] #6310 closed, assigned to katiecrane

[2016-03-24 14:35] jonuy commented on #6314
Yea, the Android implementation does use pagination on /campaigns. Making a change on that right now would break the screen with the list of campaigns by cause.

Two potential ways forward:
1. Make the change to update the API response right now before v1.1 gets published to the Play Store. I'll need to upload a new v1.1.1 or something apk, but this will avoid us causing users' apps to break if th

[2016-03-24 14:38] DFurnes commented on #6314
I think I'd prefer to add a `meta.pagination` property to the response and keep the old root-level `pagination` and `retrieved_count` included for compatibility. Since it's not a public API, we can always just monitor usage of older app bundles and remove down the line without making a formal v2.

[2016-03-24 14:54] DFurnes commented on #6315
Interestingly, I'm not getting this issue when making the same request against Phoenix on my local so it might be hard to debug exactly what's going wrong with this on production.

It _does_ return a whopping 115kb of JSON though, which seems pretty outrageous. I think a good solution would be to cap the `count` parameter to a reasonable limit (say, 50?) and then have clients request additional pa

[2016-03-24 17:40] #5141 closed, assigned to katiecrane

[2016-03-24 18:57] angaither opened #6316 "Update Signups endpoint for competition support"
#### User Story

As, gladiatior? I want signup data to be returned in a more sustainable format.
#### Additional Information

Would like to grab signups from a campaign & a specific run
Add params for including only signups where `competition = 1`
And the default should be to order by RB quantity
#### Why This Matters

so we don't have to spend our lives waiting for pages to load. :older_man: :old

[2016-03-24 19:00] #6291 closed, assigned to chloealee

[2016-03-24 19:12] chloealee commented on #6291
@namimody @angaither when testing this, I found that the address validation seems to be triggered even though address isn't required. Wanted to flag for another bug/issue:
![screen shot 2016-03-24 at 3 11 45 pm](https://cloud.githubusercontent.com/assets/9019452/14028428/d8d36a38-f1d2-11e5-8f88-c84acd656665.png)

[2016-03-24 19:24] chloealee opened #6317 "Address validation triggered when not required on user profile edit form."
## _BUG_
#### Current Behavior
- When hitting attempting to save the edit view of the user profile (e.g.  https://www.dosomething.org/us/user/2319718/info), address validation is triggered even though address is not required.

![screen shot 2016-03-24 at 3 11 45 pm](https://cloud.githubusercontent.com/assets/9019452/14028668/0e228c90-f1d4-11e5-9349-9d8ccb97782a.png)
#### Desired Behavior
- User sh

[2016-03-24 19:24] chloealee commented on #6291
Issue created: #6317

[2016-03-24 20:11] chloealee opened #6318 "Reportback caching returns flagged reportbacks to anon users"
## _BUG_
#### Current Behavior
- If an admin user hits a flagged reportback and then an anon user tries to hit that same endpoint, reportback caching will reveal the unauthorized RBs to anon users. This only happens for `/reportbacks/:id`, `/reportback-items/:id` works correctly.
#### Desired Behavior
- Flagged/unauthorized RBs should never be returned to an anon user.
- In the above situation, a

[2016-03-24 20:33] chloealee opened #6319 "Need to filter out restricted reportbacks in index view"
## _BUG_
#### Current Behavior
- Currently, restricted reportbacks are not filtered out from the index view.
- `/reportbacks?flagged=true` returns flagged RBs
#### Desired Behavior
- Depending on permissions, restricted reportbacks should be filtered out for anon users.
- If only one reportback is found or `/reportbacks?flagged=true` is hit from an anon user account, status code should be 403 and

[2016-03-24 20:36] weerd commented on #6318
Just to note, this would be a auth user, not anon user. Try the same endpoint, but in an incognito window without signing in to be an "anon" user :smile: Not sure if just typo!

[2016-03-24 20:37] chloealee commented on #6318
ah yes, thanks for catching that Diego! Also a way more efficient way of testing :)

[2016-03-24 20:40] weerd commented on #6319
Not actually sure if `/reportbacks?flagged=true` works anymore, or is supposed to work, post the changes made in #6293... :shrug:

[2016-03-25 15:19] #6316 closed, assigned to itsjoekent

[2016-03-25 17:19] aaronschachter opened #6323 "Display User avatars and first name in admin Reviewer webform"
## _FEATURE OVERVIEW_
#### User Story

User uploads great reportback via mobile app, and we promote it. Unfortunately they've also created an account with inappropriate first name and avatar, which is displayed publicly in mobile app campaign gallery
#### Current Workaround w/o Feature (if applicable)

Browsing Reportback Items API in a separate tab with a JSON viewer plugin to find the avatar URL

[2016-03-25 20:23] namimody commented on #6178
New campaign, new request, old issue!

On Monday, dosomething.org/halo needs to redirect to: https://www.dosomething.org/us/campaigns/patient-playbooks

[2016-03-25 20:39] sergiitk opened #6325 "Quicksilver: tidy up the queues in `dosomething_mbp_install_productions()`"
## Cleanup production to queues mapping
#### User Story

While documenting Quicksilver (Message Broker) queues I noticed that some of queues listed in `dosomething_mbp_install_productions()` are actually irrelevant. Here's an example.

Queue [list](https://github.com/DoSomething/phoenix/blob/dev/lib/modules/dosomething/dosomething_mbp/dosomething_mbp.install#L169-L173) for the `user.password_reset

[2016-03-28 13:20] mshmsh5000 commented on #6178
I've updated the Fastly config and tested. (And it works! So I stopped testing.)

[2016-03-28 13:33] #6178 closed, assigned to mshmsh5000

[2016-03-28 13:39] namimody commented on #6103
@lkpttn could you add the final CSS here? All of the thanks!

[2016-03-28 14:03] lkpttn commented on #6103
Desktop version

[code]

Mobile version

[code]

[2016-03-28 14:10] namimody opened #6326 "Add Link of Parent Campaign to Run"
## _FEATURE OVERVIEW_
#### User Story

If a campaign lead is editing a run, and then saves the run, they are brought to a page that looks like the one below. It's not helpful for them -- it doesn't show what the closed state will look like, nor does it give them any way to navigate to the page of the parent campaign. It would be great if either:

a) this page could have a link to the campaign and

[2016-03-28 15:27] namimody opened #6327 "Rearrange RB Admin Interface for Incremental UX Enhancement"
## _FEATURE OVERVIEW_
#### User Story

Reviewing reportbacks is something we want to rehaul, to make the experience more fun for admins (should be the best part of their job), more user friendly, and the process more accurate. Until we take the time to fully revisit the experience, there are a few small enhancements we can make:

Currently, the view looks like this:
![image](https://cloud.githubus

[2016-03-28 15:42] namimody commented on #6284
Documenting that this is all set!

[2016-03-28 15:42] #6284 closed, assigned to mshmsh5000

[2016-03-28 15:49] namimody commented on #4427
@mikefantini do you know if this is still a bug? thanks!

[2016-03-28 15:50] namimody commented on #5438
Going to try and write this query myself this sprint.

[2016-03-28 15:51] namimody commented on #4924
@weerd do you know if this was addressed by #4927? thanks!

[2016-03-28 15:51] angaither opened #6328 "Add campaign run to signups/reportback params"
## _FEATURE OVERVIEW_
#### User Story

As an external service I want to grab activity for a particular campaign & a particular run only
#### Additional Information (optional)

currently we can look for at a signup endpoint for a particular campaign, but old runs might be included in this  `https://www.dosomething.org/api/v1/signups?campaigns=6661&competition=true`
we need to add `run=id` to the ur