[2014-05-23 17:18] aaronschachter opened #2306 "Vagrant: Add browscap.ini"
Refs https://github.com/DoSomething/dosomething/issues/2254#issuecomment-44034659 - Make for better browser detection when submitting tickets to Zendesk API.

[2014-05-23 18:06] crystalruthbell opened #2307 "Action page prove it section gallery arrows are non-navigable"
Perhaps we should create a wider margin around the photo so that the arrows can fit within the page? Please grab me if you are tweaking and want my insights.

![screen shot 2014-05-23 at 2 03 32 pm](https://cloud.githubusercontent.com/assets/6550604/3070115/c0815420-e2a4-11e3-889b-1d629e0197d4.png)

[2014-05-23 18:06] crystalruthbell commented on #2307
Also, this is mobile view.

[2014-05-23 18:07] aaronschachter commented on #2254
I've created 2 new fields via the Zendesk admin interface:

Field ID: 22583110 for Browser

Field ID: 22583120 for IP Address

[2014-05-23 18:19] barryclark commented on #2105
Crushing the last issues today @weerd! :speedboat:

[2014-05-23 18:38] #2254 closed, assigned to aaronschachter

[2014-05-23 18:44] aaronschachter commented on #2274
This could get a little funky, because we want to make sure not to store the same number twice.  If the user is submitting a mobile # from one an account, not knowing they have a dummy `7325557272@mobile` account -- this could lead to more trouble than its worth (although, ideally, we do need some sort of way to merge these accounts).  What do you think @barryclark ?

[2014-05-23 18:52] aaronschachter opened #2309 "Error if anonymous user submits Zendesk form"
This occurs on the Hunt currently, and will happen on SMS Games too -- as they are both campaign(y) nodes that provide the Zendesk modal.

[2014-05-23 19:01] aaronschachter commented on #2254
Confirmed we have user information in tickets.  This was tested from stage and will be available upon our next deploy.

![screen shot 2014-05-23 at 3 00 14 pm](https://cloud.githubusercontent.com/assets/1236811/3070689/a4b39386-e2ac-11e3-99b1-22e0893c9ad1.png)

[2014-05-23 19:09] #2294 closed, assigned to weerd

[2014-05-23 19:23] DFurnes commented on #2254
Sweeeeeeeeet.

[2014-05-23 19:23] barryclark commented on #2254
That is awesome :sparkling_heart:

[2014-05-23 20:00] weerd commented on #2004
All set! I think there should be a recommended cap on number of photos ideally. But this works now :)

[2014-05-23 20:00] #2004 closed, assigned to weerd

[2014-05-23 20:13] aaronschachter opened #2312 "[SMS Game] Don't display Custom Settings tab"
Add an additional check to `dosomething_campaign_admin_custom_settings_page_access` to only display Custom Settings (Signup + Reportback configuration) for Campaign Type == `campaign` only.

[2014-05-23 20:42] angaither opened #2314 "Clean tags in user submission"
Someone put a bunch of enters in and it was really sad for the CSV. We should strip_tags on this field before we save it.
![](http://cl.ly/image/191W3B0t0K1z/Screen%20Shot%202014-05-23%20at%204.41.40%20PM.png)
- [ ] User Signup Data Form (per screenshot above)
- [ ] Reportback Form

[2014-05-23 20:53] aaronschachter opened #2315 "[SMS Game] No transactionals upon signup"
If you're logged in and submit the Friends Signup form, you'll get a transactional email. Logic needs to change to only fire transactionals on signup when campaign_type == `campaign`

[2014-05-23 21:06] aaronschachter commented on #2309
Hmm. this is working on stage, but it needs to create a user in zendesk in order for the ticket to be submitted. but what's funky is i'm getting Welcome emails from zendesk when i use a new email (new to zendesk)

**Removing possibly sensitive screenshot**

I don't believe this happens from a brand new email emailing help@dosomething.org, but I could be wrong, maybe it does.  I am hoping this is j

[2014-05-23 21:32] aaronschachter commented on #2309
Followed steps in here https://support.zendesk.com/entries/28073807-Stop-an-automatic-email and it seems that unchecking "Also send a verification email when a new user is created by an agent or administrator." has stopped the emails from sending.

[2014-05-23 21:32] #2309 closed, assigned to aaronschachter

[2014-05-27 10:36] mikefantini opened #2318 "[grouped campaigns] call to action"
Call to action is no longer appearing in the header for grouped campaigns even though the field is filled out:

![image](https://cloud.githubusercontent.com/assets/6330971/3090315/b11c63ba-e58a-11e3-90bb-c98d4a85b3e0.png)

cc: @barryclark

[2014-05-27 12:10] #2224 closed, assigned to nobody

[2014-05-27 14:13] weerd commented on #2318
Working on it.

[2014-05-27 14:18] #2318 closed, assigned to weerd

[2014-05-27 14:29] weerd commented on #2318
Checked on stage, CTA is back.

[2014-05-27 14:59] #2312 closed, assigned to aaronschachter

[2014-05-27 14:59] #2232 closed, assigned to aaronschachter

[2014-05-27 15:22] weerd opened #2320 "[Grouped Campaign] Output gallery classes for IE8"
Add a 'first', 'second', and 'third' class to the corresponding `<li>`

[2014-05-27 15:25] #2320 closed, assigned to aaronschachter

[2014-05-27 15:54] aaronschachter opened #2322 "[Fact Page] Landing page"
A page which presents a list of all Fact Page nodes, grouped by Primary Cause.

Needs:
- [x] Page header / headline.
- [x] Intro copy.
- [x] List of Fact Page titles, each links to its node.
- [x] Metatag descriptions.  <-- This is actually kind of a pain, because need to handle all the `drupal_add_html_head` stuff ourselves. Same will occur for the Scholarships landing page. Wondering if we need

[2014-05-27 16:00] aaronschachter opened #2323 "[Fact Page] Add Primary Cause field"
This may be necessary for #2322 in order to programatically group Fact Page nodes underneath a Cause space, since they currently can be tagged with multiple causes.

[2014-05-27 16:02] aaronschachter commented on #2274
Per Sprint 51 planning meeting, tagging this as Backlog.

[2014-05-27 16:50] weerd opened #2324 "[Grouped Campaigns] IE8 bug causing gallery and aside items to not float properly."
Bourbon Neat relies on `:last-child` to remove margins on right side for floated grid items. However, this pseudo property is not supported in IE8. Classes were added (PR #2321) to help out resolve this in triad gallery.

The class names need to be slightly modified and classes need to be added for `-columned` items to support the layout in those sections as well for IE8, and styled appropriately.

[2014-05-27 16:58] #2324 closed, assigned to weerd

[2014-05-27 18:44] barryclark opened #2327 "MCC Form (The Hunt) - Updates from Nancy's review"
- [x] Separate first name and last name fields
- [x] 13–25 year olds only!
- [x] "All fields required" message in red
- [x] First and last name side by side (if possible. if not, leave them as is)
- [x] Order the multiple choice items in alphabetical order
- [x] Fixed tabbing in textarea (missed last one, will be fixed in next update)

[2014-05-27 19:09] joolaay opened #2328 "Wrap text in static content introduction"
The intro test should wrap around the landscape image.

[2014-05-27 19:16] #2323 closed, assigned to nobody

[2014-05-27 19:29] mikefantini commented on #2274
yeah @aaronschachter let's hold off on this right now.

@Bladt FYI

[2014-05-27 19:47] barryclark opened #2330 "Fix Varnish cache clearing tools"
These used to work, such as the comments here: https://sites.google.com/a/dosomething.org/tech/home/varnish

But now a PURGE request gets a "501 unimplemented" response.

via @mshmsh5000

[2014-05-27 19:50] aaronschachter commented on #1986
Still occurs.  Pushed changes to add an instance of `field_primary_cause` to the `fact_page` node type.  The overrides are appearing in Strongarm.  Doesn't break things, but re-opening because this is a bug.

![screen shot 2014-05-27 at 3 50 10 pm](https://cloud.githubusercontent.com/assets/1236811/3096786/2d6d9c16-e5d8-11e3-9d86-d7c464daeca4.png)

[2014-05-27 20:37] aaronschachter opened #2331 "[Static content] Blockreference field"
Add a field to the Static Content type which allows us to embed a themeable function onto Static Content.

This would allow Static Content nodes to be the wrapper around pages that currently require custom menu hooks and page callbacks / templates:
- #2322 - Fact landing page
- The MCC form, `volunteer/hunt/campaign-form`
- The scholarships prototype page, `about/scholarships`

Having this content

[2014-05-27 20:39] aaronschachter commented on #2322
It's building in custom functionality to add editable Metatags to a custom page that got me thinking that #2331 may be the best way to handle this, and other custom page callbacks we'll want.  Going to implement the Fact Page archive as a Static Content page, with its value set to display a "Fact Page archive".

[2014-05-27 21:00] barryclark commented on #2328
Gonna close this @julielorch one as it's a dup of #2280 and there's already some discussion in there.

[2014-05-27 21:00] #2328 closed, assigned to barryclark

[2014-05-27 21:07] barryclark opened #2332 "Facts modal: These are tough to read due to a lack of spacing between the facts"
The formatting on the facts modal makes it hard to read. It would be great if we could create some space between each "Fact".

https://trello-attachments.s3.amazonaws.com/511573a78e553913770000ea/5369046999698b2926fce41f/536x556/6efca37bb497006e37bc2414102bcf75/FactsPages.PNG

(submitted by Dave Deluca)

[2014-05-27 21:14] barryclark opened #2333 "DSAPI: SSL error on user registration"
Remove the code that's creating these problems. ref: https://trello.com/c/VIcrf6BA/864-dsapi-ssl-error-on-user-registration

`Dec 18 02:35:30 php10 dosomething: http://www.dosomething.org|1387334130|dsapi|72.183.225.172|http://www.dosomething.org/user/registration?destination=node/731098|http://www.dosomething.org/user/registration?destination=node/731098|1543932||User #1543932 was not posted API

[2014-05-27 21:46] #2327 closed, assigned to weerd

[2014-05-27 21:48] mikefantini opened #2336 "[footer] - social buttons are missing in IE on prod"
![image](https://cloud.githubusercontent.com/assets/6330971/3098183/8f8b4faa-e5e8-11e3-965c-72116bddeb63.png)

[2014-05-27 21:49] mikefantini opened #2337 "[MCC Form] - low priority fixes"
- [x] in Birthday - make "Year" default instead of 1989
- [x] lots of spaces pre-set in the final field before the user goes to enter text (see image below)

![image](https://cloud.githubusercontent.com/assets/6330971/3098139/0f183e64-e5e8-11e3-9ae0-4ea39f9e742b.png)

[2014-05-27 21:56] #2337 closed, assigned to weerd

[2014-05-27 22:08] aaronschachter commented on #2322
Checking off completed items if we go the route of #2331. Upon merging #2339 the last item left to do will be to filter by Primary Cause, and also any last fender painting.

[2014-05-28 13:42] aaronschachter opened #2341 "[SMS Game] Create signup for mobile if user exists"
If a user exists for the given alpha mobile #, create a signup, regardless of whether or not the user is authenticated.

[2014-05-28 13:53] aaronschachter opened #2342 "[Fact Page] Group Fact list by selective Cause terms"
Desired functionality for 11 Facts page archive is that they are grouped under similar terms as Finder, where some causes such as Sex and Violence are considered one term and not two.

Alter the Fact Page List block output to group by the relevant Cause headers / terms.

[2014-05-28 14:13] aaronschachter commented on #2254
Confirmed this is working in production as of this morning's deploy (v.0.2.65)

[2014-05-28 14:33] barryclark opened #2343 "Homepage - Update <title> and description meta tag for better SEO"
Update both to "America's largest organization for youth volunteering opportunities, with 2,500,000 members and counting."

Based on Jeff's research:

Reference Trello cards:
- https://trello.com/c/mVXSpQfS/1135-seo-consider-home-page-title-tag-in-light-of-target-search-keywords
- https://trello.com/c/yW3VEOuW/1134-seo-home-page-missing-meta-description

cc @mshmsh5000 @aaronschachter

[2014-05-28 14:52] barryclark opened #2344 "Fonts not loading in Firefox"
![image](https://cloud.githubusercontent.com/assets/692762/3105922/8a984a68-e677-11e3-8714-44ef80a921fc.png)

On staging and prod. Since deploying earlier today.

[2014-05-28 15:02] barryclark commented on #2344
@DFurnes helped debug this.

@mshmsh5000 @aaronschachter The issue is because we're serving our fonts from Akamai now and Firefox doesn't like it, as it's on another domain.

It looks like the fix is to add the following to the htaccess file: `Header set Access-Control-Allow-Origin "*"` as covered in the examples below.
- http://stackoverflow.com/questions/5008944/how-to-add-an-access-control-allo

[2014-05-28 15:16] mikefantini opened #2346 "[Grouped Campaigns] Contact Us not showing up on prod"
It is showing up on staging but not on prod. It is working properly on campaigns template.

![image](https://cloud.githubusercontent.com/assets/6330971/3106363/d0fb45e8-e67a-11e3-9660-cb1628a36bac.png)

[2014-05-28 15:53] weerd commented on #2346
@mikefantini might be a bender issue. The contact us doesn't show up if there isn't a ZenDesk form associated with the page. I'm not sure where that's controlled. It's not in the CMS portion of the edit page for the campaign-group.

@aaronschachter ^ any ideas?

[2014-05-28 15:54] mikefantini commented on #2346
@aaronschachter kicking over to you

[2014-05-28 15:54] weerd commented on #2346
@aaronschachter curious to know where that actually happens ;)

[2014-05-28 16:17] barryclark opened #2347 "rem polyfill error breaks DS.org in IE8"
![image](https://cloud.githubusercontent.com/assets/692762/3107245/5d884a3a-e683-11e3-84c9-460f03fdbaa0.png)

via @weerd: There's an error w/ the polyfill for IE8 for rem support (rem.js). it's erroring out and blocking any proper rendering for respond.js in IE8.

via @DFurnes: I think IE 8 issue _might_ be fixed if you take rem.js and respond.js out of excludeShallow config and remove Features.\*

[2014-05-28 16:19] mikefantini opened #2348 "[Campaign Template] - closed campaign state fields needed"
Just starting the list, will clean up in our meeting.

Fields needed for Campaign Closed State:
- [x] description
- [x] custom output (i.e. impact)
- [x] winners field collection #2378
- [ ] sign up call out text - TBD
- [x] Field collections. Ideally share common fields to make for an all-encompassing preprocessing function.
  - [x] Tweets
  - [x] Press

Let's discuss:
- [x] ~~check box to hide f

[2014-05-28 16:24] #2315 closed, assigned to aaronschachter

[2014-05-28 16:46] aaronschachter opened #2349 "[SMS Game] header image doesn't display"
Bug in preprocess. Shows if Campaign Type == `campaign` but not if `sms_game`

[2014-05-28 18:42] aaronschachter commented on #2348
Discussed in meeting today, the plan is to build out a new node type, a Campaign Run, to house these fields. It will contain an entityreference to the Campaign.  This allows us to store multiple runs, so we'll have the data structures to store data for Thumbwars 2014, 2013, etc.

[2014-05-28 18:48] aaronschachter opened #2350 "[Campaign Close] New content type"
New content type to house fields needed for a closed campaign.

[2014-05-28 18:55] aaronschachter opened #2351 "[Campaign Close] New tab for Campaign Closed"
Add a new tab a Campaign, `node/[nid]/closed`, allowing editors to view the Closed campaign state without actually closing the campaign.

[2014-05-28 18:57] aaronschachter opened #2352 "[Campaign Close] Display Campaign Run node within Campaign"
If a campaign is closed, display its header but embed the Campaign Run node content as its body.

[2014-05-28 19:04] mikefantini opened #2353 "[pw reset] - remove username from field label"
Remove username from the label of https://www.dosomething.org/user/password because a. username doesn't work and b. majority of members don't know their username

[2014-05-28 20:11] aaronschachter commented on #2346
Cleared cache. it works.

[2014-05-28 20:11] #2346 closed, assigned to aaronschachter

[2014-05-28 21:20] aaronschachter opened #2354 "[Campaign Close] Reportback File - Editorial Caption"
- [x] Add an Editorial Caption to the Promoted Flag, allowing editors to set a caption for a promoted Reportback image.
- [x] Create a helper function to load the caption for display in Reportback galleries.

[2014-05-28 21:31] aaronschachter opened #2356 "Reportback: Promote a Reportback File"
Promote a specific Reportback File, to a campaign or campaign_run Reportback gallery.  If we wanted to use Flag module where, we'd want need to add File Entity into the mix to do this.  File Entity may come in handy for the Editorial Caption issue #2354.  Create a corresponding view `node/[nid]/reportbacks/promoted`.

Notes on File Entity pros and cons investigation here: https://gist.github.com/a

[2014-05-28 21:56] aaronschachter opened #2357 "[Grouped Campaign] Display node_signups view"
Alter `node_signups` view to display for `campaign_group` nodes as well as `campaign` nodes.

[2014-05-28 22:04] weerd commented on #2347
@tjrosario suggested this might be a cross-origin resource sharing issue. We tested this by turning off CDN assets on stage and IE8 works great again.

[2014-05-28 22:17] tjrosario commented on #2344
Here is the referenced solution: http://davidwalsh.name/cdn-fonts.  Related issue occuring in IE: #2347

[2014-05-28 23:06] mikefantini opened #2359 "[SMS game] - add mobile fields"
Need a new field group "Mobile Referrals".

This should be a field set where you add:
- [ ] field name
- [ ] mobile commons beta opt-in ID

Need to check with @jonuy / Alysha but I'm pretty sure we'll be launching with all betas going through the same experience so may not need the second part yet. However, soon we'll want betas to have different experiences from each other.

cc: @julielorch

[2014-05-28 23:09] mikefantini commented on #2359
ah shit... I see you added SMS Games to http://staging.beta.dosomething.org/admin/config/services/optins

We may need to update the beta aspect depending on what @jonuy says.

[2014-05-28 23:15] mikefantini commented on #2359
Just chatted with Alysha and seems incredibly unlikely we'll need opt-in ID per beta, but still need the ability to set field name so we can prompt the user who to share with.

Example:
- your best friend
- you cousin
- etc.

One thing also to keep in mind though is that this is one of the major assumptions we want to test out, so maybe we can do this in optimizely or just hard code it for usertes

[2014-05-28 23:53] mikefantini commented on #2280
@crystalruthbell @julielorch thoughts?

[2014-05-29 00:03] mikefantini commented on #1440
wow sorry super late on this... closing it out; have seen it used, not super concerned about it so let's just close it for now.

[2014-05-29 00:03] #1440 closed, assigned to aaronschachter

[2014-05-29 00:06] mikefantini commented on #1003
sorry super late on this too; @jonuy outlined the main use case I was concerned with.

But as you said, super low priority right now.

[2014-05-29 02:15] mshmsh5000 commented on #2344
![woff-ttf-cors](https://cloud.githubusercontent.com/assets/149811/3113409/2111c640-e6d7-11e3-80a5-6e44c2a634c7.png)

[2014-05-29 02:42] mshmsh5000 commented on #2344
The most obvious place for us to address this is in Akamai, which is after all serving the assets.

![akamai-config](https://cloud.githubusercontent.com/assets/149811/3113541/da3003e6-e6da-11e3-899e-d2d675f88fba.png)

[2014-05-29 02:47] mshmsh5000 commented on #2344
New response headers:

![new-response-headers](https://cloud.githubusercontent.com/assets/149811/3113568/949af902-e6db-11e3-84c5-0a48fa907002.png)

This was produced by the Akamai staging URL. I'm rolling these changes out to production now.

[2014-05-29 04:15] mshmsh5000 commented on #2344
The updated Akamai config is almost finished propagating. Working for me in Firefox now.

![firefox-working](https://cloud.githubusercontent.com/assets/149811/3113943/eaeb28de-e6e7-11e3-8fca-d022a0648ba8.png)

[2014-05-29 12:32] barryclark commented on #2344
Awesome!

[2014-05-29 13:37] barryclark commented on #2347
Unfortunately doesn't look like this has been resolved by the #2344 fix. cc @mshmsh5000 @weerd @tjrosario @DFurnes

[2014-05-29 13:38] barryclark commented on #2344
Confirmed that this is fixed!

[2014-05-29 13:38] #2344 closed, assigned to mshmsh5000

[2014-05-29 14:43] mikefantini commented on #2344
yup confirmed working for me in firefox now too

[2014-05-29 15:18] aaronschachter commented on #2331
Updated issue title - we've decided to implement this via Blockreference module.

[2014-05-29 15:22] weerd commented on #1776
I've provided a temporary solution until I can undertake the Nav refactoring (hopefully soon). This should help with legibility for the time being. I added the same black dropshadow when the nav text is white, and a slightly modified white dropshadow when the text in the nav is black.

See examples below:

![screen shot 2014-05-29 at 11 07 07 am](https://cloud.githubusercontent.com/assets/105849/3

[2014-05-29 15:25] weerd commented on #2344
Relating to the IE8 bug, it's now working on Production correctly, but still borked on Staging...?

[2014-05-29 15:33] aaronschachter commented on #2322
Editing issue description so this handles creating the list of Fact page nodes, created a separate issue for Grouping the Fact page nodes by Primary Cause.  We're using a Blockreference within Static Content in order to get the editable intro, metatags, etc.

[2014-05-29 16:00] marahml opened #2362 "New field on campaign page - for email"
We need a field on the campaign page where a campaign lead can enter custom content for email.

Right now this will be used for (1) the campaign signup transactional emails and possibly for (2) the email digest.

Let me know what specifics I can help provide!

[2014-05-29 16:00] barryclark commented on #1776
Nice @weerd

[2014-05-29 16:12] #2322 closed, assigned to aaronschachter

[2014-05-29 16:12] #2331 closed, assigned to aaronschachter

[2014-05-29 16:18] aaronschachter opened #2363 "Refactor Scholarships page"
Refactor the `dosomething_campaign_scholarships_page` to output Scholarships List as a block in `dosomething_campaign`.

Create an unpublished static content node embedding the DS Campaign Scholarship List block.

Remove unneeded menu, page callbacks.

[2014-05-29 16:32] weerd commented on #2282
Resolved in #2360

[2014-05-29 16:32] #2282 closed, assigned to weerd

[2014-05-29 16:33] aaronschachter commented on #1986
Same has occurred in adding a new field to Static Content per v0.2.69. Mostly around these variable defiintions / field_group sequences.

![screen shot 2014-05-29 at 12 32 08 pm](https://cloud.githubusercontent.com/assets/1236811/3120244/dc2bca08-e74e-11e3-9193-420cffaf34da.png)

[2014-05-29 16:35] weerd commented on #2347
So it looks like the Rem Polyfill is no longer an issue, but for some reason respond.js is not running, which is why the site is stuck on mobile view on IE8.

[2014-05-29 17:10] mikefantini commented on #2362
@marahml just put a quick sync on for today for the three of us to chat

[2014-05-29 17:15] marahml commented on #2362
@mikefantini awesome - thanks!

[2014-05-29 17:37] weerd opened #2364 "[SMS Campaign] Add initial structural markup"

[2014-05-29 17:41] barryclark commented on #2347
cc'ing @DFurnes @tjrosario on this

[2014-05-29 17:59] #2364 closed, assigned to weerd

[2014-05-29 18:32] aaronschachter commented on #2359
@jonuy So is the desired functionality to just send multiple regular opt_in requests with the various numbers?  We wouldn't be able to pull off actual texting multiple people via optimizely

[2014-05-29 18:45] mikefantini commented on #2359
@jonuy @aaronschachter just put time on the calendar today for a quick in person sync

[2014-05-29 20:07] aaronschachter opened #2367 "[Campaign Close] Campaign closed template"
**Updated:**

Create a `node--campaign--closed.tpl.php` to render a Campaign in a closed state.  The preprocessing should add relevant content variables from the relevant Campaign Run.

A campaign run node does not need to be themed (for now).  In the future we may display multiple Campaign Runs nodes at a time to display a Campaign's timeline / history.

---

**Original description:**

Create a `

[2014-05-29 20:09] weerd opened #2368 "[SMS Campaign] Cover image not being output via internal stylesheet"
Seems to be missing the injected `<style>` tag in the `<head>` that adds the background cover image to the header.

[2014-05-29 20:09] aaronschachter opened #2369 "[Fact Page] Styles for Fact Page List"
Node does not exist on Production yet, but stage node can be found here: http://staging.beta.dosomething.org/facts

[2014-05-29 20:12] weerd commented on #2368
Duplicate issue #2349

Closing this one.

[2014-05-29 20:12] #2368 closed, assigned to aaronschachter

[2014-05-29 21:36] #2350 closed, assigned to aaronschachter

[2014-05-29 21:44] mikefantini opened #2371 "[Grouped Campaigns] - help text needed on Campaigns entity reference"
add help text to grouped campaigns for the "Campaigns" entity reference that reads "When adding campaigns to a grouped campaign page make sure to add either 4, 5, 6, 9, 10, or 13 campaigns.".

[2014-05-29 22:03] crystalruthbell opened #2372 "Prove It gallery is not displaying one of the photos"
7th photo on Prove It section is not displaying properly.

https://www.dosomething.org/campaigns/pb-jam-slam
![screen shot 2014-05-29 at 6 02 18 pm](https://cloud.githubusercontent.com/assets/6550604/3124428/0661932e-e77d-11e3-9574-6ca70228e5bc.png)

[2014-05-30 01:42] aaronschachter commented on #2349
This is a crazy bug (?) / super weird thing happening between different view modes within  the `dosomething_helpers_preprocess_hero_images`.

When viewing a campaign node in the normal `full` view_mode, it works.

When viewing a campaign node is being viewed in the `sms_game` view_mode, there is no `$vars['field_image_campaign_cover'][0]`... but there IS a `$vars['field_image_campaign_cover'][LANG

[2014-05-30 03:00] aaronschachter opened #2374 "[SMS Game] Step 1, Step 2 Headers need padding"
**Removing potentially sensitive cell number screenshot**

[2014-05-30 12:15] aaronschachter opened #2375 "[Campaign template] Campaign header and footer templates"
Templates for:
- [x] Campaign header: Headings (Title, CTA, Scholarship)
- [x] Campaign header: Sponsors
- [x] Campaign header; Scholarship
- [x] Campaign footer - Required for #2367

Strip out the Campaign node's headers and footers into themeable functions, so we can easily place them on the Campaign Run node template.  Should drastically clean up node tpl files for Campaign, Campaign Pitch, and

[2014-05-30 13:20] aaronschachter opened #2376 "[Campaign Run] Video field"
Low priority. For Comeback Clothes's Campaign Run, we'll just pull the Video from the parent campaign's `field_video` value.
- [ ] Add the existing `field_video` field collection to the Campaign Run to specify a video.
- [ ] Modify Campaign Run template such that:
  - If a video_id exists on the parent Campaign, render the parent Campaign's video_id.
  - If a value is set on the Campaign Run's `vi

[2014-05-30 13:30] aaronschachter opened #2377 "[Campaign template] Hide campaign from Finder"
Refs desired functionality specified here: https://github.com/DoSomething/dosomething/issues/2348
- [ ] Add setting to hide node from Finder (without unpublishing)
- [ ] Configure SOLR to exclude node from Finder based on this setting

This may be a simple checkbox, but could also possibly suggest that we need a Campaign State field, with different states:
- Pre-Launch
- Live
- Closed

It depends

[2014-05-30 14:01] aaronschachter opened #2378 "[Campaign Close] Winners field collection"
Fields needed:
- [x] User (EntityReference)
- [ ] Reportback FID
- [x] Winner Name  _this can be loaded from the user object_
- [x] Winner Type (Select list. Scholarship, Grant)
- [x] Winner Description
- [x] WInner Quote

For display:

If set, render the Reportback FID's `editorial_caption` (#2354) within the template output as well.

[2014-05-30 14:15] aaronschachter opened #2379 "[Campaign Close] Press Field Collection"
New field collection `field_press`:
- Image (Gallery Image)
- Copy (Image Description)

[2014-05-30 14:52] aaronschachter commented on #2367
A disadvantage of the Switcharoo would be if any place on the web is hardcoding links to `/node/362`, but I can't imagine this is happening anywhere on the interwebs.

[2014-05-30 15:05] aaronschachter opened #2380 "[Campaign Close] Tweets Field Collection"
Mocks here: https://sites.google.com/a/dosomething.org/dosomethinguxwiki/home/product-archive/campaign-template
- URL (of the actual twitter status e.g. https://twitter.com/dosomething/status/473463280053534720)
- Tweet Copy (Markdown)
- Image (should this be an image node for such a tiny lil image? file? grab magically from twitter?)

[2014-05-30 15:08] mshmsh5000 commented on #2367
Are you imagining this as an automated process (I hope)?

What about the option where we render campaign run content instead of the main campaign content based on a flag?

E.g., the campaign content type has a modal switch, from "live" to "ended", either determined by date or by manually changing the mode. When the mode is "ended", we grab the run content in prerender and display that instead of t

[2014-05-30 15:29] aaronschachter commented on #2367
The option of rendering the Campaign Run within the Campaign node is definitely do-able.
Editorially, it just requires editing the Campagin Run node, and then refreshing the Campaign in a different tab. For developing, also requires theming the Campaign Run tpl without the wrapper of the Campaign node tpl around it.

The thoughts around having the Campaign Run switcharoo was that we could build ou

[2014-05-30 15:32] aaronschachter opened #2382 "[Campaign Close] Celebs Field Collection"
Reuses gallery fields, but `field_celebs`, used to store content about celebs doing campaigns.  This is the section that is not present on the mockup currently, and is also not required for Comeback Clothes (as of the time of creating this issue)

Creating as its own field collection allows us to grab Celebrities doing campaigns easily, vs trying to figure out what Gallery field_collection it is.

[2014-05-30 15:46] #2349 closed, assigned to aaronschachter

[2014-05-30 15:56] aaronschachter opened #2383 "Refactor / remove Pitch custom Entity view mode"
Refs #2381

We don't need a different view_mode, we just need to serve a different tpl file for a Pitch Page.  We are doing this already, but we're checking for the view_mode to be set to `pitch`.  This custom view mode then shows up in all of the other content type Features that don't make any use of it.
- [x] Move the pitch display logic out of `dosomething_campaign_entity_view_mode_alter` and i

[2014-05-30 16:58] deezone opened #2384 "Password Reset status page formatting"
A few issues on the page the user is directed to when clicking on the one time password reset link sent by email. Example from email:

[code]

Functionally works but there are issues. See screen shot for reference:
http://screencast.com/t/YaVFIYhcjAg

**Note**:
- The message is not within the text area where content is presented to the user.
- The reference to the user `2qgoyZXRrr` Assume it's the

[2014-05-30 17:04] aaronschachter commented on #2363
See https://github.com/DoSomething/dosomething/pull/2361/files

[2014-05-30 18:33] joolaay opened #2386 "Julie would like an emoticon for hipchat"
This is EXTREMELY high priority. CC: @crystalruthbell @DFurnes @barryclark

[2014-05-30 18:46] crystalruthbell commented on #2386
THIS IS SO URGENT!

![screen shot 2014-05-30 at 2 45 27 pm](https://cloud.githubusercontent.com/assets/6550604/3134825/9e5fdf98-e82a-11e3-9811-9ccf83110363.png)

[2014-05-30 18:54] crystalruthbell opened #2387 "Search results show "hunt" but not "the hunt""
![screen shot 2014-05-30 at 2 51 55 pm](https://cloud.githubusercontent.com/assets/6550604/3134916/d965379a-e82b-11e3-9f19-ae84219fec70.png)

[2014-05-30 18:55] crystalruthbell opened #2388 "Search results show file names within preview"
Would be rad if we could hide this. Reads pretty pretty weird.

![screen shot 2014-05-30 at 2 55 23 pm](https://cloud.githubusercontent.com/assets/6550604/3134935/035a9f54-e82c-11e3-9216-4acc99f4df8d.png)

Hahahahhahahahah

[2014-05-30 18:56] aaronschachter commented on #2387
This likely a duplicate of #2095.

[2014-05-30 19:07] mshmsh5000 opened #2389 "Salt: Move Vagrant dir internal & adjust apache2 config"
We want to [make Drupal run faster on Vagrant](https://github.com/DoSomething/dosomething/wiki/Make-Drupal-run-faster-on-Vagrant). Salt needs to copy the shared `/vagrant` dir to an internal dir, and adjust the apache2 vhost settings.

[2014-05-31 02:08] aaronschachter commented on #2367
Going with the route of embedding the Campaign Run node content within a Campaign node's template.  Updated issue title and description.

[2014-05-31 12:49] aaronschachter opened #2393 "[Campaign Close] Reportback File Field"
Multi-value field of Reportback Files to display in the Campaign Run template.

Editors select which File FID to display.

Gallery should display the Reportback File image, user's name, and editorial caption (Blocked by #2354)

[2014-05-31 23:36] aaronschachter opened #2394 "[Campaign Close] Dynamic Reportback gallery"
Depends on #2356.  If there is a flag in place to promote Reportback Files, we can display the top X promoted instead of implementing this via a Reportback File reference field #2393.

For short term, we'll implement #2393 first as it's a much smaller lift, so I'm labelling this issue as low priority for now.

This would also apply a Campaign Action Page, could use the smae functionality instead o

[2014-06-01 04:20] mshmsh5000 commented on #2377
I can see an editorial case for having manual control over whether a particular campaign gets indexed. I see three possibilities:
1. An `is_search_indexed` field exposed to editors, and manually managed
2. A variable not exposed to editors, managed when the campaign transitions to a new state (pre-live, live, closed)
3. A field whose value is managed during campaign transitions, but which editors

[2014-06-01 14:16] aaronschachter commented on #2377
I like option 3, would this field be what actually transitions the campaign into the Closed state?  Vs. anything automated based on End Date values?

We actually don't have a closed date anywhere on the campaign: just low season and high season -- which don't actually detail when the campaign ends, but controls its weight in the Finder.

[2014-06-01 15:08] aaronschachter opened #2395 "Reportback: Flag as invalid"
`flagged_reportback` Flag for the Reportback Entity itself, to be used to exclude the Reportback from overall count.

Should use a confirmation form to allow editors to mark reason(s) for flagging, and also potentially provide a description for any more context.

[2014-06-01 15:15] aaronschachter commented on #2356
Renamed this issue and created #2395 to handle flagging a Reportback Entity, as these are two different Entities to flag (Entity for bad, specific File for good)

[2014-06-01 19:17] aaronschachter opened #2396 "[Campaign Close] Display parent Campaign Video"
This is what we'll implement for the Comeback Clothes Closed state.

If a Video exists on the Run's parent Campaign node, display it.

Future campaign runs can override this Video setting by setting a value in #2376

[2014-06-02 01:33] mshmsh5000 opened #2397 "ds build: Can't write to sites/default / feature revert errors"
Seeing this on a fresh `bin/ds build --install` (below). This is because the drush install sets `sites/default` to 0555 before then trying to do the `ln -s` business.

I don't know whether the resulting `fr` failures are related, so this might be two issues. (Or none, if no one can recreate.)

**N.b.** This was after running a fresh build based on the changes from #2389.

[code]

[2014-06-02 03:15] crystalruthbell commented on #2386
http://emoji.zone/

[2014-06-02 14:15] DFurnes commented on #2386
That's my new homepage.

[2014-06-02 14:47] DFurnes commented on #2386
![julie](https://cloud.githubusercontent.com/assets/583202/3148835/d0fee476-ea64-11e3-8c4d-1669867d3357.png)

[2014-06-02 14:47] #2386 closed, assigned to DFurnes

[2014-06-02 15:17] mikefantini opened #2398 "new user role needed to view all unpublished content"
Need a new user role to create accounts for friends of the org (board members, strategic partners, sponsors) so we can show them unpublished content on prod.

This user role should have zero extra privileges other than the ability to view unpublished content on the production site. Would want this to only be content that would have the potential to be user facing (i.e. any of the content types we

[2014-06-02 17:59] barryclark commented on #1820
@DFurnes fixed this guy

[2014-06-02 17:59] #1820 closed, assigned to nobody

[2014-06-02 18:39] #2092 closed, assigned to nobody

[2014-06-02 18:45] #2332 closed, assigned to tjrosario

[2014-06-02 18:56] barryclark commented on #2348
cc @angaither

[2014-06-02 19:22] mikefantini opened #2401 "[SMS game] - weird redirect for campaigns/bully-text-0 on staging"
Deluca created http://staging.beta.dosomething.org/node/1229/edit so that we can put the SMS template through user testing.

However the view url (http://staging.beta.dosomething.org/campaigns/bully-text-0) is re-directing to http://staging.beta.dosomething.org/campaigns/sms-game-fun-great-success

This makes it hard to write proper content and impossible to put on usertesting.com

[2014-06-02 19:38] aaronschachter commented on #2401
Fixed this. when I created SMS Game Fun Great Success node at first, I created it with title "Bully Text" .

when I changed the name to SMS Great Fun, our settings to automatically create redirects upon title changes created the redirect from "campaigns/bully-text-0" to the Great Fun game.

![screen shot 2014-06-02 at 2 35 25 pm](https://cloud.githubusercontent.com/assets/1236811/3152376/61d2b2fc-

[2014-06-02 19:38] #2401 closed, assigned to barryclark

[2014-06-02 19:53] #2389 closed, assigned to mshmsh5000

[2014-06-02 21:22] barryclark opened #2402 "[campaign close] "Results coming soon" state"
We need to add a state to the campaign close template for those few days after a campaign closes that we don't yet have final signup & reportback numbers. This message will display in place of the results numbers at the top of the template.

The content editor needs a way to be able to display it instead of the numbers (maybe a checkbox?). For now that message can read "Results coming soon", the e

[2014-06-02 21:36] angaither commented on #2279
Oh, this is totally fine.

I ran the 'update-node-authors' script on stage, which changed the author to a user that doesn't exist on stage, so that's why it's throwing that error.
Also that's @mikefantini
always causin trouble.

[2014-06-02 22:34] barryclark commented on #2398
@angaither If you have time to get to this tomorrow that'd be sweet, then Deluca could use it to send out to the board on Wednesday. cc @mikefantini

[2014-06-03 15:13] mikefantini opened #2404 "[SMS game] - need to get optimizely up on staging for Bully Text"
@Bladt mentioned that we need to add `<script src="//cdn.optimizely.com/js/1158700146.js"></script>` into the header of http://staging.beta.dosomething.org/campaigns/bully-text-0 in order for him to make the optimizely tests we want to run for user testing live; can we get that set up today so we can send off to usertesting.com by EOD?

[2014-06-03 15:16] barryclark commented on #2404
@DeeZone @angaither

Any thoughts on the best way to add this?

[2014-06-03 15:21] mikefantini opened #2406 "[SMS game] - no texts sent + error message received"
Got this error message when testing out the SMS Game http://staging.beta.dosomething.org/campaigns/bully-text-0. Also no messages were sent to either alpha or beta.

![image](https://cloud.githubusercontent.com/assets/6330971/3162118/5c3f26ea-eb32-11e3-8032-d81f2e571fdd.png)

cc: @aaronschachter @angaither @weerd

[2014-06-03 15:21] mikefantini commented on #2406
also the opt-in path is set up on staging:

![image](https://cloud.githubusercontent.com/assets/6330971/3162180/cb729812-eb32-11e3-94bf-c025367f8f47.png)

[2014-06-03 15:31] mikefantini opened #2408 "[SMS game] - add CTIA messaging"
Taking part in this experience means you agree to our Terms of Service & to receive our weekly update. Message & data rates may apply. Text STOP to opt-out, HELP for help.

Link Terms of Service to https://www.dosomething.org/about/terms-service.

Language should just appear exposed (i.e. not like Sources is treated) for now.

Should visually appear like it does when creating an account:

![image]

[2014-06-03 15:42] mikefantini commented on #2404
Just a note we'll also need it on http://staging.beta.dosomething.org/campaigns/bully-text-1

[2014-06-03 15:48] deezone commented on #2404
The Optimizely module should take care of this. There needs to be a test project entry with the ID "1158700146"

[2014-06-03 15:49] Bladt commented on #2404
Optimizely recommends pasting the snippet immediately after your opening `<head>` tag

[2014-06-03 15:51] deezone commented on #2404
The module puts the tag in the head of the document which is to spec from Optimizely the last time I checked. Has something changed or are your needs different?

[2014-06-03 16:03] Bladt commented on #2404
@DeeZone the Optimizely Drupal module (at least via the GUI) does not allow us to target something.dosomething.org urls and this test needs to run on staging.beta.dosomething.org/...

[2014-06-03 16:11] barryclark commented on #2404
@DeeZone Does this mean that we need to install the Optimizely module on staging? ... and if so, would you be able to set that up please?

[2014-06-03 16:14] deezone commented on #2404
Ah, I understand - a new use case for running Optimizely tests only on sub domains. Is this something we'll be doing often?

At any rate, to get this done today a "fender" needs to add the following to the `<head>` section of the Drupal template (tpl) file that's used on `http://staging.beta.dosomething.org/campaigns/bully-text-1` but not loaded on other campaign landing pages.

[code]

This assum

[2014-06-03 16:17] barryclark commented on #2404
@weerd Assigning over to you as you're working in this .tpl file already for Bully Text.

[2014-06-03 16:27] #2398 closed, assigned to angaither

[2014-06-03 16:37] aaronschachter commented on #2406
@mikefantini @jonuy Do these opt-in paths actually exist in Mobilecommons?  And can we confirm they have been inputted correctly?

I've just tried testing the dev node, http://staging.beta.dosomething.org/node/1199, and got sent a text.

My suspicion is that the paths are not set in Mobilecommons or have been entered incorrectly. If this is the issue, we can keep this issue open to add code to cat

[2014-06-03 16:46] angaither commented on #2378
@aaronschachter
if we have the campaign nid and the user reference two of these things can be filled in automatically.
- reportback fid = query for the report back and get the photo
- Winner name = `field_user_first_name`

[2014-06-03 16:49] mikefantini commented on #2406
@aaronschachter it appears to be correct:
- alpha: https://dosomething.mcommons.com/campaigns/121235/opt_in_paths/161989
- beta: https://dosomething.mcommons.com/campaigns/121235/opt_in_paths/160921

[2014-06-03 16:53] mikefantini commented on #2404
@weerd we need this for http://staging.beta.dosomething.org/campaigns/bully-text-0 and http://staging.beta.dosomething.org/campaigns/bully-text-1

[2014-06-03 16:54] aaronschachter commented on #2378
For reportback FID, a user can upload multiple files to a reportback so we would need to store a specific FID..

Actually this issue may need to be updated to use an Image node. @mikefantini can speak to this, as far as usually we ask winners to send through a different image.

[2014-06-03 16:56] #2351 closed, assigned to angaither

[2014-06-03 16:56] #2352 closed, assigned to angaither

[2014-06-03 16:56] #2367 closed, assigned to angaither

[2014-06-03 17:00] angaither commented on #2380
@aaronschachter
@mikefantini
what field types does this need? Is it a useraname? A link to a tweet? Photos?

[2014-06-03 17:02] aaronschachter commented on #2378
The idea behind adding the additional Winner Name is if we didn't happent o have a user UID for whatever reason. I think it's fine to implement for comeback clothes by using the User's field_first_name though for now, and add the name into the FC later if we ever end up needing it.

[2014-06-03 17:08] aaronschachter commented on #2380
Updated issue description.. definintely link to tweet.  The mocks are here https://sites.google.com/a/dosomething.org/dosomethinguxwiki/home/product-archive/campaign-template

The idea is that we'll be manually entering the Tweet copy to add our own classes around the stuff.. although @weerd any updates on what we can and can't do with displaying tweets, with regards to Twitter's rules of usage?

[2014-06-03 17:17] barryclark commented on #2369
@tjrosario Would be great if you could take care of this one. Not too much styling work to do here as default neue styles have taken care of most things... but it'd be good to use @weerd's containers on the content so that it has appropriate margins.

[2014-06-03 17:20] barryclark commented on #2342
Mind if I close this @aaronschachter? We can re-open if it gets requested, otherwise I don't think we should take action on it.

[2014-06-03 17:21] barryclark commented on #2369
@julielorch Take a peek at http://staging.beta.dosomething.org/facts too!

[2014-06-03 17:22] aaronschachter commented on #2406
I've tested http://staging.beta.dosomething.org/campaigns/bully-text-0 and it works for me, @barryclark confirmed he received a text.  Can we get some more people testing this to see if we can replicate.

[2014-06-03 17:23] aaronschachter commented on #2342
Mind if _I_ close it?? ha ha

[2014-06-03 17:23] #2342 closed, assigned to aaronschachter

[2014-06-03 17:25] barryclark commented on #2342
:dancers:

[2014-06-03 17:28] barryclark commented on #1801
I think this got fixed, right @weerd?

[2014-06-03 17:30] jonuy commented on #2406
Works for me. Both alpha and beta received texts.

[2014-06-03 17:49] angaither commented on #2380
According to them, we should be using the API to embed the tweets.
If we don't do that, we need to include all the requirements (including tweet actions.. which makes it more complex without the api)
![](http://cl.ly/image/3F0w062R0f3e/Screen%20Shot%202014-06-03%20at%201.48.17%20PM.png)
https://dev.twitter.com/terms/display-requirements

[2014-06-03 18:01] aaronschachter commented on #2380
I would love to embed these for sure.  It doesn't seem worth it to build these out as different fields if Twitter can give us the no-go at any time.  Do they let us apply css to change the fonts?

[2014-06-03 18:06] angaither commented on #2380
Looks like we can [change alignment and colors](https://dev.twitter.com/docs/embedded-tweets), but I don't think we can change the font.
But like, it's a tweet, do we need to?

[2014-06-03 18:08] mikefantini commented on #2406
Just got the error again when testing as "authuser" on http://staging.beta.dosomething.org/campaigns/bully-text-0

![image](https://cloud.githubusercontent.com/assets/6330971/3164427/0aeb9b26-eb4a-11e3-9560-4b27912c0661.png)

[2014-06-03 18:09] aaronschachter commented on #2380
@barryclark @mikefantini Can you weigh in here?  This would be so much cleaner if we can just supply the Tweet URLs to embed.

[2014-06-03 18:12] angaither commented on #2406
I agree with @mikefantini I was able to submit when I was logged out, but with my user account I got the same error.

[2014-06-03 18:13] weerd commented on #2404
Cool. So my thought is to use the `drupal_add_js()` function in the `.tpl` for the SMS game template. Does this make sense to you @aaronschachter @angaither @DeeZone ?

[2014-06-03 18:16] mikefantini commented on #2406
yeah worked for me logged out but tried on multiple accounts logged in with no luck:
- uid 1700179
- uid 145

[2014-06-03 18:16] aaronschachter commented on #2406
@uy were you logged in when you tested? i've just tested as logged in and it works.

[2014-06-03 18:19] mikefantini commented on #2406
@aaronschachter what uid did you test with?

The two I tested with above don't have a mobile number attached to the user account, does the one that worked for you have a cell number saved to the profile?

[2014-06-03 18:21] aaronschachter commented on #2406
yes, i used my stage uid 5 and it has a #.  this woudl explain it though, i think this is the offending code, which we should just remove.

[code]

[2014-06-03 18:22] aaronschachter commented on #2404
I would vote for adding it into `template.php` or https://github.com/DoSomething/dosomething/blob/dev/lib/modules/dosomething/dosomething_campaign/dosomething_campaign.theme.inc#L276 instead of in the actual tpl

[2014-06-03 18:28] mikefantini commented on #2406
ok cool. @aaronschachter want to take that out for now and we can revisit after we get this out to usertesting.com?

[2014-06-03 18:31] aaronschachter commented on #2406
sure i can take this one, assigning to myself.

[2014-06-03 18:44] weerd opened #2411 "[SMS Campaign] Add wrapping <div>s for input fields in sign up form."
Allow for wrapping the "Your Cell" and the first "xxxx's Cell" fields in a div AND then another wrapping div for the other 2 "xxxx's Cell".

Please change the "xxxx's" text to "Friend's".

cc @mikefantini

[2014-06-03 18:50] mikefantini commented on #2411
also change text in all mobile fields to read "(555) 555-5555"

[2014-06-03 18:55] barryclark commented on #2380
I think that using [Embedded Tweets](https://dev.twitter.com/docs/embedded-tweets) sounds like the best ideas so long as we're fine with that from a design standpoint.

@weerd Any thoughts/concerns?

[2014-06-03 18:59] mikefantini commented on #2378
@angaither @aaronschachter because of SMS games (where there is no report back) we would need an actual image node

@aaronschachter does this affect how other things for this were built?

[2014-06-03 19:02] mikefantini commented on #2380
@angaither hold off on this right now... grabbing @crystalruthbell as soon as she's out of a meeting to sort through this

[2014-06-03 19:18] mikefantini commented on #2380
@angaither confirmed with @crystalruthbell this is just a media style gallery; it's not specifically for tweets, that may be one of the uses but is not the intended functionality.

We just want a gallery that focuses less on the image and more on the content itself, this may be a tweet, it may be a quote from a celeb, it may be a fb post, etc.

We'll deal with the ramifications of copy/pasting twe

[2014-06-03 19:23] weerd commented on #2404
And still targeting the specific SMS campaigns? @aaronschachter

[2014-06-03 19:31] jonuy commented on #2406
Sounds like you guys got it... but just for the sake of responding, I tested while logged out.

[2014-06-03 19:37] #2411 closed, assigned to aaronschachter

[2014-06-03 19:40] angaither commented on #2378
Do we need to worry about the reportback FID then?
Or when the reportback is flagged, those images will be manually made into image nodes?

[2014-06-03 19:44] angaither commented on #2380
@mikefantini so then, how is this different from the press section?

[2014-06-03 19:46] aaronschachter commented on #2378
I think we don't need to worry about Reportback FID for now.  For now we'll just make image nodes for comeback clothes and can revisit how to promote Reportback Files to it.

[2014-06-03 19:58] mikefantini commented on #2378
yeah I think that makes sense

[2014-06-03 20:05] aaronschachter commented on #2404
Somethin like this:

[code]

This function is only called for SMS Game nodes.

[2014-06-03 20:07] mshmsh5000 commented on #2380
General note: Dooooon't do custom tweet display, ever. It's not a good use of our time, and it annoys Twitter.

[2014-06-03 20:08] weerd commented on #2404
Cool. Sounds good. I'll punch it in!

[2014-06-03 20:17] mikefantini commented on #2402
yeah @angaither hold off on this just now, need to chat with Deluca about this because there may be a time we want to close it but don't have scholarship winner yet either and will want to call that out as well

[2014-06-03 20:17] aaronschachter commented on #2406
Still looking into this, removing code I thought would fix is not fixing. I've been able to replicate: Only seems to happen if a logged in user submits the form and does NOT have a mobile set on their user profile.

[2014-06-03 20:23] mikefantini opened #2413 "[Signup Data Form] - add Guam back to list of state options"
@angaither can you add Guam back in as one of the options for state on the address collection form?

[2014-06-03 20:30] weerd commented on #2404
[code]

Should this error be expected on my local?

@DeeZone @Bladt

[2014-06-03 20:45] deezone commented on #2404
Quick chat with @weerd , used "external" with `drupal_add_js()` to reference the Optimizely CDN.

[2014-06-03 20:46] weerd commented on #2404
thanks @DeeZone :dancers:

[2014-06-03 20:47] #2404 closed, assigned to weerd

[2014-06-03 20:48] #2374 closed, assigned to weerd

[2014-06-03 21:00] mikefantini commented on #2380
ok so @crystalruthbell it seems like if we want to show someone giving us love on twitter specifically we'll have to show the tweet like so

![image](https://cloud.githubusercontent.com/assets/6330971/3166526/cbc6a932-eb61-11e3-9325-25519b96d8e5.png)

we could probably put those in two columns still like we wanted to

are you cool with that stylistically or do you want us to just make the rule tha

[2014-06-03 21:05] DFurnes commented on #1801
Yup, this was fixed by #1835.

[2014-06-03 21:20] #2406 closed, assigned to aaronschachter

[2014-06-03 21:21] #2178 closed, assigned to weerd

[2014-06-03 21:21] #2408 closed, assigned to weerd

[2014-06-03 21:35] #2347 closed, assigned to weerd

[2014-06-03 21:42] barryclark commented on #1801
Thanks @DFurnes

[2014-06-03 21:42] #1801 closed, assigned to nobody

[2014-06-03 22:04] DFurnes commented on #2347
Waiting on a HTTP endpoint for our CDN, but this should be fixed next time we deploy on production and will be a quick setting change on staging.

[2014-06-04 13:43] mikefantini commented on #2378
wait sorry we'll be ditching FID for winner for right now, but will we still be using it for the report back gallery up at the top of the screen @aaronschachter ?

[2014-06-04 13:49] aaronschachter commented on #2378
yes that is https://github.com/DoSomething/dosomething/issues/2393

[2014-06-04 14:33] blisteringherb commented on #2387
A quick update, I am looking at this, and the issue is in how we have Drupal configured with search.  Searching directly against Solr without any biases yields the same result when searching for "Hunt" and "The Hunt".

[2014-06-04 14:49] barryclark opened #2423 "Campaign Template - Can't submit report backs in IE10 / Windows 8"
SUBMIT YOUR PIC button goes active, but then the form doesn't submit.

![image](https://cloud.githubusercontent.com/assets/692762/3174995/29e79ce8-ebf7-11e3-92af-3ff4fce65186.png)

Not tried with other versions of IE. Please test the fix in those too.

Update https://trello.com/c/JbxUf7Zr/1171-trouble-uploading-photo-on-pb-jam-slam when this gets fixed. Thanks!

[2014-06-04 14:50] barryclark commented on #2423
@DFurnes Need to prioritize a fix for this.

[2014-06-04 15:48] #2135 closed, assigned to tjrosario

[2014-06-04 16:05] DFurnes commented on #2423
IE10 seems to block form submission when both the file upload field and the form are submitted programmatically. Working on a fix.

[2014-06-04 16:08] weerd commented on #2299
Noticed this last week and fixed it a few days ago. Didn't realize there was a ticket for it, haha. Lemme know if it still crops up anywhere, but should be fixed!

[2014-06-04 16:08] #2299 closed, assigned to weerd

[2014-06-04 16:14] weerd opened #2425 "[Campaign] Refactor the template to use the new .container module."
Booya! This is happening. Will refactor the markup to use the newly established .container module so that the content conforms to a unified system :dancer:

cc @barryclark @mikefantini

[2014-06-04 16:29] DFurnes commented on #2423
Have a fix ready for this. Going to make sure to test thoroughly across browsers and will push up for review.

[2014-06-04 18:57] #2095 closed, assigned to blisteringherb

[2014-06-04 20:05] mikefantini commented on #2095
confirmed!

[2014-06-04 20:21] mikefantini opened #2427 "[campaign close] - signed up but didn't report back should drop off profile"
If a user signed up for a campaign but did not report back before the campaign closed, it should just be removed from the user's profile completely.

cc: @julielorch

[2014-06-04 21:07] mikefantini opened #2429 "[campaign template] - submit button on contact us in massive"
We should use the medium button size here.

![image](https://cloud.githubusercontent.com/assets/6330971/3179555/5663f390-ec27-11e3-96e7-200838befebf.png)

[2014-06-04 21:15] mikefantini opened #2431 "[Campaign Template] - update text on Contact Us modal"
Let's update the body copy of the Contact Us modal to read "Enter your question below. Please be as specific as possible. If you are having a technical issue, please make sure to provide detailed steps (click by click) on how you encountered the problem, so our developers can re-create the issue."

![image](https://cloud.githubusercontent.com/assets/6330971/3180017/4c493eba-ec2c-11e3-953b-969fb935

[2014-06-04 21:18] aaronschachter commented on #2431
I'd like to make this copy a variable in the `dosomething_zendesk` module, so we don't have to deploy code changes.  Labelling as bender.

[2014-06-04 21:22] aaronschachter commented on #2431
Relates to #2169 and not having to make this change all over the place.

[2014-06-04 22:04] #2369 closed, assigned to tjrosario

[2014-06-04 22:32] joolaay commented on #2369
Sweet totally missed this. I want to grab crystal for some design
QA...cool??
On Jun 4, 2014 6:04 PM, "Tom Rosario" notifications@github.com wrote:

[2014-06-04 22:35] tjrosario commented on #2369
@julielorch sure!

[2014-06-04 22:44] joolaay commented on #2369
Can't wait can't wait can't wait
On Jun 4, 2014 6:35 PM, "Tom Rosario" notifications@github.com wrote:

[2014-06-05 13:25] mikefantini commented on #2377
Late following up on this but I think the critical path for comeback clothes we should follow is (as @barryclark touched upon in his email on Monday):
- editor manually puts the campaign in a closed state (since new information is needed I'm not comfortable yet with campaigns automatically going into a closed state since the editor may not have put in the necessary info)
- when a campaign is in th

[2014-06-05 13:37] mikefantini opened #2433 "[Mind On My Money] - redirect no longer working"
When you go to /money the user should be taken to the pitch page on beta.

Then, when they sign up for the campaign, they should be taken to the legacy page.

This redirect is no longer working.

cc: @barryclark @aaronschachter @blisteringherb

[2014-06-05 13:50] angaither commented on #2413
The UPS Address validation that we use will not validate against Guam Addresses.
We can add it in, but additional validation would be required for those.

![](http://cl.ly/image/2l360X3u2y0h/Screen%20Shot%202014-06-05%20at%209.50.14%20AM.png)

[2014-06-05 15:03] #2433 closed, assigned to angaither

[2014-06-05 15:41] tjrosario opened #2435 "Update fact view template to use new container markup system"

[2014-06-05 16:04] mikefantini commented on #2413
ok yeah I don't think it's worth it. closing this out for now. thanks for looking into it @angaither

[2014-06-05 16:04] #2413 closed, assigned to mikefantini

[2014-06-05 18:14] #2423 closed, assigned to DFurnes

[2014-06-05 18:16] mikefantini commented on #2377
confirmed from management meeting that for now, when something goes into the closed state it should:
- be removed from finder
- be removed from /campaigns
- still be discoverable via search
- direct link should still work (obviously)

[2014-06-05 19:40] apatheticslacker opened #2439 "Thumb Wars [Reporting Back Bug]"
When reporting back on the Thumb Wars campaign, I was hit with the issue where I would try to report back after sending all the necessary information to the forum, I was given a error message that said that I wasn't authorized to that page. (Note: I've done this now on two different accounts and I get the same error message.)
![image](https://cloud.githubusercontent.com/assets/7773483/3192660/0c3a

[2014-06-05 19:43] aaronschachter commented on #2439
Was testing with @apatheticslacker -- seems like this was occurring because of uploading a specific file. @apatheticslacker Can you give more information aroudn which files worked and didn't work, and upload or link to them into this ticket?

[2014-06-05 19:43] aaronschachter commented on #2439
This also seemed to happen across all campaigns, not just Thumb Wars.  And upon creating a new account as well.

[2014-06-05 19:48] apatheticslacker commented on #2439
@aaronschachter When I kept getting that error message, I was using a jpeg image beforehand, but when I changed it to a jpeg, it seemed to work just fine.
Image that was giving me errors:
![a0 original](https://cloud.githubusercontent.com/assets/7773483/3192774/3b19c628-ecea-11e3-8f4b-86c5c008fcd5.jpg)
Working image (all random ones on the laptop I'm using:
![img_1789](https://cloud.githubusercont

[2014-06-05 19:49] aaronschachter commented on #2439
Do you mean a png? You mentioned int hat in chat. Also what was the file name?

[2014-06-05 20:00] apatheticslacker commented on #2439
There was just some confusion on my end, it was a jpeg the first image that was giving me a problem.
The file name was A0 original.jpeg and I pulled it from the iPhoto library.

[2014-06-05 20:08] aaronschachter commented on #2439
I tried to upload a file with a space in name to see if that's it but still can't replicate.  @barryclark Can we attach original file somewhere so i can download?

[2014-06-05 20:46] mikefantini opened #2440 "[SMS game] - h2 needs to be purple"
need to make h2 (i.e. The Problem, The Solution) our purple.

![image](https://cloud.githubusercontent.com/assets/6330971/3193405/3cd2999c-ecf2-11e3-93bf-e38324a43ec4.png)

similar to how we have it on non-SMS campaigns:

![image](https://cloud.githubusercontent.com/assets/6330971/3193424/6692097a-ecf2-11e3-8ba7-fd0f4c300edd.png)

[2014-06-05 21:01] DFurnes commented on #2440
![screen shot 2014-06-05 at 5 01 14 pm](https://cloud.githubusercontent.com/assets/583202/3193613/909b6af2-ecf4-11e3-9c75-1ebf34d91667.png)
:japanese_ogre:

[2014-06-05 21:02] mikefantini commented on #2440
ha i didn't want to do it @DFurnes i swear, but i just know we won't launch it without this...

[2014-06-05 21:04] DFurnes commented on #2440
Haha, just having fun. :smile:  Right now we have `h3` and `h4` set to be `$dark-gray` in Neue. Should we just change these to be `$purple` by default?

https://github.com/DoSomething/neue/blob/dev/scss/_main/_base.scss#L52-L54

[2014-06-05 21:04] mikefantini commented on #2440
great convo for Monday!

[2014-06-05 21:54] #2435 closed, assigned to tjrosario

[2014-06-05 21:55] barryclark opened #2442 "[FIX ASAP]"

[2014-06-05 21:58] desmondmorris commented on #2442
edit

[2014-06-05 22:33] barryclark opened #2443 "Reportback Form: Check for logged in user upon submit"
Nami just found an issue with PBJ where some of the report backs have no user attached. (e.g. https://www.dosomething.org/reportback/2976)

All of the report backs: https://www.dosomething.org/node/955/reportbacks?uid=&mail=&page=1

You can see at 17:21 today 4 report backs came in, that look like by the created/updated timestamps they may be updates to existing report backs? There's no users asso

[2014-06-05 22:51] aaronschachter commented on #2443
FYI - All the created/update will display as the same value because its currently just displaying the columns on the `dosomething_reportback` table and not updates to the `dosomething_reportback_files` table. e.g. https://www.dosomething.org/node/362/reportbacks?uid=1176550&mail=

[2014-06-05 22:54] aaronschachter commented on #2443
If this continues to happen, more files will be added to that one reportback 2976, the system will treat anonymous reportback submissions as updates to the reportback entity for uid = 0 nid = 955.  Not sure if https://github.com/DoSomething/dosomething/issues/1628 is related.

[2014-06-05 22:56] barryclark commented on #2439
@apatheticslacker can provide you with that @aaronschachter, it was on his laptop

[2014-06-05 23:07] aaronschachter commented on #2443
i replicated by adding a reportback file to the uid = 0 reportback as follows:
- Signed in and loaded PBJ
- in a separate browser tab, sign out.
- go back to first open tab and submit a reportback
- you'll get a access denied error (because you're not allowed to see a campaign-campaign confirmation page unless you're signed in)
- as an admin, confirm a reportback has been created or updated for ui

[2014-06-05 23:19] aaronschachter commented on #2443
Updated issue description.

[2014-06-06 00:29] deezone opened #2444 "Make Drupal run faster on Vagrant - Workflow?"
Based on **Make Drupal run faster on Vagrant** workflow section:

[code]

During a `ds build --install` the following was displayed:

[code]

Currently my `dosomething-mount` is empty but everything else in the VB appears to be happy including http://localhost:8888. Searching HipChat it appears others were struggling with the workflow as well. What's the current setup to get to the point of being

[2014-06-06 04:10] aaronschachter commented on #2444
I followed the steps on the page and I do see the repo files within my `dosomething-mount` directly.

When i am in it and `git status`, it displays a ton of files as changed within the DS theme,  provision and scripts folders: https://gist.github.com/aaronschachter/9cdf3e007ac984de7014

The usual `dosomething` directory did not show any changes, and when I'd modify files, they'd show up as expecte

[2014-06-06 04:11] aaronschachter commented on #2444
@DeeZone When i followed the steps in the [wiki page](https://github.com/DoSomething/dosomething/wiki/Make-Drupal-run-faster-on-Vagrant#create-mount-point) my `dosomething-mount` does exist before the install.

[2014-06-06 04:24] aaronschachter commented on #2444
Also, @mshmsh5000 not sure if you get this too, but when I run drush commands I get:

[code]

[2014-06-06 13:59] apatheticslacker commented on #2439
@barryclark Sure, I attached it earlier but it's this image.
![a0 original](https://cloud.githubusercontent.com/assets/7773483/3200958/a7351342-ed82-11e3-8cd1-ab04777f4dfe.jpg)

[2014-06-06 14:08] deezone commented on #2444
@mshmsh5000 Relative to @aaronschachter git comment, in my case:

[code]

[code]

[2014-06-06 14:15] DFurnes commented on #2444
I was running into similar issues where `dosomething-mount` was not synced with my `dosomething` directory (and changes made in `dosomething-mount` were not being reflected on my localhost).

I (stupidly, perhaps) was thinking this was a conflict where it was still using the old non-SSHFS Vagrant configuration so tried a `vagrant destroy && vagrant up` in hopes of clearing that up. Now, both `doso

[2014-06-06 14:19] deezone commented on #2444
@DFurnes Ah good point, I too did a `vagrant destroy && vagrant up``in the hopes of starting from scratch. The difference being`vagrant ssh`and`http://localhost:8888` are happy but I'm hesitant to start working out of:

[code]

[2014-06-06 14:32] tjrosario commented on #1866
Refers to #2135.  Already resolved.

[2014-06-06 14:32] #1866 closed, assigned to nobody

[2014-06-06 14:44] crystalruthbell commented on #2282
Thanks @weerd its good, very subtle (maybe too subtle but user testing will tell!!)

[2014-06-06 14:58] mikefantini opened #2445 "Remove old button size classes from markup"
In addition to #2429 there are other massive buttons:
- [ ] Campaign confirmation page
- [ ] Log In/Create Account

![image](https://cloud.githubusercontent.com/assets/6330971/3201748/f3414dfc-ed8a-11e3-9882-aec43dfd166c.png)

![image](https://cloud.githubusercontent.com/assets/6330971/3201736/e00bc6d6-ed8a-11e3-8476-0292c25dbf8b.png)

![image](https://cloud.githubusercontent.com/assets/6330971/32

[2014-06-06 15:16] weerd commented on #1206
@mikefantini is there a preferred order. I'm assuming the order (if content is present), should be.
- Stuff You Need
- Hype
- Time and Place
- VIPs
- Find a Location

[2014-06-06 15:18] mikefantini commented on #1206
- stuff you need
- time and place
- vips
- hype
- find a location

thanks @weerd

[2014-06-06 16:49] DFurnes commented on #2444
Update – Matt helped me out with some troubleshooting, after downgrading to Vagrant 1.5.4 and running another `vagrant destroy && vagrant plugin update && vagrant up`, everything looks to be working great. So if you're running Vagrant 1.6+, give that a try. :)

[2014-06-06 17:43] blisteringherb commented on #2387
This should be fixed in production now.  There are some biases that were overridden, but those should be good now.  Both 'hunt' and 'the hunt' show The Hunt at the top of the search results.

[2014-06-06 17:43] #2387 closed, assigned to blisteringherb

[2014-06-06 21:38] deezone commented on #2444
I'm running:

[code]

upgraded to:

[code]

and...
 :fireworks:  it worked! :fireworks:

[2014-06-07 16:24] #2396 closed, assigned to angaither

[2014-06-08 14:55] aaronschachter opened #2447 "Add npm-debug.log to .gitignore"
Shows up when pulling down from stage.

[2014-06-08 15:30] aaronschachter commented on #2444
I am a lot closer, I just can't get of the Paraneue JS to run on my site, blocking me from working on anything modal and making my local a bit broken looking.

Even when I pull down from staging, I still get jQuery not found errors.  When I attempt to run `ds grunt` from within `/var/www/vagrant` I get this output: https://gist.github.com/aaronschachter/a6ade16b963bb3847fc9

I also get that output

[2014-06-08 15:43] aaronschachter commented on #2444
@mshmsh5000 Where is the proper directory to run `ds pull stage`?  It doesn't seem to work for me anymore for files. I've tried from both `/vagrant` and `/var/www/vagrant` while being ssh'd in.

The error returned is:

ssh: connect to host staging.beta.dosomething.org port 22: Connection timed out
rsync: connection unexpectedly closed (0 bytes received so far) [Receiver]
rsync error: unexplained e

[2014-06-08 17:06] deezone commented on #2444
@aaronschachter
- Run `ds build / pull` from `/var/www/vagrant`.
- make sure you're running the specific version of Vagrant:

[code]

As newer and older version do not work based on @DFurnes and I's experiece detailed above.
- Confirm that your key is installed with `$ ssh-add -L` as your ssh connection error sounds like you've lost it. A common issue in the past for some of us. We had to keep re-

[2014-06-08 21:32] DFurnes commented on #2444
@aaronschachter It looks like your Vagrant box didn't run Salt correctly, perhaps? It seems like the command-line utilities for Bower and Grunt are missing from looking at the log you posted.

I forget how to  trigger Salt manually, but try running a `npm install -g bower && npm install -g grunt-cli` and run `ds grunt` again. If that doesn't help, you can also run the following in the paraneue_dos

[2014-06-09 14:45] barryclark opened #2449 "Campaign Close - Pre-signup button adds user to MailChimp"
~~Blocked by #2463~~
- [x] New pre-signup form rendered in campaign header
- [x] Pre-signup form submit
  - [x] Write a presignup record
  -  [ ] Subscribe user to Mailchimp
  - [x]  Upon submit, display the copy  "Sweet, we'll send you an email as soon as [campaign_title] re-opens. In the meantime, <a href="/campaigns">find a campaign</a> you can do right now."

[2014-06-09 15:02] aaronschachter commented on #2449
@barryclark @mikefantini
- Can you confirm this is Mailchimp only and no Mobilecommons?
- should a message appear after signing up, and if so what is the copy
- Is a transactional email to be sent?

[2014-06-09 15:05] angaither opened #2450 "[Campaign Close] Entity reference on campaign node"
When we have multiple campaign closes we need a way to determine which campaign run is the active run.

We also need a way to view the past campaign closed references.

My recommendation is to have the campaign run keep the date that the campaign closes and both the campaign & the campaign run to have a [reverse reference](https://drupal.org/project/cer).

This way each year the campaign lead is o

[2014-06-09 15:12] aaronschachter commented on #2450
One thought along this path could be that possibly in order to set the campaign's state to closed, an editor selects the relevant Campaign Run node from a new Closed Run Entity Reference field. That way, you can't actually close the campaign without setting the proper close run. Refs #https://github.com/DoSomething/dosomething/issues/2377#issuecomment-45218325

I haven't used https://drupal.org/pr

[2014-06-09 15:27] joolaay opened #2451 "11-facts - add additional conversion point"
Holla,

11-facts testing has revealed that a SECOND button between facts 5 and 6 increases conversions.

Button will: Look exactly like the existing button (this snippit doesn't include gray background b/c it was from optimlizely), and it will have THE SAME CTA as the lower button (the CTA is editable in Admin view).

![screen shot 2014-06-09 at 11 25 19 am](https://cloud.githubusercontent.com/ass

[2014-06-09 15:29] joolaay opened #2452 "11-facts - sources"
Holla,

Let's hook up sources with the same treatment we use in campaigns.

_Sources_ should go to the bottom of each fact page. When clicked, it should open a drop down with  gray sourcing info. cc @crystalruthbell

[2014-06-09 15:46] mikefantini opened #2453 "[SMS game] - scholarship callout should be in the form section"
pointing to the CTA button; similar to how we have on desktop action page

cc: @crystalruthbell @julielorch

[2014-06-09 15:54] aaronschachter commented on #2341
This functionality is still in place.  Re-opened because I thought was related to #2415, but it's not.

[2014-06-09 15:54] #2341 closed, assigned to aaronschachter

[2014-06-09 16:00] joolaay commented on #2453
rad.

[2014-06-09 16:02] mikefantini commented on #2449
@aaronschachter
- yes Mailchimp only and not Mobile Commons
- yes, the user should get a notification, for copy let's go with "Sweet, we'll send you an email as soon as [campaign_title] re-opens. In the meantime <a href="/campaigns">find a campaign</a> you can do right now."
- I don't think we need to send a transactional email letting them know that we will be sending them an email in the future,

[2014-06-09 16:12] aaronschachter commented on #2449
We are currently handling Mailchimp subscriptions via Message Broker.

@deezone Is there a function to call which will only subscribe a user to a Mailchimp Group (and no transactional)?

[2014-06-09 16:14] mikefantini commented on #2449
@aaronschachter right... i guess i meant rather than send a broadcast, handle the sending of the message once the campaign re-opens via the message broker.

Nothing we need to worry about yet though

[2014-06-09 16:15] crystalruthbell opened #2454 "Static Content - Gallery (link photos)"
Add ability for static content pages to link photos like on this What is DoSomething.org page.

![screen shot 2014-06-09 at 12 14 30 pm](https://cloud.githubusercontent.com/assets/6550604/3219020/27fc180c-eff1-11e3-8663-3149331235f0.png)

[2014-06-09 16:15] aaronschachter commented on #2449
@mikefantini  What I meant was that just to get a user subscribed to Mailchimp in the beta app, we use Message Broker to handle that.  There is no Mailchimp code within the DS repo.

[2014-06-09 16:15] mikefantini commented on #2449
right makes sense

[2014-06-09 17:43] tjrosario commented on #1789
This is resolved

[2014-06-09 17:43] #1789 closed, assigned to nobody

[2014-06-09 18:08] aaronschachter opened #2455 "dosomething.info - Add field_group to dependencies"
It's a dependency of other modules but not listed in our installation profile's .info file.  Could help solve the mystery of getting DS custom SimpleTests to run again.

[2014-06-09 18:15] crystalruthbell opened #2456 "Confirmation Page - update gallery styles"
Can we update the photos to squares so they are consistent with the rest of the site gallery displays?

![screen shot 2014-06-09 at 2 13 14 pm](https://cloud.githubusercontent.com/assets/6550604/3220587/f8a44456-f001-11e3-85a0-9cd1d2d0c39c.png)

[2014-06-09 19:48] mikefantini opened #2457 "[campaign close] - hide "Add another item" and "Remove" buttons in the gallery field set"

[2014-06-09 19:57] barryclark commented on #2454
IF the subheaders are linked, then link the photos too.

[2014-06-09 19:59] barryclark commented on #2447
A quick on for you @DFurnes

[2014-06-09 20:08] barryclark commented on #1005
@mikefantini This happens now, right?

[2014-06-09 22:01] #2454 closed, assigned to tjrosario

[2014-06-09 22:49] marahml commented on #2449
@mikefantini @aaronschachter yes - we should send users a transactional email anytime they sign up for something on the site, even if its just for future updates. (ie. We'll tell you when Thumb Wars is ready again next year, but in the meantime do these campaigns).

One issue with the previous flow for when campaigns were closed was that there was no thought to the UX on the notification side. We'

[2014-06-09 23:42] mikefantini opened #2460 "[SMS game] - remove auto-filling in phone number info"
When a user goes to fill in a phone number, the browser is suggesting data to auto-fill in the field (i.e. if I used 555-555-5555 before in my browser as a phone number, it suggests I use that for my phone number AND all three of the friends' phone number fields).

Let's just remove all phone number suggestions if we can for all of those field's (user's phone number included).

Making high priorit

[2014-06-09 23:51] mikefantini opened #2461 "[SMS game] - weird right bumper of awkward space on Android"
Appears when the user clicks into the first name field. Watch this video at 5:35.

**removed link to user video - Barry**

Not seeing it on my iPhone 5.

[2014-06-10 13:43] aaronschachter commented on #2457
Can you give context for why this is needed?

[2014-06-10 13:47] mikefantini commented on #2457
@aaronschachter it's because an editor should only be allowed to add one gallery type at a time (i.e. I shouldn't be able to add two press galleries one on top of the other).

I should still be able to add two different galleries on top of each other (i.e. Press and then Celeb Mention) but that is handled by the other "Add another item" in the Klout Gallery field set.

[2014-06-10 13:58] aaronschachter commented on #2457
But don't you need the "Add another item" and "Remove" buttons within the Gallery field collection to be able to edit the items in it?

[2014-06-10 14:38] DFurnes commented on #1706
A (hopefully accurate) summary of an offline conversation with @weerd and @angaither a while back:

We're gonna try to fix this by making the default `page.tpl.php` basically reflect the Static Content layout, and then have a `page-override.tpl.php` (or something) which we can choose to use instead on nodes that need more extensive control over the design of the site.

:fallen_leaf:

[2014-06-10 15:20] aaronschachter opened #2463 "Campaign Close - Presignup table"
- [x] Create a new table `dosomething_signup_presignup` with fields uid, nid, and timestamp
- [x] new function `dosomething_signup_presignup_exists`  to check if a pre-signup exists
- [x] new function `dosomething_signup_presignup_create` which inserts a record if no pre-signup exists

[2014-06-10 15:50] barryclark commented on #2449
We clarified earlier today that when the Pre-Signup button is clicked the user should be prompted to Login/Register if they aren't currently logged in.

[2014-06-10 15:57] aaronschachter commented on #2354
Updated issue description per conversations today about adding the field to the Flag, and assigning to myself.

[2014-06-10 15:58] aaronschachter commented on #2393
We're going to implement galleries via #2394 instead of using a file field.  Will adjust priority of #2394 accordingly.

[2014-06-10 15:58] #2393 closed, assigned to aaronschachter

[2014-06-10 16:20] mikefantini opened #2465 "[campaign close] - add User First Name field to Winner field collection"
Field name "User First Name" (open to it being "Winner First Name" or whatever you think makes sense).

Help text "User First Name should only be needed if there isn't a user to lookup. If there is a user to lookup, then we'll pull in their first name from the UID."

cc: @aaronschachter
- [ ] Add `field_winner_name` to `field_winners` field collection
- [ ] Use value in preprocess for when a User

[2014-06-10 16:33] aaronschachter commented on #2465
I'd prefer we build with machine name `field_winner_name` as per spec in #2378, in case we ever need to store a first name + last name combo, or a school name

[2014-06-10 16:42] aaronschachter opened #2466 "Core + Contrib updates"
Now that we have a versioned makefile (good), we may be stuck with needing to update all modules anytime we want to write our own update hook (ehh) :\

[code]

[2014-06-10 16:46] aaronschachter commented on #2466
Weirdly enough, answering "no" did exactly what I wanted, skip everything else and run the `dosomething_signup` update hook I'm working on.  Guess that makes sense since we aren't downloading the latest modules automatically.  Can test on pull stage once i'm ready to submit my PR for the signup stuff i'm working on.

[code]

[2014-06-10 17:05] tjrosario commented on #2452
@crystalruthbell once staging is updated, sample Fact with source can be found here: http://staging.beta.dosomething.org/facts/11-facts-about-education-and-poverty-america

[2014-06-10 17:12] barryclark commented on #2377
Adding @blisteringherb in.

@aaronschachter is there a variable that @blisteringherb should reference to decide whether a campaign is to be displayed in finder and /campaigns?

[2014-06-10 17:14] aaronschachter commented on #2377
@angaither is working on adding a Campaign State/Status field to the Campaign node.

[2014-06-10 17:19] joolaay commented on #2452
OOooh ballz. We actually have to get the web address sources that are
hooked up to the facts on the backend. So there should be a list of 11
sources in a BIG ass drop down. I can come explain - Crystal, do you know
what I'm talking about?

On Tue, Jun 10, 2014 at 1:07 PM, Tom Rosario notifications@github.com
wrote:

##

Julie Lorch

[2014-06-10 17:24] aaronschachter commented on #2452
@tjrosario Check out the markup in the base template for Fact Page: nodes: https://github.com/DoSomething/dosomething/blob/dev/lib/modules/dosomething/dosomething_fact_page/node--fact_page.tpl.php#L34

[2014-06-10 17:46] tjrosario opened #2468 "Refactor Fact sources markup"
Refactor fact sources markup to match current source pattern

Relates to #2452

[2014-06-10 17:46] aaronschachter commented on #2452
Update -- the module's tpl file was never updated to output sources the way we are doing so in the theme's tpl file, per this commit https://github.com/DoSomething/dosomething/commit/eac289a0f5eed0d6ec30703758391cab5ba7590f

We need to set the `$sources` variable back to the array of $sources. Ideally we should also clean this up and remove the `additional_text` variable and field from Fact Pages.

[2014-06-10 18:08] #2452 closed, assigned to tjrosario

[2014-06-10 18:11] #2468 closed, assigned to nobody

[2014-06-10 18:28] #2450 closed, assigned to barryclark

[2014-06-10 18:29] #2463 closed, assigned to aaronschachter

[2014-06-10 18:40] angaither commented on #2457
There are multiple klout galleries, but not multiple galleries within the klout type. You'll still be able to add/remove items inside

[2014-06-10 19:16] aaronschachter opened #2472 "[Campaign Close] Presignup on user login/register"
Alter login logic so that if a user is signing in on a closed campaign, call `dosomething_signup_user_presignup` instead of `dosomething_signup_user_signup`.  See #2473

[2014-06-10 19:27] weerd opened #2474 "[Campaign] Allow markdown in "After Copy" field"
To be more consistent with other fields in the "Do It" section of the campaign node, add the capacity for using markdown in the "After Copy" text area field to match the other text area items in that fieldset. Also will help with consistent tag output in the template.

[2014-06-10 19:38] #2465 closed, assigned to angaither

[2014-06-10 19:51] aaronschachter opened #2475 "[Campaign Close] Cleanup dosomething_campaign_is_closed function"
Now that we have a `field_campaign_status` in place, the `dosomething_campaign_is_closed` function should simply return whether or not the field value == `closed` and we should create a separate closed page access callback.
- [x] Simplify `dosomething_campaign_is_closed` to return value == closed
- [x] Create a `_dosomething_campaign_closed_page_access` callback which checks for staff only, and wh

[2014-06-10 20:02] aaronschachter commented on #2377
@blisteringherb @barryclark There is a function `dosomething_campaign_is_closed($node)` which will return TRUE if the given campaign node is closed. It is checking if the `field_campaign_status` value == closed

[2014-06-10 20:04] aaronschachter commented on #2348
@mikefantini Safe to close this issue? As we've discussed, I don't think it's worth adding fields for thresholds and auto-display.  Once we have Reportback Flagging in place, we could potentially display the totals within the campaign Run node edit form as help text, and editors can enter whatever values they wish, having those numbers as references.

[2014-06-10 20:09] #2447 closed, assigned to DFurnes

[2014-06-10 20:24] deezone opened #2476 "Include $payload['subscribed'] = 1 in mbp requests"
Add `$payload['subscribed'] = 1` to all `message_broker_producer_request()` requests where the user's action results in a transaction that activates / approves email subscription.

[2014-06-10 20:52] #2476 closed, assigned to nobody

[2014-06-10 21:13] barryclark commented on #2377
@blisteringherb shooting this one over to you to complete this week so that we can test early next week with the Campaign Closed template.

Give @mikefantini or I a shout if you have any questions about implementation. Fantini's latest comment should spec it pretty clearly:

[2014-06-10 21:51] mikefantini commented on #2348
@aaronschachter yeah I think it's fine for now.

Depending on if we expand this to all campaigns and not just top campaigns we may need to bring this feature back.

Displaying the signup count and output count on the admin form would be sweet if possible. Want to create another issue as low priority assuming this is what you were thinking?

[2014-06-10 21:51] #2348 closed, assigned to mikefantini

[2014-06-10 22:18] mikefantini opened #2479 "[campaign close] - update what people are saying field group name"
Can we update "What People Are Saying" to "The Buzz"?

Sorry language update and want to make sure it's clear for the editor.

![image](https://cloud.githubusercontent.com/assets/6330971/3237736/ef5c0b0e-f0ec-11e3-8d6b-9c06c7b8404b.png)

[2014-06-10 22:19] aaronschachter commented on #2348
ya we can open an issue to display counts in the form, but ideally we need the invalid flag before this to get us closer to having accurate quantity totals. total reportback count would be valid though.

[2014-06-10 22:19] aaronschachter commented on #2348
signup count or reportback count?

[2014-06-10 22:23] mikefantini commented on #2348
yeah sorry i was saying signup count and report back value sum

[2014-06-10 22:23] aaronschachter opened #2480 "campaign run: calculated totals help text in node form"
within the totals section, display the parent node's reportback count and quantity totals as help text to guide usage of the input fields.

[2014-06-10 22:24] mikefantini commented on #2480
@aaronschachter this should be signup count and quantity totals

[2014-06-10 22:26] mikefantini opened #2481 "[campaign close] - change button text"
to read "NOTIFY ME"

[2014-06-10 22:28] mikefantini commented on #2402
finalizing language with Ben tomorrow. will update this issue as soon as I have final copy

[2014-06-10 22:32] aaronschachter commented on #2481
this issue and #2402 make a good argument for creating a campaign admin system settings form to start storing a lot of these copy/labels in variables.

[2014-06-10 22:39] mikefantini opened #2482 "[campaign close] - update help text on admin view"
- [ ] title: "The title is not user facing, it just helps wen searching for content. Suggestion: Use campaign name and year campaign ended (i.e. Comeback Clothes 2014)."
- [ ] campaign: "Reference the campaign this run is associated with. Start typing the campaign name and select the appropriate one."
- [ ] totals group: "If you don't want any totals displayed leave all fields blank. If you want t

[2014-06-11 13:26] aaronschachter commented on #2474
@weerd asked me to write up some documentation on how to do this.
- We'll need to change the text format setting on the After Copy field through the Campaign Content Type's "Manage fields" UI -- this makes the change in the database.
- After making that change, we need update the `dosomething_campaign` feature -- which applies the change into our codebase.

Here goes:
1. Run `drush -y fr dosomethi

[2014-06-11 13:51] #2479 closed, assigned to angaither

[2014-06-11 14:31] DFurnes commented on #2336
Tested on IE9, IE10, IE11. Can't reproduce. I assume social links were toggled off in theme settings when this issue was created.

[2014-06-11 14:31] #2336 closed, assigned to barryclark

[2014-06-11 14:39] DFurnes commented on #2165
Tested on stock browser Android 4.1 through BrowserStack and this is functional now. I was unable to test Android 4.4.2 since that is not available on BrowserStack. I believe this was fixed by #2436.

[2014-06-11 14:40] #2165 closed, assigned to DFurnes

[2014-06-11 14:41] #1706 closed, assigned to weerd

[2014-06-11 14:41] #1949 closed, assigned to barryclark

[2014-06-11 14:41] #2164 closed, assigned to nobody

[2014-06-11 14:41] #2197 closed, assigned to nobody

[2014-06-11 14:41] #2198 closed, assigned to barryclark

[2014-06-11 14:57] #2475 closed, assigned to aaronschachter

[2014-06-11 14:59] angaither opened #2486 "Campaign closed Pitch Page displaying"
When an anon user views a closed campaign, the pitch page is displaying, not the 'closed' page.

[2014-06-11 15:07] #2472 closed, assigned to angaither

[2014-06-11 16:29] mikefantini commented on #2402
default language for output:

"We’re still tallying the [Total Quantity Label]. The bigger the number, the longer it takes...so stay tuned!"

default language for winners section:

"Hold on! We’re still sifting through the (amazing!) submissions you sent to choose a winner. We’ll email you and post his or her name here soon!"

[2014-06-11 16:52] mikefantini opened #2489 "[campaign close] - rules for displaying totals text"
- [x] if field_total_participants is filled out, display total participants
- [x] if field_total_participants is left blank, don't display any participant label or number
- [x] if field_total_quantity and field_total_quantity_label are filled out, display quantity and label (i.e. output)
- [x] if field_total_quantity is left blank AND field_total_quantity_label is left blank, don't display any out

[2014-06-11 16:59] mikefantini opened #2490 "[campaign close] - rules for displaying info in winner section"
- [x] if anything in the field_winners group is filled out display in the "CONGRATULATIONS TO..." section
- [x] if nothing in the field_winners group is filled out display the section header ("CONGRATULATIONS TO...") and the default winner text (#2402)

Mobile mocks with (outdated) copy:
![image](https://cloud.githubusercontent.com/assets/6330971/3247957/a9d8331c-f189-11e3-9bb9-a89cf06f76ef.png)

[2014-06-11 17:04] mikefantini opened #2491 "[campaign close] - update LOVE FROM CELEBS section header copy"
update section header "LOVE FROM CELEBS" to read "THE BUZZ"

![image](https://cloud.githubusercontent.com/assets/6330971/3248021/4a03e098-f18a-11e3-9508-26c2bc3df3d2.png)

@barryclark not sure if it's bender or fender so just assigning to you

[2014-06-11 17:08] mikefantini opened #2492 "[campaign close] - don't display THE BUZZ section header if no content exists in that section"
If nothing is filled out in any of the fields in group_the_buzz don't display "THE BUZZ" section header.

[2014-06-11 17:08] barryclark commented on #2490
@crystalruthbell

Are we moving to using italics for all placeholder type messaging? Should this become a pattern?

cc @weerd @DFurnes @tjrosario

[2014-06-11 17:22] mikefantini opened #2494 "[campaign close] - changing the subheader colors"
For closed campaigns, any text or sections that are red in the mocks (https://docs.google.com/a/dosomething.org/file/d/0BxBqwT7gEBtQZ2w2aVBYbWVLRnc/edit) should be our purple by default. However, editors should have the ability to override the default purple by filling out the "Alt color" field in Custom Settings -> Styles on the _campaign node_.

![image](https://cloud.githubusercontent.com/asset

[2014-06-11 17:28] #2486 closed, assigned to nobody

[2014-06-11 17:38] barryclark commented on #2494
Shooting over to @tjrosario -- thanks Mike

[2014-06-11 17:38] barryclark commented on #2491
One for tom, thanks

[2014-06-11 18:02] mikefantini commented on #2494
sweet also cc'ing @aaronschachter in case there are any questions.

[2014-06-12 14:36] mshmsh5000 opened #2497 "Cap deploys to public production and staging IPs"
The [config settings](https://github.com/DoSomething/dosomething/blob/dev/config/deploy/production.rb) refer to a public IP, which is sub-optimal: (a) it publishes a public IP that we don't / shouldn't need for a web head, and (b) it requires both a public IP and an open SSH port in the firewall.

Instead, use private subnet equivalents for production deploy targets.

[2014-06-12 14:38] desmondmorris commented on #2497
We must keep in mind that this will require the deployment machine to be within the RPC firewall.  So jenkins should be all good, but will fail from individual machines.

+1

[2014-06-12 14:39] mshmsh5000 commented on #2497
Yes, will fail from individual machines unless they're on VPN, which is as it should be.

[2014-06-12 14:41] #2497 closed, assigned to mshmsh5000

[2014-06-12 15:41] aaronschachter commented on #2354
Closed by #2499

[2014-06-12 15:41] #2354 closed, assigned to aaronschachter

[2014-06-12 15:44] aaronschachter commented on #2356
Closed by #2499

[2014-06-12 15:44] #2356 closed, assigned to aaronschachter

[2014-06-12 17:48] #2482 closed, assigned to angaither

[2014-06-12 18:36] aaronschachter opened #2502 "User Profile PageTitle"
Implement `drupal_set_title` to override the default behavior, which uses the user's username as the page title. Which in our case, is set to the uid so it makes no sense.

Maybe just have it read as "My Profile"? "My campaigns?"

Screenshot shows bug in user profile, but note the `<TITLE>` value.
![screen shot 2014-06-12 at 2 34 44 pm](https://cloud.githubusercontent.com/assets/1236811/3262000/5e

[2014-06-12 18:38] aaronschachter opened #2503 "[SMS Game] Don't display Reportbacks tab"
Minor bug, only occurs for staff.

This one's a little nasty because the Views Contextual Arguments, which is being used to only display the tab for Campaign nodes, doesn't let you drill further into the node to restrict by field values.

[2014-06-12 18:42] aaronschachter opened #2504 "Refactor: Use db_select in dosomething_reportback_get_gallery_item_ids"
Currently using `db_query`.

[2014-06-12 18:55] sergiitk opened #2506 "Campaigns page layout is broken on production"
Now campaigns are aligned in one column in the center of the page.
Both [production](https://www.dosomething.org/campaigns) and [staging](http://staging.beta.dosomething.org/campaigns) are affected.

![image](https://cloud.githubusercontent.com/assets/672669/3262223/eb8f4186-f262-11e3-813d-bcc61da60a24.png)

Btw, this is the very first page new user sees when he follows "Take Action Now" link in t

[2014-06-12 19:08] aaronschachter opened #2509 "[Campaign template] Display promoted reportbacks"
If reportback files exist in the gallery, display them in the Prove It section. Use function  `dosomething_campaign_preprocess_reportback_gallery` to add the relevant variables.

If no files exist, use the existing `field_image_reportback_gallery` field values as is.

[2014-06-12 19:10] #2457 closed, assigned to DFurnes

[2014-06-12 19:32] aaronschachter opened #2510 "Reportback Gallery: Message if no files have been promoted"
If there are no reportback files which have been promoted, display help text and return, without displaying Save/Cancel buttons.

[2014-06-12 19:54] #2510 closed, assigned to aaronschachter

[2014-06-12 20:02] aaronschachter commented on #2394
Ready for theming. Assigning over to @tjrosario

[2014-06-12 20:16] aaronschachter commented on #2395
@mikefantini Per our conversation at standup this morning, do you want to list out a few values for a "Flagged reason" dropdown? Do we want to also add an additional textarea for editors to provide any more info?

[2014-06-12 20:19] aaronschachter opened #2511 "Reportback: Add file details to the entity display"
When viewing a reportback, display details for each file:
- [x] IP Address (`dosomething_reportback_file.remote_addr`)
- [x] Date uploaded (on the File entity)
- [x] Link to actual file

[2014-06-12 20:24] aaronschachter opened #2513 "Import legacy campaign activity"
This is a big task.  Import legacy reportbacks (records in `webform_submission`) into relevant beta reportbacks.

Relevant legacy tables:
- `dosomething_signups` (newer campaigns)
- `webform_submissions`
  - all reportbacks are webform submissions with type=`campaign_report_back`
  - old signups were webform submissions for type=`campaign_sign_up`
  - there is a webform entity field, `webform_pict

[2014-06-12 20:33] mikefantini commented on #2395
@aaronschachter instead of a drop down could we do check boxes? I could see different content being flagged for multiple reasons and us wanting to treat content flagged for different reasons differently.

For instance, values that make sense:
- inappropriate
- irrelevant
- unrealistic output (open to better name... basically this is the b.s. category)

Rules that would make sense:
- for all tags -

[2014-06-12 20:53] barryclark commented on #2502
@angaither this is more of a bendery issue—assigning over to you. The title tag should say the user's name instead of the ID.

[2014-06-12 21:10] aaronschachter commented on #2402
@angaither Were you thinking of adding a new field for to control this display?

[2014-06-12 21:18] aaronschachter opened #2515 "Reportback: Flagged filter"
Expose Flagged/Not flagged as a filter within Reportbacks view. By default should exclude Flagged reportbacks

[2014-06-12 21:40] aaronschachter opened #2517 "Reportback: Delete file upon flagged as inappropriate"
Refs #2395

Implement hook_flag type hook to delete the reportback files upon being flagged for inapproriate.

[2014-06-12 21:46] aaronschachter commented on #2444
So.. somehow I lost the vagrant-salt plugin. Back in action.

[2014-06-12 21:46] #2444 closed, assigned to mshmsh5000

[2014-06-13 14:23] aaronschachter opened #2518 "Disable, uninstall, and remove DoSomething Legacy module"
- [x] Disable and uninstall DoSomething legacy on production
- [x] Remove DS Legacy module from repo
- [x] Also remove MOMM variable from settings file.
- [x] Do a search in all DS modules/themes for references to DS Legacy and remove.

[2014-06-13 14:26] barryclark commented on #2480
Would be great to just display the signup count & quantity sum (without flags). That's enough to close this out. Shooting this one over to you @angaither

[2014-06-13 14:32] barryclark commented on #2449
Current status: we're storing pre-signups for each campaign and next need to decide how we're going to send them emails before the campaign launches and also how we add them to the bucket for email subscriptions for that campaign.

Closed this related MailChimp issue out for now: https://github.com/DoSomething/message_broker_producer/issues/35

[2014-06-13 14:37] aaronschachter commented on #2494
This is not in place because the `<h4>` elements need a class `inline--alt-color`.  Check out the `node--campaign.tpl.php`.  Sending this one over to @tjrosario as he's working in the closed template.

[2014-06-13 15:22] #2377 closed, assigned to blisteringherb

[2014-06-13 15:27] aaronschachter commented on #2279
This makes it a lot harder to debug using the dblog table, because it's flooded with these.  Can we confirm this isn't happening on production?

Also @mshmsh5000 -- thoughts on using the production database for staging at this point?  The problem here would be that the size of the users table is substantially bigger.. and not sanitized.

[2014-06-13 15:28] barryclark commented on #2427
Shooting this user profiley one over to you @angaither

[2014-06-13 15:29] angaither opened #2521 "Add .fuse_hidden files to .gitignore"
to stop this crazy stuff.

![](http://cl.ly/image/183K3v1C3A0y/Screen%20Shot%202014-06-13%20at%2011.29.04%20AM.png)

[2014-06-13 15:31] barryclark commented on #2513
Could be a great one for you to work on @sergii-tkachenko? cc @mshmsh5000

[2014-06-13 15:32] angaither commented on #2279
You can clear that stuff out locally by just changing node authors, set them all to uid 1.

[2014-06-13 15:33] aaronschachter commented on #2513
Besides the DB import scripts, this will require copying files from legacy over to beta.  Or... keeping it on the legacy server but somehow pointing it there?  Or... moving it all those files into the cloud somewhere.

[2014-06-13 15:37] weerd commented on #2307
This will be fixed in PR #2519

[2014-06-13 15:39] barryclark commented on #2377
:+1:

[2014-06-13 15:47] barryclark opened #2523 "Campaign Runs - Report backs should be attached to campaign signups (?)"
This issue is not confirmed for build yet, but serves as a placeholder for discussion.

@aaronschachter's notes here: https://gist.github.com/aaronschachter/cf17cb60d820a6f02c5c

[2014-06-13 15:50] aaronschachter commented on #2279
Locally I ran `UPDATE node SET uid = 1` and confirmed I don't see them anymore.  I've run this query on stage so it won't show up for everyone upon their next db staging pull.

[2014-06-13 15:59] #1177 closed, assigned to weerd

[2014-06-13 15:59] #1206 closed, assigned to weerd

[2014-06-13 15:59] #2028 closed, assigned to weerd

[2014-06-13 15:59] #2293 closed, assigned to weerd

[2014-06-13 15:59] #2307 closed, assigned to weerd

[2014-06-13 15:59] #2425 closed, assigned to weerd

[2014-06-13 16:00] #2383 closed, assigned to aaronschachter

[2014-06-13 16:26] weerd commented on #1791
I'm going to add the underline to the sponsor link in this info-bar footer as well. Since the contact us will have a link, makes sense for the sponsor to have it as well, otherwise there's an inconsistency in link treatment in the info bar.

[2014-06-13 16:32] weerd opened #2525 "[Campaign] Toyota background image needs to be resaved and imported"
Just noticed this but the background image used in the "Prove It" section of the Thumb Wars campaign has a 1 pixel transparency on the top and left sides which is causing it to have visible seams when the image tiles. See image below:

![screen shot 2014-06-13 at 12 24 00 pm](https://cloud.githubusercontent.com/assets/105849/3272446/1b8fba36-f318-11e3-940d-12f7a98d37d8.png)

Just need to resave th

[2014-06-13 16:33] weerd commented on #1791
There's a PR in Neue which once merged will update this :)

[2014-06-13 16:38] weerd commented on #2525
Turns out it's just on staging. So it's a non-issue!

[2014-06-13 16:38] #2525 closed, assigned to barryclark

[2014-06-13 16:42] weerd commented on #1916
I could do this one quick since it's within the stuff I worked on w/ the campaigns template refactor. Just lemme know :)

[2014-06-13 16:44] #2521 closed, assigned to angaither

[2014-06-13 16:47] mikefantini opened #2526 "[Campaign Template] - clean up spacing in Prove It section"
@crystalruthbell - @weerd made rules more consistent on the template.

Some things I'd love your input on:
- treating space of primary button same as secondary button (I think we should give more space between primary button and copy than secondary button and copy)
- location of official rules (@weerd updated it so that it gets vertical space treatment like Sources, would love you to confirm this

[2014-06-13 16:47] weerd commented on #2440
Did this convo happen??

[2014-06-13 16:48] weerd commented on #2440
Oh wait. I was part of this convo. haha.

[2014-06-13 16:51] weerd commented on #2440
I'll temp fix this in the container, but this will be properly addressed once we hear back from @crystalruthbell and design team regarding the named class hierarchy for headings, (ie: .alpha, .beta, .gamma, .delta, etc...)

[2014-06-13 16:54] barryclark commented on #1916
Yep, assigning over to you @weerd thanks

[2014-06-13 17:02] #2402 closed, assigned to angaither

[2014-06-13 17:02] #2481 closed, assigned to angaither

[2014-06-13 17:16] aaronschachter commented on #2506
Fixed yesterday.

[2014-06-13 17:16] #2506 closed, assigned to nobody

[2014-06-13 17:19] #2440 closed, assigned to weerd

[2014-06-13 17:20] weerd commented on #1791
Should be updated once Neue is updated on stage.

[2014-06-13 17:20] #1791 closed, assigned to nobody

[2014-06-13 17:32] sergiitk commented on #2513
I've discussed this issue with @barryclark. I'll deploy legacy site to my local env next Monday and start playing with it so I can ask right questions here.

[2014-06-13 17:36] aaronschachter commented on #2513
Updated issue description with relevant tables to check.

[2014-06-13 18:28] #2443 closed, assigned to mshmsh5000

[2014-06-16 13:57] aaronschachter opened #2531 "User URL pattern"
We're currently storing 1571614 unnecessary aliases for user profiles.

![url-aliases](https://cloud.githubusercontent.com/assets/1236811/3287935/0535410a-f55e-11e3-918a-82c40f69a970.png)
- [x] Set user pathauto pattern to the default URI: `user/[user:uid]`. This will prevent alias records from being created
- [ ] Delete all user aliases in prod db.

[2014-06-16 14:04] #2237 closed, assigned to nobody

[2014-06-16 14:21] aaronschachter opened #2532 "Remove Simpletest dependency from DS User"
It's a dependency because user permission for Simpletest is defined here.  Ideally we should just uninstall Simpletest and re-install in order for admin's to get the role.

[code]

[2014-06-16 15:00] mikefantini opened #2533 "[SMS game] - Know It Image Needed"
Need an image field in the Know It section for SMS Games. This serves the purpose of showing the user what they can expect to receive by playing the game. Also makes the page a bit more visually interesting.

Maybe we can just use the Video Replacement Image field. It might make sense to change the field name for this, especially since we aren't using it as a video replacement ever. Maybe we just

[2014-06-16 15:41] aaronschachter opened #2535 "Reportback: Add record to file_usage"
- [ ] Upon adding a new file, a record should be added to the `file_usage` table.
- [ ] Update all existing reportback file records to add a record into `file_usage` for each file.  This may need to be done via cron queue.

I don't see this happening, but this is terriyfing: http://drupal.stackexchange.com/questions/60445/why-is-drupal-deleting-my-images

But this seems to suggest it won't be dele

[2014-06-16 15:43] mikefantini opened #2536 "[SMS game] - Starter Statement Header field needed"
We need a header for the Campaign Specific Starter Statement.

This would only be used on SMS Games, not normal campaigns. I'm fine with just sticking it in the Starter Statement group. If we do that let's go with:
- field name: Starter Statement Header
- help text: If you are creating a standard campaign, leave this field blank. If you are creating an SMS game, you must fill it out. **Limit: 25 c

[2014-06-16 16:06] deezone opened #2537 "Update mbp admin path"
The `dosomething_mbp` admin interface should use the new `admin/config/dosomething` path.

[2014-06-16 16:09] mikefantini opened #2538 "[SMS game] - need to display copy indicating # of ppl who have participated in SMS Games"
We want to show users how many ppl have participated in SMS games since they launched back in 2012.

Ideally this would be automated so we don't have to update copy on an ongoing basis, but that's not needed just yet if that's too difficult for launch.

@Bladt @joshcusano do you have thoughts on how to show the total number of people who have participated in SMS Games?

![image](https://cloud.gith

[2014-06-16 16:15] #570 closed, assigned to blisteringherb

[2014-06-16 16:15] #2455 closed, assigned to nobody

[2014-06-16 16:15] #2532 closed, assigned to barryclark

[2014-06-16 16:29] weerd opened #2539 "[Campaign] Remove all unused styles, now that "container" module implemented."

[2014-06-16 16:41] weerd commented on #2539
Now that the campaign template has the `.container` module implemented, need to remove all the old styles that used to apply to the campaign.

[2014-06-16 16:57] #2539 closed, assigned to weerd

[2014-06-16 16:58] mikefantini opened #2541 "[SMS game] - prompt user to create account/log in on confirmation page"
For SMS Games, we should prompt the user to create an account or log in after they have submitted the form.

Let's take the real estate we give to "Find More Campaigns" and replace it with this call out.

Clicking on the button should prompt auth modal.

Ideally we would have CTA copy above the button like we do on static content.

@aaronschachter let me know how you want to handle this copy... I

[2014-06-16 17:01] mikefantini opened #2542 "[SMS game] - retroactively add SMS game to user profile if create account/log in after completing"
Related to #2541 if a user logs in or creates an account after completing an SMS game we should add the SMS game to her user profile under the campaigns completed section as she should retroactively get credit for doing the campaign.

[2014-06-16 18:21] aaronschachter opened #2544 "Cron funkyness"
Per hipchat convo 6/16/2014 12:57PM. Checked the `admin/reports/status` in production, and it said that Cron had last run 2 months 2 weeks ago.

12:59 PM Morgan: Hm, I do see some failures in Jenkins, but it looks like the last successful cron run was at 10:20am http://admin.dosomething.org/jenkins/job/Drupal-Cron/21714/

We ran cron manually, and the admin/reports/status date updated.  However th

[2014-06-16 18:48] #2382 closed, assigned to tjrosario

[2014-06-16 19:40] #1560 closed, assigned to aaronschachter

[2014-06-16 19:54] #2394 closed, assigned to tjrosario

[2014-06-16 19:54] #2379 closed, assigned to tjrosario

[2014-06-16 20:16] aaronschachter opened #2549 "Reportback View tweaks"
- [x] Fix link to Reportback entity.  It's inserting a space character: http://staging.beta.dosomething.org/reportback/16%20, causing the reportback entity to think it's not in full view mode
- [x] Sort by File FID.  This is nasty but because we've added File Entity late into the game, as File Entity processes the file type of each image we have uploaded, it updates its timestamp value to the date

[2014-06-16 21:29] mikefantini opened #2552 "[SMS game] - need to add custom settings to sms games"
needed so that editors can change header text color and add background.

alternative is that we just use the same background for every SMS game, but I don't necessarily trust that we will want to stick with this one for all games, AND we'll need the ability to change header text color anyway

![image](https://cloud.githubusercontent.com/assets/6330971/3293337/ea9ff2ae-f599-11e3-9490-3edc803e458f.p

[2014-06-17 13:51] #2549 closed, assigned to aaronschachter

[2014-06-17 15:05] tjrosario commented on #2490
I've made this it's own pattern specific to campaign closed for now, but we should consider porting it over to neue.  I left a todo comment in the CSS just as a reminder.

[2014-06-17 15:06] aaronschachter opened #2556 "[SMS Game] Theme All Participants copy"
Fender task for #2538

Copy will be available upon merging #2555

[2014-06-17 15:08] #2427 closed, assigned to angaither

[2014-06-17 15:08] #2480 closed, assigned to angaither

[2014-06-17 15:12] #2538 closed, assigned to aaronschachter

[2014-06-17 15:13] aaronschachter commented on #2538
This is just implemented as a copy field for now. Can revisit if we want the # to be grabbed from somewhere.

[2014-06-17 15:14] #2489 closed, assigned to tjrosario

[2014-06-17 15:25] weerd commented on #2474
![joined the dark side](http://www.stargroup1.com/sites/default/files/uploads/the-dark-side1.jpg)

[2014-06-17 15:32] aaronschachter commented on #2533
Would be best to use this existing field.

Technically we do use this as a Video Replacement though -- I guess you mean that no one has ever uploaded one?  Renaming this to "Know It Image" is fine, however there should still be copy that suggests it will only be displayed if a Video is not set.

[2014-06-17 15:36] aaronschachter commented on #2533
I'll update the field to say "Know It" image. The template is already set up to output the image: http://staging.beta.dosomething.org/node/1199

[2014-06-17 15:42] mikefantini opened #2558 "[campaign close] - remove scholarship amount from header"
If a campaign is in the closed state, we should no longer display the scholarship amount

![image](https://cloud.githubusercontent.com/assets/6330971/3302583/d24a9ffa-f635-11e3-80ef-e123ce7e476a.png)

@barryclark @tjrosario @angaither we could always just remove the scholarship amount from the campaign node but I'd rather keep it and just not display it

@barryclark not sure if this is fender or b

[2014-06-17 15:50] #2533 closed, assigned to aaronschachter

[2014-06-17 15:50] #2536 closed, assigned to aaronschachter

[2014-06-17 15:50] #2552 closed, assigned to aaronschachter

[2014-06-17 15:52] mikefantini opened #2560 "[campaign close] - prevent auth/anon users from visiting the campaign run node directly"
since we have to publish campaign run nodes, let's add a check that prevents auth/anon users from visiting the campaign run node directly, like how we do for Facts or Image nodes

@barryclark assigning to you to assign out

[2014-06-17 15:53] #2474 closed, assigned to aaronschachter

[2014-06-17 16:03] aaronschachter commented on #2541
@mikefantini So we just need copy for what the "Find More Campaigns" button says?  Or an additional sentence besides that?  Would be helpful to provide default text, although we can build it to use variables to override, to avoid making copy changes in code.

Also i take it that the desired behavior is to login and then direct to `/campaigns` ?

[2014-06-17 16:14] mikefantini commented on #2541
yeah we need copy for what the button says and an additional sentence besides that

@julielorch want to get @aaronschachter default copy for these?

in terms of behavior I think it makes most sense to give the user the normal account creation notification message and just reload the page but defer to @julielorch to make the final call on that

[2014-06-17 16:15] aaronschachter commented on #2541
It is much simpler for us to reload the page vs. redirecting.

[2014-06-17 16:22] aaronschachter opened #2561 "Field Collection index error"
Upon pushing https://github.com/DoSomething/dosomething/releases/tag/v0.2.98 to stage, noticed that features were not reverted. Attempted to clear cache through the admin menu and:

[code]

This issue was marked as fixed in https://drupal.org/node/2141781, but as committed to the dev branch of Field Collection.

[2014-06-17 16:23] weerd opened #2562 "[Campaign] Create module hook to update all campaign DO IT post copy fields."
DO IT post copy fields in campaigns were updated to use markdown, however each campaign needs to be saved to correctly set all the text_formatting values. Need to create a module hook to save and set these values across all campaigns.

[2014-06-17 16:24] aaronschachter commented on #2561
Doesn't look fun.

vagrant@dev:/var/www/vagrant$ drush @ds.staging cc all
WD php: DatabaseSchemaObjectExistsException: Cannot add index            [error]
field_faq_revision_id to table field_data_field_faq: index already
exists. in DatabaseSchema_mysql->addIndex() (line 437 of
/var/www/beta.dosomething.org/releases/20140617160537/html/includes/database/mysql/schema.inc).
DatabaseSchemaObjectExist

[2014-06-17 16:31] aaronschachter commented on #2561
The d.o commit which has marked the issue as resolved is this one

https://drupal.org/commitlog/commit/16250/ae778f23f8e0968fa3a10a727c6e26c6e63309a0

[2014-06-17 16:31] mikefantini opened #2563 "[campaign close] - text treatment for default text if waiting for output results"
How it currently looks with field_total_quantity_label and field_total_quantity left blank:
![image](https://cloud.githubusercontent.com/assets/6330971/3303125/7b64299e-f63b-11e3-8dad-012e78c42b2a.png)

How it's meant to look per the mocks:
![image](https://cloud.githubusercontent.com/assets/6330971/3303143/c9f01672-f63b-11e3-8ae1-186c4a1a9d8b.png)

So basically we need to:
- [ ] change the font f

[2014-06-17 16:34] barryclark commented on #2558
Assigning over to @tjrosario to take a look at, and can pull in bender help if needed.

[2014-06-17 16:35] barryclark commented on #2490
Awesome, @tjrosario. Thanks.

[2014-06-17 16:37] barryclark commented on #2560
Would you be able to take a look please, @angaither?

[2014-06-17 16:38] mikefantini opened #2564 "[campaign close] - positioning of members participated if that's the only number"
When field_total_participants is filled out but field_total_quantity_label is left blank, the # of members participated should be centered.

Currently it is still hovering left.

![image](https://cloud.githubusercontent.com/assets/6330971/3303246/3603783a-f63d-11e3-8426-c13fc6e42467.png)

Making this a low priority right now because I don't think any of our campaigns we're closing right now will o

[2014-06-17 16:44] mikefantini commented on #2558
also need this language in its place (so just removing scholarship info doesn't really work)

text reads "we'll hit you up when it re-opens"

![image](https://cloud.githubusercontent.com/assets/6330971/3303360/8b6ddae4-f63e-11e3-9093-646b88118139.png)

[2014-06-17 16:44] mikefantini commented on #2558
also I tried just removing the scholarship amount and that text above did not appear

[2014-06-17 16:52] aaronschachter commented on #2561
Currently testing a build with said commit. ^^ to see if it resolves, but it does sign us up to use the latest dev branch.  @desmondmorris Do you know if when we've run into this in the past, has it just been fixed by manually removing the offending index from the database table? @angaither @blisteringherb Have you run into this issue before?

[2014-06-17 16:54] aaronschachter commented on #2558
I don't think the proper way to handle this would be through removing the field vlaue, especially since we need language to display there instead.  Sounds like this should be handled in preprocessing.

[2014-06-17 16:56] mikefantini opened #2566 "[campaign close] - notify me doesn't provide notification message and button remains"
per #2449 when a user clicks on the Notify Me button and creates an account they should get the notification message "Sweet, we'll send you an email as soon as [campaign_title] re-opens. In the meantime find a campaign you can do right now." Find a campaign should link to /campaigns.

Also the button should be removed if the user has already asked to be notified.

Just tried going through this flo

[2014-06-17 16:57] mikefantini commented on #2566
also would be good to confirm that I got added to the pre-signup table..

Email address for when I was already logged in was mfantini+sonicyouth@dosomething.org

[2014-06-17 17:01] weerd commented on #2460
Is there a specific browser to test on? In chrome they show up as a suggestion but doesn't autofill...

[2014-06-17 17:05] mikefantini commented on #2558
yeah agreed

[2014-06-17 17:17] mikefantini commented on #2460
@weerd looks like it's happening in chrome.. check out **removing user video** at the 7:00 minute mark

The issue is that when you select on the of the suggestions for your mobile number it also puts them in for all of the other mobile fields

[2014-06-17 17:30] weerd commented on #2460
Might be just in Chrome on Windows. I can't replicate on mac. Going to try in BrowserStack on Chrome :disappointed:

[2014-06-17 17:42] mikefantini opened #2568 "[campaign close] - winner section subheader, not pulling in type of winner"
Need to pull in type of winner and affix "Winner" to the end of it like we have in the mocks:
![image](https://cloud.githubusercontent.com/assets/6330971/3303999/10b4d6b0-f646-11e3-81a1-d6a9cda9fcef.png)

So we should pull in field_winner_type and then affix "Winner" to it, so if I select Scholarship as the field_winner_type, the page would read "Scholarship Winner"

Currently looks like:
![image]

[2014-06-17 17:48] barryclark commented on #2460
We can't seem to replicate this @mikefantini. Lowering priority and will see if Diego V can replicate it.

[2014-06-17 18:06] mikefantini opened #2569 "[campaign close] - Additional Text header needs consistent treatment"
field_additional_text_title should get the same treatment as other headers (ex: field_gallery_title)

![image](https://cloud.githubusercontent.com/assets/6330971/3304373/d6895c82-f649-11e3-8e8e-5c7f2ba838f7.png)

[2014-06-17 18:10] mikefantini opened #2570 "[campaign close] - add commas to signup and output numbers"
Let's add commas to these numbers so that they are more readable:

![image](https://cloud.githubusercontent.com/assets/6330971/3304434/83c463ba-f64a-11e3-8215-eabc3ed41c5a.png)

@barryclark assigned over to you

[2014-06-17 18:14] aaronschachter commented on #2558
Shouldn't the "Ends June 20" copy be removed too?

[2014-06-17 18:15] mikefantini commented on #2558
yeah good catch @aaronschachter

[2014-06-17 18:18] #2492 closed, assigned to tjrosario

[2014-06-17 18:19] aaronschachter opened #2571 "[Campaign Close] Remove "Ends June 20" date"
Per https://github.com/DoSomething/dosomething/issues/2558#issuecomment-46344495 -- remove this text header.

[2014-06-17 18:50] aaronschachter commented on #2570
We'll need editorial to know that these are always numbers, or should enforce. This was specifically implemented as a text field in case we ever wanted a "Over 10,000".

[2014-06-17 18:57] #2571 closed, assigned to tjrosario

[2014-06-17 19:04] #2491 closed, assigned to tjrosario

[2014-06-17 19:24] #2568 closed, assigned to tjrosario

[2014-06-17 19:29] #2490 closed, assigned to tjrosario

[2014-06-17 19:32] #2560 closed, assigned to angaither

[2014-06-17 19:32] #2558 closed, assigned to aaronschachter

[2014-06-17 19:32] #2566 closed, assigned to aaronschachter

[2014-06-17 19:32] #1776 closed, assigned to weerd

[2014-06-17 19:35] barryclark commented on #2570
@aaronschachter So editorial can just put "100,000" in there then? So we can close this? @mikefantini

[2014-06-17 19:36] aaronschachter commented on #2570
Yes they can. If we want to hardcode rules of numbers and adding commas, then the issue is open, but if we want flexibility, then editorial can add commas (and we have ability to have non-numeric values here)

[2014-06-17 19:38] barryclark commented on #2380
@mikefantini Do you know what the next steps are on this issue?

[2014-06-17 19:39] barryclark commented on #2560
@angaither Thanks!

[2014-06-17 19:39] mikefantini commented on #2570
hmmm I guess I'm fine with having people add in commas.. I don't think we'll ever use these fields as our be-all end-all data documentation for how the campaign went anyways.

closing out for now

[2014-06-17 19:39] #2570 closed, assigned to barryclark

[2014-06-17 19:40] #2378 closed, assigned to tjrosario

[2014-06-17 19:52] crystalruthbell commented on #2380
I would rather us reference this as a quote and NOT link to twitter than use all their formatting restrictions. If anyone has more express concerned I'm happy to chat in person, not sure I fully understand still why we can ship as displayed in Tom's design below.

http://screencast.com/t/nKHQvMZG

[2014-06-17 19:55] barryclark commented on #2380
@crystalruthbell The reason we've been hesitant about it is that you're not allowed to quote tweets without using Twitter's official widget thing (that Mike screenshotted above). Otherwise you're basically stealing their content and displaying it on your own site.

However:

a) We won't always be using this to display tweets.

and

b) It seems unlikely that we'll run into problems with twitter.

.

[2014-06-17 20:20] weerd opened #2577 "[SMS Campaign] Add capacity for showing uploaded background pattern."
Enable background image now that field has been added to the SMS campaign.

[2014-06-17 20:25] #2577 closed, assigned to weerd

[2014-06-17 20:32] weerd commented on #2460
Chatted w/ @DFurnes and we found this: http://css-tricks.com/snippets/html/autocomplete-off/

No guarantee a browser will listen to it, but it's something.... Might need some bender-ing help to override the form fields and add this attribute.

[2014-06-17 20:35] mikefantini commented on #2380
fine by me.. i know @mshmsh5000 had concerns but we could get around this I think just by not using the actual tweet and linking out to it?

and yeah it won't always be tweets so this may not even be an issue.

[2014-06-17 20:42] barryclark commented on #2451
@weerd Would you be able to pick this one up to knock out this sprint plz?

[2014-06-17 20:47] aaronschachter commented on #2561
I had this working, and tried to start from the stage DB and run again to confirm.  I keep getting this crazy error.

PDOException: SQLSTATE[22001]: String data, right truncated: 1406 Data too long for column &#039;filename&#039; at row 1: UPDATE {system} SET filename=:db_update_placeholder_0
WHERE  (filename = :db_condition_placeholder_0) ; Array
(
    [:db_update_placeholder_0] => profiles/dosom

[2014-06-17 20:50] aaronschachter commented on #2279
This is still happening.

[2014-06-17 20:58] aaronschachter commented on #2279
Ran `UPDATE node_revision SET uid = 1;` on stage

[2014-06-17 20:59] #2561 closed, assigned to nobody

[2014-06-17 21:26] aaronschachter commented on #2279
Still occurs, with `node` and `node_revision` uid columns all set to 1.

[2014-06-17 21:32] aaronschachter opened #2579 "dosomething_campaign_preprocess_page PHP notices, warnings"
http://staging.beta.dosomething.org/node/1199/confirmation

Notice: Undefined index: und in dosomething_campaign_preprocess_page() (line 295 of /var/www/beta.dosomething.org/releases/20140617211559/lib/modules/dosomething/dosomething_campaign/dosomething_campaign.module).

http://staging.beta.dosomething.org/campaigns

Notice: Trying to get property of non-object in dosomething_campaign_preprocess

[2014-06-17 22:14] #2569 closed, assigned to tjrosario

[2014-06-18 14:02] crystalruthbell opened #2580 "Pitch page login should take user back to pitch page (not sign them up)"
Currently - user clicks login on any pitch page and it directs them to the action page after sign up or account creation.

Aspirational - user logs in or creates an account and at the end of the auth flow the modal goes away and they are on the same pitch page and one click away from sign up.

[2014-06-18 14:10] weerd opened #2582 "[SMS Campaign] Overlay the info bar on the last container with background."
Similar to the general campaign action page template, the info bar at bottom needs to overlay on top of the last container.

[2014-06-18 14:19] apatheticslacker opened #2583 "[Campaigns] Redirect Loop Error"
So Daniel brought this up to me earlier, but when you look up what seems to be either an unpublished or old campaign, you're given a redirect loop error. The campaign we were looking at was this. https://www.dosomething.org/campaigns/fight-fire-cookies
![campaigns bug](https://cloud.githubusercontent.com/assets/7773483/3314688/66d31978-f6f3-11e3-9239-3b5231e892f3.png)

[2014-06-18 14:23] aaronschachter commented on #2583
That's weird. Viewing this as an admin, this message is displayed:

Searching for this text in the repo is not giving me any results...

[2014-06-18 14:28] apatheticslacker commented on #2583
@aaronschachter Is the error message this? I got that as well when I was signed in.
![infinite loop](https://cloud.githubusercontent.com/assets/7773483/3314819/cd419fa8-f6f4-11e3-9550-130db28e646e.png)

[2014-06-18 14:30] barryclark commented on #2580
@crystalruthbell Why would you want to add in another click after the user auths? They've already clicked that button. As a user I think I'd prefer the current implementation.

cc @mikefantini

[2014-06-18 14:30] angaither commented on #2279
![](http://cl.ly/image/0I3e110a3r1u/Screen%20Shot%202014-06-18%20at%2010.29.07%20AM.png)

All the node authors were still anonymous, just updated them so they were all admin.

![](http://cl.ly/image/462j0c0M1M3T/Screen%20Shot%202014-06-18%20at%2010.30.36%20AM.png)

[2014-06-18 14:30] #2279 closed, assigned to angaither

[2014-06-18 14:31] aaronschachter commented on #2583
Yep that's it.  It's being set by the Redirect module (hence not finding it in our repo)

http://drupal.stackexchange.com/questions/54813/path-alias-creates-redirect-loop-or-redirects-to-the-front-page

Labelling as a Bender task.

[2014-06-18 14:33] aaronschachter commented on #2580
The gotcha here is that they're not clicking on "Sign up" but the Login in the right hand corner.  You wouldnt' expect this to automatically sign you up for the campaign.  It's because both buttons are opening up the same login/register modal.  We'd need either separate forms for login/register+signup and just login/register.. or the ability to pass an argument to the form via click events on the

[2014-06-18 14:34] aaronschachter commented on #2279
Oh, I forgot I had to actually `node_save`.  Did you do this via script and saving the nodes?

[2014-06-18 14:35] DFurnes commented on #2580
~~I think the problem is if the user clicks the login button on the pitch page, it automatically signs them up even though they didn't click the blue "sign up" button.~~ @aaronschachter Yep.

One solution would be to have a hidden "clicked_signup_button" field on the login modal form that gets set to `1` through JavaScript if the user enters the form through the signup button. That way we don't ne

[2014-06-18 14:37] barryclark commented on #2580
Gottit, thanks.

[2014-06-18 14:51] apatheticslacker opened #2584 "Multiple Selection Filter Error"
Uh, so I'm having this really weird issue on both staging and the regular site where I go ahead and basically select two campaigns at once, and I'll get this weird "Ooof! We're not sure what's up? Maybe it's us, or it could be your internet connection. Want to try again in a few minutes?" message. It's even happened to me when I've unselected a campaign and I'm not entirely sure why.

On The Regul

[2014-06-18 14:58] aaronschachter commented on #2443
Confirmed this fixed on stage.

[2014-06-18 14:59] #2563 closed, assigned to tjrosario

[2014-06-18 14:59] #2564 closed, assigned to tjrosario

[2014-06-18 14:59] tjrosario commented on #2380
Closing since we are sticking with current implementation.

[2014-06-18 15:36] #2582 closed, assigned to weerd

[2014-06-18 15:50] barryclark opened #2587 "Campaign Finder - Automate removal of closed campaigns from finder"
When a campaign is closed by the campaigns team it'd be great if we could automate the removal of it from the Campaign Finder and /campaigns.

(for now campaigns team are going to add a Trello card notifying @blisteringherb to remove it manually)

[2014-06-18 15:50] barryclark commented on #2584
:boom: Sweet bug dudes

[2014-06-18 17:13] tjrosario commented on #2494
This was fixed in a previous PR!

[2014-06-18 17:13] #2494 closed, assigned to tjrosario

[2014-06-18 18:16] #2273 closed, assigned to aaronschachter

[2014-06-18 19:01] mikefantini commented on #2541
@aaronschachter if possible, I think it would make sense to keep it as is (i.e. find more campaigns) if the user is already logged in.

This could also be the state when the page re-loads if the user filled out the form as anon but then logs in.

If all of that is too difficult, we _could_ just not show the call out to join.

[2014-06-18 19:42] aaronschachter commented on #2541
Per #2591:
- The copy will be editable through the admin interface at `admin/config/dosomething/dosomething_campaign`
- Only displays the CTA copy variable for anonymous users
- Keeps the button text as "Find more campaigns" if the user is already logged in.

[2014-06-18 19:54] weerd opened #2592 "[SMS Campaign] Update output location and markup for new callout."
Sample output:

[code]

The classes will likely be different. Also depending on the formatting the `<p>` tag surrounding the copy might already be output by Drupal.

[2014-06-18 20:04] aaronschachter commented on #2592
@weerd Can you specify where in the markup this should live? You mentioned moving it out of that `group2` fieldset ?

[2014-06-18 20:06] aaronschachter commented on #2592
discussed with @DFurnes . Ideally the markup classes would be placed via `hook_form_alter` in the theme, but we haven't really been consistent with that at this point. Going to open a refactor/cleanup issue, as we'll want to discuss best place for the code to live.

[2014-06-18 20:28] aaronschachter opened #2594 "Refactor: Move form element attributes (classes, validators) into theme template.php"
Move all neue specific classes, validators out of the DS custom module form constructors and into the theme via `hook_form_alter`.

[2014-06-18 21:35] weerd commented on #2453
Working on this as a pattern now that it's not just for scholarships!

[2014-06-18 21:36] weerd commented on #2556
@aaronschachter is working on some bendering for the output for this. Labeling this as blocked for now until that's set ;)

[2014-06-18 21:54] mikefantini commented on #2380
@tjrosario looking at some of the current content being put in @mshmsh5000 suggested you take a stab at implementing this tomorrow.

@crystalruthbell is going to grab some time on your calendar after you've had a chance to play with this a bit

[2014-06-18 22:15] mikefantini opened #2596 "[campaign close] - create new image crop"
now that we have the media style gallery with thumb nail images I think 640x640 is too restrictive for a minimum image size for photos.

Can we reduce it to 300x300 for now?

We can always change it back if we end up implementing #2380 and don't think this will disrupt other times we try to go with this two column gallery.

[2014-06-18 22:49] mikefantini opened #2597 "[campaign close] - if no custom alt color is set, impact numbers should be purple"
![image](https://cloud.githubusercontent.com/assets/6330971/3321676/c5a692da-f73a-11e3-8fd1-27d6b77715a4.png)

[2014-06-19 11:53] #2541 closed, assigned to aaronschachter

[2014-06-19 11:55] aaronschachter commented on #2556
It's ready for review @weerd https://github.com/DoSomething/dosomething/pull/2593

[2014-06-19 12:38] mikefantini opened #2598 "[campaign close] - change "CONGRATULATIONS TO..." to "CONGRATS TO...""
Goes over on mobile. I think we should just shorten it.

cc: @crystalruthbell

![photo 1 2](https://cloud.githubusercontent.com/assets/6330971/3327391/67f2d242-f7ae-11e3-9723-2d0d74c74bca.PNG)

[2014-06-19 12:39] mikefantini opened #2599 "[campaign close] - totals running over on mobile"
Totals are running over on mobile:

![photo 3](https://cloud.githubusercontent.com/assets/6330971/3327406/aa75ba58-f7ae-11e3-9aad-3f52ed346ccf.PNG)

[2014-06-19 12:40] mikefantini opened #2600 "[campaign close] - video is running over edge on mobile"
![photo 2](https://cloud.githubusercontent.com/assets/6330971/3327412/d8979d48-f7ae-11e3-9a98-fe8a9bc323e7.PNG)

[2014-06-19 14:10] DFurnes commented on #2596
Where are we getting these 300x300 photos from? That's very low resolution.

[2014-06-19 14:18] #2592 closed, assigned to aaronschachter

[2014-06-19 14:38] #2597 closed, assigned to tjrosario

[2014-06-19 14:38] #2598 closed, assigned to tjrosario

[2014-06-19 14:38] #2599 closed, assigned to tjrosario

[2014-06-19 14:38] #2600 closed, assigned to tjrosario

[2014-06-19 14:49] mikefantini commented on #2596
@DFurnes some of them are coming from twitter.. we'll be chatting about this post-stand up today if you want to join

[2014-06-19 14:59] mikefantini opened #2602 "[campaign close] - update members participated label"
should be Members Participated, not members participated

![image](https://cloud.githubusercontent.com/assets/6330971/3328979/3f03e4b6-f7c2-11e3-900b-a457bf469e7f.png)

[2014-06-19 15:10] mikefantini commented on #2380
and re-closing based on @crystalruthbell's discussion with nancy

[2014-06-19 15:10] #2380 closed, assigned to tjrosario

[2014-06-19 15:14] barryclark commented on #2380
Reasoning was that we're not too concerned about the legal aspect and do want to maintain our design standards.

[2014-06-19 15:27] mikefantini commented on #2596
updated the title

let's call this "thumbnail"

minimum size is 200x200

[2014-06-19 15:31] joolaay commented on #2541
Sweet @aaronschachter

[2014-06-19 15:34] crystalruthbell commented on #2380
Hey team, thanks for all your concerns and research around this. @barryclark good summary, we are going to move forward with the mocked design for this section understanding the legal because it best fits with scalable design principles.

![screen shot 2014-06-19 at 11 33 49 am](https://cloud.githubusercontent.com/assets/6550604/3329456/2139fab0-f7c7-11e3-9c13-2338a9c3761b.png)

[2014-06-19 15:40] mikefantini opened #2604 "[campaign close] - if a report back is missing the thumbnail image in the view you can't promote it"
both Hilary and I tried with this one and got the error message below. she later tried with one that did show the image and it worked properly

![image](https://cloud.githubusercontent.com/assets/6330971/3329540/d974c470-f7c7-11e3-8429-9a9e5d0c9702.png)

[2014-06-19 16:05] mikefantini commented on #2460
Happening for me on Chrome in Windows 7:

**Removed potential sensitive phone number - Barry**

not happening in Firefox

[2014-06-19 16:40] #2602 closed, assigned to angaither

[2014-06-19 17:19] aaronschachter commented on #2604
I know this not ideal but there's a way to process the file manually, I've just tested: https://beta.dosomething.org/node/362/reportbacks?uid=1752507&mail=
1. View into the Reportback by clicking the "Submitted" timestamp, bringing you to `reportback/[rbid]`.
2. Under the list of Files associated with the Reportback, view the actual File by clicking on the FID value, bringing you to `file/[fid]`.

[2014-06-19 17:19] #2604 closed, assigned to aaronschachter

[2014-06-19 17:28] aaronschachter opened #2606 "User: Get First Name function"
Add a `dosomething_user_get_first_name` function which uses `dosomething_user_get_field`, but also does string processing to make sure it's Capital letter, lowercase.
- no all lowercase
- no all capitals

We currently have users with lowercase / all caps first names, so just implementing this via `hook_user_save` will not fix for existing users.

[2014-06-19 17:44] DFurnes opened #2607 "Unsupported operand types in... flag_flag.inc"
Started getting a white screen of death on my local after the whole feature revert kerfuffle the other day, which stuck around even after doing a `ds pull stage && drush cc all`.  This error was running the latest codebase as of @014c2c22e5a99d1135d7ea2e683260aa0b36e872. Aforementioned error:

[code]

[2014-06-19 17:44] DFurnes commented on #2607
Trying to just rebuild my local from scratch to see if that fixes things (`vagrant destroy && vagrant up`).

[2014-06-19 17:52] crystalruthbell opened #2609 "What You Did: Spacing is tight between number and caption text."
More line spacing please.

![screen shot 2014-06-19 at 1 51 27 pm](https://cloud.githubusercontent.com/assets/6550604/3331237/6db660d2-f7da-11e3-83a8-be368541644e.png)

[2014-06-19 17:55] crystalruthbell opened #2610 "What You Did: Spacing is too big before and after the text section"
Please update to have equal padding above large numbers/after step header.

![screen shot 2014-06-19 at 1 54 02 pm](https://cloud.githubusercontent.com/assets/6550604/3331266/ddb24e0a-f7da-11e3-8ee8-2b25850a88da.png)

[2014-06-19 17:57] crystalruthbell opened #2611 "The Buzz: Double column design should act responsively"
Inconsistant responsiveness is displayed in the screenshots below. Please keep margin spacing equal on left and right sides.

![screen shot 2014-06-19 at 1 56 24 pm](https://cloud.githubusercontent.com/assets/6550604/3331281/13785cc8-f7db-11e3-855e-85b73a3d86c6.png)
![screen shot 2014-06-19 at 1 55 45 pm](https://cloud.githubusercontent.com/assets/6550604/3331282/137c8802-f7db-11e3-9be8-4439a1c5eb

[2014-06-19 17:59] crystalruthbell opened #2612 "Header: Arrow is overlapping handwritten text"
Please update to be more consistent with mocks.

![screen shot 2014-06-19 at 1 58 20 pm](https://cloud.githubusercontent.com/assets/6550604/3331308/6573cfc6-f7db-11e3-8d07-7260eb60cb61.png)
![screen shot 2014-06-19 at 1 59 24 pm](https://cloud.githubusercontent.com/assets/6550604/3331315/752d9c62-f7db-11e3-8487-efa7859f5bd2.png)

[2014-06-19 18:14] aaronschachter commented on #2607
Let us know how the vagrant up / down goes.  I haven't seen this error yet, there is a related d.o thread with a patch here for reference. https://www.drupal.org/node/1925922#comment-8806105

[2014-06-19 18:16] crystalruthbell opened #2613 "Congratulations to: Update to hard coded language."
Please remove this !

:)

![screen shot 2014-06-19 at 2 15 25 pm](https://cloud.githubusercontent.com/assets/6550604/3331557/05252c8e-f7de-11e3-9c8c-a4fd6a1254ea.png)

[2014-06-19 18:16] barryclark commented on #2606
@aaronschachter Is there somewhere that this is going to be used? User profile? (looking for some context)

[2014-06-19 18:20] aaronschachter commented on #2606
It's coming up now because of the campaign closed template, where we are pulling the winner's first name based on the user field_first_name value.  Would apply to user profile too, to keep it from looking inconsistent (caps / lowercase)

[2014-06-19 18:22] barryclark commented on #2606
Cooool, shooting this one over to @angaither thanks!

[2014-06-19 18:29] aaronschachter commented on #2613
This is stored in a variable.  However, it's not editable.

![screen shot 2014-06-19 at 2 27 39 pm](https://cloud.githubusercontent.com/assets/1236811/3331723/abdee9ba-f7df-11e3-9cbe-3f28ebd188d3.png)

[2014-06-19 19:05] mikefantini commented on #2612
@tjrosario did we review on mobile as well? I noticed it slightly going over the button on my iphone5

[2014-06-19 19:34] mshmsh5000 opened #2616 "Salt: drush config files are not moved into place"
The [lines that are supposed to do this](https://github.com/DoSomething/dosomething/blob/dev/provision/salt/roots/salt/dosomething.sls#L3) aren't working. Sooooo

oooooooo
oo `ooo`
_ooooooo_
oooooo fix them.

[2014-06-19 19:37] aaronschachter commented on #2613
Once #2614 is deployed to stage / production, this can be fixed by manually editing the copy at `admin/config/dosomething/dosomething_campaign`

[2014-06-19 19:42] aaronschachter commented on #2542
This is turning into one of those crazy Drupal rabbit hole things.  I've added this code into `dosomething_signup_get_login_signup_nid`.

[code]

Adding a `dsm($form)` into `_dosomething_user_add_signup_data` and I confirm that the hidden $nid is in there.

However it is not present in the `$form` or `$form_state` arrays in `dosomething_user_login_submit`

If I remove comment out the `'#access' =>

[2014-06-19 19:57] #2609 closed, assigned to tjrosario

[2014-06-19 19:58] #2610 closed, assigned to tjrosario

[2014-06-19 19:58] #2611 closed, assigned to tjrosario

[2014-06-19 19:58] #2612 closed, assigned to tjrosario

[2014-06-19 20:18] aaronschachter commented on #2613
Fixed on staging via `admin/config/dosomething/dosomething_campaign.`  Can close once we deploy to prod and make the same manual copy change.

[2014-06-19 20:25] aaronschachter commented on #2607
@DFurnes says a `vagrant destroy` and `vagrant up` seems to have fixed.

[2014-06-19 20:25] #2607 closed, assigned to nobody

[2014-06-19 20:40] #2613 closed, assigned to aaronschachter

[2014-06-19 22:02] tjrosario opened #2620 "[campaign close] images are being constrained"
css culprit
http://cl.ly/image/2L2N0a3e1U36/Screen%20Shot%202014-06-19%20at%205.32.22%20PM.png

but then the logos are too large
http://cl.ly/image/1j0v0g1W1Q3t/Screen%20Shot%202014-06-19%20at%205.32.39%20PM.png

[2014-06-19 22:17] mikefantini opened #2621 "[campaign close] - celeb mention thumbnails super pixelated"
Currently being served up at 75x75.. needs to be 150x150.

@angaither not sure if this is you or @tjrosario but kick it to tom if that makes more sense

[2014-06-19 23:13] deezone opened #2622 "Message Broker - Send campaign details in payload"
Update `dosomething_mbp_get_campaign_cache_payload()` to include all fields gathered in `dosomething_mbp_campaign_request()`.

[2014-06-20 14:09] mikefantini commented on #2621
updated to @tjrosario

[2014-06-20 14:09] angaither commented on #2621
Changed the image sizes with #2619

[2014-06-20 14:09] angaither commented on #2596
Closed with #2619

[2014-06-20 14:10] #2596 closed, assigned to angaither

[2014-06-20 14:17] #2460 closed, assigned to weerd

[2014-06-20 14:24] aaronschachter opened #2625 "Krumo message colors"
Dev wishlist issue:  The `.messages` class in neue sets all the krumo data to white, making it very tough to read on the yellow.

:(

![screen shot 2014-06-20 at 10 23 14 am](https://cloud.githubusercontent.com/assets/1236811/3341231/73d746e6-f886-11e3-8b7f-e2811bfe62a0.png)

Add a class for something like `.messages .krumo-root` to set the text color to somethign darker to make for happier develo

[2014-06-20 14:42] DFurnes opened #2626 "Cross-domain issues with Proxima Nova webfonts in Firefox"
It seems like we're still having issues with Firefox refusing to display the Proxima Nova webfonts due to Cross-Domain restrictions.

Relevant Trello card: https://trello.com/c/lKo8TFsM/1188-site-in-arial-font-when-accessed-via-firefox

[2014-06-20 14:44] DFurnes commented on #2626
Firefox console error:

![screen shot 2014-06-20 at 10 42 49 am](https://cloud.githubusercontent.com/assets/583202/3341525/3a3b213e-f889-11e3-8a41-801b02ae5ddc.png)

Strangely only happening for the Proxima Nova webfonts. CSS, JS, and even the Icomoon webfonts (all loaded from the same domain as the Proxima Nova fonts) are fine.

[2014-06-20 14:49] DFurnes commented on #2626
After doing a hard-refresh, the problem disappeared. :dancer:

After doing another hard-refresh, the problem re-appeared again. :disappointed:

Comparing the request and response headers for the two fonts, the only thing that seems different is that Icomoon fonts are being served as TTF whereas we're WOFFing it up with Proxima Nova:
![screen shot 2014-06-20 at 10 47 58 am](https://cloud.githubuser

[2014-06-20 14:51] DFurnes commented on #2625
I feel like we need to commemorate this moment. Aaron's first CSS! :tada:

Also yeah this sucks. Will patch for sure.

[2014-06-20 15:25] #2620 closed, assigned to tjrosario

[2014-06-20 15:25] #2621 closed, assigned to tjrosario

[2014-06-20 15:33] #2625 closed, assigned to nobody

[2014-06-20 15:36] #2451 closed, assigned to weerd

[2014-06-20 15:37] weerd commented on #2460
@mikefantini try a test once this gets pushed to stage. You can confirm that the code went through and you're trying the solution with the attribute by inspecting the code in Chrome and checking to see if the phone input fields have a `autocomplete="off"` attribute :dancer:

[2014-06-20 15:48] DFurnes commented on #2626
Now, it seems to be working consistently... also tested in BrowserStack across multiple versions and no longer able to reproduce.

[2014-06-20 15:50] DFurnes commented on #2626
Closing since this seems to be fixed. Frustrating.

[2014-06-20 15:50] #2626 closed, assigned to nobody

[2014-06-20 15:54] #2622 closed, assigned to deezone

[2014-06-20 16:58] aaronschachter commented on #2542
This is so bizarre. Was hoping that switching the order of the functions would fix:

[code]

Instead of the current, where the submit handler is added before `add_signup_data` is called: https://github.com/DoSomething/dosomething/blob/dev/lib/modules/dosomething/dosomething_user/dosomething_user.module#L156

But still no luck, the `$form['nid']` is nowhere to be found within `dosomething_user_logi

[2014-06-20 16:58] apatheticslacker opened #2632 "Password Reset: Username Error"
On prod, I opened up the link sent to my email account to reset my password and I was given this weird set of letters and numbers for my account's first name.
![image](https://cloud.githubusercontent.com/assets/7773483/3343163/e78e2496-f89b-11e3-83e8-0a160f3fd6be.png)
Let me know if you got any questions on how this happened.

[2014-06-20 17:15] aaronschachter commented on #2542
So this seems to be something up with the Confirmation page in particular, which is a custom page callback.  Just as a sanity test, added `static_content` to the list of conditoins to return a signup NID for, and the nid is present within the  `$form` in `dosomething_user_login_submit`

[2014-06-20 17:43] #2518 closed, assigned to aaronschachter

[2014-06-23 12:28] mshmsh5000 commented on #1935
Fixed with #2498.

[2014-06-23 12:28] #1935 closed, assigned to nobody

[2014-06-23 12:31] mshmsh5000 commented on #1884
This is fine -- only used by Salt-provisioned (dev) instances. If we ever switch to using Salt for production, we'll need to sweep through the .sls files thoroughly.

[2014-06-23 12:31] #1884 closed, assigned to nobody

[2014-06-23 13:41] aaronschachter commented on #1882
There's also a `$conf['varnish_control_key']`, which has the comment `This is managed from salt://varnishd/secret`.

@desmondmorris @mshmsh5000 @blisteringherb  -- Is this something that needs to be removed as well?

[2014-06-23 14:13] mikefantini commented on #2359
just closing this out for now since we won't need this any time soon and not sure what this will actually look like when we do need it.

[2014-06-23 14:13] #2359 closed, assigned to mikefantini

[2014-06-23 14:52] mikefantini commented on #2453
@weerd you're sorting this out so that it looks like the mocks right? https://docs.google.com/a/dosomething.org/file/d/0B5fENCbpVZv9cnBGNW1rWUZOQVE/edit

currently the call out is still up in the header section
![image](https://cloud.githubusercontent.com/assets/6330971/3359219/fb828efa-fae5-11e3-891e-6a25fe6a5a67.png)

[2014-06-23 14:55] mikefantini opened #2634 "[SMS game] - if field_solution_support has copy it should be output"
Regardless of whether field_fact_solution or field_solution_copy is filled out, if field_solution_support is filled out it should appear on the view.

cc: @aaronschachter

[2014-06-23 14:57] aaronschachter commented on #2634
Related trello card: https://trello.com/c/W0mpUlPC

[2014-06-23 14:59] mikefantini commented on #2634
The only logic on whether to display one or the other pertains to field_fact_solution and field_solution_copy where we are only meant to display field_solution_copy if field_fact_solution is left blank.

This logic does not pertain to field_solution_support.

Another related trello card is https://trello.com/c/GTdAgTgE

[2014-06-23 15:04] aaronschachter opened #2636 "Reportback: Display flag info"
- [x] If promoted, display the editorial caption (on the Promoted flagging record).
- [x] If flagged, display details in the bottom of the entity view.

[2014-06-23 15:05] aaronschachter commented on #2511
Fixed by #2547

[2014-06-23 15:05] #2511 closed, assigned to aaronschachter

[2014-06-23 15:19] aaronschachter commented on #2395
Per convo I had with @mikefantini last week, I think it would make sense to have the Delete Files functionality as a separate dropdown (#2517), something like "Delete reportback files".. as a means to make it more of a conscious decision, and prevent editors from deleting files by mistake.

[2014-06-23 15:44] #2453 closed, assigned to weerd

[2014-06-23 15:44] #2556 closed, assigned to weerd

[2014-06-23 15:46] weerd commented on #2453
Yep. Will be removed on desktop in this update :)

[2014-06-23 15:55] weerd commented on #2634
Ok. We should probably update the descriptive text for the fields as well.

Description for **Solution Statement** field:
`"If you are not using a fact above, use this field. This is information that shows that the call to action is what to do to solve the issue. "`

Description for **Supporting Statement on the Solution**:
`"If you need more clarification on the solution statement. (i.e., "Last y

[2014-06-23 15:58] aaronschachter commented on #2634
You'll need to update the help text via features. Use the "Manage fields" for the Campaign content type for each field description you want to edit, and then run `drush fu dosomething_campaign` to update the feature files, and then add with git.

Before you make any changes though, run `drush -y fr dosomething_campaign` to make sure there are no unexpected overrides in your database that you'll be

[2014-06-23 16:19] #2515 closed, assigned to aaronschachter

[2014-06-23 16:25] aaronschachter opened #2639 "Reportback: Update quantity count to exclude flagged"
Now that editors can flag reportbacks, update the `dosomething_reportback_get_total_campaign_reportback_sums` to exclude any reportbacks which have been flagged with the `flagged_reportback` flag.

@angaither Any reason to keep / update the `dosomething_reportback_get_total_campaign_reportbacks` function ?

[2014-06-23 17:03] aaronschachter commented on #2513
Renamed issue to "import legacy campaign activity."  Ideally we want to import signups as well as the reportbacks.  If we go the route of #2523, each legacy reportback would be stored against its legacy signup.

[2014-06-23 17:09] aaronschachter commented on #2523
The history here is that while we have a singular table of reportbacks for both web and mobile, we do not have a table that stores both mobile and web signups.

If there was one, it would make sense to associate reportbacks with signups.  We would then be only storing signups per campaign run, vs. needing to worry about the run for both signup and reportback tables.  This also makes for clean quer

[2014-06-23 17:56] #2634 closed, assigned to weerd

[2014-06-23 19:23] crystalruthbell opened #2642 "SMS Template: Kick down help text to a darker gray"
![screen shot 2014-06-23 at 3 21 36 pm](https://cloud.githubusercontent.com/assets/6550604/3362624/c23608cc-fb0b-11e3-8831-09b73a252641.png)

Should increase readability to level to a darker gray.

[2014-06-23 19:25] crystalruthbell opened #2643 "SMS Template: Sources in modal formatting is off"
![screen shot 2014-06-23 at 3 24 48 pm](https://cloud.githubusercontent.com/assets/6550604/3362675/1ce95256-fb0c-11e3-9102-b3298cfc4968.png)

Can we make these numbers superscript and in line that way the line spacing is fixed and readability increases?

[2014-06-23 19:46] sergiitk commented on #2513
Hey @aaronschachter, I've started looking into the legacy. One thing though: could you please provide me with db dump or credentials to server I can receive it from?

[2014-06-23 20:05] aaronschachter commented on #2513
@blisteringherb @mshmsh5000 Would you be able to point @sergii-tkachenko in the right place?

[2014-06-23 20:06] #2606 closed, assigned to angaither

[2014-06-23 20:13] #2395 closed, assigned to aaronschachter

[2014-06-23 20:13] #2517 closed, assigned to aaronschachter

[2014-06-23 20:20] #2502 closed, assigned to angaither

[2014-06-23 20:22] aaronschachter commented on #2535
Will need to adjust the `$reportback->deleteFiles()` function accordingly if we end up implementing `file_usage`

[2014-06-23 20:41] aaronschachter commented on #2517
This was implemented via checkbox "Delete files".  If an editor checks this, we are storing this in the `dosomething_reportback_log` table as an row with `op` set to `flagged_delete_files`.

[2014-06-23 20:55] joolaay opened #2645 "Grey bar behind CTA on 11-facts"
The CTA on 11-facts needs to follow the CTA design conventions on the site (with the grey bar). cc @crystalruthbell

[2014-06-23 20:58] joolaay opened #2646 "Add 2 column thumbnail gallery to static content pages"
Hey all - we need this second gallery type to be available on the static content pages. I'm really excited because there are some great use cases for it...press page especially!

As a reference - sometimes QBs will use the standard gallery AND this gallery, the standard gallery OR this gallery, neither gallery or multiples of either. @mikefantini you had some toggling ideas?

Holler with any quest

[2014-06-23 21:33] apatheticslacker opened #2648 "[Campaign Close] Overlapping Text"
When I was running testing today, I was testing under Windows XP using IE 8 and there was some overlapping text in the banner throughout the website.
![banner issue ie xp 2](https://cloud.githubusercontent.com/assets/7773483/3364308/bd1df536-fb1d-11e3-9201-a9a3a2d51d73.png)

![banner issue ie 8 xp](https://cloud.githubusercontent.com/assets/7773483/3364309/bd1e6ee4-fb1d-11e3-8bd3-77b3292fc2b0.png)

[2014-06-23 21:34] apatheticslacker opened #2649 "[Campaign Close] Sign Up Overlapping Text"
Again when running testing using XP and IE 8, there was overlapping text, but this time it was on the sign up button.
![sign up overlap ie8 xp](https://cloud.githubusercontent.com/assets/7773483/3364333/187b78cc-fb1e-11e3-9064-73faffe11895.png)

[2014-06-23 21:35] DFurnes commented on #2645
Yup, we had to make a little compromise to get that implemented quickly. @weerd is planning on making a second pass sometime this week to clean up all of that code, I think.

[2014-06-23 21:37] DFurnes commented on #2648
Yep, the rem unit polyfill we're using seems to have broken. Strangely, it's working perfectly on staging over HTTPS, so I'm not sure what is different between those two environments. I'll look into it tomorrow.

[2014-06-23 22:23] mikefantini commented on #2642
@weerd assigning over to you. not sure how this will change if we ever decide to use a different background image.

I'll let you and @crystalruthbell talk through this.

[2014-06-23 22:30] mikefantini commented on #2643
We should also:
- [x] add bullets the facts
- [x] remove bullets from the sources
- [x] add sources treatment we have on action page to this modal (i.e. tap sources and sources appear)

Closing out #1664 since it's a less detailed duplicate at this point

[2014-06-23 22:30] mikefantini commented on #1664
closing since it's a duplicate of #2643

[2014-06-23 22:30] #1664 closed, assigned to nobody

[2014-06-23 22:40] mikefantini opened #2652 "[contact us] - remember anon user's email address if 2 questions in same session"
Super low priority. But if I submit a Zendesk ticket as an anon user I am asked for my email address. If I go to ask a second question in that same session it'd be sweet if DS remembered my email address.

![image](https://cloud.githubusercontent.com/assets/6330971/3365023/435bb594-fb27-11e3-9e82-c63a40eb4eb8.png)

[2014-06-23 23:16] mikefantini opened #2653 "[SMS game] - anon user no texts sent and confirmation page incorrect"
Anon user, on chrome, entered my name, my number, and 55555555555555555555 as friend's number. Form submitted and took me to this view:

![image](https://cloud.githubusercontent.com/assets/6330971/3365323/37367056-fb2c-11e3-98f6-fb5587bc569e.png)

no texts were received

[2014-06-23 23:19] mikefantini opened #2654 "[SMS game] - form submits with invalid number"
![image](https://cloud.githubusercontent.com/assets/6330971/3365276/86bf3780-fb2b-11e3-9bb3-ef57faf645b5.png)

I also get validation on the form itself (i.e. field shakes and error message appears above the form) before the form submits.

Form only submits upon the first time you try to submit. Otherwise you just get the error on the form itself.

Ideally the form just wouldn't submit at all if th

[2014-06-23 23:40] mikefantini opened #2655 "[SMS game] - make all friend fields required"
All friend cell number fields should be required to submit the form. The user should not be able to submit the form without providing all three of these.

[2014-06-23 23:42] mikefantini opened #2656 "[SMS game] - remember anon user's name when creating an account post-share"
If I submit the SMS form as an anonymous user and then go to create an account on the confirmation page, it would be sweet if DS remembered my first name.

Again, super low priority.

[2014-06-23 23:45] mikefantini opened #2657 "[SMS game] - accept iPhone default phone number structure"
We need to accept numbers that are formatted as +1 (212) 555-5555

This is how my iPhone automatically formatted a friend's number and when I went to copy and paste that number into the field I got an error message.

[2014-06-23 23:46] mikefantini commented on #2655
cc: @julielorch

[2014-06-24 00:36] mikefantini opened #2658 "[campaign close] - links in gallery"
If there is a link entered for one of the images, the image itself should be linked.

Ideally this would work with any type of gallery (i.e. Celeb Mention, Press, or Celeb in Action).

See https://beta.dosomething.org/node/2333/edit (run node) and https://www.dosomething.org/campaigns/pregnancy-text (campaign node)
![image](https://cloud.githubusercontent.com/assets/6330971/3365859/7a666ad8-fb37-1

[2014-06-24 00:43] mikefantini commented on #2653
@barryclark mentioned that @apatheticslacker could help re-create. If you need help re-creating @aaronschachter just let Diego know.

[2014-06-24 12:55] #2363 closed, assigned to angaither

[2014-06-24 13:01] aaronschachter commented on #2655
assigning to myself.

![](http://media.giphy.com/media/8fXIoMfISpIuQ/giphy.gif)

[2014-06-24 13:02] aaronschachter commented on #2654
I believe this is because the friend's phone number actually isn't required on the bender side. Will see if #2655 fixes.

[2014-06-24 13:03] aaronschachter commented on #2653
I can't replicate in Chrome or Firefox in mac. we'll see if still an issue once #2655 is in.

[2014-06-24 13:41] joolaay commented on #2655
Excellent gif.

On Tue, Jun 24, 2014 at 9:01 AM, Aaron Schachter notifications@github.com
wrote:

[2014-06-24 13:58] mshmsh5000 commented on #2513
I've HipChatted the info to @sergii-tkachenko. /cc @aaronschachter

[2014-06-24 14:10] #2654 closed, assigned to weerd

[2014-06-24 14:10] #2655 closed, assigned to aaronschachter

[2014-06-24 14:21] apatheticslacker commented on #2653
I tried recreating it just now, and it doesn't let me move on due to having an invalid number.

**killed the image from here as I think it had your cell number in it, Diego - Barry**

[2014-06-24 14:22] aaronschachter commented on #2653
That is a good thing!  If you and @mikefantini can no longer create I think we can close this.

[2014-06-24 14:25] mikefantini commented on #2653
@apatheticslacker it wasn't tied to entering an invalid number, it also happened to me when I just entered my name and number and submitted the form

[2014-06-24 14:43] mikefantini commented on #2649
assigning over to @weerd

[2014-06-24 14:47] aaronschachter commented on #2542
In trying to troubleshoot this with @angaither -- we did discuss the possibility of turning on Drupal Services in order to login via the user endpoint.  Definitely a bit overkill for this specific reason... however it's a direction ideally we'll want to go in if we want to authenticate against a different DB.

Using this approach would allow us to create our own user login form, and potentially th

[2014-06-24 14:56] aaronschachter commented on #2657
The function `dosomething_user_clean_mobile_number` doesn't like this format because it beings with a 1, therefore the string length is greater than 10 and the function returns `FALSE`.

Assigning to myself and tagging as bender.  I think easiest solution for now is just to remove that leading 1.

[2014-06-24 15:05] #2658 closed, assigned to tjrosario

[2014-06-24 15:07] aaronschachter opened #2661 "Fact Page Intro not displayed in template"
Fact Page `field_intro` is never displayed.  See `node--fact_page.tpl.php`:

[code]

cc @julielorch

[2014-06-24 15:19] angaither commented on #2639
Not sure if that's something we or editors ever need to know within the app vs updates from the data team...
though we aren't using it currently
cc @mikefantini

[2014-06-24 15:28] #2657 closed, assigned to aaronschachter

[2014-06-24 15:36] apatheticslacker commented on #2653
@mikefantini I ran testing again and I had no issues yet again with signing up. Got a screen recording of it and it's up on screencast, though just ignore the last 30 seconds or so of the video [couldn't for the life of it figure out how to stop the recording...] Not sure if this just can't replicated on my machine, but its sent me to the right conformation page every time now.
http://www.screenca

[2014-06-24 16:41] DFurnes opened #2663 "Move template helper functions into helpers.inc in the theme."
Move any template helper functions from dosomething_helpers into [helpers.inc](https://github.com/DoSomething/dosomething/blob/dev/lib/themes/dosomething/paraneue_dosomething/includes/helpers.inc) in the theme.

References #2647.

[2014-06-24 16:45] mikefantini commented on #2653
alright I'll close out for now. @apatheticslacker can you please keep your eyes out for it? If I get time I'll try poking around a bit again, but hopefully some of the other issues we closed will resolve this weird behavior

[2014-06-24 16:45] #2653 closed, assigned to aaronschachter

[2014-06-24 17:09] tjrosario opened #2664 "Move order item helper to theme helpers"
`helpers_get_gallery_item_order_class` should live in the theme helper's, (paraneue_dosomething / includes / helpers.inc)

[2014-06-24 17:13] tjrosario commented on #2664
Relates to #2663

[2014-06-24 18:17] #2664 closed, assigned to tjrosario

[2014-06-24 19:00] apatheticslacker opened #2666 "[Thumb Wars] Sign In Error Message."
I found this weird bug using chrome where I would search for the Thumb Wars campaign and hit the sign up button, sign into my account and then end up with this error message:
![image](https://cloud.githubusercontent.com/assets/7773483/3376114/9de9a1ba-fbd1-11e3-8f9e-d78c23f8f966.png)
***Note: I can still sign into my account, but that error message still stays on the site.

[2014-06-24 19:21] #2666 closed, assigned to angaither

[2014-06-24 19:22] weerd commented on #2645
The CTA in the middle was specifically requested to not have a background and top gray bar though :\

How it appears in the design shows no background stuff: https://github.com/DoSomething/dosomething/issues/2451

[2014-06-24 19:27] #2643 closed, assigned to weerd

[2014-06-24 19:29] joolaay commented on #2645
Yes - this was my mistake. The mock was snipped from optimizely, where we weren't able to include the grey bar. I mentioned in the text that it should look exactly like the other CTAs, but I should have been more descriptive in specifically noting that the grey bar should be there or checked in with you about it.

[2014-06-24 19:29] weerd commented on #2642
I'm going to bump it to use a sass function to darken it, but we should discuss with @DFurnes cause we're falling out of the set of gray variables we established in Neue. We could add more, or it might be a good time to use Sass Lists for all the gray variables... ;)

[2014-06-24 19:30] joolaay commented on #2645
I'm sorry for the confusion @weerd

[2014-06-24 19:34] weerd commented on #2642
In regards to the background image dependency, we don't have an alternative right now. Maybe some functionality to consider to toggle between dark and light text design depending on the perceived "darkness or lightness" of an image. For the time being we'll need to aim to use a lighter colored image on SMS.

[2014-06-24 19:36] weerd commented on #2645
okie doke :)

[2014-06-24 19:39] weerd commented on #2645
@tjrosario moving this over to you. You're going to have some weird margin issues. Might be a good opportunity for you to refactor the 11 Facts page to use the `.container` stuff? What say you @barryclark ?

[2014-06-24 19:47] barryclark commented on #2645
Sounds like a good shout dudes. Wanna tackle this one @tjrosario?

[2014-06-24 20:10] #2642 closed, assigned to weerd

[2014-06-24 20:14] weerd commented on #2649
Yeah, this is due to a larger issue where `respond.js` is broken in IE8 so lots of stuff is broken. It otherwise works fine if I test in browser stack on my local where `respond.js` is working correctly.

Looping in @DFurnes since he was looking into the IE8 issues.

[2014-06-24 20:33] barryclark commented on #578
I really want to close this as I feel like the technical effort would be too high for such a tiny amount of value.

@aaronschachter You implemented the Javascript on the SMS Template switcher. Is there a straightforward (5 minute) way to do this?

cc @weerd

[2014-06-24 20:38] barryclark commented on #597
@mikefantini I'm pretty sure that campaigns team have the ability to do this themselves now? If so please close.

[2014-06-24 20:39] aaronschachter opened #2670 "Export flagged_reportback permissions"

[2014-06-24 20:39] aaronschachter opened #2671 "Fact Page: Intro should be markdown"
Currently set as plain text.

[2014-06-24 20:40] barryclark commented on #601
@desmondmorris is this still a valid issue?

[2014-06-24 20:44] barryclark commented on #969
It's totally possible that facts pages had a video that has now been removed. There's no need for videos on 11 Facts pages any more.

[2014-06-24 20:45] barryclark commented on #1004
@aaronschachter Looks like a quick fix?

[2014-06-24 20:46] aaronschachter commented on #1004
It is. We should knock out the Password Reset confirmation message issue (or come up with copy for it) when we fix this.

[2014-06-24 21:05] weerd commented on #2461
@mikefantini I tried testing this on Julie's android as well as a slew of android phones via Browserstack and could not replicate it. It may have been fixed during some update of mine or maybe when Dave updated the default page stuff and need to make some changes to the page structure. Otherwise not sure. Closing this for now. If it shows up again lets create a new issue ;)

[2014-06-24 21:05] #2461 closed, assigned to weerd

[2014-06-24 21:05] aaronschachter commented on #578
Actually it really shouldnt be that bad, but there's gotchas that would make it worse than 5 mins. e.g. If a user wants to be a wise guy and unchecks the Cause field that was auto-checked.

[2014-06-24 21:09] aaronschachter commented on #969
This issue is for cleaning up the data in the `field_video` field, where ID's exist for nodes that don't actually have any video set.  Definitely not high priority, but a cleanup rainy day task.

[2014-06-24 21:32] #2670 closed, assigned to aaronschachter

[2014-06-24 21:32] mikefantini commented on #597
@barryclark yeah I mean we always had the ability to target="_blank". But I really want to avoid us treating this super inconsistently across the site.

Instead it would be ideal to either always open in a new tab or always open it on the same tab.

We can close for now though.

[2014-06-24 21:32] #597 closed, assigned to weerd

[2014-06-24 21:45] weerd commented on #2649
I'l double check this once the IE8 stuff is figured out. Leaving it open for now.

[2014-06-24 21:54] barryclark commented on #578
@mikefantini Closing this one as it's going to take more technical effort to complete than the value we'll get out of it.

[2014-06-24 21:54] #578 closed, assigned to barryclark

[2014-06-24 21:56] aaronschachter opened #2673 "Redirect users when visiting file/[fid]"
Need to investigate, but I have a feeling that setting the permissions to deny users from viewing image files will actually block them from viewing images on the site.

If so, add a check into `dosomething_user_init` to redirect a non-staff user when they visit a `file/[fid]` path.

[2014-06-24 21:57] barryclark commented on #597
@mikefantini thanks

[2014-06-24 22:14] aaronschachter opened #2674 "Fact Page: Facts field collection"
Desired functionality is to append copy to the end of a fact within a fact page, e.g.

- [x] Build a field collection `field_fact_collection` into the Fact Page content type.
  - [x] `field_fact` -- Fact. mutli-value entity reference to a fact node. This could potentially just reuse `fact_solution` or `fact_problem`
  - [x] `field_compound_text_copy` -- Fact Copy. Use existing field
  - [x] `field

[2014-06-25 16:08] #2639 closed, assigned to aaronschachter

[2014-06-25 16:13] aaronschachter opened #2676 "Campaign Alternate Header Image"
Sponsored campaign needs ability to display a different Header image on Pitch/Action pages, but still display the regular Campaign Cover Image in the Finder, Profile, etc.

Needed for July 9, for campaign launch.
- [x] Add a variable into Node Edit > Custom Settings > Styles to enter a Image node nid.
- [x] If said variable exists, display as the Pitch / Action Page header.  May need to tweak the

[2014-06-25 19:32] apatheticslacker opened #2678 "[SMS Game] Overlapping Elements"
I was running some more tests with browserstack using IE 8 on XP and there's a few overlapping elements on the site.
First Part:
![image](https://cloud.githubusercontent.com/assets/7773483/3390460/3d2ce156-fc9f-11e3-8112-f1bf965159ff.png)
Second Part:
![image](https://cloud.githubusercontent.com/assets/7773483/3390471/66f9771a-fc9f-11e3-9c9b-a3316e4446ff.png)

[2014-06-25 19:58] aaronschachter opened #2681 "Fact page: Remove additional text"
The additional text field was added to store "Sources", but we're outputting the Sources tied to Facts now.

Remove the field instance from the content type and the templates.

[2014-06-25 20:39] aaronschachter commented on #2230
@angaither what is this issue for?

[2014-06-25 21:05] #2371 closed, assigned to nobody

[2014-06-25 21:08] mikefantini opened #2685 "[member created campaigns] - unpublish the form for now"
Need to unpublish https://www.dosomething.org/volunteer/hunt/campaign-form

We'll probably adjust some of the questions and re-use soon, but need to take the form down for now.

[2014-06-25 21:11] #2661 closed, assigned to nobody

[2014-06-25 21:11] #2671 closed, assigned to aaronschachter

[2014-06-25 21:11] #2681 closed, assigned to nobody

[2014-06-25 21:12] aaronschachter commented on #2531
Reopening - will close once user aliases are deleted on prod.

[2014-06-25 21:17] #2537 closed, assigned to nobody

[2014-06-25 21:18] #1875 closed, assigned to aaronschachter

[2014-06-25 21:18] #2357 closed, assigned to aaronschachter

[2014-06-25 21:31] aaronschachter commented on #2685
Super fast way to build this will be to change the menu access callback to check for a variable, which we can set to FALSE to unpublish.

However the ideal will be to move the template file into a custom block, so we can embed within Static Content.  Would give us a lot more flexibility for allowing editors to edit the page title, header, and allow admins to change the path.

I will look into this

[2014-06-26 12:53] aaronschachter commented on #1076
Fixed by #2499 and using File Entity to render reportback images.

[2014-06-26 12:53] #1076 closed, assigned to aaronschachter

[2014-06-26 13:05] aaronschachter opened #2686 "[Campaign Close] Disable SMS Reportbacks for Closed Campaigns"
Comeback Clothes is closed, but users are able to (and still are) submitting reportbacks.  This will mess with totals calculated within the app (which at this point are just for editors to view within the Closed admin form)

The quick fix would be to just remove the relevant code from `dosomething_sms`, but it would be ideal to have an admin config to enable and disable campaigns.  Although -- I s

[2014-06-26 13:38] aaronschachter commented on #2163
The bad news here is that since then we've received some more anonymous reportbacks: https://www.dosomething.org/node/362/reportbacks?uid=0&mail=&flagged=0 but this should be fixed now by #2529

The good news is that the Comeback Clothes confirmation page is NOT visible to anonymous users since https://github.com/DoSomething/dosomething/commit/671cc6bacd76892d4bde55e17a1bd33ef36ac883, which closes

[2014-06-26 13:38] #2163 closed, assigned to nobody

[2014-06-26 13:46] #2685 closed, assigned to aaronschachter

[2014-06-26 14:29] aaronschachter commented on #2343
/admin/config/system/site-information

Current value for Site Title:
`DoSomething.org | Largest organization for teens and social cause`

Updating to
`DoSomething.org | America's largest organization for youth volunteering opportunities, with 2,500,000 members and counting.`

[2014-06-26 14:30] aaronschachter commented on #2343
Edited default metatag config at `admin/config/search/metatags/config/global` to add description.

[2014-06-26 14:34] aaronschachter commented on #2343
This was done via module configuration. Purposely not exporting this stuff into features to avoid needing to deploy for changes like this.

[2014-06-26 14:43] aaronschachter commented on #2157
@weerd Any thoughts on whether or not to make the "Know it" section its own themeable function? Since this issue, there's been comments in the Campaign template that describe the logic, but the comments don't exist in the SMS template.  Ideally both would share the same code, no?

[2014-06-26 14:56] barryclark commented on #2678
@DFurnes Any update on this one?

[2014-06-26 14:58] barryclark commented on #2656
@aaronschachter I'd vote to pass on this one, as it's likely going to take a lot of dev time for a low amount of user value. Thoughts?

[2014-06-26 14:58] barryclark commented on #2649
@weerd @DFurnes Any updates on this? Ty

[2014-06-26 15:04] tjrosario commented on #2645
Sure.  @weerd the fact page is already using the refactored `.container` pattern.

@julielorch screenshot below of what it will look like.

![image](https://cloud.githubusercontent.com/assets/1566749/3400180/1ef95436-fd43-11e3-851a-08899f98dfbb.png)

[2014-06-26 15:05] barryclark commented on #2542
Any updates on this @aaronschachter?

[2014-06-26 15:11] aaronschachter commented on #2542
I've been stumped on this one, and took a break from it as you and I discussed the other day... so, no, no updates on this one.  Using services to login and create our own login/signup form as I described in the comment above is definitely a bit overkill for this particular issue (but something we'll need one day when we move to authenticate against a User DB)

[2014-06-26 15:12] joolaay commented on #2645
@crystalruthbell this looks good to me. Good by you?

[2014-06-26 15:12] aaronschachter commented on #2656
I would agree. We would need to store a cookie for the user's name, which isn't so bad but kinda feels a little shady. Although yeah, then there's extra code to write whenever we have a login form to check for that cookie. And how long should the cookie last for? This is very similar issue to #2652

[2014-06-26 15:13] barryclark commented on #2542
I'd suggest we backlog this for now, it doesn't seem critical right now @mikefantini?

[2014-06-26 15:14] barryclark commented on #2656
@mikefantini Are you cool with closing this for reasons above? ^^

[2014-06-26 15:26] mikefantini commented on #2656
yeah we can close both.. not critical just wanted to make notes for how to make it better but definitely a user delight thing and we're not there yet.

[2014-06-26 15:26] #2656 closed, assigned to nobody

[2014-06-26 15:26] barryclark commented on #2542
@aaronschachter sounds like :rat: F :city_sunset:

[2014-06-26 15:26] mikefantini commented on #2652
closing for same reason we closed #2656

[2014-06-26 15:26] #2652 closed, assigned to nobody

[2014-06-26 15:27] #1809 closed, assigned to aaronschachter

[2014-06-26 15:28] mikefantini commented on #2542
ok yeah let's backlog for now but I don't want to close it out because it's definitely something we'll want. but no not critical right now.

[2014-06-26 15:29] barryclark commented on #1005
Just checked and it doesn't happen so this one is still valid.

@angaither might you have time to tackle?

[2014-06-26 15:32] barryclark commented on #2656
Thanks @mikefantini :rainbow:

[2014-06-26 15:33] barryclark commented on #2542
Done, thanks

[2014-06-26 16:55] #2636 closed, assigned to aaronschachter

[2014-06-26 18:15] #2645 closed, assigned to tjrosario

[2014-06-26 18:24] mikefantini commented on #2686
@jonuy @aaronschachter @marahml we should probably have a better ux solution than just removing code... could we change the message that the user gets when they try to trigger the report back?

[2014-06-26 18:41] jonuy commented on #2686
Module will eventually get removed, and we could get there soon if we get an endpoint setup that would allow us to submit a report back to Drupal via web services.

But yea, to close these things out on SMS, there's always gonna need to be a component on Mobile Commons that needs to be disabled or modified. So for this... we could 1) yea, remove the code. 2) just remove the mData connection and ke

[2014-06-26 18:58] barryclark commented on #1083
Do we still want to build this @mikefantini @aaronschachter?

[2014-06-26 18:59] barryclark commented on #1088
@DFurnes I think we can close this one, right?

[2014-06-26 19:00] barryclark commented on #1120
@weerd Is this still an issue?

[2014-06-26 19:01] barryclark commented on #1127
This has been broken out into many other issues over the past couple of months. Closing.

[2014-06-26 19:01] #1127 closed, assigned to nobody

[2014-06-26 19:02] barryclark commented on #1180
Is this still valid @aaronschachter?

[2014-06-26 19:04] barryclark commented on #1195
Could you take a look into this please @tjrosario?

[2014-06-26 19:05] barryclark commented on #1201
Another mobile campaign template issue @tjrosario. Let's see how possible these are without hackery / duplicating markup.

[2014-06-26 19:06] barryclark commented on #1273
@aaronschachter @angaither Thoughts on next steps for this?

[2014-06-26 19:10] barryclark commented on #1286
Thanks @marahml. I think there's probably an issue for this in Message Broker? Gonna close this one out.

[2014-06-26 19:10] #1286 closed, assigned to nobody

[2014-06-26 19:15] barryclark commented on #1287
1. Is a duplicate of of #1005
2. Is fixed now

[2014-06-26 19:15] #1287 closed, assigned to nobody

[2014-06-26 19:18] barryclark commented on #1302
@tjrosario @weerd What's the current state of these? If one of you guys is working on this, please assign yourself this issue. Ty.

[2014-06-26 19:20] aaronschachter commented on #1180
Yes, it is still valid and a super quick one. it's just for admin's creating an account that is tied to a Sponsor. I think we needed for H&M and that's where this was from.

[2014-06-26 19:23] barryclark commented on #1321
@angaither @DFurnes Pretty sure this can be closed as @desmondmorris reworked the footer?

[2014-06-26 19:23] #1321 closed, assigned to nobody

[2014-06-26 19:25] barryclark commented on #1180
Assigning over to you to tackle in this sprint of mega issues cleanup.

[2014-06-26 19:27] angaither commented on #1190
did this in production! BAM

[2014-06-26 19:27] #1190 closed, assigned to nobody

[2014-06-26 19:31] barryclark commented on #1325
This looks quick if either of you have time to grab it @aaronschachter @angaither

[2014-06-26 19:39] aaronschachter commented on #1887
This issue was created when we were leaning toward building out Grouped Campaign as a taxonomy vocabulary.  If we ever want to explore signing up for taxonomy terms like Cause, we can revisit, but it's a lot of work to refactor this guy.

[2014-06-26 19:39] #1887 closed, assigned to aaronschachter

[2014-06-26 20:12] weerd opened #2694 "[Static Content] Refactor template to use .container module"
Static content template is one of the last stragglers to be refactored. Update this shiznit!

[2014-06-26 20:30] #1004 closed, assigned to angaither

[2014-06-26 20:30] #1005 closed, assigned to angaither

[2014-06-26 20:36] mikefantini commented on #1083
I think it'd be useful. When I originally talked to @aaronschachter it seemed pretty straightforward but if it's significant work let's skip it. I'd say biz value is 3.

[2014-06-26 20:40] aaronschachter commented on #2531
Aww yeah.

![users-aliases](https://cloud.githubusercontent.com/assets/1236811/3404536/1d86a2e6-fd72-11e3-9771-af011f3c452c.png)

[2014-06-26 20:40] #2531 closed, assigned to aaronschachter

[2014-06-26 20:47] #2694 closed, assigned to nobody

[2014-06-26 21:27] angaither opened #2697 "[User Profile] Style 'staff pick' flag"
The flag is in a PR right now, but looks gross.
![](http://cl.ly/image/0J0u1445101b/Screen%20Shot%202014-06-26%20at%205.27.52%20PM.png)
Refs #2126

[2014-06-27 14:13] DFurnes commented on #2697
Should be fixed by DoSomething/neue#310.

[2014-06-27 14:14] DFurnes commented on #1088
Yep, closing.

[2014-06-27 14:14] #1088 closed, assigned to DFurnes

[2014-06-27 15:19] weerd commented on #2697
Fixed!

Updated in Neue -> https://github.com/DoSomething/neue/pull/310

[2014-06-27 15:19] #2697 closed, assigned to weerd

[2014-06-27 15:40] aaronschachter commented on #2686
Option 2 sounds nice here because we wouldn't have to deploy anything.

[2014-06-27 15:59] tjrosario opened #2703 "Refactor facts listing to return chunked arrays"
The cta that is placed in the middle of fact's needs to span full width so we need to split the array of facts into chunks so we have more control over markup

[2014-06-27 16:06] #1180 closed, assigned to aaronschachter

[2014-06-27 16:07] deezone opened #2705 "Invalid campaign signup nids"
The Message Broker system is turning up user campaign signups to non campaign nodes (nid). An example:

[code]

nid 1194 (https://www.dosomething.org/node/1194) is an image -> Image Floating Polar Bear.

[2014-06-27 16:15] aaronschachter commented on #2705
@DeeZone This must be happening becuase Staging node nid's do not match production.

http://staging.beta.dosomething.org/node/1194

[2014-06-27 16:21] aaronschachter opened #2706 "Reportback Gallery bug"
The reportback gallery has become self aware.

Files are being added into the gallery view which have not been flagged as promoted, which is why editors are unable to unpromote the files (because no flagging record exists): http://screencast.com/t/Um3VEuG5cbU
- [x] Alter `dosomething_reportback_get_gallery_item_ids` to filter by specific Flag ID for "Promoted"
- [ ] Reflag reportbacks per https://

[2014-06-27 16:41] DFurnes commented on #2648
Should be fixed!

[2014-06-27 16:41] #2648 closed, assigned to DFurnes

[2014-06-27 16:42] DFurnes commented on #2678
Fixed on staging!

[2014-06-27 16:42] #2678 closed, assigned to DFurnes

[2014-06-27 16:45] aaronschachter commented on #2706
The issue is that `dosomething_reportback_get_gallery_item_ids` is not checking for the specific Flag ID = 1.  So as editors are flagging reportbacks, the flagged reportback ID's are showing up in the Gallery.

For now I am manually removing the reportback flags (and keeping a list of them here 41c32353c87229bc3322 to add back in) and have removed editor permissions to use the `flagged_reportback`

[2014-06-27 17:54] mikefantini opened #2707 "[campaign runs] - error when trying to access run edit view"
Error message when trying to edit campaign runs:

![image](https://cloud.githubusercontent.com/assets/6330971/3415679/b361639e-fe23-11e3-9c8a-bcc051ed9723.png)

[2014-06-27 18:00] mikefantini opened #2708 "[campaign close] - incorrect behavior for scholarship winner names"
When viewing closed campaigns as an anonymous user there is no first name displayed for any of the scholarship winners:

![image](https://cloud.githubusercontent.com/assets/6330971/3415754/99d28c04-fe24-11e3-989a-6f3cde307103.png)

When viewing closed campaigns as an authenticated user, that user's first name is pulled in as the first name for all of the scholarship winners:

![image](https://clou

[2014-06-27 18:19] deezone commented on #2705
Ah, good catch! And the flag / switch in `dosomething_mbp` will prevent this from happening further at least for campaign details. I'll simply remove the entries from the test users as they're a special case signing up for campaigns via beta.

Perfect.

[2014-06-27 18:22] #2705 closed, assigned to nobody

[2014-06-27 18:51] angaither commented on #2707
Seeing this locally

![](http://cl.ly/image/0d2m2544220B/Screen%20Shot%202014-06-27%20at%202.51.32%20PM.png)

[2014-06-27 19:00] angaither commented on #2707
@mikefantini if you need to edit this to remove the winners for now you can go to the node
https://beta.dosomething.org/node/2329 and remove the winners by editing the content in the field collection

![](http://cl.ly/image/1Z2W222F442I/Screen%20Shot%202014-06-27%20at%202.59.48%20PM.png)

[2014-06-30 11:20] aaronschachter opened #2711 "Install and configure Services module"
- [x] Add Services to the DS profile
- [x] Add and export an endpoint, perhaps `api/v1`. Only enable node retrieve (GET)
- [x] Implement `hook_services_request_postprocess_alter` to customize node GET output:
  - [x] If a campaign --  Campaign class provided by `dosomething_campaign_load` when viewing a campaign node
  - [x] If not a campaign -- don't return any content for now.  Only endpoint to

[2014-06-30 11:22] aaronschachter opened #2712 "Remove DS MBP Campaign Cache functionality"
Blocked by #2711

Once an endpoint is available to retrieve campaign data and Message Broker is configured to use it, all of the campaign cache related code in `dosomething_mbp` can be removed.
- [ ] Delete relevant variables in an install hook
- [ ] Remove all related code

[2014-06-30 13:55] #2707 closed, assigned to angaither

[2014-06-30 13:55] #2708 closed, assigned to angaither

[2014-06-30 13:58] mikefantini commented on #2707
@angaither got it thanks.. once we deploy today though one will be able to edit the campaign run node itself though correct?

[2014-06-30 14:02] aaronschachter commented on #2707
yes @mikefantini the broken edit form is fixed by #2710

[2014-06-30 14:25] aaronschachter commented on #2706
This one is tough to replicate without production data, it happens when file fid's and the reportback rbid's overlap.

[2014-06-30 14:47] aaronschachter opened #2714 "Content Search -- Title filter doesn't work for images"
Content search doesn't work for Image nodes.  Should remove the type from the filter, or get it to work.  Would be nice to search images by title, perhaps for the Search Image view.

Also could be nice to group all the Searches together under one menu group, `admin/content/search/images`, etc

[2014-06-30 15:21] #2703 closed, assigned to tjrosario

[2014-06-30 15:40] aaronschachter commented on #1535
Without this, you get a scary

[code]

[2014-06-30 16:03] aaronschachter commented on #2210
@jonuy @mikefantini This is an old one... and Thumb Wars has been live for a while now. Close?

[2014-06-30 16:14] #2173 closed, assigned to nobody

[2014-06-30 17:30] mikefantini commented on #2210
@jonuy can you confirm that reports work over mobile without this?

[2014-06-30 18:25] aaronschachter commented on #2607
Reoccurring for @DFurnes and per Hipchat convo  this seems to fix:

[code]

The d.o. thread has later comments from the user who submitted the patch, sounds like it's more DB weirdness than it is code in the Flag module.

I still haven't run into this one yet.

[2014-06-30 18:56] #2706 closed, assigned to aaronschachter

[2014-06-30 19:16] deezone opened #2718 "Add reportback image path to mbp payload"
Add the path to the image related to a campaign report back to the payload sent to mbp `dosomething_mbp_request('campaign_reportback', $params)` requests.

[2014-06-30 19:57] deezone commented on #2718
@aaronschachter Where can get the image id / url to the image uploaded with a campaign report back?

Looking at `dosomething_reportback_mbp_request()` I can see the submitted `$entity`:

[code]

[2014-06-30 19:59] deezone commented on #2718
Ideally I'd like to use `dosomething_image_get_themed_image($image_id, 'square', '300x300');` by getting the `$image_d` somewhere.

[2014-06-30 20:01] #1480 closed, assigned to deezone

[2014-06-30 20:44] aaronschachter commented on #2718
A reportback can have multiple files, which are stored in the `$entity->fids`... but the one you've used as an example doesn't have any, which should not be the case (unless the reportback was flagged to delete files).

With a given File $fid, you can call `dosomething_image_get_themed_image_by_fid($fid, $style);` to get markup.

[2014-06-30 20:49] aaronschachter commented on #2718
Does the transactional fire upon every reportback update?  If so, then you'll know the reportback file that the user just submitted will have the largest `fid` value (we create a new File fid every time a user submits an image)

[2014-06-30 21:01] deezone commented on #2718
Currently only `dosomething_reportback_entity_insert()` calls `dosomething_reportback_mbp_request()` resulting in a transactional message. I assume the policy for report backs is only the initial submission should generate a transactional email? From the real-time dashboard perspective, this request is looking for every time an image is submitted but even the initial submission would be a good sta

[2014-06-30 21:12] aaronschachter commented on #2718
Try loading the entity after it's submitted, the $fids are calculated in the `construct` function for `ReportbackEntity`

[code]

Pretty sure that there's an issue or a spec somewhere that states the policy should only be on the first reportback submission and not for updates.  @mikefantini can you confirm?

[2014-06-30 21:24] barryclark commented on #1356
Looks like we can close this one @mikefantini @aaronschachter?

[2014-06-30 21:25] mikefantini commented on #1356
yeah closing

[2014-06-30 21:25] #1356 closed, assigned to nobody

[2014-06-30 21:26] mikefantini commented on #2718
that's @marahml's call

[2014-06-30 21:32] barryclark commented on #1364
Looks a bit better to me now... ![image](https://cloud.githubusercontent.com/assets/692762/3436207/f51bde50-009d-11e4-9906-1a065031103e.png)

Closing this, Mike.

[2014-06-30 21:32] #1364 closed, assigned to nobody

[2014-06-30 21:37] deezone commented on #2718
The ReportbackEntity Object output above is after `reportback_load()` based on:

[code]

where ReportbackEntity Object output comes out of a print_r() in `dosomething_reportback_mbp_request()` detailed below.

[code]

Should the `$fids` values not be populated at this point?

[2014-06-30 21:44] aaronschachter commented on #2718
Should be... double check the data?  The `$fids` are stored in `dosomething_reportback_files` table: https://github.com/DoSomething/dosomething/blob/dev/lib/modules/dosomething/dosomething_reportback/includes/dosomething_reportback.inc#L31

![rb_load](https://cloud.githubusercontent.com/assets/1236811/3436337/9f6f63d0-009f-11e4-8773-57c96db3506d.png)

[2014-06-30 21:50] barryclark commented on #1372
@mikefantini The problem here is just that the link we're using isn't the actual file itself, it's a link to the Dropbox or Google Drive page for the file.

However you can link directly to the file...
- https://www.dropbox.com/help/201/en
- https://productforums.google.com/forum/#!msg/drive/lH_O_XwGJ_0/BfSHqC0P3rUJ

Let me know if either of those solutions work well enough. The bigger solution wo

[2014-06-30 21:52] aaronschachter commented on #1372
There's an item in the latest Campaign FFA for attaching file downloads to the Campaign node itself... which is also a relatively simple solution to implement.

[2014-06-30 21:53] barryclark commented on #1376
Any update @DFurnes?

[2014-06-30 21:54] barryclark commented on #1386
Any update on this one @angaither?

[2014-06-30 21:55] barryclark commented on #1372
Sweet, let's close this then @mikefantini?

[2014-06-30 23:07] marahml commented on #2718
@mikefantini @aaronschachter @DeeZone not sure im 100% understanding this string, but if the question is when should users get an email - right now it is only after their first report back. in the future it'd be great to thank them for adding more images.

[2014-06-30 23:38] aaronschachter opened #2721 "Drush aliases syntax error"
Recently pulled down most recent branch from my root `dosomething` directory, to get latest PHP versions and whatnot.

Running `ds pull stage`:

Drush command terminated abnormally due to an unrecoverable error.   [error]
Error: syntax error, unexpected $end in
/home/vagrant/.drush/ds.aliases.drushrc.php, line 41

[2014-06-30 23:58] aaronschachter commented on #1083
It's possible we could build our own custom form to query various tables, but I think this would require some significant effort.. I believe the Pantheon site, which I used a Drupal view for -- only had 3 or 4 different fields which were displayed (vs the very many we currently have on the campaign).  I don't really think we could pull this off with Drupal views but would need to write custom code

[2014-07-01 00:22] marahml commented on #2686
@jonuy @aaronschachter @mikefantini can we just change the messaging in the keyword so that the user knows whats up - but also disconnect the mdata?

[2014-07-01 00:38] jonuy commented on #2686
@marahml Yea, that was the idea with the 2nd option I mentioned - except without the changing of the messaging in the keyword. I was thinking we'd remove the keyword entirely... we've had to do it a bunch of times before when we needed to recycle keywords for new campaigns. Are you ok with that?

[2014-07-01 13:10] barryclark commented on #1083
Sitting down with someone from dev or data every now and then and seeing which fields are used seems like a good plan given that it'd be difficult to build the view.

What do you think about closing this one out and going with the manual option when we need to review field usage @mikefantini?

[2014-07-01 13:29] deezone commented on #2718
@marahml A few related items being discussed in this issue but you've answered the one related to sending transactional email messages. Thank you.

@aaronschachter My take away based on @marahml response is the process could be adjusted to send a transactional message for each report back. This would address the needs of the real-time dashboard project's desire to display all report backs includin

[2014-07-01 13:53] mikefantini commented on #1372
yeah this just came from the desire to attach file downloads for these posters, etc. we captured it in the FFA.

@barryclark you want to close this out and open up a new one for the feature in the FFA?