[2015-05-13 14:26] mikefantini commented on #3822
false alarm. forgot how this worked. documentation day here I come.

[2015-05-13 14:26] #3822 closed, assigned to aaronschachter

[2015-05-13 14:42] weerd opened #4490 "API Reportback endpoint returns empty object instead of error message when not valid."
Slight bug with the response. Just need to update so if no item found the logic correctly understands that and sends through the error message instead of an object full of `null` values.

[2015-05-13 15:14] sbsmith86 commented on #4476
@mikefantini For twitter shares, do you know what that `dsorg.us` short url is or how it gets generated?

[2015-05-13 15:27] aaronschachter commented on #4476
Isn't it bit.ly?

[2015-05-13 15:28] DFurnes opened #4491 "Action guide modal is wonky"
Via @namimody in `#campaign-template` room:

![screen shot 2015-05-13 at 11 27 44 am](https://cloud.githubusercontent.com/assets/583202/7614169/240171f8-f963-11e4-8d03-f43dd3fd8f39.png)

[2015-05-13 15:50] mikefantini commented on #4476
@sbsmith86 I _think_ twitter will just shorten links itself if the tween goes over 140, so I think we're ok without doing any work on this.

can we build based on this assumption, take a look in staging, and make adjustments if need be?

[2015-05-13 16:08] sbsmith86 commented on #4476
@mikefantini yep! thats fine, just making sure.

[2015-05-14 13:55] #4491 closed, assigned to nobody

[2015-05-14 14:48] angaither commented on #4489
@mikefantini do you know if the 'has new content' box is useful? should it just be removed?

[2015-05-14 14:53] mikefantini commented on #4489
@angaither kill it with fire!

[2015-05-14 14:55] angaither commented on #4489
my favorite.

[2015-05-14 17:02] #4471 closed, assigned to sbsmith86

[2015-05-14 17:08] #4489 closed, assigned to angaither

[2015-05-14 17:32] angaither opened #4496 "Promoted options"
Like having flagged reasons, we should build 'promoted reasons' checkboxes

Options include
- [ ] photo
- [ ] quote
- [ ] high impact
- [ ] sponsored

[2015-05-14 17:32] angaither opened #4497 "Sort by flagged/promoted reasons"
This actually is probably more useful for promoted

You can filter/sort by the flagged/promoted reasons

Refs #4496

[2015-05-14 17:37] aaronschachter commented on #4496
Thinking out loud here, but we might want to consider using Taxonomy Terms for Promoted Reason instead of a single value comma separated text column, which we use for Flagged Reason.  It does bring to mind opening pandora's box on whether or a Term field would be appropriate... :expressionless:

We are storing Kudos Taxonomy Terms in the `dosomething_kudos` table... but a flagged/promoted reason t

[2015-05-14 21:15] mikefantini opened #4498 "remove unnecessary click on /admin/users"
update https://beta.dosomething.org/admin/users so that when admins search via UID, email, or mobile they don't have to click through the user's profile but instead get immediately taken to the profile they are looking for.

each of these fields should only only yield one result anyway, and so basically we are taking out an unnecessary click.

in the event that we do have multiple entries, just ta

[2015-05-14 21:24] mikefantini opened #4499 "add player names to SMS form for multi-player games"
the optimizely test related to #4247 went incredibly well in increasing start and completion rates on SMS and we now want to roll that out for all multi-player games

after consulting with @aaronschachter the best option appears to be:
- default to current form
- if mobilecommons_opt_in_path and mobilecommons_friends_opt_in_path are filled out on https://beta.dosomething.org/admin/config/dosomethi

[2015-05-14 21:24] angaither commented on #4496
I mean, it could work. It would be easier to sort/search by those terms then. I'm down to make it a term.

I was thinking of adding a row to the reportback table, like `flagged` with

`promoted` | `promoted_reason`

[2015-05-14 21:27] angaither commented on #4496
though, I guess then it would have to store a vid, meh, I'm not crazy about that. I kind of like that the reason is with the reportback and you don't have to do an additional join to find out why

[2015-05-14 21:43] aaronschachter commented on #4496
Yep, I hear that. The tradeoff seems itd be in #4497 to filter by the promoted reason text field, esp for multi-values.  I'm cool with keeping it consistent with the `flagged_reason` though, was just commenting for discussion / documentation.

[2015-05-15 14:15] sbsmith86 commented on #4364
Going to close this now, since testing has been done.

[2015-05-15 14:15] #4364 closed, assigned to sbsmith86

[2015-05-15 14:24] DFurnes commented on #4364
Should we make an issue to remove the Optimizely classes now that tests are over?

[2015-05-15 14:26] sbsmith86 commented on #4364
@DFurnes  Hmm not sure if testing is done, I should have been more clear. Closing this issue because the tests have been set up.

@mikefantini are we done with these tests? If so, I can create the issue to clean up the optimizely work.

[2015-05-15 14:27] DFurnes commented on #4364
Oh herpa derp. :grimacing:

[2015-05-15 14:32] sbsmith86 opened #4503 "Feature flag problem shares on action page"
Need to feature flag the problem shares on the action page so we can test without worrying about deploying to production.

[2015-05-15 14:35] mikefantini commented on #4364
@sbsmith86 @DFurnes tests are still running. We should have results by early next week and then I'll create an issue for cleanup at that time.

[2015-05-15 14:36] DFurnes commented on #4364
Sounds good!

[2015-05-15 15:34] #4475 closed, assigned to sbsmith86

[2015-05-15 15:34] #4476 closed, assigned to sbsmith86

[2015-05-15 15:34] #4503 closed, assigned to sbsmith86

[2015-05-15 16:08] angaither commented on #4496
I'll play around with trying to sort the flagged reportbacks to see if that can inform the decision

[2015-05-15 20:22] sbsmith86 opened #4504 "Update imagemagick script to use current site path as parameter"
Update the imagemagick script to take in the base path of the current site as a parameter. Update the cron job to pass in that path when it runs the job.

[2015-05-15 20:34] namimody opened #4505 "Show Output Total on Top of Reportbacks Tab"
Trello Request: https://trello.com/c/fRDF3nFy/1343-show-output-total-on-reportback-tab

After impact aggregation has been created for Goals, the reviewed impact total should be displayed at the top of the "Reviewed" reportbacks tab (ex: https://www.dosomething.org/node/3346/rb/reviewed).

[2015-05-15 21:28] weerd opened #4506 "Recommended Campaign fields to rename"
Not crucial, but could be renamed for the API and then updated later to rename the actual fields in the app and maybe DB. Also trying to eliminate variables that start with `is_`; typically they are equal to boolean values, and naming the variable without the `is_` works just fine.
- `active_hours` ---> `time_commitment`
- `call_to_action` ---> `tagline` (already renamed in API and app templates b

[2015-05-15 21:30] namimody opened #4507 "Conditional Quotation Marks for Scholarship Winner Quotes"
https://trello.com/c/9Z1u2pNB

The scholarship "winner quote" field on the campaign closed template should only show beginning " and ending " when there is content in the field.

Example: https://beta.dosomething.org/campaigns/step-bullying

[2015-05-15 21:35] namimody opened #4509 "FAQ Title Change on Campaign Template"
Currently, the FAQ section in the KNOW IT section is titled, "Check out our FAQs" (see: https://www.dosomething.org/campaigns/get-well-cells). This should be titled "FAQs".

[2015-05-18 15:52] namimody opened #4510 "Mobile Signup to Web Signup Flow"
Trello card link: https://trello.com/c/Hzstq1j1
- Issue summary: User already signed up for Do Something's text messages but never created an actual account online. Now she is trying to make an account on website but it's not letting her because her number is already registered. (Relevant Zendesk ticket: https://dosomethingorg1.zendesk.com/agent/#/tickets/6648)
- Summary of solution liked by Aaron

[2015-05-18 20:36] namimody opened #4512 "Admin Functionality: Rotate Reportback Photo"
Trello: https://trello.com/c/mz4fSadx

The campaigns team has to exclude great photos because they are rotated. Would be great if they could rotate photos on the backend. (Note: users do not get email notification if their reportback has been manipulated.)

Example: https://beta.dosomething.org/admin/reportback/72353

[2015-05-18 20:55] #4504 closed, assigned to sbsmith86

[2015-05-18 21:07] #4498 closed, assigned to angaither

[2015-05-18 21:32] namimody opened #4514 "Under 13 User Flow"
Trello: https://trello.com/c/0movvETM/1376-under-13-account-sign-ups
Related: Issue #932 and Issue #931

**Users who are under 13 years old should:**
- be allowed to register for the site
- be given user accounts
- have their information stored in our database
- receive appropriate transactional emails
- should NOT have their information passed to MailChimp
- should NOT have their information pass

[2015-05-18 22:26] mikefantini commented on #4514
user 2392236 has been opted in to the general Mobile Commons subscription list AND into individual campaign specific subscriptions (see subscriptions table on https://dosomething.mcommons.com/profiles/173868141)

interestingly user 2748641 was created in Mobile Commons but was not added to any specific subscription lists. I would have expected her to be signed up to Do Something Master campaign as

[2015-05-19 16:29] sbsmith86 opened #4515 "SASS Clean up: Get rid of /campaigns directory in scss/content"
Empty and remove `lib/themes/dosomething/paraneue_dosomething/scss/content/campaigns/`

[2015-05-19 16:31] sbsmith86 opened #4516 "SASS Cleanup: Remove scss/helpers"
- [ ] move the `vertical-align()` mixin to neue
- [ ] remove `_mixins.scss` and the `helpers`  directory .

[2015-05-19 22:04] namimody opened #4517 "Tips Modal Spacing Off on Mobile"
![image](https://cloud.githubusercontent.com/assets/12396076/7714938/12079a84-fe51-11e4-9d0e-866f7c14faf2.png)
- Issue Summary: On mobile, the tips modal has no margin.
- Browser/Operating System: iPhone 5S, iOS 8.3
- Issue Scope: Happens on at least two campaigns's tips on mobile, FAQ modal on mobile works fine. Desktop modals look correct.

[2015-05-21 15:03] mikefantini commented on #4517
@DFurnes another lingering neue thing. This is the Do It section tips. We put them in a modal on mobile; there is no modal for these on desktop, instead they are in the gray box in the Do It section.

[2015-05-21 15:05] DFurnes commented on #4517
Ooooof. :sweat:

[2015-05-21 17:52] namimody opened #4520 "Add Birthday and Address to the Edit Info Tab on User Profile"
- Feature Summary: Campaign leads (content editors) should be able to see the street address and birthday of members.

This is helpful for leads to see for the purposes of mailing things out and highlighting reportbacks and wanting to note member age, location, etc.

Resolution: Change "edit info" tab of a user profile to include street address and zip code and birthday of members.

[2015-05-21 18:56] #4482 closed, assigned to weerd

[2015-05-21 18:59] weerd opened #4521 "Expand on access control measures for resource access in API"
https://api.drupal.org/api/drupal/modules%21node%21node.module/function/node_access/7

Need to update the following resources:
- [x] reportbacks
- [x] campaigns
- [x] kudos

[2015-05-21 19:02] mikefantini opened #4522 "compression on problem share image on FB"
![image](https://cloud.githubusercontent.com/assets/6330971/7756604/54e3dbd6-ffca-11e4-950b-d8a663bb431f.png)

[2015-05-21 19:04] weerd opened #4523 "Address how facts module returns "sources" data"
Need to provide both `formatted` AND `raw` values for the collected sources returned from facts module function.

[2015-05-21 19:04] aaronschachter commented on #4521
There's also `entity_access` for Reportbacks, and Kudos http://www.drupalcontrib.org/api/drupal/contributions!entity!entity.module/function/entity_access/7

[2015-05-21 19:07] weerd opened #4524 "Address how video media types are transformed for API output"
https://github.com/DoSomething/dosomething/blob/1f45a271f27e0736fd0dac52d96aa239a3b62363/lib/modules/dosomething/dosomething_api/includes/Transformer.php#L332

[2015-05-21 19:49] #4522 closed, assigned to sbsmith86

[2015-05-21 19:49] aaronschachter commented on #4284
We're sticking with custom Services endpoints.

[2015-05-21 19:49] #4284 closed, assigned to nobody

[2015-05-21 20:22] aaronschachter opened #4526 "Implement external authentication with Northstar"
In looking to build the ["Change Email" screen in the iOS app](https://github.com/DoSomething/LetsDoThis-iOS/issues/21), I've run into a pickle.  The PUT to the Northstar User works fine and changes the email.  The Drupal User is not updated.

The opposite situation is true as well, if I update my email within Drupal, my Northstar email is not updated.

We'll run into this issue with Mobile Number

[2015-05-21 21:06] sbsmith86 opened #4527 "Create a redirect url that closes the current window"
Create a url that redirects to an empty page that just has some javascript on the page that closes the current window. This will allow us to redirect to this page when someone shares a problem statement on facebook so that the popup window is closed after the share is complete.

[2015-05-21 21:33] jonuy commented on #4526
A solution Andrea was working on before was to forward Drupal logins, registrations, and updates onto Northstar. There's a Northstar module (https://github.com/DoSomething/dosomething/pull/4434) that seems to just be waiting on Guzzle to be available. What are people's thoughts on this? Can this be a viable nearer-term solution?

Forwarding user updates from Northstar onto Drupal seems trivial and

[2015-05-21 21:39] aaronschachter commented on #4526
@sergii-tkachenko -- you know the External Auth module best, can you weigh in?

@jonuy Forwarding updates from Northstar to Drupal would still require dev work either on the Northstar end or Drupal end to transform with the various User field arrays.

[2015-05-21 21:40] aaronschachter commented on #4526
It sounds like we may be able to get by in Version 1 of the mobile app without syncing shared fields such as Email, Password, and Mobile.. so, it may be worth investing in the best solution vs the quickest here.

[2015-05-22 13:51] angaither commented on #4526
The northstar module still exists in drupal, and it's running.
Currently as people login it sends a request to forward their user info into NS. It's just using `drupal_http_request` currently

[2015-05-22 14:44] sergiitk commented on #4526
Can we setup a meeting to discuss all this matters?

[2015-05-22 15:10] mikefantini commented on #4514
did a little more digging...

created user 1704889 on staging. that user is properly flagged as being "under 13".

when I just created an account for her from the homepage (not associated with any campaigns) everything worked properly (i.e. she was not added to Mobile Commons and therefore did not receive the new user text).

however, when I signed up for http://staging.beta.dosomething.org/campai

[2015-05-22 16:07] mikefantini commented on #4514
for comparison, http://staging.beta.dosomething.org/user/1704890 signed up for a campaign that isn't tied to a specific MailChimp group (http://staging.beta.dosomething.org/campaigns/space-jam) and is not in MailChimp

[2015-05-22 16:19] mikefantini commented on #4514
i feel pretty confident that this is related to users signing up for campaigns that are connected to specific opt-in paths on https://beta.dosomething.org/admin/config/dosomething/opt_in

every user under 13 that we've found is tied to a campaign specific MailChimp Group or Mobile Commons opt-in path

[2015-05-22 17:42] angaither opened #4529 "Reportback flagged status"
It seems like some flagged reportback items aren't getting set as flagged in the db.

This query on prod returns 2,257 rows
the file is set as flagged, but the reportback isn't

[code]

every test I've done locally (flagging with reasons/without reasons) correctly sets the status from null->0

@aaronschachter are you able to replicate this issue?

[2015-05-22 21:09] #4527 closed, assigned to sbsmith86

[2015-05-22 21:57] weerd commented on #4521
We're going to use `user_access()` method instead of `node_access` or `entity_access` since via the endpoint resource we already know the type of resource being requested. `node_access` and `entity_access` require loading the full node to check the access, which is added work when if access is allowed we need to load the node/entity in the class anyhoo.

[2015-05-22 22:01] #4521 closed, assigned to weerd

[2015-05-26 15:36] weerd opened #4534 "Campaign resource changes audit"
The great unification of the established endpoints with the new Campaign and CampaignTransformer classes. Need to plan out how to best transition the code end established endpoints to use the new approach to handling campaign data.
- [ ] Message Broker email things that reference the current `content` endpoint.  The MB stuff just needs to point to the new `campaigns` endpoint and change how it's c

[2015-05-26 15:42] aaronschachter commented on #4534
3 things i know of off the top of my head that would break:
- [ ] Message Broker email things that reference the current `content` endpoint.  The MB stuff just needs to point to the new `campaigns` endpoint and change how it's consuming the data, and then we can kill the `content` endpoint.
- [ ] Lobby dashboard code also references `content` endpoint.  Same as above ^^
- [ ] All code in the dosom

[2015-05-26 17:28] weerd commented on #4534
I'm gonna pull out your two items and add to main issue description cause I got some to add as well.

[2015-05-26 17:39] aaronschachter commented on #4534
Ok!  I re-edited my comment for 3 items FYI

[2015-05-27 17:55] #4496 closed, assigned to nobody

[2015-05-28 14:34] #4505 closed, assigned to angaither

[2015-06-01 16:47] sbsmith86 opened #4540 "Write and update hook to activate campaigns"
Quite a few campaigns have `campaign_status = NULL`
all instances of this should be updated to `campaign_status = active`

[2015-06-01 16:52] sbsmith86 commented on #4540
@angaither assigned to you because you wrote the query, but feel free to assign back to me if you are too busy!

[2015-06-01 18:20] weerd opened #4541 "Replace prior campaign endpoint code to use new Campaign class"
Replace both _index_ and _retrieve_ campaign endpoint code with new approach.

[2015-06-01 19:00] #4540 closed, assigned to angaither

[2015-06-01 19:07] mikefantini commented on #4507
talked to SPG and we found a work around

[2015-06-01 19:07] #4507 closed, assigned to mikefantini

[2015-06-01 19:11] #4541 closed, assigned to weerd

[2015-06-01 19:43] angaither commented on #4496
from @aaronschachter

[2015-06-01 19:47] aaronschachter commented on #4496
Could make sense to keep promoted reason on the Reportback File table...

[2015-06-01 19:48] angaither commented on #4496
Yeah, had a convo with @mikefantini about this and thought he's going to test what we have in stage, and we might leave it like this till there's demand to change it.
My thought if we needed to was to keep these `promoted` bool on the reportback table, and store the reason with the file itself.

[2015-06-01 21:27] mikefantini opened #4544 "add GA custom events to problem share"
we need custom events for each platform (i.e. FB, Twitter, Tumblr)

related to #4263 and #4338

[2015-06-02 14:21] itsjoekent commented on #4514
so far looks like Fantini is right, this line is why normal registration doesn't add under 13 members to messaging. https://github.com/DoSomething/dosomething/blob/5420d81df9cad01d0fe8a645fffedb503c1e303c/lib/modules/dosomething/dosomething_user/dosomething_user.module#L425

guessing this function isn't used in optin paths, going to check for that next

[2015-06-02 14:24] angaither commented on #4514
we should just be able to call that `under_thirteen` function before adding those kiddos

[2015-06-02 14:27] itsjoekent commented on #4514
yep, just finding all of the places where we forget it. I think this is one of them https://github.com/DoSomething/dosomething/blob/c6bd118d3c995011efb56b20604616d1ef10cb3d/lib/modules/dosomething/dosomething_signup/dosomething_signup.module#L516

[2015-06-02 14:35] #4509 closed, assigned to angaither

[2015-06-02 14:35] angaither commented on #4514
:+1: yeah, there's probably a couple places in there

[2015-06-02 14:49] #4514 closed, assigned to itsjoekent

[2015-06-02 15:03] #4544 closed, assigned to sbsmith86

[2015-06-02 15:17] #4497 closed, assigned to angaither

[2015-06-02 15:28] sbsmith86 commented on #4512
@namimody @mikefantini Do admins ever edit other information in the reportback? like caption, or the why statement? If so, where do they go to do that?

[2015-06-02 15:31] mikefantini commented on #4512
@sbsmith86 ideally no, but i could see someone wanting to fix like a spelling error in order to promote a caption or a spelling error in a why statement to more easily send to a sponsor

[2015-06-02 16:53] aaronschachter commented on #4526
Follow up point is that additionally, besides the User's account/profile info, her Signups and Reportbacks also need to be synced with Northstar.

[2015-06-02 17:25] angaither opened #4549 "Undefined Northstar user attributes"
Notice: Undefined index: und in dosomething_northstar_build_ns_user() (line 75 of /var/www/staging.beta.dosomething.org/releases/20150601213157/lib/modules/dosomething/dosomething_northstar/dosomething_northstar.module).

Only send attributes if they exist, in this case, there was no mobile number set.

[2015-06-02 18:05] angaither opened #4550 "Site:member-count-readable $token undefined"
Notice: Undefined variable: tokens in paraneue_dosomething_preprocess_html() (line 12 of /var/www/staging.beta.dosomething.org/releases/20150601213157/lib/themes/dosomething/paraneue_dosomething/includes/preprocess.inc).

[2015-06-02 20:44] #4550 closed, assigned to angaither

[2015-06-03 17:55] aaronschachter opened #4554 "Missing Campaign reportback noun/verb properties at GET campaigns/:id"
Up to you how to return these, but we'll need these for display in the mobile app:
- `reportback_verb`
- `reportback_noun`

[2015-06-03 17:57] weerd commented on #4554
Cool! Good to know. I tried to return as much that seemed needed for the mobile app, but figured I missed some stuff. I can update :)

[2015-06-03 18:46] #4512 closed, assigned to sbsmith86

[2015-06-03 18:47] sbsmith86 opened #4556 "Admin Functionality: Add js to rotate functionality"
Add some JS that allows the reviewer to see the reportback rotating based on their selection.

[2015-06-03 21:11] sergiitk opened #4557 "ds script: Move drush db updates to individual subroutine"
To separate code building and db updates, see: DoSomething/dosomething-deploy#23.

[2015-06-03 21:14] sbsmith86 opened #4558 "Add problem shares modules to make file"
We deployed problem shared to prod but had to turn `dosomething_campaign_problem_shares` on manually. We should add this to the make file so it gets turn on automatically.

[2015-06-03 21:34] mikefantini opened #4559 "some campaign tiles in finder are linked to 0.0.0.1"
saw it previously with https://github.com/DoSomething/ServerConfig/issues/72

then just saw it again today by filtering by Sex and Relationships and 2 of the first 8 campaigns had http://0.0.0.1 instead of https://www.

campaigns were http://0.0.0.1/campaigns/support-survivors and http://0.0.0.1/campaigns/project-shutdown

cc: @sergii-tkachenko

[2015-06-03 22:25] mikefantini opened #4560 "add problem shares to SMS games"
![image](https://cloud.githubusercontent.com/assets/6330971/7972797/7d5927c6-0a1d-11e5-80e5-b91550a95c3b.png)

since there is only one view of SMS games (i.e. instead of pitch and action pages) the problem share should show on this one view for SMS games (whether the user is logged in or logged out)

[2015-06-03 22:27] mikefantini commented on #4514
ok so i can confirm that under 13 users are no longer going into MailChimp and Mobile Commons.

However, under 13 users are no longer getting transactional emails either.

@marahml are you cool with that?

[2015-06-04 16:43] weerd opened #4561 "Change "item" to "reportback_item" in API response."
Now that a few different endpoint are coming around, such as `/campaigns` and `/kudos`, having nested objects in the respective objects for the endpoints labeled as `item` doesn't give enough context to what that item is...

[code]

[2015-06-04 17:18] #4561 closed, assigned to weerd

[2015-06-04 18:00] sbsmith86 opened #4564 "Add campaign `high_season` field to the campaigns endpoint"
Each campaign has a `high_season` field showing when a campaigns hot phase starts and ends. Can you add this to the campaigns endpoint?

[2015-06-04 18:14] #4558 closed, assigned to angaither

[2015-06-04 19:38] angaither opened #4565 "Updated promoted options to tagged options"
Campaigns team doesn't always want to promote reportbacks with good photos/captions or sponsors
- [ ] remove `promoted` flag boolean from the database
- [ ] Update column name to `tagged_options`
- [ ] Display `tagged_options` by default on reportback admin form by default, only hide it when `flagged` is clicked

[2015-06-04 20:20] mshmsh5000 opened #4566 "Add "Notes" field to Donate form"
From finance: Add a "Notes" field to the form, data to be passed off to Stripe. This is so we can capture info about, e.g., if a donation is specifically for the gala.

[2015-06-04 21:05] #2167 closed, assigned to DFurnes

[2015-06-04 21:10] namimody opened #4568 "Wrap Text for "Signup Reason Label""
![image](https://cloud.githubusercontent.com/assets/12396076/7994488/d2e447e8-0adb-11e5-9800-fd7a9a90c0e1.png)

Changed copy to be shorter for now, but text for the "Signup Reason Label" should wrap to fit the modal.

[2015-06-04 21:12] mikefantini commented on #4568
@DFurnes do you mind knocking this guy out?

[2015-06-05 16:10] jonuy commented on #4472
This is no longer valid due to the work being done here: https://github.com/DoSomething/northstar/issues/137

[2015-06-05 16:10] #4472 closed, assigned to jonuy

[2015-06-05 16:11] jonuy commented on #4411
@sergii-tkachenko @angaither As a follow up to the meeting we just had, this does now sound like an issue we can actively work on again.

[2015-06-05 16:14] angaither opened #4569 "Forward user updates to northstar"
on `hook_user_update` forward new info into northstar

depends on #4279

[2015-06-05 16:14] jonuy opened #4570 "Forward user updates from Drupal to Northstar"
When users update their profile on Drupal, ensure these updates are also reflected on Northstar.

Guzzle should be available to use soon: #4411

[2015-06-05 16:15] angaither opened #4571 "Forward campaign activity to northstar"
When a user signs up and reportsback on a campaign, forward that data into northstar

[2015-06-05 16:17] jonuy commented on #4526
Follow up on a meeting with Aaron, Andrea, and Sergii: The external auth module does sound like the solution we'd want to use for getting Drupal to handle authentication with Northstar. And now that our servers are on a more updated version of php, Guzzle can come into play here too. This isn't a solution we need in place right now right now for current products. Most of our syncing issues should

[2015-06-05 16:22] angaither commented on #4569
duplicate #4570

[2015-06-05 16:22] #4569 closed, assigned to nobody

[2015-06-05 18:49] namimody commented on #4517
Hate to be a pain @DFurnes -- seems like this is still an issue :( Could we chat about this on Monday? Thanks!

[2015-06-05 19:16] DFurnes commented on #4517
It's fixed on staging, but hasn't been deployed to production yet!

[2015-06-05 19:16] #4517 closed, assigned to DFurnes

[2015-06-05 19:19] mikefantini commented on #4517
yeah i just deployed to staging so you can verify @namimody!

[2015-06-05 19:22] namimody commented on #4517
Ahhh I'm so sorry!!

On Fri, Jun 5, 2015 at 3:19 PM, mikefantini notifications@github.com
wrote:

##

Namita (Nami) Mody

Junior Product Manager
@dosomething http://twitter.com/dosomething @imanami13
https://twitter.com/imanami13
(212) 254-2390 x255

[2015-06-05 19:29] DFurnes commented on #4517
No prob!

[2015-06-08 14:37] namimody opened #4572 "Campaign Titles on Homepage: IE 8"
- Issue Summary: Campaign titles on homepage appear with black behind them
- Browser/Operating System: Windows 7 / IE 8
  ![image](https://cloud.githubusercontent.com/assets/12396076/8037258/ba75d2de-0dca-11e5-9163-85a31f13f50f.png)

[2015-06-08 14:44] namimody opened #4573 "Campaign Header Photos, IE 8"
- Issue Summary: Campaign header photos do not fill entire header space.
- Browser/Operating System: Windows 7 / IE 8
  ![image](https://cloud.githubusercontent.com/assets/12396076/8037358/4c53350c-0dcb-11e5-9568-ea24abb2b7a5.png)

[2015-06-08 14:51] namimody opened #4574 "Tumblr Sharing from Permalink on IE 8"
TSG reported, DS verified. Pop up window opens but nothing ever loads.

Windows 7 / IE 8

[2015-06-08 16:38] mikefantini opened #4575 "add UTM parameters to problem share URLs"
@sbsmith86 can we tweak the URLs of our problem shares slightly?

we want to add the following UTM parameters:
- source = dosomething
- medium = social media site (i.e. facebook, twitter, tumblr)
- campaign = problem_share

so instead of the URL being https://www.dosomething.org/campaigns/thumb-wars it'd be:
- https://www.dosomething.org/campaigns/thumb-wars?utm_source=dosomething&utm_medium=faceb

[2015-06-08 16:49] mikefantini commented on #4574
@sbsmith86 marked as low priority since our IE8 traffic currently is pretty tiny and this is a pretty specific use case (being on IE 8/reporting back/sharing on Tumblr specifically), but if you have some downtime and have a second to check out this bug that'd be great.

Might just be browser stack acting funny?

[2015-06-08 16:59] namimody commented on #4574
Closing this actually -- it shows eventually! Just takes a hot 5 mins. Sorry!

[2015-06-08 16:59] #4574 closed, assigned to sbsmith86

[2015-06-08 17:27] namimody opened #4577 "Rotating RB Image Doesn't Save in Permalink or Backend"
- Issue Summary: If a user uploads a photo and rotates it, the permalink and back end do not reflect the rotation.
- Browser/Operating System: Firefox 38 / Windows 8, OS X Mountain Lion / Chrome 43 (Seems to happen across browsers.)

[2015-06-08 17:49] mikefantini commented on #4577
@sbsmith86 mind taking a look at this one when you have a sec?

@namimody do we know when this started happening?

[2015-06-08 17:56] sbsmith86 commented on #4577
looking now

[2015-06-08 17:58] namimody commented on #4577
@mikefantini it was reported on June 2 by TSG - it could have been happening before that but I don't have any evidence.

[2015-06-08 18:09] sbsmith86 commented on #4577
@mikefantini @namimody This seems to be an issue with PHP 5.5 compatibility with the GD image library/drupal image API that we are using to do the rotation. I think we upgraded to 5.5 recently, during the migration? Anyway, there is a fix for it that's got it working on my dev. I will get it merged in now.

[2015-06-08 18:23] mikefantini opened #4579 "spacing off on permalink on internet explorer"
![image](https://cloud.githubusercontent.com/assets/6330971/8041852/3740ca58-0de9-11e5-8476-57d43a140db2.png)

![image](https://cloud.githubusercontent.com/assets/6330971/8042032/46526b04-0dea-11e5-9cdb-79444798bd2d.png)

seems to be happening on all versions of IE

[2015-06-08 18:27] mikefantini commented on #4579
cc: @namimody

[2015-06-08 18:32] #4577 closed, assigned to sbsmith86

[2015-06-08 19:10] weerd opened #4580 "Implement Kudos API"
Add index, retrieve, create and delete functionality.

[2015-06-08 19:41] mikefantini commented on #4575
oof are we going to have to re-lint all of these for fb?

[2015-06-08 19:55] sbsmith86 commented on #4575
@mikefantini I really hope not, since these are for Google Analytics maybe facebook will ignore all this extra stuff on the url. But, it is entirely possible that we will. I'll look into it.

[2015-06-08 19:59] mikefantini commented on #4566
this is live on prod

[2015-06-08 19:59] #4566 closed, assigned to mshmsh5000

[2015-06-09 05:13] aaronschachter opened #4581 "GET Kudos Type endpoint"
Provide a GET endpoint to get all terms in the Kudos Type vocbulary, along with the relevant icon images and names to use for each.

Refs #4580

cc @jonuy

[2015-06-09 06:25] #4580 closed, assigned to weerd

[2015-06-09 06:26] weerd opened #4583 "Consider extracting getTaxonomyTerm() method from API work into universal helper function."
See note at: https://github.com/DoSomething/dosomething/blob/86ccb44ccb0ef44ee35acfbf18ab39ccc9b1dbd2/lib/modules/dosomething/dosomething_kudos/includes/Kudos.php#L47

[2015-06-09 14:03] sergiitk opened #4584 "Images on campaigns list don't show up on international"
https://botswana.dosomething.org/campaigns
![image](https://cloud.githubusercontent.com/assets/672669/8059581/c7063808-0e8e-11e5-872b-17a5613722cd.png)

[2015-06-09 14:17] DFurnes commented on #4572
This is expected behavior. IE 8 does not support [CSS Gradients](http://caniuse.com/#feat=css-gradients), which we use to add that gradient effect on tiles, so we use a transparent black container to make the text readable.

[2015-06-09 14:19] DFurnes commented on #4573
This is a known issue. IE 8 does not support [background-size: cover](http://caniuse.com/#feat=background-img-opts), which we use to fit cover images to the header. This only affects 0.76% of our users according to Google Analytics, so I don't think it's worth much engineering time.

[2015-06-09 14:29] sergiitk opened #4585 "Campaign finder doesn't work on Canada"
Images and links appear to be broken on Canada when filtering using campaign finder.

https://canada.dosomething.org/
![screen shot 2015-06-09 at 10 28 22 am](https://cloud.githubusercontent.com/assets/672669/8060261/45ef6916-0e92-11e5-852d-4083db28063f.png)

[2015-06-09 14:29] sergiitk commented on #4585
I think is is related #4559.

[2015-06-09 14:40] sergiitk commented on #4585
CC @mikefantini

[2015-06-09 14:40] sergiitk commented on #4584
CC @mikefantini

[2015-06-09 15:42] namimody commented on #4573
Ahh, makes sense @DFurnes. I think we can close then?

cc @mikefantini

[2015-06-09 15:44] #4573 closed, assigned to mikefantini

[2015-06-09 15:45] #4572 closed, assigned to mikefantini

[2015-06-09 18:03] namimody commented on #4585
This seems to be working now!

[2015-06-09 18:21] #4585 closed, assigned to nobody

[2015-06-09 18:25] namimody opened #4588 "Forgot Password Flow Not Working on International"
I "forgot" my password on both Canada and Indonesia sites (for nmody@dosomething.org and  nmody+canada6915@dosomething.org) and never received an email to reset it.

[2015-06-09 18:27] namimody commented on #4588
I may have spoken too soon -- got one from Canada. Still waiting on Indonesia.

[2015-06-09 19:04] namimody commented on #4588
Got Indonesia too...apologies. Closing this.

[2015-06-09 19:04] #4588 closed, assigned to mikefantini

[2015-06-09 19:30] DFurnes opened #4589 "Add register & login custom events"
We want to trigger a custom event in Google Analytics on the subsequent page load after registering or logging in. :chart_with_upwards_trend:

/cc @mikefantini @Bladt @namimody

[2015-06-10 14:26] mikefantini opened #4590 "update problem fact help text"
Because of problem shares, instead of "Limit: 135 characters" we need it to be "Limit: 117 characters (for the purposes of sharing this fact via social, this MUST be under 117 characters."

![image](https://cloud.githubusercontent.com/assets/6330971/8084803/02e56ebc-0f5b-11e5-8712-359c2f5e08c9.png)

[2015-06-10 14:28] sergiitk opened #4591 "Comeback Clothes here’s what happened list: wrong HTML entities"
https://www.dosomething.org/campaigns/comeback-clothes
![image](https://cloud.githubusercontent.com/assets/672669/8084860/49b7a29c-0f5b-11e5-8404-efac8971d19f.png)

`H&amp;M` must be `H&M`.

CC @mikefantini

[2015-06-11 16:10] mikefantini commented on #4591
ah crap good catch @sergii-tkachenko.

related to #4286, except happening on closed campaigns.

@angaither mind giving this a look?

[2015-06-11 18:48] #4591 closed, assigned to nobody

[2015-06-12 16:05] sergiitk commented on #4559
Found this again
![image](https://cloud.githubusercontent.com/assets/672669/8134192/3d24f664-10fb-11e5-9c72-55de97a0492a.png)

[2015-06-12 16:12] sergiitk commented on #4559
I've made a change in Jenkins, hopefully it'll fix this. We need to keep an eye on this @mikefantini.
+ Manually fixed current content.

[2015-06-12 16:29] #4411 closed, assigned to sergiitk

[2015-06-15 14:38] mikefantini opened #4595 "members are not being subscribed to new campaign specific groups in MailChimp"
The following groups were created Sunday May 31st in MailChimp and were hooked up via https://www.dosomething.org/admin/config/dosomething/opt_in.
- Mic Check (nid 53)
- Thumb Wars (nid 1508)

However, those groups currently have zero subscribers in MailChimp. Users who sign up for these campaigns are still going into the general Do Something Members list in MailChimp, just not the campaign specif

[2015-06-15 15:03] namimody commented on #4595
A couple other pieces of information:

Ariel figured out the reason people are in the I Heart Dad Mailchimp group: when a broadcast was sent out for Backseat Adviser, a keyword mixup caused people to be opted in to I Heart Dad during the flow. Because this was a broadcast, all were existing members (who seemed to have email addresses attached to their accounts) and therefore now appear in Mailchim

[2015-06-15 15:27] mikefantini commented on #4595
@namimody i don't believe that this would account for people showing up into that MailChimp group, but can you test by texting in an opt-in term for a campaign that also has a MailChimp Group set up?

[2015-06-15 18:50] namimody commented on #4595
@mikefantini I had Micah text in "1in3" to 38383 and her # showed up in Mobile Commons, and then she texted RESPECT and her email did not show up in Mailchimp, but moved correctly to the next group in Mobile Commons.

I texted in RESPECT directly, and my email was added to the mailchimp group, and my # was added to the second mobile commons group.

[2015-06-15 19:05] namimody opened #4596 "480x480 RB image generates error on Android"
TSG reported bug:

Even though the site says the minimum size image to be submitted is 480x480, this size generates an error message when trying to upload. Even much larger images such as a painting of George Washington displays the red warning below.

To create this issue, the user first tries to submit an image that is too small and this creates the error message. Now the user tries to correct t

[2015-06-15 19:07] deezone commented on #4595
@mikefantini Reviewed the :
- Mic Check (nid 53)
- Thumb Wars (nid 1508)
  MailChimp interest groups. There was a small backup of the related queue due to the dev / bug fixing work this morning. Everything is back to normal with the MailChimp interest group populating as expected.

[2015-06-19 14:37] namimody opened #4597 "No SMS Notification Received on US Site"
After user votes and enters valid phone number, no SMS is received acknowledging the vote

[2015-06-19 14:37] #4597 closed, assigned to mikefantini

[2015-06-19 16:34] angaither opened #4598 "Allow for CSV signup view to be rendered in admin theme"
DS UK has created a new view to allow for a CSV export of signup data, but it's being rendered in neue

Add the path to `dosomething_signup_admin_paths`

[2015-06-22 15:06] #4598 closed, assigned to angaither

[2015-06-23 15:44] #4448 closed, assigned to nobody

[2015-06-23 15:44] #4449 closed, assigned to nobody

[2015-06-23 15:44] #4450 closed, assigned to nobody

[2015-06-23 15:44] #4451 closed, assigned to nobody

[2015-06-23 15:44] #4461 closed, assigned to sbsmith86

[2015-06-23 15:45] angaither opened #4601 "Remove hot module animation fields"
these are no longer needed

[2015-06-23 15:45] angaither commented on #4445
no longer doing this with animations

[2015-06-23 15:45] #4445 closed, assigned to sbsmith86

[2015-06-23 15:54] angaither opened #4602 "Output campaign author information"
- [x]  ensure that staff members (editors) can change authors on the node
- [ ] output author information, only on campaigns in a hot phase (name, photo, job title)

[2015-06-23 15:55] angaither opened #4603 "Custom template for hot phase campaigns"
When a campaign is in the hot phase, give it a custom theme suggestion to allow it to be rendered in a completely different tpl

[2015-06-23 15:58] angaither opened #4604 "New job title user field"
Add a new field on user object for campaign lead job titles
this should only be editable, and viewable on profiles by staff members.

[2015-06-23 16:10] angaither opened #4605 "Add a table to record the history of campaign quantity progress"
`dosomething_reportback_progress_log` table to store campaign goal total hour by hour

on cron store the total quantity towards the goal

| id | campaign_id | timestamp | quantity |
| --- | --- | --- | --- |
| 1 | 363 | 1435075581 | 24 |
| 2 | 363 | 1435076581 | 40 |

[2015-06-23 16:13] angaither opened #4606 "Graph"
create a graph in d3? that tracks the goal progress as it advances

[2015-06-23 16:22] angaither opened #4607 "Output quantity JSON to hot phase module"
return a json object to the campagin in hot module phases with the quantity total for each day

[code]

[2015-06-23 16:29] mikefantini commented on #4529
@namimody

[2015-06-23 18:26] #4549 closed, assigned to angaither

[2015-06-23 18:26] #4570 closed, assigned to angaither

[2015-06-23 18:42] angaither commented on #4529
This has been happening since 1/27/2015
it seems to be happening with more regularity lately, but still haven't been able to reproduce it.

[2015-06-23 20:00] mikefantini commented on #4529
@angaither did anything change on 1/27/2015? it's also possible that that's just when the campaigns team started really reviewing reportbacks

[2015-06-23 20:09] angaither commented on #4529
@mikefantini Yeah, the [commits](https://github.com/DoSomething/dosomething/commits/dev?page=35) during that time are all related to setting up the reportback stuff, so it looks like that's when reviews started

[2015-06-23 20:56] sergiitk opened #4608 "Log-in button on campaigns works as a 'Signup'"
Just logged in with newly created user on https://www.dosomething.org/campaigns/just-because
It automatically signed me to this campaign.
![image](https://cloud.githubusercontent.com/assets/672669/8317045/6a62ebe8-1a03-11e5-9013-d8dc91e2afed.png)

cc @mikefantini

[2015-06-23 21:08] mikefantini opened #4610 "adding UTM parameters to internal links"
we're looking for all links to pages on the site to be appended by [UTM parameters](https://support.google.com/analytics/answer/1033867?hl=en). this will allow us to do better analysis on the efficacy of various marketing efforts (both external and internal).

this issue relates specifically to links from one page on the site to another (i.e. homepage -> campaign page).

can we append a convention

[2015-06-23 21:24] mikefantini opened #4611 "add UTM parameters to reportback share URLs"
we want to add the following UTM parameters:

source = dosomething
medium = social media site (i.e. facebook, twitter, tumblr)
campaign = confirmation_page_share
so instead of the URL being https://www.dosomething.org/reportback/59985%3Ffid%3D78683?fid=78683 it'd be:

https://www.dosomething.org/reportback/59985%3Ffid%3D78683?fid=78683?utm_source=dosomething&utm_medium=facebook&utm_campaign=confir

[2015-06-23 22:19] #4554 closed, assigned to weerd

[2015-06-23 22:19] #4564 closed, assigned to weerd

[2015-06-23 22:31] mikefantini opened #4612 "update help text on /node/add/fact"
![image](https://cloud.githubusercontent.com/assets/6330971/8318775/f43d604c-19d5-11e5-943e-0ef4ebf1b74d.png)

add to the bottom "If using for problem share this must be 117 characters or less otherwise it will break problem shares."

related to #4590

[2015-06-24 15:26] namimody commented on #4595
Just to follow up -- checked with I heart Dad and 1 in 3 of Us today -- all working. Closing!

[2015-06-24 15:26] #4595 closed, assigned to nobody

[2015-06-24 16:11] Bladt commented on #4610
@mikefantini The scholarships page and campaign collection pages would also be internal links to campaigns. The collections have NIDs, right? But not about/scholarships?

Neither of these cases are pressing. We can, at present, track conversions tied to collections and /scholarships by looking at them as landing pages. E.g. we are currently tracking which campaigns visitors sign up for if they ent

[2015-06-24 16:16] aaronschachter commented on #4610
Yes this is what the `source` column on the Signups table was aiming to capture. The query string param is appended via code. For scholarships, we could add it if the scholarships page displayed scholarship campaigns dynamically (see #2825).

@bladt The current plan for signups via mobile app was to store something like `ios_letsdothis` or `android_letsdothis`. Do the UTM params aim to capture con

[2015-06-24 16:18] Bladt commented on #4610
@aaronschachter will the mobile apps be sending traffic to the www? Or will they be pulling all the content into the app? We would only need to use UTM parameters if the apps were sending traffic to the site.

[2015-06-24 16:25] aaronschachter commented on #4610
Oh, no, we never actually push users out to the web. Which makes it sound like the UTM should be treated separately from the `signup.source` altogether, and my comment about what the Signups.source column is aiming to capture is different (since UTM is just google analytics).  Signup.source tracks how people signup for a campaign: homepage, or mobile app, or a reportback permalink.

Where we can p

[2015-06-24 17:08] mikefantini commented on #4610
@aaronschachter yeah definitely hear you on the text area links. I think training editors is the proper step there. I think the first goal should be to get all dynamically generated internal links to have these UTM parameters so traffic tracking is cleaner.

so @aaronschachter if we were to add UTM parameters to dynamically created internal links, you're saying we could just leave `signup.source`

[2015-06-24 17:13] mikefantini commented on #4607
@angaither this is so we can (more) easily populate the graph yeah?

[2015-06-24 17:18] mikefantini commented on #4604
this should be added to /user/[uid]/info

It can just be added to the Info Group

![image](https://cloud.githubusercontent.com/assets/6330971/8336576/86b1fa80-1a73-11e5-8864-bb4e3297e37d.png)

[2015-06-24 17:21] mikefantini commented on #4603
Just noting here is that one key difference is that the Problem Share should not appear when a campaign is in the hot phase.

This is because we will instead prompt users to share around the goal and progress within the hot module itself

[2015-06-24 17:21] mikefantini commented on #4601
marking as low priority just so we make sure to get other work done first to get this out and then do cleanup

[2015-06-24 17:26] angaither commented on #4607
@mikefantini yup

[2015-06-24 17:33] angaither commented on #4610
@aaronschachter we could also potentially create a custom text filter to append the utm params to links in text

[2015-06-24 17:41] angaither opened #4614 "Hot module feature flag"
create a feature flag to enable hot module work
this can be used to toggle tpls, and hide/display author information on campaigns with high season dates.

[2015-06-24 17:59] mikefantini commented on #4447
meeting with Felicia and @lkpttn on Monday to review exactly what we'll be pulling into the shares. will update this after that meeting.

[2015-06-24 19:18] #4601 closed, assigned to sbsmith86

[2015-06-24 19:18] #4614 closed, assigned to angaither

[2015-06-24 19:28] aaronschachter commented on #4610
@angaither That could be sweet!

@mikefantini I suppose the `signup.source` could get populated from the `utm_campaign` instead of a `source` parameter... but, I'm also weary of overcomplicating things.  I think we'd need to drill into it more to determine how much we need to look into it, although I imagine it will be useful to track web vs mobile app signups.  Can you or @bladt weigh in on if we

[2015-06-24 20:20] mikefantini commented on #4610
also @joshcusano ^

[2015-06-24 21:17] angaither opened #4616 "Guzzle fails locally"
`GuzzleHttp\Exception\RequestException: cURL error 3: <url> malformed (see http://curl.haxx.se/libcurl/c/libcurl-errors.html) in GuzzleHttp\Handler\CurlFactory::createRejection() (line 162 of /var/www/dev.dosomething.org/html/profiles/dosomething/libraries/guzzle/src/Handler/CurlFactory.php).
The website encountered an unexpected error. Please try again later.`

[2015-06-24 23:11] namimody opened #4617 "Need JS Event for Action Pageviews Count in Optimizely"
@DFurnes as we chatted about today -- I think we will still need an event to count action pageviews for Optimizely purposes. Please let me know if there are any other details I can provide - thanks!

[2015-06-25 14:04] sbsmith86 commented on #4606
I'm looking at using [Chart.js](http://www.chartjs.org/) for this. It is lightweight, because we only have to load in the script for the chart type we want to use (~12kb) and seems to have a polyfill for IE8 support.

@mshmsh5000 @angaither @mikefantini @namimody @DoSomething/front-end

[2015-06-25 14:13] angaither commented on #4606
:+1:

[2015-06-25 15:05] mshmsh5000 commented on #4606
:smiley_cat: Sounds good for a prototype. And the docs include guidance for the data array format that will come from the back end.

[2015-06-25 17:57] mikefantini commented on #4616
yeah this is happening on staging too fwiw

[2015-06-25 19:29] #4616 closed, assigned to angaither

[2015-06-25 22:17] mikefantini commented on #4529
3193 rbs were flagged but are showing up as 0 or null in the reportback_flagged column of the table.

[2015-06-25 22:22] mikefantini commented on #4225
@aaronschachter nothing has been changed correct?

cc: @namimody @angaither

[2015-06-25 22:29] mikefantini opened #4621 "changing a file's status should change the rb's flagged status"
once a reportback is flagged, it always remains flagged, even if an editor made a mistake in flagging it and then changed it to be approved, promoted, excluded, etc.

we should allow for editors to change their minds (provided obviously they didn't delete an image).

so when a file's status changes from flagged to promoted the reportback reportback_flagged should change from 1 to 0

[2015-06-26 15:08] namimody commented on #457
@mikefantini @aaronschachter this seems to not be working -- I can get to this screen but the "Delete" button is unclickable.

![image](https://cloud.githubusercontent.com/assets/12396076/8380429/acb953be-1bf3-11e5-8cf4-3d1c4bbe2a94.png)

[2015-06-26 15:10] aaronschachter commented on #457
This is a front end issue @namimody. Please open a new issue and assign to a fender.

[2015-06-26 15:11] namimody commented on #457
Oh, sorry @aaronschachter! Will do.

[2015-06-26 15:13] namimody opened #4623 "Can't Delete Reportbacks"
I can get to this page but the button is unclickable.

![image](https://cloud.githubusercontent.com/assets/12396076/8380546/5c9508e6-1bf4-11e5-8213-c4f126140168.png)

[2015-06-26 19:15] joshcusano commented on #4610
@aaronschachter @mikefantini - at some point, we have used the data in signup.source to determine if a campaign has been featured on the homepage, how many sign ups come from /campaigns, and sign ups from collections.

I haven't used it in a couple of months, but I could see it still being useful.

[2015-06-29 15:46] #4604 closed, assigned to angaither

[2015-06-29 16:12] namimody opened #4624 "Twitter Permalink Share Shows Jumbled Copy Where Apostrophe Should Be"
When a campaign name has an apostrophe, the Twitter copy shared from the permalink shows jumbled copy instead.

![image](https://cloud.githubusercontent.com/assets/12396076/8412438/f8998234-1e57-11e5-803a-9a0cb6432b39.png)

[2015-06-29 16:33] sbsmith86 commented on #4606
@angaither is it

[2015-06-29 16:43] sbsmith86 commented on #4607
@angaither All I need for the graph is 4 data points. One for each day we are showing on the x-axis. Is it possible to have a JSON object that holds just the four dates we want to show on the graph, and the goal progress on each of those dates (set as null if the date is in the future). So something like:

[code]

[2015-06-29 17:24] aaronschachter commented on #4225
I don't believe anything has been changed.

[2015-06-29 17:26] aaronschachter commented on #4529
Linking #4621

[2015-06-29 18:55] namimody opened #4625 "Updating RB should reappear in inbox"
Updated:

Any change to a reportback (new image, changed quantity, changed caption, changed why participated) should go back into the inbox and status should equal pending.

However, we don't want the quantity on the campaign to go below what it was prior to update so we're going to hold off on this until we can more robustly address this issue.

---

Submitted RB. Then approved. The total approve

[2015-06-29 18:59] namimody opened #4626 "Approving Additional Photo + Quantity on Existing RB does not change total approved quantity"
Added new photo to existing RB, increased quantity, submitted. No change in total approved quantity (good). Approved reportback, but total approved quantity did not register update -- not sure if I need to run cron to get it to do so?

[2015-06-29 19:37] #4626 closed, assigned to namimody

[2015-06-29 20:07] aaronschachter opened #4629 "Incorrect entity_save ?"
Question brought up by eagle eye @sergii-tkachenko in meeting around #4529

In https://github.com/DoSomething/dosomething/blob/v0.5.10/lib/modules/dosomething/dosomething_reportback/includes/dosomething_reportback.inc#L218

Should `return entity_save('reportback_file', $this);` actually be `return entity_save('reportback', $this);`?

[2015-06-29 20:29] angaither commented on #4607
@sbsmith86 hmm, originally when we talked about this we were going to send the latest timestamp from each date, because how do we pick which four dates we are going to use?
What happens when we run a campaign for a week?

[2015-06-29 20:56] angaither commented on #4629
It looks like this has been `entity_save('reportback_file', $this);` [since the beginning](https://github.com/DoSomething/dosomething/commit/0af84c43c16559c8627d08c59382c814f534e03d)

[2015-06-29 20:57] sbsmith86 commented on #4607
@angaither yea, we still need that data to aggregate it into these 4 data points because the graph only shows 4 points. Could we determine the dates by getting using the hot phase start and end dates, divide by 4, and then calculate dates based on that interval? If the hot phase is only for a week, then we could still determine 4 dates in between start and end.

[2015-06-29 21:22] namimody opened #4630 "Campaign Thumbnails Not Appearing on Affiliate /campaigns"
Some or all of thumbnails on /campaigns appear as broken images on the following sites:

https://botswana.dosomething.org/campaigns
https://nigeria.dosomething.org/campaigns
https://indonesia.dosomething.org/campaigns
https://uk.dosomething.org/campaigns
https://kenya.dosomething.org/campaigns
https://ghana.dosomething.org/campaigns

Canada seems to be working fine.

[2015-06-30 13:08] angaither commented on #4607
oh boy

[2015-06-30 13:50] mikefantini commented on #4607
@sbsmith86 can we sync on this? I thought we were going to be adding to the graph regularly, but only having markers at those 4 points in the date range (i.e. 4 markers within the one month).

I think the clean lines were just for ease on @lkpttn's part

![image](https://cloud.githubusercontent.com/assets/6330971/8432331/673ff5dc-1f0d-11e5-80eb-e4d8924cd1ec.png)

[2015-06-30 14:09] sbsmith86 commented on #4607
@mikefantini Ah yea, lets sync. You are right and I think I confused things talking about aggregating stuff. But regardless, I definitely need data about those four dates, so there will be some logic around figuring out those dates programmatically, either on the backend or the frontend.

[2015-06-30 14:30] mshmsh5000 commented on #4607
I think we can keep this on the front end. If you've got the and date and start date, you can divide by four and round up to get the two interim dates.

[2015-06-30 15:10] angaither opened #4631 "Northstar user import"
fields
- [x] email
- [x] mobile
- [x] uid
- [x] address field
- [x] first name
- [x] last name
- [x] registration source
- [ ] registration date [`created_at`]
- [x] birthdate
- [x] drupal password
- [x] great schools id

[2015-06-30 15:41] namimody opened #4632 "Progress Update Does Not Save"
I try to enter a number into the "progress update" field but it does not save in the field or reflect in the "total approved quantity."

[2015-06-30 16:02] namimody opened #4633 "Flagging RB Doesn't Always Change Total Approved Quantity"
Sometimes, flagging an approved reportback results in the TAQ decreasing correctly, but not always. The current offending reportback is 1440 (on Stay Tuned campaign (http://staging.beta.dosomething.org/campaigns/stay-tuned // http://staging.beta.dosomething.org/admin/reportback/1440) created on staging)

Incorrect TAQ is showing up on:
Custom Settings > Goals Settings section: http://staging.beta.

[2015-06-30 16:43] mikefantini commented on #4623
@DFurnes do you mind taking a look at this? see comments in #457

[2015-06-30 16:44] DFurnes commented on #4623
Sure!

[2015-06-30 16:47] mikefantini commented on #4632
@angaither - @namimody is blocked on testing other override functionality with this issue.

[2015-06-30 16:54] mikefantini commented on #4625
@angaither this is another argument for having reportbacks go back into the inbox when anything on the reportback is updated by the user (i.e. in this case quantity).

let's discuss in standup but I'd like to go this route as discussed in #4225

FYI @aaronschachter

[2015-06-30 16:54] mikefantini commented on #4624
@namimody is this happening on problem shares as well?

[2015-06-30 16:58] namimody commented on #4624
Not an issue on problem shares with apostrophes:

![image](https://cloud.githubusercontent.com/assets/12396076/8436634/aaf53f0c-1f27-11e5-88c0-f8554fc8154d.png)

[2015-06-30 16:59] mikefantini commented on #4617
@DFurnes please sync with @Bladt once this is set. thanks!

[2015-06-30 17:00] mikefantini commented on #4624
got it thanks. @sbsmith86 do you mind knocking this out this sprint?

[2015-06-30 17:06] mikefantini opened #4634 "add action_kit as a shipment item on the campaign signup data form"
![image](https://cloud.githubusercontent.com/assets/6330971/8436778/c9137b06-1f28-11e5-9561-70547e050364.png)

related to #4303

[2015-06-30 17:17] sbsmith86 commented on #4624
@mikefantini yerp

[2015-06-30 17:58] mikefantini commented on #4634
if this doesn't get done in time for [GTFO](https://www.dosomething.org/campaigns/gtfo) launch we'll have to programmatically update the shipment_item entries that come in before we deploy this

[2015-06-30 18:04] ghost commented on #4630
Tested and fixed.

[2015-06-30 18:21] angaither commented on #4634
@mikefantini I can get this out today

[2015-06-30 18:28] #4634 closed, assigned to angaither

[2015-06-30 18:41] mikefantini commented on #4446
@angaither thoughts on making this a group of fields in https://www.dosomething.org/admin/config/dosomething/dosomething_campaign under Standard Campaigns?

Suggested group name: "Hot Phase Progress Copy"

Hierarchy of this on https://www.dosomething.org/admin/config/dosomething/dosomething_campaign should probably be Standard Campaigns -> Action Page -> Hot Phase -> Hot Phase Progress Copy. (see

[2015-06-30 18:42] mikefantini commented on #4447
@lkpttn please add final mocks of what this should look like here for the first implementation.

[2015-06-30 18:43] mikefantini opened #4637 "Hot phase share copy"
need a field in https://www.dosomething.org/admin/config/dosomething/dosomething_campaign for what the share prompt should be during the hot phase

Suggested field name "Hot Phase Share Prompt".

[2015-06-30 18:44] mikefantini opened #4638 "progress copy override"
need a field added to the campaign template to override the default progress update

Suggestion: add this field to custom settings under the Goal Settings group with the name "Hot Phase Progress Copy Alternate" help text "Add copy here if you'd like to override the default progress copy in the hot module. Note: The default copy changes as progress increases. Override copy is static. If you create

[2015-06-30 18:58] #4632 closed, assigned to angaither

[2015-06-30 19:08] aaronschachter commented on #4629
Reviewing the code, it does indeed look like this should be changed to `entity_save('reportback', $this)`.   Not sure how it works though, but making the change could hopefully at least rule out the possibility that this is what is the cause.

 https://github.com/DoSomething/dosomething/blob/98ee1bc76940a4a70db1ddd501bbe8ecb4a3ce3f/lib/modules/dosomething/dosomething_reportback/includes/dosomethin

[2015-06-30 19:59] namimody commented on #4630
Thanks @sheydari-ds! Is this a permanent fix?

[2015-06-30 20:58] mikefantini opened #4639 "admin styling off on staging"
![image](https://cloud.githubusercontent.com/assets/6330971/8441895/43d87894-1f49-11e5-8003-6d6550437ec8.png)

cc: @DFurnes @sheydari-ds

[2015-06-30 21:14] DFurnes commented on #4639
![screen shot 2015-06-30 at 5 13 26 pm](https://cloud.githubusercontent.com/assets/583202/8442191/54fd0cfa-1f4b-11e5-91e6-bcc588015390.png)

Having trouble reproducing this on my machine (tested in Safari & Chrome on OS X).

[2015-06-30 21:51] weerd opened #4641 "Expose all object properties in resources even if doesn't have a value."

[2015-06-30 21:52] weerd opened #4642 "Make all exposed properties without values be NULL"
References #4641

[2015-06-30 22:16] mikefantini commented on #4629
@aaronschachter @angaither did one of you make this change?

just circling back to see if we can rule this out as a possibility or not?

[2015-07-01 13:07] mikefantini commented on #4446
we need the following variables to work for these fields:

- [campaign_title]
- [reportback_noun]
- [reportback_verb]

also just to be clear this is the copy that appears in the speech bubble:

![image](https://cloud.githubusercontent.com/assets/6330971/8455116/44f2075e-1fd0-11e5-87ff-a30be8da36a0.png)

[2015-07-01 13:14] mikefantini commented on #4447
also @sbsmith86 please advise if there are any updates to the copy we can include on FB shares

[2015-07-01 13:21] mikefantini commented on #4602
just a note: staff photos should be added on the campaign lead's profile on https://www.dosomething.org/user/[uid]/edit

@lkpttn just a heads up may need some of your assistance when we're ready to implement this

[2015-07-01 14:06] #4631 closed, assigned to angaither

[2015-07-01 14:06] mikefantini opened #4643 "enhanced FB/Tumblr share for hot module"
enhancement over #4447 this issue is to include the below image as the photo in FB/Tumblr shares

![image](https://cloud.githubusercontent.com/assets/6330971/8456336/be42799c-1fd8-11e5-9dc3-27fb971527e2.png)

this image would need to be updated as cron runs so that it shows updated numbers

[2015-07-01 14:31] mikefantini commented on #4447
we also want to add UTM parameters to the links we use in these shares:

source = dosomething
medium = social media site (i.e. facebook, twitter, tumblr)
campaign = hot_share
so instead of the URL being https://www.dosomething.org/reportback/59985%3Ffid%3D78683?fid=78683 it'd be:
- https://www.dosomething.org/reportback/59985%3Ffid%3D78683?fid=78683?utm_source=dosomething&utm_medium=facebook&utm_c

[2015-07-01 14:33] mikefantini opened #4644 "custom GA event for hot shares"
needed for #4447.

related to #4544

[2015-07-01 14:51] sbsmith86 commented on #4447
@mikefantini @lkpttn So yea, looked into it. We have control of the "caption" and "description" that shows in the post. See below for an example of what the caption and description are.
![screen shot 2015-07-01 at 10 49 33 am](https://cloud.githubusercontent.com/assets/1700409/8457398/22a4cf88-1fdf-11e5-99d8-dabcd0df3686.png)

[2015-07-01 15:02] mikefantini commented on #4447
and @sbsmith86 we can control this without messing up what gets shared it someone just straight posts the URL into a FB status?

[2015-07-01 15:13] sbsmith86 commented on #4447
@mikefantini yea, we would pass them as custom params to the facebook feed dialog intent link.

[2015-07-01 15:45] angaither commented on #4446
@mikefantini great, thanks for adding details.
I have a group already for "Goals and Hot module" it's just a standard grouping not underneath standard campaigns, but I can move it under  Standard Campaigns -> Action Page

[2015-07-01 16:17] mikefantini opened #4645 "accessing legacy site"
@Bladt and I were able to access the legacy site from Google.

Steps to recreate:
1. Google "Athletes Gone Good"
2. Click on second or third link (articles about [Olympian tweets](http://217989-www5.dosomething.org/blog/athletes-gone-good-qa-with-kobe-bryant) and [Kobe Bryant](http://217989-www5.dosomething.org/blog/athletes-gone-good-Olympian-tweets-of-the-week))
3. Click around the site

The lin

[2015-07-01 17:30] joolaay opened #4646 "Testing plan"
DOn't forget this

[2015-07-01 17:30] joolaay commented on #4646
arf

[2015-07-01 18:11] ghost commented on #4645
Changed the domain so that anything that references that URI goes to www.athletesgonegood.com. DNS is propagating, but should be fully live by tomorrow at latest.

[2015-07-01 18:18] mikefantini commented on #4529
@mshmsh5000 assigning over to you

[2015-07-01 20:10] angaither commented on #4529
on staging we get 4 results

| rbid | nid | flagged | status | flagged_reason | FROM_UNIXTIME(rbf.reviewed) |
| --- | --- | --- | --- | --- | --- |
| 9 | 43 | 0 | flagged | NULL | NULL |
| 184 | 1261 | 0 | flagged | NULL | NULL |
| 290 | 15 | 0 | flagged | NULL | NULL |
| 1292 | 1159 | 0 | flagged | irrelevant | 2015-05-14 18:46:25 |

[2015-07-01 20:21] angaither commented on #4529
We have recreated the issue!
On staging, @mikefantini and I went though a page of 25 or so that were in the inbox, and reviewed them all at once, after hitting save, there are now 7 reportbacks on staging where the file status is `flagged`, and the flagged boolean is still 0.

So it seems it may be a problem where there are multiple reportback reviews submitted at the same time.

Did this on http:

[2015-07-01 20:40] #4629 closed, assigned to angaither

[2015-07-01 22:27] weerd opened #4650 "Update Kudos response to group by taxonomy term and add total count"
Sample desired output:

[code]

[2015-07-02 01:59] mikefantini opened #4651 "Hot Module Launch Checklist"
These are things that need to be done before the Hot Module can be launched. These should be done throughout the next four weeks as they are unblocked by other issues being closed. Each of these changes needs to be made on **staging and prod** so that we can test everything properly.

Unblocked:
- [x] have campaign leads all set their job title in /user/edit. format should be Campaigns Manager, He

[2015-07-02 05:28] namimody commented on #4633
@angaither @mikefantini @mshmsh5000 In case it's helpful, another recreation of https://github.com/DoSomething/dosomething/issues/4529!

[2015-07-02 15:30] aaronschachter commented on #4650
Are `kudos_items` records in the `dosomething_kudos` table? (per the id)?

Just clarifying that it's not referring to Reportback items (where the id could be the `fid`)

[2015-07-02 15:32] weerd commented on #4650
Yep yep. `kudos_items` are records from the `dosomething_kudos` table; based on the unique `kid`

[2015-07-02 15:37] namimody opened #4652 "Override Feature Input Doesn't Register"
On Senior Socials on staging (http://staging.beta.dosomething.org/node/9/), there is one approved report back, the total approved quantity correctly registers 15. However, inputting 1000 into the override field and running cron doesn't change the TAQ in any of the following places:

http://staging.beta.dosomething.org/campaigns/senior-socials
http://staging.beta.dosomething.org/node/9/custom-setti

[2015-07-02 15:40] mikefantini opened #4653 "give editors access to Goal Settings group on Custom Settings"
@angaither assign off to @deadlybutter if you'd like

[2015-07-02 16:18] mikefantini commented on #4446
@deadlybutter once this is set up on the backend please reassign to @sbsmith86

[2015-07-02 16:22] mikefantini commented on #4603
@sbsmith86 said no longer needed

[2015-07-02 16:22] #4603 closed, assigned to angaither

[2015-07-02 16:23] mikefantini opened #4654 "hide problem share prompt + social buttons when a campaign is hot"
![image](https://cloud.githubusercontent.com/assets/6330971/8482069/1fea2e6a-20b5-11e5-82e2-09bcab62f829.png)

In `node--campaign.tpl.php` we need to update the conditional logic around displaying the problem shares in the "Know it" section so it only displays if the campaign is **not** in the hot phase.

So anywhere we are checking `<?php if ($show_problem_shares): ?>`  is true.

We should also m

[2015-07-02 17:24] #4650 closed, assigned to weerd

[2015-07-02 18:53] #4637 closed, assigned to itsjoekent

[2015-07-02 20:34] mikefantini opened #4656 "remove feature flag for hot module"

[2015-07-02 21:11] mikefantini commented on #4602
final should look like this:

![image](https://cloud.githubusercontent.com/assets/6330971/8487931/60c4fa14-20dd-11e5-89b7-36c7ed25333a.png)

[2015-07-02 21:23] mikefantini commented on #4625
@angaither thoughts on just making this issue "put reportback back in inbox if quantity changed"? or is there more to it then that?

[2015-07-02 22:23] mikefantini opened #4658 "promoted reason/flagged not being saved"
- [reportback in question](https://www.dosomething.org/admin/reportback/48592) - RBID 48592
- [video](http://screencast.com/t/hkdyVf1Zze2x) watch at 0:21
- [campaign](https://www.dosomething.org/campaigns/mirror-messages) - NID 7

potentially related to #4529

[2015-07-02 22:50] mikefantini commented on #4529
bad news: #4647 didn't fix the issue

good news: I was able to watch several people recreate the issue in production.

example 1:
- [RB in question](https://www.dosomething.org/admin/reportback/89238) - RBID 89238
- [campaign in question](https://www.dosomething.org/campaigns/1-3-us) - NID 5275
- [video of Jess reviewing](http://screencast.com/t/PbhO2Y3NPzw) happens around 0:24

example 2:
- [RB i

[2015-07-06 14:06] #4605 closed, assigned to angaither

[2015-07-06 15:08] sbsmith86 commented on #4606
The graph is pretty much done but right now it is using dummy data. I am going to leave this issue open until #4607 is done and I can pull in real data and finish this graph up.

[2015-07-06 15:41] sbsmith86 commented on #4602
Confirmed that editors can change authors on the node.

[2015-07-06 15:43] angaither commented on #4653
This form is currently in `dosomething_helpers` the easiest thing to do is give editors access to the whole form (which includes the shipment form, styles form and this goal setting form)
Otherwise we will need to break this section out into it's own form.

thoughts @julielorch (cc @mikefantini)

[2015-07-06 17:00] sbsmith86 commented on #4607
Just wrapping up this convo. I made a custom graph type that will allow us to go ahead and pull in all of the data for each day of the month like originally planned!

[2015-07-06 17:18] angaither commented on #4607
:+1: awesome @sbsmith86 I'm working on outputting this data now!

[2015-07-06 17:39] itsjoekent commented on #4444
@angaither am I doing the bender for this issue and then handing it off to @sbsmith86 or am I doing both?

[2015-07-06 17:50] sbsmith86 commented on #4444
@deadlybutter I don't think you need to reassign to me. Once the bender part is done, the only fender bit is to print the variable in the template here: https://github.com/DoSomething/dosomething/blob/d7807f18823383c30b3f6b4f277e7ba75b6f6270/lib/themes/dosomething/paraneue_dosomething/templates/campaign/node--campaign.tpl.php#L60

[2015-07-06 17:51] itsjoekent commented on #4444
ah gotcha, thanks!

[2015-07-06 17:53] itsjoekent commented on #4446
reassigned to @sbsmith86 - bender is ready! the variable you'll need to use is `progress_copy`

[2015-07-06 20:21] #4444 closed, assigned to itsjoekent

[2015-07-07 16:04] angaither commented on #4607
Fixed by #4664

[2015-07-07 16:04] #4607 closed, assigned to angaither

[2015-07-08 14:08] #4602 closed, assigned to sbsmith86

[2015-07-08 14:08] #4446 closed, assigned to sbsmith86

[2015-07-08 14:56] itsjoekent commented on #4621
Well this is an interesting bug...! I found what I believe is the cause of the problem in this function: https://github.com/DoSomething/dosomething/blob/83b61d349fc441a5e9ff79eb7de11f5dcb57256f/lib/modules/dosomething/dosomething_reportback/dosomething_reportback.admin.inc#L275

Essentially, when we set a report-back to promoted for example, we unset all of the reasons for that specific type (whic

[2015-07-08 14:57] angaither commented on #4621
@deadlybutter were you able to reproduce the bug locally?

[2015-07-08 15:01] itsjoekent commented on #4621
yeah I'm encountering it right now (screenshot above)

[2015-07-08 15:10] angaither commented on #4621
documenting from real life convo:
It's actually the `flagged` `promoted` boolean on the `dosomething_reportback` table itself that is causing the issue.

[2015-07-08 15:45] angaither commented on #4529
![](http://cdn2.hubspot.net/hub/228391/file-745508197-jpg/blog-files/devopsevil.jpg)

@sheydari-ds is it possible db writes are getting locked?

[2015-07-08 15:45] itsjoekent commented on #4529
can confirm, I cant reproduce this locally

[2015-07-08 15:55] #4654 closed, assigned to sbsmith86

[2015-07-08 17:12] #4621 closed, assigned to itsjoekent

[2015-07-08 17:26] itsjoekent commented on #4529
just tested with example two from @mikefantini comment -- if you go back and try flagging it again it works fine

I'm thinking @angaither point with db writes being locked is a possible explanation. Prod has much more traffic than our local boxes / stage and might explain why we can't replicate it there. It could also explain why it only seems to occur with large batches of reportback flags and is

[2015-07-08 17:34] angaither commented on #4658
@deadlybutter could be related to the work you did with #4621

[2015-07-08 18:06] itsjoekent commented on #4658
yeah just tried promoting it again and it didn't work. hmmmm. let me see if i can reproduce locally

edit: wait... onto something

[2015-07-08 18:16] itsjoekent commented on #4658
so promoting definitely works. just need to check the reason is being saved

its showing up here:

<img width="572" alt="screen shot 2015-07-08 at 2 15 23 pm" src="https://cloud.githubusercontent.com/assets/897368/8578289/e7ea95e2-257b-11e5-8ac5-6bb49bcc63e7.png">

and it looks correct in the change log:

<img width="509" alt="screen shot 2015-07-08 at 2 15 33 pm" src="https://cloud.githubusercont

[2015-07-08 20:11] itsjoekent commented on #4658
Okay this is a bug _but_ I believe it's the same issue being experienced in #4529 as saving promoted reasons does work (I just checked on the production DB and it was given a promoted reason).

@angaither do you agree this is a duplicate? can we close this and move discussion back into #4529 ?

[2015-07-08 20:14] angaither commented on #4658
I _think_ this issue and #4529 are the same thing, but let's leave this open for now just for documentation and this is about reasons not saving, not about the boolean value.

[2015-07-08 20:14] itsjoekent commented on #4658
okie dokes

[2015-07-09 17:44] angaither opened #4672 "Ensure hot module is only enabled when the dates are correct"
Hot module is enabled feature is only enabled when the dates are correct on that particular node.

in `dosomething_campaign.module`

[code]

[2015-07-09 18:17] itsjoekent opened #4673 "High season end date not outputting correctly"
![image](https://cloud.githubusercontent.com/assets/897368/8603255/1d90b90a-2645-11e5-906e-c0040c61abcc.png)

from @sbsmith86 in slack

_i think the timing variable is off, i set the high season for the space jam campaign to end July 31st, and it is outputting that it ends July 1st._

[2015-07-09 18:26] #4606 closed, assigned to sbsmith86

[2015-07-09 20:01] #4673 closed, assigned to itsjoekent

[2015-07-09 23:16] #4426 closed, assigned to nobody

[2015-07-09 23:17] #4140 closed, assigned to nobody

[2015-07-09 23:21] #3849 closed, assigned to sergiitk

[2015-07-09 23:21] #2384 closed, assigned to nobody

[2015-07-10 13:25] angaither commented on #4652
@deadlybutter the count on the view page should be pulling from both the `sum_rb_quantity` and the `sum_rb_quantity_override`
it's doing that [here](https://github.com/DoSomething/dosomething/blob/8d923bde81bfbbec77f15988d6d8b5423a60c640/lib/modules/dosomething/dosomething_campaign/dosomething_campaign.theme.inc#L503)
but then it's not passed into the tpl correctly

[2015-07-10 16:30] joolaay commented on #4646
@angaither I made an issue for this last week, just adding you now. #woop

[2015-07-10 16:30] angaither commented on #4646
WEE!

[2015-07-10 16:33] joolaay commented on #4651
@angaither Let's walk through this together on Monday as well.

[2015-07-10 16:38] joolaay commented on #4646
Relevant testing plan? https://docs.google.com/spreadsheets/d/16YcysP9i8WtAnoocS_D1k2qxeUIiulDAz4yErdZSi5w/edit#gid=0

[2015-07-10 17:50] mshmsh5000 commented on #4529
More on debugging in prod here: https://trello.com/c/pTNjJhhw/121-temporarily-enable-query-logging-on-prod

@angaither @sheydari-ds

[2015-07-13 14:28] #4672 closed, assigned to chloealee

[2015-07-13 15:18] angaither commented on #4653
I gave Michaela admin access, so she can edit/view the goal settings. We are going to do this for now and change form permissions if/when we decide others need access to it.

[2015-07-13 15:18] #4653 closed, assigned to angaither

[2015-07-13 15:24] itsjoekent commented on #4225
Relevant issue/PR closed https://github.com/DoSomething/dosomething/issues/4625 https://github.com/DoSomething/dosomething/pull/4677

[2015-07-13 15:24] #4225 closed, assigned to itsjoekent

[2015-07-13 17:05] #4652 closed, assigned to itsjoekent

[2015-07-13 17:59] #4617 closed, assigned to DFurnes

[2015-07-13 18:04] angaither commented on #4608
@sergii-tkachenko that is what is supposed to happen

[2015-07-13 18:04] #4608 closed, assigned to nobody

[2015-07-13 18:04] itsjoekent commented on #4612
should I also write some logic to make sure it doesn't exceed 117 chars?

[2015-07-13 18:06] angaither commented on #4478
Fixed with #4668

[2015-07-13 18:06] #4478 closed, assigned to nobody

[2015-07-13 18:08] DFurnes commented on #4589
Since we're adding more of these to the codebase, it might be nice to make a generalized helper function that we can use to make Google Analytics & Optimizely custom events, rather than having to use `drupal_add_js()` to add the inline analytics script each time. Maybe something like:

[code]

[2015-07-13 18:10] itsjoekent commented on #4589
good idea!

[2015-07-13 18:16] angaither commented on #4612
@deadlybutter I don't think we want to do that, we have as JS script that runs on some fields that does a character count, so just make sure it's going on this and add that help text.

[2015-07-13 18:17] itsjoekent commented on #4612
okie dokes

[2015-07-13 18:20] itsjoekent commented on #4612
just checked, the form blocks 255 chars so this needs to be updated as well

`Fact cannot be longer than 255 characters but is currently 279 characters long.`

[2015-07-13 18:22] #4623 closed, assigned to DFurnes

[2015-07-13 19:42] #4612 closed, assigned to itsjoekent

[2015-07-13 19:42] itsjoekent commented on #4590
@angaither need me to take care of this one?

[2015-07-13 19:45] angaither commented on #4590
@deadlybutter that would be great

[2015-07-14 14:45] #4590 closed, assigned to itsjoekent

[2015-07-14 16:20] ghost commented on #4630
Yes, this should be good now. Resolved!!

[2015-07-14 17:37] ghost commented on #4630
@julielorch Resolving this.

[2015-07-14 17:37] #4630 closed, assigned to nobody

[2015-07-14 18:29] itsjoekent commented on #4468
Doesn't exist in dosomething campaign theme. Took care of everything else

[2015-07-14 19:56] #4468 closed, assigned to itsjoekent

[2015-07-14 19:58] angaither opened #4685 "Not seeing graph on some hot phase campaigns"
@deadlybutter isn't seeing campaigns that should be set in the hot phase

might be an issue with the date checking

[2015-07-15 13:33] #4685 closed, assigned to itsjoekent

[2015-07-15 17:54] angaither opened #4689 "Array flip error on campaign nodes"
`Warning: array_flip(): Can only flip STRING and INTEGER values! in DrupalDefaultEntityController->load() (line 175 of /var/www/staging.beta.dosomething.org/releases/20150709174713/html/includes/entity.inc).`

Not sure what is causing this but seeing it a lot in stage
http://staging.beta.dosomething.org/campaigns/parents-ride-shotty

[2015-07-15 17:54] itsjoekent commented on #4689
I've been seeing this randomly occur on my local as well, ill look into it

[2015-07-16 15:25] itsjoekent commented on #4689
relevant SO issue, appears to occur on drupal 7 when someone uses a load function and passes in an array http://stackoverflow.com/questions/4798047/array-flipcan-only-flip-string-and-integer-values-in-drupaldefaultentitycont

going to debug further to see where its being called from (since a search for _load(array isnt returning anything useful and there is a lot of loads throughout the campaign m

[2015-07-16 15:28] angaither commented on #4689
@deadlybutter [this](https://api.drupal.org/api/devel/devel.module/function/ddebug_backtrace/7) might be helpful for debugging

[2015-07-16 15:36] itsjoekent commented on #4689
yep thats what im using!

[2015-07-16 15:39] sbsmith86 opened #4695 "Graph: Cross Browser Issues"
The graph is showing up as blank in IE8, 9, and Safari.

See trello for screenshots: https://trello.com/c/v4P7UsBb/77-hot-module-looks-different-in-different-browsers

[2015-07-16 15:40] sbsmith86 opened #4696 "Graph: graph doesn't scale after passing the goal line"
When we get pass the goal line, the line chart seems to disappear at the top. The graph should scale appropriately.

![screen_shot_2015-07-16_at_11 18 29_am](https://cloud.githubusercontent.com/assets/1700409/8727770/7fc935b0-2baf-11e5-8e2c-8faccc65459d.png)

[2015-07-16 17:20] itsjoekent commented on #4689
alright, root of problem found. in dosomething_campaign.theme line 206 in dosomething_campaign_preprocess_hot_module is calling dosomething_image_get_themed_image_by_fid and passing in $author->picture->fid. The problem is many of us on our local box/staging don't have an author picture set, thus the FID being passed into the load function is NULL, which the core load function can't array flip.

T

[2015-07-16 18:11] #4689 closed, assigned to itsjoekent

[2015-07-17 15:39] weerd opened #4699 "Replace getKudos() method"
Use the new `Kudos::get()` static method to retrieve RB items.

[2015-07-17 15:42] weerd opened #4700 "Replace getReportbackItems() method"
Use the new `ReportbackItems::get()` static method to retrieve RB items.

[2015-07-17 16:02] weerd opened #4701 "Replace dosomething_reportback_get_reportbacks_query_result()"
Replace `dosomething_reportback_get_reportbacks_query_result()` with `dosomething_reportback_get_reportbacks_query()` to reduce number of parameters and keep them with single `$params` array. This will help with how the function is called in `Reportback` class instances and avoid the need for passing arbitrary params that make it less dynamic.

[2015-07-17 16:04] weerd opened #4702 "Replace dosomething_reportback_get_reportback_files_query_result()"
Replace `dosomething_reportback_get_reportback_files_query_result()` with `dosomething_reportback_get_reportback_files_query()` to reduce number of parameters and keep them with single `$params` array. This will help with how the function is called in `ReportbackItem` class instances and avoid the need for passing arbitrary params and make it less dynamic.

[2015-07-17 16:21] weerd opened #4703 "Update Reportback class __construct()"
The `__construct()` function in the `Reportback` class currently does a lot of extra work whenever the class is instantiated. This is useful for when creating a new Reportback, but conflicts when just loading reportbacks via the class and the construct method always runs first. So best to move this code out of the constructor to avoid having multiple of the same DB queries happening in a single in

[2015-07-17 17:47] #4484 closed, assigned to weerd

[2015-07-17 17:47] #4490 closed, assigned to weerd

[2015-07-17 17:47] #4641 closed, assigned to weerd

[2015-07-17 17:47] #4642 closed, assigned to weerd

[2015-07-20 15:12] sbsmith86 commented on #4610
@aaronschachter @angaither I'm working on adding UTM parameters to goal shares ( #4447). Thinking about creating a helper function where we can pass in the type of UTM parameters we need (default, share) and some custom values if we need them, and it returns an urlencoded string we can append to any link. Thoughts?

[2015-07-20 15:15] angaither commented on #4610
sounds genius @sbsmith86!
maybe `dosomething_helpers` or `dosomething_metatag` don't love either of those, but not sure if a better option exists....

[2015-07-20 15:16] sbsmith86 commented on #4610
@angaither i'll go with `dosomething_helpers` for now.

[2015-07-20 19:26] sergiitk commented on #3720
CC @sheydari-ds

[2015-07-20 19:51] #4589 closed, assigned to itsjoekent

[2015-07-20 20:23] DFurnes opened #4706 "Homepage video takeover"
@kerigoff requested a video takeover on the homepage for when we hit 4,000,000 members. Since we don't have any functionality built out for this and this needs to be delivered on an extremely short timeline, I think our best solution is to just use Optimizely.

Example with our "big foot" video:
![screen shot 2015-07-20 at 4 19 20 pm](https://cloud.githubusercontent.com/assets/583202/8786262/1692e

[2015-07-20 20:31] itsjoekent commented on #4706
I know this was raised earlier but Im gonna say it again, having multiple videos on the homepage might be distracting / be to much going on.

A solution I've seen to this used on other sites is by default the header video is playing, but if the mouse hovers over another tile using video, the header video stops and the campaign tile plays instead. this requires more JS logic but will probably load

[2015-07-21 13:40] angaither opened #4707 "Hot module displays even when date is set to not now"
The hot module displays, on campaigns when the date is set always. It should only show up when the date is set to the current timeframe

https://trello.com/c/F2AuCAGV/78-the-module-hot-does-not-work-for-some-campaigns

[2015-07-21 16:38] itsjoekent commented on #4529
any updates on this? @angaither @sheydari-ds @mshmsh5000

[2015-07-21 17:16] ghost commented on #4529
Sitting down with Matt on this today.

On Tue, Jul 21, 2015 at 12:38 PM, Joe Kent notifications@github.com wrote:

[2015-07-21 17:17] itsjoekent commented on #4529
Okie dokes

[2015-07-21 17:59] angaither commented on #4529
I looked into how much this could affect campaign numbers, and the answer could be quite a bit.

For example, [banned book clubs](https://www.dosomething.org/node/4) has 205 books that should be included in the total, but with the bug, the number inflates to 1005.

A simple, but annoying solution is to re-flag those reportbacks... maybe we could automate this?

[2015-07-21 18:48] #4707 closed, assigned to chloealee

[2015-07-21 19:19] angaither opened #4713 "write a script that retroactively fixes flagging issue"
Refs #4529

For the hot module write a script, or a cron, or a jenkins job that goes checks the flagged status and fixes it.
We can do this to only monitor the 4/5 campaigns that are in the hot module or, just all the campaigns. Probably makes more sense to do it for all of them.
This kind of papers over the issue of why it's happening, and we wouldn't have examples anymore... but it should retroa

[2015-07-21 19:26] #4447 closed, assigned to sbsmith86

[2015-07-21 20:06] DFurnes commented on #4706
Updated snippet from tweaking things some more in the web inspector...

[code]

![screen shot 2015-07-21 at 4 21 24 pm](https://cloud.githubusercontent.com/assets/583202/8811535/8d59228a-2fc4-11e5-9889-0f7e1069a015.png)

[2015-07-21 20:09] itsjoekent commented on #4706
this is so hacky, but the result is amazing so I approve

[2015-07-21 20:11] DFurnes commented on #4706
![hello my name is hack](http://www.pocketfullofliberty.com/wp-content/uploads/2014/01/Hack1-1024x717.jpg)

[2015-07-21 20:20] DFurnes commented on #4706
@sheydari-ds We need to find a place to host the video, poster image, and mobile fallback image for the duration of the takeover. What's the easiest option?

[2015-07-21 20:22] angaither commented on #4706
you could upload it to the droops...

[2015-07-21 20:24] DFurnes commented on #4706
Where dat?

[2015-07-21 20:36] angaither opened #4714 "Display of readable timing goal is off"
The end date that is set is displaying incorrectly on the hot module front end

see: https://trello.com/c/uxM85STK/80-the-timing-is-off

[2015-07-21 20:54] ghost commented on #4706
Sure, we can put it in the files dir directly. I'll be by shortly.

On Tue, Jul 21, 2015 at 4:24 PM, David Furnes notifications@github.com
wrote:

[2015-07-21 21:30] sbsmith86 commented on #4695
@julielorch Can we talk about IE8? There is a lot that is not supported and I'm not sure there is much we can do about it. IE8 is looking like this. I want to get an idea of what we absolutely need and what we can not worry about in IE8.

![screen shot 2015-07-21 at 5 21 21 pm](https://cloud.githubusercontent.com/assets/1700409/8813040/1f5663ba-2fce-11e5-9efb-bc8753484b57.png)

[2015-07-22 13:55] DFurnes commented on #4695
My 2¢: I think this is a perfect example of progressive enhancement. All the important information is still there & nothing appears broken to the user. IE 8 is only ~1% of our traffic, so let's be careful not to spend too much engineering time on it. :)

[2015-07-22 15:02] itsjoekent commented on #4714
Two points so far

1) There was a small typo on line 127 and that fixed one bug.
2) The "hours" bug seems is driving me nuts. Debug process so far below,
- I set the campaign end date to be today and it said the campaign ended in 9 hours :ok:
- I then set the campaign end date to be on this date in August, saved the node and refreshed. Still displays the campaign ends in 9 hours.
- I dsm the objec

[2015-07-22 15:04] angaither commented on #4714
cached?

[2015-07-22 15:04] itsjoekent commented on #4714
just tried, nope

[2015-07-22 15:10] itsjoekent commented on #4714
I just reproduced the bug on a different campaign node. Changed the end date to be the same day as today, calculates hours correctly. then set the end date to next month. the date saves but the difference still thinks it is ending today.

[2015-07-22 15:15] itsjoekent commented on #4714
WOW this just keeps getting weirder. So as I said before re-saving it does nothing, however if you change the day of the month, everything updates.

[2015-07-22 15:16] angaither commented on #4713
The only issue with this fix, is we will won't have the reason that things are getting flagged.

So this for sure shouldn't be the final solution to #4529

[2015-07-22 15:20] mshmsh5000 commented on #4713
Can we log and then fix? We should at least keep a record for auditing & analysis.

[2015-07-22 15:24] itsjoekent commented on #4714
not sure how to fix the drupal saving bugs, I think thats out of the scope of this issue. as for the original linked issue... Solved the bug with days left not displaying correctly sometimes and also fixed hours being too short. Problem was I only displayed the difference in hours and didn't account for the hours in the days between. PR comin up in a sec

[2015-07-22 18:35] angaither commented on #4713
We can add that in the future, but we don't have it for anything that's previously been flagged

[2015-07-22 19:46] itsjoekent opened #4720 "Only changing the month when updating the season end doesn't update"
Very weird to describe, process in which I encountered / discovered it is in the comments here: https://github.com/DoSomething/dosomething/issues/4714#issuecomment-123751304

[2015-07-22 20:19] #4713 closed, assigned to angaither

[2015-07-22 20:25] angaither commented on #4658
@deadlybutter can you take another stab at this?

I think the way forward might be adding the `flagged reason` to the `dosomething_reportback_log`
I know it doesn't make sense with CRUD, but what if we added a `review` OP that stored what is being sent?
Then we can add the flagged reason to the table and update the cron from #4719 so we aren't loosing data

@aaronschachter I would love your input

[2015-07-22 21:03] aaronschachter commented on #4658
Adding all review related updates (status, promoted/flagged reasons, etc) to the `dosomething_reportback_log` table sound like time well spent to me...

[2015-07-23 13:17] angaither commented on #4658
great great great, thanks @aaronschachter :smile_cat:

[2015-07-23 15:43] #4499 closed, assigned to DFurnes

[2015-07-23 17:18] angaither opened #4723 "Add date fields to campaign template for mobile app support"
The mobile app needs campaigns to show up for a month, so it needs a specific start/end date. This doesn't alway align with (and will conflict) with the hot module if we use the high season field.

Steps:
- [x] Add `field_mobile_app_date` - this should have both a start and end date
- [x] Create a new field group called `Mobile App`
- [x] Move the checkbox for `field_on_mobile_app` into the mobile

[2015-07-23 17:27] aaronschachter commented on #4723
@angaither @chloealee - Would it be better to build a single `field_mobile_app_date` with start/end, like `high_season` and `low_season` ? Keeps it consistent...

[2015-07-23 17:29] aaronschachter commented on #4723
I think it'd be nice to have a completely new Field Group for Mobile App too. We can move the "On mobile app" field there. Sounds like we may want to repurpose that field (or build a new renamed one) for the ability to have app-only campaigns.

[2015-07-23 17:30] angaither commented on #4723
Yeah @aaronschachter you're right. I'll update the issue! thanks!

[2015-07-23 17:38] angaither opened #4724 "Check campaign high seasons in the db"
make sure no other campaigns besides these 10 have high season date set for August 1st 2015 to August 31st 2015. can be done through sql query

[2015-07-23 18:08] #4696 closed, assigned to sbsmith86

[2015-07-23 18:10] sbsmith86 opened #4727 "Graph: Goal line leaves chart"
Removing the y-axis scale messed up where the goal line gets placed on the graph. If the highest data point is no where near the goal, then the graph doesn't scale to show the goal line.

Probably need some scaling math that takes into consideration the highest data point so far and scales based on that and the goal.

[2015-07-23 18:45] mikefantini commented on #4727
adding some photos to make sure I'm seeing the same issue you are @sbsmith86

[Hunt Day 2](http://staging.beta.dosomething.org/campaigns/hunt-day-2-trash-scavenger-hunt?source=node/1165):
![image](https://cloud.githubusercontent.com/assets/6330971/8859103/40c2369c-3149-11e5-80d3-9a5384f3894b.png)

[Hunt Day 1](http://staging.beta.dosomething.org/campaigns/hunt-day-1-superstressface?source=campaign

[2015-07-23 18:50] weerd commented on #4723
Would make things easier on the response side if it behaves like the `high_season`, `low_season`, and then maybe we can generalize the date grabbing method in the `Campaign` class to apply to both :)

[2015-07-23 18:52] angaither commented on #4723
Yup, that's the goal @weerd :smile:

[2015-07-23 19:08] aaronschachter commented on #4723
@weerd @chloealee When exporting the new field to features, you'll also want to export the new field group too (for Mobile app)

[2015-07-23 19:10] mikefantini opened #4728 "bring back previous view of /node/[nid]/rb/reviewed"
![image](https://cloud.githubusercontent.com/assets/6330971/8859524/cfacf2a0-314b-11e5-967a-b1b6315dcdb1.png)

honestly can't recall off the top of my head everything that was included but resembled the inbox view

not sure when this broke but must have been since the last prod deploy

![image](https://cloud.githubusercontent.com/assets/6330971/8859694/f2c56474-314c-11e5-8f30-e214f7d04be4.png)

[2015-07-23 19:24] itsjoekent commented on #4728
Ill revert back to an older commit and see what it looked like (and figure out what changed since)

[2015-07-23 19:27] angaither opened #4730 "Hot module json not sending correct max"
The query that selects the max date from the hot module is actually not returning the most recent timestamp

[code]

[2015-07-23 19:28] angaither commented on #4728
:cool: thanks @deadlybutter

[2015-07-23 19:37] #4658 closed, assigned to itsjoekent

[2015-07-23 19:42] joolaay opened #4732 "Enable UK shipments"
![screen shot 2015-07-23 at 3 29 54 pm](https://cloud.githubusercontent.com/assets/6331017/8860319/ff9ac1fe-3150-11e5-8aaa-8ebaee16b09c.png)

The UK team is running a version of 1 in 3 of us and needs to collect addresses in order to mail out their bracelets.
We need to 1) Enable the capability in custom settings to set up a shipment form. and 2) Adjust it for the UK: Instead of Zip Code, have it

[2015-07-23 19:57] angaither commented on #4724
@julielorch I found a few campaigns who have the high season set in august, we will want to remove the ones we don't want in the hot module

| nid | title | high season start date | high season end date |
| --- | --- | --- | --- |
| 28 | Comics to the Rescue | 2015-08-01 | 2015-10-15 |
| 32 | 13 Gallon Challenge | 2015-08-01 | 2015-08-31 |
| 2015 | Fight Fire With Cookies | 2015-08-01 | 2015-09-10

[2015-07-23 20:18] #4727 closed, assigned to sbsmith86

[2015-07-23 20:24] itsjoekent commented on #4728
hmm, problem reverting back b/c the latest work Diego did doesn't exist and it breaks things

![screen shot 2015-07-23 at 4 24 15 pm](https://cloud.githubusercontent.com/assets/897368/8861253/4a7970ca-3157-11e5-8e25-887035a3e208.png)

[2015-07-23 20:25] itsjoekent commented on #4728
Ill try fiddling around to see if i can hack it to work

[2015-07-23 20:28] angaither commented on #4730
I think this requires a subquery to get the max timestamp along with the corresponding data, because what I currently have only selects the max timestamp

[2015-07-23 20:29] angaither commented on #4728
I think if you cc all (or you might possibly have to rebuild) it should work without diego's stuff

[2015-07-23 20:30] sbsmith86 commented on #4730
ahhhhhh i see that now

[2015-07-23 20:37] joolaay commented on #4651
Arf @angaither can you show me where to add campaign lead to set the author? Is this a different field than CREATED BY?

[2015-07-23 21:16] sbsmith86 commented on #4651
@julielorch you have to update the "Authoring Information"
![screen shot 2015-07-23 at 5 16 19 pm](https://cloud.githubusercontent.com/assets/1700409/8862446/921cfe9a-315e-11e5-9c88-e4df448fd4aa.png)

[2015-07-23 21:38] joolaay commented on #4651
Thanks @sbsmith86. Can I add using Campaign lead UIDs? not everyone seems to have a handy ssmith type of handle. I'm not making sense anymore. super. <3

[2015-07-23 21:42] weerd commented on #4700
Resolved #4715

[2015-07-23 21:43] #4700 closed, assigned to weerd

[2015-07-23 21:43] weerd commented on #4699
Resolved #4708

[2015-07-23 21:43] #4699 closed, assigned to weerd

[2015-07-23 21:45] sbsmith86 commented on #4651
@julielorch I think you have to do username

[2015-07-24 13:34] angaither commented on #4651
@julielorch and sometimes the username is set to a NUMBER. FUN... lemme know if you need halp!

[2015-07-24 14:09] chloealee commented on #4723
okay thanks @aaronschachter !

[2015-07-24 14:23] angaither commented on #4730
ahhh, also the max(quantity) should work!

[2015-07-24 14:31] itsjoekent commented on #4728
this is what I believe the page is supposed to look like, I reverted back to commit 9e9d85c7601d2b26f3f0ce3abc0974c09f2743e5 which is from several days ago

![screen shot 2015-07-24 at 10 31 04 am](https://cloud.githubusercontent.com/assets/897368/8876676/1c256bfa-31ef-11e5-8970-70828c3afd1e.png)

[2015-07-24 14:39] #4730 closed, assigned to angaither

[2015-07-24 15:14] itsjoekent commented on #4728
so the only thing thats changed recently (8 days ago) thats related to this is the following commit https://github.com/DoSomething/phoenix/commit/d4e91e479a4ca31930070c544be72dffe8e92694#diff-67bc724f9b8588a3785047d82c4f1510R310

Im guessing in the switch to reportback item a variables usage changed and it broke the admin review form? ill keep digging

[2015-07-24 15:39] aaronschachter commented on #4728
Yes, that change definitely could have broken this view. If you inspect the Reportback Files (I think thats what its named) view in the Drupal admin views UI.. you will probably see labels like "Broken handler" for where the Reportback Files were. cc @weerd

[2015-07-24 15:57] deezone opened #4735 "Include third party opt_in values in Retrieve a campaign endpoint value"
The "Retrieve a campaign" endpoint (https://github.com/DoSomething/phoenix/wiki/API#retrieve-a-campaign) needs to include the Third Party opt_in values for MailChimp and Mobile Commons.
- `mobilecommons_opt_in_path`
- `mailchimp_grouping_id`
- `mailchimp_group_name`

The values are associated / administered via the Drupal admin UI: https://www.dosomething.org/admin/config/dosomething/opt_in. The v

[2015-07-24 16:01] aaronschachter commented on #4735
I'd advise that we do not expose this data to the public.

[2015-07-24 17:02] #4728 closed, assigned to itsjoekent

[2015-07-24 17:30] toyrobs commented on #4727
this is still a problem, now the problem is the scale does not   show up
![screen shot 2015-07-24 at 1 21 14 pm](https://cloud.githubusercontent.com/assets/11587372/8880618/26855e20-3208-11e5-8e06-59dfd03f5ef9.png)

[2015-07-24 17:34] mikefantini commented on #4727
also worth keeping an eye on whether that problem persists in the image I included where the goal line seems to just disappear entirely

[2015-07-26 05:52] deezone commented on #4735
Which means this should be a username / password protected endpoint or something else? Please advise a solution other than not to do it.

Perhaps an alternative is to return the opt_in values when a POST is made to a campaign signup? https://github.com/DoSomething/phoenix/wiki/API#campaign-signup

As things currently stand, user imports from co-marketing partners Teen Life and Her Campus are signe

[2015-07-27 14:20] angaither opened #4739 "Hot module graph appears empty"
![screen shot 2015-07-27 at 9 46 14 am](https://cloud.githubusercontent.com/assets/645205/8908276/29566070-3449-11e5-8ee7-6cd9de88a5e4.png)
And the js file has null values for the quantity by day
![screen shot 2015-07-27 at 10 06 23 am](https://cloud.githubusercontent.com/assets/645205/8908287/393762dc-3449-11e5-992c-90d4089b6b0f.png)

[2015-07-27 15:10] #4739 closed, assigned to itsjoekent

[2015-07-27 15:19] weerd commented on #4735
I chatted with @mshmsh5000 end of last week regarding API security audit. I'm going to working on a bit of that this week and can likely address this item then. It might just be that a request to retrieve a campaign, when admin, can include that information?

[2015-07-27 15:30] itsjoekent commented on #4735
@DeeZone In general it's just bad practice to reveal any backend configuration to the public. I think a good solution to this problem would be to expose the opt-in values (on this endpoint) if the api request is made by an authenticated admin.

[2015-07-27 15:35] aaronschachter commented on #4735
Yep, I meant just behind a username/pass that should have access to those values @DeeZone

[2015-07-27 15:47] angaither opened #4741 "Hot module tumblr share"
the tumblr share returns a 404
![](https://slack-files.com/files-tmb/T024GV2BW-F087E3HV1-353e25e0fc/screen_shot_2015-07-27_at_11.44.17_am_1024.png)

[2015-07-27 15:49] angaither commented on #4714
Toyin is still seeing this issue
Has the end date 4 days away, but the graph displays that there are 3 days left
http://staging.beta.dosomething.org/campaigns/hunt-day-2-trash-scavenger-hunt

[2015-07-27 16:06] deezone commented on #4735
@weerd I think the concerns would be addressed by providing the values in the return values here:

This provides a secure endpoint and the values would be most value after a user campaign signup from the Message Brokers perspective.

Let me know if this makes sense and I'll update the original issue description.

[2015-07-27 17:35] weerd commented on #4735
Gotcha. I haven't dealt much w/ the `POST` end of things on Campaigns, but it's something I could look into. I need to implement some security stuff w/in the `GET` requests anyhoo, so I may look into that first to get the ball rolling.

[2015-07-27 17:43] #4741 closed, assigned to sbsmith86

[2015-07-27 18:03] deadlybutter commented on #4714
already see the bug I think,

https://github.com/DoSomething/phoenix/blob/dev/lib/modules/dosomething/dosomething_campaign/dosomething_campaign.theme.inc#L122

pretty sure thats supposed to be using $difference, not $end date

[2015-07-27 18:07] itsjoekent commented on #4714
wait no, the problem is technically not a bug actually. the difference in days is correct, its just that theres hours in between (so in reality its not 4 days, its 3 days and 6 hours or whatever). Ill just round the day up 1 to account for this

[2015-07-27 18:47] itsjoekent commented on #4714
talked with @lkpttn -- this is not a bug and is the desired functionality (rounding down verses up). closing the issue

[2015-07-27 18:47] #4714 closed, assigned to itsjoekent

[2015-07-27 18:51] joolaay commented on #4651
@angaither did we make an issue for this? "make sure no other campaigns besides these 10 have high season date set for August 1st 2015 to August 31st 2015. can be done through sql query"

[2015-07-27 18:52] angaither commented on #4651
@julielorch yep! https://github.com/DoSomething/phoenix/issues/4724

[2015-07-27 18:56] joolaay commented on #4724
@angaither great should I remove them?

[2015-07-27 18:57] angaither commented on #4724
yes please @julielorch

[2015-07-27 20:57] joolaay opened #4744 "SMS webform *Know it* section missing from the Admin View"
![screen shot 2015-07-27 at 4 55 39 pm](https://cloud.githubusercontent.com/assets/6331017/8917492/5680a538-3480-11e5-90a5-d90488736d09.png)

Hi - the _Know it_ section is MIA, so admins can't edit the Problem or Solution sections on SMS games. Needed for Aug 1 launch of bully text.

[2015-07-27 20:59] angaither commented on #4732
@deadlybutter we need to make sure the form fields change for uk only, as well as ensure that the US validation still works, but doesn't try to fire on uk forms

[2015-07-27 21:16] itsjoekent commented on #4744
@mikefantini messaging you to make sure you know about this change #knowit

[2015-07-27 21:16] #4744 closed, assigned to itsjoekent

[2015-07-28 03:35] mikefantini opened #4747 "Graph dates not corresponding with rb submission dates"
Just set [Banned Books Club](http://staging.beta.dosomething.org/campaigns/banned-books-club) to be hot from Jan 1 - July 31 2015. It makes sense that the progress is 8, but [these reportbacks](http://staging.beta.dosomething.org/node/4/rb/reviewed) occurred earlier in 2015. Not quite sure why they are showing up as having just happened in July on the graph:

![image](https://cloud.githubuserconte

[2015-07-28 03:35] mikefantini commented on #4695
+1 to @DFurnes's comments. As long as the other browsers are set and all that remains is IE8 looking like this I think we should be good to close out this issue.

[2015-07-28 03:45] mikefantini commented on #4747
is this because the graph starts as soon as it's put into the hot module?

provided we don't want to retroactively put anything as hot (i.e. start the hot season at a date in the past) then this won't actually be an issue. and I can't think of any reason we'd want to do this. leaving this issue here though so this is documented.

[2015-07-28 04:27] mikefantini opened #4748 "live query was resetting value set by cron, causing quantity displayed to be off"
[Bake Sales for Babies](http://staging.beta.dosomething.org/node/1467/rb/reviewed?status=All&flagged_reason=All&promoted_reason=All&order=quantity&sort=desc) should have a Total Reportback Quantity of 3917 but it's stated as 717. The 717 seems to be excluding [this reportback](http://staging.beta.dosomething.org/admin/reportback/1172) but not sure why since it's set as promoted and doesn't seem to

[2015-07-28 04:45] mikefantini opened #4749 "admins can no longer change status of rb"
not sure if you guys purposefully made this change (can't see that documented anywhere in my quick check) but admins are no longer able to change their mind and change the status of a rb after reviewing it.

related to #4621 #4669

cc: @julielorch putting into Hot Module 1.1 right now. If you want to change the prioritization totally your call.

[2015-07-28 04:58] mikefantini opened #4750 "# of hours left should start at 48 hours for Hot Module"
![image](https://cloud.githubusercontent.com/assets/6330971/8923765/210c7790-34c3-11e5-8dea-d34052763174.png)

http://staging.beta.dosomething.org/campaigns/hot-module

Here it shows 71 Hours Left. Shouldn't this be 2 days left still

refs: #4714

[2015-07-28 05:17] mikefantini opened #4751 "can't submit initial photo for reportback"
http://screencast.com/t/xiDL5vntmP5D

to reproduce:
- go to campaign page
- sign up for campaign
- try to report back
- file upload dialog box opens up, but once you select a file cropping modal doesn't open

only happening on staging. seems to be working fine on production.

also adding another photo to an existing reportback seems to be working fine as well. it's just the initial photo that does

[2015-07-28 05:48] mikefantini commented on #4646
@angaither I tried running through this doc but was blocked by #4751.

can someone have Toyin run through this on http://staging.beta.dosomething.org/campaigns/hot-module once #4751 is fixed and deployed to staging? I created a Trello card for this here: https://trello.com/c/d4LVMrcL

I imagine that the overrides might not work (set in the custom settings) but this doesn't really matter for August

[2015-07-28 13:27] angaither commented on #4751
@sbsmith86 seeing this on the campaign page: `Uncaught TypeError: Cannot read property 'forEach' of null`

[2015-07-28 13:36] angaither commented on #4747
The graph doesn't take the date of the reportback into account at all, it just takes the total quantity

[2015-07-28 13:42] angaither commented on #4748
@mikefantini yeah, anything that has reportbacks already, that will be included in the total.
Is this issue the same as #4747 or is this about the numbers being incorrect because it's including non-reviewed reportback quantity in the total?

[2015-07-28 13:42] angaither commented on #4748
@deadlybutter can you take some time today looking into this?

[2015-07-28 13:42] itsjoekent commented on #4750
ah, this is that same issue we talked about yesterday because of the hours/days remaining (technically it started counting down at 2 days, but its 48 hours + 8 or however many are remaining). I'm gonna update the conditional to be hours based thus it wont start until its 48 or lower.

[2015-07-28 13:43] itsjoekent commented on #4748
sure

[2015-07-28 13:47] angaither commented on #4749
@mikefantini I think this still works, you just have to go to the individual reportback to change the status.
http://staging.beta.dosomething.org/admin/reportback/1802

... not sure if that's different place (#4728) than where it was before, but the functionality is still there

[2015-07-28 13:54] #4750 closed, assigned to itsjoekent

[2015-07-28 13:57] angaither opened #4753 "Add new OP/column to reportback log"
In the change log on the admin view of a reportback, it should include the new OP rows as well as the new 'flagged/promoted' OPs

![screen shot 2015-07-28 at 9 54 58 am](https://cloud.githubusercontent.com/assets/645205/8933053/d7a3583e-350e-11e5-8041-d728bede52b3.png)

[2015-07-28 14:05] sbsmith86 commented on #4747
@angaither @mikefantini Could it also be because we weren't logging reportbacks in the new log table before July? So, that table only has totals starting in July and that is what we are using the query to create the data object for the graph.

[2015-07-28 14:07] angaither commented on #4747
nah, that still just searches all reportbacks, no matter what the date they were submitted is.

[2015-07-28 14:09] sbsmith86 commented on #4747
@angaither Right, so the actual log won't have the total reportbacks we had on Jan 15, 2015,for example? Because we weren't logging that info at that time.

[2015-07-28 14:14] sbsmith86 commented on #4751
@mikefantini @angaither hmmmmmm I was able to submit an intital reportback twice, once from an old account on a campaign I never reported back on. Then I created a new account, signed up for a campaign, reported back and was able to crop and everything. I'm on chrome. I'll try in other browsers...

[2015-07-28 14:17] angaither commented on #4747
The [query](https://github.com/DoSomething/phoenix/blob/dev/lib/modules/dosomething/dosomething_reportback/dosomething_reportback.cron.inc) that runs to add things to the log takes all reportbacks into account, no matter what date they were submitted. So there won't be a record of what the total quantity was on Jan 15, but a reportback submitted on that day will be included in the total quantity.

[2015-07-28 14:20] sbsmith86 commented on #4747
@angaither yea so that is why when @mikefantini set the hot phase to be a date before we started logging, the graph only shows data from July on.

@mikefantini So in the rare cases we need to set the hot phase to a time in the past, we will see the data on the graph from when we actually started logging the total reportbacks each day (so from July, 2015 on)

[2015-07-28 14:25] sbsmith86 commented on #4751
Having trouble reproducing this... I tried on Chrome, FF, and Safari. Going to ask Toyin to take a look...

[2015-07-28 14:28] angaither commented on #4751
I was able to reproduce on stage (and chrome), let me know if you wanna hang and work on this together

[2015-07-28 14:32] angaither commented on #4747
AH. right. yes yes yes. Sorry misunderstood the issue!

[2015-07-28 14:49] #4735 closed, assigned to weerd

[2015-07-28 14:54] mikefantini commented on #4749
welp that's embarrassing. definitely couldn't find it last night even after checking multiple times. carry on.

[2015-07-28 14:54] #4749 closed, assigned to nobody

[2015-07-28 14:56] sbsmith86 commented on #4751
So we are seeing this issue on http://staging.beta.dosomething.org/campaigns/hot-module this is because this is a new campaign with no reportbacks tied to it. So the graph data has null values for `quantity` and `dates`. The graph script is doing some iteration over these values and failing since the arrays are null causing the page to break. Need to add some checks for null arrays to the script s

[2015-07-28 14:58] mikefantini commented on #4747
sweet sounds good to me! thanks for the explanation @angaither @sbsmith86 closing this one out

[2015-07-28 14:58] #4747 closed, assigned to nobody

[2015-07-28 15:10] itsjoekent commented on #4748
- in that first example its excluding a lot more than that 3K reportback. hmm.
- other two is the inbox count like you said.
- flagged campaigns still count towards the total count

edit: current guess / line of thinking is the 'sum_rb_quantity' helper variable is not being updated/set properly

[2015-07-28 15:11] mikefantini commented on #4748
yeah sorry if this was unclear, I was just pointing out some inconsistencies I was seeing in the Total Reporback Quantity.

The two issues I was seeing here were:
1. The reportback quantity on Bake Sales for Babies for some reason ignoring http://staging.beta.dosomething.org/admin/reportback/1172 and so the total was 3200 less than it should be.
2. Baby It's Cold Outside and Wildlife Cards countin

[2015-07-28 15:25] mikefantini commented on #4748
@deadlybutter i'm only seeing the 3200 of http://staging.beta.dosomething.org/admin/reportback/1172 being improperly excluded. The only other quantity that is excluded is the 100 of http://staging.beta.dosomething.org/admin/reportback/2651 but that's intended funtionality since it's flagged.

can you explain what you mean by "in that first example its excluding a lot more than that 3K reportback.

[2015-07-28 15:27] itsjoekent commented on #4748
oh, I counted reportback items twice on accident, didnt realize it was the same reportback. yeah, then its only that 3200 one being excluded.

[2015-07-28 15:36] sbsmith86 commented on #4695
great, closing.

[2015-07-28 15:36] #4695 closed, assigned to sbsmith86

[2015-07-28 15:37] itsjoekent commented on #4748
alright, this was some kind of saving bug I think? I set it (the 3200 reportback we keep referencing) to approved, and then back to promoted and the total quantity is now correct.

[2015-07-28 15:50] itsjoekent commented on #4748
this RB also has the bug, was made yesterday and not net reviewed, but its going towards the total quantity

http://staging.beta.dosomething.org/node/1360/rb

this is what the DB looks like for it

![screen shot 2015-07-28 at 11 51 46 am](https://cloud.githubusercontent.com/assets/897368/8936225/1400937c-351f-11e5-9d68-39d3eb3c5f25.png)

[2015-07-28 17:04] #4751 closed, assigned to sbsmith86

[2015-07-28 17:12] angaither opened #4756 "Flagged status should be null by default"
Before a reportback is reviewed the `flagged` and `promoted` status in the `dosomething_reportback` table should be `NULL`

Not sure what is causing newly submitted reportbacks to have a status of 0 by default, but that shouldn't be the case

[2015-07-28 17:44] itsjoekent commented on #4748
so far I haven't been able to reproduce this bug locally, only happening on stage?

edit: also tried on an unpublished campaign on prod, couldnt reproduce there either..?

edit: might have just reproduced it, standby.,, -- confirmed, was able to reproduce locally here http://dev.dosomething.org:8888/node/689/rb

[2015-07-28 18:39] #4723 closed, assigned to chloealee

[2015-07-28 19:34] angaither commented on #4724
:cool: the correct 4 campaigns are the only ones displaying a hot module starting August 1, going to close this issue

[2015-07-28 19:34] #4724 closed, assigned to angaither

[2015-07-28 19:44] angaither commented on #4639
think we are good with this one :wink:

[2015-07-28 19:44] #4639 closed, assigned to nobody

[2015-07-28 19:47] DFurnes commented on #4706
Done. Closing! :hammer:

[2015-07-28 19:47] #4706 closed, assigned to nobody

[2015-07-28 20:15] itsjoekent commented on #4706
are we still going to build out a drupaly way of doing this?

[2015-07-28 20:35] DFurnes commented on #4706
I think it's somewhere on the roadmap. We can make issues for that once its scope is worked out in the product process.

[2015-07-29 15:16] itsjoekent opened #4758 "Can't generate reportbacks because of message broker error"
Cannot generate reportbacks using the reportback generator because it encounters a fatal error. Occurs on every refresh.

![screen shot 2015-07-29 at 11 15 59 am](https://cloud.githubusercontent.com/assets/897368/8961447/3fe00ada-35e3-11e5-9f71-84d72b96f587.png)

[2015-07-29 15:51] itsjoekent commented on #4758
Fixed by running a DS build ( @angaither )

[2015-07-29 15:51] #4758 closed, assigned to nobody

[2015-07-29 18:11] weerd opened #4759 "Undefined index notice in Campaign class"
When extracting MailChimp and MobileCommons data, there is a bug with handling `null` when those items aren't present in the Campaign.

[code]

[2015-07-29 18:16] angaither opened #4760 "Undefined index on page loads"
Seeing lots of these in the logs on page loads

`Notice: Undefined index: dosomething_user_log_login in dosomething_user_preprocess_page() (line 18 of /var/www/dev.dosomething.org/lib/modules/dosomething/dosomething_user/dosomething_user.module).`

[2015-07-29 18:21] itsjoekent commented on #4760
on staging?

[2015-07-29 18:24] angaither commented on #4760
yeah, looks like that line should be `if(isset($_SESSION['dosomething_user_log_login']))`

[2015-07-29 18:25] itsjoekent commented on #4760
yep yep

[2015-07-29 19:05] sergiitk opened #4761 "v1.0.6 Critical prod error: E_ERROR: Call to undefined function publish()"
https://rpm.newrelic.com/accounts/108038/applications/3268309/traced_errors/dc9e7b-60427f31-3623-11e5-8d1d-b82a72d2466d

[code]

[2015-07-29 19:08] sergiitk commented on #4761
I think it should be `$this-publish()` here:
https://github.com/DoSomething/messagebroker-phplib/blob/master/src/MessageBroker.php#L194

@DeeZone @sheydari-ds

[2015-07-29 19:16] sergiitk commented on #4761
Testing fix: https://jenkins.dosomething.org/job/Deploy-Production/30/console

[2015-07-29 19:58] angaither commented on #4761
Fixed, thanks @sergii-tkachenko and @DeeZone

[2015-07-29 19:58] #4761 closed, assigned to nobody

[2015-07-29 20:37] #4760 closed, assigned to itsjoekent

[2015-07-29 21:07] chloealee opened #4763 "Invalid argument supplied for foreach() in Campaign class"
When extracting Mobile App start and end dates, there is a bug when trying to pass through `null` through foreach() block if no dates are set.

[code]

[2015-07-30 15:49] joolaay commented on #4732
@deadlybutter UK is looking for a timing update - anything I can tell them for now?

[2015-07-30 15:52] itsjoekent commented on #4732
@julielorch was only able to start working on this one today, had issues getting my international environment running but sergii helped me out. Hopefully I knock this out by EOD!

[2015-07-30 15:56] joolaay commented on #4732
Woooord!

On Thu, Jul 30, 2015 at 11:52 AM, Joe Kent notifications@github.com wrote:

[2015-07-30 16:02] #4759 closed, assigned to weerd

[2015-07-30 16:23] #4763 closed, assigned to chloealee

[2015-07-30 17:58] itsjoekent commented on #4732
this is the current form that already exists when i enable shipments on the UK site, looks like it just needs county added.

<img width="576" alt="screen shot 2015-07-30 at 1 58 02 pm" src="https://cloud.githubusercontent.com/assets/897368/8990885/19ee3c9e-36c3-11e5-8c08-524ee660d999.png">

[2015-07-30 17:59] itsjoekent commented on #4732
actually @julielorch does the order here matter?

[2015-07-30 18:10] joolaay commented on #4732
My hunch is that yes, the order matters. It should reflect the first pasted
image. I think the UK guys are signed off for now, but I could ask them
tomorrow if it matters.

On Thu, Jul 30, 2015 at 1:59 PM, Joe Kent notifications@github.com wrote:

[2015-07-30 19:36] aaronschachter commented on #3449
#4766

[2015-07-30 19:36] #3449 closed, assigned to blisteringherb

[2015-07-30 19:47] sergiitk commented on #3449
Thanks @aaronschachter.

[2015-07-30 23:50] deezone opened #4767 "Add support for last_name / LNAME for UK site"
Related Trello card: https://trello.com/c/27Kxpe0B

The UK affiliate site has requested support for the last name to be submitted to their MailChimp account for user registrations. Currently the last name is collected on the UK user registration form with: https://github.com/DoSomething/phoenix/blob/dev/lib/modules/dosomething/dosomething_user/dosomething_user.module#L1062-L1068

The stored value

[2015-07-31 00:03] deezone commented on #4767
@aaronschachter @angaither @DFurnes Any thoughts on why the user last name may have been excluded from the message payload? Trying to think of any potential gotchas by adding it back in for the UK MailChimp submissions.

[2015-07-31 14:35] angaither commented on #4767
@DeeZone not really sure what you're asking here. it looks like it isn't getting sent because it isn't included in the payload from Drupal. Is this issue to add it? It should work when it's added [here](https://github.com/DoSomething/phoenix/blob/dev/lib/modules/dosomething/dosomething_user/dosomething_user.module#L457-L463)

[2015-07-31 16:50] #4624 closed, assigned to sbsmith86

[2015-07-31 16:59] deezone commented on #4767
@angaither  My question is if you can think of any reason why `'last_name' => dosomething_user_get_field('field_last_name', $account),` is not currently being set / used?

I have a vague memory of it being a part of the payload in the past. Perhaps removed when it was clear it would not be collected in the US registration form? Just wondering if there's another reason that might cause problems.

A

[2015-07-31 17:04] angaither commented on #4767
@DeeZone from what I remember I don't think we ever sent the last name to the mb payload, so I think we just will need to add it to the params array [here](https://github.com/DoSomething/phoenix/blob/7a1b83591f95a6f9c2e9b9fc95a9ec728c0a563d/lib/modules/dosomething/dosomething_user/dosomething_user.module#L457)

[2015-07-31 17:17] deezone commented on #4767
@angaither Thanks for your thoughts.

[2015-07-31 18:13] weerd commented on #4756
Narrowed down the issue and working on a proper solution.

The issue seems to be that because the `$flagged` property is defined in the class:

![image](https://cloud.githubusercontent.com/assets/105849/9014080/0f0c12ee-378e-11e5-81ed-95ca96b1b34e.png)

Upon saving the RB and the slew of function calls that happen, when `entity->save()` occurs, for some reason it insists on setting the value to `0

[2015-07-31 18:16] weerd commented on #4756
It might not be Entity module behaving oddly, but maybe because the schema defines that column as having to be a boolean value.

So either Drupal or MySQL switches the type and makes `null` = `0` or false if the property is present when creating the DB row.

Solution may be to allow nullable field by updating the schema!

[2015-08-01 00:50] mikefantini opened #4770 "progress and goal not showing on prod"
https://www.dosomething.org/node/1536:
![image](https://cloud.githubusercontent.com/assets/6330971/9019979/fef683c6-37c4-11e5-819e-590c0d904ad6.png)

https://www.dosomething.org/node/2089:
![image](https://cloud.githubusercontent.com/assets/6330971/9019981/148756d4-37c5-11e5-8201-12f30644c9f0.png)

@sbsmith86 - not exactly sure what's happening here, but let's touch base on this Monday

[2015-08-01 03:31] angaither commented on #4756
does it need to be defined as a public property here? is it because it's used later in the `build` method??
I wonder if we set the default value to null here if that changes anything?

[2015-08-01 14:13] angaither commented on #4770
The theme setting `show_campaign_progress` needed to be checked as well :+1:

[2015-08-01 14:13] #4770 closed, assigned to sbsmith86

[2015-08-03 13:41] angaither opened #4771 "Stat card progress"
The campaign progress on the hot module should be tied to the hot module feature flag, not the `show_campaign_progress` feature flag in the theme

[2015-08-03 14:51] weerd commented on #4756
Yeah, all the properties are use later. It's usually best to define them. I already tried setting the `NULL` value where the property is defined, but no dice (:no_entry_sign:  :game_die:).

I originally thought that maybe the table field for `flagged` in the DB was set to `NOT NULL` and so was turning the `NULL` value into a `0`, but it turns out there was a DB update a while back to make that fie

[2015-08-03 15:45] weerd commented on #4756
So, turns out that Drupal when it requests the schema for the table using `drupal_get_schema()`, the field is shown as being `not null = true`, yet SequelPro says it's set to allow `null`...

[2015-08-03 16:36] mikefantini opened #4775 "new reportbacks are skipping the inbox"
example - nid 1667:

nothing in the inbox:
![image](https://cloud.githubusercontent.com/assets/6330971/9042286/b664337e-39db-11e5-9a4a-c8a291f1cd60.png)

and nothing reviewed, but quantity is 950:
![image](https://cloud.githubusercontent.com/assets/6330971/9042271/9b6db054-39db-11e5-9b69-5ef35d9abafc.png)

http://staging.beta.dosomething.org/admin/reportback/2820 and http://staging.beta.dosomethin

[2015-08-03 16:37] angaither commented on #4775
so I think the quantity getting added to the total should be fixed when @weerd fixes #4756

[2015-08-03 17:03] #4756 closed, assigned to weerd

[2015-08-03 18:17] mikefantini commented on #4775
just recreated on nid 1617 with rbid 2839

also recreated on nid 1427 with rbid 2853 and nid 49 with rbid 2876

[2015-08-03 19:37] angaither commented on #4748
put a temp fix in place with  #4773, need to figure out what is wrong with the query `dosomething_reportback_get_reportback_total_by_nid`

[2015-08-03 19:39] angaither opened #4779 "clean up reportback file flagged status"
Need to write an update hook that searches for any file/reportback that's pending and updates the flagged status from `0->null`

this could affect the total campaign progress number
Refs #4756

[2015-08-03 20:15] angaither opened #4780 "Zendesk ticket submission errors"
Currently the error message for when Zendesk ticket submission fails reads "Sorry, there was an error with your request. Please try again."

first step, let's update the text to say
- [x] Sorry, there was an error with your request, please email help@dosomething.org and we'll get your question sorted out!

then
- [x] try to figure out what's going wrong, since we should be using an old version of

[2015-08-03 20:28] angaither commented on #4779
items that are pending and the reportback has been marked as not flagged = 0 (instead of null). this is what's causing non-reviewed reportbacks to be added to the count. this will retroactively fix fbs affected by #4756

[code]

| stage | prod |
| --- | --- |
| 218 | 1381 |

---

items that are flagged, but the reportback as a whole is not flagged. this is what's causing flagged reportbacks to be

[2015-08-03 20:41] #4644 closed, assigned to sbsmith86

[2015-08-03 21:41] mikefantini commented on #4775
ongoing list of inbox status of staging campaigns https://docs.google.com/spreadsheets/d/1IPhVXwy-Ivi3Q7dZLMdCQHmiSYlimhqU858a17EniqY/edit#gid=0

[2015-08-03 21:45] angaither commented on #4775
this is b/c the query to get the total is joining on the reportback noun and verb.
for all those campaigns where the reportbacks are 'skipping' the inbox it's because the campaign doesn't have the verb/noun set.
when the noun and verb are set, the reportbacks show up in the inbox properly

https://github.com/DoSomething/phoenix/blob/dev/lib/modules/dosomething/dosomething_reportback/dosomething_re

[2015-08-04 15:24] mikefantini commented on #4780
it looks like the last ticket that came in through the site was sent in on Jul 08 07:21 am

https://dosomethingorg1.zendesk.com/agent/tickets/75843

[2015-08-04 15:33] mikefantini commented on #4780
@DFurnes not sure if this is helpful or not ^

[2015-08-04 16:19] DFurnes commented on #4780
Looking at our deploy logs for July, our two production deploys during that time period were `v0.5.13` on July 2nd, and `v0.5.22` on July 16th. Here's the [commit diff](https://github.com/DoSomething/phoenix/compare/v0.5.13...v0.5.22) between those tags. From skimming it though, it doesn't look like anything changed that would affect Zendesk...

@mikefantini How many support messages do we average

[2015-08-04 16:45] DFurnes commented on #4780
From poking around on local dev, it seems like we're getting a bad response from their API in [dosomething_zendesk_verify_zendesk_user](https://github.com/DFurnes/phoenix/blob/zendesk-link-error/lib/modules/dosomething/dosomething_zendesk/dosomething_zendesk.module#L343-343).

[code]

Is it possible our account credentials are just out of date?

[2015-08-04 16:49] DFurnes commented on #4780
It looks like the account that we use for Zendesk API access is Marah's personal account.

@marahml Is it possible you changed your account password at some point and maybe your API tokens were invalidated as a security precaution?

[2015-08-04 17:14] angaither commented on #4780
We should probably use the ds-tech account for API access

[2015-08-04 17:23] angaither opened #4785 "Reportback change log isn't displaying"
http://staging.beta.dosomething.org/admin/reportback/2873

There's no change log displaying for recently submitted reportbacks

[2015-08-04 17:33] angaither commented on #4771
closed with #4772

[2015-08-04 17:33] #4771 closed, assigned to sbsmith86

[2015-08-04 17:34] DFurnes commented on #4780
@angaither Agreed. Switching the API email to `tech-support@dosomething.org` seemed to fix things on my local. Going to try changing it on production as well.

[2015-08-04 17:38] DFurnes commented on #4780
Verified working now on production. Closing! :hammer:

/cc @mikefantini

![screen shot 2015-08-04 at 1 38 25 pm](https://cloud.githubusercontent.com/assets/583202/9067893/1a94c1b0-3aae-11e5-8ba1-924862f94c2c.png)

[2015-08-04 17:38] #4780 closed, assigned to nobody

[2015-08-04 17:43] angaither opened #4786 "Expose flagged status/file status on admin view"
Add a row in the admin reportback view that exposes the `flagged` status on the reportback, to make it easier to see when flagging discrepancies happen

[2015-08-04 17:47] mikefantini commented on #4780
you're a king @DFurnes :crown:

[2015-08-04 18:54] #4515 closed, assigned to sbsmith86

[2015-08-04 18:54] #4516 closed, assigned to sbsmith86

[2015-08-04 18:55] #4440 closed, assigned to sbsmith86

[2015-08-04 19:24] mikefantini opened #4788 "tips on action page in do it section aren't displaying"
clicking on 2nd and 3rd tips in the Do It section doesn't reveal the tip

https://trello.com/c/PP9igkzA

@DFurnes can you please take a look?

[2015-08-04 19:31] mikefantini opened #4789 "mobile common opt-ins aren't working besides SMS Games"
Looking at Mobile Commons Reports it appears to have happened on Monday 8/3/2015

General Site Registration: https://dosomething.mcommons.com/campaigns/134280/opt_in_paths/164905/report

General Campaign Log In:
https://dosomething.mcommons.com/campaigns/134280/opt_in_paths/164453/report

Thumb Wars:
https://dosomething.mcommons.com/campaigns/134280/opt_in_paths/179762/report

GTFO:
https://dosome

[2015-08-04 19:35] mikefantini commented on #4789
from @sergii-tkachenko: last sms registration in the log
------- MBC_RegistrationMobile START #25999 - Sun Aug 2 22:36:19 EDT 2015 -------

[2015-08-04 19:44] sergiitk commented on #4789
Turned out `mbc-registration-mobile` consumer wasn't started in `mbc-php`.
Fixed it with `sudo start mbc-registration-mobile`.

Note: we need some kind of process monitoring for these.

[2015-08-04 19:50] angaither commented on #4785
it seems as though logs aren't getting created for new reportbacks -_-

[2015-08-04 19:55] angaither commented on #4785
from dblog
exception 'PDOException' with message 'SQLSTATE[42S22]: Column not found: 1054 Unknown column 'reason' in 'field list'' in /var/www/dev.dosomething.org/html/includes/database/database.inc:2171 Stack trace: #0 /var/www/dev.dosomething.org/html/includes/database/database.inc(2171):

[2015-08-04 19:59] DFurnes commented on #4788
Released a patch to [Forge](http://forge.dosomething.org/#tabs) that will be applied on next deploy.

[2015-08-04 19:59] #4788 closed, assigned to DFurnes

[2015-08-04 20:06] DFurnes commented on #4788
And the fix is deployed on staging!

[2015-08-04 20:09] angaither commented on #4785
The update hook to add `reason` to `dosomething_reportback_log` didn't run properly
seeing this error when trying to re-run it
`SQLSTATE[42000]: Syntax error or access violation: 1064 You have an error in your SQL syntax; check the manual that corresponds to   [error]
your MySQL server version for the right syntax to use near 'DEFAULT NULL' at line 1`

[2015-08-04 20:14] angaither opened #4790 "Undefined properties in reportback in dblog"
`Notice: Undefined property: Reportback::$flagged_reason in Reportback->insertLog() (line 280 of /var/www/dev.dosomething.org/lib/modules/dosomething/dosomething_reportback/includes/Reportback.php).`

`Notice: Undefined property: Reportback::$promoted_reason in Reportback->insertLog() (line 280 of /var/www/dev.dosomething.org/lib/modules/dosomething/dosomething_reportback/includes/Reportback.php).

[2015-08-04 20:32] #4786 closed, assigned to nobody

[2015-08-04 20:57] mikefantini commented on #4529
i think we recreated this:
1. submit reportback
2. add another image to the same reportback
3. as admin, flag the first file
4. as admin, approve the second file
5. save the inbox
6. check the db and the first file will appear to have status = flagged but flagged status = 0

@angaither

thanks @DFurnes for figuring this out you goddamn champion

[2015-08-04 21:20] #4785 closed, assigned to nobody

[2015-08-04 21:21] DFurnes opened #4792 "SQL error on running database update"
When running `drush updb`, I got the following error. It did not seem to cause either of the queued migrations (`dosomething_helpers_update_7008` and `dosomething_reportback_update_70029`) to fail.

[code]

/cc @angaither

[2015-08-04 21:25] angaither commented on #4792
I think we are ok with this one, as it's already run on stage & prod.

[2015-08-04 21:25] #4792 closed, assigned to nobody

[2015-08-05 14:28] angaither commented on #4775
@weerd can you update the query so that reportbacks show up in the inbox regardless if the campaign noun/verb are set?
Should be a left join (I am pretty sure)

[2015-08-05 14:40] sbsmith86 opened #4793 "Google Analytics: Fender Refactor"
I think we should refactor how we implement google analytics on the front end. Documenting it here for discussion.

My idea is that we come up with some standard class names and data attributes to use and then create a function that sends listens to click events on that class and sends different info to GA based on what data attributes it has?

For example, if tracking clicks we could simply do:

[2015-08-05 14:43] DFurnes commented on #4793
:tada:

Yeah, this is super needed. It'd also be nice to have this create corresponding [Optimizely custom events](https://help.optimizely.com/hc/en-us/articles/200039925-Custom-event-goals) so that the data team can use those if they need.

[2015-08-05 15:38] #4575 closed, assigned to sbsmith86

[2015-08-05 16:45] mikefantini opened #4795 "print rbid into inbox of /rb"

[2015-08-05 17:12] #4611 closed, assigned to sbsmith86

[2015-08-05 18:16] #4775 closed, assigned to weerd

[2015-08-05 19:07] mikefantini opened #4797 "reportback inbox submission query retrieval issue"
watched Jess review 25 FIDs on node 2805. here is [a doc](https://docs.google.com/a/dosomething.org/spreadsheets/d/1R1EOY3TEI1_eJ_otK6DftkTicaTQeNBf7g4R5t8zYqc/edit?usp=sharing) tracking what took place in terms of which FIDs remained in the inbox, which went into the reviewed tab, and which were never actually reviewed but went into the reviewed tab anyway.

[2015-08-05 19:14] #4795 closed, assigned to angaither

[2015-08-05 20:12] #4560 closed, assigned to sbsmith86

[2015-08-05 20:24] mikefantini commented on #4797
this is happening because when an editor clicks save on the inbox we think it is querying for the most recent files while the form is being submitted, instead of just the data that was submitted (i.e. the 25 or less FIDs that were in the inbox)

steps to replicate:
1. load rb inbox
2. have a user load up a campaign
3. have that user submit a rb
4. wait until rb is submitted
5. review rbs that are

[2015-08-05 21:05] angaither opened #4804 "Image node reference"
in `dosomething_campaign` settings add a reference to a node id, this should follow the example of
the "Alternate header image nid" field

Then you can use the `dosomething_image` functions to pass the correct images to the theme

[2015-08-05 21:06] angaither opened #4805 "Win copy field"
Another setting in the dosomething campaign hot module setting grouping to allow for generic template copy when a campaign is in the win phase

[2015-08-05 21:08] angaither opened #4806 "Share prompt"
Win share copy in dosomething campaign hot module setting

[2015-08-05 21:08] sbsmith86 opened #4807 "Display image and progress"
Display the confetti background image with the progress number and noun/verb in the center.

[2015-08-05 21:09] sbsmith86 opened #4808 "Display author callout under the win header"
Display the win copy and author image under the confetti header.

[2015-08-05 21:09] angaither opened #4809 "Pull in a random promoted image"
On the win module, pull in a random promoted reportback image to display at the top

Should be a call to the ds api to grab a promoted image, limit 1

[2015-08-05 21:10] angaither opened #4810 "Win module timing"
the win module should be enabled for 30 days after the hot phase has ended.

should create a function `dosomething_campaign_is_win_module` to determine the math for that

[2015-08-05 21:12] sbsmith86 opened #4811 "Win module shares"
Add share bar and functionality to the win module.

[2015-08-05 21:13] sbsmith86 opened #4812 "Display reportback"
Style the randomly selected promoted reportback in the win module.

[2015-08-06 15:18] angaither opened #4813 "Win module feature flag"
Create a feature flag by the hot module feature flag, to enable win module

will block any campaigns that have an end date of july from displaying in the win module once #4810 is deployed

[2015-08-06 18:44] #4779 closed, assigned to angaither

[2015-08-06 22:51] mikefantini opened #4815 "approved/excluded/promoted fids have flagged = null status"
example node 2906
- [x] write query to see when status = approved/excluded/promoted and flagged = null.

review the last time this happened, if it seems like this is a bug that has been resolved and is a thing of the past then...
- [ ] write update hook to retroactively fix reportbacks that are incorrect

if it seems like this bug is still happening currently, then let's hold off on writing the up

[2015-08-06 23:02] #4651 closed, assigned to angaither

[2015-08-06 23:04] #4646 closed, assigned to angaither

[2015-08-06 23:05] mikefantini commented on #4748
everything for the three campaigns listed above on staging and the four campaigns that are hot on production are looking good.

keeping this issue open just in case we need to do any cleanup or alternative solutions re: @angaither temp fix ^

[2015-08-06 23:06] mikefantini commented on #4633
@namimody i think this may be resolved, but let's just run through this when you are back and make sure everything makes sense and is looking right

[2015-08-07 13:26] angaither commented on #4815
[code]

from this query it looks like this is a thing that's still happening.
neither promoted/flagged are getting set from `NULL > 0|1`

[2015-08-07 16:13] sbsmith86 commented on #4804
@angaither when this is done. Can you just pass the issue back to me so I can implement it on the frontend? I was gonna make a separate issue for adding it as a background image using `drupal_add_css()` but I think we can just leave it as one issue.

[2015-08-07 16:59] sergiitk commented on #4732
Hi @julielorch, @mikefantini.
I enabled the form on local UK and got shipment form just like @deadlybutter's.
I looked into technical approaches for two adjustments and concluded:
1. Enable country field.
   As I understand, these field intended for [UK countries](https://en.wikipedia.org/wiki/United_Kingdom):

   However, Drupal doesn't support these, only ISO standardized country names are allow

[2015-08-10 14:22] joolaay commented on #4732
Okay...so the original asked for County (optional), not Country. From what I understand, we don't need Country. Let's enable for now. I'd like the UK team to see ASAP in case we need to make any changes.

[2015-08-10 17:20] sergiitk commented on #4732
Oh, sorry, my fault, misread county.
It should be possible to change address form to this:

![image](https://cloud.githubusercontent.com/assets/672669/9177940/1d1b578e-3f9d-11e5-9134-7636009eddb3.png)

[2015-08-10 18:31] mikefantini commented on #4797
see related slack convo: https://dosomething.slack.com/archives/phoenix/p1438966108001280

[2015-08-10 20:18] #4732 closed, assigned to sergiitk

[2015-08-10 21:18] sergiitk opened #4818 "Reportback without image uses undefined constant"
See [`dosomething_image_get_themed_image_by_fid()`](https://github.com/DoSomething/phoenix/blob/98ee1bc76940a4a70db1ddd501bbe8ecb4a3ce3f/lib/modules/dosomething/dosomething_image/dosomething_image.module#L137).

[code]

`DS_ASSET_PATH` Is defined in [`template.php`](https://github.com/DoSomething/phoenix/blob/4648825177a0612007e18cfaf5014a7a04a14ef7/lib/themes/dosomething/paraneue_dosomething/temp

[2015-08-11 16:25] mshmsh5000 opened #4819 "Verify Stripe payment function params"
https://github.com/DoSomething/phoenix/blob/dev/lib/modules/dosomething/dosomething_payment/dosomething_payment.module#L265

If we're actually passing CC info to the back end, we're doing it wrong. This should only be passing the single-use token [as outlined here](https://stripe.com/docs/tutorials/forms).

Either the comment needs to be updated, or we need to fix the payment implementation so tha

[2015-08-11 16:42] ghost opened #4820 "Setup Thor Environment Webhead"

[2015-08-11 16:42] sergiitk opened #4821 "Vagrant Troubleshooting with Joe"
In progress...

[2015-08-11 16:42] sergiitk commented on #4821
CC @sheydari-ds

[2015-08-11 16:42] ghost opened #4822 "Create Redis Server for Thor Environment"

[2015-08-11 16:43] ghost opened #4823 "Create RDS/MySQL Server for Thor Environment"

[2015-08-11 16:53] ghost opened #4824 "Create Solr Server for Thor Environment"

[2015-08-11 16:54] ghost opened #4825 "Bring Up Northstar Server for Thor Environment"

[2015-08-11 17:10] blisteringherb opened #4826 "Create "region" taxonomy"
Create the region taxonomy that will house the region, country, and global terms.  Rules are as follows (from Global Info deck):

https://docs.google.com/a/dosomething.org/presentation/d/19LmgycU1AodIkfSnGi3FDjADRLPnyR2b5SA4CH41jZI/edit?usp=sharing

**Static Content**
Reflected in footer (us static content is more robust, need to keep it this way for a while…)
Either US tag or Global tag
Global is

[2015-08-11 17:18] itsjoekent commented on #4821
[code]

[2015-08-11 17:36] ghost opened #4827 "Import and Test Production DB dump on Thor RDS"

[2015-08-11 17:43] mikefantini commented on #4815
here is a video http://screencast.com/t/UUCBbBiNAq of Lizzie recreating this.

The following rbids/fids from this video were effected:
- 91575 124272
- 91577 124274
- 91582 124279
- 91583 124280
- 91585 124282
- 91588 124285
- 91592 124289
- 91595 124292
- 91599 124296
- 91603 124301
- 91606 124305
- 91609 124308

[2015-08-11 17:45] sergiitk commented on #4821
Fixed by `ssh-add -L` on hosts, thanks @blisteringherb for help.
Updates for https://github.com/DoSomething/phoenix/wiki/Troubleshooting-your-local-environment page are coming.

[2015-08-11 17:45] #4821 closed, assigned to sergiitk

[2015-08-11 17:52] mikefantini commented on #4797
even though user gets errors now, the reviewed rbs still go through properly.

error message user gets just to be clear (happening on node 5459, 25 errors because the inbox is full I imagine):

![image](https://cloud.githubusercontent.com/assets/6330971/9205335/9974a71c-402f-11e5-8e7e-1a04d4cd9f44.png)

[2015-08-11 18:06] deadlybutter commented on #4815
wondering if the 503 error at the end had anything to do with it

[2015-08-11 18:56] itsjoekent commented on #4815
wooo more bugs that make absolutely no sense.

I feel like it can't be this function causing this, https://github.com/DoSomething/phoenix/blob/dev/lib/modules/dosomething/dosomething_reportback/includes/Reportback.php#L328

because it would be impossible for the reason to save and neither of the numbers to update. but I dont know of anywhere else in the code where the reason is set.. investigatin

[2015-08-11 19:09] angaither commented on #4815
@deadlybutter it's not the reason that's saving, it's the status on the reportback item that is updating, but the flagged/promoted bool value isn't updated to match

[2015-08-11 19:09] itsjoekent commented on #4815
ohhh, gotcha

[2015-08-11 19:14] itsjoekent commented on #4815
@angaither weird, the reportback item review function does call the reportback setFlaggedPromoted function (like it should). ill double check thats actually happening.

https://github.com/DoSomething/phoenix/blob/050f2eacc04bb063490b313ad56fa069cbda9249/lib/modules/dosomething/dosomething_reportback/includes/ReportbackItem.php#L185

[2015-08-11 19:23] angaither commented on #4815
@deadlybutter I think the error may be happening before these classes even get called. It might be related to wrong reportbacks getting submitted to be reviewd (might be related to the stuff @weerd was looking into on friday)

[2015-08-11 19:24] itsjoekent commented on #4815
can you fill me in on what he was looking into / found? (or point me to where that discussion was happening)

[2015-08-11 19:25] angaither commented on #4815
sent you a link in slack

[2015-08-11 19:55] mikefantini commented on #4815
@angaither is referring to #4797 here. see steps to reproduce that issue in the comments

[2015-08-11 20:17] mikefantini commented on #4797
to be clear, when we submit the inbox, it's always trying to grab additional reportbacks outside of the 25 that the user is actually reviewing. a key distinction based on changes that we made:
- when we had reportbacks listed by newest in the inbox, it was attempting to review any reportbacks that were submitted between the time a campaign lead loaded the inbox and submitted it
- currently when we

[2015-08-11 20:33] mikefantini commented on #4797
also worth noting, if there are less than 25 fids in the inbox when reproducing this, then the form won't submit because of the illegal choice being made. If there are more than 25 fids, it will submit.

[2015-08-11 20:37] mikefantini commented on #4797
another thing to note: you can remedy this issue by going to an actual reprotback; for instance staging.beta.dosomething.org/admin/reportback/996 and saving on the individual reportback.

[2015-08-11 20:50] mikefantini opened #4828 "503 errors when reviewing reportbacks"
when editors are reviewing reportbacks (example https://www.dosomething.org/node/5459/rb) they are intermittently getting 503 errors. this has happened for several different campaign leads.

![image](https://cloud.githubusercontent.com/assets/6330971/9210210/f2895848-4048-11e5-9359-936705ca3f19.png)

![image](https://cloud.githubusercontent.com/assets/6330971/9210230/1122005c-4049-11e5-9d27-3c542a

[2015-08-11 21:23] itsjoekent commented on #4815
Joe Kent [5:14 PM]
@fantini: now I didnt even get the error and the RB didnt skip getting reviewed. had full inbox and waited to submit until after i made a new RB.
(on my local dev)

[2015-08-11 22:36] namimody opened #4829 "Flagged RBs Show NULL and 0 Statuses"
[code]

![image](https://cloud.githubusercontent.com/assets/12396076/9212464/046cb4c0-4057-11e5-9e9b-be07113cb397.png)

92113 - reviewed 10:55:54 on 8/11 as flagged, status shows up as 0 instead of 1
92140 - reviewed 10:55:54 on 8/11 as flagged, status shows up as NULL instead of 1

Code deployed for this at 16:33 on 8/3:
![image](https://cloud.githubusercontent.com/assets/12396076/9212520/944e34b

[2015-08-12 14:07] mikefantini commented on #4806
field name: Win module share copy

also @deadlybutter can we put these in a new group "Win Module" in the Do Something campaign config?

[2015-08-12 14:09] mikefantini commented on #4805
again would prefer this being in a Win Module group

Let's have this field name be "Win Module Copy"

[2015-08-12 14:11] mikefantini commented on #4804
again, let's put this in Win Module Group

field name "Win Module Background Image"

[2015-08-12 14:58] #4810 closed, assigned to itsjoekent

[2015-08-12 14:58] #4813 closed, assigned to itsjoekent

[2015-08-12 17:31] mikefantini commented on #4806
@deadlybutter default copy should be "show the world what we did!"

[2015-08-12 17:35] mikefantini commented on #4805
@deadlybutter for this we'll need the following variables:
- [node:title]
- [campaign_progress] - not sure if this is exactly what this is called
- [node:field_reportback_noun]
- [node:field_reportback_verb]

[2015-08-12 18:16] #4806 closed, assigned to itsjoekent

[2015-08-12 19:59] mikefantini commented on #4805
@deadlybutter default copy:

"[campaign_progress] [node:field_reportback_noun] [node:field_reportback_verb]! That's amazing - thanks to everyone for rocking [node:title]. Let's keep it up! Add your contribution in the prove it section below."

[2015-08-12 20:18] sergiitk opened #4832 "Campaign translation: copy original content to translatable fields"
With Entity Translation enabled and Campaign fields delivered through Features, we need to copy original field content into translatable field. Without this tweak, translatable fields just appear empty.

CC @sheydari-ds @mikefantini @julielorch

[2015-08-12 20:21] sergiitk opened #4834 "Campaign translation: Make sure translated content displayed properly"
This issue described in #3720:

[code]

Added:
We also must make sure translatable fields are called with current language, not `LANGUAGE_NONE`.
Example: https://github.com/sergii-tkachenko/phoenix/commit/e18120193bcba87a94c0daffbb491afaaa304f8f

Plus make sure this fields are indexible by Solr.

CC @sheydari-ds @julielorch @mikefantini

[2015-08-12 20:22] sergiitk opened #4835 "Campaign translation: Make provided list of fields translatable"
Enable translation for provided Campaign fields using Entity Translation.

CC @sheydari-ds @mikefantini @julielorch

[2015-08-12 21:16] mikefantini commented on #4828
another example:

![image](https://cloud.githubusercontent.com/assets/6330971/9236920/ce3b93d4-4115-11e5-9f4e-2135df060d71.png)

[2015-08-12 22:14] namimody opened #4836 "Inorrect Campaign Links on SMS Game Confirmation Page"
![image](https://cloud.githubusercontent.com/assets/12396076/9238096/caa02c64-411d-11e5-9700-c2d76ccef013.png)

Thumb Wars, Bully Text, and Backseat Adviser links all link incorrectly to the "explore campaigns" page at this URL:
https://www.dosomething.org/campaigns/thumb-wars%3Fsource%3Dcampaigns/5483/confirmation

They should link to their respective pitch pages.

[2015-08-12 22:30] namimody opened #4837 "Tmblr Problem Share Functionality Lagging"
![image](https://cloud.githubusercontent.com/assets/12396076/9238412/151d3082-4120-11e5-9a27-4cfd0e6faf72.png)

After trying to share a problem statement to TUmblr, a popup appears and appears to continue to try and load for ages without ever displaying content. Weirdly, shares work from the permalink.

[2015-08-12 23:20] namimody commented on #4829
Another instance -- pulled 8.12.15 at 7:20 PM on Visionary Volunteer. See 92139

![image](https://cloud.githubusercontent.com/assets/12396076/9239169/2bcbdfd4-4127-11e5-86a1-0d5861525f98.png)

[2015-08-12 23:39] namimody opened #4838 "Odd Activity on DONATE Button Back End (Stripe)"
Seems like something similar to automated tests are running on the site's donate button, resulting in hundreds of $1.00 failed donations from gibberish gmail addresses.

This is a problem because:
1) it makes it very difficult for Kenia to find real donations
2) sometime donations go through and then are cancelled
2a) Kenia needs to record all donation activity
2b) we are charged for fraudulent ac

[2015-08-13 14:34] #4805 closed, assigned to itsjoekent

[2015-08-13 15:33] mikefantini commented on #4815
There is a discrepancy in the data between the production database and the slave database. The production data is incorrect (i.e. flagged status is null even though entries have been approved, excluded, promoted, etc.).

examples rbid 90788, 91162, 91419.

production database:
![image](https://cloud.githubusercontent.com/assets/6330971/9254000/04f23ab0-41af-11e5-98d5-26c8baaf0f37.png)

slave datab

[2015-08-13 20:55] namimody commented on #4625
Per #4677, any time a RB is updated (new photo, new quantity, new caption) by the creator it needs to fall back into the reportback inbox and the status needs to change to pending. As of 8/13, updated RBs are not falling back into the inbox.

[2015-08-13 21:26] mikefantini opened #4842 "remove field_location_finder from campaign template"
just the field, not the group, the other fields in the group are needed.

any data loss does not matter for this field, but I don't think there will be any.

[2015-08-13 22:08] mikefantini commented on #4835
@sergii-tkachenko [here is the list](https://docs.google.com/spreadsheets/d/11Oh8euenazBzQ9s_Ax5Qe1ps-XZbg0XjCWVI_EVQcJo/edit#gid=0) @julielorch and I made. Note the multiple tabs.

Where field collections are concerned (i.e. field_faq) we didn't break out the individual fields that are a part of that collection, but obviously each of these would need to be translated as well. if you want those we

[2015-08-14 12:30] sergiitk commented on #4835
Thanks Mike. Working on this. I'll double check everything and answer your questions.

[2015-08-14 14:05] DFurnes commented on #4838
We are running automated tests on the Donate page through New Relics Synthetics. However, those use `newrelic@mailinator.com` as the test email address (and are also using test credit card numbers, so they I don't _think_ they should be counting as failures). They are for $1.00 though and run every hour.

[2015-08-14 14:10] DFurnes commented on #4838
However, we're not in "test mode" on production (obviously!! :wink:) so maybe that's not actually okay?

/cc @aaronschachter

[2015-08-14 15:41] itsjoekent opened #4843 "Win module timing logic is wrong"
Checking for wrong variables, I think I lost the changes it while stashing between different win module branches

[2015-08-14 15:58] #4790 closed, assigned to itsjoekent

[2015-08-14 16:09] #4843 closed, assigned to itsjoekent

[2015-08-14 16:46] aaronschachter commented on #4838
@DFurnes That sounds right, I don't think it's ok. The test card numbers are only good while in test mode: https://stripe.com/docs/testing#cards

[2015-08-14 16:50] namimody commented on #4838
Thanks for popping in on this @DFurnes and @aaronschachter! Here is a screenshot of what Kenia is seeing happen - as you can tell, the email isn't newrelic@ and the tests are happening several times per hour. Does this look different than what you set up or is this because this should not be running on production? Thanks team.

![image](https://cloud.githubusercontent.com/assets/12396076/9278900/e

[2015-08-14 17:04] aaronschachter commented on #4838
Matt set up the tests, but I think it's safe to say that doesn't look right.

[2015-08-14 17:19] namimody commented on #4838
Thanks @aaronschachter. Because we have a partnership coming up in September that is going to route traffic to the Donate page, I think (@mikefantini, thoughts?) that we should address this next week. What information can I gather to help with figuring this out?

[2015-08-14 19:38] namimody commented on #4633
Hi @mikefantini! Yesterday I ran through this goals QA doc (https://docs.google.com/spreadsheets/d/16YcysP9i8WtAnoocS_D1k2qxeUIiulDAz4yErdZSi5w/edit#gid=0) that I had made before leaving and this functionality worked!

[2015-08-14 19:38] #4633 closed, assigned to angaither

[2015-08-14 20:42] namimody commented on #4837
<img src="https://github.trello.services/images/trello-icon.png" width="12" height="12"> [Staff Reported Bug TEMPLATE](https://trello.com/c/1pSQ59ZM/1422-staff-reported-bug-template)

[2015-08-14 20:46] namimody commented on #4842
<img src="https://github.trello.services/images/trello-icon.png" width="12" height="12"> [Twitter Permalink Share Shows Jumbled Copy Where Apostrophe Should Be](https://trello.com/c/mYcGq8Mb/1431-twitter-permalink-share-shows-jumbled-copy-where-apostrophe-should-be)

[2015-08-17 14:53] namimody commented on #4829
Another instance - Get Lucky pulled 8.17 around 10 AM. See RB 99004 and 99282. note this is from the slave database.
![image](https://cloud.githubusercontent.com/assets/12396076/9307728/1e6cf77e-44ce-11e5-94cb-e098c9e2437d.png)

[2015-08-17 15:07] mikefantini commented on #4815
@namimody let's take a look at instances where the rbs are incorrect in production database and see if they are also incorrect in the slave database

[2015-08-17 15:28] angaither commented on #4797
@weerd this should function like the `admin/content` form
In that form it grabs multiple nodes, and you can update the status of them all at the same time. If you submit a new node while you are updating a bunch of those nodes, I would be curious to see where the issue is happening.

[2015-08-17 15:34] mikefantini commented on #4748
closing out. once we fix the other issues in this milestone, we'll re-open if we see that numbers aren't adding up properly based on what's in the database.

[2015-08-17 15:34] #4748 closed, assigned to itsjoekent

[2015-08-17 15:43] mikefantini opened #4847 "two files from same rb (one flagged one approved) causes incorrect flagged status"
Steps to recreate:
- submit reportback
- add another image to the same reportback
- as admin, flag the first file
- as admin, approve the second file
- save the inbox
- check the db and the first file will appear to have status = flagged but flagged status = 0

thanks @DFurnes for figuring this out you goddamn champion

refs #4529

key query:

[code]

[2015-08-17 15:56] mikefantini commented on #4529
most recent issue now represented in #4847.

other related issues are in the Reportback Reviewed Bugs Milestone

[2015-08-17 15:56] #4529 closed, assigned to angaither

[2015-08-17 16:22] mikefantini commented on #4838
@namimody we have incredibly high traffic happening since July 21st (~1000x normal traffic). can you check with marketing/finance if we've been doing a specific push? Most of this traffic seems to be direct traffic but only a small percentage of the direct traffic are entrances.

There have also been several visits from https://99tests.com/. This could be related to the tests that have been runnin

[2015-08-17 16:41] sergiitk commented on #4838
Hey @namimody, regarding item 1:
You can filter out unsuccessful donations like this:

![image](https://cloud.githubusercontent.com/assets/672669/9310344/d9df6d04-4517-11e5-991b-ad5b097229be.png)

[2015-08-17 16:46] sergiitk commented on #4838
Oh, it looks like it costs us $15 for every transaction disputed not in our favor:

[2015-08-17 16:49] sergiitk commented on #4838
I'd suggest to decline transactions with wrong CVC:
https://dashboard.stripe.com/account
![image](https://cloud.githubusercontent.com/assets/672669/9310534/ee3893e2-4518-11e5-9cad-be9e5fc11b11.png)

If we receive only US donation, it is also possible to decline charges that fail zip code verification.

cc @aaronschachter

[2015-08-17 16:52] sergiitk commented on #4838
Also, here's decent documentation what to do and how to avoid with fraudulent transactions:
https://support.stripe.com/questions/avoiding-fraud-and-disputes

[2015-08-17 17:17] namimody commented on #4625
As a note: created RB on test campaign (http://staging.beta.dosomething.org/campaigns/rb-wtf) with quantity 1. Approved reportback, hot module displayed quantity of 1. Added another photo to the same RB, and changed quantity to 100. Ran CRON, hot module displayed quantity of 100. Second photo remains in inbox, pending approval.

[2015-08-17 17:21] namimody opened #4849 "Deleting Reportbacks Does Not Appropriately Change Displayed Quantity"
On a test campaign (http://staging.beta.dosomething.org/campaigns/rb-wtf) I deleted an existing approved reportback with quantity 100, and ran CRON. The reportback no longer appears under the reportbacks tab on the microsite, but the hot module display shows 100, as does the total on the top of the reportbacks tab.

![image](https://cloud.githubusercontent.com/assets/12396076/9311211/cf283402-44e2

[2015-08-17 17:22] angaither commented on #4625
@namimody just want to confirm the total is 100, even though the reportback item is still pending?

@deadlybutter this might have to do with the fact that reportback's are set to pending, but the flagged status is still 0, it doesn't change back to null when an item is in review

[2015-08-17 17:23] angaither commented on #4625
Not sure if we want to change this or leave it the way it is. But I think it's a larger discussion we can have once we've ironed out a few of the other buts

[2015-08-17 17:29] namimody commented on #4625
Hi @angaither -- yes, the total is 100. I submitted an update on a reportback (both an additional photo and an increased quantity). The photo was still pending review in the inbox, but the new quantity was reflected in the hot module.

@mikefantini can confirm, but I think we are holding on this issue for the moment because it has a lot of other implications. Just wanted to record this behavior be

[2015-08-17 17:39] angaither commented on #4625
totally, thanks. good to know that it's different than we thought ;)

[2015-08-17 18:06] mikefantini commented on #4835
@sergii-tkachenko did you have any thoughts on this question:

One question on this, if we want a field to only exist in the English version (i.e. field_action_guide) can we just not translate this field? Or does it have to be translated and as an editorial rule the Brazilian editors should just leave it blank? (let's go with the easiest tech solution for v1).

[2015-08-17 18:23] sergiitk opened #4850 "Make field_collections translatable"
There's an issue with translating field_collection fields: Field translation (entity_translation) isn't supported by default. Fortunately, the patch is ready: https://www.drupal.org/node/1344672

I'm going to need to:
- [x] Update field_collection module to dev version
- [x] Make sure features structure is compatible with the module; or revert/update it
- [x] Patch it with https://www.drupal.org/n

[2015-08-17 19:00] namimody commented on #4838
Additional notes:
- high traffic began July 22nd, from "direct"
- of traffic between July 22nd and now, only 43 pageviews (0 entrances...) came from 99tests.com, but 99tests.com does not appear in sources for the three months prior to July 22nd
- 99tests.come first appears as a source on July 29th
- gibberish emails start appearing 7/22/2015

Kenia is out today, but I'll circle back with her tomor

[2015-08-17 19:19] mikefantini opened #4851 "production database has incorrect data when slave database has correct data"
related to #4815 when doing the following query, we got different results when querying the production database and the slave database.

[code]

The production data is incorrect (i.e. flagged status is null even though entries have been approved, excluded, promoted, etc.).

examples rbid 90788, 91162, 91419.

production database:
![image](https://cloud.githubusercontent.com/assets/6330971/9254000/

[2015-08-17 19:52] mikefantini commented on #4828
we've seen the errors in the [Reportback Review Bugs](https://github.com/DoSomething/phoenix/milestones/Reportback%20Review%20Bugs) milestone happening with this error and also without this error occurring, but just adding it to the milestone so that everything is together so that we have the full picture

cc: @sheydari-ds

[2015-08-17 20:01] angaither commented on #4656
@deadlybutter can you also create an update hook to remove the variable from the database

[2015-08-17 20:30] weerd commented on #4797
Making progress on my investigation on the `admin/content` list page.

The following are the series of steps taken when the page loads:

[code]

[2015-08-17 20:32] weerd commented on #4797
The following are the series of steps taken when submitting an update to the page, which submits the form (for example, promoting an item to the front page.

[code]

The steps execute before the actual submitting of the form and then repeat to show the form. Seems that is the norm for Drupal.

Next up testing creation of new content and then updating the form...

[2015-08-17 20:54] namimody commented on #4829
Get Lucky, pulled @ 4:50 pm 8.17

![image](https://cloud.githubusercontent.com/assets/12396076/9316022/a782163e-4500-11e5-8606-b006e1e412e5.png)

[2015-08-17 21:01] namimody commented on #4829
Storm Drain Street Art, pulled 4:57 PM, 8.17. RB 99147 flagged and excluded but marked as NULL.
![image](https://cloud.githubusercontent.com/assets/12396076/9316203/a82d55ca-4501-11e5-9aca-a903e16949a3.png)

[2015-08-17 21:02] sergiitk opened #4853 "Drush make fails on downloading dependencies from github"
It asks for user and password, then ignores it.
Builds also fail: https://jenkins.dosomething.org/job/Deploy-Staging/175/console

CC @sheydari-ds @mikefantini

[2015-08-17 21:16] sergiitk commented on #4853
Works now, looks like it was temporary issue on GitHub.

[2015-08-17 21:16] #4853 closed, assigned to sergiitk

[2015-08-17 21:23] #4847 closed, assigned to itsjoekent

[2015-08-17 21:56] ghost commented on #4820
Done.

[2015-08-17 21:56] #4820 closed, assigned to nobody

[2015-08-18 00:06] mikefantini commented on #4625
yup yup. still holding on this while we iron out the other issues. thanks for documenting the current status @namimody

[2015-08-18 00:10] mikefantini commented on #4837
@sbsmith86 do you mind taking a look when you get a chance?

[2015-08-18 00:12] mikefantini commented on #4842
@namimody?? ^

[2015-08-18 13:44] ghost commented on #4822
Done.

[2015-08-18 13:44] #4822 closed, assigned to nobody

[2015-08-18 13:55] #4753 closed, assigned to itsjoekent

[2015-08-18 14:00] ghost commented on #4823
Created.

[2015-08-18 14:00] #4823 closed, assigned to nobody

[2015-08-18 14:18] namimody commented on #4842
Sorry @mikefantini! Was testing the new Trello integrations and I didn't realize they affected Github. Deleting!

[2015-08-18 14:29] namimody opened #4855 "Translate $ scholarship prefix for various currencies"
The UK needs £ to appear on their site instead of $ for their incentives field.

[2015-08-18 14:29] namimody commented on #4855
<img src="https://github.trello.services/images/trello-icon.png" width="12" height="12"> [Currency Symbol Change on DS UK](https://trello.com/c/Kcub0b1p/1462-currency-symbol-change-on-ds-uk)

[2015-08-18 15:17] ghost commented on #4824
Done.

[2015-08-18 15:17] #4824 closed, assigned to nobody

[2015-08-18 15:20] #4804 closed, assigned to itsjoekent

[2015-08-18 15:28] namimody commented on #4838
Update: Emailed Stripe 8/18 and waiting to hear back (no phone support).

@aaronschachter and @DFurnes if this should not be running on production, how/when can we change it to run on staging? Thanks!

[2015-08-18 15:38] mikefantini opened #4857 "don't display problem shares when campaign has win module"
b/c we'll have the win shares we want the user to focus on sharing that rather than the problem

@lkpttn you're working on designs for what gets shared yeah?

[2015-08-18 16:20] ghost commented on #4825
Determined this is not-blocking at the moment for us to use env.

[2015-08-18 16:40] sbsmith86 commented on #4811
@mikefantini @lkpttn will need the deets on what the share language/images should be

[2015-08-18 17:08] #4807 closed, assigned to sbsmith86

[2015-08-18 17:08] #4808 closed, assigned to sbsmith86

[2015-08-18 17:21] lkpttn commented on #4857
Just the new content in our current social share design?

[2015-08-18 17:32] weerd commented on #4797
For future reference if needed, the following are the full set of steps when _submitting_ the `/admin/content` form, with some descriptions:

[code]

[2015-08-18 17:39] angaither commented on #4828
I'd be curious to see if this continues to happen after #4863 is deployed.

[2015-08-18 18:44] angaither commented on #4829
@namimody @mikefantini have you been able to replicate this or #4829 on stage?

[2015-08-18 18:51] sbsmith86 commented on #4837
Seems the problem share image URLs are 404'ing. Reached out to devops about it.

ex: https://www.dosomething.org/profiles/dosomething/modules/dosomething/dosomething_campaign/dosomething_campaign_problem_shares/images/832.png

[2015-08-18 19:42] #4656 closed, assigned to itsjoekent

[2015-08-18 20:19] #4837 closed, assigned to sbsmith86

[2015-08-18 20:27] #4809 closed, assigned to itsjoekent

[2015-08-18 20:56] weerd commented on #4829
So on my local with an inbox full of unreviewed RBitems for campaign 1247, I went through and for each item I selected each possible option (started with flagging and giving it a reason, so 4 of them; then promoted and giving a reason, so 4 of those too; then excluded and then the rest left as approved) and submitted the form:

![image](https://cloud.githubusercontent.com/assets/105849/9342355/2d7

[2015-08-18 21:07] sbsmith86 commented on #4857
Closed with #4862

[2015-08-18 21:07] #4857 closed, assigned to sbsmith86

[2015-08-18 21:20] weerd commented on #4829
Here's a more concise view over the series of RB items I reviewed:

![image](https://cloud.githubusercontent.com/assets/105849/9343023/4be037ca-45cd-11e5-9eac-69165f5e89df.png)

Again, the only odd one is the one that should have technically been deleted (the highlighted one, `rbid: 1375`)...

[2015-08-18 21:36] sergiitk commented on #4850
A little update: let’s skip field_collections for now. In Campaign these kind of fields are:
- FAQ
- Video
- During Tips
- After Tips
- Sponsors and Partners

Tested the patch and it turn out to be problematic yet.

[2015-08-19 15:51] mikefantini opened #4866 "updates to multiplayer SMS web template for optimizely"
Need header and copy text added in the middle of the form:

![image](https://cloud.githubusercontent.com/assets/6330971/9361257/8d55bb58-4668-11e5-82db-a45b97827774.png)

[2015-08-19 15:54] mikefantini commented on #4866
cc: @namimody

[2015-08-19 17:06] sergiitk opened #4867 "Stuck with old cached assets after deploy"
[code]

cc @sheydari-ds @mikefantini @DFurnes

[2015-08-19 17:07] sergiitk commented on #4867
Resolved by clearing varnish cache. Suggested solution append assets version to the css path:
https://www.dosomething.org/profiles/dosomething/themes/dosomething/paraneue_dosomething/dist/app.min.css?v=1.0.28

[2015-08-19 17:24] DFurnes commented on #4867
That's a good idea. Does it still leave us open to having cached versions of other assets (like images) though?

I unfortunately can't remember what the issue with it was, but perhaps we should look into re-enabling the `Deploy-Assets` versioned assets folder task.

[2015-08-19 17:25] DFurnes commented on #4867
Going to re-title & re-open so we can discuss if a more permanent fix is needed!

[2015-08-19 17:55] DFurnes commented on #4866
Preliminary snippet for adding in the little interstitial heading:

[code]

And preview:

![screen shot 2015-08-19 at 1 54 51 pm](https://cloud.githubusercontent.com/assets/583202/9364356/e853617a-4679-11e5-9f71-322fc8f04107.png)

[2015-08-19 18:26] DFurnes commented on #4866
@namimody Assigning to you for the actual testing! Let me know if I can help with anything else. :smile:

[2015-08-19 19:43] #4812 closed, assigned to sbsmith86

[2015-08-19 20:19] ghost commented on #4827
Done.

[2015-08-19 20:19] #4827 closed, assigned to nobody

[2015-08-19 20:48] sergiitk opened #4869 "Execute ds-global script when after deploying #4803 to staging and production"
- Deploy code with #4803 to webheads
- SSH to one of webheads
- Change directory into `current` web folder, example: `cd /var/www/www.dosomething.org/current/`
- Run `screen`
- Change user to `dosomething`
- Run `ds-global`. The script will take about 3 hours to run on production database.

Successful output example:

[code]

cc @blisteringherb @mikefantini

[2015-08-19 21:16] sergiitk opened #4870 "Images are missing after enabling ds-global"
On frontpage images aremissing after enabling campaign translation.

![image](https://cloud.githubusercontent.com/assets/672669/9369264/aaf9152a-46d0-11e5-88f2-79d700a26430.png)

Ref #4803

[2015-08-19 21:23] sergiitk commented on #4870
Might be related to #4834, cc @sheydari-ds

[2015-08-19 21:46] mikefantini commented on #4829
Findings:
- happening on master/prod db starting 2015-08-06 20:48:09 (reviewed timestamp) with RBID 92253 FID 125123
- happening on slave/prod db starting 2015-08-06 16:48:09 (reviewed timestamp) with RBID 92253 FID 125123
- no instances of this happening on staging db

@angaither did you write any scripts or updates that would have run that would have cleaned up pre-existing data without the issu

[2015-08-19 21:53] mikefantini commented on #4829
i feel like there has to have been an update because we saw this happening on staging db and on master/prod db in #4529 in May/June

[2015-08-19 23:00] mikefantini opened #4871 "when editors and/or member support roles review reportbacks, flagged status is set to null"
when admins review reportbacks flagged status is set properly (0 for flagged, 1 for everything else)

we recreated this several times on staging and production with the same user and just changing their permissions

every single reportback that Lizzy reviewed has flagged status of null on nid 5566 has flagged status null. her roles are editor and member support.

when diego reviewed reportbacks on

[2015-08-19 23:19] mikefantini commented on #4871
so we've been able to reproduce this consistently, but it's worth noting times when this has worked properly for editors and has not worked properly for admins.

one example:

[code]

this may be because we had multiple issues causing the problem, but i'd like to still keep an eye out for this.

also may be worth @angaither running a query to see every time an editor has reviewed a rb and the flag

[2015-08-19 23:37] mikefantini commented on #4871
also noting here, the permission that needs to be changed for editor and customer support role is that they need permission to "edit any reportback"

[2015-08-20 14:15] angaither commented on #4871
#### Every reportback where flagged is null, but reportback file status is flagged
- proves that `editor|member support|site admin` have the issue

[code]

[2015-08-20 14:25] angaither commented on #4829
@mikefantini we have a cron that runs to update reportbacks #4719

[2015-08-20 14:27] angaither commented on #4829
There's also an update hook to clean up stuff that was run on deploy in release v1.0.28 #4814

[2015-08-20 14:41] sergiitk opened #4873 "Ctools - Critical - Multiple Vulnerabilities - SA-CONTRIB-2015-141"
Cross Site Scripting (XSS) & Access bypass
See https://www.drupal.org/node/2554145

[2015-08-20 14:44] sergiitk opened #4874 "Drupal Core Critical - Multiple Vulnerabilities - SA-CORE-2015-003"
Cross-site Scripting, SQL Injection, Cross-site Request Forgery, Information Disclosure in Menu Links.
See https://www.drupal.org/SA-CORE-2015-003

[2015-08-20 14:52] sbsmith86 commented on #4811
As mentioned in #4875, Im gonna go with

[code]

As the share language for fb, tumblr, and twitter. @mikefantini

[2015-08-20 14:58] #4873 closed, assigned to sergiitk

[2015-08-20 15:18] #4874 closed, assigned to sergiitk

[2015-08-20 15:23] mikefantini commented on #4811
:+1:

[2015-08-20 15:41] #4871 closed, assigned to angaither

[2015-08-20 15:49] namimody commented on #4838
Update: no response from Stripe as of 8/20 at 1!:50 am. Called 99tests.com and spoke to Praveen who will let us know in 12-24 hours if something is targeting our site and will get it stopped right now, if so. He has my email address.

[2015-08-20 16:00] #4811 closed, assigned to sbsmith86

[2015-08-20 18:28] DFurnes commented on #4867
Fantini just noted that fonts were still broken in his browser. The ol' **⌘⇧R** seemed to fix things, but this confirms that we'll need some sort of cache-buster in place to keep this from breaking as we deploy in the future.

[2015-08-20 19:52] weerd opened #4879 "Updating flagged RBItem status does not update the flagged state"
**Context:** viewing a Reportback with a series of reviewed items in the CMS and one of them has a status of _flagged_, all of the items including the flagged one will have a `1` in the `flagged` field.

If you update the flagged item and change the status to promoted or approved, the `status` field updates properly, but the `flagged` field remains as `1` for all the items in the RB.

@mikefantini

[2015-08-20 19:58] weerd opened #4880 "Saving from RB review page sets all prior flagged_reason & promoted_reason values to NULL"
**Context:** When viewing a RB with numerous items in the admin interface, clicking save without changing any values will update the database and remove any of the `flagged_reason` and `promoted_reason` values that were previously set and change them to `NULL`.

This is because we are not loading the form with the reason indicated, just the `flagged` or `promoted` radio button selected, so when th

[2015-08-20 20:02] angaither commented on #4879
this is a [known issue](#4621) and the way it was built originally, @deadlybutter addressed it here
https://github.com/DoSomething/phoenix/pull/4669
but maybe it is re-broken

[2015-08-20 20:07] itsjoekent commented on #4879
I changed something around this more recently

[2015-08-20 20:20] mikefantini opened #4881 "add Mexican Spanish as language option"

[2015-08-20 21:20] #4870 closed, assigned to sergiitk

[2015-08-21 15:02] #4793 closed, assigned to sbsmith86

[2015-08-21 19:25] namimody commented on #4838
Update: Called 99tests.com again and they said they aren't doing anything on our site.

Stripe responded: There's not much we can do on our end to prevent this third party from testing on your account, however you should be able to screen successful fraud payments on your account by searching for low dollar donations linked to email addresses like DFGJDF@gmail.com (based off what the 3rd party is

[2015-08-21 19:41] namimody commented on #4866
THanks @DFurnes! Experiment started 3:41 PM 8.21 @ https://app.optimizely.com/edit?experiment_id=3389060225

[2015-08-21 20:13] sergiitk opened #4883 "Campaign translation: set Session language detection"
Set into DoSomething global feature the following setting:
https://thor.dosomething.org/admin/config/regional/language/configure

[2015-08-22 14:55] mikefantini commented on #4866
@namimody what percentage breakdown did you go with for the test? I think 50-50 would be ideal.

[2015-08-23 23:25] namimody commented on #4866
@mikefantini yep! did 50-50 :) no conclusions yet...

[2015-08-24 14:04] blisteringherb opened #4884 "Install and configure Solr modules to support translation"
The Drupal Solr installation doesn't have support for translation out of the box, and the Apachesolr Multilingual module adds some add'l support for non-english languages.

https://www.drupal.org/project/apachesolr_multilingual

It depends on ApacheSolr Configen https://www.drupal.org/project/apachesolr_confgen, so that must be installed also

[2015-08-24 14:13] blisteringherb opened #4885 "Display content to users who are searching with the appropriate priorties"
Users should see:
1. native campaigns in language
2. global campaigns in language
3. other global campaigns in global english (publish global campaigns initially)

Campaigns must be boosted according to these rules and then the appropriate (translated) fields will be displayed.

Question: Where should Static Content and other content be prioritized in this list?

[2015-08-24 14:16] blisteringherb opened #4886 "Display finder content to users who visit a country's home page in the appropriate order"
Users should see:
1. native campaigns in language
2. global campaigns in language
3. other global campaigns in global english (publish global campaigns initially)

This has to be changed in the finder code, and there may be changes that need to be made in the view.

[2015-08-24 14:45] #4881 closed, assigned to sergiitk

[2015-08-24 14:46] sergiitk commented on #4835
Done, except field_collections, see #4850.

[2015-08-24 14:46] #4835 closed, assigned to sergiitk

[2015-08-24 14:46] #4832 closed, assigned to sergiitk

[2015-08-24 14:59] mikefantini commented on #4867
@DFurnes @sergii-tkachenko lots of folks are still seeing this on production right now. is this something we can fix for today's deploy?

[2015-08-24 15:01] sergiitk commented on #4867
@DFurnes how about the thing I suggested above with the version postfix?

[2015-08-24 15:02] DFurnes commented on #4867
That seems like a good quick fix.

[2015-08-24 15:07] mikefantini commented on #4867
so @sergii-tkachenko @DFurnes sorry don't totally follow who the version postfix work is on, but can whoever is taking this on please self-assign this issue?

thanks

[2015-08-24 15:14] sergiitk commented on #4867
@DFurnes can you do the fix?

[2015-08-24 15:27] angaither opened #4887 "Cleanup wonky reportback statuiiii"
Reportbacks don't have the same status as the file does, due to borked permissions.

Clean that up.
### select all reportbacks, with status where status is not pending and flagged is null
- this will need to update `flagged` and `promoted` to the correct values, based on the file status

[code]

then

[code]

[2015-08-24 15:50] namimody commented on #4838
Update: turned on Stripe setting that will decline donations where zip code or CVC verification fails at around 10:15 am EST (1:15 PM / 13:15 UTC) on 8.24. Will monitor to see if this changes test behavior

(If a genuine donor messes up their CVV, they get a banner notification that their card was declined. This activity doesn't seem to show up on the Stripe backend.)

[2015-08-24 16:25] mikefantini commented on #4887
@angaither can we test this on node 69 first before we do this for all nodes on production?

[2015-08-24 16:40] #4883 closed, assigned to sergiitk

[2015-08-24 17:00] angaither commented on #4887
@mikefantini yeah, that's the plan

[2015-08-24 17:06] DFurnes commented on #4867
Added the fix in the above PR. A better long-term fix for this would be to set up [asset fingerprinting](http://guides.rubyonrails.org/asset_pipeline.html#what-is-fingerprinting-and-why-should-i-care-questionmark), so we can also invalidate caches on image assets without needlessly destroying cache each time we release.

[2015-08-24 17:43] sergiitk commented on #4867
Good idea @DFurnes. This is actually the way Drupal does it by default.

[2015-08-24 18:27] namimody commented on #4838
![image](https://cloud.githubusercontent.com/assets/12396076/9448713/2aead0f4-4a6c-11e5-8a90-20a6878bc10a.png)

Donations are still getting through despite the additional "decline donation" obstacles.

![image](https://cloud.githubusercontent.com/assets/12396076/9448737/4573bb3e-4a6c-11e5-9ccd-aed279f6223f.png)

I've gone ahead (with Kenia's permission) and refunded all successful but fake donatio

[2015-08-24 18:44] namimody commented on #4838
<img src="https://github.trello.services/images/trello-icon.png" width="12" height="12"> [DONATE Button Activity](https://trello.com/c/pRq0gaGc/1466-donate-button-activity)

[2015-08-24 18:56] namimody opened #4890 "Thor Share Buttons Appear Vertically (vs. Horizontally)"
![image](https://cloud.githubusercontent.com/assets/12396076/9449373/2adf7e12-4a70-11e5-9c3b-1a690e25c87e.png)

[2015-08-24 18:58] angaither commented on #4010
fixed with #4600

[2015-08-24 18:58] #4010 closed, assigned to nobody

[2015-08-24 19:10] namimody opened #4891 "Thor Facebook Problem Share Post Missing Photo"
![image](https://cloud.githubusercontent.com/assets/12396076/9449680/3626e7a4-4a72-11e5-98f6-c608ec5a117b.png)

[2015-08-24 19:11] namimody opened #4892 "Thor Tumblr Problem Share Lags"
![image](https://cloud.githubusercontent.com/assets/12396076/9449714/6c665f0c-4a72-11e5-97d1-8bc84bd54bf4.png)

Still showing a "load" graphic after about 2 minutes.

[2015-08-24 19:15] sbsmith86 commented on #4891
@namimody has cron been run on this environment?

[2015-08-24 19:16] angaither commented on #4815
refs #4887

[2015-08-24 19:16] angaither commented on #4829
refs #4887

[2015-08-24 19:20] namimody opened #4893 "Thor Internal Search Doesn't Return Results"
Thor search does not show results shown for same keyword on production.

![image](https://cloud.githubusercontent.com/assets/12396076/9449890/7b6c182e-4a73-11e5-98cb-365fe27fdd50.png)

[2015-08-24 19:22] namimody opened #4894 "Thor Internal Search Does Not Show Images"
This page is what is returned when no results are found. It should show images, as it does in production.

![image](https://cloud.githubusercontent.com/assets/12396076/9449925/cb4082ae-4a73-11e5-9fea-dec0d012feb4.png)

No search results (production):
![image](https://cloud.githubusercontent.com/assets/12396076/9449961/f153e846-4a73-11e5-8dea-9f76cf3d08ef.png)

[2015-08-24 19:24] namimody opened #4895 "Thor "Explore Campaigns" Page Doesn't Populate with Anything"
![image](https://cloud.githubusercontent.com/assets/12396076/9450005/348e093e-4a74-11e5-8f8e-496985124112.png)

[2015-08-24 19:25] angaither commented on #4797
@namimody have we been seeing this happen after we added the correct permissions for editors/site admins?

[2015-08-24 19:26] angaither commented on #4797
@namimody wrong issue. I think we discovered there's no real way around this one.

[2015-08-24 19:26] #4797 closed, assigned to weerd

[2015-08-24 19:27] angaither commented on #4829
@namimody have we been seeing this or #4815 since we added the correct permissions to editors/site admins?

[2015-08-24 19:34] angaither commented on #4625
@mikefantini we should re-group on this issue as well

[2015-08-24 20:25] angaither commented on #4838
@deadlybutter we are going to go the honeypot solution for now.

[2015-08-24 20:30] DFurnes commented on #4838
![technical diagram](https://cloud.githubusercontent.com/assets/583202/9451564/74f8677c-4a7d-11e5-9824-3b2af22007e5.JPG)

[2015-08-24 20:38] itsjoekent commented on #4838
![image](https://cloud.githubusercontent.com/assets/897368/9451766/9bc20ace-4a7e-11e5-9b2f-51d967193bf4.png)

this is relevant and further clarifies the issue, because the attacker is Winnie the pooh and the honey pot is clearly attracting their attention.

[2015-08-24 20:40] weerd commented on #4838
grammar :cop:
*their

[2015-08-24 21:28] namimody commented on #4891
@sbsmith86 I'm not sure -- is there a way to check the last time it was run on Thor?

[2015-08-24 21:35] sergiitk commented on #4891
@sbsmith86 No, it hasn't been. Will create a ticket and reference you.

[2015-08-24 21:36] sergiitk opened #4896 "Thor: create Jenkins job to trigger phoenix cron and run it"
Ref #4891
cc @namimody @sbsmith86

[2015-08-24 21:46] namimody commented on #4838
Update: refunded all "fake" donations (gibberish email, low amount with generic email at high frequency) through May to avoid the potential for them to be marked as fraudulent and for us to be charged.

[2015-08-25 13:32] angaither commented on #4838
nami 4 prez :clap:

[2015-08-25 13:56] mikefantini commented on #4892
this is most likely related to #4891

[2015-08-25 14:07] namimody opened #4897 "Thor User Profiles Aren't Displaying All Campaign Images"
![image](https://cloud.githubusercontent.com/assets/12396076/9468616/a006dabe-4b10-11e5-9d86-6e6ecb50a669.png)

Despite having both the landscape and square crop uploaded, campaign images aren't showing up on user profiles.

[2015-08-25 15:01] angaither opened #4899 "problem share text spacing is off"
![screen shot 2015-08-25 at 10 21 49 am](https://cloud.githubusercontent.com/assets/645205/9470138/991eef90-4b18-11e5-8cbe-60df010a9278.png)

[2015-08-25 15:11] mikefantini opened #4901 "br and mx admin roles shouldn't have access to configuration or users admin menu items"
remove permissions from regional admin roles
- [x] view user profiles
- [x] translate interface texts

[2015-08-25 15:14] #4899 closed, assigned to sbsmith86

[2015-08-25 15:23] DFurnes commented on #4838
I think we should leave this issue open for discussion until we're sure the issue is resolved. Re-opening.

[2015-08-25 15:29] mikefantini opened #4902 "br admin should be able to add/edit image/facts from /node/add/campaign"
plus/edit buttons missing from these fields on /node/add/campaign

[2015-08-25 15:31] itsjoekent commented on #4838
to track if the :honey_pot: is working we can also look at stathat, relevant stat is `drupal - Donate - honeypot`

[2015-08-25 16:49] DFurnes commented on #4890
@namimody This should be fixed by #4899.

[2015-08-25 16:49] sergiitk commented on #4897
It looks like this happens with Language-neutral Campaigns, e.g. #RealPrincess. Will make the campaign English to test it.

[2015-08-25 16:50] ghost commented on #4894
@namimody This should be resolved now. The site needed a Drupal Cron run (which there is another ticket for) to actually populate the search functionality. This is fixed now. Please confirm with your login.

<img width="1020" alt="screen shot 2015-08-25 at 12 49 43" src="https://cloud.githubusercontent.com/assets/12188375/9473263/dad120fc-4b27-11e5-8af7-a04ae786d744.png">

[2015-08-25 16:50] sergiitk commented on #4897
Yes, making the campaign English fixed the image.

[2015-08-25 16:51] ghost commented on #4894
@namimody Actually, search is fixed. Pictures are still an issue. Addressing that.

[2015-08-25 16:51] ghost commented on #4893
Fixed in #4894.

[2015-08-25 16:53] sergiitk opened #4904 "Make 54 Language-neutral campaigns English"
This will fix #4897 and bring more consistency to the Thor.
We can do it programmatically (will take about 3 hours) or assign somebody to go through it manually.

![image](https://cloud.githubusercontent.com/assets/672669/9473358/02ef1ad6-4b63-11e5-954b-fe379dc37c38.png)

cc @sheydari-ds @mikefantini @julielorch @namimody

[2015-08-25 16:58] sergiitk commented on #4904
[7:55 PM] Sergii Tkachenko: as i understand, the field display depends on users’s language
[7:56 PM] Sergii Tkachenko: and when the language is explicitly set to English, it looks for a English “translation” of the image field
[7:56 PM] Sergii Tkachenko: i don’t think this campaigns are suppose to be lanugage-neutral in the first place
[7:57 PM] Sergii Tkachenko: can we clarify that?
[7:57 PM] Sen

[2015-08-25 17:20] ghost commented on #4894
@namimody Pictures showing up now. They reference www.ds.com for some reason, but they're showing up. I'll work to update the proper references with @blisteringherb later.

[2015-08-25 17:21] ghost commented on #4896
Setup and run.

[2015-08-25 17:21] ghost commented on #4896
@namimody @sbsmith86 ^^

[2015-08-25 17:25] sergiitk commented on #4895
Resolved by @sheydari-ds in #4896.

[2015-08-25 17:25] #4895 closed, assigned to nobody

[2015-08-25 17:26] sbsmith86 commented on #4896
Woot! @namimody let's check that sharing functionality now. Running cron should generate the missing images you were seeing on facebook and tumblr

[2015-08-25 17:26] blisteringherb commented on #4894
@sheydari-ds I've reindex all of the items, and now the image URLs are using thor.ds.org. Not sure why they were using www before. The url for the cron job may need adjusting.

[2015-08-25 17:26] sergiitk commented on #4893
Example: https://thor.dosomething.org/search/apachesolr_search/bully

[2015-08-25 17:26] #4893 closed, assigned to nobody

[2015-08-25 17:29] sergiitk commented on #4890
#4899 is delivered to thor, the bug is fixed now. Thanks @DFurnes.

![image](https://cloud.githubusercontent.com/assets/672669/9474220/fae0293e-4b67-11e5-903f-205ca5bf7c04.png)

[2015-08-25 17:29] #4890 closed, assigned to nobody

[2015-08-25 17:35] ghost commented on #4894
@sergii-tkachenko Confirmed via Morgan and using Safari that the setup was correct, we just saw browser caching :angry:

[2015-08-25 17:35] ghost commented on #4894
@namimody This is resolved.

[2015-08-25 17:42] sergiitk commented on #4891
Looks like it works now:
![image](https://cloud.githubusercontent.com/assets/672669/9474505/bc127534-4b69-11e5-8eb8-a8f9858337c2.png)

[2015-08-25 17:42] #4891 closed, assigned to nobody

[2015-08-25 17:44] sergiitk commented on #4892
Works:
https://thor.dosomething.org/reportback/100072?fid=134628
![image](https://cloud.githubusercontent.com/assets/672669/9474560/12c82572-4b6a-11e5-955c-170ad973c454.png)

[2015-08-25 17:51] sergiitk commented on #4894
Confirming this works in Chrome with cmd+r.

[2015-08-25 18:06] angaither opened #4905 "remove reportback crons"
we currently have crons looking for inconstancies in reportback items and the reportback flagged state
refs #4658
it might be time to remove those

[2015-08-25 18:16] DFurnes commented on #4643
Follow-up from our meeting this morning. I tried testing Facebook's caching by changing the header image on the test campaign on the website (while making sure to keep the file name exactly the same). They do seem to cache the images when loading them through their proxy:

![screen shot 2015-08-25 at 2 12 32 pm](https://cloud.githubusercontent.com/assets/583202/9475225/5efd89be-4b33-11e5-8d0f-5922

[2015-08-25 18:28] sergiitk opened #4906 "Remove 'Language-neutral' from campaign lanugages"
cc @mikefantini @julielorch @sheydari-ds

[2015-08-25 18:28] DFurnes commented on #4643
From the expires header on the image that Facebook serves up, it looks like the cache lasts for 24 hours.

[code]

This is backed up by a [Stack Overflow answer](http://stackoverflow.com/a/15682504) I found.

[2015-08-25 18:28] sergiitk opened #4907 "Admin: Move campaing language selection dropdown to the top"
Small UI change.

[2015-08-25 18:39] namimody commented on #4894
Hey @sergii-tkachenko and @sheydari-ds  -- I just cleared cache and am still seeing this?

![image](https://cloud.githubusercontent.com/assets/12396076/9475800/f2d69088-4b36-11e5-9af9-8d42bee3c2e4.png)

[2015-08-25 18:53] DFurnes commented on #4643
Testing the page in the [Open Graph Debugger](https://developers.facebook.com/tools/debug/og/object/) does allow me to manually bust the cache and update the images. When I hit the button to "fetch new scrape information", it shows the updated kitten in the debugger:

![screen shot 2015-08-25 at 2 30 27 pm](https://cloud.githubusercontent.com/assets/583202/9475634/e265427c-4b35-11e5-95af-9b6b03101

[2015-08-25 18:56] sbsmith86 commented on #4643
@DFurnes yea we had the an intern run through all the campaigns and manually bust the cache when we launch problem shares. it's stupid. But if the cache does clear every 24 hours...then including the "time left" to reach the goal on the image seems ok to me since previous posts are timestamped on the users profile anyway,

[2015-08-25 19:19] DFurnes commented on #4643
Ooof, yeah. It's frustrating that Facebook doesn't provide an API for clearing their cache automatically.

I think I agree that having older posts retain a cached version seems okay, as long as new posts get updated. @mikefantini Thoughts?

[2015-08-25 19:21] mikefantini commented on #4904
@angaither @aaronschachter i assume we're good to just move everything set to English instead of having some in English some in Language neutral but just wanted to see if you could think of any gotcha's in doing this?