[2014-03-14 20:18] mikefantini opened #1282 "tons of random error messages on admin side"
Get this when I save a campaign node:
![image](https://f.cloud.github.com/assets/6330971/2425394/683113fe-abb4-11e3-90fd-8473806c0568.png)

To replicate go to http://staging.beta.dosomething.org/node/9/edit and save.

Get this when I go to add an image from the campaign node:
![image](https://f.cloud.github.com/assets/6330971/2425423/dd9a1546-abb4-11e3-9a03-8a4aff22081c.png)

To replicate:
- go to

[2014-03-14 20:24] mikefantini commented on #1280
- Mind On My Money edit node: http://staging.beta.dosomething.org/node/850/edit
- H&R Block partner edit node: http://staging.beta.dosomething.org/taxonomy/term/443/edit
- H&R Block logo (originally from Farah):
  ![hrb d s 3c logo](https://f.cloud.github.com/assets/6330971/2425525/8c544858-abb6-11e3-99bd-3039c7ad379f.png)
- H&R Block logo I cropped and uploaded:
  ![hrblock logo](https://f.cloud.

[2014-03-14 20:24] #1197 closed, assigned to nobody

[2014-03-14 20:25] #1198 closed, assigned to nobody

[2014-03-14 20:28] barryclark commented on #1282
Any ideas @aaronschachter @angaither?

[2014-03-14 20:28] barryclark commented on #1280
Thanks @mikefantini

[2014-03-14 20:29] barryclark commented on #1280
We're not going to worry about the black text in the logo for now. This issue is just to get the whole logo showing.

[2014-03-14 20:30] deezone commented on #1278
Fixed

For reference, the `mc:edit="static-main"` on the body of the message must not reference `mc:edit="main"` is it gets switched with the `message->html` value sent in the request to the Mandrill API.

[2014-03-14 20:32] mikefantini commented on #1280
yeah totally... the black logo shit is not on devs that's a design/biz dev thing

[2014-03-14 20:53] angaither commented on #1282
I _think_ stage just needed a `good ol' drush cc all`
as I'm not seeing the errors anymore, @mikefantini can you confirm & close if it's fixed

[2014-03-14 20:56] #1272 closed, assigned to angaither

[2014-03-14 20:59] desmondmorris commented on #1254
Content types updated on the staging server.

This was completed by replicated the steps in #1284

[2014-03-14 21:11] mmwtsn commented on #1280
Well, that's interesting.

We had originally designed the sponsor logo region of the campaign header to receive a fixed height image of unspecified widths. That would allow Keri to cut sponsor logos to a consistent vertical size and the layout would allow for various sponsor logo sizes (e.g. H&M vs H&R Block).

The image module currently requires a fixed size to be specified in the template which

[2014-03-14 21:12] mikefantini commented on #1282
woot all good.

[2014-03-14 21:12] #1282 closed, assigned to nobody

[2014-03-14 21:39] desmondmorris commented on #1254
Content types added to the production webhead.

This was achieved by adding the types in /etc/nginx/mime.types

[2014-03-14 21:41] desmondmorris commented on #1254
@DFurnes  this should be good to go on all tiers.  Once you reprovision for vm should be good out of the box.  You can test staging and production like so:

**Staging**
`curl -I http://staging.beta.dosomething.org/profiles/dosomething/themes/dosomething/paraneue/paraneue/bower_components/neue/assets/fonts/proxima-nova/ProximaNova-SBold.woff`

**Prod**
`curl -I https://beta.dosomething.org/profiles

[2014-03-14 21:48] DFurnes commented on #1254
Looks great! :+1:

[2014-03-14 21:48] #1254 closed, assigned to nobody

[2014-03-14 21:52] DFurnes commented on #1058
Marking as closed! :100:

[2014-03-14 21:52] #1058 closed, assigned to DFurnes

[2014-03-14 22:00] deezone commented on #1248
Resolved

[2014-03-14 22:07] DFurnes commented on #1207
Hmm, still seeing this issue on my local after pulling in all the latest Neue, Paraneue, and DS app changes:

![uh oh](http://www.browserstack.com/issue-tracker/e5cb8cb6d9f23bc2b92c4e5ea7b1235c27bdd335/winxp_IE_8.0.jpg)

HTML5Shiv is correctly loading now and seems(?) to be working. So it seems like there are still some other unresolved issues on this.

[2014-03-14 22:09] DFurnes commented on #1207
Interestingly, styles seem to be partially applied on static content pages:

![static content pages](http://www.browserstack.com/issue-tracker/844859f5084a353eb48f0b62659e124c6c0994b6/winxp_IE_8.0.jpg)

Currently leaning towards the explanation that something in the CSS is fucking up IE parsing partway through. Gonna keep investigating.

[2014-03-14 22:09] marahml opened #1286 "General User Reg Email - Active Campaigns Merge Tag Needed"
"Active Campaigns" merge tag not displaying

[2014-03-14 22:12] marahml opened #1287 "Password Reset - Bugs"
1 - after I go through the forgot PW flow and click to send pw reset email, it just takes me back to login screen with no "we sent you an email" message

2 - after i click on the one-time link in the reset PW flow, I am taken to a screen to reset my PW that already has my login info pre-populated. That'll definitely confuse users

[2014-03-14 22:20] mikefantini commented on #1278
@marahml confirmed that this is fixed.

Closing.

[2014-03-14 22:20] #1278 closed, assigned to deezone

[2014-03-14 22:20] mikefantini opened #1288 "auth - we should tell the user the password needs to be 6+ characters"
In testing I saw lots of people enter passwords <6 characters. If we're going to throw the error message we should warn the user that it needs to be 6 characters or more.

[2014-03-14 22:26] deezone commented on #1287
@marahml @mikefantini Can this be spec-ed out for what the expected behaviour should be?

[2014-03-14 22:28] deezone commented on #1286
@marahml I think this might be a future feature. I think the plan was to start with static text and links?

[2014-03-14 22:32] mikefantini commented on #1287
@DeeZone I will definitely update, nothing to worry about before Tuesday. Moving to the back log for now.

[2014-03-14 22:42] mikefantini opened #1289 "pitch page - campaign sign without clicking Sign Up button"
I'm getting signed up for campaigns I didn't sign up for.

To recreate:
- go to a pitch page as a logged out user
- click log in on the upper right hand corner
- either create an account or log in to an account that _is not_ signed up for that campaign
- you will not be signed up and see the action page, even though you did not elect to sign up for the campaign (i.e. you never clicked on the Sign

[2014-03-14 22:57] #1209 closed, assigned to barryclark

[2014-03-14 22:58] mikefantini commented on #1244
@DFurnes @barryclark do you guys know if that pull request is good to go?

[2014-03-14 23:02] barryclark commented on #1251
WHAT IS DOSOMETHING: /content/any-cause-anytime-anywhere
EXPLORE CAMPAIGNS: /campaigns

---

OUR PEEPS: /content/our-peeps-0  (This is the landing page for OUR TEAM in the footer)
YAC: /content/youth-advisory-council
TEAM: /content/our-team
BOARD: /content/board
JOBS: /content/were-hiring
INTERNSHIPS: /content/internships
OLD PEOPLE: /content/old-people
SEXY FINANCIALS: /content/sexy-financials
IN

[2014-03-14 23:13] aaronschachter commented on #1251
We need to code this using the drupal `l` function and pass through the `node/[nid]` paths to avoid having to always change this anytime a title changes.

Also, the `'/content/[title]` pattern is nasty, and super "Hey we just built a new drupal site".  Can we just change it to `about/[title]` or just `[title]`.  Will need to delete aliases and bulk update based on new pattern.

[2014-03-14 23:14] barryclark commented on #1251
+1 for [title]

[2014-03-14 23:15] barryclark commented on #1251
@mshmsh5000 Any problems with us going with just [title] and dropping the /content/[title]

[2014-03-14 23:18] barryclark commented on #1275
Thanks @julielorch !

[2014-03-14 23:19] barryclark commented on #1276
Dup of #1144

[2014-03-14 23:19] #1276 closed, assigned to nobody

[2014-03-14 23:21] #1260 closed, assigned to blisteringherb

[2014-03-15 02:54] mshmsh5000 commented on #1251
The URL patterns, in addition to SEO, are about building stable patterns for pool switching in Varnish. It's nice to have a rule that says

[code]

instead of

[code]

So `about/[title]` is a nice compromise if `content/` gives @aaronschachter the heebie jeebies. Also, Hey we just built a new Drupal site!

[2014-03-15 03:01] angaither commented on #1251
`content/1` gives everyone the heebie jeebies.

[2014-03-15 14:48] barryclark commented on #1251
Yep, about/[title] sounds like a good compromise.

@julielorch It'd be great if we can get rid of the "-0" from the end of the URLs that have it too. (e.g. /content/our-peeps-0 would now be /about/our-peeps)

[2014-03-15 14:51] angaither commented on #1251
That's generated when two pieces with the same title are saved. Super easy to remove the other piece of content and or update the url.

[2014-03-15 14:52] barryclark commented on #1251
@angaither sweet, thanks

[2014-03-15 14:52] barryclark commented on #1251
@julielorch an updated list based on discussion above, and a few names that I'd suggest tidying up:

WHAT IS DOSOMETHING: /about/any-cause-anytime-anywhere
EXPLORE CAMPAIGNS: /campaigns

OUR PEEPS: /about/our-peeps (This is the landing page for OUR TEAM in the footer)
YAC: /about/youth-advisory-council
TEAM: /about/our-team
BOARD: /about/board
JOBS: /about/were-hiring ---> change to /about/jobs ?

[2014-03-15 15:05] barryclark commented on #1280
@angaither The H&R Block logo is 423x101 so isn't getting 300x300 cropped too well. Sponsor logos might just need to be uploaded at the correct size that we want them to be output at?

I'm happy to put in a quick fix to pull the logo png directly from /sites/default/files/partners/HRBlock%20Logo.png for now if we'd prefer to look at this after Tuesday.

[2014-03-15 15:09] barryclark commented on #1244
@DFurnes Assigning you on this one to review and merge into paraneue. Ty.

[2014-03-15 15:10] barryclark commented on #1208
- @DFurnes

[2014-03-15 15:11] barryclark commented on #1206
@mikefantini We're not going to have time to do this for Tuesday. Shifting to Backlog. I don't think it should affect any campaigns, right? If it does, we shouldn't publish those campaigns for now.

[2014-03-15 15:23] barryclark commented on #1203
This is happening because the Solution Statement field is wrapping it's content in a `<p>` elements. @mikefantini @aaronschachter do we need markdown on this field? (toggling to "plain text" on the field didn't resolve)

[2014-03-15 15:30] barryclark commented on #1109
Assigning over to @blisteringherb

[2014-03-15 15:31] barryclark commented on #1088
Is this absolutely necessary for Tuesday, Dave? If not plz backlog.

[2014-03-15 15:31] barryclark commented on #1088
cc @DFurnes

[2014-03-15 15:34] barryclark opened #1291 "Static content - New link styles"
- bold
- no underline
- underline hoverstate

[2014-03-15 15:39] mikefantini commented on #1206
@barryclark that's totally cool. Already talked to campaigns team about
that plan

On Saturday, March 15, 2014, Barry Clark notifications@github.com wrote:

##

Mike Fantini
Head of Product, DoSomething.org
212.254.2390 x232

follow me: @mfantini12
follow us: @dosomething

... and we're hiring! www.dosomething.org/jobs

[2014-03-15 15:42] barryclark commented on #1206
@mikefantini Awesome, thanks

[2014-03-15 18:15] #1259 closed, assigned to blisteringherb

[2014-03-15 18:48] aaronschachter commented on #1088
I don't know if its _absolutely_ necessary, but it's kind of lame without it.  If you don't fill out required fields, the page reloads with errors, and you have to scroll back down to click on the form again.  Might be confusing for some users.

![screen shot 2014-03-15 at 2 45 03 pm](https://f.cloud.github.com/assets/1236811/2429228/58324e14-ac72-11e3-988d-c59dd0678922.png)

[2014-03-15 19:45] barryclark commented on #1144
More more info on this one @blisteringherb -- The gallery preprocess currently isn't set up to display multiple galleries, one after the other. It can only display one. Here's how I'd write the markup for the view, but I'm missing a few variables in the preprocess. Could you update it please? Gimmi a shout if you have any Qs

[code]

[2014-03-15 19:50] barryclark commented on #1232
Last 2 bullets blocked by #1144

[2014-03-15 20:01] #1144 closed, assigned to blisteringherb

[2014-03-16 03:37] #1291 closed, assigned to barryclark

[2014-03-16 03:38] #1275 closed, assigned to barryclark

[2014-03-16 03:38] #1103 closed, assigned to barryclark

[2014-03-16 04:13] DFurnes commented on #1088
This is a pretty quick fix. Less priority than some other things, but hoping to get it in.

[2014-03-16 13:40] aaronschachter commented on #1109
@blisteringherb @angaither @mshmsh5000 Perhaps a good reason to introduce "String overrides" module ?  Might be the easiest way to implement. This line is harcoded (and translated) in https://api.drupal.org/api/drupal/modules%21user%21user.module/function/user_register_submit/7

[2014-03-16 16:02] aaronschachter commented on #1280
I can jump in here, as I added the sponsor logo preprocessing. It's using a function I added to the image module called `dosomething_image_get_themed_image_by_fid` which requires a `$style` parameter.  I can modify this function to make that parameter optional, so it has the ability to display the raw image file without any resizing.  I'm not sure if this would disrupt the H&M campaign though (we'

[2014-03-16 16:25] #1232 closed, assigned to barryclark

[2014-03-16 16:39] barryclark commented on #1280
@aaronschachter Nice one. I think that's the best way to go.

@mikefantini cc'ing you on the above. The site won't resize sponsor logos if we go this route, so we'll have to make sure that the H&M logo gets re-uploaded at 300px x 300px.

[2014-03-16 16:42] mikefantini commented on #1280
@barryclark not a problem.

@aaronschachter just let me know when it's all set and I'll re-upload.

[2014-03-16 16:44] angaither commented on #1280
@aaronschachter I think that's fine for now, but if we need more flexibility with the image styles we can add in new standards that only crops to the max-width.
wmax-423px which would crop the image to the correct width and let the height be sized by the ratio of the image.

[2014-03-16 16:49] aaronschachter commented on #1280
@angaither that def sounds like a good addition.  Wanna create an issue to track it?

[2014-03-16 16:53] desmondmorris commented on #1109
No module necessary.  You can change this right from settings.php.
https://drupal.org/node/522036

[2014-03-16 16:54] angaither commented on #1280
@aaronschachter we can use this one? it's no big deal to add a new image style now.

[2014-03-16 16:55] aaronschachter commented on #1280
sure, go for it.

[2014-03-16 16:58] mikefantini commented on #1203
hmmm yeah it only seems to be happening for campaigns that use field_solution_copy instead of field_fact_solution.

@barryclark @aaronschachter is there another way around this or is the only solution to remove markdown on field_solution_copy? Also are we sure that this will fix it?

[2014-03-16 17:14] #1244 closed, assigned to DFurnes

[2014-03-16 17:22] #1203 closed, assigned to barryclark

[2014-03-16 17:33] aaronschachter opened #1297 "Action Guide modals"
Render action guides in a modal.

[2014-03-16 17:54] aaronschachter commented on #1297
@mikefantini Do these modals need a header?  If so, what field should we use.. or is there a value we can just hardcode for each one, like "More info".

[2014-03-16 18:29] mikefantini commented on #1297
@aaronschachter pull in the title from the action guide

[2014-03-16 18:39] mikefantini commented on #1297
@aaronschachter hold off on that right now actually. Going to circle up with @barryclark and Deluca first thing on Monday and figure out how to move forward with the header for that modal.

We will need one though and we'll want to treat it consistently with the other modal headers we have.

[2014-03-16 19:18] desmondmorris commented on #600
Redis is installed, running and configured in #1045.  Once that gets tested and merged we can test it up the stack.

Redis server is installed and running on staging.  There is also a cache server ready and running in prod.  Once the code moves up the stack, we should be all good

[2014-03-16 19:32] mikefantini opened #1301 "campaigns (confirmation page) - layout updates"
- [ ] remove secondary button from purple header -> instead Back to Peanut Butter & Jam Slam should be hyperlinked text at the bottom of the page
- [ ] make sure all characters render properly in this hyperlinked text (i.e. & or !) - important for Peanut Butter & Jam Slam
- [ ] h2 copy "Keep it up! Find your next campaign."
- [ ] add Find more campaigns button -> links to /campaigns

[2014-03-16 19:33] mikefantini commented on #1301
Should more or less look like this:

![confirmation page](https://f.cloud.github.com/assets/6330971/2431746/bdb92832-ad41-11e3-9abd-3bc6caec93bb.png)

[2014-03-16 19:34] mikefantini commented on #1301
@barryclark i'd love to get this in before Monday if possible because people _are_ reporting back on PB Jam Slam right now and the current layout doesn't make sense.

[2014-03-16 19:34] mikefantini commented on #1265
this may end up getting fixed by #1301

[2014-03-16 19:35] mikefantini commented on #1301
this layout should work on mobile as well looking at how it's currently set up.

[2014-03-16 19:38] mikefantini opened #1302 "galleries - refactor to make them consistent"
we have some inconsistencies in our gallery treatments, especially on

campaign confirmation page:
![image](https://f.cloud.github.com/assets/6330971/2431772/77102628-ad42-11e3-9159-a8184181d144.png)

/campaigns:
![image](https://f.cloud.github.com/assets/6330971/2431774/8010b31e-ad42-11e3-90c2-0db2ddd8dc04.png)

[2014-03-16 19:45] mikefantini opened #1303 "action page (plan it) - remove underline from "Locate" button"
![image](https://f.cloud.github.com/assets/6330971/2431788/85ce1476-ad43-11e3-836c-88a83de60145.png)

@barryclark this seems quick and is on H&M and looks shitty; would be great to clean it up.

[2014-03-16 19:53] mikefantini opened #1304 "email - prove it link in email body copy not linked properly"
signed up for campaign: Free to Pee Petition.

confirmation email I received has a Prove It button, takes me to http://www.dosomething.org/campaign/*%7CCAMPAIGN_LINK%7C*

should take me to http://staging.beta.dosomething.org/campaigns/free-pee-petition#prove

@barryclark need to make sure this is working before we launch H&M on Monday

[2014-03-16 19:55] mikefantini commented on #1304
confirmation email after signing up for Comeback Clothes has a Prove It button that takes me to the same link: http://www.dosomething.org/campaign/*%7CCAMPAIGN_LINK%7C*

[2014-03-16 20:15] barryclark commented on #1304
@DeeZone @aaronschachter Any idea where this link is getting set?

[2014-03-16 20:17] mikefantini opened #1305 "static content - header of static content is interfering with nav"
![image](https://f.cloud.github.com/assets/6330971/2431859/bd9ee0d4-ad47-11e3-8d3b-68cbf934f21c.png)

![image](https://f.cloud.github.com/assets/6330971/2431861/ccfc3298-ad47-11e3-9419-10bee51cfc95.png)

[2014-03-16 20:25] barryclark commented on #1305
Fixed by #1299

[2014-03-16 20:25] #1305 closed, assigned to nobody

[2014-03-16 20:26] mikefantini commented on #1305
sorry didn't see that! was only looking in issues

[2014-03-16 20:32] barryclark commented on #1305
Great one to catch!

[2014-03-16 20:32] mikefantini opened #1306 "/campaigns prioritization is off"
@blisteringherb Would You Rather? (nid 51) is designated a staff pick but it is getting buried at the bottom of the list

Also The Bully Text (nid 832) has a photo and is a staff pick and is still not being pulled into the view.

[2014-03-16 20:38] mikefantini commented on #1306
Also Mind On My Money (nid 850) is staff pick and has a photo and is not appearing in this view.

[2014-03-16 20:47] mikefantini commented on #1201
![photo 10](https://f.cloud.github.com/assets/6330971/2431977/2793589a-ad4c-11e3-9057-78d6a3ac8f94.PNG)

[2014-03-16 20:57] mikefantini opened #1307 "action page (contact us) - Contact us modal needs to be styled"
- [ ] Modal header should read "CONTACT US"
- [ ] "Enter your question..." should be in our body copy.
- [ ] Submit button should be our primary call to action button style

![image](https://f.cloud.github.com/assets/6330971/2432000/36d26aca-ad4d-11e3-9d1a-fac05db6816f.png)

[2014-03-16 20:58] aaronschachter commented on #1304
@DeeZone I'm not seeing a `CAMPAIGN_LINK` being called in `dosomething_user_mbp_request` or `dosomething_signup_mbp_request`.  This must be handled in message broker somewhere.

If we want to send a path into the mandrill template, we should be using `$node->path` as value to pass from within `dosomething_signup_mbp_request`.  But I'd imagine the mandrill template should be coded to `http://www.do

[2014-03-16 21:04] mikefantini opened #1308 "campaigns - default meta tags"
- Page Title: [node:title] | [site:name]
- Description: [node:call_to_action]. Find all the tips you need here.
- Abstract: [node:call_to_action]. Find all the tips you need here.
- Keywords: [node:tags]
- Google News Keywords: [node:tags]
- ~~Image: [node:hero_image]~~ Must be handled via #1420

[2014-03-16 21:33] mikefantini opened #1310 "search results - not properly prioritizing results"
Content type biasing is off.

I'm seeing 11 Facts Pages ranked ahead of Campaigns:

http://staging.beta.dosomething.org/search/apachesolr_search/bullying

[2014-03-16 21:40] mikefantini opened #1311 "/campaigns and search results headers are overlapping with nav"
/campaigns:
![image](https://f.cloud.github.com/assets/6330971/2432124/8cd1094e-ad53-11e3-9cef-0f854f832f13.png)

search results:
![image](https://f.cloud.github.com/assets/6330971/2432120/66ed0dfe-ad53-11e3-997c-d1c1aa3feff4.png)

[2014-03-16 21:57] mikefantini commented on #79
@desmondmorris is this ticket fully up to date?

currently trying to do overall priority of all outstanding issues

[2014-03-16 22:18] mikefantini commented on #1305
FYI this is still an issue on /campaigns and search results. Opened up issue #1311

[2014-03-16 22:34] mikefantini commented on #1202
Contact Us modal appears on on campaigns without "in partnership with" but doesn't appear when there are partners.

Still need to update the text to read "Contact us." Instead of "Give us a shout" on both mobile and desktop

[2014-03-16 22:41] mikefantini opened #1312 "footer - weird spacing on mobile"
Lots of weird spacing between content and the footer on mobile. Seems to change based on page or even based on different ways I scroll through the page (i.e. saw different spacing on the same page in two separate visits to that page).

Comeback clothes:
![photo 2](https://f.cloud.github.com/assets/6330971/2432246/c62639e6-ad5b-11e3-8090-6579484075f0.PNG)

Non-staff pick campaign:
![photo 3](https:

[2014-03-16 22:48] mikefantini opened #1313 "action page (nav) - glitches when I scroll to the top on mobile"
if you scroll down so that the nav follows you along the page on mobile, and then scroll up quickly the nav glitches for a second and freezes at the top of the page with a blank white space open where it originally started:

![photo 1 1](https://f.cloud.github.com/assets/6330971/2432273/0badb04c-ad5d-11e3-9790-ca08ddb30134.PNG)

![photo 2 1](https://f.cloud.github.com/assets/6330971/2432274/0d88b4

[2014-03-16 22:49] mikefantini opened #1314 "pitch page - campaign boilerplate copy changes"
Remove the first "A DoSomething.org Campaign" so that it doesn't repeat itself.

![image](https://f.cloud.github.com/assets/6330971/2432267/92cfc84a-ad5c-11e3-9888-53eb7a0a06bb.png)

[2014-03-16 22:49] barryclark commented on #1305
Great, that'll be a quick fix. Thanks.

[2014-03-16 22:58] mikefantini commented on #79
and @desmondmorris should this get the priority label? (i.e. can we not launch unless this is closed out)

[2014-03-16 23:07] #600 closed, assigned to nobody

[2014-03-17 00:04] #1297 closed, assigned to aaronschachter

[2014-03-17 03:42] mikefantini opened #1315 "/campaigns - Comeback clothes opens up in new tab"
on /campaigns Comeback Clothes defaults to open up in a new tab (it's the only campaign I could find that was doing this)

[2014-03-17 04:34] deezone commented on #1304
@aaronschachter Thanks for the details, very helpful.

[2014-03-17 13:46] barryclark commented on #1280
Re-opening for fender work.

[2014-03-17 13:53] blisteringherb commented on #1259
Fixes #1213

[2014-03-17 14:06] DFurnes commented on #1313
This is a downside of not using a `position: sticky` polyfill, since Mobile Safari pauses JavaScript execution during scroll. Definitely looking in doing some progressive enhancement on this once things quiet down a bit.

[2014-03-17 14:08] mikefantini commented on #1200
this is working now for field_step_pre on mobile.. once we have #1253 set up we'll need to make sure that it gets rendered the same way field_step_pre is being rendered on mobile.

and then "View tips" should appear as hyperlinked text below the third step in the Do It section (just like we have below the first step in the Do It section).

[2014-03-17 14:17] desmondmorris commented on #79
@mikefantini only stuff pending is around logging and reporting.  But prod environment is ready for gametime

[2014-03-17 14:17] #79 closed, assigned to nobody

[2014-03-17 14:22] barryclark commented on #1251
L functions with node paths!

FUTURE! Open new issue to look at Drupal Menu... also look at migrating to paraneue_dosomething

[2014-03-17 14:33] angaither opened #1319 "Update all static content paths to /about"
- update the rule in alias
- batch delete/update in stage

[2014-03-17 14:39] #1207 closed, assigned to DFurnes

[2014-03-17 14:44] desmondmorris commented on #165
@mshmsh5000 - All servers except the db servers.  The agent is installed on both the master and the slave, but they are not being registered in new relic for some reason.  This could be naming collision maybe?

![screen-shot-2014-03-17-at-10 41 36-am](https://f.cloud.github.com/assets/129360/2437014/7cd1f55a-ade2-11e3-959e-ce19729d0514.jpg)

[2014-03-17 14:50] angaither opened #1321 "Footer Menu"
Figure out a better, less hardcodey way to render the footer/nav menu.

[2014-03-17 15:03] mikefantini commented on #892
Ben Kassoy said we actually just need them subscribed to the Do Something Members List not the the actual Group NewMembers2012

[2014-03-17 15:20] aaronschachter opened #1322 "Pass campaign mailchimp group id to MBP request"
Blocks #893
- [x] Signup function to return what the mailchimp group ID should be for a given campaign $nid
- [x] Pass value into `dosomething_signup_mbp_request`

[2014-03-17 15:24] barryclark commented on #1321
Sweet! Thanks :octopus:

[2014-03-17 15:46] barryclark commented on #1207
YESSSS!!! :dancers: :clap: :tada: :tada: :tada: :tada: :tada: :tada: :clap: :dancers:

[2014-03-17 15:55] deezone commented on #892
@mikefantini - understood. A general new user signup to the website will now result in the creation of an entry in MailChimp assigned to the mail list "Do Something Members". A campaign signup will result in assigning "interest group" ids to the email in MailChimp.

[2014-03-17 16:07] deezone opened #1323 "Add birthday to user_register MBP call"
New user registrations need to include the birthday value for the MBP call. The Message Broker will include the birthday value in the MailChimp subscription call.

[2014-03-17 16:10] aaronschachter commented on #1323
FYI - We've been referring to birthday as `birthdate` in the beta app.  Not sure what the expected merge vars name is in Mailchimp.

[2014-03-17 16:13] #1319 closed, assigned to nobody

[2014-03-17 16:15] angaither opened #1325 "Image nodes, alt text"
Need to set alt text on all images when being themed.
aka, need to save the alt text after a new image is uploaded.

[2014-03-17 16:15] mikefantini commented on #1315
scratch that, now I'm seeing all campaigns opening up in a new tab

[2014-03-17 16:21] barryclark commented on #1315
@mikefantini thoughts on moving this up to "low priority"?

[2014-03-17 16:22] barryclark commented on #1315
Moved it up, it's kinda shitty and that page will get traffic

[2014-03-17 16:25] #1251 closed, assigned to DFurnes

[2014-03-17 16:28] DFurnes commented on #1321
@angaither Would love to get your thoughts on DoSomething/paraneue#49.

[2014-03-17 17:10] mikefantini opened #1328 "notifications (mobile) - logo makes them unreadable"
The notifications on mobile are pushing down the menu but not the logo. The logo is going over the notification message, making the message unreadable.

![photo 2 2](https://f.cloud.github.com/assets/6330971/2438845/a81fd0b0-adf6-11e3-8eda-66d9bcd387ec.PNG)
![photo 1 2](https://f.cloud.github.com/assets/6330971/2438846/a99e2914-adf6-11e3-889a-e0f2fa9cdc5f.PNG)

[2014-03-17 17:32] mikefantini commented on #1280
taking high priority label off since it's no longer due today

[2014-03-17 17:37] mikefantini opened #1329 "pitch page (sponsor logo) - powered by still showing if no logo present"
If a campaign is sponsored but we don't have a logo attached to the sponsor then we should not show the "Powered by:" text.

![image](https://f.cloud.github.com/assets/6330971/2439231/b314222e-adfa-11e3-8e7c-5755c92ae356.png)

[2014-03-17 17:43] #1312 closed, assigned to DFurnes

[2014-03-17 17:58] barryclark commented on #1329
@mikefantini fixed by unsetting the sponsor on the campaign node on staging.

[2014-03-17 18:00] mikefantini commented on #1329
Yeah Barry that's the hack. The problem is that the campaign won't be
prioritized in /campaigns which is kind of fucked. But if that's what we
have to do for today that's fine

On Monday, March 17, 2014, Barry Clark notifications@github.com wrote:

##

Mike Fantini
Head of Product, DoSomething.org
212.254.2390 x232

follow me: @mfantini12
follow us: @dosomething

... and we're hiring! www.dosometh

[2014-03-17 18:03] barryclark commented on #1329
Damn. Can we leave "is sponsor" checked, but not enter the sponsor and still have it prioritized? cc @mikefantini

[2014-03-17 18:05] mikefantini commented on #1329
Oh of call try that (and let's make sure we remember that)

On Monday, March 17, 2014, Barry Clark notifications@github.com wrote:

##

Mike Fantini
Head of Product, DoSomething.org
212.254.2390 x232

follow me: @mfantini12
follow us: @dosomething

... and we're hiring! www.dosomething.org/jobs

[2014-03-17 18:06] DFurnes commented on #1329
Shouldn't we just be checking for presence of the sponsor image field here? And either falling back to plain-text "H&R Block: Dollars and Sense" or omitting if the image doesn't exist?

[2014-03-17 18:17] mikefantini commented on #1329
+1 for omitting if the image doesn't exist.. I just didn't know how
difficult this was

On Mon, Mar 17, 2014 at 2:06 PM, David Furnes notifications@github.comwrote:

##

Mike Fantini
Head of Product, DoSomething.org
212.254.2390 x232

follow me: @mfantini12
follow us: @dosomething

... and we're hiring! www.dosomething.org/jobs

[2014-03-17 18:19] #1322 closed, assigned to aaronschachter

[2014-03-17 18:30] #1109 closed, assigned to blisteringherb

[2014-03-17 18:37] mikefantini opened #1332 "auth - confirm password not recognizing identical passwords"
When creating an account I enter a password and then enter a perfect match in the Confirm Password field and it says that I haven't entered a match (even though I have).

[2014-03-17 18:40] aaronschachter commented on #1329
reassigning to myself to implement comment per @DFurnes -https://github.com/DoSomething/dosomething/issues/1329#issuecomment-37849680

[2014-03-17 19:13] #1253 closed, assigned to blisteringherb

[2014-03-17 19:14] aaronschachter commented on #1329
@barryclark let's add the Sponsor info back in.

[2014-03-17 19:29] #1306 closed, assigned to blisteringherb

[2014-03-17 19:30] #1200 closed, assigned to blisteringherb

[2014-03-17 19:31] DFurnes commented on #1328
Fixed in latest Paraneue/Neue.

[2014-03-17 19:31] #1328 closed, assigned to DFurnes

[2014-03-17 19:32] DFurnes commented on #1332
Seems the form IDs on the back-end changed unexpectedly. Will update to reference the new IDs for validation in the markup.

[2014-03-17 19:37] mikefantini commented on #1329
added sponsor back in; let me know when it's ready to re-test on staging

[2014-03-17 19:43] #1332 closed, assigned to DFurnes

[2014-03-17 19:44] mikefantini opened #1340 "email - campaign name merge tag not coming in properly on report back transacational"
On report back transactional email:

![image](https://f.cloud.github.com/assets/6330971/2440787/ce4027b2-ae0b-11e3-8db2-d1641ef60334.png)

However it is working on transactional email after I sign up for a campaign:
![image](https://f.cloud.github.com/assets/6330971/2440836/825c0824-ae0c-11e3-9ac8-d4cf0da290bb.png)

[2014-03-17 19:53] aaronschachter commented on #1329
Give it a go, @mikefantini .  http://staging.beta.dosomething.org/node/850/pitch

[2014-03-17 19:55] aaronschachter commented on #1340
@DeeZone Looks like we've coded this to send through a CAMPAIGN_TITLE and not a CAMPAIGN_NAME.  is this a quick fix in the mandrill template?

[2014-03-17 20:07] #1314 closed, assigned to barryclark

[2014-03-17 20:10] mikefantini opened #1342 "action page (do it) - after tips are now appearing twice"
related to #1253

![image](https://f.cloud.github.com/assets/6330971/2441118/23292d6a-ae10-11e3-8c8e-b9dc46881f17.png)

[2014-03-17 20:13] mikefantini commented on #1342
showing up twice on mobile as well:

![photo 11](https://f.cloud.github.com/assets/6330971/2441179/99973410-ae10-11e3-838f-479373ffaa6e.PNG)

[2014-03-17 20:14] aaronschachter commented on #1340
This was an error in the email template. We've fixed in Mailchimp / Mandrill and confirmed works now:

![fuck yeah u did it](https://f.cloud.github.com/assets/1236811/2441191/b820b0d2-ae10-11e3-8a23-a797c5e01b35.png)

[2014-03-17 20:14] #1340 closed, assigned to deezone

[2014-03-17 20:17] aaronschachter commented on #1329
Heads up @barryclark -- i added the `copy` class in order to align the Sponsor Name with the "Powered by".  It's printing nicely, although when you use a longer sponsor name, e.g. "H&R Dollars&Sense", the line will get cut off because of the line-height: `100px.`  This is the danger of allowing me to css.  Markup can be altered appropriately in `dosomething_campaign_preprocess_partners_vars`.

[2014-03-17 20:21] DFurnes commented on #1307
What should the label be, if we're making the "Enter your question..." text into body copy?

[2014-03-17 20:21] mikefantini commented on #1329
@barryclark @DFurnes @barryclark another option is just to hide "Powered by:" if there is no image. Let's just do whichever is easier.

[2014-03-17 20:23] mikefantini commented on #1307
just so it's documented let's make the label "Your Question"

[2014-03-17 20:32] deezone commented on #1340
@aaronschachter Confirmed, use the UI in MailChimp to update the template here: https://us4.admin.mailchimp.com/templates/#f:53

Once you've updated the template select "Send to Mandrill" in the drop down menu below each of the templates.

[2014-03-17 20:51] #1307 closed, assigned to DFurnes

[2014-03-17 20:52] #1311 closed, assigned to barryclark

[2014-03-17 20:53] #1342 closed, assigned to barryclark

[2014-03-17 21:00] blisteringherb opened #1345 "/campaigns: Change subtitle"
New subtitle should be:

Make the world suck less. Choose a campaign below to get started.

[2014-03-17 21:08] mikefantini opened #1347 "action page (report back) - error message when updating report back with second image"
On prod on comeback clothes when I tried to update my report back with this image:

![imag0074](https://f.cloud.github.com/assets/6330971/2441729/27268d24-ae18-11e3-8d9e-1577e52a360c.jpg)

I got this error message:
https://s3.amazonaws.com/uploads.hipchat.com/34218/261430/PP6QhdvbDBhxBpJ/upload.png

[2014-03-17 21:09] barryclark commented on #1345
:+1:

[2014-03-17 21:11] desmondmorris commented on #1347
Thanks, this has to do with the client_max_body_size setting in nginx

[2014-03-17 21:22] #1194 closed, assigned to DFurnes

[2014-03-17 21:39] mikefantini commented on #1304
@DeeZone @aaronschachter I'm still seeing this error on recent emails I got.

Re-opening this issue.

[2014-03-17 21:48] #1345 closed, assigned to blisteringherb

[2014-03-17 22:13] barryclark opened #1349 "action page (do it) - tips functionality is broken"
![image](https://f.cloud.github.com/assets/692762/2442382/42b35a78-ae21-11e3-8892-f2ecc44241d7.png)

https://beta.dosomething.org/node/362

~~Clicking "hit da clubs" tip hides~~ "announce your results" should live in a modal.

[2014-03-17 22:21] mikefantini commented on #1347
@desmondmorris I'm no longer getting this error on production. Cool to close this issue?

[2014-03-17 22:22] barryclark commented on #1347
This looks more and more delicious every time I re-view the issue.

[2014-03-17 22:28] #1288 closed, assigned to nobody

[2014-03-17 22:29] mikefantini opened #1352 "campaign (zendesk) - error message when submit a question"
To re-create:
- go to beta.dosomething.org/campaigns/peanut-butter-jam-slam
- sign up for the campaign
- scroll down to the bottom and click on "Give us a shout"
- submit a question to the contact us modal

![image](https://f.cloud.github.com/assets/6330971/2442518/7604deae-ae23-11e3-846e-35d808a79969.png)

[2014-03-17 22:46] barryclark opened #1353 "action page (tips) - If there's only one tip, then it shouldn't be clickable"
No need for "Announce Your Results" to be a link here.

![image](https://f.cloud.github.com/assets/692762/2442642/dc41a916-ae25-11e3-9bfa-dc0a03f4b304.png)

[2014-03-17 22:51] jonuy opened #1354 "FNAME var in Comeback Clothes sign up email subject and body"
`*|TEXT:FNAME|*` in the subject and `*|FNAME|*` in the body.

![screen shot 2014-03-17 at 6 49 58 pm](https://f.cloud.github.com/assets/696595/2442685/900a4b42-ae26-11e3-9ea0-bc165f0e24f2.png)

[2014-03-17 23:00] aaronschachter commented on #1352
Works for me again. What uid / email are you using to submit questions?

![screen shot 2014-03-17 at 6 59 39 pm](https://f.cloud.github.com/assets/1236811/2442767/e73a59ce-ae27-11e3-8471-9f23fdb1705b.png)

[2014-03-17 23:04] aaronschachter commented on #1352
Ah, I can replicate using my `batman@example.com`.  Must be an error when an email is not in zendesk already. Ok this is a bug

[2014-03-17 23:43] mikefantini opened #1356 "Error message after deleting nodes, entities: Warning: array_flip(): Can only flip STRING and INTEGER"
Got this error message when deleting an image on beta.dosomething.org:

![image](https://f.cloud.github.com/assets/6330971/2443053/735d75a8-ae2d-11e3-9df8-3cc803a771e1.png)

![screen shot 2014-03-07 at 8 58 04 pm](https://cloud.githubusercontent.com/assets/1236811/2638646/95fb827c-beb2-11e3-8f25-18e74611e436.png)

[2014-03-17 23:45] mikefantini opened #1357 "/campaigns - all characters not being pulled in properly"
See Peanut Butter & Jam Slam:

![image](https://f.cloud.github.com/assets/6330971/2443114/2fd6919c-ae2e-11e3-8584-469002bfecc2.png)

[2014-03-18 00:13] mikefantini commented on #1329
@barryclark @DFurnes @aaronschachter "Powered by:" is showing up _any time_ a partner is attached to a node. Even if they aren't a sponsor.

Can we move forward with just hiding "Powered by:" if there is no image attached to a partner for now?

[2014-03-18 00:15] mikefantini commented on #1329
_another_ example: https://beta.dosomething.org/campaigns/welcome-home

[2014-03-18 00:57] aaronschachter commented on #1354
I got an email 4 hrs ago with my name in it.  This may be because this user didn't have a first name?  @jonuy can you confirm?

[2014-03-18 01:00] blisteringherb opened #1360 "Set up Cron in Jenkins"
Set up cron to run every X mins

[2014-03-18 01:01] mikefantini commented on #1357
@barryclark I removed & and used + instead. It's working now. Going to close this.

[2014-03-18 01:09] barryclark commented on #1357
@mikefantini Cheers. Gonna keep this open and backlog on it as we should still fix this.

[2014-03-18 01:14] mikefantini opened #1361 "email - update subject line for site registration template"
When I register for DoSomething.org I get an email that has no subject.

Instead the subject should read: Welcome to DoSomething.org

![image](https://f.cloud.github.com/assets/6330971/2443619/85efd35c-ae3a-11e3-950a-f4596fd1327f.png)

[2014-03-18 01:29] mikefantini commented on #1208
@DFurnes @barryclark this is working now for me. Closing this issue.

[2014-03-18 01:29] #1208 closed, assigned to DFurnes

[2014-03-18 01:38] blisteringherb commented on #1361
@DeeZone mentioned that this gets set in the Mandrill interface.  If I can get credentials to that, I can take a look in there to see if something is missing there.  From the digging I've done, the subject isn't being set in Drupal.

[2014-03-18 01:45] mikefantini opened #1364 "email - spacing off in all email templates"
Too much space between h1 and h2 in the email templates.

![image](https://f.cloud.github.com/assets/6330971/2443754/b9ee7d76-ae3e-11e3-9061-b184f9ee0cce.png)

[2014-03-18 01:46] mikefantini commented on #1364
full disclosure not sure if this is a dev task or design but want to make sure it's documented

[2014-03-18 01:50] barryclark commented on #1208
Well, that's sweet.

[2014-03-18 02:15] blisteringherb commented on #1361
I updated the subject in Mandrill, this should be good to go now.

[2014-03-18 02:18] #1361 closed, assigned to blisteringherb

[2014-03-18 02:19] blisteringherb commented on #1352
Any objections to creating a new user if necessary and then creating the ticket like this?

@aaronschachter

[2014-03-18 02:30] aaronschachter commented on #1352
Nope i think its what we need to do, in order to track the communication history.

[2014-03-18 02:40] blisteringherb commented on #1352
Approved?
@aaronschachter
@angaither

[2014-03-18 02:56] aaronschachter commented on #1352
yup i approved #1359 with the ol :+1:

[2014-03-18 02:59] #1315 closed, assigned to blisteringherb

[2014-03-18 03:00] #1352 closed, assigned to blisteringherb

[2014-03-18 03:17] mikefantini opened #1368 "nav - not aligned horizontally and partially hidden on ie"
![image](https://f.cloud.github.com/assets/6330971/2444170/bd10a3b4-ae4b-11e3-840e-a7407d2be260.png)

[2014-03-18 03:18] mikefantini commented on #1368
this is most recent version of ie

[2014-03-18 03:19] mikefantini commented on #1368
nav actually looks better in ie8 (according to ie developer tools):

![image](https://f.cloud.github.com/assets/6330971/2444186/143a6c88-ae4c-11e3-81bc-0812d9a85a6c.png)

[2014-03-18 03:24] barryclark commented on #1368
shooting over to @DFurnes

[2014-03-18 03:25] #1329 closed, assigned to aaronschachter

[2014-03-18 04:21] mikefantini opened #1372 "action page (plan it) - PDFs should download automatically"
Currently we're hosting PDFs in a drop box account and allowing users to download them from drop box.

Ideally we'd just download the PDFs automatically rather than having them open up a new window.

Examples:
- /campaigns/flyer-away
- /campaigns/comics-rescue
- /campaigns/cell-phones-survivors
- /campaigns/realprincess
- /campaigns/13-gallon-challenge
- /campaigns/flyer-away
- /campaigns/school-s

[2014-03-18 04:45] barryclark opened #1373 "/about page cannot be found"
![image](https://f.cloud.github.com/assets/692762/2444546/fe0d4780-ae57-11e3-9ee1-6023ce66ae8c.png)

[2014-03-18 05:04] #1301 closed, assigned to barryclark

[2014-03-18 05:44] DFurnes commented on #1368
It's an issue with HTML5 tags. I assume it's not triggering in IE 8 because HTML5Shiv is loading in the conditional comment there... why they're not loading in IE 9+ though? Strange.

[2014-03-18 05:53] #1368 closed, assigned to DFurnes

[2014-03-18 05:58] DFurnes commented on #1368
Fixed by adding a `display: block` to those two classes. Worth looking into again since the [Meyer reset](https://github.com/DoSomething/ds-neue/blob/dev/scss/vendor/_reset.scss#L27-L30) should be taking care of that for us...

[2014-03-18 06:01] DFurnes opened #1376 "Figure out why we need to specify block display on HTML5 main and nav tag elements."
Continuing investigation from #1368. Is the reset not applying correctly?

[2014-03-18 06:15] mikefantini opened #1378 "email - create default replacement for first name if none exists"
If we don't have a first name for a user in MailChimp we should have some fall back so that we don't use "Hey _|TEXT:FNAME|_!

![image](https://f.cloud.github.com/assets/6330971/2444888/8ddb5bf2-ae64-11e3-9775-0fd35101b2e9.png)

[2014-03-18 06:30] mikefantini commented on #1347
closing

[2014-03-18 06:30] #1347 closed, assigned to nobody

[2014-03-18 07:27] angaither opened #1386 "Better image cache clearing options"
~~\- update on image updates~~
- [ ] update on referenced updates
- [ ] allow a ui cache clear

[2014-03-18 08:33] mikefantini opened #1388 "zendesk error on second submission"
as an auth user, signed up for Comeback Clothes, I send a question to Zendesk, and then I send a second question in to Zendesk.

When I go to send a second question I get this error message:
![image](https://f.cloud.github.com/assets/6330971/2445652/d6833f42-ae77-11e3-883c-6c53314cf146.png)

[2014-03-18 08:35] mikefantini opened #1389 "campaigns (confirmation page) - images on confirmation aren't clickable"
![image](https://f.cloud.github.com/assets/6330971/2445671/480d9eaa-ae78-11e3-9b0c-bec0a5529d90.png)

[2014-03-18 08:44] aaronschachter commented on #1213
The redirects are working, however for some redirects, its directing to specifically to "node/730939".  If we care about this, we need to just these redirects to point to paths.  Otherwise ready to be closed.

[2014-03-18 08:45] blisteringherb commented on #1213
The 3 non-login redirects are working properly.

[2014-03-18 08:45] mikefantini opened #1390 "Mind On My Money - getting incorrect under 13 flag"
I created an account (email mfantini+tester@dosomething.org) using Log In modal in the upper right hand corner on the homepage.

The user's birthday is 5/30/1999.

I then went to www.dosomething.org/money, signed up for the campaign, selected a school, and went to report back.

When I clicked on the upload images on the old app's /money "action" page I get this error message:

![image](https://f.c

[2014-03-18 08:46] mikefantini commented on #1213
@aaronschachter want to just create an issue in the backlog for that and close this one out.

[2014-03-18 08:46] jonuy opened #1391 "Icons and fonts on old app footer don't display because of incorrect path"
![screen shot 2014-03-18 at 4 45 49 am](https://f.cloud.github.com/assets/696595/2445779/ca9ac8f6-ae79-11e3-95c6-9b87fc43eb77.png)
![screen shot 2014-03-18 at 4 46 10 am](https://f.cloud.github.com/assets/696595/2445780/ca9b358e-ae79-11e3-8760-c433e029ed58.png)

[2014-03-18 08:47] aaronschachter commented on #1213
WE DID IT

[2014-03-18 08:47] #1213 closed, assigned to blisteringherb

[2014-03-18 08:49] aaronschachter opened #1392 "Path based legacy redirects"
Refs #1213

Instead of redirecting to "node/730939", redirect to a pretty path "bully".

Make sure all legacy redirects are directing to paths, not node url's.

[2014-03-18 09:01] barryclark opened #1394 "registration - error after entering 6 character password"
6+ characters? Sounds like I should be able to enter a 6 character password, but it errors me :(

![image](https://f.cloud.github.com/assets/692762/2445887/b91f70de-ae7b-11e3-825c-1901bde46bf3.png)

[2014-03-18 14:13] mmwtsn opened #1395 "/user/login styles broken"
![user-login](https://f.cloud.github.com/assets/1479130/2448539/7c87e65c-aea7-11e3-9dc3-71757f7052ad.png)

[2014-03-18 14:14] marahml opened #1396 "Sign-up Email - First Name merge tag not working"
Sign-up transactional email for Comeback Clothes is showing:

Time to get started, _|FNAME|_! Recycle old or worn-out clothes to help our planet. Here’s how to make it happen:

Subject line also shows:
_|TEXT:FNAME|_!

[2014-03-18 14:18] marahml opened #1397 "Sign-up email - Report back button not linked correctly"
Link for the "Prove It" button appears to be broken

Correct link is: https://www.dosomething.org/campaigns/comeback-clothes#prove

[2014-03-18 14:30] mmwtsn opened #1398 "port to neue – secondary link styles"
Dave updated the link styles at Neue. We can nuke `_port-to-neue.scss`.

[2014-03-18 14:36] mmwtsn opened #1399 "campaigns – updated image mask not always loading"
The current header images on the following campaigns are not pulling the updated image mask with a darker gradient:
- [Comeback Clothes](https://www.dosomething.org/campaigns/comeback-clothes)
- [Hello Kittens](https://www.dosomething.org/campaigns/hello-kitties)
- [Support Board](https://www.dosomething.org/campaigns/support-board)
- [Momm-o-grams](https://www.dosomething.org/campaigns/momm-o-gra

[2014-03-18 14:44] mmwtsn opened #1400 "campaign / static content – button text underlined"
The primary call to action button on campaigns and static content are underlined on hover because of a [Port to Neue style](https://github.com/DoSomething/dosomething/blob/dev/lib/themes/dosomething/paraneue_dosomething/scss/feature/_port-to-neue.scss#L13-L15) and a [Static Content](https://github.com/DoSomething/dosomething/blob/12f0a02f8548e3fd2e768ffa872490bb69ee3c69/lib/themes/dosomething/para

[2014-03-18 14:57] mmwtsn commented on #1400
This is also affecting `.secondary` buttons which, by default, are underlined. Rules to exclude any `.btn` class should be added.

![btn](https://f.cloud.github.com/assets/1479130/2449090/a6cba51a-aead-11e3-92b7-fc7b25d57d70.png)

[2014-03-18 15:04] mmwtsn commented on #1349
[According to the mocks](https://github.com/DoSomething/dosomething/blob/12f0a02f8548e3fd2e768ffa872490bb69ee3c69/lib/themes/dosomething/paraneue_dosomething/scss/feature/_content.scss#L39-L41) the "post tips" section should not be shown at all. That section should be a modal.

I updated the issue above.

[2014-03-18 15:06] mmwtsn commented on #1201
Weren't we supposed to keep the official rules link next to the submit button for legal reasons?

[2014-03-18 16:01] mikefantini commented on #1201
@Bladt do you know what the legal restrictions are on this?

[2014-03-18 16:03] Bladt commented on #1201
I know we were dinged in the past for moving the CTIA language too far from the CTA. Not sure for official rules

[2014-03-18 16:12] mikefantini opened #1401 "Mind On My Money - header image not showing up on /money ("action" page)"
go to /money, sign up, action page will be missing the header image

![image](https://f.cloud.github.com/assets/6330971/2450090/0a6bd1d0-aeb8-11e3-910f-1643e1d18287.png)

[2014-03-18 16:13] mikefantini commented on #1401
please update trello card when closed: https://trello.com/c/Z1DE8l5R

[2014-03-18 16:13] marahml opened #1402 "Zendesk - not showing users' name when questions submitted from Action Page contact us modal"
When users submit a question on the contact form for campaigns (PBJ, Comeback Clothers, etc) tickets are showing in Zendesk. (yay!) However we're not seeing the users name in Zendesk - instead (in place of the name) we're seeing a number.

[2014-03-18 16:15] mikefantini commented on #1396
@marahml can you please update this with the user you noticed this issue with and confirm is attached to that user account?

[2014-03-18 16:24] marahml commented on #1396
My account is one example - and what do you mean by attached to the user
account?

[image: Inline image 1]

On Tue, Mar 18, 2014 at 12:15 PM, mikefantini notifications@github.comwrote:

##

_Marah Lidey_
Digital Engagement Manager, DoSomething.org
(212) 254-2390 Ext. 215

follow me: twitter.com/marahml
follow us: twitter.com/dosomething http://www.twitter.com/dosomething

[2014-03-18 16:35] mikefantini commented on #1396
closing, this is occurring because user's don't have first name attached to their user profile. the merge tag _is working properly_

[2014-03-18 16:35] #1396 closed, assigned to nobody

[2014-03-18 17:08] #1221 closed, assigned to jonuy

[2014-03-18 17:10] #1391 closed, assigned to jonuy

[2014-03-18 17:14] jonuy commented on #1354
Retested at 5am after all the migrating happened with a new user. Didn't get this problem then.

Crystal also made updates to default FNAME to "friend" in the rare case the user won't have an FNAME.

[2014-03-18 17:14] #1354 closed, assigned to deezone

[2014-03-18 17:33] aaronschachter opened #1403 "Theme header / nav eats up content."
Makes things like user/password, or devel/php unusable because the header/nav appears over the content.

![screen shot 2014-03-18 at 12 54 34 pm](https://f.cloud.github.com/assets/1236811/2451151/5af3b892-aec3-11e3-91a8-48b01732cd77.png)

[2014-03-18 17:46] barryclark commented on #1401
@mmwtsn Could you take a quick look at this one plz?

[2014-03-18 17:52] DFurnes commented on #1395
Looking into this. I think we can just style the default node template since we're overriding everything else.

[2014-03-18 17:52] barryclark commented on #1349
cc @mikefantini

[2014-03-18 17:53] barryclark commented on #1201
I'm pretty sure that they just need to be on the same page.

[2014-03-18 17:55] mmwtsn commented on #1401
It looks like the background image was unset in the [stylesheet](https://github.com/DoSomething/DoSomething-7.x/blob/dev/sites/all/modules/dosomething/dosomething_campaign_styles/campaign_styles/2013/money/sass/_sections.sass#L42).

Should we send that over to Jacob? He's online.

[2014-03-18 17:56] barryclark commented on #1401
Yea, I'll do that just now. Thanks!

[2014-03-18 17:59] mikefantini commented on #1349
@mmwtsn @barryclark that was something we wanted to make a call on in browser, let's leave them exposed and treat them the same as we do "Before Tips"

@barryclark I thought the issue here was that the after tips were default exposed, but when you clicked through on the before tips the after tips became hidden

[2014-03-18 18:32] joolaay opened #1404 "Paypal donate button - not working"
Wonky link - either find a better link or integrate a Paypal "donate" button. Button current turns up poop.

[2014-03-18 18:33] mmwtsn commented on #1349
Spoke with Mike. We're going to hold off on this until Keri/Crystal can weigh in on how this is going to be treated as a final design has not been approved for this section.

[2014-03-18 18:33] mmwtsn commented on #1201
Fair enough. I'll move it down on mobile.

[2014-03-18 18:58] DFurnes commented on #1403
Duplicate #1395.

[2014-03-18 18:59] #1403 closed, assigned to barryclark

[2014-03-18 19:16] barryclark commented on #1349
Sounds good @mmwtsn @mikefantini. It'd be great to let the content for some of the existing campaigns inform what we do with this section too.

[2014-03-18 19:19] barryclark commented on #1349
This is still a pretty nasty bug that we should put a temporary fix in place for now.

@mmwtsn @mikefantini Thoughts on... in the 2nd tips section, displaying ONE item of tip content it's subheader (as shown in my original attached photo). But not having the subheader be a link?

[2014-03-18 19:38] jacobcassidy commented on #1401
I took a look. There's a new global style that's conflicting with campaigns... "body background-image: none !important" which is hiding all background images across campaigns (the few that have one).

Not sure what the global style is there for, but it can be easily worked around by adding a line of markup for each campaign that needs it: "body.node-type-campaign background-image: url('THE-FILE-PA

[2014-03-18 19:39] blisteringherb commented on #1304
The #prove hash needs to be removed from the URL.

[2014-03-18 19:41] aaronschachter commented on #1390
This is code in the legacy db. Didn't realize we're checking for parental permission on reportbacks. Per @mikefantini we're just going to remove this check and you can reportback now matter how old you are.

[2014-03-18 19:47] #1304 closed, assigned to deezone

[2014-03-18 19:52] DFurnes commented on #1395
There's plenty that's not _great_ about this, but it's a better "default state" until we can figure out some better template inheritance stuff.

![screen shot 2014-03-18 at 3 50 33 pm](https://f.cloud.github.com/assets/583202/2452838/9d0646ec-aed6-11e3-9b0a-57dd9d903966.png)

[2014-03-18 20:05] mmwtsn commented on #1395
Looks grand. I'll send up a PR with a default wrapper width once that gets merged in.

[2014-03-18 20:11] #1395 closed, assigned to DFurnes

[2014-03-18 20:20] mmwtsn commented on #1401
It's coming from an [inline stylesheet](https://github.com/DoSomething/DoSomething-7.x/blob/6d969f21184d8638c57df30eda43b2abc09d91e2/sites/all/themes/doit/templates/html.tpl.php#L90) that was added into a template file last night.

@jonuy Do we need to nuke `background` styles on the old site?

[2014-03-18 20:23] mikefantini opened #1408 "auth - failed log in on pitch page takes the user to a 404"
To recreate:
- go to https://www.dosomething.org/campaigns/project-shutdown  as an anonymous user
- click sign up
- give an invalid email/password combo

I've only see it happen on pitch pages not when trying to log in on the homepage.

[2014-03-18 20:26] mikefantini commented on #1408
I'm not getting error messages and it's just trying to take me to https://www.dosomething.org/node/31

![image](https://f.cloud.github.com/assets/6330971/2453240/9537a474-aedb-11e3-8b1e-58821026db20.png)

[2014-03-18 20:27] barryclark commented on #1408
@angaither @DFurnes You pass straight through both client-side and server-side checks if you enter an invalid email/password.

[2014-03-18 20:29] mikefantini commented on #1408
happening on all campaigns we just launched at 2pm today

[2014-03-18 20:31] aaronschachter commented on #1408
Seems like we need to add `node/[nid]` into varnish for all newly published campaigns... or change the form's destination to use path instead of the node URL....

@desmondmorris @mshmsh5000 any chance you can help with this?  Or instructions for how to update?

[2014-03-18 20:31] mikefantini commented on #1408
this wasn't happening on /money or /pbj... got the ip error message so can't confirm whether it's happening on /comeback-clothes

[2014-03-18 20:32] joolaay commented on #1404
link: https://www.dosomething.org/about/donate

[2014-03-18 20:37] barryclark commented on #1408
@aaronschachter "change the form's destination to use path instead of the node URL" seems like a win, right?

[2014-03-18 20:39] aaronschachter commented on #1408
i suppose so...  guess its better than always needing to add rules to varnish, which we'll be stuck doing until we change the default node path to point to beta. which doesn't seem too soon.

[2014-03-18 20:49] barryclark commented on #1408
@aaronschachter  Yep, it's also ugly to get a "node/121" in the browser address bar.

Assigning this one over to you @angaither. 2 issues here really:
1. [ ] Server-side email/password checking isn't throwing the user an error state (like "you entered an incorrect email/password".
2. [x] After auth it looks like users are been thrown to "node/[nid]" rather than "campaign/[title]".

[2014-03-18 20:50] aaronschachter commented on #1390
@mikefantini This should be fixed when deploy today.  I was able to recreate it and will close if verified fixed

[2014-03-18 21:01] jonuy opened #1411 "New users get opted into two Mobile Commons paths when signing up for a campaign"
New users to the site who sign up for a campaign and provide their mobile number get both the general DoSomething registration message and the campaign sign up transactional message on SMS. In these cases, they should only get the campaign transactional.

![screen shot 2014-03-18 at 4 51 15 pm](https://f.cloud.github.com/assets/696595/2453533/3c73a8ca-aedf-11e3-801b-bd1bb76a5e8e.png)

Screenshot i

[2014-03-18 21:03] mikefantini opened #1412 "/campaigns - images paths point to dev.dosomething"
Ones I'm seeing it for are:
- Prom for All
- Faces of Immigration
- Support Board
- Hello Kitties

![image](https://f.cloud.github.com/assets/6330971/2453693/e0d7d4c6-aee0-11e3-9017-e5f819051a73.png)

![image](https://f.cloud.github.com/assets/6330971/2453687/d6b108aa-aee0-11e3-8c5f-cb7ad8f6a109.png)

[2014-03-18 21:05] barryclark commented on #1412
Looks fine to me @mikefantini

![image](https://f.cloud.github.com/assets/692762/2453703/f8fc8e98-aee0-11e3-9b34-6eeec7c51cec.png)

[2014-03-18 21:06] barryclark commented on #1412
Ooo that's weird. One for you @blisteringherb

[code]

[2014-03-18 21:06] #1398 closed, assigned to nobody

[2014-03-18 21:07] DFurnes commented on #1398
Nuked in earlier PR, didn't realize this was an issue.

[2014-03-18 21:07] DFurnes commented on #1400
Fixed in earlier PR when we pulled overrides into Neue.

[2014-03-18 21:07] #1400 closed, assigned to nobody

[2014-03-18 21:09] aaronschachter commented on #1390
Its fixed!  #DRIES

[2014-03-18 21:09] #1390 closed, assigned to aaronschachter

[2014-03-18 21:11] mmwtsn commented on #1349
@barryclark Fantini would like the current styles to be respected and have the JavaScript fixed. I'm working on that now.

[2014-03-18 21:28] blisteringherb commented on #1412
I just reindexed, and everything looks good now.  Can you double check?

@mikefantini

[2014-03-18 21:42] barryclark commented on #1412
:+1: looks good to me

[2014-03-18 21:42] #1412 closed, assigned to blisteringherb

[2014-03-18 21:44] mikefantini commented on #1408
@angaither this occurs even if the user gets the log in credentials right

[2014-03-18 21:54] barryclark commented on #1408
Still gotta fix the 2nd part.

[2014-03-18 22:01] mmwtsn commented on #1349
Fixed by #1416

[2014-03-18 22:01] #1349 closed, assigned to barryclark

[2014-03-18 22:03] mmwtsn commented on #1303
Closed by #1406

[2014-03-18 22:03] #1303 closed, assigned to nobody

[2014-03-18 22:07] #1057 closed, assigned to DFurnes

[2014-03-18 22:08] #1394 closed, assigned to DFurnes

[2014-03-18 22:28] mikefantini commented on #1408
Just retested. When I'm on any of the campaigns we published after 2pm today (i.e. any new nodes except for PBJ, MOMM, and Comeback Clothes) and I go to log in I receive a 404 message. This happens whether my login credentials are correct or not.

This works fine if I'm creating a new account. It's just when I'm logging in to an existing account that I get the 404 message.

And when I get this 404

[2014-03-19 14:02] aaronschachter opened #1417 "Import: Update node authors"
Not critical, but I think this is worth doing at some point.

Update the current all node uid and revisions to the corresponding staff user accounts, instead of using the stage uid's we imported from:

![who are these people](https://f.cloud.github.com/assets/1236811/2460747/1714996e-af6f-11e3-8f4b-e2180b0763c9.png)

[2014-03-19 14:19] aaronschachter commented on #1408
Yeah this one is weird. I get same behavior using an existing account, everything's working fine on Comeback Clothes but I get same behavior when trying to sign in on Project Shutdown.  node/31.

BTW can only edit a beta node if admin is in the URL.
works: https://www.dosomething.org/node/31/edit?destination=admin/content
doesn't work: https://www.dosomething.org/node/31/edit

On comeback clothes

[2014-03-19 14:27] angaither commented on #1408
We need to decide if we want to spend the time digging into fixing this temporarily, or we can update the rules in varnish and have 'node' point to the beta app.
This would fix both the redirects on login & editors having to navigate to beta.node/XX/edit
@mshmsh5000 thoughts?

[2014-03-19 14:27] aaronschachter commented on #1408
Also seems like #415 didn't do the trick as far as directing to a path instead of a node URL:

![screen shot 2014-03-19 at 10 24 17 am](https://f.cloud.github.com/assets/1236811/2461020/8a34466c-af72-11e3-8e67-317a1260c4c8.png)

[2014-03-19 14:30] angaither commented on #1408
Oh, duh. I didn't change the redirect in both places.

[2014-03-19 14:36] deezone commented on #1354
@jonuy @mikefantini  Should we create an issue to send "friend" or "doer" (old app solution) when FNAME == "" Perhaps a question for Marah?

[2014-03-19 15:10] deezone commented on #1397
@marahml I assume the "Prove It" link is in message coming from a campaign sign up.
- the template is looking for: href="_|CAMPAIGN_LINK|_"
- the URL for the campaign is set to campaigns/comeback-clothes

Is the "not linked correctly" issue that the link doesn't have the "#prove" anchor at the end of the link?

[2014-03-19 15:16] marahml commented on #1397
Yes please! Looking for the #prove anchor.

So each email RB link should look like this for each campaign:
https://www.dosomething.org/campaigns/comeback-clothes#prove

[2014-03-19 15:18] #1408 closed, assigned to angaither

[2014-03-19 15:19] aaronschachter commented on #1397
Yo @mikefantini @blisteringherb -- please chiem in here.  I believe we are not including anything with a #prove anchor.

[2014-03-19 15:58] angaither opened #1419 "Data Migration"
- [x] mobile number
- [x] birthdate
- [x] first name

[2014-03-19 16:00] angaither commented on #1419
The mobile number script is already [created](https://github.com/DoSomething/dosomething/blob/dev/scripts/import-mobile-data.php)
Just need to know how/where to run it.

[2014-03-19 16:14] deezone commented on #1397
A very simple solution... I've updated the template from:

[code]

to

[code]

This locks us into a specific anchor for report backs but it can easily be updated.

[2014-03-19 16:17] marahml commented on #1397
Great! Did you already push that update?

On Wed, Mar 19, 2014 at 12:14 PM, DeeZone notifications@github.com wrote:

##

_Marah Lidey_
Digital Engagement Manager, DoSomething.org
(212) 254-2390 Ext. 215

follow me: twitter.com/marahml
follow us: twitter.com/dosomething http://www.twitter.com/dosomething

[2014-03-19 16:51] aaronschachter opened #1420 "Campaign Hero Image meta tags"
Implement `drupal_add_html_head` to add the URL of a campaign's Cover Image node as the relevant `<link rel="image_src" href="[url]">`. Also confirm that FB / Twitter reads thsi tag, and that we don't have to add relevant `og` metatags.

_Context:_

Attempting to use Metatags module to set the Image metatag field as the "Campaign Cover Image" entityreference token doesn't work, as technically we n

[2014-03-19 17:04] mikefantini commented on #1265
closing since this is fixed by #1301 _but_ we still need to have linked content accept special characters as I think that will break for /campaigns and the gallery view on the new confirmation page.

making sure there is a separate issue for that now.

[2014-03-19 17:05] #1265 closed, assigned to nobody

[2014-03-19 17:09] mikefantini commented on #1399
@mmwtsn made this high priority because this makes the text unreadable on mobile

[2014-03-19 17:12] mikefantini commented on #1178
closing, they are visible just look whack and off-center but there is another issue open for that

[2014-03-19 17:12] #1178 closed, assigned to barryclark

[2014-03-19 17:13] mikefantini commented on #1088
@DFurnes making this high priority if you have time today pick this guy up

[2014-03-19 17:14] mikefantini commented on #1015
@DFurnes if you finish up the client side validation this guy would be good to pick up next

[2014-03-19 17:16] mikefantini commented on #1399
@mmwtsn if you can pick this one up today that'd be great

[2014-03-19 17:37] angaither opened #1421 "Image: Up file upload size"
This should be be 10mb, like it is on staging.

cc: @mshmsh5000

[2014-03-19 17:51] mikefantini commented on #1411
desired actions:
- user registers for the site AND signs up for staff pick campaign -> user should go into that staff pick's mobile commons opt-in (e.g. 165501 for Comeback Clothes)
- user registers for the site AND signs up for non-staff pick campaign -> user should go into the non-staff pick mobile commons opt-in (164951)
- user registers for the site WITHOUT signing up for a campaign -> user sh

[2014-03-19 18:01] mikefantini commented on #1397
@marahml @DeeZone I don't think we should include the # prove ending to the link. I think just linking to the campaign itself is the best course of action. And I believe that is working properly (as I last tested last night).

So let's please make sure that the template reflects this so that it's not going to "_|campaign_link|_#prove"

Main UX reason I don't think it makes sense to take the user s

[2014-03-19 18:33] mikefantini commented on #1411
ok so apparently this is really hard...

I added 164905 back in to https://www.dosomething.org/admin/config/services/optins so that users will be getting two messages if they sign up for a campaign and register for the site.

Let's think about this more and see if Mobile Commons can help us come up with a solution.

cc: @jonuy

[2014-03-19 18:37] aaronschachter commented on #1411
Actually, might be possible to handle in our codebase... just a little tricky. And tricky to test. And, kinda just complicates the logic in the code. But possibly do-able.

Let me know if you want me to spend some time looking into it.

[2014-03-19 19:12] mikefantini opened #1424 "Foot Locker - log in takes you to a 404"
To recreate:
- go to https://www.dosomething.org/footlocker/associate/status as an anonymous user
- click log in
- takes you to https://www.dosomething.org/user/registration?destination=footlocker/associate/status

![image](https://f.cloud.github.com/assets/6330971/2464676/ee48181e-af99-11e3-9bbd-576f973cf78f.png)

[2014-03-19 19:17] mshmsh5000 commented on #1421
Fixed -- please test.

FYI @desmondmorris http://screencast.com/t/rurpXwrcW

[2014-03-19 19:20] mikefantini commented on #1424
please update trello card here when closed: https://trello.com/c/MVAslZWv

[2014-03-19 19:28] aaronschachter commented on #1424
This is a legacy 7.x issue. Seems like all we need to do is change the login to link to `user/login?destination=footlocker/associate/status` instead of `user/registration`.  I can give this a shot.

[2014-03-19 19:28] mikefantini commented on #1404
from @mshmsh5000 :
We need to follow the procedure here: https://www.paypal.com/cgi-bin/webscr?cmd=_donate-intro-outside

The link as written doesn't work: http://screencast.com/t/jS3YqsNo8X

please update trello card here when closed: https://trello.com/c/5psdFIAq

[2014-03-19 19:40] DFurnes opened #1426 "Update Bower version"
We should be updating Bower to 1.3.1 in the Vagrant box. Version 1.3 adds a non-interactive flag to disable any prompts if you're running in a CI environment. (Which we haven't run into any issues with yet luckily, but would be nice to avoid the possibility.)

[2014-03-19 19:48] mikefantini commented on #1421
awesome thanks!

fix confirmed. closing.

[2014-03-19 19:48] #1421 closed, assigned to nobody

[2014-03-19 19:49] mmwtsn opened #1427 "local development environment – old git"
We are using Git `v1.7.9.5` locally. As of writing the [current stable release](https://github.com/git/git/releases) is `v1.9.1`.

[2014-03-19 19:53] aaronschachter opened #1428 "Member support role"
Needs ability to edit user accounts.

[2014-03-19 19:54] aaronschachter opened #1429 "User search view"
Create a view with exposed filters to allow searching by
- UID
- Email
- Mobile

Which links to the user profile.

Grant access to staff.

[2014-03-19 19:54] mmwtsn commented on #1399
Our caching layers look like this:

![onion](http://1.bp.blogspot.com/-lVDxH1IS4sA/TpybaJqKFmI/AAAAAAAABYE/oPtTVih6xTA/s1600/onion.jpeg)

Andrea cleared the relevant caches and we're good to go!

[2014-03-19 19:54] #1399 closed, assigned to angaither

[2014-03-19 20:18] mmwtsn commented on #1404
Sent Ritika a note about generating the button. We'll need to log in with the DoSomething PayPal account to generate it. I'll update this card once we have the HTML form from them.

[2014-03-19 20:21] #1308 closed, assigned to aaronschachter

[2014-03-19 20:47] aaronschachter commented on #1424
404 fixed via updating the legacy node's panelizer content, and clearing legacy varnish cache.

[2014-03-19 20:47] #1424 closed, assigned to aaronschachter

[2014-03-19 21:14] mmwtsn commented on #1404
@blisteringherb What's the best way to add PayPal's donate form to the `/about/donate` page?

[2014-03-20 00:09] deezone commented on #1397
@marahml Sorry to make you repeat yourself but did you not tell me in person to keep `"|campaign_link|#prove"` ? It's a quick change in the MailChimp template if needed. Let me know either way.

[2014-03-20 13:17] marahml commented on #1397
@deezone - discussed this with Mike in person. I think its best to point to
where the button says we're pointing to. Please send users to the link with
#prove in it

On Wed, Mar 19, 2014 at 2:01 PM, mikefantini notifications@github.comwrote:

##

_Marah Lidey_
Digital Engagement Manager, DoSomething.org
(212) 254-2390 Ext. 215

follow me: twitter.com/marahml
follow us: twitter.com/dosomething http

[2014-03-20 13:44] marahml commented on #1397
Tested again and looks like you haven't changed it since yesterday - so
we're all good @deezone. Thanks!

On Thu, Mar 20, 2014 at 9:17 AM, Marah Lidey mlidey@dosomething.org wrote:

##

_Marah Lidey_
Digital Engagement Manager, DoSomething.org
(212) 254-2390 Ext. 215

follow me: twitter.com/marahml
follow us: twitter.com/dosomething http://www.twitter.com/dosomething

[2014-03-20 15:04] #1428 closed, assigned to aaronschachter

[2014-03-20 15:04] #1429 closed, assigned to aaronschachter

[2014-03-20 15:05] mikefantini commented on #1354
duplicate issue. @DeeZone focus on the one in the message broker repository.

[2014-03-20 15:59] mikefantini opened #1436 "campaign (form) - AJAX error on entity reference fields"
When trying to fill out any entity reference field I get the this AJAX error below.

This is preventing us from updating photos and adding photos to add new campaigns.

To recreate, go to /node/add/campaign, try to reference an image in the Cover Image field (in Images) or typing anything in the Problem Fact field (in Know It)

![image](https://f.cloud.github.com/assets/6330971/2474096/deec81c6-b0

[2014-03-20 16:03] mikefantini commented on #1436
also happens on taxonomy reference fields (like Issue in Taxonomy and Discovery)

[2014-03-20 16:13] mikefantini opened #1437 "action page (sponsor modal) - on mobile image isn't getting resized"
In the sponsor modal on mobile the image is getting cut off. See Comeback Clothes for an example.

![photo 12](https://f.cloud.github.com/assets/6330971/2474311/465242e0-b04a-11e3-8603-9b906052b974.PNG)

[2014-03-20 16:17] mikefantini opened #1438 "hyperlinked text - strange characters should appear normally"
currently &, ", and other special characters appear broken when hyperlinked (like "Captain Underpants" will be when it gets added to /campaigns).

This will also happen on the confirmation page when we recommend campaigns.

[2014-03-20 16:46] angaither commented on #1436
SO. Good news bad news.

`https://www.dosomething.org/entityreference/autocomplete/single/field_partner/field_collection_item/field_partners/NULL/h`
was resolving to the legacy app which was causing the error.
it's not pointing to the beta app, but the error is still appearing.

Most [forums](https://drupal.org/node/1015938) about this issue point to the fact that the `base_url` is set incorrectly

[2014-03-20 16:51] angaither commented on #1436
Although, I tried that. and it did NOTHING.
So it also _could_ be issues with `beta.ds` vs `www.ds` protocally thingys.
But now I'm just guessing.

[2014-03-20 18:04] blisteringherb commented on #1436
Were you saying it's _now_ pointing to the beta app?  I'm still seeing the error come from www.  Could this be an issue w/Varnish?

[2014-03-20 18:09] angaither commented on #1436
Confirmed.

https://www.dosomething.org/node/add/campaign?destination=admin/content
This url the entity references return normally

https://beta.dosomething.org/node/add/campaign
They throw an error here.

[2014-03-20 18:19] mshmsh5000 commented on #1436
I don't have base_url set on legacy so we can avoid exactly this type of issue. I want to see how base_url is getting set on beta. I suspect it's not necessary or helpful.

[2014-03-20 18:25] angaither commented on #1060
Closing.

[2014-03-20 18:25] #1060 closed, assigned to nobody

[2014-03-20 18:25] aaronschachter commented on #1060
Redirects are handled via the `dosomething_legacy` and `dosomething_beta` modules in each repo.

[2014-03-20 18:39] blisteringherb commented on #1360
The section of the puppet fabfile related to cron for the old Drupal cron job looked liked this:

[code]

 I'm not seeing a status.php file and the html directory is different so I've updated it to this :

[code]

Can I get a sanity check to make sure this makes sense before I re-enable it?

@desmondmorris
@mshmsh5000

Here's a link to the Jenkins job.  http://admin.dosomething.org/jenkins/job/Dru

[2014-03-20 18:43] aaronschachter commented on #1436
My recollection is that was added for securepages.

[2014-03-20 18:58] mshmsh5000 commented on #1436
Host name is an env var.

`dosomething@web1:~$ printenv | grep DS
DS_DB_MASTER_USER=dosomething
DS_REDIS_HOST=10.241.0.32
DS_DB_MASTER_HOST=10.241.0.29
DS_INSECURE_PORT=80
DS_DB_MASTER_NAME=dosomething
DS_ENVIRONMENT=production
DS_REDIS_PORT=6379
DS_HOSTNAME=www.dosomething.org
DS_SECURE_PORT=443`

I don't think we should hard-code host name.

[2014-03-20 19:16] mikefantini opened #1440 "action guides - remove subtitle field"
not a priority but whenever you get to it..

[2014-03-20 19:17] barryclark opened #1441 "Auth Modal - design QA todos"
- [x] Create new language for existing log in field to make it different and simplified
- [x] Make space above all text same as space below all text
- [x] Align text fields so that the field titles and hints are aligned left
- [x] Reduce leading a little bit on the purple header font

[2014-03-20 19:18] barryclark opened #1442 "Footer - design QA todos"
- [x] remove “any cause, any time, any where”, from footer at bottom bottom left
- [x] Keep “privacy policy and terms of service” links to bottom right of footer
- [x] 1px gray border just above Privacy Policy and Terms and Conditions
- [x] tighten up space of end of About column and
- [x] add bottom divider on footer above Privacy Policy and Terms and Conditions

[2014-03-20 19:18] mshmsh5000 commented on #1436
DS_\* env vars are set in two places on the web heads:

/etc/environment
/etc/php5/fpm/pool.d/www.conf

I unset these and restarted both php-fpm and nginx, but the hostname defaulted to dev.DS. Not good.

I'll get a PR together so that the hostname defaults to blank. This will require making sure the local dev environment still works without the defined hostname.

[2014-03-20 19:19] barryclark opened #1443 "Header - design QA todos"
- [x] Make sure line is clear down from the E in Explore in the header through to H1, H2, date, button, and the F of the facebook icon in the footer.
- [x] Look at spacing of Header width
- [ ] Ask about register copyright logo on DS branding
- [x] Reposition the hamburger nav so it sits balanced with the logo (move left and down)

[2014-03-20 19:21] #1353 closed, assigned to nobody

[2014-03-20 19:21] #1389 closed, assigned to nobody

[2014-03-20 19:22] barryclark opened #1444 "Site background - revisit"
Revisit background colors for `<body>`, current favourite is #ccc

[2014-03-20 19:26] barryclark opened #1445 "Pitch page - design QA todos"
**Desktop**
- [x] Pull down H1 and H2 a little, so there’s less space between the H2 and date

**Mobile**
- [x] spacing between end date and sign up button
- [x] tweak scholarship call out so that it does not cut off

[2014-03-20 19:30] barryclark opened #1446 "Action page (structure) - Grid layout updates"
- [x] Line up Steps and body text onto the grid, same as static content. 2 column left margin, rather than 3.
- [x] Make gutter larger between the 2 column content layout (e.g. The Problem & The Solution)

[2014-03-20 19:32] barryclark opened #1447 "Action page - 18px base font size?"
Re-visit 18px as a base font size for body copy. Implement back into neue if this works and rejigger the rest of the action page fonts so that they're not huge.

[2014-03-20 19:32] barryclark opened #1448 "Action page - prototype horizontal campaign navigation"

[2014-03-20 19:36] joolaay commented on #1404
eff this let's ask Lucas if donates to DoSomething.

[2014-03-20 19:36] barryclark opened #1449 "action page (know it) - design QA todos"
- [x] Make the source font color darker so its more readable
- [x] Add in padding above sources
- [x] Hide sources

[2014-03-20 19:36] barryclark opened #1450 "action page (plan it) - location finder one column"
Make "find a location" one column (rather than spanning two columns). It should be treated the same as any of the other sections ("Hype", "VIPs", etc.) in this step.

[2014-03-20 19:45] mikefantini commented on #1440
hold off on this actually, until we see what they look like when fully styled

[2014-03-20 19:46] barryclark opened #1452 "action page (do it) - design QA todos"
- [ ] Kill the lines in between the 3 sections
- [ ] Change header sizes to be the same as Plan It
- [ ] Make landscape version of polaroid 16:9

[2014-03-20 19:47] mikefantini opened #1453 "action guides - styling needed"
- should have same modal header treatment as other modals (i.e. black band across the top with x to close modal)
- header content for this modal should come from the title field on the action guide content type
- for the rest of the styling, originally we talked about using same patterns as static content for action guides, which I think makes sense because they share the same fields that we displ

[2014-03-20 19:47] aaronschachter opened #1454 "Mailchimp Grouping ID vars"
- [x] Add `mailchimp_grouping_id` variable to signup admin form, to collect numeric grouping_id
- [x] Add `mailchimp_group_name` variable to signup admin form, to collect alpha group name.
- [x] Pass relevant `mailchimp_grouping_id` and `mailchimp_group_name` to `dosomething_user_mbp_request`
- [x] Update relevant values in production upon deployment

Mailchimp doesn't currently expose an Interest

[2014-03-20 19:47] barryclark opened #1455 "action page (prove it) - design QA todos"
**Desktop**
- [x] Remove colon from copy accompanying sponsor logo
- [x] Change "give us a shout" to be “contact us”
- [x] Text on the bottom line should have the the same color but the secondary link is underlined
- [x] Make sure the last line of text has the same left and right margins as the rest of the body

**Mobile**
- [x] Address multi-line call to action button
- [x] Address huge button si

[2014-03-20 19:55] blisteringherb commented on #1404
If we think we're only going to add that button to this one page, we can put the markup in a template var with a preprocess function, and only print it out on the about page.

[2014-03-20 19:57] joolaay opened #1456 "Static Content Front end tweaks"
Barry + Crystal have discussed most of these changes...let's step through them bc there may be dupes with other lists.

**Galleries**
- [x] vector art check box for image galleries - ON HOLD

**Spacing**
- [ ] text wrapping on top text
- [ ] eliminate gap between intro and additional text when there isn’t a gallery
- [ ] bullet points appear different on different pages - will correct in markdown

[2014-03-20 19:58] joolaay commented on #1456
- [x] Look I _learned_ how to use **markdown!**

[2014-03-20 20:02] angaither commented on #1456
:+1: :dancer: :dancers: :tada:

[2014-03-20 20:15] joolaay commented on #1404
yawps - it's just on the /donate page.

[2014-03-20 20:22] mikefantini opened #1457 "action page (partners) - comma and "and" logic with multiple partners"
If there are multiple partners attached to a campaign we should have commas and the word "and" separating them.

So if there are two partners, we just need "and" separating them. If there are three or more partners we'd need commas separating each and "and" right before the last comma.

example: https://beta.dosomething.org/campaigns/cell-phones-survivors

![image](https://f.cloud.github.com/asset

[2014-03-20 20:31] mikefantini commented on #1401
closing this out since it's fixed

[2014-03-20 20:31] #1401 closed, assigned to nobody

[2014-03-20 20:43] DFurnes commented on #1444
Closed by DoSomething/ds-neue#205.

[2014-03-20 20:43] #1444 closed, assigned to nobody

[2014-03-20 21:24] mikefantini commented on #1402
Top entry is from mfantini+tester@dosomething.org (uid 1700010). First name on that user is set to "tester".

Second entry is from mfantini (uid 329195). First name on that user is set to "Mike".

**Removed zendesk account screenshot as it had user data in it - Barry**

[2014-03-20 21:31] joolaay opened #1460 "Vector art galleries in static content pages"
We have awesome galleries for photos, but we need a modified gallery for icons to support wider spacing between icons than the spacing between photos.

It would be awesome to default to photo gallery, and  just have a check box on the static content form to denote an icon gallery.

@barryclark Then front end can tweak properly! yes!

[2014-03-20 21:37] mmwtsn commented on #1460
:palm_tree: Do you have a sketch to illustrate?

[2014-03-20 22:01] angaither opened #1462 "Add --force to fr"
in the build script. yaaa

[2014-03-21 02:50] mshmsh5000 commented on #1436
@desmondmorris FYI

[2014-03-21 11:30] desmondmorris commented on #1436
@mshmsh5000 +1 on killing hostname.  the envvars in /etc/environment are to make cli (drush play nice).

[2014-03-21 14:01] #1310 closed, assigned to blisteringherb

[2014-03-21 14:03] Bladt commented on #1034
@mikefantini any update on this? This is currently blocking the logo placement test

[2014-03-21 14:05] #1397 closed, assigned to nobody

[2014-03-21 14:18] mikefantini commented on #1286
@marahml this is a feature we will get to in a future sprint. Can you please add the spec to this issue?

[2014-03-21 14:29] mikefantini opened #1464 "action page (all) - Step 1, 2, etc. bands"
Black bands missing on action page for Step 1, Step 2, etc.

![image](https://f.cloud.github.com/assets/6330971/2483794/061f7bc8-b105-11e3-89e0-31c5251d3f0f.png)

[2014-03-21 14:47] DFurnes commented on #1464
Fix on the way. :rage1:

[2014-03-21 15:25] #1464 closed, assigned to DFurnes

[2014-03-21 15:27] blisteringherb commented on #1402
There are some users who don't have a first name set or an email address.  The priority for populating this field will be as follows unless we want to prompt the user to add their first name if they don't have one:
1. First name
2. Email address
3. UID

@mikefantini

[2014-03-21 15:45] mikefantini commented on #1373
closing since no code needed for this and @barryclark is going to knock all of the re-direct stuff out today per @julielorch 's email

[2014-03-21 15:45] #1373 closed, assigned to nobody

[2014-03-21 15:51] blisteringherb commented on #1404
Actually all I'll need is the link that PayPal generates.  So I'll either need to log into Paypal or just get the email address that accepts payments and the donation ID.

[2014-03-21 16:01] mmwtsn commented on #1404
Here it is:

[code]

[2014-03-21 16:04] barryclark commented on #74
This isn't necessary for the mailing work this sprint, @angaither, but is a "nice to have" if you get time.

[2014-03-21 16:09] barryclark commented on #1026
Assigning this over to you @angaither for this sprint.

One thing to keep in mind is that we'll be looking to store the user's school data soon too. We currently use the Great School database as a reference for this.

[2014-03-21 16:29] #983 closed, assigned to blisteringherb

[2014-03-21 16:49] #1462 closed, assigned to angaither

[2014-03-21 17:12] DFurnes opened #1473 "Add Google Analytics tracking to auth modal"
We need to fire a custom Google Analytics event when users click the "Sign Up" button on the pitch page (triggering the modal), and when the form is successfully submitted (when they reach the logged in state).

[2014-03-21 17:20] mikefantini commented on #1473
@DFurnes possible to fire custom event to someone failing log in or account creation as well?

[2014-03-21 18:06] mikefantini commented on #1436
please update https://trello.com/c/7Pg0jgLU when closed

[2014-03-21 18:34] aaronschachter opened #1476 "Mailchimp vars cleanup: group_id"
Depends on #1454

Once message broker is properly handling `mailchimp_grouping_id` and `mailchimp_group_name` variables, remove all references to the `mailchimp_group_id` variables / form elements and delete the variables from the db.

[2014-03-21 19:02] marahml commented on #1402
Perfect!

@mikefantini what are your thoughts on prompting for first name / other
data in the future?

On Fri, Mar 21, 2014 at 11:27 AM, Morgan Rich notifications@github.comwrote:

##

_Marah Lidey_
Digital Engagement Manager, DoSomething.org
(212) 254-2390 Ext. 215

follow me: twitter.com/marahml
follow us: twitter.com/dosomething http://www.twitter.com/dosomething

[2014-03-21 19:08] mmwtsn commented on #1449
Hiding the actual sources for each source is going to be tricky as they are rendered with the full source citation in a single paragraph tag, e.g.:

[code]

We decided on a Markdown input field for sources as we wanted to give the campaigns team the ability to correctly format their sources with italics, links, etc. It does not appear that has been the case.

Perhaps it's worth revisiting the idea

[2014-03-21 19:11] mikefantini commented on #1402
sounds good... really shouldn't be a problem for most users, especially once @blisteringherb 's pull request gets merged to fix the problem.

Add it to the Zendesk FFA, an improved progressive data collection flow is a prerequisite though.

[2014-03-21 19:26] mmwtsn commented on #1447
Dave and I looked at this yesterday. Content width and gutter spacing both felt cramped with the larger base font size:

![18px](https://f.cloud.github.com/assets/1479130/2486976/44541ac4-b12e-11e3-8dea-56e4885c0b53.png)

[2014-03-21 19:52] DFurnes commented on #1447
Yeah, I'm actually thinking sticking to 16px as a base font size seems like a good idea after looking at the before-after more closely. One thing that we should look into though is a separate "article copy" size... which could be something more aggressive like 20-22px even.

This would be something that would be good to get the design team's input on.

[2014-03-21 19:55] mmwtsn commented on #1438
Do you have an example of where this is occurring?

[2014-03-21 19:59] weerd commented on #1104
Quick thought on this. Is the image crucial for mobile here? Extra http request, etc. Might be best to aim to hide the image on mobile and only show it on like tablet and desktop. This might not be desired though, but figured I'd throw it out there :)

[2014-03-21 20:00] mikefantini commented on #874
duplicate of #1473

[2014-03-21 20:00] #874 closed, assigned to barryclark

[2014-03-21 20:12] desmondmorris commented on #1436
![screen shot 2014-03-21 at 4 12 21 pm](https://f.cloud.github.com/assets/129360/2487469/2a2b4f4e-b135-11e3-88a8-371bf29f35bc.png)

[2014-03-21 20:13] deezone commented on #1476
See https://github.com/DoSomething/mbc-registration-email/pull/7 to expand to use `mailchimp_grouping_id` and `mailchimp_group_name`

[2014-03-21 20:16] angaither commented on #1436
Removing an image can only be done successfully on www
Request URL:https://www.dosomething.org/file/ajax/field_image_landscape/und/0/form-zbweI7q-OQxz_c6YTwq1efXKNEjZqiN5P--sOS6Q-ak

Adding an image only works on beta
but the thumbnail is no longer showing up.

[2014-03-21 20:18] desmondmorris commented on #1436
Replace:

`$hostname = getenv('DS_HOSTNAME') ?: 'dev.dosomething.org';`

WITH:

`$hostname = $_SERVER['HTTP_HOST'] ?: 'dev.dosomething.org';`

https://github.com/DoSomething/dosomething/blob/dev/config/settings.php#L27

[2014-03-21 20:19] marahml commented on #1286
Here's the FFA: https://docs.google.com/a/dosomething.org/spreadsheet/ccc?key=0ApfENCbpVZv9dGxYYkhEX3Y5OHhhUGp1dkJKd3NBQlE&disco=AAAAAGCU2yM#gid=10

The ID for that issue is #10.

Is that what you were looking for?

Just let me know!

[2014-03-21 20:20] marahml commented on #1402
Will do - thanks!

On Fri, Mar 21, 2014 at 3:11 PM, mikefantini notifications@github.comwrote:

##

_Marah Lidey_
Digital Engagement Manager, DoSomething.org
(212) 254-2390 Ext. 215

follow me: twitter.com/marahml
follow us: twitter.com/dosomething http://www.twitter.com/dosomething

[2014-03-21 20:21] weerd commented on #1092
Should I fully remove the code for the sources output or just temporarily comment it out. Don't want to remove it all if it's coming back at a later date. Just confirming :)

[2014-03-21 20:25] mikefantini commented on #1092
@weerd I would just comment it out for now. We're working on a better solution for displaying sources on the action page of the campaigns template. Once we sort that, we'll most likely be able to implement it across 11 Facts as well - so we would need the sources output eventually.

cc: @julielorch @barryclark

[2014-03-21 20:30] weerd commented on #1092
Cool. That makes sense :) Thanks!

[2014-03-21 20:32] #1452 closed, assigned to nobody

[2014-03-21 20:38] #1437 closed, assigned to nobody

[2014-03-21 20:38] #1445 closed, assigned to nobody

[2014-03-21 20:44] joolaay commented on #1460
@mmwtsn yes, but pause for a sec b/c crystal and I still have to sell the idea of icons to Nancy.

[2014-03-21 20:44] joolaay commented on #1460
(news from last night)

[2014-03-21 20:50] deezone commented on #892
@aaronschachter I think this is the issue you were making reference to earlier today. Based on Mike's comment above from Ben, a new user registration should result in a new entry in MailChimp but _not_ an interest group assignment of NewMembers2012 which I think is now called "UserRegistration".

Perhaps Marah can confirm, what do you think @mikefantini ? Do we need another round of clarification

[2014-03-21 20:54] angaither commented on #1026
[Address module](https://drupal.org/project/addressfield)
- adds a field, can be added to user object
- very basic
- saves data to one table

[Location module](https://drupal.org/project/location)
- lots of configures - can be added to custom entities, etc
- geocodes values
- multiple talbes

neither modules validate addresses.

[2014-03-21 20:55] desmondmorris commented on #1026
My vote is for the Address module.  Primarily because its not the Location module.

[2014-03-21 20:56] deezone opened #1480 "mobile number in new MailChimp accounts"
The payload to dosomething_user_mbp_request(''user_register'') needs to include the mobile number.

See issue #892

[2014-03-21 20:57] angaither commented on #1026
Why do you hate location?

[2014-03-21 20:59] mikefantini commented on #892
@DeeZone @aaronschachter just clarified with @marahml and we do _not_ need to make a group assignment for new users (in NewMembers2012 or any other group).

We just need to make sure that a general new user signup to the website results in the creation of an entry in MailChimp assigned to the mail list "Do Something Members". And that a campaign signup results in assigning "interest group" ids to

[2014-03-21 21:03] deezone commented on #892
Fantastic, this is already done. Next is the mobile number and then this issue is done.

[2014-03-21 21:07] aaronschachter commented on #892
@DeeZone but then don't you want to remove the code that was added that did this today? https://github.com/DoSomething/mbc-registration-email/pull/7/files

[2014-03-21 21:18] desmondmorris commented on #1026
It adds alot of overhead I feel.  Though, it may make sense for something like schools, that could be reused.  But not much value over a school entity really.

I think addressfield + http://geocod.io for geocding and address normalization would be a good pairing

[2014-03-21 21:25] jonuy commented on #163
No longer necessary.

[2014-03-21 21:25] #163 closed, assigned to jonuy

[2014-03-21 21:27] jonuy commented on #201
The ones that needed to be brought over happened when the `dosomething_sms` module got added.

[2014-03-21 21:27] #201 closed, assigned to jonuy

[2014-03-21 21:28] #1092 closed, assigned to weerd

[2014-03-21 21:38] aaronschachter opened #1483 "Signup optin form mailchimp enhancements"
Refs #1454
- Store the valid `grouping_id` values as an array in a variable.  Create a separate form to enter them.  Use the variable array as a select list on the optin form, in the interest of preventing data entry errors.

~~Verify that the Mailchimp grouping ID and group_names values are legit via Mailchimp API call.  Would require adding Mailchimp API as a variable, and adding mailchimp API l

[2014-03-21 21:47] mikefantini commented on #1184
this is only needed for mobile

[2014-03-21 21:50] aaronschachter opened #1484 "Signup Data Form"
Build functionality to include a signup data form on a campaign.

Required for Comeback Clothes:
- Collect address in form and save to user - depends on #1026
- Add link to campaign, which opens form in modal
- Track whether or not the user has submitted the form

Tech specs: https://docs.google.com/a/dosomething.org/document/d/15NfJ8UoUfkjImPpjKFo-NIYxoQq8NNU2mT4Whmaj_Vc/edit

[2014-03-21 21:52] mikefantini commented on #844
@mmwtsn this should not be pushed to production this sprint, but the high priority item is adding in a dummy video, reviewing how it looks with design and hilary, and making sure we're good to go for when we do have the H&M PSA for April 10th.

Ideally adding the PSA to H&M wouldn't affect how the other campaigns look, but let's chat about that if that's problematic.

[2014-03-21 22:15] mikefantini commented on #1480
@DeeZone moved this to the backlog as there are more pressing issues open for now.

[2014-03-22 21:11] deezone commented on #1248
Found the source of the blank / NULL queue entries. The logic for "user_pass" was trigger on initial page load as well as when the form is submitted but does not find a matching account by username or password.

[2014-03-22 22:09] deezone commented on #892
Related: #1480

[2014-03-22 22:11] deezone commented on #892
@aaronschachter Yes, removed group assignment from general email signup to mailchimp in mbc-registration-email.

[2014-03-23 21:29] deezone commented on #1480
@mikefantini This was a quickie that I took care of while I was working in the same area of code. It will be in place for the Monday deployment.

[2014-03-24 01:04] aaronschachter commented on #1420
Appears within the `<head>` on my local but not on staging or production.

[2014-03-24 14:10] DFurnes commented on #1442
Closed by DoSomething/paraneue#60 and DoSomething/neue@c2651662faa488d3b7bcbb98d0d2fb3bb7cc0baa.

[2014-03-24 14:10] #1442 closed, assigned to DFurnes

[2014-03-24 14:16] #1402 closed, assigned to blisteringherb

[2014-03-24 14:56] angaither commented on #1419
Mobile numbers finished importing on Friday.

First name & birthdate are running now.

[2014-03-24 15:06] mshmsh5000 opened #1488 "ds script doesn't check .bash_profile before appending aliases"
This should check that this string doesn't already exist in `.bash_profile`:

`echo 'alias codercs="phpcs --standard=$WEB_PATH/profiles/dosomething/modules/contrib/coder/coder_sniffer/Drupal/ruleset.xml --extensions=php,module,inc,install,test,profile,theme"' >> ~/.bash_profile`

![codercs](https://f.cloud.github.com/assets/149811/2500762/c2fe9352-b365-11e3-99e8-16cca7afeb1b.png)

[2014-03-24 15:16] deezone opened #1489 "EntityMetadataWrapperException: Unknown data property field_video."
Code pull as of 24 March, 11:15 with a fresh import of the db with dosomething-20140321-stage.sql produces:

[code]

Front page -> http://localhost:8888

[2014-03-24 15:17] aaronschachter commented on #1489
where is this occurring?

[2014-03-24 15:19] mikefantini opened #1490 "action page (prove it) - report back modal background is transparent"
Report back modal background is transparent except for on Comeback Clothes.

We should be pulling in our purple polaroid background for all campaigns except for Comeback Clothes

To recreate:
- go to https://www.dosomething.org/campaigns/digital-debates
- jump down to prove it section
- click Submit Your Pic button

Please update https://trello.com/c/ob5xMdV6 when closed.

https://trello-attachmen

[2014-03-24 15:19] deezone commented on #1489
Front page -> http://localhost:8888

[2014-03-24 15:21] deezone opened #1491 "Undefined variable: bottom_region"
Front page: http://localhost:8888

[code]

[2014-03-24 15:51] DFurnes commented on #1443
@barryclark Who should I be checking with re: the copyright mark on the logo?

[2014-03-24 15:52] #1490 closed, assigned to DFurnes

[2014-03-24 15:53] deezone commented on #1489
After a `ds pull stage` the error continued to appear on the front page but navigating to `http://localhost:8888/node/362` seem to clear it up including returning to the front page as well as other content types.

[2014-03-24 15:53] #1489 closed, assigned to nobody

[2014-03-24 15:58] #1491 closed, assigned to nobody

[2014-03-24 16:09] DFurnes commented on #1443
Also, any clarification on "Look at spacing of Header width"?

[2014-03-24 17:46] angaither commented on #1099
Closed with #1487

[2014-03-24 17:46] #1099 closed, assigned to aaronschachter

[2014-03-24 17:57] angaither commented on #1378
@mikefantini what should the default be?

[2014-03-24 18:10] mikefantini commented on #1378
@marahml it's your call on this

[2014-03-24 18:33] #1436 closed, assigned to mshmsh5000

[2014-03-24 19:20] mikefantini commented on #1484
@aaronschachter the link to trigger this modal for Comeback Clothes will live as a bullet point in Stuff You Need in the Plan It section... this should be the last bullet point (i.e. below all content a campaigns lead enters in that field and below any action guide they associate with the campaign)

[2014-03-24 19:39] #1026 closed, assigned to angaither

[2014-03-24 19:47] marahml commented on #1378
@mikefantini thanks! Let's go with "Doer"

[2014-03-24 20:11] #997 closed, assigned to nobody

[2014-03-24 20:11] #1378 closed, assigned to nobody

[2014-03-24 20:16] mikefantini commented on #74
@barryclark @angaither after chatting with @Bladt sounds like we should definitely try to get this in this sprint as it's a huge time/money suck if we don't have it. Going to put it into this sprint as medium priority.

[2014-03-24 20:36] #892 closed, assigned to deezone

[2014-03-24 20:40] angaither commented on #74
[USPS](https://www.usps.com/business/web-tools-apis/address-information.htm)
- free
- only takes xml
- no geocode

[Geocode.io](http://geocod.io/)
-  2,500 queries/day
- takes json
- geocodes & has 'accuracy indicator' on addresses
- @desmondmorris is all about it

![](http://f.cl.ly/items/0R1N1Q1F1H0L3i1L3Z1V/Screen%20Shot%202014-03-24%20at%204.37.02%20PM.png)

[Google](https://developers.google.

[2014-03-24 20:51] DFurnes commented on #74
Potential bullet point to add to the Google list: "The Geocoding API may only be used in conjunction with a Google map; geocoding results without displaying them on a map is prohibited."

[2014-03-24 21:08] #1034 closed, assigned to blisteringherb

[2014-03-24 21:29] weerd commented on #1101
Morgan is updating the module to use the correct sources, and then I'll take it over.

[2014-03-24 21:31] aaronschachter opened #1507 "Disable optimizely in ds pull"
Promote developer sanity and disable the optimizely module upon `ds pull stage`.  Technically needs to happen in the `pull_db` function.

[2014-03-24 21:32] #1104 closed, assigned to weerd

[2014-03-24 21:37] aaronschachter commented on #1484
@mikefantini Do we want to add some type of confirmation message upon submit?  Is there a generic message we can use, or do we need to add another field into the Signup Data Form config?

[2014-03-24 21:41] #1441 closed, assigned to DFurnes

[2014-03-24 21:44] mikefantini commented on #1484
Yeah just put this in an FFA I'm starting. We're going to need this to be specific to each form.

[2014-03-24 21:53] aaronschachter commented on #1420
Guess this just didn't make it for deploy on Friday.  The metatag is there.

[2014-03-24 21:53] #1420 closed, assigned to aaronschachter

[2014-03-25 01:25] deezone commented on #1507
If possible, I'd like to figure this out. I'll work through the details and perhaps poke you a few times if it's OK with you? I'm close to a new release of the module and I'd like to understand / work on the `ds pull stage` disable options.

[2014-03-25 02:00] deezone commented on #1476
Latest release (0.1.4) of mbc-registrations-email (https://github.com/DoSomething/mbc-registration-email/compare/0.1.3...master) is processing all variations of mailchimp_group_id / group_name / groupings / etc. It should be through the backlog of entries in the queue in the next 24 hours. I'll start the cleanup at that time.

[2014-03-25 14:04] aaronschachter commented on #1454
Updated values on production.

[2014-03-25 14:04] #1454 closed, assigned to aaronschachter

[2014-03-25 14:07] joolaay commented on #1460
OTAY - we're currently removing all vector icons from the site, so we don't need these specific galleries at this time. I'd like to bring it up again in 3 months or so, but scratch for now.

[2014-03-25 14:07] #1460 closed, assigned to nobody

[2014-03-25 14:27] angaither opened #1508 "Aaron Schachter takeover"
@aaronschachter's username appears in an incognito tab on the `/user` sign in page on
https://beta.doseomthing.org/user
![](http://f.cl.ly/items/462B0V293b2f0g1t3Y22/Screen%20Shot%202014-03-25%20at%2010.18.20%20AM.png)

[2014-03-25 14:30] angaither opened #1509 "Logins do not persist across domains"
If you login to beta.ds.org the you do not appear to be logged in to www.ds.org

[2014-03-25 14:30] joolaay commented on #1404
Hey @blisteringherb anything I can do to help?

[2014-03-25 14:39] barryclark commented on #1447
Cool, gonna close this one as we aren't going to revert to 18px base font-size.

[2014-03-25 14:39] #1447 closed, assigned to nobody

[2014-03-25 14:41] barryclark commented on #1443
@DFurnes Crystal for the copyright.

Re: header width, i'm not sure. We can just close that one.

[2014-03-25 14:50] aaronschachter opened #1510 "Signup Data Form admin: conditional fields"
Nice to have.
- [x] Add Drupal's Form API form states functionality to hide the Signup Data Form fields if the "Collect additional signup data" is unchecked.
- [x] If status is checked make the `link_text` and `confirm_msg` fields mandatory.

[2014-03-25 14:59] barryclark opened #1511 "static content - call to action"
- [x] Large button on the CTA
- [x] .cta padding-bottom: 25px; .cta h3 { margin: 25px 0 10px 0; }
- [x] CTA on bottom of the page should have a bottom horizontal rule and spacing afterward

[2014-03-25 15:01] barryclark opened #1512 "static content / 11 facts - sync headers with style of campaigns page"

[2014-03-25 15:04] barryclark opened #1513 "static content - gallery"
- [x] Gallery wrapper background #eee
- [x] Gallery h3 headers #444 18px bold

[2014-03-25 15:06] barryclark commented on #1233
Broke out into separate issues.

[2014-03-25 15:06] #1233 closed, assigned to weerd

[2014-03-25 15:06] barryclark opened #1514 "static content - misc spacing"
- [x] lets have all content start a little lower than it is (see old people page and how that looks with no header)
- [x] ~~50px margin at the bottom of all of the page's content wrapper~~
- [x] spacing (leading) between lines is a bit awkward sometimes (like job/internship listings), Crystal + Barry discussed this as well
- [x] eliminate gap between intro and additional text when there isn’t a ga

[2014-03-25 15:09] barryclark opened #1515 "static content - link / button and misc styling"
- [x] buttons should not have underline on rollover
- [x] text wrapping on top text
- [x] update section subheader to match campaigns template subheaders - and lose the purple

*removed the underline links item to separate out into issue for Dave on Neue.

[2014-03-25 15:13] barryclark commented on #1456
@julielorch Diego and I broke these out into issues based on the sections of the static content page. You can view all of the Design QA issues here - https://github.com/DoSomething/dosomething/issues?direction=desc&labels=design+QA&page=1&state=open

Let's close this card, if you're done with it?

[2014-03-25 15:15] joolaay commented on #1456
#woop

[2014-03-25 15:15] #1456 closed, assigned to weerd

[2014-03-25 15:24] angaither commented on #1508
Seems to have been some drupal crazy cache. It's gone now.

![](https://pbs.twimg.com/profile_images/344513261577739462/0ffdff5acd5ff3bcd34c0cd10baf2a14.png)

[2014-03-25 15:25] #1508 closed, assigned to nobody

[2014-03-25 15:55] DFurnes commented on #1443
Waiting on Crystal to hear back from Nancy on the copyright mark. Going to close this issue open a new one if we're going to change that.

[2014-03-25 15:55] #1443 closed, assigned to DFurnes

[2014-03-25 16:06] DFurnes commented on #1515
The first two re: links and buttons should already have been fixed in Neue.

[2014-03-25 16:16] aaronschachter opened #1517 "Field Collection index error on features-revert"
I've run into this, but randomly.  Pulled down from stage, attempting to revert features locally and I get:

[code]

I've gone in and manually added removed the indexes for each table its happening, but its happening for all field collections (was first `field_partners`, then `field_faq`).

We're currently running Field Collection beta5 and they're up to beta7 now.  In the release notes, this issu

[2014-03-25 16:27] desmondmorris opened #1518 "Increase PHP memory limit and max children in PHP-FPM"

[2014-03-25 16:37] mshmsh5000 opened #1519 "Cache bins should default to Redis"
https://api.drupal.org/api/drupal/includes!cache.inc/7

We need `cache_default_class` to be `Redis_Cache`, and `cache_class_cache_form` to be `DrupalDatabaseCache`.

[2014-03-25 16:37] mikefantini commented on #1509
confirmed. only a problem if jumping from beta. www. or legacy.

not an issue if you're just using www. the whole time (so only an internal issue)

i.e.
if you're logged out of beta. legacy. and www., go to www.ds.org/causes, log in, and go back to www.ds.org/causes you're still logged in.

then if you go to www.ds.org/campaigns (on the new app) you're still logged in.

it's only when you try to t

[2014-03-25 16:41] desmondmorris commented on #1518
max_memory_limit increased to 512 in php ini on the prod server.  I also increased max_children to 100.  PHP-FPM has not been restarted, would like any thoughts/concerns from folks pre restart

[2014-03-25 16:51] #1519 closed, assigned to mshmsh5000

[2014-03-25 16:55] DFurnes opened #1521 "Log-in form is now requesting address"
![screen shot 2014-03-25 at 12 56 08 pm](https://f.cloud.github.com/assets/583202/2514942/64821f5e-b43e-11e3-9a74-70f93f0adfc0.png)

It seems like the login form is prematurely requesting the user's address information. This is potentially kinda awkward. :cactus:

Production Link: https://www.dosomething.org/user/register

[2014-03-25 16:59] angaither commented on #1521
Temporarily hidden in production. will submit a PR to fix.

[2014-03-25 17:04] DFurnes commented on #1521
Cool cool. That was super quick. :bicyclist:

[2014-03-25 17:19] blisteringherb commented on #1404
I updated the link.  Please take a look and make sure it's working how it should.  Thanks!

[2014-03-25 17:27] joolaay commented on #1404
Rad - it works! Thanks so much guys!

[2014-03-25 17:27] #1404 closed, assigned to blisteringherb

[2014-03-25 17:29] DFurnes commented on #1514
Re: the bottom margin, let's standardize this across content types (as a mixin) and use rems.

[2014-03-25 17:30] DFurnes commented on #1513
Should all `h3` be getting these styles? If not, does it make sense to use a different heading here?

[2014-03-25 17:31] DFurnes commented on #1513
Also, should we be using `#ddd` as our `$light-gray` Neue variable? Or if not, should we be switching that variable to be `#eee`? The argument against `#eee` when we were setting up the variables is that it will disappear on lower-quality monitors (see one of the shitty 19" ones in the office for test case).

[2014-03-25 17:32] #1521 closed, assigned to nobody

[2014-03-25 17:53] aaronschachter commented on #1517
Not sure the issue referenced in description will fix.  It seems this is more the issue https://drupal.org/node/2141781.  They mention a bug in the 7004 update hook, and also running a script to adjust accordingly (if your schema is already at 7004)

[2014-03-25 17:54] aaronschachter commented on #1517
Tested with beta7 and still get the error upon drush -y fra

[code]

[2014-03-25 18:05] aaronschachter opened #1523 "Devel module doesnt fully enable via drush"
Enabling devel via drush doesn't allow you to access `devel/php.`

This wasn't always the case.  Going to the admin/modules UI and saving seems to be the workaround for now though... but it does suggest something's up.  Wondering if it's a weird caching thing.

[2014-03-25 18:09] angaither commented on #1509
Thinking #1494 PR is what borked logins across beta.ds/legacy.ds/www.ds

[2014-03-25 18:11] aaronschachter commented on #1517
Argh ok running the script here in `devel/php` https://drupal.org/comment/8515943#comment-8515943 fixed everything locally.  Everything reverted and I see an address in the user edit form.  Might be worth making this into a helper function to call time to time but it feels sad to do that.

[2014-03-25 18:31] weerd opened #1525 "Rework the drupal.scss .element-invisible"

[2014-03-25 18:39] desmondmorris commented on #1360
Seems okay to me.  +1

[2014-03-25 18:39] mshmsh5000 commented on #1360
Looks good. +2

[2014-03-25 19:11] aaronschachter opened #1526 "Reportback file extensions"
The `dosomething_reportback_get_file_dest` function is not consistently writing image files with extensions.

![extension sadness](http://f.cl.ly/items/0o3g1U1Z2V0G43442e1X/Screen%20Shot%202014-03-25%20at%202.54.20%20PM.png)

[2014-03-25 19:50] barryclark commented on #1280
Aaaand we're doing this now. Assigning to @mmwtsn and setting as High Priority for this sprint.

Should look like this:

![image](https://f.cloud.github.com/assets/692762/2517215/b21105ce-b456-11e3-8cb8-66cd0e6a6bca.png)

[2014-03-25 20:01] blisteringherb commented on #1360
That job is now enabled in prod.

[2014-03-25 20:01] #1360 closed, assigned to blisteringherb

[2014-03-25 20:26] joolaay commented on #1101
yaaaay

[2014-03-25 20:27] barryclark commented on #1526
Got time to take a look this sprint @angaither?

[2014-03-25 21:41] aaronschachter opened #1528 "Duplicate reportback records"
Have only seen one instance of this so far:

https://www.dosomething.org/reportback/303 -- why_participated is different from the following ones:
https://www.dosomething.org/reportback/304
https://www.dosomething.org/reportback/305
https://www.dosomething.org/reportback/306

This could happen if you open up two tabs of the same campaign.  Submit one, and then submit the other one.  This relates to

[2014-03-25 22:35] DFurnes opened #1529 "Merge Paraneue into main repo"
Since Neue is already handling most of our style abstraction, we're thinking of merging Paraneue and Paraneue_DS to simplify workflow.

Looking at where our views are actually being generated, Paraneue is basically responsible for two partials (`html.tpl.php` and `page.tpl.php`) and the Drupal defaults, and everything else comes from the app-specific theme. Since we'll likely need to override the

[2014-03-25 22:37] mmwtsn commented on #1529
![Desmond](https://dujrsrsgsd3nh.cloudfront.net/img/emoticons/34218/desmond-1384801076.png)

[2014-03-26 13:44] aaronschachter opened #1532 "Update staff role definitions"
Add `communications team` and `member support` roles to `dosomething_user_is_staff` function.

[2014-03-26 14:12] DFurnes commented on #1508
This is one of my favorite issues so far. +1. Value added.

[2014-03-26 15:11] #1234 closed, assigned to weerd

[2014-03-26 15:12] aaronschachter commented on #893
@DeeZone Let's keep this issue open until Message Broker is configured to hardcode any grouping_id and group names, and we're set up to add Mailchimp opt-in without any code deployments.

[2014-03-26 15:28] #1484 closed, assigned to aaronschachter

[2014-03-26 16:04] aaronschachter opened #1535 "Reportback admin form/view - check if rbid exists"
Minor issue for just staff only, but the `reportback/[rbid]` and `reportback/[rbid]/delete` page callbacks should return a `drupal_not_found` if the rbid is not present in the `dosomething_reportback` table.

[2014-03-26 16:20] aaronschachter opened #1537 "Reportback delete form - bugs"
Minor issue as the form is for admin only.  The delete reportback form does indeed delete it from the database, but this happens too

![screen shot 2014-03-26 at 12 18 09 pm](https://f.cloud.github.com/assets/1236811/2527199/666b90f6-b502-11e3-8775-ebaf60d0cd91.png)

[2014-03-26 16:28] #1532 closed, assigned to nobody

[2014-03-26 16:39] aaronschachter commented on #480
Was hoping that setting the hidden nid in the login form to `#access = FALSE` would handle this, as it is in #1538 .... but it's adding that property into the `_dosomething_user_add_campaign_data` function results in no signup. Still investigating.

[2014-03-26 16:53] mikefantini opened #1539 "action page (address collection) - style modal"
We need the modal styled to collect addresses from users in order to send them banners.

This should be styled like the other modals on the page.

See #1484 for related issue.

[2014-03-26 16:57] aaronschachter commented on #1388
Complete guess but I wonder if this is occurring because the API won't allow for creating a 2nd ticket with the same subject, and is expecting us to update the existing ticket instead.

[2014-03-26 17:06] mikefantini commented on #74
removed the comment from #1539 so that we keep that to styling and keep discussions on this issue about whether to validate client side or server side

[2014-03-26 17:44] aaronschachter commented on #1388
Nope, not the case, it's creating new tickets.  Will try testing with a diff user / campaign combo but so far can't replicate on a test campaign.

![screen shot 2014-03-26 at 1 41 52 pm](https://f.cloud.github.com/assets/1236811/2528301/3c564002-b50e-11e3-8755-8b79efc22447.png)

[2014-03-26 17:48] mikefantini opened #1540 "action page (button) - need to rework font size"
Flagging it in this individual instance but we need to solve this for the system as a whole.

Because we made the buttons on the action page our big button style we're now running into issues with it on mobile. See screen shots.

It seems like the largest number of characters we have on any of our buttons is 19 characters.

Given that, perhaps we should re-examine the font on our big button style

[2014-03-26 18:25] aaronschachter commented on #1388
yes i'm talking to myself in this thread. recreated the error locally using email `aschachter+zendesk@dosomething.org` on comeback clothes but could not recreate using `aschachter@dosomething.org`

![screen shot 2014-03-26 at 2 24 23 pm](https://f.cloud.github.com/assets/1236811/2528852/f5d766b4-b513-11e3-91ca-146a3a102bcb.png)

[2014-03-26 18:38] #479 closed, assigned to aaronschachter

[2014-03-26 19:35] aaronschachter commented on #1388
Ok, it happens on the 2nd time with a new account, and if you're submitting immediately after you submit the 1st.  The error is occurring on "Users create is not valid".  It seems that this is occurring because there's a lag in getting the result back from the `$client->search` method.

The first todo here is to add a try / catch statement to this guy `$client->users()->create($new_user);` to prev

[2014-03-26 19:39] angaither commented on #1526
I haven't been able to replicate this locally.
Perhaps we can add watchdog when the files get uploaded?

[2014-03-26 19:42] aaronschachter commented on #1526
@jonuy do we have a way to test whether or not these guys are coming from SMS reportbacks? i haven't seen it either in my testing...

[2014-03-26 20:32] angaither commented on #1526
Confirmed, this is coming from mobile reportbacks.
@jonuy HALP

[2014-03-26 20:35] weerd commented on #1515
I believe there may be some things overriding the button style from neue that's affecting it.

[2014-03-26 20:39] aaronschachter opened #1541 "Reportback: Add IP column"
Track IP to see who's submitting reportbacks from where.  Will allow us to track what is submitted via mobile.

[2014-03-26 20:45] weerd commented on #1515
Looked it over w/ @DFurnes and he confirmed some of those items are now covered in Neue. Need to run others by Crystal to confirm design choices.

[2014-03-26 20:46] barryclark commented on #1419
@mshmsh5000 This is running reeeeaaally slow! About 1 field import per minute, so won't be completed for about a million years. Any ideas why?

[2014-03-26 21:04] mikefantini commented on #1143
closing unless someone comes up with a good argument to enable

[2014-03-26 21:04] #1143 closed, assigned to nobody

[2014-03-26 21:10] barryclark opened #1542 "Quality isn't great on header gradient image"
Lots of horizontal lines. Would be good to lighten it up a little too. cc @mikefantini

![image](https://cloud.githubusercontent.com/assets/692762/2530776/956895e8-b52a-11e3-8969-f3205a3527cf.png)

[2014-03-26 21:25] mshmsh5000 commented on #165
Fixed by customizing host names in `/etc/newrelic/nrsysmond.cfg`:

`# See response to our ticket: https://support.newrelic.com/requests/85424
hostname=db1-beta`

[2014-03-26 21:25] #165 closed, assigned to nobody

[2014-03-27 13:21] aaronschachter opened #1544 "Signup Data Form: First Name and Last Name"
If a signup data form is set to "Collect user address", values for the user first_name and last_name fields should be pre-populated / collected as well as the mailing address, and saved to the user upon submit.

[2014-03-27 13:23] aaronschachter opened #1545 "User: Last Name field"
Blocks #1544

Create a `field_last_name`.  Should not appear on user registration form, but available on the user's edit form, underneath the first name field.

[2014-03-27 13:48] angaither commented on #74
I think we should handle the actual address parsing on the client side, this way we know invalid addresses aren't saved with the user. We can handle asking 'is this what you meant' before the data is saved.
@DFurnes thoughts?

[2014-03-27 14:51] #1545 closed, assigned to angaither

[2014-03-27 15:41] #1526 closed, assigned to angaither

[2014-03-27 16:02] mikefantini opened #1550 "Teens for Jeans - redirect needed"
Need to have Teens for Jeans show up in search results. It currently only lives on the old app and we're not pulling in anything from the old app into search.

In order to have this show up in search, I had Nami create a dummy campaign (nid 1144) on beta. Now we just need that to redirect to nid 731115 on legacy.

No signup needed (basically treating this the same as we did for Bully Text or Pregn

[2014-03-27 16:09] blisteringherb commented on #1550
I set this redirect up in the admin.  We should be good to go.

[2014-03-27 16:09] #1550 closed, assigned to blisteringherb

[2014-03-27 16:17] mshmsh5000 opened #1551 "Enforce common cache key in Redis"
Without a `cache_prefix` value set, Drupal's Redis integration will [create a key based on the current host URL](https://gist.github.com/mshmsh5000/9794782#file-gistfile1-php-L34). This is no good.

Set a prefix in settings.php to ensure clean cache management.

[2014-03-27 16:28] desmondmorris opened #1553 "Replace Apache with Nginx in Staging & Development"
We should replace Apache with Nginx on both the staging and development instances to get things closer to the production setup.  Nginx treats some things differently than Apache (ex: ip_address()) and we should not be adding conditional code to handle both instances.

@mshmsh5000 priority?

[2014-03-27 16:36] #1541 closed, assigned to aaronschachter

[2014-03-27 16:40] aaronschachter commented on #1553
Would this eliminate the need for the `dosomething_helpers_ip_address` function?  Or would `ip_address()` still not work?

[2014-03-27 16:45] desmondmorris commented on #1553
@aaronschachter yeah the `HTTP_X_FORWARDED_FOR` _should_ always be present in nginx, so the helper function should always evaluate and the first condition.  I think the we should def keep a wrapper function around the check of the `$_SERVER` variable though, so that helper function can live on I believe.  We may just have it return just `$_SERVER['HTTP_X_FORWARDED_FOR']` in the future though

[2014-03-27 17:23] #1544 closed, assigned to angaither

[2014-03-27 17:24] angaither commented on #1551
Closed with #1552

[2014-03-27 17:24] #1551 closed, assigned to mshmsh5000

[2014-03-27 18:13] weerd opened #1555 "Update Neue for content links on :hover"
For content links on :hover, add a slight color change to the lighter blue (similar to buttons).

[2014-03-27 18:28] #1388 closed, assigned to aaronschachter

[2014-03-27 18:46] weerd commented on #1513
We should probably add a class to the headings if not a universal change.

[2014-03-27 18:47] weerd commented on #1512
This issue will be covered once PR for issue #1515 is approved and merged.

[2014-03-27 18:59] #963 closed, assigned to weerd

[2014-03-27 19:01] #1280 closed, assigned to nobody

[2014-03-27 19:20] blisteringherb opened #1558 "11 Facts: Update sources"
Sources should now be pulling from the additional text field.

[2014-03-27 19:22] aaronschachter opened #1560 "Reportback view page enhancements"
- [x] List each file's fid and link to the original file, along with remote_addr
- [x] Display the reportback's log history

[2014-03-27 19:57] mikefantini commented on #1540
@crystalruthbell this is something I'd love for you to weigh in on; we just need to make sure that we come up with a solution that works across the entire system

[2014-03-27 19:58] aaronschachter commented on #1523
Seems to have been fixed by #1552

[2014-03-27 19:58] #1523 closed, assigned to nobody

[2014-03-27 20:29] #1558 closed, assigned to nobody

[2014-03-27 20:35] #1515 closed, assigned to weerd

[2014-03-27 20:35] weerd commented on #1512
Resolved in #1515

[2014-03-27 20:36] #1512 closed, assigned to weerd

[2014-03-27 20:39] weerd opened #1561 "Update Campaign Module vars to match classes in template"
Quick fix to make things more right in the world.

[2014-03-27 20:50] mshmsh5000 opened #1562 "Enable syslog by default"
That is all.

[2014-03-27 21:29] DFurnes commented on #1513
:+1:

[2014-03-27 21:49] aaronschachter opened #1563 "Static content: Drop field_cta_button_text"
`field_cta_button_text` needs to be dropped from the database in order to allow features-update to work nicely.  using `drush fu` adds it back into the feature.

[2014-03-27 21:59] aaronschachter commented on #1561
Is this for static content?

[2014-03-27 22:01] weerd commented on #1101
Morgan updated the backend so I'll be digging into this asap!

[2014-03-28 04:32] mshmsh5000 opened #1565 "Eliminate PHP short tags"
The PHP config on QA is sensitive to this. Instead of changing the config, I'd rather fix the few outliers. I see [just one in this template](https://github.com/DoSomething/dosomething/blob/dev/lib/themes/dosomething/paraneue_dosomething/templates/node--static_content.tpl.php#L61):

![screen shot 2014-03-28 at 12 30 34 am](https://cloud.githubusercontent.com/assets/149811/2546301/d9a31aa0-b631-11e

[2014-03-28 12:08] desmondmorris opened #1566 "Move SOLR configs in settings.php"
In efforts to make this codebase more portable, specifically for use with the affiliates, it  is necessary that all external services be configurable from settings.php.  This way we are not reliant on settings stashed in the DB.

The biggest concern is the connection settings for SOLR right now.  When we spin a new instance with a dump from production/staging, the instance attempts to connect to t

[2014-03-28 12:40] desmondmorris commented on #1566
I just saw that the we are shipping a default localhost configuration, so this may mitigate this issue.  Still will love to hear what you guys think

[2014-03-28 14:06] weerd commented on #1565
Righty-o! Working on wrapping up a couple morning issues and then I'll jump on this one :)

[2014-03-28 14:55] aaronschachter commented on #969
Now that #949 is resolved, I've gone in and manually saved static content nodes to remove the dummy `field_video` records for static content.

However, there's currently 46 records in `field_data_field_video` which are not legit. (the one record for entity_id=349 is legit, it belongs to node 12 which is a test sponsored campaign).  What happened is this: the is_empty check was put in place for fie

[2014-03-28 14:57] #507 closed, assigned to aaronschachter

[2014-03-28 14:57] #1563 closed, assigned to nobody

[2014-03-28 15:14] aaronschachter opened #1568 "Drush features-revert error: Drush command terminated abnormally due to an unrecoverable error."
ARGH so #1564 reverts the first time you do a `drush -y fra`

[code]

 but then after the 2nd `drush -y fra` you get:

[code]

I hate you dries

[2014-03-28 15:39] weerd commented on #1561
Static and would apply to campaigns as well. (Need to double check if anywhere else).

From:
 `<h2 class="subtitle"><?php print $cta; ?></h2>`

To:
 `<h2 class="subtitle"><?php print $subtitle; ?></h2>`

AND updating where the module sets the variable for the template file.

Basically changing the $cta vars to $subtitle (in headers), since it's a subtitle where it's being used and thus unify the h

[2014-03-28 16:02] mikefantini opened #1571 "11 Facts - error on production (beta)"
On production I get the "The website encountered an unexpected error. Please try again later." error message when going to https://beta.dosomething.org/content/11-facts-about-tsunamis (or any other 11 facts pages).

Page looks fine on staging.

cc: @julielorch

![image](https://cloud.githubusercontent.com/assets/6330971/2551757/fc810662-b691-11e3-8d32-3975127c0d3b.png)

[2014-03-28 16:22] aaronschachter commented on #1571
Need to remove the `field_video` 11 facts preprocess.

from the EntityMetadataWrapperException: Unknown data property field_video. in EntityStructureWrapper->getPropertyInfo() (line 335 of /var/www/beta.dosomething.org/releases/20140327203603/html/profiles/dosomething/modules/contrib/entity/includes/entity.wrapper.inc).

I deleted the field instance on production last night, because we don't need

[2014-03-28 16:36] aaronschachter opened #1573 "Deployment should build from a master branch and tag things"
Currently once you commit to dev, you can't actually test the production codebase anymore.

Have Georgie Boy merge dev into master and create a relevant release tag.

[2014-03-28 16:42] #1565 closed, assigned to weerd

[2014-03-28 16:42] #1101 closed, assigned to weerd

[2014-03-28 16:50] #1571 closed, assigned to aaronschachter

[2014-03-28 16:56] #1568 closed, assigned to nobody

[2014-03-28 17:19] weerd commented on #1513
I'm using the `$light-gray` variable for the gallery background. If it needs to be a slightly bit lighter we can run it through a sass lighten() function. But this way we're using Neue's vars :) I'm going to run the visuals by Crystal to confirm how it looks, etc.

[2014-03-28 17:35] #1446 closed, assigned to nobody

[2014-03-28 17:40] mshmsh5000 opened #1575 "Add Stage File Proxy, enable in QA/Vagrant environments"
Important for keeping QA files in sync, and obviates the need to pull files in Vagrant.

[2014-03-28 17:51] DFurnes commented on #1473
@Bladt When the user clicks the signup button, we'll trigger a Google Analytics custom event. If the user closes the login modal and clicks the signup button again, we should re-trigger this event right?

[2014-03-28 17:52] DFurnes commented on #1473
@mikefantini Yep, this shouldn't be too hard.

[2014-03-28 18:43] #1555 closed, assigned to DFurnes

[2014-03-28 19:28] weerd commented on #1513
Chatted with Crystal. Adding background color to the CTA, etc. instead. Looks nice :)

[2014-03-28 19:36] DFurnes commented on #1473
Game plan. This should let us know when users open the auth modal, close it manually, and whether or not it submits successfully:
- We fire a `Modal - Open - [#id]` custom event when a modal is opened (such as the sign-in modal, or any of the 'more info' modals on the campaign page).
- We fire a `Modal - Close - [#id]` when that modal is closed (only by user interaction... navigating to another pa

[2014-03-28 19:39] marahml commented on #928
As part of the triggering system with groups - is it possible add keywords that would trigger tickets that are coming into Zendesk (from help@dosomething.org) to auto-filter into groups. ie) If we said that any email with the words "earth day" should go to the environment group, and they skipped the ZD inbox and just went to that group. ?

[2014-03-28 19:42] mikefantini commented on #1473
@DFurnes re: @Bladt When the user clicks the signup button, we'll trigger a Google Analytics custom event. If the user closes the login modal and clicks the signup button again, we should re-trigger this event right?

@Bladt said let's _not_ re-trigger the event because it would artificially inflate our numbers.

[2014-03-28 19:44] aaronschachter commented on #928
I know it'd be possible to add this if we're submitting all tickets via a form on the site (would be a separate issue from this one).  There may be some automatic filters to set up in the Zendesk admin that would filter emails to help@dosomething.org but i"m not sure.

[2014-03-28 19:45] weerd commented on #1511
Ended up doing 35px padding top and bottom of CTA and removing top margin on h3. No need to address underline in new style for CTA. Looks good!

[2014-03-28 19:57] DFurnes commented on #1473
Is that different from a user clicking back on their browser though (in the old flow) and then clicking on "Sign Up" again? I'm not sure if it makes sense to start tracking clicks in some circumstances and not others.

(If that's what we want to do, that's cool too. It just means we'll need to find a way to track what events have already fired in a session and not fire them twice.)

[2014-03-28 20:14] DFurnes commented on #1473
Talked with @mikefantini and @joshcusano and we're gonna go with the simpler implementation of this for now. We can re-visit this next sprint and change if we need to do something more complex.

[2014-03-28 20:15] #893 closed, assigned to deezone

[2014-03-28 20:31] #1473 closed, assigned to DFurnes

[2014-03-28 20:42] DFurnes commented on #74
This should be a check on the sever-side before the data is saved to the user's profile then, right?

Client-side validation is really just a nice way to help the user catch errors without wasting their time on a full page reload. We shouldn't be relying on it to prevent bad data from hitting the database, since it won't run if a user has JavaScript disabled, or scripts don't load due to an error,

[2014-03-28 20:47] DFurnes commented on #74
If we're caching these validations on the server, we can make an AJAX call to that check on client-side so the page doesn't have to refresh if the user needs to make any changes.

Let's chat on Monday about how we should handle this so we're all on the same page. :)

[2014-03-28 21:54] weerd opened #1579 "Logout and search breaks to new line between 768px & 783px"

[2014-03-31 01:43] mshmsh5000 opened #1582 "Home page hard-codes some images to http"
[Here](https://github.com/DoSomething/dosomething/blob/dev/lib/themes/dosomething/paraneue_dosomething/templates/node--home.tpl.php#L18) and [here](https://github.com/DoSomething/dosomething/blob/dev/lib/themes/dosomething/paraneue_dosomething/templates/node--home.tpl.php#L32). Really these four should all be protocol-neutral URLs.

[2014-03-31 14:32] DFurnes commented on #1582
Whoops. Good catch.

[2014-03-31 14:40] #1510 closed, assigned to aaronschachter

[2014-03-31 14:44] mikefantini opened #1583 "Fact Page - should not default to published"
when creating a Fact page, the published checkbox should not be ticked by default

[2014-03-31 15:06] marahml commented on #928
Hey @aaronschachter! Just did some tests using staff-picks and non-staff-picks. I'm seeing not seeing priority or group assignment happening in ZenDesk. Am I doing something wrong?

[2014-03-31 15:25] aaronschachter commented on #928
@marahml Our worfklow is currently closing issues when they're resolved in code, but not actually on production (something on our list to change).  I've deployed the changes to http://staging.beta.dosomething.org/ so you can test there.  Will let you know when we deploy to production.

[2014-03-31 16:09] aaronschachter commented on #928
@marahml This has been deployed to production. I've given it a quick test and looks good. Feel free to reopen and comment if any issues.

[2014-03-31 16:09] #928 closed, assigned to aaronschachter

[2014-03-31 16:13] marahml commented on #928
So exciting. Tested and works great. Thanks Aaron!

On Mon, Mar 31, 2014 at 12:09 PM, Aaron Schachter
notifications@github.comwrote:

##

_Marah Lidey_
Digital Engagement Manager, DoSomething.org
(212) 254-2390 Ext. 215

follow me: twitter.com/marahml
follow us: twitter.com/dosomething http://www.twitter.com/dosomething

[2014-03-31 16:35] mikefantini opened #1585 "/campaigns (staging) - HTTP 0; Request failed: Connection timed out"
Can't access /campaigns on staging site (everything is fine in prod). Preventing me from showing an example of a bug in prod that I don't want visible to the public.

Getting this error message:

![image](https://cloud.githubusercontent.com/assets/6330971/2569880/4bc62a2e-b8f2-11e3-86c5-05e18319e2d4.png)

[2014-03-31 16:37] weerd commented on #1540
Line height could be adjusted as well to be tighter on mobile.

[2014-03-31 16:45] weerd opened #1586 "Switch image gradient from Drupal image style to CSS."
Chatted with Andrea and Keri about switching the black to transparent gradient used on images throughout the site to be be generated dynamically via CSS (with png fallback for IE8). This will allow the gradient to be customized and tweaked rapidly and allow for making it adjustable depending on device, etc. Would likely solve the gradient dithering seen on some of the images as well.

[2014-03-31 16:45] mshmsh5000 commented on #1562
@mikefantini Can we get this in for sprint 47? It's tiny. Thanks.

[2014-03-31 16:46] aaronschachter opened #1587 "Fact Page CTA alignment"
Looks weaksauce.

example: http://staging.beta.dosomething.org/node/604

![screen shot 2014-03-31 at 12 43 40 pm](https://cloud.githubusercontent.com/assets/1236811/2570024/ed9c9940-b8f3-11e3-8c7e-9ad050b18cc3.png)

[2014-03-31 17:04] aaronschachter commented on #1088
@DFurnes is this ready to be closed?

[2014-03-31 17:05] mikefantini commented on #1587
Should keep it looking consistent with static content (like https://www.dosomething.org/about/donate).

![image](https://cloud.githubusercontent.com/assets/6330971/2570234/9a6beffc-b8f6-11e3-94d7-be4a4e681557.png)

[2014-03-31 17:05] aaronschachter opened #1589 "Fact Page pathauto alias"
Update Fact Page with the relevant pathauto pattern to use for beta: `facts/[node:title]`

[2014-03-31 17:11] mikefantini commented on #1582
@mshmsh5000 @DFurnes is this for the current homepage? If so is it worth fixing before next Thursday or just keep as it is until we have our new homepage?

[2014-03-31 17:15] mikefantini commented on #1529
@DFurnes is something that needs to get in for this sprint?

[2014-03-31 17:22] mikefantini commented on #1302
Closer but still not there:

confirmation page:
![image](https://cloud.githubusercontent.com/assets/6330971/2570368/f52d9362-b8f8-11e3-8f92-090ba026126e.png)

/campaigns:
![image](https://cloud.githubusercontent.com/assets/6330971/2570362/e62af81e-b8f8-11e3-81f3-23064d84564b.png)

[2014-03-31 17:26] #676 closed, assigned to nobody

[2014-03-31 17:26] #1449 closed, assigned to nobody

[2014-03-31 17:32] mmwtsn commented on #1529
@mikefantini This would fall under refactoring. It would be better to get this in sooner rather than later (if we decide to move forward with this decision) but it isn't urgent.

Having only one theme will simplify development and deployment which should help stabilize the code base somewhat.

[2014-03-31 17:37] mikefantini commented on #1529
@mmwtsn cool thanks, I'll peg it to this sprint as medium priority then

[2014-03-31 17:41] mikefantini commented on #1587
scratch that should look like this: https://s3.amazonaws.com/uploads.hipchat.com/34218/734460/7H0BR42z8n1TKB0/Screen%20Shot%202014-03-28%20at%203.24.12%20PM.png

[2014-03-31 17:52] #1511 closed, assigned to weerd

[2014-03-31 17:52] #1513 closed, assigned to weerd

[2014-03-31 18:42] mmwtsn opened #1592 "action page (prove it) – add handwritten scholarship callout"
## Description

Create a scholarship call out mimicking treatment on the pitch page pointing to the button.
## Mocks

These weren't officially mocked and signed off but here's a quick sketch of the general idea across mobile and desktop. Please ignore any styles unrelated to the scholarship call-out are out of date in these mocks.
### Mobile

![desktop](https://cloud.githubusercontent.com/assets/1

[2014-03-31 18:58] mmwtsn commented on #1514
:thumbsup: to setting that margin in rems and scaling it off our base font size if possible.

If this becomes a common pattern, it's a good candidate for a little pixel to rem mixin.

[2014-03-31 19:15] aaronschachter opened #1593 "Fact Page Metatag defaults"
- [ ] Description and abstract should pull from the subtitle field.
- [ ] Make subtitle field mandatory.

[2014-03-31 19:29] aaronschachter commented on #1593
Just kidding, we're going to manually enter the legacy descriptions into metatag fields instead, to avoid adding any extra content.

[2014-03-31 19:29] #1593 closed, assigned to aaronschachter

[2014-03-31 19:51] mikefantini commented on #1585
once I have this I can show example for https://github.com/DoSomething/dosomething/issues/1438

[2014-03-31 20:13] #1529 closed, assigned to nobody

[2014-03-31 20:16] #1583 closed, assigned to aaronschachter

[2014-03-31 20:16] #1589 closed, assigned to aaronschachter

[2014-03-31 20:34] aaronschachter opened #1597 "Fact Page image metatag"
Add image metatag in `dosomething_metatag_node_view` for the `fact_page` content type.

[2014-03-31 20:36] aaronschachter opened #1598 "Fact Page metatag keywords defaults"
Set up default to use Cause and Title for metatag keywords.

[2014-03-31 20:56] #1582 closed, assigned to DFurnes

[2014-03-31 21:20] DFurnes commented on #1088
Still need to add a check for whether an image has been attached.

[2014-03-31 21:31] angaither commented on #74
AJAX call FTW. I'm on it.

I'm exploring the USPS service now as that's what we actually need, since geocode.io only returns an 'accuracy indicator'
can't wait to get down with XML.

[2014-03-31 22:03] #1597 closed, assigned to aaronschachter

[2014-03-31 22:13] aaronschachter opened #1605 "Metatag: Opengraph image tag"
Add the `og:image` as an additional metatag in `dosomething_metatag_add_metatag_image_src` to make for happier FB sharing.

[2014-04-01 14:06] #1605 closed, assigned to aaronschachter

[2014-04-01 14:55] #1587 closed, assigned to weerd

[2014-04-01 14:58] weerd commented on #1587
All set :)

[2014-04-01 15:27] weerd commented on #1514
_NOTE_:
- The 50px margin at bottom was addressed with new CTA styles (the spacing was desired for CTAs that are at the bottom of the page, but the new styles take care of need for spacing).
- The leading between lines in listing was addressed by editing the markdown. Used a markdown list to render the content in the backend.

[2014-04-01 15:48] mikefantini commented on #1542
solution to this is defined in #1586

closing this one out

[2014-04-01 15:48] #1542 closed, assigned to nobody

[2014-04-01 16:24] #1598 closed, assigned to aaronschachter

[2014-04-01 16:37] blisteringherb opened #1611 "Clean up securepages module"
Remove references to securepages module since it's no longer needed.

[2014-04-01 19:49] #1611 closed, assigned to blisteringherb

[2014-04-01 20:59] marahml opened #1617 "CTIA messaging"
Need to have CTIA compliant messaging on registration form (at the bottom of the form is fine).

4 msg/mo. Message & data rates may apply. Text STOP to opt-out, HELP for help

[2014-04-01 21:12] mikefantini commented on #1617
only needed when a user is creating an account, not needed on the log in view... needed on both the modal and /user/register.

@DFurnes i think this makes the most sense at the very bottom of the form (below both button _and_ "Log in to an existing account"), but your call on what makes the most sense.

[2014-04-01 21:22] angaither opened #1618 "Profile: Signup images"
Add images to signup view

[2014-04-01 21:26] #1618 closed, assigned to nobody

[2014-04-01 21:35] aaronschachter opened #1620 "Campaign pitch metatag images"
Metatag images don't appear for campaigns when viewing anonymously because we're only displaying for `$view_mode == full`.

Change the metatag module to display images when `$view_mode == pitch` as well.

[2014-04-01 21:50] #1620 closed, assigned to aaronschachter

[2014-04-01 22:09] #1453 closed, assigned to nobody

[2014-04-01 22:10] #1514 closed, assigned to weerd

[2014-04-02 15:46] blisteringherb commented on #570
It looks like this was already fixed?  https://github.com/DoSomething/dosomething/blob/dev/lib/modules/dosomething/dosomething_helpers/dosomething_helpers.info#L4

[2014-04-02 16:10] mikefantini opened #1624 "homepage - update placement of campaigns"
from Dave Deluca:
- Put Pregnancy Text in the main banner spot
- Put Comeback into one of the smaller spots
- Remove Would You Rather

for pregnancy text please pull in the CTA and the cover image from nid: 843

[2014-04-02 17:45] aaronschachter commented on #570
yip

[2014-04-02 21:24] #1455 closed, assigned to nobody

[2014-04-02 21:34] mmwtsn opened #1627 "campaign – refactor column classes"
Within the campaign template `.first` and `.second` layout classes were used. They should be removed in favor of Bourbon's `omega` mixin.

**NOTE:** In a few places, these classes were used as higher-level selectors. If they were needed a more semantic class name should be applied.

[2014-04-02 21:35] aaronschachter opened #1628 "Reportback log records with uid 0"
There are records being logged into `dosomething_reportback_log` with uid = 0.

Only one record exists in `dosomething_reportback` with uid = 0, which is weird, but there's a bug somewhere causing log records to be written with uid.  There's a bunch of records around the site flip that have it, but even most recent records have scattered uid 0.
- [x] Alter InsertLog to use the reportback entity id

[2014-04-02 21:37] aaronschachter commented on #1628
This may be a result of mobile reportbacks... a global `$user` won't be set.

https://github.com/DoSomething/dosomething/blob/dev/lib/modules/dosomething/dosomething_reportback/includes/dosomething_reportback.inc#L115

The idea behind using the `global $user` was to track whether or not staff altered the record.

[2014-04-02 21:43] mmwtsn opened #1629 "campaign – refactor mobile padding"
## History

When building out the campaign template we opted to use padding to control "gutters" on mobile. With the exception of images and other full-width elements, a `section-padding` mixin was applied. In order to account for different possible markup combinations generated by our Markdown parser we added some [gross overrides](https://github.com/DoSomething/dosomething/blob/dev/lib/themes/do

[2014-04-02 21:44] #844 closed, assigned to nobody

[2014-04-03 14:14] blisteringherb opened #1633 "QA deployment"
Make updates for QA deployment

[2014-04-03 15:30] mshmsh5000 opened #1635 "Add Drupal New Relic module"
Will help our reporting by automatically marking certain jobs (including cron) as background tasks, and integrating better with watchdog messages.

https://drupal.org/project/new_relic_rpm

[2014-04-03 15:45] #1628 closed, assigned to aaronschachter

[2014-04-03 15:49] angaither opened #1636 "User Profile: recommended campaigns"
add a recommended section to the user profile

[2014-04-03 19:24] angaither opened #1638 "User Profile: Remove signups"
Allow users to remove own signups from their profile.
- [x] remove row from signup table
- [ ] remove from mailchimp
- [ ] remove from mobile commons

[2014-04-03 20:04] weerd opened #1641 "Fix WatchDog issue reporting undefined variables"
@_@

https://s3.amazonaws.com/uploads.hipchat.com/34218/305836/IfVWxqTGuGy7TTy/errors_sample.txt

[2014-04-03 20:07] mmwtsn commented on #1450
@mikefantini Votes to close the issue!

[2014-04-03 20:07] #1450 closed, assigned to nobody

[2014-04-03 20:12] mikefantini commented on #1450
Yeah the reason for this is once we have the internal location finders (i.e. not linking off to an external site, but asking for zip code and displaying locations below) I think we're going to want this to remain as two columns.

Let's re-examine once we're ready to launch our first one of those.

[2014-04-03 20:13] mmwtsn opened #1643 "campaign (action guides) – "banner" font sizes on mobile"
## Description

Pending the design approval of @crystalruthbell, Mike suggested we reduce the font size of the "banner" header type in the action guide modals to allow for longer titles as the current limit is `~12` characters.

![modal](https://cloud.githubusercontent.com/assets/1479130/2608536/0b9c1d74-bb6c-11e3-84b2-1841e74f0520.png)
### Notes
- This change should affect all modal styles
- This

[2014-04-03 20:19] mmwtsn opened #1644 "modal banner – default styles from Neue overridden"
We had [pushed some changes](DoSomething/neue#234) to the default banner styles in Neue. Now that those changes are deployed the [app-specific overrides](https://github.com/DoSomething/dosomething/blob/dev/lib/themes/dosomething/paraneue_dosomething/scss/content/_modals.scss#L4-L15) can safely be removed 'cause they fuckin' it up.

[2014-04-03 20:25] mikefantini commented on #1206
Update:
We should _not_ include the Location Finder in our layout considerations. That should always remain as a separate box at the bottom (we can re-examine once we have internal location finders, but I'd imagine we've want it to work like this when we have some of those and we show results).

Also keep in mind we always want the order to remain the same:
- Stuff You Need
- Time and Place
- VIPs

[2014-04-03 20:34] blisteringherb opened #1646 "Log out relative path"
The "Log Out" link in the header is relative, and users aren't able to log out from any page other than the home page.

[2014-04-03 20:36] mikefantini opened #1647 "campaigns - additional report back question"
For now just need a radio button hard coded into Comeback Clothes.

Question:
- Did you recycle the clothes through H&M?

Options:
- Yes
- No

Eventually we'll want this in the campaign creation interface so that campaigns can add their own additional report back questions.

---
- [x] New table: `dosomething_reportback_field` -- stores a node's additional reportback fields
- [x] New table:  `dosom

[2014-04-03 20:37] DFurnes commented on #1646
Should be fixed by #1640.

[2014-04-03 20:41] #1641 closed, assigned to weerd

[2014-04-03 20:44] mikefantini opened #1648 "campaign listings (staging) - ability to view listings based on changes to campaigns in staging"
When we make a change to a campaign on staging, we need to see how this will effect things like the finder results, how they are displayed, the order, etc.

There are certain changes we will want to make to campaigns in order to manipulate these results and we'll want to view these in staging first before making the changes in production.

[2014-04-03 20:45] mshmsh5000 opened #1649 "Use Expire module with Varnish"
Allows much more fine-grained cache clearing logic when triggered by editorial activity (e.g., node updates).

https://drupal.org/project/expire

[2014-04-03 21:00] mikefantini opened #1650 "action page (partners) - breaking into two lines"
In partnership with is breaking into two lines on production:

![image](https://cloud.githubusercontent.com/assets/6330971/2609104/4371e6f6-bb72-11e3-8136-23cecc2166be.png)

[2014-04-03 21:01] mikefantini commented on #1650
on www.dosomething.org/campaigns/comeback-clothes

[2014-04-03 21:04] mikefantini commented on #1206
update made this it's own issue (#1707):

when we tackle this let's clean up the spacing of the location finder so it's consistent with spacing between other sections:

![image](https://cloud.githubusercontent.com/assets/6330971/2609208/99fa1bf0-bb73-11e3-894e-3556384b7eed.png)

[2014-04-03 21:53] #1624 closed, assigned to DFurnes

[2014-04-03 21:56] #1644 closed, assigned to nobody

[2014-04-03 22:00] DFurnes commented on #1617
Bottom of form:
![screen shot 2014-04-03 at 5 43 25 pm](https://cloud.githubusercontent.com/assets/583202/2609782/421674da-bb7b-11e3-937c-b5a43c26dc55.png)

Inline in form:
![screen shot 2014-04-03 at 5 59 17 pm](https://cloud.githubusercontent.com/assets/583202/2609790/4921cc20-bb7b-11e3-8c1c-0ee443346423.png)

I think it might actually make more sense by the specific field in the form it relates

[2014-04-03 22:05] #1586 closed, assigned to weerd

[2014-04-03 22:13] DFurnes commented on #1617
Talked with @mikefantini and @Bladt and we're gonna try going with Option 2. :dart:

[2014-04-03 22:19] weerd opened #1655 "[User Profile] Generate markup for user profile page."
@julielorch @mikefantini

[2014-04-03 22:23] weerd opened #1656 "[User Profile] Establish styling/structure to follow site grid."
@julielorch @mikefantini

[2014-04-03 22:24] weerd opened #1657 "[User Profile] Style internal content components of profile view."
@julielorch @mikefantini

[2014-04-03 22:28] mikefantini commented on #1617
@marahml told @DFurnes to hold off on adding this to the form until you get him updated language. Please update this issue with the new language when you get a chance so we can get it up.

Thanks!

[2014-04-04 13:31] mikefantini commented on #1357
Here's an example of it happening again on /campaigns... Most likely happening on the campaign page as well after you report back on a campaign.

![image](https://cloud.githubusercontent.com/assets/6330971/2615710/524bf974-bbfd-11e3-87b2-bc1d8ebe069e.png)

[2014-04-04 13:31] mikefantini commented on #1357
@angaither assigning this guy to you

[2014-04-04 13:36] mikefantini opened #1658 "neue – update handwritten font to COVERED BY YOUR GRACE"
cc: @crystalruthbell

[2014-04-04 14:06] mikefantini commented on #1357
kicking it over to @blisteringherb

[2014-04-04 14:13] mshmsh5000 opened #1659 "ds build must use env vars"
**Currently breaking QA builds**

bin/ds build includes this line:

`# Create the db, if for some reason it's not there yet.
  mysql -uroot -e "CREATE DATABASE IF NOT EXISTS dosomething;"`

This is great for Vagrant boxes, but elsewhere needs to obey env vars that control DB connections.

[2014-04-04 14:55] mshmsh5000 commented on #1659
I have rejiggered root MySQL access on blackangus so that this is no longer a blocker. But does need to be fixed.

[2014-04-04 14:56] #1646 closed, assigned to nobody

[2014-04-04 18:00] mikefantini commented on #1015
related to this issue, we got a request that the font of the photo submission is too dark to read

happens when both before you've uploaded a photo and once you've uploaded it.

Is it possible to make this font the same color as the font of the other text on the form?

cc: @crystalruthbell

https://trello-attachments.s3.amazonaws.com/52ea92c7ccdaf8415b8cab3a/53220dbee43c4570337c751e/72152e318c1032

[2014-04-04 18:17] #1633 closed, assigned to blisteringherb

[2014-04-04 18:49] mikefantini commented on #1617
@mmwtsn @DFurnes did you guys get updated language for this? don't think we should close it until we have this from @marahml

[2014-04-04 18:52] DFurnes commented on #1617
That's ok, I'll put in another PR when I get updated language.

[2014-04-04 19:43] mikefantini opened #1662 "profile issue (staging) - Fatal error"
Seeing this error message on staging site when go to
http://staging.beta.dosomething.org/campaigns/comeback-clothes

![image](https://cloud.githubusercontent.com/assets/6330971/2619554/5434dae2-bc31-11e3-8645-7b5ee5ee2574.png)

[2014-04-04 19:44] mikefantini commented on #1662
@angaither @weerd not sure which of you this should be on.

Also if it's only happening in staging I'm not so concerned about it. I don't see it in production, but if it would be happening in production in the future that'll dictate the priority.

[2014-04-04 19:59] mikefantini commented on #1539
@DFurnes the modal is set up on http://staging.beta.dosomething.org/campaigns/comeback-clothes for styling.

Need this in place before April 10th

[2014-04-04 20:55] mikefantini opened #1664 "action page (facts modal) - bulleted list and updated sources treatment"
- list out facts in the facts modal in bullet points
- add sources treatment we have on action page to this modal

https://trello-attachments.s3.amazonaws.com/52ea92c7ccdaf8415b8cab3a/533eba2660de434869c3f851/750x578/12ec77d3343d6e3dc160507bdf0c4135/Screen_Shot_2014-04-04_at_9.56.39_AM.png

cc: @crystalruthbell

[2014-04-04 20:55] mikefantini commented on #1664
related to https://trello.com/c/YvrVTlip

[2014-04-04 21:15] mikefantini opened #1665 "action page (action guides) -copy running over modal"
copy is running over the modal of action guides.

example: https://beta.dosomething.org/campaigns/i-want-you-quit-because

https://trello-attachments.s3.amazonaws.com/52ea92c7ccdaf8415b8cab3a/533eb9e7334d9e9f53da6a2d/692x681/0ac9cad1aba7bd7b54130849f8125f67/Screen_Shot_2014-04-04_at_9.55.33_AM.png

[2014-04-04 21:17] marahml commented on #1617
Here's a better way to say what we want to: (similar to old site)

Creating an account with us won't sell your soul, but it means you agree to our terms of service (LINK HERE) & to receive our weekly update. Message & data rates may apply. You can always text STOP to opt-out, HELP for help.

*sorry in my original issue I forgot to mention that we need to link Ts&Cs

[2014-04-04 21:59] mikefantini commented on #1088
associated trello card https://trello.com/c/oXYXKWOW

[2014-04-04 22:06] mikefantini opened #1667 "pitch page - photo shifts when modal appears"
on desktop browsers - chrome, IE, Firefox - background image shifts slightly to the right when "log in" or "sign up" is clicked and pop up window appears. When the pop up window is closed again, the image shifts back to it's original position to the left.

related trello card: https://trello.com/c/wxofycKr

[2014-04-07 13:53] angaither commented on #1419
Finished.

[2014-04-07 13:53] #1419 closed, assigned to angaither

[2014-04-07 14:00] angaither commented on #1585
This is fixed on staging, closing.

[2014-04-07 14:00] #1585 closed, assigned to blisteringherb

[2014-04-07 14:12] #1636 closed, assigned to nobody

[2014-04-07 14:20] weerd commented on #1665
Should the link be explicitly output showing the full link, or would it potentially be better if the maybe the initial text of the list item was created as a link, with the `href` defined as the link that is currently printed. Might not be feasible based on how the info is input; just a thought but I could look into it.

[2014-04-07 14:24] Bladt commented on #1617
From what we have tested in the past, we've seen the simplest, most straight forward CTIA language perform the best. That is, have higher conversion rates. My hypothesis was (and remains) that when use language like "we promise we will never send you spam," a user skimming will see the word spam and think "wait, I might receive spam" and at the margin not convert as often.

[2014-04-07 14:54] aaronschachter commented on #1647
I've been giving thought to whether or not these additional reportback fields should be implemented as a Field Collection, or as a custom table. Leaning toward a custom table, details of pros and cons are listed out here https://docs.google.com/a/dosomething.org/document/d/1MYr1pu0n4o3TIO72vUIJBqF4TN5yIDFPKBojIt9MPmk/edit#

As far as storing these in the database, I think it makes the most sense t

[2014-04-07 14:55] mikefantini commented on #597
opening this back up as it's come up a ton and seems to fit in better with the user experience of using the action page as the main reference and not wanting to lose your place when going to another site (see article for that being one of the reasons to open up in a new tab).

[2014-04-07 14:56] mikefantini commented on #597
also to be clear, the goal is for any external links to open up in a new tab

[2014-04-07 14:59] aaronschachter commented on #1357
@blisteringherb Did #1660 fix this for title as well?  Seems like it's only decoding the label and not title...

[2014-04-07 15:03] mikefantini commented on #1650
no longer seeing this, seems to be fixed. closing this

[2014-04-07 15:03] #1650 closed, assigned to weerd

[2014-04-07 15:06] marahml commented on #1617
@Bladt If more simple has higher conversions, lets go for it! As long as they can understand it, I'm game.

Hows this?

Creating an account means you agree to our terms of service (LINK) & to receive our weekly update. Msg & data rates may apply. Text STOP to opt-out, HELP for help.

[2014-04-07 15:08] mikefantini commented on #1202
When there partners on a campaign we should have "Contact Us" appear _above_ the "In partnership with.."

[2014-04-07 15:12] desmondmorris commented on #1573
We should be tagging releases before code is moved to staging/production.  The common strategy is to use releases branches, but we can use a the master branch as well.  This may get hairy if we decided to manage hotfix patches, but will be fine for now.

### Release
1.  Merge contents of dev into the master branch
2.  Version bump.  We will need a file that we we use to keep track of the current v

[2014-04-07 15:18] #1629 closed, assigned to nobody

[2014-04-07 15:20] mikefantini commented on #1202
Also on campaigns that don't have partners, we should still have "Contact Us" floating right (i.e. it should always be in the same place regardless of whether there are partners or not).

example: https://www.dosomething.org/campaigns/project-shutdown

![image](https://cloud.githubusercontent.com/assets/6330971/2632842/324610ac-be68-11e3-8d1e-23ae58e2c7ff.png)

[2014-04-07 15:34] DFurnes commented on #1617
Sounds great to me! Do we no longer need the "4 msg/mo." text?

[2014-04-07 15:54] marahml commented on #1617
@DFurnes "weekly update" covers the frequency requirement!

[2014-04-07 16:20] mikefantini commented on #1617
@marahml @Bladt so this is what this will look like:

![](https://cloud.githubusercontent.com/assets/583202/2633312/1c87a7d0-be6d-11e3-96f6-7fe07e660f27.png)

[2014-04-07 16:58] angaither commented on #480
Looks like we can set the access to false, but instead of checking for `$form_state['nid']` in the submit handler we check for `$form['nid']`

Here's a dpm of the $form after login.
![](http://f.cl.ly/items/341x282Z1D1n3k2r2D15/Screen%20Shot%202014-04-07%20at%2012.56.19%20PM.png)

[2014-04-07 17:21] marahml commented on #1617
Looks good! I'm going to chat with @crystalruthbell about making that font a shade lighter, so that its less prominent than the help text.

But we can close this for now. If we decide to change font - I'll reopen.

Thanks!

[2014-04-07 17:53] mikefantini commented on #1665
so like we talked about let's have the text wrap. also happening here with URLs (https://www.dosomething.org/campaigns/comeback-clothes when go to view the sources):
![image](https://cloud.githubusercontent.com/assets/6330971/2634759/6975ab7c-be7d-11e3-921a-1c92fd4b8157.png)

[2014-04-07 18:23] DFurnes commented on #1617
@marahml Cool cool! You can just open a new issue if we need to make any further changes.

[2014-04-07 18:32] #480 closed, assigned to aaronschachter

[2014-04-07 18:45] weerd opened #1673 "[IE Bug] Add background fallback for modal lightbox."
![screen shot 2014-04-07 at 2 40 07 pm](https://cloud.githubusercontent.com/assets/105849/2635387/a845896a-be84-11e3-9fef-bfbfe6a9c159.png)

rgba() not supported in IE8 so need to add a fallback. Either a transparent repeatable png, or a solid background color.

[2014-04-07 19:24] marahml opened #1674 "Help tickets not going into ZenDesk for 6 days"
Looks like tickets from the campaign pages have stopped going into ZenDesk - starting April 1.

Did a test with Comeback Clothes today - and when you submit the help form, you get an error message.

[2014-04-07 19:44] aaronschachter commented on #1674
This is occurring because the `bmathias@dosomething.org` username has been deactivated, and the Zendesk API on prod was configured to use this username.

[2014-04-07 19:51] aaronschachter commented on #1674
Changing to valid username `mlidey@dosomething.org` now works.  It may be worth changing the admin username to a more generic email to avoid this if we ever change it again.

[2014-04-07 19:51] #1674 closed, assigned to aaronschachter

[2014-04-07 19:59] aaronschachter opened #1675 "Use Message Broker to submit Zendesk tickets"
UPDATE:

Use Message Broker to submit Zendesk tickets, to make use of existing queue functionality.

---

Original description:
- [ ] If Zendesk authentication fails, backlog the ticket so it's not gone forever (or possibly just email it to help@dosomething.org instead of keeping a backlog... but probably safer to keep a backlog in case zendesk just freaks out on us)
- [ ] If invalid Zendesk API,

[2014-04-08 00:20] aaronschachter opened #1678 "Metatag: Twitter Cards"
Nice to have for happy Tweeting.

[2014-04-08 01:14] joolaay opened #1679 "[Finder] Pagination"
Add "view more campaigns" to bottom of finder results.

Crystal's user testing confirmed that our demo loves scrolling.
![homepage - see more campaigns](https://cloud.githubusercontent.com/assets/6331017/2639003/0fb53452-bebb-11e3-9fc1-fd254387ca83.jpg)

[2014-04-08 01:28] joolaay opened #1680 "Finder filter respsonsive bug"
Longer filters not stacking properly, including Bullying + Violemce, Discrimination, Homelessness + Poverty, Sex + Relationships, Less than 2 hours, and all of TYPE.
![finder responsive bug](https://cloud.githubusercontent.com/assets/6331017/2639068/0b161acc-bebd-11e3-8937-4e89321637e8.png)

[2014-04-08 01:47] joolaay opened #1681 "Remove gray box behind finder, add purple + gradient"
![homepage - purple header](https://cloud.githubusercontent.com/assets/6331017/2639163/a9070f46-bebf-11e3-8b28-ffef39c86661.jpg)
![remove this gray box behind filter](https://cloud.githubusercontent.com/assets/6331017/2639168/b59dbbc4-bebf-11e3-825f-4e8376ba7522.png)

[2014-04-08 02:00] joolaay opened #1682 "Add additional line of four campaign boxes on the homepage"
Add row of campaigns, so there are 9 campaigns total on the homepage (1 big box and 8 little ones)

![homepage - add addl row of 4 campaigns](https://cloud.githubusercontent.com/assets/6331017/2639216/313360f8-bec1-11e3-9ef2-4013c32808e2.jpg)

[2014-04-08 02:05] joolaay opened #1683 "Add big box to the homepage"

[2014-04-08 02:05] joolaay commented on #1683
![homepage - large box](https://cloud.githubusercontent.com/assets/6331017/2639260/4f341182-bec2-11e3-8b14-8d467ea194a7.jpg)

[2014-04-08 13:49] aaronschachter commented on #1647
@mikefantini what sequence should this question appear? Before quantity?

[2014-04-08 14:16] DFurnes commented on #1680
:arrow_backward: :arrow_double_down: :arrow_down: :arrow_right: :arrow_left: :arrow_right_hook:
Closed by #1684.

[2014-04-08 14:16] #1680 closed, assigned to DFurnes

[2014-04-08 14:16] DFurnes commented on #1681
Closed by #1684.

[2014-04-08 14:16] #1681 closed, assigned to DFurnes

[2014-04-08 15:14] #1202 closed, assigned to weerd

[2014-04-08 15:28] blisteringherb opened #1685 "Finder: Use public IP Address"
Until the TTL on search.dosomething.org is updated, use the public IP address.

[2014-04-08 15:33] #1685 closed, assigned to blisteringherb

[2014-04-08 15:40] marahml commented on #1617
@DFurnes - @crystalruthbell said we can go ahead and make the CTIA text a shade lighter than the help text in the reg form

[2014-04-08 15:42] DFurnes commented on #1617
Ok, going to open a new issue for that.

[2014-04-08 15:42] #1617 closed, assigned to DFurnes

[2014-04-08 15:43] weerd commented on #1665
@mikefantini the above screenshot is for content outside of the modal, so I'll do a different fix for the sources. Do you want to add a separate ticket?

[2014-04-08 15:43] #1665 closed, assigned to weerd

[2014-04-08 15:43] DFurnes opened #1688 "Make CTIA text lighter than help text"
Make the CTIA text a shade lighter than the help text in the reg form.
References #1617.

/cc @marahml @crystalruthbell

[2014-04-08 15:47] joolaay opened #1689 "Make filters single select on Finder"
@blisteringherb @mikefantini let's head in this direction, like we discussed today.

[2014-04-08 15:53] DFurnes commented on #1689
Re-labeling this as a front-end issue.

[2014-04-08 16:12] mikefantini opened #1691 "action page (sources) - copy running over and off screen when shrink to mobile"
example: https://www.dosomething.org/campaigns/comeback-clothes when go to view the sources:

https://cloud.githubusercontent.com/assets/6330971/2634759/6975ab7c-be7d-11e3-921a-1c92fd4b8157.png

[2014-04-08 16:14] joolaay commented on #1689
Yes, but @blisteringherb has to make some adjustments as well...

[2014-04-08 16:30] mikefantini commented on #1688
@DFurnes we'll pick this up either next sprint or right after staff retreat

[2014-04-08 17:54] angaither opened #1692 "Production: Remove temp tables"
All scripts have finished running, it's safe to remove any table prefixed with and underscore matching `_XXXX_old_world`

[2014-04-08 18:13] angaither commented on #1692
Removed :fire::fire:

[2014-04-08 18:13] #1692 closed, assigned to nobody

[2014-04-08 18:15] desmondmorris commented on #1692
![char char](http://img2.wikia.nocookie.net/__cb20131213083222/pokemon/images/1/10/006Charizard_OS_anime.png)

[2014-04-08 18:16] angaither commented on #1692
:+1:

[2014-04-08 18:25] aaronschachter commented on #1357
Lots of funky characters on production /campaigns.

[2014-04-08 19:05] angaither commented on #969
This is a pretty funky issue.

`//Get all records in the table
$result = db_query("SELECT entity_id FROM field_data_field_video");
foreach($result as $nid) {
   $node = node_load($nid->entity_id);
   print "node : " . $nid->entity_id . " : "; print_r($node->type); print "\n";
   $field_collection_item_value = $node->field_video[LANGUAGE_NONE][0]['value'];
   if ($field_collection_item_value) {

[2014-04-08 19:27] joolaay commented on #1689
@DFurnes let's hold off on this for a bit - we just stepped through the code w Chris and Morgan and  may take a different approach. Apologies - we'll get more clarity soon.

[2014-04-08 19:27] aaronschachter opened #1693 "Reportback Form: Radio styles"
Depends on #1647, which is in review.

CSS is makin these radios look all cray.

To enable this locally (after #1647 is merged):
- Run `drush -y updb` (or pull from stage)
- Navigate to node/362/edit
- Under "Reportback Fields", check the checkbox.
- Save the node

---

![screen shot 2014-04-08 at 3 25 54 pm](https://cloud.githubusercontent.com/assets/1236811/2648144/dcde2702-bf53-11e3-9939-8d5e88

[2014-04-08 19:36] #1357 closed, assigned to blisteringherb

[2014-04-08 19:37] blisteringherb opened #1695 "Finder: Multiple Select Issue"
When selecting multiple causes, the causes aren't aggregated properly in the query.

[2014-04-08 20:00] barryclark commented on #1695
I think it's worth holding off on this for now. Multiple select isn't going to be needed for our first launch version so this isn't a priority. Right @julielorch?

[2014-04-08 20:01] barryclark commented on #1695
Just noticed it's already fixed, nevermind. We'll be syncing on this stuff tomorrow morning.

[2014-04-08 20:21] barryclark commented on #1457
@angaither Could you take a look at this one? Looks like a quickie and we'd love to get it knocked out this sprint. Thanks!

[2014-04-08 20:32] #1539 closed, assigned to DFurnes

[2014-04-08 21:01] #1695 closed, assigned to cjcodes

[2014-04-08 21:09] mikefantini commented on #1647
@aaronschachter after quantity before why is this important to you... are you pushing this to production? does it need styling first or will it look alright?

[2014-04-08 21:11] aaronschachter commented on #1647
This won't be enabled on production until the node is configured to display it.  yes it will need styling because it looks like shit, see #1693.

[2014-04-08 21:18] mikefantini commented on #1457
@angaither if we could get this in before deploy tomorrow evening that would be great

[2014-04-08 21:26] aaronschachter opened #1700 "Reportback Field documentation"
Update the `dosomething_reportback` README with documentation on the `reportback_field` functionality and storage.

[2014-04-08 21:27] aaronschachter opened #1701 "Reportback Form: Custom field validation"
Refs #1647

We've built the ability to create a custom reportback form field(s) from within the campaign edit form.  It can be either a textfield, radios, or checkboxes based on whatever is set in the node form, under "Reportback Fields".

Would be great to have clientslide validation in order to prevent the behavior of submitting without answering, and having the page reload without form open, an

[2014-04-08 21:31] aaronschachter opened #1702 "Message Broker write warning upon reportback"
Reported back on staging on node/17:

Warning: fwrite() expects parameter 1 to be resource, null given in PhpAmqpLib\Wire\IO\StreamIO->write() (line 61 of /var/www/beta.dosomething.org/releases/20140408203302/html/profiles/dosomething/libraries/messagebroker-phpli...).

![screen shot 2014-04-08 at 4 54 07 pm](https://cloud.githubusercontent.com/assets/1236811/2649569/0df25dca-bf65-11e3-88a6-94fb45

[2014-04-08 21:45] #1647 closed, assigned to aaronschachter

[2014-04-08 21:57] aaronschachter opened #1705 "Reportback view: Display custom field, values"
When reviewing a reportback, display the reportback_field label, and the user data, when applicable.

[2014-04-08 22:06] weerd opened #1706 "[Global] Styling for default pages within the site."
They be brokenz.

Need to address styling for all pages throughout the site that don't have a specific template and Drupal defaults to chucking the content into the $content vars in the page.tpl.php.

[2014-04-08 22:07] mikefantini commented on #1693
@barryclark is it possible to get this done next week?

[2014-04-08 22:09] weerd commented on #1206
Will be addressing this, AND reworking the markup to what we dictated during our last fender meeting w/ @mikefantini. Will eliminate columnar markup in favor of floated mini boxes of content.

[2014-04-08 22:12] #1702 closed, assigned to deezone

[2014-04-08 22:14] aaronschachter commented on #1655
what is this issue?

[2014-04-08 22:15] mikefantini opened #1707 "action page (plan it) - space above location finder"
clean up the spacing of the location finder so it's consistent with spacing between other sections:

https://cloud.githubusercontent.com/assets/6330971/2609208/99fa1bf0-bb73-11e3-894e-3556384b7eed.png

[2014-04-08 22:26] DFurnes commented on #1683
Fixed by #1708.

[2014-04-08 22:26] #1683 closed, assigned to DFurnes

[2014-04-08 22:26] DFurnes commented on #1682
Fixed by #1708.

[2014-04-08 22:26] #1682 closed, assigned to DFurnes

[2014-04-08 22:35] DFurnes opened #1709 "[Finder] Higher resolution images"
We should be using higher resolution images for the default tiles (400x400) to avoid ugly scaling. Likewise, we need a bigger image for the "big" tile (720x720).

[2014-04-08 22:36] aaronschachter opened #1710 "Reportback Field: Dynamic radio options"
Allow for dynamic options: Currently, a Reportback field with type == 'radios' has hardcoded options.  Allow key|label values to be added similar to how Drupal renders select lists for Fields (and hopefully find the same code that translates the key|value and line breaks into the relevant $options array).

[2014-04-08 22:37] DFurnes opened #1711 "[Finder] Server-side blank slate"
We need to generate a "blank slate" for the initial homepage tiles and layout on the server. This will keep the page crawlable for search engines.

[2014-04-08 22:38] DFurnes commented on #1711
Partially fixed by #1708 (hard-coded in home template, definitely not a permanent solution).

[2014-04-09 14:26] aaronschachter opened #1715 "Zendesk admin form: Strict warnings"
Drupal don't like all this stuff in one line.

Strict warning: Only variables should be passed by reference in dosomething_zendesk_admin_page() (line 9 of /vagrant/lib/modules/dosomething/dosomething_zendesk/dosomething_zendesk.admin.inc).

Strict warning: Only variables should be passed by reference in dosomething_zendesk_admin_page() (line 15 of /vagrant/lib/modules/dosomething/dosomething_zende

[2014-04-09 14:34] aaronschachter opened #1717 "Signup Form: PHP notice undefined variable"
Doe.

Notice: Undefined variable: label in dosomething_signup_user_signup_data_form() (line 185 of /vagrant/lib/modules/dosomething/dosomething_signup/dosomething_signup.signup_data_form.inc).

[2014-04-09 14:36] aaronschachter opened #1718 "Reportback Field: PHP Notice Undefined property"
Notice: Undefined property: ReportbackEntity::$rbid in ReportbackEntity->getFieldValue() (line 96 of /vagrant/lib/modules/dosomething/dosomething_reportback/includes/dosomething_reportback.inc).

[2014-04-09 14:43] #1715 closed, assigned to aaronschachter

[2014-04-09 14:43] #1717 closed, assigned to aaronschachter

[2014-04-09 15:04] aaronschachter opened #1719 "User registration: PHP Notice undefined index for mobile"
Created a new user without a mobile locally, and PHP Notice:

Notice: Undefined index: mobile in dosomething_user_mbp_request() (line 486 of /vagrant/lib/modules/dosomething/dosomething_user/dosomething_user.module).

[2014-04-09 15:05] aaronschachter opened #1720 "Signup Data Form: PHP Warning for Last Name"
If the user doesn't have a last name and accesses Comeback Clothes:

Notice: Undefined index: und in dosomething_signup_user_signup_data_form() (line 169 of /vagrant/lib/modules/dosomething/dosomething_signup/dosomething_signup.signup_data_form.inc).

[2014-04-09 15:09] aaronschachter opened #1721 "Reportback PHP Notice: Undefined property $field"
Created new user and reported back on Comeback Clothes.  PHP Notice:

Notice: Undefined property: ReportbackEntity::$field in dosomething_reportback_set_field_values() (line 562 of /vagrant/lib/modules/dosomething/dosomething_reportback/dosomething_reportback.module).

[2014-04-09 15:22] barryclark opened #1722 "Campaign Finder - Single select filters"
The user should only be able to to select one thing from each category.

When a 2nd item is selected it should remove the previous item.

[2014-04-09 15:24] weerd commented on #1206
Chatted with @mikefantini and will only address the spacing between the "Find a Location" block and the items above it. Will address markup at a later date; probs best to address it during a refactoring sprint.

[2014-04-09 15:26] barryclark opened #1723 "Campaign Finder - Filter items in Cause not being deactivated correctly"
When you select a filter in Time or Type it doesn't deactivate links with no results in the filters in Cause.

Selecting "Donate Something" as shown below should deactivate some of the filters in Cause and Time.

![image](https://cloud.githubusercontent.com/assets/692762/2657297/e7c8062c-bffa-11e3-94b1-3ed3f19d4861.png)

[2014-04-09 15:33] #1457 closed, assigned to angaither

[2014-04-09 15:39] aaronschachter opened #1724 "Campaign Action Guide PHP Strict Warning"
Split out `render(node_view($action_guide));` to make Dries happy.

Strict warning: Only variables should be passed by reference in dosomething_campaign_preprocess_action_page() (line 244 of /vagrant/lib/modules/dosomething/dosomething_campaign/dosomething_campaign.theme.inc).

[2014-04-09 15:46] #1722 closed, assigned to DFurnes

[2014-04-09 15:52] barryclark opened #1727 "Campaign Finder - Selecting a Type filter clears inactive filters in Type"
To replicate: Select Homelessness + Poverty from Cause, then select Host An Event from Type. It now clears all of the inactive filter items from the Type... the desired result is that they should stay inactive.

![image](https://cloud.githubusercontent.com/assets/692762/2657637/114bf6ee-bfff-11e3-867b-ea488af77dfd.png)

![image](https://cloud.githubusercontent.com/assets/692762/2657607/b6ae921e-bf

[2014-04-09 16:02] barryclark opened #1728 "Campaign Finder - Update Time filters"
Up to 1 hour,
2–5 hours,
5 hours +

[2014-04-09 16:06] barryclark opened #1729 "Campaign Finder - "show more" pagination"
Include a "Show More" button if there are more campaign results, when the user clicks it should populate an additional 12 campaigns.

[2014-04-09 16:07] barryclark opened #1730 "Campaign Finder - Empty state"

[2014-04-09 16:07] barryclark opened #1731 "Campaign Finder - Network connectivity error state"
For when the user isn't online, solr search is down, etc.

[2014-04-09 16:09] barryclark opened #1732 "Campaign Finder - Mobile gallery view front-end pass"
In mobile view:
- [ ] ~~Get rid of descriptions~~
- [x] Reduce size of staff pic icon
- [x] Single column on mobile, two column on tablet
- [x] Remove underline on 'today' in headline
- [x] Adjust spacing and line height around filter title and subtitle

[2014-04-09 16:11] barryclark opened #1733 "Campaign Finder - Mobile filters front-end pass"
Mobile view should include:
- [x] Single column list for filters
- [x] Bigger click targets on filters
- [x] Filters in separate boxes (see screenshot below)

https://s3.amazonaws.com/uploads.hipchat.com/34218/297405/qe9QeMFYLQmqSti/mobile%20-%20boxes.JPG

[2014-04-09 16:27] #1658 closed, assigned to weerd

[2014-04-09 16:31] #1184 closed, assigned to weerd

[2014-04-09 16:31] #1592 closed, assigned to weerd

[2014-04-09 16:55] weerd commented on #1206
This ticket now refers specifically to the refactoring of the markup for the columnar blocks in Action page sections. The spacing was temporarily addressed in issue #1734

[2014-04-09 17:17] #1728 closed, assigned to DFurnes

[2014-04-09 17:33] #1718 closed, assigned to aaronschachter

[2014-04-09 17:33] #1721 closed, assigned to aaronschachter

[2014-04-09 17:33] #1724 closed, assigned to aaronschachter

[2014-04-09 17:49] #1707 closed, assigned to weerd

[2014-04-09 18:03] mikefantini commented on #1732
@barryclark @julielorch i believe we are keeping the two column campaign view on tablet though correct?

[2014-04-09 18:05] mikefantini commented on #1731
@julielorch please add copy you want for this state

[2014-04-09 18:07] mikefantini commented on #1730
@julielorch please provide copy you want

[2014-04-09 18:08] mikefantini commented on #1729
updated above... should be showing an additional 12 campaigns when user selects "Show More"

[2014-04-09 18:09] mikefantini commented on #1728
@julielorch shouldn't this be:
- Up to 1 hour
- 2-5 hours
- 10 hours

?

[2014-04-09 18:18] joolaay commented on #1732
@mikefantini this is what we discussed, yes. Preference to include CTA.

[2014-04-09 18:19] aaronschachter commented on #1476
This was fixed in #1576

[2014-04-09 18:19] #1476 closed, assigned to aaronschachter

[2014-04-09 18:20] mikefantini commented on #1732
great! just want to make sure that's documented as well.

[2014-04-09 18:21] aaronschachter commented on #1211
Duplicate of #1356

[2014-04-09 18:21] #1211 closed, assigned to aaronschachter

[2014-04-09 18:24] joolaay commented on #1728
I'd like more internal feedback on this category next week before launch.. For now we need it to be a bit more parallel, so close to Fantini's suggestion but we have to get the number out in front:

1 hour or less
2-5 hours
10 hours

[2014-04-09 18:26] joolaay commented on #1730
"Oh snap! We'll work on that. Want to try another combo?"

Or similarly cheesy - thoughts?

[2014-04-09 18:32] joolaay commented on #1731
"Ooof! We're not sure what's up? Maybe it's us, or it could be your internet connection. Want to try again in a few minutes?"

--or even zanier?

[2014-04-09 19:04] mikefantini commented on #1727
also happening with time category as well: http://screencast.com/t/aY3QXMs84Y3y

[2014-04-09 19:26] aaronschachter opened #1739 "Features cleanup: Move permissions into dosomething_settings"
For modules that are dependencies in `dosomething_user` only because we define the permissions there, let's move the definitions into `dosomething_settings` instead, so there aren't tons of extra dependencies in `dosomething_user.`

This would be especially useful for message broker when developing locally.  If we need to disable message broker locally to avoid errors because local setup is not co

[2014-04-09 19:32] #1691 closed, assigned to weerd

[2014-04-09 19:39] #1700 closed, assigned to aaronschachter

[2014-04-09 19:39] #1705 closed, assigned to aaronschachter

[2014-04-09 19:42] mikefantini commented on #1729
from the mocks: https://cloud.githubusercontent.com/assets/6331017/2639003/0fb53452-bebb-11e3-9fc1-fd254387ca83.jpg

[2014-04-09 19:42] mikefantini commented on #1679
closing this one since it's a duplicate of #1729

[2014-04-09 19:42] #1679 closed, assigned to DFurnes

[2014-04-09 19:55] #1719 closed, assigned to angaither

[2014-04-09 19:55] #1720 closed, assigned to angaither

[2014-04-09 20:20] weerd opened #1742 "[Campaign] Tweak scholarship callout on pitch page."
Shift the callout over so it doesn't fall on top of button on mobile.

[2014-04-09 20:21] #1742 closed, assigned to weerd

[2014-04-09 21:01] weerd commented on #1693
Isolated the fix to only the reportback modal. I was concerned that doing it more globally could bork other forms! I mentioned this in the PR.

Ideally this can get addressed more globally; likely for the refactoring run ;)

[2014-04-09 21:04] mikefantini commented on #1693
+1

[2014-04-09 21:25] aaronschachter opened #1746 "Dosomething Web Tests failing"
Occurring for both the Signup and Reportback web tests.

Complains about not able to find the `field_config` table.

An AJAX HTTP error occurred. HTTP Result Code: 200 Debugging information follows. Path: /batch?id=1700045&op=do StatusText: OK ResponseText: Additional uncaught exception thrown while handling exception.OriginalPDOException: SQLSTATE[42S02]: Base table or view not found: 1146 Table

[2014-04-09 21:29] #1693 closed, assigned to weerd

[2014-04-09 21:30] aaronschachter commented on #570
This is actually for the Dosomething Helpers Test.  Let's either fix this or just get rid of the test, since it doesn't actually have any tests.

![screen shot 2014-04-09 at 5 29 09 pm](https://cloud.githubusercontent.com/assets/1236811/2661516/093c13f6-c02e-11e3-8ea6-cb6c1e97a1e6.png)

[2014-04-09 21:37] deezone opened #1748 "Move Message Broker functionality to its own DS module"
Currently `dosomething_user_mbp_request()` handles requests from:
- `dosomething_user_user_pass_submit()`
- `dosomething_user_new_user()`
- `dosomething_signup_mbp_request()`
- `dosomething_reportback_mbp_request()`

Move `dosomething_user_mbp_request()` to its own DoSomething module: `dosomething_mbp.module` and adjust `dosomething_user_mbp_request()` calls to point to `dosomething_mbp_request()`

[2014-04-09 21:44] aaronschachter commented on #1748
It would make sense to store the Message Broker permissions in this module as well (they are currently defined in `dosomething_user`, causing the Message Broker to be a dependency for `dosomething_user` -- related #1739)

[2014-04-09 22:23] weerd commented on #597
Chatted with @Barry and @DFurnes and we decided best to backlog this issue for now given the other priorities etc.

[2014-04-09 22:24] barryclark commented on #597
Yea, backlogged. Let's chat about this @mikefantini.

[2014-04-09 22:56] deezone opened #1749 "Fatal error: Call to a member function publishMessage()"
As reported by @angaither

[2014-04-09 23:31] barryclark commented on #74
@angaither Still not heard back from USPS? We should maybe think about moving forward with another service.

[2014-04-10 14:12] angaither commented on #74
The only other service I found that seems to validate addresses is http://smartystreets.com/ It costs money.
![](http://f.cl.ly/items/0j3J0q3y3i111025320G/Screen%20Shot%202014-04-10%20at%2010.09.35%20AM.png)

I checked with a queens address however, and it didn't return the formatted 'range'
![](http://cl.ly/image/2F300y2E3l3O/Screen%20Shot%202014-04-10%20at%2010.12.14%20AM.png)

I'm not sure what

[2014-04-10 14:13] aaronschachter opened #1750 "Reportback field bug: Doesn't save on first submit"
Does save upon the 2nd update sbumission.

[2014-04-10 14:36] jonuy opened #1751 "Add custom report back field to Comeback Clothes SMS report back submission"
see: #1647

[2014-04-10 15:05] aaronschachter commented on #1751
For Comeback Clothes, the extra field should be passed into the `$values` array as:
`'dropoff_hm' => 1`, where 1 is Yes and 0 is No.

If you wanted to dynamically grab the question label, you could query `dosomething_reportback_field` for nid = 362 and name = 'dropoff_hm' and use the label column.  Or... just hardcode it.

[2014-04-10 16:07] aaronschachter commented on #1073
Duplicate of #1537

[2014-04-10 16:07] #1073 closed, assigned to aaronschachter

[2014-04-10 16:09] aaronschachter opened #1753 "Reportback post-delete functions"
Backlog, since only admin's can delete reportbacks.
- [x] Delete any records from `dosomething_reportback_file` and actually delete the files
- [ ] Delete any corresponding records from `dosomething_reportback_field_data`
- [ ] Delete any corresponding records in `flagging` (this item has been added since we've added reportback flagging)

[2014-04-10 17:14] barryclark opened #1755 "Add hiring easter eggs into dosomething.org"

[2014-04-10 17:26] #1750 closed, assigned to aaronschachter

[2014-04-10 17:48] aaronschachter opened #1756 "Update Zendesk tests"
Tests must be updated with changes made in `dosomething_zendesk_get_ticket_array`.

![screen shot 2014-04-10 at 1 47 38 pm](https://cloud.githubusercontent.com/assets/1236811/2671242/62622164-c0d8-11e3-9118-fe853d520a4d.png)

[2014-04-10 19:37] deezone commented on #1755
Details, details... oh wait, this is a public repo. Never mind :smile:

[2014-04-10 19:52] aaronschachter commented on #1746
Seems like the introduction of caching has caused this https://drupal.org/node/1645356.  still investigating.

[2014-04-10 19:58] mikefantini commented on #1727
@blisteringherb has this been fixed and pushed to staging?

[2014-04-10 19:59] barryclark commented on #1755
@DeeZone :)

Some fun easter egg comments in the HTML, meta tags, etc. The Zappos example was great!

[2014-04-10 20:01] mikefantini commented on #1733
trello card here: https://trello.com/c/t5ZdNgTe

[2014-04-10 20:09] mikefantini commented on #1727
nope I'm wrong, this is still an open issue

[2014-04-10 20:21] mikefantini commented on #1727
trello card here: https://trello.com/c/xSjUYzq1

[2014-04-10 20:24] aaronschachter commented on #1749
I haven't been seeing this, and I haven't seen it on staging either.  Is this just a result of the local setups not being up to date with the latest `message_broker_producer` code?

[2014-04-10 20:44] mikefantini opened #1758 "Campaign Finder - filters not responsive on IE8/XP"
When attempting to click a cause while running the website on Internet Explorer 8 on Windows XP, the links didn't do anything. They didn't change the campaigns shown below or even highlight when clicked.

https://trello.com/c/dOjwXb7D

[2014-04-10 20:52] aaronschachter commented on #1746
Tried turning off redis and varnish in my database locally, and also by commenting out from the dosomething.info as well.  Still no luck.

![screen shot 2014-04-10 at 4 52 12 pm](https://cloud.githubusercontent.com/assets/1236811/2673337/0e52d1d0-c0f2-11e3-9bfa-13ef0095c149.png)

An AJAX HTTP error occurred. HTTP Result Code: 500 Debugging information follows. Path: /batch?id=1700065&op=do StatusT

[2014-04-10 20:53] angaither commented on #1758
WHO CARES
http://windows.microsoft.com/en-us/windows/end-support-help

[2014-04-10 21:04] mikefantini commented on #1758
@barryclark @Bladt your call; it was my understanding that we were still aiming to support XP users

[2014-04-10 21:16] aaronschachter commented on #1746
Commented out all of the caching section in settings.php.  Ran for longer, and now got this old familiar error:

An AJAX HTTP error occurred. HTTP Result Code: 200 Debugging information follows. Path: /batch?id=1700067&op=do StatusText: OK ResponseText: Fatal error: Maximum execution time of 30 seconds exceeded in /vagrant/html/includes/registry.inc on line 0

Upped the execution_time to 90 in php

[2014-04-10 21:29] aaronschachter opened #1759 "Remove mailsystem from profile and make"
According to @DeeZone we don't need this module. so let's kill it.

[2014-04-10 22:34] mikefantini opened #1760 "campaign finder - filter disabling behaving incorrectly"
Goal: prevent the user from choosing a combination of filters that would provide 0 results

The ideal situation for the finder interactions:
- cause is limited by selections that are made to time and type (but disregards selections that are made to cause)
- time is limited by selections that are made to type and cause (but disregards selections made to time)
- type is limited by selections that ar

[2014-04-11 13:36] weerd commented on #1760
I need to connect with @blisteringherb and confirm this is a bender issue and not a fender issue since the query that is sent to Solr is built in JS... we can chat further during standup :)

[2014-04-11 14:29] blisteringherb commented on #1723
@DFurnes Did some reorganizing of the code and merged my PR that fixed this issue in resolved #1744, so I'm going to close this.

[2014-04-11 14:29] #1723 closed, assigned to blisteringherb

[2014-04-11 16:44] aaronschachter commented on #1746
Hey @desmondmorris -- pinging you on this guy per our discussion this morning.  haven't attempted command line tests yet, was just running through the UI.  (which also completely dies on stage)

[2014-04-11 16:58] blisteringherb commented on #1760
Chatted w/ @weerd on the best way to fix this.  We'll need to keep track of both the first clicked and the last selected and then clear those once everything has been deselected.  Working on doing this now.

[2014-04-11 18:09] mikefantini opened #1762 "campaign finder - inconsistency of ordering filters"
See in the example below, when I select Homelessness + Poverty, Face to Face is disabled because there is no combination of campaigns that is Homelessness + Poverty _and_ Face to Face. However, if I _first_ select Face to Face, Homelessness + Poverty is _not disabled_ and so then when I go to select Homelessness + Poverty I get no results.

Homeless + Poverty selected, Face to Face disabled:
![ima

[2014-04-11 18:39] #1751 closed, assigned to jonuy

[2014-04-11 18:53] mikefantini commented on #1762
@blisteringherb I believe this may be related? if not, let me know and I'll create a new issue:

If "health" has been selected in combination with "5 hrs" and "take a stand" or "improve a space", "health gets immediately deselected in the cause menu. The same happens in combination of "10 hrs" and "Donate something". Seen on IE11, Chrome 33 and Firefox 28

[2014-04-11 18:53] mikefantini commented on #1762
trello card here: https://trello.com/c/9aBihtEI

[2014-04-11 20:21] weerd commented on #1733
These are all set, but I'm going to run the visual changes by @crystalruthbell before I do the PR. She has some additional quick modifications, and I'll add them to this issue.

[2014-04-11 22:01] weerd commented on #1732
Chatted with @crystalruthbell and since we're doing a single column for the campaign squares on mobile the descriptions have been added back in.

[2014-04-11 22:14] #1762 closed, assigned to blisteringherb

[2014-04-13 15:09] mikefantini commented on #1727
this then results in previous selections being de-selected: http://screencast.com/t/IF3UGSjRvn

but again, we just need to solve the root issue and then hopefully this bug will never re-appear

[2014-04-13 15:30] mikefantini opened #1764 "Campaign Finder - when I change a selection, grayed out options don't reset"
If I do the following combination:
- \+ Environment
- \+ Improve a Space
- \- Environment
- \- Improve a Space

I am now unable select Face to Face, even though there is _nothing else selected_. Clearly there is something in the database that is tagged with Face to Face, so I should be able to select it.

Video here: http://screencast.com/t/bM6bUKaRiZ0

Not sure if this is related to other solr is

[2014-04-13 15:44] mikefantini opened #1765 "Campaign Finder - can't switch between choices within a category after second category selected"
If I do the following combination:
- \+ 1 hour or less
- \+ Donate Something

I am able to do the campaign Fantini & "The Test". So we know that 1 hour or less + Donate Something yields results and should be an accepted combination.

However, if I do:
- \+ Make Something
- \+ 1 hour or less
- \- Make Something

I am then unable to select Donate Something even though we know the combination of  1 h

[2014-04-13 15:51] mikefantini commented on #1764
Easier combination: Select Education. 5+ hours then becomes inactive. Then de-select Education, and 5+ hours remains inactive. Even though, again I should be able to select 5+ hours since there are campaigns that have 5+ hours in the database.

[2014-04-14 14:16] #1518 closed, assigned to nobody

[2014-04-14 14:56] marahml opened #1766 "Redirect FAQ page"
Pls redirect this

https://www.dosomething.org/faqs

To this:

https://www.dosomething.org/about/faq

[2014-04-14 15:04] weerd commented on #1732
I've added some of the items Crystal requested to update into the checklist above ;)

[2014-04-14 15:36] crystalruthbell opened #1769 "Darken footer text color"
Please adjust both the footer nav and subnav to a darker gray values consistent with use elsewhere. The colors should be consistent between mobile and desktop.

Here is a mock for reference, but feel free to diverge a bit, this is flexible...

![footer](https://cloud.githubusercontent.com/assets/6550604/2697142/97479836-c3ea-11e3-8f76-c386e66a67bf.jpg)

[2014-04-14 15:38] crystalruthbell commented on #1177
Hey @mikefantini, this is a pretty obvious bug, is there a way we can bump it up in priority?

[2014-04-14 15:41] #1732 closed, assigned to DFurnes

[2014-04-14 15:41] #1733 closed, assigned to DFurnes

[2014-04-14 15:44] crystalruthbell opened #1770 "Move down campaign name and tagline on mobile action page"
Need to build in some logic to rework line spacing on positioning on mobile. Here are some more comments about the specific designs:

![screen shot 2014-04-14 at 11 43 33 am](https://cloud.githubusercontent.com/assets/6550604/2697215/ac2389a8-c3eb-11e3-98e2-3905620aa8e9.png)
- need to tighten up line spacing between different elements so everything fits closer to bottom of the image.

![screen sho

[2014-04-14 16:02] crystalruthbell opened #1771 "Remove "nipple" from tips that only have one listed"
Nancy's descriptive word choice, not mine.

When there is only one tip lets not have the selection arrow show up.

Here is an example:
https://www.dosomething.org/campaigns/petition-plates
![screen shot 2014-04-14 at 12 00 25 pm](https://cloud.githubusercontent.com/assets/6550604/2697424/13827a12-c3ee-11e3-9348-c3d47653918c.png)