[2016-03-28 17:15] angaither commented on #5031
query

[code]

I'm not sure if `access` is last login, or an updated profile date. If it's the last login date, then I don't think we have an `updated` attribute on the profile

It seems like there's two where we are missing photos from the query above

[2016-03-28 17:31] namimody commented on #5031
After discussion with @angaither, we should test this on Thor with a fake profile and created by photo.

[2016-03-28 18:58] angaither commented on #6275
Seeing a lot of errors when trying to get to users this way

[2016-03-28 19:47] #6275 closed, assigned to katiecrane

[2016-03-29 13:28] mshmsh5000 opened #6331 "Patch international branch with security updates"
See DoSomething/devops#87

[2016-03-29 15:04] angaither opened #6332 "Deploys are failing b/c of filed collection"
## _BUG_
#### Current Behavior

field collection deploy causes and error

[code]

[2016-03-29 15:06] angaither commented on #6332
we are using the [dev branch of the module with a patch](https://github.com/DoSomething/phoenix/blob/133dcec843bd6c7fa8ece88ac413d810fce9edd6/lib/profiles/dosomething/drupal-org.make#L82)

[code]

[2016-03-29 15:07] angaither commented on #6332
looks like we can use version `7.x-1.0-beta11` because the dev version also came out with a `7007` schema update

[2016-03-29 15:16] #6332 closed, assigned to angaither

[2016-03-30 17:47] chloealee commented on #6274
reopening because non admin users are still able to access flagged reportbacks and thus, we reverted #6293.

[2016-03-30 19:12] namimody opened #6338 "Does the Admin Add RB Form Need a Field for Campaign Run?"
## _FEATURE OVERVIEW_
#### User Story

Leads and the impact team use this form decently often to add reportbacks for members. Does this page need a field for run ID?

https://thor.dosomething.org/admin/users/rb/add
#### Why This Matters

Reportbacks must be associated with the correct run.

[2016-03-30 19:15] namimody opened #6339 "Planet Zombie Redirect"
We need dosomething.org/zombie to go to https://www.dosomething.org/us/campaigns/planet-zombie (currently unpublished) by Friday.

Thanks so much Matt!

[2016-03-30 19:31] chloealee commented on #6318
@weerd I actually just tried this with the new code from #6337 and I don't think it is caching! Is it cool to close out this issue once I merge and test to make sure everything is ok with #6337 ?

[2016-03-31 14:58] #6274 closed, assigned to chloealee

[2016-03-31 15:13] chloealee commented on #6318
@weerd confirmed that #6337 works on staging too and the cache doesn't reveal flagged reportbacks/reportback items to non admin users! Going to close this out unless there's another scenario I'm not thinking about with the cache?

[2016-03-31 15:15] weerd commented on #6318
hokay!

[2016-03-31 15:16] #6318 closed, assigned to chloealee

[2016-03-31 19:47] chloealee commented on #6326
@angaither where is https://thor.dosomething.org/us/node/6556 located in the code? I was expecting something like `node--campaign.tpl.php` but can't find the same for `campaign_run`.

[2016-03-31 20:07] #6319 closed, assigned to chloealee

[2016-03-31 20:18] angaither commented on #6326
@chloealee there might not be a template for this node since we didn't customize the view.
you would have to create a tpl following the same pattern that exists for `node--campagn.tpl.php` to get a link to the campaign to show up

[2016-03-31 20:21] chloealee commented on #6326
@angaither ah got it - thanks!!

[2016-04-01 14:49] mshmsh5000 commented on #6339
Closed via Fastly config v68.

[2016-04-01 14:49] #6339 closed, assigned to mshmsh5000

[2016-04-01 14:55] chloealee commented on #6326
@namimody would you rather it just redirect back to the campaign page (https://www.dosomething.org/us/node/5411/closed) or look the same as the screen shot above with two new links?

[2016-04-01 15:42] angaither commented on #6326
@chloealee let's just make the campaign title link to the campaign.
since when you make a run when you open campaigns now, not to close them

[2016-04-01 15:47] chloealee commented on #6326
@angaither cool sounds good!

[2016-04-04 17:03] angaither commented on #6338
yes. it does.

[2016-04-04 17:49] #6317 closed, assigned to chloealee

[2016-04-04 18:45] #6338 closed, assigned to chloealee

[2016-04-04 20:12] chloealee commented on #6328
@angaither should we be able to grab multiple runs at a time? If so, I'll make the param plural (to `runs`).

[2016-04-04 21:24] chloealee commented on #6328
@angaither to clarify - do you also want the `runs` param to be added to the `/reportbacks` endpoint? Not sure if that's what you mean in the title of this issue so want to double check before I submit the PR!

[2016-04-05 02:46] mikefantini opened #6344 "Bulk exclude backlogged reportbacks on node 362"
## _FEATURE OVERVIEW_
#### User Story

As an admin, I want all fids on node 362 with a quantity under 200 to be marked as excluded before it relaunches on Thursday.
#### Additional Information (optional)

Campaigns team was trying to go through the backlog and the number of reportbacks went from ~600 to ~1500. Got these numbers from Lizzy. 600 felt doable, 1500 seems unreasonable between now and t

[2016-04-05 14:58] chloealee commented on #6344
@mikefantini I'm not sure what you mean by all "fids with a quantity under 200 to be marked as excluded" - isn't quantity attached to reportbacks, not reportback items?

Also, admins review these reportbacks at `/node/362/rb`?

[2016-04-05 15:32] namimody commented on #6326
Hi @angaither and @chloealee! Apologies I was OOO for this convo. The link to the campaign page is GREAT (can't wait to show leads this at tech/campaigns sycn tomorrow) but I do think we need a link to the closed view of the campaign as well. Runs are created for opening a campaign, and run content is populated for closing a campaign, so there should be an easy way to access the closed state as we

[2016-04-05 15:35] mikefantini commented on #6344
@chloealee right sorry I guess the FIDs are what need to be marked as excluded and we should do that for any that are currently pending and associated with RBIDs with a quantity under 200

[2016-04-05 15:44] #6314 closed, assigned to chloealee

[2016-04-05 15:50] chloealee commented on #6326
@namimody sounds good to me! Not as familiar with the campaign flow as I should be. When a campaign lead closes the campaign run, does the information added for the closed state populate `/node/:campaign_id/closed` (should this url pattern be the link to the closed view of the campaign?)?

[2016-04-05 16:38] namimody commented on #6344
From what I understand, four things need to happen:
- all FIDs associated with a RB with a quantity under 200 get marked as "excluded"
- these photos no longer appear in the queue
- these RBIDs should have a status of 0 in the DB
- FIDs associated with RBIDs with a quantity 201 and over should still be pending and appear in the inbox with a status of NULL

Might also be worth checking if there are

[2016-04-05 16:41] mikefantini commented on #6344
@namimody @chloealee one caveat to the above, we only want FIDs that are currently pending and quantity under 200 to be marked as excluded.

i.e. if an FID is already approved, we don't want it to change to be excluded.

[2016-04-05 16:42] mikefantini commented on #6344
Also if the RBID is already 1 we don't it to change to 0.

[2016-04-05 16:43] namimody commented on #6344
Thanks @mikefantini! So then this work should only touch RBIDs with status NULL? cc @chloealee

[2016-04-05 17:02] chloealee commented on #6344
@mikefantini @namimody should this be ONLY for node 362 or for all campaign nodes?

[2016-04-05 17:20] namimody commented on #6344
Only 362 @chloealee!

[2016-04-05 17:21] chloealee commented on #6344
cool, thanks @namimody !

[2016-04-05 17:49] mikefantini commented on #6344
@namimody I'm pretty sure that flagged status can stay 0 or 1 for a file that is pending. Consider if it's a second file on an existing reportback that had a file that was previously reviewed.

i.e. fid 1 is approved and rbid flagged status is now 0. fid 2 (2nd file on the same reportback) is pending but rbid flagged status is still 0. So I'm pretty sure you need to look for all files with status

[2016-04-05 18:16] lkpttn opened #6347 "Forge 6.7 Modal markup changes"
## **BUG**
#### Current Behavior

Forge 6.7 messes up the post-signup modals. Competition, school picker and sign-up reason modals are affected.
#### Desired Behavior

It should look pretty and organized. Adding a `-emphasized` flag to the heading provides a fix, but we also need to resize/remove the upper right skip button.

We should also change the markup for the facts modal to use the emphasiz

[2016-04-05 18:20] namimody commented on #6344
Ohh now I follow @mikefantini -- so even if we make mark files of partially reviewed reportbacks as excluded, their RBID status will stay 0 or 1. Therefore, I think should be comprehensive?
- all not yet reviewed FIDs associated with a RB with a quantity under 200 get marked as "excluded"
- these photos should no longer appear in the queue
- these RBIDs should have a status of 0 or 1 in the DB (de

[2016-04-05 18:22] DFurnes commented on #6347
Just noting here that this is specifically an issue on the unmerged #6334 PR.

[2016-04-05 19:01] namimody commented on #6326
Thanks @chloealee! The closed state can be viewed here:

https://www.dosomething.org/**translationabbreviation**/node/**NID**/closed

@angaither does that sound good to you?

[2016-04-05 19:08] angaither commented on #6326
@namimody does what sound great? adding a link to the closed state? SURE!
do you want it to show up always, or only when the run is closed?

[2016-04-05 19:14] smacsonstacks opened #6348 "Adjust responsive parameters"
## _BUG_
#### Current Behavior
- Nav: At screen width 775px on Mac>Chrome/658px on Windows>Chrome, the Search box and Log In link drop to an awkward position below and to the right of the rest of the navigation_menu.
- Banner: Below 767px on Mac>Chrome/750px on Windows>Chrome the background img flips 90 degrees. The stored img it’s pulling is flipped this way. Just looks awkward.

Occurs whether a

[2016-04-05 19:16] namimody commented on #6326
Woo! And I'd like it to show up always @angaither! Campaign leads often populate closed states before the run officially closes :)

[2016-04-05 19:41] smacsonstacks opened #6349 "Ensure date populates in modal shipment form"
## _BUG_
#### Current Behavior
- If you order a bottle of Michael's Secret Stuff and then click on the link again, a modal pops up telling you you already submitted this form on x date. However, instead of populating the date, the texts says "{submitted}".
#### Desired Behavior
- Should populate date ordered instead of "{submitted}"
#### Steps to Replicate
- Click the "Your own free bottle of Mich

[2016-04-05 19:53] smacsonstacks opened #6350 "Add text to campaign tip #3"
When logged in user on https://staging.dosomething.org/us/campaigns/space-jam page gets to Step 3: DO IT- all of the campaign tips have `<p>` text except `li id=tip-3`: Drink Michael's Secret Stuff.

Looks strange when browser is large and all other tips have text in the tab.

![image](https://cloud.githubusercontent.com/assets/18271396/14295995/0df36066-fb46-11e5-915c-809d4cd19a7a.png)

[2016-04-05 20:10] lkpttn opened #6351 "Forge 6.7 Inverse Banner Markup"
## **BUG**
#### Current Behavior

Only for Forge 6.7! No margins or padding between the banner and the next `<h>` element
#### Desired Behavior

Should be consistent with the other campaign template sections
#### Steps to Replicate

Only seems to appear on SMS campaign Step 2.
#### Relevant Screenshots + Links

![screen shot 2016-04-05 at 4 07 15 pm](https://cloud.githubusercontent.com/assets/1865

[2016-04-05 20:14] smacsonstacks opened #6352 "RB img upload error doesn't clear"
## _BUG_
#### Current Behavior
- In Step 4: PROVE IT section of campaigns page, noticed an issue with uploading a picture. If an appropriately sized (480x480) pic is uploaded and then the user tries to upload a pic that is too small, the correct error message appears. Issue: the error message does not go away until you refresh the screen even if you upload a new, appropriately sized picture. In Ch

[2016-04-06 15:20] namimody commented on #5876
Hi @angaither and @chloealee -- after talking about this with @mnelson338 and the campaigns team -- this might actually be a more confusing configuration - Micah now has to go into each translations tab and scroll to the bottom to see if a campaign is published in a translation :/

Would it be possible to return the table to looking like this:
https://cloud.githubusercontent.com/assets/12396076/11

[2016-04-06 16:16] chloealee commented on #6326
@namimody all set! Added with #6354.

[2016-04-06 18:01] mikefantini commented on #5876
Yeah so this is what we would want this to look like in order to clean this up:

![image](https://cloud.githubusercontent.com/assets/6330971/14327328/c16c23bc-fbff-11e5-86c1-7a4fa7b29165.png)

Key elements:
1. Node status. Indicates whether the node itself or published or not. Options for the value in that slot are Published or Unpublished.
2. Translation status. Indicates whether a translation on

[2016-04-06 18:03] chloealee commented on #6326
@namimody shoot I didn't refresh to see that you opened this otherwise I would have said "Fixes" in my PR instead of "Refs"! Closing this with the merge from #6354.

[2016-04-06 18:16] angaither commented on #6344
this failed on thor

[code]

[2016-04-06 18:46] chloealee commented on #6344
@angaither I'm getting these errors now too:

[code]

Do you know why these files might be triggered?

[2016-04-06 18:55] angaither commented on #6344
@chloealee where are you seeing this?

[2016-04-06 18:59] chloealee commented on #6344
@angaither when I run `drush up db -y` this is the only error now returning (I got rid of the other error because I realized when I was cleaning up the code, I accidentally deleted `rb.rbid` from the `SELECT` statement).

[2016-04-06 20:13] chloealee commented on #6344
@angaither I got everything to work but that error still pops up - is it okay to submit another PR even with this error?

[2016-04-06 20:18] angaither commented on #6344
@chloealee yeah

[2016-04-06 20:24] #6344 closed, assigned to nobody

[2016-04-06 23:07] mikefantini commented on #6344
Just leaving some notes here:

First the great news: my new reportbacks not on the run were not touched. Woo.

Now some funkiness:

When I went to review reportbacks on node 362 it initially seemed like there were still thousands of images:

![image](https://cloud.githubusercontent.com/assets/6330971/14335363/8d8ae104-fc28-11e5-8641-d18342e28979.png)

I then went to actually review what was left i

[2016-04-07 14:41] chloealee commented on #5876
thanks @namimody and @mikefantini ! So, here's what needs to be changed:
1. Add comment under Node status to read "Translations are only published and live to the public if the   node is published as well. Use the node status to determine if a translation is published."
2. Translation status. Change status options to Published, Unpublished, or Not translated.

Did I get everything?

[2016-04-07 14:59] namimody commented on #5876
Hi @chloelee! 2 looks right to me. I think for the node status, @angaither
mentioned that we should keep the node published status, but not add the
help text because that's specific to our use case. Without the help
text, this patch is more likely to be pulled into Drupal. Cc @mikefantini
to confirm as well

On Thursday, April 7, 2016, Chloe Lee notifications@github.com wrote:

##

Namita (Nami) M

[2016-04-07 15:02] chloealee commented on #5876
@namimody ah okay - makes perfect sense! Thanks!

[2016-04-07 15:22] mikefantini commented on #5876
Yeah @chloealee @namimody we're no longer going to have the note "Translations are only published and live to the public if the node is published as well. Use the node status to determine if a translation is published."

[2016-04-07 15:28] chloealee commented on #5876
@angaither @sergii-tkachenko should I submit a new patch for this in the same [issue](https://www.drupal.org/node/2428565) we posted as last time? I don't think we should since we fixed the issue in the last patch and this would be changing it to not follow the request in the issue. Do we create a new issue and submit it there?

[2016-04-07 15:32] sergiitk commented on #5876
+1 For the new issue.

[2016-04-07 16:30] chloealee commented on #5876
great, thanks @sergii-tkachenko ! Here's the [new issue](https://www.drupal.org/node/2702055) with patch attached. I'll create a PR to get this in our code now.

[2016-04-07 17:24] mikefantini commented on #3822
And a reminder:

Partners won’t actually see the active tab. Instead they will just have access to actually go to https://www.dosomething.org/us/node/2461/active

[2016-04-07 17:30] angaither commented on #6328
@chloealee signups and reportbacks

[2016-04-07 21:02] weerd opened #6357 "Campaigns endpoint returns random nodes if id matches"
## _BUG_
#### Current Behavior
- A request to the `/campaigns` endpoint with a seemingly valid id such as:

[code]

Will return a response, however the above is a node id for a fact node and not a campaign.
#### Desired Behavior
- The campaigns endpoint should return an appropriate not found API error response if it id is not for an actual campaign node.
#### Steps to Replicate
- Hit the above end

[2016-04-08 13:55] chloealee commented on #5876
Here is the [link](https://github.com/DoSomething/phoenix/issues/5876) to the issue. cc @sergii-tkachenko

[2016-04-08 13:56] sergiitk commented on #5876
@chloealee Yes, I already commented on it.

[2016-04-08 13:59] chloealee commented on #5876
@sergii-tkachenko ah I see, you wanted me to add the link to the [patch](https://www.drupal.org/files/issues/entity_translation-adds_node_status_changes_to_unpublished_and_adds_translation_status_to_header-2702055-3-7.43.patch).

[2016-04-08 14:10] #5876 closed, assigned to chloealee

[2016-04-08 15:05] chloealee commented on #6328
cool, thanks @angaither ! I don't think `/reportbacks` has the `campaigns` param like `/signsup` do - should I add that too or just the `runs` param?

[2016-04-08 15:07] angaither commented on #6328
I thought [campaign](https://github.com/DoSomething/phoenix/wiki/API#optional-query-parameters-3) was an optional param on reportbacks?

[2016-04-08 15:36] DFurnes commented on #6347
Closing, as this is fixed in #6334 now.

[2016-04-08 15:36] DFurnes commented on #6351
Closing, since this was fixed in #6334.

[2016-04-08 15:36] #6351 closed, assigned to DFurnes

[2016-04-08 15:36] #6347 closed, assigned to DFurnes

[2016-04-08 15:42] #6326 closed, assigned to chloealee

[2016-04-08 20:14] #6301 closed, assigned to chloealee

[2016-04-11 16:01] lkpttn opened #6363 "Inverse banner padding on mobile sized browsers."
## **BUG**
#### Current Behavior

On mobile, the Step 4 inverse banner pattern has incorrect padding.
![screen shot 2016-04-11 at 11 55 39 am](https://cloud.githubusercontent.com/assets/1865372/14433586/da7594fc-ffdc-11e5-92f5-987b5c09c1f0.png)
#### OS/Browser (optional)

Mobile sized browsers, all

[2016-04-11 16:03] lkpttn opened #6364 "Step 1 container lacking the padded modifier"
## _BUG_
#### Current Behavior

The Step 1 container is missing the `-padded` modifier, which leaves inconsistent space between it and other Step containers.
#### Desired Behavior

There should be more space between Step 1 and Step 2.
#### Relevant Screenshots + Links

![screen shot 2016-04-11 at 11 53 07 am](https://cloud.githubusercontent.com/assets/1865372/14433673/44f9d81a-ffdd-11e5-999f-cd33e

[2016-04-11 16:36] #6166 closed, assigned to chloealee

[2016-04-11 16:46] DFurnes commented on #6363
Tricky! So this is happening because we switched container spacing to use margins rather than padding. On mobile, the [container block's margin is collapsing and being lost outside the container](https://cloud.githubusercontent.com/assets/583202/14434806/d104209a-ffe2-11e5-8c25-8ab73f73b875.png)... on desktop, this doesn't happen because the `float: left;` on the `.container > .wrapper` creates a

[2016-04-11 16:54] DFurnes commented on #6363
@weerd @sbsmith86 I put up a quick fix for this in #6365. Let me know if either of you can think of any better solutions!

[2016-04-11 17:13] chloealee commented on #5365
@mikefantini do you know if this is still happening? I tried to replicate this by signing up with a new account but didn't pop up for me:
![screen shot 2016-04-11 at 1 12 13 pm](https://cloud.githubusercontent.com/assets/9019452/14435693/22c26af0-ffe7-11e5-8bc0-300b0b2964cf.png)

[2016-04-11 17:20] mikefantini commented on #5365
@chloealee in order to trigger this error the MessageBroker config on phoenix needs to be set up in a specific way. I can't recall what that needs to be missing in the config for this error to be triggered. @DeeZone do you recall what causes this error to show up?

[2016-04-11 17:35] chloealee commented on #5393
@jonuy @aaronschachter I can work on this today! Should this be broken out into two issues? Happy to tackle both but would love to chat about [additional formatting](https://github.com/DoSomething/phoenix/issues/5393#issuecomment-146015949) so I make sure I understand correctly. Let me know!

[2016-04-11 18:14] jonuy commented on #5393
@chloealee I actually don't think we ended up using this endpoint on the Android app once we got away from the interest groups idea. And I can't seem to find anywhere we're using it in iOS right now, but @aaronschachter should probably confirm that.

Either way, it's still probably a thing we'll want to clean up and do, so I'd say go for it. And if you've got the bandwidth to also do the index que

[2016-04-11 19:01] aaronschachter commented on #5393
We query the News API for the list of Cause terms in iOS -- so changes to the `terms` endpoint won't break anything there.

@jonuy can you confirm for sure we don't use the `terms` endpoint in Android, just to be sure any changes to this endpoint won't break things?

[2016-04-11 19:31] chloealee commented on #6327
@namimody do we want to get rid of the `SUBMITTED` column as well? Also, for this PR, I'm going to add the User's First Name as well (Refs #6323). Maybe this should go between `QUANTITY` and `OP` like the below?
![screen shot 2016-04-11 at 3 30 57 pm](https://cloud.githubusercontent.com/assets/9019452/14439685/6f277d1e-fffa-11e5-8f95-ce433a29eaae.png)

[2016-04-11 19:43] mikefantini commented on #6235
Still waiting to hear from campaigns team on this.

[2016-04-11 19:46] mikefantini commented on #4033
Chatted with campaigns team and they'd rather just go through these. So we're not going to do this work.

[2016-04-11 19:46] #4033 closed, assigned to nobody

[2016-04-11 19:57] jonuy commented on #5393
Yea, Android doesn't use it right now.

[2016-04-11 20:35] deezone commented on #5365
@chloealee Add a bogus value to the Message Broker config: `/admin/config/services/message-broker-producer/mq-settings` to any of the fields. For example:

`host`: `10.100.25.137` <- valid
`host`: `66.666.66.666` <- invalid

The error message is being generated here: https://github.com/DoSomething/message_broker_producer/blob/master/message_broker_producer.module#L250

[2016-04-11 20:39] namimody commented on #6235
@mikefantini we should def be hearing next Wednesday from them!

[2016-04-11 20:47] #6363 closed, assigned to DFurnes

[2016-04-11 20:47] #6364 closed, assigned to DFurnes

[2016-04-11 21:57] chloealee commented on #6328
Reopening this issue - #6359 broke some things in Thor.

[2016-04-11 23:37] namimody commented on #6237
@mikefantini does it matter at all that this campaign is being reopened for a celeb partnership right now?

[2016-04-12 15:30] namimody commented on #6327
Hi @chloealee! A few thoughts, and cc @aaronschachter:
- I do think that adding the first name is a nice addition, I think it would also help reviewers see that one person uploaded multiple photos more easily! We should just keep #6323 open, because we still would not be showing the avatar. However, I _think_ that @angaither was wary about making changes outside of removing and rearranging columns

[2016-04-12 16:18] chloealee commented on #6327
thanks @namimody ! I think the first name shouldn't be a big deal because I'm just loading the user from the uid of the reportback. Confirming with @aaronschachter that shouldn't be that big of a deal re: @angaither 's concern of the finicky nature of the RB admin tool, right?

Will fix the placement and boldness - thanks @namimody !

[2016-04-12 16:23] aaronschachter commented on #6327
I think @angaither has good reason for concern -- loading the User could throw an unexpected wrench into this form which has historically inflected some dev pains.

Since we're looking to remove this form out of Phoenix and into a new app anyway, it's probably a little bit safer to hold off on adding the first name @chloealee.

[2016-04-12 16:39] chloealee commented on #6327
okay sounds good, thanks @aaronschachter !

[2016-04-12 16:40] chloealee commented on #6323
@aaronschachter is it safe to close this re: [this convo](https://github.com/DoSomething/phoenix/issues/6327#issuecomment-208989724)?

[2016-04-12 16:43] namimody commented on #6327
Thanks @chloealee and @aaronschachter! Chloe, when you have a new screenshot of what this would look like, could you share it here? THanks!

[2016-04-12 16:47] chloealee commented on #6327
sure thing! here you go @namimody ! Let me know if this is okay and I'll submit the PR!
![screen shot 2016-04-12 at 12 46 48 pm](https://cloud.githubusercontent.com/assets/9019452/14468207/af251b9e-00ac-11e6-815f-c1b359e8a125.png)

[2016-04-12 17:00] aaronschachter commented on #6323
Sounds good @chloealee ! We'll resolve this issue in the new Reviewer app.

[2016-04-12 17:00] #6323 closed, assigned to chloealee

[2016-04-12 17:02] chloealee commented on #6327
@namimody  - @aaronschachter had a good suggestion to make the quantity even bigger since the bold doesn't stand out that much - here's an updated screen shot!
![screen shot 2016-04-12 at 1 02 05 pm](https://cloud.githubusercontent.com/assets/9019452/14468699/deec6b1e-00ae-11e6-8c4c-efc6a545fc1f.png)

[2016-04-12 21:51] #6328 closed, assigned to chloealee

[2016-04-13 14:57] chloealee commented on #6237
@namimody @mikefantini should this be done before #6258?

[2016-04-13 15:19] namimody commented on #6237
I think #6258 makes sense to do first, great idea @chloealee!

[2016-04-13 15:26] chloealee commented on #6258
sounds like two things need to be updated:
1. Automate signups and reportbacks to associate themselves with correct campaign run, depending on current time and campaign run dates.
2. Add to user interface to be able to retroactively associate campaign signups and reportbacks with the correct run.

Is this right @namimody ?

[2016-04-13 15:40] namimody commented on #6258
BRILLIANCE IN BULLET POINTS.

Just one amendment @chloealee -- I think the association to a campaign run should be based on sign up time and reportback submission time vs. current time?

[2016-04-13 15:55] chloealee commented on #6258
ah yes, that's what I meant - thanks for clarifying @namimody !

[2016-04-13 16:38] chloealee commented on #5365
super helpful - thanks @DeeZone !

[2016-04-13 17:00] chloealee commented on #6258
@weerd Looking at this [PR](https://github.com/DoSomething/phoenix/pull/6066), it seems like `dosomething_helpers_get_current_campaign_run_for_user()` already associates a new signup with the current campaign run upon building it. I believe when a new campaign run is created, it's also set to the campaign's current run, so [#1](https://github.com/DoSomething/phoenix/issues/6258) (at least for sign

[2016-04-13 17:29] chloealee commented on #6258
oh, maybe it doesn't update the current run [upon creation of new run](https://github.com/DoSomething/phoenix/blob/dev/lib/modules/dosomething/dosomething_campaign_run/dosomething_campaign_run.module#L337) after all!

Now I see that current run gets set manually here:
![screen shot 2016-04-13 at 1 26 51 pm](https://cloud.githubusercontent.com/assets/9019452/14502873/71654e30-017b-11e6-96a1-ab7a2b1

[2016-04-13 17:41] chloealee commented on #5365
@DeeZone @mikefantini I was going to work on this but just realized it's on the message broker repo, not phoenix. I've never contributed to message broker before! Should I release so someone else can take it or is it okay to work on this?

[2016-04-13 18:52] chloealee opened #6371 "/signups?campaigns=362&runs=z returns signup for campaign run nid = 0"
## _BUG_
#### Current Behavior
- `/signsups?campaigns=362&runs=z` returns a signup with the run nid of `0`
#### Desired Behavior
- `/signsups?campaigns=362&runs=z` should return an empty data array
#### Steps to Replicate
- Hit `www.dosomething.org/api/v2/signsups?campaigns=362&runs=z`
#### Why This Matters
- Return value is not what we expect and gives incorrect data.
- We originally reverted thi

[2016-04-13 19:01] deezone commented on #5365
@chloealee @mikefantini https://github.com/DoSomething/message_broker_producer/issues/98

I encourage @chloealee to work on it...

[2016-04-13 19:25] chloealee opened #6372 "Runs param on /reportbacks breaks with pagination and returning correct data"
## _BUG_
#### Current Behavior
- When using the `runs` param with `/reportbacks`, each page returns same exact reportback objects. This breaks because only values for one campaign run id are returned if you pass multiple ids in the `run` param e.g. `https://www.dosomething.org/api/v1/reportbacks?campaigns=1508&runs=5654,3182`
  ![screen shot 2016-04-13 at 3 11 59 pm](https://cloud.githubuserconten

[2016-04-13 20:27] chloealee commented on #6372
cc @angaither @weerd @sbsmith86 @deadlybutter too as an FYI for gladiator work - is this blocking anyone significantly?

[2016-04-14 13:39] weerd commented on #6372
@chloealee I don't think so at the moment... I think we're only really using the `/signups` endpoint, but if this also affects that endpoint then maybe?

[2016-04-14 13:51] itsjoekent commented on #6372
well we are still facing a bug in gladiator regarding the runs / signup thing, but i dont believe it has anything to do with this phoenix

[2016-04-14 14:38] chloealee commented on #6372
ahh shoot @weerd I missed this and looks like it actually is messing up in the same way on `/signups`. I'll create another issue and hop on that now since it seems like a blocker!

New issue for `/signups` endpoint and pagination - #6373

[2016-04-14 14:50] chloealee opened #6373 "Runs param on /signups returns incorrect data with pagination"
## _BUG_
#### Current Behavior
- When using the runs param with `/signups`, each page returns same exact signup objects. This returns incorrect information - only values for one campaign run id are returned if you pass multiple ids in the run param e.g. https://www.dosomething.org/api/v1/signups?campaigns=362&runs=2341,5439
#### Desired Behavior
- Pagination should return different reportback obje

[2016-04-14 15:05] #6327 closed, assigned to chloealee

[2016-04-15 00:59] mikefantini opened #6374 "Closed campaigns are showing up in the finder results"
![image](https://cloud.githubusercontent.com/assets/6330971/14548325/dd65064e-0283-11e6-91f4-6dbf11aff9ed.png)

Dunk You Very Much and Everyday Superheroes are both closed.

[2016-04-15 13:10] mikefantini opened #6375 "Remove Find a Campaign button on mobile homepage"
It doesn't functionally do anything since we results update as soon as you select them...

cc: @DFurnes

[2016-04-15 16:03] lkpttn opened #6376 "Absolute width of yellow underlines exceeds the container width on iPhone 5 sized devices"
![slack for ios upload](https://cloud.githubusercontent.com/assets/1865372/14567424/012615b8-0302-11e6-904e-e7fd945d7be8.jpg)

[2016-04-15 17:25] aaronschachter opened #6377 "Reportbacks index endpoint returns empty data set"
## _BUG_
#### Current Behavior

The `reportbacks` endpoint returns an empty dataset if the campaign status is set to closed:

52575:
- https://www.dosomething.org/api/v1/reportbacks?campaigns=5275  (0)
- https://www.dosomething.org/api/v1/reportback-items?campaigns=5275 (results)

2401:
- https://www.dosomething.org/api/v1/reportbacks?campaigns=2401
- https://www.dosomething.org/api/v1/reportback-

[2016-04-15 17:29] aaronschachter commented on #6377
🔍  into this more, and a clue may be that both Campaigns 2401 and 5275 have `status` set to `closed` ...

cc @weerd @chloealee

[2016-04-15 19:42] aaronschachter commented on #6377
Seems bug is not just for closed campaigns. 4044 is active:

https://www.dosomething.org/api/v1/reportbacks.json?campaigns=4044
https://www.dosomething.org/api/v1/reportback-items.json?campaigns=4044

Also campaign 57 (Babysitters Club)
https://www.dosomething.org/api/v1/campaigns/57
https://www.dosomething.org/api/v1/reportbacks.json?campaigns=57
https://www.dosomething.org/api/v1/reportback-item

[2016-04-15 19:45] jessleenyc opened #6379 "If partner term translation does not exist hide "In partnership with""
## _BUG_
#### Current Behavior
- Not showing who the partner is for the Elephant Tusk Force campaign.
#### Desired Behavior
- Partner name should be displayed.
#### Steps to Replicate
- 1. While signed in, navigate to https://www.dosomething.org/node/5411
- 2. Scroll all the way down
#### Why This Matters
- Partners should be displayed if they are present. If not, the line should be hidden.
#### C

[2016-04-15 20:47] weerd opened #6380 "Reportback rotation not always working during RB review"
## _BUG_
#### Current Behavior

During the Reportback reviewing party, while reviewing RBs I rotated an image and after saving it doesn't seem to have actually saved with the adjusted rotation. See https://www.dosomething.org/admin/reportback/143997
#### Desired Behavior

When reviewing RBs and rotating images, after saving the reviews the RB is rotated permanently.
#### Steps to Replicate

Depend

[2016-04-15 21:18] namimody commented on #6380
refs: https://github.com/DoSomething/phoenix/issues/5112 -- but @weerd just tried to clear cache and the RB rotation didn't save/

[2016-04-18 15:14] #6348 closed, assigned to nobody

[2016-04-18 15:14] #6349 closed, assigned to nobody

[2016-04-18 15:14] #6350 closed, assigned to nobody

[2016-04-18 15:14] #6352 closed, assigned to nobody

[2016-04-18 19:54] #6376 closed, assigned to DFurnes

[2016-04-18 20:01] DFurnes commented on #6376
This was fixed in [Forge 6.7.1](https://github.com/DoSomething/forge/releases/tag/v6.7.1) and will show up on our next deploy. 🔜

[2016-04-19 17:35] #6357 closed, assigned to nobody

[2016-04-20 13:33] sergiitk opened #6384 "Task: Patch international branch with security updates"
## _Patch international branch with security updates_

Current [International branch](https://github.com/DoSomething/phoenix/tree/7e32c6bb143bf3abb8f122fa3847ee13872b9d64) is outdated.
- [ ] Make a list of updates to include
- [ ] Patch the branch
- [ ] Test the branch
- [ ] Deploy to prodtucion

cc @sheyd @mikefantini @angaither

[2016-04-20 13:36] angaither commented on #6384
@sergii-tkachenko I believe this is a duplicate of #6331

[2016-04-20 13:39] sergiitk commented on #6384
Hm, #6331i is Indonesia specific. The change will affect all international sites. Should we keep both tasks or close one?

[2016-04-20 13:49] angaither commented on #6384
@sergii-tkachenko it's up to you. the ask for updates came from indoenisa, but if you prefer this issue, that's fine, but I don't think we need both

[2016-04-20 16:04] sergiitk commented on #6331
## _Patch international branch with security updates_

Current [International branch](https://github.com/DoSomething/phoenix/tree/7e32c6bb143bf3abb8f122fa3847ee13872b9d64) is outdated.
- [x] <del>Make a list of updates to include</del> https://github.com/DoSomething/devops/issues/87#issuecomment-212490792
- [x] Patch the branch
- [x] Test the branch
- [x] Deploy to production

[2016-04-20 16:04] sergiitk commented on #6384
Closed as a duplicate of #6331.

[2016-04-20 16:05] aaronschachter opened #6385 "Posting Reportback to API does not store source"
## _BUG_
#### Current Behavior
- Neither the `dosomething_reportback` or `dosomething_reportback_file` tables contain a source column, which means we're not tracking the platform a Reportback is submitted for -- even though we're sending a `source` value when posting from the [mobile app](https://github.com/DoSomething/LetsDoThis-iOS/blob/6448d07491cb7ca42c597f9af9b85b3353518953/Lets%20Do%20This/N

[2016-04-20 16:10] angaither commented on #6385
I was just talking to @Bladt about this yesterday!

[2016-04-20 16:11] lkpttn commented on #6385
I talked to @Bladt about this just a couple hours ago! Being able to tell if RBs are coming from the mobile apps is a key data point that has lots of juicy implications. Also useful to formalize the SMS procedure and future-proof for other platforms.

[2016-04-20 17:02] aaronschachter commented on #6385
One hack that seems a little smaller 👕  than adding a new column(s) to the DS Reportback table is to store the newly created Reportback ID in Northstar, at least to associate the `source` for both `letsdothis_ios` and `mobileapp_android`

https://github.com/DoSomething/northstar/blob/4a14440a3ca257c7e999fb750745a8478a3a5cfe/app/Services/Phoenix.php#L310

[2016-04-20 18:23] sergiitk commented on #6331
Hi @andrea! Need your opinion. I’m patching international with security fixes. I cherry picked relevant version updates from the main branch (see #6386).

And everything is fine, except I don’t know what should I do with Features module patch. Because it needed an update for 7 minor versions (7.x-2.2 to 7.x-2.9), there are some changes in the export syntax. Normal procedure is to recreate all feat

[2016-04-20 18:45] angaither commented on #6331
@sergii-tkachenko let's go with the `overridden` route

[2016-04-20 19:23] lkpttn opened #6387 "Missing CSS modifier on the profile containers"
#### Oh behave

The middle section on the profile is missing the `-padding` modifier on it's container
#### Relevant Screenshots + Links

![screen shot 2016-04-20 at 2 33 24 pm](https://cloud.githubusercontent.com/assets/1865372/14687265/99205ca0-070a-11e6-9ed2-38ef561c10d0.png)

[2016-04-20 19:58] #6331 closed, assigned to sergiitk

[2016-04-20 20:05] #6384 closed, assigned to sergiitk

[2016-04-20 21:29] Andrea commented on #6331
Hi, wrong handle
On 20 Apr 2016 7:23 pm, "Sergii Tkachenko" notifications@github.com wrote:

[2016-04-20 21:33] sergiitk commented on #6331
Wrong handle?

[2016-04-20 21:34] sergiitk commented on #6331
Ah, sorry @Andrea, confused this with Slack. My apologies.

[2016-04-21 04:05] mikefantini commented on #5365
Apologies just getting to this...

I'm not sure how it works but @chloealee are you saying that the decision to show this error to drupal admin users vs. all users on the phoenix side not the message broker side?

cc: @angaither for any guidance on this

[2016-04-21 04:08] mikefantini commented on #6237
@angaither let's chat about this one IRL to make sure we're on the same page on what needs to be done.

[2016-04-21 13:25] angaither commented on #6258
@chloealee this issue is about moving the signup and reportback activity to the run node, not about associating the run to the campaign node

[2016-04-21 14:54] deezone commented on #5365
@mikefantini @chloealee Currently the `message_broker_producer` module is responsible for displaying the message. There's currently no logic to filter the display by user role / permission. My dated Drupal knowledge suggests the following but @angaither would be the best person to confirm:

To meet the request of limiting the display of the error message:
- create a permission to administer   `mes

[2016-04-21 16:16] lkpttn opened #6388 "Feature flag for "Do not include this campaign in the mobile app""
## _FEATURE OVERVIEW_
#### User Story

We only display the problem and solution fields in the mobile app so there are some[ campaigns that you can't complete](https://docs.google.com/document/d/1M6OZbu45B-dKGWtjKRBffdEFDpAE6G08Dw_9mu0t_ig/edit) due to a lack of information or the inability to download PDFs and templates. This is not only confusing for users, but limits the actions we can feature i

[2016-04-21 16:27] angaither commented on #6388
we actually deleted those mobile app fields with #6241
If we are eventually going to prioritize adding features to be able to view the PDFs attached in the web, maybe there's a different way we can handle this rather than recreating a mobile app check box?

cc @aaronschachter

[2016-04-21 19:39] aaronschachter commented on #6388
👍  @angaither -- My vote would be to expose the attachment URL's in the Campaigns API and make app code changes to download attachments if they exist, vs worrying about hiding campaigns from the Actions tab based on copy...

[2016-04-22 20:11] namimody commented on #6374
Closed campaigns are also appearing in /campaigns as of 4:10 PM on 4/22:

![image](https://cloud.githubusercontent.com/assets/12396076/14753675/d1d8ac5a-08a4-11e6-958b-5f8ba4a0cc1e.png)

[2016-04-22 20:12] namimody commented on #6374
@angaither is this a Morgan or a Dave thing?

[2016-04-22 20:17] angaither commented on #6374
@blisteringherb?

[2016-04-22 22:02] namimody opened #6389 "Clicking on Campaigns in /campaigns Brings You to /campaigns on BR and MX"
## _BUG_
#### Current Behavior
- Go to Explore Campaigns
- Click on any campaign, you are routed back to /campaigns with a URL like: https://www.dosomething.org/br/campaigns/clean-champion?source=campaigns vs. the campaign's pitch page.
#### Desired Behavior

You should have been brought to the pitch page of that campaign.
#### Steps to Replicate
- Open Torguard and go to Brazil
- Go to dosomethin

[2016-04-22 22:08] namimody commented on #6389
Related, potentially: https://github.com/DoSomething/phoenix/issues/6289

[2016-04-22 22:24] namimody commented on #6289
@mnelson338 noticed a twist: Translated campaigns, like Sea Turtle Street Sweep, do appear on /br/campaigns, like so:

![image](https://cloud.githubusercontent.com/assets/12396076/14756270/080cb1e8-08b6-11e6-9eda-c5e99b165ac9.png)

however, they do not appear in Portuguese in the /campaigns view. However, if you click on a translated campaign via TorGuard, and it does actually let you through (see

[2016-04-22 22:27] namimody opened #6390 "Should Fact Pages Rank Above Campaigns in Solr?"
Perhaps more of a discussion, @mikefantini?

![image](https://cloud.githubusercontent.com/assets/12396076/14756498/c832e89c-08b7-11e6-8d43-b36152db96e9.png)

[2016-04-22 22:35] namimody opened #6391 "Unpublishing Translations Results in Error Page"
## _BUG_
#### Current Behavior

Noticed that two campaigns on production should not be published. Tried to unpublish, was confronted with error and unpublishing didn't save.
#### Desired Behavior

Unpublishing a translation should result in translation no longer being published.
#### Steps to Replicate
- go to a translated campaign with different translation published
- try to unpublish a translat

[2016-04-25 13:26] angaither commented on #6391
the full error from thor

[code]

[2016-04-25 13:26] angaither commented on #6391
@namimody seems like the error is happening because there's no run for global english

[2016-04-25 15:28] namimody opened #6392 "Batch Exclude Reportbacks to Clear Campaign Inboxes"
## _FEATURE OVERVIEW_
#### User Story

As a campaign lead, I want all fids on the nodes listed below with a quantity under _x_ to be marked as excluded before Thursday of this week.
#### Additional Information (optional)

Campaign (Node ID) // Threshold for Exclusion // Runs Affected
# SuperStressFace (2710) //  threshold: 10 // Run: 3110, 6660, 6470

Notes from Shawn (2805) // threshold: 250 // R

[2016-04-25 16:11] mikefantini commented on #6375
![image](https://cloud.githubusercontent.com/assets/6330971/14790344/d78290b2-0ade-11e6-9345-726251d92e65.png)

[2016-04-25 16:31] angaither commented on #6388
@aaronschachter @lkpttn which fields do we need to expose? only downloads? or action guide as well?

[2016-04-25 16:44] aaronschachter commented on #6388
Might want to run this by @mikefantini or Campaigns team, but based on wiki it looks like Downloads is the field to expose: https://github.com/DoSomething/product/wiki/Campaign-Template:-Edit-Tab#action-guide
Action Guide is a node type.

[2016-04-25 17:01] angaither opened #6393 "Expose sponsor info in campaigns endpoint"
# _FEATURE OVERVIEW_

---
#### User Story

As an api consumer, I should know which campaigns are sponsored, to give love on the app.
#### Additional Information (optional)

"sponsor & partner display"

[code]

"partner display"

[code]
#### Why This Matters

they pay us, their logo/name should be exposed.
### Example

adding a bool value https://github.com/DoSomething/phoenix/pull/6208/files
### S

[2016-04-25 17:07] aaronschachter commented on #6393
@angaither @weerd what does the `affiliates` object look like with multiple partners?  does it make sense to build as an array vs an object?

[2016-04-25 17:11] weerd commented on #6393
Oh crap. @aaronschachter good call. That's actually what I meant 😬 Updating!

[2016-04-25 17:12] weerd commented on #6393
Actually, wait... debating...

[2016-04-25 17:14] aaronschachter commented on #6393
@mikefantini @angaither Would you mind adding some node nid's to this issue for testing against prod / thor?

[2016-04-25 17:16] weerd commented on #6393
@aaronschachter maybe something like this? `partners` is a property on the `affiliates` object, and it contains an array of partners. If there are other "types" of affiliates, we just add them to the `affiliates` object similar to the `partners` property?

_NOTE_: I updated the description code example above!

[2016-04-25 17:25] aaronschachter commented on #6393
@weerd Makes sense.. `sponsors` sound like a potentially another type.. vs using the `sponsor` boolean on a `partner` object.

I don't remember the history behind decision of a `sponsor` boolean on the Partners field collections vs a separate Sponsor field collection -- but likely having less Field Collections had something to do with it. In this case I could see having separate `sponsors` and `pa

[2016-04-25 17:34] weerd commented on #6393
Yeah, I was chatting with @angaither about it and originally proposed it as 2 different properties, but then she showed me it's a boolean in the admin, so seemed to make more sense as being the same thing but with an additional flag. Not sure though... I could see if being separate too; would help avoid the empty `media` object when it's just a partner. Thoughts? Nice thing is w/ the API response

[2016-04-25 17:51] angaither commented on #6388
yeah, but it looks like quite a few with action guides are excluded [in this list](https://docs.google.com/document/d/1M6OZbu45B-dKGWtjKRBffdEFDpAE6G08Dw_9mu0t_ig/edit) that @lkpttn provided

[2016-04-25 18:00] angaither commented on #6392
@chloealee this should be a php script or custom drush command, instead of an update hook so we can pass in params (nid, run_nid, and quantity) to know which rbs we want to bulk exclude and run it X times (instead of having one update hook per campaign)

[2016-04-25 18:37] aaronschachter commented on #6393
Definitely!   Re:

The media object is defined on the Partner taxonomy term, not with the Campaign's `field_partners` -- called "Sponsors and Partners" in the Campaign edit form (so technically we could still have a valid media object when it's just a partner).

As I'm reviewing both the Partners field collection and the Partners taxonomy vocabulary (which would perhaps help to rename as Affiliate

[2016-04-25 19:18] mikefantini commented on #6393
@aaronschachter @angaither @weerd added some sample nodes for thor and prod for testing.

[2016-04-25 20:07] aaronschachter commented on #6393
@weerd I can give this one a shot, but need some guidance on how the DS API Transformer code should work. So far looks like we need the following to implement -- with some questions:
- Add the Campaign's `field_partners` field collection data into the Campaign [`build`](https://github.com/DoSomething/phoenix/blob/18f5e064e135cdc70d5b1bf0df60091c37fb8a50/lib/modules/dosomething/dosomething_campaign

[2016-04-25 20:09] weerd commented on #6393
@aaronschachter I'm trying to see if it's something I can punch out quickly. I'll let you know soon :)

[2016-04-26 14:23] chloealee commented on #6392
thanks @angaither, makes sense! I'm following a [tutorial](https://www.mikestiv.com/blog/drush-commands-and-hooks) right now to create a custom drush command - does it make sense to put this custom drush command in [`dosomething_reportback.drush.inc`](https://github.com/DoSomething/phoenix/blob/dev/lib/modules/dosomething/dosomething_reportback/dosomething_reportback.drush.inc) or to create a new

[2016-04-26 14:25] angaither commented on #6392
@chloealee you can put it in the existing file

[2016-04-26 15:50] namimody opened #6394 "/campaigns Page Not Displaying Properly for BR and MX experience"
## _BUG_
#### Current Behavior

The /campaigns page on BR and MX are presenting campaigns in English. When clicked, some campaigns 404, some campaigns go to the BR or MX translation (clicking on an English icon on /campaigns goes to a Portuguese pitch page, for example), and in some cases the URL changes but the /campaigns page simply refreshes.
#### Desired Behavior

Taking MX as an example:
The

[2016-04-26 15:50] namimody commented on #6289
Closing in favor of #6394

[2016-04-26 15:50] #6289 closed, assigned to angaither

[2016-04-26 15:51] namimody commented on #6389
Closing in favor of #6394

[2016-04-26 15:51] #6389 closed, assigned to angaither

[2016-04-26 16:05] namimody commented on #6391
@angaither you're brilliant, this worked! all good now. closing!

[2016-04-26 16:05] #6391 closed, assigned to namimody

[2016-04-26 16:11] chloealee commented on #6392
@angaither quick q! If I put this in `dosomething_reportback.drush.inc`, would I have to implement a new `hook_drush_command` that describes my new custom command (with arguments) in order to run it?

[2016-04-26 16:56] angaither commented on #6392
@chloealee no, you can add it to the array that's returned [here](https://github.com/DoSomething/phoenix/blob/dev/lib/modules/dosomething/dosomething_reportback/dosomething_reportback.drush.inc#L7)

[2016-04-26 17:14] chloealee commented on #6392
oh cool, thanks @angaither !

[2016-04-26 18:08] weerd opened #6396 "Update Partner extract function in Campaign class"
## _FEATURE OVERVIEW_
#### User Story

As a developer, I would like to be able to ask the `getPartners()` method for an array of all the partners that are affiliated with a Campaign.

Currently, due to how the `dosomething_helpers_extract_field_data()` function works, it will only pass the first or only partner id. Need to update the `dosomething_helpers_extract_field_data()` to allow grabbing the

[2016-04-26 18:36] #6393 closed, assigned to nobody

[2016-04-27 20:00] #6392 closed, assigned to chloealee

[2016-04-28 18:54] sergiitk commented on #6394
Just to clarify —Explore Campaigns page is rendered by Solr.

Here's what I dug up on this issue:
1)

This happens for campaigns that are not available within given country. For such pages 404 should be displayed. This happens because `explore_campaigns` view accepts all incorrect urls by a wildcard `/campaigns/*`. Example: https://www.dosomething.org/campaigns/sdfsdf

[2016-04-28 19:03] sergiitk commented on #6394
2) Logic responsible for filtering campaigns by language appears incorrect. It [factors in](https://github.com/DoSomething/phoenix/blob/696a915ade1e7a25f4dcb216cad3b609ef6a7e4b/lib/modules/dosomething/dosomething_search/dosomething_search.module#L131) user geodata to prepare language filters. Thus, it doesn't matter what site user is at, only user country determined by Fastly.

As I understand, it

[2016-04-28 19:07] itsjoekent commented on #6394
yeah the global_get_user_vars function @sergii-tkachenko linked above was just a way to grab a million variables for the custom routing logic in global. there are more specific functions to figure out what lang the node should be displayed in (whose names escape me right now, but theyre probably in the dosomething global module)

[2016-04-28 19:13] sergiitk commented on #6394
3)

The reason why content always is displayed in English is that  `explore_campaigns`  view uses 'Entity Id' field for grouping. When Solr indexes entities, it creates one record per translation. This is achieved with complex internal id (for example, `"3tj1ah/node/13/en-global"`).

When results are retrieved from it, every translation is returned as a separate record. However, grouping by id com

[2016-04-28 19:15] sergiitk commented on #6394
4) Translation status (published/unpublished) is not factored in search query. We need to make sure that if translation isn't published for requested language, it's not displayed. See `sm_translations` solr field.

This explains why `Bookmark Climate Change` on Brazilian site is displayed on Explore Campaigns page, but falls to 404 when clicked. It's translated and active, but its `pt-br` translat

[2016-04-28 19:28] sergiitk commented on #6374
This looks like a problem with index: see solr [query results](https://search.dosomething.org/solr/collection1/select?fq=-sm_field_campaign_status:%28closed%29%20bundle:[campaign%20TO%20campaign_group]%20ss_language:%28en-global%20OR%20en-global%29&wt=json&indent=false&facet=true&facet.field=fs_field_active_hours&facet.field=im_field_cause&facet.field=im_field_action_type&rows=1&bq=ss_language:en-

[2016-04-28 19:31] sergiitk commented on #6374
Hm, it's still marked as active.

[2016-04-28 19:33] sergiitk commented on #6374
So somehow [English](https://www.dosomething.org/us/node/6620/edit/en) translation is 'Closed', but [Global English](https://www.dosomething.org/node/6620/edit/en-global) is 'Active'.

[2016-04-28 19:34] mikefantini commented on #6374
Ah thanks for tracking this down @sergii-tkachenko. Flagging for @mnelson338 now.

[2016-04-28 19:57] mikefantini commented on #6374
@sergii-tkachenko sorry I misremembered a few things...

Yeah so ideally we could have a campaign active in one translation and closed in another. And so ideally if I'm on /us/campaigns it's checking to see what the status is for the English translation (if the campaign is translated in both US English and Global English; if it's just translated in Global English it should only check the status of

[2016-04-28 20:01] sergiitk commented on #6374
Yes, this does make sense. Not sure if this is possible thought. Sounds like another thing to discuss in context of making #6394 work. What do you think, @namimody?

[2016-04-28 20:18] sergiitk commented on #6394
Example for item 3: for Brazilian page both translations of `node/15` (Momm-o-grams) are returned, after grouping by id 15, only first, English Global, is displayed:
![image](https://cloud.githubusercontent.com/assets/672669/14899987/3084f46a-0d97-11e6-94c2-4603fabcd864.png)

![image](https://cloud.githubusercontent.com/assets/672669/14900005/41619e1e-0d97-11e6-8a25-da15016a8a29.png)

When view fo

[2016-04-29 14:47] lkpttn opened #6398 "Missing mobile padding inside campaign template containers"
![screen shot 2016-04-21 at 1 19 03 pm](https://cloud.githubusercontent.com/assets/1865372/14919600/8fe242ea-0df7-11e6-8c53-0fb0b825bba9.png)
#### Behavior

Maybe the list element isn't getting any padding on the bottom when it's stacked up?
#### Desired Behavior
- It should have padding.

[2016-04-29 19:14] namimody opened #6399 "Run Runscope Tests for API Coverage on Deploy"
## _FEATURE OVERVIEW_
#### User Story

As a system of products that relies heavily on our two APIs, we should add existing automated testing of APIs to our deploy process.
#### Additional Information (optional)

Slack convo: https://dosomething.slack.com/archives/deploys/p1461937288000287
#### Why This Matters

Automated testing is just the best.

[2016-04-29 19:24] DFurnes commented on #6399
We've got a [small set of tests](https://www.runscope.com/radar/5tt8kuiumbfl) already configured to monitor some of the Phoenix endpoints (that I think Uy made): campaigns index, reportbacks index, taxonomy terms (causes), and reportback-items index.

[2016-04-29 19:24] angaither commented on #6399
oh yeah, I think we should update the ticket to say "run set of tests" pre-deploys and post messages to :slack:

[2016-04-29 19:25] namimody commented on #6399
How's that @angaither

[2016-04-29 19:27] DFurnes commented on #6399
@angaither Ah, gotcha. We currently run those hourly against production. Runscope is less useful (in my humble opinion) for _testing_ testing than for monitoring, but it'd definitely be a step in the right direction!

[2016-04-29 19:29] angaither commented on #6399
@DFurnes hrm, I'd like a way to check api responses (mainly that nothing is missing) before we deploy to prod. you think nah runscope?

[2016-04-29 19:32] DFurnes commented on #6399
I think it's a step in the right direction! I've just found for Northstar that they're more useful to "smoke test" that everything's a-okay in each environment (and then get alerts when it's not), rather than testing in a "is this safe to merge/deploy" sense.

[2016-04-29 19:34] angaither commented on #6399
:thinking_face:

[2016-04-29 22:43] namimody opened #6400 "Modal Problems"
## _BUG_
#### Current Behavior

Modal design seems to be off with the new updates to Forge -- see screenshot below. Quite a few modal exist on Birthday Mail, as one place you could take a look (https://www.dosomething.org/us/node/2461/active)
#### Desired Behavior

Leaving this for you to fill out @lkpttn!
#### Why This Matters

Tons of modals across the site, plus Birthday Mail is sponsored.
####

[2016-04-29 22:44] namimody commented on #6400
Issue moved to [DoSomething/forge #553](https://github.com/DoSomething/forge/issues/553) via [**ZenHub.io**](https://www.zenhub.io/)

[2016-05-02 14:28] DFurnes commented on #6400
@namimody Bummer!

Looks like the modal you screenshotted is an action guide modal... can you expand on which other ones are having issues? (I'll do a once-over again, but would love to make sure I don't miss any you've already found!)

[2016-05-02 14:30] lkpttn commented on #6103
Now updated with links!

Desktop:

[code]

Mobile:

[code]

[2016-05-02 15:58] namimody commented on #6400
@DFurnes yes! the one I found were all action guides, specifically on Birthday Mail -- https://www.dosomething.org/us/campaigns/birthday-mail. Hope that helps!

[2016-05-02 17:57] DFurnes commented on #6260
From checking out the failed request logs, I also noticed we had a bunch of "failures" that weren't _actually_ failures because we were trying to verify newly registered users _before_ their profiles were synced to Northstar (so we'd have a `401` followed up by a `200` sync in the logs).

This was confirmed by `dpm`ing when each hook and method occurred and fixed in #6401 above.

[2016-05-03 15:38] DFurnes commented on #6309
We also have a bunch (like ~16,000) of duplicate accounts (multiple Drupal UIDs that all share the same email address) that are going to cause trouble when syncing to Northstar. 😖

Ideally, we'd want to figure out how Drupal is resolving those accounts when a user tries to log in & then delete all the "dupes" that Drupal _isn't_ picking.

[2016-05-04 15:15] #6373 closed, assigned to chloealee

[2016-05-04 15:22] namimody opened #6403 "Do Something Thumbnail Missing From Search"
## _BUG_
#### Current Behavior

When using internal search, static content pages show up with a broken image.
#### Desired Behavior

Static content pages should appear with the DS logo adjacent to the search result.
#### Steps to Replicate

Search something that would turn up a static content page.
#### Why This Matters

Broken images look sad. :(
#### Relevant Screenshots + Links

https://www.dos

[2016-05-04 15:44] chloealee commented on #6372
Closing this issue - looks like `campaigns` param is broken for `/reportbacks` which is causing second problem. `runs` param works correctly. New issue [here](https://github.com/DoSomething/phoenix/issues/6404).

[2016-05-04 15:44] #6372 closed, assigned to chloealee

[2016-05-04 16:17] chloealee opened #6404 "campaigns param broken for /reportbacks"
## _BUG_
#### Current Behavior

Using the `campaigns` param for `/reportbacks` returns an empty data array even though there are reportbacks for said campaigns in the database.
#### Desired Behavior

Reportbacks for campaigns identified in params should be returned in API response.
#### Steps to Replicate

`https://www.dosomething.org/api/v1/reportbacks?campaigns=362` returns an empty data array.

[2016-05-04 17:01] DFurnes commented on #6403
Oh blah, this links to the `dist/assets` folder in Forge which was removed with the build system updates in Forge 6.7. Should be a quick fix to change this to the plain 'ol Forge `assets` folder.

[2016-05-04 17:17] lkpttn commented on #6388
I've started putting together a doc that goes over our options so we can see what lines up best, effort/reward wise.

https://docs.google.com/document/d/1H3wYTDCWdvpjlLVxaIeiQ-tu6X_In50-zm4mybV4_F4/edit

[2016-05-04 17:50] chloealee commented on #6404
closing this issue - duplicate of #6377

[2016-05-04 17:52] #6404 closed, assigned to chloealee

[2016-05-04 18:10] angaither opened #6405 "Save mobile number to profile when logged in/filling out sms game template"
## _FEATURE OVERVIEW_
#### User Story

As a logged in user, if I submit a form to signup for a sms campaign, that phone number field should be saved to their profile
#### Additional Information (optional)

![image](https://cloud.githubusercontent.com/assets/645205/15024126/82e301ac-1201-11e6-94ce-cf69d1212a38.png)
save the value in that field to `field_data_field_mobile`
#### Why This Matters

We

[2016-05-04 19:22] angaither opened #6406 "Users aren't (always) getting ported to NS"
## _BUG_
#### Current Behavior

seeing a few (3) users who aren't being ported into gladiator for competitions and it looks like that's b/c the user doesn't exist in NS. (UIDS: `3812330`, `3814753`, `3844143`)
#### Desired Behavior

people should exist in NS after their accounts were created.
#### Steps to Replicate

no idea.
#### Why This Matters

people can't live the lives they choose, and do t

[2016-05-04 19:40] chloealee commented on #6258
@angaither so is this editing the user interfaces [here](http://dev.dosomething.org:8888/us/signup/3298) and [here](http://dev.dosomething.org:8888/admin/reportback/3544) (or to create a new interface) to do something like make these pages editable, add `run nid` to both pages, be able to choose a new `run nid`, backend makes sure the run nid exists and is associated to the correct campaign, and s

[2016-05-04 20:11] angaither opened #6407 "Remove the progress log table"
1. this was for the hot module (which is dead as a doornail)
2. this is causing errors because I made it an int field, and apparently people are doing much more than `2147483647` things
   - see?

[code]
3. who needs this

[2016-05-04 20:12] DFurnes commented on #6309
Alright! We had a good hang sesh where we tackled some of these issues. Results:
- Any users with no email, mobile number, or password are now _gone_. 🔥
- Any users with their email set to `@mobile` (and no mobile number) are now _gone_. 🔥

Next steps:
- We should fix `xxxxxx@mobile` users who don't have a `field_mobile_value` set. (#6408)
- We need to do some more research on how Drupal is curren

[2016-05-04 20:12] #6309 closed, assigned to nobody

[2016-05-04 20:19] DFurnes opened #6408 "Fix users with `@mobile` email but no phone stored in mobile field."
## _BUG_
#### Current Behavior

A couple of people have xxxxxx@mobile generated emails, but nothing set in the `field_mobile_value` field on their profile.
#### Desired Behavior

Since we know these user's phone numbers (but don't have it properly recorded), we should fix this by attaching the proper phone number to each of these profiles.

I think the most likely solution would be to write a simp

[2016-05-04 21:50] DFurnes opened #6409 "Fix issue where multiple Drupal users share the same email."
## _BUG_
#### Current Behavior

There are currently a bunch of users (both old and new) that are registered with the same value in the `mail` column in the users table. This is kinda a bummer since we should really only have one account per email. 😞 📬
#### Desired Behavior

We need to do some more research on how Drupal is currently treating users with duplicate emails (like when you try to log in

[2016-05-05 14:33] jessleenyc opened #6410 "Birthday Mail Campaign Link Returning a 404 Page"
## _BUG_
#### Current Behavior
- Birthday mail campaign is returning a 404 page when you click on the campaign from the DS homepage.
#### Desired Behavior
- Should direct to campaign.
#### Steps to Replicate
1. Navigate to homepage
2. Click on "Birthday Mail" (the first highlighted staff pick campaign)
#### Why This Matters

This is the first campaign a user sees when they land on the DS homepage

[2016-05-05 14:34] DFurnes commented on #6406
Super weird. I see `3812330` and `3844143` in the request log with two 404s because it couldn't update a Northstar record with that UID... no records of having any issues migrating or creating them.

The first two accounts were registered on 04/08/2016, and the third on 4/17/2016... so they _should_ exist in the logs (although I did clear out a bunch of 200s at one point since the table was gettin

[2016-05-05 14:36] namimody commented on #6410
Thanks for flagging! Try now, @jessleenyc? :)

[2016-05-05 14:38] chloealee commented on #6377
@aaronschachter I just re-checked all the links above and looks like this bug might have been fixed somehow?

[2016-05-05 14:39] jessleenyc commented on #6410
@namimody good to go! (should I close?)

[2016-05-05 14:42] namimody commented on #6410
💃

[2016-05-05 14:42] #6410 closed, assigned to nobody

[2016-05-05 14:42] jessleenyc commented on #6403
hey @namimody got this when I hit the 404 page from birthday mail earlier but I'm assuming this is the same issue right??

<img width="483" alt="screen shot 2016-05-05 at 10 23 42 am" src="https://cloud.githubusercontent.com/assets/14931921/15046481/e21119be-12ad-11e6-9581-0412e586afa1.png">

[2016-05-05 14:45] namimody commented on #6403
@jessleenyc yes -- same issue! The 404 page pairs with populated search results in an attempt to help the user find what they are looking for, and an update to our pattern library removed the default image.

[2016-05-05 14:49] jessleenyc commented on #6403
@namimody Thanks, thought that might be the case -- glad I didn't create a duplicate. See you later today!

[2016-05-05 15:05] DFurnes commented on #6406
And none of those Drupal IDs or emails exist in Northstar. I think it'd be a good idea to try to manually re-migrate each of those records to see if anything goes wrong, but I'm still at a bit of a loss for the root issue.

[2016-05-05 15:11] angaither commented on #6406
I thought the update in northstar also created a new user if on didn't exist?

[2016-05-05 15:32] mikefantini commented on #6379
This was resolved by adding a translation for the partner term.

Changing the title of this issue to hide "In partnership with" if partner term is not translated into the language the campaign is in.

[2016-05-05 16:28] DFurnes commented on #6406
@angaither We've been using the `POST users/drupal_id/:uid` route to explicitly update that particular Northstar account from Phoenix if their profile changes, so it doesn't "upsert" if the given UID isn't found.

[2016-05-05 18:40] angaither commented on #6406
@DFurnes should the catch handle if the UID isn't found?

[2016-05-05 19:07] DFurnes commented on #6406
Yeah, that'd probably be a good idea.

[2016-05-05 21:52] chloealee commented on #6371
Closed with #6367

[2016-05-05 21:52] #6371 closed, assigned to chloealee

[2016-05-06 16:56] angaither commented on #6258
@chloealee you can use this as an opportunity to remove the `archive activity` form, since this is an unused feature.
you can replace the form with this new migration feature

[2016-05-06 17:37] chloealee commented on #6258
@namimody do we want to be able to migrate activity from run to run (that belong to the same campaign) or also across campaigns (e.g. migrate Comeback Clothes run 1 activity to Thumb Wars run 1)?

[2016-05-08 14:27] aaronschachter commented on #6258
Question (and potential land mine?) -- Now that we've removed the unique key on `uid` and `nid`, for data queries based on Run -- couldn't we query by Reportback created date to determine what Run a reportback should associated with, instead using the Run nid value?

If we go this route -- the issue turns into making sure the Start/End dates are accurate for Campaign Runs (and refactoring data que

[2016-05-08 16:50] namimody commented on #6258
@aaronschachter I don't know too much about how this works, but I guess I have a few initial questions:
- From a data perspective, does this mean we would have to input the start and end dates of all runs instead of simply using the run ID? From a simplicity perspective, I feel like simply using the run ID is more simple?
- Every so often, we have to add a reportback manually for a member who has

[2016-05-08 16:53] namimody commented on #6258
@chloealee because of situations like the one detailed in #6237, I'm inclined to say that being able to migrate activity across campaigns would be a handy feature to have!

cc @angaither @mikefantini

[2016-05-09 13:44] aaronschachter commented on #6258
We wouldn't be adding Run start/end dates to Reportbacks or Signups -- the suggestion is that for a given Signup/Reportback, to find out which Run it belongs to, we query for the Campaign Run that was open during the time submitted. If we go this approach, we longer need to store the Run on the Signup/Reportback at all. This helps to avoid scenarios where Signups and Reportbacks are created with i

[2016-05-09 15:53] chloealee commented on #6258
Thanks @aaronschachter and @namimody ! All really great points and thanks for flagging! Chatted with @angaither this am at our check in and think it's best to move forward by being able to edit campaign run instead of edit dates - there are many reportbacks/signups that need to get migrated to a different run and currently, all runs do not have the correct timestamps and some are associated with t

[2016-05-09 20:33] lkpttn opened #6412 "Expose Action Guide fields for the mobile apps."
#### User Story

We only display the problem and solution fields in the mobile app so there are some[ campaigns that you can't complete](https://docs.google.com/document/d/1M6OZbu45B-dKGWtjKRBffdEFDpAE6G08Dw_9mu0t_ig/edit) due to a lack of information or the inability to download PDFs and templates. This is not only confusing for users, but limits the actions we can feature in the app.
#### Curren

[2016-05-09 20:35] lkpttn opened #6413 "Expose Download field for mobile apps"
#### User Story

We only display the problem and solution fields in the mobile app so there are some[ campaigns that you can't complete](https://docs.google.com/document/d/1M6OZbu45B-dKGWtjKRBffdEFDpAE6G08Dw_9mu0t_ig/edit) due to a lack of information or the inability to download PDFs and templates. This is not only confusing for users, but limits the actions we can feature in the app.
#### Curren

[2016-05-09 20:36] lkpttn commented on #6388
This issue has been moved into two separate issues,

#6412 for action guides
#6413 for downloads

[2016-05-09 20:36] #6388 closed, assigned to angaither

[2016-05-09 21:05] aaronschachter commented on #6258
I'm slightly concerned if our Runs don't have the correct timestamps that the migration forms may cause more incorrect data.

Just to clarify: the potential form we're talking about would bulk migrate all activity from one Run to a different Run -- not just a form for a single Signup/Reportback. Is that correct?

[2016-05-09 21:11] angaither commented on #6412
Ignoring the `field_gallery` massive group field, it seems like we actually use most of the fields on the action guides. so we need to decide if we are exposing all of these, some of these and or depreciating fields on this content type to make it easier to expose.

query:

[code]

[results](https://dosomething.slack.com/files/andrea/F17CWTGJH/action_guide_content.csv)

[2016-05-09 21:41] chloealee commented on #6258
@aaronschachter yes, this will bulk migrate all activity and not just a single signup/reportback!

Per our sprint sync, we'll put a hold on this issue for now and revisit after this hackweek sprint and discuss further then!

[2016-05-09 23:37] namimody opened #6414 "Overwritten Reportback?"
## _BUG IN PROGRESS_
#### Current Behavior
- tell us what happened
#### Desired Behavior
- what should have happened
#### Steps to Replicate
- how can you make it happen every time?
#### Why This Matters
#### Relevant Screenshots + Links

https://www.dosomething.org/admin/reportback/23
https://www.dosomething.org/us/user/724681

![image](https://cloud.githubusercontent.com/assets/12396076/15119277

[2016-05-10 15:47] blisteringherb opened #6416 "PHP 7.0 Compatibility - Continue keyword"
## _BUG_
#### Current Behavior
- `'Error: 'continue' not in the 'loop' or 'switch' context in
  /var/www/www.dosomething.org/releases/20160510153234/lib/modules/dosomething/dosomething_reportback/dosomething_reportback.module, line 1212` error on deploy after upgrading to PHP 7.0.
#### Desired Behavior
- There shouldn't be a PHP fatal error when running any code
#### Steps to Replicate
- It happen

[2016-05-10 15:50] angaither commented on #6416
yikes https://github.com/DoSomething/phoenix/search?utf8=%E2%9C%93&q=continue

[2016-05-10 15:57] angaither opened #6417 "kudos api "dusting""
- does it work
- can you post things to a photo
- does it save?
- can you react more than once for one term
- can you interact if you aren't logged in?

[2016-05-10 16:00] angaither opened #6418 "update kudos terms"
- add an image to a term in the kudos thing
- expose that in the api

[2016-05-10 16:13] sbsmith86 opened #6419 "Review signup endpoint"
Review the current state of the signup endpoint. Does it work for our needs? Will we need to add anything to it for example, that the user came from a second signup modal.

[2016-05-10 16:18] mshmsh5000 commented on #6416
In the first instance, this looks just like a misuse of `continue` instead of `return`. Am I missing something?

A lot of the others in that search are legitimate uses (i.e., within a loop).

[2016-05-10 16:21] angaither commented on #6416
ooo, you're right @mshmsh5000 I just looked above and saw they were mostly in `if`s but didn't look up further :eyes: ⏫

[2016-05-10 16:24] #6416 closed, assigned to angaither

[2016-05-10 16:53] #6407 closed, assigned to nobody

[2016-05-10 17:32] DFurnes commented on #6406
When a user tries to update their profile, Phoenix will now catch 404s and try to create that missing Drupal ID (see #6411). I'm going to keep this open since we've probably got other root causes to patch up for this.

[2016-05-10 17:33] DFurnes commented on #6260
From updates in #6411, users with `1234445555@mobile` accounts can now be synced/migrated.

[2016-05-10 17:40] DFurnes opened #6421 "Interactive Gallery front-end prototype"
## _FEATURE OVERVIEW_
#### User Story

We made a interactive gallery prototype last year in #5958. We're planning to revisit that so that we can test it in production to see if it affects reportback rate.
#### Why This Matters

It's prototype/hack week so we're hackin'.

🌵

[2016-05-10 18:36] angaither commented on #6417
in order of events
- does it work ✔️
- can you post things to a photo ✔️
- does it save ✔️
- can you react more than once for one term ✔️
  - this we probably want to change
- can you interact if you aren't logged in? ⛔

[2016-05-10 18:36] #6417 closed, assigned to nobody

[2016-05-10 18:37] angaither opened #6423 "make 1 kudos per user per item"
the combo `fid`, `uid`, `tid` should be a `unique` index in `dosomething_kudos`

[2016-05-10 19:25] sbsmith86 opened #6425 "Show takeover screen after sign up"
On campaign pages, after a user signs up for a campaign, trigger the display of a "takeover screen". This will hold content related to onboarding, other campaigns to signup for, etc.

[2016-05-10 19:27] sbsmith86 opened #6426 "Add takeover screen interaction"
After you sign up for a campaign and you see the takeover screen, you should be able to scroll through multiple screens.

[2016-05-10 19:28] sbsmith86 opened #6427 "Repeat sign up page"
In the takeover screen, add a page that lists a few campaigns related to the current campaign and allow the user to sign up to those campaigns from there.

Think about fun confirming animations as a user signs up for campaigns in this screen.

[2016-05-10 19:36] sbsmith86 opened #6428 "Pull in campaigns automatically"
Pull in campaigns to the takeover screen automatically. As a user signs up for campaigns, they are removed and replaced with others.
- The campaigns are pull in based on type, issue, source of traffic or some other category
  - Or some combination i.e a few collection campaigns, a few based on issue
- Only campaigns the users is not signed up for
- They should show up in random order.

[2016-05-10 19:51] sbsmith86 opened #6429 "Handle signs from takeover screen"
handle storing signup info from the repeat sign up page as users press the "sign up" button for each campaign they are interested.

**Questions:**
- Can we hook into the same functionality that is being used on the main campaign page?
- Or, should we hook into how the API handles post requests for signup?

[2016-05-10 19:51] sbsmith86 commented on #6419
We don't need this.

[2016-05-10 19:51] #6419 closed, assigned to nobody

[2016-05-10 22:09] sbsmith86 opened #6430 "Detect if a sign up is from a new account or an old one"
We could display different experiences for people who just created an account to sign up for a campaign vs those who have already been members.

**New Folks:** If a user signs up for an account and then signs up for a campaign we could display more of an onboarding experience for them.

**Old Folks:** If a member has already had an account, we could cut right to showing them other campaigns to sig

[2016-05-11 16:32] weerd commented on #6413
@lkpttn can you provide me a link to a campaign that you know of that has multiple so I can test this out properly?

[2016-05-11 16:41] weerd opened #6432 ""latest_news" property on Campaign endpoint is wonky"
## _BUG_
#### Current Behavior
- There shouldn't be a nested property of `latest_news` within a property with the same `latest_news` name:

![image](https://cloud.githubusercontent.com/assets/105849/15188780/82e9533a-1775-11e6-9972-dcf82ef642c9.png)
#### Desired Behavior
- Not sure how latests news is actually returned when there is data, but probably should be an array of items?
#### Why This Mat

[2016-05-11 17:09] lkpttn commented on #6413
@weerd Lemme look around. I know it's _possible_ but not sure if we actually use it anywhere.

[2016-05-11 18:51] sbsmith86 commented on #6430
Note: Pass parameter when signing up a user that designates if the users is new or old so messaging can detect it as well.

[2016-05-11 20:02] chloealee commented on #6425
Done with https://github.com/DoSomething/phoenix/commit/75cd1be2daeb79380088a8b14aed30e7acdcd6c9 with @sbsmith86

[2016-05-11 20:02] #6425 closed, assigned to nobody

[2016-05-11 20:05] weerd commented on #6413
@lkpttn @angaither "translatable" is mentioned in #6412 however apart from providing global related data concerning a campaign's `campaign_runs`, available `translations` and the `language` for the current campaign node, `/api/v1/campaigns/1283` we don't provide any translations regarding the field data. None of the other properties show what a translation for that field is or defines how to make

[2016-05-11 22:35] namimody opened #6433 "Increase Max Width on Sponsor Logos in Campaign Template"
## _FEATURE OVERVIEW_
#### User Story

Recently, several sponsor logos have appeared smaller than preferable on the campaign header. This mostly happens when logos are long and skinny vs. square/circular logos. How can we change the current dimensions on the site to work better for all logos and still work within the constraints of the template on web and the mobile app?
#### Additional Informatio

[2016-05-12 19:14] DFurnes commented on #6433
Yeah, this is a tough one. 😞 I wonder if an okay solution would be keeping sponsor logos below the campaign title/subtitle (like we do on mobile) for "tablet" width devices as well?

[2016-05-12 19:54] chloealee commented on #6428
dosomething_campaign_preprocess_action_page

[code]

[2016-05-12 20:09] DFurnes commented on #6385
Since these requests are being proxied through Northstar, we could likely filter `remote_addr` by Northstar's IP. We could also (with potentially less fidelity) use the StatHat stat [for that route](https://www.stathat.com/v/stats/MZO3).

[2016-05-13 14:39] chloealee commented on #6427
Closed with commit ae6358b with @sbsmith86

[2016-05-13 14:39] #6427 closed, assigned to nobody

[2016-05-13 15:24] #6413 closed, assigned to weerd

[2016-05-13 15:55] namimody commented on #6433
@DFurnes good thing your :brain: is on this! What would happen if we increased the max width to 175 or 190 px for certain logos? Like, add another image type for long logos? Could that work?

[2016-05-13 16:04] DFurnes commented on #6433
I think the problem is specifically with sponsor logos on evergreen campaigns (where the sponsor logo is directly to the right of the tagline, rather than being below it). If we're okay with sponsor logos always being below the tagline, I think we could definitely increase the max-width.

Without a end date to push it down:
![screen shot 2016-05-13 at 12 01 53 pm](https://cloud.githubusercontent.c

[2016-05-13 16:10] angaither commented on #6418
we can just use placeholder emoji for meow

[2016-05-13 16:10] #6418 closed, assigned to nobody

[2016-05-13 16:11] angaither commented on #6421
boom done with #6424

[2016-05-13 16:11] #6421 closed, assigned to DFurnes

[2016-05-13 16:11] angaither commented on #6423
also closed with #6424

[2016-05-13 16:11] #6423 closed, assigned to katiecrane

[2016-05-13 16:15] angaither commented on #6406
@DFurnes I'm still seeing lots of 404s in the `gladiator_failed_task_log`
I'm wondering if we do need to handle this is another way. those users aren't updating, they are normally either registering or signing up for a campaign and they are now always stuck in the failed log, unless we manually port them over.

[2016-05-13 16:20] angaither commented on #6406
actually looking into these users I might have found a pattern they all have registration from niche
additionally these bugs are true for everyone I've checked so far
- they all are `en-global`users even though the address is United states (#6159)
- they have random strings instead of usernames set (#2753)
- the user isn't getting ported to northstar

[2016-05-13 17:00] weerd commented on #6412
Turns out it's a bit easier than expected. The campaign node (with a bit of help from our custom field data extractor functions) provides us the ids for the action guides. Then, we can just use `node_load_multiple()` pass the ids, and we get _most_ of the data we really need. Not sure about the galleries b/c I don't know of local examples where I could see action guides w/ galleries in them? But I

[2016-05-13 17:07] angaither commented on #6412
@weerd we don't use the `gallery` field on those nodes, so no worries there

[2016-05-13 17:20] angaither commented on #6375
refs #1891

[2016-05-13 17:39] weerd commented on #6412
Cool! Well, the nice thing is _if_ we ever decide to use them, it'd just be a simple update to grab those and attach to the object/array that gets sent to the transformer, and bingo!

[2016-05-13 21:15] weerd commented on #6412
@lkpttn @angaither

Here's a list of the items I'm leaving out and not exposing (partly cause I don't think we use them, but feel free to correct me!):
- `field_intro_image`
- `field_gallery`
- `field_additional_text`
- `field_additional_text_title`
- `translations`

cool?

_Note_ `translations` are excluded because in this action guide node "type", translations are not handle (data structure-wise

[2016-05-13 22:20] deezone opened #6439 "Optional transactional for /api/v1/campaigns/[nid]/signup"
## _FEATURE OVERVIEW_
#### User Story

When the Campaigns Signup (https://github.com/DoSomething/phoenix/wiki/API#campaign-signup) endpoint is called a transactional message is triggered. This message needs to be optionally suppressed.
#### Additional Information
- calls to `https://www.dosomething.org/api/v1/campaigns/[nid]/signup` result in the campaign signup transactional being sent:

![image]

[2016-05-13 22:56] namimody commented on #6433
Hmmm I feel like sponsors almost always (really can't think of an exception) come on for "limited time only" campaigns, so that might work! Thoughts @mikefantini?

[2016-05-13 23:06] namimody opened #6440 "Shower Songs Runs + Reportbacks"
#### Relevant Screenshots + Links

up until 7:05 PM EST on 5/13/16, Shower Songs GL EN was set to:
https://www.dosomething.org/node/6511/edit/en-global
![image](https://cloud.githubusercontent.com/assets/12396076/15263549/0c8ab59c-1939-11e6-97a2-d6bb80fe9202.png)

Shower Songs US EN was set to:
![image](https://cloud.githubusercontent.com/assets/12396076/15263556/1c96b2ba-1939-11e6-9fe3-4d32963a93

[2016-05-13 23:07] namimody commented on #6440
cc @mikefantini

[2016-05-16 00:52] mshmsh5000 opened #6441 "Add email lint/spell check to user password screen"
## _FEATURE OVERVIEW_
#### User Story

As a user, I would like common-sense feedback and helpers when I enter my email address to reset my password.
#### Additional Information (optional)

We already have this functionality in the registration screen. Let's also use it on the password reset flow.
#### Why This Matters

We can't tell a member whether or not her email address _exists_ in our system,

[2016-05-16 13:40] angaither commented on #6412
me thinks `field_additional_text` & `field_additional_text_title` are actually used

[2016-05-16 13:43] lkpttn commented on #6412
Yeah a quick spot check revealed at least a handful that use `field_additional_text` and `title`

https://www.dosomething.org/node/6708/edit
https://www.dosomething.org/us/node/4945/edit

The usage of the fields seems to be pretty inconsistent from campaign to campaign but I think we need those fields for sure.

[2016-05-16 13:46] weerd commented on #6412
Okie doke, thanks for the input!

[2016-05-16 14:27] angaither opened #6442 "Externally created users should have the right language"
## _BUG_
#### Current Behavior
- users who are created programaticaaly get assigned `global-english` even if we have their address as being in the US
- because global english is the default, they all are being assigned the default language
#### Desired Behavior
- allow external services to either set a language, or have drupal infer the correct language if an address is provided

refs #6159

[2016-05-16 14:44] angaither opened #6444 "Extra Perms on import"
## _BUG_
#### Current Behavior
- imported users are getting treated extra special
#### Steps to Replicate
- how can you make it happen every time?
#### Why This Matters
- everyone should be authenticated, but nothing more
#### Relevant Screenshots + Links

[check this doc for patterns](https://docs.google.com/spreadsheets/d/1RkGdi17BS-iBEU9IFZK6a-T86Dg-JZtYmFIrgAfnG_U/edit#gid=0)

[2016-05-16 14:49] #4152 closed, assigned to nobody

[2016-05-16 17:55] aaronschachter commented on #6413
@lkpttn Would you mind adding Thor/Production campaign id's to this issue and #6412 we can use for testing?

[2016-05-16 18:46] #6412 closed, assigned to weerd

[2016-05-16 19:44] DFurnes opened #6450 "Able to create duplicate mobile users via API."
## _BUG_
#### Current Behavior

Requests to the `api/v1/users` endpoint will allow you to create duplicate records for the mobile field.
#### Desired Behavior

It should not let you do this.
#### Steps to Replicate
1. Make an API request to the `api/v1/users` endpoint.
2. Then, do it again with the same mobile.
3. Repeat as many times as desired.
4. React in horror to the disaster you have wrought

[2016-05-16 20:44] DFurnes commented on #6387
This is fixed now on staging & production!

[2016-05-16 20:44] #6387 closed, assigned to DFurnes

[2016-05-16 21:10] #6304 closed, assigned to nobody

[2016-05-17 16:27] angaither commented on #2753
this happens on profile save now, it's getting overwritten each time.

[2016-05-17 16:27] #6444 closed, assigned to nobody

[2016-05-17 17:53] aaronschachter opened #6454 "Campaigns API -- some Action Guides are returning null properties"
## _BUG_
#### Current Behavior
- Not all properties are returned from API for some Action Guides

I'm seeing `null` values for some Action Guides -- Birthday Mail's calling script is one example, there's content that appears on web, but the [properties are NULL in the API](https://www.dosomething.org/api/v1/campaigns/2461). Other Action Guide nodes are returned as expected for Birthday Mail.

<img

[2016-05-17 18:12] aaronschachter commented on #6454
Hmmmm right before my very 👀 the Birthday Mail calling script [response has changed to return content](https://www.dosomething.org/api/v1/campaigns/2461)

<img width="998" alt="screen shot 2016-05-17 at 11 09 41 am" src="https://cloud.githubusercontent.com/assets/1236811/15333808/0cf9e388-1c20-11e6-8a13-eedcb3dd94b2.png">

I tried clearing cache on staging to see if it fixes Yeah Science, but its

[2016-05-17 19:01] #2753 closed, assigned to angaither

[2016-05-17 19:07] weerd commented on #6454
LOL. Yeah I just loaded it... in the first screenshot, it actually looks like the `copy: {...}` property was just collapsed is all...
![image](https://cloud.githubusercontent.com/assets/105849/15335630/22d945a6-1c41-11e6-9b9a-c9afd137909e.png)

[2016-05-17 19:09] weerd commented on #6454
If it still happens I suspect maybe a caching thing, but I do remember making it so that if a campaign is edited, it clears _that_ campaign from the cache in the API... but it was also a while back and my memory is fuzzy 👴

[2016-05-17 19:55] chloealee commented on #6428
Closed with commit 6344a5f.

Uses existing `dosomething_campaign_get_recommended_campaign_nids` function to dynamically add campaigns. Only thing that is missing that is listed above is that campaigns are not replaced with others after a user signs up for campaign (instead, "SIGNUP" button just changes text to "Signed up!").

[2016-05-17 19:55] #6428 closed, assigned to nobody

[2016-05-18 15:00] angaither opened #6457 "expose kudos on user profile"
let peeps see in their profile if others kudoed their item

[2016-05-18 15:01] angaither opened #6458 "set default kudos for entire site"
- replace the `heart` emoji with the SVGs provided

[2016-05-18 15:01] angaither opened #6459 "allow kudos override per campaign"

[2016-05-18 15:08] DFurnes commented on #6450
It turns out this endpoint also doesn't sanitize mobile numbers like we do elsewhere (any punctuation or letters are stored directly in the database). I'm wary of doing too much refactoring, but it sure feels like there should be some shared business logic between this and "web" registration.

[2016-05-18 15:16] DFurnes opened #6460 "Undefined variables in _dosomething_user_add_signup_data"
## _BUG_
#### Current Behavior

In `_dosomething_user_add_signup_data`, the variables `$user` and `$node` are [referenced on line 895](https://github.com/dosomething/phoenix/blob/39233a8d142dd6fd021b1472fce1070a8a6fffee/lib/modules/dosomething/dosomething_user/dosomething_user.module#L894-L895) but don't seem to exist in the current scope. It looks like the `dosomething_global_get_language` functi

[2016-05-18 15:17] angaither commented on #6450
@DFurnes based on no mobile cleansing, as well as #6442 (we are somehow [still](https://github.com/DoSomething/phoenix/blob/5758474cb8273954936a2988c037ee52007c8225/lib/modules/dosomething/dosomething_api/resources/member_resource.inc#L169)  calling [this old-ass function](https://github.com/DoSomething/phoenix/blob/b2706b012d415a2d94796bb6df776da538dcd2e4/lib/modules/dosomething/dosomething_setti

[2016-05-18 15:33] #6450 closed, assigned to DFurnes

[2016-05-18 17:52] #6442 closed, assigned to DFurnes

[2016-05-18 17:57] DFurnes commented on #6159
If this is due to #6442, it should be fixed if the Niche consumer is updated to send the `country` parameter added in #6463 (which will in turn now set the right language for that country code).

/cc @DeeZone

[2016-05-18 17:58] #6400 closed, assigned to DFurnes

[2016-05-18 17:58] #6403 closed, assigned to DFurnes

[2016-05-18 17:58] angaither commented on #6159
I think we should update this issue (or open a new one) to backfill and fix users who have the wrong language

[2016-05-18 18:34] DFurnes opened #6464 "Warnings when pulling staging database."
## _BUG_
#### Current Behavior

A warning occurs when pulling the staging database, because one of the preprocess functions uses `$country_code` for the first parameter of `array_key_exists()` and it's null. 😞
#### Desired Behavior

There should be no warnings.
#### Steps to Replicate

Pull the staging database using `ds pull --stage`. You'll see a whole bunch of warnings like this:

[code]
#### W

[2016-05-18 18:36] angaither commented on #6464
🌚  #6312

[2016-05-18 18:36] #6464 closed, assigned to nobody

[2016-05-18 18:36] DFurnes commented on #6464
Oh would ya look at that.

[2016-05-18 19:10] deezone commented on #6159
@DFurnes @angaither Based on the Phoenix Create User endpoint: https://github.com/DoSomething/phoenix/wiki/API#create-a-user

The default language for all Niche users imported should be `US` even though it's not been provided in the in the current `POST`: https://github.com/DoSomething/phoenix/blob/dev/lib/modules/dosomething/dosomething_api/resources/member_resource.inc#L175

[2016-05-18 19:16] #6312 closed, assigned to angaither

[2016-05-18 19:18] DFurnes commented on #6159
@DeeZone Yep, that was the parameter that I mentioned was added in #6463. If all Niche users are coming from the US, then it's safe to omit and let it use the default value.

[2016-05-18 19:30] deezone commented on #6159
Nice... I should have "clicky clicked" your reference link before making my comment.

[2016-05-18 20:23] sbsmith86 opened #6467 "Move onboarding experience to modal"
Move the "onboarding" and repeat signup experience to the modal to follow the mocks:

[Campaign Modal.pdf](https://github.com/DoSomething/phoenix/files/272836/Campaign.Modal.pdf)

[2016-05-18 20:24] chloealee commented on #6429
We ended up using the API to POST a signup.

[2016-05-18 20:24] #6429 closed, assigned to nobody

[2016-05-18 20:26] sbsmith86 opened #6468 "Move onboarding experience under a feature flag"
Before we merge this into dev we need to provide a way to turn this experience on or off per campaign.

We should implement a feature flag. Similar to what the kudos team did [here](https://github.com/DoSomething/phoenix/search?utf8=%E2%9C%93&q=allow_reactions)

![image](https://cloud.githubusercontent.com/assets/1700409/15397094/d3fe9d24-1dac-11e6-8dca-e9d0d21cbb6e.png)

[2016-05-18 20:29] sbsmith86 opened #6469 "Figure custom admin flow for onboarding experience"
There still might be some open questions here as to what we actually need, but documenting a first pass at this here. And of course this is all depending on if this actually works and we want to commit to implementing it correctly, after user testing.
## _FEATURE OVERVIEW_
#### User Story

As an admin, I would like to be able to configure and manage the content in the different screen in the repea

[2016-05-18 20:34] DFurnes commented on #6409
New query that seems to be a bit more helpful:

[code]

[2016-05-19 00:18] deezone commented on #6159
@DFurnes  Both `mobile` and `country` are now being submitted to Phoenix for new user requests:
https://github.com/DoSomething/mbc-user-import/blob/master/src/MBC_UserImport_Source_Niche.php#L135-L151

[2016-05-19 00:20] deezone commented on #6159
@DFurnes

Time for `mbc-user-import` to use Northstar? If so, I'll try to get it on our roadmap for sooner than later.

[2016-05-19 13:50] angaither commented on #6440
@namimody can you include links or IDs to the reportbacks you think are incorrect?

[2016-05-19 13:54] DFurnes commented on #6159
@DeeZone I think that'd be a great idea! Let me know if there's anything I can do to help.

[2016-05-19 14:02] angaither opened #6470 "Fix Niche Flow"
## _FEATURE OVERVIEW_
#### Current flow
1. User is created via the api
2. Sent a link to reset password
3. Click the dumb login link
4. Reset password/edit profile
#### Easier flow
1. User is created via the api
2. Sent a link to reset password
3. Skip the login thing, and just reset password/edit profile
#### Additional Information (optional)

[There's a module for this](https://www.drupal.org/pr

[2016-05-19 14:14] sbsmith86 commented on #6430
@chloealee looking at the mocks that fantini made up and wondering if for this first pass of this issue, instead of worrying about implementing the experience for new vs existing users, we just append something to the  `source` param we pass to the signup endpoint.

For example, if it is a new user the source should be `repeat-signup-new` and `repeat-signup-existing` for old users, or something li

[2016-05-19 14:20] mshmsh5000 commented on #6409
In case we haven't posted the explanation elsewhere:
- There's no `UNIQUE` constraint on `mail` in the `users` table, so MySQL's not gonna stop you.
- Drupal's default user form validation will [catch duplicate email addresses](https://github.com/drupal/drupal/blob/7.x/modules/user/user.module#L1273), so these are most likely from when we've bypassed either that validation or form submission entir

[2016-05-19 14:22] chloealee commented on #6430
@sbsmith86 that makes sense to me! So if it's an existing user, nothing changes for them and they have the same signup experience that is live on prod right now, right?

[2016-05-19 14:23] angaither commented on #6409
Most (if not all) of the cases appear to be two (or more) users created right in a row. the ol' double ping. the clickly-click.

@mshmsh5000 can we add `UNIQUE` to mail? would that be the worst?

[2016-05-19 14:26] DFurnes commented on #6470
This could also work well as a "complete your profile" two-step registration flow in Northstar.

[2016-05-19 14:27] sbsmith86 commented on #6430
@chloealee yea at least for now.

[2016-05-19 14:28] mshmsh5000 opened #6472 "Bump message_broker_producer requirements warning"
## _BUG_
#### Current Behavior

The Message Broker module displays a requirements error on the Drupal status report. This is because of a bug that was [fixed in the module in May 2015](https://github.com/DoSomething/message_broker_producer/commit/56d095c07a7bef745d89becb5a5767a9654cc3a6). This fix is in [v0.2.6](https://github.com/DoSomething/message_broker_producer/releases/tag/0.2.6), the most r

[2016-05-19 14:30] DFurnes commented on #6409
@mshmsh5000 Yeah, there was a period where we didn't have validation running on API requests (which was added [in September 2014](https://github.com/DoSomething/phoenix/pull/3034)). That explains all of the dupes that exist on staging, but unfortunately they're still showing up regularly on production. 😢

[2016-05-19 14:37] angaither commented on #6139
@namimody this can be fixed by creating global english translations of the image tags

[2016-05-19 14:41] namimody commented on #6139
@angaither sweet!!! how do we do that? is that a product job or a dev job?

[2016-05-19 14:44] angaither commented on #6139
@namimody they can be translated like any other content on the site, but visiting the term and hitting `translate`
e.g. https://www.dosomething.org/taxonomy/term/278/translate
it seems like the cause taxonomy was translated (https://www.dosomething.org/taxonomy/term/16/edit?destination=admin/structure/taxonomy/cause)

***but this does make me think we fix a lot of things because global english is

[2016-05-19 15:53] chloealee commented on #6430
@sbsmith86 looking more closely at this issue, do you mean changing the `source` param we have now (`multi-signup-module`) to either `repeat-signup-new` or `repeat-signup-existing`?

Another route I was thinking would be to utilize the existing [`dosomething_signup_set_signup_message`](https://github.com/DoSomething/phoenix/blob/bb4fa06179e98a3b76cc14dd5a4791edfc8cf3e1/lib/modules/dosomething/doso

[2016-05-19 16:20] sbsmith86 commented on #6430
@chloealee sure! I still think it would be cool to pass that information to the JS that the user is new, even if we don't care to store it (My thought initially was that would be good for data tracking and/or messaging but that could be pointless, shrug lol) But as this idea flushes out, like if we eventually want different experiences for new/existing users, it would be useful to know that info o

[2016-05-19 16:21] mshmsh5000 commented on #6409
I think it makes _super hella sense_ to have `UNIQUE` on `mail`. Obv we'd have to eliminate the current dupes first.

If the duplicates are occurring serially like that, I wonder if there's some double-firing of `user_save()` _after_ the form/API validation.

[2016-05-19 17:13] chloealee commented on #6430
@sbsmith86 ahh I see! So maybe a mix of both? Do the user logic in `dosomething_signup.module` and pass that to js if it's an existing or new member. Then when we make the signup POST request, replace `multi-signup-module` (`source` param) with either `repeat-signup-existing` or `repoeat-signup-new`?

[2016-05-19 17:19] sbsmith86 commented on #6430
@chloealee I think you are right about not messing with the `source` param right now (at least not until we know what we need to track or not.) but otherwise yes!

[2016-05-19 17:20] chloealee commented on #6430
awesome, thanks @sbsmith86 !

[2016-05-19 18:20] #6240 closed, assigned to nobody

[2016-05-19 18:37] angaither commented on #6167
closing because we can hope for better days in repo https://github.com/DoSomething/guardian

[2016-05-19 18:59] DFurnes commented on #6409
I'm not sure if this is responsible for _all_ the dupes, but I am able to reliably create duplicate users by triggering two requests right after one another. The ol' race condition. 🐎

Proof of concept using CURL:

[code]

[2016-05-19 19:01] angaither commented on #4849
no thanks hot module.

[2016-05-19 19:01] #4849 closed, assigned to mikefantini

[2016-05-19 19:08] DFurnes commented on #6409
And (as suggested), adding a `UNIQUE` constraint on the `mail` column fixes that up. 👮

[2016-05-19 19:11] angaither commented on #6405
omg duplicate #2274
![](https://media.giphy.com/media/Zfel0A5zMsffy/giphy.gif)

[2016-05-19 19:11] #6405 closed, assigned to nobody

[2016-05-19 19:23] angaither commented on #2067
this is sorta different in gerogieboi meow.

[2016-05-19 19:23] #2067 closed, assigned to nobody

[2016-05-19 19:24] angaither commented on #4922
I'm going to close this issue out, we only support `en` in the api, and this is intended for now.
We can re-visit if we prioritize other languages in external services

[2016-05-19 19:24] #4922 closed, assigned to sergiitk

[2016-05-19 19:25] angaither commented on #4866
I'm 99% sure we killed this

[2016-05-19 19:25] #4866 closed, assigned to namimody

[2016-05-19 19:31] angaither commented on #4767
🇬🇧 ❌

[2016-05-19 19:31] #4767 closed, assigned to nobody

[2016-05-19 19:31] angaither commented on #5930
🇬🇧 ❌

[2016-05-19 19:31] #5930 closed, assigned to sergiitk

[2016-05-19 20:12] angaither commented on #6022
THIS HAS BEEN COMPLETED
![image](https://cloud.githubusercontent.com/assets/645205/15408086/674ad410-1ddc-11e6-89e0-ca58e9a8a5b8.png)

[2016-05-19 20:12] #6022 closed, assigned to lkpttn

[2016-05-19 20:21] angaither commented on #4703
same as #6167 we don't need this

[2016-05-19 20:21] #4703 closed, assigned to weerd

[2016-05-19 20:23] angaither commented on #5753
🔨

![image](https://cloud.githubusercontent.com/assets/645205/15408394/03135bdc-1dde-11e6-9f15-2a145388b902.png)

[2016-05-19 20:23] #5753 closed, assigned to lkpttn

[2016-05-19 20:26] angaither commented on #4384
nah
![](http://rack.0.mshcdn.com/media/ZgkyMDEzLzA1LzA2L2NlL2RvbmVoZXJlLjkwOTI3LmdpZgpwCXRodW1iCTEyMDB4OTYwMD4/71ccdc11/f22/donehere.gif)

[2016-05-19 20:26] #4384 closed, assigned to weerd

[2016-05-19 20:29] weerd commented on #4384
LOL

[2016-05-19 20:37] angaither commented on #5734
oh exclusive content you say? we don't believe in that here.
EQUALITY!

[2016-05-19 20:37] #5734 closed, assigned to weerd

[2016-05-19 20:40] angaither commented on #3786
@DFurnes says that this is "not worth wasting time on"
![](https://media.riffsy.com/images/08953f35c7af2c2055095c7a3a728ee1/raw)

[2016-05-19 20:40] #3786 closed, assigned to weerd

[2016-05-19 20:54] angaither commented on #5554
surely this has been merged by meow.

[2016-05-19 20:54] #5554 closed, assigned to mshmsh5000

[2016-05-19 20:56] mshmsh5000 commented on #5554
Yeah @angaither our Vagrant box is version like 6000 now. SIX THOUSAND

[2016-05-19 21:50] chloealee commented on #6430
@sbsmith86 yikes I think I was thinking about this wrong all day but wanted to get your opinion before I change it.

In order to check if a user was new or existing, I defined a new user as one whose account was created at the same time as the signup. However, now I'm realizing that maybe a user will register for an account but not necessarily signup for a campaign right away. E.g. I go to DoSomet

[2016-05-20 02:26] sbsmith86 commented on #6430
imo, I think it makes sense to just show this sorta onboarding/repeat signup experience for only first time signups. Let's not even worry about what we do for other users (so they would just get the same experience they have now).

Maybe we should bring this up at stand up to discuss with fantini and team to see what they were thinking?

[2016-05-20 02:39] namimody commented on #6167
@angaither does it make sense to move this issue to the Quasar repo?

[2016-05-20 13:59] chloealee commented on #6430
sounds good - thanks for the feedback!

[2016-05-20 13:59] namimody commented on #5583
What else can I add here to be helpful, @angaither?

[2016-05-20 14:13] namimody commented on #6297
@DFurnes mind if I put 30 mins on for us next week for this?

[2016-05-20 14:15] namimody commented on #6440
@angaither you would be better at writing this query in SQL than me -- but basically it would be any reportbacks associated with campaign NID: 3590 and run NID: 6511 that came in after May 1st 2016. Is that helpful?

[2016-05-20 14:20] namimody commented on #6139
@angaither I should still translate all taxonomy terms into all languages, right? regardless of the outcome of the "GL EN as default language" discussion?

[2016-05-20 14:21] angaither commented on #6139
@namimody 👍 yeah that'll work

[2016-05-20 14:21] angaither commented on #6139
or just change the language of the current ones to gl-english

[2016-05-20 14:31] DFurnes commented on #6297
Sure! 👍

[2016-05-20 15:39] DFurnes opened #6477 "Warning on array_diff_key when calling user_save."
## _BUG_
#### Current Behavior

Modifying a user _without_ changing their role results in a warning.
#### Desired Behavior

No warnings. 🔕
#### Steps to Replicate

If you edit a user and the `$edit` array does not contain the `roles` key, you get the following warning triggered by [this line attempting to read a value from an array before checking that the key exists](https://github.com/dosomethin

[2016-05-20 18:04] chloealee commented on #6430
Closing with #6476

[2016-05-20 18:04] #6430 closed, assigned to nobody

[2016-05-20 19:36] aaronschachter opened #6479 "Campaigns API - expose id for Campaign.attachments objects"
## _Feature request_
#### User Story

As a developer using the DS API, I'd like to know the canonical Attachment id of an attachment users are viewing, to track specific Attachment views in Google Analytics

Refs: https://github.com/DoSomething/phoenix/pull/6434#issuecomment-219565457

[2016-05-23 14:22] DFurnes opened #6480 "Properly handle `@@mobile` emails when syncing in the Northstar module."
## _BUG_
#### Current Behavior

We remove the "email" field when it matches the `@@mobile` pattern [in the export script](https://github.com/DoSomething/phoenix/blob/6f3d919ba657acd5dd0dba4a55dc6499854c6eab/scripts/export-users-to-northstar.php#L100-L105) but don't do that when syncing users on-demand in the Northstar module.
#### Desired Behavior

The `dosomething_northstar_build_ns_user` should

[2016-05-23 14:24] #6408 closed, assigned to DFurnes

[2016-05-23 14:24] #6477 closed, assigned to nobody

[2016-05-23 15:20] angaither opened #6481 "get modal to display"
After a user signs up for the organ donation campaign, display the organ donation registration modal

[2016-05-23 15:21] angaither opened #6482 "post request to api"
- send first request to the organize api with the zip code

[2016-05-23 15:26] angaither opened #6483 "share campaign"
As a user I get a "unique" url that I can share with friends so other people can sign up from me
- create a custom URL that is a link to the campaign's pitch page with a UID attached
- eg dosomething.org/campagins/organ?source=[uid]

[2016-05-23 15:45] mikefantini commented on #1891
Closing this in favor of #6375

[2016-05-23 15:45] #1891 closed, assigned to nobody

[2016-05-23 17:10] #6103 closed, assigned to lkpttn

[2016-05-23 18:21] DFurnes opened #6486 "Remove tests?"
## _DISCUSSION_
#### Current Behavior

The functional and unit tests are out of date and have not been updated (or run) in a very long time.
#### Proposed Behavior

Since these aren't being used, we should consider removing them from the repository.
#### Why This Matters

We shouldn't have code in the repository that isn't being used, since it is confusing for onboarding.
#### Relevant Tickets

Re

[2016-05-23 18:21] namimody commented on #5914
Seems like campaign collections are now all fatally erroring -- with or without /us/ --

for both https://www.dosomething.org/us/volunteer/globalgoals and https://www.dosomething.org/volunteer/globalgoals this shows:
![image](https://cloud.githubusercontent.com/assets/12396076/15480086/9b925352-20f1-11e6-9ed4-246821fb96e8.png)

also try:
https://www.dosomething.org/us/volunteer/boosomethingorg

[2016-05-23 18:23] namimody commented on #5914
@blisteringherb when do you think we could take a look at this? thanks!!

[2016-05-23 18:46] namimody opened #6488 "Error on Log In and Log Out on GL EN"
## _BUG_
#### Current Behavior

Clicked Log In on GL EN homepage (in Canada via TorGuard), logged in with non-admin account, was brought to the screenshot below. I cleared cache and cookies, and got the same error. Hitting back in the browser brought me back to the homepage which looked fine, and I was logged in. If I tried to log out, I was shown the same screen as when I tried to log in.
#### De

[2016-05-23 18:51] #6479 closed, assigned to weerd

[2016-05-23 18:52] aaronschachter commented on #6486
Refs https://github.com/DoSomething/phoenix/issues/1746 too, e.g. [`dosomething_reportback.test`](https://github.com/DoSomething/phoenix/blob/a1163d189604f3878b7231743b80b061559e9f43/lib/modules/dosomething/dosomething_reportback/dosomething_reportback.test)

[2016-05-23 18:56] blisteringherb commented on #5914
The error logs are indicating that there's no campaign data which is causing an exception. Attempting to edit the node is also gives me a fatal error. The code is written to throw and exception if there's no campaign data found:

https://github.com/DoSomething/phoenix/blob/dev/lib/modules/dosomething/dosomething_campaign/includes/Campaign.php#L65

@angaither Does anything in particular here look f

[2016-05-24 14:22] weerd commented on #6375
We should probs keep the button if JS fails for whatever reason. Can probably do some logic and remove the button if JS is working fine, otherwise keep it because then form works like a simple dropdown select of choices and then you need to click button to submit. cc: @DFurnes thoughts?

[2016-05-24 14:28] DFurnes commented on #6375
@weerd Unfortunately the query for the campaign finder is built [on the client-side](https://github.com/DoSomething/phoenix/blob/dev/lib/themes/dosomething/paraneue_dosomething/js/finder/SolrAdapter.js) so there isn't an easy fallback. I know there were some informal discussions a long time back about making a "search" service that'd act as an intermediary between Solr and the client-side app but

[2016-05-24 14:36] weerd commented on #6375
Oh crap yeah, forgot that detail. Okie doke! Been so long since I've touched the campaign finder, haha! Thanks for the reminder @DFurnes 💃

[2016-05-24 14:40] DFurnes commented on #6398
Ah, bummer. This is a side-effect of how we changed vertical padding to be on the `.container__row` in Forge 6.7. I think the best quick solution is to add that padding to `.container__block` on mobile breakpoints and we can maybe give more thought to how the container classes work in a future release.

[2016-05-24 14:46] angaither commented on #6470
according to @DeeZone we no longer send password reset emails to niche users
so this link probably needs to be included in the signup for niche emails

[2016-05-24 14:56] angaither opened #6490 "Pull API docs into the repo"
#### User Story

As a developer I don't want to hunt through the wiki to find the api docs.
#### Why This Matters

We should live our lives the with DFunes™ standard in our hearts and minds.
#### Current Workaround w/o Feature (if applicable)

search the wiki. find out dated documentation

[2016-05-24 15:11] sbsmith86 opened #6491 "Set up organ donation module"
## _FEATURE OVERVIEW_
#### User Story

As dosomething devs, staff, and other interested parties when a user is presented with the organ donation modal we want to track the user's registration.
#### Implementation deets
- Set up a module `dosomething_organ_donation`
- Create a new table `dosomething_organ_donation`
  - sid
  - uid
  - nid (?)
  - run_nid (?)
  - registration_timestamp (store time o

[2016-05-24 15:40] angaither commented on #6440
@namimody handing back over to you for more details

[2016-05-24 15:54] DFurnes commented on #6398
This has been fixed in [Forge 6.7.2](https://github.com/DoSomething/forge/releases/tag/v6.7.2).

[2016-05-24 15:54] #6398 closed, assigned to DFurnes

[2016-05-24 16:02] DFurnes commented on #6398
And deployed to Staging. 🚀

[2016-05-24 16:05] DFurnes commented on #4867
Oh, and this was fixed in #6321 since Webpack now generates fingerprinted assets.

[2016-05-24 16:05] #4867 closed, assigned to DFurnes

[2016-05-24 16:17] angaither commented on #5914
looks like this broke when we fixed #6357, because we are now only loading type campaigns in `Campaign.php` while these nodes are all campaign collection nodes

[2016-05-24 16:23] angaither opened #6492 "Import UK users"
### User story

As a uk.dosomething.org user I should be able to log in to dosomething.org

As we retire the uk site, we should import UK users. 🇬🇧 ➡️ :us:
### Steps
- we can run a script like [this](https://github.com/DoSomething/phoenix/blob/dev/scripts/import-all-the-things.php) to import users from the uk
- set `source` to `DS UK`
- do not import campaign activity

[2016-05-24 17:33] #6375 closed, assigned to weerd

[2016-05-24 19:50] weerd commented on #5914
Can you pass multiple types to: https://github.com/DoSomething/phoenix/pull/6360/files#diff-db98b09850e08759ec1a1280686dcb60R52 ?

[2016-05-24 20:04] DFurnes commented on #5129
Oh, here's another one that's been done. 🎯 Closing!

[2016-05-24 20:04] #5129 closed, assigned to nobody

[2016-05-24 20:04] angaither commented on #5129
YAIS @DFurnes 👏

[2016-05-24 20:52] namimody commented on #6297
Started at a snippet size of 107 KB, removed JQuery got it down to 84 KB, and then to 63 KB after we excluded paused + draft experiments from being included in the snippet.

@DFurnes for the win (per usual)!

[2016-05-24 20:52] #6297 closed, assigned to namimody

[2016-05-24 23:10] deezone commented on #6470
James is implementing the link in the current Niche onboarding process. I'll let him chim in once he has a GitHub account.

[2016-05-25 14:31] #6480 closed, assigned to DFurnes

[2016-05-25 14:55] DFurnes opened #6498 "Clean up NPM git dependencies."
## _REFACTOR_
#### Current Behavior

We had previously configured a couple of our NPM dependencies (`fixed-sticky`, `html5shiv`, `unveil`, and `jquery.iecors`) to install from my GitHub forks so we could apply patches.
#### Desired Behavior

We should revisit whether we still need these custom forks, and if not, use the versions in the registry.
#### Steps to Replicate

Look at the [`package.json`

[2016-05-25 14:59] DFurnes opened #6499 "Prevent building assets with out-of-date dependencies."
## _REFACTOR_
#### Current Behavior

If someone has out-of-date modules in their `node_modules` directory, they'll get error messages and broken things when they try to run `ds assets`.
#### Desired Behavior

We should see if we can use something like [check-dependencies](https://www.npmjs.com/package/check-dependencies) or [installed-check](https://www.npmjs.com/package/installed-check) to provid

[2016-05-25 15:04] chloealee commented on #6483
@angaither @sbsmith86 will these links live as social share icons/do we want to just add the `source=[uid]` to the [`dosomething_helpers_share_bar`](https://github.com/DoSomething/phoenix/blob/dev/lib/modules/dosomething/dosomething_helpers/dosomething_helpers.share.inc#L130) function to include or will we give the link to user to share in a different way?

[2016-05-25 15:07] angaither commented on #6483
@chloealee I don't think we want to do the whole social share bar with these

cc @mikefantini

[2016-05-25 15:10] mikefantini commented on #6483
@angaither @chloealee sorry is the "whole social bar" FB, Twitter, Tumblr?

[2016-05-25 15:10] sbsmith86 commented on #6483
We can certainly choose which social media options you want to use, but all the `dosomething_helpers_share_bar` outputs is like:

[code]

Regardless, i think they will be icons at least, right? and then you just need to append the `source=[uid]` param to the `path` that you send to `dosomething_helpers_share_bar`. That should output all the markup you need with the appropriate classes

[2016-05-25 15:11] sbsmith86 commented on #6483
@mikefantini the "whole share bar" can be fb, tumblr, twitter. But, it doesn't have to be. You could just do a subset of those, or we can add more if you want.

[2016-05-25 16:45] #6460 closed, assigned to itsjoekent

[2016-05-25 17:15] itsjoekent commented on #5997
@mshmsh5000 so you're suggesting we make a simple JS regex check on this page?

I feel like it makes more sense to do this in Drupal without touching the API. Relying on fender JS to remove sensitive info isn't gonna stop a CURL request or a browser with JS disabled

[2016-05-25 17:59] mshmsh5000 commented on #5997
@deadlybutter No, definitely suggesting the template or user preprocessing layer in Drupal.

[2016-05-25 18:06] itsjoekent commented on #5997
gotcha, just making sure!

[2016-05-25 18:29] DFurnes opened #6503 "Users can be registered with invalid emails via the API."
## _BUG_
#### Current Behavior

You can currently register using an invalid email via the Services API endpoint.
#### Desired Behavior

We should not allow invalid emails to be saved to the database.
#### Steps to Replicate

[code]
#### Why This Matters

We shouldn't allow this, since we assume that an email attached to an account is real elsewhere.

[2016-05-25 18:39] DFurnes commented on #6406
Users should now be saved with the correct language based on their provided `country` code (#6463). And users registered via the API will now have their UID saved as their "name" as well (#6502).

The last issue is potentially a bit trickier, since we hit this endpoint _from_ Northstar when setting up a new mobile app user's Phoenix account. Maybe a good interim fix (until all users can be created

[2016-05-25 19:27] mikefantini commented on #6483
@angaither I was initially thinking icons. And @sbsmith86 mentioned we could potentially display the link as well.

Ideally I'd want to see what the different options look like before making a final call - is this something that's easy enough to look at on dev or would you want this mocked up?

[2016-05-25 19:29] chloealee commented on #6483
cool thanks, all! I think this is easy enough to look at on dev for options, np!

[2016-05-25 19:45] weerd commented on #6488
So one suspicion I had is that somewhere in the code, because it's a country we don't specifically account for, there's probably an error with it trying to do something with the Canada prefix and it can't because technically that should just be global.

Did some testing locally and this seems to be the case. On loading any page, even within the CMS, I see errors for:

[code]

Not necessarily sure

[2016-05-25 19:59] jessleenyc opened #6504 "Favicon not appearing"
## _BUG_
#### Current Behavior

Favicon not appearing
#### Desired Behavior

Favicon should appear
#### Steps to Replicate

navigate to: https://www.dosomething.org/us
#### Why This Matters

good branding?
#### Countries Affected (optional)
#### OS/Browser (optional)

Mac OSX El Capitan Version 10.11.5 / Chrome 50.0.2661.102
#### Relevant Screenshots + Links

![screen shot 2016-05-25 at 3 27 22 pm

[2016-05-25 20:01] DFurnes commented on #6504
...gah! That `/dist/` folder change strikes again! 😩

[code]

These should both be updated to point to `/node_modules/@dosomething/forge/assets/images/`.

[2016-05-25 20:11] chloealee commented on #6483
@mikefantini here's what it looks like with share buttons and the link (obviously we can tweak with better design and copy!). Right now, this is just in the drop down we built for the multi-signup but I can pop all of this into the modal that will pop up getting more of the user's info. to interact with the Organize API.
![screen shot 2016-05-25 at 4 09 29 pm](https://cloud.githubusercontent.com/a

[2016-05-25 20:16] weerd commented on #6488
So it looks like Canada is a very specific case.

I believe that for languages that we don't support on the site they get designated to `en-global`, so for example when we've tested spoofing loading the site from Japan which doesn't have `en` in its language code, we default that to `en-global` somewhere in the code and then all works fine with that. But for Canada which can have a language code o

[2016-05-26 13:42] #6491 closed, assigned to sbsmith86

[2016-05-26 14:25] #6504 closed, assigned to nobody

[2016-05-26 14:36] DFurnes opened #6506 "Display issue in "Do It" tabs when no tips are provided."
## _BUG_
#### Current Behavior

If there aren't any "tips" in the "Do It" section, it seems like we still print out an empty container which looks kinda messy.
#### Desired Behavior

We should probably hide this section if it's content is empty!
#### Steps to Replicate

Check out the bottom of the "Do It" section on [Four Legged Finishers](https://www.dosomething.org/us/campaigns/four-legged-finis

[2016-05-26 14:38] DFurnes commented on #6506
Oh, we also seem to be allowing more than 3 "tips" to be included per section which ends up looking a little awkward when the "tabs" wrap to a second line (also seen on Four Legged Finishers):

![screen shot 2016-05-26 at 10 37 39 am](https://cloud.githubusercontent.com/assets/583202/15578309/fbd4371a-232d-11e6-970f-431158816f83.png)

[2016-05-26 14:45] DFurnes commented on #6503
This was fixed by #6502.

[2016-05-26 14:45] #6503 closed, assigned to nobody

[2016-05-26 14:55] #6441 closed, assigned to itsjoekent

[2016-05-26 15:30] #6470 closed, assigned to angaither

[2016-05-26 15:39] weerd opened #6509 "Undefined index notice on every pitch page."
## _BUG_
#### Current Behavior

We are getting this error in the logs:

[code]
#### Desired Behavior

We shouldn't be getting an error.
#### Steps to Replicate

Load a pitch page and check the logs. The error/notice will show up there.
#### Why This Matters

It's a small bug with a very quick and easy fix that has been around for a while. This should be fixed so that it doesn't pollute the list of

[2016-05-26 15:50] #6509 closed, assigned to weerd

[2016-05-26 19:25] #5997 closed, assigned to itsjoekent

[2016-05-27 03:22] namimody opened #6516 "# of People Participating Showing Up on All Pitch Pages"
## _BUG_
#### Current Behavior

On every non-SMS campaign pitch page, you can see the "# of people participating."
#### Desired Behavior

Only the second CTA should show near the second sign up button. It should not show the # of people participating.
#### Steps to Replicate

Go to any campaign's pitch page and look at the second CTA. It will also show the # of people participating in the campaign

[2016-05-27 13:51] #6481 closed, assigned to nobody

[2016-05-27 13:53] DFurnes commented on #6516
Oh, I removed the styles for this in #6494. 😞 Didn't realize we were still calculating and outputting this on the page. I can put in a fix this morning.

[2016-05-27 14:05] #6516 closed, assigned to DFurnes

[2016-05-27 14:09] DFurnes opened #6518 "Fatal error when trying to save theme settings"
## _BUG_
#### Current Behavior

Trying to save theme settings results in a fatal error:

[code]
#### Desired Behavior

It should not result in a fatal error.
#### Steps to Replicate

Go to the theme settings and try to save them.
#### Why This Matters

Fatal errors are bad.

[2016-05-27 14:23] #6518 closed, assigned to nobody

[2016-05-27 14:35] namimody commented on #6516
cc @mikefantini as an FYI

[2016-05-27 15:01] DFurnes commented on #6406
Users created through the API should be getting forwarded to Northstar once #6510 is deployed, with one additional request being made from Phoenix to Northstar each time a Northstar user is created with the `create_drupal_user=true` parameter (until DoSomething/northstar#360 is merged).

[2016-05-27 15:11] weerd opened #6521 "Lots of locale_language_url_rewrite_url errors in dblog"
## _BUG_
#### Current Behavior
- The Drupal logs are constantly reporting numerous notices regarding:

[code]
#### Why This Matters

These notices overpopulate and mask more important warnings and notices that the system is reporting. It would be helpful to remove these, and may also highlight other issues in the code when the above notice is addressed.

[2016-05-27 17:32] #6521 closed, assigned to weerd

[2016-05-27 17:34] weerd commented on #6097
Duplicate issue... resolved with: #6522

[2016-05-27 17:34] #6097 closed, assigned to nobody

[2016-05-27 17:34] weerd commented on #5866
Duplicate issue... resolved with: #6522

[2016-05-27 17:34] #5866 closed, assigned to itsjoekent

[2016-05-27 17:39] weerd commented on #6488
In case this issue relates to some stuff that was fixed in #6521 PR, adding a reference to it here!

[2016-05-27 19:57] #6483 closed, assigned to chloealee

[2016-05-27 20:20] deezone commented on #6439
@angaither This issue has become a priority for the Quicksilver Team for Niche user import / campaign signups. My plan to address this issue:
- Add `transactional` column to `dosomething_signup.install`
  - `dosomething_signup_schema()`
  - `dosomething_signup_update_7025()`
- Add lookup for `transactional` in `_campaign_resource_signup` for submission to `dosomething_signup_create()`
- Update `do

[2016-05-31 14:26] chloealee opened #6525 "Store source param in source field of signup when a user signs up via referral link"
When a user signs up for the campaign via a friend's referral link, grab the source param from the link and store in the source field of the signup.

[2016-05-31 14:40] angaither commented on #6525
that functionality [should work already](https://github.com/DoSomething/phoenix/blob/1e9977fded4f2202aa7cf15d50659823098f644a/lib/modules/dosomething/dosomething_signup/dosomething_signup.module#L209)

[2016-05-31 14:57] namimody opened #6526 "Add Description Field to Campaign Run Node"
## _FEATURE OVERVIEW_
#### User Story

Runs for campaigns for different reasons. Sometimes we add a scholarship to a campaign, sometimes there is a celebrity influencer, sometimes there is a sponsor. All of this context as to why we start a new run is not logged anywhere central to all teams, making it hard to make sense of different runs from a data/campaigns/tech perspective.

What we would like

[2016-05-31 14:58] chloealee commented on #6525
oh great, thanks @angaither ! So this issue should just be to grab this and save in the source field of the signup.

[2016-05-31 15:16] chloealee commented on #6525
oh wait sorry I see now - it already does that too! Closing this issue.

[2016-05-31 15:16] #6525 closed, assigned to chloealee

[2016-05-31 15:20] angaither commented on #6488
@deadlybutter mind picking up this issue?

[2016-05-31 15:21] itsjoekent commented on #6488
👍

[2016-05-31 18:55] angaither commented on #3894
competition users sometimes submit lots of photos, we don't want to set a limit

[2016-05-31 18:55] #3894 closed, assigned to nobody

[2016-05-31 20:18] mshmsh5000 opened #6529 "paraneue_dosomething_preprocess_user_profile(): Declare $reportback_items"
## _BUG_
#### Current Behavior

`Notice: Undefined variable: reportback_items in paraneue_dosomething_preprocess_user_profile() (line 55 of [...]/lib/themes/dosomething/paraneue_dosomething/includes/preprocess/preprocess_user.inc).`
#### Desired Behavior

No notice.
#### Steps to Replicate

Should happen every time on a campaign without reportback items.
#### Why This Matters

Log cleanup

[2016-05-31 21:05] #6379 closed, assigned to itsjoekent

[2016-06-01 15:26] angaither commented on #6526
@chloealee mind taking a look at this while waiting for organz

[2016-06-01 18:56] #6488 closed, assigned to weerd, itsjoekent

[2016-06-01 19:01] itsjoekent opened #6532 "When campaign has global translation MX/BR users are still given US translation"
## _BUG_
#### Current Behavior
- MX/BR users are not given global content when available
#### Desired Behavior
- You should be given the global translation
#### Steps to Replicate
- As MX/BR user click on a campaign from the homepage with global/US translation but no MX/BR translation
- You'll be redirected to the US translation
#### Why This Matters

Mexico and Brazil users should be given conten

[2016-06-01 19:01] itsjoekent commented on #6532
@angaither i should self assign this correct?

[2016-06-01 20:25] itsjoekent commented on #6532
My user account was set to "English", everything works fine 👍

[2016-06-01 20:25] #6532 closed, assigned to nobody

[2016-06-02 14:16] namimody opened #6535 "Translate Staff Pick Field"
## _FEATURE OVERVIEW_
#### User Story

The staff pick field is not translated, but should be, as it is very likely that there are different campaigns we want to highlight at different times for different experiences.
#### Additional Information (optional)

The field is under the "Taxonomy and Discovery Section"

![image](https://cloud.githubusercontent.com/assets/12396076/15747928/e69efaba-28aa-11

[2016-06-02 14:24] chloealee commented on #6526
@angaither so sorry - just seeing this now! Do you want me to jump on this now before moving forward with more organize work? @sbsmith86 and I just broke up some work and I was about to start creating the endpoints to hit the API on the backend and pass info to frontend.

[2016-06-02 14:54] namimody opened #6536 "Ensure Pitch Page Scholarship Callout Reflects Backend"
## _BUG_
#### Current Behavior

If the US EN translation of a campaign has a scholarship, all other translations of the campaign show this scholarship on the pitch page.

![image](https://cloud.githubusercontent.com/assets/12396076/15749274/c5ff4350-28af-11e6-9a86-f162183513a4.png)
#### Desired Behavior

The pitch page scholarship call out should:

a) only appear if the translation has a scholarsh

[2016-06-02 14:55] sbsmith86 opened #6537 "Organize config options"
## _FEATURE OVERVIEW_
#### User Story

As an admin, I would like to switch between using Organize's testing api and their prod api without a code deploy. We can currently do this for the API tokens, but not the base URLs.
#### Additional Information (optional)

During development/testing we should use Organize's testing server at: `'https://fiftythree-dev.organize.org/api/v2/` which we have a toke

[2016-06-02 17:30] chloealee commented on #6526
@namimody do we also want the description to show up on this page (I've put a placeholder where it will be)?
![screen shot 2016-06-02 at 1 30 13 pm](https://cloud.githubusercontent.com/assets/9019452/15754452/34eee67e-28c6-11e6-9cb5-1fabad5fd905.png)

[2016-06-03 14:01] namimody commented on #6526
@chloealee thanks for asking! Sure -- let's expose the run description on this view, but could we make the order:

Campaign
Campaign Closed State
Run Description

Thanks!!!

[2016-06-03 14:20] chloealee commented on #6526
@namimody sure thing!

[2016-06-03 15:33] angaither commented on #4128
refs #6541

https://github.com/DoSomething/phoenix/pull/6541#issuecomment-223610295

[2016-06-03 15:33] #4128 closed, assigned to nobody

[2016-06-03 15:37] #6385 closed, assigned to katiecrane

[2016-06-03 15:47] angaither commented on #6459
this will be default on for all campaigns

[2016-06-03 15:47] #6459 closed, assigned to nobody

[2016-06-03 15:49] angaither opened #6542 "Disable Kudos on pre-seeded photos"
if a reportback item does not have a `data-reportback-item-id`, do not display kudos on that

![image](https://cloud.githubusercontent.com/assets/645205/15784595/2764797c-2981-11e6-9dcf-eb71055fb898.png)

[2016-06-03 15:51] angaither opened #6543 "Update Kudos config"
instead of enabling per campaign, this should be enabled by default and then the box will be disable per campaign

![image](https://cloud.githubusercontent.com/assets/645205/15784655/7d12ed2c-2981-11e6-8062-f4b6fe15d308.png)

[2016-06-03 15:53] angaither opened #6544 "Allow kudos actions on 'view more' reportbacks"
Reportback items rendered on the frontend after clicking `view more` need to have kudos options on them

[2016-06-03 15:59] angaither opened #6545 "Add kudos on the permalink"
Enable kudos on the permalink page
![image](https://cloud.githubusercontent.com/assets/645205/15784900/9f30e4b2-2982-11e6-9c62-2daec39ea945.png)

[2016-06-06 14:43] angaither opened #6547 "Create backend api calls"
- [x] `GET`  with zipcode
- [x] `POST` with registration

[2016-06-06 14:43] #6526 closed, assigned to chloealee

[2016-06-06 14:44] angaither commented on #6482
closing for #6547

[2016-06-06 14:44] #6482 closed, assigned to sbsmith86

[2016-06-06 14:46] angaither opened #6548 "Create front end registration form"
- Create form containing results of fields returned from #6547's `GET` request
- This should have our JS validation we already have
- Should `POST` to #6547's `POST` endpoint

[2016-06-06 15:44] namimody opened #6551 "US EN Overwriting GL EN Content in Admin View"
## _BUG_
#### Current Behavior

US EN content is appearing in the admin views of GL EN. 😭
#### Desired Behavior

The GL EN translation (admin view) of the campaign should _always_ reflect exactly what is in the backend of the GL EN translation.
#### Steps to Replicate
1. Look at a US EN translation of a campaign.
2. Look at the GL EN translation of a campaign.
3. Compare the backend of the GL EN t

[2016-06-06 15:45] namimody commented on #6551
@angaither I swear I saw this behavior also occurring for the member facing view this past Friday, but now I'm unable to replicate that behavior. At the very least, it's definitely happening in the admin view, which is very confusing.

[2016-06-06 15:54] #6486 closed, assigned to nobody

[2016-06-06 18:00] #6535 closed, assigned to itsjoekent

[2016-06-06 19:39] #6537 closed, assigned to angaither

[2016-06-06 19:58] angaither opened #6554 "Display different info for people of different ages"
## _FEATURE OVERVIEW_

Based on the user's birthday send the user to the appropriate experience
- 18+ gets the registration form
- Under 18 gets the social declaration

[2016-06-06 20:06] angaither opened #6555 "Create a login endpoint"
## _FEATURE OVERVIEW_
#### User Story

As a user I can get sent a link (via the mobile app) and then click that link and be magically logged in to the phoenix site
#### Additional Information (optional)

We need to expose a new endpoint on the phoenix api that sends Admin users a magic link to log a person in.
#### Why This Matters

Organs.

[2016-06-06 20:07] angaither opened #6556 "Pre-fill organ forms fields"
We have user info for the zip, birthday, email, etc for most users.
When that user goes to fill out the organs form, that stuff should be pre-filled if we have the info

refs #6548

[2016-06-06 20:12] angaither opened #6557 "Store user fields after a user submits organ reg form"
We should be able to fill out on a user once they submit the organ donation form
- [ ] `field_birthdate`
- [ ] `field_mobile`
- [ ] `field_address`
- [ ] `field_last_name`

[2016-06-06 20:23] #6542 closed, assigned to weerd

[2016-06-07 13:56] sbsmith86 commented on #6554
If they are under 13 we still need to do the GET to the postal code endpoint?

[2016-06-07 13:57] angaither commented on #6554
@sbsmith86 I think the goal with people under 13 is to just send the user to the share link, but I think it's  still TBD

[2016-06-07 15:48] DFurnes opened #6561 "Vagrant 2.0 box build errors"
## _BUG_
#### Current Behavior

The `ds build --install` and `ds build` commands cause a bunch of errors when run on the [PHP 7 version of the Vagrant box](https://github.com/DoSomething/phoenix/pull/6438) and result in a broken installation.

I've copied the errors into two gists for aid debugging: [when running `ds build --install`](https://gist.github.com/DFurnes/2f47756e2ea08328e001e14af71a744

[2016-06-07 15:58] mshmsh5000 commented on #4980
Summarizing how this can work from the command line:

Install the [changelog generator gem](https://github.com/skywinder/github-changelog-generator).

Run this:

[code]

Using a GH token here is important, because it allows many more API calls (which you need to make).

[2016-06-07 16:29] angaither opened #6562 "Dblog errors about organz"
## _BUG_
#### Current Behavior

@weerd saw this in dblog

[code]

and this

[code]
#### Desired Behavior

no errors
#### Steps to Replicate

I think it's because the organ donation module isn't turned on for him, so we need to wrap all code in checks if the module is enabled
#### Why This Matters

reasons

[2016-06-07 17:39] angaither commented on #6458
@lkpttn we are using the heart and here is the SVGs
https://dosomething.slack.com/files/piercey/F1EQSUM9P/gray-heart.svg
https://dosomething.slack.com/files/piercey/F1EP7FJHZ/pink-heart.svg

[2016-06-07 17:53] DFurnes commented on #6561
Downgrading my Vagrant box to 1.0.7 fixed the issue, in the meantime.

[2016-06-07 18:52] lkpttn commented on #6458
Here's what it looks like in practice:

![kudos gallery](https://cloud.githubusercontent.com/assets/1865372/15870725/31f3b146-2cbf-11e6-99a6-e14850ab59a0.png)

Icon is 30px wide. Font is the gamma heading, which should be roughly 18px.
12px to the left and bottom edges. The text is normal #4a4a4a.

[2016-06-07 18:55] namimody commented on #6551
Sadly, the fake campaign I made in Thor had to be wiped, so I'll need to list out all the fields that were showing up incorrectly when this issue is picked up.

[2016-06-07 19:08] chloealee commented on #6562
@weerd I'm having trouble replicating this on my local - can you tell me at what point you saw these in the dblogs?

@angaither looks like there are checks if the module is enabled already but the variables and properties are undefined for some reason.

[2016-06-07 19:11] weerd commented on #6562
@chloealee Toggle off the organ donation stuff, and then load a few campaigns. I don't have any of the organ donation stuff activated on my local, but get those errors whenever I load any campaign.

[2016-06-07 19:20] chloealee commented on #6562
@weerd hmmm I tried doing that but still can't get those same errors. I am getting another error though:

[code]

[2016-06-07 19:35] chloealee commented on #6562
ahh - I see that you're fixing those in a separate PR now (#6563)! Are you still seeing the errors in this issue? @weerd

[2016-06-07 19:35] weerd commented on #6562
@chloealee yep. that'll be fixed with this one #6563

[2016-06-07 19:36] weerd commented on #6562
![image](https://cloud.githubusercontent.com/assets/105849/15872075/95b06ff2-2cc5-11e6-9076-2bc9fecce098.png)

yep yep.

[2016-06-07 19:37] chloealee commented on #6562
hm weird! Thanks for sending - I keep trying to replicate.

[2016-06-07 19:48] namimody opened #6564 "Add Help Text to Run Title Field"
## _FEATURE OVERVIEW_
#### User Story

Currently, we have all different formatting on run titles.

![image](https://cloud.githubusercontent.com/assets/12396076/15872263/7befff0a-2cc6-11e6-8517-915ea7ad0628.png)

Like campaign titles, campaign run titles should be written the same way, so that data and reporting looks neat.

_Campaign Name run #_

ex. Comeback Clothes run 1

Not:

_Comeback Clothes

[2016-06-07 19:50] namimody opened #6565 "Add Security Updates to Phoenix"
## _FEATURE OVERVIEW_
#### User Story

Drupal told me that there were security updates available here: https://www.dosomething.org/admin/reports/updates/update
#### Why This Matters

Phoenix should be as secure as possible!

[2016-06-07 20:08] chloealee commented on #6562
oh sorry - I was confused above! By enabled I thought it meant the organ donation box was checked in custom settings. But now I see why I was misunderstanding - sorry about that!

[2016-06-07 20:16] weerd commented on #6562
No worries :)

[2016-06-07 20:31] namimody opened #6567 "Three Dots in Header Photos"
## _BUG_
#### Current Behavior

Some campaigns have three dots that appear on the left of the header photo, and some don't.
#### Desired Behavior

Three dots should not appear.
#### Steps to Replicate

Go to the header photo of the campaigns listed below.
#### Why This Matters

These dots are weirddd.
#### OS/Browser (optional)

Chrome
#### Relevant Screenshots + Links

A campaign with three dots:

[2016-06-07 21:42] weerd commented on #6544
This requires some API updates for the reportback-items endpoint to include the same kudos info that we're using on the initial gallery before the view more.

[2016-06-07 23:20] #6439 closed, assigned to angaither, deezone

[2016-06-08 14:43] jessleenyc commented on #6545
@angaither, just to clarify - are you looking for a mockup? @lkpttn is there anything I can do to be helpful here?

[2016-06-08 14:51] lkpttn commented on #6545
@jessleenyc yeah no worries, I'm going to provide this mockup today.

[2016-06-08 15:10] itsjoekent opened #6568 "Clicking edit tab button as a global admins (outside US/MX/BR) gives 404 page"
## _BUG_
#### Current Behavior
- Go to a campaign page as an admin outside our supported ones (EG: Canada)
- Click "edit" from the tabs
- You're given a 404 page (it's trying to serve something like /edit/add/en-ca which is not supported)
#### Desired Behavior
- You should have been given the option to edit/add a global translation
#### Steps to Replicate
- Use tor gaurd to fake the experience, it

[2016-06-08 15:19] mshmsh5000 commented on #6567
This looks like an Optimizely problem:

<img width="913" alt="ellipsis" src="https://cloud.githubusercontent.com/assets/149811/15899759/cf3d8b6a-2d6a-11e6-8928-aad6d745d3f6.png">

[2016-06-08 15:25] angaither commented on #6567
ah! lovely!

[2016-06-08 16:09] angaither commented on #6406
@DFurnes just took a look at the failed task log again and it seems like we have a bunch of these from this AM

[2016-06-08 16:53] #6562 closed, assigned to chloealee

[2016-06-08 16:55] #6555 closed, assigned to DFurnes

[2016-06-08 17:10] angaither commented on #6458
@deadlybutter mind picking this up next?

[2016-06-08 17:11] itsjoekent commented on #6458
@angaither sure

[2016-06-08 17:14] #6547 closed, assigned to chloealee

[2016-06-08 17:23] #6543 closed, assigned to itsjoekent

[2016-06-08 17:25] #6565 closed, assigned to angaither

[2016-06-08 18:38] itsjoekent commented on #6458
talked w/ the 😎 fenders -- going to

1- use CSS to do this
2- switch the <a> to a button because that makes more sense

[2016-06-08 18:39] weerd commented on #6544
Might be easier then expected. I was getting confused since most of the items that are loaded via the view more just don't already have kudos on them...

[2016-06-08 18:41] lkpttn commented on #6545
![2 0 permalink likes](https://cloud.githubusercontent.com/assets/1865372/15906487/0bdcbdb8-2d87-11e6-9e3b-485fdd7d219b.png)

[2016-06-08 18:46] lkpttn commented on #6457
![2 0 profile likes](https://cloud.githubusercontent.com/assets/1865372/15906644/c2f21d54-2d87-11e6-9b5b-df9402d1ebda.png)

12px distance from the second reportback line to the top of the heart icon

[2016-06-08 19:27] sbsmith86 opened #6572 "Return Not Found response from Organize API"
## _FEATURE OVERVIEW_
#### User Story

As a developer, when I try to look up a zip code with our Organize API Wrapper, if the zip code is not found I get the full response back from Organize.
#### Additional Information (optional)

This is an example of the response we get back from Organize if the zip code is not found:
![image](https://cloud.githubusercontent.com/assets/1700409/15907977/55083c3c

[2016-06-08 19:41] jessleenyc opened #6573 "'Likes' going into negative numbers"
## _BUG_
#### Current Behavior

Kudos is going into negative numbers when you reload the page after you've liked something.
#### Desired Behavior

Kudos should retain the same number of likes.
#### Steps to Replicate

1.Navigate to staging
2.Click on any active campaign
3.'like' a photo
4.refresh page
5. click on emoji multiple times
#### Why This Matters

Negative 'likes' make no sense.

![screen

[2016-06-09 13:53] angaither commented on #6554
@ngjo I think we still need to decide who we want to show the form to, based on birthdate

[2016-06-09 14:37] DFurnes commented on #6406
Oooof, will take a look! 😬

[2016-06-09 15:19] DFurnes commented on #6406
All the failed tasks in the log share the same value for the `timestamp` column, which is a bit of a head scratcher. They all started as `1465481367`, and switched to `1465484700` a little later! 💭 ⌚

It looks like Gladiator had a fatal error of some kind for _some_ of these requests, since 13 of those users are showing `500 Internal Server Error` as the error response. These users all exist in No

[2016-06-09 15:27] angaither opened #6574 "use two versions of the organize api"
## _FEATURE OVERVIEW_
#### User Story

As dosomething, I need to be able to `GET` zipcode info from organize's `v4` api as it's the most up to date.
I need to be able to `POST` registration info to orgaize's `v2` api since there is no v4 version.
#### Additional Information (optional)

Currently the api version is set in a [setting](https://github.com/DoSomething/phoenix/blob/dev/lib/modules/dosom

[2016-06-09 15:55] weerd opened #6575 "Add property to global DS JS object to indicate whether kudos reactions active on campaign"
Need to add a boolean property that can be checked by the "view more" script in the campaign galleries to know if it needs to append kudos data for the Reportback Items it loads via AJAX.

[2016-06-09 17:32] angaither commented on #6573
looks like this is because when a page loads, it doesn't have a `kid` so it's `POST`ing to create a new record and getting a `FALSE` so it looks like the numbers go negative

[2016-06-09 17:37] weerd commented on #6573
This might be related.... but I removed the `data-kid` attribute cause it seemed like it was a duplicate attribute here: https://github.com/DoSomething/phoenix/pull/6563/files#diff-c661ff64a81c86b6b235e5c3dddee4acL19

[2016-06-09 17:37] weerd commented on #6573
There were both `data-kudo-id` and `data-kid`. If removing the `data-kid` is the issue, then maybe I can just point the JS to use `data-kudo-id` instead?

[2016-06-09 17:38] angaither commented on #6573
`data-kudo-id` perhaps not the most aptly named field is the term id of the kudo
and `kid` is the actually record row in the table.
that's ~totally~  what we are missing

[2016-06-09 17:40] weerd commented on #6573
oh! Yeah, super confusing. Totally thought it was just the same @_@

I can make a fix for that with the PR I'm already doing for the view more. Wanna assign this to me?

[2016-06-09 17:42] angaither commented on #6573
I gotz it

[2016-06-09 17:42] weerd commented on #6573
k

[2016-06-09 17:50] itsjoekent commented on #6457
hmmm, after https://github.com/DoSomething/phoenix/pull/6577 gets merged it might make sense to break Kudos out of the photo template. otherwise we're gonna have some duplicate code.

also @lkpttn in this mockup some of the hearts are pressed, people can heart there own reportbacks?

[2016-06-09 17:54] lkpttn commented on #6457
Yes indeed, people can like their own reportback

[2016-06-09 18:09] ngjo commented on #6554
@angaither
- 18+ gets the registration form
- Under 18 gets the social declaration

[2016-06-09 18:13] #6564 closed, assigned to chloealee

[2016-06-09 18:43] #6572 closed, assigned to chloealee

[2016-06-09 18:57] jessleenyc opened #6581 "Able to select multiple search filters at once"
## _BUG_
#### Current Behavior

-Currently able to select multiple causes/times/types on campaign search
#### Desired Behavior
- Should only be able to select item from each list
#### Steps to Replicate
1. navigate to home page
2. click cause
3. quickly click on different categories. observe multiple categories highlighted.
4. repeat for other time & type
#### Why This Matters

-Selecting multiple

[2016-06-09 19:28] angaither commented on #6581
we have seen this before (#2584 #1695)

[2016-06-09 19:55] #6574 closed, assigned to chloealee

[2016-06-09 20:11] ngjo commented on #6557
I'm thinking the most useful ones:
-state
-postal_code
-phone_number
-birthdate (if we don't have it)
-last_name
-street_address
-apartment
-city

and -gender (mike mentioned we don't have a field that maps back to this and want to also double check with jeff if this is something we'd even want to track)

[2016-06-09 20:28] angaither opened #6583 "Display unique share link in campaign template"
## _FEATURE OVERVIEW_
#### User Story

As a user, when I finish registering to be an organ donor, I want to be able to access my social share links if I revisit the campaign page.
#### Additional Information (optional)

This should display in the "stuff you need" section, if the share link is enabled for that campaign
#### Why This Matters

because Adam said so.

[2016-06-09 20:31] angaither opened #6584 "Create custom setting to enable & configure unique social share link"
## _FEATURE OVERVIEW_
#### User Story

As an admin I would like to enable a unique social share link per campaign.
As an admin I would like to provide custom text to share with the link.
#### Additional Information (optional)

This should be a toggle in the `custom settings` of a campaign.
There should also be a text field (it would be cool it if also had a counter)
#### Why This Matters

We can c

[2016-06-09 20:44] angaither commented on #2179
omg this is the most done thing that's never been closed

[2016-06-09 20:44] #2179 closed, assigned to jonuy

[2016-06-09 20:48] angaither commented on #4924
@namimody ya it was 🍶

[2016-06-09 20:48] #4924 closed, assigned to mikefantini

[2016-06-09 21:53] ngjo opened #6588 "Explanation about gender question on form"
## _FEATURE OVERVIEW_
#### User Story

As a user, when I see the gender question on the registration form (M/F), I want to know why DS is (1) asking me for my gender and (2) why the options are such.

Would like to:
1. On the registration form, change "Gender" to "Sex" (organ donation is about the chromosomes here, not how the user identifies)
2. Add a ? mark (or similar) next to "Sex" that either

[2016-06-09 21:57] ngjo opened #6589 "Wording about why we're asking them to sign-up to DS to become an organ donor"
## _FEATURE OVERVIEW_
#### User Story

As a non-member user, when I come to the pitch page and decide to "register to donate" I'm prompted w/ the "sign-up to be a member."

Would like to see an explanation about why we are asking them to sign-up either on the pitch page or on the actual sign-up page.
#### Why This Matters

The user might be confused, "why do I need to sign up for this other thing

[2016-06-09 22:07] ngjo opened #6590 "Query for competitions"
## _FEATURE OVERVIEW_
#### User Story

As an admin, I need to be able to query the database to know who have:

(1) Signed up

(2) Fallen off the form (possible to track where they've fallen off the form -- should that be a custom event? I'm talking to data team about this but keeping here for now)

(3) Completed registrations

(4) Including this here, but I think the entrances  -- do I need to cre

[2016-06-09 22:14] ngjo opened #6591 "I don't feel comfortable giving SSN/license information"
## _FEATURE OVERVIEW_
#### User Story

As a user, if i'm on the registration form and I get to the SSN or license part and don't feel comfortable filling it out, I'd like an option to tell DS that I don't want to do it.
#### Additional Information (optional)

States require this information, so if they don't want to give it, we're out of luck and have to shoot them to the social declaration.

Afte

[2016-06-09 22:19] ngjo opened #6592 "Pop-up reminder to register (for those who didn't complete the form)"
## _FEATURE OVERVIEW_
#### User Story

As a user, if I qualify to fill out the registration form but decide to fill out the form later or accidentally close out of the form (basically leave the form behind), when I come back to the pitch page, I want to be prompted again to fill out the registration form.
#### Additional Information (optional)

Form doesn't need to be filled out w/ what they might

[2016-06-09 22:22] ngjo opened #6593 "Option to email the Unique ID (social declaration stage)"
## _FEATURE OVERVIEW_
#### User Story

As a user, in addition to Facebook/Twitter, I'd like to be able to email my Unique ID along with some pre-populated messaging to friends/family.
#### Additional Information (optional)

See: https://www.lucidchart.com/documents/edit/b4784dd7-e99c-4bc1-9892-256376d49593
#### Why This Matters

ORGANIZE did a study that email was the most effective way of promoti

[2016-06-10 05:22] jonuy commented on #2179
Whoa whoa whoa, this is still on my todo list

[2016-06-10 14:04] itsjoekent commented on #6457
@angaither should this be enabled by the global toggle I built here https://github.com/DoSomething/phoenix/pull/6559

or do i make a new one specific to user profiles?

[2016-06-10 15:30] weerd opened #6594 "Update Kudos API to accept user query to help not kill the API on gallery"
Had a quick chat with @DFurnes regarding Kudos and the potential for the API to get overwhelmed...

With the advent of the new Kudos Reactions being activated, right now when viewing more items hits the `/reportback-items` endpoint and nests a [`kudos` object](https://gist.github.com/weerd/1f351d23468c5096b332d5317af1579b) which contains an array of the data. In the data is the term info, and then

[2016-06-10 15:31] jessleenyc commented on #6573
@weerd our intern Sam was able to break this again and bring kudos into negative numbers. See screenshot below. I replicated by clicking the heart multiple times as well.

![screen shot 2016-06-10 at 11 14 20 am](https://cloud.githubusercontent.com/assets/14931921/15969609/c9f71f0a-2efe-11e6-990e-d570733a920d.png)

also, @deadlybutter i don't think the purple heart should be purple with 0 likes --

[2016-06-10 15:34] weerd commented on #6573
Okie doke. Working on adding the kudos to the view more gallery and almost done on that front. Can take a look at this right after :) Thanks for flagging and all the tests! Appreciate it 😄

[2016-06-10 15:35] weerd commented on #6594
@jessleenyc pinging you on this so you're aware of it :)

[2016-06-10 16:22] aaronschachter commented on #6584
It'd be nice to expose this into the API too to populate the "Share photo" copy when sharing a Reportback from mobile app.

[2016-06-10 16:59] chloealee commented on #6584
@aaronschachter makes sense! So this is when a user shares one of their own reportbacks on their social channels? Should we create a separate issue for this?

[2016-06-10 17:53] aaronschachter commented on #6584
@chloealee yup! sounds good re: separate issue, it's more of a nice-to-have vs anything needed for milestone. i'd imagine the copy would still be the same, even though we're sharing a reportback photo (its still for the campaign).

[2016-06-10 19:08] namimody opened #6596 "Translate Action Guide Field"
## _FEATURE OVERVIEW_
#### User Story

The action guide field is not translated, but should be, as it is very likely that there are different instructions we want to give for different experiences.

https://www.dosomething.org/admin/structure/types/manage/campaign/fields/field_action_guide
#### Additional Information (optional)

The field is under the "PLAN IT" section

![image](https://cloud.gith

[2016-06-10 19:20] namimody opened #6597 "Add Scholarship Confirmation to SMS Games"
## _FEATURE OVERVIEW_
#### User Story

As a member, I want confirmation that I have qualified for the scholarship. Currently, I don't get any. 😢 It would be great to have copy on this page (which I see after I submit my number and three friends' numbers) that notes I have been entered into the scholarship.

The copy could be a subtitle under "Thanks for sharing!" And read: "And you've entered to w

[2016-06-10 19:46] namimody opened #6598 "Add Snapchat + We Heart It to Footer"
## _FEATURE OVERVIEW_
#### User Story

The digital marketing team would like us to update the social media icons in our footer to include Snapchat and We Heart It (and remove Tumblr).

To turn on these icons, we first need to add the new Forge patterns to the array (IDK what I am really saying here, @angaither...sorry.)

![image](https://cloud.githubusercontent.com/assets/12396076/15976670/19840c5

[2016-06-13 13:33] angaither commented on #6592
@ngjo I think this is how the form already works, but @sbsmith86 can confirm

[2016-06-13 14:06] sbsmith86 commented on #6592
yea this is how it functions. There is no official "reminder" messaging on it, that would be some extra logic.

[2016-06-13 14:15] #6544 closed, assigned to weerd

[2016-06-13 14:15] #6575 closed, assigned to weerd

[2016-06-13 14:20] angaither commented on #6457
@deadlybutter this and #6545  should be enabled by the global toggle

[2016-06-13 14:36] angaither commented on #6573
@jessleenyc I'm not seeing this happen anymore, is it still an issue?

[2016-06-13 15:12] #6458 closed, assigned to itsjoekent

[2016-06-13 15:12] jessleenyc commented on #6573
@angaither just checked again and it's still an issue if you click on a heart multiple times, rapidly.

![screen shot 2016-06-13 at 11 11 31 am](https://cloud.githubusercontent.com/assets/14931921/16012484/b0282afa-3157-11e6-93d3-06adb88077aa.png)

[2016-06-13 15:14] weerd commented on #6573
Confirmed. Spamming the button will go negative. I can see if I can add something to disable the button until the AJAX request returns.

[2016-06-13 16:58] #6584 closed, assigned to chloealee

[2016-06-13 17:12] chloealee opened #6599 "Expose custom social share text in API for reportback sharing on mobile app"
## _FEATURE OVERVIEW_
#### User Story

Expose custom social share text in API to be used when populating the "Share photo" copy when sharing a Reportback from the mobile app.
#### Additional Information (optional)

Refs #6584
#### Why This Matters

Nice-to-have since the copy would still be the same when sharing a reportback photo.

[2016-06-13 17:40] weerd opened #6601 "Add kidos id to attribute on the kudos for view more gallery RB items."
## _BUG_
#### Current Behavior
- On _view more_ gallery items, can add a kudos reaction but not remove it.
#### Desired Behavior
- users should be able to remove their kudos reactions from RB items in the view more gallery.
#### Steps to Replicate
- click on kudos for item in view more gallery, and then click to remove it. Reload the page, the kudos is probably still there.
#### Why This Matters

[2016-06-13 17:57] chloealee commented on #6554
@ngjo @mikefantini Question: on the user flowchart, it looks like if a user is under 18, they get taken to this view instead of the registration form:
![screen shot 2016-06-13 at 1 53 20 pm](https://cloud.githubusercontent.com/assets/9019452/16017506/40f9e652-316e-11e6-8500-a71de00d818a.png)

I was looking at the [API docs](http://docs.fiftythree.apiary.io/#reference/profile/declaration/post) and

[2016-06-13 18:07] #6601 closed, assigned to weerd

[2016-06-13 18:07] #6573 closed, assigned to weerd, angaither

[2016-06-13 18:34] #6490 closed, assigned to nobody

[2016-06-13 20:50] angaither commented on #6594
I'm down with this.
but also `user-reacted:` not `userReacted` 😉

[2016-06-13 21:04] #6457 closed, assigned to itsjoekent, lkpttn

[2016-06-13 21:12] weerd commented on #6594
true. I forgot, but I think we actually use snakecase in the api instead of hyphens. anyhoo, cool. I'll make update once back from Staff Retreat!

[2016-06-13 21:30] jessleenyc opened #6605 "User Profile Kudos - Neg Numbers"
## _BUG_
#### Current Behavior

Kudos going into negative numbers on user profile.
#### Desired Behavior

Kudos numbers should toggle positively by 1.
#### Steps to Replicate
- Navigate to user account page
- Click on heart.

![screen shot 2016-06-13 at 5 27 57 pm](https://cloud.githubusercontent.com/assets/14931921/16023773/5b241e8a-318c-11e6-86e9-9a51361ac00f.png)

[2016-06-14 13:51] angaither opened #6607 "Update image styles for 400x400"
## _BUG_
#### Current Behavior

`400x400` image style is converted to jpg and then compressed again to `65%` nahoooo.
#### Desired Behavior

we don't need the extra compression

[2016-06-17 14:27] mshmsh5000 opened #6608 "Drupal Core & Views updates"
## _PACKAGE UPDATE_
#### Relevant Links
- https://www.drupal.org/SA-CORE-2016-002
- https://www.drupal.org/node/2749333

[2016-06-20 13:49] ngjo commented on #6592
awesome, thanks for confirming!

(separately: would this be something I should close out...or do you guys close these things out? thanks!)

[2016-06-20 13:53] DFurnes commented on #6605
Right now, we're deciding to increment/decrement the counter based on whether the AJAX response includes a `kid` value in the response (which is what successful kudos creations have).

It probably makes sense to explicitly check for each of the expected responses, and if it's something unexpected (like a permissions issue or 404 or something) just not update the interface.

[2016-06-20 13:57] itsjoekent commented on #6605
agreed -- checking for anything other than a 200 should work?

[2016-06-20 14:03] DFurnes commented on #6605
That seems like a good idea!

[2016-06-20 14:06] itsjoekent commented on #6605
hmm, so this is the error being logged in the console on staging

`Failed to load resource: the server responded with a status of 500 (Internal Server Error : An error occurred (23000): SQLSTATE[23000]: Integrity constraint violation: 1062 Duplicate entry '4068-1700226-0' for key 'fid_uid_tid')`

[2016-06-20 14:08] itsjoekent commented on #6605
I just pulled the latest locally and I'm not having any issues or seeing that ^ though, could this have anything to do with stage?

[2016-06-20 14:14] DFurnes commented on #6605
It sounds like we might have a bug in our validation code for that endpoint (or are solely relying on the database constraint to prevent dupes). Either way, it'd definitely be good to have better client-side error handling and maybe do a little digging on the server-side endpoint.

[2016-06-20 14:18] #6592 closed, assigned to angaither

[2016-06-20 14:52] ngjo commented on #6554
Ahhh, I see -- so the "social declaration" isn't just the literal social share language (i.e., "#ISupportOrganDonation) -- so that's why in part ORGANIZE has the user fill our the form and then finds out their age.

So to confirm, the only data that ORGANIZE needs for the social declaration is:
- email
- first name
- last name
- postal code

Is this information required by ORGANIZE?

@angaither @s

[2016-06-20 14:58] angaither commented on #6607
since this style is only used for cover images, and those are 99% jpegs, I'm going to leave this in place for now. But we should monitor/change this in the future if we end up doing more graphic work for campaigns.

[2016-06-20 14:58] #6607 closed, assigned to nobody

[2016-06-20 15:05] #6608 closed, assigned to mshmsh5000

[2016-06-20 15:31] itsjoekent commented on #6605
Yeah going to need more time for investigating the SQL error, in order to fix the negative numbers I'll quickly do the HTTP code check in the JS.

[2016-06-20 15:37] angaither commented on #6605
@deadlybutter I think the [`create` method](https://github.com/DoSomething/phoenix/blob/274089f4a40eb76e5483b210e6775b03deeaae87/lib/modules/dosomething/dosomething_kudos/includes/KudosController.php#L19) just needs to be wrapped in a `try` and it returns an error if a record already exitsts

[2016-06-20 16:15] sergiitk opened #6611 "Restore login / authentication API docs"
## _Restore login / authentication API docs_
#### User Story

Some parts of API documentation are missing. This happened after we moved API docs from wiki to repo.
[Here's](https://github.com/DoSomething/phoenix/wiki/API/89cd7b6828c52d90600eb46020d881469b6c5bfd) the latest wiki state before it got wiped out. It has info on login / authentication that is missing from repo [documentation](https://gi

[2016-06-20 16:25] itsjoekent commented on #6605
started fixing a bunch of errors in ^ -- still looking into why Kudos isn't incrementing (tried the create method try/catch).

is there a good way to debug in these API functions? cc: @weerd ?

[2016-06-20 16:57] sbsmith86 commented on #6554
I don't think anything is "required" per say...but there is definitely a [declaration](http://docs.fiftythree.apiary.io/#reference/profile/declaration) endpoint in their api. I think we just need some clarification on what this endpoint is and/if we **need** to use it. That being said, all the information that they are asking us to post to that endpoint we already have and probably don't need to c

[2016-06-20 17:01] ngjo commented on #6554
Kk -- will add this question to the #organize slack channel for Dana to clarify.

If we don't need it, let's not send the info to ORGANIZE then -- it'll simplify the language on the social declaration page.

[2016-06-20 17:36] #6611 closed, assigned to DFurnes, angaither

[2016-06-20 18:14] itsjoekent commented on #6605
just gonna log some things I notice...

the values being passed into KudosController create function is missing a TID `"{"fid":"3541","uid":"1700226","tid":null}"`. That doesn't seem right.

Potentially related to ^, the Kudo being created def. does not look right.
`{"id":null,"term":null,"reportback_item":null,"use…:"3541","uid":"1700226","tid":null,"is_new":true}`

[2016-06-20 18:15] itsjoekent commented on #6605
this might explain the missing TID, figure template does not have `data-kudos-term-id` on the element, but its in photo template (where Kudos works)

[2016-06-20 19:17] namimody commented on #5754
@blisteringherb should I move this to the devops repo? thanks!

[2016-06-20 21:36] ngjo commented on #6554
From Dana in #organize: "Declaration endpoint (I believe we discussed this on the call) was for use in an old version of 53. Its no longer in use and is scheduled to be retired shortly"

So we can ignore that and continue with sending them to the social declaration view w/o the additional form.

[2016-06-21 14:09] angaither commented on #5729
closing after merge/run of the dedupe script

[2016-06-21 14:09] #5729 closed, assigned to nobody

[2016-06-21 14:27] DFurnes commented on #6406
Logs are [now working](https://git.io/voKf4) on Gladiator, and it seems like [this](https://github.com/DoSomething/gladiator/blob/56b5b01af45eaa7a597763cf8b69e441f1c5a965/app/Services/Manager.php#L87) might be the line that's causing the 500s:

[code]

That error only occurs once in the logs though (and is the only fatal error). I wonder if failed jobs aren't being re-triggered successfully since

[2016-06-21 14:37] #6605 closed, assigned to itsjoekent

[2016-06-21 14:48] angaither commented on #6406
I'm going to "well actually" and say it doesn't look like that's the issue :neckbeard:
it _seems_ like the `500s` in the failed jobs [are getting re-triggered](https://jenkins.dosomething.org/job/Cron-Production/9875/console) you can see each user not making it in on every cron.

but for all of these people who are currently in the log didn't make it fall into two cases
1. people opted into birthd

[2016-06-21 14:53] DFurnes commented on #6406
I may be being stupid here, but shouldn't 500s that are occurring hourly on Gladiator be showing up in the logs there? Why would a closed Phoenix campaign cause a 500 response from Gladiator?

[2016-06-21 14:55] angaither commented on #6406
@DFurnes probably, yes it should be showing up more than one time.
and sorry the campaign isn't closed (I mean it might be) but the competition waiting room is closed

[2016-06-21 14:56] DFurnes commented on #6406
Ohhhhh, I see. That makes sense.

[2016-06-21 14:58] angaither commented on #6406
ANNYYYWAYS I'm going to clear out those users and leave this open and check back in l8r.

[2016-06-21 15:18] angaither commented on #6590
1. campaign signups from other users will be something like

[code]
2. unclear what this query will look like currently

[2016-06-21 15:42] jessleenyc opened #6614 "Update or remove automatically calculated rb & signup numbers on campaign run nodes"
## _BUG_
#### Current Behavior
- Automatically calculated rb & signup totals on campaign runs are not reflecting the correct numbers.
#### Desired Behavior
- The automatic sign up calculation should be eliminated from the template. Since it will never reflect mobile sign up numbers, making it appear incorrect.
- The reportback number should only pull the impact count from reportbacks associated wi

[2016-06-21 16:27] weerd commented on #6598
@namimody @lkpttn do we have the svgs for these somewhere?

[2016-06-21 16:28] namimody commented on #6614
@jessleenyc looks great! a few edits:

-- always a good idea to add a hyperlink to where the screenshot is from :)
-- I updated the issue title to say campaign runs v. Drupal to be more specific
-- you can remove the optional fields from the template if they aren't applicable to the particular issue
-- I added some labels and added the issue to the FRUGS Frenzy milestone
-- I updated the "Desired

[2016-06-21 16:29] namimody commented on #6598
@weerd https://github.com/DoSomething/forge/issues/557 here!

[2016-06-21 16:35] weerd commented on #6598
oh, gotcha. Didn't realize that issue had it! Thanks @namimody

[2016-06-21 16:37] weerd commented on #6598
@namimody is there a preference? I'm seeing 3 on icomoon:

![image](https://cloud.githubusercontent.com/assets/105849/16238028/c6125c40-3793-11e6-8627-92f8769d294d.png)

I'm assuming the middle one, but want to make sure.

[2016-06-21 16:39] namimody commented on #6598
@weerd let's do the middle one!

[2016-06-21 16:39] weerd commented on #6598
cowabunga!

[2016-06-21 17:54] ngjo commented on #6590
@angaither Can I also add a request for the query for "people who have successfully completed the registration form" to this one or should I create a separate issue? Thanks!

[2016-06-21 18:03] angaither opened #6616 "Slow query on selecting reportback items"
Seeing a slow query on `dosomething_reportback_file` `select` in [new relic](https://rpm.newrelic.com/accounts/108038/applications/23661280/transactions#id=5b225765625472616e73616374696f6e2f416374696f6e2f73657276696365735f656e64706f696e745f63616c6c6261636b222c22225d&app_trace_id=1690b0c-3abff574-37b0-11e6-a692-b82a72d2466d&tab-detail_1690b0c-3abff574-37b0-11e6-a692-b82a72d2466d=trace_details)

thi

[2016-06-21 18:43] Bladt opened #6617 "Competitions row is null/1 and no 0s"
## _BUG_
#### Current Behavior
- Queried `dosomething_signup` and all values are either `1` or `null` for `dosomething_signup.competition`
#### Desired Behavior
- `dosomething_signup.competition` should return `1` (yes to comp), `0` (no to comp) or `null`
#### Steps to Replicate
- query this: `select
  ds.competition,
  count(*)
  from
  dosomething.dosomething_signup ds
  group by ds.competition

[2016-06-21 19:05] angaither commented on #6616
@weerd looks like the `GROUP_BY` and the `ORDER_BY` are the biggest offenders here

[2016-06-21 19:59] angaither commented on #6617
@Bladt as a not great workaround you can check for `dosomething_signup.signup_data_form_response = 0` &&  `dosomething_signup.competition = NULL`

[2016-06-21 20:04] jessleenyc opened #6619 "Kudos heart gets cut off when zoomed in on Safari & Firefox"
## _BUG_
#### Current Behavior

Kudos heart is cut off when you zoom in on Safari & Firefox.
#### Desired Behavior

Kudos heart should not be cut off!
#### Steps to Replicate
1. Open Safari or Firefox
2. Sign in and navigate to a campaign - https://www.dosomething.org/us/campaigns/trash-stash#prove
3. Zoom in
4. Observe
#### Why This Matters

We want the site looking polished even if users need to

[2016-06-21 20:15] angaither commented on #6617
I think we are only ever setting the value to 1 [here](https://github.com/DoSomething/phoenix/blob/ede9a4f85a414b6be18df1a2d99dd1a265027442/lib/modules/dosomething/dosomething_signup/dosomething_signup.signup_data_form.inc#L589)

@sbsmith86 mind taking a look at this one?

[2016-06-21 20:39] Bladt commented on #6617
@angaither  thanks! Just to be clear: all `0`'s in `dosomething_signup.signup_data_form_response` are being shown as `null` in `dosomething_signup`?

[2016-06-21 20:46] angaither commented on #6617
@Bladt whaaat
you'll be looking for this

[code]

[2016-06-22 13:46] #6614 closed, assigned to angaither

[2016-06-22 14:40] #6619 closed, assigned to weerd

[2016-06-22 15:11] angaither opened #6622 "Update facebook api calls"
Facebook API is updating, and it seems we are several versions behind. We need to update to `v6` by Aug 8th before it breaks
 from @sbsmith86

![](https://files.slack.com/files-pri/T024GV2BW-F1K8NG8AC/pasted_image_at_2016_06_22_11_00_am.png?pub_secret=f2a9bedb71)

[2016-06-22 15:24] angaither commented on #6597
the issue here is [these links are public](https://www.dosomething.org/us/campaigns/6798/confirmation) so we would need to check
1. is user logged in
2. did the user actually sign up?
3. are there other steps to be eligible for being entered here? do they need to complete the game?

[2016-06-22 17:40] lkpttn commented on #6433
I think we're going to have a really good opportunity to solve this when redesigning the header with the campaign template updates. Overall I want to move a lot of stuff out of the photo area and I think we could get multiple birds with one stone moving the corporate logos out too.

[2016-06-22 17:41] namimody commented on #6433
For sure, but thoughts on the immediate future @lkpttn?

[2016-06-22 17:46] lkpttn commented on #6433
How immediate is immediate? After we do the initial onboarding work, we're planning on doing changes that could encompass the header in Template 2.2 or 2.3 which could be 2-3 sprints away. If that's an accurate time frame it might not be worth it to invest anything more than the optimizely hack now and change it then too.

[2016-06-22 17:54] namimody commented on #6433
I'm currently hacking this one two campaigns @lkpttn and just got requests to hack it on two more, both launching late June/early July. Because of the manual work + back and forth required as well as the tax on the site, I'd love to just make this work within the system, even if that is for the next six weeks.

@DFurnes -- from what I understood above, and assuming all sponsored campaigns are time

[2016-06-22 17:59] DFurnes commented on #6433
@namimody Yep, that's probably not a huge lift. I don't think we should assume that all sponsored campaigns will have end dates unless that's enforced in the CMS, but it looks like it'd be easy enough to fix it for everything (as described above!).

[2016-06-22 19:37] #6399 closed, assigned to angaither

[2016-06-22 20:00] #6617 closed, assigned to sbsmith86, Bladt

[2016-06-22 20:19] angaither commented on #6377
This does still seem to be broken, though I haven't been able to find an example of where it's broken on stage/dev environments

[2016-06-22 20:29] #5794 closed, assigned to nobody

[2016-06-22 22:27] mikefantini commented on #6433
The issue with this solution might be closed campaigns where we lose the end date?

Example: https://www.dosomething.org/us/campaigns/world-recycle-week-close-loop-0.

I do agree that it's worth thinking of a short-term solution for this so that we can ideally stop hacking away at it. @lkpttn @DFurnes is there any solution you two can think of we can get in before the next two campaigns we need to

[2016-06-22 23:03] namimody commented on #6433
Ah! Closed sponsored campaigns @mikefantini, great point.💃

Though -- I _think_ that we are still covered in this scenario because the NOTIFY ME button always forces the sponsor logo to underneath the campaign title, like so:

![image](https://cloud.githubusercontent.com/assets/12396076/16286626/b6bf00f4-38ab-11e6-9aaa-d3e021d7ced6.png)

Also, I _think_ we can also safely say that all sponsored ca

[2016-06-23 01:32] mikefantini opened #6625 "In form validation messages are not appearing"
## _BUG_
#### Current Behavior
- In form validation messages are not appearing
#### Desired Behavior
- Error/success messages should appear
#### Steps to Replicate
- Fill out fields on the account creation form and confirm that messages like "Hi Mike" aren't appearing
#### Why This Matters
- Users are inputting incorrect information and not understanding why their entry does not work.
#### Countri

[2016-06-23 01:34] mikefantini commented on #6625
@DFurnes is this a quick fix? Not sure the scale but someone on twitter was unable to create an account because they were entering their birthday as /02 vs. /2002 and had no idea what was going on.

[2016-06-23 12:29] namimody commented on #6597
@angaither: interesting point re: public links! Perhaps helpful thoughts follow:
1. The most likely scenario is that a user is _not_ logged in before or after they fill out the SMS game form -- they would likely hit the site from Fastweb, not be logged in, fill out their name and four cell numbers, and then hit submit, never logging in. However, someone may have just reported back on a campaign an

[2016-06-23 12:30] namimody commented on #6597
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;ddu3rkT6&#x2F;10-sms-games-scholarship-confirmation"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> SMS games: Scholarship confirmation</a>

[2016-06-23 12:55] mikefantini commented on #6433
Yeah I mean in this case then the scenario where we would run into issues is:
- closed campaign
- member has clicked notify me
- member is viewing on tablet sized screen

IMO running into this issue here is enough of an edge case for this temporary fix that I can live with it.

@DFurnes @lkpttn please let us know your feels and if we can get a fix in.

[2016-06-23 14:49] ngjo commented on #6583
Full conversation in Slack, but for recap:
- Put the unique social shares in the "Stuff You Need" section
  -If the double social call outs (The Problem and Stuff You Need sections) is confusing, we can hide the Problem share buttons via optimizely

Thanks!

[2016-06-23 14:52] ngjo commented on #6590
@angaither I want to give the competitions team an update and wanted to know if you think the 3 queries above are doable. Recap:

(1) number of people signed up for campaign
(2) number of people who have completed the registration form
(3) number of people who have fallen off the form

Thanks!

[2016-06-23 14:53] DFurnes commented on #6625
Hmm, that's a bummer. Taking a look. 👀

[2016-06-23 15:12] #6625 closed, assigned to nobody

[2016-06-23 15:22] angaither commented on #5703
@namimody since we don't manage redirects in phoenix anymore, can we close this issue out? [🌃 ](https://github.com/DoSomething/nightwing)

[2016-06-23 15:27] #6180 closed, assigned to angaither

[2016-06-23 15:32] ngjo opened #6627 "Data around the who is signing up with the unique ID"
## _FEATURE OVERVIEW_
#### User Story

As an impact team member, I'd like to see data around the unique ID, such as which members have gotten the most people signed up and registered via their unique ID. Ideally, this is a file that they receive on Friday or Monday morning to be used in their emails for the week.

As a campaign lead, this information could be important for reporting (i.e., shareab

[2016-06-23 17:09] lkpttn opened #6628 "Kudos visual bug on the profile - Show more"
## _BUG_
#### Current Behavior

When using the "Show More" functionality of the RB section of the profile, additionally loaded RBs have visual issues with the kudos.
#### Desired Behavior

Similar to the campaign template gallery, the additionally loaded images should display as the original set.
#### Steps to Replicate

Go to a profile and click "Show More" if the user has enough reportbacks.
###

[2016-06-23 17:25] hbghidey commented on #6597
@namimody @angaither Ideal copy would be "Thanks for sharing! You've taken the first step in being entered to win the scholarship. Next step is to complete the game!" The message is relatively vague but  we can sprinkle additional context in the campaign page copy, FAQs and SMS confirmation message to let users know that the game will need to be shared and completed in order to be entered into the

[2016-06-23 17:42] angaither commented on #6597
Sounds 🆗 !
I think it's probably fine to just show this message to everyone then, ya @namimody?
![image](https://cloud.githubusercontent.com/assets/645205/16313658/3172ac1e-3948-11e6-8150-5f49c99b9079.png)

[2016-06-23 17:48] angaither commented on #6597
It looks like currently if there is a value in `field_reportback_confirm_msg` that is currently displayed in that `subtitle` section, so we would like to remove that and replace with this text?

[2016-06-23 18:11] #6598 closed, assigned to weerd

[2016-06-23 19:17] #6545 closed, assigned to itsjoekent

[2016-06-23 19:24] itsjoekent opened #6631 "Staff pick not properly translated"
## _BUG_
#### Current Behavior
- Staff pick is not properly translated on both Diego's ( @weerd ) & my local machine
- This is causing the front page to freak out with errors
#### Desired Behavior
- The staff pick field should be translatable & the homepage module should stop freaking out
#### Steps to Replicate
- Visit the homepage on local machine
#### Why This Matters

Not clear why it doesn't

[2016-06-23 19:27] sbsmith86 opened #6632 "Validation and Error handing on Organize Registration form"
- Add validation to the social security and terms of service field on the organize registration form.
- Don't allow submission if there are front end errors on the form.
- display errors if we get validation issues back from organize after submitting.

[2016-06-23 19:28] angaither commented on #6631
@deadlybutter if this is correct on stage, just pull a more recent db?

[2016-06-23 19:30] weerd commented on #6631
How recently was it corrected on stage? I pulled down DB this past Tuesday and getting this issue...

[2016-06-23 19:31] angaither commented on #6631
3:15 pm https://dosomething.slack.com/archives/phoenix/p1466709316000529

[2016-06-23 19:31] weerd commented on #6631
haha

[2016-06-23 19:46] DFurnes commented on #6433
I still think we should just _always_ have the sponsor logo on a row below the title/subtitle, regardless of what other content is on the page (so it'd look like it does when there's an end date). Then we could safely increase the width to whatever we want.

[2016-06-23 19:49] weerd commented on #6631
<img width="1271" alt="screen shot 2016-06-23 at 12 45 51 pm" src="https://cloud.githubusercontent.com/assets/105849/16317615/c9150aec-3940-11e6-867b-79376f77793e.png">

Doesn't happen 9 times, but still getting this after a complete new run of `ds build` and `ds pull stage --db`

[2016-06-23 20:00] ngjo opened #6633 "Using Google Analytics to Track Who is Sharing the Unique Social Link"
## _FEATURE OVERVIEW_
#### User Story

As a DS employee, I'd like to see the number of people who are sharing the unique social links.
#### Additional Information (optional)

Mike mentioned using GA's custom events for this!
#### Why This Matters

So we know if people are sharing the magic links!

[2016-06-23 21:34] namimody commented on #6433
Sounds good to me @DFurnes! @lkpttn @mikefantini -- sound good?

[2016-06-23 21:47] ngjo commented on #6627
Moved to Trello -- closing this.

[2016-06-23 21:47] #6627 closed, assigned to angaither

[2016-06-23 22:34] jamjensen opened #6635 "Disable Signup Email on SMS Games for logged in members"
## _BUG_
#### Current Behavior
- A member received a transactional email after signing up for context clues.
- The message they received was our standard signup template, meaning it should have provided three steps to help complete the campaign.
- However, since it is an SMS nudge/game and not a DS campaign, there are no tips.
- This email is incredibly misleading for two reasons (1)  the "Get Sta

[2016-06-24 15:18] itsjoekent commented on #6492
script seems ok, only worry is will the global language be set by this? I dont think it will but could be wrong

[2016-06-24 15:21] namimody commented on #5703
Shore, @angaither

[2016-06-24 15:21] #5703 closed, assigned to angaither

[2016-06-24 15:26] angaither commented on #6635
hmm, it seem like we actually [already did this](https://github.com/DoSomething/phoenix/commit/0ad46b569a61a4ba4c4f17262bc177ffc62727db)
since it was an issue #2315

currently it looks like [we aren't sending transnationals for sms games, and the functionality that is referenced on signup for sms games no longer exists](https://github.com/DoSomething/phoenix/blob/a3d9c0fc6de55ceafd386ccfae03fab4cd

[2016-06-24 15:39] mikefantini commented on #6433
👍

[2016-06-24 15:42] DFurnes commented on #6433
Self-assigning by @mikefantini's request. Will get this fixed up this sprint! 😄

[2016-06-24 16:19] #6635 closed, assigned to angaither

[2016-06-24 16:48] #6426 closed, assigned to nobody

[2016-06-24 16:48] #6467 closed, assigned to sbsmith86

[2016-06-24 16:48] #6468 closed, assigned to nobody

[2016-06-24 16:48] #6469 closed, assigned to nobody

[2016-06-24 17:03] itsjoekent commented on #6492
in case i lose it, query that gets
- first name
- last name
- email
- pass
- birthday

[code]

[2016-06-24 17:04] itsjoekent commented on #6492
good question we need to answer when we test on Thor

<img width="483" alt="screen shot 2016-06-24 at 1 04 13 pm" src="https://cloud.githubusercontent.com/assets/897368/16344759/326d74f4-3a0c-11e6-9d28-15ae672e00e9.png">

[2016-06-24 17:05] angaither commented on #6492
@deadlybutter we also want to make sure those users can still log in, password hashing stufff ;)

[2016-06-24 17:54] weerd commented on #6594
Side note: Trying to approach this in a way that doesn't break the index `/kudos` endpoint, but it does bring to light that the main index `/kudos` endpoint is kinda worthless at the moment and maybe should be revised for future use.

Currently, getting a list of all the individual kudos, doesn't seem to be of much use. Maybe the index could return all "approved for use" kudos terms and then withi

[2016-06-24 19:38] namimody commented on #6597
- @hbghidey just a thought -- is it alright to always say "game" even if the SMS campaign is in the adviser template? is there a word that might be more encompassing but equally user friendly?
- @angaither oh wow, that's a great catch. hmm I think that it would be great to have this language hardcoded if the campaign has a scholarship, or perhaps make that field required and provide two examples o

[2016-06-27 13:40] angaither commented on #6589
@ngjo I have a feeling we don't need an issue for this, and we can just put this in the campaign template somewhere

[2016-06-27 13:46] itsjoekent commented on #6628
Looks fine to me, just click the box! 😆

[2016-06-27 13:56] ngjo commented on #6589
Sounds good @angaither -- so it can go in the "What You Get" section? Or have we put this kind of language in a different spot in the past?

[2016-06-27 14:02] angaither commented on #6597
@namimody since we already have this field, it might make more sense to have campaign leads fill out the text here if there's a scholarship on the game that way we don't need to worry if the advisor template doesn't need it, but games do

[2016-06-27 14:08] angaither commented on #6258
going to close this one out for meow since we got the inbox down to zero, and leads aren't blocked anymore!

[2016-06-27 14:10] angaither commented on #6139
closing this one out too, it's a language issue, not a programatic issue

[2016-06-27 14:10] #6139 closed, assigned to namimody

[2016-06-27 14:14] #5871 closed, assigned to sergiitk

[2016-06-27 14:18] #3642 closed, assigned to blisteringherb

[2016-06-27 14:24] angaither commented on #6589
@ngjo I'm def not an expert on the best place to put things in the campaign template (cc @namimody or @mikefantini)

[2016-06-27 16:05] angaither opened #6638 "Kudos timestamps"
## _FEATURE OVERVIEW_
#### User Story

As a data-s-person I want to know _when_ a person has Kudo'ed an item. 💟
#### Why This Matters

The Doctor (@Bladt)™ says we need to know.

[2016-06-27 17:28] #6536 closed, assigned to itsjoekent

[2016-06-27 17:35] angaither commented on #6593
since we changed this to a copy/paste link #6637 do we need this issue?

[2016-06-27 17:50] itsjoekent commented on #6628
Ohhh the custom template the JS is using still has the old classnames, should be easy fix

[2016-06-27 18:03] #6628 closed, assigned to itsjoekent

[2016-06-27 18:04] ngjo commented on #6593
I think the copy paste works, but could we keep this issue open and if there's time or a v2 optimization to look into the possibility of doing this? Can we put issues in a hold status or something?

[2016-06-27 18:29] DFurnes commented on #6638
[The Doctor!](https://www.youtube.com/watch?v=6sUz5PbbIzk)

[2016-06-27 18:58] namimody commented on #6589
@ngjo would love to be helpful here -- but not too familiar with the organ donation flow. :/ does the pitch page look just like the regular pitch page for a campaign?

[2016-06-27 18:59] angaither opened #6641 "Create and expose 'view on web' link"
## _FEATURE OVERVIEW_
#### User Story

As a user on the mobile app, I would like the option to view the web content only on the web without re-logging in.
#### Additional Information
- Create a custom setting to hold `magic_link_copy`
- Expose the the copy in the API

included in the `/campaigns` api response

[code]
#### Why This Matters

Some experiences (i.e. organ donation, filling out address

[2016-06-27 19:00] angaither commented on #6589
@namimody yaaaa

[2016-06-27 19:02] namimody commented on #6589
ohhh thanks @angaither then yes yes -- probs the What You Get section as the problem and solution statements also appear on the action page!

[2016-06-27 19:10] angaither commented on #6589
kewl, I'll close this meeee-out then
thanks @namimody!

[2016-06-27 19:10] #6589 closed, assigned to angaither

[2016-06-27 20:30] jessleenyc opened #6643 "Kudos: Heart image is broken -- only see boxes"
## _BUG_
#### Current Behavior

When clicking 'view more' on the gallery, the new images that appear do not have kudos hearts. Instead, a box is shown.
#### Desired Behavior
- Hearts should appear for all images.
#### Steps to Replicate
1. Navigate to a campaign - https://www.dosomething.org/us/campaigns/shower-songs
2. Scroll down and click 'view more'
#### Why This Matters

This is a bad experie

[2016-06-27 20:32] itsjoekent commented on #6643
Have we deployed the fix I made earlier?

edit: no, deploying it now.

[2016-06-27 20:34] angaither commented on #6643
that was on the user profile

[2016-06-27 20:35] itsjoekent commented on #6643
view more functionality/code is the same everywhere I thought?

[2016-06-27 20:39] itsjoekent commented on #6643
yeah i just checked, what I fixed locally is on the campaign template. the show more on my user profile is still broken however

[2016-06-28 14:36] weerd commented on #6594
#6642 wasn't a full fix for this issue. Meant to reference this issue, not indicate it as fixed, so re-opening.

[2016-06-28 14:39] itsjoekent commented on #6643
I think this is the problem for user profiles.

When you click "Show more" it looks like this with the buttons detached from the gallery item.
<img width="968" alt="screen shot 2016-06-28 at 10 37 33 am" src="https://cloud.githubusercontent.com/assets/897368/16419615/64303216-3d1c-11e6-9d67-5ed8e4de3bf0.png">

I believe its because in this line of code,

https://github.com/DoSomething/phoenix/blob

[2016-06-28 14:48] angaither commented on #6548
closed with #6630

[2016-06-28 14:48] #6548 closed, assigned to sbsmith86

[2016-06-28 15:35] #6632 closed, assigned to sbsmith86

[2016-06-28 16:01] namimody commented on #6589
@ngjo let me know if you want to chat about this in Slack or real life -- happy to help!

[2016-06-28 16:43] ngjo commented on #6589
@namimody IRL if that's ok! I'll put something on the calendar for 30 min so I don't forget!

[2016-06-28 17:04] #6643 closed, assigned to itsjoekent

[2016-06-28 19:28] ngjo commented on #6557
@katiecrane or @angaither does the "field_address" include their full address (apt, if they gave it, for example) city and state?

[2016-06-28 19:43] katiecrane commented on #6557
@ngjo yeah I'm pretty sure, as far as I know it is an array of all the address information that we have

[2016-06-28 19:52] ngjo commented on #6557
awesome, thanks @katiecrane !

[2016-06-28 20:38] #6556 closed, assigned to katiecrane

[2016-06-29 17:08] itsjoekent commented on #6492
update based on lunch convo with @angaither and @Bladt we're going to just import all of the users into Mailchimp & send them a message to create an account on dosomething.org -- I'll pass the CSV over to whoever is going to send the email!

Also I assume that means we will need Ben to quickly write something up?

[2016-06-29 19:32] sbsmith86 opened #6647 "Store data in dosomething_organ_donation table"
## _FEATURE OVERVIEW_
#### User Story

As admins, we would like to store data about how the user is using the registration form in the `dosomething_organ_donation` table.

Store that the user has completed the registration experience when they click the `Done` button
#### Why This Matters

We need this for tracking user registrations on our end.

[2016-06-29 19:49] #6433 closed, assigned to DFurnes

[2016-06-29 19:52] DFurnes commented on #6433
This is deployed on staging now, for review by @namimody and @DoSomething/design. There's also a few screenshots in the PR above. 🎨

[2016-06-29 21:30] ngjo opened #6650 "Pre-select state based on the inputted zip code"
## _FEATURE OVERVIEW_
#### User Story

As a user, if I input my zip code, I'd like the form to know what state I live in already. But if that's not possible (different API call), then it would be nice if the state wasn't pre-selected as Alabama.
#### Why This Matters

One less click! OR so we don't have false Alabama submissions.

Screenshot for what spot I'm talking about -- 11717 is in NY, so wo

[2016-06-29 21:35] ngjo opened #6651 "On default, have no gender selected on registration form"
## _FEATURE OVERVIEW_
#### User Story

As a user, I don't want the gender field to be pre-populated.
#### Additional Information (optional)

Here's a screenshot of what it's defaulting to:
![screen shot 2016-06-29 at 5 36 51 pm](https://cloud.githubusercontent.com/assets/2658867/16469610/016492b2-3e20-11e6-93f1-eeaf4d323f48.png)
#### Why This Matters

Don't want to make any assumptions around this

[2016-06-29 21:41] ngjo opened #6652 "TOS needs to be checked for submit to work"
## _BUG_
#### Current Behavior
- tell us what happened
  When you don't check the TOS, it just keeps loading.
#### Desired Behavior
- what should have happened
  TOS should be required and then should submit.
#### Steps to Replicate
- how can you make it happen every time?
  (1) fill out the form
  (2) don't check TOS
  (3) click submit
#### Why This Matters

Because it's not submitting
#### Relev

[2016-06-29 21:49] ngjo opened #6653 "SSN field validation off -- accepting letters"
## _BUG_
#### Current Behavior
- tell us what happened
  If you enter letters in the SSN field, it says "Got It" as if it were accepted...but then the submit doesn't work (despite TOS being checked -- so not sure if it shouldn't say "Got It" and be asking for an acceptable SSN and that's why the submit isn't working...or if they're not related)
#### Desired Behavior
- what should have happened
  S

[2016-06-29 21:54] ngjo opened #6654 "Zip code error message disappears when it shouldn't"
## _BUG_
#### Current Behavior
- tell us what happened
  If you submit a zip code that doesn't exist more than once, the form doesn't give you the "Zip code not found" message, instead says "Almost done!" and refreshes to the zip code form again
#### Desired Behavior
- what should have happened
  If they keep submitting wrong zip codes or zip codes that don't exist, it should still be the "not fou

[2016-06-29 22:13] sbsmith86 opened #6655 "Organ form submission issues."
## _BUG_
#### Current Behavior

1) As an Anonymous user, we can't submit the zip code form.

2) The registration form seems to be hanging sometimes, only showing a loading gif instead of taking the user to the share declaration page.  There seems to be an issue where the form is submitting twice which **could** be messing things up. Also the above permission issue could have also been causing issu

[2016-06-30 13:32] angaither commented on #6651
yaa, this and #6588 bot require us to put custom logic around one question, since currently we are just printing out all the choices the Organize API returns

[2016-06-30 13:38] ngjo commented on #6651
👍!!! Will post up what Sam says about the gender stuff. Stay tuned!