[2015-09-24 15:35] mshmsh5000 commented on #5203
**And** it's captured in a feature flag! :100:

[2015-09-24 15:41] itsjoekent commented on #5114
Okay, starting over with new campaign. This is an MX campaign I haven't touched yet.

https://thor.dosomething.org/mx/campaigns/test-mx-titleeeeeee
- Clicking edit does not work (page refreshes)
- Right click, copy address equals `https://thor.dosomething.org/node/5617/edit?destination=admin/content`
- Open link in new tab does not work
- Right click, copy address into new tab, remove `?destinatio

[2015-09-24 15:55] sbsmith86 commented on #5052
@angaither @mikefantini sorry i was a bit confused on this issue. I think I figured it out, but just to confirm.

This is issue is to hide the address and collection fields on the **user profile edit page** not on the "My Account" page, which doesn't show address?

[2015-09-24 15:58] blisteringherb commented on #5130
Just to distill all the findings above and to make sure I understand, here's what I've done which seems to work.
1. Change the i18n Pathauto settings so that they do not contain 'br' or 'mx'.
2. Add 'br' and 'mx' to path prefix settings in `admin/config/regional/language`
3. Enabled URL detection `admin/config/regional/language/configure`
4. Delete and bulk update all URL aliases for content
5. Re

[2015-09-24 16:12] mikefantini commented on #5052
@sbsmith86 yeah sorry for the confusion, but yes you are correct. It's on the /user/[uid]/edit form.

http://screencast.com/t/OYaR8fESX3G

[2015-09-24 16:13] weerd opened #5221 "Add dosomething_reportback module POT file"
Need to extract the POT for the dosomething_reportback module, add it to the main repo, and clean out any terms that are not being translated.

[2015-09-24 16:14] #5205 closed, assigned to blisteringherb

[2015-09-24 16:15] #5091 closed, assigned to blisteringherb

[2015-09-24 16:26] mnelson338 commented on #5046
@mikefantini @DFurnes
the only one I would add: sina.com - Otherwise it looks good to me.

[2015-09-24 16:56] #5221 closed, assigned to weerd

[2015-09-24 17:05] sheyd opened #5224 "Migrate to MariaDB RDS from MySQL RDS"
Matt, quick comparison sheet:

https://docs.google.com/spreadsheets/d/1LrNPUHd8NTQ0u2ODFDoeaRnrp_1PhTFg2tFACUCeWf0/edit#gid=0

[2015-09-24 17:32] weerd opened #5225 "Add dosomething_campaign module POT file"
Need to extract the POT for the dosomething_campaign module, add it to the main repo, and clean out any terms that are not being translated.

[2015-09-24 18:06] itsjoekent commented on #5114
Solution seems to be changing the link to not include the ?destination=admin/content

Or maybe not? clicking edit causes a redirect, from chrome network tab,

[code]

[2015-09-24 18:19] itsjoekent commented on #5114
this is starting to possibly make sense. because we re-direct them to the proper edit page on the first request, that second request thinks we're supposed to then send them back to admin/content.

maybe?

aligns with everything ive seen so far

EDIT: YEP HAHAHAHAH SUCK IT DRUPAL I WIN. I changed the html to not include that URL segment and it worked fine. SUCK IT DRUPAL.

[2015-09-24 18:52] weerd opened #5228 "Add dosomething_zendesk module POT file"
Need to extract the POT for the dosomething_zendesk module, add it to the main repo, and clean out any terms that are not being translated.

[2015-09-24 18:59] mikefantini commented on #5144
@weerd please make sure to check for "oh snap! we'll work on that. want to try another combo?" it may be split up into two different strings.

[2015-09-24 19:07] weerd commented on #5144
Oh snap! I'll work on that. Good call. Will make sure it's added :wink:

[2015-09-24 19:10] weerd commented on #5144
@mikefantini most of the stuff @angaither pointed out in the comment above should be set in POT files and will be adding to the Phoenix project on POEditor soon.

There's some more modules I'll probably check as well...

[2015-09-24 19:13] #5228 closed, assigned to weerd

[2015-09-24 19:19] #5052 closed, assigned to sbsmith86

[2015-09-24 19:53] angaither commented on #5224
woah

[2015-09-24 19:57] sheyd commented on #5224
:jack_o_lantern: Prioritization Pending

[2015-09-24 19:57] #1273 closed, assigned to nobody

[2015-09-24 19:57] #5114 closed, assigned to itsjoekent

[2015-09-24 19:57] sheyd commented on #5224
@mshmsh5000 ^^

[2015-09-24 20:06] itsjoekent commented on #5199
clicked on the title, URL is correct, just the campaign doesn't show

[2015-09-24 20:22] weerd opened #5232 "Add dosomething_taxonomy module POT file"
Need to extract the POT for the dosomething_taxonomy module, add it to the main repo, and clean out any terms that are not being translated.

[2015-09-24 20:44] #5232 closed, assigned to weerd

[2015-09-24 20:48] weerd opened #5234 "Add dosomething_shipment module POT file"
Need to extract the POT for the dosomething_shipment module, add it to the main repo, and clean out any terms that are not being translated.

[2015-09-24 20:52] mikefantini commented on #4828
@sheyd we just got this error again on node 15. Jess reviewed reportbacks, clicked save, and waited about 1 minute and this error popped up

Even though the error occurred, all report backs saved properly

Momm-o-grams: 26 in queue, 503 error, all went though (last RB submitted at 23:24 on 9/23/2015, error occurred at 16:48 on 9/24)
![image](https://cloud.githubusercontent.com/assets/6330971/10086

[2015-09-24 20:55] angaither opened #5236 "yahoo partner image fact page takeover"
add the yahoo image on every fact page.
instead of printing the partner logo dynamically, just hardcode the yahoo partner image into the template.

put this behind a feature flag, so we can turn it on when the partnership launches, and then remove the code later

[2015-09-24 21:00] angaither opened #5237 "yahoo CTAs"
we can just [make the google doc into a :js: file](https://docs.google.com/spreadsheets/d/18XMsv8MGZlP1t2gTWumpCdfj24h8yvJHkccSjZ0hfZw/edit#gid=1825152800) with all the links mapped to the node ids

then for each node, find the fact link from the js file
`¯\_(ツ)_/¯`

[2015-09-24 21:01] #5234 closed, assigned to weerd

[2015-09-24 21:08] mshmsh5000 commented on #5224
Commented on the doc. Thanks @sheyd!

[2015-09-24 21:08] sheyd commented on #4828
@mshmsh5000 Do you think it's potentially work re-visiting the code logic on approving/saving RB's? We've upped the timeouts at multiple layers of our stack. Our bottleneck is about 60 seconds at this point, raising this value further is likely not the best idea as it introduces some scenarios for cascading failures, or resource starvation with lots of simultaneous requests. Thoughts?

[2015-09-24 21:13] itsjoekent commented on #4973
Going to take another look at this soon. Will try changing ^ on my local and other settings I can think of that are different between Thor & local & prod

[2015-09-24 21:15] weerd opened #5238 "Add dosomething_search module POT file"
Need to extract the POT for the dosomething_search module, add it to the main repo, and clean out any terms that are not being translated.

[2015-09-24 21:22] sbsmith86 commented on #5237
ooo fun.

[2015-09-24 21:27] mshmsh5000 commented on #4828
I'd look at an approach like this for now:

https://www.varnish-cache.org/lists/pipermail/varnish-misc/2011-July/020813.html

[2015-09-24 21:30] mshmsh5000 commented on #71
Here's a Classic Issue :older_man: :older_woman: we should resuscitate.

We run into dev problems when working with a restrictive set of content locally. I'd much rather have a working set that has
- A full set of content (campaigns, facts pages, static content, etc.)
- A small set of member users

[2015-09-24 21:32] mshmsh5000 commented on #4828
A similar approach for HAProxy (a "slow back-end" definition) should work: http://serverfault.com/a/324731

[2015-09-24 21:35] weerd opened #5240 "Add dosomething_reward module POT file"
Need to extract the POT for the dosomething_reward module, add it to the main repo, and clean out any terms that are not being translated.

[2015-09-24 21:44] weerd opened #5242 "Add dosomething_payment module POT file"
Need to extract the POT for the dosomething_payment module, add it to the main repo, and clean out any terms that are not being translated.

[2015-09-24 21:49] sheyd commented on #4828
Fastly backend timeouts increased to seconds beyond the count of two hands and and two feet (human). Also put in some pass Varnish logic around "/rb" URL's to see if the bottleneck exists on our origin servers.

[2015-09-24 21:51] namimody commented on #4828
A few more screenshots for additional reference (happened prior to Sena's previous comment)

Cookin' It Old School: 21 in inbox, 503 error occurred, all were saved properly
![image](https://cloud.githubusercontent.com/assets/12396076/10087788/20f128b0-62e4-11e5-8c05-682dfad28268.png)
Senior Story Swap: 105 in queue, 503 error occurred, all went through
![image](https://cloud.githubusercontent.com/

[2015-09-25 12:28] angaither commented on #4828
@sheyd we can decrease the amount of reportbacks a reviewer can submit at one time pretty easily, would that help?
it's currently at 25, maybe 10?

for context:
The code that runs has to check every reportback item thats attached to the reportback and check the status on each to apply the correct status to the reportback as a whole

cc @mikefantini

[2015-09-25 13:03] angaither opened #5244 "home page translation not enabled correctly on stage"
refs #5195

note: this `enabled with field translation` is checked correctly on thor

![screen shot 2015-09-25 at 8 55 29 am](https://cloud.githubusercontent.com/assets/645205/10101067/3fe629fc-6364-11e5-937f-b32bffe427b7.png)

[2015-09-25 13:32] angaither opened #5246 "images missing from homepage on thor"
as a US user, or an anon user, images are missing from the homepage on thor.

![screen shot 2015-09-25 at 9 15 30 am](https://cloud.githubusercontent.com/assets/645205/10101316/011f3f54-6366-11e5-9ea5-2efbc8af538f.png)

[code]

on thor for an anon user that evaluates to
get image nid in global english, or image id in global english.

it works on stage, because the default language is still english

[2015-09-25 13:35] angaither commented on #5246
I'm not sure what the plan is for setting the default language of our content.
Should it all be global english? If so, this will be fixed when we migrate that.
If not, we should fix this to get the image from the node, in the node's default language, not the site's default language.

[2015-09-25 13:40] angaither commented on #5246
ok, yes. actually shouldn't this always say

[code]

cc @blisteringherb @mikefantini

[2015-09-25 13:41] angaither commented on #5246
ok, yes. actually shouldn't this always say

[code]

cc @blisteringherb @mikefantini

[2015-09-25 13:41] sbsmith86 commented on #5237
@angaither @namimody

A couple of questions:
- Does this mean we are going to be doing the mobile vs desktop CTA title/button on all of these nodes as well?
- If so, does the google doc outline what the mobile CTA should be or the desktop one?

[2015-09-25 13:47] itsjoekent commented on #5246
my normal account has this problem, but just made a new user account for testing something else and the homepage looked fine. weird.

![screen shot 2015-09-25 at 9 47 21 am](https://cloud.githubusercontent.com/assets/897368/10102053/722102a6-636a-11e5-8e76-92a03ae918a9.png)

[2015-09-25 13:58] itsjoekent commented on #5199
all of these title links have the bug EXCEPT the one that isn't labeled "new". (monopoly)

![screen shot 2015-09-25 at 9 58 44 am](https://cloud.githubusercontent.com/assets/897368/10102372/09a47a4e-636c-11e5-9ade-429d7ae42207.png)

[2015-09-25 13:59] angaither commented on #5237
AFAIK
- yes
- mobile

only mobile fact pages have the yahoo CTA/button
@namimody correct me if I'm wrong here

[2015-09-25 14:08] angaither commented on #5195
just updates, I can't reproduce this locally for either mx admin or us admin, with my site in english.
up next: changing my site default to global english

[2015-09-25 14:18] namimody commented on #5236
@angaither @sbsmith86 The logo will also need to be hyperlinked to something along the lines of search.yahoo.com [UTM parameter] -- final link coming soon.

[2015-09-25 14:19] blisteringherb commented on #5246
It should probably be the source language for the node since I imagine the first language the node was created in should have an image.

[2015-09-25 14:21] namimody commented on #5237
@angaither your two answers to the above seem right!

One question about your initial issue comment -- not sure if this is is semantics, or code logic, or me being confused -- for each node, wouldn't the code need to find the CTA and search query URL vs. the fact link?

[2015-09-25 14:23] itsjoekent commented on #5199
new discovery.

the monopoly link above goes to /node/nid

the others go to /campaigns/the-campaign-name

[2015-09-25 14:23] mikefantini commented on #4828
going to pose the question to the campaigns team.

also this just happened with Jess reviewing reportbacks, and she disproportionately creates the 503 errors. the good news is that all reportbacks she reviewed went from the inbox to the reviewed tab so everything worked properly:

![image](https://cloud.githubusercontent.com/assets/6330971/10102946/54323332-636f-11e5-88cb-28531043b52b.png)

[2015-09-25 14:27] #5244 closed, assigned to angaither

[2015-09-25 14:28] itsjoekent commented on #5199
went through a bunch of NID's, found one of the broken campaigns (El reto de los 50 litros), using the NID link works

https://www.dosomething.org/node/5693

[2015-09-25 14:28] angaither commented on #5246
Ok, that's what I did in the PR :wink:

[2015-09-25 14:29] blisteringherb commented on #5246
Whoops, I clicked this link in my email first and didn't see it.

[2015-09-25 14:31] #5246 closed, assigned to nobody

[2015-09-25 14:32] mikefantini commented on #5199
yeah @deadlybutter i've been seeing the link disparity a lot on the homepage of thor as well

[2015-09-25 14:34] namimody commented on #5171
![image](https://cloud.githubusercontent.com/assets/12396076/10103272/f390a322-6370-11e5-8a14-1233f37e7990.png)

![image](https://cloud.githubusercontent.com/assets/12396076/10103277/f8d187c0-6370-11e5-9bf3-713f56448251.png)

![image](https://cloud.githubusercontent.com/assets/12396076/10103278/fe245270-6370-11e5-9b97-ea29bd19c798.png)

![image](https://cloud.githubusercontent.com/assets/12396076/

[2015-09-25 14:38] namimody commented on #5171
Screenshots in Slack in #campaigns-team room if it is helpful to view the photos.

[2015-09-25 14:43] #5242 closed, assigned to weerd

[2015-09-25 14:43] #5240 closed, assigned to weerd

[2015-09-25 14:45] mshmsh5000 commented on #4828
Looking at this in New Relic, it's clear that Northstar response time is a significant part of the problem:

![newrelic](https://cloud.githubusercontent.com/assets/149811/10103533/74d0d83e-6372-11e5-916b-bc00a5af62c1.png)

Almost 2/3 of the time is spent talking to Northstar.

[2015-09-25 15:01] namimody commented on #5171
SQL says:

95673 -- 2 photos, both flagged, status of 1
94792 -- 5 photos, excluded and promoted, status of 0
93321 -- 3 photos, 1 excluded, 2 flagged, status of 1
93263 -- 2 photos, both flagged, status of 1
95595 -- 5 photos, excluded and promoted, status of 0
95650 - 12 photos, all flagged, status of 1

[2015-09-25 15:07] sbsmith86 commented on #5237
@namimody I think it's just semantics, yea for each node, we would find the CTA and yahoo search url for the mobile version of the CTA based on the doc.

[2015-09-25 15:08] mikefantini opened #5249 "CTAs not appearing on the homepage for anonymous users"
related to #5246 and #5217 as an anonymous user visiting Thor from the :us: I'm not seeing some CTAs on the homepage

I don't think that the solution we went with in #5246 should perfectly apply here because CTA is a required field, so there _shouldn't be_ any option for a translation to be published without having a CTA. And if we did go the route of #5246 we'd then be pulling in the CTA in the o

[2015-09-25 15:08] itsjoekent opened #5250 "Creating new campaign as MX admin does not set the source language to MX Spanish"
Reproduced this on Thor & Staging.

Create a new MX admin user, role = mx admin, lang = mx spanish

Create a new campaign

In an admin account, edit that campaign and go to the translate tab. The source language is english. Should be mx.

[2015-09-25 15:08] angaither commented on #5236
@namimody is this link with the partner image linked the same as the ones in the google doc, or is this a new link that will be the same across all nodes?

[2015-09-25 15:09] itsjoekent commented on #5250
@mikefantini would you say this is high priority?

[2015-09-25 15:10] mikefantini commented on #5250
@deadlybutter is this happening in thor or just on prod?

[2015-09-25 15:10] itsjoekent commented on #5250
Reproduced it on thor & staging, I can try prod as well if you want?

[2015-09-25 15:13] mikefantini commented on #5250
no i just wanted to see if it was happening on thor. thanks

[2015-09-25 15:20] itsjoekent commented on #5250
related / being solved here: https://github.com/DoSomething/phoenix/issues/5198

[2015-09-25 15:29] namimody commented on #5236
@angaither new link that will be the same across all nodes!

[2015-09-25 15:30] namimody commented on #5237
:+1: thanks for clarifying @sbsmith86!

[2015-09-25 15:34] namimody opened #5251 "RBs with Reviewed Status But No Reviewer/Source Info in Admin Backend Marked as Pending/0 in (Slave) DB"
Notes from Shawn RBs:

RBID, SQL status, flagged status | admin backend view

92388, one approved, one pending, 0 | both approved
40958, one approved, one pending, 0 | both approved
92845, one excluded, one pending, 0 | both excluded
92518, one excluded, one pending, 0 | both excluded

Possibilities:
- Admin choices are not being reflected in DB/entirety of Drupal admin backend
- One photo is bein

[2015-09-25 15:43] itsjoekent opened #5252 "URL for en-global campaign is in spanish"
URL for node 5624 is in spanish

https://thor.dosomething.org/campanas/making-campaign-hello

(/campanas/..)

however, there is no spanish translation and the source is global.

https://thor.dosomething.org/node/5624/translate

This is the cause of https://github.com/DoSomething/phoenix/issues/5199

User: https://thor.dosomething.org/user/2632038/edit
(Administrator, Global EN)

[2015-09-25 15:43] itsjoekent commented on #5252
cc: @angaither

[2015-09-25 15:45] itsjoekent commented on #5199
I believe ^ that issue is the cause of this. admin/content links to /campaigns _however_ as explained in the above issue referenced, the URL for this campaign is /campanas (which is incorrect). Hopefully fixing that fixes this.

[2015-09-25 15:45] mikefantini commented on #5217
So big picture this is what should happen:
- I'm located in the US
- I'm an anonymous user
- I should see US English campaigns both on the homepage and when using the finder

I thought that #5154, #5115, #4885, and perhaps #4959 would have accounted for this, but perhaps #5130 and #5183 are needed for this behavior to work properly?

Let's discuss at today's meeting cc: @mshmsh5000

[2015-09-25 15:46] angaither commented on #5252
@deadlybutter what was the author's lang/user role? can you add that above?

[2015-09-25 15:47] itsjoekent commented on #5252
@angaither added

[2015-09-25 16:03] mshmsh5000 commented on #5252
This issue was created before we deployed all of the changes for #5130. Worth noting that now, with Thor updated to the latest version of `dosomething_global` (7.x-1.1), the `/campanas/` pattern doesn't exist:

![url-patterns](https://cloud.githubusercontent.com/assets/149811/10105312/06a03026-637c-11e5-975f-76e08d021755.png)

Consider any URL on Thor with `/campanas/` suspect, as it's pre #5130.

[2015-09-25 16:04] mshmsh5000 commented on #5252
Because #5130 changes are deployed on Thor and not on production, we should see correct behavior on Thor, but not on production.

If we see the correct behavior on Thor, we should close out this bug. @deadlybutter I leave this to you to confirm and close.

[2015-09-25 16:06] itsjoekent commented on #5252
Sure thing
On Sep 25, 2015 12:04 PM, "Matt Holford" notifications@github.com wrote:

[2015-09-25 16:09] angaither commented on #5195
meh, still can't reproduce this on dev.

[2015-09-25 16:14] mshmsh5000 commented on #5195
On Thor, I see campaigns assigned to the `und` and `pt-br` translations.

![home-pt-und](https://cloud.githubusercontent.com/assets/149811/10105827/def2718a-637e-11e5-90ff-e9067798fd3f.png)

I think the base language change has left the assignments in `und` without copying them to the new translation variants (`en-us`, `en-global`).

[2015-09-25 16:17] mshmsh5000 commented on #5195
Consistent with other buggy behavior: https://thor.dosomething.org/br/ loads the `pt-br` campaign associations, which are obviously stored, but these don't show up on https://thor.dosomething.org/node/1141/edit/pt-br

[2015-09-25 16:19] mshmsh5000 commented on #5195
Also note that I can load the `pt-br` translation by entering the bare URL

https://thor.dosomething.org/node/1141/edit/pt-br

But the `translate` tab isn't showing up:

![no-translate](https://cloud.githubusercontent.com/assets/149811/10105931/a6a36752-637f-11e5-8066-3ba51fde0eb9.png)

Did we lose something during today's Thor deploys?

[2015-09-25 16:20] angaither commented on #5195
@mshmsh5000 if you're a regional admin, the [translate tab should be hidden](https://github.com/DoSomething/phoenix/issues/5191)

[2015-09-25 16:25] mshmsh5000 commented on #5195
@angaither I see it on campaign nodes, but not on the homepage node:

![translate-campaigns](https://cloud.githubusercontent.com/assets/149811/10106067/7942793c-6380-11e5-8959-eba17472d9f8.png)

[2015-09-25 16:28] itsjoekent commented on #5252
yep everything works now, tested mx & en campaigns and everything seems to be :ok:

thanks matt!

[2015-09-25 16:28] #5252 closed, assigned to itsjoekent

[2015-09-25 16:28] itsjoekent commented on #5199
yep that was it. fixed!

[2015-09-25 16:29] #4957 closed, assigned to blisteringherb

[2015-09-25 16:33] sheyd commented on #5063
Setup complete and instructions sent. Will troubleshoot anything additional via e-mail as needed.

[2015-09-25 16:33] #5063 closed, assigned to sheyd

[2015-09-25 16:36] sheyd opened #5253 "Integrate Northstar Thor with Drupal Thor Environment"

[2015-09-25 16:36] sheyd commented on #5253
Integrated!

[2015-09-25 16:36] #5253 closed, assigned to sheyd

[2015-09-25 16:40] itsjoekent commented on #4949
Going to update the original issue with new checklist of things global admins are missing (looking at prod atm). @mnelson338 at some point in the near future I will have you login as a global admin and see if you think you're missing access to anything still

[2015-09-25 17:10] namimody commented on #5236
Shoot @angaither totally my bad on this, apparently, "Powered By Yahoo" on 11 Facts is going to link to search.yahoo.com on desktop, and do.yahoo.com on mobile, both with specific UTM parameters (to come). cc @sbsmith86

[2015-09-25 18:09] angaither commented on #5191
this isn't working, hook_menu_alter() will hide any other tab, but I think there's a bug in how entity_translate handles those menu items

I was seeing errors in drush from this in the entity translate module

[code]

error with array merge `$access_arguments = array_merge(array(1, $item['access callback']), $item['access arguments']);`

[2015-09-25 18:15] deezone opened #5254 "Make MailChimp List ID optional"
In the case of Canada, the MailChimp list ID setting in the Third Party Opt-In settings (https://thor.dosomething.org/admin/config/dosomething/opt_in) needs to be optional.

Canada does not have a MailChimp account (the use SendGrid and a custom app) and does not want email addresses from the CA DoSomething site added to the US MailChimp list. A blank value for the list ID could be used by the Mes

[2015-09-25 18:24] angaither commented on #5254
@DeeZone are there only certain places this should be optional for, or should it always be optional?

[2015-09-25 18:26] itsjoekent commented on #5254
It sounds like it varies per country, I'll just make it optional for all and let @DeeZone fill them in as needed ? (sound ok?)

[2015-09-25 18:27] angaither commented on #5249
@mikefantini the code that gets the tagline currently tries to get it from the site's language.
I think it should only be getting it from the node's lang.
but yes, if there isn't a translation it probably shouldn't appear on the homepage, but I think that's a different issue.

[2015-09-25 18:28] namimody commented on #5251
@mikefantini no joke my phone has no photo space -- next steps for isolating issue below:
- make a new user
- submit a RB
- as an admin, exclude
- submit another RB, don't review
- check SQL for correct logic (excluded // pending // 0)
- check backend view for status of second RB

[2015-09-25 18:34] itsjoekent commented on #5254
okay, this happened because we added CA & GB to the strongarm. I'm just gonna write a quick 1 liner that checks for these in the form code.

[2015-09-25 18:51] mikefantini commented on #5249
right yeah that's a different issue @angaither. I'm just saying that I don't think we need to worry about that use case so much.

instead we should just make sure that the CTA is pulling from the node's language.

[2015-09-25 18:52] angaither commented on #5249
:+1:

[2015-09-25 18:54] mikefantini commented on #5249
@angaither should we update the title of the issue to reflect that this should just be about having the CTA pull from the node's language?

[2015-09-25 19:02] itsjoekent opened #5256 "Check if we actually have the language before giving it to a user"
Users from GB or CA are currently being assigned languages we don't support when they register (Thor), drupal gives them English instead of Global english.

We should have checks to prevent this from happening and give them global english instead.

[2015-09-25 19:04] itsjoekent commented on #5256
@mikefantini says this is blocking prod deploy

[2015-09-25 19:05] itsjoekent commented on #5254
this is blocking prod deploy - @mikefantini

[2015-09-25 19:13] itsjoekent commented on #5254
cant reproduce on local

<img width="223" alt="screen shot 2015-09-25 at 3 12 57 pm" src="https://cloud.githubusercontent.com/assets/897368/10109906/f3a0a69c-6397-11e5-8c4e-f336167313e9.png">

[2015-09-25 19:17] angaither commented on #5254
@deadlybutter make sure to run `drush fra -y && drush cc all` to get the latest feature changes
![screen shot 2015-09-25 at 3 16 28 pm](https://cloud.githubusercontent.com/assets/645205/10109976/6ee32294-6398-11e5-8ff5-68fc9017b7a2.png)

[2015-09-25 19:18] weerd commented on #5136
@mshmsh5000 @angaither any suggestions on how to best determine if the page _has_ variations in other languages? Some pages (like Facts pages) might have some stuff translated which has been included in POEditor, but not the rest of the page content:

![image](https://cloud.githubusercontent.com/assets/105849/10110036/a47f5be8-6398-11e5-9075-da9d708e774a.png)

[2015-09-25 19:27] mikefantini commented on #5136
@weerd what's the url for that fact page?

[2015-09-25 19:28] weerd commented on #5136
@joe just showed me that if a node has translations the `translations` object should be populated with the available translations (which I didn't have before since my campaigns on local are not translated, but I just added one).

![image](https://cloud.githubusercontent.com/assets/105849/10110214/d39cce14-6399-11e5-8cda-9a4f1f92e244.png)

However, stuff with partial content translated will still p

[2015-09-25 19:29] weerd commented on #5136
@mikefantini it's on my local since my local has the .PO file imported with some translations from POEditor.

[2015-09-25 19:42] itsjoekent commented on #5136
are fact pages actually supposed to have two different languages? that doesnt seem right

[2015-09-25 19:43] #5254 closed, assigned to itsjoekent

[2015-09-25 19:48] weerd commented on #5136
@deadlybutter it's not that they have two different languages, it's that there's `node` content and content from DB getting output on the same page. The DB content is translated via `t()` and the **.po** file, while currently we aren't translating Fact page `node` content.

[2015-09-25 19:53] #5256 closed, assigned to itsjoekent

[2015-09-25 19:59] itsjoekent commented on #5136
gotcha... yeah this is a tricky one

[2015-09-25 20:15] mikefantini opened #5260 "Translation appears to be unpublished but has published status on /translate"
Edit of the version is unpublished:

![image](https://cloud.githubusercontent.com/assets/6330971/10111218/77c75a12-63a0-11e5-84a2-e72f73fa538b.png)

But appears as published on /translate:

![image](https://cloud.githubusercontent.com/assets/6330971/10111225/8175d3f4-63a0-11e5-8acd-0ce3587fd5c3.png)

[2015-09-25 21:00] itsjoekent commented on #5168
apparently this didnt work

from @namimody

New user from Brazil got stored as global english, and got sent Brazilian transactional

[2015-09-25 21:04] sbsmith86 opened #5262 "Date formats are not passing server side date validation"
When registering from a country that is not US, users should enter their birthdays in the `DD/MM/YYYY`. This is passing the client side validation, but is not passing server side validation when the registration form is submitted.

<img width="417" alt="screen shot 2015-09-25 at 5 03 56 pm" src="https://cloud.githubusercontent.com/assets/1700409/10112241/7ee6b9bc-63a7-11e5-8195-604ee888fd6a.png">

[2015-09-25 21:12] mshmsh5000 opened #5263 "Thor: Registration doesn't pass country code to Northstar"
For a Sena's test user (See @sheyd for details), which was a BR user, he received the PT-BR confirmation transactional. But the user data recorded in Northstar has no country at all.

May be incomplete data passed to NS, or NS not recording data we passed. Calling it a Phoenix issue until we determine otherwise.

[2015-09-25 21:18] sheyd opened #5264 "DS-Build Command URL Update"
Please see spreadsheet for details.

[DS-Build-Update-Issue.xlsx](https://github.com/DoSomething/phoenix/files/2761/DS-Build-Update-Issue.xlsx)

[2015-09-25 21:32] mshmsh5000 commented on #5217
Here's what _does_ happen right now:
- I load the US homepage at https://thor.dosomething.org/us
- I see the US home page
- I see US campaigns when using the finder

When #5183 is implemented, a US user should load https://thor.dosomething.org/, get bounced to https://thor.dosomething.org/us, and see the correct behavior.

[2015-09-25 22:25] mikefantini opened #5265 "Add Fastly to Staging"

[2015-09-28 13:28] angaither commented on #5263
NS attempts to [get the country from the address field](https://github.com/DoSomething/phoenix/blob/dev/lib/modules/dosomething/dosomething_northstar/dosomething_northstar.module#L164)
we've disabled that field for non-us users. we need to save that in the `dosomething_user.module`

we currently have a [conditional that fires on a new user to set the user's language.](https://github.com/DoSomethin

[2015-09-28 13:31] angaither commented on #5262
might have to switch around the date format after it's passed in `dosomething_user_form_alter`

[2015-09-28 14:00] angaither commented on #5168
@deadlybutter see my notes in #5263
I think we should break both of these out into a new function together

[2015-09-28 14:03] itsjoekent commented on #5263
@chloealee wanna hold off on this one real quick while I fix-up #5168 and make that function?

[2015-09-28 14:18] weerd commented on #5144
@mikefantini btw, forgot to mention that the "Oh Snap!..." copy was already extracted in the theme POT file. Just confirmed it exists in POEditor too :wink:

[2015-09-28 14:22] angaither commented on #5195
@mikefantini pulled down the latest stage db, so it looks wonky on my local finally :+1:

[2015-09-28 14:27] mikefantini commented on #5195
sweet!

[2015-09-28 14:27] mikefantini commented on #5144
awesome thanks!

[2015-09-28 14:34] mshmsh5000 commented on #5264
Summarized here:

Actually, that's the whole description.

[2015-09-28 14:53] namimody commented on #5251
@mikefantini

select rb.rbid, rbf.fid, rbf.status, rb.quantity, rb.flagged, from_unixtime(rb.created)
from dosomething_reportback rb
inner join dosomething_reportback_file rbf on rb.rbid = rbf.rbid
where rb.nid = ?!?!

[2015-09-28 14:53] mikefantini commented on #5168
just to recap:

if (fastly header is supported lang) { set that lang}
else if (some other random country) { global english}
else if (fastly header not set) {us english}

[2015-09-28 14:55] mshmsh5000 commented on #5264
stagingdata.dosomething.org

[2015-09-28 14:56] angaither commented on #5195
a fun update: I did a cache clear and the campaigns showed up. (on dev)
the subtitle did not, but I think that's because the language is und.

[2015-09-28 15:00] #5249 closed, assigned to nobody

[2015-09-28 15:01] #5130 closed, assigned to blisteringherb

[2015-09-28 15:03] mikefantini commented on #5251
ok so this is as I suspected. not a huge deal. The bug here is that in the http://staging.beta.dosomething.org/admin/reportback/[rbid] view, an unreviewed file will have the radio selection of the file before it pre-populated (i.e. in the photo below, 5387 is still unreviewed and pending, but because 5386 was excluded, "exclude" is being selected in this view. 5387 will still be unreviewed unless

[2015-09-28 15:11] angaither commented on #5195
@mikefantini how I "fixed" this

1) went to `node/1165/edit`
- saw blank pages

2) cleared cache
- still blank

3) went to `node/1165/translate`
4) clicked `edit` on english version
- saw content

5) went to `node/1165/edit`
- saw content

@mikefantini can you confirm?

[2015-09-28 15:28] deezone commented on #5168
Looking at the StatHat report for mbc-transactional-email which is logging the country being sent from the Drupal app / Fastly over the weekend. There's are occasionaly periods when Fastly is returning "1" or "0" as the detected country.

I'd suggest the logic @angaither is suggesting also include catching non two letter country codes from Fastly as well.

cc: @mikefantini

[2015-09-28 15:33] angaither commented on #5195
leaving this open till we deploy to prod and do this on prod

[2015-09-28 15:39] mshmsh5000 commented on #5264
Addressed in DoSomething/ansible-dosomething#35

[2015-09-28 15:44] mshmsh5000 commented on #5264
https://github.com/DoSomething/ansible-dosomething/pull/36

[2015-09-28 15:44] #5264 closed, assigned to mshmsh5000

[2015-09-28 15:54] mshmsh5000 opened #5267 "Remove excess dosomething_northstar files from docroot"
In the project root:

[code]

There's no `.install` file in the Northstar module itself, so first we need to determine whether this is supposed to be there. Then clean up the files.

[2015-09-28 15:59] angaither commented on #5267
ahh, yeah we need that to install custom northstar cache, just need to move it to the correct location `lib/modules/dosomething/dosomething_northstar/dosomething_northstar.install`

we can remove the `._dosomething.northstar.install` file

[2015-09-28 16:14] sergiitk commented on #4973
Found a bug report on Drupal.org for this issue:
https://www.drupal.org/node/1991988

[2015-09-28 16:16] itsjoekent commented on #4973
I searchee entity translation's issues for this but not drupal, that makes sense

[2015-09-28 17:22] #4973 closed, assigned to itsjoekent

[2015-09-28 17:40] #5101 closed, assigned to DFurnes

[2015-09-28 18:29] #5168 closed, assigned to itsjoekent

[2015-09-28 18:35] sheyd commented on #5265
Done. New URL is https://staging.dosomething.org

[2015-09-28 18:35] #5265 closed, assigned to sheyd

[2015-09-28 18:38] itsjoekent commented on #5263
@chloealee this is unblocked :D see the PR above for the function where we gotta add northstar support

[2015-09-28 18:39] itsjoekent commented on #5116
since @sergii-tkachenko fixed the related bug gonna see if this is still happening

[2015-09-28 18:40] sbsmith86 commented on #5262
@angaither it looks like I would have to change the format of the date the user passed in in `dosomething_user_register_validate` which is the validation handler, because when `dosomething_user_form_alter` is run it doesn't have the form values. Is that what you meant/sound right to you?

[2015-09-28 18:41] mikefantini opened #5274 "GL EN CTAs are appearing in PT on homepage for Brazilian user"
I'd start with this comment: https://github.com/DoSomething/phoenix/issues/5274#issuecomment-157096237

---
- logged in as user 2987505 (who has language set as BR PT)
- seeing campaign titles in PT (good)
- seeing CTAs in English (bad)
- when I use the finder, I'm seeing CTAs in PT (good)

homepage:
![image](https://cloud.githubusercontent.com/assets/6330971/10144884/11a67e20-65ee-11e5-9d72-c142c

[2015-09-28 18:42] angaither commented on #4992
cc @sergii-tkachenko

[2015-09-28 18:47] angaither commented on #5262
@sbsmith86 yes!

[2015-09-28 18:48] DFurnes commented on #5262
For what it's worth, `DD/MM/YYYY` validation works on the UK international site so there's some code hidden away _somewhere_ that seems to handle this.

[2015-09-28 18:50] sbsmith86 commented on #5262
@DFurnes I **think** that it works on the uk site because there is a date format setting on that field set in the drupal UI. But it would require a feature export to change that on the one site to rule them all and we can't do that conditionally based on country code.

[2015-09-28 18:51] DFurnes commented on #5262
Oh, gotcha. That makes sense. :grin:

[2015-09-28 18:51] itsjoekent commented on #5116
yeah this bug isnt happening anymore

:raised_hands: :tada: :dancer: :fireworks:

[2015-09-28 18:51] #5116 closed, assigned to itsjoekent

[2015-09-28 18:55] weerd commented on #5136
@mshmsh5000 for number 2 in the issue, by "accessible by multiple URLs", do you mean content that may have redirects from other urls? Is there an example on the DS site I can refer to?

[2015-09-28 19:01] angaither opened #5276 "run drush commands to make homepage translatable"
now we need to run:
1. `drush ds-global-titles-fix home` to fix home titles
2. `drush ds-global-field-fix …` for each home field that is translatable
   we can do it either manually or create another function in ds global
   like function `update_001 {}` below `function enable {}`

[2015-09-28 19:15] itsjoekent opened #5277 "Unable to make new users from /admin/people"
On Thor. Creating a new user from /admin/people/ refreshes the page and does not appear to create the user (unable to login). Debugged with @sheyd and the request is going through in the logs so it seems to be a code issue.

[2015-09-28 19:15] itsjoekent commented on #5277
@mikefantini what priority is this?

[2015-09-28 19:21] mshmsh5000 opened #5278 "en-global path prefix should be blank"
Reverting the global feature keeps settings this path prefix back to "en-global", but it should be blank.

![en-global-prefix](https://cloud.githubusercontent.com/assets/149811/10146000/7e986ec0-65f4-11e5-8198-6b83f9d71434.png)

[2015-09-28 19:35] namimody opened #5279 "GL versions of campaigns show as duplicates for US/MX/BR users when a translation in their language also exists"
When coming from Brazil, through the Brazil homepage, and sorting by "environment" both the PT and GL versions appear in the finder.

![image](https://cloud.githubusercontent.com/assets/12396076/10146407/ab0fc352-65f6-11e5-9f1f-7c52be68d5d8.png)

[2015-09-28 19:38] angaither opened #5280 "translate taxonomy"
#### For sure translate this:
- [ ] action type
- [ ] cause
#### Maybe we don't need this:
- [ ] image tags
- [ ] issue
- [ ] kudos
#### Def don't need to translate this:
- [ ] partner
#### How to enable:
1. turn on i18n_taxonomy
2. profit

[2015-09-28 19:41] blisteringherb opened #5281 "Update urls on /campaigns"
The path_alias from Solr doesn't have the appropriate prefix. Use URL instead.

[2015-09-28 19:50] angaither opened #5282 "on thor: mx campaigns 404-ing"
### quick form issue

home page links are missing country code
### long form issue

from the homepage node
as a user viewing `https://thor.dosomething.org/mx`
I click on a campaign in the homepage and get directed to `https://thor.dosomething.org/voluntario/gtfo-mx?source=node/1141`

this should be `https://thor.dosomething.org/mx/voluntario/gtfo-mx?source=node/1141`

[2015-09-28 19:52] #5281 closed, assigned to blisteringherb

[2015-09-28 20:01] angaither commented on #5281
duplicate of #5282

[2015-09-28 20:13] itsjoekent opened #5283 "Incorrect logout link for BR user"
When logged in as a Brazilian user, this is the logout link

https://files.slack.com/files-pri/T024GV2BW-F0BESA4J1/screen_shot_2015-09-28_at_4.11.38_pm.png

/bruser/logout

[2015-09-28 20:35] namimody opened #5284 "Some Finder Results Point to www."
As a global user, filter by environment, Veggie Surprise shows up and points to www.

[2015-09-28 20:35] marahml opened #5285 "MX & BR: SIGNUP EMAIL: Merge tags are pulling in GL content"
Merge tags for MX Signup Email should pull in merge tags for MX content.

![image](https://cloud.githubusercontent.com/assets/6784628/10147942/d9c0bbc2-65fe-11e5-8ede-c446c92ee186.png)

[2015-09-28 20:37] marahml opened #5286 "GL: SIGNUP EMAIL: Incorrect template showing for GL signup email"
Template shown below is incorrect (note that this is NOT the GL signup email, this is just an example of the template that is showing:
![image](https://cloud.githubusercontent.com/assets/6784628/10148017/2e052c5e-65ff-11e5-8f7b-807b683b23f4.png)

Correct template looks like:

![image](https://cloud.githubusercontent.com/assets/6784628/10148026/3f9e3050-65ff-11e5-9916-6f2ce9254e0b.png)

[2015-09-28 20:39] namimody opened #5287 "Create Redirect from /mx/campaigns to /mx/campanas (tilda) (?)"
Did not spell Mexican version of campaigns right, but we need to set up a redirect from /mx/campaigns to that URL.

[2015-09-28 20:40] marahml opened #5288 "GL: USER REG: User registration email is not sending to global users"
Per testing with @sergii-tkachenko, no user reg email was trigged upon registration.

He is testing from Ukraine, so this affects GL users.

[2015-09-28 20:41] marahml opened #5289 "GL: PW RESET: Password reset emails sending incorrect template"
PW reset email triggers "empty" signup email:
![image](https://cloud.githubusercontent.com/assets/6784628/10148111/c0fd0ab8-65ff-11e5-8167-19edf2121871.png)

[2015-09-28 20:43] marahml opened #5290 "GL + MX + BR design for ALL transactional emails: Update templates"
Global + Mexico + Brazilian transactional emails need updated to:
- [x] Correct width of the email
- [x] Remove Ben's face from signup email AND report back email (it's redundant, because he's already in the user registration email. His picture should only be on the new user registration email)
- [x] Add Ben's face to `mb-user-register-us`
- [x] Remove Ben's face from any password reset emails
- [

[2015-09-28 20:44] namimody opened #5291 "Verify that Title in Campaign Sign Up Notifications May be Manually Constructing (?)"
Title in campaign sign-up banner notification was GL-EN. The banner might be manually constructing.

[2015-09-28 20:46] marahml opened #5293 "GL + BR + MX: REPORT BACK email: should link to country-specific /campaigns"
Right now, incorrect merge tag is configured for "Tackle Another Campaign" button in report back emails.

Should point to /campaigns for whatever country user is coming from.

[2015-09-28 20:47] marahml opened #5294 "GL + MX + BR: USER REG email: "Sign up" link points to Backseat Advisor"
"Sign up" link should point to /campaigns for whatever country the user is coming from.

[2015-09-28 20:50] marahml opened #5295 "MX + BR USER REG email: "Sign up" link points to malformed link"
"Sign up" link is pointing to a malformed link. Should point to /campaigns based on country the user is coming from.

[2015-09-28 20:59] angaither opened #5297 "clean up content tab for regional admins"
- [ ] hide drupal's default content tab (using hook_menu_alter())
- [x] expose `admin/content/search` view
- [x] add a `language` option to that view
- [x] allow that option to be exposed

[2015-09-28 20:59] sheyd opened #5298 "In Thor Nginx 404 Page is Intermittently Shown Instead of Drupal 404"
Sample URI that gives Nginx 404:

https://thor.dosomething.org/mx/campanas/ole-andrea-mexico

[2015-09-28 21:02] namimody commented on #5282
@mikefantini all you!

[2015-09-28 21:02] namimody commented on #5291
This is wrong. Closing.

[2015-09-28 21:02] #5291 closed, assigned to mikefantini

[2015-09-28 21:20] angaither commented on #5277
@deadlybutter can you provide more details? what kind of user were you? what was the submit button url pointing to?

[2015-09-28 21:24] itsjoekent commented on #5277
EDIT: never mind i was switching between issues im an idiot. updating OP now

[2015-09-28 21:25] #5189 closed, assigned to nobody

[2015-09-28 21:27] itsjoekent commented on #5277
And now its not happening, the fuck

[2015-09-28 21:27] #5277 closed, assigned to nobody

[2015-09-28 21:27] angaither commented on #5189
for more context:
we needed this when we were going to export content that we needed to translate to a view and then to XML
it was a way to easily tag content

[2015-09-28 21:33] angaither commented on #5186
closing, we aren't going this route!

[2015-09-28 21:33] #5186 closed, assigned to mshmsh5000

[2015-09-28 21:37] mshmsh5000 commented on #5186
Phew -- you really didn't want to see the PR for this one.

[2015-09-28 21:42] sheyd opened #5299 "Track Down Any Missing Users from MailChimp Outage"
For the date range of 9/22/15@9:58AM - 9/25/15@6:15PM, extract from their original sources and cross-compare the following:
- [x] All Mobile Commons User Registrations
- [x] All MailChimp User Registrations
- [x] All Northstar User Registrations
- [x] All Drupal User Registrations
- [x] All Queued Users in RabbitMQ

[2015-09-28 21:58] mikefantini commented on #5198
we believe that this is also causing the following experience:

as an MX Admin, if I go to /node/add/campaign and save the form I get a 404

[2015-09-28 22:14] mikefantini opened #5300 "need a view of which content is translated into which language"
Goal is to be able to see all campaign and static content and the status of what language that content exists in.

bonus points if we can group it by content type. also if doing two different content types is too complex, let's just stick with campaign content.

| NID | TRANSLATE | US EN | GL EN | BR PT | MX SP |
| --- | --- | --- | --- | --- | --- |
| 32 | [13 Gallon Challenge](https://thor.dosom

[2015-09-28 22:17] mikefantini commented on #5284
@sheyd @blisteringherb can we close this out? seems to be working now. was work done to resolve this?

cc: @namimody

[2015-09-28 22:20] mikefantini commented on #5282
one thing to note, is that when the user gets 404'd they still get the notification message at the top that they registered for an account and signed up for the campaign; and the campaign title in that notification message pulls in the Global English campaign title, not the Mexican Spanish one

[2015-09-28 22:21] mikefantini commented on #5282
one thought that was discussed IRL is that we might be manually constructing these URLs rather than letting drupal do some of its core work

@mshmsh5000 please add any other guidance you think might be needed

[2015-09-28 22:24] mikefantini commented on #5295
@marahml this should be for user reg emails correct?

Sign Up is the prompt in user reg emails, it's Prove It for campaign sign up emails.

and yeah let's have this point to /mx/campaigns or /br/campaigns. we'll then need to create redirects once we decide on what this final url should be refs #5287

[2015-09-28 22:30] mikefantini commented on #5287
we'll also need on for /br/campaigns to whatever we decide that should be.

we also should make sure that /us/campaigns is being linked to properly from user reg and reportback emails @namimody

[2015-09-28 22:31] mikefantini commented on #5293
yeah should be /mx/campaigns or /br/campaigns and then we'll do work with #5287 to make sure they end up at the right place for now

[2015-09-28 22:32] mikefantini commented on #5293
and ideally we future proof this for when we have more languages in the site in the future

related to #5294 and #5295

[2015-09-28 22:34] mikefantini commented on #5285
let's hold on this until #5282 is completed because fixing this may resolve the issue

[2015-09-28 22:35] mikefantini commented on #5282
check and see if fixing this also fixes #5285

[2015-09-28 22:38] mikefantini commented on #5293
also reportback emails from thor are currently linking to prod, they should link to the environment from which they were generated

[2015-09-28 22:57] mikefantini opened #5301 "Global versions of campaigns are showing up as duplicates for US/MX/BR users when a translation in their language also exists"
As a US user, when I filter for Bullying campaigns I see _both_ the US version _and_ the global version.

As a rule, I should only see the version _most_ relevant to me.
- campaign exists only in US EN and Global EN, show US EN to US users and Global EN to everyone else
- campaign exists only in Global EN, show Global EN to all users
- campaign exists only in US EN, show US EN to US users and don'

[2015-09-28 22:58] mikefantini commented on #5301
note this is not happening on /us/campaigns

[2015-09-29 02:32] #5238 closed, assigned to weerd

[2015-09-29 02:32] #5225 closed, assigned to weerd

[2015-09-29 04:11] namimody commented on #5236
Hey @sbsmith86! Links below:

Parameter for the Yahoo logo on mobile:
http://do.yahoo.com/?fr=do_dslogo&.tsrc=do-dslogo

Parameter for the Yahoo logo on desktop:
http://search.yahoo.com/?fr=do_dspc&.tsrc=do-dspc

[2015-09-29 13:40] namimody commented on #5237
Parameter for 11 facts links:
http://do.yahoo.com/?fr=do_11fcts&.tsrc=do-11fcts&p={SEARCH%20QUERY}

Spreadsheet: https://docs.google.com/spreadsheets/d/18XMsv8MGZlP1t2gTWumpCdfj24h8yvJHkccSjZ0hfZw/edit#gid=1825152800

hiya @sbsmith86 -- links you need above! If you can concatenate in column G (of FINAL sheet) with your mad excel skills, that would be amazing (I'm having a hard time with the %20),

[2015-09-29 13:53] mshmsh5000 commented on #5278
https://github.com/DoSomething/phoenix/blob/global/lib/modules/dosomething/dosomething_global/dosomething_global.strongarm.inc#L78

This should be

[code]

[2015-09-29 14:03] sheyd commented on #5284
@mikefantini @namimody Yes. @blisteringherb re-indexed the site in search, and it worked after that.

[2015-09-29 14:03] #5284 closed, assigned to sheyd

[2015-09-29 14:21] mikefantini opened #5302 "Translated content is shown as cached arrays"
to recreate go to https://thor.dosomething.org/mx/node/2070 as a user with language set as MX SP.

you'll see something like this:

![image](https://cloud.githubusercontent.com/assets/6330971/10166778/886d7b3a-6693-11e5-81ac-54c4325970d9.png)

even though:
- "Bzzzinga! Esto es lo que necesita saber para crear sus bandas abejorros." should be the campaign starter statement - nothing showing
- "Aver

[2015-09-29 14:23] mikefantini commented on #5302
... and flushing all cache fixed it

[2015-09-29 14:30] mikefantini commented on #5302
@angaither @weerd @blisteringherb any thought on why we would need to clear cache here? and is this something we'll need to do regularly as translations happen on an ongoing basis?

[2015-09-29 14:32] angaither commented on #5195
may be fixed after #5276 is done

(cc @sergii-tkachenko)

[2015-09-29 14:34] mikefantini commented on #5283
needs to be updated to be /br/user/logout. happening for US, MX, and BR

to recreate:
- log in as a user w/ MX SP set as language
- go to thor.dosomething.org/mx
- try to log out

[2015-09-29 14:35] weerd commented on #5302
I definitely had to do some cache clearing post-importing POEditor .po file into Droops.

[2015-09-29 14:37] angaither commented on #5302
yeah, the content is grabbed in the theme layer in droops, so it's cached
shouldn't be an issues once the translations are created, but when we're updating them frequently we will probably see this

[2015-09-29 14:41] mikefantini opened #5303 "inconsistent URLs in finder results"
when i got to thor.dosomething.org/mx and filter by Environment I get a range of URLs for the campaigns. These include:
- https://thor.dosomething.org/mx/voluntario/gtfo-mx
- https://thor.dosomething.org/mx/campaigns/meatless-mondays (for Lunes Sin Carne)
- https://thor.dosomething.org/mx/node/819 (for Bombs Away Semilla)

cc: @mshmsh5000 not sure if any of the work you're doing on URLs will addre

[2015-09-29 14:43] mikefantini commented on #5279
As a US user, when I filter for Bullying campaigns I see _both_ the US version _and_ the global version.

As a rule, I should only see the version _most_ relevant to me.
- campaign exists only in US EN and Global EN, show US EN to US users and Global EN to everyone else
- campaign exists only in Global EN, show Global EN to all users
- campaign exists only in US EN, show US EN to US users and don'

[2015-09-29 14:44] namimody commented on #5287
[added to QA sheet @mikefantini!]

[2015-09-29 14:45] mikefantini commented on #5301
closing as duplicate of #5279

[2015-09-29 14:45] #5301 closed, assigned to blisteringherb

[2015-09-29 14:46] marahml commented on #5295
ah yea! just updated

[2015-09-29 14:51] mikefantini commented on #5279
also when I search for GTFO as a MX user I only see one campaign

[2015-09-29 14:58] chloealee commented on #5263
great, thanks @deadlybutter ! Super helpful to get started on this :)

[2015-09-29 15:03] #5267 closed, assigned to chloealee

[2015-09-29 15:04] sergiitk opened #5304 "Videos on 404 page look wrong"
Videos on 404 page (ex., with the Sloth and Bigfoot) occupy more place than intended.
Link: https://www.dosomething.org/node/5757, hit refresh few times.
Browser: Chrome Version 46.0.2490.42 beta (64-bit)
![image](https://cloud.githubusercontent.com/assets/672669/10168164/3a5a4efa-66d4-11e5-9c90-880181e12c06.png)

сс @deadlybutter @DFurnes

[2015-09-29 15:04] angaither commented on #5260
refs #5180

[2015-09-29 15:07] DFurnes commented on #5304
Having trouble reproducing this in Chrome 45:

![screen shot 2015-09-29 at 11 06 15 am](https://cloud.githubusercontent.com/assets/583202/10168315/3fbe9ba6-669a-11e5-88d7-93059956b7ed.png)

@sergii-tkachenko Do you see any errors in the web console?

[2015-09-29 15:08] DFurnes commented on #5304
Oh, never mind. Just re-read the issue, and am able to reproduce in Chrome Canary. Blargh.

[2015-09-29 15:08] angaither commented on #5260
@mikefantini I've tried a couple of times to reproduce this but haven't been able to

I'm translating a published campaign as a regional admin, each time I edit the campaign, I see it created in the translation list, but it isn't published.

[2015-09-29 15:16] mikefantini commented on #5303
i'll delete these aliases, resave the nodes so better aliases get generated, reindex solr, clear drupal cache

[2015-09-29 15:17] sergiitk commented on #5278
@mshmsh5000 As I understand from https://thor.dosomething.org/admin/config/regional/language/edit/en, English language prefix should also be set to `us`, right?

[2015-09-29 15:18] angaither opened #5305 "secondary tabs showing on node/edit/add"
![screen shot 2015-09-29 at 11 17 44 am](https://cloud.githubusercontent.com/assets/645205/10168652/c2a267ea-669b-11e5-8983-d0510eae7fbe.png)

these should be hidden for regional admins

[2015-09-29 15:19] DFurnes commented on #5304
Related [issue on the Chrome bug tracker](https://code.google.com/p/chromium/issues/detail?id=536854) and [patch](https://codereview.chromium.org/1370363002). Going to close this since it's not an issue on our end. Thanks for the bug report, @sergii-tkachenko!

[2015-09-29 15:19] #5304 closed, assigned to nobody

[2015-09-29 15:24] blisteringherb commented on #4956
@mikefantini @marahml @DeeZone

Can I get a list of what fields are are different? I've got the translated version of "field_pre_step_header" and "field_post_step_header" being pushed into the payload. Are those fields not used for br and mx?

[2015-09-29 15:26] deezone commented on #5295
Updated related templates to point to:
- https://www.dosomething.org/br/campaigns
- https://www.dosomething.org/mx/campaigns

[2015-09-29 15:26] #5295 closed, assigned to blisteringherb

[2015-09-29 15:28] deezone commented on #5294
Fixed:
- https://www.dosomething.org/br/campaigns
- https://www.dosomething.org/mx/campaigns

[2015-09-29 15:28] #5294 closed, assigned to blisteringherb

[2015-09-29 15:29] mikefantini commented on #5260
I think we already fixed that they were being auto published with #5158. however I think the weird thing here is that "This translation is published" acts differently than Published status.

With published status, once the box is checked it remains checked until it's unchecked. Thus it serves as an actual status of the state of whether the node is published or not.

With "This translation is publi

[2015-09-29 15:31] deezone commented on #5293
@mikefantini How important is the link to the related environment vs always pointing to production? This will require a nontrivial tech build (one day).

[2015-09-29 15:33] blisteringherb commented on #5293
I've fixed these links to add the prefix, but since they were pointing at /campaigns which is the global link, the user should be redirected.

[2015-09-29 15:35] angaither commented on #5260
ah, got it. and just to be sure, regional admins shouldn't see this/be able to publish translations for now, correct?

[2015-09-29 15:36] mikefantini commented on #5293
oh yeah good call @blisteringherb

@DeeZone I defer to @mshmsh5000 on that question. if it has to be just one environment let's keep it production.

[2015-09-29 15:41] mikefantini commented on #5260
correct just administrators and global admins

[2015-09-29 16:00] angaither commented on #5260
lord

I set the default value of autopublish campaigns to be false

`$form['translation']['status']['#default_value'] = FALSE;`
but this doesn't take the status into account once it's already been pushlished.

to get the status, it looks like I'll have to get the URL of the edit form to get the current lang
then check inside deep inside form array and get the status of the translation, and set the

[2015-09-29 16:02] mikefantini commented on #4956
just talked with @blisteringherb IRL. the translated copy is being pulled in properly so we're all good

[2015-09-29 16:09] deezone commented on #5289
Fixed:

![image](https://cloud.githubusercontent.com/assets/2119264/10170453/f29c8d8e-66a2-11e5-9ef0-cad7eded8fac.png)

[2015-09-29 16:19] deezone commented on #5288
![image](https://cloud.githubusercontent.com/assets/2119264/10170725/5638ff02-66a4-11e5-8bd6-7ff956cb06ca.png)

[2015-09-29 16:28] #5260 closed, assigned to angaither

[2015-09-29 16:28] weerd commented on #4988
@mikefantini can we close this issue?

[2015-09-29 16:33] angaither commented on #5142
meh, found another old issue we might need to look into @weerd

[2015-09-29 16:34] angaither commented on #5162
@mikefantini is this one still an issue?

[2015-09-29 16:57] angaither commented on #5280
looks like entity_translate module also handles this
http://dev.dosomething.org:8888/admin/config/regional/entity_translation
http://nielsdefeyter.nl/archive/2014/setup-entity-translation-right-way

[2015-09-29 17:04] angaither commented on #5198
we could change the default language to authors language here `admin/config/regional/entity_translation`
but that means we will have to fix this error #5042  in a different way

[2015-09-29 17:15] mikefantini commented on #5162
I believe so.

When I go to https://thor.dosomething.org/br/voluntario/notas-de-shawn-pt logged in as an administrator with language set to US English I see this, even though the BR-PT fields are filled in with PT copy:

![image](https://cloud.githubusercontent.com/assets/6330971/10172143/d4d39d0c-66ab-11e5-8d80-e6119f409bf5.png)

[2015-09-29 17:17] mikefantini commented on #5162
hmmm...

changing my language to BR PT causes the proper copy to display:

![image](https://cloud.githubusercontent.com/assets/6330971/10172241/5e46c514-66ac-11e5-953b-708708cb53b7.png)

[2015-09-29 17:18] #5236 closed, assigned to sbsmith86

[2015-09-29 17:24] mikefantini commented on #5162
and as an auth user with language set to spanish I'm seeing spanish copy even though i'm on /br/voluntario/notas-de-shawn-pt:

![image](https://cloud.githubusercontent.com/assets/6330971/10172448/641a5f54-66ad-11e5-8bd5-dee6d7c5309e.png)

updating the title of this issue now

[2015-09-29 17:41] sbsmith86 commented on #5237
Closing this now since we have the final JSON up.

[2015-09-29 17:41] #5237 closed, assigned to sbsmith86

[2015-09-29 17:46] itsjoekent commented on #5283
@angaither I said at standup I was working on this one / was making progress, any reason you switched assignee?

[2015-09-29 18:11] angaither commented on #5191
I tried changing the weight of this module, didn't work
tried implementing `hook_implements_alter()` still nothing

this code will hide any other tab with those permissions
(change to `node/%node/edit` and it works as expected, so not sure what's going on here

[2015-09-29 18:22] weerd commented on #4988
Ok, so all the strings we could find that needed to be extracted and imported into POEditor to get a word count has happened so closing this issue. If there's additional strings that we need and missing from POEditor, let's add them as individual issues.

[2015-09-29 18:22] #4988 closed, assigned to weerd

[2015-09-29 18:37] #5144 closed, assigned to weerd

[2015-09-29 18:45] weerd commented on #5280
Some additional info: https://api.drupal.org/api/drupal/includes%21bootstrap.inc/function/drupal_set_message/7

[2015-09-29 19:07] weerd commented on #5142
Yeah, this related to the issue I found with wrapping Drupal messages in `t()`. Didn't seem to take the translation from the .po file, but I can keep trying.

Some additional info: https://api.drupal.org/api/drupal/includes%21bootstrap.inc/function/drupal_set_message/7

[2015-09-29 19:31] weerd opened #5314 "User profile tries to validate address fields even if not present."
When viewing authenicated user profile and editing it, if the address fields don't show up for non-us users, the validation on the backend still tries to validate as if the fields were present.

[2015-09-29 19:51] mikefantini commented on #5302
@angaither is there a v1.1 issue we can create to address this problem? it's definitely possible that some are updated pretty regularly before they are launched (and potentially after they are launched)

[2015-09-29 19:58] itsjoekent commented on #5283
fixed on thor/global branch ^^

[2015-09-29 19:58] #5283 closed, assigned to itsjoekent

[2015-09-29 20:33] mikefantini commented on #5162
also as an anonymous user https://thor.dosomething.org/br/voluntario/notas-de-shawn-pt display BR PT which is correct:

![image](https://cloud.githubusercontent.com/assets/6330971/10177362/caac5b90-66c7-11e5-868a-0d748d74c72d.png)

[2015-09-29 20:48] mikefantini commented on #5162
so some weird behavior, title is the only thing that _isn't_ displaying the proper language for either auth users with MX SP as their language or anon users on https://thor.dosomething.org/mx/voluntario/gtfo-mx

auth user MX SP lang:
![image](https://cloud.githubusercontent.com/assets/6330971/10177580/d7139bae-66c8-11e5-9db5-8c32ed8ed485.png)

anon user:
![image](https://cloud.githubusercontent.co

[2015-09-29 20:59] weerd opened #5316 "Canonical URL markup for english vs global english content pages."
See part 2 of issue #5136

If a page has no variations in other languages (or has the same content between english and global english), but is accessible by multiple URLs, the header should specify the [canonical URL](https://support.google.com/webmasters/answer/139066?hl=en) as `<link rel="canonical" href="https://www.dosomething.org/my/url" />`

---

cc: @mshmsh5000

[2015-09-29 21:00] weerd commented on #5136
Okie doke. Had a quick meeting w/ @mshmsh5000 and we're going to break off part 2 of this issue into it's own issue and table it temporarily until we have the full prefixed URL setup working properly along with all the static content available (that could be duplicates between english and global english which is where the canonical stuff would apply). So once that's set we can test and move forwar

[2015-09-29 21:00] #5136 closed, assigned to weerd

[2015-09-29 21:04] weerd commented on #5316
Quick note and might not apply once prefixed URLs working properly, if user's language is not global english, Drupal outputs a canonical url with translated alias. Not sure if expected behavior or not. Worth investigating.

[2015-09-29 21:30] mshmsh5000 commented on #5278
That looks right:
- US English prefix: `us`
- Global English prefix: [blank]

[2015-09-29 21:32] mshmsh5000 commented on #5293
@DeeZone @mikefantini Let's keep the references to production, then.

[2015-09-29 21:34] #5183 closed, assigned to mshmsh5000

[2015-09-29 21:34] sergiitk commented on #5278
Done: https://github.com/DoSomething/phoenix/pull/5310/files

[2015-09-29 21:59] #5035 closed, assigned to deezone

[2015-09-29 23:07] weerd commented on #5142
After a bit of digging while trying to get this content to output and translate,  found out that the entire function that encompasses the output message of ["User information saved"](https://github.com/DoSomething/phoenix/blob/d965ac9a8a4774a34ed5cf0401ca645cb3045a03/lib/modules/dosomething/dosomething_user/dosomething_user.module#L1166) is not called by anything; it is entirely defunct. It's like

[2015-09-30 13:45] marahml commented on #5288
This template should actually look like the Niche.com template

[2015-09-30 13:52] marahml commented on #5289
@ArielSD is this email not on the new template?

[2015-09-30 14:01] mikefantini commented on #5195
just an update this worked for me when doing on staging with the production database

[2015-09-30 14:04] mshmsh5000 commented on #5195
:100:

[2015-09-30 14:29] weerd opened #5318 "Add Miscellaneous POT file to account for straggling strings to translate"
Some strings that are from core and being used on the platform won't be translated unless we add the full core translations, or just account for those strings we find in our own miscellaneous POT file :dancer:

[2015-09-30 14:29] sheyd commented on #5299
- Mongo Query: `db.users.count({"created_at": {"$gte": ISODate("2015-09-22T05:58:00Z"), "$lt": ISODate("2015-09-25T14:15:00Z")}})`
- Drupal Query: `select * from users where created between unix_timestamp("2015-09-22 05:58:00") and unix_timestamp("2015-09-25 14:15:00")`
- Data Warehouse Query (For Mobile Commons numbers): `select * from mobile_users where (created_at between '2015-09-22 05:58:00'

[2015-09-30 14:37] jonuy opened #5319 "Issues with the reportback-items API endpoint on staging servers"
Depending on which staging url we direct the request to, the response is either a 503 error or slow enough (~40s) to timeout the connection on the client-side (ex: mobile app).
### staging.dosomething

**Request:** GET http://staging.dosomething.org/api/v1/reportback-items.json

**Response:**

[code]
### staging.beta.dosomething

**Request:** GET http://staging.beta.dosomething.org/api/v1/reportba

[2015-09-30 14:54] #5198 closed, assigned to sergiitk

[2015-09-30 15:01] jonuy commented on #5319
Also worth mentioning, the image uri's that come back in the staging.beta response return 404s.

ex:
Response from the staging.beta reportback-items request...

[code]

And then we pull this out to try to get the photo to display:
http://staging.beta.dosomething.org/sites/default/files/styles/480x480/public/reportbacks/2930/uid_1835306-nid_2930-0.jpg?itok=-Vrp73yB

[2015-09-30 15:42] sheyd commented on #5299
Current numbers:

Northstar: 1992
Drupal: 1825
Mobile Commons: 3057

MailChimp shows significant drop-off to subscriptions during that time range.

[2015-09-30 16:01] deezone commented on #5289
@marahml Please take note of the test user -> CZ (Check Republic) thus a "global user" thus a US template.

Below is a signup for a Brazilian user (thus the new registration template).

![image](https://cloud.githubusercontent.com/assets/2119264/10198642/e2528adc-676a-11e5-9dc6-3ef8e16539bf.png)

[2015-09-30 16:01] #5289 closed, assigned to deezone

[2015-09-30 16:05] deezone commented on #5288
@marahml Note the example registration is from CZ (Czech Republic) which is considered a "global user" and thus will get the US templates. The original bug issue says" He is testing from Ukraine, so this affects GL users." thus the use of a global user to confirm the bug was fixed.

A test with a Brazilian user produces the template you're looking for:

![image](https://cloud.githubusercontent.com

[2015-09-30 16:05] #5288 closed, assigned to deezone

[2015-09-30 17:13] sheyd commented on #5299
@DeeZone @mshmsh5000 Uncle Mike has approved processing the existing queue, since our numbers match up closely to the backlog. Please make sure the MailChimp null valued queued subscribers get assigned to MailChimp list-id: f2fab1dfd4

[2015-09-30 17:56] sbsmith86 opened #5321 "Yahoo CTA Bug with pulling JSON from gist"
## Once upon a time not long ago...

We implemented the Yahoo CTA functionality to pull JSON with CTA data from rawgit.com so if data changed we didn't have to do a code deploy each time the data updated. In order to further accommodate changes in the data, we use the dev/testing url rawgit provides to pull the JSON because the prod url they provide is cached permanently and changes to the JSON wo

[2015-09-30 18:04] deezone commented on #5299
@sheyd Roger!

[2015-09-30 18:07] sheyd commented on #5299
@DeeZone When the user imports are finished, can you re-assign this ticket to me? I'm going to do a final numbers count to make sure we're consistent across the board.

[2015-09-30 18:11] sheyd commented on #5319
@jonuy Not sure why the images are 404'ing, but the API responses are back to normal now that the DB switch is back to normal on staging.

I'll investigate the image 404's a bit more.

[2015-09-30 18:14] jonuy commented on #5319
@sheyd It's probably not worth investigating the 404 anymore. After switching the DB back, the uri's in the responses when querying now look like they're good.

[2015-09-30 18:15] sheyd commented on #5319
Roger.

[2015-09-30 18:15] #5319 closed, assigned to sheyd

[2015-09-30 18:32] #5321 closed, assigned to sbsmith86

[2015-09-30 20:27] DFurnes commented on #5321
:100: Nice issue documentation!

[2015-09-30 21:13] sbsmith86 commented on #5262
@sergii-tkachenko @mshmsh5000 Hey I'm having some issues with this bug and hoping you guys might be able to provide some guidance.

The issue is that we need to change the date format `field_birthdate` on the user registration form and user profile form. Global users should be using the `DD/MM/YYYY` format and US users should be using `MM/DD/YYYY`. I can not seem to figure out the correct way to d

[2015-09-30 21:40] deezone commented on #5299
Finished processing the `userRegistrationQueue`. MailChimp should be up to date.

[2015-09-30 21:45] sheyd commented on #5298
Figured out the issue here. We have to add a "error_page 404 /thispageissomethingwrong.php" directive to the `listen /` sub-section. Setting this up in Tower. Will cross-link the PR.

[2015-09-30 21:55] blisteringherb commented on #5303
I went through and ran the bulk update and reindexing yesterday and these seem to have been resolved. When I went to do the delete and bulk update there were only about 5500 aliases, and after recreating the aliases there are around 22k. When the homepage loads, the URLs are still incorrect (missing the prefix) but when you use the finder the URLs are correct.

[2015-09-30 22:03] mshmsh5000 commented on #5262
It seems that we're better off creating our own validation routine and just using that. The [Phone module](https://www.drupal.org/project/phone) ships with its own list of countries and validation patterns, and has an implementation like this:

[code]

[2015-10-01 13:55] itsjoekent commented on #5300
sorry @mikefantini just to confirm, do you want two tables, one for campaigns and one for static content? or one table but a filter mechanism?

[2015-10-01 14:24] sheyd opened #5326 "Edit Tab on Published or Unpublished Campaign Runs Inaccessible"
Sample URL:
https://www.dosomething.org/node/5429/edit (logged in as admin)

Output from web-server logs for request:

Oct  1 10:17:37 ip-10-100-35-11 drupal: https://www.dosomething.org|1443709057|php|23.235.46.29|https://www.dosomething.org/node/5429/edit%7Chttps://www.dosomething.org/node/5356/edit%7C1193105%7C%7CRecoverable||0||Notice: Trying to get property of non-object in dosomething_user_i

[2015-10-01 14:26] itsjoekent commented on #5326
happening on thor as well, seems to be a bug

[2015-10-01 14:32] sbsmith86 commented on #5262
@mshmsh5000 Thanks for your help on this!! Right now that field is using a `date_text` widget which I think is what is causing the date module to invoke it's own validation. In order for a custom validation routine to work, would I have to switch the field to just be a regular text field?

[2015-10-01 14:48] deadlybutter commented on #5300
also as far as Im aware, there is no way to publish/unpublish a translation. I can check if the translation exists or if the campaign is active/closed in that translation.

[2015-10-01 14:58] angaither commented on #5142
user info save is from `user/%user/info`

[2015-10-01 15:09] #5142 closed, assigned to weerd

[2015-10-01 15:11] sheyd commented on #5299
User import count confirmed.

[2015-10-01 15:11] #5299 closed, assigned to sheyd

[2015-10-01 15:12] angaither commented on #5300
@deadlybutter let's just stick with one table and an exposed filter in the view

[2015-10-01 15:12] itsjoekent commented on #5300
gotcha

[2015-10-01 15:12] lkpttn opened #5327 "Mailchimp Environmental Variables"
We're going to be deploying the mobile app splash page and we need to make sure these two variables are populated. I have the list ID and assume the User ID is our API key.

[code]

[2015-10-01 15:14] #5276 closed, assigned to sergiitk

[2015-10-01 15:36] angaither commented on #5326
fun fact this one works... https://www.dosomething.org/node/5828/edit

[2015-10-01 15:45] angaither commented on #5314
we add a custom address validation, where we only validate if the admin ui says we need to (we have UPS stuff turned on)
looks like we will also need to add an additional check to only validate if country code is US before adding this. might be better to do it to the actual variable above
https://github.com/DoSomething/phoenix/blob/dev/lib/modules/dosomething/dosomething_user/dosomething_user.modu

[2015-10-01 15:46] angaither commented on #5302
@mikefantini yeah, let's just move this issue to that milestone for now

[2015-10-01 16:00] #5305 closed, assigned to angaither

[2015-10-01 16:07] angaither commented on #5195
we've deployed to prod now, are we ok closing this? @mikefantini
I see both edit/translate on home page nodes and there are campaigns in the the reference fields.

[2015-10-01 16:55] jonuy opened #5328 "Error on campaigns API query with mobile_app and mobile_app_date params"
Separately, the params seem to be fine. Combined they throw an error.

**Example 1 - this works**
https://staging.dosomething.org/api/v1/campaigns.json?mobile_app=1

**Example 2 - and this works**
https://staging.dosomething.org/api/v1/campaigns.json?mobile_app_date=2015-10-01

**Example 3 - but this doesn't**
https://staging.dosomething.org/api/v1/campaigns.json?mobile_app=1&mobile_app_date=2015-

[2015-10-01 18:01] sergiitk opened #5330 "Hide language selector from regional admins"
Regional admins should not be able to see the Language Selector on node/edit.
![image](https://cloud.githubusercontent.com/assets/672669/10229192/80cb9572-687f-11e5-9c9d-6468e373b453.png)

As discussed with @angaither.

[2015-10-01 18:32] namimody commented on #5326
A couple of additions:

-- seems that Lizzy tried to access the /edit of a campaign and saw the same error, but then shortly after was able to access the /edit tab
-- based on this list (https://www.dosomething.org/admin/content/search?title=&type=campaign_run&field_cause_tid=All&status=All) the /edit of the last three runs created _can_ be accessed, but nothing prior

[2015-10-01 18:37] sheyd commented on #5298
Deployed to Prod.

[2015-10-01 18:59] sergiitk commented on #5298
@sheyd Can you deploy this to Thor as well? The error is still there.

[2015-10-01 19:07] #5286 closed, assigned to blisteringherb

[2015-10-01 19:11] sergiitk opened #5332 "Recommendation: install environment indicator."
Now when we have local, staging, thor, international qa, prod, international prod environments it's really easy to miss where're you at and edit node/change vital setting on production instead of local.
I suggest we install [Environment Indicator](https://www.drupal.org/project/environment_indicator).
settings.php configuration example:

[code]

Moar @ https://www.drupal.org/node/1992866

It also

[2015-10-01 19:14] sergiitk commented on #5332
This looks good:
![](https://www.drupal.org/files/project-images/envindicator-integration.png)

[2015-10-01 19:14] #5330 closed, assigned to sergiitk

[2015-10-01 19:24] #5282 closed, assigned to blisteringherb

[2015-10-01 19:41] DFurnes commented on #5332
We installed this a long time back, and had to remove it due to some issue (performance, I think?)

@aaronschachter Do you remember any details?

[2015-10-01 19:52] sheyd commented on #5298
@sergii-tkachenko The deploy was there first. I don't get any Nginx 404 pages. Which page did you run into the error on?

[2015-10-01 19:55] angaither commented on #5332
https://github.com/DoSomething/phoenix/pull/1892
lots of JS as I remember

[2015-10-01 19:57] sergiitk commented on #5332
They released 7.x-2.x-dev branch recently, might be better.

[2015-10-01 19:59] sheyd commented on #5298
Nevermind, error is now recurring whenever I test. Re-opening ticket.

[2015-10-01 19:59] angaither commented on #5332
@sergii-tkachenko perhaps, but maybe let's table this till after the global work?

[2015-10-01 20:00] sergiitk opened #5335 "Rescue Mexican campaigns from bug #5198"
A list of candidates affected by #5198:
- [Bailando a través del tiempo](https://www.dosomething.org/node/5676/edit/es-mx)
- [Regala un mundo: dona un libro](https://www.dosomething.org/node/5677/edit/es-mx)
- [Las casas hogar mexicanas tienen alrededor de 19 mil niños, pero no cuentan con suficientes recursos para todos.](https://www.dosomething.org/node/5678/edit/es-mx)
- [En la Ciudad de México

[2015-10-01 20:00] sergiitk commented on #5332
Sure, sure!

[2015-10-01 20:01] sergiitk commented on #5332
I intended this ticket as a reminder :smiley:.

[2015-10-01 20:05] angaither commented on #5300
@mikefantini this is a little complex to get exactly like what you have mocked out, but @deadlybutter and I came up with something similar.
@deadlybutter is going to throw up screenshots of what he has, and we can evaluate what we can change to make it more helpful

[2015-10-01 20:09] sergiitk commented on #5335
@mikefantini @angaither It turned out just "Noche de Monopoly" is affected.

[2015-10-01 20:09] #5335 closed, assigned to nobody

[2015-10-01 20:10] angaither commented on #5335
@sergii-tkachenko awesome! is the plan just to re-create that node then?

[2015-10-01 20:10] sergiitk commented on #5335
Yes, just this one node.

[2015-10-01 20:21] mshmsh5000 commented on #5162
Switching the interface language detection settings to favor "URL" over "User" seems to fix all of this behavior.

![interface-lang](https://cloud.githubusercontent.com/assets/149811/10232750/6d38d2d0-6858-11e5-976a-993dafbd5e59.png)

[2015-10-01 20:34] itsjoekent commented on #5300
ill put the v1 screenshots in the PR. for vlater this is all the complex logic we'll need

https://github.com/deadlybutter/dosomething/commit/c696f0cb6e3012db66e81e116c3042a20b5e70b9

[2015-10-01 20:37] mshmsh5000 commented on #5163
With #5162 and #5183 and #5130 all resolved, this appears to be resolved as well. I can't recreate.

[2015-10-01 20:37] #5163 closed, assigned to nobody

[2015-10-01 20:57] DFurnes commented on #5327
@lkpttn You can just hard-code these in your splash page. No need for environment variables!

[2015-10-01 21:08] namimody opened #5341 "Cannot Update Campaign Collections"
While https://www.dosomething.org/volunteer/old-school-impact has campaigns as part of the collection, the edit tab (https://www.dosomething.org/node/4953/edit) shows no campaigns, so leads cannot edit the collection.

![image](https://cloud.githubusercontent.com/assets/12396076/10233824/faec3dbe-685e-11e5-88c2-d19d3e6f5bb7.png)

@sergii-tkachenko could this be related to https://github.com/DoSome

[2015-10-01 21:10] #5314 closed, assigned to angaither

[2015-10-01 21:14] angaither commented on #5278
@sergii-tkachenko can we close this issue?

[2015-10-01 21:14] jonuy opened #5342 "Enable the retrieve endpoint for the taxonomy_term resource"
![screen shot 2015-10-01 at 5 08 19 pm](https://cloud.githubusercontent.com/assets/696595/10233933/7c063a62-685f-11e5-907a-2b0e1885b857.png)

I'm planning to use it for the mobile app to retrieve tag names that'll be displayed for campaign groups. So I'll be making calls like...

https://staging.dosomething.org/api/v1/taxonomy_term/670.json

It's sounding like it gets automatically disabled every

[2015-10-01 21:15] #5278 closed, assigned to sergiitk

[2015-10-01 21:16] angaither commented on #5166
still not sure if we have a path (pun intended) forward with this, or what the plan is. adding the blocked label to surface the issue.

[2015-10-01 21:16] sergiitk commented on #5278
Yes!
![image](https://cloud.githubusercontent.com/assets/672669/10234034/c9032ae2-689a-11e5-8aef-cb4b49833faf.png)
![image](https://cloud.githubusercontent.com/assets/672669/10234045/d07a3fa4-689a-11e5-801b-0de2ffba3caf.png)

[2015-10-01 21:17] angaither commented on #5213
@weerd did this get fixed with your prs today?

[2015-10-01 21:20] sheyd commented on #5005
Call scheduled for tomorrow.

[2015-10-01 21:20] angaither commented on #5046
@DFurnes I think we are good to close this out, right?

[2015-10-01 21:21] DFurnes commented on #5046
:white_check_mark: from me!

[2015-10-01 21:21] #5046 closed, assigned to mnelson338

[2015-10-01 21:22] angaither commented on #4949
I think we are good with this one

[2015-10-01 21:22] #4949 closed, assigned to itsjoekent

[2015-10-01 21:29] sheyd commented on #5327
@DFurnes hard-code BAD!! :no_good: It's better to have as an env variable so it's not in a public repo.

[2015-10-01 21:30] DFurnes commented on #5327
They're just going to be output into a plain HTML tag. There's nothing "secret" about them.

[2015-10-01 21:37] angaither commented on #5327
![](https://s-media-cache-ak0.pinimg.com/originals/60/79/c0/6079c08f756963bf22ab4f456508371f.jpg)

[2015-10-01 21:40] sheyd commented on #5327
@DFurnes is :100: smart on this. Info isn't any sort of disclosure. Talked to @lkpttn as well.

@angaither I think it's best if this lives in Phoenix repo, but can be persuaded to put it elsewhere. Your thoughts on best location? (We can still put it as resolveable to ds.org without it being part of Phoenix).

[2015-10-01 21:44] angaither commented on #5327
it's just a one page app, right? doesn't @lkpttn have it living elsewhere currently?
@sheyd I would say if we don't need the code to live in phoenix, since it has nothing to do with the main drupal app, let's keep it outta here.

[2015-10-01 21:47] DFurnes commented on #5327
I've had really good experiences using Github pages for static sites. That's what we're using for [tech.dosomething.org](http://tech.dosomething.org) and [forge.dosomething.org](http://forge.dosomething.org).

[2015-10-01 21:50] sheyd commented on #5327
@angaither Roger, I'll put it elsewhere. @DFurnes I'd prefer to track log hits to this, etc. (and have a little more control over downtime). I'll have it served up out of another repo, and post where here.

[2015-10-01 21:51] angaither commented on #5327
:github: has no downtime.

[2015-10-01 22:19] itsjoekent commented on #5327
yeah it does lol, just last week (or was it this week)  me & tong noticed for a few minutes

[2015-10-01 22:20] itsjoekent commented on #5327
Can we just make a json file on amazon S3 and make a public URL for it? You could easily layer Amazon's CDN on that as well

[2015-10-01 22:31] namimody commented on #5198
Not sure how helpful this is @mikefantini @sergii-tkachenko @angaither but as a US site admin, I can go into the Noche Monopoly, add content to the Mex Spanish tab, save, see it in the active view, close out, and reopen the active view to find the content saved in both active and edit.

Please note -- when I was editing content, necessary fields for creating a campaign were wiped (name, CTA, start

[2015-10-01 22:42] #5195 closed, assigned to angaither

[2015-10-01 23:28] sheyd commented on #5327
I looked around at :allthethings: that would work and make this easiest. GitHub is our best option, but with a caveat. @lkpttn Let's discuss in the morning.

[2015-10-02 13:41] mnelson338 opened #5347 "Updates to Global Admin permissions"
@angaither Need to create a translator role that allows external translator to:
Access content in Global English
Create Spanish and Portuguese translations of campaigns

And that's pretty much it.

[2015-10-02 13:47] angaither commented on #5347
I think we are safe giving them the global admin role so that they can see/confirm the language of the node they are creating, if we do that we should remove these permissions, we can do this in prod if they need access today, and then export these to features. and deploy
- [x] edit any reportback
- [x] edit user info
- [x] view user profiles
- [x] add partner terms

cc @mikefantini

[2015-10-02 13:49] mshmsh5000 commented on #5193
_Re: Validation:_ I'm into the validation approach in the [Phone module](https://www.drupal.org/project/phone) -- patterns broken out by countries.

_Re: Address collection:_ The more recent [Address module](https://www.drupal.org/project/address) seeks to address this.

[2015-10-02 13:50] mnelson338 commented on #5347
Great - so to confirm: We I can create a user role now with global admin permissions and send over now. But we'll edit those to remove the indicated permissions that will go live later today.

[2015-10-02 13:54] angaither commented on #5303
@mikefantini confirm that this is fixed and close out

[2015-10-02 13:56] mshmsh5000 commented on #5293
@marahml @blisteringherb @DeeZone Can we close this out?

[2015-10-02 13:58] angaither commented on #5290
@weerd or @sbsmith86 or @DFurnes there's 12 templates to look at, it'll probably take 1/2 day.

[2015-10-02 14:02] mshmsh5000 opened #5348 "Geo-based redirect for /campaigns"
Because this isn't a node, `/campaigns` won't get redirected with the same logic as #5183. Need to handle separately (with similar logic).

[2015-10-02 14:04] sbsmith86 commented on #5290
@angaither sorry, what templates?

[2015-10-02 14:07] mshmsh5000 commented on #5280
We need to confirm whether user-facing taxonomy terms (e.g., for Campaign Finder) get handled by PO-level translation.

[2015-10-02 14:12] angaither commented on #5290
@sbsmith86 @ArielSD has email templates that he needs help getting updated

[2015-10-02 14:16] weerd commented on #5280
@mshmsh5000 yep yep, I need to look into it cause there are some other areas where we have JS related string output that should otherwise be translated in a similar fashion to the above.

[2015-10-02 14:16] mikefantini commented on #5274
updated experience:
- as user 2987614 (lang: BR PT) I'm seeing GL EN titles and BR PT CTAs on thor.dosomething.org before using the finder. since I'm on thor.dosomething.org (not thor.dosomething.org/br) this should be all GL EN.

![image](https://cloud.githubusercontent.com/assets/6330971/10256593/4c504382-6920-11e5-922c-be4d66227896.png)
- as user 2987614 (lang: BR PT) I'm seeing BR PT CTAs and

[2015-10-02 14:17] angaither commented on #5250
fixed with #5317

[2015-10-02 14:17] #5250 closed, assigned to nobody

[2015-10-02 14:20] mshmsh5000 opened #5349 "Home page is not redirecting anonymous users to correct country"
- If I'm in the US,
- And I request the home page (e.g., `https://thor.dosomething.org/`),
- Then I should get redirected to the US home page.

[2015-10-02 14:25] mikefantini commented on #5217
thor.dosomething.org is functioning properly as the Global Homepage/finder now so closing this issue. once #5349 is done, the homepage will be redirecting properly so as a user coming to the homepage from the us will be taking to thor.dosomething.org/us

[2015-10-02 14:25] #5217 closed, assigned to blisteringherb

[2015-10-02 14:26] angaither commented on #5213
si, this is bueno!

[2015-10-02 14:26] #5213 closed, assigned to mikefantini

[2015-10-02 14:28] weerd commented on #5213
Yep yep!

[2015-10-02 14:30] mshmsh5000 commented on #5201
We _can_ add the same URL-prepending logic to these as we do to nodes ( #5183 ). That may be the only way to translate the content.

Also

https://www.drupal.org/node/86287

[2015-10-02 14:32] mshmsh5000 commented on #5191
Fuck this issue

[2015-10-02 14:33] mshmsh5000 commented on #5191
How about a JS HACK where we just hide the goddamn tab.

[2015-10-02 14:33] mshmsh5000 commented on #5191
@angaither drupal_add_js()

[2015-10-02 14:34] mshmsh5000 commented on #5176
I don't think we care. How often will we do this? Never, I hope.

[2015-10-02 14:34] #5176 closed, assigned to blisteringherb

[2015-10-02 14:36] mikefantini commented on #5166
here is where we find the footer: https://www.dosomething.org/admin/appearance/settings/paraneue_dosomething

[2015-10-02 14:40] mshmsh5000 commented on #5166
So, two approaches:
1. Define each section of links as a block, instead of a custom setting. We provide different blocks for each language.
2. Go with the MailChimp settings approach: Create a separate set of settings for each country. Not sure how this works for the entire page of Paraneue settings, though.

[2015-10-02 14:42] mshmsh5000 commented on #5162
I would like to congratulate @mikefantini for the number of screenshots in this issue.

[2015-10-02 14:42] angaither commented on #5166
@DFurnes I think the easiest way to approach this based on how it's currently built, is to go the mailchimp approach that @deadlybutter took [here](https://github.com/DoSomething/phoenix/blob/3a17e0779da5a63c337ec9dcbfc89043fe74cc23/lib/modules/dosomething/dosomething_signup/dosomething_signup.admin.inc#L22)

[2015-10-02 14:44] mshmsh5000 commented on #5147
@weerd take a nap.

[2015-10-02 14:44] angaither commented on #5147
@weerd we are de-prioritizing shares for the launch

[2015-10-02 14:46] weerd commented on #5147
cool cool. Imma break the problematic ones into separate issues that can be de-prioritized or moved into 1.1 milestone :)

@mshmsh5000 :sleeping: soooon

[2015-10-02 14:47] mikefantini commented on #5090
if we can confirm GL users receive US reportback transactional when we test then we can move to 1.1

cc: @namimody

[2015-10-02 14:48] mshmsh5000 commented on #5036
@blisteringherb Can we close this?

[2015-10-02 14:51] angaither commented on #5078
perhaps in the preprocess before we set if we didn't set [zendesk form](https://github.com/DoSomething/phoenix/blob/98ee1bc76940a4a70db1ddd501bbe8ecb4a3ce3f/lib/themes/dosomething/paraneue_dosomething/templates/system/partials/info-bar.tpl.php#L17)
print out email address that co-responds to the country code if it exists.

[2015-10-02 14:53] mshmsh5000 commented on #4966
The [Metatag](https://www.drupal.org/project/metatag) fields are supposedly translatable via Entity Translation.

[2015-10-02 14:55] #4910 closed, assigned to mshmsh5000

[2015-10-02 14:55] sheyd commented on #4956
@blisteringherb Morgan, can we close this out?

[2015-10-02 14:57] #1659 closed, assigned to mshmsh5000

[2015-10-02 14:58] blisteringherb commented on #4956
Yes, I think so. I pushed those changes yesterday and they look good to me today.

[2015-10-02 14:58] #4956 closed, assigned to blisteringherb

[2015-10-02 15:15] #5285 closed, assigned to blisteringherb

[2015-10-02 15:16] #5279 closed, assigned to blisteringherb

[2015-10-02 15:21] sbsmith86 commented on #5078
@angaither si

[2015-10-02 15:31] weerd opened #5351 "Ensure translation of permalink page share copy in share popups"
---

cc @mikefantini

[2015-10-02 15:32] weerd opened #5352 "Ensure translation of Hot Module"
![image](https://cloud.githubusercontent.com/assets/6330971/11251140/e8661eac-8dfd-11e5-8d42-df8f87aff842.png)

Need to make sure it's pulling in the correct translated terms (i.e. title) and that all misc. words are in POEditor.

Also includes share copy.

![image](https://cloud.githubusercontent.com/assets/6330971/11251166/0eacd984-8dfe-11e5-968f-9729ed451aa2.png)

---

cc @mikefantini

[2015-10-02 15:34] weerd opened #5353 "Ensure translation of Win Module social share copy"
---

cc @mikefantini

[2015-10-02 15:35] weerd opened #5354 "Ensure translation of Problem social share copy"
---

cc @mikefantini

[2015-10-02 15:39] deezone commented on #5293
@blisteringherb 's call... I suspect yes.

[2015-10-02 15:42] weerd opened #5355 "Use typed apostrophe in copy for Closed Campaign Presignup Form Callout Copy"
Need to confirm value for Closed Campaign:Presignup Form Callout Copy is not escaped in the input otherwise translation fails (update to use typed apostrophe).

---

cc @mikefantini

[2015-10-02 15:46] weerd opened #5356 "Should NotFound Search filters in config vars be translated?"
Consider how to handle NotFound: Search filter words config field...

---

cc @mikefantini

[2015-10-02 15:49] weerd opened #5357 "Add "No results found" to dosomething_notfound.pot"
Add "No results found" to POT which is a default set on variable_get() for search.

---

cc @mikefantini

[2015-10-02 15:51] weerd opened #5358 "Translating hardcoded strings with markup?"
Consider how to handle hardcoded strings with markup in the string... (e.g. **dosomething_signup.signup_data_form.inc l:382**)

---

cc @mikefantini

[2015-10-02 15:59] sheyd commented on #5005
Call with Dee and I had with mGage was really great. Their API is robust, and they're willing to send us data exports as we need them, and look into getting data we might not have yet :+1:

[2015-10-02 15:59] #5005 closed, assigned to sheyd

[2015-10-02 16:06] weerd commented on #5147
@angaither I reset the milestone for this issue to Global 1.0 and moved the share stuff, etc to their own issues marked as Global 1.1 on the respective issues :)

[2015-10-02 16:06] #5147 closed, assigned to weerd

[2015-10-02 16:21] #5262 closed, assigned to sbsmith86

[2015-10-02 16:26] weerd commented on #5318
Going the miscellaneous POT file route for now :red_car:

[2015-10-02 16:31] angaither commented on #5347
@mnelson338 I removed those permissions in production, so go ahead and send them over logins.

@deadlybutter can you update the `global admin` role to remove those permissions in features?

[2015-10-02 16:36] #5318 closed, assigned to weerd

[2015-10-02 16:36] #5357 closed, assigned to weerd

[2015-10-02 17:33] weerd commented on #5191
So I got the above to work and properly hide the Translate tab... only issue w/ a JS solution as opposed to a PHP solution is that the tab shows up in two places... the admin CMS side and here:

![image](https://cloud.githubusercontent.com/assets/105849/10253203/2132e0e4-690a-11e5-8cda-c708ffd82930.png)

So I'm going to create an issue to hide it on the fender side as well.

[2015-10-02 17:36] weerd commented on #5191
So I got the above to work and properly hide the Translate tab... only issue w/ a JS solution as opposed to a PHP solution is that the tab shows up in two places... the admin CMS side and here:

![image](https://cloud.githubusercontent.com/assets/105849/10253271/7e9768ae-690a-11e5-9ea6-b8477d43546f.png)

So I'm going to create an issue to hide it on the fender side as well.

_Note: I thought I was

[2015-10-02 17:51] weerd opened #5362 "Hide the Translate admin link on the front-end for regional admins."
![image](https://cloud.githubusercontent.com/assets/105849/10253271/7e9768ae-690a-11e5-9ea6-b8477d43546f.png)

[2015-10-02 18:39] blisteringherb commented on #5293
I just verified that this is working now. You'll probably get a 404 through because production doesn't yet respect URLs with the country prefixes.

[2015-10-02 18:39] #5293 closed, assigned to blisteringherb

[2015-10-02 18:48] #5191 closed, assigned to weerd

[2015-10-02 19:12] mikefantini commented on #5347
@deadlybutter this is now blocking prod deploy, so let's make sure to get this done in time for a Monday deploy.

[2015-10-02 19:13] itsjoekent commented on #5347
@mikefantini im blocked on getting my local environment running right now, see #phoenix

[2015-10-02 19:48] #5162 closed, assigned to mshmsh5000

[2015-10-02 20:02] mikefantini opened #5365 "non-staff users should never see message broker error message"
![image](https://cloud.githubusercontent.com/assets/6330971/10256356/b7150326-691e-11e5-9166-0da095521ef7.png)

this should only show up for staff roles because they can't do anything about it and shouldn't know that something is down with message broker.

[2015-10-02 22:32] mikefantini commented on #5162
everything is working properly except for GTFO is still being whack. I'll check this campaign out again once we update the thor db with production data

[2015-10-02 22:46] mikefantini commented on #5303
urls from finder results look good to me. and I'm also seeing the proper prefix when the homepage loads.

[2015-10-02 22:46] #5303 closed, assigned to mikefantini

[2015-10-02 22:56] mikefantini opened #5366 "Sign Up Transactional Email - Campaign Link Bug on Production"
"Prove It" button links to https://thor.dosomething.org//node/?source=node/2805#prove for GL EN user.

![image](https://cloud.githubusercontent.com/assets/6330971/10259517/35827884-6937-11e5-9477-25b869b73a4f.png)

cc: @marahml

[2015-10-02 22:57] mikefantini commented on #5090
confirmed that I'm getting transactionals still as a GL user so this can be 1.1.

[2015-10-02 22:59] mikefantini commented on #5366
also getting an error for MX SP transactionals

https://thor.dosomething.org/mx/node/?source=node/17#prove

![image](https://cloud.githubusercontent.com/assets/6330971/10259565/b3fc3538-6937-11e5-8e51-288a1278b8ae.png)

[2015-10-02 23:02] mikefantini opened #5367 "MX SP user received wrong email template for rb transactional"
signed up for and reported back on https://thor.dosomething.org/mx/voluntario/plantar-par-tay-mx and got the following email:

![image](https://cloud.githubusercontent.com/assets/6330971/10259603/146837f0-6938-11e5-8ade-172827d6064a.png)

[2015-10-02 23:06] mikefantini opened #5368 "MX SP user receiving wrong email template for sign up transactional"
signed up for https://thor.dosomething.org/mx/voluntario/plantar-par-tay-mx and got the following email:

![image](https://cloud.githubusercontent.com/assets/6330971/10259657/9bd70090-6938-11e5-8911-20625728ada6.png)

[2015-10-02 23:10] deezone commented on #5366
For what it's worth, `https://thor.dosomething.org/mx/node/?source=node/17#prove` should be `https://thor.dosomething.org/mx/node/17#prove`. Confirmed this is a valid URL that resolves to MX campaign page.

[2015-10-05 14:56] blisteringherb commented on #5368
Hm, I verified these were working on Fri, and I just tried again, and it looks like I'm getting the correct templates. One thing I did notice though on Fri was when I tried with my gmail account, it looks like the email template was cached. I used Mailinator this morning so there wouldn't be any caching, and this is what I got:

![image](https://cloud.githubusercontent.com/assets/28132/10283896/b7

[2015-10-05 15:14] itsjoekent commented on #5300
Going to hop back on this one, will have a PR / screenshots in the afternoon so @mikefantini can approve its ok enough to ship

[2015-10-05 15:17] #5347 closed, assigned to itsjoekent

[2015-10-05 15:57] sbsmith86 commented on #5290
@weerd Hey! So i need to I need to update these [mailchimp templates to](https://us4.admin.mailchimp.com/templates/) to the  "Correct width of the email". @ArielSD Thought you  might have some insight as to what the correct width of the email template should be. Any insight you can provide?

[2015-10-05 16:05] weerd commented on #5290
Not sure how much insight I can provide... I had taken a quick look with @ArielSD to see if I could make some suggestions for how to fix things. The code is a bit convoluted because I think a "responsive" mailchimp theme was used, but set to be `600px` fixed width... So there's a lot of media query based code that actually doesn't apply, etc. From what I can tell from taking a quick gander at the

[2015-10-05 16:57] #5148 closed, assigned to sheyd

[2015-10-05 16:57] sheyd commented on #5148
Patched!

[2015-10-05 16:59] deezone commented on #5290
@weerd Me, know anything about responsive... in my dreams!

[2015-10-05 17:15] weerd commented on #5290
@DeeZone lol. Meant more about info on the template: size, width, etc :)

[2015-10-05 17:21] DFurnes commented on #5148
Ghost busted! :ghost:

[2015-10-05 17:46] #5362 closed, assigned to weerd

[2015-10-05 18:08] mikefantini opened #5372 "make sure all users are in Mobile Commons and MailChimp"
from both Friday afternoon and Saturday night

[2015-10-05 18:30] #5300 closed, assigned to itsjoekent

[2015-10-05 19:27] namimody commented on #5109
Just going to close this since we are so close to launching global. Let me know if that's the wrong call @mikefantini.

[2015-10-05 19:27] #5109 closed, assigned to angaither

[2015-10-05 19:40] itsjoekent commented on #5109
BTW they can manually update this until than

[2015-10-05 19:46] namimody commented on #5023
Notes from Shawn: reviewed 25, took long time to submit, got this screen,
![image](https://cloud.githubusercontent.com/assets/12396076/10291234/caac6dc0-6b76-11e5-9cab-bcf68526ab13.png)

did another 25, took long time to submit, got this screen again,
![image](https://cloud.githubusercontent.com/assets/12396076/10291436/c7351cfe-6b77-11e5-9d97-63a3c78e2efb.png)

clicked back to page with all RBs r

[2015-10-05 19:49] mikefantini commented on #5023
let's break out the "No data received" into a separate issue and assign that one to @sheyd.

assigning this issue to myself right now

[2015-10-05 19:53] DFurnes opened #5374 "Modernizr 404 due to country code prefix"
It looks like `modernizr.js` is being loaded with the country code prefix... this path doesn't exist, so...

<img width="763" alt="screen shot 2015-10-05 at 3 52 20 pm" src="https://cloud.githubusercontent.com/assets/583202/10291693/2be79414-6b79-11e5-8847-7be6fb1674ca.png">

Note the added `/us/content` on the beginning of the URL. Strangely, only happens to this one script.

[2015-10-05 19:58] #5036 closed, assigned to blisteringherb

[2015-10-05 19:59] DFurnes commented on #5374
Relevant code...

From [html.tpl.php](https://github.com/DFurnes/phoenix/blob/dev/lib/themes/dosomething/paraneue_dosomething/templates/system/html.tpl.php#L35-35):

[code]

And from [template.php](https://github.com/DFurnes/phoenix/blob/dev/lib/themes/dosomething/paraneue_dosomething/template.php#L4-4):

[code]

Any global gurus have any ideas why this would be triggering that `/us/` prefix? @wee

[2015-10-05 20:29] namimody opened #5377 "Error Message When Trying to Unsubscribe from Digest"
In digest to eolson@dosomething.org, I clicked unsubscribe, and got this:

![image](https://cloud.githubusercontent.com/assets/12396076/10292632/4c098dd8-6b7e-11e5-864f-db2d2d46e250.png)

[2015-10-05 20:35] DFurnes commented on #5374
This might be related to changes made in #5373, although the particular line in question was not significantly changed. It's also worth mentioning that this works fine on [staging.beta.dosomething.org](http://staging.beta.dosomething.org), but not on  [staging.dosomething.org](https://staging.dosomething.org) so it's likely only triggered when a Fastly country header is present.

[2015-10-05 20:36] namimody commented on #5341
@mikefantini @sergii-tkachenko Adam needs to show this to AARP the week of the 19th, so would be great to have this all fixed by the 15th (a Thursday) if possible!

[2015-10-05 21:06] deezone commented on #5377
@namimody Please add a copy of the link that the Unsubscribe link points to.

[2015-10-05 21:27] namimody commented on #5377
@DeeZone http://subscriptions.dosomething.org/?targetEmail=eolson%40dosomething.org&key=79d8486abb1998304a34829fc17db561

[2015-10-05 22:05] deezone commented on #5377
@namimody Can we please review this link together as it's working for me. I suspect your computer is struggling to get outside of the DoSomething office network.

[2015-10-06 02:17] namimody commented on #5377
Tried it at home @DeeZone and got to the right screen! Sorry for flagging unnecessarily -- closing!

[2015-10-06 02:17] #5377 closed, assigned to marahml

[2015-10-06 14:35] #5328 closed, assigned to chloealee

[2015-10-06 14:39] marahml commented on #5290
hi @weerd! we experienced the same issue a long long time ago and I think you helped us figure out a similar solution. per your note above, we think that we need to be able to configure the template to size based on a % instead of set width. do you have thoughts on how do that?

[2015-10-06 14:43] sbsmith86 commented on #5290
@marahml Hey! I think im just confused as to what the current issue is with the templates and that will help me narrow down the fix. Is it that the section with ben's picture is too wide? Is it that they are not responsive on mobile? See screenshots below:

![screen shot 2015-10-06 at 10 41 13 am](https://cloud.githubusercontent.com/assets/1700409/10311942/f4df2506-6c16-11e5-8bdc-1b44067d3ff8.png)

[2015-10-06 14:43] weerd commented on #5374
Yeah, I tried a few different things on my local, and switching languages etc too, but no prefixed country code in path. Seems to be a Fastly thing... is there a way to keep Fastly (or Drupal responding to Fastly) from modifying asset paths?

[2015-10-06 14:47] marahml commented on #5290
ah got it. thanks @sbsmith86!

Hmm I'm not sure either, but looking at this, it could be 1) Ben's photo or 2) that "help@dosomething.org" is too long of string for that sidebar.

[2015-10-06 15:11] mikefantini commented on #5374
@blisteringherb this is the issue @DFurnes was discussing in stand-up

[2015-10-06 16:15] weerd opened #5383 "Bug in Regional Admin tabs if no primary tabs present"
If the array for `$vars['tabs']` is has an empty '#primary' array item, then PHP will throw a bunch of warnings.

[2015-10-06 16:50] #5383 closed, assigned to weerd

[2015-10-06 17:15] itsjoekent commented on #4901
@sergii-tkachenko re: andrea's comment above, I have no idea what permissions those are. Ive tried a bunch of different searches and I'm not yielding anything (besides user search)

[2015-10-06 17:22] DFurnes commented on #5374
This is now fixed [on staging](https://staging.dosomething.org).

[2015-10-06 17:22] #5374 closed, assigned to DFurnes

[2015-10-06 17:25] sergiitk commented on #4901
Were you looking for these?
![image](https://cloud.githubusercontent.com/assets/672669/10316541/68d4337e-6c68-11e5-8c4f-1c2791942694.png)

[2015-10-06 17:27] itsjoekent commented on #4901
I'm referring too

clean slate
shipments
translation config interface

[2015-10-06 17:35] mikefantini commented on #5023
i'll keep taking a look, but assigning over to @weerd since he has wrapped up all Global 1.0 work that was assigned to him

[2015-10-06 17:46] mikefantini opened #5387 "no data received error when reviewing reportbacks"
reviewing reportbacks on https://www.dosomething.org/node/2930/rb with user 1853386 (as an editor)

video: http://screencast.com/t/qEffIK7HkOm

all 25 reportbacks I reviewed had the data saved correctly

[2015-10-06 17:47] mikefantini commented on #5387
also from @namimody:

Notes from Shawn: reviewed 25, took long time to submit, got this screen,
![image](https://cloud.githubusercontent.com/assets/12396076/10291234/caac6dc0-6b76-11e5-9cab-bcf68526ab13.png)

did another 25, took long time to submit, got this screen again,
![image](https://cloud.githubusercontent.com/assets/12396076/10291436/c7351cfe-6b77-11e5-9d97-63a3c78e2efb.png)

clicked back

[2015-10-06 18:03] namimody opened #5388 "No Data Received Screen After Trying to Submit RBs"
Notes from Shawn: reviewed 25, took long time to submit, got this screen,
![image](https://cloud.githubusercontent.com/assets/12396076/10317561/02ef4cfe-6c33-11e5-909c-cb8a7ff751e5.png)

did another 25, took long time to submit, got this screen again,

![image](https://cloud.githubusercontent.com/assets/12396076/10317556/fc91358e-6c32-11e5-90eb-a2de686e156f.png)

clicked back to page with all RBs

[2015-10-06 18:03] #5388 closed, assigned to nobody

[2015-10-06 18:04] namimody commented on #5388
Fantini already created. Redundant.

[2015-10-06 18:48] sbsmith86 commented on #5290
Documenting this here:  I’ve finished updating the `mb-user-xxxx-br/mx` and the `mb-campaign-xxxx-br/mx` mailchimp templates. There were 8 of them (4 for each country).

Looked over the US templates and they look good except for the fact that they don't have the image in the header, instead they just have a purple background. Not sure if this is on purpose of if I should update these templates to

[2015-10-06 19:06] DFurnes opened #5389 "Swapper error on window resize"
On window resize, the Swapper is triggering an error (due to a borked export):

![screen shot 2015-10-06 at 3 05 17 pm](https://cloud.githubusercontent.com/assets/583202/10319344/bd5693ce-6c3b-11e5-9b94-f183bf310d78.png)

[2015-10-06 19:09] itsjoekent commented on #5199
happening for a few campaigns on prod again

[2015-10-06 19:15] #5389 closed, assigned to DFurnes

[2015-10-06 19:15] sheyd opened #5392 "Enable CSP (Content-Security-Policy) Within Phoenix"
X-Frame-Options is deprecated per various sources. Good round-up here:
https://appsec-labs.com/portal/anti-clickjacking/

Cobalt report highlighted this. We need to figure out exact policy, and enable as features within Drupal SecKit:

https://www.dosomething.org/admin/config/system/seckit

@sergii-tkachenko I'll focus on making sure the security policy part is correct, and then I'll assign to you

[2015-10-06 19:33] jonuy opened #5393 "Create GET endpoint for taxonomy terms"
#### The current landscape

We currently have a GET that we can enable using what Services gives us by default. We can get at it through something like...

http://staging.dosomething.org/api/v1/taxonomy_term/670.json

which gives a response like...

[code]

We can use this on the mobile app right now to get some tag names that we display within the app.
#### The request

What we'd like is for the

[2015-10-06 19:36] itsjoekent commented on #5326
Only happening on Thor and Prod, not happening on staging or local.

On Thor its for everything im trying on: https://thor.dosomething.org/admin/content

On Prod its not happening for any of the latest ones here: https://www.dosomething.org/admin/content

[2015-10-06 19:37] sergiitk commented on #5276
Thor: Done

[code]

[2015-10-06 19:41] itsjoekent commented on #5326
@mikefantini talked with @sheyd -- can we pause this until we update the Thor DB with the latest snapshot? we think its related

[2015-10-06 20:08] mikefantini commented on #5326
@deadlybutter even though it's also happening on prod?

[2015-10-06 20:08] itsjoekent commented on #5326
its not always happening on prod, if you click on the most recent campaign runs /edit works fine

[2015-10-06 20:09] marahml opened #5396 "Message broker monitoring"
Re @marahml:

The goal is to send alerts (email, sms, Slack) when queues in the Message Broker system fill up. Certain queues should remain at or near zero messages when the related consumer application is healthy.
## Queues of Interest:
- **transactionalQueue**: All transactional email requests coming from the Drupal, Voting or user import applications pass through this queue. Any more than a few

[2015-10-06 21:49] deezone commented on #5396
@sheyd Looks like some server setup will be needed to get the RabbotMQ command line tools working: https://www.rabbitmq.com/management-cli.html

[2015-10-06 22:01] mikefantini commented on #5023
related slack conversation https://dosomething.slack.com/archives/campaign-template/p1444160549000091

i think this issue may be related to #5112

[2015-10-06 22:04] aaronschachter commented on #5393
An ideal addition (not needed for v1) would also be to alter the `GET` index query, to return all Taxonomy Terms in the expected format, and to filter by fields. We need to fully spec it out, but the ideal way we should handle Interest Groups is by dynamically querying for the interest group id's we should display (right now we have 4 term id's hardcoded in the app, and the plan is to edit the ter

[2015-10-06 22:09] mikefantini commented on #5302
hmmm seeing this again on https://thor.dosomething.org/mx/node/3534/edit this time.

flushed cache but the problem still persists. let's definitely keep an eye on this

[2015-10-07 03:51] joolaay opened #5397 "Edits to Partner Admin Experience"
Here's a quick outline of what we discussed:

-Remove Action Guide, Campaign Group, Campaign Run from Field selection from Content --> Add Content in Admin view

-Remove Creator Info from Campaign Template

-Restrict Image Uploader to only Square and Landscape

[2015-10-07 03:53] joolaay opened #5398 "Partner Admin View - Search Content"
Currently, the Partner has to filter to find content. Would be great to have a Search Content Field in the top dropdown for 1.1

[2015-10-07 04:01] joolaay opened #5399 "Can we just start a running list of things we'll need to deal with soon?"
- Global Reportback Approvals
- Partner Flow - how to translate campaign from Global English
- Restricting US Admin Roles
- Strategy for UK, Indonesia, Canada
- Enhanced Footer controls for partners
- ...

[2015-10-07 04:36] namimody opened #5400 "Hot Module Doubles Content in "Progress Update" Field"
Seems that inputting a number into campaign page >> custom settings >> goals settings >> progress update causes the impact number to be equal to:

[# in progress update field \* 2] + reviewed reportback impact quantity

after CRON runs.

For example:

at start:
ACTION PAGE = 18
BACK END TOTAL APPROVED QUANTITY: 18
PROGRESS UPDATE FIELD = 0

added 900 in progress update field and saved:
ACTION PAGE

[2015-10-07 13:21] mshmsh5000 opened #5401 "301 all Akamai CDN paths to www"
Problem set: https://www.google.com/#q=dosomething-a.akamaihd.net

Create a 301 redirect to substitute all incoming requests for `dosomething-a.akamaihd.net` to `www.dosomething.org`.

[2015-10-07 13:53] namimody opened #5402 "Update to Yahoo: Make Yahoo CTAs Appear on both Desktop + Mobile"
@sbsmith86 because of the desire to boost numbers, we'd like to show the Yahoo CTAs on desktop as well. Could you configure the previous code to show the CTAs and links to search results on desktop as well?

Please let me know if there is anything else you need!

For reference: https://github.com/DoSomething/phoenix/issues/5237

[2015-10-07 14:03] namimody opened #5403 "Update to Yahoo: Change hyperlink of Yahoo logo on desktop version of 11 Facts pages"
@sbsmith86 we are still waiting for the exact link, but we also need to change the hyperlink behind the Yahoo logo on 11 facts pages (desktop) to a site that talks about the partnership. Just putting this on your radar, will send the link over ASAP.

[2015-10-07 14:11] mikefantini opened #5404 "remove global features from staging DB"
when the global stuff got deployed to Staging it didn’t get removed properly from the DB

[2015-10-07 14:16] DFurnes commented on #5404
It looks like the fix that Andrea applied in https://github.com/DoSomething/phoenix/commit/1aa08b4c0e3e52c7377fe18135193a1ff24ae729 got accidentally reverted.

[2015-10-07 14:17] DFurnes commented on #5404
[code]

Updating that fixes things on my local:
![screen shot 2015-10-07 at 10 17 37 am](https://cloud.githubusercontent.com/assets/583202/10340130/a3894c6a-6cdc-11e5-9cf7-be0373ce61cb.png)

[2015-10-07 14:52] sbsmith86 opened #5406 "Yahoo: Remove yahoo partnership from fact pages"
Just making this issue to remind us to pull out all of the yahoo related code from fact pages when the partnership is over.

[2015-10-07 15:20] namimody commented on #5403
@sbsmith86 the link: http://do.yahoo.com/?fr=do_dslogo&.tsrc=do-dslogo

[2015-10-07 15:22] sbsmith86 commented on #5403
@namimody does it still need to switch between `do.yahoo.com` on mobile and `search.yahoo.com` on desktop?

[2015-10-07 15:24] blisteringherb commented on #5404
@DFurnes  I think what's making this break is that the default language was set to global english. I manually fixed it and the subtitles are showing up properly again.

[2015-10-07 15:28] DFurnes commented on #5404
Hmm, okay. Wouldn't we want to use the node's language though, rather than the global language (since we will have cases where we're showing nodes in multiple languages in order of user's preference)? #5249 has context of Andrea's rationale when making the change, but I'm obviously not nearly as involved in this global work so I could be misunderstanding!

[2015-10-07 15:55] #5404 closed, assigned to nobody

[2015-10-07 16:09] namimody commented on #5403
@sbsmith86 nope! the link above will connect to do.yahoo.com which will recognize desktop users and act differently. Does that help?

[2015-10-07 16:11] sbsmith86 commented on #5403
@namimody yes sir-eee!

[2015-10-07 17:05] mikefantini opened #5409 "highlight on finder straying from where it should be located when selecting Education"
highlight on Education indicating that cause was selected in finder is straying.

I've noticed this on thor and now seeing it on staging.dosomething.org

using Chrome Version 45.0.2454.101 (64-bit)

![image](https://cloud.githubusercontent.com/assets/6330971/10344723/e011af22-6cf2-11e5-85d0-22b3f93876b9.png)

[2015-10-07 17:22] #5402 closed, assigned to sbsmith86

[2015-10-07 17:22] #5403 closed, assigned to sbsmith86

[2015-10-07 17:46] namimody opened #5411 "Notes from Shawn 2015 Run Documentation"
Problem:
- can't edit old runs, so could not disassociate 2014 notes from shawn run with new 2015 run
- needed to close the campaign but didn't want to show 2014 closed state

Solution:
- created Notes from Shawn 2015 campaign w/ same photo, CTA, associated with run https://www.dosomething.org/node/5828/edit and closed
- closed Notes from Shawn campaign which showed 2014 run
- redirected people wh

[2015-10-07 17:49] namimody opened #5412 "Thor and Staging Content Showing up in Google Search"
Searched notes from Shawn in google, got this: -- note that Notes from Shawn GL shows up.

![image](https://cloud.githubusercontent.com/assets/12396076/10345792/f9294c48-6cf9-11e5-9c6d-22554a897df8.png)

As a note, doesn't seem to be happening at first glance with "bully text superstar edition" or "gtfo do something" queries.

[2015-10-07 17:49] itsjoekent opened #5413 "Error visiting /admin/content as MX admin"
Warning: Invalid argument supplied for foreach() in dosomething_helpers_form_node_admin_content_alter() (line 601 of /var/www/dev.dosomething.org/lib/modules/dosomething/dosomething_helpers/dosomething_helpers.module).

[2015-10-07 17:54] mikefantini commented on #5412
staging:

![image](https://cloud.githubusercontent.com/assets/6330971/10346002/e844887e-6cfa-11e5-8a81-5d7eef4351f5.png)

[2015-10-07 18:24] itsjoekent commented on #5297
Also update the /search page. The title got messed up by the translation status page

[2015-10-07 20:08] mshmsh5000 opened #5415 "NS user load will never load from cache"
https://github.com/DoSomething/phoenix/blob/dev/lib/modules/dosomething/dosomething_northstar/dosomething_northstar.module#L131

`if (!empty($northstar_user_info)) {` below will always evaluate to `FALSE`, because `$northstar_user_info` is not declared.

[code]

[2015-10-07 20:31] itsjoekent commented on #5297
Talked with Fantini, we're not going to hide the content tab because

1) we can't recall why it was suggested here
2) it does this to the admin menu

![screen shot 2015-10-07 at 4 28 10 pm](https://cloud.githubusercontent.com/assets/897368/10350202/9ed630b4-6d10-11e5-8bc9-f9861f36e348.png)

when it should be this

![screen shot 2015-10-07 at 4 28 22 pm](https://cloud.githubusercontent.com/assets/8

[2015-10-07 20:34] DFurnes commented on #4571
Chloe & I just talked this over IRL. We're thinking the best course of action would be to try to mirror how we deal with users and see if we can create a synchronized copy of all this data in Northstar. The mobile app will only have a subset of campaigns so this hopefully shouldn't be _too_ heavy of a dataset, since I think we're still uncertain whether campaign activity should live in the user do

[2015-10-07 20:46] sergiitk commented on #5341
Looking at this.

[2015-10-07 20:53] #3406 closed, assigned to tjrosario

[2015-10-07 21:00] sbsmith86 commented on #5290
@ArielSD all these templates should be updated now. I didn't see any sidebar text without ben's photo but let me know if there are any other updates needed!

[2015-10-07 21:05] sergiitk commented on #5341
1. Looks like it's related to #5195
2. Not sure if Home page was fixed manually or programmatically #5315 cc @mikefantini
3. Investigating the reason behind this

[2015-10-07 21:23] sergiitk commented on #5341
I just confirmed that executing script from #5315 fixed the issue on staging: http://staging.beta.dosomething.org/node/1194/edit.

I think we should run in on prod. Will coordinate this with @sheyd.

[2015-10-07 22:39] deezone commented on #5396
@sheyd @marahml Added the top queues, their descriptions and how they need to be monitored.

[2015-10-08 00:23] deezone opened #5418 "Message Broker transactional message - Missing `user_county` for MX, BR, and GL EN user_register"
Bugs / missing information in transactional requests sent to Message broker:
- "activity": "user_register" from Mexico user
  - [ ] Missing `user_country` value, in this case it should be "MX".

[code]

[2015-10-08 00:53] mikefantini opened #5419 "Remove campaign runs, campaign collections, and action guide permissions from regional admins"
Remove the following permissions from Regional Admins:
- Campaign Run: Create new content
- Campaign Run: Edit own content
- Action Guide: Create new content
- Action Guide: Edit own content
- Campaign Collection: Create new content
- Campaign Collection: Edit own content

[2015-10-08 01:01] mikefantini opened #5420 "Make field_created_copy not translatable on the campaign template"
@julielorch can you please verify that none of the campaigns in the Ready to be Translated list on https://trello.com/b/HWVvUsxW/translation-pipeline were created by any members?

also @mnelson338 this would mean we couldn't translate any campaigns that were created by members. if this is going to be the case for the next few months then that's fine, we can always change our minds later. but i jus

[2015-10-08 01:16] mikefantini opened #5421 "hide fields on /node/add/image from regional admins"
is it possible to hide the following fields on /node/add/image from regional admins?
- field_image_portrait
- field_image_thumbnail
- field_image_video
- field_image_video_poster

@julielorch @mnelson338 by removing thumbnail images this would mean that partners would not be able to create any duo galleries used on campaign runs, /about/who-we-are, and other static content pages we may want to one

[2015-10-08 01:17] mikefantini commented on #5397
closing this out as it's now represented in #5419 #5420 and #5421

[2015-10-08 01:17] #5397 closed, assigned to mikefantini

[2015-10-08 01:30] mikefantini commented on #5368
verified this is working

cc: @marahml

[2015-10-08 01:30] #5368 closed, assigned to blisteringherb

[2015-10-08 01:48] mikefantini commented on #5418
@DeeZone @blisteringherb for what it's worth I did receive an MX user registration transactional on thor just now

[2015-10-08 01:54] mikefantini opened #5422 "language issues on /user"
As a user from Mexico (with Mexican Spanish as my language), when I go to my profile from a Global English link, the campaigns that I'm signed up for have a Global English title but a Mexican Spanish CTA:

![image](https://cloud.githubusercontent.com/assets/6330971/10355722/37d6845e-6d3d-11e5-907b-8800cd11c597.png)

When I go to /mx/user everything is in Spanish:

![image](https://cloud.githubuser

[2015-10-08 01:58] mikefantini opened #5423 "Profile links missing country code prefix in URLs"
link in You're Doing section of profile is missing country code prefix (see url that's loading at the bottom of the image when I hover over Prove It image):

![image](https://cloud.githubusercontent.com/assets/6330971/10355829/62ca16ac-6d3e-11e5-8a1d-ef67b6ac5516.png)

[2015-10-08 02:02] mikefantini commented on #5423
also missing in the "You Did" section when you try to click on either the image or the campaign title (which should lead to the campaign page https://thor.dosomething.org/mx/voluntario/no-noticia).

Interestingly, the 1 gráficos publicado which links to the permalink of the reportback _does_ have /mx/ in the url

![image](https://cloud.githubusercontent.com/assets/6330971/10355907/21e48612-6d3f-11

[2015-10-08 02:05] mikefantini commented on #5422
also for what it's worth once I report back on a campaign even if I'm on my profile using the Global English link the campaign in the "You Did" section remains in the language of the campaign that I reported back on (in this case Mexican Spanish)

![image](https://cloud.githubusercontent.com/assets/6330971/10355937/7ed7d842-6d3f-11e5-99f6-b91e71600974.png)

[2015-10-08 02:16] mikefantini commented on #5367
this appears to be fixed. closing out.

[2015-10-08 02:16] #5367 closed, assigned to blisteringherb

[2015-10-08 02:20] mikefantini commented on #5290
sorry @sbsmith86 when you say all templates should be updated now do you mean that you updated US transactionals to include the image header, Ben's photo, etc.?

[2015-10-08 02:25] mikefantini commented on #5199
I "fixed this" by creating a US English translation for each of these.

I suspect this might have something to do with prod not being configured properly?

@namimody add to the QA doc for admins. closing for now.

[2015-10-08 02:25] #5199 closed, assigned to nobody

[2015-10-08 02:27] mikefantini commented on #5166
@DFurnes any updates on this?

[2015-10-08 02:30] mikefantini commented on #5151
@sheyd any update on this?

[2015-10-08 02:30] mikefantini commented on #5150
@sheyd any update on this?

[2015-10-08 02:31] mikefantini commented on #4901
assigning this over to @angaither and adding BLOCKED label until she gets back

[2015-10-08 02:32] DFurnes commented on #5166
I have a branch in progress for this on my local. I'm out Thursday and Friday, but should easily be able to finish this up on ~~Monday~~ right, TUESDAY! :smile:

[2015-10-08 02:34] mikefantini commented on #5166
:) we're off Monday but Tuesday sounds good! once you finish this can you please make sure to deploy to Thor so TSG can test?

cc: @namimody

[2015-10-08 02:37] mikefantini commented on #5287
this will probably be one of the last issues we close out for this milestone as I want to make sure everything else is working before we add this in

[2015-10-08 03:02] mikefantini commented on #5398
this should be resolved once #5297 is closed

[2015-10-08 03:02] #5398 closed, assigned to mikefantini

[2015-10-08 03:09] mikefantini commented on #5166
also once this is done we'll need to edit the footer to replicate what we'll want it to be on prod. see https://docs.google.com/document/d/1_nK9VZQ6DQIZ46A6XCxQqeK1TUcO1ssMyJUNSbyPDr4/edit

[2015-10-08 12:51] sheyd commented on #5372
There is a disparity in the numbers. Drupal reports about 4700 users being added during that period, but Mobile commons and Northstar numbers are off by up to 2000.  Digging deeper to figure out the correct number and diff.

[2015-10-08 13:59] #5297 closed, assigned to itsjoekent

[2015-10-08 14:16] julielorch commented on #5397
@mikefantini: Shower songs and Bookmark Climate Change - moved from "ready to translate" to "Global English only" in Trello

[2015-10-08 14:17] joolaay commented on #5420
@mikefantini: Shower songs and Bookmark Climate Change - moved from "ready to translate" to "Global English only" in Trello

cc @mnelson338

[2015-10-08 14:17] sbsmith86 commented on #5290
@mikefantini Yea. @ArielSD made new US/Global templates that have the image header and ben's photo (registration email only). I made some style and html updates to the templates so that they looked correct and worked responsively. From what I understand, these templates are not live yet, so the old US/global templates (purple header, no ben, etc) are still being used, but they are looking to repla

[2015-10-08 14:23] joolaay commented on #5421
@mikefantini the goal is to make it as simple as possible for partners to correctly upload content, and I'm concerned with offering fields that they can't interact with.

I'd like to restrict to just square and landscape for now, and start to toggle on additional features partners needs become more complex.

@mnelson338 what do you think?

[2015-10-08 14:38] #5419 closed, assigned to itsjoekent

[2015-10-08 14:58] namimody opened #5427 "DD/MM/YYYY Format dring Account Creation Accessed By Some via dosomething.org"
Three users in ZenDesk have reported problems entering their birthday.

Two were accessing the site on iPhone:
one user: "The birthday i was putting in is 21/12/1999 it said to put day/month/year."
second user: "im using my iphone. my birthday is october 9 2001 and its telling me to use two letter for the month but im not sure what letters to use. i texted the number and when i said i couldnt send

[2015-10-08 15:19] weerd opened #5430 "Import POEditor .po files into testing environments once translations ready"
For testing import POEditor .po file into:
- [x] local
- [x] thor
- [ ] staging

[2015-10-08 16:49] sbsmith86 commented on #5112
@namimody @mikefantini I tested this on my local, staging.dosomething.org, and staging.beta.dosomething.org as an admin and as an editor and the rotation seems to be going through and being reflected in the reviewed box and on the frontend on the campaign page.

[2015-10-08 16:51] chloealee commented on #4571
I just noticed that there is already a check to see if a campaign signup already exists [here](https://github.com/DoSomething/northstar/blob/dev/app/Http/Controllers/CampaignController.php#L119) so I don't think we'll actually run into the infinite loop between ns and phoenix.

Another question I forgot about that we ran into when first discussing is creating a new function that forwards the signu

[2015-10-08 16:59] itsjoekent commented on #5413
still happening

[2015-10-08 18:07] #5413 closed, assigned to itsjoekent

[2015-10-08 18:22] namimody commented on #5112
@sbsmith86 interesting! on prod, ive been messing with this one -- it came in correctly oriented, I rotated, front end showed:

![image](https://cloud.githubusercontent.com/assets/12396076/10375651/c8264bea-6dc7-11e5-8bc3-d7c9cad0156d.png)

backend now shows:
![image](https://cloud.githubusercontent.com/assets/12396076/10375661/d4213900-6dc7-11e5-97b8-ff5c8053b5a9.png)

but rotating behavior is ba

[2015-10-08 18:23] sbsmith86 commented on #5112
@namimody what campaign is this?

[2015-10-08 18:24] sbsmith86 commented on #5112
nevermind i see lol

[2015-10-08 18:34] sbsmith86 commented on #5112
@namimody yea, I am seeing a difference on that photo between what is shown on the frontend and what is shown on the backend, which is weird. My gut is telling me it's some sort of caching issue.

[2015-10-08 18:44] sbsmith86 commented on #5112
Ah yea, I flushed cache on prod an now everything seems to match up. I'm not sure im entirely clear on what the issue you were describing was, but feel free to swing by my desk so we can go over it in person.

[2015-10-08 19:01] weerd commented on #5023
#### Reportback Review: Illegal Choice Bug

If you submit the RB review form and **any** items in the list have not been reviewed then it will throw the `illegal choice error`.

If RB review inbox is full with over 50 items (so 25 showing, 25 in next round), Editor reviews first 25 and if Member submits new RB before Editor hits submit on the reviewed items then all is fine. Works great cause ther

[2015-10-08 19:29] weerd commented on #5023
Assigning back to you @mikefantini until there are further developments...

[2015-10-08 19:53] mikefantini opened #5433 "Child Campaign/Group Campaign Signup Error Message"
Getting a "there was an error processing your request" error when signing up for a child campaign where on the campaign group we configure it to do an automatic parent signup

example staging.dosomething.org/node/1418/edit

![image](https://cloud.githubusercontent.com/assets/6330971/10378003/6e3388ca-6dd4-11e5-9b04-8587674196ed.png)

![image](https://cloud.githubusercontent.com/assets/6330971/1037

[2015-10-08 19:54] mikefantini commented on #5433
you don't get that error when we don't do the automatic sign up

[2015-10-08 19:57] mikefantini commented on #5433
also this error message on backend

![image](https://cloud.githubusercontent.com/assets/6330971/10378143/3f8b165e-6dd5-11e5-8f1f-1aea66d77c57.png)

[2015-10-08 19:59] mikefantini commented on #5112
yeah just did some digging and then saw the updates on this issue, but rotation seems to be working just isn't being shown on either the /rb/reviewed view _or_ the /admin/reportback/ view but it is working properly on the permalink

[2015-10-08 20:00] sheyd opened #5434 "Setup PHP Parsing on Static Assets (Folio) Servers"
The mobileapp.dosomething.org page needs PHP processing so we don't hit the double-opt-in limit of the MailChimp form. cc: @marahml. @mikefantini We need proper prioritization for this ticket. Whole thing will likely take about 2 hours.

[2015-10-08 20:12] sbsmith86 commented on #5112
@mikefantini If I submit a reportback, go to review it, rotate and save, I actually do see it rotated in the /rb/reviewed box. But I think maybe older reportbacks that haven't been reviewed are being cached and that's why the updates are being reflected sometimes. Is that a separate issue we need to work on? Should I close this one out?

[2015-10-08 20:42] mnelson338 commented on #5421
@julielorch Agreed for 1.0

As a flag: When we move other affiliates over (Uk, Canada, Indonesia) I would like to continue offering them the ability to use video - It's something they are asking for. If this means we should enable it for partners from the get go, then let's do that.

[2015-10-08 20:51] weerd commented on #5354
So if the **Problem Fact** is currently slated to reference an alternative Fact node with the translated/localized text in place then the need to include them in a .PO is mute; it would end up pulling the content from the database and not being translated via the .PO file.

We can likely close this issue @mikefantini...

[2015-10-08 20:58] mnelson338 commented on #5420
@mikefantini Happy to hold for now on translating campaigns that are member created. Eventually, we will want the capability that's for v1.1 or later

[2015-10-08 21:03] weerd commented on #5354
Going to close this issue for now. Potentially re-open if/when the above is changed and requires entries in a .PO file.

[2015-10-08 21:03] #5354 closed, assigned to weerd

[2015-10-08 21:25] mikefantini commented on #5427
confirmed that this is working on production. it was because #5262 wasn't deployed on production. it is now.

[2015-10-08 21:25] #5427 closed, assigned to namimody

[2015-10-08 21:51] DeeZone commented on #5212
**Test `user_register`:
- [ ] `user_language` = `en`
- [ ] `user_country` = `US`
- [ ] `email_template` = `mb-user-register-US`
- [ ] `mailchimp_list_id` = `f2fab1dfd4` (General US DoSomething list)
[code]

[2015-10-08 21:55] DeeZone commented on #5212
[code]

[2015-10-08 21:56] weerd commented on #5354
Also just to make sure, I confirmed the hardcoded text (for Tumblr, which uses part of a hardcoded string) does translate correctly. ¡OLÉ!

[2015-10-09 03:16] mshmsh5000 opened #5435 "Unset variable in user module"
https://github.com/DoSomething/phoenix/blob/dev/lib/modules/dosomething/dosomething_user/dosomething_user.module#L291

This doesn't exist. It used to, but got renamed. Should be `$validate_address` as defined [here](https://github.com/DoSomething/phoenix/blob/dev/lib/modules/dosomething/dosomething_user/dosomething_user.module#L228).

[2015-10-09 15:20] mshmsh5000 commented on #5422
Closed #5422 via #5436

[2015-10-09 15:20] #5422 closed, assigned to mshmsh5000

[2015-10-09 16:35] weerd opened #5438 "If Campaign is missing content in "issue" field, then share copy reads oddly"
Noticed this whilst working on translation stuff. If a campaign is missing an entry in the **Issue** field under **Taxonomy and Discovery** then the default copy for the owners permalink confirmation page will read as a broken sentence that doesn't make much sense (see screenshot below):

![1c6a1474-6e82-11e5-91a6-15055900e12a copy](https://cloud.githubusercontent.com/assets/105849/10399748/a5e167

[2015-10-09 17:50] weerd commented on #5351
Ran a few tests and for the copy that does get added in share prompts, it does get translated properly.

[2015-10-09 17:50] #5351 closed, assigned to weerd

[2015-10-09 19:07] lizzydivine opened #5439 "Campaign Title and Cover photo are not being pulled in on social shares"
When someone posts "Just Don't Wear Blackface" on Facebook, the name of the campaign and the picture don't appear

![](https://slack-files.com/files-tmb/T024GV2BW-F0C6W1WSH-baeffda165/screenshot_2015-10-09_14.59.40_360.png)

[2015-10-09 19:48] marahml commented on #5290
That's right Shae. Thank you for reformatting! When Dee's back on monday we'll push these live for US + GL.

[2015-10-09 20:18] ArielSD opened #5440 "Mexico Report Back Email"
Username ascottdicker+MexicoThor@dosomething.org reported back on Igualdad de condiciones and didn't get the reportback email.

https://us4.admin.mailchimp.com/templates/edit?id=56693

[2015-10-09 20:19] sergiitk opened #5441 "Thor login fails"
Can't log into thor or local `global` branch build.
I think this is related to URL redirects.
POST login:

[code]

Redirect just returns html:

[code]

Note: I was able to log into using `drush uli` command, example:
http://dev.dosomething.org:8888/user/reset/1700275/1444422131/ariQ3pH85HHxvLxtMtx0b8EK8MSYy3BJBx-1Ejqgg6Q/login

cc @mikefantini @sheyd

[2015-10-09 20:29] sergiitk commented on #5441
cc @mshmsh5000 I think the reason is that 302 doesn't pass the POST request.

[2015-10-09 20:33] sergiitk commented on #5441
Login works reset password links works even with redirect, because it's a GET.

[2015-10-09 20:45] ArielSD opened #5442 "*|STEP_TWO|* Merge Var In English"
In the campaign sign up transactional emails for both Brazil and Mexico, the _|STEP_TWO|_ merge variable is populating in the body in English.

Mexico Template: https://us4.admin.mailchimp.com/templates/edit?id=56685
Brazil Template: https://us4.admin.mailchimp.com/templates/design?tid=56681

![screen shot 2015-10-09 at 4 44 30 pm](https://cloud.githubusercontent.com/assets/8696853/10405167/2bc83e

[2015-10-09 21:00] ArielSD opened #5444 "Transactional Template Formatting In Gmail"
When properly formatted templates come into gmail, our formatting is stripped. (font, link color, spacing)

![screen shot 2015-10-09 at 4 57 16 pm](https://cloud.githubusercontent.com/assets/8696853/10405509/47b5a7f4-6ea7-11e5-9682-89f6d92c12fa.png)

[2015-10-09 21:14] ArielSD commented on #5290
Thanks so much, Shae!

[2015-10-09 21:21] mshmsh5000 opened #5445 "Skip all country-based redirect logic for POSTs"
@sergii-tkachenko suggested in analyzing my fix for #5441 that we shouldn't be redirecting any POST requests at all. Which makes sense, and will simplify the logic in `dosomething_global_init()`.

[2015-10-09 21:31] joolaay opened #5446 "Translated Auth Flow Help Text for Cell Field"
@marahml suggested additional help text for MX + BR cell fields, because they won't immediately receive a welcome SMS.

@mikefantini and I thought about adding help text to the translation, but we're not sure how difficult this is knowing that "cell" pops up in numerous.

Mentioned briefly to @weerd, but maybe @sbsmith86 you have some ideas?

[2015-10-12 22:08] deezone commented on #5444
@ArielSD This is something you could run past @sbsmith86 when the templates are reviewed for responsiveness.

[2015-10-12 22:10] deezone commented on #5442
@ArielSD Assigning @blisteringherb as this is campaign related transactionals.

[2015-10-12 22:13] deezone commented on #5440
@ArielSD Looks like it was sent to you but you've not opened the email message yet:
![image](https://cloud.githubusercontent.com/assets/2119264/10440413/f06ef816-710c-11e5-9db0-6cc10bff2213.png)

[2015-10-12 22:19] deezone commented on #5290
@marahml @ArielSD The update can be "pushed" from the MailChimp templates to Mandrill. No need for my involvement.

[2015-10-12 22:28] deezone opened #5447 "dosomething_user_new_user_attributes() missing comment block"
The `dosomething_user_new_user_attributes()` is missing a comment block. It points to `dosomething_northstar_update_user()`.

https://github.com/DoSomething/phoenix/blob/dev/lib/modules/dosomething/dosomething_user/dosomething_user.module#L539-L544

[2015-10-12 22:58] deezone commented on #5442
@ArielSD @blisteringherb @mikefantini

"Snap a Pic" is not translated:
![image](https://cloud.githubusercontent.com/assets/2119264/10441091/206346ca-7113-11e5-95ea-8b6807b88465.png)

[2015-10-13 13:07] ArielSD commented on #5440
@DeeZone @blisteringherb Yup, it came, just way after all of the other transactionals. Thanks!

[2015-10-13 13:48] mikefantini commented on #5442
yeah this will be translated when we get the PO files back from our translators

[2015-10-13 13:48] #5442 closed, assigned to ArielSD

[2015-10-13 13:59] sheyd commented on #5372
Creation numbers during the Saturday night downtime match up a lot closer:

From 2015-10-03 20:25:00 GMT - 2015-10-04 06:30:00 GMT:

Northstar: 462
Drupal: 447
Mobile Commons: 551

[2015-10-13 14:08] marahml commented on #5290
great thanks @DeeZone. just wanted to wait until you were back in case anything goes wrong. @ArielSD , go for it!

[2015-10-13 14:19] mikefantini commented on #5434
@sheyd i think if this is going to take 2 hours let's just get this up now so we can finish up this job

cc: @marahml

[2015-10-13 14:20] marahml commented on #5446
Per our convo, here's a copy suggestion:

"We're working on getting texting up in your country. When we do, we'll send volunteer opportunities right to your phone!"

[2015-10-13 14:22] sbsmith86 commented on #5446
@julielorch yea we can add help text to that field based on country code on the registration form. Where else does this field pop up?

[2015-10-13 14:29] Bladt commented on #5372
Could this be the Niche imports? I'm seeing 1,638 on Oct 3rd and 1,428 on Oct 4th. Looking more closely, only the 1,428 (based on created values in dosomething.users) fall in the period in question.

[2015-10-13 14:34] mikefantini commented on #5446
@marahml i'm a bit concerned about how long that copy is given that it needs to fit on this form (where optional is) especially on mobile devices.

![image](https://cloud.githubusercontent.com/assets/6330971/10457818/c96cd074-7195-11e5-8722-b9a46da095e1.png)

@sbsmith86 i tried adding it in to see what it would look like through inspect element but couldn't figure out how to get the text to wrap.

[2015-10-13 14:42] marahml commented on #5446
Totally! Your call on how many characters would make most sense here. Here's a couple more options:
- "We'll let you know as soon as DoSomething texts are available in (country)!"
- "We're working on getting texting up in (country)!" (<--- though, not 100% users will understand what that means)
-  "As soon as we have texting available in your country, we'll send volunteer opps to your phone!"
- "Y

[2015-10-13 14:57] sbsmith86 commented on #5446
@mikefantini I can do that, is there a particular one you want to test? It might take just a little bit longer to try out all of the options marah put together.

[2015-10-13 15:00] mshmsh5000 commented on #5441
Seems to be fixed now.

[2015-10-13 15:00] #5441 closed, assigned to mshmsh5000

[2015-10-13 15:13] mshmsh5000 opened #5449 "Build changelog updates into CI"
#4980 describes the original task. To keep updated, we need a job to run

`github_changelog_generator -t [GITHUB_API_TOKEN] --no-unreleased --base CHANGELOG.md DoSomething/phoenix`

[2015-10-13 15:26] mshmsh5000 commented on #4980
Closed in favor of #5449.

[2015-10-13 15:26] #4980 closed, assigned to mshmsh5000

[2015-10-13 15:32] angaither opened #5451 "Update UPS api"
I got an email about updates we need to make to support the UPS API

http://www.ups.com/content/us/en/resources/techsupport/data-security.html

refs #5193

[2015-10-13 15:33] #5435 closed, assigned to angaither

[2015-10-13 15:53] sbsmith86 commented on #5446
@mikefantini @julielorch @marahml I tried out a few options on mobile and desktop, take a look (also ignore the help text under the birthday field...that's only on my dev for code reference):

### "We're working on getting texting up in your country. When we do, we'll send volunteer opportunities right to your phone!"

<img width="388" alt="screen shot 2015-10-13 at 11 47 02 am" src="https://cloud

[2015-10-13 16:19] namimody opened #5452 "DO IT Photo Misaligned"
![image](https://cloud.githubusercontent.com/assets/12396076/10460676/615a5a0c-71a3-11e5-9697-72c4f95a27c0.png)

Photo in DO IT section of BR and MX versions not appearing with correct alignment. As a note, the photo is not noted in the DO IT gallery backend section for these two translations, seems just to be pulling in from the English or Global English. (Cover image is pulling in as well)

http

[2015-10-13 16:22] namimody opened #5453 "PLAN IT + DO IT Content Not Appearing on Front End"
Backend of https://thor.dosomething.org/mx/node/2535/edit and https://thor.dosomething.org/br/voluntario/veggie-surprise filled out, but no copy shows on front end. Content working correctly for English and Global English.

BR:
![image](https://cloud.githubusercontent.com/assets/12396076/10460966/f094740e-71a4-11e5-8523-ec3414d5dcc2.png)

MX:
![image](https://cloud.githubusercontent.com/assets/123

[2015-10-13 16:32] mikefantini commented on #5452
@namimody I believe  this is misaligned just because the content is missing

[2015-10-13 16:34] mikefantini commented on #5453
duplicate of #5302

[2015-10-13 16:34] #5453 closed, assigned to nobody

[2015-10-13 16:35] namimody commented on #5452
Okay @mikefantini -- should we worry that the BR and MX versions are pulling in images from GL and/or US versions?

[2015-10-13 16:36] mikefantini commented on #5302
Backend of https://thor.dosomething.org/mx/node/2535/edit and https://thor.dosomething.org/br/voluntario/veggie-surprise filled out, but no copy shows on front end. Content working correctly for English and Global English.

[2015-10-13 16:46] weerd commented on #5302
Resaving the campaign from within the `/edit` view in the admin seems to properly poke Droops so that the content outputs correctly. :grimacing:

[2015-10-13 16:50] angaither commented on #4901
@deadlybutter [clean slate](https://github.com/DoSomething/phoenix/blob/6f4467256f6b05b11a671253879525665b834d66/lib/modules/dosomething/dosomething_user/dosomething_user.module#L101) and [shipments](https://github.com/DoSomething/phoenix/blob/985d55314a780bf3b92b4781482fff90565249ad/lib/modules/dosomething/dosomething_shipment/dosomething_shipment.module#L37) are custom menu hooks

the translatio

[2015-10-13 17:33] DFurnes commented on #5452
@mikefantini That's correct. It's offset so that it appears next to the "Snap A Pic" header but in this case there's not enough content below it to keep it from overflowing into the next section.

[2015-10-13 17:42] angaither commented on #5263
reopening to deal with sending the entire address, along with the country code

[2015-10-13 17:48] sergiitk commented on #5276
Production: done

[code]

[2015-10-13 17:48] sergiitk commented on #5341
Fixed in https://github.com/DoSomething/phoenix/issues/5276#issuecomment-147792473.

[2015-10-13 17:48] #5341 closed, assigned to sergiitk

[2015-10-13 17:53] #5166 closed, assigned to DFurnes

[2015-10-13 17:56] sbsmith86 opened #5455 "Win module copy not replacing tokens"
We are seeing this on the win module. The entity tokens are not being replaced correctly.

![screen shot 2015-10-13 at 1 37 31 pm](https://cloud.githubusercontent.com/assets/1700409/10463346/1ba351f8-71b2-11e5-9d72-074a5da3b2c1.png)

Possibly related to the translation work being done here and we need to figure out the correct way of doing the translation for that token replacement to go through.

[2015-10-13 18:01] sergiitk opened #5456 "Campaigns disappeared on volunteer page"
After running fixer script for Home content type https://github.com/DoSomething/phoenix/issues/5276#issuecomment-147792473 on production campaigns has appeared on edit page, but disappeared on view: https://www.dosomething.org/volunteer/boosomethingorg

cc @sheyd @namimody @mikefantini

[2015-10-13 18:02] angaither opened #5457 "Global Deploy Checklist"
## manual
- [x] back up the database
- [x] merge to the global branch into the dev branch (will this cause problems if we deploy before the date, probably)
- [x] update footer links in the [theme settings](https://www.dosomething.org/admin/appearance/settings/paraneue_dosomething) for global countries
- [x] update header links in the [theme settings](https://www.dosomething.org/admin/appearance/se

[2015-10-13 18:09] mikefantini commented on #5457
- [ ] break out translated nodes to be translated homepage, static content, campaigns

[2015-10-13 18:09] mshmsh5000 commented on #5457
- [ ] Confirm all four home pages w/correct URLs
- [ ] Confirm images load on all four home pages
- [ ] Confirm Node i18n pathauto is on
- [ ] Confirm that default language is Global English

[2015-10-13 18:10] weerd commented on #5457
- [ ] Enable POTx Module for Drupal
- [ ] Enable POEditor Module for Drupal

[2015-10-13 18:11] mikefantini commented on #5457
next week we'll decide when we will do a test run of this on staging with the production db

[2015-10-13 18:17] #5440 closed, assigned to blisteringherb

[2015-10-13 18:18] marahml commented on #5418
@ArielSD can you restest user registration so we can see if this is in fact working or not? cc @DeeZone @mikefantini

[2015-10-13 18:20] marahml commented on #5366
Any button link updates since we've tested @DeeZone @blisteringherb?

[2015-10-13 18:20] mshmsh5000 commented on #5457
- [ ] Confirm header links correctly prepend different country prefixes

[2015-10-13 18:22] marahml commented on #5212
@DeeZone any update on mailchimp list integration?

@DeeZone @mikefantini if dev on this isn't complete, we should prioritize over the email digest investigation / work. want to make sure users go into the correct list as soon as we can so we don't have to backlog importing.

[2015-10-13 18:22] marahml commented on #5396
@sheyd just checking in on status of this. is it something we see moving to next sprint? cc @mikefantini

[2015-10-13 18:23] DFurnes opened #5460 "Make chrome navigation items translatable"
The header text (link title and subtitle) are not currently being run through `t()`. They should be.

[Relevant code](https://github.com/DFurnes/phoenix/blob/417d532382d704251830bf46f7ed3b1148a7161f/lib/themes/dosomething/paraneue_dosomething/includes/preprocess.inc#L75-L84)

[2015-10-13 18:23] marahml commented on #5290
@ArielSD once you update and test templates, just update us here so we can know if we can close this or not. thanks!

[2015-10-13 18:30] sbsmith86 commented on #5290
@marahml I think I'm going to go ahead and close this issue. The only problem we were seeing in terms of formatting was that in gmail some of the styles were not taking. @ArielSD made a new issue to address that, #5444 . I have done some work to fix it and will document where we are at in that issue.

[2015-10-13 18:30] #5290 closed, assigned to sbsmith86

[2015-10-13 18:31] sbsmith86 commented on #5444
Update: I belive the issue was that the CSS was being set in the <head> tag which gets stripped out of the code on some platforms, like gmail and yahoo. I used Mailchimp’s inliner tool to convert the styles to inline styles which is the recommended way to handle styling in html emails. I have sent the fixed templates to mandrill and started testing. Looking good so far but will wait until the fina

[2015-10-13 18:37] mshmsh5000 opened #5462 "Login/reg form needs to prepend country in action URL"
If I am an anonymous user on a non-Global English URL:

`/us/campaigns/out-closet-cards`

the login (and probably reg) form has `/campaigns/out-closet-cards` as the `action` param. This responds with a `301`, which then loses the `POST` info.

We could handle this via #5445 (i.e., don't redirect for any `POST`), but in this case we want to preserve the `/us` prefix so the user lands on the right l

[2015-10-13 18:39] #5456 closed, assigned to sergiitk

[2015-10-13 18:49] mshmsh5000 commented on #5457
- [ ] Tag global -> dev merge commit as new minor release (1.4.0)

[2015-10-13 18:55] #5348 closed, assigned to itsjoekent

[2015-10-13 19:20] weerd commented on #5455
@sbsmith86 the `t()` doesn't seem to be affecting it. I think something is weird w/ the `token_replace()`... it's attempting to replace `[node:field_reportback_noun]` with the entire `$node` object... that seems incorrect... shouldn't it replace that string value for another string value?

[2015-10-13 19:28] #5460 closed, assigned to weerd

[2015-10-13 19:31] sbsmith86 commented on #5455
@weerd hmm I just look on my dev quickly. When I removed the `t()` function everything worked great. then I tried this.

[code]

And that also works great, so it does seem related to the t() function some how.

[2015-10-13 19:31] mshmsh5000 commented on #5457
- [ ] Determine & test behavior when deployed to freestanding affiliate sites

[2015-10-13 19:32] weerd commented on #5455
Cool cool. I tried something similar but maybe I had something cached messing w/ it. I'll update then :)

[2015-10-13 19:57] itsjoekent commented on #4901
done, thanks for clarifying!

[2015-10-13 20:43] mikefantini commented on #5078
@sbsmith86 was this working for you previously? I honestly can't recall if this was working before or not, but now that we have "Contact Us" translated the contact us modal that links to Zendesk is able to be triggered by MX users. We just want the email address to be displayed and no contact us modal.

cc: @weerd

[2015-10-13 20:45] sheyd commented on #5434
Done and deployed. @lkpttn notified.

[2015-10-13 20:45] #5434 closed, assigned to sheyd

[2015-10-13 20:51] sbsmith86 commented on #5078
@mikefantini yea this was working. Is it broken on prod?

[2015-10-13 20:51] mikefantini commented on #5078
sorry @sbsmith86 thor

[2015-10-13 20:52] DFurnes opened #5466 "Footer disappeared on staging"
The footer has disappeared on staging after deploying #5454. Strangely, everything works fine on my local Vagrant box when running on the [v1.3.19](https://github.com/DoSomething/phoenix/releases/tag/v1.3.19) tagged release. Looking into it some more to see what may have went wrong...

[2015-10-13 20:56] DFurnes commented on #5466
Tried clearing cache on both staging and my local dev. No changes.

After inspecting the `system` SQL table on both local and staging, the old theme settings (which should be being used for the [fallback](https://github.com/DoSomething/phoenix/blob/417d532382d704251830bf46f7ed3b1148a7161f/lib/themes/dosomething/paraneue_dosomething/includes/preprocess.inc#L192-L197) and setting the new initial val

[2015-10-13 20:57] ArielSD commented on #5418
@marahml @mikefantini @DeeZone I tested both Mexico and Brazil on Friday and everything worked properly- should I test again?

[2015-10-13 20:59] DFurnes commented on #5466
Well, actually my local should have the new theme settings (e.g. `footer_links_us_first_column_heading`) in that blob as well and it _doesn't_. :confused:

[2015-10-13 21:01] sbsmith86 commented on #5078
@mikefantini Using TorGuard I accessed Thor from Mexico and I am seeing the correct email address. I'm looking at GTFO. Are there any steps I should be taking to reproduce this?

<img width="1036" alt="screen shot 2015-10-13 at 4 59 24 pm" src="https://cloud.githubusercontent.com/assets/1700409/10468227/e4c225a0-71cb-11e5-8d49-5887c17fb15c.png">

[2015-10-13 21:02] itsjoekent commented on #5447
also updating

dosomething_user_update_user

[2015-10-13 21:06] namimody commented on #5457
- [ ] check that global campaigns with US-scholarshipped companions don't show scholarship language on pitch or action page

[2015-10-13 21:10] weerd commented on #5455
Yep. I was just being dumb. Thanks for the help Chef @sbsmith86 :)

[2015-10-13 21:18] #5455 closed, assigned to weerd

[2015-10-13 21:20] mikefantini commented on #5078
ah got it @sbsmith86. so based on some of the other decisions we've made re: which content to show which users and just general language rules we've made, I think we actually want this experience to be dictated by URL not country code in fastly header. i.e. if I'm in the US and I go to thor.dosomething.org/mx/voluntario/gtfo I should see "¿Preguntas? Mande un email a ayuda@dosomething.org" or some

[2015-10-13 21:22] sheyd commented on #5401
Added 301-redirect for all dosomething-a.akamaihd.net URI's to 301-redirect to www.dosomething.org. The CDN module is already disabled in prod.

[2015-10-13 21:25] sheyd commented on #5396
@marahml Digging into this now. I think I should be able to get this in this week.

[2015-10-13 21:38] DFurnes commented on #5466
Not a solution, but an [interesting bit](https://www.drupal.org/node/177868) on the Drupal theming guide about "Initializing the default values" and "Adding additional settings to a new version of your theme".

:book:

[2015-10-13 21:56] mikefantini opened #5469 "unpublishing a translation of a campaign doesn't actually unpublish it"
https://thor.dosomething.org/mx/node/36/translate shows that the MX SP version of the campaign is Not Published, however if you go to https://thor.dosomething.org/mx/voluntario/bailando-con-las-personas-mayores as an anonymous user you're able to see the campaign.

Possibly related to #5260? not sure, I _thought_ I saw this working recently.

[2015-10-13 22:03] deezone commented on #5212
@marahml I'll have this wrapped up for first thing tomorrow.

[2015-10-13 23:56] deezone opened #5470 "Transactional Payload checklist"
**Related issues**:
- Global Campaign Report backs bug: https://github.com/DoSomething/phoenix/issues/5487
- Global Campaign Signup bug: https://github.com/DoSomething/phoenix/issues/5486
- Global User registration and Password Reset pending deployment to Thor.

| Message Type | Global (non-affiliate country) | United States (US) | Brazil (BR) | Mexico (MX) |
| :-- | :-: | :-: | :-: | :-: |
| User

[2015-10-13 23:56] DeeZone commented on #5470
Fixes #5418

Bug fix to ensure settings for `user_country` and `user_language` in `dosomething_mbp()` params.

**To test**:
- Review payload produced in request to RabbitMQ / Message Broker `loggingQueue` (/queues/dosomething/loggingQueue). It should look like:

- **user_register**:
[code]
- **user_password**
[code]

[2015-10-13 23:58] deezone commented on #5470
**Test `user_register`**:
- [x] `user_language` = `en`
- [x] `user_country` = `US`
- [x] `email_template` = `mb-user-register-US`
- [x] `mailchimp_list_id` = `f2fab1dfd4` (General US DoSomething list)

[code]

[2015-10-13 23:59] deezone commented on #5470
**Test `user_password`**:
- [x] `user_language` = `en`
- [x] `user_country` = `US`
- [x] `[merge_vars][RESET_LINK]` has country subdomain `\us\`
- [x] `email_template` = `mb-user-password-US`

[code]

[2015-10-14 00:47] #5212 closed, assigned to deezone

[2015-10-14 13:20] angaither commented on #5469
@deadlybutter can you take a look at this today?

[2015-10-14 13:26] angaither commented on #5415
@chloealee was this fixed with #5408?

[2015-10-14 13:29] angaither commented on #5412
nofollow or disallow!

[2015-10-14 13:34] mikefantini commented on #5393
from @jonuy "this is not needed for kiwi launch"

[2015-10-14 13:38] itsjoekent commented on #5469
sure

[2015-10-14 13:39] angaither commented on #5415
ignore me, I see now it wasn't merged!

[2015-10-14 13:40] weerd opened #5471 "Add missing chrome nav text to POT files"
Add the following items to a POT file for inclusion into POEditor:
- [x] What is DoSomething.org?
- [x] Young people + Social change

[2015-10-14 13:42] ArielSD opened #5472 "404 On "Get Started" Button Link"
In the mb-campaign-signup-us template, the "GET STARTED" button goes to a 404 page.

Here's the template:
https://us4.admin.mailchimp.com/templates/editor?id=56657

[2015-10-14 13:45] aaronschachter commented on #5393
This issue, or the addition? We should create a separate issue to keep track of addition (but I didn't want to necessarily junk up the phoenix issues).

[2015-10-14 13:46] mikefantini commented on #5393
question for @jonuy ^. i was just documenting :wink:

[2015-10-14 13:47] ArielSD opened #5473 "404 on "RESET MY PASSWORD" Button"
In the mb-user-password-us template, I was sent to a 404 page when I clicked the RESET MY PASSWORD button.

Here's the template:
https://us4.admin.mailchimp.com/templates/editor?id=56669

[2015-10-14 13:48] sheyd commented on #5401
@mshmsh5000 Tested this as working this morning:

[code]

[2015-10-14 13:48] #5401 closed, assigned to sheyd

[2015-10-14 13:52] mikefantini opened #5474 "incorrect URLs in campaign collections"
child campaigns in campaign collections have the following URL structure https://staging.dosomething.org/volunteer/campaigns/hunt-day-1?source=node/1172 but they should have https://staging.dosomething.org/campaigns/hunt-day-1?source=node/1172 as an example (i.e. lose the /volunteer/ for the child campaigns).

example: https://staging.dosomething.org/volunteer/aaron-test-grouped-campaign

![image]

[2015-10-14 13:54] itsjoekent commented on #5469
So the status in the translations object is actually being set to 1 when you publish a translation (and its 0 when not). That works fine.

I think the problem is our logic ignores whether a translation is published or not, and just works off whether it exists or not. I'll update the redirect logic to also make sure a translation not only exists, but it's been published.

[2015-10-14 13:59] deezone commented on #5472
Looking at the MailChimp markup for the template:

**This**:

[code]

**should be**:

[code]

It appears MailChimp inserted the base link automagically when the template was updated.
- Mandrill has been updated.
- Somehting to check when doing template updates

[2015-10-14 13:59] #5472 closed, assigned to deezone

[2015-10-14 14:00] deezone commented on #5473
Same issue, nasty MailChimp trying to helpful with the addition of the root link to the MailCHimp server.
- Fixed and updated to Mandrill.

[2015-10-14 14:00] #5473 closed, assigned to deezone

[2015-10-14 14:06] mikefantini commented on #5474
also causing problems on Old School Impact which is sponsored. Again fixing with optimizely right now but obviously now ideal

[2015-10-14 14:09] sbsmith86 commented on #5078
I think that makes sense.

[2015-10-14 14:10] mikefantini commented on #5469
as we discussed IRL you're also able to directly hit the URL even if it's unpublished as an anonymous user which should not be the case.

i.e. if I'm anonymous and /mx/voluntario/whatever is unpublished, I should not be able to see the content when I go directly to that URL

[2015-10-14 14:18] sbsmith86 commented on #5444
@ArielSD Following up on last night the `help@dosomething.org` formatting is just the default styling that gmail uses for email addresses. Do we need to override this?

[2015-10-14 14:24] angaither commented on #5474
not sure why/how these were created but if you look on URL alias page in prod, you can/change/update/remove the volunteer from the URLS

both examples have volunteer before them. we will want to fix them here, not optimizley.
https://www.dosomething.org/admin/config/search/path/list/impact
https://www.dosomething.org/admin/config/search/path/list/boosomething

obviously fixing them one off isn't i

[2015-10-14 14:41] angaither commented on #5466
@DFurnes I pulled down the latest code, cleared cache and my footer is :mag: missing. I think a `ds pull stage` will let you see the issue locally?

[2015-10-14 14:49] namimody commented on #5474
@mikefantini @angaither might this have something to do with a change in URL structure for the sake of SEO? I know that volunteer is a keyword we wanted to put in URLs for taxonomy collections...

[2015-10-14 14:52] DFurnes commented on #5466
Yeah, pulling staging's DB lets me see the issue locally. And just figured out what I did...

![1429834843384](https://cloud.githubusercontent.com/assets/583202/10487378/adc0561c-7261-11e5-85fc-3876f668bcc1.jpg)

[2015-10-14 14:53] mikefantini commented on #5474
all collections _should_ have /volunteer/ as part of the URL
- Collection: BooSomething.org
- URL of Collection: www.dosomething.org/volunteer/boosomethingorg
- Campaign that's part of collection: Zombie Blood Drive
- URL of Campaign: www.dosomething.org/campaigns/zombie-blood-drive

^ this is how it should be.

This is what is currently happening:
- Collection: BooSomething.org
- URL of Collectio

[2015-10-14 14:59] angaither commented on #5474
test here!
https://staging.dosomething.org/volunteer/aaron-test-grouped-campaign

[2015-10-14 15:03] #5466 closed, assigned to nobody

[2015-10-14 15:07] weerd commented on #5471
@mikefantini So the above strings were already present in the POT files I uploaded, but for some reason not showing up. So instead of re-uploading the POT files (in case I might mess something up with translations already in place) I just updated them manually in the system by adding the terms directly.

[2015-10-14 15:07] #5471 closed, assigned to weerd

[2015-10-14 15:14] chloealee commented on #4571
@angaither @DFurnes whenever you get a chance for the above!

[2015-10-14 15:22] chloealee commented on #5342
@angaither I'm having trouble finding the module name where this is located. I tried to implement a `hook_form_alter` in `dosomething_api.module` and a `hook_form_FORM_ID_alter` in `dosomething_helpers.module` using the form `id="services_edit_form_endpoint_resources"` but neither worked. Am I adding in the incorrect module?

[2015-10-14 15:23] mikefantini opened #5476 "remove !necesario from fields in MX SP"
MX log in:

![image](https://cloud.githubusercontent.com/assets/6330971/10488208/9ca85a1a-7265-11e5-8f07-7e30a6f3df38.png)

MX account creation:

![image](https://cloud.githubusercontent.com/assets/6330971/10488226/b52546fc-7265-11e5-96bf-c3279526c12f.png)

also bizarre that birthday doesn't have it, because birthday is also required

also this doesn't appear to be happening for BR PT

[2015-10-14 15:25] angaither commented on #5342
ahh, @chloealee services is a bit different, this is a setting that you have to change in the drupal settings and then export with features (kind of like what we did when adding new fields)
check out [this page](http://dev.dosomething.org:8888/admin/structure/services/list/drupalapi/resources) locally

[2015-10-14 15:30] #5418 closed, assigned to deezone

[2015-10-14 15:32] mikefantini opened #5477 "remove /node/1141 from homepage URL"
From US:
- is: https://thor.dosomething.org/us/node/1141
- should be: https://thor.dosomething.org/us

From MX:
- is: https://thor.dosomething.org/mx/node/1141
- should be: https://thor.dosomething.org/mx

From BR:
- is: https://thor.dosomething.org/br/node/1141
- should be: https://thor.dosomething.org/br

![image](https://cloud.githubusercontent.com/assets/6330971/10488533/1c7b5ac0-7267-11e5-945

[2015-10-14 15:53] mikefantini commented on #5438
@namimody can you please add this field to your list of fields to pull on campaigns to see what's missing?

[2015-10-14 15:57] namimody commented on #5438
I did!

On Wed, Oct 14, 2015 at 11:53 AM, mikefantini notifications@github.com
wrote:

##

Namita (Nami) Mody

Junior Product Manager
@dosomething http://twitter.com/dosomething @imanami13
https://twitter.com/imanami13
(212) 254-2390 x255

[2015-10-14 16:02] mikefantini commented on #5439
@sbsmith86 do you have thoughts on this one?

i'm still seeing this not working still. however it's working for me on https://www.dosomething.org/campaigns/social-media-makeover?source=campaigns when I just post both links as my status on FB.

do we need to put _all campaigns_ through the FB linter after we create them?

[2015-10-14 16:24] mikefantini commented on #5326
@deadlybutter once you knock out your Global 1.0 issues can you please take a look at this one now that thor has production db again?

cc: @namimody @angaither

[2015-10-14 17:10] mikefantini commented on #5366
The link for the campaign sign up transactional email is broken on prod.

when I sign up for https://www.dosomething.org/campaigns/just-dont-wear-blackface?source=node/1141 I get the below email. Click on the "GET STARTED" button takes me to http://mandrillapp.com/track/click/9261257/www.dosomething.org?p=eyJzIjoidmdRQmxSMjVRYzRvdUpOdWpjNGZBZG50a253IiwidiI6MSwicCI6IntcInVcIjo5MjYxMjU3LFwidlwiOjEsX

[2015-10-14 17:21] ArielSD commented on #5444
@sbsmith86 Ideally, yes- is that too big of a lift?

[2015-10-14 17:40] sbsmith86 commented on #5439
@mikefantini something very weird is going on. i'm not seeing any og meta tags on the page, so there actually is no image set for facebook to crawl. It doesn't look like running it through fb linter helps fix it either. See the screenshot below of what I got back when I ran Just Don't Wear Black Face through the linter.

<img width="938" alt="screen shot 2015-10-14 at 1 37 31 pm" src="https://clou

[2015-10-14 17:44] itsjoekent commented on #5349
this worked fine yesterday, trying to figure out why it suddenly broke

EDIT: Works for my local, not andrea or shae. Also broken on thor

[2015-10-14 17:50] mikefantini commented on #5439
hmmm yeah bummer so meta data on the node https://www.dosomething.org/node/5840/edit:

![image](https://cloud.githubusercontent.com/assets/6330971/10492463/46be212e-727a-11e5-8dc2-847da2224383.png)

compared to an old campaign https://www.dosomething.org/node/2544/edit:

![image](https://cloud.githubusercontent.com/assets/6330971/10492478/5f6f9be4-727a-11e5-9233-0d70d8180695.png)

@sbsmith86 @anga

[2015-10-14 17:51] angaither commented on #5349
@sbsmith86 and I are being redirect to `en-global` in the homepage url

[2015-10-14 17:53] itsjoekent commented on #5349
note: checked @sbsmith86 settings and she didn't have anything filled out for the path prefix. seems like something else (code) is causing it

[2015-10-14 17:54] mikefantini commented on #5439
hmmm although this is showing up on a new campaign I created as an editor on staging:

https://staging.dosomething.org/node/1735/edit?destination=admin/content

[2015-10-14 17:54] sbsmith86 commented on #5439
Also seeing the issue why the `og:image` tag isn't being set. In [this line](https://github.com/DoSomething/phoenix/blob/5896b2823f770c6aa3a1e9cf46d474ef4ae60564/lib/modules/dosomething/dosomething_metatag/dosomething_metatag.module#L80) Is returning nothing so `$image_nid` is not set and we can create the image from it. Seems to be tied to using `LANGUAGE_NONE` key to find the image nid

[2015-10-14 17:57] sbsmith86 commented on #5439
@mikefantini oh yea sorry, I'm specifically talking about the `og:image` tag. I'm not sure on the other tags. Seem to be find (we are pulling a title, and description correctly). But the image tag missing would cause no image to show on facebook.

[2015-10-14 17:59] jonuy commented on #5393
The issue overall I was saying we wouldn't absolutely need for kiwi. The additional work of formatting all taxonomy queries plus a vocabulary to provide the interest group ids we should be querying for -- up for discussion with whichever dev ends up taking this on and if it's big enough that it should be broken out into two issues.

[2015-10-14 20:27] mikefantini commented on #5474
Sam said she saw this working properly on prod on Monday

[2015-10-14 20:27] mikefantini commented on #5470
@DeeZone what's blocking this?

[2015-10-14 20:30] mikefantini commented on #5452
@namimody can you specify "pulling in images from GL and/or US versions"?

If you mean as the header and Do It photo then we should only worry about this if referencing a different image doesn't work properly. But if this is the photo that those versions are referencing then no we shouldn't be worried.

And for the rb gallery we decided we want all rbs to show on all versions of the gallery regard

[2015-10-14 20:30] mikefantini commented on #5452
closing this out for now. @namimody please reopen if you have other concerns.

[2015-10-14 20:30] #5452 closed, assigned to nobody

[2015-10-14 20:46] namimody opened #5481 "Fractions Not Pulled Into Problem Share Image"
Seems if a fraction is present in a problem statement, it doesnt get pulled into the FB and Tumblr Share images:

Problem listed on site:
![image](https://cloud.githubusercontent.com/assets/12396076/10497249/e985bfda-7292-11e5-818c-466bb0ebfcd8.png)

Facebook Share:
![image](https://cloud.githubusercontent.com/assets/12396076/10497141/5c4c8d10-7292-11e5-84a9-8bb4c8379d04.png)

Tumblr Share:
![imag

[2015-10-14 20:56] sbsmith86 commented on #5444
@ArielSD okie dokie. updated in both mandrill and mailchimp. Please take a look and let me know if I can close this issue. Thanks!

[2015-10-14 20:58] namimody opened #5482 "Facebook Problem Shares Not Creating Image"
On Thor US: after clicking Facebook icon on a problem share, brought to this popup:
![image](https://cloud.githubusercontent.com/assets/12396076/10497501/377ea37c-7294-11e5-9f43-a44e9f30419e.png)

and after sharing the pop up modal shows a 404 and the following is posted to FB:
![image](https://cloud.githubusercontent.com/assets/12396076/10497603/c47d5ec6-7294-11e5-8121-7b61c72b1b5d.png)

@sbsmith

[2015-10-14 21:35] weerd commented on #5476
Created a new PR #5483 to remove the problematic items causing above issue from the POT file. But also need to clean up POEditor to remove from there as well. Thus the following checklist:
- [x] Remove offending string from POT file.
- [x] Remove offending string from POEditor.

[2015-10-14 21:46] weerd commented on #5476
I updated Thor too. Once we push POT stuff to Prod it should be fine since the string has been removed from POEditor :)

[2015-10-14 21:46] #5476 closed, assigned to weerd

[2015-10-14 22:48] mikefantini opened #5484 "Need a way to navigate to Translation Status"
We need a way to navigate to the view that was created in #5300 besides just going straight to /admin/content/search/translation.

Can we replicate what we have with Taxonomy Status and just nest Translation Status under Admin -> Content so that it has a tab next to Taxonomy Status?

![image](https://cloud.githubusercontent.com/assets/6330971/10500140/fa1c04f6-72a3-11e5-9628-56b0f3e11f2d.png)

[2015-10-14 22:56] mikefantini opened #5485 "Make video and partner field collections translatable"
@sergii-tkachenko mentioned that these needed to be handled separately. I created this new issue since these field collections are not required for launch.
- [ ] field_video
- [ ] field_partners

related to #4850

[2015-10-14 22:59] mikefantini commented on #5430
@weerd thor is done for this correct? Are local and staging still outstanding? And what about production, is that needed for this issue?

[2015-10-14 23:28] deezone opened #5486 "Campaign Signup transactional payload"
The params sent with the transactional request for campaign report backs has the following incorrect values:
- [ ] `mailchimp_grouping_id` should not be set
- [ ] `mailchimp_group_name` should not be set

**Note**: `mailchimp_grouping_id` and `mailchimp_group_name` are only set for very rare cases where the US version of a campaign has a MailChimp `interest name` assigned in third party opt_id set

[2015-10-14 23:32] deezone opened #5487 "Campaign Reportback transactional payload"
Campaign all (global example below) report back transactional messages requests do not contain the `user_language` setting.
- [ ] Include `user_language` value.

[code]

[2015-10-14 23:41] deezone commented on #5470
@mikefantini Review items further, two new items blocking this review issue. See links to issues in description above.

[2015-10-15 13:19] mikefantini commented on #5420
Sorry for the delay on this. @mnelson338 what do you think the timeline is for wanting Member Created Campaigns up for MX/BR/GL-EN users? If it's "sometime between now and February" I'd rather keep this field exposed. If it's "sometime after February" then we can hide for now and re-expose then.

[2015-10-15 13:26] mnelson338 commented on #5420
After February, so let's hide now. @mikefantini

[2015-10-15 13:27] mikefantini commented on #5446
Huh I was totally thinking this would go next to the "(optional)" - which would have been really tight spacing - so I think this makes more sense. Thanks @sbsmith86!

@julielorch totally defer to you on your thoughts on this from a UX perspective.

Also @DFurnes want to make sure breaking up the form like this jives from a Forge perspective.

[2015-10-15 13:35] mikefantini commented on #5420
Got it thanks.

@angaither assigned over to you to assign out. We can either make this field untranslatable or just hide it from Regional Admins, whichever is easiest.

[2015-10-15 13:36] DFurnes commented on #5446
Yeah, totally cool with me. :+1: It might be worth considering using the [Footnote](http://forge.dosomething.org/#footnote) pattern so it shows up as "subtext" more clearly when scanning?

[2015-10-15 13:52] #4901 closed, assigned to itsjoekent

[2015-10-15 14:05] DFurnes opened #5488 "Allow multiple video tiles on the homepage"
Get ready, internet! :movie_camera:

[Trello Card](https://trello.com/c/KUb4dwA0/101-multiple-videos-playing-on-homepage)

[2015-10-15 14:36] itsjoekent commented on #5349
clearing cache fixed the en-global bug

[2015-10-15 14:45] joolaay commented on #5446
Agree with @DFurnes to use Footnote, otherwise it's a bit bold.

[2015-10-15 14:56] sbsmith86 commented on #5446
@mikefantini @julielorch what text did you want?

[2015-10-15 15:12] mikefantini commented on #5430
this is done!

[2015-10-15 15:12] #5430 closed, assigned to weerd

[2015-10-15 15:26] joolaay commented on #5446
"Get volunteer opportunities to your phone! Texting available in (country) soon"

[2015-10-15 15:27] #5119 closed, assigned to DFurnes

[2015-10-15 15:30] mikefantini commented on #5486
I just chatted with @DeeZone and we decided to move this to 1.1.

If this issue is not done, then if we ever translate a campaign that has `mailchimp_grouping_id` or `mailchimp_group_name` set on https://www.dosomething.org/admin/config/dosomething/opt_in then the queue will get backed up.

However, we are moving this to 1.1 because 1. we won't be translating campaigns for launch that would have t

[2015-10-15 15:31] #5469 closed, assigned to itsjoekent

[2015-10-15 15:34] DFurnes commented on #5119
@namimody This should be fixed as soon as we deploy to production.

@Bladt ~~The new events are renamed `Authorization - Register` and `Authorization - Login` so that they don't conflict with the old broken events. As a heads up, `Authorization - Login` fires after a user registration as well (since the newly registered user is then "logged in"). Let me know if that's an issue and I can look into

[2015-10-15 15:35] #5488 closed, assigned to DFurnes

[2015-10-15 15:37] itsjoekent commented on #5349
reverting features fixed the rest of the problems.

the settings in http://dev.dosomething.org:8888/admin/config/regional/language/configure were out of date.

@sbsmith86 let me know if drush cc all and drush fra fix your local for this bug!

[2015-10-15 15:37] #5349 closed, assigned to itsjoekent

[2015-10-15 15:48] sbsmith86 commented on #5482
@namimody hmm im not sure, but it could be an issue with the problem share images not generating correctly. I would have to look into what's happening on thor (i.e are the images being generated, are they in the right location, etc)

[2015-10-15 16:05] angaither commented on #5474
@sergii-tkachenko wondering if you can shed any light on this? possibly related to #5341

[2015-10-15 16:41] sergiitk commented on #5474
@angaither I don't think it's related. This is no more than malformed link:
![image](https://cloud.githubusercontent.com/assets/672669/10520764/a8276722-7374-11e5-88fa-22aade843a66.png)

[2015-10-15 16:57] ArielSD commented on #5444
@sbsmith86 Now the text is black/grey, but still linked. Just forwarded you the email!

[2015-10-15 17:11] namimody commented on #5119
Thanks @dfurnes! :D

On Thu, Oct 15, 2015 at 11:34 AM, David Furnes notifications@github.com
wrote:

##

Namita (Nami) Mody

Junior Product Manager
@dosomething http://twitter.com/dosomething @imanami13
https://twitter.com/imanami13
(212) 254-2390 x255

[2015-10-15 17:40] angaither commented on #5439
@mikefantini can we try setting those manually for that node?

[2015-10-15 17:42] mikefantini commented on #5439
@angaither setting the Meta tag info manually or the `og:image` tag?

I'm less concerned with this one campaign and more just want to make sure that things aren't broken on new campaigns in general.

[2015-10-15 17:48] mikefantini commented on #5302
Hmmm ok. So this may just be an issue when we use @blisteringherb's Google Translate script. Obviously we won't be doing this in production, so I'm going to keep this open for now until we get campaign content translated in prod. If all of that looks ok, then I'll close this out.

[2015-10-15 17:52] angaither commented on #5439
@mikefantini i meant the metatag info. image should be pulled from the campaign cover, and I didn't _think_ those were translatable. but it seems that has changed https://www.dosomething.org/admin/structure/types/manage/campaign/fields/field_image_campaign_cover

[2015-10-15 17:53] angaither commented on #5439
so [this](https://github.com/DoSomething/phoenix/blob/5896b2823f770c6aa3a1e9cf46d474ef4ae60564/lib/modules/dosomething/dosomething_metatag/dosomething_metatag.module#L80) line will need to be updated to get the language of the node to get the correct image to share

[2015-10-15 17:54] weerd commented on #5302
:dancer: ¡OLÉ!

[2015-10-15 18:28] weerd commented on #5353
Looks like the Win Module social share copy translates properly. Need to remember to also translate the verb/nouns for the campaign.

[code]

[2015-10-15 18:28] #5353 closed, assigned to weerd

[2015-10-15 18:30] sheyd opened #5495 "Does TorGuard work on Mobile Devices"

[2015-10-15 19:08] sbsmith86 commented on #5444
@ArielSD which template? I probably just missed one. I just registered as a user from Brazil and got the correct format
<img width="210" alt="screen shot 2015-10-15 at 3 07 22 pm" src="https://cloud.githubusercontent.com/assets/1700409/10524625/8bb3f450-734e-11e5-83c7-be008628ae0e.png">

[2015-10-15 19:09] angaither opened #5496 "save user language"
when a user signs up, we should set the language in
`dosomething_user_user_insert()`

we can call to convert the country code to the associated language

[2015-10-15 19:11] weerd opened #5497 "non-admins can't access any campaign pages because of double-country code in URL"
As a user coming from Mexico, if I filter home page campaigns by "Environment" I see results which include the following:

![image](https://cloud.githubusercontent.com/assets/105849/10524643/a94392a0-734e-11e5-8bdb-a09a27e89e18.png)

When selecting the "Fish Bowl Baggies" campaign, I get a 404 page and the URL has duplicate country prefixes which is likely the cause for the 404:

`https://thor.dos

[2015-10-15 19:13] weerd commented on #5497
Note: seems to happen with all campaigns on homepage

[2015-10-15 19:17] angaither commented on #5496
actually, it [does look like we are doing this](https://github.com/DoSomething/phoenix/blob/dev/lib/modules/dosomething/dosomething_user/dosomething_user.module#L601)
it just isn't working. also it should be moved to the insert hook

[2015-10-15 19:19] sbsmith86 commented on #5497
I am seeing the same issue as a user from Brazil. If I click on "GTFO" (without using the finder), I get taken to:

`https://thor.dosomething.org/br/br/voluntario/gtfo`

I also tried manually removing the second `/br/` but was still redirected to the above url

[2015-10-15 19:29] angaither commented on #5496
this happens when you visit thor.dosomething.org/mx (or br) explicitly.

[2015-10-15 19:37] sergiitk opened #5498 "Drush doesn't work in global build"
At the end of the ds script fails:

[code]

[2015-10-15 19:38] marahml opened #5499 "Thor users (US, GL, BR, MX) are not going into Mailchimp"
**BLOCKED by**:
- https://github.com/DoSomething/phoenix/issues/5635

**Issue Summary**:
The `user_country` is used to determine which MailChimp account to submit the email address to. An invalid `user_country` will result in submissions to the wrong MailChimp account resulting in:

[code]
- `user_country` set as `US` for Brazilian user, should be `BR`.
  - ~~Known bug~~, See https://github.com/Do

[2015-10-15 19:38] angaither opened #5500 "where the f is the country code?"
admins should be able to see the country the user is in from the profile page

currently that field doesn't seem to be exposed

[2015-10-15 19:41] chloealee commented on #5342
oh gotcha, thanks @angaither ! So, I'd click on it through that link, save it, and then export with the pre-checked feature? Export like this: https://www.drupal.org/node/2294809

[2015-10-15 19:50] itsjoekent opened #5502 "Global admin can't edit homepage"
They can view the translation tab and view, but cannot edit any content.

[2015-10-15 19:53] joolaay opened #5503 "MX + BR Admin should not see Reportback tab"
Remove access to reportbacks - MX and BR admins should not be able to interact with reportbacks in 1.0

[2015-10-15 19:54] angaither commented on #5342
yes, except export with `drush fe` which I can walk you through if you want :smile:

[2015-10-15 19:56] angaither commented on #5503
we will need to remove `view any reportback` permission from regional and global admins

[2015-10-15 20:01] angaither commented on #5498
ahh @deadlybutter I think this is what you were seeing the other day!

[2015-10-15 20:02] chloealee commented on #5342
oh awesome - that'd be great! I just found this as an example:

[code]

in my vagrant box, would I just do `drush fe enable_retrieve_endpoint resources`?

[2015-10-15 20:03] weerd opened #5504 "Privacy Policy in login/register popup needs to be translated"
![image](https://cloud.githubusercontent.com/assets/105849/10525758/8eec6700-7354-11e5-9e53-5d4bb98cab0a.png)

Need to make sure "Privacy Policy" in the small greyed out text is translated.

---

cc: @mikefantini

[2015-10-15 20:05] weerd opened #5505 "11 Facts page are 404ing"
Happens as anonymous user coming from both US or MX, but loads if signed in as a US admin:

https://thor.dosomething.org/facts/11-facts-about-human-trafficking

[2015-10-15 20:08] angaither opened #5506 "/user links are pre-appended with /us"
when I login from
`https://thor.dosomething.org/mx` I am logged in and then get redirected to `https://thor.dosomething.org/us/user/3118670`
it should be
`https://thor.dosomething.org/mx/user/3118670`

@mshmsh5000 also noticed password redirect links are getting sent to `us/user/password-reset`

[2015-10-15 20:10] angaither commented on #5342
to see what hasn't been exported you can run
`drush fc`
it will show you a list of options and services will be one of them
from there, you can see what has/hasn't been exported and you can get the name of the feature component

then you will export to `dosomething_api`

[2015-10-15 20:36] mikefantini commented on #5505
This also 404s logged in as an authenticated user in the US.

[2015-10-15 20:38] chloealee commented on #5342
oh great, thanks so much Andrea!! I just did `drush fe dosomething_api views_view:taxonomy` and it seems it created the module. How do I know if it worked correctly to submit for review?

[2015-10-15 20:41] angaither commented on #5342
if you do `git status` or `git diff` you should be able to see the changes made

[2015-10-15 20:43] chloealee commented on #5342
awesome!! Thanks for walking me through! Submitting a PR now.

[2015-10-15 20:44] mikefantini commented on #5504
Hmmm @weerd I'm not seeing this in POEditor.

[2015-10-15 20:47] mikefantini commented on #5504
Ah it appears as if it's because POEditor is pulling in "!terms". See https://poeditor.com/projects/po_edit?order=&filter=&id=39074&id_language=196&search=Creating+an+account.

[2015-10-15 20:51] sbsmith86 opened #5509 "Adding a translation causes fatal error (sometimes)"
Currently only happening on my dev. When I go to a campaign that doesn't have a translation, and try to add one, I get this error.

`EntityMalformedException: Missing bundle property on entity of type field_collection_item. in entity_extract_ids() (line 7844 of /var/www/dev.dosomething.org/html/includes/common.inc).`

[2015-10-15 20:52] angaither commented on #5498
when I switch from `dev` to `global` and try to run `drush fra -y` it says `Drush command terminated abnormally due to an unrecoverable error.                                                                 [error]`

[2015-10-15 20:54] marahml commented on #5446
Let's change "to" --> "on" so it makes sense without having to add in "sent" to your phone. So:

"Get volunteer opportunities on your phone! Texting available in (country) soon"

[2015-10-15 20:59] sergiitk commented on #5498
@angaither Just merged the fix.

[2015-10-15 20:59] #5498 closed, assigned to sergiitk

[2015-10-15 20:59] namimody commented on #5497
Micah said: "I created a test US user on thor. when I used those credentials, I could not access campaigns from the homepage"

[2015-10-15 21:03] angaither commented on #5498
@sergii-tkachenko can you link the PR for posterity

[2015-10-15 21:07] angaither commented on #5498
ah! I missed it above!

[2015-10-15 21:08] #5342 closed, assigned to angaither

[2015-10-15 21:12] angaither commented on #5509
@sbsmith86 I just tried this locally and I'm not able to replicate this

[2015-10-15 21:14] sbsmith86 commented on #5509
@angaither cool. We can close this. I will try rebuilding on dev and pulling the latest on global like you suggested in slack.

[2015-10-15 21:14] angaither commented on #5500
if this issue takes more that ~30 mins to figure out, let's re-bump it to Global 1.1

[2015-10-15 21:16] DFurnes opened #5510 "Tabs broken on UK site"
[Tabs](http://forge.dosomething.org/#tabs) are broken on the UK international site. That particular bug was fixed in [Forge 6.5.1](https://github.com/DoSomething/forge/releases/tag/v6.5.1) by [changing this code](https://github.com/DoSomething/forge/pull/521/files). I'll post updates in here as I investigate. :mag:

[2015-10-15 21:16] #5462 closed, assigned to sbsmith86

[2015-10-15 21:17] weerd commented on #5352
So the Hot Module social share copy is translated, but we need to make sure to add a proper translation for the `reportback_noun_verb`.

Also, when specifying the deadline it indicates it via english language using "... _by_ October 31st" or whatever the deadline is. We should probably translate **by**:

[code]

[2015-10-15 21:19] deezone opened #5511 "Remove coutry code from CAMPAIGN_LINK campaign_signup transactional mbp request"
Remove coutry code from `CAMPAIGN_LINK` merge_var path:

[code]

should be:

[code]
## **Details**:

The expected logic is a user will be directed to the appropriate language version of a campaign if they navigate to the base / default campaign URL.
- Based on the detected user location, anonymous users will be directed to the campaign language version associated with their location (by country).

[2015-10-15 21:19] mikefantini commented on #5352
@weerd we need to translate October also yeah?

[2015-10-15 21:19] DFurnes commented on #5510
UK international is running [Phoenix v1.0.20](https://github.com/DoSomething/phoenix/tree/v1.0.20) which pulls in Forge `~6.5.0`. We can verify that it's pulling in Forge 6.5.2 by [peeking in the node_modules directory](https://uk.dosomething.org/profiles/dosomething/themes/dosomething/paraneue_dosomething/node_modules/@dosomething/forge/package.json).

When stepping through the compiled code, it'

[2015-10-15 21:20] weerd commented on #5352
FYI, I did not translate "playbooks" properly; it's definitely not "playbook-os".

[2015-10-15 21:20] weerd commented on #5352
Oh yeah... translations for the months would be good too! Maybe add those to the document of outstanding items to include in POEditor?

[2015-10-15 21:24] weerd commented on #5352
Will be attempting to update the code here to translate the "by", etc:

https://github.com/DoSomething/phoenix/blob/dcb3d3306408f63e3895b81e6a30de896ff7332d/lib/modules/dosomething/dosomething_campaign/dosomething_campaign.theme.inc#L323

[2015-10-15 21:28] DFurnes commented on #5510
Oh, hah. International sites are still all set to be using the versioned asset folders on Akamai CDN, so they must be referencing a deploy of v1.0.20 that was built before Forge 6.5.1 was published.

[2015-10-15 21:30] weerd opened #5512 "Translated social share copy is sometimes too long for Twitter's limitation of 142 chars"
![image](https://cloud.githubusercontent.com/assets/105849/10528110/436d0eca-7362-11e5-8c4a-0bc60c634e52.png)

[2015-10-15 21:37] mikefantini opened #5513 "add all the months to POT file"
then import it into POEditor for translation

[2015-10-15 21:48] DFurnes commented on #5510
This is fixed on UK & Canada by toggling off the Asset Path theme setting so they use the fixed assets built during the latest deploy. Going to close this issue since we've got things figured out!

[2015-10-15 21:48] #5510 closed, assigned to nobody

[2015-10-16 00:53] angaither commented on #5496
also, see `dosomething_user_set_fields`

[2015-10-16 01:18] angaither commented on #5420
@mikefantini @mnelson338 probably easiest to disable the ability to translate this content for now
as long as we don't have any copy in that field we want to save (from thor/production)...

[2015-10-16 13:15] ArielSD commented on #5444
Ah, @sbsmith86 , yup, above is what I got as well- Are we able to format "help@dosomething.org" the same way as "FAQ"?

[2015-10-16 13:47] angaither commented on #5420
in thor, it looks like we have only `und` language types, but in prod, it's a mix of `en` and `en-global`

[2015-10-16 13:48] mikefantini commented on #5497
@angaither non-admin users can't access campaigns because of this bug. Obviously this is blocking several test cases and really blocking TSG altogether since they have completed most of the non-campaign test cases we are ready for.

[2015-10-16 13:48] mnelson338 commented on #5420
@angaither @mikefantini  Let's go with what's easiest and disable translation on MCC campaigns

[2015-10-16 13:52] mikefantini commented on #5420
Yeah @angaither it's fine. The two campaigns that have an `en-global` translation don't have this field filled out.

[2015-10-16 13:54] angaither commented on #5497
yeah, if am not using torguard, and click the URL from the finder does `/mx/us/campaigns/science-sleuth`

@deadlybutter I think this is more `init_hook` trouble
that code has gotten pretty hairy...

[2015-10-16 13:58] angaither commented on #5506
might be related to #5497

[2015-10-16 13:58] angaither commented on #5500
closed with #5514

[2015-10-16 13:58] #5500 closed, assigned to angaither

[2015-10-16 14:12] #5326 closed, assigned to itsjoekent

[2015-10-16 14:27] weerd opened #5517 "Need to ensure translation of a variety of miscellaneous strings."
Strings to add to POEditor via POT files:
- [x] "Registration successful. You are now logged in." (seen when creating a new account)
- [x] "User account" (seen when viewing own user profile)
- [x] Months of the year
- [x] "by"
- [x] "Privacy Policy"
- [x] "My Account"
- [x] "Sign Up"
- [x] "Create new account"
- [x] "MM/DD/YYYY"
- [x] "Edit Status"

Refs #5513
Refs #5352
Refs: #5504

---

@mikefan

[2015-10-16 15:26] namimody commented on #5482
@sbsmith86 thanks for the update! is there anything I can do to help with this?

[2015-10-16 15:41] angaither commented on #5482
is this the same as #5439?

[2015-10-16 15:41] angaither commented on #5482
since it's trying to get the language of the image?

[2015-10-16 15:46] sbsmith86 commented on #5482
@angaither I think this is different since these images aren't nodes. These are the problem fact images that are generated by cron, and we just grab them from `/html/sites/default/files`. But it seems like they aren't there, or maybe there is a different directory structure on thor?

[2015-10-16 16:06] angaither commented on #5482
ahhh, right right right... also, maybe cron isn't running correctly?
@sheyd

[2015-10-16 16:59] mikefantini commented on #5499
@marahml @DeeZone I just tested with a bunch of users and I wasn't seeing _any_ users going into the appropriate MailChimp buckets regardless of where they were located; i.e. even US users weren't going into the DoSomething Members list on the DS US MailChimp account.

This is however working on production for US users.

[2015-10-16 17:02] sheyd commented on #5482
@angaither @sbsmith86, try it now. I've just added the CORS rule for sharing assets to Thor.

[2015-10-16 17:17] deezone commented on #5499
@marahml @mikefantini I have this consumer shut down as I debug it. There's no point testing it further until I set up again.

[2015-10-16 17:21] sbsmith86 commented on #5482
@sheyd Trying to run cron on thor to generate the images but the cron job keeps failing.

[2015-10-16 17:35] itsjoekent commented on #5506
ill see if my shiz fixes this

[2015-10-16 17:41] weerd commented on #5517
Updated on POEditor and Thor as well.

[2015-10-16 17:41] sheyd commented on #5482
@sbsmith86 The GUI always fails. You can run it from here:

https://jenkins-thor.dosomething.org/job/Drupal%20Cron/ (hit the "log in" in the upper right, it's auth'd against GitHub, so you should be able to get in).

[2015-10-16 17:41] #5513 closed, assigned to weerd

[2015-10-16 18:03] mikefantini opened #5519 "Anonymous users are able to access unpublished translations of nodes"
The Brazilian Portuguese translation of School Insider (https://thor.dosomething.org/br/voluntario/escola-insider) is unpublished. However, as an anonymous user I'm able to go directly to that link.

Also, when I go directly to that link, the source language Title is pulled in.

See how on https://thor.dosomething.org/br/node/5356/translate, the BR PT translation is unpublished, and yet I'm able t