[2015-02-17 15:42] mikefantini commented on #3845
@lkpttn @DFurnes can you confirm whether this is happening for you as an admin or auth user?

If it's just happening for admins let's definitely close it.

[2015-02-17 15:47] mikefantini commented on #3962
@aaronschachter i can't remember why we never kept you on the content team full-time

spoke with @weerd about this and we're just going to hard code one of the placeholder captions. for now let's go with "DoSomething? Just did."

[2015-02-17 16:12] mikefantini commented on #3729
@sbsmith86 are we still missing the max file size error message or is this issue closed now?

[2015-02-17 16:13] mikefantini commented on #3630
@sbsmith86 @barryclark we can close this one out because we of the rotation feature correct?

[2015-02-17 16:13] sbsmith86 commented on #3729
@mikefantini Yea, we are still missing the max file size error on the client side.

[2015-02-17 16:14] sbsmith86 commented on #3630
@mikefantini @barryclark Yea!

[2015-02-17 16:14] lkpttn commented on #3845
I tried it again as both an admin and regular user on staging and couldn't replicate it again.

[2015-02-17 16:16] #3630 closed, assigned to sbsmith86

[2015-02-17 16:18] #3913 closed, assigned to nobody

[2015-02-17 16:20] mikefantini commented on #3912
@sbsmith86 is this related to #3953 or is it a less descriptive duplicate of that issue?

[2015-02-17 16:21] sbsmith86 commented on #3912
@mikefantini yea, it looks like #3953 is the main issue.

[2015-02-17 16:22] mikefantini commented on #3880
@sbsmith86 this guy can be closed out too yeah?

[2015-02-17 16:23] sbsmith86 commented on #3880
@mikefantini yep!

[2015-02-17 16:27] #3880 closed, assigned to nobody

[2015-02-17 16:33] #3771 closed, assigned to DFurnes

[2015-02-17 16:36] mikefantini commented on #3950
@barryclark @sbsmith86 this one has been closed out too yeah?

[2015-02-17 16:38] sbsmith86 commented on #3950
@mikefantini yep

[2015-02-17 16:39] #3950 closed, assigned to nobody

[2015-02-17 16:44] mikefantini commented on #3912
ok cool closing this one out then thanks @sbsmith86!

[2015-02-17 16:44] #3912 closed, assigned to sbsmith86

[2015-02-17 16:44] #3857 closed, assigned to DFurnes

[2015-02-17 16:45] #3384 closed, assigned to DFurnes

[2015-02-17 17:08] mikefantini opened #3987 "/user/edit updates"
- [x] remove the "Address" field group name (image below)
- [x] remove the line separating email/pw fields and first name (image below)

![image](https://cloud.githubusercontent.com/assets/6330971/6232960/a1c21fce-b69d-11e4-816e-a11c3a29dbf6.png)

![image](https://cloud.githubusercontent.com/assets/6330971/6232964/adce6df4-b69d-11e4-9f9c-0acf4a5383d7.png)

[2015-02-17 17:58] mikefantini opened #3988 "proper neue styles missing for pw reset flow"
/user/password:
![image](https://cloud.githubusercontent.com/assets/6330971/6233932/8935c1d4-b6a4-11e4-9268-31f866af9643.png)

PW onetime reset page: ![image](https://cloud.githubusercontent.com/assets/6330971/6233623/340990fc-b6a2-11e4-98a7-db0f0bcc63c2.png)

User edit form: ![image](https://cloud.githubusercontent.com/assets/6330971/6233656/8165197a-b6a2-11e4-9d33-15dc92081601.png)

[2015-02-17 18:41] #3914 closed, assigned to nobody

[2015-02-17 18:41] barryclark commented on #3908
Closed #3914 as it was the same problem as this.

[2015-02-17 18:41] barryclark commented on #3878
Closed #3914 as it was the same problem as this.

[2015-02-17 18:44] #3987 closed, assigned to itsjoekent

[2015-02-17 18:44] barryclark commented on #3712
Would you be able to take a look at this one @aaronschachter?

[2015-02-17 18:46] aaronschachter commented on #3735
This should be split up into 2 issues: one for the Reportback Form (to go to @sbsmith86) and the other for the Gallery template (to go to @weerd )

[2015-02-17 19:16] DFurnes opened #3992 "Switch "Contact Us" and sponsor text in info bar on action page"
# Screenshot

![screen shot 2015-02-17 at 2 15 46 pm](https://cloud.githubusercontent.com/assets/583202/6235305/8ca19694-b6af-11e4-9422-c57a3d22645f.png)

[2015-02-17 19:17] #3988 closed, assigned to DFurnes

[2015-02-17 19:54] #3992 closed, assigned to nobody

[2015-02-17 20:04] barryclark opened #3995 "Spin up DoSomething Brazil (on hold)"
Initial checklist for review @aaronschachter @sergii-tkachenko @blisteringherb @mshmsh5000:
- [ ] Initialize the Brazil site from the most recent US snapshot
- [ ] Copy over campaign images
- [ ] Clean out non-staff users
- [ ] Clean out report backs
- [ ] Create accounts for Brazil admin team

[2015-02-17 20:05] sergiitk commented on #3995
What's the timeline for this @barryclark?

[2015-02-17 20:06] aaronschachter commented on #3995
Why would we not just start from a clean database?

[2015-02-17 20:07] sergiitk commented on #3995
@aaronschachter I think so we won't have to move the existing campaigns.

[2015-02-17 21:22] #3953 closed, assigned to sbsmith86

[2015-02-17 21:54] angaither opened #4001 "Add total count to content search"
This was a request I got in person from campaign Dave.

[2015-02-17 21:59] #3969 closed, assigned to sbsmith86

[2015-02-17 22:02] angaither opened #4004 "After reportbacking back, redirect user to RB confirmation"
User should see the reportback confirmation page after submitting a reportback
### includes
- reportback photo
- caption
- why important
- number of nouns verbed
- campaign title

URL should be in pattern `reportback_id/{reportback_id}#{file_id}`

[2015-02-17 22:58] mikefantini commented on #3540
per meeting with @angaither and @aaronschachter we decided URL structure should be /rb/[rbid]#[fid] - this will set us up for a future where we want the permalink to host all images of a reportback and allow the user to either carousel through or use thumbnails to see different images

[2015-02-17 23:21] mikefantini opened #4005 "remove t-shirt offer ever if user has earned but not redeemed the offer"
chatted with Chris and Dave and we're going to deal with this requests ad hoc through Zendesk, so let's remove this from the site completely

Currently, if a user has already earned a t-shirt offer (by reporting back on 2 campaigns) they will be prompted to redeem their t-shirt offer every time they report back until the redeem it.

[2015-02-17 23:41] mikefantini opened #4006 "updates to birthday field on profile"
- [x] styling should match other field names
- [x] remove Format: 02/17/2015

![image](https://cloud.githubusercontent.com/assets/6330971/6239720/6fbcc772-b6d4-11e4-80a8-2a5120eec0dc.png)

[2015-02-18 14:59] aaronschachter commented on #4005
Disabled the `dosomething_reward` module manually via the Admin UI

[2015-02-18 14:59] #4005 closed, assigned to aaronschachter

[2015-02-18 15:17] #4001 closed, assigned to nobody

[2015-02-18 16:12] #3924 closed, assigned to sbsmith86

[2015-02-18 16:27] #3962 closed, assigned to weerd

[2015-02-18 16:47] angaither opened #4010 "Login Message Broker requests to Northstar"
- Any creates/updates to a user start lazy loading into either message broker or Northstar
#### Send info to the platform
- email
- uid
- first name
- address
- timestamps

[2015-02-18 17:29] aaronschachter commented on #3729
I replicated this this morning by reporting on Teens for jeans with a 4 MB jpg.  It takes forever to upload the file after clicking Submit. However I just used the same image on a different campaign, Bake Sale for Babies, and it worked :fries: https://www.dosomething.org/reportback/59374

![screen shot 2015-02-18 at 9 57 44 am](https://cloud.githubusercontent.com/assets/1236811/6252617/a6a6a63c-b7

[2015-02-18 17:37] mshmsh5000 commented on #3729
This is almost definitely a server-side config problem, where servers have differing file upload and post limits set in php.ini.

/cc @blisteringherb @sergii-tkachenko

[2015-02-18 17:44] blisteringherb commented on #3729
This should be fixed now.  beta-web3 had the upload_max_filesize set to 2M.  It's now set to 10M to match beta-web1.

[2015-02-18 17:45] sbsmith86 commented on #3729
@blisteringherb amazing!

[2015-02-18 18:55] mikefantini opened #4011 "button alignment off again on You're Doing section of profile"
![image](https://cloud.githubusercontent.com/assets/6330971/6254300/9be25d20-b775-11e4-8c96-68632c701363.png)

[2015-02-18 19:01] mikefantini commented on #3729
@blisteringherb @mshmsh5000 are we able to track any error logs to see if people are still encountering max file size error?

[2015-02-18 20:02] aaronschachter commented on #3677
@sergii-tkachenko Would you be able to take this one when you have a chance? Non urgent, but would be good to get Flag out of the mix since we don't use it anymore.

[2015-02-18 20:04] sergiitk commented on #3677
Yes, I can do that. Assigning this to myself.

[2015-02-18 21:08] #4011 closed, assigned to itsjoekent

[2015-02-18 21:35] #3260 closed, assigned to itsjoekent

[2015-02-18 21:59] #3952 closed, assigned to weerd

[2015-02-18 22:02] weerd commented on #3848
This bug is probably what's causing #3908

[2015-02-18 22:18] weerd commented on #3712
Reassigning to you @barryclark, then just pass along to @aaronschachter if he's going to be tackling this bendery issue.

[2015-02-18 22:22] aaronschachter commented on #3712
No @weerd we assigned it to you! :) i have no idea what the File API stuff with older browser is... also i'm not exactly set up to test in IE...

[2015-02-18 22:27] weerd commented on #3866
So there is no edit window in IE8 and IE9 because they don't support the File API, so it defaults to the basic fallback implementation. Is the issue specifically for IE10? Otherwise this is the expected behavior in IE8 & IE9.

I might be confused and could use some further clarification on this one.

[2015-02-18 22:35] weerd commented on #3712
Oh, haha @aaronschachter. Hokay. I can give it a whirl. It's not specifically a File API thing, but more of a PHP is expecting parameters that it's not getting and thus crapping out. Thought it was more bendery, but I'll take a crack at it :)

[2015-02-18 23:14] barryclark commented on #3712
![](http://testingthoughts.com/ericproegler/wp-content/uploads/2015/01/schneideryou-can-do-it.jpg) @weerd!

[2015-02-18 23:20] weerd commented on #3712
LOL :)

[2015-02-19 15:53] aaronschachter commented on #4004
@angaither - we may need to feature flag this redirect until the front end is done for the new permalink.

[2015-02-19 16:01] #3615 closed, assigned to aaronschachter

[2015-02-19 16:01] mikefantini commented on #3615
will reopen if it becomes a concern for marketing

[2015-02-19 16:04] mikefantini commented on #3963
hold on this until #3790 is set

[2015-02-19 16:05] aaronschachter commented on #3615
There is some cleanup to do here potentially, as if we don't need this we no longer need for the `fid_processed` and `options` columns in the `dosomethinn_reportback_file` table.

[2015-02-19 16:06] aaronschachter commented on #3735
This is being handled by #3636

[2015-02-19 16:06] #3735 closed, assigned to aaronschachter

[2015-02-19 16:07] mikefantini commented on #3920
closing this for now; would be good to monitor client side errors coming in

[2015-02-19 16:07] #3920 closed, assigned to weerd

[2015-02-19 16:10] mikefantini commented on #3961
please look into this @sbsmith86 and close out if no longer an issue

[2015-02-19 16:16] aaronschachter commented on #3956
It could also make sense to add the current placeholder images into the theme as files, and use those. When we launch this on international, the DS logo will be all over the place.

[2015-02-19 16:18] aaronschachter commented on #3629
Duplicated by #4004

[2015-02-19 16:18] #3629 closed, assigned to nobody

[2015-02-19 16:41] weerd commented on #3956
Hmmm, maybe have the placeholders as fallback if no placeholders uploaded, but if placeholders added to CMS, then default to those?

@mikefantini @barryclark ?

[2015-02-19 16:44] mikefantini commented on #3615
@aaronschachter if you want to create an issue for that go for it. I think we should operate under the assumption that we won't be building this, but again, if it turns out marketing does in fact need it, then we'll roll it out.

[2015-02-19 16:48] mikefantini commented on #3956
@weerd sounds good to me. I'm also showing Micah this week how to add placeholders to each international instance

[2015-02-19 16:48] aaronschachter commented on #3956
Ya sounds good. Def still keep the current ability to override the placeholders within the CMS.

[2015-02-19 17:07] weerd commented on #3956
Righty-o! Gonna update this issue title to reflect above thoughts!

[2015-02-19 17:45] mikefantini opened #4016 "GA custom event on action page has stopped triggering"
relevant links:

https://github.com/DoSomething/dosomething/blob/7fa9340a3b2a971be0fc52581fd6d86cdef2964d/lib/modules/dosomething/dosomething_campaign/dosomething_campaign.theme.inc#L286-L288

http://stackoverflow.com/questions/13414440/checking-if-the-google-analytics-gaq-object-is-loaded-and-available/17474187#17474187

https://github.com/DoSomething/dosomething/pull/3626

[2015-02-19 17:46] DFurnes commented on #4016
Some further context: When we updated Drupal's Google Analytics module in #3626, it seems to have automatically opted us in to "Universal Analytics" which changes the Custom Tracking API.

[2015-02-19 18:06] weerd opened #4017 "Update Campaign Custom Settings"
Add a **Alt text color** field.

This field will affect the color of:
- Pics or It Didn't Happen
- field_reportback_copy
- view more link

*update: We decided this would be a hex field

[2015-02-19 18:08] weerd opened #4018 "Enable the use of an alternate background and text color in the Reportback section."
Once #4017 is completed, use the new variables to customize the Reportback section with a background color and corresponding text color.

[2015-02-19 18:11] weerd opened #4020 "Add dividing line in Reportback to make sections in interface more apparent."
Based on the design mocks, need to add dividing horizontal rule that separates the sections visually based on designs.

[2015-02-19 18:17] #4016 closed, assigned to DFurnes

[2015-02-19 18:29] mikefantini commented on #4017
context: we'll no longer be having patterns (i.e. jeans or clothing or steering wheels) but will continue to have the ability to alter the background color of the Prove It section.

So now, Alt color will affect the color of:
- Headers in the Know, Plan, Do sections (as it does now)
- Background color of the Prove It section

The new field will affect the color of:
- Pics or It Didn't Happen
- fie

[2015-02-19 19:36] #3636 closed, assigned to weerd

[2015-02-19 20:40] #4006 closed, assigned to itsjoekent

[2015-02-19 20:59] mikefantini opened #4023 "First name text in nav should match other nav colors"
I.e. if nav font is black, user's first name should be black. if nav font is white, user's first name should be white:

![image](https://cloud.githubusercontent.com/assets/6330971/6275801/19b08f76-b850-11e4-89fc-8d17dfc742dd.png)

[2015-02-19 21:07] weerd commented on #3956
Use default hardcoded placeholder images as fallback if no uploaded placeholders are available for a campaign.

[2015-02-19 21:22] sergiitk opened #4025 "Remove transactional_user_profile_update production from dosomething_mbp installation"
As discussed with @DeeZone, this production is not used anymore.

[2015-02-19 21:55] #3896 closed, assigned to sbsmith86

[2015-02-19 22:09] mikefantini opened #4026 "Remove the Alt BG File fid field."
let's hold off on working on this until next standup at earliest

[2015-02-19 23:09] barryclark opened #4027 "Monitoring coverage for reportback error states"
@mikefantini brought up the great point that it'd be awesome to be able to monitor how often users are hitting error states, to see if we can improve the UX.

Could you figure out how to monitor the following things using StatHat please @weerd, and add the coverage to the campaigns StatHat dashboard that's visible to everyone? It'd be great to be able to see graphs of how many users are hitting th

[2015-02-20 13:34] #3840 closed, assigned to sergiitk

[2015-02-20 15:28] #4025 closed, assigned to sergiitk

[2015-02-20 18:14] aaronschachter opened #4029 "PHP Notice Undefined #title"
@deadlybutter I think this is related to your preprocessing.

Notice: Undefined index: #title in theme_date_combo() (line 375 of /var/www/beta.dosomething.org/releases/20150220123716/html/profiles/dosomething/modules/contrib/date/date.theme).

[2015-02-20 20:13] #3878 closed, assigned to sbsmith86

[2015-02-20 20:17] sbsmith86 commented on #3729
Fixed with #4030

[2015-02-20 20:17] #3729 closed, assigned to sbsmith86

[2015-02-20 22:42] mikefantini opened #4032 "some rb images have black band on them"
A few examples in the excluded section of Teens for Jeans reportbacks: https://beta.dosomething.org/node/1144/rb/reviewed?status=3

Here is one specific example: https://beta.dosomething.org/reportback/59664

[2015-02-21 01:06] aaronschachter opened #4033 "Autoflagging reportbacks with 0 quantity"
Would make reviewing reportbacks a whole lot easier for reviewers.  We don't allow 0 on web, but SMS reportbacks currently don't seem to check.  Ideal fix here is to prevent saving a Reportback on SMS until the user enters a valid quantity.

[2015-02-23 14:45] #4017 closed, assigned to weerd

[2015-02-23 14:57] #4018 closed, assigned to weerd

[2015-02-23 15:11] lkpttn opened #4034 "Static content/Fact pages aren't linked in SOLR search."
When searching the site, static content pages and 11 facts pages aren't linked properly in the results.

![screen shot 2015-02-23 at 9 46 06 am](https://cloud.githubusercontent.com/assets/1865372/6330186/46dbee18-bb44-11e4-9809-29bf24ea83ec.png)

[2015-02-23 15:17] DFurnes commented on #4034
I think this is a mismatch of variables names with the new Figure template. Looking into it.

[2015-02-23 15:28] #4034 closed, assigned to DFurnes

[2015-02-23 18:23] DFurnes opened #4036 "Action guide styling"
Action guide modals need to be updated with `modal__block` and `with-lists` Neue 6.0 classes.

![screenshot](https://trello-attachments.s3.amazonaws.com/54eb3dd6391a74acde38763f/1411x869/1d663ce1eb1a4eb20f166c019d1dec72/modalcapture.PNG)

[2015-02-23 18:27] angaither opened #4037 "Permalink feature flag"
Only display the permalink page if feature flag var is set

[2015-02-23 18:52] mikefantini opened #4038 "maintain #prove on campaign url through authentication"
We prompt users to report back on web via SMS/email and include the #prove link. Frequently, these users are logged out and so they have to sign up on the pitch, and then when they get taken to the action page, the #prove anchor is lost.

Ideally the #prove anchor would be maintained when the user lands on the action page.

[2015-02-23 19:14] itsjoekent commented on #4029
Looks like its probably either this line or the one after, https://github.com/DoSomething/dosomething/commit/e4a9634dbb1166bcc0b87db841e1e94f898d5415#diff-c7b97e9742cba6f342dab82a5fd21e64R281

~~after I get my vagrant back up and running ill test it out~~

[2015-02-23 19:25] mikefantini opened #4040 "padding off on triad gallery for closed campaigns"
Closed campaign (i.e. https://www.dosomething.org/campaigns/cell-phones-survivors)
![image](https://cloud.githubusercontent.com/assets/6330971/6335176/9051fa6a-bb67-11e4-94f4-b3af84d123b1.png)

Static content page (i.e. https://www.dosomething.org/about/who-we-are)
![image](https://cloud.githubusercontent.com/assets/6330971/6335183/9bd2bf46-bb67-11e4-92c5-16cb4aff3a99.png)

[2015-02-23 19:44] itsjoekent commented on #4023
fixed by https://github.com/DoSomething/neue/pull/460

[2015-02-23 19:44] #4023 closed, assigned to itsjoekent

[2015-02-23 20:22] #4037 closed, assigned to angaither

[2015-02-23 20:30] itsjoekent commented on #4029
So the issue is this line, commenting it out fixes the problem

https://github.com/DoSomething/dosomething/blob/dev/lib/themes/dosomething/paraneue_dosomething/includes/form.inc#L282

The problem is, if you do that, this happens (this is why the variable was being unset)

![screen shot 2015-02-23 at 3 29 46 pm](https://cloud.githubusercontent.com/assets/897368/6336485/eed904bc-bb70-11e4-9d6f-fc171

[2015-02-23 20:33] #4020 closed, assigned to weerd

[2015-02-23 20:45] aaronschachter commented on #4029
Setting the `'#title'` to an empty string doesn't work?

[2015-02-23 20:51] itsjoekent commented on #4029
Welp. I feel like an idiot.

[2015-02-23 21:03] #4029 closed, assigned to itsjoekent

[2015-02-23 21:37] weerd commented on #3960
This PR #4041 added some fender-y fixes to help visually solve this. Could eventually be useful to truncate the text at 60 characters before outputting, but not sure how crucial that is.

[2015-02-23 21:37] #3960 closed, assigned to weerd

[2015-02-23 22:06] angaither opened #4044 "Remove legacy rb entity file view"
Remove `dosomething_reportback_file.inc`
As those classes, and build info will no longer be used.

[2015-02-23 22:30] angaither opened #4045 "Reportback feature flag updates"
from @aaronschachter
Will you add a checkbox to toggle on/off? So we can test staging deploys without this feature. Also.. late feedback but would it be cleaner to prefix the variable with the module that defines it? e.g. dosomething_reportback_display_permalink

[2015-02-23 22:36] aaronschachter commented on #4044
@angaither Per the description -- we'll still need the classes defined in `dosomething_reportback_file.inc` ... it has the `review` function and some extra stuff in the `save`.  ~~Just confirming that the items to remove are the `buildContent` and the `default URI` (functions for viewing a Reportback File entity)~~

[2015-02-24 00:02] aaronschachter opened #4046 "API Login by email (not username)"

[2015-02-24 00:04] aaronschachter opened #4047 "API should not strip characters from Reportback fields"
But should still strip tags. Look into using `filter_xss`.

![Sad puppet](https://cloud.githubusercontent.com/assets/1236811/6340594/ae07bae6-bb8e-11e4-8d64-43c7866d8029.png)

[2015-02-24 00:06] aaronschachter opened #4048 "API endpoint for Campaigns inbox"
Requested by Campaigns team. Ability to view all Campaigns and their Inbox count, and review Reportbacks per Campaign.

[2015-02-24 00:29] aaronschachter opened #4049 "Campaign gallery API endpoint improvements"
Per convo w @mikefantini
- [x] Return `promoted` images as well as `approved` in the Gallery endpoint
- [x] Add a new query parameter to filter by status (will allow us to only retrieve promoted files)
- [x] Add a new query parameter to filter by File fid's (can exclude multiples by comma, e.g. `?exclude=12,890,23412`

This would need corresponding changes on the front-end side to alter the logic

[2015-02-24 00:42] aaronschachter commented on #3677
@sergii-tkachenko Let's put this one on hold for now... we may end up using Flag down the line.

[2015-02-24 00:42] #3677 closed, assigned to sergiitk

[2015-02-24 13:06] aaronschachter commented on #4044
Scratch that - `buildContent` is being used in the Reportback Review form to display File info in each row. I think the only thing you'll need to remove here is the menu path for `rb/[fid]` (and update the Reportback Form to point that page, once it's complete)

[2015-02-24 14:41] aaronschachter commented on #3966
This will be handled by #4049

[2015-02-24 14:41] #3966 closed, assigned to itsjoekent

[2015-02-24 15:26] mikefantini commented on #3847
related to #3908

[2015-02-24 15:26] #3847 closed, assigned to weerd

[2015-02-24 15:35] angaither commented on #4044
So this issue is not needed then, correct?

[2015-02-24 15:37] aaronschachter commented on #4044
Well, it'd be good to remove the `rb/[rbid]` menu hook to avoid confusion for why it exists. I had built it thinking it would be the initial Reportback File permalink.  Could be good to keep open but not required for launch or anything like that.

[2015-02-24 15:49] angaither commented on #4044
Well, yeah but I'm changing that menu item into `reportback/[rbid]` in the next PR, so this issue is mooooot.

![](https://anuradhapathania48.files.wordpress.com/2014/10/tumblr_m63jh6qme01r82bbmo1_500.gif)

[2015-02-24 15:49] #4044 closed, assigned to angaither

[2015-02-24 16:33] aaronschachter opened #4051 "Signup Count helper variable"
Refs #3899

Create a helper variable to store the Campaign's current Signup count, to avoid running a live SQL count query every time we need it.

Per Hipchat convo with @mshmsh5000 the best solution would be:
- Upon campaign signup, increment the count variable for the campaign
- Schedule cron to refresh the variable for each campaign 2x a day, in order to fix any potential race conditions that c

[2015-02-24 16:37] mshmsh5000 commented on #4051
Could also consider incrementing directly in Redis, since there's [a straightforward way to do that](http://redis.io/commands/INCR). The count could be incremented & referenced in Redis, and occasionally reset from the calculated total, which could be in MySQL.

One benefit from this is that a spike in signups won't cause a bunch of contention as this one row gets locked and written -- those will

[2015-02-24 16:38] angaither opened #4052 "Permalink page is only visible to the user who created the reportback"
And only visible immediately after reporting back.
- No other users can view another person's reportback
- There will be no public links exposed to the reportback.

[2015-02-24 17:40] sbsmith86 opened #4054 "Disable reportback form submission when image is invalid"
When a user uploads an image that is not a valid size or file type, submission of the whole reportback form should be disabled until the user uploads a valid image.

[2015-02-24 18:08] aaronschachter opened #4057 "Staging campaign confirmation page does not appear"
Reporting back on a campaign on staging redirects you to the campaign action page (not the campaign confirmation page).   I've confirmed the reportback was actually created.

@angaither Potential bug in #4039 ?

[2015-02-24 18:22] sergiitk opened #4058 "Old People"
### Description

AKA 26+ Club. An "old person" (26 and 26+) should:
#### User Registration
- [x] Should not be added to Mobile Commons
- [x] **Not be added** to the DoSomething Members list in MailChimp (`mailchimp_list_id` not equal to - ListID: `f2fab1dfd4` (for reference: `71893` - public facing ID)) and the **DoSomething New Members** grouping / **UserRegistration** interest group (ID# 10613)

[2015-02-24 18:26] sergiitk commented on #3840
Ref #4058.

[2015-02-24 18:35] angaither commented on #4057
this is Fixed with #4050

[2015-02-24 18:41] #4045 closed, assigned to angaither

[2015-02-24 18:41] #4057 closed, assigned to nobody

[2015-02-24 20:09] #4040 closed, assigned to DFurnes

[2015-02-24 20:09] #4036 closed, assigned to nobody

[2015-02-24 20:50] deezone opened #4062 "Password Reset Endpoint"
An endpoint (perhaps `/api/v1/users/password_reset?email=<taget email>` is needed to request a password reset link for a specific Drupal user account by email address (or perhaps UID).

The password reset endpoint will be used by the `mbc-user-import`script. A password reset link is needed to send as part of the message content in the transactional email message for newly created Drupal users.

An

[2015-02-24 20:52] aaronschachter commented on #4062
There is a Drupal Services password reset to look into before we build anything custom... although I believe it just sends an email (does not return the URL)

[2015-02-24 21:09] itsjoekent commented on #4062
Looking at a blog post, it seems to be triggered by the following:
$mail = _user_mail_notify('password_reset', $account, $language); -
http://www.grasmash.com/article/create-passwordreset-resource-services

Looking for alternatives

[2015-02-24 21:12] itsjoekent commented on #4062
Found it!

https://api.drupal.org/api/drupal/modules!user!user.module/function/user_pass_reset_url/7

[2015-02-24 21:25] deezone commented on #4058
@barryclark @marahml How should we manage campaign MailChimp interest group assignment for Old People? Currently DS members are put into different MailChimp interest groups for each of the staff pick campaigns. Should there be duplicates in the 26+ list interest groups?

See issue description for areas marked " **campaign specific campaign ?? -> ?? Interest Group** " for issue items that need your

[2015-02-24 21:28] deezone commented on #4058
@sergii-tkachenko Updated issue description with the MailChimp list and interest group IDs for the 26+ list.

[2015-02-24 21:32] #3522 closed, assigned to deezone

[2015-02-24 21:37] aaronschachter commented on #4062
This endpoint will need an access check for administrator roles only. If the links were public, the endpoint could be used to login to any account.
- [x] Create a new targeted action: `users/[uid]/password_reset_url` which returns the output of `user_pass_reset_url` for the given uid.  Add this code into the `member_resource.inc` in the `dosomething_api/resources`.  Take a look at the `gallery` re

[2015-02-24 22:34] DFurnes commented on #3968
Having trouble replicating this. Most likely culprit is either a browser issue, or it was using the [fallback GIF](https://github.com/DoSomething/neue/blob/dev/assets/images/fallbacks/spinner.gif) which is shown when SVG animation is not supported.

[2015-02-24 22:34] DFurnes commented on #3968
Going to close – re-open if there are reliable steps to reproduce!

[2015-02-24 22:34] #3968 closed, assigned to DFurnes

[2015-02-25 15:37] #4047 closed, assigned to aaronschachter

[2015-02-25 15:39] aaronschachter commented on #3712
I'm able to replicate this locally in Chrome with what must be some out of date JS (I pulled down from dev but have not run a `ds grunt`). Hoping this might help debug.

When I first load the page, I see an `Uncaught TypeError: Cannot read property 'cropEnabled' of undefined` within Chrome Insepctor.
when I upload a file, the error still exists and the page looks like this:
![screen shot 2015-02-2

[2015-02-25 16:02] #3540 closed, assigned to angaither

[2015-02-25 16:02] #4004 closed, assigned to angaither

[2015-02-25 16:02] #4052 closed, assigned to angaither

[2015-02-25 16:19] angaither opened #4065 "Permalink page title"
After the rb is submitted, the title should say
"Awesome Work"
subtitle of "We got your pics"

@mikefantini is this language the same on every campaign?

[2015-02-25 16:23] mikefantini commented on #4065
yeah @angaither I want to chat w/ Ben about language. I should have an answer for you tomorrow on whether we can continue to pull from campaign node or if we need new fields added to https://beta.dosomething.org/admin/config/dosomething/dosomething_campaign to pull from

[2015-02-25 16:47] angaither opened #4066 "Expose the permalink page to non owners."
Add `problem_fact` and `solution_fact` to the card.
Hide the why_participated section from non-owners.

[2015-02-25 16:49] angaither opened #4067 "Update title on permalink pages"
When a non-owner views the permalink page, the title should update.

it should say
"Join `[first_name]` and DoSomething.org"
subtitle:  `cta`

[2015-02-25 17:46] aaronschachter opened #4068 "Display reportbacks from past runs in Campaign Gallery"
Related to #4049

The gallery API will need to grab the relevant promoted+approved images from any Campaign Run nodes which belong to the parent Campaign node, and display those last, after the Campaign nid no longer has any more gallery images to display.

[2015-02-25 21:28] aaronschachter opened #4070 "Update Entity module"
https://www.drupal.org/node/2437905

[2015-02-25 21:52] #3848 closed, assigned to weerd

[2015-02-25 21:52] #3908 closed, assigned to weerd

[2015-02-26 14:54] barryclark opened #4071 "Tidy up user profile dropdown UI"
- [x] Fix the search bar popping left and right when you activate the dropdown (margin-left is inconsistent)
- [x] After logging in your name isn't correctly vertically aligned, it's too low ![image](https://cloud.githubusercontent.com/assets/692762/6394135/63d0117e-bd9d-11e4-9170-c97857f7c362.png)
- [x] After logging in your name is white. It should be black to match the rest of the navigation ![

[2015-02-26 16:22] DFurnes commented on #4071
I just checked the second and third items as done. Joe fixed them in the latest Neue release which will be applied on next deploy.

[2015-02-26 16:28] barryclark commented on #4071
Great!

[2015-02-26 17:14] mikefantini commented on #3866
@weerd so it looks like users are presented with the option to "change photo" after they have uploaded one in IE8 but it isn't working.

It seems like it's working on IE9.

Need to run but want to document what I've found so far.

[2015-02-26 17:21] barryclark commented on #4058
@DeeZone @sergii-tkachenko Dee and I chatted about this and confirmed that we should place all 26+ old people on to the Old People list only. They don't need to be added to a campaign specific group.

cc @marahml

[2015-02-26 17:22] sergiitk commented on #4058
@barryclark This means that we don't do anything on campaign signups? Just during registrations?

[2015-02-26 18:02] deezone commented on #4058
@sergii-tkachenko Correct.

[2015-02-26 18:03] sergiitk commented on #4058
Awesome. This makes the whole deal a lot easier!

[2015-02-26 18:04] barryclark commented on #4058
Just going to triple-check with @marahml in the HipChats too that she's cool with this.

[2015-02-26 18:21] deezone commented on #4058
As detailed in the issue description and repeated here for reference. The **"General"** interest_grouping (ID# 9613) should be used for MailChimp signups *_but_ an "interest group" still need to be created with an appropreate name.

@barryclark @marahml - please create new "interest group" here vv.
- https://us4.admin.mailchimp.com/lists/dashboard/groups?id=80825 (View Groups for "General").

[2015-02-26 18:50] mikefantini opened #4074 "able to submit an image smaller than 480x480 on IE8 windows 7"

[2015-02-26 18:56] mikefantini opened #4075 "editors need access to edit taxonomy collections"
not sure who should take this, but we should have this set up so that I can remove Felicia from having admin access

cc: @aaronschachter & @barryclark

[2015-02-26 19:26] itsjoekent commented on #4071
that margin bug never seems to go away. I'm going to give it a nickname at this rate...

[2015-02-26 19:28] mshmsh5000 opened #4077 "Add Global Redirect to clean up redundant paths"
https://www.drupal.org/project/globalredirect

For instance, /taxonomy/term/21 should 301 to /volunteer/healthy-relationships, which is globalredirect's job.

[2015-02-26 19:38] sergiitk opened #4078 "Fatal error introduced in v0.4.15"
EntityMetadataWrapperException: Invalid data value given. Be sure it matches the required data type and format. in EntityDrupalWrapper->set() (line 736 of /var/www/beta.dosomething.org/releases/20150226192013/html/profiles/dosomething/modules/contrib/entity/includes/entity.wrapper.inc).

![image](https://cloud.githubusercontent.com/assets/672669/6400134/b0cec134-bdff-11e4-9b37-36c68b92d73c.png)

C

[2015-02-26 19:38] sergiitk commented on #4078
https://github.com/DoSomething/dosomething/compare/v0.4.14...v0.4.15
I suspect [this](https://github.com/DoSomething/dosomething/compare/v0.4.14...v0.4.15#diff-6cd2bd158ecf1b2419b491fc3dae7ceaR409) @DFurnes

[2015-02-26 19:40] DFurnes commented on #4078
^ @angaither Any ideas?

[2015-02-26 19:46] sergiitk commented on #4078
Located the function producing the error:
https://github.com/DoSomething/dosomething/compare/v0.4.14...v0.4.15#diff-ad30a5d569ca2ae6d2e04223aa501104R1294

[2015-02-26 19:48] sergiitk commented on #4078
Seems like `dosomething_user_load()` designed to be a utility function, but it created a `hook_user_load()` instead.

[2015-02-26 19:48] sergiitk commented on #4078
Fixing it.

[2015-02-26 20:02] #4078 closed, assigned to nobody

[2015-02-26 21:29] weerd opened #4081 "Reportback caption placeholder bug"
Array reference is slightly off and causing a not for error when filling the placeholder value in reportback modal.

[2015-02-26 21:41] #4081 closed, assigned to weerd

[2015-02-26 21:53] lkpttn opened #4083 "Static content headers are too far from galleries"
Looks like the header here is in a separate div that keeping it far away from the gallery. Should be the same as if the header was above a paragraph.

![screen shot 2015-02-26 at 4 52 33 pm](https://cloud.githubusercontent.com/assets/1865372/6402734/e0a53faa-bdd7-11e4-8d29-b82df5151e4e.png)

cc: @julielorch

[2015-02-26 22:10] lkpttn opened #4084 "Static content has inconsistentent <h> tags"
Looks like the first heading is a getting a h1 and the second is getting a h2, without any modifiers.

![pic](https://s3.amazonaws.com/uploads.hipchat.com/34218/261430/taFZCzXbITW5pZM/upload.png)

https://www.dosomething.org/about/sms-volunteer-program

cc: @julielorch @mikefantini

[2015-02-26 22:12] mikefantini commented on #4065
going to close this issue out as we should continue to use the confirmation page title field from https://beta.dosomething.org/admin/config/dosomething/dosomething_campaign for this. I'll be getting new copy from Ben on this to enter into that field on Monday.

creating a new issue now for new fields needed

[2015-02-26 22:12] #4065 closed, assigned to angaither

[2015-02-26 22:22] mikefantini opened #4085 "Copy fields needed for DoSomething Campaign config"
Confirmation Page:
- [ ] Confirmation page subtitle
- [ ] Scholarship subtitle addition
- [ ] Important to you header
- [ ] Social header
- [ ] Social copy
- [ ] Social CTA

Non-owner Permalink:
- [ ] Title

Owner not as confirmation page:
- [ ] Title
- [ ] Subtitle

[2015-02-26 22:22] mikefantini commented on #4085
@angaither kept these all together like you asked, but feel free to break this out into 3 issues within 3 different milestones if you think that makes more sense

[2015-02-27 15:08] #3712 closed, assigned to weerd

[2015-02-27 16:33] weerd opened #4087 "Animation on Ajax reportback gallery item reveal is broken."
Not sure when this happened, but it be broke.

@mikefantini There was another issue for this, but I can't seem to find it.

[2015-02-27 16:38] #4087 closed, assigned to weerd

[2015-02-27 17:33] weerd commented on #3968
Hokay!

[2015-02-27 17:51] #4071 closed, assigned to itsjoekent

[2015-02-27 18:10] weerd commented on #3866
Confirmed. Acting weird in IE8 on second click to change picture. Investigating!

[2015-02-27 20:48] #3934 closed, assigned to weerd

[2015-02-27 21:05] #3866 closed, assigned to weerd

[2015-02-27 21:06] #4084 closed, assigned to DFurnes

[2015-03-02 04:16] deezone opened #4094 "/api/v1/users.json?parameters[email]=[email] returns invalid results"
Request to:

[code]

returns:

[code]

while user `dlee+update-test01@dosomething.org` exists: https://www.dosomething.org/user/1827134 where return results should be:

[code]

Request is done with required credentials:

[code]

and is successful with `https://www.dosomething.org/api/v1/users.json?parameters[email]=dlee@dosomething.org` which returns:

[code]

as expected.

[2015-03-02 14:51] angaither commented on #4085
@mikefantini once set, are does the text apply to all campaigns or is it different per campaign?

[2015-03-02 16:22] barryclark commented on #4058
@sergii-tkachenko, a proposed item for the checklist: After old people sign up, it'd be great if they could get a different confirmation message on site than the current one—so that we can let them know their signup is being handled differently. The current message is `Registration successful. You are now logged in.`. Is it possible to change that for old people? If so, I'll get a message put toge

[2015-03-02 17:22] aaronschachter commented on #4058
FYI @sergii-tkachenko @barryclark -- We are currently using String Overrides to display that "Registration successful" message instead of Drupal's default message.

[2015-03-02 17:56] angaither opened #4095 "Kill current confirmation page"
Once we go live with the new permalink, we can remove code for the old confirmation page.
- [ ] remove the if that checks for the variable `dosomething_reportback_display_permalink`
- [ ] [remove the menu hook for the confirmation page](https://github.com/DoSomething/dosomething/blob/70bd75b65779ba70220610492942d2a29d9cb2be/lib/modules/dosomething/dosomething_campaign/dosomething_campaign.module#L

[2015-03-02 19:18] aaronschachter commented on #4094
@DeeZone I am unclear on what the issue is here: Is it that the endpoint works as expected for the email  address `dlee@dosomething.org`, but not `dlee+update-test01@dosomething.org` ?

[2015-03-02 20:06] #4085 closed, assigned to angaither

[2015-03-02 20:28] barryclark commented on #4075
This would be a great one for you to take on Joe, and get a look at Drupal permissions.

Hit up @aaronschachter and @mikefantini for any information that you need!

[2015-03-02 20:36] #3790 closed, assigned to sbsmith86

[2015-03-02 20:36] #3963 closed, assigned to sbsmith86

[2015-03-02 20:36] #4032 closed, assigned to sbsmith86

[2015-03-02 20:48] barryclark commented on #4094
Assigning this over to you to take a look at and work with @DeeZone on too @deadlybutter.

This issue is the highest priority right now :high_heel:

[2015-03-02 20:57] itsjoekent commented on #4094
okie dokes

[2015-03-02 21:05] aaronschachter commented on #4094
If the problem is https://github.com/DoSomething/dosomething/issues/4094#issuecomment-76788283, sounds like a potential issue around handling encoding non alpha-numeric characters.

[2015-03-02 22:02] itsjoekent commented on #4094
Looking at its callback, I don't see it filtering out anything so it doesnt _seem_ to be a backend issue.

https://github.com/DoSomething/dosomething/blob/dev/lib/modules/dosomething/dosomething_api/resources/member_resource.inc#L175

I'll try replicating this tomorrow and figure out whats goin on, @aaronschachter theory sounds right but Ill investigate more

[2015-03-02 22:24] barryclark commented on #4094
Thanks @deadlybutter!

[2015-03-02 22:59] DFurnes opened #4101 "Typo in #4099"
There was a little typo in [#4099](https://github.com/DoSomething/dosomething/pull/4099#discussion-diff-25647409R26). `checl_plain` should be `check_plain`. :pencil2:

[2015-03-02 23:11] sergiitk commented on #4101
Thank you, will fix it!

[2015-03-02 23:14] #4101 closed, assigned to sergiitk

[2015-03-03 01:17] deezone commented on #4094
@aaronschachter

For what it's worth:

"yes"

[2015-03-03 01:27] deezone commented on #4094
@deadlybutter To add to this, period "." is also a valid character along with "+" and "-" in an email address (ex: darrendouglas.lee@gmail.com) which should result in a match:

[code]

Perhaps an issue for later work but returning some type of FALSE boolean rather than an empty response when a match is not found would be preferred. Getting a response of:

[code]

seems incomplete indicating some k

[2015-03-03 16:59] #3956 closed, assigned to weerd

[2015-03-03 17:42] mikefantini commented on #4085
@angaither this will be for all campaigns.

I just updated copy to http://staging.beta.dosomething.org/admin/config/dosomething/dosomething_campaign

Like we had in the mocks, it requires some tokens. I wasn't sure a. how to list those tokens out and b. if these field's supported those.

Can you take a look and let me know if you have any questions/create any new issues that are needed to support

[2015-03-03 19:49] itsjoekent commented on #4094
Was able to reproduce the bug, gonna check to see if drupal is throwing any errors

-update
Tried two diff. accounts with symbols in there name, neither worked -- gonna log the parameter in my dev environment to see if its getting that far

[2015-03-03 19:53] barryclark commented on #4094
:+1: Thanks for the update @deadlybutter

[2015-03-03 19:59] itsjoekent commented on #4094
Found the problem

![screen shot 2015-03-03 at 2 59 15 pm](https://cloud.githubusercontent.com/assets/897368/6471043/e9b01ffc-c1b5-11e4-999a-3cbd4d159975.png)

The string Drupal receives does not contain the + sign

##

This answer on SO explains the plus sign problem.
http://stackoverflow.com/a/5450212/2129670

~~I imagine all of the other chars. having issues fall into this category of invalid /

[2015-03-03 20:33] itsjoekent commented on #4094
Talked with @DeeZone - closing issue, comment above ^ solves problem. just plug the email into the urlencode

[2015-03-03 20:37] aaronschachter commented on #4094
@deadlybutter Not exactly sure what best practice is, but wouldn't it make sense for the API to `urlencode` the `email` parameter though, to handle this globally ?

[2015-03-03 20:57] itsjoekent commented on #4094
@aaronschachter by the time the API gets the email parameter its too late. look @ the screenshot above, thats a print of the parameter once drupal passed it to the callback

[2015-03-03 21:09] aaronschachter commented on #4094
Right on. Great investigative work, @deadlybutter

[2015-03-03 21:09] #4094 closed, assigned to itsjoekent

[2015-03-04 01:00] aaronschachter opened #4105 "Generate themed Reportback images upon Reportback Form submit"
Both the web Reviewer forms and the Reviewer app chug along when Drupal is processing a high-res Reportback image for the first time.  Ideal fix is to asychronously hit the URL's of the processed images upon save, to speed up load time for reviewers.

[Stack Overflow suggests](http://drupal.stackexchange.com/questions/110449/non-blocking-drupal-http-request) that `drupal_http_request` cannot make

[2015-03-04 14:46] angaither opened #4106 "Permalink var tokens"
The permalink copy created needs to support tokens
Refs #4085

[2015-03-04 14:46] angaither commented on #4085
@mikefantini cooool, I made an issue for that ^

[2015-03-04 15:05] DFurnes commented on #4105
It would be really cool if we could move all the image processing stuff into a Message Broker-esque service & get all the heavy image processing stuff off the main web thread. Definitely a higher lift, but perhaps worth considering if we can MVP something?

[2015-03-04 16:31] aaronschachter commented on #4106
What kind of tokens? Might be able to use built in core Node tokens if it's just fields on the Campaign node...

[2015-03-04 16:33] aaronschachter opened #4107 "Remove original Reportback Form code"
Remove anything we don't need/use anymore. Here is one instance:

https://github.com/DoSomething/dosomething/blob/v0.4.21/lib/modules/dosomething/dosomething_reportback/dosomething_reportback.theme.inc#L12

[2015-03-04 16:50] angaither commented on #4106
Node title, and user first name are the only two (I think)

[2015-03-04 17:05] aaronschachter commented on #4105
@DeeZone @sergii-tkachenko We are sending the 300x300 image URL to Message Broker here: https://github.com/DoSomething/dosomething/blob/v0.4.21/lib/modules/dosomething/dosomething_reportback/dosomething_reportback.module#L692

This is the preset is used by the API for the user facing gallery and all Reviewer views. Could it be a small lift to ping that URL within that Message Broker Consumer?

[2015-03-04 17:21] aaronschachter commented on #4106
`token_replace` might work nicely here.

[2015-03-04 19:33] #4062 closed, assigned to itsjoekent

[2015-03-04 20:06] aaronschachter opened #4110 "Refactor Campaigns API endpoint"
Currently returns duplicate records, which is weird.

We'll want to query by various taxonomy fields on the template, and also by status, etc.  Curious about whether or not the Restful module could handle this nicely https://www.drupal.org/project/restful

[2015-03-04 22:45] deezone commented on #4105
I'd need to be brought up to speed but If I understand what "a small lift to ping that URL within that Message Broker Consumer" means then "yes", it could be a "quicky" with nice gain.

Queuing up the calls to the endpoint to trigger the image processing sounds very doable.

Even more exciting would be to move the actual image data crunching out of Drupal in Getty Images style: https://speakerdeck

[2015-03-04 23:35] aaronschachter commented on #4105
Yep, that's what we need @DeeZone. It's of interest and nothing urgent / critical, but if it's a quickie, it'd be great to get in for next sprint.

[2015-03-05 00:29] deezone opened #4111 "User UID displayed in password reset one time login web page message"
When a user requests a password reset a transactional email is sent with a password reset link. The web page confirming the one time login displays the user UID as a part of the message.

![image](https://cloud.githubusercontent.com/assets/2119264/6496647/305c6b4c-c2a4-11e4-98f1-b16355cf4389.png)

Original Trello issue: https://trello.com/c/zFp3y9zl

[2015-03-05 00:41] aaronschachter commented on #4111
@DeeZone This is Drupal's default password reset email. It is actually displaying the User's username, but we set the username to the UID programatically upon user registration in the `dosomething_user.module`

[2015-03-05 00:50] deezone commented on #4111
Duh! It's on the template end.

Thanks... sorry about that!

[2015-03-05 01:15] deezone commented on #4105
Created a Trello card to get it into the next Sprint: https://trello.com/c/UR7snLZc

[2015-03-05 15:07] angaither opened #4112 "Reportback file getImage"
So far this only returns images sized `300x300` this needs to be larger for the permalink page, it should allow for overrides.

[2015-03-05 15:17] #4112 closed, assigned to angaither

[2015-03-05 16:06] aaronschachter opened #4115 "Beta RB permalink should store the Reportback File fid as Signup Source"
When a beta signs up for a campaign via the alpha's permalink for rbf/[fid], the beta's signup source should be stored as the rbf/[fid], to track the number of betas the alpha has gotten to join the campaign.

Currently sources as stored as the canoical paths of the referring entity:
`node/[nid]`
`taxonomy/term/[tid]`
`campaigns`

[2015-03-05 16:44] mikefantini opened #4116 "rbid in the reprotbacks tab of campaigns needs to link to the admin view of the permalink"
on /node/[nid]/rb/reviewed the RBID column should link to the admin view of the rb permalink so that editors can quickly make updates to the status of individual reportbacks

![image](https://cloud.githubusercontent.com/assets/6330971/6509345/bc97b4f8-c32c-11e4-879a-0f609fc70545.png)

@angaither added this to the first milestone because we technically changed existing functionality and should upda

[2015-03-05 16:55] angaither commented on #4116
@aaronschachter if I update that defaultURI will it break things? How can I override it so this page uses `/admin/reportback/[id]`

[2015-03-05 16:56] aaronschachter commented on #4116
Wouldn't we want it to default to the normal Reportback File's permalink though, as its set up now? There is no admin view of a Reportback File, only an entire Reportback, where you can review each Reportback File thru the Review Form.

The link is being set by the entity.tpl.php, as described here: https://github.com/DoSomething/dosomething/pull/4063#discussion_r25345487

[2015-03-05 16:58] angaither commented on #4116
sure there is, it's the flagging thing
![](http://cl.ly/image/0J0H0T3l3w1k/Screen%20Shot%202015-03-05%20at%2011.57.44%20AM.png)
vs

![](http://cl.ly/image/2l101r0p2g1q/Screen%20Shot%202015-03-05%20at%2011.58.37%20AM.png)

[2015-03-05 17:06] aaronschachter commented on #4116
That admin link is not a permalink of a Reportback File, just a Reportback (displaying all its files).  The Reportback File needs its own URI (we saw that removing it in the ReportbackFileEntity broke things).

The review form already links to admin Reportback link (click the submitted timestamp). In order to remove the FID link, we'd have to override the entity.tpl.php for the Reportback File, or

[2015-03-05 17:18] angaither commented on #4116
using that `rb/[fid]` just seems wrong though, because you need things from the entire reportback, not just from that file.

[2015-03-05 17:24] aaronschachter commented on #4116
We can always load the Reportback associated with it.... this is being done in the full view of the Reportback File entity here: https://github.com/DoSomething/dosomething/blob/v0.4.22/lib/modules/dosomething/dosomething_reportback/includes/dosomething_reportback_file.inc#L112

It's a 404 now because the `rb/[fid]` path was removed, but this view also displayed the impact from the Reoprtback.

[2015-03-05 18:22] aaronschachter commented on #4068
Perhaps this should be a parameter you can pass into the gallery endpoint, e.g. `campaigns/[nid]/gallery?all-runs=TRUE`, for any instances where maybe we'd want only reportbacks from the current run...

[2015-03-05 18:56] sbsmith86 opened #4117 "Reportback confirmation Error"
![image](https://cloud.githubusercontent.com/assets/1700409/6512111/7106d664-c33f-11e4-8968-03623a31e0dc.png)

Error on staging when loading the confirmation page.

[2015-03-05 18:59] #4117 closed, assigned to angaither

[2015-03-05 19:08] mikefantini commented on #4116
@aaronschachter @angaither this issue is specifically for the reviewed tab of reportbacks. in the reviewed tab there is no hyperlinked timestamp.

[2015-03-05 19:38] aaronschachter opened #4119 "API - Get Signup sid and Reportback rbid for Current User per Campaign"
Check for current user and whether or a Signup / Reportback entity exists, and return relevant sid/rbid's.

[2015-03-05 20:27] angaither opened #4121 "Add scholarship qualification text"
This needs display if the incentive field is set on the campaign page.

[2015-03-05 20:27] sbsmith86 commented on #3541
Closed with PR #4114

[2015-03-05 20:27] #3541 closed, assigned to weerd

[2015-03-05 20:52] weerd commented on #4049
Collecting a bunch of tasks that need to be completed to smoothly upgrade the API endpoints for the campaign gallery:

- [ ] Add a feature flag to toggle using `/api/v1/campaigns/{nid}/gallery.v2.json` so we don't break everything.

[2015-03-05 21:19] sbsmith86 commented on #4121
@lkpttn @mikefantini is there a quick mock of what/where this should be? Is it just right next to the subtitle? like "Subtile. [incentive text]"?

[2015-03-05 22:12] angaither opened #4123 "Don't print name if there's no caption"
Old reportbacks don't have captions, so it looks odd when you print the name without a caption

![](https://i.imgur.com/v8nCx1K.png)

[2015-03-05 22:15] weerd commented on #4123
It's like you've signed the picture :)

[2015-03-05 22:17] sbsmith86 commented on #4123
lolz good catch!

[2015-03-05 22:20] angaither commented on #4123
@mikefantini should be proud of my QA

[2015-03-05 22:44] mikefantini commented on #4121
yeah you got it @sbsmith86 it's just the second sentence of the subtitle.

[2015-03-05 22:46] mikefantini commented on #4123
:clap:

[2015-03-05 23:25] aaronschachter opened #4124 "Clean Slate Form error on staging"
Clean Slate Form seems to be doing its job correctly but always results in a WSOD upon form submit:

[code]

This was after I ran Clean Slate with a ton of test Reportbacks and Signups. Can anyone else repliacte?

[2015-03-06 15:37] #4121 closed, assigned to sbsmith86

[2015-03-06 15:37] #4123 closed, assigned to sbsmith86

[2015-03-06 15:50] angaither commented on #4095
@aaronschachter can you think of anything else I'm missing?

[2015-03-06 15:54] aaronschachter commented on #4095
@angaither -- I'll take a look around.. one question is do we still display the Reportback Confirmation Message field on the Campaign node somewhere in the new page?

@mikefantini Do we want to kill T-Shirt form code completely, or should we leave it? There are actually quite a few variables here.

[2015-03-06 16:13] mikefantini commented on #4095
@aaronschachter right now we don't have plans to display the reportback confirmation message field anywhere (confirmed by Ben), but I'm hesitant to lose that data just yet.

also re: the t-shirt form code I'm all for removing it completely.

[2015-03-06 16:15] aaronschachter commented on #4095
I think there should be a separate issue from removing the T-Shirt form and variables. We should not kill the DoSomething Reward module/tables completely because we will need it for the mobile app.

[2015-03-06 16:25] angaither opened #4128 "API member count is the wrong request type"
`/users/member_count`
This is a `POST` request, it should be a `GET`

[2015-03-06 16:34] aaronschachter commented on #4128
This is because it's using a Services `targeted_action` and I was following examples of existing modules.  can be refactored to use a  Services `relationship` but will need to give a heads up to @DeeZone if/when this happens because email things use this endpoint.

[2015-03-06 16:45] deezone commented on #4128
Easy to update: https://github.com/DoSomething/mb-toolbox/blob/master/src/MB_Toolbox.php#L179-L210

The deployment would be the challenge. Any chance of doing this in steps where a GET endpoint could be added while the POST continues to work for awhile? Perhaps GET `/users/member_count` as having "get_" in the URL is not sounding very "RESTful" anyways.

[2015-03-06 17:00] deezone commented on #4111
Related: https://github.com/DoSomething/dosomething/issues/2384

Reopening as my understanding is an update is needed on the Drupal side for the reset message contents. Perhaps the message contents can be altered to exclude the Username? The message is within the `user-pass-reset` form that's defined in `user_pass_reset()`:
https://api.drupal.org/api/drupal/modules!user!user.pages.inc/function/use

[2015-03-06 17:13] angaither commented on #4128
also, true @DeeZone

I don't know the details of the services thing, but I would assume if we created the new endpoint without the `get` in the url, both would work at the same time.

[2015-03-06 17:52] aaronschachter commented on #4111
A quick and dirty fix without code would be for someone to override the string via String Overrides with the desired text: https://www.dosomething.org/admin/config/regional/stringoverrides

Any objections @sergii-tkachenko @angaither  ?

[2015-03-06 17:53] #4119 closed, assigned to nobody

[2015-03-06 19:12] angaither commented on #4106
@aaronschachter I don't think that will work for the `user:first_name` since it's a custom field, Unless we've already created a custom token that.

[2015-03-06 19:12] angaither commented on #4106
I don't see one in `dosomething_user.module`

[2015-03-06 19:15] aaronschachter commented on #4106
I'm referring to using Drupal's default token system:

![screen shot 2015-03-06 at 11 13 32 am](https://cloud.githubusercontent.com/assets/1236811/6531970/fd3ce3f0-c3f1-11e4-8768-c9845239c23d.png)

[2015-03-06 20:16] mikefantini opened #4130 "image styles errors on pitch page on staging"
![image](https://cloud.githubusercontent.com/assets/6330971/6535514/829b1230-c413-11e4-856a-d55439efde44.png)

[2015-03-06 20:19] angaither opened #4131 "Add 'do it' button to page"
This button will direct people to the campaign pitch page

@sbsmith86 I'm not sure about button styles and stuff, but you would link to
`drupal_get_path_alias('node/' . $node->nid)`

[2015-03-06 20:49] angaither opened #4133 "Update reportback permissions lingo"
`view any reportback` is used for admin view any reportback, it's confusing, rename it to `review any reportback`

since we now have this permalink business that sort of acts as a reportback.

[2015-03-06 20:49] #4066 closed, assigned to angaither

[2015-03-06 20:49] #4106 closed, assigned to angaither

[2015-03-06 22:34] mikefantini opened #4135 "persistent nav is breaking to 2 lines on small screens"
![img_1045](https://cloud.githubusercontent.com/assets/6330971/6537641/eded40b8-c426-11e4-850b-d610568677d1.PNG)

[2015-03-06 22:34] mikefantini commented on #4135
iphone 5^

[2015-03-09 14:12] angaither commented on #4067
closed with #4132

[2015-03-09 14:12] #4067 closed, assigned to nobody

[2015-03-09 15:18] #4131 closed, assigned to sbsmith86

[2015-03-09 15:31] DFurnes commented on #4130
Alrighty, found the issue. I forgot to enable the `imagecache_coloractions` module as well. Enabled on staging and it fixed issues. Putting up a PR to add to installation profile in a minute.

[2015-03-09 15:44] #4130 closed, assigned to DFurnes

[2015-03-09 15:56] #4107 closed, assigned to weerd

[2015-03-09 16:18] weerd commented on #4128
:+1: @DeeZone

Could even simplify it as `/users/count`. We shouldn't have verbs other than the HTTP verb in our enpoints!

[2015-03-09 16:20] aaronschachter commented on #4128
Worth noting that in the world of DS, the Members Count is different than Users count.  `users/count` looks like total # of users -- this endpoint returns total # of members.

[2015-03-09 16:21] weerd commented on #4128
`users/members/count` ?

Just tossing out ideas.

[2015-03-09 16:22] DFurnes commented on #4128
:+1: to changing to a `GET` and  removing `get_` from the endpoint URL. Also makes sense to "deprecate" the old `POST` endpoint but not fully remove for a while.

As for users vs. members, perhaps `users/count` and `members/count`?

[2015-03-09 16:22] angaither opened #4138 "Add caching to reportback permalink"
set the contents of the permalink page into cache.

[2015-03-09 16:23] weerd commented on #4128
:+1: @DFurnes I like that better. `/members/count` :dancer:

[2015-03-09 17:56] itsjoekent commented on #4128
Yes to the deprecating but keeping for a while. The current app that does the member counting for the homepage & dashboard relies on the post _but_ I'm discontinuing that app and migrating it's functionality into dashboard 2.0 so I don't need it for too long

[2015-03-09 18:07] deezone commented on #4128
My impression is to be even more "RESTful" there would be a parameter in the root GET `/count` request:
- GET `/count?type=user`
- GET `/count?type=member`

But this is stuff is like a religion, everyone has an opinion.

[2015-03-09 18:20] weerd commented on #4128
@DeeZone lol. I think I'm slowly finding that out, haha.

[2015-03-09 18:34] mikefantini opened #4139 "fatal error on SMS games on staging"
![image](https://cloud.githubusercontent.com/assets/6330971/6561661/5e417e08-c669-11e4-8f50-80493d8ee52d.png)

[2015-03-09 18:35] mikefantini commented on #4139
tested on http://staging.beta.dosomething.org/campaigns/sms-campaign?source=node/1165

[2015-03-09 18:37] deezone opened #4140 "API password reset link is the wrong request type"
Currently `/users/[uid]/password_reset_url` is a POST request with empty POST values.
https://github.com/DoSomething/dosomething/wiki/API#get-password-reset-url

This should be:
- GET  `/users/[uid]/password_reset_url`

**Related**:
https://github.com/DoSomething/dosomething/issues/4128

[2015-03-09 18:38] aaronschachter commented on #4139
`dosomething_signup_get_mobilecommons_vars` no longer exists... https://github.com/DoSomething/dosomething/commit/8d776c32bd11f490f8bf00955bfdc449f12b8afa#diff-e0f8778f3c265a20340a22593a3776ffL56

[2015-03-09 18:39] aaronschachter commented on #4139
This error should occur when a user is logged in: https://github.com/DoSomething/dosomething/blob/v0.4.28/lib/modules/dosomething/dosomething_signup/includes/dosomething_signup.mobilecommons.inc#L24

[2015-03-09 18:44] itsjoekent commented on #4140
talked about this before with @aaronschachter -- since were supplying a UID and asking the server to generate a string I figured it was better to make it POST, since were not just getting something

[2015-03-09 18:51] DFurnes commented on #4140
Yeah, I agree this should be a `POST` since you're changing state on the server by creating a new password reset key. :+1:

[2015-03-09 18:54] deezone commented on #4140
So perhaps in an ideal RESTful world this could be:

POST `/users/password_reset_url` with `uid` being a POST value?

[2015-03-09 18:54] DFurnes commented on #4140
Aye.

[2015-03-09 18:59] weerd commented on #4140
@DeeZone Yeah, I was thinking that too. Plus, hides the users ID w/in the POST body if that's of any value...

[2015-03-09 19:00] sergiitk commented on #4139
On it.

[2015-03-09 19:00] itsjoekent commented on #4140
Hmm, well, you're doing an action for a specific UID

This is how Github does it for example: /gists/:id/star

[2015-03-09 19:09] #4139 closed, assigned to sergiitk

[2015-03-09 19:37] sbsmith86 opened #4142 "Update CTA pattern to work with three social media buttons"
Add facebook, tumblr, and twitter buttons to the CTA pattern and show them on the reportback confirmation page.

[2015-03-09 19:39] sbsmith86 opened #4143 "Allow users to share the permalink on the confirmation page."
- [x] Link up facebook sharing
- [x] Link up twitter sharing
- [x] Link up tumblr sharing

[2015-03-09 19:47] deezone commented on #4140
And thus the endless RESTful debate. "Github does it this way" is not a "pure" example. But whatever!

[2015-03-09 20:01] itsjoekent commented on #4140
Is there official documentation / resource that could answer this?

And bringing up the Github point was to show other API's do it this way, whether or not it's right is a different question

[2015-03-09 20:06] weerd commented on #4140
Nothing that I know of. I've been doing some reading on APIs as well as looking at others. There's some consistent patterns they mostly all follow, but have their own differences. But there is some useful advice to adhere to.

[2015-03-09 20:14] DFurnes commented on #4140
[JSON API](http://jsonapi.org) seems decently well-respected. It was put together by some big names in the Rails and Ember communities.

[2015-03-09 20:15] weerd commented on #4140
:+1:

[2015-03-09 20:16] itsjoekent commented on #4140
Based on that JSON API, since were doing a relationship this is technically correct

http://jsonapi.org/format/#fetching-relationships

[2015-03-09 20:20] aaronschachter opened #4145 "Can't authenticate with Chrome Postman"
The `seckit` module introduced in #3683 is blocking authenticating using Postman, outputting a watchdog message:

[code]

A dev can workaround this when developing locally by disabling the SecKit module `drush -y dis seckit`, but leaves us hanging when testing API authentication against stage or production.

Possible solutions:
- Find a different tool that SecKit likes
- Something else

cc @jonuy

[2015-03-09 21:26] itsjoekent commented on #4145
Not really familiar with CSRF attacks - what are they and why does seckit think this is one of them?

[2015-03-10 00:55] barryclark opened #4147 "Make all of the Tip fields required on the campaign template"
Re: https://trello.com/c/XAO9XYpa/30-step-three-merge-tag

Often campaigns team don't fill them out, resulting in the variable not being filled out correctly in transactional email messages.

![image](https://cloud.githubusercontent.com/assets/692762/6567484/83ec733a-c69e-11e4-8104-7412d96ce262.png)

@angaither is this quick to tackle?

[2015-03-10 12:59] jonuy commented on #4145
Other tools that seem to work in order of "ooo fancy" to "eh it works":
- [Paw](https://luckymarmot.com/paw)
- [cocoa-rest-client](https://code.google.com/p/cocoa-rest-client/)
- [Poster Firefox plugin](https://addons.mozilla.org/en-us/firefox/addon/poster/)

[2015-03-10 13:42] mikefantini commented on #4147
The fields to make required are:
- field_pre_step_header
- field_pre_step_copy
- field_post_step_header
- field_post_step_copy

[2015-03-10 15:00] #4138 closed, assigned to angaither

[2015-03-10 16:47] aaronschachter opened #4151 "Reportback API must support uploading files"
Investigating using base 64 encoded strings, similar to the Services's default File CREATE resource.

Planning on building this as extra data values to pass into the current `campaigns/:nid/reportback`, `file` and `filename`.  If neither exist, inspect the `file_url` for a given URL string (used by SMS Reportbacks)

cc @jonuy

[2015-03-10 16:56] angaither opened #4152 "Remove t-shirt code"
[there's quite a bit](https://github.com/DoSomething/dosomething/search?utf8=%E2%9C%93&q=shirt&type=Code)

[2015-03-10 16:57] angaither commented on #4095
Going to close this issue for now, since currently sms campaigns redirect to this campaign.

[2015-03-10 16:57] #4095 closed, assigned to angaither

[2015-03-10 17:08] angaither commented on #4143
twitter metatag

[code]

[2015-03-10 17:33] angaither commented on #4143
oh, nice [twitter has a validator](https://cards-dev.twitter.com/validator)

[2015-03-10 17:42] sbsmith86 commented on #4143
@angaither sweet! so are these things you would set on your end?

[2015-03-10 17:44] angaither commented on #4143
@sbsmith86 yeah, I'm working on the twittahz now.

[2015-03-10 17:57] aaronschachter commented on #4143
FYI @angaither I remember I had to submit our site to twitter to get the Cards working for campaign pages: https://github.com/DoSomething/dosomething/issues/1678#issuecomment-48954404

Unsure if we'll get Twitter Card Magic right off the bat or if there's anything else we'll need to submit.

[2015-03-10 18:01] angaither commented on #4143
[According to their docs](https://dev.twitter.com/cards/overview) it looks like we should be able to get the share card with just the meta tags. :pray:

[2015-03-10 18:21] jonuy commented on #4151
One potential area to be concerned about with using the base64 encoded method vs multipart is the memory it'll use. A photo that gets base64 encoded is gonna require at least its size and maybe more of additional space allocated on the client app.

Then you're also dealing with submitting the file in a single large payload. I might be wrong here, but for large enough payloads on slow enough connec

[2015-03-10 18:31] aaronschachter commented on #4151
Hm. I've been just trying to get anything up and running. postman seems to have a bug that doesn't allow you to actually submit a file when testing (https://github.com/a85/POSTMan-Chrome-Extension/issues/391), so i was able to finally get at least something working using the base64 in IOS and submitting the default File CREATE endpoint which expects the base64: http://cgit.drupalcode.org/services/

[2015-03-10 19:01] sbsmith86 opened #4153 "Handle display of solution fact/statement/supporting statement"
`If (fact) { print fact; }
elseif (statement) { print statement; }`

`if (supporting statement) { print supporting statement; }`

[2015-03-10 19:20] jonuy commented on #4151
Given the effort involved, it seems to make sense to just at least get the base64 encoded method of file uploads working for prototypes. We can find out later in mobile app dev if it'll actually be a problem, or just throw someone like drewish at it.

[2015-03-10 20:14] aaronschachter commented on #4151
Ok, I'll continue with that approach for now, as I'm close to finishing it. I think the other approach using Services would require 2 POSTS: One to create the file and get the resulting fid (using the Services `create_raw` resource , and then another POST to the `reportback` endpoint).

Using S3 seems like an option to keep in mind also (but not for this week).

[2015-03-10 20:48] mikefantini opened #4154 "non-owner permalink: button should read "SIGN UP" when it serves as pitch"
just making a note that once we update the non-owner permalink to serve as the actual campaign pitch page, we need to change the button copy from DO THIS to SIGN UP

[2015-03-10 21:47] angaither opened #4157 "Error on permalink pages with no FID"
URL: http://staging.beta.dosomething.org/reportback/1186
`Fatal error: Call to a member function getImageURL() on a non-object in /var/www/beta.dosomething.org/releases/20150310213454/lib/modules/dosomething/dosomething_metatag/dosomething_metatag.module on line 128`

[2015-03-11 00:15] aaronschachter opened #4158 "Reviewer role / Review reportbacks permission"
Create a new role to give to volunteers (or external developers) which grants access to review reportbacks.  Role name for suggestions... reviewer ? volunteer ? moderator ?

Also makes sense to potentially rename / refactor the `view any reportback` permission as `review reportbacks`
- Change Reviewer admin page access callback/args to check for `review any reportback`
- Change `reportback-files/:

[2015-03-11 14:19] mikefantini opened #4160 "updates to twitter card"
Refs: #4143

Currently looks like:
![image](https://cloud.githubusercontent.com/assets/6330971/6598051/609f65f6-c7d7-11e4-8c4d-ff1aa8a653bc.png)

**Copy changes needed**:
main copy should read "I made an ACTUAL difference about [issue] and you can too. Sign up for [campaign_title] now: [url]"

Also any idea why it's structured so differently from what @lkpttn had outlined?
![image](https://cloud.g

[2015-03-11 14:26] angaither commented on #4160
@mikefantini it should be set up like that card. It's supposed to be using  [that style](https://dev.twitter.com/cards/types/summary-large-image)

I pulled the copy from `Social copy on reportback permalink page.`  on the campaigns page, but it looks like that's not what you intended, so I will have to add another variable to that page.

[2015-03-11 14:30] mikefantini commented on #4160
ah yeah sorry @angaither that copy is for when we add shares to the confirmation page

should we add another field for "copy for social networks"?

[2015-03-11 14:31] angaither opened #4161 "Social share copy"
Add setting for facebook/twitter/tumblr social copy

[2015-03-11 14:32] angaither commented on #4160
done #4161

[2015-03-11 14:33] mikefantini commented on #4143
also this is what the shares should [look like on the various social networks](https://a0465d35-a-5d563b7e-s-sites.googlegroups.com/a/dosomething.org/dosomethinguxwiki/product-archive/sharing-reportbacks/Artboard%207.png?attachauth=ANoY7coZwhJgV1B1VbLH2RE2o_PBSlqqT8g8UXuRf8v1qnk5-vZdEDua685zJc3obaB9mwVkIPirBZyrBnGYwKaONHuECOYhG0ZepBYFp4Li1UGZHCZUeJ-rit2ihFFLq-Vlz5XqchOEOkTAZrNArZbF2LeMXQmERxFFE4F5

[2015-03-11 14:33] #4157 closed, assigned to angaither

[2015-03-11 14:34] mikefantini commented on #4160
sweet thanks!

[2015-03-11 14:44] deezone commented on #4058
@barryclark What's the progress on the template for the message to be sent to 26+ user registrations?

[2015-03-11 14:45] #3463 closed, assigned to mshmsh5000

[2015-03-11 14:45] #3511 closed, assigned to nobody

[2015-03-11 14:45] mshmsh5000 commented on #3404
All done!

[2015-03-11 14:45] #3404 closed, assigned to mshmsh5000

[2015-03-11 14:46] #3606 closed, assigned to barryclark

[2015-03-11 14:52] mikefantini commented on #4160
@angaither any idea why it's not using [this style](https://dev.twitter.com/cards/types/summary-large-image)?

[2015-03-11 15:07] sergiitk commented on #4111
@aaronschachter sounds right.

[2015-03-11 15:24] deezone commented on #4111
@sergii-tkachenko @aaronschachter
How to use String Overrides in this case? The original text is coming from
https://api.drupal.org/api/drupal/modules!user!user.pages.inc/function/user_pass_reset/7

[code]

How to add an override string that has dynamic content?

The goal is:

[code]

[2015-03-11 15:27] mikefantini opened #4162 "add feature flag for share language and CTA on confirmation page"
we don't want any of these to show until the Permalink - shares on confirmation page milestone is closed:
- Social header on reportback permalink page.
- Social copy on reportback permalink page.
- Social cta on reportback permalink page.
- Social buttons

![image](https://cloud.githubusercontent.com/assets/6330971/6599641/568197a6-c7e1-11e4-8343-ba1a2c5c2b2b.png)

[2015-03-11 16:21] aaronschachter commented on #4158
@mikefantini @barryclark The current Reviewer webform displays a user's email. The Reviewer app specifically does not.

Should this volunteer role be able to access user email? I'm thinking assuming not. Not sure if the Campaigns team ever uses the email address from within the Reviewer form..

[2015-03-11 18:13] mikefantini commented on #4158
yeah @aaronschachter i say no. if we end up seeing a good use case why we would need this we can always add it later, but I'd rather default to not displaying this to volunteer reviewers

[2015-03-11 19:52] #4151 closed, assigned to aaronschachter

[2015-03-11 19:55] aaronschachter commented on #4111
@DeeZone Anyone with admin access can change the text by adding it as a new entry to the admin ui per link above.

[2015-03-11 21:55] #4161 closed, assigned to angaither

[2015-03-11 22:25] aaronschachter opened #4167 "User Campaign Recommendations API endpoint"
Expose existing recommended campaign functionality in `dosomething_campaign` module as endpoint to provide x number of recommend campaigns for a given user.  Optionally pass a taxonomy term tid to filter by.

cc @DeeZone @barryclark

[2015-03-11 23:51] deezone commented on #4111
@aaronschachter Yes, I get that. My question is: What to do with text strings with tokens?

[code]

Would new String Override be:

[code]

Are tokens: `%expiration_date` supported in String Overrides?

I guess I could just try it and find out... :)

[2015-03-11 23:54] aaronschachter commented on #4111
Yeup @DeeZone that should be it.  You can tell what tokens are supported by looking at `t()` function in the original code as you're doing, so you should be in good shape with `expiration-date` since it's added as into the array of variables sent in the code.

just give it a shot on staging first :)

Also I believe you have to clear cache in order for the String Overrides to display.

[2015-03-11 23:57] aaronschachter opened #4168 "Add a Reportback File Source property"
Not urgent, but we should create a new varchar column on the `dosomething_reportback_file` to track the source of a Reportback File, and to give us device specific data.  Potential values:
- `sms`
- `iPhone`
- `iPad`
- `android`
- `web`

Although maybe we should store the browser info that we're sending to Zendesk here?  Or track specific iOS devices / operating systems, etc?

Def could use some i

[2015-03-12 00:09] aaronschachter commented on #4167
Worth noting that we'll also want endpoints for a user's "doing" campaigns (signed up but not reported back) and potentially "completed" campaigns... although technically that's kinda just a query for the user's reportbacks..

[2015-03-12 06:14] deezone commented on #4167
+1 for the User Campaign Recommendations API endpoint, a fantastic addition for the Digest and Report Back MB messages.

There's existing functionality in MB for user's "doing" campaigns and "completed" campaigns. Both key functionality in the Digest message generation process. Perhaps there's value in the for the Drupal app but MB, use of such endpoints is unlikely.

[2015-03-12 16:37] #4162 closed, assigned to angaither

[2015-03-12 16:47] angaither commented on #4160
@mikefantini
the tokens you will need to enter in the `social network share copy` are
`[node:title]` `[node:issue]` the url will be added to the end of the text automatically

[2015-03-12 18:07] angaither commented on #4160
Updated the card
the text your card will look something like this will be replaced with the tweet text

![](http://cl.ly/image/3K313k0F2Q2o/Screen%20Shot%202015-03-12%20at%202.04.35%20PM.png)

[2015-03-12 18:07] angaither commented on #4160
Fixed with #4169

[2015-03-12 18:23] aaronschachter commented on #4110
... or if this is potentially a job for a SOLR API query, which @mshmsh5000 had mentioned potentially setting up for querying Reportbacks by as well.  Food for thought re: our API discussion today.

[2015-03-12 20:37] sbsmith86 commented on #4142
Closed with #4169

[2015-03-12 20:37] #4142 closed, assigned to sbsmith86

[2015-03-12 20:44] sbsmith86 opened #4173 "Add bottom border back on social cta module"
I originally removed the bottom border so that blue hover background on the social media buttons would go right to the edge, but if the text in the card is to short it creates this effect:

![image](https://cloud.githubusercontent.com/assets/1700409/6627764/f1cdcf7c-c8d6-11e4-9705-78333bfe475a.png)

So, I need to add it back.

[2015-03-12 21:31] #4153 closed, assigned to sbsmith86

[2015-03-12 21:31] #4173 closed, assigned to sbsmith86

[2015-03-12 21:35] sbsmith86 commented on #4143
Pull requests #4171 #4169 #4172  should take care of sharing on all three platforms, but don't want to close this out without some more testing.

[2015-03-13 14:24] sbsmith86 opened #4175 "Add og:description meta tag"
Create an og:description metatag with the campaign CTA language.

[2015-03-13 14:24] angaither opened #4176 "Update issue in permlink share copy"
@mikefantini says

@lkpttn  says

[2015-03-13 14:25] sbsmith86 opened #4177 "Add link to the reportback in the tumblr share text"
Need to append the link to the reportbact in the tumblr share language.

[2015-03-13 14:46] sbsmith86 opened #4178 "Remove solution supporting text"
Remove the solution supporting language from the bottom of the non-owners permalink page.

[2015-03-13 15:05] #4175 closed, assigned to sbsmith86

[2015-03-13 15:05] #4177 closed, assigned to sbsmith86

[2015-03-13 15:05] #4178 closed, assigned to sbsmith86

[2015-03-13 15:09] angaither opened #4181 "Token replace social share variable"
from @mikefantini

[2015-03-13 15:14] mikefantini opened #4183 "use secondary call to action above Do It button on non-owner permalink page"
Text above the button should pull from field_secondary_call_to_action

![image](https://cloud.githubusercontent.com/assets/6330971/6641080/f8db8d2c-c971-11e4-86e2-44fa55d8d504.png)

[2015-03-13 15:31] #4183 closed, assigned to sbsmith86

[2015-03-13 15:41] jonuy opened #4185 "SMS game webform accepts player names"
Currently, the SMS game webform takes an alpha name, alpha number, and 3 beta numbers. We want to run tests that allow for alphas to also include their friends' names.

I think the two main things that need to be done are:
- Modify request to POST to /sms-multiplayer-game/create with 3 additional parameters: `beta_first_name_0`, `beta_first_name_1`, and `beta_first_name_2`
- Setup in Optimizely so

[2015-03-13 15:42] mikefantini opened #4186 "RB header gallery default to off"
we're going to be testing the efficacy of this via optimizely, so we'll want to default this to be turned off across the site and then via optimizely we will toggle the gallery on.

we'll then be able to see how much of an impact it has on conversion rate

[2015-03-13 15:53] aaronschachter commented on #4185
Refs (duplicates?) #3568

[2015-03-13 15:54] #4176 closed, assigned to angaither

[2015-03-13 15:55] #4181 closed, assigned to angaither

[2015-03-13 16:00] jonuy commented on #4185
oh yuppp totally a duplicate

[2015-03-13 16:00] #4185 closed, assigned to DFurnes

[2015-03-13 16:07] weerd opened #4187 "Retrieve reportback data for header image gallery."
Get 4 promoted reportbacks for the header gallery, with appropriate fallbacks.
- [x] get 4 promoted reportbacks
- [x] if not enough promoted, fallback to approved reportbacks
- [x] if new campaign or no reportbacks, don't show the gallery

[2015-03-13 16:08] weerd opened #4188 "Style header gallery images"
Add rotation transform for each image, either by adding a class or using an `nth` child approach.

[2015-03-13 20:44] angaither opened #4190 "Redirect to action page after signup"
After a user signs up from a permalink, the user should be redirected to the campaign action page

[2015-03-13 20:45] #4160 closed, assigned to nobody

[2015-03-13 20:54] #4143 closed, assigned to nobody

[2015-03-13 21:11] mikefantini opened #4192 "original photo shows on confirmation page if user just updates submission w/o new photo"
steps to recreate:
- report back
- update your submission w/ a new photo
- update your submission a third time w/o a new photo

Do this and the original photo shows, which is slightly confusing. If this is more than like an hour to fix let's leave it, but if it's a quick fix, let's do it.

[2015-03-13 21:20] sbsmith86 commented on #4192
@mikefantini @angaither This is sorta related to the issue I brought up in stand up about viewing a reportback and seeing the orginal file. You need to append the fid to the url to see the right one. So I _think_ this might be a bender task.

[2015-03-13 21:21] angaither commented on #4192
@mikefantini I just tried to replicate this and it worked as expected for me.
everytime you submit it should redirect you to the permalink page with the updated file id at the end. Perhaps the url you were looking at was without a query string?
If you view the reportback without a query string in it and have more than one image, it grabs the first image you submitted.

If _that_ needs to change it

[2015-03-13 21:27] sbsmith86 commented on #4192
@angaither Maybe it was becaues he updated the reportback without updating the image, so there was no new file id to append?

[2015-03-13 21:28] angaither commented on #4192
ahhhhhhhhh yes

[2015-03-13 21:29] angaither commented on #4192
@mikefantini So, would it make more sense to pull the most recent item submitted by default?

[2015-03-13 21:31] mikefantini commented on #4192
@angaither yeah I'd prefer to do that if it's easy enough.

[2015-03-13 21:31] angaither commented on #4192
:+1:

[2015-03-13 21:35] #4192 closed, assigned to nobody

[2015-03-13 21:40] mikefantini opened #4194 "anchor buttons to the bottom of the permalink"
![image](https://cloud.githubusercontent.com/assets/6330971/6647696/914aa770-c9a7-11e4-90ef-797e8f4f3873.png)

![image](https://cloud.githubusercontent.com/assets/6330971/6647711/b3b3a51e-c9a7-11e4-8001-22d16dbd1198.png)

[2015-03-13 22:15] mikefantini opened #4195 "add coupons as a shipment item on the campaign signup data form"
![image](https://cloud.githubusercontent.com/assets/6330971/6648171/f6fc3b38-c9ac-11e4-8562-b0e30bcb504a.png)

[2015-03-13 22:27] mikefantini opened #4196 "share cta region runs over on mobile"
iphone 5:

![image](https://cloud.githubusercontent.com/assets/6330971/6648293/970f9a10-c9ae-11e4-8f8c-c160f97bdbd6.png)

[2015-03-16 16:21] angaither opened #4197 "Permalink sign up button should also work for un-authenticated users"
Currently the signup is only created if the user is signed in, because only the markup for the modal link is returned with `dosomething_signup_get_signup_button`

[2015-03-16 16:29] aaronschachter opened #4199 "Stripe Form errors"
Per https://rpm.newrelic.com/accounts/108038/applications/3268309/traced_errors/2966805580

[code]

[2015-03-16 17:57] aaronschachter commented on #4199
My login for Stripe is indicating that our account is still in test mode and needs to be verified.

[2015-03-16 17:59] #4196 closed, assigned to sbsmith86

[2015-03-16 18:16] mikefantini opened #4202 "signup data form styling is off on campaign template"
see http://staging.beta.dosomething.org/campaigns/comeback-clothes

![image](https://cloud.githubusercontent.com/assets/6330971/6673072/f78c6e7e-cbe6-11e4-8f43-fd384296ed25.png)

[2015-03-16 18:24] angaither opened #4203 "Permalink page error in metatag module"
`Fatal error: Call to a member function getImageURL() on a non-object in /var/www/vagrant/lib/modules/dosomething/dosomething_metatag/dosomething_metatag.module on line 128`

http://staging.beta.dosomething.org/reportback/685

[2015-03-16 18:28] angaither commented on #4203
That specific reportback has no fids.

[2015-03-16 18:56] aaronschachter commented on #4203
This scenario will happen when a Reportback has been flagged and we need to delete the image associated with it.

[2015-03-16 18:59] aaronschachter commented on #4199
We are not specifying a specific commit or release in our makefile when we pull from the Stripe PHP library:
https://github.com/DoSomething/dosomething/blob/v0.4.39/lib/profiles/dosomething/drupal-org.make#L272
which could be the problem.

Locally, changing `Stripe::setApiKey($api_key);` to `Stripe\\Stripe::setApiKey($api_key);` stops the "Stripe not found" error from happening, https://github.com

[2015-03-16 19:01] aaronschachter commented on #4199
Also a heads up that this is where we add Stripe JS `drupal_add_js('https://js.stripe.com/v2/');`; https://github.com/DoSomething/dosomething/blob/v0.4.39/lib/modules/dosomething/dosomething_payment/dosomething_payment.module#L85

[2015-03-16 19:02] sbsmith86 opened #4204 "Update twitter link on permalink share"
should follow the format `https://twitter.com/intent/tweet?text=I+made+an+ACTUAL+difference+about+school+stress+and+you+can+too.+Sign+up+for+Hunt+Day+1%3A+%23SuperStressFace+now%3A+http%3A%2F%2Fdev.dosomething.org%3A8888%2Freportback%2F900%3Ffid%3D2620`

[2015-03-16 19:13] angaither commented on #4203
@aaronschachter The two particular cases one is 'approved' and the other is 'excluded' both still have the image in the admin section.

What's odd is in `dosomething_reportback_view_entity` the entity loads fine, with the fid(s) however in the metatag module I'm using `reportback_load(id)` and it doesn't load any fids, this doesn't seem to be the case for all reportbacks though

[2015-03-16 19:29] #4204 closed, assigned to sbsmith86

[2015-03-16 19:40] #4199 closed, assigned to nobody

[2015-03-16 19:55] mshmsh5000 opened #4208 "StatHat coverage for donations"
1. Simple counter for each successful donation submission
2. Incrementing value for total donations collected

The first will be a health check for this integration in production. The second will be gravy, but worth tracking.

[2015-03-16 20:23] mikefantini opened #4209 "updates to mobile confirmation page"
- [ ] add in Social cta on reportback permalink page.
- [ ] remove Social header on reportback permalink page.
- [ ] remove Social copy on reportback permalink page.

[2015-03-16 20:28] sbsmith86 commented on #4209
Just to make sure I got it. @mikefantini
- Show the current social cta that is displaying on desktop on mobile as well
- Remove "Tell your friends" social header ?
- Remove "Get social with social action! Share your photo and impact with friends, and invite them to sign up for Hunt Day 1: #SuperStressFace."

[2015-03-16 20:36] mikefantini commented on #4209
@sbsmith86
- yes
- yes, just remove this from mobile
- yes, just remove this from mobile

[2015-03-16 20:41] mikefantini opened #4210 "FB window should close after I post"
When sharing from the confirmation page, the FB window should close after I post to FB. This is how it works when I share from Twitter.

Currently, the window is staying open and reloading the permalink page after I post to FB. So I then have two windows (or two tabs on mobile) of the permalink page.

This then causes further issues if I try to share on another social channel after I share on FB (

[2015-03-16 21:29] mikefantini opened #4213 "styling off on Do It Tips in IE 8"
![image](https://cloud.githubusercontent.com/assets/6330971/6676928/f296ff68-cc01-11e4-9ffb-25017ffb03af.png)

[2015-03-16 21:35] weerd opened #4214 "With new environment PHP throwing 'illegal string offset' error"
![errors](https://cloud.githubusercontent.com/assets/105849/6677022/c3eb8b9c-cc02-11e4-960e-429c1871f013.png)

Need to check for value existing and if so then assign it, otherwise default due to plain text values for some fields.

[2015-03-16 22:09] sbsmith86 opened #4216 "IE8 share bug"
IE8 doesn't like that we have a variable named `top` in our small script that allows use to open the share links in a pop up window. So I need to rename that variable in order to get the pop up script to work.

Nice little read up on variable names you shouldn't use http://www.nczonline.net/blog/2007/06/03/javascript-variable-names-you-shouldn-t-use/

[2015-03-16 22:24] #4214 closed, assigned to weerd

[2015-03-17 14:52] #4216 closed, assigned to sbsmith86

[2015-03-17 14:57] angaither opened #4218 "Access permalink share page from user profile"
Admins currently have a link to the admin view, that should remain, but for a user it should be replaced with the link to the public facing permalink

[2015-03-17 15:00] angaither opened #4219 "Admins should see a link to admin permalink page from gallery"
admins viewing images in the gallery should be able to clickthrough to reportback permalink to exclude/flag the image

[code]
- [x] add link for gallery items output via PHP
- [x] add link for gallery items inserted via AJAX when viewing more.

[2015-03-17 15:16] sergiitk opened #4221 "Enable hooks/pre-commit in git subsystem using DS script"
1. Link the script to .git folder:
   `ln -s hooks/pre-commit .git/hooks/pre-commit`
2. Process errors: when file exists, directory doesn't exist, etc.

[2015-03-17 15:37] mikefantini commented on #4210
@sbsmith86 just went through the FB share flow on buzzfeed and it has the behavior we are looking for here.

[2015-03-17 15:41] #4195 closed, assigned to aaronschachter

[2015-03-17 15:43] #4203 closed, assigned to angaither

[2015-03-17 15:51] angaither opened #4223 "Reportback entity is not properally loaded in preprocess_page"
The reportback entity loads properly within the `__construct` function, however when it's in a `hook_preprocess_page` it is missing any fids associated with it

two dpms, one from the end of `__construct` and the other inside `dosomething_metatag_get_permalink_vars`
![](http://cl.ly/image/1C072q3r0H3u/Screen%20Shot%202015-03-16%20at%205.06.34%20PM.png)

I've tried typecasting the rbid as an int be

[2015-03-17 16:15] #4202 closed, assigned to DFurnes

[2015-03-17 17:01] aaronschachter opened #4225 "Should updated quantity mean re-reviewing a reportback?"
Currently I believe a User can update their Reportback Quantity to something outrageous after it's been reviewed.

Do Reportbacks need to be set to `pending` upon each update?

This is a question that has come up in spec'ing out the Mobile App but is really around the overall Product logic.

cc @marahml @jonuy

[2015-03-17 17:27] mikefantini commented on #4225
We talked about this when we originally built the reviewer stuff and I honestly can't remember why we didn't go this route, but it makes sense to me to set it to pending after it's been updated.

[2015-03-17 18:46] angaither commented on #4208
currently this repo doesn't have Stathat support, as most of the things are being logged in stathat are being done by message broker, but I think @weerd was looking into this for image cropping errors.

It would be nice to add Stathat tracking into this repo, (huge bummer it's just a php include file)
I'm wondering if there's something like Rules only, better that is an easy way to do event based

[2015-03-17 18:47] weerd commented on #4208
@angaither I hadn't started it yet. It was a low priority issue at the time and doesn't look like I'll be jumping on it the near future, so not much insight I can provide here :\

[2015-03-17 19:39] sbsmith86 commented on #4210
@mikefantini : so i have a fix for the fb/window issue going to staging. It doesn't look like we are going to be able to easily close the popup window on mobile but it does on desktop. However, I made an update that opens a new window everytime one of those social buttons are pressed so that we don't run into the issue where the window doesn't seem to open when going back to share on another netwo

[2015-03-17 19:44] mikefantini commented on #4210
got it thanks @sbsmith86. I'll play with it and let you know if I have any adjustments, but what you described sounds like a smart solution

[2015-03-17 20:09] mikefantini opened #4229 "Signup Reason and Signup Reason Label alignment is off on signup data form"
related to #4202 Signup Reason and Signup Reason Label is still a bit off

![image](https://cloud.githubusercontent.com/assets/6330971/6696393/67fc5880-ccbf-11e4-83aa-dea47f209dc5.png)

![image](https://cloud.githubusercontent.com/assets/6330971/6696416/9debe0b4-ccbf-11e4-8877-60044613b5dd.png)

[2015-03-17 20:09] mikefantini commented on #4229
see http://staging.beta.dosomething.org/node/1173/custom-settings as an example

[2015-03-17 21:03] DFurnes commented on #4229
:sob:

[2015-03-17 21:04] mikefantini commented on #4229
ha sorry @DFurnes

[2015-03-17 21:07] #4209 closed, assigned to sbsmith86

[2015-03-17 21:20] #4115 closed, assigned to nobody

[2015-03-17 21:20] #4154 closed, assigned to nobody

[2015-03-17 21:20] #4190 closed, assigned to angaither

[2015-03-17 21:27] mshmsh5000 commented on #4208
Well, there's [this](https://www.drupal.org/project/stathat). Created by @aaronschachter, you might know him.

[2015-03-17 21:28] angaither commented on #4208
well well well

[2015-03-17 21:30] aaronschachter commented on #4208
Right now that module only supports EZ Stats but i am happy to make others co-contributors on d.o to help build out the non ez stats !

[2015-03-17 21:30] angaither commented on #4208
These guys would just be EZ stats, as well... right?

[2015-03-17 21:33] angaither commented on #4197
Fixes with #4198

[2015-03-17 21:33] #4197 closed, assigned to angaither

[2015-03-17 22:32] aaronschachter opened #4230 "API endpoint to retrieve all User activity"
Allow endpoint `users/:uid/activity` to return all Signup/Reportback entities for the given uid.

Refs https://github.com/DoSomething/slothkit.objc/issues/7 for functional User Profile

[2015-03-17 22:42] aaronschachter commented on #4145
@jonuy for the win

[2015-03-17 22:42] #4145 closed, assigned to nobody

[2015-03-17 23:11] aaronschachter commented on #4225
It may have just been for simplicity sake, to get functional for v1.0.

The complexity here is each Reportback Item has its own status (`pending`, `approved`, `promoted`, `excluded`, `flagged`), but currently a Reportback only has a `flagged` integer property, which defaults to 0, and is set to 1 whenever one the Reportback's Items have been flagged.

So we currently don't have a way to set the Re

[2015-03-17 23:19] aaronschachter opened #4232 "User registration API endpoint"
Currently no way for a user to register and login in one request.

This issue is turn on default Services user register resource and provide examples in API wiki.  The other alternative would be to post to the custom `users` endpoint we use when importing users, and then post a second request to the `auth/login` endpoint.

Refs https://github.com/DoSomething/slothkit.objc/issues/5

[2015-03-18 15:20] mikefantini opened #4234 "remove social header/copy fields from DoSomething campaign config"
- [ ] Social header on reportback permalink page.
- [ ] Social copy on reportback permalink page.

cc: @sbsmith86 @lkpttn

[2015-03-18 15:31] mikefantini opened #4235 "truncate why_participated text on owner permalink"
if why_participated is >250 characters, truncate it at 250 and display "Show More" to load in the remaining text

use same Show More style as we have on taxonomy collections and finder

[2015-03-18 15:44] sbsmith86 commented on #4234
These lines just need to be removed for frontend cleanup. https://github.com/DoSomething/dosomething/blob/dev/lib/themes/dosomething/paraneue_dosomething/templates/reportback/reportback-permalink.tpl.php#L65-L68

[2015-03-18 16:31] #4218 closed, assigned to angaither

[2015-03-18 16:31] #4234 closed, assigned to angaither

[2015-03-18 16:37] aaronschachter opened #4238 "Signups API endpoint"
New API endpoint needed for Mobile app prototyping.  required functionality:
- Post a signup with only a UID and a given source. If the given source is a signup entity e.g. `signup/123` then load Signup 123 and find its corresponding campaign nid. Endpoint should create the signup recordfor the given UID and the source's nid.
- GET all signups with a given source. e.g. GET `signups?source=signup/1

[2015-03-18 18:10] angaither commented on #4219
@weerd since you are already doing refactoring on the gallery, do you think you can add this to your stuff?

[2015-03-18 18:23] #4230 closed, assigned to aaronschachter

[2015-03-18 21:05] #4194 closed, assigned to sbsmith86

[2015-03-18 21:12] aaronschachter commented on #4238
Sample request:
`http://dev.dosomething.org:8888/api/v1/signups.json?parameters[source]=signup/54`

Output:
[code]

[2015-03-18 22:30] aaronschachter commented on #4238
@angaither Here is a screenshot of the scene from Mobile App wireframes which may help visualize #4243. Note that the User is not viewing a campaign at all, the code that the user enter will automatically sign the user up for whatever campaign the code is for.

![screen shot 2015-03-18 at 3 28 33 pm](https://cloud.githubusercontent.com/assets/1236811/6720773/8e20162c-cd83-11e4-82a5-cea20885b0c0.pn

[2015-03-19 00:12] angaither commented on #4238
@aaronschachter ahh, yes that helps

[2015-03-19 14:21] sergiitk opened #4244 "PHP 5.5 Illegal string offset warnings"
[code]

![image](https://cloud.githubusercontent.com/assets/672669/6732340/d7733c16-ce53-11e4-96eb-d2c95434beab.png)

[2015-03-19 14:22] sergiitk commented on #4244
As discovered, warnings are reproduced by rendering `page_bottom` template.
Tested by commenting

[code]

in `template_process_html()`.

[2015-03-19 14:26] sergiitk commented on #4244
Looks like this happens when `$page['page_bottom']` is overridden manually in [`paraneue_dosomething_page_alter()`](https://github.com/DoSomething/dosomething/blob/dev/lib/themes/dosomething/paraneue_dosomething/template.php#L107).
CC @DFurnes

[2015-03-19 15:00] mikefantini commented on #4210
@sbsmith86 - weird so the window is now closing on desktop but not on mobile

is the intended experience that I stay on FB on mobile vs. being taken back to DS? I could see either making sense, but I guess it makes more sense to have one window stay open of DS and one window remain on FB if we can't close that second one out.

[2015-03-19 15:04] sbsmith86 commented on #4210
@mikefantini yea so, I can't get the second window to close on mobile without some real hackery. So the user would have to go back to the original tab, but since each share button opens a new window they shouldn't have an issue sharing on a different network if they choose.

[2015-03-19 15:04] angaither opened #4246 "Permalink cache clear"
Clear cache on permalink update, for that specific reportback

[2015-03-19 15:08] #4244 closed, assigned to sergiitk

[2015-03-19 15:28] #4238 closed, assigned to aaronschachter

[2015-03-19 15:44] #4210 closed, assigned to sbsmith86

[2015-03-19 17:16] #4116 closed, assigned to angaither

[2015-03-19 17:39] #4246 closed, assigned to angaither

[2015-03-19 18:22] weerd opened #4252 "Clean Slate command in Admin does not update the reportback count"
When using the Admin command to **Clean Slate** for a campaign (or user?), the reportback count for a campaign does not update properly and still refers to the old count, which will throw off visual/code testing of reportback gallery ending up with a seemingly empty reportback gallery:

![image](https://cloud.githubusercontent.com/assets/105849/6737632/39a6d8c2-ce43-11e4-9758-a3ce8853f458.png)

Ne

[2015-03-19 18:39] mikefantini opened #4254 "URL alias not maintained when registering from permalink"
maintain url alias when registering for DS from a permalink

to reproduce:
- go to permalink page as an anonymous user
- click sign up
- register as a new user

![image](https://cloud.githubusercontent.com/assets/6330971/6738026/b479cbac-ce45-11e4-9918-38769fa50961.png)

[2015-03-19 18:41] mikefantini opened #4255 "logged in users don't get signed up for campaign from permalink"
Steps to reproduce:
- go to permalink as an authenticated user who _isn't_ already signed up for the campaign
- click sign up

If the user _is already signed up_ for the campaign, the functionality works as expected.

[2015-03-19 18:46] #4229 closed, assigned to DFurnes

[2015-03-19 18:49] sbsmith86 opened #4256 "Add 480x480 scale and crop image style"
- [x] Add a new 480x480 scale and crop from the center image style
- [x] Use the new image style when display reportback images on the permalink page.

[2015-03-19 18:57] #4235 closed, assigned to sbsmith86

[2015-03-19 19:38] #4187 closed, assigned to weerd

[2015-03-19 20:26] #4256 closed, assigned to angaither

[2015-03-19 20:31] mikefantini opened #4261 "change cta on non-owner permalink if campaign is closed"
example: https://www.dosomething.org/reportback/57008

logic should go something like this:

if campaign is closed, then on non-owner permalink:
- CTA should read "Tackle a campaign to make the world suck less."
- button should read "Explore Campaigns"
- button should link user to /campaigns (instead of signing them up for the campaign)

[2015-03-19 20:31] angaither commented on #4261
@mikefantini do we need a new variable for this?

[2015-03-19 20:32] mikefantini commented on #4261
copy variable?

[2015-03-19 20:32] angaither commented on #4261
that's the type, for the CTA

[2015-03-19 20:35] mikefantini commented on #4261
ok yeah let's add two:
1. CTA
2. button copy

[2015-03-19 21:17] angaither commented on #4255
The contents of the entire permalink page are`cache_set` as html, this was causing the `dosomething_signup_form` and the `login`||`signup` form to not respond.
Maybe we can try adding that in with JS?
Or perhaps we need to set the cached data to a serialized array of all of the vars that are loaded and still call the theme function on the variables.

[2015-03-19 21:46] mikefantini opened #4263 "need to know % of users who share from confirmation page"
@angaither assigning to you for now since you sit closest to both data and engineering

[2015-03-20 15:21] #4261 closed, assigned to angaither

[2015-03-20 15:41] #4254 closed, assigned to angaither

[2015-03-20 17:31] aaronschachter opened #4269 "Tracking Signups by School"
Nothing urgent, but I thought of this today and it would be good to document.

Teens For Jeans is the only campaign we've had where we ask for a User's school in the Signup Data Form. The Signup Data Form currently writes the School iD to the User's `field_school_id`.  We tracked School Signups by querying on this field.

This won't fly for when we want to re-run Teens For jeans, or if we ever wan

[2015-03-20 18:52] #4263 closed, assigned to angaither

[2015-03-20 18:53] mikefantini commented on #4252
making this a low priority because this will only ever occur on staging.

[2015-03-20 19:17] #4186 closed, assigned to weerd

[2015-03-20 19:17] #4188 closed, assigned to weerd

[2015-03-20 20:22] mshmsh5000 commented on #4208
@angaither I see the implementation of the first one, but not the second (running total of donations). Is that not in the plan right now?

[2015-03-20 20:28] angaither commented on #4208
@mshmsh5000 you mean the actual value we've gotten?

[2015-03-20 20:45] mshmsh5000 commented on #4208
Yes! Like, if someone donates $5, we separately (a) record the singular donation event and (b) increment a total by $5.

[2015-03-20 22:22] aaronschachter commented on #4110
If we need to / can get RESTful up and running to handle Reportback / Reportback Item / File posting, and also relevant Reportback Items by Campaign, #4260 would provide a very easy solution to improving our `/campaigns` endpint.

[2015-03-23 14:09] #4255 closed, assigned to angaither

[2015-03-23 14:33] weerd commented on #4219
Yes. Yes I can!

[2015-03-23 16:22] #3568 closed, assigned to DFurnes

[2015-03-23 16:23] DFurnes commented on #3568
@jonuy @Bladt See PR #4247 for details on Optimizely script.

[2015-03-23 16:24] DFurnes commented on #4135
Closed by [Neue release v6.2.2](https://github.com/DoSomething/neue/releases/tag/v6.2.2).

[2015-03-23 16:24] #4135 closed, assigned to DFurnes

[2015-03-23 17:30] angaither opened #4276 "User login events > northstar"
Send user login events into Northstar, either via api.ds.org or directly into northstar

[2015-03-23 18:25] aaronschachter opened #4277 "Refactor Signup by promo code"
Move logic for Signup by Source (#4243) into the Signup entity save function, to be re-used by them all

[2015-03-23 18:27] aaronschachter commented on #4277
This GET signups by source can also be completely removed if we add RESTful module #4260

[2015-03-23 18:44] mikefantini commented on #4219
@angaither @weerd should we keep this open until admins can change status from _all campaigns_ not just ones in the promoted 6?

[2015-03-23 19:27] weerd commented on #4219
Sure. Working on it next, so should be able to close soon :)

[2015-03-23 20:03] mikefantini opened #4278 "sign up button too close to copy on small screens"
![image](https://cloud.githubusercontent.com/assets/6330971/6789314/bee0f416-d175-11e4-9d75-d21d2585195b.png)

cc: @lkpttn

[2015-03-23 21:13] angaither opened #4279 "Add guzzle http library"
[this](http://docs.guzzlephp.org/) will be used for sending Northstar requests
Refs #4276

[2015-03-23 21:30] #4219 closed, assigned to weerd

[2015-03-24 14:30] angaither opened #4281 "Add helper variable for campaign goal"
New field on the campaign node - the goal of x things y'ed

[2015-03-24 14:30] angaither opened #4282 "Add helper variable progress to campaign"
this field displays the total progress of the number of x things y'ed

if left blank, use the total number of approved reportback quanity goes there
otherwise, use the number in the new total progress field

once a new reportback is approved, add to the progress value set in the campaign node (if it's overridden we are adding to that overridden value)

[2015-03-24 14:41] sergiitk opened #4283 "Normalize Solr cores naming"
Now for US it's meaningless `collection1`, and country name for international affiliates.

[2015-03-24 15:08] aaronschachter commented on #4281
Is this an integer field?

I know we want to build simple -- but there are some other questions that come to mind that it'd be good to document answers for:
- Assuming it's a number, and it changes overtime, do we need to display the new goal and the old goal?
- Does this just get reset if a campaign has a second run?  Does the value need to be copied over to the archived Campaign Run ?

[2015-03-24 15:09] angaither commented on #4281
Yeah, there's some questions right now if this should be added to the campaign run, instead of the campaign, as each run will have different goals.

[2015-03-24 15:12] angaither commented on #4281
It's unclear if we want to add this to the campaign, and port it over to the run as it closes, or if each campaign has to start with a run, and I think that's a larger conversion we need to have when the campaign phases work gets ironed out.
cc @mikefantini

[2015-03-24 15:13] aaronschachter commented on #4281
Yup was just typing the same thing about the current process (how we don't start with a run).  Just to document: Is current plan to build it as an integer field, storing the total quantity?

[2015-03-24 15:18] angaither commented on #4281
yes, the plan for now is to have this as an int on the campaign itself. same thing with the progress field
#4282

I think we will find that this solution won't work with all the phase/timing stuff, but I adding it to the run right now (without a lot of stuff ironed out) would be a bit to over-engineer-y

[2015-03-24 15:20] aaronschachter commented on #4281
Yup, sounds easy enough to migrate the values or just completely drop the single field later.

[2015-03-24 15:27] aaronschachter commented on #4282
@angaither FYI that we're using `dosomething_helper_variables` to store the current Reportback count by status of each Campaign and Cause's. This issue is also really similar to #4051 which is an open issue to store current count of Signups, which suggests also using the helper variables or @mshmsh5000 mentions storing it in Redis in that thread.

Fields could work here, it would just be a differe

[2015-03-24 15:27] aaronschachter commented on #4282
This is also perhaps a duplicate of #3899 ?

[2015-03-24 15:35] angaither commented on #4282
Ah, yes. it does look like a dup of #3899, however this need to be able to potentially be override, like the totals in a campaign run.

[2015-03-24 15:57] aaronschachter opened #4284 "Discussion - building and maintainence of our Drupal API"
Opening this issue to document the work that's been done in the DS API module thus far, and as a conversation thread for open questions and issues.
## In the beginning

The first use we had for an endpoint was for the Email Digest to access various properties from a Campaign, such as the Cover Image and Call to Action.

Out of the box, the Services module can be used to GET a node, but it returns

[2015-03-24 16:57] aaronschachter commented on #4282
My $0.02 is that we should keep the build simpler by simply not allowing overrides.

If that's not an option, we could always build an edit form for the Helper variables, to avoid storing all this stuff in fields.  Keeping in fields has its pros and cons but I think the biggest con would be a frequent `node_save`.

[2015-03-24 17:00] angaither commented on #4282
The case for overrides comes from campaigns with external partners, where we hear count numbers higher than than what we have in the rb_quanitity, like H&M reports we got 30K more pounds of clothes, but only 10k was reported back to us.

[2015-03-24 17:04] aaronschachter commented on #4282
Ah, I see. Thanks for clarifying / documenting!  Those are the sort of scenarios where it can be easy to forget why we built something a certain way when we look back at it in the future :watch:

[2015-03-24 17:08] mikefantini opened #4286 "& isn't showing properly in captions"
https://trello.com/c/s2PgyHlH

earliest we're able to confirm as working was 3/13. seems to have broken shortly after that

Hilary estimates about 15% of reportbacks are using this for Comeback Clothes and it would look good for sponsor to be able to promote these.

[2015-03-24 17:09] mikefantini commented on #4286
potentially related to https://github.com/DoSomething/dosomething/issues/3704

[2015-03-24 17:11] mikefantini commented on #4286
http://staging.beta.dosomething.org/reportback/676?fid=2684 confirms that apostrophes are working, but & seems to be causing issues.

not sure about other special characters

[2015-03-24 18:07] angaither commented on #4286
Refs #4098

[2015-03-24 18:08] angaither commented on #4286
@sergii-tkachenko @aaronschachter I've fixed (locally) this in the permalink by using `filter_xss` instead

@mikefantini are there other places this is broken other than the permalink right now?

[2015-03-24 18:12] sergiitk commented on #4286
@angaither Sounds good.

[2015-03-24 18:31] mikefantini commented on #4286
sorry @angaither I put this on the pr but can you check if it's breaking in the gallery as well (showcase + step 4)?

[2015-03-24 18:57] #4286 closed, assigned to angaither

[2015-03-24 19:17] sbsmith86 opened #4288 "Add signup count to pitch page"
Add "Join [signup_count] people doing this" as the CTA above the signup button on the bottom of the pitch page. Allow optimizely to target the CTA so we can show/hide the CTA with social count for testing.

[2015-03-24 19:19] angaither commented on #4288
Refs #4051

[2015-03-24 20:22] sbsmith86 commented on #4051
@aaronschachter Do we need to do this one before #4288 ? That issue is really just for optimizely testing at the moment.

[2015-03-24 20:41] barryclark opened #4289 "Homepage member counter error handling"
As discussed in #realtime-apps, have a fallback in place that assures that the homepage member counter never shows a count < 1.

[2015-03-24 21:09] sergiitk opened #4290 "Reindex Solr after ds pull stage"
Extend ds script: reindex solr after pulling the database from staging.

[2015-03-24 21:19] angaither commented on #4279
Fixed with #4285

[2015-03-24 21:19] #4279 closed, assigned to angaither

[2015-03-24 21:24] sergiitk opened #4291 "Invalid argument supplied for foreach() node--campaign.tpl.php:212"
When indexing all content using solr, some campaigns produce the following error:

[code]

Looks like sometimes `$do` variable isn't set in `node--campaign.tpl.php:212`

[2015-03-24 22:01] aaronschachter commented on #4284
@drewish here are the modules currently in our mix: https://github.com/DoSomething/dosomething/blob/dev/lib/profiles/dosomething/drupal-org.make

[2015-03-24 22:12] mikefantini opened #4292 "admin page accessible for anonymous users"
https://www.dosomething.org/admin/content/terms should 404 for anonymous users and regular authenticated users

[2015-03-24 22:13] aaronschachter commented on #4051
@sbsmith86 responded in this thread https://github.com/DoSomething/dosomething/commit/dcf78e5f1dc363d9251761a60cd0ce623cc2d7e3

[2015-03-25 14:05] sbsmith86 commented on #4288
@mikefantini this is currently blocked by #4051

[2015-03-25 16:50] #4292 closed, assigned to angaither

[2015-03-25 21:38] angaither commented on #4051
OKAY. after much IRL discussion today the goal for this is
.5 @joshcusano will add an `nid` row to the `overall.overall` table
1. Expose an endpoint from the Dashboard get this number DoSomething/dashboards/issues/37
2. Have a cron job run 1/day to (around noon) to get the updated number
3. Save that number as a local variable

This number is the most accurate, since it's the de-duped total of bot

[2015-03-25 21:55] mshmsh5000 commented on #4051
Sounds gorgeous :+1: :beers:

[2015-03-26 13:39] #4291 closed, assigned to sergiitk

[2015-03-26 14:04] #4290 closed, assigned to sergiitk

[2015-03-26 18:55] angaither opened #4298 "Stathat from donate page not reporting"
It's unclear if no one is donating, or if this is just not making it to stathat.

[2015-03-26 19:03] angaither commented on #4298
I added some logging on my local and [this line](https://github.com/DoSomething/dosomething/blob/2cf9e7db46bd066c0a51c0adc4b0aa222ce7abf7/lib/modules/dosomething/dosomething_payment/dosomething_payment.module#L215) is getting called, but it's not making it to stathat

[2015-03-26 19:08] angaither commented on #4281
Actually this is fixed with #4297 since it doesn't need math or overrides

[2015-03-26 19:08] #4281 closed, assigned to angaither

[2015-03-26 19:36] sergiitk opened #4299 "ds script: get rid of bin/ds syntax"
Use env variable to determine `$BASE_PATH`, if it's not there, fallback to `pwd -P`.
Makes everybody's life easier.

[2015-03-26 22:17] jeder28 opened #4300 "Test issue from someone not on the DS team!"
@mikefantini

Wocka Wocka!

[2015-03-26 22:25] mikefantini commented on #4300
:dancers:

[2015-03-26 22:25] #4300 closed, assigned to nobody

[2015-03-27 19:06] DFurnes opened #4301 "Media Options preprocess issue"
See on: http://staging.beta.dosomething.org/campaigns/space-jam

The error:
![pasted_image_at_2015_03_27_02_53_pm_1024](https://cloud.githubusercontent.com/assets/583202/6875071/ac878e86-d492-11e4-93eb-54c331ff009f.png)

And the form:
![screen shot 2015-03-27 at 3 05 36 pm](https://cloud.githubusercontent.com/assets/583202/6875082/bda15468-d492-11e4-9c93-b543b4565ebb.png)

[2015-03-27 20:06] mikefantini opened #4303 "add tattoos as a shipment item on the campaign signup data form"
![image](https://cloud.githubusercontent.com/assets/6330971/6876162/1dfd3928-d49b-11e4-9ff5-04022a32a2f8.png)

related to #4195

[2015-03-27 20:52] #4303 closed, assigned to angaither

[2015-03-27 20:55] mikefantini opened #4305 "not enough padding btwn know it image and problem"
![image](https://cloud.githubusercontent.com/assets/6330971/6876858/f15fd612-d4a1-11e4-9141-abef9f3fd4d4.png)

happening on http://staging.beta.dosomething.org/node/1199; seems fine with video (see https://www.dosomething.org/node/362)

cc: @lkpttn

[2015-03-27 21:31] angaither commented on #4298
Right, because the stathat library has to be added to the `drupal-org.make` file and in order to do that I think I have to give it a git url... or somehow have it locally.

[2015-03-30 13:55] #4298 closed, assigned to angaither

[2015-03-30 14:26] sbsmith86 opened #4308 "Persistent sign up button on pitch page."
Create a persistent sign up button on the pitch page.

[2015-03-30 15:23] #4208 closed, assigned to barryclark

[2015-03-30 15:29] #4278 closed, assigned to DFurnes

[2015-03-30 15:31] #4305 closed, assigned to DFurnes

[2015-03-30 16:54] deezone opened #4313 "user_registration Production settings"
Adjust the `user_register` Message Broker Producer production settings (https://www.dosomething.org/admin/config/services/message-broker-producer/add-edit-production/transactional_user_register) from:

[code]

to

[code]

[2015-03-30 17:03] #4299 closed, assigned to sergiitk

[2015-03-30 17:17] #4313 closed, assigned to deezone

[2015-03-31 03:39] drewish commented on #4284
Makes me nervous. I'm hoping it's limited to a specific set of variables. Otherwise it seems like it could be a  beg deal security wise.

[2015-03-31 16:28] mikefantini opened #4319 "admin fields no longer hidden when campaign_type = SMS game"
![image](https://cloud.githubusercontent.com/assets/6330971/6923675/389fd67e-d7a1-11e4-9e2e-3eb43a151e4b.png)

The following groups should be hidden:
- plan it
- do it
- prove it

[2015-03-31 19:12] angaither opened #4321 "double saving progress values"
when you save campaign helpers page it's saving fields as their given name, as well as the variable set manually.

[2015-03-31 19:26] #4321 closed, assigned to angaither

[2015-04-01 15:39] mshmsh5000 opened #4324 "StatHat coverage for login event"
Let's please ping StatHat on (a) every successful login event, and (b) every failed login event. Alerts for huge changes to these will provide quick feedback if something is fishy:
- Bad flood behavior in Drupal
- Hackery
- Evil-ry

[2015-04-01 15:50] mikefantini opened #4325 "update copy of rb question"
from "Why is this important to you?" to "Why is this campaign important to you?"

campaigns team has seen some confusion about this when a scholarship is attached to a campaign so we're hoping to make it a bit more specific, plus this subtle copy change will hopefully garner better anecdotes to share externally.

we shouldn't have to change anything on the backend because we're still looking for t

[2015-04-01 17:15] mikefantini commented on #4288
@sbsmith86 this should now be unblocked by #4320

[2015-04-01 17:18] angaither commented on #4051
Leaving this issue open for now.

Currently implemented:
1. There is a signup count variable on the dosomething_helper_variable page on the campaign template.
2. That number is pulled from the total web signups
3. A cron runs every hour to update the number of signups within the past hour.
4. The number can be overriden manually (to allow for manual imports of mobile signups)

Left to build:
Add a

[2015-04-01 17:38] barryclark commented on #4325
Would you be able to tackle this one please @sbsmith86?

[2015-04-01 17:46] sbsmith86 commented on #4325
sure thang

[2015-04-01 19:59] angaither opened #4326 "Progress count updates"
The signup count doesn't update correctly if someone updates their reportback.

One idea is:
Stores the total quantity of a reportback as well as new row called `updated_quantity` to store the difference of the original quantity to the updated quantity.

Another idea is to have a cron run nightly to update the numbers that just queries the database.

This is needed to get the total reportback tota

[2015-04-01 20:56] sbsmith86 commented on #4288
Sweet! Thanks guys.

[2015-04-01 21:57] mikefantini opened #4328 "SMS games are showing $1000 scholarship whether there is a scholarship or not"
http://staging.beta.dosomething.org/campaigns/sms-game-fun-great-success no scholarship on the backend, still shows http://staging.beta.dosomething.org/node/1199/edit

http://staging.beta.dosomething.org/campaigns/sms-campaign scholarship is $400 but still showing $1000 on frontend http://staging.beta.dosomething.org/node/1269/edit

rule:
- if incentive is filled out display "win a [amount] schola

[2015-04-01 22:04] barryclark commented on #4328
Another one it'd be amazingness if you could tackle @sbsmith86. Thank you!

[2015-04-01 22:15] mikefantini commented on #4328
@sbsmith86 hopefully this is a quickie we can get into tomorrow's deploy? we currently have an SMS game on prod that shows a scholarship but doesn't really have one, which is pretty crummy.

[2015-04-01 22:21] sbsmith86 commented on #4328
@mikefantini sure, i'll hop on it first thing!

[2015-04-01 23:45] mikefantini opened #4330 "display numeric progress towards goal"
related to #4288, it would be great to display the numerical progress towards the goal that @angaither has been working on somewhere on the action page so we can easily test on staging.

this would need to be feature flagged because obviously we don't want this showing up yet on prod, but it would be awesome if you output this number somewhere on the action page (no preference, really wherever is

[2015-04-02 15:15] #4221 closed, assigned to sergiitk

[2015-04-02 15:16] angaither commented on #4330
@sbsmith86 you can grab these for each campaign from `dosomething_helpers_get_variable('node', $nid, 'sum_rb_quanity');`

[2015-04-02 16:27] sbsmith86 opened #4333 "Create `get_scholarship` helper function"
In `dosomething_campaign.helpers.inc` create a helper function that gets the scholarship amount called `dosomething_campaign_get_scholarship($nid)`

Pseudo Code:

[code]

[2015-04-02 16:28] #4328 closed, assigned to sbsmith86

[2015-04-02 16:43] sbsmith86 commented on #4308
@mikefantini There is now a feature flag on staging at `Appearance-> Settings -> Paraneue DoSomething -> Persistent Signup Nav` to toggle this feature

[2015-04-02 16:46] sbsmith86 commented on #4288
@mikefantini the work for this is on staging but you won't see in unless the proper classes have been added to the element. The count is set to be hidden by default. How do you go about testing this? Should I pass on the code Jeff will need for optimizely?

[2015-04-02 18:17] #4325 closed, assigned to sbsmith86

[2015-04-02 18:24] barryclark commented on #4325
Thanks @sbsmith86!

[2015-04-02 21:00] angaither opened #4335 "set progress/signup count variables for all campaigns"
Currently, in order to see the signup/progress counts you have to visit the campaign helpers variable page, we should create an update hook or cron job to set this for all nodes, before we go live with this feature.

[2015-04-02 21:01] sbsmith86 opened #4336 "Show sign up button with persistent nav turned off"
The sign up button in the header on campaign pages is being removed on campaigns with no secondary call to action and the persistent nav feature flagged turned off. It should display even without the secondary CTA in the right place.

Might not be an issue if we remove the feature entirely.

[2015-04-02 21:14] mikefantini opened #4337 "tumblr dialogue never opens up on permalink"
![image](https://cloud.githubusercontent.com/assets/6330971/6973817/77396272-d95b-11e4-8919-cc3360ff0154.png)

cc: @barryclark can you please assign this out? not sure if it's fender or bender task

[2015-04-02 21:21] mikefantini opened #4338 "GA custom events are not triggering for Twitter shares on permalink"
may not be triggering for Tumblr either, or the lack of Tumblr events may be related to #4337

cc: @Bladt

[2015-04-02 21:44] DFurnes opened #4339 "Campaign headers are "dull""
Via Kim in Slack:

![screen_shot_2015-04-02_at_4 34 03_pm](https://cloud.githubusercontent.com/assets/583202/6974318/b341501e-d95f-11e4-91a2-2f7e70348750.png)

My thoughts are that it's a combination of too strong of a gradient overlay & maybe Drupal dropping the color profile or some other sort of image processing issue.

[2015-04-02 21:45] barryclark commented on #4337
You can just shoot these over to @sbsmith86, @mikefantini. Totally her jam after working on all of the permalink stuffs.

[2015-04-03 18:18] #4330 closed, assigned to sbsmith86

[2015-04-03 18:58] mikefantini opened #4341 "facts on taxonomy collections should be bulleted"
![image](https://cloud.githubusercontent.com/assets/6330971/6986805/f75e9b6c-da0e-11e4-9217-07911fa35a53.png)

[2015-04-03 19:12] #4338 closed, assigned to angaither

[2015-04-03 19:19] DFurnes commented on #4213
This was fixed in an earlier Neue release.

[2015-04-03 19:19] #4213 closed, assigned to nobody

[2015-04-03 19:56] angaither commented on #4324
@mshmsh5000 maybe I'm just dense, but I'm not sure where to hook into to get a failed login event... our validation hooks that run don't give us anything info about whether or not the attempt failed, and the submission handler doesn't run on a failed login event.

[2015-04-03 20:59] mshmsh5000 commented on #4324
Oooh interesting. It's in [user_login_final_validate](https://api.drupal.org/api/drupal/modules%21user%21user.module/function/user_login_final_validate/7), but I didn't think about how to hook into it.

[2015-04-03 21:00] angaither commented on #4324
right, I'm not sure if we need to have a second validation hook that could maybe run after `user_login_final_validate`

[2015-04-06 16:55] #4336 closed, assigned to sbsmith86

[2015-04-06 17:52] mikefantini opened #4349 "secondary sign up button isn't showing up on pitch for logged in users"
![image](https://cloud.githubusercontent.com/assets/6330971/7008850/141d67a4-dc64-11e4-989b-97f3f270e95c.png)

it is working for anonymous users
![image](https://cloud.githubusercontent.com/assets/6330971/7008865/29a0a7a8-dc64-11e4-8ec8-e7bd8628914d.png)

[2015-04-06 17:57] #4341 closed, assigned to DFurnes

[2015-04-06 18:01] #4337 closed, assigned to sbsmith86

[2015-04-06 18:44] itsjoekent commented on #4289
This is now taken care of before the # reaches Drupal, do we still want a fallback here anyway?

[2015-04-06 18:51] sergiitk opened #4350 "Alleged XSS in IE 10 and IE 11"
Hey @apatheticslacker!

We got a report on XSS vulnerability in IE10/11.
Can you check if this is valid?

[2015-04-06 19:24] sbsmith86 commented on #4349
@angaither Would you have any insight on this one? I can't seem to hunt down where this is failing. The `$signup_button_secondary` variable is on the page and set, but doesn't display for logged in users.

[2015-04-06 19:31] angaither commented on #4349
@sbsmith86 I can take a look

[2015-04-06 21:15] barryclark commented on #4289
Could you link me to the current error handling that's in place outside of Drupal plz @deadlybutter?

[2015-04-06 21:29] itsjoekent commented on #4289
https://github.com/DoSomething/DSMemberCounter/blob/master/app.js#L32

[2015-04-06 21:47] barryclark commented on #4289
That checks that the new member count is greater than the previously set member count (with a 50k margin for error factored in), and only updates it if it's higher. Correct?

If so, yep, close this out.

[2015-04-06 21:49] itsjoekent commented on #4289
Yep!

[2015-04-06 21:49] #4289 closed, assigned to itsjoekent

[2015-04-07 14:23] angaither commented on #4349
@sbsmith86 something strange is going on here, if you remove one of the signup buttons the other one will print, but it doesn't render both for logged in users....

[2015-04-07 14:30] sbsmith86 commented on #4349
@angaither yea this is really weird! I `dpm()` the `$signup_button_secondary` and the variable is there, and populated with the correct markup. But it isn't actually printing on the page.

I was looking into [this function](https://github.com/DoSomething/dosomething/blob/c6a65322315f3d8760ab10d77fd181c9210184d8/lib/modules/dosomething/dosomething_signup/dosomething_signup.theme.inc#L56-L66) and it

[2015-04-07 14:38] angaither commented on #4349
even stranger, if you make the call to print the buttons like this

[code]

from within `dosomething_campaign_preprocess_node` they both work

[2015-04-07 14:42] sbsmith86 commented on #4349
agh. yea I'm stumped. Also, if I inspect the page the `<form></form>` tag is on the page with the id and everything, but the `div` inside of it is completely empty.

[2015-04-07 14:43] angaither commented on #4349
what are this

[2015-04-07 15:04] #4349 closed, assigned to sbsmith86

[2015-04-07 15:59] angaither opened #4352 "Debugging locally"
This should be easier, maybe the [Whoops package](https://www.drupal.org/project/whoops_error_handler) would be useful

[2015-04-07 16:02] sergiitk commented on #4352
I can provide XDebug with all related settings to the Vagrant box.

[2015-04-07 17:31] angaither commented on #4352
Would everyone have to be on an IDE for that to work?

[2015-04-07 17:38] sergiitk commented on #4352
It both prettifies `var_dump()` and errors output and provides remote debugging using anything that implements DBGp protocol (including Sublime Text and even vim):
http://xdebug.org/docs/

[2015-04-07 17:54] Bladt opened #4355 "Campaign Sign-Up Event for SMS Games in GA"
Need a new Google Analytics events that fires when a users successfully submits (signs-up for) an sms game form.

Currently, sms-game sign ups are going uncaptured in GA. As we start to use tracking links for all marketing partners (including digital influencers) it would be beneficial to know which ones lead to high quality traffic/conversions.

MF: assign as you see fit.

[2015-04-07 18:03] mikefantini commented on #4355
@angaither since you've been rocking GA events recently do you mind taking this one as well?

[2015-04-07 18:25] angaither commented on #4355
@mikefantini how important is this? I've been getting a bit behind on API work

[2015-04-07 18:29] angaither commented on #4352
Yeah, so this whoops page is a bit different, instead of a WSOD or php error, you would see a stack trace of all the functions called and variables when something dies.

[2015-04-07 18:31] sergiitk commented on #4352
Oh, should I assign this to myself and include XDebug to the new box?

[2015-04-07 18:32] angaither commented on #4352
sure, it's not an urgent matter, but it's something we should start thinking about, how we can make development a little easier

[2015-04-07 18:39] Bladt commented on #4355
@mikefantini @angaither By end of month would be ideal. We are tracking conversions from traffic in monthly reports for the time being, so would love to be able to track for the complete month of May.

[2015-04-07 19:44] angaither opened #4356 "Campaigns endpoint returns all campaigns twice"
`/campaigns` returns sad double data

[code]

[2015-04-09 19:13] #3841 closed, assigned to sergiitk

[2015-04-09 20:11] deezone opened #4362 "Send 26+ email template in user_register transacitonals"
When a user registers and has a birthdate that makes them 26+ the `mb-user_welcome-26plus_v1-0-0` template should be sent in the transactional message to Message Broker.

[2015-04-09 20:16] mikefantini opened #4363 "2 column gallery is not displaying properly"
currently:

![image](https://cloud.githubusercontent.com/assets/6330971/7075934/9fb95ffe-ded3-11e4-950f-407387e346db.png)

should be:
![image](https://cloud.githubusercontent.com/assets/6330971/7075945/b8cbfe84-ded3-11e4-8be9-a1aca485ac79.png)

occurring on https://beta.dosomething.org/about/our-partners not sure if anywhere else

[2015-04-09 20:19] sbsmith86 opened #4364 "Optimizely A/B/C/D tests on pitch page"
Set up pitch page to work for 4 different optimizely tests.
- [x] Persistent nav with sign up count cta
- [x] Persistent nav with secondary cta
- [x] Current implementation with sign up count cta
- [x] Current implementation with secondary cta

cc @mikefantini @lkpttn

[2015-04-09 20:20] sbsmith86 commented on #4308
Closing. We are moving forward with this in #4364

[2015-04-09 20:20] #4308 closed, assigned to sbsmith86

[2015-04-09 20:21] sbsmith86 commented on #4288
Closing. We are moving forward with this in #4364

[2015-04-09 20:21] #4288 closed, assigned to sbsmith86

[2015-04-09 21:00] #4362 closed, assigned to sergiitk

[2015-04-09 21:31] angaither commented on #4282
Closed with #4320

[2015-04-09 21:31] #4282 closed, assigned to angaither

[2015-04-10 16:54] angaither opened #4368 "Shower songs reportbacks are in wrong camapaign"
There was a keyword collsion on MobileCommons and reportbacks from shower songs are displaying on the suspended for what - create page.

they need to be migrated over to the correct campaign

`node/5234/rb`

[2015-04-10 16:57] angaither opened #4369 "Add pager on RB review page"
Because of #4368 the campaigns team can't review any other reportbacks
either add a pager, or increase the amount of reportbacks that are displayed on a single page.

[2015-04-10 20:17] sbsmith86 commented on #4364
Here is the code needed to run the optimizely tests. @mikefantini

### Current Implentation - with secondary cta

Do nothing!

### Current Implementation - with count

`jQuery(".campaign--pitch").find(".cta").removeClass("optimizely-hide-count").addClass("optimizely-show-count");`

### Persistent Nav - secondary cta

`jQuery(".campaign--pitch").addClass("optimizely-persistent");`

### Persistent N

[2015-04-10 20:17] angaither commented on #3899
closed with #4317

[2015-04-10 20:17] #3899 closed, assigned to nobody

[2015-04-13 16:05] sergiitk opened #4372 "Fatal error: PHP 5.5 arrays used"
@weerd: Pls fix
See https://github.com/DoSomething/dosomething/blob/dev/lib/modules/dosomething/dosomething_reportback/dosomething_reportback.reportback_transformer.inc#L36

Ref #4366.

[2015-04-13 16:50] #4372 closed, assigned to sergiitk

[2015-04-13 17:43] angaither commented on #4368
Aylsha sent me a CSV of the people who submitted reportbacks to the wrong nid, however I can't seem to find the drupal users that match these numbers

the query that needs to happen would look something like this

[code]

then with those reportbacks update `rb.nid` from `5234`(suspended for what - create) to `3590` (shower songs)

@jonuy

[2015-04-13 19:56] sergiitk commented on #4352
Images for the Wiki:
https://github.com/DoSomething/dosomething/wiki/Debugging-with-Xdebug

![image](https://cloud.githubusercontent.com/assets/672669/7124255/4cd5ab2a-e230-11e4-96a0-6e024eda5e72.png)
![image](https://cloud.githubusercontent.com/assets/672669/7124316/a16f922c-e230-11e4-9b0c-86e29b7a2cfe.png)
![image](https://cloud.githubusercontent.com/assets/672669/7124710/e56e2dd2-e233-11e4-95da

[2015-04-13 20:40] #4352 closed, assigned to sergiitk

[2015-04-14 13:54] angaither commented on #4368
Ok, got the reportbacks that were updated, and imported them as a temp table
I'm going to test run this on QA, then on prod

[code]

[2015-04-14 14:00] jonuy commented on #4368
That seems about right. Thanks :bow:

[2015-04-14 17:14] barryclark commented on #601
@sergii-tkachenko can you close this now? :clap:

[2015-04-14 17:16] sergiitk commented on #601
Wow, haven't seen it. Sure. it's done: #4374.

[2015-04-14 17:16] #601 closed, assigned to nobody

[2015-04-14 17:25] barryclark commented on #601
Aww yiss. An issue close for free! :+1:

[2015-04-14 18:33] #4333 closed, assigned to sbsmith86

[2015-04-14 18:56] sergiitk opened #4378 "Create a script to parse Content-Security-Policy-Report-Only reports"
See
https://github.com/DoSomething/ServerConfig/issues/68
http://www.html5rocks.com/en/tutorials/security/content-security-policy/

[2015-04-14 21:38] angaither commented on #4368
waiting to test this on QA... the backups haven't been running for a bit so this data wasn't there

[2015-04-15 14:05] angaither commented on #4368
coool cool cooool, this is fixed now

[2015-04-15 14:05] #4368 closed, assigned to angaither

[2015-04-15 14:39] #4054 closed, assigned to sbsmith86

[2015-04-15 15:05] sbsmith86 commented on #3961
I am unable to recreate this issue. But we can reopen if we see it again.

[2015-04-15 15:05] #3961 closed, assigned to sbsmith86

[2015-04-15 15:09] weerd opened #4381 "Add pagination for Reportback Items collection endpoint"
Paginate all the things!

[2015-04-15 15:16] sbsmith86 commented on #4026
@mikefantini Is this still something we want to do? I can handle, if so.

[2015-04-15 15:29] mikefantini commented on #4026
@sbsmith86 yeah go for it!

[2015-04-15 17:06] #4381 closed, assigned to weerd

[2015-04-15 18:30] weerd opened #4383 "Layout bug with "Edit Status" button on Reportbacks in gallery in IE8"

[2015-04-15 18:31] weerd opened #4384 "Potentially switch URL building function in Reportback API"
Based on @sergii-tkachenko suggestion, might be best to use [drupal_http_build_query](https://api.drupal.org/api/drupal/includes%21common.inc/function/drupal_http_build_query/7) to build out URLs in Reportbacks API.

[2015-04-15 18:55] sergiitk opened #4385 "FATAL: Cannot redeclare redis_autoload"
Deployment of v0.4.86 brought these errors on web3 and web4:

[code]

https://rpm.newrelic.com/accounts/108038/applications/3268309/traced_errors/3113119496?original_error_id=3113131229

Please note that the error points to release `20150415183019` and in the stack trace to `20150403135111`.
Thoughts @mshmsh5000 @angaither @blisteringherb?

[2015-04-15 18:55] sergiitk commented on #4385
Tried to restart php5-fpm, nginx and clear cache. Doesn't help.

[2015-04-15 19:04] sergiitk commented on #4385
Turned out it was a rogue php5-fpm process. @mshmsh5000 killed it manually and restarted php5-fpm.

[2015-04-15 19:04] #4385 closed, assigned to nobody

[2015-04-15 20:00] sbsmith86 commented on #3971
@mikefantini any other reports of this? Not able to recreate it.

[2015-04-15 20:02] sergiitk opened #4387 "Release v0.4.86 broke reportback files uploading"
It very looks like it was related to #4385.
My theory is that rogue php5-fpm server was looking into wrong release directory. New release included new definition of reportback files:

https://github.com/DoSomething/dosomething/compare/v0.4.67...v0.4.86#diff-d177d4f7f20f09dc9807bc79a9998371R3
So it looks like the DB has been changed, but old code was running, ergo the following error:

My point is

[2015-04-15 20:06] sergiitk commented on #4387
CC @apatheticslacker

[2015-04-15 20:47] #4026 closed, assigned to sbsmith86

[2015-04-15 21:24] deezone opened #4388 "Unable to change admin settings on Affiliate sites."
Email messages on all of the affiliate sites need to be disabled. Currently both text (Drupal powered) and templated *Message Broker powered) message are being sent. The result is two messages, one text, one templated being sent.

**Related Issues**:
- https://trello.com/c/3YheUlD7
- https://trello.com/c/AtYwkiJT
- https://trello.com/c/Om1eWLye
- https://trello.com/c/hfJmWRhk

Based on the Mail Co

[2015-04-16 20:02] mikefantini opened #4389 "need commas for thousands place (and millions) when outputting # of ppl doing on pitch"
![image](https://cloud.githubusercontent.com/assets/6330971/7190091/9f6bebec-e451-11e4-99b5-ddd9210ca77e.png)

should read 9,244

[2015-04-16 20:53] mikefantini opened #4390 "wrap secondary CTA text on persistent nav"
![image](https://cloud.githubusercontent.com/assets/6330971/7191093/ec9c97b6-e458-11e4-800c-e9fe2a519ce3.png)

[2015-04-16 21:12] #4389 closed, assigned to sbsmith86

[2015-04-17 14:45] sbsmith86 opened #4392 "Add scholarship call out back to the persistent nav"
The persistent sign up nav needs the scholarship callout added.

[2015-04-17 15:28] DFurnes opened #4393 "Sponsor logo image style doesn't enforce min-height"
We have a `wmax-300-hmax-75` image style we use for sponsor logos, such as on the campaign closed state "Media Buzz" section. We should enforce a min-height of 75 as well, for especially short logos.

![screen shot 2015-04-17 at 11 25 27 am](https://cloud.githubusercontent.com/assets/583202/7205104/d42b6576-e4f4-11e4-94e6-d16f9e3dd7d5.png)

[2015-04-17 15:32] DFurnes commented on #4393
After re-uploading image with a bit more padding (like the others logos in this example have), things look fine. Ideally, the image style should center vertically in the 75px height automatically.

![screen shot 2015-04-17 at 11 30 38 am](https://cloud.githubusercontent.com/assets/583202/7205153/3155fefa-e4f5-11e4-9ab5-93fab493b0b6.png)

[2015-04-17 15:47] mikefantini opened #4394 "signup count getting overwritten"
For campaigns with SMS signups, we need to be able to manually add in those SMS signups for now.

When I first put the "real" signup number in, it displays properly. But then web signups should add to this higher number as they come in (updated intermittently). However this number is just getting overwritten with the web signup updates.

i.e. on https://beta.dosomething.org/node/362/custom-setting

[2015-04-17 19:08] angaither commented on #4394
@mikefantini I haven't been able to recreate this locally

[2015-04-20 14:53] mikefantini commented on #3971
closing for now.

@lkpttn if you see this again and are able to consistently reproduce it, please open.

I haven't heard of Zendesk complaints that point to this being an issue for users

[2015-04-20 14:53] #3971 closed, assigned to nobody

[2015-04-20 15:27] weerd opened #4395 "Show 6 promoted, with rest in extended gallery"
If there's 20 promoted reportbacks for a campaign, allow for requesting 6 random promoted reportbacks for initial gallery view and then showing rest of the promoted reportbacks in extended "view more" gallery.

[2015-04-20 16:46] angaither commented on #4394
The only thing I can think that's causing this is strange DB replication?
Once the number is set it won't query the database to get the signup count, so maybe that number is getting set in one DB & not migrating to the other DBs...? This would also explain why I can't replicate this locally...

[2015-04-20 16:47] angaither commented on #4394
For context, this is a `dosomething_helpers` variable `signup_count`

[2015-04-20 17:12] angaither commented on #4394
@blisteringherb [this](https://github.com/DoSomething/dosomething/blob/dev/lib/modules/dosomething/dosomething_signup/includes/dosomething_signup.cron.inc) is the cron function that runs every hour to update the number and [here's the code](https://github.com/DoSomething/dosomething/blob/dev/lib/modules/dosomething/dosomething_helpers/dosomething_helpers.variable.inc#L170-L182) that updates the si

[2015-04-20 17:21] angaither commented on #4326
Actually, we can just live run the query on a cron. that will work. :+1:

[2015-04-20 18:42] #4326 closed, assigned to angaither

[2015-04-20 18:42] #4335 closed, assigned to angaither

[2015-04-20 18:52] angaither opened #4397 "Reportback count override totals"
For campaigns with partners (comeback clothes, jeans for teens) we need the ability to override the `sum_rb_quantity`

[2015-04-20 18:53] angaither commented on #4369
closing for now, I don't think we need this

[2015-04-20 18:53] #4369 closed, assigned to angaither

[2015-04-20 19:40] #4147 closed, assigned to angaither

[2015-04-20 19:48] angaither commented on #4355
@mikefantini is this when people fill out http://staging.beta.dosomething.org//campaigns/sms-campaign that guy?

[2015-04-20 19:50] mikefantini commented on #4355
@angaither yup

[2015-04-20 22:05] mikefantini opened #4398 "placeholder DS image is showing as broken on search"
![image](https://cloud.githubusercontent.com/assets/6330971/7241542/9c83f5b2-e787-11e4-86ed-b8bc98483ef1.png)

@barryclark can you please assign this out?

[2015-04-20 23:37] barryclark commented on #4398
@blisteringherb Wanna take a peek first and let me know if it's not yours?

cc @weerd @DFurnes in case they might have some insight into this problem.

[2015-04-20 23:45] blisteringherb commented on #4398
It looks like just that one 11 facts image is missing.  I"m checking now to see why it's not there.

[2015-04-21 13:42] barryclark commented on #4398
Cheers @blisteringherb!

[2015-04-21 13:44] mikefantini commented on #4398
@blisteringherb it's a placeholder image we use for all static content and facts pages.

@sbsmith86 may know more as I believe she actually set it up when we rebooted our search design.

[2015-04-21 13:49] sbsmith86 commented on #4398
We pull in a default image (DS logo) if no image is found for the result. [Code doing that is here](https://github.com/DoSomething/dosomething/blob/54e3ff77bea23419d2d2c5ef84ca2fd557bb0fed/lib/themes/dosomething/paraneue_dosomething/includes/patterns.inc#L26-L42) Maybe that is a bad path? Is there a better way to pull in the default image?

@mikefantini @barryclark @blisteringherb

[2015-04-21 13:53] DFurnes commented on #4398
Oh, that should be pointing to `...node_modules/dosomething-neue/dist/assets/images/apple-touch-icon-precomposed.png`. Sorry, I missed that one when we moved vendor assets from Bower to NPM. :grimacing:

You can use `NEUE_ASSET_PATH` as a helper for the Neue path in Drupal.

[2015-04-21 13:54] sbsmith86 commented on #4398
@DFurnes AHhh gotcha. I can handle this fix! @mikefantini

[2015-04-21 14:09] mikefantini commented on #4398
thanks guys!

[2015-04-21 14:16] weerd commented on #1561
I think this was completed in the Neue refactor sprint, etc.

[2015-04-21 14:16] #1561 closed, assigned to weerd

[2015-04-21 14:17] DFurnes commented on #4355
Summary of an IRL conversation with @Bladt a minute ago –

We fire a `Form:Submitted` event whenever a form successfully submits, which you can probably use to figure out which percentage of users who hit the SMS form successfully submit it if you know the URL of the campaign you're tracking.

One thing we can improve there is attaching the ID of the submitted form (in this case `#dosomething-sign

[2015-04-21 14:41] #4390 closed, assigned to sbsmith86

[2015-04-21 16:15] sbsmith86 commented on #4392
Closed with #4399

[2015-04-21 16:15] #4392 closed, assigned to sbsmith86

[2015-04-21 16:39] weerd opened #4402 "Show images from a prior campaign run on a current campaign run."
- [x] Set up API to retrieve reportback items from a closed run.
- [ ] Use above API endpoint to populate new campaign run gallery with prior run's reportbacks.

[2015-04-21 16:59] blisteringherb commented on #4394
No queriers are directed to the slave DB so this isn't related to replication.  Is there any way to just run a query to get all of the signups on cron rather than do the incrementing?  Or can you do that query less frequently as a reconciliation to make sure the number is correct?

[2015-04-21 17:52] angaither commented on #4394
@blisteringherb yeah, cron could run the live count, but it's another one of those issues where we need to include mobile signups, which are not in the drupal database. so we need it to live update, but also be overridden. the classic problem.

[2015-04-21 18:59] mikefantini opened #4403 "# of ppl doing and secondary CTA are both showing at the same time"
![image](https://cloud.githubusercontent.com/assets/6330971/7260286/f99e4e00-e836-11e4-8383-9aeaff60a39b.png)

[2015-04-21 19:21] angaither opened #4404 "Change permalink Twitter share to be the Photo Card type"
This doesn't need to change the size of the image, it's just more performant to have them served through imagecache.

[2015-04-21 19:22] angaither opened #4405 "Add twitter social share metadata to image cached images"
Much like permalink content, image cached urls should have twitter card metadata on them, so they can be shared & a twitter card created.

[2015-04-21 19:42] mikefantini commented on #4404
@sbsmith86 this and #4405 are so that for suspended for what we can have members share specific stories from their state.

Michaela is going to have a google sheet where users can find their state and will have a tweet speaking to a specific suspension that happened in that state.

example tweet: In AL black students are suspended 3X more than white @AlabamaDeptofEd #Suspended4WHAT https://dosomet

[2015-04-22 15:48] sbsmith86 commented on #4404
@mikefantini @angaither

Just making sure I got all this down.
- This issue is to create a new image cache preset so that each of these images can be served through a url like `sites/default/files/styles/300x300/public/images/ThumbWars_hero_square.jpg`?
- Issue #4405 is to put metadata on that image page so that when the url is shared it looks like a twitter card? or is this the page we need to us

[2015-04-22 17:38] #4403 closed, assigned to sbsmith86

[2015-04-22 17:55] weerd opened #4409 "Add Kudos taxonomy vocabulary"
Create feature to update CMS and DB to add a new **Kudos** taxonomy vocabulary.

[2015-04-22 18:14] angaither commented on #4404
@sbsmith86 correct, I would test first, really quickly if you can add the correct metadata tags to image cached pages

[2015-04-22 18:20] sbsmith86 commented on #4404
@angaither yea wasn't sure of that either. I will test it out.

[2015-04-22 18:20] #4409 closed, assigned to weerd

[2015-04-22 18:23] angaither commented on #4404
@sbsmith86 at the very least we can check for `sites/default/files/styles` in the url of the page and add metatags based on that

[2015-04-22 20:03] #4398 closed, assigned to sbsmith86

[2015-04-22 21:02] mikefantini commented on #4394
@angaither: one suggestion from @mshmsh5000 was what if we create a new field just for SMS signups. This field would never get overwritten, it would just be a field for an editor to put in SMS signups number once (maybe a few times if an influencer sends a bunch of signups).

We then could take the web signups number that is constantly being updated by cron and add this updating number to the numb

[2015-04-22 21:08] #4111 closed, assigned to nobody

[2015-04-22 21:11] #4388 closed, assigned to deezone

[2015-04-22 21:46] lkpttn commented on #4404
Confirming that we should look at the photo card instead of the summary w/ large image card. That way we can get images into the timeline rather than just in expanded tweets.

https://dev.twitter.com/cards/types/photo

[2015-04-23 14:16] angaither opened #4411 "Load guzzle with composer"

[2015-04-23 14:38] angaither commented on #4394
:+1:

[2015-04-23 15:11] sbsmith86 commented on #4404
Not sure if we are still doing this, but I don't think we are going to be able to get tags on the image url. It's not an html file that is being shown, it's a .jpeg, so there is no way to add meta tags. We can however add it to the file page in drupal, so something like `www.dosomething.org/file/{file id}`

[2015-04-23 15:12] angaither commented on #4404
@sbsmith86 yeah, but we 404 all those file urls for anon users.

[2015-04-23 15:13] sbsmith86 commented on #4404
@angaither ooooo hmmm

[2015-04-23 15:17] angaither commented on #4404
@sbsmith86 so those image urls don't go thought `hook_preprocess_page` where most of the metatags are set, but we could get it from `hook_init` & checking the URL structure
I don't love that, but if we decide not to go the permalink route, we might need to do that....

[2015-04-23 15:19] sbsmith86 commented on #4404
@angaither right, but it's not an html page, so where would the tags actually go?

[2015-04-23 15:21] angaither commented on #4404
@sbsmith86 wait, really? you can't even add headers to it?!

[2015-04-23 15:21] angaither commented on #4404
welllp

[2015-04-23 15:29] sbsmith86 commented on #4404
yea pretty sure you can't do that since the browser is just rendering a .jpeg file at that point. Permalink might be our best/only bet here. Or, some other fancy solution.

[2015-04-23 15:30] mikefantini commented on #4404
@sbsmith86 @angaither @lkpttn let's go with the strategy of sharing permalinks rather than the akami files

[2015-04-23 15:31] mikefantini commented on #4404
so what we need to do is adjust the permalink twitter share to be https://dev.twitter.com/cards/types/photo. i'll update the description/title of this to reflect this

[2015-04-23 15:33] mikefantini commented on #4405
@angaither since we updated #4404 this one is no longer needed correct?

[2015-04-23 16:30] mshmsh5000 commented on #4394
Also talked to @angaither about this, and we agree it's a puzzle we want to solve. But not top priority, if only because the timing tests are getting put off for a month.

[2015-04-23 16:59] sergiitk opened #4413 "User create API: set default country"
When creating a user using Services API, set the country in the address field.

[2015-04-23 17:14] mikefantini commented on #4394
sounds good @mshmsh5000 @angaither - going this route will let us get up the # of ppl doing tests that are all set and currently blocked by this

[2015-04-23 17:41] angaither commented on #4405
@mikefantini correct

[2015-04-23 17:41] #4405 closed, assigned to sbsmith86

[2015-04-23 17:44] angaither commented on #4413
@sergii-tkachenko I think this already works

[2015-04-23 17:44] angaither commented on #4276
refs #4411

[2015-04-23 17:46] sergiitk commented on #4413
I've checked, it' doesn't:
![image](https://cloud.githubusercontent.com/assets/672669/7303502/cde11e18-e9f9-11e4-9a8a-77144014caaf.png)

[2015-04-23 18:00] #4363 closed, assigned to DFurnes

[2015-04-23 18:32] DFurnes commented on #4355
@Bladt I just released a patched version of our validation package that correctly reports form IDs on form submissions/submission errors. You should see IDs in Google Analytics following the next deploy.

[2015-04-23 18:36] mikefantini opened #4415 "prompt user after sign up for address collection is not prompting user right after sign up"
see staging.beta.dosomething.org/campaigns/thumb-wars

@DFurnes would this be for you?

we're launching 1 in 3 of us May 1st and would need this

[2015-04-23 19:14] #4394 closed, assigned to angaither

[2015-04-23 19:26] sbsmith86 opened #4417 "Modal flow prototype"
Create a prototype of a new modal flow that allows us to take a user from one screen to the next without a page reload or opening a new modal.
- Example sign up flow: An anon user hits "sign up" button, a modal opens to allow them to login/register. When they hit login, they are signed up for the campaign, and brought to a second screen in the modal that allows them to share.

cc: @mikefantini @DF

[2015-04-23 20:16] DFurnes commented on #4417
Woot woot!

[2015-04-23 20:23] #4413 closed, assigned to sergiitk

[2015-04-24 12:35] sergiitk commented on #4411
Hey @angaither. I don't think this is good idea for now to use Guzzle. I love it myself, but it [requires](http://docs.guzzlephp.org/en/latest/overview.html#installation) PHP > 5.4.0 and one of our webheads is still 5.3.
I think we should stick with `drupal_http_request()` for now.

As an alternative, we have [`http_client`](https://www.drupal.org/project/http_client) installed (or maybe it's just

[2015-04-24 12:37] sergiitk commented on #4411
Here it is:
- https://github.com/DoSomething/dosomething/blob/8853999ec664c142c5ae76419a996a6c66bafe4b/lib/modules/dosomething/dosomething_uk/includes/dosomething_uk_sso_controller.inc#L555-L564
- https://github.com/DoSomething/dosomething/blob/8853999ec664c142c5ae76419a996a6c66bafe4b/lib/modules/dosomething/dosomething_uk/includes/dosomething_uk_sso_controller.inc#L274-L287

[2015-04-24 14:18] angaither commented on #4411
ohhh huge bummer, ok.
can we keep this on the backlog as something we want to do in the future?

[2015-04-24 14:21] sergiitk commented on #4411
Sure!

[2015-04-24 14:52] mshmsh5000 commented on #4411
PHP version will be a non-issue once we're migrated to AWS next month. So let's keep this warm!

[2015-04-24 15:31] #4415 closed, assigned to DFurnes

[2015-04-24 17:24] mikefantini commented on #4404
@sbsmith86 i'm seeing this when I share from production. Seems like something went wrong with the photo card implementation?

![image](https://cloud.githubusercontent.com/assets/6330971/7324532/41d823ee-ea85-11e4-998c-5c809b30b78a.png)

and when I click through to the individual tweet:

![image](https://cloud.githubusercontent.com/assets/6330971/7324554/6b52ff50-ea85-11e4-928e-2678c2ed9ae9.png)

[2015-04-24 17:45] weerd opened #4420 "Add API endpoints for Kudos functionality"
Add initial Services endpoint for:

[code]

[2015-04-24 18:03] sbsmith86 commented on #4404
It's weird, I ran it through the card validator and the image is 404ing, but the image definitely exists.

https://dosomething-a.akamaihd.net/sites/default/files/styles/480x480/public/reportbacks/7/uid_2137661-nid_7-0.jpg?itok=mdUJej_T

Maybe it's the akamai url that twitter doesn't like?

![screen shot 2015-04-24 at 2 00 34 pm](https://cloud.githubusercontent.com/assets/1700409/7325164/6bb0545c-e

[2015-04-24 18:18] #4420 closed, assigned to weerd

[2015-04-24 18:19] mikefantini commented on #4404
hmm yeah weird. the previous card was definitely showing images still so seems weird that this would be different

[2015-04-24 20:36] sbsmith86 commented on #4404
alrighty, this should be fixed on staging now.

![screen shot 2015-04-24 at 4 36 02 pm](https://cloud.githubusercontent.com/assets/1700409/7328035/17186932-eaa0-11e4-8750-1453d016ce45.png)

[2015-04-27 02:16] deezone opened #4426 "GET requests to https://www.dosomething.org/api/v1/users.json?parameters[email]= failing"
When `mbc-digest-email` makes requests to: `https://www.dosomething.org/api/v1/users.json?parameters[email]=` to lookup the Drupal UID by email the returned results are status code "0" or "200" In the case where the email address is not found.

The Drupal UID is needed to generate the Unsubscription link for each users digest message. The md5 hash value that includes the Drupal UID is used in gene

[2015-04-27 14:27] mikefantini opened #4427 ""Please upload an image" error message"
follow these steps to reproduce:
- upload image
- click on change photo in modal
- close file select dialogue box without selecting a new file
- finish report back process

![image](https://cloud.githubusercontent.com/assets/6330971/7349497/8be71992-ecc7-11e4-9778-aeae688be8f9.png)

[2015-04-27 17:00] deezone commented on #4426
@angaither Not sure if you're the right person to poke about this. With @aaronschachter away I'm assuming you're the "Master of Drupal" these days?

At any rate, thoughts ^^ ?

[2015-04-27 17:28] deezone opened #4428 "Delete User End-Point"
The Synthetics test that registers a new Drupal user and monitor that a transactional "Welcome" email is generated:

https://synthetics.newrelic.com/accounts/108038/monitors/b2c17d30-b656-41f2-8901-75b58b9e30da

creates a test Drupal user following the pattern:

[code]

The test runs every hour from only on location (Portland, OR). This results in 24 test users in the Drupal , Message Broker and N

[2015-04-27 17:46] angaither commented on #4426
@DeeZone what's the expected response with the users above?
from what I'm seeing here, the top two return a user id
`https://www.dosomething.org/api/v1/users.json?parameters[email]=zombiemen3%40gmail.com
https://www.dosomething.org/api/v1/users.json?parameters[email]=zcobb125%40gmail.com`

and the others do not
is that expected?

Is this question about rate limits causing a failure, or about looku

[2015-04-27 17:59] #4404 closed, assigned to sbsmith86

[2015-04-27 19:15] deezone commented on #4426
@angaither Agreed,
- https://www.dosomething.org/api/v1/users.json?parameters[email]=zombiemen3%40gmail.com
  returns the expect UID when it's working **but** when the "throttling" kicks in the following **error response** is returned:

[code]

The result is small batches of requests work but any kind of volume (over 100 with the same auth key) results in the error response detailed above. Expecte

[2015-04-27 20:35] mikefantini opened #4429 "no verification message on password reset flow"
flow works properly on staging, but on production you never get the "If your email address exists in our database, you will receive a password recovery link at your email address in a few minutes."

Lots I'd like to change to the pw rest flow, but at the very least let's 1. get this message showing and 2. tweak the language to read "If we have an account with that email address, we'll send you a p

[2015-04-27 20:38] DFurnes commented on #4429
Not something I've worked with. I was under the impression this interface was just stock Drupal functionality?

/cc @angaither @DeeZone

[2015-04-27 20:43] angaither commented on #4426
@DeeZone at first glance I don't see anything in the `dosomething_api` module that limits activity. It's certainly possible it's hidden somewhere though, I'll keep looking around

[2015-04-27 20:48] deezone commented on #4426
Thanks!

[2015-04-27 20:54] angaither commented on #4429
@mikefantini yeah I think we override the text here in the `login > password forgot section` & nothing is set in production
https://www.dosomething.org/admin/config/dosomething/dosomething_user

[2015-04-27 20:56] angaither commented on #4426
@weerd do you have any ideas on this one? you've been in the services weeds for a bit... do you know about any event throttling?

[2015-04-27 20:56] deezone commented on #4429
@mikefantini @angaither Please confirm that the action that triggers this messaging also triggers a password reset transactional email. My understanding is that only the "Reset Password" link in the user login form triggers this message. Are you looking for additional events to trigger sending this message as well as display the message you're describing?

[2015-04-27 20:57] angaither commented on #4429
@DeeZone correct, I think @mikefantini is talking about a flash message on the drupal app, not in the actual email here

[2015-04-28 13:54] jonuy commented on #4426
Is there monitoring like New Relic on the DS web app or message broker that we can check for when the digest script is running? I'd be interested to see if any patterns show up there that could shed more light on what's going on here.

[2015-04-28 14:41] mikefantini commented on #4429
@DeeZone yup just talking about the web experience. Everything with the email seems to be working fine.

@angaither hmmm it makes sense that this config form would do the trick, but two things to keep in mind before I put the copy in there:
1. this field is not set on staging, but the flash message still appears properly on staging
2. also the checkboxes in the registration group scare me. also no

[2015-04-28 14:43] DFurnes commented on #4429
@mikefantini I believe those are settings to show opt-in checkboxes for each type of communication, which are required for our UK affiliates because of SMS laws over there.

[2015-04-28 14:44] mikefantini commented on #4429
ok sweet thought that might be it, but just wanted to be sure before we ya know stopped collecting emails/sms.

alright I'll try putting copy in that field in staging and see what happens

[2015-04-28 14:47] mikefantini commented on #4429
sweet all fixed. thanks all!

[2015-04-28 14:47] #4429 closed, assigned to nobody

[2015-04-28 14:53] angaither commented on #4426
@jonuy https://rpm.newrelic.com/accounts/108038/applications/3268309/traced_errors?search[name]=https%3A%2F%2Fwww.dosomething.org%2Fapi%2Fv1%2Fusers.json%3Fparameters%5Bemail%5D%3D&search[sort_by]=count&search[type]=all&utf8=%E2%9C%93

there's spikes in there but now real information....

[2015-04-28 14:56] angaither commented on #4426
oy, the spikes are just requests, but the error rate is low... less than 1%

[2015-04-28 15:10] mikefantini opened #4430 "IE 8 issues on campaigns template"
- [ ] modals on the action page aren't appearing. This is an issue because One in Three of Us launches on Friday with address collection that opens as soon as a user signs up for the campaigns. This modal does not open either after signing up or if clicking the link the Stuff You Need. Also all other links for FAQs, etc. do not open up either on the page.
- [ ] the tips in the do it section are no

[2015-04-28 15:11] angaither commented on #4426
@DeeZone I don't see anything in the UI or anywhere in the code that suggests we are rate limiting requests.

[2015-04-28 16:30] weerd opened #4431 "Add Kudos API resource for full CRUD capabilities"
To enable the full use of all HTTP verbs when creating, retrieving and deleting Kudos records for Reportback Items, need to create a unique resource for Kudos instead of using the _targeted actions_ option on the Reportback Items resource.

[2015-04-28 16:54] DFurnes commented on #4430
The issue seems to be caused by a call to [`Object.defineProperty`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/defineProperty) in the validation module's transpiled source. Not _entirely_ sure why that line is being introduced, but it's an easy fix.

![screen shot 2015-04-28 at 12 42 56 pm](https://cloud.githubusercontent.com/assets/583202/7375093/4f983

[2015-04-28 17:01] DFurnes commented on #4430
@mikefantini I've got an open pull request with a fix, tested on my local environment. I'll let you know when it's ready for re-testing on stage!

[2015-04-28 17:06] #4430 closed, assigned to DFurnes

[2015-04-28 20:24] DFurnes commented on #4355
@Bladt You can see the [custom 'Form:Submitted' events](https://www.google.com/analytics/web/?hl=en#report/content-event-events/a493209w819276p798164/%3Fexplorer-table.plotKeys%3D%5B%5D%26_r.drilldown%3Danalytics.eventCategory%3AForm%2Canalytics.eventAction%3ASubmitted/) registering in Google Analytics now. Successful SMS game signups are registered under the `dosomething-signup-sms-game-form` lab

[2015-04-28 20:24] #4355 closed, assigned to DFurnes

[2015-04-28 21:10] lkpttn opened #4435 "Bullets for lists in modals"
We need to add .with-lists to the modal blocks so bullets will show up on litssss

![screen shot 2015-04-28 at 5 03 25 pm](https://cloud.githubusercontent.com/assets/1865372/7380354/57a0d738-edc9-11e4-893d-cc10238fad08.png)

![screen shot 2015-04-28 at 5 05 30 pm](https://cloud.githubusercontent.com/assets/1865372/7380357/5c00e3ae-edc9-11e4-8935-06c2b977350c.png)

[2015-04-29 14:19] #4435 closed, assigned to DFurnes

[2015-04-29 14:25] #4276 closed, assigned to angaither

[2015-04-29 15:46] mikefantini opened #4437 "web signups not automatically updating for # of ppl doing display"
# of ppl doing display should sum:
- Mobile Count (manually input from admin)
- Web signups (automatically updated as new signups come in)

This summation is working properly, however the web signups number is not updating.

Custom settings tab for node 362 on prod:
![image](https://cloud.githubusercontent.com/assets/6330971/7394970/0544c4ee-ee65-11e4-80b2-e3730cb0c57b.png)

Signups tab for node 3

[2015-04-29 23:36] deezone commented on #4426
@angaither In that case the Drupal API is throwing plain old error / empty responses - random but easily reproduced. I can show it in action if that helps?

[2015-04-30 15:18] #4437 closed, assigned to angaither

[2015-05-01 17:50] mikefantini opened #4439 "site name won't read member count token"
ideally using [site:member-count] in this instance would pull in the actual member count rounded to the hundred thousands digit (i.e. like it does on the pitch page footer message)

https://beta.dosomething.org/admin/config/system/site-information

![image](https://cloud.githubusercontent.com/assets/6330971/7434386/7d1e91da-f008-11e4-895f-77eedc8d826f.png)

![image](https://cloud.githubusercontent

[2015-05-01 17:58] sbsmith86 opened #4440 "Fix scholarship styling on persistent nav"
The scholarship text should not wrap to three lines on desktop.

[2015-05-01 20:29] mikefantini opened #4441 "taxonomy collections should index in search"
example if I search for environment, www.dosomething.org/volunteer/environment should show up

[2015-05-04 16:17] mikefantini commented on #3845
@Bladt and I are seeing this happening again.

I just tried to log out from https://www.dosomething.org/campaigns/comeback-clothes as a non-admin. First it just reloaded the page and nothing happened. I tried again on the reloaded page and am now getting logged out and redirected to /user/logout which 404s.

@DFurnes can you take a look?

[2015-05-04 16:56] DFurnes commented on #3845
@aaronschachter @angaither Any ideas? Drupal internals are not my forte.

[2015-05-04 17:13] angaither commented on #3845
@mikefantini I'm not able to recreate this on stage or prod... I've tried 5+ times

[2015-05-04 17:33] sbsmith86 opened #4443 "Add goal animation fields"
Add 6 fields to the campaign template that will represent different progress points throughout the life of a campaign. There will be 5 animations for each progress point, and a 6th for a final animation if the goal is met or surpassed.
- Fields can be named "Animation 1, Animation 2, Animation 3, Animation 4, Animation 5, Animation 6"
- They should be able to accept gif, and .mov file types.

[2015-05-04 17:34] aaronschachter commented on #4443
@sbsmith86 Couldn't this be a single multi-value file field? e.g. `field_goal_animations` ?

[2015-05-04 17:37] angaither opened #4444 "Time left in campaign"
we want to show the amount of time left in the hot phase.
For now, we will be using the high season end date

@mikefantini can you add the specific rules here of how the date/time left is displayed

[2015-05-04 17:40] sbsmith86 commented on #4443
@aaronschachter sure. I wasn't sure how to best word that, but if that makes more sense on the backend, let's do that. is there a way to limit the number of things people can add?

[2015-05-04 17:43] sbsmith86 opened #4445 "Goal animation logic"
Add logic on the backend that delivers one animation file to the campaign template based on goal progress.

If current progress is:
- Between 0 and 20% of goal, use animation 1
- Between 21% and 40% of goal, use animation 2
- Between 41% and 60% of goal, use animation 3
- Between 61% and 80% of goal, use animation 4
- Between 81% and 99% of goal, use animation 5
- Goal is met, use animation 6

[2015-05-04 17:50] angaither opened #4446 "Hot phase progress copy"
There's a little cta when a campaign is in the hot phase that changes over time.
@mikefantini does this change over time, or when it's % complete near goal?

@mikefantini add the formula for this here, and we can decide if this should be fields or if it can be hardcode & pulled from the campaign.

[2015-05-04 17:55] mikefantini commented on #4445
@sbsmith86 looks good to me!

[2015-05-04 18:07] sbsmith86 opened #4447 "Goal share buttons"
Add twitter, facebook, and tumblr share buttons to the campaign template that share the goal statement.

[2015-05-04 18:09] mikefantini commented on #3845
hmmm I was just able to reproduce it again on the homepage:
- logged in as non-admin on homepage
- try to log out, page refreshes and I'm still logged in
- try to log out again, I get logged out but am taken to /user/logout which 404s

Seems to be happening pretty inconsistently. @blisteringherb @sheydari-ds might this be a web head thing?

[2015-05-04 18:19] sbsmith86 opened #4448 "Hot Module - Variation A"
Set up an optimizely test for variation A of the hot module.

Mocks should be added here.

[2015-05-04 18:20] sbsmith86 opened #4449 "Hot Module - Variation B"
Set up an optimizely test for variation B of the hot module.

Mocks should be added here.

[2015-05-04 18:20] sbsmith86 opened #4450 "Hot Module - Variation C"
Set up an optimizely test for variation C of the hot module.

Mocks should be added here.

[2015-05-04 18:20] sbsmith86 opened #4451 "Hot Module - Variation D"
Set up an optimizely test for variation D of the hot module.

Mocks should be added here.

[2015-05-04 18:34] mikefantini commented on #4444
@angaither:
- If 8+ days remain, deadline will be displayed as a date (i.e. Ends April 30)
- If 3-7 days remain, deadline will be displayed as days remaining (i.e. 5 days left or ends in 5 days)
- If 1-2 days remain, deadline will be displayed as hours remaining (i.e. 24 hours left or ends in 24 hours)

@angaither also ideally the end date is set so that # of hours counts down from 23:59:59 EST on

[2015-05-04 19:25] aaronschachter commented on #4284
The default resource does check for access to set variables.  But we're only using this specifically for the member counter variable, which is an app that @deadlybutter built to update the live member count on the site. We'd need to add some custom code in order to limit the specific variables.

[2015-05-04 19:34] itsjoekent commented on #4284
(for reference) the reason we have to set the member count variable on Drupal is because the member count is a mix of both web signups and mobile signups. Drupal doesn't know about mobile signups so we have to tell it what the combined total is.

[2015-05-04 19:53] aaronschachter opened #4452 "Views security update"
![driesy](https://cloud.githubusercontent.com/assets/1236811/7461066/82cea48e-f25c-11e4-9dc8-cbf6366cae45.png)

[2015-05-04 20:11] angaither opened #4453 "Reportback count override"
With #4396 we lost the ability to override reportback counts
Because of campaigns with 3rd party sponsors, we need this, for now, going to build it like #4320 where the helper text displays the total count in the database, but you can add extra values and the two will be added together for the sum

[2015-05-04 20:16] angaither opened #4454 "Only count non-flagged reportbacks"
Totally forgot to add this `AND` to the [query](https://github.com/DoSomething/dosomething/blob/b7b36a5c6364b71feab18d88800af88b50f61480/lib/modules/dosomething/dosomething_signup/includes/dosomething_signup.cron.inc)
Currently counting all reportbacks, approved or not :grimacing:

[2015-05-04 20:36] mikefantini opened #4455 "non-owner permalink title if user first name does not exist"
If there is no first name attached to the user who submitted a reportback let's have the top of the non-owner permalink page read "Join DoSomething.org" instead of "Join [user:first_name] and DoSomething.org"

![image](https://cloud.githubusercontent.com/assets/6330971/7461870/2b999416-f27b-11e4-9a10-bd1e64d679ca.png)

This is a consideration for providing the permalink to users via SMS after they

[2015-05-04 20:38] mikefantini commented on #4454
@angaither this should count reportbacks that are approved, excluded, or promoted.

So all reportbacks that have a status (i.e. have been reviewed) where that status does not equal flagged.

[2015-05-04 20:46] mikefantini commented on #4453
For this can we have the title of the field be "Progress Update" and have the help text read "Total approved qnty is: x. Subtract this # from the # our partner provided, and enter the difference here. I.e. if partner said 1,000 and the total approved qnty is 100, enter 900."

[2015-05-04 22:38] #4105 closed, assigned to nobody

[2015-05-05 15:05] angaither commented on #4454
Actually, excluding flagged things is in the query, but `flagged` defaults to `0`
It should default to `null` first and, then change to `0` once the reportback has been approved (or not)

[2015-05-05 15:12] angaither opened #4456 "Update flagged/non-flagged reportbacks"
Do a wee bit of surgery on the db to
1. Change the default `flagged` in the reportback table from `0->null`
2. Update all non-reviewed reportbacks from `0->null`

Refs #4454

[2015-05-05 15:27] aaronschachter commented on #4443
@sbsmith86 There is, you can make it a fixed field size of 6. I'm happy to walk through it with you if you'd like.

Quick question though, are these files unique to each campaign? Or are they to be used for every campaign? If it's the latter, we'd want to store these as system variables vs on the campaign template...

[2015-05-05 15:53] sbsmith86 commented on #4443
Hmm @mikefantini thoughts on that question ^^ will animations be campaign specific or global?

[2015-05-05 16:25] mikefantini commented on #4443
they'll be global. but again, we'll most likely have at least one variation for the test, but this will still be for all campaigns we test, not campaign specific.

@sbsmith86 @aaronschachter

[2015-05-05 18:08] aaronschachter commented on #4443
@sbsmith86 We'll want to store each file as a system variable then, instead of fields on the Campaign node.  The Campaign config page seems like a good spot to put them: http://dev.dosomething.org:8888/admin/config/dosomething/dosomething_campaign.

@mikefantini The variation can be done via Optimizely. We could upload the alternative files via `admin/content/file`, and swap out the file paths in

[2015-05-05 18:10] mikefantini commented on #4443
sounds great thanks @aaronschachter. Seems to make it easier for everyone this way.

[2015-05-05 18:34] mikefantini commented on #4443
also @sbsmith86 is this issue for you or @angaither?

[2015-05-05 18:35] mikefantini commented on #4446
@angaither idea is that this would be tied to progress towards the goal.

definitely not final copy, but hoping it will look something like this https://docs.google.com/document/d/1o6Pw0zaszsrqzBTgagq89yzjdc74-4GtvzQ5VJMwMmk/edit

[2015-05-05 19:00] #4454 closed, assigned to angaither

[2015-05-05 19:00] #4456 closed, assigned to angaither

[2015-05-05 19:12] sbsmith86 commented on #4443
@mikefantini I will take it.

[2015-05-05 19:26] mikefantini commented on #4443
sweet thanks @sbsmith86

[2015-05-05 21:19] angaither commented on #4455
@mikefantini uhh, it's a bit strange, because the copy 'And' is set in the cms, can we say join your friend and dosomething?

[2015-05-05 21:25] mikefantini commented on #4455
right that's what I was afraid of.

Honestly the whole title is kind of weird for this use case because most likely they won't be logged in to the site and the experience will be:
- user texts in rb
- we text user permalink
- user clicks through to their permalink
- page of user's permalink says "Join your friend and DS" even though it's their rb

I think it's fine if I'm a user and it says my nam

[2015-05-05 21:30] angaither commented on #4455
@mikefantini yeah I just know there's a lot of people we don't have the name for, since there's a lot of the `[user:field_first_name]` text now.
We could change it for everyone to just say Join DoSomething.org, but the web peeps would loose the name of the friend then...

[2015-05-05 21:33] jonuy commented on #4455
I've been trying to think of something else other than "your friend" but nothing better really comes to mind. I actually think the "your friend" copy is ok. Even if the main use case is myself looking at my own permalink, the primary action the page is asking me to do is to share it, right? In which case, it could just come off as the site showing me exactly what my friends would see if I shared w

[2015-05-06 20:25] #1488 closed, assigned to sergiitk

[2015-05-07 13:30] #4455 closed, assigned to angaither

[2015-05-07 14:03] sbsmith86 opened #4461 "Set animation file status to 1 when saved"
When animation files are uploaded and saved on the campaign configuration page, they have a status of `0` in the database so they will be removed when the next cron job runs. So we need to work out a way to set the status to 1.

/cc @aaronschachter @angaither

[2015-05-07 15:25] #4431 closed, assigned to weerd

[2015-05-07 15:26] #4443 closed, assigned to sbsmith86

[2015-05-07 15:44] weerd opened #4462 "Consider disabling XML Response from Services Module"
Not sure if the default XML response is used anywhere, but we could consider disabling it within the Services module if it is not used and we can designate the default to be JSON.

![image](https://cloud.githubusercontent.com/assets/105849/7519333/5a56cd02-f4ae-11e4-8561-a66c88d184f8.png)

[2015-05-07 15:45] aaronschachter commented on #4461
I believe this unfortunately needs to be done via a custom submit function for the form, where we manually save the file and set it status to 1 (similar code to the user submitted Reportback form).

It might make sense to strip out the Animation variables into their own Drupal Form function, to keep all of the other variables in the `system_settings_form`.

[2015-05-07 15:45] weerd commented on #4462
Added this issue as a talking point for us to consider. Low priority but wanted to see if XML response is being used anywhere.

@aaronschachter @angaither @jonuy @mshmsh5000 @drewish @DFurnes

[2015-05-07 15:52] aaronschachter commented on #4461
Actually, second thought. What we used to do for the Alt BG file field on campaigns was have a text field where we'd manually enter the File fid (see #4382).

Since only admin's will be uploading these files, this approach would be a lot less code for us. It just means the files need to be uploaded and set to permanent manually: https://github.com/DoSomething/dosomething/wiki/Site-Guide#uploading-

[2015-05-07 15:53] mikefantini commented on #4461
yeah +1 to this @aaronschachter

[2015-05-07 15:54] sbsmith86 commented on #4461
@aaronschachter Oh sweet, that is easy enough. Looks like we also do that for default reportback images, so I will follow that model.

[2015-05-07 16:00] aaronschachter commented on #4462
I think this should be safe to try at least, there's nothing I can think of.  I know I had to turn on the `x-www-form-url-encoded` to get login auth to work in the iOS Reviewer app with the Services endpoint.

[2015-05-07 16:10] jonuy commented on #4462
Yea, I think it's safe to try removing the XML response. There's nothing I'm aware of using it.

For Request Parsing, I think we could get rid of `appliation/xml`. The other two should probably stay.

[2015-05-07 16:11] aaronschachter commented on #4048
This functionality currently exists on the web: https://www.dosomething.org/admin/users/rb

I opened this issue for adding similar functionality to the Reviewer mobile apps, where you can currently only browse Inbox count by Primary Cause.  Looking at Google Analytics, the iOS app currently has 0 active users over the past month, so marking this as low priority :person_frowning:

[2015-05-07 17:02] #4452 closed, assigned to nobody

[2015-05-07 18:04] aaronschachter commented on #4356
Duplicate of #4110. The endpoint currently is using the apache solr drupal view, about to look into #4110 now

[2015-05-07 18:04] #4356 closed, assigned to nobody

[2015-05-07 18:10] weerd commented on #4462
Yep yep. That's what I figured. I know `x-www-form-url-encoded` is needed for some like file related things too... but can't remember for sure. But yeah, aiming to toggle off:
- `xml` in Response formatters
- `application/xml` in Request parsing

Cool cool. When I push up a Features update to toggle on the Kudos endpoint I can do another (or in same PR) to toggle off the above two items.

[2015-05-07 18:16] aaronschachter commented on #4232
No longer using Drupal services for User registration anymore, closing this.

[2015-05-07 18:16] #4232 closed, assigned to nobody

[2015-05-07 18:17] aaronschachter commented on #4046
Login API requests to be handled by Northstar, closing this.

[2015-05-07 18:17] #4046 closed, assigned to nobody

[2015-05-07 19:42] DFurnes opened #4465 "Return existing signups from campaign sign-up endpoint"
If an API client (such as Northstar) tries to use the API to create a signup, and the given user is already signed up for the campaign, the API returns a relatively unhelpful `[ false ]` response.

It would be nice if it returned the existing signup, with either an "already exists" message or a timestamp representing when the original signup was made. In this case, it should probably return `200 O

[2015-05-07 19:55] jonuy commented on #4465
It'll also be a good idea with this one to standardize the response from this endpoint. Whether it's a success or failure, the response should come back as an object. And in addition to the `sid` should also come back with the rest of that resource data - at least `uid`, `nid`, `source`, and `timestamp`.

[2015-05-07 20:40] angaither opened #4468 "Update sum_rb_quanity -> sum_rb_quantity"
write an update hook to update the spelling and change it where used
places used:
- [x] dosomething_reportback.cron.inc
- [ ] dosomething_campagin.theme.inc
- [x] dosomething_helpers.variable.inc

[2015-05-08 14:15] #4453 closed, assigned to angaither

[2015-05-08 17:02] lkpttn opened #4471 "ImageMagick experiments for drawing problem fact images"
Computers can do the work for us.
http://www.imagemagick.org/Usage/draw/#text

![problemfact](https://cloud.githubusercontent.com/assets/1865372/7541280/f66e5542-f581-11e4-86f5-6b2dbc191391.png)
## Some specifics:
### Size

471x248px
Background: #23B7FB
### Fonts

Proxima Nova 24pt #FFFFFF
Proxima Nova Bold 16pt  #337D9F
### Margins

20px on all sides.

[2015-05-08 17:19] #4110 closed, assigned to nobody

[2015-05-08 17:39] sbsmith86 commented on #4471
@lkpttn how much space is between 'Make a difference' and the problem statement?

[2015-05-08 18:02] aaronschachter commented on #4471
Curious, what's the context behind this issue? Why display as an image?

[2015-05-08 18:06] sbsmith86 commented on #4471
@aaronschachter we are creating an image with the problem fact statement that will be used for social sharing.

[2015-05-08 18:24] lkpttn commented on #4471
@sbsmith86 Sketch says 6 pixels, but the box sizing for the text may be different for Sketch vs ImageMagick.

@aaronschachter We want images to attach to FB posts and such so they show up in people's timelines.

![facebook](https://cloud.githubusercontent.com/assets/1865372/7542831/01d8794c-f58e-11e4-9f5c-3e809fbf2f03.png)

[2015-05-08 18:33] aaronschachter commented on #4471
For sharing individual facts?  Or these images show up when you share a campaign?

[2015-05-08 18:42] lkpttn commented on #4471
From the action page, there's a new set of share buttons specifically for sharing the problem statement. We just updated the wiki with the most recent mocks and docs.

https://sites.google.com/a/dosomething.org/dosomethinguxwiki/product-archive/fomo-suite/join-me-shares

[2015-05-08 22:30] jonuy opened #4472 "Notify Northstar when a kudos is received"
When a user receives a kudos, they will get a push notification about it. Northstar's gonna handle the grunt work of sending the push notifications. On the Drupal end, we'll just need to let Northstar who received a kudos and on what.

There's a bunch of work that still needs to get done on Northstar to support it (see https://github.com/DoSomething/northstar/issues/104), but for Drupal, when a ku

[2015-05-08 22:37] aaronschachter commented on #4472
Not sure if this is implied --  but I'm assuming all POSTs to Northstar are handled via Message Broker ?

[2015-05-11 14:26] angaither commented on #4439
@mikefantini do you want this to say the full number or the "readable" one (3.x million)

[2015-05-11 14:30] mikefantini commented on #4439
@angaither readable please

[2015-05-11 14:46] weerd opened #4473 "Create universal Transformer Class for API on DS app"
Will be creating a Transformer class within the API module that can be extended by other module classes when creating specific transformers for those modules (ie: ReportbackTransformer, CampaignTransformer, KudosTransformer, etc.)

[2015-05-11 15:02] mikefantini opened #4475 "sharing problem fact on action page"
Prompt user to share the problem statement on the action page (this prompt should not appear on the pitch page).

Desktop:
![image](https://cloud.githubusercontent.com/assets/6330971/7567580/ee618422-f7cb-11e4-972f-b7b20527fb45.png)

Mobile:
![image](https://cloud.githubusercontent.com/assets/6330971/7567589/f9b4192a-f7cb-11e4-96d2-72d61fc4f07a.png)

Let's create a variable, "Problem Fact Share Pr

[2015-05-11 15:05] mikefantini opened #4476 "problem facts on social"
- [ ] Facebook
  ![image](https://cloud.githubusercontent.com/assets/6330971/7567907/c9c15b18-f7cd-11e4-84e0-ca4773fe547c.png)
- [ ] Twitter (note: no image is being shared on Twitter, just the problem fact copy and the link)
  ![image](https://cloud.githubusercontent.com/assets/6330971/7567879/87e70d50-f7cd-11e4-867d-bd4ab74419a8.png)
- [ ] Tumblr
  ![image](https://cloud.githubusercontent.com/as

[2015-05-11 15:09] mikefantini opened #4478 "problem shares only when campaign is "not hot""
putting this in so we don't forget about it

we don't want multiple share prompts on the page at the same time, so the rules will be this:
- when a campaign is in the hot phase, we'll prompt the user to share the goal in the hot module
- when a campaign is in the not hot phase, we'll prompt the user to share the problem

[2015-05-11 15:22] angaither opened #4479 "Editor config file"
with our "rules"

[2015-05-11 15:35] lkpttn commented on #4475
![new - action l](https://cloud.githubusercontent.com/assets/1865372/7568613/bbed691a-f7d1-11e4-9df1-6a522482da9a.png)

![gallery - pitch s copy](https://cloud.githubusercontent.com/assets/1865372/7568619/c04d5e34-f7d1-11e4-8485-862a36303d8e.png)

[2015-05-11 15:38] #4439 closed, assigned to angaither

[2015-05-11 15:39] #4479 closed, assigned to angaither

[2015-05-11 17:50] #4473 closed, assigned to weerd

[2015-05-11 18:08] aaronschachter opened #4482 "Campaign API endpoint -- index fields"
The campaigns index probably shouldn't return a full view of every campaign... but it definitely needs to return:
- Nid / ID
- Title
- Call to Action
- Cover Image (format?)

[2015-05-11 19:25] sbsmith86 commented on #4471
@lkpttn @mikefantini I wrote a script that creates these images. This is what the images are looking like based on this script.
![test_image](https://cloud.githubusercontent.com/assets/1700409/7573204/fe6ecb1a-f7f1-11e4-8a1d-c54bfca9a073.jpeg)

[2015-05-11 19:31] sergiitk opened #4483 "Migrate to the new Staging"
Staging migration plan:
1. [x] <del>Release existing dosomething code to the next tag</del> v0.4.106
2. [x] <del>Deploy this tag to the old staging</del> http://admin.dosomething.org/jenkins/job/Deploy-Assets/584/
3. [x] <del>Deploy this tag to the new staging</del> http://jenkins.dosomething.org/job/Deploy-Staging/33/
4. [x] Make an announcement in #drupal, hold up the following staging releases

[2015-05-11 19:56] mikefantini commented on #4471
@lkpttn I'll leave this to you and @sbsmith86 to sort out in terms of any adjustments we want to/can make to how this is being displayed

[2015-05-11 22:08] jonuy opened #4484 "Include kudos info in reportback-items data returned from the API"
For endpoints that return reportback-item data, also include kudos information in the returned data.

**Relevant endpoints:**
- `/api/v1/reportbacks/:rbid`
- `/api/v1/reportback-items`
- `/api/v1/reportback-items/:rb-item-id`

**Example return:**

_Only a suggestion. Feel free to add more data or re-organize as you see fit._

[code]

[2015-05-12 14:18] angaither opened #4485 "Reportback flagging does not set flagged value to 0"
introduced by #4457

after a reportback is reviewed, if approved, it's status is not set to 0.

[2015-05-12 14:22] jonuy commented on #4482
It'd also be great to return:
- term_id(s): So if I do a call like `/campaigns?on_mobile_app=1`, we'll know what groups to display the campaign in
- fact_problem
- solution_copy and solution_support

[2015-05-12 14:28] jonuy commented on #4472
Hm does it have to happen through message broker? Or could some of what Andrea was looking at before with guzzle work?

[2015-05-12 14:32] aaronschachter commented on #4472
It doesn't have to... but it would keep consistent with how we handle subscriptions to Mailchimp, Mobilecommons, and gives us at least some sort of back-up plan with a queue of requests if the Northstar API happens to go down.  There's also been a long standing issue to use Message Broker for Zendesk tickets too (#1675)

[2015-05-12 14:37] ghost commented on #3845
Took a look at all of the server and Varnish logs that 404 out, and the number of errors per overall requests is very low (~15 in the past 30 days or so, total). It's likely something we can fix with allowing certain URI's in Varnish to be "passed", but we'd have to test this first, and it's not a trivial change. Slated for investigation and testing post-migration.

[2015-05-12 15:08] jonuy commented on #4472
That's fair. And to a separate point you've made elsewhere, if these kudos calls should be coming authenticated through Northstar, then this issue doesn't need to even happen. Northstar will know a kudos has happened because the call came through it. And then notification listener type of code could go in there instead of needing to create a separate `/notifications` endpoint which was my idea her

[2015-05-12 15:19] aaronschachter commented on #4482
One point about the `term_ids` query parameter.

It's currently querying on the `taxonomy_index` table that Drupal core provides, which just maps `nid` to `tid` based on any Taxonomy field.  @uy If a term_ids array was returned based on this table, it would provide tids from all vocabularies which have fields, so Action Type, Hours, Cause, Issue, etc.

I built the query parameter using `term_ids`

[2015-05-12 15:40] lkpttn commented on #4471
Only thing I'm seeing is just the lowercase of "make a difference", but I'm sure that's just a string thing. Looks like this is going to work out.

[2015-05-12 15:41] lkpttn commented on #4475
@sbsmith86 We should also push the FAQs to the right column if there are shares present, to prevent them from stacking up on the left. Furnes was saying in Slack that this is a template thing, so I'm not sure if that is something changed front end or back.

[2015-05-12 15:44] aaronschachter commented on #4475
@mikefantini Edited description to read "variable", not a "field" -- to help clarify it's not a Drupal field.

[2015-05-12 15:53] sbsmith86 commented on #4475
@lkpttn so when shares are present, the FAQ's should display like they do when there is a video?

Also, what are the rules around when the shares are present/when they are not? If there is a problem fact statement, then shares should be present? Would there ever be a case where there is a problem fact statement and shares should not be there?

[2015-05-12 16:10] weerd commented on #4482
- [x] nid
- [x] title
- [x] tagline/call_to_action
- [x] active_hours
- [x] cover_image (now with sizes!)
- [x] term_id(s)
- [x] fact_problem (in `facts` array)
- [x] fact_solution (in `facts` array)
- [x] fact_sources (in `facts` array)
- [x] solution_copy (in `solution` array)
- [x] solution_support (in `solution` array)

[2015-05-12 17:11] #4485 closed, assigned to angaither

[2015-05-12 17:48] lkpttn commented on #4475
Yeah yeah.

I think the intention is for there to always be share buttons, so the FAQ link will always move over. I don't forsee us rolling this out onto only certain campaigns, it would be site-wide. This could be implemented in the template logic or we could change the rule to always have FAQs on the left side.

[2015-05-12 18:58] jonuy opened #4487 "Ability to query /kudos endpoint with a uid"
The intent here is to allow a user to query for all the kudos she's sent.

[2015-05-12 19:59] mikefantini opened #4488 "active tab for SMS Games should display SMS Game layout"
if a campaign is an SMS Game and the campaign is closed, then the active tab should display as if it were an active SMS game. currently it is displaying an action page as if it were an active campaign

see https://beta.dosomething.org/node/2366 as an example

related to #3220

[2015-05-12 20:12] mikefantini opened #4489 "new content issue when paginating through content search"
when you click on a new page on https://beta.dosomething.org/admin/content/search the results go from 5291 to 632 (as of the writing of this issue). The reason for this huge drop in available content is that "Has new content" is selected when you clickthrough to other pages and there is nothing a user can do about that.

see https://trello.com/c/MbH8YJh3 for another example.

ideally "has new cont

[2015-05-12 20:13] mikefantini commented on #4489
@angaither do you mind taking a look at this when you have a sec?

[2015-05-12 22:26] aaronschachter commented on #4488
This would seem to be an easy fix, but looking at the [code that determines what template to use](https://github.com/DoSomething/dosomething/blob/v0.4.109/lib/modules/dosomething/dosomething_campaign/dosomething_campaign.theme.inc) makes it apparent that this same logic is used all over the place to determine which template to use (Action Page, Pitch Page, SMS Template, Closed State). we've made t

[2015-05-12 23:19] aaronschachter commented on #4488
The fix should be that we just need to check for campaign type within [this block](https://github.com/DoSomething/dosomething/blob/v0.4.109/lib/modules/dosomething/dosomething_campaign/dosomething_campaign.theme.inc#L45) and call `dosomething_campaign_preprocess_sms_game` if its an SMS game.

[2015-05-13 13:06] #4483 closed, assigned to sergiitk

[2015-05-13 14:23] mikefantini commented on #3822
This seems to have stopped working.

The user who is logged in does have the org friend role and so they should see the Active Tab for closed campaigns.

![image](https://cloud.githubusercontent.com/assets/6330971/7612559/a123d8ba-f959-11e4-8f65-8776a8ed1c17.png)

![image](https://cloud.githubusercontent.com/assets/6330971/7612605/e6294788-f959-11e4-9be6-183dba037c95.png)