[2015-10-16 18:06] mikefantini commented on #5519
If I'm logged in as an administrator I see the correct homepage title, even though the translation is unpublished:

![image](https://cloud.githubusercontent.com/assets/6330971/10549430/eec09f4c-740e-11e5-8eed-9d513c06fb0f.png)

[2015-10-16 18:16] sbsmith86 commented on #5482
Thanks @sheyd! So, there is another issue going on here. I have confirmed that the images are being generated in thor. But they are located at URLs like:

`https://thor.dosomething.org/sites/default/files/images/problem-5459.png`

However the code is trying to find them at

`https://thor.dosomething.org/ussites/default/files/images/problem-5459.png`

And that def. don't exist. So definitely an iss

[2015-10-16 18:26] marahml commented on #4514
yes, totally cool with those users not getting emails - and think it better protects us for coppa law.

[2015-10-16 18:27] namimody opened #5522 "Editors (US) should only see English option when editing campaigns"
Currently, a site editor sees the following when editing a campaign:

![image](https://cloud.githubusercontent.com/assets/12396076/10549918/f7228828-7411-11e5-9ca9-ab0479e616a6.png)

They should only see the last option (English).

[2015-10-16 18:33] angaither commented on #5482
ohhhhh. redirect stuffs.......... (cc @deadlybutter)

[2015-10-16 18:34] angaither commented on #5482
do we need to not redirect image urls for now?

[2015-10-16 18:35] itsjoekent commented on #5482
yeah i guess we can exclude /sites

[2015-10-16 18:38] DFurnes commented on #5482
Yeah, asset URLs definitely shouldn't be rewritten... so `/profiles` should be excluded too.

[2015-10-16 18:39] angaither commented on #5482
should also look at how image node path urls are generated...

[2015-10-16 18:45] sbsmith86 commented on #5078
Closing per #5520

[2015-10-16 18:49] mikefantini opened #5523 "Campaign reference on homepage edit only references title in source language"
As an MX admin if I try to edit the homepage and reference a new campaign on the homepage, I need to search for the US EN title because the MX SP title doesn't register any results.

In this case I'm searching for Don't Be A Sucker (or No sea un lechón).

![image](https://cloud.githubusercontent.com/assets/6330971/10550248/e1ab7d2c-7413-11e5-828f-440161b709ae.png)

![image](https://cloud.githubuse

[2015-10-16 19:11] sergiitk opened #5524 "Global: Fatal error in dosomething_global module"
https://jenkins-thor.dosomething.org/job/Deploy-Thor/100/console

[code]

https://github.com/DoSomething/phoenix/blob/global/lib/modules/dosomething/dosomething_global/dosomething_global.module#L99

[code]

Extra `)`.

[2015-10-16 19:14] #5524 closed, assigned to itsjoekent

[2015-10-16 19:21] sergiitk opened #5526 "International: campaign titles are empty on edit page"
The titles are blank on edit page after reverting from `v1.3.20` to `v1.0.20`.

Example:
https://uk.dosomething.org/node/1406/edit

[2015-10-16 19:24] sergiitk commented on #5526
The easiest way to fix it is to delete translatable title field in the campaign content type field management and then replace the title again. The fields will be copied automatically.

[2015-10-16 19:25] mikefantini commented on #5517
@weerd what about MM/DD/YYYY (which should be DD/MM/AAAA)? It's in POEditor but not displaying https://poeditor.com/projects/po_edit?order=&filter=&id=39074&id_language=196&search=MM%2FDD%2FYYYY

![image](https://cloud.githubusercontent.com/assets/6330971/10551277/ff8765b2-7419-11e5-8a75-5ffa5061336c.png)

cc: @sbsmith86

[2015-10-16 19:25] sergiitk commented on #5526
It takes 5 minutes to do all the procedure and seems like very lo-risky.
cc @mshmsh5000 @sheyd

[2015-10-16 19:28] sbsmith86 commented on #5517
Yea, i didn't run that placeholder text through `t()` :flushed:

https://github.com/DoSomething/phoenix/blob/dev/lib/modules/dosomething/dosomething_user/dosomething_user.module#L18

[2015-10-16 19:30] weerd commented on #5517
Ah, righty-o. I can update that!

[2015-10-16 19:37] mikefantini opened #5527 "In POEditor but translation not appearing on thor"
- [x] First Name
- [ ] User account
- [ ] "(And you've entered to win the scholarship!)" - on alpha permalink when scholarship attached.

[2015-10-16 20:12] mikefantini opened #5528 "Redirect loop when trying to go to thor homepage from Japan"
![image](https://cloud.githubusercontent.com/assets/6330971/10552245/8b70948a-7420-11e5-9706-716eac5dcd53.png)

[2015-10-16 20:17] mikefantini commented on #5528
moved to #5541

---

I also get a redirect loop as an administrator in the US trying to go to https://thor.dosomething.org/campaigns/out-closet-cards-gl:

![image](https://cloud.githubusercontent.com/assets/6330971/10552347/56cc268a-7421-11e5-98ec-21195b25ecd1.png)

[2015-10-16 20:22] mikefantini opened #5530 "Anonymous user from Japan gets 404'd on GL EN link of published campaign"
This campaign is published and has a GL EN translation published as well https://thor.dosomething.org/campaigns/out-closet-cards-gl. However, when I go to that link as an anonymous user from Japan, I get a 404:

![image](https://cloud.githubusercontent.com/assets/6330971/10552459/e9d0d6a6-7421-11e5-857d-2a544f822b8d.png)

possibly related to #5528?

[2015-10-16 20:34] mshmsh5000 commented on #5526
Sounds good, given
1. We do on a non-Friday,
2. We tell UK + Canada in advance, and
3. We back up the DB.

[2015-10-16 20:35] mikefantini opened #5531 "Need similar BR/MX path setups for /about/ as we have for /campaigns/"
Once static content is translated, we need a similar solution for /about/ as we have for /campaigns/ (i.e. /voluntario is the alias translation).

@angaither I assume this can be 1.1 but not sure if it will mess things up for launch if we change it later.

[2015-10-16 20:39] sergiitk commented on #5526
100% agree.

[2015-10-19 00:33] deezone opened #5533 "ds build --install dosomething_mbp_update_7006() PHP Warning"
Vagrant installs with `ds build --install`include a PHP warning:

[code]

Address the warning by providing a value for `$sandbox` parameter.

[2015-10-19 13:40] weerd commented on #5527
Where specifically? Is this from the modal? Profile page?

[2015-10-19 13:43] weerd commented on #5527
Found it. On the modal ;)

[2015-10-19 13:50] weerd commented on #5517
actually, @sbsmith86 it seems like you're doing some logic there with the ternary to decide on how to display date format, so `t()` probs _shouldn't_ be used right? I just need to update the `YYYY` to be `AAAA`

año === year (in spanish, ¡olé!)

[2015-10-19 13:55] mikefantini commented on #5517
@weerd can you please make sure it's DD/MM/AAAA for Brazilian users as well? Thanks!

[2015-10-19 13:55] sbsmith86 commented on #5517
@weerd I'm not all clear on all the details of how we are using `t()`... but I thought that all hard coded strings need to be ran through it. If the ternary needs to be removed for it to work, then feel free to rework that logic. We just need to make sure to show `MM/DD/YYY` placeholder text for US users only.

[2015-10-19 13:58] sheyd commented on #5495
@namimody @mikefantini @mshmsh5000

iOS Instructions: https://torguard.net/knowledgebase.php?action=displayarticle&id=59
Android Instructions: https://torguard.net/knowledgebase.php?action=displayarticle&id=34

[2015-10-19 14:00] weerd commented on #5517
I think the logic is fine. it's just that in spanish **Year** is **Año** and so YYYY to spanish users doesn't make sense is all. So just going to update the string for spanish to be AAAA. The only scenario where I think maybe keeping it in POEditor would make sense is if it varies from that for other languages too, which would then make it easier for us to just keep in POEditor based on the langua

[2015-10-19 14:00] mikefantini commented on #5495
Awesome thanks @sheyd. @namimody can you please send over to TSG?

[2015-10-19 14:04] sheyd commented on #5495
Links added to Phoenix VPN wiki page here:

https://github.com/DoSomething/phoenix/wiki/VPN-Server-for-Testing-International-Sites

[2015-10-19 14:04] mikefantini commented on #5517
@weerd @sbsmith86 I'm fine with whatever you think will be easier to update in the future for other languages.

My gut tells me POEditor since that won't require any code pushes.

[2015-10-19 14:04] weerd commented on #5517
Yeah, probs POEditor. I'll switch it around then.

[2015-10-19 14:16] #5495 closed, assigned to sheyd

[2015-10-19 14:18] #5503 closed, assigned to itsjoekent

[2015-10-19 14:25] ArielSD commented on #5444
Hey @sbsmith86 Just checking up on this again- thank you!

[2015-10-19 14:41] namimody commented on #5495
Thanks @sheyd!

[2015-10-19 14:50] mikefantini commented on #5497
@angaither is there anything left to do on this issue?

[2015-10-19 14:52] angaither commented on #5420
closed with #5515

[2015-10-19 14:52] #5420 closed, assigned to angaither

[2015-10-19 14:53] mikefantini commented on #4850
@sergii-tkachenko what's the status of this issue? Can this be closed out now that #5485 was opened as a 1.1 issue?

[2015-10-19 14:54] angaither commented on #5497
closed with #5521

[2015-10-19 14:54] #5497 closed, assigned to itsjoekent

[2015-10-19 14:55] mikefantini commented on #4992
@sergii-tkachenko can you please provide a status update on this one as well? Thanks!

[2015-10-19 14:56] sergiitk commented on #4992
@mikefantini Finishing this today!

[2015-10-19 14:57] sergiitk commented on #4850
Yes!

[2015-10-19 14:57] #4850 closed, assigned to sergiitk

[2015-10-19 14:57] angaither commented on #5506
fixed with #5521

[2015-10-19 14:57] #5506 closed, assigned to itsjoekent

[2015-10-19 14:58] mikefantini commented on #5366
@blisteringherb I think this is working now and just needs to be deployed to production correct?

If so can you please close this out?

[2015-10-19 15:00] namimody commented on #5457
- [ ] check that now all links/redirects previously going to dosomething.org/something are now going to dosomething.org/us/something

[2015-10-19 15:00] blisteringherb commented on #5511
@DeeZone I'm not quite sure what happened here, but rather than removing the prefix, I need to understand why the user language is pt-br, but the user country is US. The code as it's written is supposed to add that prefix, but it's also supposed to also have the translated URL.

[2015-10-19 15:07] #5366 closed, assigned to blisteringherb

[2015-10-19 15:12] sheyd commented on #5392
The following fields need to be set under `Content Security Policy`:

`default-src: 'self' *.dosomething.org`
`frame-src: 'self' *.dosomething.org optimizely.com`

Remaining tasks before pushing to Prod:
1. Deploy to Staging.
2. Create an Optimizely test in for staging that includes use of a frame element.
3. Test Optimizely A/B test, and confirm all functionality.

@sergii-tkachenko assigning thi

[2015-10-19 15:12] mikefantini commented on #5511
@blisteringherb I think what @DeeZone was referencing was something that you had brought up originally - if we're redirecting users from www.dosomething.org/campaigns to www.dosomething.org/us/campaigns (or /br/campaigns, etc.) then do we even need to add the country prefix in the email? Instead can we just link users to /campaigns and let the redirect logic take care of the rest.

[2015-10-19 15:15] sheyd commented on #5327
@lkpttn I think we're all setup and on our way to completion on this. Infrastructure is setup, and you and Dee are working out the form details.

[2015-10-19 15:15] #5327 closed, assigned to sheyd

[2015-10-19 15:21] DFurnes commented on #5119
@Bladt I did some further refactoring in #5536 and now the `Authorization - Login` custom event will _only_ be triggered when the user logs in via the login form (and `Authorization - Register` will still only be called when the user registers). So they no longer overlap!

[2015-10-19 15:35] angaither commented on #5496
this seems to be working now. (tested locally and on thor with torguard.)
https://thor.dosomething.org/mx/user/3118720/edit

[2015-10-19 15:35] #5496 closed, assigned to angaither

[2015-10-19 16:01] angaither commented on #5528
@mikefantini is this on all campaigns? or just campaigns in global english?
trying to replicate this locally

[2015-10-19 16:09] angaither opened #5539 "remove default current user lang in content search"
in search content view that is set to a default, remove it

[2015-10-19 16:10] mikefantini commented on #5528
moved to #5541

---

I'm getting the same error message when I try to go to https://thor.dosomething.org/campaigns/out-closet-cards-gl as a non-admin authenticated user. And same thing as an anonymous user.

![image](https://cloud.githubusercontent.com/assets/6330971/10583356/70ac8a96-765a-11e5-9fee-f57153384b1c.png)

[2015-10-19 16:15] blisteringherb commented on #5511
@mikefantini @DeeZone There are a few reasons why in general we'd want to send the user to the explicit URL for the campaign. There's a performance hit for 301 redirects, and it'll be much clearer for analytics purposes to have users visit the direct URL. Also since we're rewriting URLs all over the site to use the prefix and translated path, I think we should be doing that here also to keep that

[2015-10-19 16:16] angaither opened #5540 "sql error on registration from japan"
[code]

[2015-10-19 16:20] sbsmith86 commented on #5444
@ArielSD The templates have been updated to style the `help@dosomething.org` text the same as `FAQ`. The updated templates have been saved in mailchimp and are currently saved as drafts in mandrill. Can you take a look and let me know if we can close out this issue?

[2015-10-19 16:21] mikefantini opened #5541 "Campaigns without a prefix aren't working"
As an anonymous user from Japan:
- Current Behavior: I go to https://thor.dosomething.org/campaigns/out-closet-cards-gl and I get a 404 even though this campaign is published.
- Desired Behavior: I go to https://thor.dosomething.org/campaigns/out-closet-cards-gl and I see the campaign.

As an anonymous user from the US:
- Current Behavior: I go to https://thor.dosomething.org/campaigns/out-closet-

[2015-10-19 16:26] mikefantini commented on #5511
Got it. Works for me @blisteringherb. So can this issue be closed out or is there more for you to look in to?

[2015-10-19 16:50] blisteringherb commented on #5511
@mikefantini I think we can close this out.

[2015-10-19 16:50] #5511 closed, assigned to blisteringherb

[2015-10-19 16:57] #5423 closed, assigned to blisteringherb

[2015-10-19 17:11] sbsmith86 commented on #5446
Closing per #5538

[2015-10-19 17:11] #5446 closed, assigned to sbsmith86

[2015-10-19 17:30] angaither commented on #5509
@sergii-tkachenko I just got this on my local as well
- on global branch
- default lang is `en-global`
- trying to create a translation of the homepage node
  - `http://dev.dosomething.org:8888/node/1485/edit/add/en/en-global`
- when I save the node I get the error
  - `EntityMalformedException: Missing bundle property on entity of type field_collection_item. in entity_extract_ids() (line 7844 of

[2015-10-19 17:30] angaither commented on #5509
@sergii-tkachenko do you mind taking a look/seeing if you can replicate this?

[2015-10-19 17:34] #5409 closed, assigned to DFurnes

[2015-10-19 18:00] ArielSD commented on #5444
The link is now properly in "Clicky Clicky Blue", and we're pointing to the Help Center instead of FAQ or help@dosomething.org. Thanks, Shae!

[2015-10-19 18:01] sbsmith86 commented on #5444
Closing!

[2015-10-19 18:01] #5444 closed, assigned to sbsmith86

[2015-10-19 18:19] DFurnes commented on #1525
@weerd Perusing through old issues (nostalgia!), is this [looking better](https://github.com/DFurnes/phoenix/blob/6ac3dd25a7238dfce747176f5be46d5ad9cb0f4e/lib/themes/dosomething/paraneue_dosomething/scss/overrides/_drupal.scss#L24-L26) now?

[2015-10-19 18:21] weerd commented on #1525
¡Es bueno! :+1:

[2015-10-19 18:21] DFurnes commented on #1787
This has been fixed! :hammer:

[2015-10-19 18:21] #1787 closed, assigned to nobody

[2015-10-19 18:22] #1525 closed, assigned to weerd

[2015-10-19 18:25] namimody commented on #4892
Still a problem seen on Thor on multiple browsers (Chrome, Firefox)

[2015-10-19 18:30] DFurnes commented on #3342
This seems to have been fixed sometime, so closing.

[2015-10-19 18:30] #3342 closed, assigned to nobody

[2015-10-19 18:35] DFurnes commented on #3605
This was done [a little while back](https://github.com/DFurnes/phoenix/commit/59bf15d5626241168bbee97339eaed0edbf0071d). :hammer:

[2015-10-19 18:35] #3605 closed, assigned to nobody

[2015-10-19 18:35] angaither commented on #5530
duplicate of #5541

[2015-10-19 18:35] #5530 closed, assigned to angaither

[2015-10-19 18:44] angaither commented on #5528
fixed with #5542

[2015-10-19 18:44] #5528 closed, assigned to angaither

[2015-10-19 18:45] angaither commented on #5541
fixed with #5542

[2015-10-19 18:45] #5541 closed, assigned to angaither

[2015-10-19 19:45] deezone commented on #3342
Weird...

[2015-10-19 19:49] angaither commented on #5531
@mnelson338 we will need to know what the alias of these should be in the different languages

[2015-10-19 19:49] mshmsh5000 commented on #5540
1. We should be receiving only the two-letter codes from Fastly.
2. Obviously, the site shouldn't totally _die_ if we pass in bad data for the country.

[2015-10-19 19:51] angaither commented on #5540
1. might be my bad, I explicitly set the header to JPN
2. but yeah, the db column has a limit of 2 characters (should we increase it...)

[2015-10-19 19:53] angaither commented on #5509
my workaround currently is create a translation on stage
- pull down the latest stage database
- drush fra -y to re-setup global biz

[2015-10-19 20:29] mikefantini commented on #5457
- [ ] set default translated aliases for /campaigns (i.e. /voluntario) and /about

[2015-10-19 20:43] angaither commented on #5540
yeah, this is me sending the wrong header.

[2015-10-19 20:43] #5540 closed, assigned to angaither

[2015-10-19 20:43] #5263 closed, assigned to chloealee

[2015-10-19 20:43] angaither commented on #5539
fixed with #5547

[2015-10-19 20:43] #5539 closed, assigned to angaither

[2015-10-19 20:52] sergiitk commented on #4892
@sheyd @sbsmith86 Cron seems to work. Any other ideas? Could it be the job itself?

[2015-10-19 21:23] #5533 closed, assigned to deezone

[2015-10-19 21:23] sheyd opened #5549 "User Count Disparity Between Drupal Master and Slave DB's"
While analyzing user creation over a specific date range in the data warehouse MySQL server Drupal Slave DB, I noticed disparate user count numbers between it and results on the Drupal Master DB. i.e.:

Slave DB: `select * from users where created between unix_timestamp('2015-10-02 22:00:00') and unix_timestamp('2015-10-04 06:30:00')` - 4043 Users

Master DB: `select * from users where created bet

[2015-10-19 21:24] sheyd commented on #5372
Potentially eff'd pending resolution of this ticket. If not effed, at least blocked by: https://github.com/DoSomething/phoenix/issues/5549

[2015-10-19 21:38] mikefantini commented on #3197
@blisteringherb is this something you could take a look at once Global work dies down?

[2015-10-19 21:54] mikefantini opened #5550 "When field collections are translated, the US English gets overwritten"
https://www.dosomething.org/node/3624/edit

![image](https://cloud.githubusercontent.com/assets/6330971/10592460/407ba17e-768a-11e5-8f0c-9db31ab44dea.png)

![image](https://cloud.githubusercontent.com/assets/6330971/10592492/7138b3e2-768a-11e5-9689-6e22c9b4cb98.png)

[2015-10-19 22:37] mikefantini commented on #5550
When I edit the US English version to be back in English it then overrides the MX SP content.

This is only happening on headers of field collections.

In addition to fixing this bug, let's please write a script to do some cleanup on production (for published and unpublished content).

[2015-10-19 23:03] mikefantini commented on #5550
cc: @mnelson338 ^

[2015-10-19 23:16] mikefantini commented on #5550
Campaigns that I manually updated:
- https://www.dosomething.org/node/15
- https://www.dosomething.org/node/5475

[2015-10-20 13:39] weerd commented on #5504
So just to clarify on @mikefantini point, Drupal uses `!terms` and `!privacy` to pull in and insert the links to the the respective pages so those tokens are needed. This all happens in `t()` so it should be translating. There was something up with the code which should be fixed now and will be confirming on Thor it works.

[2015-10-20 13:45] angaither commented on #5505
@mikefantini since this content isn't getting translated, we should be able to visit https://thor.dosomething.org/facts/11-facts-about-human-trafficking as is?

with no country prefix? correct?

cause they work right now if you go to
https://thor.dosomething.org/us/facts/11-facts-about-human-trafficking

[2015-10-20 13:53] sergiitk commented on #5550
That's bad. I have seen this behavior with older field_collections patch. When I was testing latest patch I specifically checked if this bug still exists — and it didn't. Will investigate this today.

[2015-10-20 14:10] mikefantini commented on #5550
Hmmm @sergii-tkachenko if you tested it, do you think it might have been a permissions thing or a language setting? The user that overwrote the header content was:
- Role: Global Admin
- Language: Global English

[2015-10-20 14:21] mikefantini commented on #5505
Yeah @angaither we need https://thor.dosomething.org/facts/11-facts-about-human-trafficking to redirect to https://thor.dosomething.org/us/facts/11-facts-about-human-trafficking.

I feel like these issues are related: #5006 #5136 and #5316

[2015-10-20 14:31] namimody commented on #5474
Just to record the Optimizely hack for posterity:

collection URL: https://www.dosomething.org/volunteer/old-school-impact
Optimizely test: https://app.optimizely.com/edit?experiment_id=3700860009

collection URL: https://www.dosomething.org/volunteer/boosomethingorg
Optimizely test: https://app.optimizely.com/edit?experiment_id=3685780112

[2015-10-20 14:37] sergiitk opened #5551 "Fatal error during build: "Unable to find a matching SQL Class""
Global branch failes to buld with the following error message:

[code]

[2015-10-20 14:38] sergiitk commented on #5551
This is a blocker for Global 1.0.
@mikefantini @sheyd @blisteringherb

[2015-10-20 14:38] sergiitk commented on #5551
`dev` seems to be not affected. I suspect incompatible zendesk changes has been made into `dev` branch and zendesk client. Should we merge `dev` into `global`.

[2015-10-20 14:40] sbsmith86 commented on #4892
@namimody This is related to the same thing we are seeing in #5482. Tumblr is lagging because it can't find the images. It can't find the images because the url where the images are located is being redirected to a url with the country prefix in it, resulting in an incorrect URL. I don't think we have assigned the work out to anyone to fix it.

See the discussion here:
https://github.com/DoSomethi

[2015-10-20 14:41] sergiitk commented on #5551
Dev branch fails with the same error.

[2015-10-20 14:43] mikefantini commented on #5551
@sergii-tkachenko @angaither is this related to #5540?

[2015-10-20 14:44] sergiitk commented on #5551
It may be related to this:

[code]

[2015-10-20 14:45] sergiitk commented on #5551
@mikefantini No, these are different.

[2015-10-20 14:59] weerd commented on #5504
Confirmed on Thor; both "Terms of Service" and "Privacy Policy" are translated.

[2015-10-20 14:59] #5504 closed, assigned to weerd

[2015-10-20 15:02] sergiitk commented on #5551
It works now. Probably just an external dependency issue.

[2015-10-20 15:02] #5551 closed, assigned to nobody

[2015-10-20 15:30] aaronschachter opened #5552 "Campaigns GET endpoint: Filter by status"
Nice to have. It would be convenient to only return active campaigns, to avoid configuration errors: a closed campaign can be returned if the mobile app dates are set, which results in a failed signup: https://github.com/DoSomething/LetsDoThis-iOS/issues/462

[2015-10-20 15:45] joolaay commented on #5531
We'll only have one column for non-US footer: /About.

"About" needs to translated to Br Portuguese and Mx Spanish (we have all of the pages translated, and will take the titles to populate the footer in paraneue). cc @mnelson338

List of Footer translations:
https://docs.google.com/document/d/1_nK9VZQ6DQIZ46A6XCxQqeK1TUcO1ssMyJUNSbyPDr4/edit

[2015-10-20 15:52] angaither commented on #5505
@mikefantini and everyone, regardless of language/country should be redirected to that?

[2015-10-20 15:58] mikefantini commented on #5550
I'm an idiot. Field collection translations were merged into global not dev and so they aren't on production yet. Also, translators have Global Admin access, and so they are able to enter in content into field collections which saves the copy for all languages.

Apparently there is also a bug with revisions view, which is why I thought the old copy wasn't in revisions.

Closing this out and will e

[2015-10-20 15:58] #5550 closed, assigned to sergiitk

[2015-10-20 16:24] namimody commented on #5411
- Associated 2014 run (https://www.dosomething.org/node/3494) with campaign "Fantini testing always", unpublished run.
- associated 2015 run (https://www.dosomething.org/node/5828/) with campaign (https://www.dosomething.org/node/2805/edit)
- unpublished Notes from Shawn 2015 dummy campaign (https://www.dosomething.org/node/5833/edit)
- deleted redirect

[2015-10-20 17:32] deezone opened #5553 "$account->language not set on user registration"
When a new user account is created the user language setting in the new user account needs to be set.

[code]
- Perhaps the language value should be based on the FASTLY header country code? A Brazilian example:

[code]

thus `$account->language` should be "`pt-br`", currently it's "`en`".
- Or perhaps there's some other business logic that defines what the user language preference should be?

**BL

[2015-10-20 18:03] mnelson338 commented on #5531
Spanish: sobre
Portuguese: sobre

@angaither

[2015-10-20 18:32] mshmsh5000 commented on #2397
This is ancient -- closing.

[2015-10-20 18:32] #2397 closed, assigned to nobody

[2015-10-20 18:33] mshmsh5000 opened #5554 "Bump Vagrant box version to 1.0.6"
https://atlas.hashicorp.com/dosomething/boxes/phoenix

Need to load newest Vagrant box.

[2015-10-20 18:52] namimody opened #5556 "Blank translated fields pull in from other translations"
GTFO MX's (https://thor.dosomething.org/mx/voluntario/gtfo) problem fact, FAQs, and DO IT first step fields are blank. Logic seems to be that when non-English fields are blank, content from English translation (https://thor.dosomething.org/us/node/5459/edit/en) gets pulled in. Seems to occur for any field not filled out on Spanish or Portuguese translation.

See erroneous problem fact here:

![ima

[2015-10-20 19:36] angaither opened #5557 "modules didn't turn on in global branch"
- [ ] pathauto i18n
- [ ] pathauto i18n node
- [ ] apachesolr_multilingual

[2015-10-20 19:47] angaither commented on #5557
these are in the [dosomething.info](https://github.com/DoSomething/phoenix/blob/global/lib/profiles/dosomething/dosomething.info) file on the global branch and they should have been enabled when we deployed to stage

[2015-10-20 19:57] mikefantini opened #5558 "Translation status shows whether node is published or not, not whether translation is published or not"
[Translation status](https://thor.dosomething.org/admin/content/search/translation?title=i+am+woman&type=All&field_cause_tid=All&status=All) indicates that all translations of "I am Woman, Hear Me Score" are published, however when I go to the [translate tab](https://thor.dosomething.org/us/node/5519/translate) of this campaign, I can see that the US English version is not translated.

related to:

[2015-10-20 20:00] mikefantini opened #5559 "Translation status pulling in impossible number of translations"
https://thor.dosomething.org/admin/content/search/translation?title=Momm-o-grams&type=campaign&field_cause_tid=All&status=All

![image](https://cloud.githubusercontent.com/assets/6330971/10619422/9bf462ac-7743-11e5-8ba0-ff6d0b6029a2.png)

[2015-10-20 20:15] mikefantini commented on #5519
This is happening because the translations are not published.

Once I publish a translation the title works properly.

This is happening on campaigns as well where the translation is unpublished (i.e. https://thor.dosomething.org/br/node/5356/translate)

![image](https://cloud.githubusercontent.com/assets/6330971/10619791/a162f634-7745-11e5-9372-68143d6e3a2f.png)

![image](https://cloud.githubuser

[2015-10-20 20:24] mikefantini commented on #5519
I _think_ we're safe to move this to 1.1 because 1. ideally users shouldn't be able to navigate directly to that URL and 2. we shouldn't have too many translations floating around that we don't want to publish.

[2015-10-20 20:34] mikefantini commented on #5556
Another example where I removed VIP from BR PT translation of https://thor.dosomething.org/br/node/2043/edit:

![image](https://cloud.githubusercontent.com/assets/6330971/10620324/5df39b8a-7748-11e5-9fc9-104d9ff95d3b.png)

![image](https://cloud.githubusercontent.com/assets/6330971/10620296/3c23898e-7748-11e5-99cd-c5ce0fdbfeb1.png)

[2015-10-20 20:35] mikefantini commented on #5556
Moving this to 1.1 since it _seems_ like we are translating all fields when we are translating copy and not leaving any blank.

[2015-10-20 21:02] mikefantini commented on #5556
Apparently this might have happened with some of the translation and so this needs to be a 1.0 issue.

[2015-10-20 21:19] mikefantini commented on #5505
Hmm actually let me take a step back. I'm not sure if I was correct that we want https://thor.dosomething.org/facts/11-facts-about-human-trafficking to redirect to https://thor.dosomething.org/us/facts/11-facts-about-human-trafficking.

This is the situation: we currently get ~850,000 entrances each month to our 11 facts pages and these come from all over the world. Very few users navigate to thes

[2015-10-20 21:31] mikefantini commented on #5519
Bummer. Nope this probably needs to be a 1.0 issue because the unpublished translation is still showing up in SOLR results.

See School Insider show up on /br and /br/search even though the BR PT translation is unpublished. https://thor.dosomething.org/br/node/5356/translate

![image](https://cloud.githubusercontent.com/assets/6330971/10621719/6cadd160-7750-11e5-81e0-763abcd30b2e.png)

![image](ht

[2015-10-20 22:25] mikefantini commented on #5519
Again, if we don't think we can get this done by 1.0, the other alternative is to make sure that all translations are published. And any translations that we don't want published are deleted.

Obviously this isn't a long-term or even medium-term solution, but could be the best route to go depending on how difficult this issue is to fix.

[2015-10-21 00:39] mikefantini commented on #5482
Making this a 1.0 issue with lower priority. Even as a US user I get 404'd when trying to share the problem fact.

![image](https://cloud.githubusercontent.com/assets/6330971/10624847/b42ca204-776a-11e5-88cf-ad5fbec60212.png)

[2015-10-21 00:40] mikefantini commented on #5482
also note this is the URL of the pop-up after I post on FB https://staging.dosomething.org/usds-share-complete?post_id=10103752193386179_10104399445437879#_=_

[2015-10-21 01:18] mikefantini opened #5562 "Regional Admins are able to edit US EN fields"
Some of the logic of #4934 seems to have gone away. Now on both thor and staging, Regional Admins are able to edit fields outside of their language depending on what country they are visiting the site from.

As an example, when I go to edit a campaign, as a Brazil admin with Language set to Brazilian Portuguese from the US I have access to US English fields. If I am visiting from BR, I get taken t

[2015-10-21 01:24] mikefantini commented on #5505
Also going to https://staging.dosomething.org/mx/facts/11-facts-about-bullying as a user in Mexico brings up the US EN fact page:

![image](https://cloud.githubusercontent.com/assets/6330971/10625407/ecbf3e8c-7770-11e5-8bac-785fea48d4a6.png)

[2015-10-21 01:47] deezone opened #5563 "English campaign signup should send English transactional"
Brazilian user signing up for English campaign should get transactional in English, currently `mb-campaign-signup-BR` is sent rather than `mb-campaign-signup-EN`. See example payload below:

[code]

[2015-10-21 01:50] mikefantini opened #5564 "Mobile footer breaks if there is only one column set"
If the MX footer is set like this (which is the desired set up): https://thor.dosomething.org/mx/admin/appearance/settings/paraneue_dosomething

Then the footer appears like this on mobile:
![image](https://cloud.githubusercontent.com/assets/6330971/10625723/7dad90b2-7774-11e5-89b5-101a9ce95c97.png)

cc: @julielorch

[2015-10-21 02:01] deezone opened #5565 "Report back, PHP fatal error: dosomething_global_get_language() must be an instance of stdClass"
When submitting a test report back the following fatal error is produced;

[code]

It looks like `function dosomething_global_get_language($account, stdClass $node = NULL)` is hinted to expect `stdClass` rather than `Reportback` class.

This doesn't appear to happen on staging so perhaps I'm behind on my pulls and this has been fixed already?!?

[2015-10-21 02:07] mikefantini opened #5566 "Can't create an account from /us/admin/people/create"
Need to go to global URL (/admin/people/create).

[2015-10-21 02:15] deezone commented on #5565
Never mind, this is a bug I created on my dev...

[2015-10-21 02:15] #5565 closed, assigned to blisteringherb

[2015-10-21 02:19] mikefantini commented on #5519
We need to make sure that all US EN translations are published on production before we merge this into dev and push to prod. Currently a lot of the campaigns that have been translated into different languages have US EN translation unpublished for some reason.

[2015-10-21 02:27] mikefantini opened #5567 "SMS Game form layout breaks"
When I loaded the page everything looked fine. Then when I entered in my first name and then my cell phone number and tabbed over to my friend's cell number field the layout looked like this:

![image](https://cloud.githubusercontent.com/assets/6330971/10626093/ad4f52b0-7779-11e5-9b4d-1e37310ca921.png)

[2015-10-21 02:45] deezone opened #5568 "Report Back Transactional not necessarly in correct language"
A user report back transactional template is based on the user's location at the time of report back rather than the language of the campaign that's being reported back on (See `dosomething_mbp_get_template_name()` for generation of template name logic). This seems to currently workout but when campaigns are in several languages for global users there's a chance the report back transactional will

[2015-10-21 13:43] angaither commented on #5519
@mikefantini I think the title showing in english and the fact that the campaign shows up in solr might be two different issues
cc @blisteringherb

[2015-10-21 14:07] DFurnes commented on #5564
Oof! Yeah, that's no good.

[2015-10-21 14:22] mikefantini commented on #5566
To be clear, you don't get redirected if you go to a base admin url (i.e. I can navigate to www.dosomething.org/admin/people/create) just fine from the US. The weird behavior happens when I go to www.dosomething.org, I get taken to www.dosomething.org/us and then when I try to navigate to /admin/people/create the /us/ persists, which seems to be causing the problems

[2015-10-21 14:24] mikefantini commented on #5519
Yeah agreed @angaither: the main issue here is that anonymous users are able to navigate to and access unpublished translations.

It just so happens that when they do so, the source title gets pulled in. Which is actually good because I'm not sure we would have found this bug otherwise.

I'll create an issue for the title thing separately.

[2015-10-21 14:32] marahml commented on #5568
@DeeZone aren't these stored as multiple templates in Mandrill? As in, shouldn't we just be triggering the correct template per country?

[2015-10-21 14:34] marahml commented on #5499
@DeeZone just checking in on this! Let me know when I can help with testing. Thanks Dee!

[2015-10-21 14:42] angaither commented on #5566
let's remove the country prefix from admin urls, I think it was just caused by our init hook logic and it's not there for any real reason

[2015-10-21 14:46] deezone commented on #5568
@marahml Yes, that's the idea.  But...

If a user from Brazil signs up for an English campaign they will end up getting the transactional in portuguese (`mb-user-register-BR`) rather than in the language of the campaign they signed up for. This will also be confusing as the three steps listed in the transactional will be in English while the rest of the message will be in portuguese.

This issue i

[2015-10-21 14:48] DFurnes commented on #5567
Having trouble replicating this. I tested filling the form on that node in Safari 9 & Chrome 46 by entering each field and tabbing to the next one... can you try to reproduce again and see if there's something I'm missing to trigger it?

[2015-10-21 14:57] weerd commented on #5527
Referencing these in following doc: https://docs.google.com/spreadsheets/d/1dFO6KGS5ryqI-x2EjPNDupwHqS6p9fK32oeHfTx8t0M/edit#gid=0

[2015-10-21 14:58] weerd commented on #5517
Referencing these in following doc: https://docs.google.com/spreadsheets/d/1dFO6KGS5ryqI-x2EjPNDupwHqS6p9fK32oeHfTx8t0M/edit#gid=0

[2015-10-21 15:05] mikefantini commented on #5567
Closing this, having a hard time reproducing. May have been a rendering error on Chrome's side.

@namimody let's both watch out for this when testing in the future.

[2015-10-21 15:05] #5567 closed, assigned to DFurnes

[2015-10-21 15:07] angaither commented on #5553
@DeeZone I am seeing this work as expected.
When a user signs up from BR or MX, their language is getting set to Portuguese in the account correctly.

[2015-10-21 15:11] angaither commented on #5519
@blisteringherb can you take a look at unpublished translations showing up in search?

[2015-10-21 15:14] angaither commented on #5556
@mikefantini what does _this_ mean?

[2015-10-21 15:18] mikefantini commented on #5556
@angaither we may have cleared out entire fields when doing translation (i.e. instead of translating the US EN copy in the VIP field into BR PT, just leaving it blank in the BR PT field). This would result in the US EN copy of the VIP field appearing on the BR PT version of the campaign.

[2015-10-21 15:31] mikefantini opened #5569 "Signup & Reportback: US templates are being triggered for MX & BR"
On staging, all transactional messages as MX user were US-EN template

User registration transactional:

![image](https://cloud.githubusercontent.com/assets/6330971/10641267/791d02e0-77e6-11e5-8872-20930fec8cf3.png)
![image](https://cloud.githubusercontent.com/assets/6330971/10641275/8873cf26-77e6-11e5-83b1-6da2e113c50a.png)

Campaign sign up transactional:

![image](https://cloud.githubuserconten

[2015-10-21 15:33] deezone commented on #5553
@angaither Perhaps there's a difference in our idea of what "work as expected" is?

After creating a new user with the `X-Fastly-Country-Code:BR` header the language setting for the account remains as the default `en`.
![image](https://cloud.githubusercontent.com/assets/2119264/10641444/477ac6b8-77e7-11e5-9c3a-1406f4dfa169.png)

[2015-10-21 15:44] blisteringherb commented on #5505
@angaither  In order to make this work, we'll need to run a script to change the language of all of the fact pages to `en-global`. Because the default language for the site is en-global and it doesn't have a prefix, it seems that Drupal won't "fall back" to the only published node like it will for prefixed URLs. Do you see any issues with that?

[2015-10-21 16:06] angaither commented on #5553
@DeeZone are you testing this locally?
make sure you're on the global branch and you've run `drush fra -y` to get the latest code updates
if you still having trouble with this, I can help

[2015-10-21 16:09] mikefantini commented on #5505
@angaither @blisteringherb does this mean when people access 11 facts from the US (i.e. via Google Search) and they navigate to other pages, they will go to Global English pages, or will they they get redirected to US pages?

[2015-10-21 16:15] angaither commented on #5505
from what i understand about this
- we want to keep the urls as they currently are
- we do NOT have translated content or URLs for this

so, yes @blisteringherb that makes sense to me since the urls won't need a prefix, they should be in `global-english`

[2015-10-21 16:23] mnelson338 commented on #5562
@mikefantini I agree - A. seems like the best option.

However, there is a third option: Translators send me the content, and I add it in using option A. which removes the concern of translators doing something with navigation. Essentially, we would have more control. This might be the easiest solution.

[2015-10-21 16:24] angaither commented on #5556
@mikefantini should our admins/global admins be able to see the campaign if it's unpublished and everyone else should get a 403?

[2015-10-21 16:30] angaither commented on #5519
@mikefantini should our admins/global admins be able to see the campaign if it's unpublished and everyone else should get a 403?

[2015-10-21 16:32] angaither opened #5570 "unpublished translations showing up in solr"
related #5519

![image](https://cloud.githubusercontent.com/assets/6330971/10621650/16c71d74-7750-11e5-98a6-374ab3c0d0b8.png)

![image](https://cloud.githubusercontent.com/assets/6330971/10621685/38aeb08c-7750-11e5-8503-9afe46ec8771.png)

[2015-10-21 16:32] mikefantini commented on #5519
I think we should have the same rules around unpublished translations as we have around unpublished content.

i.e. admins should be able to see unpublished translations and other users should get 403 if they try to go directly to that path.

[2015-10-21 16:35] angaither commented on #5519
@mikefantini when you say 'admins' you mean anyone with 'access admin menu' permission, not just the admin role.

then this will also be a new bug that the BR version shows the wrong content (to staff/admins)

[2015-10-21 16:37] mikefantini commented on #5519
Right I'm saying anyone who can currently view unpublished content on the site should be able to view unpublished translations.

Can you explain the new bug this would create? Any role that can see unpublished content should be able to go directly to /br/voluntario/whatever to see the BR version.

Oh unless you're saying we'll see the source language title?

[2015-10-21 16:38] angaither commented on #5519
correct, it's returning source lang content if the translation is unpublished

[2015-10-21 16:38] mikefantini commented on #5519
But just for title @angaither. We can add a 1.1 issue for that.

[2015-10-21 16:41] mikefantini commented on #5519
Right, the title bug is only for auth users, anyone who _should_ have access to unpublished translations should be able to see all the content in the translated language. So I don't think this will introduce another issue.

[2015-10-21 16:48] mikefantini commented on #5562
The only risk with that option @mnelson338 is that it would be easier for you (or any other non-native speaker) to have copy/paste human error than one of the translators.

[2015-10-21 16:49] angaither commented on #5482
@sbsmith86 can you take a look at this when you get a chance, looks like it's a malformed url

[2015-10-21 16:52] angaither commented on #5531
@sergii-tkachenko do you mind setting this up with your cherry-picked branch?

[2015-10-21 16:54] sergiitk commented on #5531
Why not through the individual PR?

[2015-10-21 16:57] DFurnes commented on #5564
Talked with @julielorch and we're going to fix this by spreading things between the three columns. :hammer:

[2015-10-21 17:17] namimody opened #5572 "Problem and Solution Facts Don't display correctly on frontend"
As a an admin or a Brazilian admin, you can't change the problem or solution fact for the Spanish or Portugese translations of the campaign.

The backend will shows:
![image](https://cloud.githubusercontent.com/assets/12396076/10644306/0ba98e44-77f6-11e5-9821-fb7185521c6e.png)

Front end shows:
![image](https://cloud.githubusercontent.com/assets/12396076/10644312/13a6ab2c-77f6-11e5-895a-334feea539

[2015-10-21 17:30] blisteringherb commented on #5505
Sorry @angaither @mikefantini, I misspoke on needing to change the language for the 11 facts pages. My dev environment wasn't displaying the correct information. I've put in a pull request to block the redirect behavior for any node that's not translatable. It fixes this issue, and I don't think it will impact any other node types that it shouldn't.

[2015-10-21 17:43] mikefantini commented on #5505
@blisteringherb so will the URL be /us/facts/ or /facts/?

[2015-10-21 17:46] blisteringherb commented on #5505
@mikefantini It will be /facts without a prefix.

[2015-10-21 17:48] mikefantini commented on #5505
Sweet thanks!

[2015-10-21 17:54] angaither commented on #5556
this is perplexing.

[2015-10-21 17:56] angaither commented on #5519
closed with #5571

[2015-10-21 17:56] #5519 closed, assigned to angaither

[2015-10-21 17:59] blisteringherb commented on #5568
@DeeZone Under what circumstances would a Brazilian user sign up for an english campaign? Also, when you say english campaign, do you mean US english or global english? I'm thinking this would only apply to BR and MX users signing up for US english campaigns. If there's a valid translation for the user's language and they hit the bare URL, they'll be redirected to the translated node, so they can

[2015-10-21 18:01] #5505 closed, assigned to blisteringherb

[2015-10-21 18:03] blisteringherb commented on #5563
@DeeZone I think the underlying issue here is that for a BR user, their language is being saved as `en`. Do you know why that might be based on this particular test?

[2015-10-21 18:08] mikefantini opened #5574 "Global Admins do not have sufficient permissions to translate some fields"
As a Global Admin, when trying to translate an existing campaign on thor, I'm seeing this message and an uneditable field "This field has been disabled because you do not have sufficient permissions to edit it." Even though these fields should be translatable per #4835

Seeing it for `field_solution_copy`, `field_solution_support`, `field_pre_step_copy`, `field_photo_step`, and `field_post_step_co

[2015-10-21 18:10] blisteringherb commented on #5569
@mikefantini Unfortunately since we switched out the DB and code on staging I can't say for sure why these templates were using the en-us templates. I can keep this open, and we can see if, after importing the production db into Thor and running through our checklist this issue still persists.

[2015-10-21 18:39] mikefantini opened #5576 "Birthday Date client-side validation not working for MX users on Thor"
Before I fill out the form:
![image](https://cloud.githubusercontent.com/assets/6330971/10646452/2e6b0c0e-7801-11e5-8d8a-8ba5053a6390.png)

After I filled out the form:
![image](https://cloud.githubusercontent.com/assets/6330971/10646397/e1f40402-7800-11e5-803d-33cbd0a5b559.png)

cc: @weerd

[2015-10-21 19:11] mikefantini commented on #5569
Got it @blisteringherb. Since everything has been working correctly in Thor, do we need to do another test run of staging before we deploy everything to production?

cc: @angaither @sheyd

[2015-10-21 19:29] mikefantini commented on #5576
Note:

After I got the client side errors, I tried a birthday that would pass (01/02/1996) and it stored the month and day fields properly (I think):

![image](https://cloud.githubusercontent.com/assets/6330971/10647493/b2ff0e66-7806-11e5-9e1e-85e20369f77a.png)

[2015-10-21 19:31] mikefantini commented on #5576
Hmmm... 05/30/1996 doesn't work either:

![image](https://cloud.githubusercontent.com/assets/6330971/10647824/bc3baa82-7808-11e5-9c89-d075f94bc824.png)

[2015-10-21 19:39] angaither commented on #5569
@mikefantini we can do the same thing to thor that we did to staging by refreshing the thor db with the production data
I think we should do this once we have the real translated content in prod

[2015-10-21 19:56] mikefantini commented on #5568
@blisteringherb - users should receive a campaign transactional email in the language of the campaign they signed up for.

So if I sign up for a campaign that's in GL EN, I should receive an email in GL EN, regardless of where I'm located.

If I sign up for a campaign that's in US EN, I should receive an email in US EN, again regardless of where I'm located.

[2015-10-21 20:10] sbsmith86 commented on #5576
Hmmm...this is working for me.
![screen shot 2015-10-21 at 4 09 20 pm](https://cloud.githubusercontent.com/assets/1700409/10648729/2f127608-780e-11e5-9cdd-1284b9ea6181.png)

[2015-10-21 20:14] sbsmith86 commented on #5576
Oh also I was able to successfully submit the form.

[2015-10-21 20:27] mikefantini commented on #5576
@shae were you on thor.dosomething.org/mx using TorGuard?

[2015-10-21 20:27] sbsmith86 commented on #5576
@mikefantini torGuard

[2015-10-21 20:49] sergiitk opened #5577 "Upgrade Drupal Core to 7.41"
Not critical.
See https://www.drupal.org/SA-CORE-2015-004

[2015-10-21 20:59] angaither commented on #5191
lol
"Do not allow pointless translation tab access"
https://www.drupal.org/node/2422435

[2015-10-21 21:00] deezone commented on #5553
Checked out `global` branch and it works - duh!

[2015-10-21 21:00] #5553 closed, assigned to angaither

[2015-10-21 21:03] angaither commented on #5556
it _seems_ like this is a bug in the module https://www.drupal.org/node/2416879

[2015-10-21 21:10] deezone commented on #5563
@blisteringherb Good point! I was working from the dev branch rather than the global branch when testing / creating issue branches. I suspect this issue will be closed out when I test again using the correct base branch.

[2015-10-21 21:20] mnelson338 commented on #5562
@mikefantini good point. So let's go with option A. I have just gone through and created translations for all the campaigns and pulled the direct links. I'll wait for your go ahead to send to the translators.

[2015-10-21 21:22] angaither commented on #5556
there is also a question box we have checked in the config options with translation fallback, but unchecking it didn't seem to fix it....
![screen shot 2015-10-21 at 5 20 58 pm](https://cloud.githubusercontent.com/assets/645205/10650586/3c8be684-7818-11e5-8034-2a87f607742c.png)

[2015-10-21 21:49] deezone commented on #5496
Duplicate of #5553

[2015-10-21 21:52] deezone commented on #5563
@blisteringherb Updated sample payload, `user_language` and `user_country` bug has been fixed ( #5553 ). They're now in sync. This issue is about a `BR` / `pt-br` signing up for an English campaign. The template should be `[email_template] => mb-campaign-signup-US` based on the campaign being English.

**Related**: The `campaign_language` value should also be in the payload of both the `campaign_s

[2015-10-21 22:09] deezone opened #5578 "User Registration & PW Reset: US templates are being triggered for MX & BR"
user_language / user_country in user_register / user_password transactional requests

Fixes #5499

Related: #5470
- Removes `user_country` from user registrations to allow `dosomething_mbp` to coordinate value.
- Adjusts collection of `user_language` and `user_country` for payloads.

**To test**:
The payload generated by `dosomething_mbp` to send to RabbitMQ server should look like:
- [x] `user_re

[2015-10-21 22:34] deezone commented on #5486
@mikefantini This is an issue on Message Broker side as having `mailchimp_grouping_id``and`mailchimp_group_name` values in campaign signups triggers a consumer to try to sign the user up to a MailChimp list. In the case of global users it will be in the MailChimp account for their country. The global MailChimp accounts don't have "interest groups by campaign" settings making these values invalid a

[2015-10-22 01:46] mikefantini commented on #5486
@DeeZone since we aren't translating campaigns for launch that have these set can't we keep this 1.1?

[2015-10-22 02:01] mikefantini opened #5580 "field_step_pre and field_step_post wiped from campaigns on staging"
Interestingly, copy remains for `field_faq`.

I know for a fact that `field_step_pre` and `field_step_post` existed for https://staging.dosomething.org/node/1631/edit.

![image](https://cloud.githubusercontent.com/assets/6330971/10655063/38dad78a-783f-11e5-98b5-e723e52dad05.png)

@sergii-tkachenko did something happen with the script you wrote when deploying field collection translation to staging

[2015-10-22 02:44] mikefantini opened #5581 "Translations get unpublished after each save from the edit tab"
Translation is published:

![image](https://cloud.githubusercontent.com/assets/6330971/10655553/a7f830b4-7843-11e5-9c69-c1a2da644a4b.png)

I go to edit it as an editor and it's marked as "Not Published". Also the field to publish it when I first save it is disabled:

![image](https://cloud.githubusercontent.com/assets/6330971/10655559/b9bf3b76-7843-11e5-8614-2c665735b3e5.png)

And so when I save i

[2015-10-22 02:49] mikefantini commented on #5581
Seeing a different experience as a Brazil Admin:

Brazilian translation is published:
![image](https://cloud.githubusercontent.com/assets/6330971/10655755/aea2a370-7845-11e5-93bb-bb96574e2e49.png)

However, when I update it as a Brazil Admin, it remains published:
![image](https://cloud.githubusercontent.com/assets/6330971/10655772/e28f4a80-7845-11e5-8f1a-7cd8b88612de.png)

And then when I go to e

[2015-10-22 03:11] mikefantini commented on #5581
OH MY GOD THIS MAKES NO SENSE.

As an editor whether or not the publish field is disabled or not depends on _how you get to /edit_.

If you enter by clicking on the edit tab, the publish translation field is disabled and deselected. If you enter by clicking on the edit link on the translate tab, the field is enabled and selected. Here is a video to prove I'm not crazy (coming soon because obviousl

[2015-10-22 03:39] mikefantini commented on #5581
I confirmed that this actually is happening to regional admins as well (and did it on thor this time), again when you navigate to the edit from the edit tab.

The reason I wasn't seeing this earlier was because I was on staging in the US and so I was navigating directly to /edit/pt-br and not going through the edit tab, and so I wasn't reproducing the bug.

Here is a video of a Brazil Admin reprod

[2015-10-22 03:42] mikefantini commented on #5581
@angaither we can look at this together in the morning. I'm hesitant to delete/edit any of the comments just so that it's all documented, but happy to walk through this with you IRL if any of this is confusing.

Potentially related to #5158, #5469, and/or #5260.

[2015-10-22 04:30] mikefantini commented on #5581
Last thing I'll say about this tonight: I'm not sure why I'm seeing the Publish Translation field disabled sometimes and not other times, but I'm consistently able to reproduce that by going to /edit from the edit tab the translation defaults to being unpublishing upon save.

[2015-10-22 04:49] mikefantini commented on #5581
Also note, this only happens when another translated version of the campaign exists.

So for instance with Level Playing Field on production: because we only have this campaign exist in a US English version, any time we save it from the Edit tab, the translation remains published.

If we were to add a translated version in another language, and then save the US EN version via the edit tab, it woul

[2015-10-22 13:14] angaither commented on #5581
love this

[2015-10-22 14:07] namimody opened #5582 "Hot Module Shows Date 1 Day Before Deadline"
Backend shows:
![image](https://cloud.githubusercontent.com/assets/12396076/10667265/62fe67ba-78a4-11e5-935a-bc145378cfdd.png)

Front end shows:
![image](https://cloud.githubusercontent.com/assets/12396076/10667256/59707814-78a4-11e5-90e4-f811e5930a61.png)

Note that the header photo and the hot module show different dates when the "show end date on pitch page and action page" box is checked. The

[2015-10-22 14:09] deezone commented on #5486
@mikefantini To confirm I understand, there will be no / zero campaigns with `mailchimp_gouping_id` and `mailchimp_group_name`settings that have an affiliate (non-English) version? If that's the case, please move this to G1.1.

[2015-10-22 14:19] deezone commented on #5569
@mikefantini @blisteringherb I think this PR: https://github.com/DoSomething/phoenix/pull/5579 will resolve the MX / BR user registrations and password reset transactions being sent in the correct language template.

[2015-10-22 14:19] mikefantini commented on #5486
Yup. We'll keep this at 1.1.

[2015-10-22 14:21] deezone commented on #5499
@marahml Once https://github.com/DoSomething/phoenix/pull/5579 PR is merged this issue should be resolved and ready for testing.

[2015-10-22 14:25] mikefantini commented on #5574
We can work around this for launch by making people administrators instead of Global Admins. So making this 1.1.

[2015-10-22 14:46] sergiitk commented on #5580
Yes, I noticed this when we were testing global to staging deployment. Looking how to fix this.

[2015-10-22 14:59] sheyd commented on #5224
Testing on Thor successful. Next steps to move user over are:
- [x] Migrate Staging to MariaDB
- [x] Migrate Data WareHouse to MariaDB 10.1 on server
- [x] Migrate Prod to MariaDB RDS
- [ ] Re-setup Data Replication to Data Warehouse from Prod

[2015-10-22 15:31] sergiitk commented on #5580
@mikefantini I just checked pre-field collection DB dump for node 1631 (Space Jam) and neither During Tips nor After tips were there.

[2015-10-22 15:38] sergiitk commented on #5580
Sorry, not that sure already. Testing this one more time.

[2015-10-22 15:52] namimody opened #5583 "ZenDesk Tagging of Tickets Coming in Through GL EN Site"
Would love to figure out a way that Hannah could have tickets tagged as coming in from the GL EN version of the site so we can track non-US trends and non-US volume.

Putting into 1.1, don't actually know where it should go*

[2015-10-22 16:22] mikefantini commented on #5580
Hmmm ok. @sergii-tkachenko I'm not sure when these might have been lost, but I am positive they existed previously. Is there some other time we may have lost them?

Is there another way to test whether we would lose During/After Tips when we deploy to prod?

[2015-10-22 16:46] sheyd commented on #5549
###### 1 Day Range from past 3 years
- 2015 - June 1-2
  - Master DB: 3151
  - Slave DB: 3167
  - Query: `select * from users where created between unix_timestamp('2015-06-01 00:00:00') and unix_timestamp('2015-06-02 00:00:00')`
- 2014 - June 1-2
  - Master DB: 1196
  - Slave DB: 1069
  - Query: `select * from users where created between unix_timestamp('2014-06-01 00:00:00') and unix_timestamp('20

[2015-10-22 16:56] sergiitk commented on #5580
@mikefantini We definitely would lost them. Figuring out what's wrong with this fields.

[2015-10-22 16:57] chloealee commented on #4571
@angaither @DFurnes the only other thing I can think of is to maybe update the `signup` function in the Campaign Controller to first check if there is a session token and if so, validate the request body, else sign user in?

[2015-10-22 17:12] mikefantini commented on #5580
And @sergii-tkachenko, you can confirm that no campaigns in staging have this content correct? Didn't you notice this previously?

[2015-10-22 17:14] sergiitk commented on #5580
Yes, I can confirm that During Tips and After Tips fields are missing from staging.

[2015-10-22 17:15] sergiitk commented on #5580
I didn't notice it previously. I just checked old version and repeated all steps I followed during testing and fields are there (note that the fields are translatable):

![image](https://cloud.githubusercontent.com/assets/672669/10672553/9222a63c-78f9-11e5-9dc7-ce6dc8a9acb9.png)

[2015-10-22 17:21] namimody opened #5584 "Clicking on Photo or "PROVE IT" on USer Profile Brings User to /campaigns"
As a non-admin user coming from Japan: if I click the photo or "PROVE IT buttons on these campaigns on my user profile:

![image](https://cloud.githubusercontent.com/assets/12396076/10672689/a82d6654-78bf-11e5-92af-9ebce061003d.png)

I get brought to /campaigns when I should be brought to the action page or prove it section of the campaign
![image](https://cloud.githubusercontent.com/assets/123960

[2015-10-22 17:36] namimody opened #5585 "Signing Up Via Permalink Page Experience Breaks"
Happening from most browsers (Chrome, IE, Android, Safari/iOS) and especially via Japan (but problems reported from Brazil and US).

Users who try to sign up for a campaign from a permalink or pitch page are 404'd, brought to their "account information page", or page shows up in barebones HTML:
![image](https://cloud.githubusercontent.com/assets/12396076/10673084/f21b9590-78c1-11e5-8b68-2413677b11

[2015-10-22 17:52] namimody opened #5587 ""Contact Us" Disappears on GL EN Version When Window is Resized or Viewed on iPhone"
There is no access to submitting a question when window is resized (happens on Chrome and Safari, at least) or when site is viewed from iPhone.

Chrome:
![image](https://cloud.githubusercontent.com/assets/12396076/10673472/0e5b6b3e-78c4-11e5-977d-5f58eb98b3f5.png)

Safari:
![image](https://cloud.githubusercontent.com/assets/12396076/10673476/157aa2e0-78c4-11e5-9804-28ffe22da3ea.png)

iPhone (via J

[2015-10-22 17:52] angaither commented on #5584
looks like that url is missing the country prefix

[2015-10-22 17:54] angaither commented on #5585
@namimody anon or auth users or both?

[2015-10-22 17:57] namimody commented on #5585
@angaither ahh would need to test auth users. One sec.

[2015-10-22 17:57] angaither commented on #5564
@DFurnes if we are solving this with a content fix, should we close this issue?

[2015-10-22 17:59] DFurnes commented on #5564
Is the fix tracked in Trello or somewhere else? Or do you have your own todo list @julielorch?

[2015-10-22 18:04] namimody opened #5588 "Reportback Text Not Wrapping on iPhone"
Happening on iPhone in at least US and Japan.

Hitting the page shows:
![image](https://cloud.githubusercontent.com/assets/12396076/10673747/78dc4536-78c5-11e5-9447-ea2b79af050c.png)

"Why is this important to..." is cut off.

Then, if one clicks "submit your pic without uploading a photo and/or putting content in the fields, fields shake and text above first field gets red with anger, text above

[2015-10-22 18:09] namimody opened #5589 "Long RB Image Captions Do Not Wrap on iPhone"
Note that 60 character limit _seems_ to be applying on the field, but text is then not wrapping when a user goes back to action page. Happening on at least global EN, US, and MX.

![image](https://cloud.githubusercontent.com/assets/12396076/10673952/6e597024-78c6-11e5-924f-47698853ac49.png)

Ew.

[2015-10-22 18:14] namimody commented on #5585
@angaither Seems to only be the case for anon users.

[2015-10-22 18:18] namimody opened #5590 "RB Image Upload Error Message Doesn't Vanish"
In Part 4 of campaigns where pic is uploaded, if pic smaller than 480 x 480 is uploaded, error messages won't disappear from previous failed upload attempts even when pic larger than 480 x 480 is finally posted.

To recreate: try to reportback with a photo on an iphone that is less than 480 by 480, get an error message. Try to reportback with a photo that is at least 480 by 480, error message pers

[2015-10-22 18:19] angaither commented on #5585
... i bet pitch page sign up button is also broken for them too (it's the same code)

[2015-10-22 18:28] marahml opened #5591 "Campaign Language Support"
These need to be spec'd out into separate issues in various repos, by @DeeZone but summary:

**mb-users Mongo Database Update for POSTs (saving language)**

Adding support for global users to receive the weekly digest email message. In order to support this functionality the user and campaign language setting will need to be supported.
- Support `user_language` and `user_country` in POST to `/user

[2015-10-22 18:29] marahml opened #5592 "Getting (GET) the user + campaign language to support digest translation"
**mb-users Mongo Database Update for GETs (getting language)**
- [ ] Support `user_language` and `campaign_language` in `mb-user-api` GET returned results from calls to `/user` and `/users`
- Filter GET requests by `user_language` and `campaign_language`
- Support `user_language` and `campaign_language` in `mbc-digest-email` consumer to generate multilingual email messages.

[2015-10-22 18:31] namimody opened #5593 "Header Nav Doesn't Adhere to Country When Entering Explicitly"
If I am in the US, go to https://thor.dosomething.org/mx (without using TorGuard), and click the logo or "Explore Campaigns" in the header nav, I get brought to:

logo: https://thor.dosomething.org/us/node/1141
Explorar Campanas: https://thor.dosomething.org/us/campaigns

These are both US translations of the site, not /mx versions.

Although static content is not set up yet, clicking "what is dos

[2015-10-22 18:31] marahml opened #5594 "Campaign Language Support for /campaign Requests - Global Digest"
## Add GET campaign language parameter to Drupal API `/campaign` endpoint.

To support requests from **Message Broker** for campaign details in specific languages to support **global digest message generation**.

When requesting (GET) campaign details from `/campaign`,
- [ ] support for a language parameter needs to be added:

[code]
- [ ] If the language parameter is excluded, the campaign "Origi

[2015-10-22 18:32] sheyd commented on #5549
###### 3 Day Range from past 3 years
- 2015 - April 1-4
  - Master DB: 8947
  - Slave DB: 8857
  - Query: `select * from users where created between unix_timestamp('2015-04-01 00:00:00') and unix_timestamp('2015-04-04 00:00:00')`
- 2014 - April 1-4
  - Master DB: 2839
  - Slave DB: 2826
  - Query: `select * from users where created between unix_timestamp('2014-04-01 00:00:00') and unix_timestamp('

[2015-10-22 18:35] namimody commented on #5585
Doesn't work for me or @mikefantini on node 5740 (Out of the Closet Cards on Thor)

[2015-10-22 18:53] ArielSD opened #5595 "Stripped formatting in mb-new-user-register-BR"
After inputting translated Portuguese content into the template, proper formatting is stripped.

https://us4.admin.mailchimp.com/templates/edit?id=56673

[2015-10-22 18:57] namimody commented on #5585
I'm not able to access 1 Star for Hate (node 3501) after creating an account or by using an existing non-admin) account on Thor @angaither.

Tried to log in using existing account, and saw this:

![image](https://cloud.githubusercontent.com/assets/12396076/10675319/7a13d60a-78cd-11e5-96cb-d49222d33635.png)

[2015-10-22 19:04] marahml opened #5596 "Digest chrome translation"
Translate chrome of digest into Brazilian, Portuguese and Mexican Spanish.

**Digest MailChimp Templates**:
https://us4.admin.mailchimp.com/templates/#f_folder:113;t:template-list
- Global: https://us4.admin.mailchimp.com/templates/edit?id=56741
- MX (Mexico): https://us4.admin.mailchimp.com/templates/edit?id=56733
- BR (Brazil): https://us4.admin.mailchimp.com/templates/edit?id=56737
- US (United

[2015-10-22 20:17] angaither commented on #5588
@DFurnes mind taking a look at this, didn't you do this before?

[2015-10-22 20:18] weerd opened #5597 "Redirect regional users to correct regional path for dedicated login page on form errors"
Refs #5493

All regional users currently get redirected to `/user/login` when they fill out the wrong (or leave blank) credentials and try to sign in. There's no regional url so all go to global english page for this route and thus none of the translations for respective regions activate.

[2015-10-22 20:27] angaither commented on #5597
when you sign in from a campaign page, you remain on the translated version of the campaign page

this happens from the homepage
after you correctly fill out the login form you are redirected back to the translated homepage

[2015-10-22 20:29] angaither commented on #5584
@weerd do you mind taking a look at this?

[2015-10-22 20:44] angaither commented on #5572
they save correctly in the backend, but the template is pulling the english version, not the translated content

[2015-10-22 20:44] sheyd commented on #5549
Looks like slave replication has been lagging for a while. Working on fixing it, then I will re-count with up to date info.

[2015-10-22 20:50] mikefantini commented on #5562
Let's move this to 1.1 since we have a plan for launch and we can figure out a course of action for post-launch.

[2015-10-22 20:59] angaither commented on #5566
@sheyd and @blisteringherb `mod_rewrite` vs `outbound_alter` we should chat.
also refs #5482

[2015-10-22 21:00] mikefantini commented on #5287
closed and added to #5457

[2015-10-22 21:00] #5287 closed, assigned to mikefantini

[2015-10-22 21:24] angaither commented on #5566
@sheyd is going to set up fastly/varnish bypass rule for any url with `admin` in it

[2015-10-22 21:35] DFurnes commented on #5589
This is happening because it's one uninterrupted 60 character string & the browser doesn't know where to break to a new line. Adding at least one space allows it to break properly:

![screen shot 2015-10-22 at 5 36 07 pm](https://cloud.githubusercontent.com/assets/583202/10678938/64fba02a-78e3-11e5-8b58-39c1ebe31196.png)

![screen shot 2015-10-22 at 5 31 05 pm](https://cloud.githubusercontent.com/

[2015-10-22 21:38] DFurnes commented on #5589
Adding [`word-wrap: break-word`](https://developer.mozilla.org/en-US/docs/Web/CSS/word-wrap) to the container should fix things up, but this is probably very unlikely to happen to a typical user.

[2015-10-22 21:44] weerd commented on #5589
^^ indeed.

[2015-10-22 21:50] mikefantini commented on #5566
@angaither @sheyd does this mean we can apply similar logic to resolve #5482?

[2015-10-22 22:15] blisteringherb commented on #5570
I'm still trying to figure this one out, but I've noticed that for some reason this is a thing (node_load(2307)):

[code]

I think we saw the result of this also on the home page when it initially loads (rather than in the results from the finder) for the title and CTA for "Quote of a Champion" when there was an unpublished MX translation.

[2015-10-22 22:33] mikefantini commented on #5576
Here is the doc of use cases we'll talk through IRL in tomorrow's meeting https://docs.google.com/spreadsheets/d/1Fwe8yVJ615M0ZkFnUDvd4ikVIjWyy1KNpH6L-iPy9Y0/edit#gid=0

[2015-10-22 22:48] mikefantini commented on #4992
`field_intro`, `field_intro_image`, and everything in the `field_gallery` field collection are not translatable and need to be.

![image](https://cloud.githubusercontent.com/assets/6330971/10680387/3c2ce35c-78ed-11e5-968d-fa9197bc8b9b.png)

![image](https://cloud.githubusercontent.com/assets/6330971/10680392/48081e44-78ed-11e5-8455-d00cc4b1808c.png)

[2015-10-22 23:28] namimody commented on #5589
Brilliance!

On Thu, Oct 22, 2015 at 5:44 PM, Diego Lorenzo notifications@github.com
wrote:

##

Namita (Nami) Mody

Junior Product Manager
@dosomething http://twitter.com/dosomething @imanami13
https://twitter.com/imanami13
(212) 254-2390 x255

[2015-10-23 00:19] deezone commented on #5569
@mikefantini Testing after recent PRs to global confirms all of these transactions are using the correct templates by user country.

Example of test results in Mandrill, search "Outbound Messages" for : "dlee+ThorTest1004@dosomething.org"

https://mandrillapp.com/activity?date_format=mm%2Fdd%2Fyy&q=dlee%2BThorTest1004%40dosomething.org&date_range=7&start_date=10%2F16%2F2015&stop_date=10%2F23%2F201

[2015-10-23 00:21] deezone commented on #5470
All transactions produce expected results in the country / language for each of the four (US, Global, MX, BR) options.

[2015-10-23 00:21] #5470 closed, assigned to deezone

[2015-10-23 00:22] deezone commented on #5578
@marahml Testing confirms all of the MailChimp accounts are being updated with user emails as expect. Please confirm / test and close this issue as you see fit.

[2015-10-23 00:41] deezone opened #5601 "Saving (POST) user / campaign language"
**BLOCKED** by: https://github.com/DoSomething/phoenix/issues/5685

Add support for global users to receive the weekly digest email message in supported languages.
#### Saving (POST) user and campaign language
- [x] **Support `user_language` and `user_country` in POST to `/user` in `mb-user-api`** :
  - [x] Schema update to `mb-users` Mongo collection.
  - https://github.com/DoSomething/mb-users-a

[2015-10-23 12:49] sheyd commented on #5224
Upgraded Prod to m3.xlarge instance.

[2015-10-23 13:36] #5580 closed, assigned to sergiitk

[2015-10-23 14:18] mikefantini commented on #5574
Also seeing it for FAQ Answer fields and During/After tip copy fields.

![image](https://cloud.githubusercontent.com/assets/6330971/10694958/0f3220e2-796f-11e5-8bd5-6f19665899e3.png)

![image](https://cloud.githubusercontent.com/assets/6330971/10694973/1d6f88ca-796f-11e5-9226-1fc77ccd0d22.png)

![image](https://cloud.githubusercontent.com/assets/6330971/10694979/24286f60-796f-11e5-871c-2d2b7bf906b

[2015-10-23 14:22] mikefantini opened #5603 "Removing one item of field collection as GL Admin removes all items but one"
http://screencast.com/t/bzsKWOjI1vPw

Potentially related to #5574?

[2015-10-23 14:35] mikefantini commented on #5556
Also happens on US EN view of campaign if GL EN exists on backend but US EN does not:

![image](https://cloud.githubusercontent.com/assets/6330971/10695425/a8f96954-7971-11e5-8ef6-83d831de3739.png)

![image](https://cloud.githubusercontent.com/assets/6330971/10695445/b8d2bae2-7971-11e5-8082-dcba78efe2b2.png)

https://staging.dosomething.org/node/31/edit/en?language=en

[2015-10-23 14:44] mikefantini commented on #5556
Doesn't matter what the language is, if content exists in a field in one translation but the field is blank in another, the content will still show up even on the translation where the field is blank:

![image](https://cloud.githubusercontent.com/assets/6330971/10695694/0a12dc2e-7973-11e5-8514-2573a83cca27.png)

![image](https://cloud.githubusercontent.com/assets/6330971/10695699/15fb1b64-7973-11e

[2015-10-23 14:55] angaither commented on #5585
having trouble replicating this locally

[2015-10-23 14:56] sergiitk opened #5604 "Fatal error, function `dosomething_static_content_preprocess_gallery_vars()` not found"
See [`dosomething_action_guide_preprocess_node()`](https://github.com/DoSomething/phoenix/blob/5896b2823f770c6aa3a1e9cf46d474ef4ae60564/lib/modules/dosomething/dosomething_action_guide/dosomething_action_guide.module#L33).

![pasted_image_at_2015_10_23_10_46_am_720](https://cloud.githubusercontent.com/assets/672669/10695971/585a4ade-79af-11e5-8e7d-428205da1161.png)

The bug introduced in #5561.

-

[2015-10-23 14:59] sergiitk commented on #5604
Also the function is called at `dosomething_campaign_group.module:107`.

[2015-10-23 15:00] sergiitk commented on #5604
And not critical, but in theme the function is referenced at `preprocess.inc:589` in a docblock.

[2015-10-23 15:00] #5415 closed, assigned to nobody

[2015-10-23 15:15] #5604 closed, assigned to DFurnes

[2015-10-23 15:50] #5569 closed, assigned to blisteringherb

[2015-10-23 16:36] angaither commented on #5585
@namimody I was able to get redirected to my user profile page when
- anon user (previously exists)
- sign up for a campaign from a permalink that is unpublished

but I haven't been able to get the `an error has occured` page

[2015-10-23 16:50] DFurnes opened #5608 "Footer should be displayed based on content language, not country code"
We talked over global ruleset, and it seems much simpler to display the footer based on the content of the page (i.e. the `us/` or `mx/` in the URL).

[2015-10-23 16:50] DFurnes commented on #5608
/cc @mikefantini

[2015-10-23 16:51] sheyd commented on #5566
@angaither Rules setup on thor and you were right. Re-tracing the steps, and we still get `/us/admin` path entry. There is a SUPER hacky way to fix this in Fastly/Varnish, but I think it's better to do this in app.

[2015-10-23 18:19] sheyd commented on #5549
Binlogs on master are corrupted :facepunch: Taking a downtime this weekend to completely re-build the slave DB infrastructure on data.mysql. :godmode: enabled.

[2015-10-23 18:20] sheyd commented on #5372
Re-check this pending resolution of #5549

[2015-10-23 18:43] sheyd commented on #4851
@mikefantini This is superseded by #5549, as I'm going to ensure data continuity between all the DB's. Closing this out in favor of the that one.

[2015-10-23 18:43] #4851 closed, assigned to sheyd

[2015-10-23 18:56] mikefantini opened #5611 "Need to make sure authenticated users are properly redirected to local translation"
If
- US EN translation is published
- GL EN translation exists, but is unpublished
- When US user goes to thor.dosomething.org/campaigns/gtfo, user sees US EN content, but URL remains thor.dosomething.org/campaigns/gtfo (not: /us/campaigns/gtfo). I don't _think_ this matters, but not sure. When I click on Explore Campaigns from this view I get taken to /us/campaigns.

If
- US EN translation is pub

[2015-10-23 19:51] weerd commented on #5584
Seems like the `%23` is messing with the URL, which technically shouldn't since it's just the url encoded `#`. If I switch it to a `#` it goes to the right page.

[2015-10-23 20:34] namimody opened #5615 "Some Static Content Appears w/o Titles in Search"
![image](https://cloud.githubusercontent.com/assets/12396076/10704276/c96664b2-79a3-11e5-9afe-dc0935f478f5.png)

![image](https://cloud.githubusercontent.com/assets/12396076/10704282/db9b4eae-79a3-11e5-9e12-b64a3a882a5a.png)

![image](https://cloud.githubusercontent.com/assets/12396076/10704299/ed7346ae-79a3-11e5-9679-5ddbdb2dde16.png)

[2015-10-23 20:47] angaither commented on #5615
hmm, I thought maybe there wasn't a US translation of this, but that's just not true. @blisteringherb mind taking a look at this?

[2015-10-23 20:53] angaither commented on #5611
not sure I understand this issue... it sounds like we want to change the logic for US users now?

[2015-10-23 20:59] namimody opened #5617 "Campaign Title Doesn't Update in Search"
Campaign "Don't Be A Sucker" changed to "Just Pull Out" (yep) with CTA "Don't take any chances, breh." by an "Administrator" on the site. The translation updated was unpublished.

The title changed on campaign page (and the site was accessible via an incognito anon window?), but searching for the new title didn't yield results, while searching for the old title did, because the translation was unp

[2015-10-23 21:10] angaither commented on #5617
not a safe method. @blisteringherb probably just re-index solr, right?

[2015-10-23 21:11] blisteringherb commented on #5617
@angaither yup, reindexing should fix that

[2015-10-23 21:12] mshmsh5000 commented on #5611
I'm going to rephrase this as a use case that we need to satisfy.

If
- I am an authenticated user in a supported country (currently US, MX, BR), and
- I access the global URL of a campaign that has a published version in my country, then
- I will be explicitly redirected to my country's version's URL.

Example:
- I am an authenticated MX user.
- I access `/campaigns/gtfo`.
- There is a published

[2015-10-23 21:15] angaither commented on #5611
ooooooooohkay, got it, thanks @mshmsh5000!

[2015-10-23 21:47] mikefantini commented on #5611
Sorry wanted to get the issue in quickly before I had to run to a meeting, but yes that is the desired outcomes.

[2015-10-23 22:28] mikefantini commented on #5585
I just got the `an error has occurred` page by going to:
- https://thor.dosomething.org/us/campaigns/level-playing-field as anon user
- Clicking Sign Up button
- Logging in with an account that exists (uid 2803726)

![image](https://cloud.githubusercontent.com/assets/6330971/10706287/a165c358-79b3-11e5-88b2-9f69001f4670.png)

[2015-10-23 22:31] mikefantini commented on #5585
I just got the same experience on the same campaign when I went to create an account rather than log in to an existing one (uid 3118804)

[2015-10-23 22:39] namimody opened #5619 "Figure out if having "site admin" role doesn't allow you to create campaigns"
![image](https://cloud.githubusercontent.com/assets/12396076/10706510/675f6a36-79b5-11e5-9d30-ea4e7f0f320d.png)

Michaela has site admin, member support, and editor roles and cna't create a campaign.

[2015-10-23 22:43] namimody commented on #5617
Andrea and Morgan's comments above reference remedying the title of the campaign not changing in search.

[2015-10-23 23:17] namimody opened #5620 "Users should be able to access GL EN content if translation is unpublished or does not exist in their region"
If a user is coming from Mexico and a campaign has a published translation in GL EN but MX SP translation either doesn't exist or is unpublished, then the Mexican user should 1. have the GL EN content surface via SOLR (finder/search/ /campaigns) 2. be able to access that content (i.e. not get 404'd).

MX user:
- GL EN = published
- MX SP = published
- go to www.dosomething.org/campaigns/sea-turtle

[2015-10-24 00:07] namimody opened #5621 "Data Storage Check"
Hi @angaither! Could you check the following things in Northstar? :)
- [x] nmody+brazilian@dosomething.org's country is stored as Brazil and number is stored as 212-929-9571
- [x] nmody+mexican@dosomething.org's country is stored as Mexico and number is stored as 718-249-1151
- [x] nmody+worldcitizen@dosomething.org's country is stored as Luxembourg
- [x] nmody+american@dosomething.org's country i

[2015-10-26 13:23] angaither commented on #5621
@namimody thor northstar?

[2015-10-26 13:46] namimody commented on #5621
@angaither si! gracias!

[2015-10-26 13:51] angaither commented on #5621
@namimody all looks :+1:

[2015-10-26 13:51] #5621 closed, assigned to angaither

[2015-10-26 14:03] mikefantini commented on #5620
This is desired bahvior.

[2015-10-26 14:34] itsjoekent commented on #5611
this bug isn't occurring because of a logic problem in the redirect stuffs (yay), it's happening because this line of logic is incorrectly blocking the redirect from happening https://github.com/DoSomething/phoenix/blob/global/lib/modules/dosomething/dosomething_global/dosomething_global.module#L64

[2015-10-26 15:05] #5611 closed, assigned to itsjoekent

[2015-10-26 15:15] #5589 closed, assigned to DFurnes

[2015-10-26 15:19] namimody commented on #5620
@mikefantini sorry, a bit confused -- I thought that if the GL EN version existed and the US EN version didn't, US members could see the GL EN version?

[2015-10-26 15:40] #5584 closed, assigned to weerd

[2015-10-26 15:54] angaither commented on #5619
hmm, I don't think site admin role is the problem. drupal should take the highest permission and use that.

also, I just tested with those roles and it to worked ok.
what error does she get when she tries to create a campaign?

[2015-10-26 15:55] angaither commented on #5608
closed with #5623

[2015-10-26 15:55] #5608 closed, assigned to DFurnes

[2015-10-26 15:59] namimody commented on #5619
@angaither she can use the admin nav to create a campaign, then fills out all the content, then hits save and gets returned to /edit with no content and these errors:

![image](https://cloud.githubusercontent.com/assets/12396076/10734298/f80af9cc-7bd8-11e5-8dc2-fee86cb49893.png)

[2015-10-26 16:03] sergiitk commented on #4992
Translated:
- [x] `title`
- [x] `field_intro_title`
- [x] `field_cta_link`
- [x] `field_additional_text_title`
- [x] `field_additional_text`
- [x] `field_intro`
- [x] `field_intro_image`
- [ ] `field_gallery`

Already has been translated in Campaign Content Type:
- [x] `field_subtitle`
- [x] `field_call_to_action`

For V2:
- [ ] `field_partners`

[2015-10-26 16:12] marahml commented on #5578
Just tested as a BR user on Thor, and my email (mlidey+brazil1026@dosomething.org) did not go into the DoSomethingBrazil Mailchimp account.

Testing other cases now..

[2015-10-26 16:26] marahml commented on #5578
GL email addresses are going into US Mailchimp Account > DS members.

But they should be going into US Mailchimp Account > International.

Tested with mlidey+global1026@dosomething.org.

[2015-10-26 16:27] marahml commented on #5499
- Tested as a BR user on Thor, and my email (mlidey+brazil1026@dosomething.org) did not go into the DoSomethingBrazil Mailchimp account @DeeZone.
- Tested as an MX user on Thor, and my email (mlidey+mexico1026@dosomething.org) did not go into the DoSomethingMexico Mailchimp account either.
- GL email addresses are going into US Mailchimp Account > DS members. But they should be going into US Mailc

[2015-10-26 16:27] #5578 closed, assigned to deezone

[2015-10-26 16:28] marahml commented on #5578
Confirmed - these emails are correctly being triggered!

[2015-10-26 16:31] mikefantini commented on #5499
@marahml Did your BR/MX users also end up in the US MailChimp account? Or are they just nowhere to be found in MailChimp?

[2015-10-26 17:22] mikefantini commented on #5585
I was able replicate this as well on 1 Star for Hate by:
- going to thor.dosomething.org as an anonymous user
- clicking on the Sign Up button
- logging in as user 2803726
- then I get the following error:

![image](https://cloud.githubusercontent.com/assets/6330971/10736652/945e922e-7be4-11e5-9b66-57941c7ecd3e.png)

[2015-10-26 17:35] angaither commented on #5585
http://dev.dosomething.org:8888/us/campaigns/school-standstill

[code]

[2015-10-26 17:45] marahml commented on #5499
@mikefantini couldn't find the BR/MX users anywhere unfortunately

[2015-10-26 17:49] angaither commented on #5585
that field is on action guide content

[2015-10-26 18:22] angaither commented on #5585
yeah, confirmed, all the campaigns that are failing it's because of the action guide that's attached to it.

what's strangest to me, is how it isn't failing on the full node view for admins

[2015-10-26 18:46] angaither commented on #5585
non-admin `dpm($vars['field_action_guide']);`
![screen shot 2015-10-26 at 2 44 07 pm](https://cloud.githubusercontent.com/assets/645205/10738914/0d8f56aa-7bf0-11e5-958d-6a5c1ef3306e.png)

admin `dpm($vars['field_action_guide']);`
![screen shot 2015-10-26 at 2 44 40 pm](https://cloud.githubusercontent.com/assets/645205/10738922/1e6dcca4-7bf0-11e5-9989-4cec7dc55e7d.png)

note the non-admin has an ad

[2015-10-26 18:50] sergiitk commented on #5509
This error on drupal.org: https://www.drupal.org/node/1281974.

[2015-10-26 19:03] mikefantini opened #5627 "Authenticated users should not be able to access action guides"
Currently as an authenticated user I'm able to access an action guide by going directly to the node.

Access to action guides should behavior the same way Images or Campaign Runs do, users can see them on the campaign, but not if they go directly to the image node.

![image](https://cloud.githubusercontent.com/assets/6330971/10739382/7f30b7c0-7bf2-11e5-97c5-d2fb75295d24.png)

[2015-10-26 19:37] sergiitk commented on #5509
Looks like this happens with combination of Entity Translation + Field Collection + Fields Collection Translation patch (https://www.drupal.org/node/1344672). Maintainer's comment:

CC @sheyd @mshmsh5000

[2015-10-26 19:41] angaither commented on #5627
needs to be a [staff only content type](https://github.com/DoSomething/phoenix/blob/dev/lib/modules/dosomething/dosomething_user/dosomething_user.module#L147)

[2015-10-26 19:51] sergiitk commented on #5509
Some users from the ticket claim that downgrading to beta8 works. This doesn't work for us, because the   Fields Collection Translation patch is failing to apply to beta8:

[code]

[2015-10-26 20:05] sergiitk opened #5628 "Make Galleries translatable"
Now adding a translation to new language with translatable Galleries field enabled are failing to be saved with the following error:

![image](https://cloud.githubusercontent.com/assets/672669/10741091/9420bf54-7c2e-11e5-8450-5dab4cfbaf53.png)
`EntityMalformedException: Missing bundle property on entity of type field_collection_item. in entity_extract_ids() (line 7844 of /var/www/dev.dosomething.o

[2015-10-26 20:11] sergiitk commented on #5628
Idea with downgrading fields_collection module failed, see https://github.com/DoSomething/phoenix/issues/5509#issuecomment-151263712.

[2015-10-26 20:14] angaither commented on #5585
it's easy enough to check if the array key isn't numeric, but I just don't understand why this would have changed for non-admins

[2015-10-26 20:20] DFurnes opened #5629 "Hacky header translation business!"
Due to an issue with translation and nested field collections, we can't translate static content nodes. (Come on, Dries!) Instead, we're going to make a unique node for each country and link to the relevant node IDs for each country's header & footer settings.

Via @mshmsh5000 in Slack:

[2015-10-26 20:22] sergiitk commented on #5629
Ref #5628.

[2015-10-26 20:25] mikefantini commented on #5620
Oops didn't read comment closely enough. Closed too soon.

This only seems to be an issue when a US EN version _did_ exist and then is unpublished. I.e. I created a new campaign only in GL EN and am able to access that fine as a US user (authenticated or anonymous).

https://thor.dosomething.org/campaigns/english-global-only

[2015-10-26 20:25] mikefantini commented on #5620
Since any of our GL EN campaigns will have started as US EN campaigns for launch I'm moving this to 1.1

[2015-10-26 20:36] mikefantini commented on #5627
This was all happening on thor with user 3118816.

Also happening on production.

Moved the other issue we were seeing here https://github.com/DoSomething/ServerConfig/issues/80

[2015-10-26 20:37] sergiitk commented on #5628
Idea with not running translation migration script failed, gallery fields gets fixed automatically by clicking on `Translate` tab (have no idea why).

[2015-10-26 20:46] sergiitk commented on #5628
What worked:
1. `update field_data_field_gallery set language='en'`
2. Remove gallery from English translation
3. Recreate English gallery

[2015-10-26 20:48] deezone commented on #5499
@marahml @mikefantini Looking in the Mexico MailChimp account. It appears the signup worked. Note, the addition of the account if via the MailChimp API. Batch submissions can take to process on the MailChimp. Please allow up to 10 minutes before assuming the submission didn't work:

**Mexico**
![image](https://cloud.githubusercontent.com/assets/2119264/10742018/4f0329ac-7c01-11e5-9766-d607ae6913e1

[2015-10-26 21:15] sergiitk commented on #5628
Did some additional testing: unfortunately last trick (https://github.com/DoSomething/phoenix/issues/5628#issuecomment-151279602) works only when there’s one item in gallery.

[2015-10-26 21:42] sergiitk commented on #5628
Note: latest patch provided in [Missing bundle property on entity](https://www.drupal.org/node/1281974#comment-9408069) discussion has been included into latest [Field Collection: Field translation (entity_translation) support](https://www.drupal.org/node/1344672?page=1#comment-10320327) patch:

[code]

[2015-10-26 22:29] sheyd commented on #5396
All the good notifications baked in here:

https://jenkins.dosomething.org/view/All/job/Rabbit%20MQ%20Monitoring/

@mshmsh5000 So far only notifying @DeeZone until we can get the kinks worked out. After we're satisfied with the thresholds, I'll add the rest of us.

[2015-10-26 22:29] #5396 closed, assigned to sheyd

[2015-10-26 22:43] sergiitk commented on #5628
Added a comment to the Drupal thread with more technical explanations/questions: https://www.drupal.org/node/1344672?page=1#comment-10494336

[2015-10-26 23:50] deezone commented on #5499
@marahml The issue is with your test users not resolving to the country you're expecting. An example is your international test where your global user **mlidey+Global1026@dosomething.org** has a language and country setting that does not reflect an international user thus the reason the expected mail MailChimp list is not being updated.

[code]

Full payload example of test submission:

[code]

Ca

[2015-10-27 13:39] mikefantini commented on #5576
@sbsmith86 does this issue still represent work that needs to be done for this or is this still needed?

[2015-10-27 13:41] mikefantini commented on #5568
@blisteringherb @DeeZone is this still an issue?

[2015-10-27 13:41] mikefantini commented on #5564
Closing this out because we're going with a content solution of spreading the footer out across the three columns.

[2015-10-27 13:41] #5564 closed, assigned to joolaay

[2015-10-27 13:42] mikefantini commented on #5563
Also is this still an issue? Is this just a duplicate of #5568? Can we close one of them if that is the case?

[2015-10-27 13:43] mikefantini commented on #5556
Not a blocker because we will fix this via a content solution for launch, but still something we should (obviously) address.

[2015-10-27 13:46] #5563 closed, assigned to blisteringherb

[2015-10-27 13:54] namimody opened #5630 "Global Transactional Email Updates"
BRAZIL:
The new member transactional email mentions help@dosomething.org, but should ask people to email "ajuda@dosomething.org"

GLOBAL:
The help center shouldn't be included because it discusses scholarships and things, would be great to swap this out and link to the global FAQ page. (Link to come)

MEXICO:
All good!

US:
Where the new member and reportback transactional emails link to dosomethi

[2015-10-27 13:55] mikefantini commented on #5509
@sergii-tkachenko @angaither if I remember correctly we labeled this a blocker because it was slowing down dev. Given @sergii-tkachenko's findings is this worth keeping a blocker or do we just go for the work around? Will this still be an issue once we merge global into dev?

[2015-10-27 13:57] sergiitk commented on #5509
@mikefantini I'm investigating this right now.

[2015-10-27 14:01] angaither commented on #5509
@mikefantini it was labeled a blocker b/c of the gallery field, not because it was slowing down dev

[2015-10-27 14:23] marahml commented on #5499
I logged in w/ TorGaurd as a user from Japan so not sure what the issue might be.

Good find on Mexico @DeeZone. That's great!

Still not seeing a user in the Mailchimp BR account

[2015-10-27 14:38] deezone commented on #5499
@marahml

[2015-10-27 14:45] ArielSD commented on #5595
@sbsmith86 Just checking up on this one, you think it'll be an easy fix? I know you're swamped, thank you!

[2015-10-27 15:09] angaither commented on #5585
fixed with #5631

[2015-10-27 15:09] #5585 closed, assigned to angaither

[2015-10-27 16:03] deezone opened #5635 "mailchimp_list_id for Global users"
**BLOCKING**:
- https://github.com/DoSomething/phoenix/issues/5499

When any `dosomething_mbp` transaction requires the `mailchimp_list_id` value. The value is looked up by `dosomething_signup_get_mailchimp_list_id()` (https://github.com/DoSomething/phoenix/blob/dev/lib/modules/dosomething/dosomething_signup/dosomething_signup.module#L655-L675)

[code]

In the case where the user is global (non-af

[2015-10-27 16:07] deezone commented on #5499
Confirmed, US, BR and MX signups result in MailChimp entries.

Bug: Global users are not including a `mailchimp_list_id` in the transactional message. Related issue: https://github.com/DoSomething/phoenix/issues/5635

[2015-10-27 16:14] sergiitk commented on #5628
Got an answer from the module's maintainer:

[2015-10-27 16:17] angaither commented on #5635
@DeeZone

three possible solutions here

1 set the country code to global if none is returned

[code]

2  return a default value of the global list id, if no variable for the country is found.

[code]

3  if no list id is returned, get the global list id

[code]

[2015-10-27 16:21] angaither commented on #5433
@mikefantini the invalid argument rule is happening because we are trying to get the current language of the [site, not of the node](https://github.com/DoSomething/phoenix/commit/f527d979b6603314336044f152b532e4b8126bfd)
looks like this was introduced by @sergii-tkachenko to fix #5456

[2015-10-27 16:26] mikefantini commented on #5433
From notes we put into Slack:

We are not translating Campaign Groups, and we will only have `automatic_sign_up` for campaigns that exist as US-EN only campaigns.

Also `automatic_sign_up` signs up a user up for the Campaign Group if that user signs up for any of the Child Campaigns. So for instance, if Teach Your Grandma Emojis is a campaign associated with the Campaign Group GGW, and we have `au

[2015-10-27 16:27] angaither commented on #5433
we could default to `en` in that line. but would have to update it later, if we plan on translating or having campaign groups in other languages.

[2015-10-27 16:42] mikefantini commented on #4992
@sergii-tkachenko @angaither since we have issues for the remaining work (#5628 for galleries and #5485 for partners) are we good to close this issue out?

Or at the very least since we're no longer translating static content for launch move this to 1.1?

[2015-10-27 16:42] sbsmith86 opened #5636 "Update date format translations in POEditor"
This issue is related to #5576. In order to get the experience working correctly we need to update the POEditor translation to just translate `YYYY` to `AAAA`. We will handle switching out date formats on the code side based on country code.

[2015-10-27 16:45] sbsmith86 commented on #5576
@mikefantini so what we are going to do is update the POEditor translations to translate `YYYY` to `AAAA` see issue #5636 which is assigned to @weerd

And then, we will update the code to switch between `MM/DD/YYYY` and `DD/MM/YYYY` formats based on country code. That should match everything up.

[2015-10-27 16:58] #5568 closed, assigned to blisteringherb

[2015-10-27 17:24] sergiitk commented on #4992
@mikefantini :+1:

[2015-10-27 17:25] #4992 closed, assigned to sergiitk

[2015-10-27 17:55] mikefantini commented on #5509
Since @sergii-tkachenko wasn't able to replicate we are going to close this issue out.

Related to #5628

[2015-10-27 17:55] #5509 closed, assigned to sergiitk

[2015-10-27 17:55] sbsmith86 commented on #5595
@ArielSD sorry for the delay. Just fixed this template and moved it into mandrill. Let me know if all looks good!

[2015-10-27 18:00] angaither opened #5638 "revoke node edit access"
![image](https://cloud.githubusercontent.com/assets/6330971/10763870/ff1d8972-7ca1-11e5-913d-9a42cc89edd8.png)

This is not happening on production.

It might be because of this function `dosomething_global_node_access` that was added.
refs #5571

[2015-10-27 18:12] angaither commented on #5627
@mikefantini while we are here, besides these node types, should we revoke access to any other type? `('fact', 'image', 'campaign_run')`

[2015-10-27 18:33] weerd commented on #5636
Should be all set in POEditor :)

#5639 is just to add it to version control, so not dependent o having it merged to close this, huzzah!

[2015-10-27 18:33] #5636 closed, assigned to weerd

[2015-10-27 18:37] #5638 closed, assigned to angaither

[2015-10-27 19:04] mikefantini commented on #5627
Hmmm @angaither not sure about `not_found`.

I don't know enough about how the 404 page functions to say, but we don't really want anyone going directly to those _nodes_ right?

[2015-10-27 19:06] angaither commented on #5627
it'll just appear as a page not found, funny how that works, def not crucial, but we can hide them.

[2015-10-27 19:32] sergiitk commented on #5433
It looks like this is not the issue. Just found this in the error log:
![image](https://cloud.githubusercontent.com/assets/672669/10770091/1f2cbfda-7cf2-11e5-9e17-97eb15bb03a2.png)

[code]

and

[code]

[2015-10-27 19:52] DFurnes commented on #4571
We just talked about this IRL. We're thinking the best course forward is to add a new `POST forwardSignup/` endpoint that requires an "admin" Northstar API key and accepts a `source` and `signup_id`. This solves the issue of all the back-and-forth between Drupal and Northstar when trying to do this through the existing `POST /signup` endpoint.

[2015-10-27 20:15] #5433 closed, assigned to sergiitk

[2015-10-27 20:48] #5627 closed, assigned to angaither

[2015-10-27 21:17] itsjoekent commented on #5581
I agree with Fantini's assessment.

Can we make a label for this?

[2015-10-27 21:20] #5474 closed, assigned to DFurnes

[2015-10-27 21:23] #5531 closed, assigned to sergiitk

[2015-10-27 21:30] sergiitk opened #5645 "Create a helper function to return node title?"
### Refactoring discussion

Since we have 2 different ways to retrieve node title for translatable and not translatable content types, it might make sense to create a helper to return title in one unified way.
See https://github.com/DoSomething/phoenix/pull/5642#issuecomment-151628801

---

cc @angaither

[2015-10-27 21:59] deezone commented on #5635
@angaither Would it a better alternative to make this change further up the "code chain":

[code]

from:

[code]

[2015-10-27 22:02] angaither commented on #5635
@DeeZone I think that might be a tad confusing since that function should return a country code and `global` is node a two letter country code.

[2015-10-27 22:08] #5482 closed, assigned to katiecrane

[2015-10-27 23:43] mikefantini opened #5647 "Issues with Campaign Collections on Staging"
- Edited https://staging.dosomething.org/volunteer/grandparents-gone-wired
- Cleared cache
- Received this error

![image](https://cloud.githubusercontent.com/assets/6330971/10775808/24c87908-7ce2-11e5-808d-e170a79aea7a.png)

I did the above steps because I was trying to figure out why so little of the content for the collection is showing up:

![image](https://cloud.githubusercontent.com/assets/6

[2015-10-28 13:44] mikefantini commented on #5647
Potentially related to #5433

[2015-10-28 14:07] sergiitk commented on #5647
Hi @mikefantini! Yes, yesterday I noticed this when was working on #5433. However, these two bugs are not related. To be precise, this error
![image](https://cloud.githubusercontent.com/assets/6330971/10378143/3f8b165e-6dd5-11e5-8f1f-1aea66d77c57.png)
you reported in #5433 related to this bug, but not to #5433.

The strangest thing about this bug is that this works on local dev, but not on staging

[2015-10-28 14:31] sergiitk commented on #5647
To compare: local and staging, same DB:
![image](https://cloud.githubusercontent.com/assets/672669/10791496/4f43fb6c-7d91-11e5-9b84-b6ec89441d5c.png)

[2015-10-28 14:36] blisteringherb commented on #5615
As a quick fix for these, resaving the node and reindexing fixes the issue. It's clearly not ideal. I'm wondering if some of the static content field work may have impacted these nodes. Any thoughts @sergii-tkachenko?

[2015-10-28 14:36] sergiitk commented on #5647
Ok, I noticed the difference now. I was logged in staging.
Anonymous can see campaigns on staging just fine:

![image](https://cloud.githubusercontent.com/assets/672669/10791639/eef5e3d2-7d91-11e5-96fa-75a1197034b6.png)

[2015-10-28 14:38] chloealee commented on #4571
@DFurnes A question already! I'm trying to wrap my head around the new endpoint. All makes sense to me except I'm having trouble understanding how we know which user we're talking about to sign up for the campaign.

Would an example of the endpoint would be `POST /campaigns/:signup_id/forwardSignup`? Then how would we know which user we want to sign up? Unless we did something like `POST /users/:t

[2015-10-28 14:39] sergiitk commented on #5615
Could be. I'll take a look at this later, working on higher priority now.

[2015-10-28 14:42] sergiitk commented on #5647
Hm. After I opened this as an anonymous I can't reproduce this bug on staging anymore. Neither logged in nor anonymously.

[2015-10-28 14:47] mikefantini commented on #5647
@sergii-tkachenko I opened up an incognito window and am seeing all of the content correctly as an anonymous user.

![image](https://cloud.githubusercontent.com/assets/6330971/10791985/2e37cb54-7d61-11e5-9319-11e59ff31b62.png)

When I open it in my normal Chome window still logged in as an admin I'm still seeing the errors and missing content:

![image](https://cloud.githubusercontent.com/assets/6

[2015-10-28 14:48] mikefantini commented on #5647
Also now seeing this error as an anonymous user on the homepage:

![image](https://cloud.githubusercontent.com/assets/6330971/10792034/67f098da-7d61-11e5-9e4b-1d6fbe544138.png)

cc: @DFurnes

[2015-10-28 14:49] sergiitk commented on #5647
@mikefantini That error been there for a long time. Actually, let me fix it quickly so it doesn't confuse us anymore.

[2015-10-28 15:00] sergiitk commented on #5647
The warning in campaign group template fixed in #5651.

[2015-10-28 15:04] DFurnes commented on #4571
I think the most "correctly" RESTful way of doing this would be to add a new optional parameter `signup_id=###` to the `POST /campaigns/:campaign_id/signup` endpoint, and then use the current user's authenticated session (storing those session keys on the user object in Drupal like we'd chatted about). If the signup ID is explicitly provided, then we can infer that we don't need to talk to Drupal

[2015-10-28 15:10] sbsmith86 commented on #5576
Closing via #5637

[2015-10-28 15:10] #5576 closed, assigned to sbsmith86

[2015-10-28 15:10] sbsmith86 commented on #5595
Closing until I hear otherwise.

[2015-10-28 15:10] chloealee commented on #4571
ohhh I see what you are saying now, making these the parameters instead of apart of the endpoint! Makes so much more sense, thank you!

[2015-10-28 15:23] #5499 closed, assigned to deezone

[2015-10-28 15:23] #5635 closed, assigned to deezone

[2015-10-28 16:15] aaronschachter opened #5653 "Reportback Items API: status property is null for all Reportback Items"
![screen shot 2015-10-28 at 9 14 35 am](https://cloud.githubusercontent.com/assets/1236811/10794895/5f0ba6f4-7d54-11e5-8910-b1500bcf8cac.png)

[2015-10-28 16:31] deezone opened #5654 "scholarships in global transactional user_registration email"
The transactional email for **global** user registrations (https://us4.admin.mailchimp.com/templates/edit?id=56653) mentions scholarships. The `mb-user-register-us` MailChimp template is used for both US and Global users.

![image](https://cloud.githubusercontent.com/assets/2119264/10795216/2ebf3554-7d6f-11e5-91c5-7f53af17a256.png)

[2015-10-28 16:38] marahml commented on #5654
GREAT flag @DeeZone. @ArielSD can you remove?

Thanks!

[2015-10-28 17:24] #5477 closed, assigned to nobody

[2015-10-28 17:24] DFurnes opened #5655 "Aligned triad gallery broken on static content"
It seems like the `.triad.-aligned` modifier is broken on static content (which was just refactored in #5561 to use our theme functions, rather than unique hardcoded markup). Hmmmm! :mag:

[2015-10-28 17:41] #5581 closed, assigned to itsjoekent

[2015-10-28 17:42] blisteringherb commented on #5566
@mikefantini Do you remember what errors you were running into or any additional details about the admin user or what failed? I just tried navigating to `https://thor.dosomething.org/us/admin/people/create`, and was able to create an account. I suspect that if this is only showing up in production, introducing all of the language, path and redirect settings into production should fix this. Also th

[2015-10-28 17:50] itsjoekent commented on #5566
Yeah when I rewrote the init function it should have fixed all of the problems like this. I'll try on my local as well just for the hell of it, but I think this is :ok: if it worked on Thor

[2015-10-28 17:52] itsjoekent commented on #5566
Nope not working on my local. Both on /admin and /us/admin

Nope just worked on http://dev.dosomething.org:8888/admin/people/create wtf

[2015-10-28 18:18] chloealee commented on #4571
hi @DFurnes ! Another road block. Since we last chatted IRL, we decided to use the `POST /user/campaigns/:campaign_id/signup` endpoint after all.

Doing so on the phoenix side, we'd save session data to the user object in drupal and check if there is a session token and if not, sign the user in via the `POST /signup` endpoint. Then we'd move on to the `POST /user/campaigns/:campaign_id/signup` end

[2015-10-28 19:57] blisteringherb commented on #5566
@deadlybutter It should work fine at `/admin/people/create`, but Fantini was saying it doesn't work at `/us/admin/people/create`. When you tried on your local the second time, was it just at `/admin/people/create` or was it also at `/us/admin/people/create`?

[2015-10-28 19:58] DFurnes opened #5656 "Entity Autocomplete fields are not autocompleting"
They are just normal fields. Which is kinda sucky from an admin UX perspective.
#### Example

Setting the "Who We Are" link for US visitors in Theme Settings:

<img width="354" alt="screen shot 2015-10-28 at 3 55 53 pm" src="https://cloud.githubusercontent.com/assets/583202/10801163/637e8566-7d8c-11e5-9dc6-589c7afe3210.png">
:speech_balloon: _Help where's my autocomplete???_

<img width="354" alt=

[2015-10-28 20:12] sergiitk commented on #5647
It turned out that this happens for users which have language preference other than `en`.
About 1330 users in production database have non-english language in their profile settings and are affected with this bug.

[2015-10-28 20:27] #5629 closed, assigned to DFurnes

[2015-10-28 20:37] itsjoekent commented on #5566
Does not work from /us/admin

[2015-10-28 20:42] ArielSD commented on #5630
@namimody Everything is updated except your last question: We have one set of templates for Global/U.S., so changing the template you receive via Thor will change the template currently being sent via production. We can change it RIGHT when the URL is live?

[2015-10-28 20:45] ArielSD commented on #5595
@sbsmith86 The mb-user-register-br template looks perfect, thank you!

Weird thing happend: I just had to edit the mb-user-register-us template, and it became too wide again:

https://us4.admin.mailchimp.com/templates/edit?id=56653

[2015-10-28 20:47] ArielSD commented on #5654
@DeeZone @marahml Edited and closing- do we need to created separate templates for Global and U.S.?

[2015-10-28 20:47] #5654 closed, assigned to marahml

[2015-10-28 20:50] sergiitk opened #5657 "Turn off 'User' content language detection strategy on dev branch?"
Do we need `User` Content language detection on US now?
![image](https://cloud.githubusercontent.com/assets/672669/10802360/285b6ef2-7dc5-11e5-9cca-651dd8946573.png)

We have 1330 users (including 20 from the US) that have other than US English language set in their profile (most of those are set to `en-global`). Some pages that are not supposed to be translatable look wrong for them because Drupa

[2015-10-28 20:58] angaither commented on #5657
if `global` branch removes this, turn it right off then!

[2015-10-28 21:12] ArielSD commented on #5595
@sbsmith86 It looks like this happens whenever we edit content in the UI? Just to let you know, we still might make edits, so please hold on this until we have final copy; we don't want you doing extra work! CC: @namimody

[2015-10-28 21:20] #5655 closed, assigned to DFurnes

[2015-10-28 21:26] DFurnes commented on #5655
@mikefantini It was a bug! :bug: The fix was just [deployed to staging](https://staging.dosomething.org/about/pt). Let me know if you see any more issues!

[2015-10-28 21:31] mshmsh5000 commented on #5657
+1

CTO
@mshmsh5000 http://twitter.com/mshmsh5000 @dosomething
http://twitter.com/dosomething

On Wed, Oct 28, 2015 at 4:58 PM, Andrea Gaither notifications@github.com
wrote:

[2015-10-28 22:25] deezone commented on #5654
@ArielSD

Good question. I suspect you're right, a seperate template would allow for different messaging between the US and the world.

Perhaps create an issue with the Global 1.1 tag as well as a related Trello card for the Message Broker board.

[2015-10-29 13:39] itsjoekent commented on #5556
should this be in milestone 1.1?

[2015-10-29 13:46] itsjoekent commented on #5274
I can't reproduce this issue anymore, I think it's because of all the new logic (eg: #5349) that's been implemented since this issue was made

can we close out?

[2015-10-29 13:59] #5657 closed, assigned to sergiitk

[2015-10-29 14:07] #5647 closed, assigned to sergiitk

[2015-10-29 14:23] #5572 closed, assigned to weerd

[2015-10-29 14:56] DFurnes commented on #4571
Oh, hmm. Yeah, that seems like it gets complicated... :+1: moving forward with `forwardSignup`.

[2015-10-29 14:56] chloealee commented on #4571
awesome, thanks Dave!

[2015-10-29 15:16] itsjoekent commented on #5566
I re-opended because node admin pages still had prefixes, but they function ok so closing again

[2015-10-29 15:16] #5566 closed, assigned to itsjoekent

[2015-10-29 15:35] mikefantini commented on #5566
Hmm yeah @blisteringherb there were no error messages, it just wasn't creating accounts.

If you were able to do it on thor then we're probably fine once we deploy global to prod.

[2015-10-29 15:52] weerd opened #5664 "Potentially refactor how language code is acquired."
Where we are retrieving and setting the language code here:
https://github.com/DoSomething/phoenix/blob/a37f06325cd4dd13495be1f5e13c952676d2ead2/lib/modules/dosomething/dosomething_fact/dosomething_fact.module#L90

Might be easier to user this helper function instead:
https://github.com/DoSomething/phoenix/blob/a37f06325cd4dd13495be1f5e13c952676d2ead2/lib/modules/dosomething/dosomething_helpers/do

[2015-10-29 16:01] mshmsh5000 commented on #5274
I agree @deadlybutter -- this is most likely outdated. @mikefantini, I suggest closing this out. We can re-open with fresh eyes if we can reproduce anything like it against the current codebase.

[2015-10-29 16:03] mikefantini commented on #5274
Sounds good.

[2015-10-29 16:26] sergiitk commented on #5615
@blisteringherb Yes, I was related to #5575. The content needed to be reindexed. This was a one one-time thing related to change in the title field representation.
@namimody Good to close this?

[2015-10-29 16:26] blisteringherb commented on #5615
:+1:  Thanks @sergii-tkachenko

[2015-10-29 16:32] namimody commented on #5630
Updates to erroneous first comment in thread:

GLOBAL/US NEW MEMBER TRANSACTIONAL TEMPLATE:
- @ArielSD the global/US template for v 1.0 should link to https://www.dosomething.org/about/faq beneath Ben's face and should not mention the help center. Please ask Ben for sign off on copy!
- regarding the "explore campaigns" button -- this can link to dosomething.org/campaigns. this URL will redirect.

[2015-10-29 16:40] namimody commented on #5615
@sergii-tkachenko @angaither @blisteringherb sorry, to clarify -- reindexing the content fixes the bug. however, is it expected that we would still see this on thor? thanks!

https://thor.dosomething.org/us/search/apachesolr_search/resources
![image](https://cloud.githubusercontent.com/assets/12396076/10825196/47db8ff8-7e3a-11e5-8129-0146f16a04cb.png)

[2015-10-29 16:47] sergiitk commented on #5615
@namimody I'm not sure if the content has been reindexed on thor. Let do that.

[2015-10-29 16:53] sergiitk commented on #5615
Reindex didn't help. Lets wait for Thor to be updated with latest dev changes (#5663) and revisit this issue.

[2015-10-29 17:57] sergiitk commented on #5615
Ok, latest global build fixed the issue:
![image](https://cloud.githubusercontent.com/assets/672669/10827388/530c1086-7e77-11e5-88ed-ac5b574107b2.png)

[2015-10-29 18:28] namimody commented on #5615
Thanks team! :D Closing.

[2015-10-29 18:28] #5615 closed, assigned to blisteringherb

[2015-10-29 19:40] itsjoekent commented on #5620
happening for administrator accounts as well

[2015-10-30 02:24] mikefantini opened #5666 "Subtitle not displaying on static content"
https://staging.dosomething.org/node/538/edit

![image](https://cloud.githubusercontent.com/assets/6330971/10837069/9ed826bc-7e8b-11e5-8fa1-689a75a7fd04.png)

![image](https://cloud.githubusercontent.com/assets/6330971/10837075/a7384922-7e8b-11e5-8700-21b75a44dd1b.png)

This is occurring on prod, staging, and thor.

[2015-10-30 02:55] mikefantini opened #5667 "404 Not Fount nginx/1.4.6 (Ubuntu) error when trying to access MX Campaign"
I am located in the US and trying to access the Mexican translation of a campaign by going directly to the url: https://thor.dosomething.org/mx/voluntario/limpio-y-ecol%C3%B3gico and I get a 404 Not Fount nginx/1.4.6 (Ubuntu) error.

I'm logged in as an admin. Here is the edit URL: https://thor.dosomething.org/mx/node/3413/edit/es-mx

![image](https://cloud.githubusercontent.com/assets/6330971/108

[2015-10-30 02:58] mikefantini commented on #5667
All translations are published. I'm able to view the Brazilian translation. And I've been able to view other Mexican versions on other campaigns.

[2015-10-30 03:40] mikefantini opened #5668 "field_fact_problem displays twice if field_fact_solution doesn't exist on a translation"
Possibly related to #5572

Currently if `field_fact_solution` doesn't exist on a translation, `field_fact_problem` is being output underneath The Solution instead of `field_solution_copy`

![image](https://cloud.githubusercontent.com/assets/6330971/10837959/3bb7b222-7e96-11e5-83a0-dfa89d2d267f.png)

![image](https://cloud.githubusercontent.com/assets/6330971/10837953/2abda954-7e96-11e5-8f39-f4a776

[2015-10-30 03:41] mikefantini commented on #5668
Happening for US EN translations as well. Note the difference between prod and thor:

Prod:

![image](https://cloud.githubusercontent.com/assets/6330971/10837982/93b64380-7e96-11e5-8fc1-bea488c29b35.png)

Thor:

![image](https://cloud.githubusercontent.com/assets/6330971/10837985/9dfc6e82-7e96-11e5-883e-b58d657085e2.png)

[2015-10-30 14:17] mshmsh5000 opened #5669 "Enable Donate page for non-US visitors"
1. Confirm PayPal can work for all markets
2. Translate /donate for pr-bt and es-mx
3. Add to all footers
4. Profit? :moneybag: :moneybag: :moneybag:

[2015-10-30 14:26] ArielSD commented on #5630
@marahml @namimody
Copy is updated to push to /faq under Ben's face. We're mentioning GTFO and Teens for Jeans in the body, which are U.S. specific- going to ben for copy edit's now.
Thanks!

[2015-10-30 14:45] angaither commented on #5667
ahh, tilda in the url perhaps?

[2015-10-30 14:48] mnelson338 commented on #5667
Hola - saw it on this campaign: https://thor.dosomething.org/us/node/5639/

I can't access the user facing view in Portuguese or Spanish but I can access the admin view

[2015-10-30 14:50] angaither commented on #5667
it's def b/c of the tilda, when you go to the node/nid, it works
https://thor.dosomething.org/br/node/5639/
https://thor.dosomething.org/mx/node/5639/

[2015-10-30 15:16] sergiitk commented on #5667
@angaither It's not. If you delete just last o, it works (drupal 404, as expected):
https://thor.dosomething.org/mx/voluntario/limpio-y-ecológic

@sheyd I can't see https://thor.dosomething.org/mx/voluntario/limpio-y-ecol%C3%B3gico in thor's access log, could it be app routing on the upper level, like varnish?

[2015-10-30 15:18] sergiitk commented on #5667
Hm. this request isn't in varnish either.

[2015-10-30 15:22] sergiitk commented on #5667
What is really really really weird:
- This doesn't work (with ó replaced with normal o) https://thor.dosomething.org/mx/voluntario/limpio-y-ecologico
- This doesn't work (with random get method) https://thor.dosomething.org/mx/voluntario/limpio-y-ecológico?x=2sdfsdfsdfsdfsdf
- This works (without last letter) https://thor.dosomething.org/mx/voluntario/limpio-y-ecológic

[2015-10-30 15:23] sergiitk commented on #5667
These don't (WHAT?):
- https://thor.dosomething.org/mx/voluntario/limpio-y-aaaaaaaaaaaico
- https://thor.dosomething.org/mx/voluntario/aaaaaa-a-aaaaaaaaaaaico
- https://thor.dosomething.org/mx/voluntario/aaaaaaaaaaaico
- https://thor.dosomething.org/mx/voluntario/aico
- https://thor.dosomething.org/mx/a/aico
- https://thor.dosomething.org/mx/aico
- https://thor.dosomething.org/aico

[2015-10-30 15:28] sergiitk commented on #5667
All chars seems to be fine:

[code]

[2015-10-30 15:31] namimody opened #5670 "Campaign Copy Audit"
Some campaigns are simply missing content (pitch page additional info, for example) and therefore missing content could not be translated. We should do an audit of missing content on campaigns and ensure changes are translated.

cc @julielorch @mnelson338

[2015-10-30 15:47] sheyd commented on #5667
@angaither @sergii-tkachenko @blisteringherb @mikefantini Yeah, I did a test and saved without the accent on the `trafico`, and it still 404'd.

[2015-10-30 16:11] sergiitk commented on #5667
Nailed it!

My inner monologue:
— `https://thor.dosomething.org/aico`...
— `aico`?
— `a.ico`!
— `*.ico`!!!

[2015-10-30 16:15] sergiitk commented on #5667
Here's the reason. Instead of looking for `*.ico` files to make exception for them, we did look for `*ico` (missing dot). We have been affected with this bug for a very long time!
Example: https://www.dosomething.org/hi/imma/url/whateverico
Note `ico` at the end.

Also this explains why this error doesn't appear in the error log:
https://github.com/DoSomething/tower/blob/e26946b1b07908efdc0d01e25a

[2015-10-30 21:18] sergiitk opened #5671 "Manually fix campaign run nodes"
- [x] https://www.dosomething.org/node/5066/edit -> 1144
- [x] https://www.dosomething.org/node/5875/edit -> 5459
- [x] https://www.dosomething.org/node/6030/edit -> 5475
- [x] https://www.dosomething.org/node/5878/edit -> 5651
- [x] https://www.dosomething.org/node/5824/edit -> 3501

---

for-review: @mikefantini

[2015-10-30 21:24] sergiitk commented on #5671
Fields:
- [x] field_data_field_additional_text
- [x] field_data_field_additional_text_title
- [x] field_data_field_intro
- [x] field_data_field_campaigns

[2015-10-30 21:28] sergiitk commented on #5671
Queries I used to fix this:

[code]

[2015-10-30 21:37] sergiitk commented on #5671
Please note that according to my info, `Star Hate: Closed State 2015` and `Quote of A Champion 2015`  didn't have any `Additional Text Title` and `Additional Text` fields.

[2015-10-30 21:41] #5671 closed, assigned to sergiitk

[2015-11-02 14:47] angaither commented on #5558
we might have to do some tricky `view_alter` to this to pull in `Entity translation: Translation status` for each one

[2015-11-02 15:21] mikefantini opened #5673 "Campaigns on SMS Game Confirmation Page go to /campaigns"
After I complete an SMS game, I get taken to a page confirming my submission went through: https://thor.dosomething.org/us/campaigns/5685/confirmation

The campaigns that are highlighted should link to the campaign page. Currently, the user gets taken to /campaigns for each.

This is working on production, but not on thor.

![image](https://cloud.githubusercontent.com/assets/6330971/10885467/59c51

[2015-11-02 15:27] mikefantini commented on #5673
Seeing this behave very erratically. Sometimes I get taken to the campaign page, and sometimes it takes me to /campaigns. Note when I get a 404 it's because the US EN translation was unpublished.

http://screencast.com/t/isURa8Ayn2e

[2015-11-02 15:29] mikefantini commented on #5673
I'm on Firefox 41.0.2

[2015-11-02 15:33] itsjoekent commented on #5559
cant reproduce?

[2015-11-02 15:36] angaither commented on #5673
seems the url is malformed
https://thor.dosomething.org/us/campaigns/50-cans%3Fsource%3Dcampaigns/5685/confirmation
should be
https://thor.dosomething.org/us/campaigns/50-cans?source=campaigns/5685/confirmation

[2015-11-02 16:06] #5445 closed, assigned to nobody

[2015-11-02 16:06] #5558 closed, assigned to itsjoekent

[2015-11-02 16:06] #5597 closed, assigned to angaither

[2015-11-02 17:07] mikefantini opened #5675 "Anonymous users are able to access unpublished translations of nodes"
Related to #5519:

The Brazilian translation of node 5475 is unpublished. However as an anonymous user I'm still able to access https://thor.dosomething.org/br/voluntario/citação-de-um-campeão?source=node/1141

![image](https://cloud.githubusercontent.com/assets/6330971/10888423/1c238d3e-815a-11e5-810c-956fe2cff668.png)

@angaither I think this is a blocker with the new strategy of launching with

[2015-11-02 17:14] angaither commented on #5675
these should be checking the status of the translation and returning with the 404 page

cc @deadlybutter

[2015-11-02 17:37] weerd commented on #5668
I have a slight bug in my logic for when I'm trying to account for the node state, when it might have a translation and when it might not, since the `dosomething_campaign_load()` gets called twice during the request cycle for some odd reason... Working on a fix.

[2015-11-02 17:39] sergiitk opened #5676 "Global Campaign Runs: various translation bugs"
When you create a campaign run, the content doesn’t appear in the backend, and doesn’t appear in the campaign view on the campaign’s close date.
##

Reported by @mikefantini
CC @sheyd

[2015-11-02 17:41] sergiitk commented on #5676
I just found out on Thor than when an admin edits Campaign Run, Drupal redirects to incorrect edit page:
https://thor.dosomething.org/node/5878/edit/add/en/en-global

EDIT: this is another issue.

[2015-11-02 17:56] mikefantini opened #5677 "US users are not redirected to US URL if there is no GL EN translation"
Level Playing Field:
- node is published
- US EN translation is published
- GL EN translation does not exist

As an anonymous user coming from the US, if I go to https://thor.dosomething.org/campaigns/level-playing-field, I'm _not_ being redirected to the US experience. The desired behavior is that I would be getting redirected.

Some tangible side effects to this are that
1. Problem fact is missi

[2015-11-02 18:05] #5668 closed, assigned to weerd

[2015-11-02 18:14] namimody opened #5679 "No Prob Statement Appearing for Anon User"
https://thor.dosomething.org/us/campaigns/veggie-surprise

![image](https://cloud.githubusercontent.com/assets/12396076/10889857/6a5760f4-8162-11e5-904c-c6d993b46757.png)

The prob statement appears for admin users who view the pitch page, but not for anon users. The fact appears in the backend of the campaign. Can't seem to replicate on any other campaigns at the moment.

[2015-11-02 18:19] angaither commented on #5679
@namimody that us-english campaign is unpublished

refs #5675

[2015-11-02 18:20] angaither commented on #5679
it works on published campaigns
![image](https://cloud.githubusercontent.com/assets/645205/10890164/768f330e-8164-11e5-8ebb-e1d30c5cce24.png)

[2015-11-02 18:24] namimody opened #5680 "Broken Image on Re-Poppin Bottles"
Campaign Page:
![image](https://cloud.githubusercontent.com/assets/12396076/10890221/c24ebf76-8164-11e5-830f-162ed8c64786.png)

Search:
![image](https://cloud.githubusercontent.com/assets/12396076/10890231/d3e2ffd6-8164-11e5-96bf-4d2c282e7207.png)

Finder:
![image](https://cloud.githubusercontent.com/assets/12396076/10890246/e88096c4-8164-11e5-86b0-b9ea3022dc0e.png)

Back End:
![image](https://clo

[2015-11-02 18:30] DFurnes commented on #5673
We ran into this same problem somewhere else and @diego fixed it up. If those source guys are added by string concatenation, `url()` tries to be helpful and escapes them (i.e. not helpful). This might be the same deal?

[2015-11-02 18:35] angaither commented on #5680
@namimody yeah, if you look at the page in prod the images referenced have changed, since we are using stage file proxy it's referencing an image that was removed from prod, I wouldn't worry about this too much.
you can update the image to use something else and it should work

close if you agree :smile:

[2015-11-02 18:38] angaither commented on #5680
note the title of the images changed
![image](https://cloud.githubusercontent.com/assets/645205/10890617/e8b77b88-8166-11e5-91fa-c42794dcbbf0.png)

[2015-11-02 18:39] deadlybutter commented on #5677
Can't reproduce on my dev?

[2015-11-02 19:20] mikefantini opened #5682 "Cause filter of finder should be in two columns on thor"
![image](https://cloud.githubusercontent.com/assets/6330971/10891577/c07d3e54-816c-11e5-93f7-338e377ab48d.png)

Testing on Firefox 41.0.2 from Brazil via TorGuard.

[2015-11-02 19:30] #5484 closed, assigned to itsjoekent

[2015-11-02 19:40] sergiitk commented on #5676
This ticket is for providing site-wide solution of #5671.

[2015-11-02 20:23] sergiitk commented on #5676
There's 2 ways to fix it:
1. Execute update query manually before global deployment (safer for the deployment, risky for prod DB)
2. Execute update query after global deployment, using drush (risky for the deployment, safer for prod DB)

Also, the second option will take about an hour more.
Which one should we go with?

@sheyd @mikefantini

[2015-11-02 20:30] mikefantini opened #5683 "Logging in on a non-campaign page from the US takes user to /user/ not /us/user/"
As a user located in the US, if I log in on any non-campaign pages (i.e. the homepage), I get taken from www.dosomething.org/us to www.dosomething.org/user/[uid].

Because it doesn't have /us/ in the URL, it's not pulling in content properly (i.e. campaign title, image, CTA for campaigns I'm signed up for).

I believe we want the user go to /us/user/[uid]

![image](https://cloud.githubusercontent.

[2015-11-02 20:41] namimody opened #5684 "Problem Statement Not Appearing in Permalink View"
![image](https://cloud.githubusercontent.com/assets/12396076/10893604/bd3697e4-8177-11e5-9688-2fbf789fcf41.png)

Should appear like this (although this screenshot is missing a CTA above sign up)
![image](https://cloud.githubusercontent.com/assets/12396076/10893644/f4a82300-8177-11e5-8c6f-89f6cc8ef928.png)

(Problem statement appears on pitch page for anon users)

[2015-11-02 20:43] sheyd commented on #5676
@sergii-tkachenko I'm going to have to go with option 2 on this. Anything that endangers the Prod DB is to be avoided as much as possible. Can you explain in a little more details the risks running the command via drush poses to the deployment?

[2015-11-02 20:46] namimody commented on #5684
Happens via Facebook, TUmblr, and Twitter

[2015-11-02 20:46] deezone opened #5685 "campaign_language in Campaign Signup and Reportback Transactions"
When a user signs up (`campaign_signup`) for a campaign or reports back (`campaign_reportback`) a request for a transactional message is sent to the Message Broker system. The payload of the message request needs to include the `campaign_language`. The value comes from the language setting for the related campaign node.

**NOTE**: This is different than the `user_language` and `user_country` which

[2015-11-02 20:49] mikefantini commented on #5684
I can confirm this isn't working. Not great obviously, but I don't think this needs to be considered a launch blocker.

[2015-11-02 20:55] DFurnes commented on #5682
Hmm, not seeing this in Firefox 41.0.2 on OS X 10.11.1, on either production or Thor:

<img width="1365" alt="screen shot 2015-11-02 at 3 53 19 pm" src="https://cloud.githubusercontent.com/assets/583202/10894020/0b12e79a-817a-11e5-9932-8d7c89c80efd.png">

I'll look into setting up TorGuard to see if somehow it's only appearing for BR users, but I can't think of a reason that'd be occurring. :confu

[2015-11-02 20:59] sheyd commented on #5682
@DFurnes Keep in mind thor now has headers that make "BR" act like Global English, not Brazil

[2015-11-02 21:01] DFurnes commented on #5682
Hmm. We're serving identical stylesheets and markup for that section to all country codes though. But we'll see... strange things have been happening with CSS column bugs lately, so who knows!

[2015-11-02 21:03] sergiitk commented on #5676
@sheyd Just because we will be changing 2 things at once. We're introducing a lot of new code with Global deploy and I don't really know how this fields will behave after the release. I'll start testing it now.

[2015-11-02 21:07] #5677 closed, assigned to itsjoekent

[2015-11-02 21:29] namimody commented on #5680
Sounds good to me @angaither!

[2015-11-02 21:31] #5680 closed, assigned to angaither

[2015-11-02 21:36] angaither commented on #5684
ahh, problem fact things... @weerd mind taking a look at this?

[2015-11-02 21:37] weerd commented on #5684
K. I'm on it.

[2015-11-02 21:40] angaither commented on #5684
..not sure how these things should act with translations, it might be a little wonky

[2015-11-02 21:41] mshmsh5000 commented on #5406
This issue should fix this notice, currently filling up the logs in production:

[code]

[2015-11-02 21:45] namimody opened #5687 "Campaign Info (except hyperlinked PROVE IT button) Not Appearing on User Profile"
This seems to be somewhat intermittent. I see this on my Thor admin view:

![image](https://cloud.githubusercontent.com/assets/12396076/10895173/c80b36a8-8180-11e5-8bb9-109401147bd9.png)

I wanted to try and recreate so I then signed up for a bunch of campaigns using a regular user account, and my user profile acted correctly (all images, titles, and CTAs showed). Then, I forgot my password on thi

[2015-11-02 21:50] weerd commented on #5684
![image](http://o.aolcdn.com/hss/storage/midas/949f35ec7d79b32249919ad26202223b/202721400/tumblr_n98pc5oDZB1qb4p3ko1_500-1.gif)

[2015-11-02 21:52] namimody commented on #5679
Ahhh okay got it thanks @angaither! I'll close this then.

[2015-11-02 21:52] #5679 closed, assigned to angaither

[2015-11-02 21:58] #5675 closed, assigned to angaither

[2015-11-02 21:59] angaither commented on #5687
duplicate #5683

[2015-11-02 22:03] sheyd commented on #5676
@mikefantini As annoying as it is... do you think this justifies a full refresh of thor, the deploy steps, and spot checking things after @sergii-tkachenko runs the fix script?

Not sure how much time/risk factor we're willing to tolerate here.

[2015-11-02 22:05] #5687 closed, assigned to angaither

[2015-11-02 22:10] angaither commented on #5593
@namimody I think this was tested before the header branch refactor stuff
I'm going to close this out and we can reopen if it's still an issue

[2015-11-02 22:22] lkpttn opened #5690 "Escaping US language Thor instances"
![screen shot 2015-11-02 at 5 19 35 pm](https://cloud.githubusercontent.com/assets/1865372/10896110/ed65b996-8185-11e5-8be9-85519cab3ed2.png)

![screen shot 2015-11-02 at 5 20 26 pm](https://cloud.githubusercontent.com/assets/1865372/10896126/07cfaf1c-8186-11e5-9a65-3c375241a99d.png)

When editing a profile (and maybe some other places, still exploring) we lose the `/us/` in the URL which allows a

[2015-11-02 22:24] lkpttn commented on #5690
Second situation, when first signing in from thor.dosomething.org/us, the user profile is a global profile and doesn't show campaign images, correct footer, etc.

![screen shot 2015-11-02 at 5 24 02 pm](https://cloud.githubusercontent.com/assets/1865372/10896238/9af75272-8186-11e5-9213-c15c0adec88c.png)

[2015-11-02 22:28] namimody commented on #5023
Helpful vid from a campaigns' intern reviewing RBs housed in Slack here: https://dosomething.slack.com/archives/phoenix/p1446503223001452

[2015-11-02 23:29] mikefantini opened #5692 "Collections at the base URL need to display US EN Campaigns referenced"
For now, we're going to send _all_ users to the base URL for Campaign Collections and Fact Pages.

Because of this, we need campaigns that exist _only_ in US English to be displayed if referenced on Campaign Collections at the base URL.

Currently on thor:
- https://thor.dosomething.org/volunteer/grandparents-gone-wired-0 is viewable as an anonymous user, but none of the campaigns in the collectio

[2015-11-02 23:31] mikefantini commented on #5692
Ref: #5647

[2015-11-02 23:42] mikefantini opened #5693 "Make Fact Pages Translatable"
The ideal scenario is that we keep all US users on /us/ throughout their entire experience.

In order to do this we need to make Fact Pages translatable. We will then publish a US EN version of Fact Pages so that when non-US users access the page they will continue to get the non-US experience.

[2015-11-02 23:48] mikefantini opened #5694 "Make Campaign Collection Nodes Translatable"
The ideal scenario is that we keep all US users on /us/ throughout their entire experience. In order to do this we need to make Campaign Collection nodes translatable.

refs: #5692

[2015-11-03 14:17] namimody commented on #5590
@julielorch reported this as an issue on desktop yesterday via Brazil (while testing the interim experience before Portuguese content is published). Which milestone should we put it in @angaither?

[2015-11-03 14:19] mikefantini commented on #5590
Added this to 1.1. If we get Zendesk questions we can prioritize accordingly.

[2015-11-03 15:41] mikefantini commented on #5684
At the very least we should make sure that the following scenario works:
- US user A reports back on a US EN campaign
- US user B views US user A's reportback permalink
- US user B should see the US EN Problem and Solution content

cc: @weerd @angaither

[2015-11-03 16:35] mikefantini opened #5695 "GL EN user being taken to /us/ content"
As a user in Brazil (who we are currently treating as GL EN), when I navigate to thor.dosomething.org I remain on the base alias, which is good.

When I click on Veggie Surprise I am taken to the GL EN translation, which is good.

However, once I go to create an account, I am then taken to the US English translation, which is incorrect behavior.

Also when I click through on the email I receive, I

[2015-11-03 16:36] mikefantini commented on #5695
Also this is the user I experienced this issue with. His language is appropriately set as Global English:

UID: 3230281

[2015-11-03 16:39] #5676 closed, assigned to sergiitk

[2015-11-03 16:52] mikefantini commented on #5676
@sheyd @sergii-tkachenko we'll want to do a prod db import into Thor later this week anyways so we can test this then when we do that.

[2015-11-03 17:02] mikefantini commented on #5695
The same thing happens for a user located in Costa Rica.

[2015-11-03 18:02] itsjoekent commented on #5664
I think this requires a bigger discussion planning, as I think a few parts of the code will need to be refactored. The big problem comes down to when a single country has two languages, as currently all of our functions assume its 1 lang per country
_(TLDR: We need to decouple the country and language logic)_

Did some research and I think this is our best option. We'll create a new function to re

[2015-11-03 18:03] itsjoekent commented on #5664
I'll prototype around with that ^ and report my findings

---

This is the rule I'll follow _(running on the assumption we're adding a language selector)_

Anonymous user:
- Get Country => Fastly
- Get Language => Accept User Lang header

Auth user:
- Get country => Fastly
- lang when signing up => Accept User Lang header
- lang everywhere else => User lang

The user lang header technically comes

[2015-11-03 18:10] mikefantini commented on #5695
I'm also able to navigate directly to the GL EN Veggie Surprise logged in _after_ I'm already logged in (i.e. when I go to thor.dosomething.org/campaigns/veggie-surprise it doesn't redirect me to thor.dosomething.org/us/campaigns/veggie-surprise).

[2015-11-03 18:14] mikefantini commented on #5695
Also if I go to another another campaign after I'm already logged in from the homepage (i.e. thor.dosomething.org/campaigns/free-pee) I'm taken to the GL EN pitch page. Then when I go to sign up, I am taken to the GL EN action page.

So it's only occurring on auth. And happens _both_ when creating a new account _and_ when logging in to an existing account.

[2015-11-03 18:15] angaither commented on #5695
@blisteringherb is trying with a revert of [this commit](https://github.com/deadlybutter/phoenix/commit/7028ddde3a6b3d891a146407974d1196563baf39)

think that's the culprit

[2015-11-03 18:57] itsjoekent commented on #5664
Started implementing ^^, so far everything works :ok:

all the refactoring I've done so far -->
https://github.com/DoSomething/phoenix/compare/DoSomething:dev...deadlybutter:5664

[2015-11-03 19:01] mikefantini commented on #4828
Removing blocker from this issue. @mshmsh5000 @angaither given the comment about Northstar response time who should this issue be assigned to?

[2015-11-03 19:03] sheyd commented on #5549
The slave DB has been re-built, as well as the timezone of the Data Warehouse DB updated to UTC. User counts are now accurately reflected.

[2015-11-03 19:03] #5549 closed, assigned to sheyd

[2015-11-03 19:03] sheyd commented on #5372
User accounts accurate here as well.

[2015-11-03 19:03] #5372 closed, assigned to sheyd

[2015-11-03 19:04] angaither commented on #4828
@chloealee is looking into this with her pr #5616

[2015-11-03 19:31] #5692 closed, assigned to sergiitk

[2015-11-03 19:34] angaither opened #5698 "user data clean up"
once we remove the temp fastly headers we will need to update the language and country for users with these countries
- [ ] xx
- [ ] xr

[2015-11-03 21:31] mshmsh5000 commented on #5570
Post-2.0.3 deploy, we see unpublished translations showing up in search results. Might be limited to static content?

Example: https://www.dosomething.org/us/search/apachesolr_search/jeans

![search-results-1](https://cloud.githubusercontent.com/assets/149811/10922264/347efe74-8248-11e5-821c-016139c0cff0.png)

These yields 404s, e.g.,

![search-results-2](https://cloud.githubusercontent.com/assets

[2015-11-03 21:32] mshmsh5000 commented on #5570
cc @namimody

[2015-11-03 21:37] deezone commented on #5591
Duplicate of #5601

[2015-11-03 21:37] #5591 closed, assigned to deezone

[2015-11-03 21:41] mshmsh5000 opened #5699 "Need temp 302 from /us/facts/my-fact-url to /facts/my-fact-url"
Post-2.0.3, 11 Facts are not translated. They still serve at the bare URL (e.g., `/facts/11-facts-about-animal-testing`).

Implement a Fastly 302 redirect for remove the `/us` from these paths.

[2015-11-03 21:43] mikefantini commented on #5693
Before closing this out, make sure we remove #5699

[2015-11-03 21:54] mikefantini opened #5700 "Need temp 302 from /us/volunteer/[title] to /volunteer/[title]"
Post-2.0.3, Campaign Collections are not translated. They still serve at the bare URL (e.g., /volunteer/[title]).

Implement a Fastly 302 redirect for remove the /us from these paths.

Example www.dosomething.org/us/volunteer/seniors-and-smartphones to www.dosomething.org/volunteer/seniors-and-smartphones

[2015-11-03 21:55] mikefantini commented on #5694
Make sure #5700 is removed before deploying this.

[2015-11-03 22:40] sergiitk opened #5702 "Images are missing from the US static pages"
Gallery images and Intro image from the US static pages when viewed as non-admin:
https://www.dosomething.org/us/about/our-people
![image](https://cloud.githubusercontent.com/assets/672669/10923984/86ac004a-828c-11e5-8458-98689308d84b.png)

[2015-11-03 22:58] sheyd commented on #5699
Fixied this via this nutty logic in our Varnish layer (was just easier):

In vcl_recv:

[code]

In vcl_error:

[code]

[2015-11-03 22:58] #5699 closed, assigned to sheyd

[2015-11-03 23:02] sheyd commented on #5700
Fixied this via this nutty logic in our Varnish layer (was just easier):

In vcl_recv:

[code]

In vcl_error:

[code]

[2015-11-03 23:03] mikefantini commented on #5702
Here is an example of a page that is missing inro image as well:

https://www.dosomething.org/us/about/who-we-are

[2015-11-04 13:20] namimody opened #5703 "Can't Delete Redirects from Campaign Pages"
As an administrator, we can't delete redirects from the campaign page (this view):

![image](https://cloud.githubusercontent.com/assets/12396076/10939059/cf67d77e-82cc-11e5-9fb7-4435b6236ac7.png)

Clicking delete on a redirect refreshes the page and returns you to the top of the page with this view:

![image](https://cloud.githubusercontent.com/assets/12396076/10939066/e42595ac-82cc-11e5-80d3-70cc

[2015-11-04 14:17] angaither commented on #5702
fixed with #5701

[2015-11-04 14:19] angaither commented on #5702
ah, intro images are still missing, reopening!

[2015-11-04 15:53] itsjoekent commented on #5664
Refactoring the preprocess helper and message broker uses is proving to be fun (the MB one isn't super important as it correctly uses headers 99% of the time)

(for reference here is the PR for the helpers.inc https://github.com/DoSomething/phoenix/pull/5275 )

helpers.inc is a tough one https://github.com/DoSomething/phoenix/blob/8982c7d9c8021b6fdb46ff3a92bd7a40b64712a5/lib/themes/dosomething/par

[2015-11-04 16:49] angaither commented on #5582
@deadlybutter a blast from the past, mind taking a look at this?

[2015-11-04 17:07] angaither opened #5704 "re-add country code prefix into user profile"
turns out we needed this, because it appears stuff is "missing" from the user profile

![image](https://cloud.githubusercontent.com/assets/645205/10945664/80156540-82ec-11e5-9e00-61a35c1da534.png)

![image](https://cloud.githubusercontent.com/assets/645205/10945687/8f8993b6-82ec-11e5-9c58-60f4594b85f9.png)

[2015-11-04 17:12] #5704 closed, assigned to itsjoekent

[2015-11-04 17:27] ArielSD commented on #5090
@DeeZone @sergii-tkachenko @blisteringherb @marahml Just updated the description to include 4 new global templates! Please let me know if I can clarify. Thanks!

[2015-11-04 18:21] angaither commented on #5559
@mikefantini this looks ok to me now, closing out
![image](https://cloud.githubusercontent.com/assets/645205/10947624/fd4fb100-82f6-11e5-8bfc-26113c4e7447.png)

[2015-11-04 18:21] #5559 closed, assigned to itsjoekent

[2015-11-04 18:33] angaither commented on #5698
users located in the us, with `global english`, should have language updated to `english`

[code]

users from mexico, update from `global english` to `mexican spanish` and country to `mx`

[code]

users from brazil, update from `global english` to `brazillian portuguese` and country to `br`

[code]

[2015-11-04 19:35] itsjoekent commented on #5683
Unable to reproduce locally even after a drush fra and latest code? workin on hotmodule stuff now but mind taking a look @angaither later to figure out whats going on?

[2015-11-04 19:37] itsjoekent commented on #5582
good ol date logic.

[2015-11-04 19:44] angaither commented on #5683
@deadlybutter you should be able to log in and see it go to `user/id` we basically want to revert the logic added for #5506

[2015-11-04 20:05] itsjoekent commented on #5582
Unable to reproduce on local... :/

![screen shot 2015-11-04 at 3 04 29 pm](https://cloud.githubusercontent.com/assets/897368/10950405/89a8cf2a-8305-11e5-97fb-63ca2d6cdc3f.png)

[2015-11-04 20:17] itsjoekent commented on #5582
Unable to reproduce on staging

![screen shot 2015-11-04 at 3 17 26 pm](https://cloud.githubusercontent.com/assets/897368/10950728/30c1e868-8307-11e5-818a-6a48256fdae3.png)

http://staging.beta.dosomething.org/campaigns/test-campaign

[2015-11-04 20:18] mikefantini commented on #5582
@deadlybutter try checking your time zone setting and the time zone for @namimody's user on prod?

I honestly can't remember what we decided to do for setting user timezones but this is probably what is causing the issue?

Does the timezone for new users differ from either your or @namimody's timezones?

[2015-11-04 20:28] itsjoekent commented on #5582
yep it was nami's timezone. set to Africa/Abidjan

![screen shot 2015-11-04 at 3 26 17 pm](https://cloud.githubusercontent.com/assets/897368/10950942/82bb630a-8308-11e5-871d-a34af80924ae.png)

fixed it for ya nami!

[2015-11-04 20:30] mikefantini commented on #5582
@deadlybutter can you confirm what Time Zone users are supposed to be set as? And then do a query on prod to see which if any users aren't set as that time zone?

[2015-11-04 20:36] angaither commented on #5582
@deadlybutter but what about users who don't have EST? Isn't that what `dosomething_campaign_set_est_timezone` was supposed to do? So that we don't have to worry about if we have users with different timezones

[2015-11-04 20:37] itsjoekent commented on #5582
yeah thats a good point, timezone shouldn't matter. why is this only happening on prod though? something isnt adding up

[2015-11-04 20:40] mikefantini commented on #5582
@deadlybutter it may not only be happening on prod. Set your user timezone to Africa/Abidjan and see if you can reproduce on your local.

Was `dosomething_campaign_set_est_timezone` only used on the hot module and not on this element on the header image?

[2015-11-04 20:41] itsjoekent commented on #5582
yes that function was only used in hot module, could explain it possibly. ill try setting my lang on local and see what happens

[2015-11-04 20:43] weerd opened #5705 "DBLog error for user language in API request"
We are attempting to set the `$language` [here](https://github.com/DoSomething/phoenix/blob/859331aaf2bb15dfe7a85860e8dc39e0261539ad/lib/modules/dosomething/dosomething_reportback/includes/Reportback.php#L151) but if user is anonymous (ie: anon GET request) we get errors.

[2015-11-04 20:44] itsjoekent commented on #5582
yes happens when i switch my lang to africa, good catch fantini!

[2015-11-04 20:46] angaither commented on #5582
it still doesn't make a whole lot of sense though, in the example @namimody provided the date on the top display matched what was in the backend and the hot module was wrong

[2015-11-04 20:47] weerd opened #5706 "DBLog error with why_participated and flagged in API request"
Getting errors when assigning the `why_participated` and `flagged` properties on a Reportback. The database no longer seems to be adding that data in with the returned query response.

[2015-11-04 20:51] weerd opened #5707 "Add load_user parameter to the retrieve operation for RB and RB Items endpoints"
We allow specifying to `load_user=true` for the **index** collection API operation, but not for when showing individual **retrieve/show** for Reportbacks and ReportbackItems.

[2015-11-04 20:54] angaither commented on #4720
just to update with a summary here

[2015-11-04 20:54] angaither commented on #4720
cc @namimody

[2015-11-04 21:18] weerd commented on #5705
@blisteringherb I believe this is an update you made to include the `$language`. Would you mind filling me in or pointing me to the PR/Issue related to the update? I'm curious cause this isn't necessarily the user's language that created the RB, but the language for the requestor. Just trying to get more context on why it was included and where it ends up getting used once included in the object (

[2015-11-04 21:20] blisteringherb commented on #5705
@weerd It gets used for the reportback email to select the correct template for sending the reportback email to the user.

[2015-11-04 21:25] weerd commented on #5705
Gotcha @blisteringherb ... so this would send an email to the user regarding their specific reportback? Cause from the API side, it's always going to be the same if it's the API user... so it's not the specific language for the user that reported back.

[2015-11-04 21:32] blisteringherb commented on #5705
Yup, that's right. Will you be sending reportbacks via the API?

[2015-11-04 21:34] weerd commented on #5705
Yar.

[2015-11-04 21:35] blisteringherb commented on #5705
Hm, how will we be getting the user's language via the API?

[2015-11-04 21:36] weerd commented on #5705
@blisteringherb I can update since I have to fix the anon user issue w/ the language anyhoo. It would also make more sense to pop it into the User object nested in the Reportback object, that contains the rest of the user info too. Might just need to update the email part that uses that variable.

[2015-11-04 21:37] weerd commented on #5705
@blisteringherb I suspect via Northstar, which is where we get the rest of the user data.

Could you point me to where in the code that `$language` property was otherwise then being used? Or is that a Message Broker thing?

[2015-11-04 21:39] weerd commented on #5705
Also, something to keep in mind is that this Reportback class is currently ONLY really used for the API.

[2015-11-04 21:57] sheyd opened #5709 "Configure Webheads to use Gluster Clients instead of NFS"

[2015-11-04 22:27] #5702 closed, assigned to sergiitk

[2015-11-05 00:01] namimody commented on #4720
As a workaround for the moment, say the current end date is Oct 31 2015, and you want it to be Dec 31 2015. Per Joe's comment, changing just the month will not work (the change will not be reflected on the user facing view of the site). If you change the date to, say, Nov 5, 2015, save, and then change to Dec 31, 2015 and save, you will see the change you're looking for.

[2015-11-05 00:28] namimody opened #5710 "Images are missing from taxonomy term pages"
https://www.dosomething.org/volunteer/poverty is displaying as:
![image](https://cloud.githubusercontent.com/assets/12396076/10956215/d35ee5c4-8327-11e5-903d-4c9de2b5b7c8.png)

https://www.dosomething.org/volunteer/animals is displaying as:
![image](https://cloud.githubusercontent.com/assets/12396076/10956262/3f344c4e-8328-11e5-92a6-cb879b1621de.png)

However, clicking on the campaign square bring

[2015-11-05 00:34] namimody commented on #5474
Optimizely tests have been turned off.

[2015-11-05 01:42] namimody opened #5711 "Redirect Problem w/ MCC Form"
https://www.dosomething.org/campaigns/submit-your-idea should show what is seen here: https://www.dosomething.org/us/about/submit-your-campaign-idea, but instead links to /campaigns. Unsure where/when this redirect logic broke but was reported by Hannah on 11/4, one day after Global 1.0 launched.

[2015-11-05 15:05] sergiitk commented on #5710
Correction: this is not campaign collection, this is taxonomy terms (tags).

[2015-11-05 15:39] itsjoekent commented on #5683
OH I was on an outdated feature branch when i did this,i can reproduce now

[2015-11-05 15:42] mikefantini opened #5714 "Campaign Collections are missing content on prod"
The content is missing from both the front end and the back end.

This includes Cover Image and Facts that were referenced. Potentially other fields as well.

Example: https://www.dosomething.org/node/5780/edit

cc: @angaither

Potentially related to #5676

[2015-11-05 15:46] mikefantini opened #5715 "Make taxonomy collections translatable"
The ideal scenario is that we keep all US users on /us/ throughout their entire experience. In order to do this we need to make Taxonomy Collections translatable.

refs: #5710

[2015-11-05 16:01] sergii-tkachenko commented on #5714
Duplicate of #5710.

[2015-11-05 16:10] #5710 closed, assigned to sergiitk

[2015-11-05 16:11] mikefantini commented on #5714
This campaign collection https://www.dosomething.org/node/5780/edit is also missing content from the back end, but it's showing up on the front end.

![image](https://cloud.githubusercontent.com/assets/6330971/10973980/df0aa508-83ad-11e5-9d8c-38099c9c1eec.png)

[2015-11-05 16:11] sergiitk commented on #5714
@mikefantini So I didn't yet executed the fix for o #5676 on prod. I'll sync with @sheyd, backup the db and will run the fix.

[2015-11-05 16:12] mikefantini commented on #5714
Got it. Thanks. Is the plan to run that on Thor first?

[2015-11-05 16:12] sergiitk commented on #5714
@mikefantini Yes

[2015-11-05 16:14] angaither commented on #5457
hey, we did this.

[2015-11-05 16:14] #5457 closed, assigned to angaither

[2015-11-05 16:15] angaither commented on #5698
this should be a db_update hook in the global module's install file

[2015-11-05 16:17] sergiitk opened #5716 "Incorrect redirect of global admins on node edit page"
As an admin accessing the backend from outside the US I'm trying to edit nodes that are not translatable, like this:
https://thor.dosomething.org/node/5780/edit
But it redirects me to:
https://thor.dosomething.org/node/5780/edit/add/en/en-global

Hence I can't see or edit all untranslatable nodes.

---

cc @mikefantini

[2015-11-05 16:19] angaither commented on #5630
@ArielSD is going to update the templates in the code itself, closing!

[2015-11-05 16:19] angaither commented on #5630
wrong issue!

[2015-11-05 16:19] angaither commented on #5595
@ArielSD is going to update the templates in the code itself, closing!

[2015-11-05 16:19] #5595 closed, assigned to sbsmith86

[2015-11-05 16:21] sergiitk commented on #5714
Hey @mikefantini, since I can't access backend normally now (see #5716), could you please provide me with the list of fields that we need to fix? Preferably in machine format, f. ex.: `field_additional_text_title`.

[2015-11-05 16:21] angaither commented on #5620
@namimody sorry, a little unclear
should these not appear in search, or should the user get taken to a non-prefixed URL?

[2015-11-05 16:27] weerd commented on #5705
@blisteringherb I chatted with @DeeZone and doesn't seem like this is being used within email things. Could it have been an update specifically for mobile app stuff? @jonuy mind chiming in?

[2015-11-05 16:29] weerd commented on #5457
Should we create a new issue for when activating full translations on Prod? Cause importing POT files is still a thing that would need to get checked off :)

[2015-11-05 16:31] angaither commented on #5457
@weerd if you'd like to, though it's not really a code change, up to you!

[2015-11-05 16:33] sheyd opened #5718 "Why are API Calls Failing in Prod?"
@tongxiang Can you add any problematic API calls here?

[2015-11-05 16:45] #5706 closed, assigned to weerd

[2015-11-05 17:00] mikefantini commented on #5716
Hmmm @sergii-tkachenko what language is set for your user?

[2015-11-05 17:05] sergiitk commented on #5716
@mikefantini nop, `/us/` redirects me to
https://thor.dosomething.org/us/node/5780/edit/add/en/en-global

[2015-11-05 17:05] sergiitk commented on #5716
The user language in profile is English, but I don't think it affects anything now.

[2015-11-05 17:09] mikefantini commented on #5716
Hmmm ok. @deadlybutter we still want this logic for content that is translatable, just not for content that is not translatable

[2015-11-05 17:10] mikefantini opened #5719 "Auth modal not appearing on thor"
![image](https://cloud.githubusercontent.com/assets/6330971/10975673/1909d15e-83b6-11e5-878b-99b286fe31fc.png)

TSG is scheduled to test Mexican/Brazilian experience this afternoon so let's please get this deployed to thor after it's resolved.

[2015-11-05 17:13] DFurnes commented on #5719
Will take a look in just a minute. My hunch is that the [Modernizr patch we applied a little ways back](https://github.com/DoSomething/phoenix/pull/5128) might no longer be working. It looks like the grunt-modernizr released [a new stable release](https://www.npmjs.com/package/grunt-modernizr) that supports Modernizr v3, so I'm going to see if we can get back on that.

[2015-11-05 17:14] mikefantini commented on #5719
This is currently working on prod currently just FYI.

[2015-11-05 17:16] DFurnes commented on #5719
The Jenkins job for [deploying to Thor](https://jenkins-thor.dosomething.org/job/Deploy-Thor/139/console) shows an error when building the Modernizr file. So presumably our next deploy to staging or production might end up like this as well:

[code]

[2015-11-05 17:31] weerd commented on #5457
K, probs not a big deal to have to remember it. Just wasn't sure if there were other things as well, and the POT one could be lumped in. No worries ;)

[2015-11-05 17:41] DFurnes commented on #5719
So, it looks like we updated to the latest Modernizr version already [in an earlier PR](https://github.com/DoSomething/phoenix/blob/52f34695ce4135ed92ecca46270f2a96d0f336e4/lib/themes/dosomething/paraneue_dosomething/package.json#L39). Unfortunately, it looks like this latest version errors out [when passing custom tests in the build](http://dfurn.es/20xtjsV)... I think the best short-term fix is

[2015-11-05 17:50] jonuy commented on #5705
Can we set a default language in the Reportback code to like, english or global english or whatever the default is? Northstar I think does make some of the GET /reportback calls, but the mobile app itself also makes its own directly to Phoenix. With Phoenix as the final destination for both of the requests, having a fallback set there I think makes sense.

And a small aside - It's safe to assume t

[2015-11-05 18:14] weerd commented on #5705
@uy We can set a default language if desired... which I am doing in the PR I merged indicated above #5717. However, the question is more _what_ language to assign to the RB? The campaign it's associated with or the user it's associated with? Right now we're using `global $user` language and that would always be the same (either `NULL` cause it's an anon GET request) or the API user's language (whi

[2015-11-05 18:54] #5719 closed, assigned to DFurnes

[2015-11-05 18:58] DFurnes commented on #5719
@mikefantini Just deployed this fix to Thor, and things seem to be working again.

[2015-11-05 18:59] #5716 closed, assigned to itsjoekent

[2015-11-05 19:14] itsjoekent commented on #5695
this appears to also be fixed by https://github.com/DoSomething/phoenix/pull/5721

[2015-11-05 19:17] #5683 closed, assigned to itsjoekent

[2015-11-05 19:20] sergiitk opened #5724 "Change translatable fields language on production"
Execute the script provided in #5691 for translatable fields on thor, then on production.

This ticket is to monitor and log execution progress.
Fixes #5714.

---

CC @sheyd @mikefantini

[2015-11-05 19:22] sergiitk commented on #5724
Thor results:

[code]

[2015-11-05 19:57] sergiitk commented on #5724
@mikefantini Thor is fixed. You can see above that I executed the script for ALL translatable fields (just in case), so we need to thoroughly test everything, including campaigns.

[2015-11-05 19:57] weerd commented on #4818
Seems to be working fine. The path was updated; still using a constant but seems to work fine: https://github.com/DoSomething/phoenix/blob/29373fa2ba9e67f33e4c7e5aa7f26fdb0aa4bd2c/lib/modules/dosomething/dosomething_image/dosomething_image.module#L146

@DFurnes updated the path in #5624. The constant seems to be available and output the correct path when I tried on local, so will close issue.

_No

[2015-11-05 19:57] #4818 closed, assigned to weerd

[2015-11-05 19:59] sergiitk commented on #4818
Great! :+1:

[2015-11-05 20:03] ArielSD commented on #5630
@namimody I just changed the links in the U.S. New User and Reportback emails to /us/campaigns. Right now, anything not from Mexico or Brazil is receiving these. We have another issue for Global templates to be created:

https://github.com/DoSomething/phoenix/issues/5090

[2015-11-05 20:05] itsjoekent commented on #5695
confirmed, seems to be fixed

[2015-11-05 20:05] #5695 closed, assigned to itsjoekent

[2015-11-05 20:09] ArielSD opened #5725 "Update Copy In U.S. Specific Transactionals"
Right now, we have one set of templates for global and U.S. users; that is, anyone not from Brazil or Mexico. However, we have separate pieces of content we want to serve U.S. v. Global users. For example: mention of scholarships, the Help Center, and specific campaigns.

This issue is for updating the content in the U.S. specific templates after the global templates are in production.

[2015-11-05 20:54] itsjoekent commented on #5664
this needs to be refactored with the logic being introduced https://github.com/DoSomething/phoenix/pull/5727/files#diff-4d5c67be6fe19a956caa33c45ac022cbR160

[2015-11-05 21:02] #5666 closed, assigned to itsjoekent

[2015-11-05 21:16] chloealee commented on #5707
notes from slack convo: realized that for an individual RB or RBitem, we probably ALWAYS want to load the user since it's only 1 item when we do a retrieve. So instead of doing a bunch of code to update the resource in services etc, we just pass `TRUE` at this point to the build function: https://github.com/DoSomething/phoenix/blob/29373fa2ba9e67f33e4c7e5aa7f26fdb0aa4bd2c/lib/modules/dosomething/d

[2015-11-05 21:22] namimody commented on #5630
Hey @ArielSD sorry for the confusion, in my latest comment I noted that I was wrong and that dosomething.org/campaigns would redirect for users. Can we change this? Sorry about that.

[2015-11-05 21:26] #5707 closed, assigned to chloealee

[2015-11-05 21:30] jonuy opened #5729 "Incorrect user data attached to a reportback"
In at least one case on staging, the user object that comes back on a reportback GET request does not match the actual user who submitted the reportback. It doesn't happen on 100% of accounts, but depending on how often something like this might happen, would it be a Kiwi launch blocker?
#### So what happened

![android_rb](https://cloud.githubusercontent.com/assets/696595/10982134/9b92e0fc-83d9-1

[2015-11-05 21:32] jonuy commented on #5729
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;HpaJJcBs&#x2F;10-report-back-display-profile-name-changed-to-other-people-s-name"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> Report back display profile name changed to other people&#39;s name.</a>

[2015-11-05 21:46] namimody commented on #5620
@angaither I believe it's like this:
- if a published campaign is in GL EN but not US EN, a GL EN or US EN user should see the GL EN translation in search and sign up
- the bug is that if a US EN campaign was published once but has since been unpublished, but a GL EN version is published, solr surfaces the US EN version of the campaign, and clicking on it 404s for anon users and signed-in-non-admi

[2015-11-05 22:29] weerd opened #5730 "PHP warning on static pages due to data not being available in specified language"
Just need to ensure that the language is available before attempting to extract the content from the field data.

[2015-11-05 23:31] mikefantini commented on #5719
Thanks @DFurnes!

[2015-11-06 00:01] mikefantini commented on #5724
@sergii-tkachenko sure thing! Can you please point out some of the things I should be looking for in testing and what I should be testing specifically?

[2015-11-06 00:07] deezone commented on #5090
@mikefantini @marahml @ArielSD @sergii-tkachenko

Issue to default to default to Global templates rather than the current US defaults: https://github.com/DoSomething/mbc-transactional-email/issues/25

US users will continue to be sent US templates but unsupported countries will default to the global templates.

[2015-11-06 01:57] namimody commented on #5593
@angaither this is still an issue. :/ if I click on the DS logo or "explorar campanas" from the header nav, while at https://thor.dosomething.org/mx (arrived their explicitly, not using TorGuard), I get redirected to https://thor.dosomething.org/us and https://thor.dosomething.org/us/campaigns, respectively. Shouldn't these links go to /mx versions?

[2015-11-06 02:13] namimody opened #5732 "Transactional Emails Not Working On Thor"
This was reported by TSG on all translations of the site and all transactional emails (new member, campaign sign up, reportback, forgot password) -- the emails never send and a user facing error message is triggered). As a note, transactionals seem to work fine on production (everything I played with worked as expected: got a campaign sign up and forgot password email on prod US and a campaign sig

[2015-11-06 14:17] angaither commented on #5406
@sbsmith86 looks like we are good to remove this code now!

[2015-11-06 14:25] angaither commented on #5593
@namimody don't think so since you aren't using torguard

[2015-11-06 14:36] mikefantini commented on #5593
Yeah I think we can re-close this. We want people to be able to go directly to country specific links regardless of their location, but when they navigate our site, we want to give them an experience that is specific to their location (i.e. taking them to /us/campaigns or /us on the homepage).

cc: @julielorch

[2015-11-06 14:36] #5593 closed, assigned to mikefantini

[2015-11-06 15:08] ArielSD commented on #5630
Ah, @namimody you're exactly right, I missed that. Reverted! Do we need anything else to close this issue?

[2015-11-06 15:23] #5730 closed, assigned to weerd

[2015-11-06 16:11] sergiitk commented on #5724
@mikefantini Besides normal tests, please check fields if expected fields exist unpublished nodes and check that fields didn't disappear on most critical campaigns.

[2015-11-06 17:06] angaither opened #5734 "Campaigns api `terms_id` vs `term_id`"
Currently if a campaign only has one `tags` set and you pass it in via `terms_id` it doesn't return that campaign.
It works if you pass in `term_id`
## example urls

node 1377 is missing from this first call, even though it has term 670

http://staging.beta.dosomething.org/api/v1/campaigns.json?mobile_app=true&term_ids=670&mobile_app_date=2015-11-02

http://staging.beta.dosomething.org/api/v1/camp

[2015-11-06 17:10] mikefantini opened #5735 "field_created_copy content got wiped on production"
![image](https://cloud.githubusercontent.com/assets/6330971/11003184/000dbcdc-847f-11e5-872d-99a5575b12fd.png)

`field_created_copy` field is wiped from prod:

Examples:
- https://www.dosomething.org/us/node/2933/edit
- https://www.dosomething.org/us/node/3455/edit

Is this because of #5420?

[2015-11-06 17:18] jonuy commented on #5734
I'm gonna also cc @marahml

For context, we were thinking the mobile app could get exclusive campaigns by creating on them on the site but just leaving them unpublished so web users wouldn't be able to see them. As far as I know, we don't have any mobile app exclusive content on deck, so we're fine for the immediate future at least.

[2015-11-06 18:33] sergiitk commented on #5735
@mikefantini I think it is. The line that fixes the translations for this field still exists: https://github.com/DoSomething/phoenix/blob/0b305da69d613a3a2b8ef2eba32b2437e6d0446c/bin/ds-global#L118

[2015-11-06 19:23] angaither commented on #5527
closing in favor of #5517

[2015-11-06 19:23] #5527 closed, assigned to weerd

[2015-11-06 20:52] #5577 closed, assigned to sergiitk

[2015-11-06 21:23] chloealee opened #5741 "`/reportbacks.json?load_user=true` and http://dev.dosomething.org:8888/api/v1/reportback-items.json?load_user=true broken on staging"
`/reportbacks.json?load_user=true` and `/reportback-items.json?load_user=true` is supposed to load full user data but returns `null` for all user data

When visiting `staging.dosomething.org`, the following warnings pop up:

`Warning: json_decode() expects parameter 1 to be string, object given in Reportback->build() (line 167 of /var/www/staging.beta.dosomething.org/releases/20151106210550/lib/mo

[2015-11-06 21:56] sergiitk commented on #5392
Reference: https://cobalt.io/dosomething/reports/59

[2015-11-06 21:57] sergiitk commented on #5392
To record: staging and prod are desynchronized in `X-Frame-Options` settings.
`X-Frame-Options` returned `SameOrigin` on stage and `Allow-From: http://optimizely.com` on prod.
Hence provided clickjacking html example doesn't work on stage and works on prod.

[2015-11-06 21:57] sergiitk opened #5742 "Disable X-Frame-Options header"
See #5392, https://github.com/DoSomething/phoenix/issues/5392#issuecomment-154554172.

Before enabling CSP, we need to save into features and disable `X-Frame-Options` header.
Currently it's out of sync on prod and stage.

---

CC @sheyd

[2015-11-06 22:16] sheyd commented on #5224
After many painful trials and tribulations, we're back to MySQL through and through here, and are unlikely to migrate to MariaDB at any point soon.

[2015-11-06 22:16] #5224 closed, assigned to sheyd

[2015-11-08 16:58] namimody commented on #5630
I think we are all set -- thanks @ArielSD!

[2015-11-08 16:58] #5630 closed, assigned to ArielSD

[2015-11-09 15:04] mikefantini commented on #4836
Duplicate of #5673. Sorry @namimody couldn't find this when I created the new issue.

[2015-11-09 15:04] #4836 closed, assigned to mikefantini

[2015-11-09 15:06] mikefantini commented on #5170
Yeah it doesn't seem like approved photos are showing up at all on the gallery.

@angaither assigning over to you to assign out.

[2015-11-09 15:16] angaither commented on #5170
@weerd mind taking a look once you wrap up some POT files

[2015-11-09 15:23] mikefantini commented on #5032
@mnelson338 do you know if this is still an issue on the Ghanaian site?

[2015-11-09 15:27] mikefantini commented on #5170
Here is an example: https://staging.dosomething.org/us/campaigns/test-campaign

[2015-11-09 15:29] angaither opened #5743 "Expose Unsignup Endpoint"
allow requests to be sent to [node/%node/unsignup](https://github.com/DoSomething/phoenix/blob/68aa5497391f7bde7364f9b710136d94fd984c9e/lib/modules/dosomething/dosomething_signup/dosomething_signup.module#L41)

for runscope test cleanup

[2015-11-09 15:31] angaither opened #5744 "Expose reportback delete endpoint"
allow requests to be sent to [reportback/%reportback/delete](https://github.com/DoSomething/phoenix/blob/ad79b592b468bd358b30b66b3e5eb3becb915844/lib/modules/dosomething/dosomething_reportback/dosomething_reportback.module#L282)

for runscope monitoring cleanup

[2015-11-09 15:35] chloealee commented on #5741
The endpoint was working after all - we just needed to clear the cache in redis, which happened automatically over the weekend.

[2015-11-09 15:35] #5741 closed, assigned to chloealee

[2015-11-09 15:38] mnelson338 commented on #5032
@mikefantini  It is - but I also think that the campaign content is incomplete rather than a technical issue. I'm going to unpublish the campaigns and check in with the Ghana team

[2015-11-09 15:49] mikefantini commented on #5032
Thanks @mnelson338!

[2015-11-09 16:25] mikefantini opened #5745 "Privacy Policy and Terms of Service 404 for BR/MX users"
Clicking on either in the footer takes me to https://thor.dosomething.org/br/sobre/terms-service or https://thor.dosomething.org/br/sobre/privacy-policy which both 404.

@mnelson338 we're not translating these right?

@angaither if we're not translating them, what do you think is the best course of action?

[2015-11-09 16:33] itsjoekent commented on #5574
Translation is enabled for these fields (see bottom portion of the screenshot)

![screen shot 2015-11-09 at 11 33 10 am](https://cloud.githubusercontent.com/assets/897368/11039441/b1e5116e-86d5-11e5-8f52-2c5d08ed109a.png)

[2015-11-09 16:36] mnelson338 commented on #5745
We are translating - but it's not a launch blocker (essentially, we're just translating to be proactive for the day when we have on the ground staff - but we will not be breaking any laws by having english versions)

I need to get approval from Aria on the new policies - but we can use the old ones until they are approved.

@mikefantini

[2015-11-09 16:53] weerd commented on #5412
**robots.txt**!!

[2015-11-09 17:06] mikefantini opened #5746 "If log in credentials don't match, user gets taken to GL EN page"
Regardless of whether you are on /us, /br, or /mx, if your log in credentials don't match, the user is taken to /user/login. Ideally, we would maintain /us, /br, or /mx in that URL.

This only happens on non-campaign pages.

[2015-11-09 17:12] mikefantini commented on #5570
@blisteringherb this is happening for campaign pages as well:

![image](https://cloud.githubusercontent.com/assets/6330971/11040556/f019bbd8-86da-11e5-9079-db1ae9e7f78c.png)

[2015-11-09 17:42] mikefantini opened #5747 "/br/sobre/faqs and /mx/sobre/contacto throw error messages"
https://thor.dosomething.org/br/sobre/faqs

https://thor.dosomething.org/mx/sobre/contacto

![image](https://cloud.githubusercontent.com/assets/6330971/11041322/1e9db9e2-86df-11e5-9eb5-91ebaa409130.png)

"The website encountered an unexpected error. Please try again later."

All other static content pages seem to work.

[2015-11-09 19:23] mikefantini commented on #5745
Hmm ok. Well we need some solution because right now the pages 404. So either we need to get translations in there (do we already have translations?) or we need to figure out how to not have users 404 when going to the English content.

@angaither do you have thoughts on how we can go about resolving this? Should we create a page that is (actually) in US EN but have the path be /br/sobre/terms-ser

[2015-11-09 19:43] mikefantini commented on #5570
The same thing is happening on /mx/campaigns.

![image](https://cloud.githubusercontent.com/assets/6330971/11044490/3438bbce-86f0-11e5-8707-073da9f7ee7a.png)

Here, kidnapped cosmetics exists as a translation in MX SP but the translation is not published.

[2015-11-09 19:48] mikefantini opened #5750 "Remove Questions? Contact Us from static content types"
Currently for BR/MX users it's showing up on static content pages as well.

![image](https://cloud.githubusercontent.com/assets/6330971/11044608/ecbe5758-86f0-11e5-8472-a9945e07ef14.png)

[2015-11-09 19:51] angaither commented on #5745
@mikefantini those nodes are appear to be in saved in english, with english content, so they would 404 because they aren't in the lang of the visitor

[2015-11-09 19:52] mikefantini commented on #5302
This is the only page on thor I'm now seeing this on:

https://thor.dosomething.org/mx/sobre/preguntas-frequentes

![image](https://cloud.githubusercontent.com/assets/6330971/11044703/71356d8c-86f1-11e5-8b7e-88dad863b9cd.png)

[2015-11-09 19:53] mikefantini commented on #5302
And clearing cache isn't resolving it.

@angaither @weerd either of you have any thoughts?

[2015-11-09 19:54] mikefantini commented on #5745
@angaither how do you suggest we fix this from 404'ing? Is there a non-code fix we can do? We can launch the BR/MX experiences with Terms of Service and Privacy Policy that 404s.

[2015-11-09 19:57] angaither commented on #5745
@mikefantini we just have to change the language on those nodes

[2015-11-09 20:17] angaither commented on #5574
@deadlybutter I think I was wrong about the field collections, they all look like long text fields, checkout if we did something special for `field_secondary_call_to_action`  that's a long text that also has translation enabled, does it work?

[2015-11-09 20:24] angaither commented on #5747
@mikefantini nids?

[2015-11-09 20:28] mikefantini commented on #5747
@angaither 6013 and 6009

[2015-11-09 20:30] mikefantini commented on #4966
This will effect FB posts for problem shares:

![image](https://cloud.githubusercontent.com/assets/6330971/11045656/bcea6dea-86f6-11e5-99be-a5b156e34499.png)

[2015-11-09 20:32] mikefantini opened #5751 "MX/BR problem share images need to be generated using the SP/BR fact"
![image](https://cloud.githubusercontent.com/assets/6330971/11045686/e8d131d2-86f6-11e5-83e6-b5d51055f83a.png)

Also note for these we are not actually translating the fact, we're just referencing a different fact in the MX/BR translation of the campaign.

[2015-11-09 20:42] sbsmith86 commented on #5751
Just making a note for myself. I think what we have to do is get all the translation facts for the campaign node and then when cron runs we have to create images for each one. We should probably store the images in folders that correlate to their country prefix, and then when building out the social media buttons, we will have to find URL of the problem share image based where the user is coming f

[2015-11-09 20:42] mikefantini opened #5752 "Image is not being pulled in for hot shares"
![image](https://cloud.githubusercontent.com/assets/6330971/11045962/75546092-86f8-11e5-91ef-4223f44bc40e.png)

[2015-11-09 20:43] mikefantini commented on #4966
Also effecting hot module shares:

![image](https://cloud.githubusercontent.com/assets/6330971/11045990/a0fad924-86f8-11e5-9a43-af32205a4336.png)

[2015-11-09 20:50] joolaay opened #5753 "Full width gallery pattern - static content"
We've been talking about this for a while, @DFurnes @lkpttn @mikefantini all know what's up. We need more flexibility on localized static content pages. Here's a sketch for full width gallery pattern:

[full width static gallery pattern.pdf](https://github.com/DoSomething/phoenix/files/30353/full.width.static.gallery.pattern.pdf)

Additional thoughts?

[2015-11-09 20:54] DFurnes commented on #5753
Yeah, I like this idea. This looks like a `.container__block` with an `img` in it (probably using our `1440x810 px` image style) and a `container__block.-narrow` below it.

[2015-11-09 20:56] mikefantini opened #5754 "Show More shows up on finder even if there are no more results"
![image](https://cloud.githubusercontent.com/assets/6330971/11046263/5aafeec6-86fa-11e5-96cb-4a39652ea1f4.png)

[2015-11-09 21:00] mikefantini commented on #5667
I'm still getting 404'd when I go to https://thor.dosomething.org/mx/voluntario/marca-el-cambio-clim%C3%A1tico?source=campaigns

![image](https://cloud.githubusercontent.com/assets/6330971/11046362/fe067838-86fa-11e5-9ecb-116a80fcf35f.png)

[2015-11-09 21:05] DFurnes commented on #5754
The Solr response is showing more "matches" than are being passed (for example, the query for the selections you used above [shows "2" matches exist](https://cloud.githubusercontent.com/assets/583202/11046405/4007babc-86fb-11e5-8faa-457634139140.png) even though only one is returned). My guess is that unpublished nodes might be counting towards the given total.

@blisteringherb We're using `groupe

[2015-11-10 14:29] sergiitk commented on #5667
Hey @mikefantini! This issue has been closed automatically by this [PR](/DoSomething/tower#170).
This means the bug is fixed in code. However, this change hasn't been deployed to production yet.
Should we wait for @sheyd to deploy this change? Otherwise, @blisteringherb and I can do it today.

[2015-11-10 15:33] itsjoekent commented on #5673
this is annoying, i accidentally "fixed" the bug while testing.

when you copy the link from the confirmation page (as andrea pointed out already), the URL is bad
https://thor.dosomething.org/us/campaigns/50-cans%3Fsource%3Dcampaigns/5685/confirmation

when you manually fix the URL and enter it again, everything works fine as it should.

this is when it gets really weird, after I've done that ^, I

[2015-11-10 16:19] itsjoekent commented on #5673
this is the URL I got on my local trying to reproduce

http://dev.dosomething.org:8888/campaigns/fantini-test?source=campaigns/4/confirmation

I blame the ?source=  i remember we had to remove this somewhere else as well

[2015-11-10 16:42] mikefantini commented on #5667
@sergii-tkachenko is there any reason it hasn't been deployed to thor yet?

[2015-11-10 16:51] sergiitk commented on #5667
We didn't want to interact with last week's Global Deploy. @sheyd planned to do it last Thursday, I think he just forgot.

[2015-11-10 16:51] mikefantini commented on #5667
So @sergii-tkachenko it's possible to deploy first to thor, test it there, and then deploy to prod?

[2015-11-10 16:55] sergiitk commented on #5667
I can't find Thor Job Template on Ansible Tower. @blisteringherb Do you know how @sheyd provisions Thor environment?

[2015-11-10 17:22] sergiitk commented on #5667
@mikefantini If this is critical, I can make the change manually.

[2015-11-10 17:24] mikefantini commented on #5667
@sergii-tkachenko It's blocking us from launching Spanish and Portuguese content, but so is some translation work that should be done by Wednesday or Thursday. So as long as it's done by then it's fine.

[2015-11-10 17:29] sergiitk commented on #5667
Ok, I'll do the change manually on Thor and test it today so tomorrow we could do the same on Prod.

[2015-11-10 17:29] mikefantini commented on #5667
:+1:

[2015-11-10 17:30] sergiitk commented on #5667
Done.

[2015-11-10 17:31] sergiitk commented on #5667
Check this: https://thor.dosomething.org/mx/voluntario/limpio-y-ecol%C3%B3gico

[2015-11-10 17:48] mikefantini commented on #5667
Looks good to me!

[2015-11-10 18:17] mikefantini commented on #5714
@sergii-tkachenko I'm not sure what else these are missing, but they are still definitely missing cover image and facts:

https://thor.dosomething.org/taxonomy/term/13/edit -> https://thor.dosomething.org/volunteer/bullying

https://thor.dosomething.org/taxonomy/term/16/edit -> https://thor.dosomething.org/volunteer/animals

It seems as if the images, titles, and CTAs of the campaigns they are ref

[2015-11-10 18:50] chloealee opened #5756 "Do not return last_name field in user object when using `load_user=true`"
Since we are displaying `first_name` and photos, and a anon user can get this information, we do not want to expose the user's `last_name`

[2015-11-10 19:23] sergiitk commented on #5735
So the field hasn't been disabled properly.
I tested on Prod DB locally, the easiest way to fix this is to manually enable this field for translation and then disable it again.
![image](https://cloud.githubusercontent.com/assets/672669/11072995/2ffbead4-87f1-11e5-8d45-4d2137b7b88c.png)

[2015-11-10 19:32] mikefantini commented on #5735
Just confirmed on thor. Thanks @sergii-tkachenko!

[2015-11-10 20:32] sergiitk commented on #5735
Fixed on production.

[2015-11-10 20:32] #5735 closed, assigned to sergiitk

[2015-11-10 21:31] sergiitk opened #5758 "Translatable fields are missing from Taxonomy Terms"
Missing cover image and facts:
https://thor.dosomething.org/taxonomy/term/13/edit -> https://thor.dosomething.org/volunteer/bullying
https://thor.dosomething.org/taxonomy/term/16/edit -> https://thor.dosomething.org/volunteer/animals

[2015-11-10 21:55] sergiitk commented on #5714
Missing fields on Taxonomy Terms turnout to be another issue, see #5758.

[2015-11-10 22:25] #5406 closed, assigned to sbsmith86

[2015-11-11 14:09] angaither commented on #5673
@deadlybutter we don't have to remove ?source, just use drupal's url function and pass it in as a part of the `$options` array, it's likely being manually concatenated currently

[2015-11-11 14:51] mikefantini commented on #5302
Technically we can launch without an FAQs page I guess. Keeping this in 1.0 but removing the blocker label.

[2015-11-11 15:01] angaither commented on #5747
@deadlybutter mind taking a stab at this one?

[2015-11-11 15:15] sergiitk commented on #5667
Prod fixed: https://www.dosomething.org/mx/voluntario/marca-el-cambio-clim%C3%A1tico

[2015-11-11 15:15] #5667 closed, assigned to sergiitk

[2015-11-11 15:33] angaither commented on #5302
looks like the issue is with the `additional_text` field on the node.
the content is getting returned like this:

![image](https://cloud.githubusercontent.com/assets/645205/11094722/58f0cab8-885f-11e5-8657-104edee58b9e.png)

other content is returning fine, because it doesn't have the different formats.

...not sure why this isn't broken on prod, or when this changed

cc @blisteringherb @sergii-tk

[2015-11-11 15:37] sergiitk commented on #5302
@angaither I have seen it before. Here's how we should handle the display: https://github.com/DoSomething/phoenix/blob/68eab581dfa94ee91c645fe765586ba7a0491251/lib/modules/dosomething/dosomething_static_content/dosomething_static_content.module#L48-L54

[2015-11-11 15:37] angaither commented on #5302
@sergii-tkachenko yeah, I swapped it to formatted text, and it's a fatal error

[2015-11-11 15:38] weerd commented on #5302
You could try running the field through my extraction function to grab stuff properly:

https://github.com/DoSomething/phoenix/blob/68eab581dfa94ee91c645fe765586ba7a0491251/lib/modules/dosomething/dosomething_helpers/dosomething_helpers.module#L105

[2015-11-11 15:39] angaither commented on #5302
...but that must have been cache, cause I cleared cache, and now it works fine as a formatted text field

[2015-11-11 15:39] mikefantini commented on #5302
Because this effects the solution for #5745 (which we can now close), we'll actually need to fix this before launching. Re-adding blocker.

[2015-11-11 15:41] weerd opened #5759 "Add Drupal.t() in DS Validation package"
The following validation messages need to be wrapped in the `Drupal.t()` function for the time being until the Validation package is updated to allow customizing the messages from within the main project that pulls in the Validation dependency.
- [x] "Looks good!"
- [x] "That doesn't match."
- [x] "Did you mean {$suggestion}? Fix it!"

[2015-11-11 15:41] mikefantini commented on #5745
Ok right so this one needs to just have translations created for each language for both of the nodes.

Even though we'll have translations created technically, all of the words will still be in US English for the time being.

Unfortunately, because of #5302 we should do this only on thor for now (and publish the translations) and then once #5302 is closed, we should do it on production.

@julielor

[2015-11-11 15:41] #5745 closed, assigned to angaither

[2015-11-11 15:45] #5302 closed, assigned to angaither

[2015-11-11 16:03] jonuy opened #5762 "Fastly caching on GET endpoints"
I'm pretty sure @blisteringherb already started on this work. Just creating an issue now so others can chime in and follow along on progress if need be.

---

We're occasionally seeing slow response times (anywhere from > 5000ms to 40000ms) from the Phoenix API when hitting it from the mobile app and from Runscope tests. Improving the response times here will greatly improve the UX of the app and,

[2015-11-11 16:06] jonuy opened #5763 "Drupal caching on campaign API endpoints"
Both Runscope tests and anecdotal mobile app testing have shown occasionally slow response times or 503 error codes on GETs to the campaigns API endpoint. I'm not sure how much of a gain we'd get here compared to #5762 and I'm not even particular certain on what objects we'd cache, but it's worth investigating.

In particular, the mobile app makes calls like:
- GET www.dosomething.org/api/v1/campa

[2015-11-11 16:26] joolaay commented on #5745
@angaither are these links hardcoded? I don't see them in paraneue settings.

[2015-11-11 16:30] angaither commented on #5745
@julielorch not hardcoded, it's stored [here](https://www.dosomething.org/admin/config/dosomething/dosomething_user)
since it's only one field currently, we will have to add additional options (like we did for header/footer) settings to allow this to be different across counties

[2015-11-11 16:33] mikefantini opened #5764 "Deal with verb/noun same word in English not in other languages (i.e. Search)"
:sob:

Probably Email too?

[2015-11-11 16:43] #5756 closed, assigned to chloealee

[2015-11-11 16:43] joolaay commented on #5745
Okie all set on thor.

[2015-11-11 17:15] angaither commented on #5747
looks like it’s something wonky with translation and `field_intro` and `additional_text`, it ​_works_​ if both are there. we are going to take that route for now

[2015-11-11 17:16] angaither commented on #5747
this now works, https://thor.dosomething.org/mx/sobre/contacto

@julielorch is going to update this on prod for the nodes that are messed up

[2015-11-11 17:17] angaither commented on #5747
@deadlybutter I think you should still try to figure out why the static content type breaks when only `additional_text` is filled out

[2015-11-11 17:22] joolaay commented on #5747
Updated on prod.

[2015-11-11 17:22] mikefantini commented on #5747
@julielorch do you mind updating on thor as well so that we don't have any unnecessary red flags?

[2015-11-11 18:39] weerd commented on #5763
@jonuy side note, the `/taxonomy_term` endpoint didn't get the treatment I did to aim for the Transformer approach etc. Maybe something worth eventually investing into to do that. Is that to return Campaigns based on, for example `/taxonomy_term/1303.json`? If so, we could probs just switch them to use using the `/campaigns.json?term_ids=1303` etc...

[2015-11-11 18:42] angaither commented on #5747
@mikefantini since we have a content work around for this I'm going to remove the blocker label

[2015-11-11 18:52] jonuy commented on #5763
@weerd The taxonomy_term endpoint is being used to get the name of the term id. The idea is that depending on the campaigns tagged, the name could change from month to month.

We've also talked about just setting up entirely new vocabulary for the mobile app to use. But yea, that's probably outside the scope of this issue.

[2015-11-11 19:09] weerd commented on #5763
Isn't the name of the `term_id` provided in the `/campaigns` endpoint along w/ the id?

![screen shot 2015-11-11 at 2 07 53 pm](https://cloud.githubusercontent.com/assets/105849/11100192/c2dd0dba-887d-11e5-836a-140c9350ccd2.png)

But I could be misunderstanding...

[2015-11-11 19:12] jonuy commented on #5763
Indeed it is. From an implementation standpoint it was just easier getting it from the taxonomy_term endpoint instead of digging into a campaigns object, searching through an array, and then pulling that back up and out to where the relevant UI would be able to use it.

[2015-11-11 19:18] weerd commented on #5763
Gotcha, ok.

[2015-11-11 19:30] weerd commented on #4506
Already being applied in the API, but not updated in database... not crucial though so closing for now.

[2015-11-11 19:30] #4506 closed, assigned to weerd

[2015-11-11 19:56] DFurnes commented on #5759
This should be good now in `v0.2.2`, pending new translations.

[2015-11-11 21:13] marahml commented on #5762
Hey @blisteringherb thanks again for your help on this! Once this is done, we'll be able to submit to the app store. Hoping to do this in the next couple of days. For context, due to the lengthy review process - if we don't submit the app this week, it may end up pushing the launch to 2016.

Let me or @jonuy know where we can help in providing more info!

[2015-11-11 21:20] jonuy commented on #5762
@marahml Hi! @blisteringherb told me in our #api room that he's made caching improvements in Fastly for the endpoints listed.

I'm gonna see what improvements in response time Runscope reports with its daily email tomorrow. But so far so good it seems!

[2015-11-11 21:55] itsjoekent commented on #5747
WE HAVE A BREAKTHROUGH, ITS THE INTRO FIELD.

http://media2.giphy.com/media/b6EKyJd8S1DX2/giphy.gif

[2015-11-11 22:26] blisteringherb commented on #5762
I've added a `Surrogate-control: maxage=86400" header to these endpoints:

[code]

Fastly documentation indicates that the Surrogate control header will instruct Fastly to cache those endpoints. It overrides the Cache-control header.

[2015-11-12 14:29] DFurnes commented on #5759
Re-assigning to you, @weerd, for the translationz.

[2015-11-12 14:32] DFurnes commented on #5754
@blisteringherb Any ideas? I'm going to re-assign to you since it seems like Solr is sending incorrect information to the Finder, but let me know if there's something that needs fixing on my end!

[2015-11-12 14:36] DFurnes commented on #5682
@mikefantini I'm unable to reproduce this across environments or country codes. Going to close, but please re-open if you continue seeing this.

[2015-11-12 14:36] #5682 closed, assigned to DFurnes

[2015-11-12 14:42] weerd commented on #5729
@uy Can you run a mongo query on that NS user _id to find out what their drupal id is and then check to see if the user id matches Jeff's?

It could also be that the syncing script that moves Drupal users into Northstar has a bug?

[2015-11-12 15:36] jonuy commented on #5729
@weerd

Well this is odd. It seems like Melissa and Bladt have the same `drupal_id` on our Northstar staging db.

**Melissa**

[code]

**Bladt**

[code]

I'm not sure how that happened. The Melissa account doesn't seem to exist on our Phoenix staging db. I searched for users with her email and her first name. Nothing seemed to match. The Melissa account also doesn't have a `drupal_password` proper

[2015-11-12 15:38] weerd commented on #5729
Production DB? Maybe check there too?

[2015-11-12 15:39] jonuy commented on #5729
Yea, nothing found on production either.

[2015-11-12 15:39] weerd commented on #5729
@angaither @DFurnes @chloealee any chance any of you might shed some light on this? If it's a bug, probs ideal to figure it out soon so we can clean up the messed up data @_@

[2015-11-12 16:03] jonuy commented on #5729
I'm finding a lot of user documents with the same `drupal_id` on both Northstar production and staging. I'm guessing this is what we expected from the syncing scripts and we were just gonna merge documents later on? Hard to tell if this could have been a source of Bladt's `drupal_id` getting assigned to a rando.

Just for some examples:

**Staging** has two docs of a mobilewah fantini

[code]

**P

[2015-11-12 16:09] angaither commented on #5729
yeah, there's a bug in Northstar that's causing duplicate mongo accounts even if the email and or phone number match DoSomething/northstar/issues/187

[2015-11-12 17:37] #5747 closed, assigned to itsjoekent

[2015-11-12 20:12] sergiitk commented on #5758
Blocked by #5715

[2015-11-12 20:44] #5742 closed, assigned to sergiitk

[2015-11-12 21:05] sergiitk commented on #5392
Note: `frame-src` direcrtive has been replaced with `child-src`.
http://www.w3.org/TR/CSP/#frame_src

[2015-11-12 22:22] sheyd opened #5770 "Upgrade to Node 4.0 on Prod Web Servers"
@DFurnes Coordinating with you on this tomorrow.

[2015-11-12 22:25] DFurnes commented on #5770
:tada:

[2015-11-12 23:49] sheyd commented on #5770
Deployed!

[2015-11-12 23:49] #5770 closed, assigned to sheyd

[2015-11-13 15:08] sheyd opened #5771 "Increase Root Volume Size for Inode Usage on All Drupal Webheads"
Currently inodes are at 99% and blocking deployments.

[2015-11-13 15:08] sheyd commented on #5771
cc @angaither @mikefantini

[2015-11-13 15:57] mikefantini opened #5773 "A black rectangle lingers after removing a video on the campaign template"
https://staging.dosomething.org/us/campaigns/teens-jeans

![image](https://cloud.githubusercontent.com/assets/6330971/11150269/446036a0-89f5-11e5-8d10-7ed7bf19c029.png)

@angaither we need a solution for this for Monday's Teens for Jeans soft launch.

[2015-11-13 16:05] sheyd commented on #5771
Done.

[2015-11-13 16:05] #5771 closed, assigned to sheyd

[2015-11-13 16:44] sergiitk commented on #5724
Prod results log:

[code]

[2015-11-13 16:45] #5724 closed, assigned to nobody

[2015-11-13 16:46] angaither commented on #5773
strange, it seems to still be pulling a video from an old revision.
@sergii-tkachenko @blisteringherb any idea why this would happen?
cleared cache a million times, replaced the video, removed the video, nothing.
my local correctly removes the reference to the video
![image](https://cloud.githubusercontent.com/assets/645205/11151600/03d8f2a0-89fc-11e5-8077-4004afab4dcd.png)

[2015-11-13 16:47] sergiitk commented on #5773
@angaither Note: video is not yet translatable.

[2015-11-13 16:48] angaither commented on #5773
@sergii-tkachenko not trying to translate the field, it had a value in a previous revision and now it's removed, but the dpm shows it's still pulling something

[2015-11-13 16:49] sergiitk commented on #5773
Yes, just decided to mention that it should not be affected by all the translation stuff.

[2015-11-13 16:49] sergiitk commented on #5773
Could it be redis cache?

[2015-11-13 16:51] angaither commented on #5773
@sheyd and I just tried clearing redis cache, and it still appears. maybe it needs 100 clears?

[2015-11-13 16:56] sergiitk commented on #5773
@angaither The field is empty on the backend.
![image](https://cloud.githubusercontent.com/assets/672669/11151885/327e80f2-8a38-11e5-8e3a-159ff7560001.png)

[2015-11-13 16:56] sergiitk commented on #5773
So it shoes empty html
![image](https://cloud.githubusercontent.com/assets/672669/11151906/4b992574-8a38-11e5-9f1e-4f4d573b92d8.png)

[2015-11-13 16:57] angaither commented on #5773
right, but if you look at the dpm, that html is there because `field_video` is not empty

[2015-11-13 17:16] chloealee commented on #5729
@angaither @jonuy I put that script on hold to work on other issues that were higher priority. Right now, the only things on my to-do list are writing a unit test (https://github.com/DoSomething/northstar/issues/230), forwarding campaign activity from phoenix -> Drupal (https://github.com/DoSomething/phoenix/issues/4571), and user dedupe script (https://github.com/DoSomething/northstar/issues/187